﻿@{
    ViewBag.Title = "BarCode Printer Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grdfData').DataTable({
            "aaSorting": [[0, "desc"]]
        });
    });
    
</script>
</head>
<body>
     <div class="topHeaderContentBodyInfoEmptyCont">
         @{ List<int> permission = Session["Permission"] as List<int>;}
           @{ var infospace = " | ";}
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("BarcodeTemplateInfo", "BarcodeTemplate", new { idi = Request["idi"], FormName = Request["FormName"] }) + "'")    ;  " /></div>
		  <div class="btnContleft">    @if (permission.Contains(22935))
                                 {  <input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Template", "BarcodeTemplate", new { idi = Request["idi"], FormName = Request["FormName"], ide = "null" }) + "'")    ; " />
                                 }
		  </div>
        
          </div>
        </div>
          @{List<WebGridColumn> columns = new List<WebGridColumn>();}
         @foreach (var column in ViewBag.columns)
         {
             if (column.ColumnName == "ID")
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = "",
                     Header = "",
                     Format =@<text>        
        @if (permission.Contains(22933))
        {
         @Html.ActionLink("Edit", "BarcodeTemplateEdit", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID }) @infospace
         @*@Html.ActionLink("Delete", "BarcodeTemplateDelete", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })*@ 
        }
        @Html.ActionLink("View", "BarcodeTemplateView", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })
                     </text>
                 });
             }
             else
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = column.ColumnName,
                     Header = column.Header
                 });
             }
        }
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            }
              <div id="Content" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:(columns)
               )
        </div>
    </div>
</body>
</html>
