﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "BarCode Printer Setup";
}
<script>
</script>
        <html lang="en">
<head>

     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
<script src="@Url.Content("~/Scripts/jquery.dynatree.js")" type="text/javascript"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">
    var $i = jQuery.noConflict();
    $i(document).ready(function () {
        FormLoadActions();
        $i("#itemchk").on("click", function () {
            var check = $(this).is(":checked");
            if (check == true) {
                $i("#companychk").attr('checked', false);
                BarCodeItemDetailsFill('@Request["FormName"]');
            }
            else
                $("#sortable1").html("");
        })
        $i("#companychk").on("click", function () {
            var check = $(this).is(":checked");
            if (check == true) {
                $i("#itemchk").attr('checked', false);
                BarcodeCompanyDetailsFill('@Request["FormName"]');
            }
            else
                $("#sortable1").html("");
        })
        var tmp = "",tmp1 = "",tmp2 = "";
        $i("#BarcodeTemplateSave").on("click", function () {
            debugger
        $('#sortable2 li.ui-state-default').each(function () {
            var $this = $(this),
            $name = $(this)[0].innerHTML,
                $id = $(this).attr('itemid');
            tmp += $id + ' ' + '[' + $name + '],';
            tmp1 += $name + ',';
            tmp2 += $id + '`';
        });
        tmp ='Select'+ tmp.slice(0, -1) + ' From MATABLE007 p ';
        //return tmp;
        if (tmp != "") {
            $("#BarcodeLabels").val(tmp1.slice(0, -1));
            $("#BarcodeSelectedlbl").val(tmp2.slice(0, -1));
            $("#Message").val(tmp);
            BarcodeTemplateSaveForm('@Session["FormName"]');
        }
        });
    });
    </script>
  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 205px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 5px;
    float: left;
    margin-right: 10px;
    /*min-height:20px;*/
    background-color:lightgrey;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 160px;
  }
  </style>
  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
  </script>
</head>
<body> 
    @{var m = Model.Where(a => a.TempName != null).FirstOrDefault();}
@using (Html.BeginForm("BarcodeTemplateEdit", "BarcodeTemplate", FormMethod.Post, new { enctype = "multipart/form-data", id = "BarcodeTemplate" }))
{    
         <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
            <input id="BarcodeTemplateSave" type="button" class="buttonclass" value="Save" />
        </div>
        <div class="bottomColFB1">
        <input id="TemplateDelete" type="button" class="buttonclass" value="Delete" onclick="@("window.location.href='" + @Url.Action("BarcodeTemplateDelete", "BarcodeTemplate", new {idi=@Request["idi"],FormName=@Request["FormName"],ide=@Request["ide"]}) + "'") ;"/>
        </div>
        <div class="bottomColFB1">
        <input id="TemplateCancel" type="button" class="buttonclass" value="Cancel" onclick="@("window.location.href='" + @Url.Action("BarcodeTemplateInfo", "BarcodeTemplate", new {idi=@Request["idi"],FormName=@Request["FormName"]}) + "'") ;"/>
        </div>
    </div>  <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="BarcodeFormData" class="bodyFBContent" style="overflow-y:scroll">
            <div id="BarcodeFeilds" style="width:99%;float:left;">
                
 <div class="mainRow"  id="Primary">  
     <div class="mainRowCon" id="Primary">
                <div class="lbl">
                    <label for="Name">Name</label>
                </div>
                <div class="txt">
                   <input id="Name"  name="Name" class="txtclass" type="text" value="@m.TempName"/>
                </div>
            </div>
     <div class="mainRowCon" id="Primary">
                <div class="lbl">
                    <label for="Order">Order</label>
                </div>
                <div class="txt">
                    @Html.DropDownList("Order",new SelectList(new List<SelectListItem>{
    new SelectListItem{ Text="--Select--", Value = "" },
    //new SelectListItem{ Text="1", Value = "1" },
    new SelectListItem{ Text="2", Value = "2" },
    new SelectListItem{ Text="3", Value = "3" }},"Value","Text",@m.TempType), new { @id = "Order", @class = "ddl", @itemid = "Y" })
                   @*<input id="Order"  name="Order" class="txtclass" type="text" value=""/>*@
                </div>
            </div>
     <div class="mainRowCon" id="Primary">
                <div class="lbl">
                    <label for="Default">Default</label>
                </div>
                <div class="txt">
                    @if (@m.TempDefault == "True"||@m.TempDefault == "1")
                    {
                   <input id="Default"  name="Default" class="" type="checkbox" value="true" checked="checked"/>}
                    else
                    {
                   <input id="Default"  name="Default" class="" type="checkbox" value=""/>}
                   <input id="Message"  name="Message" class="txtclass" type="text" value="@m.TempMessage" style="display:none"/>
                   <input id="BarcodeLabels"  name="Barcode Labels" class="txtclass" type="text" value="@m.TempBody" style="display:none"/>
                <input id="BarcodeSelectedlbl"  name="Barcode Query" class="txtclass" type="text" value="" style="display:none"/>
                </div>
            </div>
     </div></div>
                <div id="BarcodeLine" style="padding-left:20px;padding-top: 10px;float:left;">
    <div style="float:left;">
        <div style="padding: 1px;">
            <span class="dynatree-node dynatree-folder dynatree-exp-c dynatree-ico-cf">
    <span class="dynatree-connector"></span>
   @* <span class="dynatree-selected dynatree-checkbox"></span>*@
    <input id="itemchk"  name="Default" style="width:20px;height: 14px;margin: 0px;" type="checkbox" value=""/>
    <span class="dynatree-icon"></span>
   <a href="#" class="dynatree-title" style="font-size: 10pt;padding-left: 3px;padding-right: 3px; color: black;text-decoration:none;" >Item </a>
      </span> </div><div style="padding: 1px;">
           <span class="dynatree-node dynatree-folder dynatree-exp-c dynatree-ico-cf">
    <span class="dynatree-connector"></span>
    @*<span class="dynatree-selected dynatree-checkbox"></span>*@
    <input id="companychk"  name="Default" style="width:20px;height: 14px;margin: 0px;" type="checkbox" value=""/>
    <span class="dynatree-icon"></span>
   <a href="#" class="dynatree-title" style="font-size: 10pt;padding-left: 3px;padding-right: 3px; color: black;text-decoration:none;">Company </a>
       </span> </div></div>
<div id="Barcodeli1" style="overflow-y:scroll;float:left;">
<ul id="sortable1" class="connectedSortable">
</ul>
    </div>
 <img src="~/Images/1/navigateicon.png" style="float: left;height: 26px;padding-right: 10px;"/>
<div id="Barcodeli2" style="float:left;">
<ul id="sortable2" class="connectedSortable">
   @{var init = 0;var Message = "";
       var TempLabels = new List<string>(@m.TempBody.Split(',').Select(s => s));
       var TempMessage = new List<string>(@m.Memo.Split('`').Select(s => s));
 foreach (var Company in TempLabels)
 {
     Message = TempMessage[init].ToString();
  <li class="ui-state-default" itemid="@Message">@Company</li>
     init += 1;
 } }
@* @foreach (var Item in ViewBag.ItemConfig)
 {
  <li class="ui-state-default" itemid="@Item.Value">@Item.Text</li>
 }*@
</ul>  </div></div>
       </div>    
 }
</body>
</html>