﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>CreditMemoGSTSDE</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            PrintForms();
        });
    </script>
</head>
<body style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
    @using (Html.BeginForm("Print", "CreditMemoGSTSDE"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        <div id="printdiv" style="font-size:10px;font-family: Arial, Helvetica, sans-serif;">


            <table style="width:98%; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">

                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:16px;font-family: Arial, Helvetica, sans-serif;padding-left:30px "><b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">@m.compA1,@m.compA2</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">@m.compCtry,@m.compState </td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px "> @m.compCity-@m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">GSTIN: <b>@m.CGSTIN</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">Phone No. 0866-6697779, 6572727 Mob No. 9966992247</td></tr>
            </table>

            <table border="1" style="width:100%;min-height:20px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:none">
                <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
                    <td colspan="2" style="text-align:center; font-size:16px;padding:0px">
                        <b>CREDIT NOTE</b>
                    </td>
                </tr>
            </table>
            <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
                <tr style=" border: 1px solid;">
                    <td style="width:50%">
                        <div style="min-height:30px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">

                            <table style="width: 80%;border-collapse: collapse;" border="0">
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Credit Note No: <b>@m.SONO</b> </td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Date of Credit Note: <b>@m.Date</b></td></tr>
                            </table>
                        </div>
                    </td>
                    <td style="width:50%"></td>
                </tr>
                <tr style=" border-top: 1px solid;">

                    <td style="width:50%">

                        <div style="min-height: 110px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                            <div style="font-size:12px;text-align:left"><b>Party Address</b></div>
                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b> </td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address:@m.cAdresss, @m.cAdresss1,@m.ccity,@m.ccountry,@m.czip</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.cstate</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  <b>@m.custPhNo</b></td></tr>
                                @if (m.Custmail != null && m.Custmail != "")
                                {
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust Mail: @m.Custmail</td></tr>}
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>

                            </table>
                        </div>
                    </td>

                    <td style="width:50%;vertical-align:top">

                        <div style="min-height:110px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                            @*<div style="font-size:12px;border-bottom:1px solid black;text-align:center"><b>Details of Consignee(Shipped to)</b></div> *@
                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Name: @m.Customer</td></tr>
                                                                         <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,</td></tr>
                                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity,@m.SHzip</td></tr>
                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.SHstate</td></tr>
                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code: @m.StateCode</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.custPhNo</td></tr>
                                                     @if (m.Custmail != null && m.Custmail != "")
                                                    {
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust Mail: @m.Custmail</td></tr>}
                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>*@
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Memo: @m.memo</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Reference: @m.Reference</td></tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

            <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage">

                    <table id="grdfData" style="border-collapse: collapse; width: 100%; font-size:10px; border-right:0px; border:1px solid;font-family:  Arial, Helvetica, sans-serif;" border="1">
                        <thead style="display:table-header-group ">
                            <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">HSN/SAC Code</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:48%">Description of Goods </th>

                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Quantity</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Rate</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Discount</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Taxable Value</th>

                                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">CGST</th>
                                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">SGST</th>
                                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">IGST</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;border-right: 0px;">Amount</th>
                            </tr>
                            <tr>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>


                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;border-right: 0px;"></th>
                            </tr>
                        </thead>
                        @{int counter = 0;
                            var q = "(";

                            var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Input @ "; var incluse = " (Inclusive of Taxes) ";
                            var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
                        }
                        <tbody>
                            @foreach (var item in ViewBag.pitemsdata)
                            {
                                var cnt = (ViewBag.pitemsdata).Count;
                                counter = counter + 1;
                                rowcount = rowcount + 1;
                                if (cnt == rowcount + 1) { rowcount = rowcount + 1; }
                                if (rowcount % 35 == 0 && cnt != rowcount && cnt != rowcount - 1)
                                {
                                    pageno = pageno + 1;

                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                                        @if (Convert.ToBoolean(item.SerItem) == true)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                                        else if (Convert.ToBoolean(item.SerItem) == false)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>

                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                            @item.quantity
                                    </td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                                    @if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}
                                    @if (item.CGST != 0 || item.SGST != 0 || item.IGST != 0)
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}

                                    <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Discount </td>
                                    <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>

                                    @if (Convert.ToString(item.CGSTAMT) != "0.00")
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                    else
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}

                                    @if (Convert.ToString(item.SGSTAMT) != "0.00")
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT</td>}
                                    else
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}

                                    @if (Convert.ToString(item.IGSTAMT) != "0.00")
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT</td>}
                                    else
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 0px;">@item.lineamt</td>

                                </tr>
                            @:</tbody></table>
                        @:</div><div id="printpage">


                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style="border-bottom:1px solid black ">
                                    <td rowspan="1" style="width: 4%;border-top:none"></td>
                                    <td rowspan="1" style="width:55.5%;border-top:none"></td>
                                    <td style="border-top:none;text-align:center;border-bottom:none;"> Gross Amount  </td>
                                    <td style="width:13.5%;border-top:none;text-align:right;border-bottom:none;">@m.CntralLincese</td>
                                </tr>

                                <tr><td></td><td style="border-left:none;border-top:none"></td><td style="border-left:none;border-top:none;text-align:center">Discount  </td><td style="text-align:right"> @m.Discount</td></tr>

                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">CGST  </td><td style="text-align:right"> @m.TOTCGT</td></tr>

                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">SGST  </td><td style="text-align:right">@m.TOTSGT</td></tr>

                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">IGST  </td><td style="text-align:right"> @m.TOTIGT</td></tr>
                                <tr><td></td><td style="border-left:none">Rs.:@m.amtInWord</td><td style="border-left:none;text-align:center">Round off  </td><td style="text-align:right">@m.PaymentTerms </td></tr>
                                <tr>
                                    <td></td>
                                    <td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:center">
                                        Net Amount @if (@m.amttype == "22713")
                                        {@incluse}
                                    </td>
                                    <td style="text-align:right">@m.Total </td>
                                </tr>
                            </table>
                            @*<table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                                           <td style="text-align: right; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                                        </tr>
                                    </table>*@
                            @*<table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid" >
                                                             <tr style=" border: 1px solid;border-top:none">

                                   <td style="width:60%;border-right:1px solid black" >

                                                      <div style="height: 60px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                          <div style="font-size:10px;border-bottom: 1px solid black;text-align:center">Certified that the Particulars given above are true and correct</div>
                                           <table style="width: 100%;border-collapse: collapse;" border="0" >
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-decoration-line:underline"><b>Declaration</b></td></tr>
                                                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">This Credit Note is Issued in adjustment to Original Credit No:- @m.SONO</td></tr>
                                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">This Credit Note is Issued in adjustment to Original Credit Dated:- @m.Date</td></tr>
                                                                 </table></div>
                                  </td>

                                     <td style="width:40%" >

                                                      <div style="height: 60px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                           <div style="font-size:10px;border-bottom: 1px solid black;text-align:center">Electronic Reference Number:</div>
                                                           <table style="width: 100%;border-collapse: collapse;" border="0" >
                                                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>

                                </table></div>
                                  </td>
                                 </tr>
                                                          </table>*@
                            @*<table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;border-top: none">
                                              <tr style=" border-top: 0px solid;border-top:none">
                                                <td style="width:60%;border-right:1px solid black" >
                                                    <div style="font-size:10px;border-bottom:1px solid black;padding-top:0px;text-align:center"><b>Your Term & Condition Of Sale</b></div>
                                                 <div style="height: 120px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                             <table style="width: 100%;border-collapse: collapse;" border="0" >
                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td></tr>

                                                                 </table></div>
                                 </td>

                                    <td style="width:40%" >
                                                 <div style="font-size:10px;border-bottom:1px solid black;text-align:center">@m.company</div>
                                                     <div style="height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                        <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:20px; ">Signature: </td></tr>
                                                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;padding-top:10px "></td></tr>
                                                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center ">Authorised Signatory</td></tr>
                                                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:20px ">Name:<br />Designation:</td></tr>
                                                                 </table></div>
                                 </td>

                                </tr></table>*@
                            <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                                <tr>
                                    <td>
                                        @foreach (var item1 in ViewBag.taxitemsdata)
                                        {
                                            if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:left;float:left;;padding-right:20px;padding-top:2px"> @item1.linetaxes: @item1.linetotaltax</DIV>
                                            }
                                            else
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;"></DIV>
                                            }

                                        }
                                    </td>
                                </tr>
                            </table>
                            <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
                                <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    <td style="width: 400px;border-collapse:collapse;">
                                        @*<div>
                                            <b>Terms & Conditions: </b>
                                        </div>
                                        <div>1.Please obtain proper receipt for the payment mode or goods returned or short recieved if any otherwise firm will not be responsible.</div>
                                        <div>2.Interest 24% p.a will be charged if payment is not made within 30 days from the date of Crdit memo.</div>
                                        <div><b>3.Bank A/c Details: <b>HDFC, ACCOUNT NUMBER:50200014445551, IFS CODE: HDFC0001456,</b> BRANCH : VIJAYAWADA ELURU ROAD BRANCH</b></div>
                                        <div>4.No Goods return will be accepted except for genuine defects levis.</div>
                                        <div>5.All distputes subject to vijayawada jurisdiction only.</div>
                                        <div><b>E.&.O.E</b></div>*@
                                    </td>
                                    <td style="font-weight: bold; width: 200px;border-collapse:collapse;border-top:1px solid black;border-left:1px solid black">
                                        <div style="text-align:right;font-size:10px;">For @m.oAdresss</div><div style="height:80px;"></div><div style="text-align:right;text-emphasis-position:below;"> Signature</div>
                                    </td>
                                </tr>

                            </table>
                            <div style="page-break-before: always">

                            </div>@*

                                                      <div style="height: 100px;  overflow: hidden;font-size: 10px;border:none;  padding-left: 10px;border-bottom:0px;">
                                             <table style="width:98%;min-height:0px; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                                                 <tr>
                                                     <td>
                                <div style="height: 5px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                            <table style="width: 100%;border-collapse: collapse;" border="0" >*@


                            @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.Vendor</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss1</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.city - @m.state</td></tr>

                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.country - @m.ozip</td></tr>*@



                            @*</table></div>*@
                            @*</td>*@
                            @*   <td style="text-align:right">
                                   <img src="~/Content/Upload/@m.logoName" width="90px" />

                                </td>*@
                            @*</tr>*@
                            @*</table>*@
                            @*</div>*@


                            <table style="width:98%; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">

                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:16px;font-family: Arial, Helvetica, sans-serif;padding-left:30px "><b>@m.company</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">@m.compA1,@m.compA2</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">@m.compCtry,@m.compState </td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px "> @m.compCity-@m.compZip</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">GSTIN: <b>@m.CGSTIN</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">Phone No. 0866-6697779, 6572727 Mob No. 9966992247</td></tr>
                            </table>

                            <table border="1" style="width:100%;min-height:20px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:none">
                                <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
                                    <td colspan="2" style="text-align:center; font-size:16px;padding:0px">
                                        <b>CREDIT NOTE</b>
                                    </td>
                                </tr>
                            </table>
                            <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
                                <tr style=" border: 1px solid;">
                                    <td style="width:50%">
                                        <div style="min-height:30px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">

                                            <table style="width: 80%;border-collapse: collapse;" border="0">
                                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Credit Note No: <b>@m.SONO</b> </td></tr>
                                                                             <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Date of Credit Note: <b>@m.Date</b></td></tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td style="width:49%"></td>
                                </tr>
                                @*<tr style=" border-top: 1px solid black;">
                                                      <td style="width:50%" >
                                                       <div style="min-height: 60px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                   <table style="width: 100%;border-collapse: collapse;" border="0" >
                                         <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Credit Note: @m.SONO</td></tr>
                                       <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Date: @m.Date</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Reference: @m.Reference</td></tr>
                                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Memo: @m.memo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Tax Is Payable On Reverse Charge : @m.RevCharge </td></tr>
                                                                       </table></div>
                                       </td>

                                          <td style="width:50%" >

                                                           <div style="height: 60px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                              <table style="width: 100%;border-collapse: collapse;" border="0" >
                                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Transportation Mode: </td></tr>
                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Veh.No:</td></tr>
                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Date & Time of Supply: @m.Date</td></tr>
                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Place of Supply: @m.PlaceofSupply </td></tr>
                                                                       </table></div>
                                       </td>

                                      </tr>*@
                                <tr style=" border-top: 1px solid;">

                                    <td style="width:50%">

                                        <div style="min-height: 110px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                            <div style="font-size:12px;text-align:left"><b>Party Address</b></div>
                                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b> </td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address:@m.cAdresss, @m.cAdresss1,@m.ccity,@m.ccountry,@m.czip</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.cstate</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  <b>@m.custPhNo</b></td></tr>
                                                @if (m.Custmail != null && m.Custmail != "")
                                                {
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust Mail: @m.Custmail</td></tr>}
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>

                                            </table>
                                        </div>
                                    </td>

                                    <td style="width:50%;vertical-align:top">

                                        <div style="min-height:110px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                            @*<div style="font-size:12px;border-bottom:1px solid black;text-align:center"><b>Details of Consignee(Shipped to)</b></div> *@
                                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                                @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Name: @m.Customer</td></tr>
                                                                                         <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,</td></tr>
                                                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity,@m.SHzip</td></tr>
                                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.SHstate</td></tr>
                                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code: @m.StateCode</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.custPhNo</td></tr>
                                                                     @if (m.Custmail != null && m.Custmail != "")
                                                                    {
                                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust Mail: @m.Custmail</td></tr>}
                                                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>*@
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Memo: @m.memo</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Reference: @m.Reference</td></tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                <thead style="display:table-header-group ">

                                    <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>

                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">HSN/SAC Code</th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:48%">Description of Goods </th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Quantity</th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Rate</th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Discount</th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Taxable Value</th>

                                        <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">CGST</th>
                                        <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">SGST</th>
                                        <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">IGST</th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%;border-right: 0px;">Amount</th>
                                    </tr>
                                    <tr>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                        <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;border-right: 0px;"></th>
                                    </tr>
                                </thead>
                                @:<tbody>
                                }
                                else
                                {
                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">

                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>

                                        @if (Convert.ToBoolean(item.SerItem) == true)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                                        else if (Convert.ToBoolean(item.SerItem) == false)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                            @item.quantity
                                    </td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                                    @if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}
                                    @if (item.CGST != 0 || item.SGST != 0 || item.IGST != 0)
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}

                                    <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Discount </td>
                                    <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>

                                    @if (Convert.ToString(item.CGSTAMT) != "0.00")
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                    else
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}

                                    @if (Convert.ToString(item.SGSTAMT) != "0.00")
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT</td>}
                                    else
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}

                                    @if (Convert.ToString(item.IGSTAMT) != "0.00")
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT</td>}
                                    else
                                    {
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 0px;">@item.lineamt</td>
                                    @*  @if (Convert.ToString(item.IGSTAMT) != "0.00" && Convert.ToString(item.SGSTAMT) != "0.00" && Convert.ToString(item.CGSTAMT) != "0.00")
                                         {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}*@
                                </tr>
                                if (cnt == rowcount - 1 || cnt == 1)
                                {
                                    var ct = (rowcount - 1) % 35;
                                    if (cnt == 1) { ct = (rowcount) % 35; }
                                    if (ct != 0)
                                    {
                                        ct = 35 - ct;
                                        for (int ac = 1; ac <= ct; ac++)
                                        {
                                            <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>

                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>


                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>

                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>

                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>

                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>
                                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>

                                            </tr>}
                                    }

                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TotalQuantity </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT</td>


                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>

                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>

                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                    </tr>

                                @:</tbody></table>
                            @:</div>
                        }
                    }
                }
                            </tbody>
                            </table>
                            @*<table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                   <tr style=" ">
                                       <td rowspan="6" style="width: 4%;border-top:none"></td>
                                       <td rowspan="6" style="width:55.5%;border-top:none"></td>

                                       <td style="border-top:none">Total</td>
                                       <td style="width:13.5%;text-align:right;border-top:none">@m.SubTotal</td>

                                   </tr>

                                   <tr><td>Freight Charges</td><td style="text-align:right"></td></tr>
                                   <tr><td>Loading and Packing Charges</td><td style="text-align:right"></td></tr>
                                   <tr><td>Insurance Charges</td><td style="text-align:right"></td></tr>
                                   <tr><td>Other Charges</td><td style="text-align:right"></td></tr>
                                   <tr><td>Credit Total</td><td style="text-align:right">@m.Total</td></tr>
                                </table>*@
                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style="border-bottom:1px solid black ">
                                    <td rowspan="1" style="width: 4%;border-top:none"></td>
                                    <td rowspan="1" style="width:55.5%;border-top:none"></td>
                                    <td style="border-top:none;text-align:center;border-bottom:none;"> Gross Amount  </td>
                                    <td style="width:13.5%;border-top:none;text-align:right;border-bottom:none;">@m.CntralLincese</td>
                                </tr>

                                <tr><td></td><td style="border-left:none;border-top:none"></td><td style="border-left:none;border-top:none;text-align:center">Discount  </td><td style="text-align:right"> @m.Discount</td></tr>

                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">CGST  </td><td style="text-align:right"> @m.TOTCGT</td></tr>

                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">SGST  </td><td style="text-align:right">@m.TOTSGT</td></tr>

                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">IGST  </td><td style="text-align:right"> @m.TOTIGT</td></tr>
                                <tr><td></td><td style="border-left:none">Rs.:@m.amtInWord</td><td style="border-left:none;text-align:center">Round off  </td><td style="text-align:right">@m.PaymentTerms </td></tr>
                                <tr>
                                    <td></td>
                                    <td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:center">
                                        Net Amount @if (@m.amttype == "22713")
                                        {@incluse}
                                    </td>
                                    <td style="text-align:right">@m.Total </td>
                                </tr>
                            </table>
                            @*<table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                                           <td style="text-align: right; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                                        </tr>
                                    </table>*@
                            @*<table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid" >
                                                             <tr style=" border: 1px solid;border-top:none">

                                   <td style="width:60%;border-right:1px solid black" >

                                                      <div style="height: 60px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                          <div style="font-size:10px;border-bottom: 1px solid black;text-align:center">Certified that the Particulars given above are true and correct</div>
                                           <table style="width: 100%;border-collapse: collapse;" border="0" >
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-decoration-line:underline"><b>Declaration</b></td></tr>
                                                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">This Credit Note is Issued in adjustment to Original Credit No:- @m.SONO</td></tr>
                                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">This Credit Note is Issued in adjustment to Original Credit Dated:- @m.Date</td></tr>
                                                                 </table></div>
                                  </td>

                                     <td style="width:40%" >

                                                      <div style="height: 60px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                           <div style="font-size:10px;border-bottom: 1px solid black;text-align:center">Electronic Reference Number:</div>
                                                           <table style="width: 100%;border-collapse: collapse;" border="0" >
                                                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>

                                </table></div>
                                  </td>
                                 </tr>
                                                          </table>*@
                            @*<table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;border-top: none">
                                              <tr style=" border-top: 0px solid;border-top:none">
                                                <td style="width:60%;border-right:1px solid black" >
                                                    <div style="font-size:10px;border-bottom:1px solid black;padding-top:0px;text-align:center"><b>Your Term & Condition Of Sale</b></div>
                                                 <div style="height: 120px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                             <table style="width: 100%;border-collapse: collapse;" border="0" >
                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td></tr>

                                                                 </table></div>
                                 </td>

                                    <td style="width:40%" >
                                                 <div style="font-size:10px;border-bottom:1px solid black;text-align:center">@m.company</div>
                                                     <div style="height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                        <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:20px; ">Signature: </td></tr>
                                                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;padding-top:10px "></td></tr>
                                                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center ">Authorised Signatory</td></tr>
                                                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:20px ">Name:<br />Designation:</td></tr>
                                                                 </table></div>
                                 </td>

                                </tr></table>*@
                            <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                                <tr>
                                    <td>
                                        @foreach (var item1 in ViewBag.taxitemsdata)
                                        {
                                            if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:left;float:left;;padding-right:20px;padding-top:2px"> @item1.linetaxes: @item1.linetotaltax</DIV>
                                            }
                                            else
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;"></DIV>
                                            }

                                        }
                                    </td>
                                </tr>
                            </table>
                            <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
                                <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    <td style="width: 400px;border-collapse:collapse;">
                                        @*<div>
                                            <b>Terms & Conditions: </b>
                                        </div>
                                        <div>1.Please obtain proper receipt for the payment mode or goods returned or short recieved if any otherwise firm will not be responsible.</div>
                                        <div>2.Interest 24% p.a will be charged if payment is not made within 30 days from the date of invoice.</div>
                                        <div><b>3.Bank A/c Details: <b>HDFC, ACCOUNT NUMBER:50200014445551, IFS CODE: HDFC0001456,</b> BRANCH : VIJAYAWADA ELURU ROAD BRANCH</b></div>
                                        <div>4.No Goods return will be accepted except for genuine defects levis.</div>
                                        <div>5.All distputes subject to vijayawada jurisdiction only.</div>
                                        <div><b>E.&.O.E</b></div>*@
                                    </td>
                                    <td style="font-weight: bold; width: 200px;border-collapse:collapse;border-top:1px solid black;border-left:1px solid black">
                                        <div style="text-align:right;font-size:10px;">For @m.oAdresss</div><div style="height:80px;"></div><div style="text-align:right;text-emphasis-position:below;"> Signature</div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    </div>

                }
</body>
</html>



