﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoicePrintGSTLios</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {


                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Invoice",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=Invoice&Vendorref=" + $i("#SATABLE009COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                        }
                    });
                }
            }

            else if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "automail") {
                var data = $('#printdiv')[0].innerHTML;
                AutoEmailSend(FormName, data, '@Request["sono"]');
            }
            else {
                MultiplePrintForms();
            }
        });
    </script>
<style type="text/css">
  
    </style>
</head>

<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    <div id="multiprint" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
    @using (Html.BeginForm("Print", "InvoicePrintGSTLios"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
          
        @* @if (Session["AcOwner"].ToString() != "56597")
         {
             //if (ViewBag.checkval == "true")
             //{  
           
         }*@

              <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b> TAX INVOICE</b>

    </td>
    
  </tr>
 <tr style=" border: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="min-height: 90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >

                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1,@m.compA2,@m.compCtry,</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity,@m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State:  @m.compState</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Serial No. of Invoice: @m.SONO </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Date of Invoice: @m.Date</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.OPUPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Company Drug LIC.: @m.DLNO</td></tr>               
            </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:49%;vertical-align:top" >
      
         @if (AcOwner == "56655" || AcOwner == "56677")
         {
        <table style="width: 80%;border-collapse: collapse;vertical-align:top" border="0" >
             <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:0px">Transportation Mode:@m.ModeOfTrans</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Vehicle Details:@m.TrackingNo</td></tr>
                @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Date & Time Of Supply:</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Place of Supply:</td></tr>*@
            
                
                                    </table>

         }

                              
        </td>
  </tr>
 <tr style=" border-top: 1px solid;">
     <td style="width:50%;">
         <div style="min-height: 110px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
             <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px"><b>Details of Receiver (Billed to)</b></div>
             <table style="width: 90%;border-collapse: collapse;" border="0">
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Customer</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,@m.ccity,@m.ccountry,@m.cstate-@m.czip</td></tr>
                 @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry</td></tr>*@
                 @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer PAN No. - @m.CPANNO</td></tr>
                 @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(ST) No. - @m.CServiceTaxNO</td></tr>
                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(CST) No. - @m.CCSTNO</td></tr> *@
             </table>
         </div>
     </td>


     <td style="width:50%;">
         <div style="min-height:110px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
             <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px"><b>Details of Consignee (Shipped to)</b></div>
             <table style="width: 90%;border-collapse: collapse;" border="0">
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Customer</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss@m.SHAdresss2, @m.SHAdresss1,@m.SHcity,@m.SHcountry,@m.SHstate-@m.SHzip</td></tr>
                 @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcity,@m.SHcountry</td></tr>*@
                 @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer PAN No. - @m.CPANNO</td></tr>
                 @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(ST) No. - @m.CServiceTaxNO</td></tr>
                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(CST) No. - @m.CCSTNO</td></tr>*@
             </table>
         </div>
     </td>
 </tr>
              
</table>
                <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                           <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:40%">Product Description </th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:5%">HSN Code</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:12%">Batch NO </th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">EXP DATE</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Qty</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Free Qty</th>
                           @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:25%">MFR Name</th>*@
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Unit </th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">MRP</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">PTR</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">PTS</th>
                          @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>*@

                           @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">MFG DATE</th> *@

                           @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%;">PTR</th>
        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">SALES
        QTY</th>*@
                           @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">FREE
        QTY</th>
         <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%;">PTS</th>*@
                           @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;"> BASE VALUE </th>*@
                           @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;"> Dis% </th>*@
                           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">CGST</th>
                           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">SGST</th>
                           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">IGST</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:12%;"> Invoice Value </th>
                       </tr>
                       <tr>
                           @*<th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                           @*<th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                          @* <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                          @* <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           @*<th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                       </tr>
    </thead>
              

                                
  @{int counter = 0;
    var q = "(";

    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)"; var itemdesc = ""; var br = "<br />";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                        if (@item.desc != "" && @item.desc != "0") { itemdesc = "[" + @item.desc + "]"; } else { itemdesc = ""; }
                        if (rowcount % 12 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                         <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                 @item.item @if (AcOwner == "56605" || AcOwner == "56578")
                                 {@itemdesc}
                             </td>
                             @if (Convert.ToBoolean(item.SerItem) == true)
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                             else if (Convert.ToBoolean(item.SerItem) == false)
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.Lot </td>
                             @*
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.MFGDATE </td> *@
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.Expiry </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                 @item.quantity
                             </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                 @item.FREE
                             </td>
                             @*
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                 @item.ITEMBRAND
                             </td>*@
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> @item.MRP</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@*@item.Discount*@ @item.rate</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@*@item.Discount*@ @item.PTS</td>
                             @*
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt</td>*@


                             @*
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">   @item.PPRICE </td>*@

                             @*
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.quantity</td>*@
                             @*
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @item.FREE</td>*@

                             @*
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.PLDiscount</td>*@
                             @if (item.CGST != 0)
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                             else
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                             @if (item.SGST != 0)
                             {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                             else
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                             @if (item.IGST != 0)
                             {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                             else
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>
                             @*@if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                             {
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}*@
                         </tr>
                        @:</tbody></table>
                  @:</div><div id="printpage">
    @*<table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif">
            @if (@m.PackingCharges != "" && @m.PackingCharges != "0" && @m.PackingCharges != "0.00" && @m.PackingCharges != null)
            {
                <tr style="width: 100%;">
                    <td style="text-align: left; width: 30%;">Packing Charges</td>
                    <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.PackingCharges  </td>
                </tr>}
            @if (@m.Discount != null && @m.Discount != "0" && @m.Discount != "0.00")
            {
                <tr style="width: 100%;">
                    <td style="text-align: left; width: 30%;">Discount</td>
                    <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.Discount  </td>
                </tr>}
            <tr style="width: 100%;">
                <td style="text-align: left; width: 30%;">Total Invoice Value (In figure)</td>

                <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.TotalAmount   </td>
            </tr>
            <tr style="width: 100%;">
                <td style="text-align: left; width: 30%;">Total Invoice Value (In Words)</td>

                <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;"> INR @m.amtInWord  </td>
            </tr>
        </table>*@
    <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:11px;border-top:none;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black" border="0">
        <tr style="border-bottom:none">
            @* <td rowspan="1" style="width: 4%;border-top:none"></td>*@
            <td style="width:55.5%;border-top:none"></td>
            <td style="border-top:none;text-align:center"> Taxable Amount  </td>
            <td style="border-top:none;text-align:center;width:10%;"> </td>
            <td style="width:13.5%;text-align:right;border-top:none">@m.SUBTOT</td>
        </tr>
      @*  @foreach (var item1 in ViewBag.pitemsdatatax)
        {
            if (item1.CGST != 0)
            {
                <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">CGST  </td><td style="border-top:none;text-align:center"> @item1.CGST%</td><td style="text-align:right">@item1.CGSTAMT</td></tr>
            }
            if (item1.SGST != 0)
            {
                <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">SGST  </td><td style="border-top:none;text-align:center"> @item1.SGST%</td><td style="text-align:right">@item1.SGSTAMT</td></tr>
            }
            if (item1.IGST != 0)
            {
                <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">IGST </td><td style="border-top:none;text-align:center">@item1.IGST% </td><td style="text-align:right"> @item1.IGSTAMT</td></tr>
            }
        }*@
        @foreach (var item1 in ViewBag.gpitemsdatatax)
     {
       <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Taxable Amount @item1.taxname </td><td style="border-top:none;text-align:center"></td><td style="text-align:right">@item1.lineamt</td></tr>
                                         
     <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">@item1.taxname  </td><td style="border-top:none;text-align:center"></td><td style="text-align:right">@item1.CGSTAMT</td></tr>

     }
        <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Discount  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.Discount </td></tr>
        @if (@m.PackingCharges != "0.00" && @m.PackingCharges != "")
        {
            <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Packing Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.PackingCharges </td></tr>}
        @if (@m.ShippingCharges != "0.00" && @m.ShippingCharges != "")
        {
            <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Shipping Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.ShippingCharges </td></tr>}
        <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center"><b>Net Amount</b>  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right"><b>@m.TotalAmount</b> </td></tr>
    </table>
 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid black; ">

        <tr style="border: 0px solid black; width: 100%;text-align: left;">
            @*   <td>1) Goods will be delivered as early as possible, seller shall not beliable for any consequential Direct or indirect loss due to delay indelivery of goods. Any loss or breakage in goods supplied
                against this invoice should be informed within 7 days and should be supported by the delivery certificate of carrier. 2) Payment by cheque/Draft should be made in favour of VELONIK LIFE SCIENCES PVT LTD, payment by RTGS is also acceptable, cheque payment is subject to realisation. 3) Item not invoiced as per your order not available at present. 4) Overdue interest  18% per
                annum will be charged for the delay payments. 5) Local stockiest are requested to indicate the invoice numbers while making payment. 6) The invoice contains the drug license and the
                GSTregistration details given by you and this shall be taken as correct.In case of any change, the same shall be informed to us from time to time, failing which you will be solely
                responsible.7) The goods are invoiced at the applicable rate on the date of delivery and SGST/CGST/IGST as applicable has been charged 8) Any dispute that may arise will be subject to
                the jurisdiction of courts at HYDERABAD.9) Goods supplied against this invoice do not contravene the provision of section 18 of Drug and cosmetic act 1940.
                </td>
            *@
            
                                    <td ><b>Declaration :</b><br />
         We Here by Warranty that the goods supplied ubnder this invoice do not Contorvene in any way provisions of the Drugs & Cosmetic act 1940 Subject to Idukki Jurisdiction. </td>
           
            <td style="font-weight: bold; width: 250px;border-collapse:collapse;border-top:1px solid black;border-left:1px solid black">

                 
                <div style="text-align:right;font-size:10px;padding-top:10px">For @m.company</div>
                @if (@m.Signature != "" && @m.Signature != null)
                {<div style="text-align:right;text-emphasis-position:below;">
                        <img src="@m.Signature" width="70px" height="40px" alt="" />
                    </div>
                }
                else
                {<div style="min-height:60px;"></div>
                }
                <div style="text-align:right;text-emphasis-position:below;">Authorized Signature</div>
            </td>

        </tr>

    </table>
    <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
        <tr style=" border-top: 1px solid;">
            <td colspan="2">
                <div style="  text-align:center"> @m.footerText</div>
            </td>
        </tr>
    </table>
    <div style="page-break-before: always">

    </div>

    @*<table border="1" style="width:100%; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
            <tr>
                <td style="text-align:right">
                    <div style="float:right">
                        <table border="0">
                            <tr>
                                <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                    @if (@m.logoName != "")
                                    {
                                        <img src="@m.logoName" width="70px" height="100px" alt="" />
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div style="min-height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">

                        <table style="width:100%; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">


                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:16px;font-family: Arial, Helvetica, sans-serif;padding-left:150px "><b>@m.company</b></td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;/*padding-left:100px*/ ">@m.compA1</td><td style=" float:left">GSTIN</td><td style=" float:left;padding-left:37px">: <b>@m.CGSTIN</b></td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;/*padding-left:100px*/ ">@m.compA2</td><td style=" float:left">PAN No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <b>@m.PANNO</b></td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;/*padding-left:100px*/ ">@m.compCtry,@m.compState </td><td style=" float:left">FSSAI No</td><td style=" float:left;padding-left:24px">: <b>@m.StateLincense</b></td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;/*padding-left:100px*/ "> @m.compCity- @m.compZip</td><td style=" float:left">D.L.No</td><td style=" float:left;padding-left:38px">: <b>@m.DLNO</b></td> </tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;/*padding-left:100px*/ "> Phone no: @m.OPUPhNo</td><td style=" float:left">TIN(ST) No </td><td style=" float:left;padding-left:19px">: <b>@m.STNO</b></td> </tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;/*padding-left:100px*/ "> Email id: @m.companymail</td><td style=" float:left">TIN(CST) No</td><td style=" float:left;padding-left:12px">: <b>@m.CSTNO</b></td> </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>*@
    <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
       
        <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
            <td colspan="2" style="font-size:16px">
                <b>TAX INVOICE</b>

            </td>

        </tr>
        <tr style=" border: 1px solid;">
            <td style="width:50%">

                <div style="min-height: 90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">

                    @if (Session["AcOwner"].ToString() != "56597")
                    {
                        <table style="width: 80%;border-collapse: collapse;" border="0">

                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.company</b></td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1,@m.compA2,@m.compCtry,</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity,@m.compZip</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State:  @m.compState</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Serial No. of Invoice: @m.SONO </td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Date of Invoice: @m.Date</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.OPUPhNo</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Company Drug LIC.: @m.DLNO</td></tr>
                        </table>
                    }

                    else
                    {
                        <table style="width: 90%;border-collapse: collapse;" border="0"></table>
                    }
                </div>
            </td>
            <td style="width:49%;vertical-align:top">

                @if (AcOwner == "56655" || AcOwner == "56677")
                {
                    <table style="width: 80%;border-collapse: collapse;vertical-align:top" border="0">
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:0px">Transportation Mode:@m.ModeOfTrans</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Vehicle Details:@m.TrackingNo</td></tr>
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Date & Time Of Supply:</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Place of Supply:</td></tr>*@


                    </table>

                }


            </td>
        </tr>
        <tr style=" border-top: 1px solid;">
            <td style="width:50%;">
                <div style="min-height: 110px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                    <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px"><b>Details of Receiver (Billed to)</b></div>
                    <table style="width: 90%;border-collapse: collapse;" border="0">
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Customer</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,@m.ccity,@m.ccountry,@m.cstate-@m.czip</td></tr>
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry</td></tr>*@
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>*@
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer PAN No. - @m.CPANNO</td></tr>
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(ST) No. - @m.CServiceTaxNO</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(CST) No. - @m.CCSTNO</td></tr> *@
                    </table>
                </div>
            </td>


            <td style="width:50%;">
                <div style="min-height:110px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                    <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px"><b>Details of Consignee (Shipped to)</b></div>
                    <table style="width: 90%;border-collapse: collapse;" border="0">
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Customer</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss@m.SHAdresss2, @m.SHAdresss1,@m.SHcity,@m.SHcountry,@m.SHstate-@m.SHzip</td></tr>
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcity,@m.SHcountry</td></tr>*@
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>*@
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer PAN No. - @m.CPANNO</td></tr>
                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(ST) No. - @m.CServiceTaxNO</td></tr>
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN(CST) No. - @m.CCSTNO</td></tr>*@
                    </table>
                </div>
            </td>
        </tr>
    </table>



    @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
        <thead style="display:table-header-group ">
            <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:40%">Product Description </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:5%">HSN Code</th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:12%">Batch NO </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">EXP DATE</th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Qty</th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Free Qty</th>
                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:25%">MFR Name</th>*@
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Unit </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">MRP</th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">PTR</th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">PTS</th>
                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>*@

                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">MFG DATE</th>*@

                @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%;">PTR</th>
                    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">SALES
                    QTY</th>*@
                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">FREE
                    QTY</th>
                     <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%;">PTS</th>*@
                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;"> BASE VALUE </th>*@
                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;"> Dis% </th>*@
                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">CGST</th>
                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">SGST</th>
                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">IGST</th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:12%;"> Invoice Value </th>
            </tr>
            <tr>
                @*
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                @*
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                @*
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                @*
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                @*
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>*@
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
            </tr>
        </thead>
        @:<tbody>
        }
                        else
                        {

              <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                      @item.item @if (AcOwner == "56605" || AcOwner == "56578")
                      {@itemdesc}
                  </td>
                  @if (Convert.ToBoolean(item.SerItem) == true)
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                  else if (Convert.ToBoolean(item.SerItem) == false)
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.Lot </td>

                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.MFGDATE </td> *@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.Expiry </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                      @item.quantity
                  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                      @item.FREE
                  </td>

                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                      @item.ITEMBRAND
                  </td>*@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> @item.MRP </td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> @item.rate</td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> @item.PTS</td>
                  @*
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt</td>*@

                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.PPRICE  </td>*@

                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.quantity</td>*@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @item.FREE</td>*@

                  @*
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.PLDiscount</td>*@
                  @if (item.CGST != 0)
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                  else
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                  @if (item.SGST != 0)
                  {
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                  else
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                  @if (item.IGST != 0)
                  {
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                  else
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>
                  @*@if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                  {
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}*@

              </tr>
                if (cnt == rowcount - 1 || cnt == 1)
                {
                    var ct = (rowcount - 1) % 12;
                    if (cnt == 1) { ct = (rowcount) % 12; }
                    if (ct != 0)
                    {
                        ct = 12 - ct;
                        for (int ac = 1; ac <= ct; ac++)
                        {
              <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td> *@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>*@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>*@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>  *@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>*@

                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>*@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>

              </tr>}
                    }

              <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>*@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:right">@m.TOTQTY</td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:right"></td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>


                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>


                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>*@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @m.SUBTOT  </td>*@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>*@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>*@
                  @*
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>*@
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>

                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">@m.TOTAMT</td>
              </tr>

            @:</tbody></table>
            @*                        @:</div>*@
                }
                        }
                    }
           </tbody>
                </table>
@*<table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                     @if (@m.PackingCharges != "" && @m.PackingCharges != "0" && @m.PackingCharges != "0.00" && @m.PackingCharges != null)
                                     { <tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Packing Charges</td>
                           <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.PackingCharges  </td>
                       </tr>}
    @if (@m.Discount != null && @m.Discount != "0" && @m.Discount != "0.00")
    {
      <tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Discount</td>
                           <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.Discount  </td>
                       </tr>}
               <tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Total Invoice Value (In figure)</td>

                           <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.TotalAmount  </td>
                       </tr>
                                    <tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Total Invoice Value (In Words)</td>

                           <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord </td>
                                         <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:10px">Amount of Tax Subject to Reverse Charges</td>

                           <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:10px"> @m.RevCharge  </td>
                       </tr>
                             </table>*@
<table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:11px;border-top:none;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black" border="0">
    <tr style="border-bottom:none">
        @* <td rowspan="1" style="width: 4%;border-top:none"></td>*@
        <td style="width:55.5%;border-top:none"></td>
        <td style="border-top:none;text-align:center"> Taxable Amount  </td>
        <td style="border-top:none;text-align:center;width:10%;"> </td>
        <td style="width:13.5%;text-align:right;border-top:none">@m.SUBTOT</td>
    </tr>
    @*@foreach (var item1 in ViewBag.pitemsdatatax)
    {
        if (item1.CGST != 0)
        {
            <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">CGST  </td><td style="border-top:none;text-align:center"> @item1.CGST%</td><td style="text-align:right">@item1.CGSTAMT</td></tr>
        }
        if (item1.SGST != 0)
        {
            <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">SGST  </td><td style="border-top:none;text-align:center"> @item1.SGST%</td><td style="text-align:right">@item1.SGSTAMT</td></tr>
        }
        if (item1.IGST != 0)
        {
            <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">IGST </td><td style="border-top:none;text-align:center">@item1.IGST% </td><td style="text-align:right"> @item1.IGSTAMT</td></tr>
        }
    }*@
     @foreach (var item1 in ViewBag.gpitemsdatatax)
     {
       <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Taxable Amount @item1.taxname </td><td style="border-top:none;text-align:center"></td><td style="text-align:right">@item1.lineamt</td></tr>
                                         
     <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">@item1.taxname  </td><td style="border-top:none;text-align:center"></td><td style="text-align:right">@item1.CGSTAMT</td></tr>

     }
    <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Discount  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.Discount </td></tr>
    @if (@m.PackingCharges != "0.00" && @m.PackingCharges != "")
    {
        <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Packing Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.PackingCharges </td></tr>}
    @if (@m.ShippingCharges != "0.00" && @m.ShippingCharges != "")
    {
        <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Shipping Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.ShippingCharges </td></tr>}
    <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center"><b>Net Amount</b>  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right"><b>@m.TotalAmount</b> </td></tr>
</table>
<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid black; ">

    <tr style="border: 0px solid black; width: 100%;text-align: left;">
        @*<td> 1) Goods will be delivered as early as possible, seller shall not beliable for any consequential Direct or indirect loss due to delay indelivery of goods. Any loss or breakage in goods supplied
            against this invoice should be informed within 7 days and should be supported by the delivery certificate of carrier. 2) Payment by cheque/Draft should be made in favour of VELONIK LIFE SCIENCES PVT LTD, payment by RTGS is also acceptable, cheque payment is subject to realisation. 3) Item not invoiced as per your order not available at present. 4) Overdue interest  18% per
            annum will be charged for the delay payments. 5) Local stockiest are requested to indicate the invoice numbers while making payment. 6) The invoice contains the drug license and the
            GSTregistration details given by you and this shall be taken as correct.In case of any change, the same shall be informed to us from time to time, failing which you will be solely
            responsible.7) The goods are invoiced at the applicable rate on the date of delivery and SGST/CGST/IGST as applicable has been charged 8) Any dispute that may arise will be subject to
            the jurisdiction of courts at HYDERABAD.9) Goods supplied against this invoice do not contravene the provision of section 18 of Drug and cosmetic act 1940.
            </td>*@
        <td ><b>Declaration :</b><br />
         We Here by Warranty that the goods supplied ubnder this invoice do not Contorvene in any way provisions of the Drugs & Cosmetic act 1940 Subject to Idukki Jurisdiction. </td>
            

        <td style="font-weight: bold; width: 250px;border-collapse:collapse;border-top:1px solid black;border-left:1px solid black">
            <div style="text-align:right;font-size:10px;padding-top:10px">For @m.company</div>
            @if (@m.Signature != "" && @m.Signature != null)
            {<div style="text-align:right;text-emphasis-position:below;">
                    <img src="@m.Signature" width="70px" height="40px" alt="" />
                </div>
            }
            else
            {<div style="min-height:60px;"></div>
            }
            <div style="text-align:right;text-emphasis-position:below;">Authorized Signature</div>
        </td>

    </tr>

</table>
<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
    <tr style=" border-top: 1px solid;">
        <td colspan="2">
            <div style="  text-align:center"> @m.footerText</div>
        </td>
    </tr>
</table>
</div>
    </div>
           
        </div>
         
    }
   
</div>
</body>
</html>
