﻿
@model eBizSuiteAppModel.Table.SATABLE002
@{
    ViewBag.Title = "Customer";
}
    <!DOCTYPE>
<html >
<head >
    @*<script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>*@
    @*  
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />*@
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
   <script type="text/javascript" language="javascript">
       var $i = jQuery.noConflict();
       $i(document).ready(function () {

           var chk = $.session.get("CustomerChk")

           if (chk == "0") {
               $i("#txtPhoneno").val($.session.get("Customer"));
               $i("#txtCustomer").focus();
           }
           else {
               $i("#txtCustomer").val($.session.get("Customer"));
               $i("#txtPhoneno").focus();
           }

            $('#btnSave').on('click', function () {
                if ($("#txtCustomer").val() == "") {
                    Alert.render('Please Enter Customer Name'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); $i("#txtCustomer").focus();
                    })
                    return false;
                }

                $.ajax({
                    url: "/FormBuilding/NameCheck",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ CustName: $("#txtCustomer").val() }),
                    success: function (data) {
                        debugger
                        if (data.CustName != 0) {
                            debugger
                            Alert.render('Customer Name already existed choose another one'); $("#alertok").focus();
                            $("#alertok").on("click", function () {
                                $("#dialogbox").dialog("close"); $("#txtCustomer").focus(); $("#txtCustomer").val("");
                                $("#divLoading").hide(); return false;
                            })
                            $("#divLoading").hide();
                            return false;

                        }
                        else {

                            var formData = $("#myForm").serialize();
                            $.ajax({
                                url: "/Customer/InsertOnflySave",
                                type: "POST",
                                dataType: "json",
                                data: formData,
                                async: true,
                                success: function (data) {
                                    var items = [];
                                    $i("#Customerddl").html(items.join(' '));
                                    items.push("<option value=''>" + "--Select--" + "</option>");
                                    for (var i = 0; i < data.item.length; i++) {
                                        if (data.item[i].Selected == true) {
                                            var newcust = data.item[i].Value;
                                            items.push("<option value=" + data.item[i].Value + " selected>" + data.item[i].Text + "</option>");
                                        }
                                        else
                                            items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                                    }
                                    $i('#cImageHide').attr('pattern', 'N');
                                    $i('#cNewMDialog').dialog("close");
                                    $i(".ui-widget-overlay").hide();
                                    //DynamicPopupcancel();
                                    $i("#custddl").html('');
                                    var s = $('<select  id=Customerddl/>');
                                    for (var i = 0; i < data.item.length; i++) {
                                        $('<option />', { value: data.item[i].Value, text: data.item[i].Text }).appendTo(s);
                                    }
                                    var body = document.getElementById('custddl');
                                    s.appendTo(body);

                        $i('#Customerddl').attr('class', 'ddl easyui-combobox');
                        //$('#itemddlposition').html("");
                        //$('#Customerddl').attr('class', 'ddl');
                        //$i("#Customerddl").html(items.join(' '));
                        loadjscssfile('jquery.easyui.min.js', 'js');
                        loadjscssfile('easyui.css', 'css');
                        loadjscssfile('jquery-1.7.1.js', 'js');
                        $i('#Customerddl').combobox({});
                        $i('#Customerddl').attr('itemid', 'Y');
                        $i('#Customerddl').attr('style','display:none;width:250px;height:30px;');
                        //$i('.combo').attr('itemid', 'Y');
                        $i('.combo').attr('style', 'width:250px;height:30px;');
                        $i('.combo-arrow').attr('style', 'height:28px;');
                        $i('.combobox-item').attr('style', 'font-family:arial;');
                        $i("#Customerddl").combobox('setValue', newcust);
                       // $i('.textbox-value').attr('name', 'Customer');
                        $i('.custddlposition').find('input:hidden')
                                .each(function () {
                                    var classname = $(this).attr('class');
                                    if (classname == "textbox-value") { $(this).attr('name', 'Customer'); }
                                });
                        
                                }
                            });
                        }
                    }
                });
            })
            function loadjscssfile(filename, filetype) {
                if (filetype == "js") { //if filename is a external JavaScript file
                    var fileref = document.createElement('script')
                    fileref.setAttribute("type", "text/javascript")
                    fileref.setAttribute("src", filename)
                }
                else if (filetype == "css") { //if filename is an external CSS file
                    var fileref = document.createElement("link")
                    fileref.setAttribute("rel", "stylesheet")
                    fileref.setAttribute("type", "text/css")
                    fileref.setAttribute("href", filename)
                }
                if (typeof fileref != "undefined")
                    document.getElementsByTagName("head")[0].appendChild(fileref)
            }
            $('#btnSkip').on('click', function () {
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog("close");
                $i(".ui-widget-overlay").hide();
                $i("#Customerddl").combobox('setValue', 1000);
                DynamicPopupcancel();
            })
            $('#btnCancel').on('click', function () {
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog("close");
                $i(".ui-widget-overlay").hide();
                $i("#Customerddl").combobox('setValue', "");
                DynamicPopupcancel();
            })
        });


</script>
    </head>
<body >

        @using (Html.BeginForm("InsertOnflySave", "Customer", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
        {
    @Html.ValidationSummary(true)
   <div class="rowCont bottomRowContentFB"  id="ddl">
        <div class="bottomColFB1">      <input type="button" name="Save" value="Save" id="btnSave" class="buttonclass"/></div>
        <div class="bottomColFB1">     <input  id="btnSkip" class='buttonclass' type="button" value="Skip"  /></div>
        <div class="bottomColFB1">     <input  id="btnCancel" class='buttonclass' type="button" value="Cancel"  /></div>
        </div>
        <div  id="Staticdiv" class="bodyFBContent">
               <div class="divRow">
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                   <div class="mainRow">
            <div class="lbl"> Customer </div>
             <div class="txt">
            <input type="text" name="Customer" id="txtCustomer" class="txtclass" />
               </div>  </div>
                    <div class="mainRow"></div>
                    <div class="mainRow"></div>
                    <div class="mainRow"></div>
                   <div class="mainRow"> 
             <div class="lbl"> Phone Number </div>
             <div class="txt"> <input type="text" name="Phoneno" id="txtPhoneno" class="txtclass" />
                </div></div>
                    <div class="mainRow"></div>
                    <div class="mainRow"></div>
                    <div class="mainRow"></div>
                   <div class="mainRow">             
             <div class="lbl"> Memo </div>
             <div class="txt"><input type="text" name="Memo" id="txtMemo" class="txtclass" />
                        </div></div>
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                   <div class="mainRow"></div>
                </div>
    </div>
         <div class="newbottomRowContentFooter" id="footerInfo">
   </div>
}
    </body>
        
    </html>
  


@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
} 
