﻿@model  eBizSuiteAppModel.Table.SATABLE002


@{
    ViewBag.Title = "Customer";
    if (Session["DDDynamicItems"] == "DDDynamicItems")
    {
        Layout = null;
    }
}

@*<h2>Insert</h2>*@
<head>
 <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
  <script>
      //var $ = jQuery.noConflict(true);
      $(document).ready(function () {
          $("[id*=itemName]").change("change", function () {
              NameCheck(null, null, $(this).val(), "Customer");
          });
          function NameCheck(val, val1, val2, FormName) {
              $.ajax({
                  url: "/FormBuilding/NameCheck?FormName=" + FormName + "",
                  type: "POST",
                  contentType: "application/json",
                  data: JSON.stringify({ ItemName: val, VenName: val1, CustName: val2 }),
                  success: function (data) {
                      if (data.ItemName != 0) {
                          Alert.render('Item Name already existed choose another one'); $("#alertok").focus();
                          $("#alertok").on("click", function () {
                              $("#dialogbox").dialog("close"); $("#itemName").focus();
                              return false;
                          })
                          //$("#MATABLE007COLUMN04").val("");
                          return false;
                      }
                      else if (data.VenName != 0) {
                          Alert.render('Vendor Name already existed choose another one'); $("#alertok").focus();
                          $("#alertok").on("click", function () {
                              $("#dialogbox").dialog("close"); $("#itemName").focus();
                              return false;
                          })
                          //$("#SATABLE001COLUMN05").val("");
                          return false;
                      }
                      else if (data.CustName != 0) {
                          Alert.render('Customer Name already existed choose another one'); $("#alertok").focus();
                          $("#alertok").on("click", function () {
                              $("#dialogbox").dialog("close"); $("#itemName").focus();
                              return false;
                          })
                          //$("#SATABLE002COLUMN05").val("");
                          return false;
                      }
                  }
              });
          }

          $("#tabs2").tabs();
          FormLoadActions();
          $("#COLUMN17").val('@Session["OPUnit1"]');
          $("#COLUMN04").val('@Session["NO"]');
          $("#COLUMN18").change("change", function () {
              OUddlSelectedCountry($(this).val(), '1');
          });
          $("#COLUMN26").change("change", function () {
              OUddlSelectedCountry($(this).val(), '2');
          });
          if ('@Session["DDDynamicItems"]' == 'DDDynamicItems') {
              {
                  Layout = null;
                  var height = $('.bodyFBContent').height();
                  $('.bodyFBContent').height(height + 30);
                  $('.window-shadow').css("top", 30);
              }
          }

          $("[id*=COLUMN04]").live("change", function () {
              var tr = $(this).closest("tr");
              var OU = $(this).val();
              if (OU == "") OU = 0;
              StaticCustomerOUItemDetails(tr, OU);
          });
          $("[id*=COLUMN05]").live("change", function () {
              var tr = $(this).closest("tr");
              StaticCustomerOUItemCheckDetails(tr);
          });
          $("[id*=COLUMN06]").live("change", function () {
              var tr = $(this).closest("tr");
              StaticCustomerItemPriceDetails(tr, $(this).val());
          });
          $('#itemgrid').keydown(keypressHandler);
          function keypressHandler(e) {
              if (e.which == 13) {
                  e.preventDefault(); //stops default action: submitting form
                  $(this).blur();
                  $('#newrow').focus().click();//give your submit an ID
              }
          }
          $('#newrow').live("click", function () {
              var tbl = $("#grdData")[0];
              var tr = tbl.rows[tbl.rows.length-1];
              if ($(tr).find('#MATABLE026COLUMN05').val() == "") {
                  Alert.render('Please Select Item'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $(tr).find('#MATABLE026COLUMN05').focus();
                  })
                  return false;
              } else Newrowadd();
          });
          function Newrowadd() {
              var tbl = $('#grdData')[0];
              var irow = tbl.rows.length - 1
              var tr = tbl.rows[irow];
              $('#grdData').append(tr.outerHTML);
              var tr1 = tbl.rows[irow + 1];
              $(tr1).find('#MATABLE026COLUMN04').val("");
              $(tr1).find('#MATABLE026COLUMN05').val("");
              $(tr1).find('#MATABLE026COLUMN06').val("");
              $(tr1).find('#MATABLE026COLUMN07').text("");
              $(tr1).find('#MATABLE026COLUMN08').text("");
          };
          $('#cancelrow').live("click", function () {
              var tbl = $("#grdData")[0];
              if (tbl.rows.length > 2) {
                  $('#grdData > tbody:last tr:last').remove();
                  Alert.render('one row deleted......'); $("#alertok").focus();
              }
              else {
                  Alert.render('Cancel Row permited, when more than one row exists in Grid......'); $("#alertok").focus();
                  return false;
              }
          });
          //geting LIST OF STATES
          $('#Country').change("change", function () {
              ddlSelectCountrySatatic($(this).val(), 1265);
          });
          function ddlSelectCountrySatatic(eve, Formid) {
              var countryId = eve;
              if (eve != "null") {
                  $.ajax({
                      url: "/FormBuilding/getStateList",
                      type: "POST",
                      data: JSON.stringify({ countryId: countryId }),
                      dataType: "json", cache: true,
                      contentType: "application/json; charset=utf-8",
                      success: function (data) {
                          if (data.item != '') {
                              if (Formid == 1252 || Formid == 1260 || Formid == 1330 || Formid == 1265 || Formid == 1275 || Formid == 1283 || Formid == 1378 || Formid == 1380) {
                                  $("#State").attr("disabled", false);
                                  $('#State').find('option').remove();
                                  var items = [];
                                  items.push("<option value=''>" + "--Select--" + "</option>");
                                  for (var i = 0; i < data.item.length; i++) {
                                      items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                                  }
                                  $("#State").html(items.join(' '));
                                  $("[id*=State]").html(items.join(' '));
                              }                              
                          }
                          else {
                              var items = [];
                              items.push("<option value=''>" + "--Select--" + "</option>"); $("#State").html(items.join(' '));
                          }
                      }
                  });
              }
          };

          //Form Reset
          $('#form-reset').live('click', function () {
              $(this).formReset();
              return false;
          });

          $('#btnSave').on('click', function (e) {
              e.preventDefault();
              $("#divLoading").show();
              if ($("#itemName").val() == "") {
                  Alert.render('Please Enter Item Name'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#itemName").focus();
                      $("#divLoading").hide(); return false;
                  })
                  $("#divLoading").hide(); return false;
              }
              if ($("#Addressee").val() == "") {
                  Alert.render('Please Enter Addressee'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#Addressee").focus();
                      $("#divLoading").hide(); return false;
                  })
                  $("#divLoading").hide(); return false;
              }
              if ($("#Address1").val() == "") {
                  Alert.render('Please Enter Address1'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#Address1").focus();
                      $("#divLoading").hide(); return false;
                  })
                  $("#divLoading").hide(); return false;
              }
              if ($("#City").val() == "") {
                  Alert.render('Please Enter City'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#City").focus();
                      $("#divLoading").hide(); return false;
                  })
                  $("#divLoading").hide(); return false;
              }
                  var tbl = $("#grdData")[0];
                  var xmldata = "<ROOT>";
                  if (typeof (tbl) != "undefined") {
                      for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                          var tr = tbl.rows[irow];
                          var Check = tr.cells[0].children[0].value;
                          var OU = tr.cells[1].children[0].value;
                          var Item = tr.cells[2].children[0].value;
                          var PriceLevel = tr.cells[3].children[0].value;
                          var Discount = $(tr).find("#MATABLE026COLUMN07")[0].innerText;
                          var Amount = $(tr).find("#MATABLE026COLUMN08")[0].innerText;
                          if (typeof (Discount) == "undefined"||Discount=="") Discount = 0;
                          if (typeof (Amount) == "undefined"||Amount=="") Amount = 0;
                          if (Check == "true" || Check == "1") {
                              xmldata = xmldata + "<Column><COLUMN04>" + OU + "</COLUMN04>";
                              xmldata = xmldata + "<COLUMN05>" + Item + "</COLUMN05>";
                              xmldata = xmldata + "<COLUMN06>" + PriceLevel + "</COLUMN06>";
                              xmldata = xmldata + "<COLUMN07>" + Discount + "</COLUMN07>";
                              xmldata = xmldata + "<COLUMN08>" + Amount + "</COLUMN08>";
                              xmldata = xmldata + "</Column>";
                          }
                      }
                      xmldata = xmldata + "</ROOT>";
                      var dataparam = { list: xmldata }
                      $.ajax({
                          url: "/Customer/PricingGrid",
                          type: "POST",
                          data: JSON.stringify(dataparam),
                          dataType: "html",
                          cache: true,
                          contentType: "application/json; charset=utf-8",
                          success: function (result) {
                              document.forms[0].submit();
                          }
                      })
                  }
                  else { document.forms[0].submit(); }
              
          })
          //$i("#btnSave").click(function (event) {
          //    debugger
          //});
          $('#formreset').live('click', function () {
              $('#cNewMDialog').dialog('close');
              $i(".window-shadow").css('display', 'none');
              $i(".panel").css('display', 'none');
              $i(".window-mask").css('display', 'none');
              //DynamicPopupcancel();
          });
      //Form Save
        $("#btnSubmit").live("click", function () {
            if ($('#fileToUpload').val() == "") {
                $("#spanfile").html("Please upload file");
                return false;
            }
            else {
                return checkfile();
            }
            });
      //File Change
            $("#fileToUpload").change(function () {
                checkfile();
            });

      })
    </script>
</head>

<body>
    @using (Html.BeginForm("Insert", "Customer", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        if (Session["DDDynamicItems"] != "DDDynamicItems")
        {
        <div class="rowCont bottomRowContentFB" id="ddl">
           @* <div class ="bottomColFB1">
                <div class="bottomColFB">
             <div class="labelTxtFB"> Forms </div>
             <div class="bottomInputFieldFB">
                         @Html.DropDownList("COLUMN07", new SelectList(ViewBag.Category, "COLUMN02", "COLUMN04"),"---Select---")
                          @* @Html.TextBoxFor(model => model.COLUMN07)
                           @Html.ValidationMessageFor(model => model.COLUMN07)
                  </div></div>

            </div>*@
        <div class="bottomColFB1">
     <input type="submit" class="buttonclass" id="btnSave"  value="Save"  />

           </div>  
            <div class="bottomColFB1">   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>
            
        <div class="bottomColFB1">
     <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "Customer", new {idi=@Request["idi"],FormName=@Request["FormName"]}) + "'")    ;" />
           </div> 
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
                @*<div class="bottomColFB1">    <input type="submit" name="List" value="List"  class="buttonclass"/></div>
        <div class="bottomColFB1">     <input type="submit" name="Newfield" value="New Field"   class="buttonclass"/></div>
        <div class="bottomColFB1">    <input type="button" value="Cancel"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Index", "OperatingUnit") + "'")    ;" /></div>*@
        @*<div class="bottomColFB1">   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>*@
            }
        </div>}
        else if (Session["DDDynamicItems"] == "DDDynamicItems")
        {<div class="rowCont bottomRowContentFB" id="ddl"> <div class="bottomColFB1">    <input type="submit" name="Create" value="Save"  class="buttonclass"/></div>
            <div class="bottomColFB1">   <input @*onclick="@("window.location.href='" + @Url.Action("SetVariable", "FormBuilding") + "'")    ;"*@ id="formreset" class='buttonclass' type="reset" value="Cancel"  /></div>
            </div>}
    <div class="bodyFBContent">
        <div id="staticheadersection">
             <div id="PRIMARY" class="bodyFBCon"> Primary </div>
            <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Customer# </div>
            <div class="txt">
                         @Html.TextBox("Customer#", @Session["NO"], new { @readonly = "readonly", @class = "txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN04)
                @*<input id="Customer" name="Customer" class="txtclass" type="text" value="" />*@
                @*<input type="Text" id="SATABLE002COLUMN01"  title="Address" class="txtclass"  />*@
                </div> </div>  <div class="mainRowCon">
             <div class="lbl"> Name </div>
                    <div style="color:red ; float:left ;text-align: right;">*</div> 
             <div class="txt">

                         @Html.TextBox("Name", "", new { @class = "txtclass", id = "itemName", required = "required" })
                         @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> </div><div class="mainRowCon">
             <div class="lbl"> Memo </div>
             <div class="txt">
                          @Html.TextBox("Memo", "", new { @class = "txtclass" })
                          @Html.ValidationMessageFor(model => model.COLUMN06)
                </div> 
             </div></div>
             <div class="mainRow"><div class="mainRowCon">
             <div class="lbl"> Category </div>
             <div class="txt">
                         @Html.DropDownList("Category", new SelectList(ViewBag.Category, "COLUMN02", "COLUMN04"), "---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN07)*@
                           @Html.ValidationMessageFor(model => model.COLUMN07)
                  </div></div><div class="mainRowCon">
             <div class="lbl"> Sub Category </div>
             <div class="txt">
                        @* @Html.DropDownList("Sub_Category", new SelectList(ViewBag.Sub_Category, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                         @Html.DropDownList("SubCategory", new SelectList(ViewBag.subCategory, "COLUMN02", "COLUMN04"), "---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN08)*@
                           @Html.ValidationMessageFor(model => model.COLUMN08)
                  </div></div><div class="mainRowCon">
              <div class="lbl"> Email </div>
           <div class="txt">
                          @Html.TextBox("Email", "", new { @class = "txtclass" })
                          @Html.ValidationMessageFor(model => model.COLUMN10)
                </div></div>
              </div>
              <div class="mainRow">
                  <div class="mainRowCon">
              <div class="lbl"> Phone </div>
               <div class="txt">
                          @Html.TextBox("Phone", "", new { @class = "txtclass" })
                          @Html.ValidationMessageFor(model => model.COLUMN11)
                </div></div>
                  <div class="mainRowCon">
              <div class="lbl"> Fax </div>
              <div class="txt">
                          @Html.TextBox("Fax", "", new { @class = "txtclass" })
                          @Html.ValidationMessageFor(model => model.COLUMN12)
                </div></div>
                  <div class="mainRowCon">
              <div class="lbl"> Inactive Flag </div>
              <div class="txt">
                  @*<input type="checkbox" id="Inactive Flag" class="chkclass" />*@
                          @*@Html.CheckBox("InactiveFlag")*@
               <input type="checkbox" id="COLUMN25"  name="COLUMN25" class="ChkClass"  />
                          @Html.ValidationMessageFor(model => model.COLUMN25)
               </div></div>
                   </div>
                   <div class="mainRowCon">
              <div class="lbl"> Default Flag </div>
              <div class="txt">
               <input type="checkbox" id="COLUMN40"  name="COLUMN40"   class="ChkClass"  />
                          @Html.ValidationMessageFor(model => model.COLUMN40)
               </div></div>
              
            @*EMPHCS1080 by gnaneshwar on 3/09/2015 Adding VAT NO,CST NO,Service Tax NO,PAN NO columns in operating unit*@
            <div id="SECONDARY" class="bodyFBCon"> Secondary </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Operating Unit </div>
                        <div class="txt">
                         @* @Html.DropDownList("Operating Unit", new SelectList(ViewBag.Operating Unit, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                         @Html.DropDownList("OperatingUnit", new SelectList(ViewBag.OPUnit, "COLUMN02", "COLUMN03", Session["OPUnit"]), "---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN17)*@
                           @Html.ValidationMessageFor(model => model.COLUMN17)
                  </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Payment Terms </div>
                         <div class="txt">
                        @* @Html.DropDownList("Payment Terms", new SelectList(ViewBag.PaymentTerms, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                         @Html.DropDownList("PaymentTerms", new SelectList(ViewBag.Terms, "COLUMN02", "COLUMN04"), "---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN30)*@
                           @Html.ValidationMessageFor(model => model.COLUMN30)
                  </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Payment Mode </div>
                         <div class="txt">
                        @* @Html.DropDownList("Payment Mode", new SelectList(ViewBag.PaymentMode, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                           @Html.DropDownList("PaymentMode", new SelectList(ViewBag.Mode, "COLUMN02", "COLUMN04"), "---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN31)*@
                           @Html.ValidationMessageFor(model => model.COLUMN31)
                  </div>
                    </div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Department </div>
                          <div class="txt">
                        @* @Html.DropDownList("Department", new SelectList(ViewBag.Department, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                           @Html.DropDownList("Department", new SelectList(ViewBag.department, "COLUMN02", "COLUMN04"), "---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN20)*@
                           @Html.ValidationMessageFor(model => model.COLUMN20)
                  </div>
                    </div>
                    
                </div>
              </div>        
        <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
        <div id="statictabsection">
        <div id="tabs2" class="fbTabCon">
            <ul  >
                <li ><a href="#Pricing">Pricing</a></li>
                <li ><a href="#Address">Address</a></li>
                <li ><a href="#Commission">Commission</a></li>
		@*EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application*@
                @*<li ><a href="#tabs-3">TaxInfo</a></li>
                 <li ><a href="#tabs-3">New Tab</a></li>*@
            </ul> 
            <div id="Pricing" class="fbBodyFoter"  style="width: 100%;">
                 <div class="fbBodyFoter" id="Pricingpricegrid"> 
                     <div class="mainRow bottomdivRow">   
              @{
        var grid = new WebGrid(ViewBag.itemsdata, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
                
                 <div id="itemgrid" class="itemGridFB">
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns:
          grid.Columns
            (
                grid.Column("", format: item => @Html.CheckBox("checkrow", new { @id = "checkRow", @class = "chkclass", @checked = "checked" })),
                grid.Column("Operating Unit", format: item => @Html.DropDownList("MATABLE026COLUMN04", new SelectList(@ViewBag.OPUnit, "COLUMN02", "COLUMN03", 0), "--Select--", new { @class = "gridddl" })),
                grid.Column("Item", format: item => @Html.DropDownList("MATABLE026COLUMN05", new SelectList((System.Collections.IEnumerable) ViewData["Item"],"Value","Text"), "--Select--",  new { @class = "gridddl" })),
                grid.Column("Price Level", format: item => @Html.DropDownList("MATABLE026COLUMN06", new SelectList((System.Collections.IEnumerable) ViewData["PriceLevel"],"Value","Text"), "--Select--", new { @class = "gridddl" })),
                grid.Column("Discount", format: @<text><label id="MATABLE026COLUMN07" type="text" value="" class="txtgridclass"></label></text>),
                grid.Column("Amount", format: @<text><label id="MATABLE026COLUMN08" type="text" value="" class="txtgridclass"></label></text>
                )))   <div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                     </div>
                  }
                   </div>
                     </div>
                 </div>
             <div id="Address" >
                              <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Address <div style="color:red;float: right;text-align: right;padding-left: 2px;padding-top: 2px;">*</div> </div>
            <div class="txt">
                @Html.TextBox("Addressee", "", new { @class = "txtclass" })

                </div> </div><div class="mainRowCon">
            <div class="lbl"> Address1 <div style="color:red ;float: right;text-align: right;padding-left: 2px;padding-top: 2px;">*</div> </div>                    
            <div class="txt"> 
                            @Html.TextBox("Address1", "", new { @class = "txtclass" })

                </div> </div><div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt">
                            @Html.TextBox("Address2", "", new { @class = "txtclass" })

                </div> </div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Country </div>

           <div class="txt"> 
                            @*@Html.DropDownList("Country", new SelectList(@ViewBag.Country, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                             @Html.DropDownList("Country", new SelectList(ViewBag.country, "COLUMN02", "COLUMN03"), "---Select---", new { @class = "ddl" })
                        

                       </div></div>
                <div class="mainRowCon">
            <div class="lbl"> State </div>
            <div class="txt"> 
                            @*@Html.DropDownList("State", new SelectList(@ViewBag.State, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                             @Html.DropDownList("State", new SelectList(ViewBag.state, "COLUMN02", "COLUMN03"), "---Select---", new { @class = "ddl" })
                            

                       </div>
            </div> 
                <div class="mainRowCon">
            <div class="lbl"> City  <div style="color:red ;float: right;text-align: right;padding-left: 2px;padding-top: 2px;">*</div></div>
             <div class="txt">
                            @Html.TextBox("City", "", new { @class = "txtclass" })

                </div> </div> </div>
            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> Zip </div>
            <div class="txt">
                            @Html.TextBox("Zip", "", new { @class = "txtclass" })

                </div> </div>
                <div class="mainRowCon">
            <div class="lbl"> Billing</div>
           <div class="txt">
                          @*@Html.CheckBox("Billing")*@
               <input type="checkbox" id="Billing"  name="Billing" class="ChkClass" value="false"/>
               @*<input type="checkbox" id="Billing"  title="Address" class="chkclass"  />*@
               </div></div>
                 <div class="mainRowCon">
            <div class="lbl"> Shipping</div>
           <div class="txt">
                          @*@Html.CheckBox("Shipping")*@
               <input type="checkbox" id="Shipping"  name="Shipping" class="ChkClass" value="false"/>
               @* <input type="checkbox" id="Shipping"  title="Address" class="chkclass"  />*@
               </div></div>
                     </div> 
                              </div>
                     </div>
@*EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application*@
             <div id="Commission" style="width:100%">
                              <div class="fbBodyFoter">

             <div class="mainRow">
                 <div class="mainRowCon">
            <div class="lbl"> Sales Rep </div>
             <div class="txt"> 
                            @*@Html.DropDownList("SalesRep", new SelectList(@ViewBag.SalesRep, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                             @Html.DropDownList("SalesRep", new SelectList(ViewBag.SalesRep, "COLUMN02", "COLUMN09"), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN22)
                       </div> </div>
                 <div class="mainRowCon">
            <div class="lbl"> Commission% </div>
            <div class="txt">
                            @Html.TextBox("Commission", "", new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN23)
                </div> </div>
                 <div class="mainRowCon">
            <div class="lbl"> Type </div>
             <div class="txt"> 
                            @*@Html.DropDownList("Type", new SelectList(@ViewBag.Type, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })*@
                             @Html.DropDownList("Type", new SelectList(ViewBag.Type, "COLUMN02", "COLUMN04"), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN24)
                       </div> </div>
                </div>
</div>
                     </div>
@*EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application*@
            @* <div id="tabs-3" >
                              <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> TIN# </div>
            <div class="txt">
                            @Html.TextBox("TIN#","",new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN21)
                </div> </div><div class="mainRowCon">
            <div class="lbl"> PAN NO </div>
            <div class="txt"> 
                            @Html.TextBox("PAN NO","", new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN26)
                </div> </div><div class="mainRowCon">
            <div class="lbl"> VAT NO </div>
            <div class="txt">
                            @Html.TextBox("VAT NO","", new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN27)
                </div> </div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> CST NO </div>
          <div class="txt"> 
                            @Html.TextBox("CST NO","", new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN28)
                </div></div>
                <div class="mainRowCon">
            <div class="lbl"> Service Tax No </div>
           <div class="txt"> 
                            @Html.TextBox("Service Tax No","", new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN29)
                </div>
            </div> 
                <div class="mainRowCon">
            <div class="lbl"> Apply TDS </div>
              <div class="txt">
                          @Html.CheckBox("Apply TDS")
                          @Html.ValidationMessageFor(model => model.COLUMN18)
                <input type="checkbox" id="Apply TDS"  title="Address" class="chkclass"  />
               </div> </div> </div>
            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> Section </div>
           <div class="txt"> 
                            @Html.DropDownList("Section", new SelectList(@ViewBag.Section, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })
                             @Html.DropDownList("Section", new SelectList(ViewBag.Section, "COLUMN02", "COLUMN04"),"---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.column33)
                       </div> </div>
               
                       </div> 
                              </div>
                     </div>
            *@


            </div>
        </div>
        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo">
   </div>
    }

     </body>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}