﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>BillGSTPrintSVK</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
             debugger
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
             if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                 var data = $('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     $.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["pono"] +"",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify({ fname: FormName, html: data }),
                         success: function (data) {
                            
                             $i('#newMDialog').dialog({
                                 autoOpen: false,
                                 modal: true,
                                 width: 600,
                                 height: 400, resizable: false,
                                 title: "Send this Bill",
                                 draggable: false,
                                 closeOnEscape: false
                             })
                             $i('#tabs1').tabs();
                             $i(this).attr('pattern', 'Y');
                             $i('.ui-dialog').show();
                             $i('.ui-dialog-titlebar').show();
                             $i('.ui-widget-overlay').show();
                             if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                 if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                     $i('.ui-dialog')[0].id = 'pnewDialog';
                                     $i('#newMDialog').hide();
                                 }
                             }
                             if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                 if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                     $i('.ui-dialog')[1].id = 'pnewDialog';
                                     $i('#newMDialog').hide();
                                 }
                             }
                             $i('#newMDialog').dialog('open');
                             $i('#newMDialog').show();
                             $i('#newMDialog').load("/SendMailer/Index?FormName=Bill&Vendorref=" + $i("#PUTABLE005COLUMN05").val() + "&idi=22369");
                             $i('#newMDialog').on('dialogclose', function (event) {
                                 $i('#newMDialog').attr('pattern', 'N');
                                 $i(this).dialog("close");
                                 $i(".ui-widget-overlay").hide();
                                 DynamicPopupcancel();
                             });
                             return false;
                             var Ref = '@Request["Vendorref"]';
                             var to = '@Request["idi"]';
                             if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                 $i('#SendPerson').val(to);
                                 ddlSelectMailSendTo(to, '@Session["id"]');
                             }
                         }
                     });
                 }
             }
             else {
                 PrintForms();
             }
         });
    </script>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "BillGSTPrintSVK"))
    {
        var m = Model.Where(a => a.PONO != null).FirstOrDefault();

        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
        
             <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
  @* <div style="text-transform:uppercase"> @m.ouName</div>*@
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                 </table></div>
                     </td>

                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                         @if (@m.logoName != "")
                                         {
                                        <img src="@m.logoName" width="70px" />
                                         }
                                        </td>
                                    </tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                 }
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
           
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
         <b>BILL</b>
    </td>
    
  </tr>

  <tr style=" border: 1px solid;">
    <td style="width:50%;border-right: 1px solid;" >
                       <div style="height: 100px;overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <div style="font-size:12px;"><b>Details of Supplier (Billed From)</b></div> 
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;font-weight:bold; ">Name: @m.Vendor</td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.Adresss </td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss1,@m.Adresss2 @m.city</td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.state,@m.country,@m.zip </td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CustGSTIN</td></tr>
                                   </table></div>
   </td>
    <td style="width:50%" >
                               <div style="  overflow: hidden;height:100px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%">  Bill# : <br /> <b>@m.PONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Reference#: <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
                <tr style=" border: 1px solid;border-bottom:none">
    <td style="width:50%;border-right: 1px solid;" >
                   <div style="height: 100px;overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Details of Receiver (Billed To)</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;font-weight:bold;">@m.oAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 &nbsp;,@m.oAdresss2 </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity &nbsp;, @m.ostate &nbsp;, @m.ocountry-@m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN/Unique ID: @m.CustGSTIN</td></tr>
                                     </table></div>
   </td>
    
                    <td style="width:50%" >
                               <div style="  overflow: hidden;height:100px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>   
              
  
             @*    
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>*@
</table>
              <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
        <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
    <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th> 
  
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:38%">Description of Goods </th>
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Lot No</th>
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Expiry Date</th>
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Products Code </th>
    
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:4%">HSN/SAC Code </th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:2%">Quantity</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black;text-transform: capitalize;width:3%">Rate</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Total</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Discount</th>
     <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Value</th>
                        <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">CGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">SGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">IGST</th>
           </tr>
           <tr>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
   
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
   
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
  </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";

    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var Input = "Input @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount + 1) { rowcount = rowcount + 1; }

                        if (rowcount % 15 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                           
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                        
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Lot  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Expiry  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.upc </td>
                           
                            @if (Convert.ToBoolean(item.SerItem) == true)
                               {
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.HSNCode </td>
                               }
                               else if (Convert.ToBoolean(item.SerItem) == false)
                             {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                       
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Discount  </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.ItemTotal  </td>
                               @if (Convert.ToString(item.CGSTAMT) != "0.00")
                                 {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                 else
                                 {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                           
                             @if (Convert.ToString(item.SGSTAMT) != "0.00")
                             {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT</td>}
                             else
                             {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                        
                             @if (Convert.ToString(item.IGSTAMT) != "0.00")
                             {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT</td>}
                             else
                             {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                        </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                             <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" ">
                                <td rowspan="6" style="width: 4%;border-top:none"></td>
              <td rowspan="6" style="width:55.5%;border-top:none"></td>
	     
             <td style="border-top:none"> Gross Amount  </td>
             <td style="width:13.5%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                 <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>
                                <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@Input @item1.linetaxes  </DIV>

                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"></DIV>  
                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"> </DIV>
                                      }

                                  }</td>
                       </tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>
                              
                             @if (@m.TDSAmount != "" && @m.TDSAmount != "0.00")
                             {
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">TDS Amount</td><td style="text-align:right">    @m.TDSAmount 
                                                                                                                                                                               </td></tr>
                             }
			   
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  @if (@m.amttype == "22713"){ @incluse}</td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>

                             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;height:20px"><td style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: right; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">  INR @m.amtInWord  </td>
                        
                    </tr>
                </table>
                      <table style="width: 100%; border-collapse:collapse;border-left:1px solid;border-right:1px solid ;border-bottom:0px;border-top:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif">
                    <tr style="width: 100%;">
                     <td>  
                 
                             <table style="min-height:30px;border-collapse: collapse;border-left:0px ;  border-right: 0px; width: 100%;font-size:12px ;font-size:12px;font-family: Arial, Helvetica, sans-serif;" >
                              <tr>
                                  <td style="width:60%;border-right:1px ;">
                                   <div><b><u>DECLARATION:</u></b></div><div>   We declare that this Bill shows the actual price of the 
goods described and that all particulars are true and correct.  </div>
                                  </td>
                                   <td  style="border-left:1px solid;padding-left: 20px;font-weight: bold; width: 250px;">
                    <div style="text-align:right;font-size: 12px;">@m.company</div><div style="height:50px;"></div><div style="text-align:right;border-left:1px;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                              </tr> 
                        </table>
                         </td>
            </tr>                
         </table>
                 <table border="1" style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-collapse:collapse;" >
                     <tr style=" border-top: 1px solid;height:10px;">
    <td colspan="2" >
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
                     
                      
                          <table style="width:98%;min-height:65px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 94px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
 @* <div style="text-transform:uppercase"> @m.ouName</div>*@
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 , @m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    </table></div>
                     </td>
                       <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" />
                                        }
                                        </td>
                                    </tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                 }
                             </table> 
                         </div>
                     </td>
                 </tr>
             </table>

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b>BILL</b>

    </td>
    
  </tr>
 <tr style=" border: 1px solid;">
    <td style="width:50%;border-right: 1px solid;" >
                   
                       <div style="height: 100px;overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
             <div style="font-size:12px;"><b>Details of Supplier (Billed From)</b></div>               
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;font-weight:bold; ">Name: @m.Vendor</td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.Adresss </td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss1,@m.Adresss2 @m.city</td></tr>
                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.state,@m.country,@m.zip </td></tr>
                                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CustGSTIN</td></tr>
                 </table></div>
   </td>
    <td style="width:50%" >
                               <div style="overflow: hidden;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%">  Bill# : <br /> <b>@m.PONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Reference#: <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        @*</div>*@
        </td>
  </tr>
                <tr style=" border: 1px solid;border-bottom:none">
    <td style="width:50%;border-right: 1px solid;" >
                   <div style="height: 100px;overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Details of Receiver (Billed To)</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;font-weight:bold;">@m.oAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 &nbsp;,@m.oAdresss2 </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity &nbsp;, @m.ostate &nbsp;, @m.ocountry-@m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN/Unique ID: @m.CustGSTIN</td></tr>
                                    </table></div>
   </td>
    

    <td style="width:50%" >
                               <div style="  overflow: hidden;height:100px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>   
              
  
             @*    
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>*@
</table>



                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                       <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th> 
  
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:38%">Description of Goods </th>
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%;">Lot No</th>
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%;">Expiry Date</th>
   <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Products Code </th>
    
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:4%">HSN/SAC Code </th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:2%">Quantity</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black;text-transform: capitalize;width:3%">Rate</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Total</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Discount</th>
     <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Value</th>
                        <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">CGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">SGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">IGST</th>
           </tr>
           <tr>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
   
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
   
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
  </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Lot  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Expiry  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.upc </td>
                                               
                               @if (Convert.ToBoolean(item.SerItem) == true)
                               {
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.HSNCode </td>
                               }
                               else if (Convert.ToBoolean(item.SerItem) == false)
                               {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Discount </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.ItemTotal  </td>
                               @if (Convert.ToString(item.CGSTAMT) != "0.00")
                               {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                               else
                               {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                           
                             @if (Convert.ToString(item.SGSTAMT) != "0.00")
                             {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT</td>}
                             else
                             {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                        
                             @if (Convert.ToString(item.IGSTAMT) != "0.00")
                             {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT</td>}
                             else
                             {
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>}
                        </tr>
                        
                             if (cnt == rowcount - 1 || cnt == 1)
                             {
                                 var ct = (rowcount - 1) % 15;
                                 if (cnt == 1) { ct = (rowcount) % 15; }
                                 if (ct != 0)
                                 {
                                     ct = 15 - ct;
                                     for (int ac = 1; ac <= ct; ac++)
                                     {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                            
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                      
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>  
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>

                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>
                        </tr>}
                        }
                             
                             <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                       
                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>  
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TotalQuantity </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                            
                          
                        
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                        
                            
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                        </tr>
                             
                        @:</tbody></table>
@*                        @:</div>*@
                             }
                        }
                    }
           </tbody>
                </table>
                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" ">
                                <td rowspan="6" style="width: 4%;border-top:none"></td>
              <td rowspan="6" style="width:55.5%;border-top:none"></td>
	     
             <td style="border-top:none"> Gross Amount  </td>
             <td style="width:13.5%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                 <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>
                                <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@Input @item1.linetaxes  </DIV>

                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"></DIV>  
                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"> </DIV>
                                      }

                                  }</td>
                       </tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>
                              
                             @if (@m.TDSAmount != "" && @m.TDSAmount != "0.00")
                             {
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">TDS Amount</td><td style="text-align:right">    @m.TDSAmount 
                                                                                                                                                                               </td></tr>
                             }
			   
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  @if (@m.amttype == "22713"){ @incluse}</td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>

                             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;height:20px"><td style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: right; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">  INR @m.amtInWord  </td>
                        
                    </tr>
                </table>
                      <table style="width: 100%; border-collapse:collapse;border-left:1px solid;border-right:1px solid ;border-bottom:0px;border-top:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif">
                    <tr style="width: 100%;">
                     <td>  
                 
                             <table style="min-height:30px;border-collapse: collapse;border-left:0px ;  border-right: 0px; width: 100%;font-size:12px ;font-size:12px;font-family: Arial, Helvetica, sans-serif;" >
                              <tr>
                                  <td style="width:60%;border-right:1px ;">
                                   <div><b><u>DECLARATION:</u></b></div><div>   We declare that this Bill shows the actual price of the 
goods described and that all particulars are true and correct.  </div>
                                  </td>
                                   <td  style="border-left:1px solid;padding-left: 20px;font-weight: bold; width: 250px;">
                    <div style="text-align:right;font-size: 12px;">@m.company</div><div style="height:50px;"></div><div style="text-align:right;border-left:1px;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                              </tr> 
                        </table>
                         </td>
            </tr>                
         </table>
                 <table border="1" style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-collapse:collapse;" >
                     <tr style=" border-top: 1px solid;height:10px;">
    <td colspan="2" >
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
               </div>
    </div>
           
        </div>
         
    }
    
</body>
</html>
