﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>DeliveryChallanGSTSSSE</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            MultiplePrintForms();
        });
    </script>
</head>
<body style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
    <div id="multiprint" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0px">
        @using (Html.BeginForm("Print", "DeliveryChallanGSTSSSE"))
        {
            var m = Model.Where(a => a.SONO != null).FirstOrDefault();
            @*for (var i = 0; i <= 2; i++)
            {
                var m = Model.Where(a => a.SONO != null).FirstOrDefault();
                var c = 0;
                c = c + i;
                if (c == 0)
                {

                    <div style="text-align:right;font-size:10px;"><font color="gray">Original Copy</div>
                }
                else if (c == 1)
                {
                    <div style="page-break-after: always"> </div>
                    <div style="text-align:right;font-size:10px;"><font color="gray">Duplicate Copy</font></div>
                }
                else if (c == 2)
                {
                    <div style="page-break-before: always"> </div>
                    <div style="text-align:right;font-size:10px;"><font color="gray">Triplicate Copy</font></div>
                }*@

                var AcOwner = Session["AcOwner"].ToString();


                if (Session["AcOwner"].ToString() != "56597")
                {

                    <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                        <tr>
                            <td>
                                <div style="  overflow: hidden;font-size:12px;border:none;  border-bottom:0px;">
                                    <table style="width: 100%;border-collapse: collapse;" border="0"></table>
                                </div>
                            </td>
                            <td style="text-align:right">
                                <div style="float:right">
                                    <table border="0">
                                        <tr>
                                            <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-top:10px ">
                                                @if (@m.logoName != "")
                                                {
                                                    <img src="@m.logoName" width="200px" alt="" />
                                                }

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table style="width:98%; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                        <tr>
                            <td>
                                <div style="overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
                            </td>
                        </tr>
                    </table>

                }

                <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
                    <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
                        <td colspan="2" style="font-size:16px">
                            @{var taxval = 0;}
                            @foreach (var item1tax in ViewBag.taxitemsdata)
                            {
                                if ((Convert.ToString(item1tax.linetaxamt) != "0" && Convert.ToString(item1tax.linetaxamt) != null) || (Convert.ToString(item1tax.linetotaltax) != "0" && Convert.ToString(item1tax.linetotaltax) != null)) { taxval++; }
                            }
                            @{ if (Session["AcOwner"].ToString() == "56571" && (taxval == 0))
                                {
                                    <b>INVOICE ESTIMATED</b>
                                }
                                else
                                {
                                    <b>DELIVERY CHALLAN</b>}
                            }


                        </td>

                    </tr>

                    <tr style=" border: 1px solid;">
                        <td style="width:100%;" colspan="2">

                            <div style="min-height:60px; overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                <table style="width: 100%;border-collapse: collapse;" border="0">
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:16px;font-family: Arial, Helvetica, sans-serif;font-weight:bold "> DC No. <b>@m.SONO</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:16px;font-family: Arial, Helvetica, sans-serif;font-weight:bold "> Date: <b>@m.Date</b></td></tr>

                                </table>

                            </div>
                        </td>
                        @*<td style="width:49%" >

                            </td>*@
                    </tr>

                    <tr style=" border-top: 1px solid;">
                        <td style="width:50%;">
                            <div style="min-height: 140px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                <table style="width: 80%;border-collapse: collapse;" border="0">

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.OPUPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GST No: <b>@m.CGSTIN</b></td></tr>
                                    @*  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>*@
                                </table>
                            </div>
                        </td>
                        <td style="width:49%;">
                            <div style="min-height: 140px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                <table style="width: 100%;border-collapse: collapse;" border="0">
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; "><b>To,</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,@m.SHcity,@m.SHstate,@m.SHcountry,@m.SHzip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">State Code:@m.StateCode</td></tr>
                                    @if (@m.Reference != null && @m.Reference != "" && @m.Reference != "0")
                                    {
                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Purchase Order No: <b>@m.Reference</b></td></tr>}
                                    @if (@m.memo != null && @m.memo != "" && @m.memo != "0")
                                    {
                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Dispatch Document No: <b>@m.memo</b></td></tr>}
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-top:20px;font-weight:bold ">GST No: <b>@m.CustGSTIN</b></td></tr>

                                </table>
                            </div>
                        </td>
                    </tr>

                </table>
                <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                    <div id="printpage">
                        <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                            <thead style="display:table-header-group ">
                                <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                    <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                                    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:57%">Description of Goods </th>
                                    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:16%">HSN/SAC Code</th>
                                    @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">GST Rate</th>*@
                                    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Unit </th>
                                    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:16%">Quantity</th>
                                    @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>*@

                                    @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">Amount</th>*@
                                </tr>

                            </thead>



                            @{int counter = 0;
                                var q = "(";

                                var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
                                var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)"; var symbol = " @24% "; var symbols = "- ";
                            }
                            <tbody>
                                @foreach (var item in ViewBag.pitemsdata)
                                {

                                    var cnt = (ViewBag.pitemsdata).Count;
                                    counter = counter + 1;
                                    rowcount = rowcount + 1;
                                    if (cnt == rowcount) { rowcount = rowcount + 1; }

                                    if (rowcount % 40 == 0 && cnt != rowcount && cnt != rowcount - 1)
                                    {
                                        pageno = pageno + 1;
                                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;vertical-align:top  ">
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>

                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                                                @item.item
                                            @if (@item.desc != "0" && @item.desc != "")
                                            {@symbols @item.desc}
                                        </td>

                                        @if (Convert.ToBoolean(item.SerItem) == true)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                                        else if (Convert.ToBoolean(item.SerItem) == false)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                                        @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.GSTRate%
                                            </td>*@
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                                            @item.quantity
                                    </td>
                                    @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>*@


                                    @* <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>*@
                                </tr>
                            @:</tbody></table>
                            <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:50px">

                                <tr style="border: 0px solid black; width: 100%;text-align: left;">

                                    <td style="font-weight: bold; width: 220px;border-collapse:collapse;">
                                        <div style="text-align:right;font-size:16px;">For <b>@m.company</b></div><div style="height:50px;"></div><div style="text-align:right;text-emphasis-position:below;font-size:16px;"> <b>(Proprietor)</b></div>
                                    </td>

                                </tr>

                            </table>
                            <div style="page-break-before: always">

                            </div>
                            @*



                                <div  style="text-align: center;width: 100%;float:left; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold; padding-top:80px;padding-bottom:5px;float:left;font-family: Arial, Helvetica, sans-serif">INVOICE @pagetext @pageno)</div>*@
                            //EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr
                            if (Session["AcOwner"].ToString() != "56597")
                            {
                                //if (ViewBag.checkval == "true")
                                //{
                                <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                                    <tr>
                                        <td>
                                            <div style=" overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                @*<div style="text-transform:uppercase"> @m.ouName</div>*@
                                                @*<table style="width: 100%;border-collapse: collapse;" border="0" >

                                                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 , @m.oAdresss2</td></tr>
                                                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>



                                                     </table>*@
                                            </div>
                                        </td>
                                        <td style="text-align:right">
                                            <div style="text-align:right;float:right">
                                                <table border="0">
                                                    <tr>
                                                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                                            @if (@m.logoName != "")
                                                            {
                                                                <img src="@m.logoName" width="200px" alt="" />
                                                            }

                                                        </td>
                                                    </tr>
                                                    @if (Session["AcOwner"].ToString() == "56584")
                                                    {
                                                        @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>*@


                                                    }





                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                //}
                                //            else
                                //            {
                                <table style="width:98%;border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                                    <tr>
                                        <td>
                                            <div style=" overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
                                        </td>
                                    </tr>
                                </table>
                                //}


                            }

                            <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
                                <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
                                    <td colspan="2" style="font-size:16px">
                                        <b> DELIVERY CHALLAN</b>

                                    </td>

                                </tr>

                                <tr style=" border: 1px solid;">
                                    <td style="width:100%;" colspan="2">

                                        <div style="min-height:60px; overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:16px;font-family: Arial, Helvetica, sans-serif;font-weight:bold "> DC No. <b>@m.SONO</b></td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:16px;font-family: Arial, Helvetica, sans-serif;font-weight:bold "> Date: <b>@m.Date</b></td></tr>

                                            </table>

                                        </div>
                                    </td>
                                    @*<td style="width:49%" >

                                        </td>*@
                                </tr>

                                <tr style=" border-top: 1px solid;">
                                    <td style="width:50%;">
                                        <div style="min-height: 140px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                            <table style="width: 80%;border-collapse: collapse;" border="0">

                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>

                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.OPUPhNo</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GST No: <b>@m.CGSTIN</b></td></tr>
                                                @*   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>*@
                                            </table>
                                        </div>
                                    </td>
                                    <td style="width:49%;">
                                        <div style="min-height: 140px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; "><b>To,</b></td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; "><b>@m.Customer</b></td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,@m.SHcity,@m.SHstate,@m.SHcountry,@m.SHzip</td></tr>

                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Phone no.  @m.custPhNo</td></tr>
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">State Code:@m.StateCode</td></tr>
                                                @if (@m.Reference != null && @m.Reference != "" && @m.Reference != "0")
                                                {
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Purchase Order No: <b>@m.Reference</b></td></tr>}
                                                @if (@m.memo != null && @m.memo != "" && @m.memo != "0")
                                                {
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Dispatch Document No: <b>@m.memo</b></td></tr>}
                                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-top:20px;font-weight:bold ">GST No: <b>@m.CustGSTIN</b></td></tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                            @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group ">
                                    <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:57%">Description of Goods </th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:16%">HSN/SAC Code</th>
                                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">GST Rate</th>*@
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Unit </th>
                                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:16%">Quantity</th>
                                        @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>*@

                                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">Amount</th>*@
                                    </tr>
                                </thead>
                                @:<tbody>
                                }
                                else
                                {

                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px; vertical-align:top ">
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">
                                            @item.item
                                        @if (@item.desc != "0" && @item.desc != "")
                                        {@symbols @item.desc}
                                    </td>

                                    @if (Convert.ToBoolean(item.SerItem) == true)
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.HSNCode </td>}
                                    else if (Convert.ToBoolean(item.SerItem) == false)
                                    {
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.SACCode </td>}
                                    @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.GSTRate%
                                        </td>*@
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.UOM </td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-right:3px">
                                        @item.quantity
                                </td>
                                @*  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.rate</td>*@
                                @*<td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-right:3px">@item.lineamt  </td>*@

                            </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 40;
                                if (cnt == 1) { ct = (rowcount) % 40; }
                                if (ct != 0)
                                {
                                    ct = 40 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {
                                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>

                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                                            @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>*@
                                            @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>*@

                                        </tr>}
                                }

                                <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"> </td>
                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:right">@m.TOTQTY  </td>
                                    @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>*@



                                    @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>*@


                                    @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>*@
                                    @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>
                                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>

                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>

                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"> </td>*@
                                </tr>

                            @:</tbody></table>
                        }
                    }
                }
                                </tbody>
                                </table>
                                <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:50px">

                                    <tr style="border: 0px solid black; width: 100%;text-align: left;">

                                        <td style="font-weight: bold; width: 220px;border-collapse:collapse;">
                                            <div style="text-align:right;font-size:16px;">For <b>@m.company</b></div><div style="height:50px;"></div><div style="text-align:right;text-emphasis-position:below;font-size:16px;"> <b>(Proprietor)</b></div>
                                        </td>

                                    </tr>

                                </table>

                            </div>
                        </div>

                                    //}
                                }
    </div>
</body>
</html>
