﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@using MeBizSuiteAppUI.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delivery Challan</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    @*<link href="~/css/Static/print.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            debugger
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                        }
                    });
                }
            }
            else {
                PrintForms();
                @*var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/pdf?FormName=" + FormName + "",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ data: data }),
                        success: function (data) {
                            window.location.href = "/Print/GetPdf?ID=" + @Request["sono"] + "";
                      }
                  });
                  }*@
            }
        });
    </script>
    <style type="text/css">
  
    </style>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "DeliveryChallan"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
                       <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="min-height: 25px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
  @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone NO: @m.OPUPhNo</td></tr>
                @if (m.Custmail != null && m.Custmail != "")
                {<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;font-weight:bold">E-Mail: @m.Custmail</td></tr>}
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;font-weight:bold ">GSTIN: @m.CGSTIN</td></tr>*@
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if(@m.logoName!=""){
                                        <img src="@m.logoName" width="70px" alt="" />
                                        }
                                        </td></tr>    
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
                          <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
              <b>Delivery Challan</b>
    </td>
    
  </tr>

 <tr style=" border-top: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="height:180px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone NO: @m.OPUPhNo</td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GST No: <b>@m.CGSTIN</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>
                       </table>
                            }
                       </div>
   </td>
    <td style="width:50%" >
    <div style="  overflow: hidden;min-height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Invoice No: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.SONO</b></td>
       </tr> 
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Date: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.Date</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Delivery Challan No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.dcno</b></td>
         </tr>
           <tr>
          <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Buyer Purchase Order No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.memo</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Dispatch Document No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.Reference</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-right:1px solid black">Dispatch through </td>
  <td style=" float:left;width:49%;height:30px;text-align:center"> <b>@m.ModeOfTrans</b></td>
         </tr>
          </table>
      </div>                
        </td>
  </tr>
               
                   <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Details of Receiver (Billed to)</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry,</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
 </td>
    <td style="width:49%;" >
             <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Details of Consignee (Shipped to)</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>
          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code: @m.StateCode</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.custPhNo</td></tr>
   
   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
        </td>
  </tr>   
   
  @*<tr style=" border-top: 1px solid;">
    <td colspan="2">
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>*@
</table>

              <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:50%">Description of Goods </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:11%">Products Code </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1;var page=1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                        if (rowcount % 40 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.desc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                        </tr>
                        @:</tbody></table>
                         @:</div><div id="printpage" > 
                            <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr>
                                   <td style="text-align:left;height:30px;width:40%;">Received the above items in full quantity</td>
                                   @if (Session["AcOwner"].ToString() == "56619")
                                      {   
                          <td style="text-align:left;height:30px;width:60%;">Received By :</td>
                                      }
                                   else
                                   {
                                   <td style="text-align:left;height:30px;width:60%;">Deliveried By :</td>}
                               </tr>
                                @*<tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Name :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Signature :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Stamp :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Company Address :</td>
                               </tr>*@
                           </table>
                        @*<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:70px;border-collapse:collapse">
                         <div>
                           <table style=" width:100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;" >
                               <tr style="border: 0px solid black;">
                                  <td colspan="2"  style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:20px;border-collapse:collapse">
                                     VAT TIN NO.:</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:20px;border-collapse:collapse">
                                    <b> @m.OPUVATNO</b></td>
                                </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:20px;border-collapse:collapse">   
                          CST TIN NO :</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:20px;border-collapse:collapse">
                                   <b> @m.OPUCSTNO</b></td>
                               </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:20px;border-collapse:collapse"> 
                             PAN NO. : </td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:20px;border-collapse:collapse">
                                   <b> @m.OPUPANNO</b>
                        </td></tr>
                                      </table>
                       </div>
                    </td>
                </tr>
                            
         </table>*@
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-top: 1px solid; border-bottom: 1px solid ; " >
                     <tr style=" border-top: 1px solid;border-bottom: 1px solid;">
   <td colspan="2" >
        
         <div style="  text-align:center"> @m.footerText</div>
    </td> </tr>
                            </table>@*
                <div style="height:90%;"></div>        
        <div style=" text-align:center;padding-bottom:2em;font-size:10px;">Page - @page</div>
            page=page+1;

                        *@<div style="page-break-before: always">

                        </div>
                        
                        <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="min-height: 25px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
   <div style="text-transform:uppercase"> @m.ouName</div>
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>*@
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt="" />
                                        }
                                        </td></tr>    
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
                          <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
              <b>Delivery Challan</b>
    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="height:180px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone NO: @m.OPUPhNo</td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GST No: <b>@m.CGSTIN</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>
                       </table>
                            }
                       </div>
   </td>
    <td style="width:50%" >
    <div style="  overflow: hidden;min-height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Invoice No: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.SONO</b></td>
       </tr> 
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Date: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.Date</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Delivery Challan No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.dcno</b></td>
         </tr>
           <tr>
          <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Buyer Purchase Order No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.memo</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Dispatch Document No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.Reference</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-right:1px solid black">Dispatch through </td>
  <td style=" float:left;width:49%;height:30px;text-align:center"> <b>@m.ModeOfTrans</b></td>
         </tr>
          </table>
      </div>                
        </td>
  </tr>
               
                   <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Details of Receiver (Billed to)</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry,</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
 </td>
    <td style="width:49%;" >
             <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Details of Consignee (Shipped to)</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>
          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code: @m.StateCode</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.custPhNo</td></tr>
   
   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
        </td>
  </tr>
</table>
                         @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:50%">Description of Goods </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:11%">Products Code </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.desc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 40;
                                if (cnt == 1) { ct = (rowcount) % 40; }
                                if (ct != 0)
                                {
                                    ct = 40 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                }
                        @:</tbody></table>
@*                        @:</div>*@
                            }
                        }
                    }
           </tbody>
                </table>
                   <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                <tr>
                                   <td style="text-align:left;height:30px;width:40%;">Received the above items in full quantity</td>
                                    @if (Session["AcOwner"].ToString() == "56619")
                                      {   
                          <td style="text-align:left;height:30px;width:60%;">Received By :</td>
                                      }
                                   else
                                   {
                                   <td style="text-align:left;height:30px;width:60%;">Deliveried By :</td>}
                               </tr>
                                @*<tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Name :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Signature :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Stamp :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Company Address :</td>
                               </tr>*@
                           </table>
                 
                        
                        @*<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td style="float:left;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:70px;border-collapse:collapse">
                        <div>
                            <table style=" width:100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;" >
                               <tr style="border: 0px solid black;">
                                  <td colspan="2"  style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:20px;border-collapse:collapse">
                                     VAT TIN NO.:</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:20px;border-collapse:collapse">
                                    <b> @m.OPUVATNO</b></td>
                                </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:20px;border-collapse:collapse">   
                          CST TIN NO :</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:20px;border-collapse:collapse">
                                   <b> @m.OPUCSTNO</b></td>
                               </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:20px;border-collapse:collapse"> 
                             PAN NO. : </td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:20px;border-collapse:collapse">
                                   <b> @m.OPUPANNO</b>
                        </td></tr>
                                      </table>
                       </div>
                    </td>
                </tr>
                            
         </table>*@
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid; border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;border-bottom: 1px solid;">
    <td colspan="2" >
        <div style="  text-align:center"> @m.footerText</div>
    </td></tr>
 
                 </table>
                @* <div style="height:90%;"></div>             
        <div style="  text-align:center;font-size:10px;">Page - @pageno</div>*@
               </div>
              </div> 
    </div> 
    } 
</body>
</html>
