﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeliveryChallanGSTLal</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            MultiplePrintForms();
        });
            </script>
</head>
<body style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
    <div id="multiprint" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
@using (Html.BeginForm("Print", "DeliveryChallanGSTLal"))
{
        for (var i = 0; i <=2; i++)
        {
            var m = Model.Where(a => a.SONO != null).FirstOrDefault();
            var c = 0;
            c = c + i;
            if (c == 0)
            {
                  
                  <div style="text-align:right;font-size:10px;"><font color="gray">Original Copy</div>
            }
            else if (c == 1)
            {
                  <div style="page-break-after: always"> </div>
                  <div style="text-align:right;font-size:10px;"><font color="gray">Duplicate Copy</font></div>
            }
            else if (c == 2)
            {
                  <div style="page-break-before: always"> </div>
                  <div style="text-align:right;font-size:10px;"><font color="gray">Triplicate Copy</font></div>
            }
      <div id="printdiv" style="font-size:10px;font-family: Arial, Helvetica, sans-serif;" >
      <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="  overflow: hidden;font-size:12px;border:none;  border-bottom:0px;">
        <table style="width: 100%;border-collapse: collapse;" border="0" >
                    </table></div>
                     </td>
                 <td style="text-align:right">
                  <div style="float:right" >
                       <table  border="0" >
			     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:30px;font-family: Arial, Helvetica, sans-serif;padding-right:30px "> <b>LE</b>
                                      @*  @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt=""/>
                                        }*@
                                        </td></tr>   
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-right:6px "> Since 4 Decades
                                     
                                        </td></tr> 
                                </table> 
                         </div>
                     </td>
                 </tr>
             </table>
            
        <table style="width:98%; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
           
      
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
        @{var taxval = 0;}
         @foreach (var item1tax in ViewBag.taxitemsdata)
         {
             if ((Convert.ToString(item1tax.linetaxamt) != "0" && Convert.ToString(item1tax.linetaxamt) != null) || (Convert.ToString(item1tax.linetotaltax) != "0" && Convert.ToString(item1tax.linetotaltax) != null)) { taxval++; }
         }
          @{   if (Session["AcOwner"].ToString() == "56571" && (taxval == 0))
               {
                 <b>INVOICE ESTIMATED</b>
               }
               else
               {
              <b>DELIVERY CHALLAN</b>}
         }
    </td>
    </tr>
<tr style=" border-top: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="min-height:120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Pin @m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.OPUPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GSTIN : <b>@m.CGSTIN</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:49%" >
     @* <div style="  overflow: hidden;min-height:95px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Invoice No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:30px">Dated : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Delivery Note : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px">Mode/Terms of Payment :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
          <table style="width:100%;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Supplier's Ref. : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:35px">Other Reference(s) :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>*@
               <div style="  overflow: hidden;min-height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:60px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Delivery Challan : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:70px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Order No: <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:65px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>                
        </td>
  </tr>
                 
                @if (Session["AcOwner"].ToString() == "56596")
                {

                }

                else
                {
                   <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           <div style="min-height: 107px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,@m.SHcity,@m.SHstate,@m.SHcountry,@m.SHzip</td></tr>
                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
 
                             <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
 </td>
    

    <td style="width:49%;" >
      @*<div style="  overflow: hidden;min-height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Buyer's Order No : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:30px">Dated : <br /> <b>@m.FreightTerm</b></td>
  </tr> </table>
         <table style="width:100%;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%;height:30px"> Dispatch Document No.  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px">Delivery Note Date: <br /> <b>@m.PaymentTerms</b></td></tr>
 <tr> <td style=" float:left;width:49%;height:30px;border-top:1px solid;"> Dispatched through: </td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px;border-top:1px solid;"> Destination: <br /><b>@m.VehicleNo</b></td>
          
       </tr> </table>
          <table style="width:100% ;min-height:70px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:100%"> Terms of Delivery : <br /> <b>@m.ModeOfTrans</b></td>
</tr> </table>
        </div>*@
        <div style="  overflow: hidden;min-height:107px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:30px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
         <table style="width:100%;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%;height:30px">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td></tr>
 <tr> <td style=" float:left;width:100%;height:15px;border-top:1px solid;">  Truck No: <b>@m.VehicleNo</b> </td>

     @* <td style=" float:left ;width:49%;border-left:1px solid;height:30px;border-top:1px solid;"> <b>@m.VehicleNo</b></td>*@
          
       </tr> </table>
             <table style="width:100% ;min-height:20px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:100%"> Terms of Delivery : <br /> </td>
</tr> </table>
        </div>
        </td>
  </tr>   
                }
</table>
                <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
           <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:52%">Description of Goods </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">HSN/SAC Code</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">GST Rate</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4.4%">Quantity</th>
        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7.6%">Unit </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">Amount</th>
           </tr>
         
    </thead>
              

                                
  @{int counter = 0;
    var q = "(";

    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)"; var symbol = " @24% ";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }

                        if (rowcount % 10 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                         <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                      
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.item - @item.desc<br />
                            </td> 
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.GSTRate%
 </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  
 </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>  
   
                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                             </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                         <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:12px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                               <tr style="width:100%;">
                                <td rowspan="1" style="width:4.2%;border-top:none"></td>
              <td rowspan="1" style="width:46.2%;border-top:none"></td>
             <td style="width:36.5%;border-top:none;text-align:center"> Discount  </td>
             <td style="width:13.1%;text-align:right;border-top:none">@m.Discount</td></tr>
                      @if (@m.amttype != "22713")
                         {
                          <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">CGST  </td><td style="text-align:right">@m.TOTCGT</td></tr> 
                    <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">SGST  </td><td style="text-align:right">@m.TOTSGT</td></tr> 
          
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">IGST  </td><td style="text-align:right"> @m.TOTIGT</td></tr>  }
             <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Round off  </td><td style="text-align:right"> </td></tr>             
         <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  </td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>
                              <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
         
                                 <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 400px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Amount Chargeable (In Words)</div><div></div><div style="text-align:left;">Indian Rupees @m.amtInWord</div>
                    </td>
                    <td  style="font-weight: bold; width: 50px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:10px;">E.&.O.E</div>
                    </td>
                </tr>  
                                   </table>
                        
                              <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:25%">HSN/SAC Code</th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:15%;">Taxable Value</th>
           <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:18%;">Central Tax</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:18%;">State Tax</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">IGST</th>
                           
           </tr>
           <tr>
   
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Amount</th>
              
  </tr>
    </thead>
              

                                
  @{
                            //  int counter = 0;
                            //var q = "(";

                            //var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
                            var rowcount2 = 0; //var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item1 in ViewBag.pitemsdatatax)
                    {
                        rowcount2 = rowcount2 + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        @if (Convert.ToBoolean(item1.SerItem) == true)
                        {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item1.HSNCode </td>}
                        else if (Convert.ToBoolean(item1.SerItem) == false)
                        {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item1.SACCode </td>}
                            
                           
   
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item1.lineamt</td>
                    @if (item1.CGST != 0)
                    {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item1.CGST%</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item1.CGSTAMT</td>}
                    else
                    {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item1.SGST != 0)
                            {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item1.SGST%</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item1.SGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item1.IGST != 0)
                            {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item1.IGST%</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item1.IGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>}
                           
                        </tr>
                    }     
                         @if (@rowcount2 <6)
                                {
                                    for (int ac = rowcount2; ac <= 6; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>  
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                       
                        </tr>}
                                }
                             
            <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:center">TOTAL</td>
                 @if (@m.amttype != "22713")
                         {
<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT1</td>}
                else
                {
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT1</td>}
                       
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                
                        </tr>
                        </tbody>
                </table>
                           <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
         
          @* <tr style="width: 100%;">
               <td  style="text-align: left; width: 100%;">Amount Chargeable (In Words) </td>
                                    
                         </tr>
                                 <tr style="width: 100%;">
                        <td style="text-align: left; width: 100%;font-weight: bold;font-size: 12px;text-transform:capitalize;">Indian Rupees @m.amtInWord1 </td>
                    </tr>*@
                                <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 180px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Amount Chargeable (In Words)</div><div></div><div style="text-align:left;">Indian Rupees @m.amtInWord1</div>
                    </td>
                    <td  style="font-weight: bold; width: 270px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Interest @symbol   will be charged on all accounts unpaid within 15 days after delivery. Our risk and responsibility ceases after delivery of Goods from
our godown Delivery under this Invoice cannot be enforced. </div>
                    </td>
                   
                </tr>  
                            </table>
                       <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Declaration</div><div></div><div style="text-align:left;">Declare that the Invoice shows the actual price of goods described and that all particulars are true and correct</div>
                    </td>
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Company's Bank Details</div><div></div><div style="text-align:left;"> Bank Name: <b>VIJAYA BANK</b><br /> A/c No.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 400800301000342
 <br /> IFSC Code :VIJB0004008 <br /> Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: WEST MARREDPALLY  </div>
                    </td>
                   
                </tr>
                            
         </table>
                        <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:40px" >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;border-right:1px solid black;">
                    <div style="text-align:left;font-size:12px;">Customer's Seal and Signature</div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;"></div>
                    </td>
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:16px;">For <b>@m.company</b></div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;font-size:16px;"> <b>Authorised Signatory</b></div>
                    </td>
                   
                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center;font-weight:bold"> <b>Subject to Secunderabad jurisdictiion.</b></div>
    </td>
  </tr>
                 </table>
                @*    <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>*@
                        <div style="page-break-before: always">

                        </div>
                        @*
                        
                        
                        
                          <div  style="text-align: center;width: 100%;float:left; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold; padding-top:80px;padding-bottom:5px;float:left;font-family: Arial, Helvetica, sans-serif">INVOICE @pagetext @pageno)</div>*@
                    //EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr        
                    if (Session["AcOwner"].ToString() != "56597")
                    {
                        //if (ViewBag.checkval == "true")
                        //{
                        <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style=" overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
  @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            @*<table style="width: 100%;border-collapse: collapse;" border="0" >

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 , @m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    
                                    
                                    
                                    </table>*@</div>
                     </td>
                     <td style="text-align:right">
                         <div style="text-align:right;float:right">
                        <table  border="0" >
			
                                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:30px;font-family: Arial, Helvetica, sans-serif;padding-right:30px "> <b>LE</b>
                                      @*  @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt=""/>
                                        }*@
                                        </td></tr>   
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-right:6px "> Since 4 Decades
                                     
                                        </td></tr>  
                               @if (Session["AcOwner"].ToString() == "56584")
                               {                        
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>*@
                                    

                               }


                                    
                                    
                                    
                                    </table> </div>
                     </td>
                 </tr>
             </table>
                        //}
                        //            else
                        //            {
        <table style="width:98%;border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style=" overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                        //}


                    }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b> DELIVERY CHALLAN</b>

    </td>
    
  </tr>
 <tr style=" border-top: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="min-height:120px; overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
          
 <table style="width: 80%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Pin @m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.OPUPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GSTIN : <b>@m.CGSTIN</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:49%" >
       <div style="  overflow: hidden;min-height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:60px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Invoice No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:70px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Order No : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:65px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>               
        </td>
  </tr>
                @if (Session["AcOwner"].ToString() == "56596")
                {

                }

                else
                {
                   <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           <div style="min-height: 107px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,@m.SHcity,@m.SHstate,@m.SHcountry,@m.SHzip</td></tr>
                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Mob:  @m.custPhNo</td></tr>
                             <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
 </td>
    

    <td style="width:49%;" >
      @*<div style="  overflow: hidden;min-height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Buyer's Order No : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:30px">Dated : <br /> <b>@m.FreightTerm</b></td>
  </tr> </table>
         <table style="width:100%;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%;height:30px"> Dispatch Document No.  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px">Delivery Note Date: <br /> <b>@m.PaymentTerms</b></td></tr>
 <tr> <td style=" float:left;width:49%;height:30px;border-top:1px solid;"> Dispatched through: </td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px;border-top:1px solid;"> Destination: <br /><b>@m.VehicleNo</b></td>
          
       </tr> </table>
          <table style="width:100% ;min-height:70px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:100%"> Terms of Delivery : <br /> <b>@m.ModeOfTrans</b></td>
</tr> </table>
        </div>*@
        <div style="  overflow: hidden;min-height: 107px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:30px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
         <table style="width:100%;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%;height:30px">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:30px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td></tr>
 <tr> <td style=" float:left;width:100%;height:15px;border-top:1px solid;">  Truck No: <b>@m.VehicleNo</b> </td>

     @* <td style=" float:left ;width:49%;border-left:1px solid;height:30px;border-top:1px solid;"> <b>@m.VehicleNo</b></td>*@
          
       </tr> </table>
             <table style="width:100% ;min-height:20px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:100%"> Terms of Delivery : <br /> </td>
</tr> </table>
        </div>
        </td>
  </tr>   
                }
</table>
                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                         <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:52%">Description of Goods </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">HSN/SAC Code</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">GST Rate</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4.4%">Quantity</th>
        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7.6%">Unit </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">Amount</th>
  </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.item - @item.desc <br />
                            </td>
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.SACCode </td>}
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.GSTRate%
 </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-right:3px">@item.quantity  
 </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.rate</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.UOM </td>  
   
                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-right:3px">@item.lineamt  </td>

                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 10;
                                if (cnt == 1) { ct = (rowcount) % 10; }
                                if (ct != 0)
                                {
                                    ct = 10 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                            
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                           
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                                        
                        </tr>}
                                }
                             
                             <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>  
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:right">@m.TOTQTY  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                            
                          
                        
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                        
                            
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> @m.SUBTOT </td>
                                @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"> </td>*@
                        </tr>
                             
                        @:</tbody></table>
                        }
                        }
                    }
           </tbody>
                </table>
                     <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:12px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                               <tr style="width:100%;">
                                <td rowspan="1" style="width:4.2%;border-top:none"></td>
              <td rowspan="1" style="width:46.2%;border-top:none"></td>
             <td style="width:36.5%;border-top:none;text-align:center"> Discount  </td>
             <td style="width:13.1%;text-align:right;border-top:none">@m.Discount</td></tr>
                      @if (@m.amttype != "22713")
                         {
                          <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">CGST  </td><td style="text-align:right">@m.TOTCGT</td></tr> 
                    <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">SGST  </td><td style="text-align:right">@m.TOTSGT</td></tr> 
          
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">IGST  </td><td style="text-align:right"> @m.TOTIGT</td></tr>  }
             <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Round off  </td><td style="text-align:right"> </td></tr>             
         
                            <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  </td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>
                             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
         
@*                                 <tr style="width: 100%;"><td  style="text-align: left; width: 100%;">Amount Chargeable (In Words) </td>
                         </tr>
                                 <tr style="width: 100%;">
                        <td style="text-align: left; width: 100%;font-weight: bold;font-size: 12px;text-transform:capitalize;">Indian Rupees @m.amtInWord </td>
                    </tr>*@
                             <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 400px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Amount Chargeable (In Words)</div><div></div><div style="text-align:left;">Indian Rupees @m.amtInWord</div>
                    </td>
                    <td  style="font-weight: bold; width: 50px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:10px;">E.&.O.E</div>
                    </td>
                   
                </tr>  
                                 
                            </table>
                    <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:25%">HSN/SAC Code</th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:15%;">Taxable Value</th>
           <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:18%;">Central Tax</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:18%;">State Tax</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">IGST</th>
                           
           </tr>
           <tr>
   
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Amount</th>
              
  </tr>
    </thead>
              

                                
  @{
                    //  int counter = 0;
                    //var q = "(";

                    //var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
                    var rowcount1 = 0; //var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdatatax)
                    {
                        rowcount1 = rowcount1 + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        @if (Convert.ToBoolean(item.SerItem) == true)
                        {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                        else if (Convert.ToBoolean(item.SerItem) == false)
                        {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                            
                           
   
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>
                    @if (item.CGST != 0)
                    {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.CGST%</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                    else
                    {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.SGST != 0)
                            {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.SGST%</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.IGST != 0)
                            {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.IGST%</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>}
                           
                        </tr>
                    }      
                         @if (@rowcount1 <6)
                                {
                                    for (int ac = rowcount1; ac <= 6; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>  
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                       
                        </tr>}
                                }
                             
            <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:center">TOTAL</td>
                @if (@m.amttype != "22713")
                         {
<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT1</td>}
                else
                {
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT1</td>}
                       
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                
                        </tr>
                        </tbody>
                </table>
                           <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
         
          @* <tr style="width: 100%;">
               <td  style="text-align: left; width: 100%;">Amount Chargeable (In Words) </td>
                                    
                         </tr>
                                 <tr style="width: 100%;">
                        <td style="text-align: left; width: 100%;font-weight: bold;font-size: 12px;text-transform:capitalize;">Indian Rupees @m.amtInWord1 </td>
                    </tr>*@
                                <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 180px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Amount Chargeable (In Words)</div><div></div><div style="text-align:left;">Indian Rupees @m.amtInWord1</div>
                    </td>
                    <td  style="font-weight: bold; width: 270px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Interest @symbol   will be charged on all accounts unpaid within 15 days after delivery. Our risk and responsibility ceases after delivery of Goods from
our godown Delivery under this Invoice cannot be enforced.</div>
                    </td>
                   
                </tr>  
                            </table>
                       <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Declaration</div><div></div><div style="text-align:left;">Declare that the Invoice shows the actual price of goods described and that all particulars are true and correct</div>
                    </td>
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Company's Bank Details</div><div></div><div style="text-align:left;"> Bank Name: <b>VIJAYA BANK</b><br /> A/c No.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 400800301000342
 <br /> IFSC Code :VIJB0004008 <br /> Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: WEST MARREDPALLY  </div>
                    </td>
                   
                </tr>
                            
         </table>
                        <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:40px" >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;border-right:1px solid black;">
                    <div style="text-align:left;font-size:12px;">Customer's Seal and Signature</div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;"></div>
                    </td>
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:16px;">For <b>@m.company</b></div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;font-size:16px;"> <b>Authorised Signatory</b></div>
                    </td>
                   
                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center;font-weight:bold"> <b>Subject to Secunderabad jurisdictiion.</b></div>
    </td>
  </tr>
                 </table>
               </div>
    </div>
        </div>
    }
    }
    </div>
</body>
</html>