﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@using MeBizSuiteAppUI.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delivery Challan</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
   
    <script>
        $(document).ready(function () {
            debugger
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                        }
                    });
                }
            }
            else {
                PrintForms();
               
            }
        });
    </script>
    <style type="text/css">
  
    </style>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "DeliveryChallan"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
                       <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>

<div style="height: 120px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
  
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                                  <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;"><b>SATHVIKA FIRE SERVICES</b></td></tr>
                                  <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 12px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;">(We care for your Safety)</td></tr>
                                    <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">REGD. OFFICE  # 4-248, Geetha Nagar,Malkajgiri, SEC-BAD – 500047. </td></tr>
                                  <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">Ph: 91-9849062766, 91- 7799899978, 040-65342116.</td></tr>
                 <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">TeleFax: 040-27055233</td></tr>
                <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> BRANCH.OFFICE: # 5-5-65, 1st floor, shop No.F3,
S.A.Tradecentre, Ranigunj, SEC-BAD - 500003. </td></tr>
        <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> Ph: 91-9030027699, 91- 8555981559, 040-49519629. </td></tr>
         <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> E-Mail: info@sathvikafireservices.com </td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if(@m.logoName!=""){
                                        <img src="@m.logoName" width="120px" alt="" />
                                        }
                                        </td></tr>    
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
                          <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
              <b>Delivery Challan</b>
    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 104px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;"> 
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss &nbsp; @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss2  @m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    </table>
                       </div>
   </td>
    <td style="width:41%" >
                              <div style="  overflow: hidden;height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Invoice No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Date : <br /> <b>@m.Date</b></td>  
      </tr> </table>
        <table style="width:100%;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Order No : <br /> <b>@m.dcno</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
                   <tr style=" border-top: 1px solid;">
    <td style="width:59%;" >
<div style="height: 100px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss1 &nbsp;,@m.soAdresss2 </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity &nbsp;, @m.sostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socountry-@m.sozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    </table></div>
                       
   </td>
    

    <td style="width:41%;" >
                               <div style="  overflow: hidden;height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>   
   
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
</table>

              <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:30%">Description of Goods </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:31%">Products Code </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1;var page=1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                        if (rowcount % 15 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.desc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                        </tr>
                        @:</tbody></table>
                         @:</div><div id="printpage" > 
                             <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr>
                                   <td style="text-align:left;height:30px;width:40%;">Received the above items in full quantity</td>
                                   <td style="text-align:left;height:30px;width:60%;">Deliveried By :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Name :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Signature :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Stamp :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Company Address :</td>
                               </tr>
                           </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:90px;border-collapse:collapse">
                         <div>
                           <table style=" width:100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;" >
                               <tr style="border: 0px solid black;">
                                  <td colspan="2"  style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse">
                                     GSTIN.:</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                    <b> @m.CGSTIN</b></td>
                                </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2"  style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse">
                                     VAT TIN NO.:</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                    <b> @m.OPUVATNO</b></td>
                                </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse">   
                          CST TIN NO :</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                   <b> @m.OPUCSTNO</b></td>
                               </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse"> 
                             SERVICE TAX NO: </td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                   <b> @m.OPUPANNO</b><b>SD001</b>
                        </td></tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse"> 
                             PAN NO. : </td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                   <b> @m.OPUPANNO</b>
                        </td></tr>
                                      </table>
                       </div>
                    </td>
                </tr>
                            
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-top: 0px solid; border-bottom: 1px solid ; " >
                     <tr style=" border-top: 1px solid;border-bottom: 1px solid;">
   <td colspan="2" >
        
         <div style="  text-align:center"> @m.footerText</div>
    </td> </tr>
                            </table>@*
               

                        *@<div style="page-break-before: always">

                        </div>
                        
                        <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 120px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
  
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                                  <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;"><b>SATHVIKA FIRE SERVICES</b></td></tr>
                                  <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 12px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;">(We care for your Safety)</td></tr>
                                    <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">REGD. OFFICE  # 4-248, Geetha Nagar,Malkajgiri, SEC-BAD – 500047. </td></tr>
                                  <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">Ph: 91-9849062766, 91- 7799899978, 040-65342116.</td></tr>
                 <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">TeleFax: 040-27055233</td></tr>
                <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> BRANCH.OFFICE: # 5-5-65, 1st floor, shop No.F3,
S.A.Tradecentre, Ranigunj, SEC-BAD - 500003. </td></tr>
        <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> Ph: 91-9030027699, 91- 8555981559, 040-49519629. </td></tr>
         <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> E-Mail: info@sathvikafireservices.com </td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if(@m.logoName!=""){
                                        <img src="@m.logoName" width="120px" alt="" />
                                        }
                                        </td></tr>    
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
                          <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
              <b>Delivery Challan</b>
    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 104px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;"> 
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss &nbsp; @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss2  @m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    </table>
                       </div>
   </td>
    <td style="width:41%" >
                                <div style="  overflow: hidden;height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Invoice No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Date : <br /> <b>@m.Date</b></td>  
      </tr> </table>
        <table style="width:100%;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Order No : <br /> <b>@m.dcno</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
                   <tr style=" border-top: 1px solid;">
    <td style="width:59%;" >
<div style="height: 100px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss1 &nbsp;,@m.soAdresss2 </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity &nbsp;, @m.sostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socountry-@m.sozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    </table></div>
                       
   </td>
    

    <td style="width:41%;" >
                               <div style="  overflow: hidden;height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>   
   
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
</table>
                         @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:30%">Description of Goods </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:31%">Products Code </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.desc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 15;
                                if (cnt == 1) { ct = (rowcount) % 15; }
                                if (ct != 0)
                                {
                                    ct = 15 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                }
                        @:</tbody></table>
@*                        @:</div>*@
                        }
                        }
                    }
           </tbody>
                </table>
                    <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                <tr>
                                   <td style="text-align:left;height:30px;width:40%;">Received the above items in full quantity</td>
                                   <td style="text-align:left;height:30px;width:60%;">Deliveried By :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Name :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Signature :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Stamp :</td>
                               </tr>
                               <tr>
                                   <td colspan="2" style="text-align:left;height:20px;">Company Address :</td>
                               </tr>
                           </table>
                 
                        
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td style="float:left;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:90px;border-collapse:collapse">
                        <div>
                            <table style=" width:100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;" >
                                 <tr style="border: 0px solid black;">
                                  <td colspan="2"  style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse">
                                     GSTIN.:</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                    <b> @m.CGSTIN</b></td>
                                </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2"  style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse">
                                     VAT TIN NO.:</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                    <b> @m.OPUVATNO</b></td>
                                </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse">   
                          CST TIN NO :</td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                   <b> @m.OPUCSTNO</b></td>
                               </tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse"> 
                             SERVICE TAX NO: </td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                   <b> @m.OPUPANNO</b><b>SD001</b>
                        </td></tr>
                               <tr style="border: 0px solid black;">
                                  <td colspan="2" style="text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:70%;height:15px;border-collapse:collapse"> 
                             PAN NO. : </td>
                                   <td colspan="2"  style="text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:30%;height:15px;border-collapse:collapse">
                                   <b> @m.OPUPANNO</b>
                        </td></tr>
                                      </table>
                       </div>
                    </td>
                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid; border-top: 0px solid; border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;border-bottom: 1px solid;">
    <td colspan="2" >
        <div style="  text-align:center"> @m.footerText</div>
    </td></tr>
 
                 </table>
              
               </div>
              </div> 
    </div> 
    } 
</body>
</html>
