﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoicePrintGSTVSE</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
   
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                        $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Invoice",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=Invoice&Vendorref=" + $i("#SATABLE009COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                        }
                    });
                }
            }

            else if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "automail") {
                var data = $('#printdiv')[0].innerHTML;
                AutoEmailSend(FormName, data, '@Request["sono"]');
            }
            else {
                PrintForms();
            }
        });
    </script>
<style type="text/css">
  
    </style>
</head>

<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "InvoicePrintGSTVSE"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();

        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;" >
          
         @if (Session["AcOwner"].ToString() != "56597")
         {
            <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                 <td>
<div style="height: 85px;  overflow: hidden;font-size:12px;border:none;  border-bottom:0px;">
 </div>
  </td>
     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
			   
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt=""/>
                                        }
                                        </td></tr>    
                                </table> 
                         </div>
                        </td>
                 </tr>
             </table>
        <table style="width:98%; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
           }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
        @{var taxval = 0;}
         @foreach (var item1tax in ViewBag.taxitemsdata)
         {
             if ((Convert.ToString(item1tax.linetaxamt) != "0" && Convert.ToString(item1tax.linetaxamt) != null) || (Convert.ToString(item1tax.linetotaltax) != "0" && Convert.ToString(item1tax.linetotaltax) != null)) { taxval++; }
         }
          @{   if (Session["AcOwner"].ToString() == "56571" && (taxval == 0))
               {
                 <b>INVOICE ESTIMATED</b>
               }
               else
               {
              <b>TAX INVOICE</b>}
         }
       </td>
    </tr>
<tr style=" border: 1px solid;">
    <td style="width:50%" >
               <div style="min-height:90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >

                            
               
                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1,@m.compA2,@m.compCtry,</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity,@m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State:  @m.compState</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Serial No. of Invoice: @m.SONO </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Date of Invoice: @m.Date</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.OPUPhNo</td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:49%;vertical-align:top;border-left:1px solid" >
       <table style="width: 80%;border-collapse: collapse;vertical-align:top" border="0" >
             <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-top:0px">Transportation Mode:@m.ModeOfTrans</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Vehicle Details:@m.TrackingNo</td></tr>
           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Reference No : @m.SalesRep</td></tr>
           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Memo : @m.memo</td></tr>
   </table>
   </td>
  </tr>
    <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           @if (Session["AcOwner"].ToString() == "56597")
                           {<div style="min-height: 130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <table style="width: 90%;border-collapse: collapse;" border="0" >
</table></div>
                           }
                           else
                  {<div style="min-height:130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:14px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Receiver (Billed to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry,</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
              </table></div>
                           }
</td>
       <td style="width:49%;" >
      <div style="min-height:130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:14px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Consignee (Shipped to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>
          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
   
   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
     </table></div>
       </td>
  </tr>   
</table>
                <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
           <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:40%">Description of Goods </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">HSN/SAC </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Qty</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Rate</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Dis%</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Taxable Value</th>
           <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">CGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">SGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">IGST</th>
           </tr>
           <tr>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
               
                          
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
  </tr>
    </thead>
              

                                
  @{int counter = 0;
    var q = "(";

    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)"; var itemdesc = ""; var br = "<br />";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                        if (@item.desc != "" && @item.desc != "0") { itemdesc = "- " + @item.desc + ""; } else { itemdesc = ""; }
                        if (rowcount % 30 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                         <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item @itemdesc  </td>
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                           
    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  
 </td>
           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>                 
                                        @if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                                        {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}
                             @if (item.CGST != 0 || item.SGST != 0 || item.IGST != 0)
                             {
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}

                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Discount </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>
                            
                                  @if (item.CGST != 0)
                                  {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                  else
                                  {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.SGST != 0)
                            {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.IGST != 0)
                            {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @*@if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                            {
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}*@
                             </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                           <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
                                  @if (@m.PackingCharges != "" && @m.PackingCharges != "0" && @m.PackingCharges != "0.00" && @m.PackingCharges != null)
                        { <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Packing Charges</td>
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">@m.PackingCharges  </td>
                    </tr>}
                                @if (@m.ShippingCharges != "" && @m.ShippingCharges != "0" && @m.ShippingCharges != "0.00" && @m.ShippingCharges != null)
                        { <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Shipping Charges</td>
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">@m.ShippingCharges  </td>
                    </tr>}
            <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Total Invoice Value (In figure)</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">@m.TotalAmount   </td>
                    </tr>
                                 <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Total Invoice Value (In Words)</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px"> INR @m.amtInWord  </td>
                    </tr>
                                  <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Amount of Tax Subject to Reverse Charges</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:10px;padding-bottom:5px;">@m.RevCharge  </td>
                    </tr>
                            </table>
 <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:40px" >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 250px;border-collapse:collapse;border-right:1px solid black;">
                    <div style="text-align:left;font-size:12px;"></div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;"></div>
                    </td>
          <td  style="font-weight: bold; width: 200px;border-collapse:collapse;border-top:1px solid black">
                    <div style="text-align:right;font-size:12px;">For @m.company</div>
                         @if (@m.Signature != "" && @m.Signature != null)
                         { <div style="text-align:right;text-emphasis-position:below;"> 
                           <img src="@m.Signature" width="70px" height="40px" alt="" />
                           </div>
                         }
                         else
                         {<div style="height:40px;"></div>
                         }
                        <div style="text-align:right;text-emphasis-position:below;font-size:16px;">Authorized Signature</div>
                    </td>
                   
                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
                        @*
                        
                        
                        
                          <div  style="text-align: center;width: 100%;float:left; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold; padding-top:80px;padding-bottom:5px;float:left;font-family: Arial, Helvetica, sans-serif">INVOICE @pagetext @pageno)</div>*@
                         //EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr        
                         if (Session["AcOwner"].ToString() != "56597")
                         {
                             //if (ViewBag.checkval == "true")
                             //{
                        <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 94px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
  @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            @*<table style="width: 100%;border-collapse: collapse;" border="0" >

                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 , @m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    
                                    
                                    
                                    </table>*@</div>
                     </td>
                     <td style="text-align:right">
                         <div style="text-align:right;float:right">
                        <table  border="0" >
			
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt=""/>
                                        }
                                        </td></tr>  
                               </table> </div>
                     </td>
                 </tr>
             </table>
       <table style="width:98%;border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style=" overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                      }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b> TAX INVOICE</b>

    </td>
    
  </tr>
<tr style=" border: 1px solid;">
    <td style="width:50%" >
               <div style="min-height:90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >

                            
               
                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1,@m.compA2,@m.compCtry,</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity,@m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State:  @m.compState</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Serial No. of Invoice: @m.SONO </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Date of Invoice: @m.Date</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no: @m.OPUPhNo</td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:49%;vertical-align:top;border-left:1px solid" >
       <table style="width: 80%;border-collapse: collapse;vertical-align:top" border="0" >
             <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-top:0px">Transportation Mode:@m.ModeOfTrans</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Vehicle Details:@m.TrackingNo</td></tr>
           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Reference No : @m.SalesRep</td></tr>
           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Memo : @m.memo</td></tr>
   </table>
   </td>
  </tr>
    <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           @if (Session["AcOwner"].ToString() == "56597")
                           {<div style="min-height: 130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <table style="width: 90%;border-collapse: collapse;" border="0" >
</table></div>
                           }
                           else
                  {<div style="min-height:130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:14px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Receiver (Billed to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry,</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
              </table></div>
                           }
</td>
       <td style="width:49%;" >
      <div style="min-height:130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:14px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Consignee (Shipped to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>
          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
   
   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
     </table></div>
       </td>
  </tr>
</table>

         @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                         <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:40%">Description of Goods </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">HSN/SAC </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Qty</th>
                         <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
                          <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Rate</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Dis%</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Taxable Value</th>
                           
                       
          
 @*<td rowspan="2"></td>*@
    <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">CGST</th>
    <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">SGST</th>
    <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:10%;">IGST</th>
    @*<td rowspan="2"></td>*@
    @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Rate</th>
    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Amount</th>
     <th scope="col"style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Rate</th>
    <th scope="col"style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Amount</th>
               <th scope="col"style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Rate</th>
    <th scope="col"style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Amount</th>*@
                 </tr>
                 <tr>
     <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
      <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>

<th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
  </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.item @itemdesc  </td>
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                           
    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  
 </td>
           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>                 
                                         @if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                                         {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}
                             @if (item.CGST != 0 || item.SGST != 0 || item.IGST != 0)
                             {
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}

                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Discount </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>
                            
                                  @if (item.CGST != 0)
                                  {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                  else
                                  {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.SGST != 0)
                            {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.IGST != 0)
                            {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @*@if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                            {
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}*@

                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 30;
                                if (cnt == 1) { ct = (rowcount) % 30; }
                                if (ct != 0)
                                {
                                    ct = 30 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                            
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                           
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>  
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>

                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>


                        </tr>}
                                }
                             
                             <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>  
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTQTY </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                            
                          
                        
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT</td>
                        
                            
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                        </tr>
                             
                        @:</tbody></table>
                        @:</div>
                        }
                        }
                    }
           </tbody>
                </table>
                             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
                                  @if (@m.PackingCharges != "" && @m.PackingCharges != "0" && @m.PackingCharges != "0.00" && @m.PackingCharges != null)
                                  { <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Packing Charges</td>
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">@m.PackingCharges  </td>
                    </tr>}
                                 @if (@m.ShippingCharges != "" && @m.ShippingCharges != "0" && @m.ShippingCharges != "0.00" && @m.ShippingCharges != null)
                        { <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Shipping Charges</td>
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">@m.ShippingCharges  </td>
                    </tr>}
            <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Total Invoice Value (In figure)</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">@m.TotalAmount  </td>
                    </tr>
                                 <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Total Invoice Value (In Words)</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px">INR @m.amtInWord </td>
                    </tr>
                                  <tr style="width: 100%;"><td  style="text-align: left; width: 30%;padding-top:5px">Amount of Tax Subject to Reverse Charges</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;padding-top:5px"> @m.RevCharge  </td>
                    </tr>
                            </table>
 <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:40px" >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; width: 250px;border-collapse:collapse;border-right:1px solid black;">
                    <div style="text-align:left;font-size:12px;"></div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;"></div>
                    </td>
          <td  style="font-weight: bold; width: 200px;border-collapse:collapse;border-top:1px solid black">
                    <div style="text-align:right;font-size:12px;">For @m.company</div>
                         @if (@m.Signature != "" && @m.Signature != null)
                         { <div style="text-align:right;text-emphasis-position:below;"> 
                           <img src="@m.Signature" width="70px" height="40px" alt="" />
                           </div>
                         }
                         else
                         {<div style="height:40px;"></div>
                         }
                        <div style="text-align:right;text-emphasis-position:below;font-size:16px;">Authorized Signature</div>
                    </td>
                   
                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
       <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
               </div>
    </div>
           
        </div>
         
    }
    
</body>
</html>
