﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoicePrintGSTSDE</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
   
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {


                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Invoice",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=Invoice&Vendorref=" + $i("#SATABLE009COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                        }
                    });
                }
            }

            else if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "automail") {
                var data = $('#printdiv')[0].innerHTML;
                AutoEmailSend(FormName, data, '@Request["sono"]');
            }
            else {
                PrintForms();
            }
        });
    </script>
<style type="text/css">
  
    </style>
</head>

<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "InvoicePrintGSTSDE"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();

        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
          
         @if (Session["AcOwner"].ToString() != "56597")
         {
           
            <table  style="width:100%; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;border-bottom:0px;border-top:1px solid black;border-left:1px solid black;border-right:1px solid black">
                 
                <tr>
                   <td style="width:80%;" > 
                       <table>
                @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:16px;font-family: Arial, Helvetica, sans-serif;text-decoration-line:underline;"><b>TAX INVOICE</b></td></tr>*@
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:20px;font-family: Arial, Helvetica, sans-serif;padding-left:220px "><b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">@m.compA1</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">@m.compCtry,@m.compState </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px "> @m.compCity-@m.compZip</td></tr>
               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">GSTIN: <b>@m.CGSTIN</b></td></tr>
                
                 @if (Session["AcOwner"].ToString() == "56837" || Session["AcOwner"].ToString() == "56836")
                 {
                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">Phone No: @m.OPUPhNo</td>
                     </tr>
                 }
                 else
                 {
                <tr><td  style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">Phone No. 0866-6697779, 6572727 Mob No. 9966992247</td>
                   
                   
                </tr>}
                     </table>  </td> 
                    <td  style="width:20%" >
                       <div style="float:right"> 
                           <table>
                  <tr>
                       
  <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif; ">
        
                                    @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="100px";alt=""/>
                                        }
                                        </td>
                </tr></table>
                           </div>
                           
                           </td>
                </tr>
             </table>
        <table style="width:98%; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
         }

             <table border="1" style="width:100%;min-height:90px;  border-bottom:0px;border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
        @{var taxval = 0;}
         @foreach (var item1tax in ViewBag.taxitemsdata)
         {
             if ((Convert.ToString(item1tax.linetaxamt) != "0" && Convert.ToString(item1tax.linetaxamt) != null) || (Convert.ToString(item1tax.linetotaltax) != "0" && Convert.ToString(item1tax.linetotaltax) != null)) { taxval++; }
         }
          @{   if (Session["AcOwner"].ToString() == "56571" && (taxval == 0))
               {
                 <b>INVOICE ESTIMATED</b>
               }
               else
               {
              <b>TAX INVOICE</b>}
         }
    </td>
  </tr>
<tr style=" border: 1px solid;">
    <td style="width:50%" >
                   <div style="min-height:30px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          @if (Session["AcOwner"].ToString() != "56597")
                          {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >
@*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: <b>@m.CGSTIN</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:20px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2,@m.compCtry,</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity,@m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State:  @m.compState</td></tr>*@
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Serial No. of Invoice: <b>@m.SONO</b> </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Date of Invoice: <b>@m.Date</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Shipping Carrier: <b>@m.OPUVATNO</b></td></tr>   
                                    </table>
                          }

                          else
                          {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                          }
                       </div>
   </td>
    <td style="width:49%" >
    </td>
  </tr>
               @if (Session["AcOwner"].ToString() == "56596")
               {

               }

               else
               {
                   <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           
                           @if (Session["AcOwner"].ToString() == "56597")
                           {<div style="height: 90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <table style="width: 90%;border-collapse: collapse;" border="0" >
</table></div>
                           }
                           else
                           {<div style="height: 130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Receiver (Billed to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b> </td></tr>
                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address:@m.cAdresss, @m.cAdresss1,@m.ccity,@m.ccountry,@m.czip</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  <b>@m.custPhNo</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Transport Name: <b>@m.TransportName</b></td></tr>
                                   
                                    </table></div>
                           }

                       
   </td>
    

    <td style="width:49%;" >
      
        @if (Session["AcOwner"].ToString() == "56597")
        {

        }

        else
        {
           <div style="height:130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Consignee (Shipped to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b> </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address:@m.SHAdresss, @m.SHAdresss1,@m.SHAdresss2,</td></tr>
                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcity,@m.SHcountry,@m.SHzip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.SHstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  <b>@m.custPhNo</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Transport Name: <b>@m.TransportName</b></td></tr>
                                   
                                    </table></div>
        }
        </td>
  </tr>   
               }
 
    @if (Session["AcOwner"].ToString() == "56597")
    {
    }
   
</table>
                <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
           <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">HSN/SAC Code</th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:40%">Description of Goods </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Quantity</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Rate</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Dis(%)</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Taxable Value</th>
           <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">CGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">SGST</th>
           <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">IGST</th>
                            <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%;">Amount</th>
           </tr>
           <tr>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
    <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
  </tr>
    </thead>
              

                                
  @{int counter = 0;
    var q = "(";

    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }

                        if (rowcount % 30 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                         <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                         @if (Convert.ToBoolean(item.SerItem) == true)
                         {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                         else if (Convert.ToBoolean(item.SerItem) == false)
                         {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.itemfamily  </td>
                           
    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  
 </td>
           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>                 
                                        @if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                                        {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}
                             @if (item.CGST != 0 || item.SGST != 0 || item.IGST != 0)
                             {
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}

                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.ILDis </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>
                            
                                  @if (item.CGST != 0)
                                  {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                  else
                                  {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.SGST != 0)
                            {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.IGST != 0)
                            {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                         </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style="border-bottom:1px solid black " >
                               <td rowspan="1" style="width: 4%;border-top:none"></td>
              <td rowspan="1" style="width:55.5%;border-top:none"></td>
	           <td style="border-top:none;text-align:center;border-bottom:none;"> Total  </td>
                                            <td style="width:13.5%;border-top:none;text-align:right;border-bottom:none;">@m.SUBTOT</td>
                                        </tr>
                                
 <tr><td></td><td style="border-left:none;border-top:none"></td><td style="border-left:none;border-top:none;text-align:center">Discount  </td><td style="text-align:right"> @m.Discount</td></tr>
           
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">CGST  </td><td style="text-align:right"> @m.TOTCGT</td></tr> 
            
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">SGST  </td><td style="text-align:right">@m.TOTSGT</td></tr> 
          
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">IGST  </td><td style="text-align:right"> @m.TOTIGT</td></tr>     
                                        @if (@m.PackingCharges != "" && @m.PackingCharges != "0" && @m.PackingCharges != "0.00" && @m.PackingCharges != null)
                                        {
                                        <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Packing Charges  </td><td style="text-align:right"> @m.PackingCharges </td></tr>}
                                        @if (@m.ShippingCharges != "" && @m.ShippingCharges != "0" && @m.ShippingCharges != "0.00" && @m.ShippingCharges != null)
                                        {
                                        <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Shipping Charges  </td><td style="text-align:right"> @m.ShippingCharges </td></tr>}
                                        <tr><td></td><td style="border-left:none">Rs.:@m.amtInWord</td><td style="border-left:none;text-align:center">Round off  </td><td style="text-align:right"> @m.RoundOff </td></tr>
           <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  </td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>
                  <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
     @*  <tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Total Invoice Value (In Words)</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;"> INR @m.amtInWord  </td>
                    </tr>*@
                                  @*<tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Amount of Tax Subject to Reverse Charges</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.RevCharge  </td>
                    </tr>*@
                            </table>
                      <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                        <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                   {
                                       if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                       {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:left;float:left;;padding-right:20px;padding-top:2px"> @item1.linetaxes: @item1.linetotaltax</DIV>
                                       }
                                       else
                                       {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;"></DIV>  
                                       }

                                   }</td>
                       </tr>
                         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style="border: 0px solid black; width: 100%;text-align: left;">
                         <td style="width: 400px;border-collapse:collapse;">
<div>
    <b>Terms & Conditions: </b></div>
<div>1.Please obtain proper receipt for the payment mode or goods returned or short recieved if any otherwise firm will not be responsible.</div>
<div>2.Interest 24% p.a will be charged if payment is not made within 30 days from the date of invoice.</div>
 @if (Session["AcOwner"].ToString() == "56837" || Session["AcOwner"].ToString() == "56836")
                 {
<div><b>3.Bank A/c Details: <b>@m.footerText</b></div>
}
else
{
<div><b>3.Bank A/c Details: <b>HDFC, ACCOUNT NUMBER:50200014445551, IFS CODE: HDFC0001456,</b> BRANCH : VIJAYAWADA ELURU ROAD BRANCH</b></div>}
<div>4.No Goods return will be accepted except for genuine defects levis.</div>
<div>5.All distputes subject to vijayawada jurisdiction only.</div>
                             <div><b>E.&.O.E</b></div>
                         </td>
                    <td  style="font-weight: bold; width: 200px;border-collapse:collapse;border-top:1px solid black;border-left:1px solid black">
                    <div style="text-align:right;font-size:10px;">For @m.oAdresss</div><div style="height:80px;"></div><div style="text-align:right;text-emphasis-position:below;"> Signature</div>
                    </td>
                </tr>
                            
         </table>
@*<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:10px;">@m.oAdresss</div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;"> Signature</div>
                    </td>
                </tr>
         </table>*@
                 @*<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>*@
                        <div style="page-break-before: always">
</div>
                          
                                   if (Session["AcOwner"].ToString() != "56597")
                                   {
                                
                     
                <table  style="width:100%; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;border-bottom:0px;border-top:1px solid black;border-left:1px solid black;border-right:1px solid black">

                    
                <tr>
                   <td style="width:80%;" > 
                       <table>
                @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:16px;font-family: Arial, Helvetica, sans-serif;text-decoration-line:underline;"><b>TAX INVOICE</b></td></tr>*@
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:20px;font-family: Arial, Helvetica, sans-serif;padding-left:220px "><b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">@m.compA1</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">@m.compCtry,@m.compState </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px "> @m.compCity-@m.compZip</td></tr>
               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">GSTIN: <b>@m.CGSTIN</b></td></tr>
                  @if (Session["AcOwner"].ToString() == "56837" || Session["AcOwner"].ToString() == "56836")
                 {
                     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:220px ">Phone No: @m.OPUPhNo</td>
                     </tr>
                 }
                 else
                 {
                <tr><td  style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:20px ">Phone No. 0866-6697779, 6572727 Mob No. 9966992247</td>
               
                </tr>}
                     </table>  </td> 
                    <td  style="width:20%" >
                       <div style="float:right"> 
                           <table>
                  <tr>
  <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif; ">
           
                                    @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="100px";alt=""/>
                                        }
                                        </td>
                </tr></table>
                           </div>
                           </td>
                </tr>
             </table>
                               
        <table style="width:98%;border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style=" overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                                   }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b> TAX INVOICE</b>

    </td>
    
  </tr>
 <tr style=" border: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="min-height:30px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >

                            @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1,@m.compA2,@m.compCtry,</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity,@m.compZip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State:  @m.compState</td></tr>*@
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Serial No. of Invoice: <b>@m.SONO</b> </td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Date of Invoice: <b>@m.Date</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Shipping Carrier: <b>@m.OPUVATNO</b></td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:49%" >
    
        </td>
  </tr>
                 
                @if (Session["AcOwner"].ToString() == "56596")
                {

                }

                else
                {
                   <tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           
                           @if (Session["AcOwner"].ToString() == "56597")
                           {<div style="height: 90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <table style="width: 90%;border-collapse: collapse;" border="0" >
</table></div>
                           }
                           else
                           {<div style="height: 130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Receiver (Billed to)</b></div> 
                            <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address:@m.cAdresss, @m.cAdresss1,@m.ccity,@m.ccountry,@m.czip</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  <b>@m.custPhNo</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Transport Name: <b>@m.TransportName</b></td></tr>
                                    </table></div>
                           }

                       
   </td>
    

    <td style="width:49%;" >
      
        @if (Session["AcOwner"].ToString() == "56597")
        {

        }

        else
        {
           <div style="height: 130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <div style="font-size:12px;border-bottom:1px solid black;padding-left:90px" ><b>Details of Consignee (Shipped to)</b></div> 
                             <table style="width: 90%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Name: <b>@m.Customer</b> </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Address: @m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2,</td></tr>
                                  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcity,@m.SHcountry,@m.SHzip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.SHstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  <b>@m.custPhNo</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
				     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Transport Name: <b>@m.TransportName</b></td></tr>
                                   
                                    </table></div>
        }
        </td>
  </tr>   
                }
 
    @if (Session["AcOwner"].ToString() == "56597")
    {
    }
   
</table>



                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                         <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                          <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">HSN/SAC Code</th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:40%">Description of Goods </th>
           
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Quantity</th>
                         <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Unit </th>
                          <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Rate</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%">Total</th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">Dis(%)</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Taxable Value</th>

    <th colspan="2" scope='colgroup'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">CGST</th>
    <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">SGST</th>
    <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%;">IGST</th>
                          <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:5%;">Amount</th>
                         
   </tr>
      <tr>
     <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
      <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>

<th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                           <th scope='col'  style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
    <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
          <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
  </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                       
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.itemfamily  </td>
    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  
 </td>
           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>                 
                                         @if (item.CGST == 0 && item.SGST == 0 && item.IGST == 0)
                                         {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}
                             @if (item.CGST != 0 || item.SGST != 0 || item.IGST != 0)
                             {
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.lineamt</td>}

                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.ILDis </td>
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt </td>
                            
                                  @if (item.CGST != 0)
                                  {      
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGST</td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.CGSTAMT</td>}
                                  else
                                  {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.SGST != 0)
                            {  
                         <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.SGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            @if (item.IGST != 0)
                            {  
                              <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGST</td>
                             <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.IGSTAMT  </td>}
                            else
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>}
                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                           
                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 30;
                                if (cnt == 1) { ct = (rowcount) % 30; }
                                if (ct != 0)
                                {
                                    ct = 30 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                            
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                           
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>  
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>

                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>

                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>
                        </tr>}
                                }
                             
                             <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b></b></td>  
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">TOTAL </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTQTY </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT</td>
                        
                            
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>
                                 @*<td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"></td>*@
                        </tr>
                             
                        @:</tbody></table>
                        @:</div>
                        }
                        }
                    }
           </tbody>
                </table>
                             <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style="border-bottom:1px solid black " >
                               <td rowspan="1" style="width: 4%;border-top:none"></td>
              <td rowspan="1" style="width:55.5%;border-top:none"></td>
	           <td style="border-top:none;text-align:center;border-bottom:none;"> Total  </td>
                                        <td style="width:13.5%;border-top:none;text-align:right;border-bottom:none;">@m.SUBTOT</td>
                                    </tr>
                                
 <tr><td></td><td style="border-left:none;border-top:none"></td><td style="border-left:none;border-top:none;text-align:center">Discount  </td><td style="text-align:right"> @m.Discount</td></tr>
           
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">CGST  </td><td style="text-align:right"> @m.TOTCGT</td></tr> 
            
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">SGST  </td><td style="text-align:right">@m.TOTSGT</td></tr> 
          
                                 <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">IGST  </td><td style="text-align:right"> @m.TOTIGT</td></tr>     
                                    @if (@m.PackingCharges != "" && @m.PackingCharges != "0" && @m.PackingCharges != "0.00" && @m.PackingCharges != null)
                                    {
                                    <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Packing Charges  </td><td style="text-align:right"> @m.PackingCharges </td></tr>}
                                    @if (@m.ShippingCharges != "" && @m.ShippingCharges != "0" && @m.ShippingCharges != "0.00" && @m.ShippingCharges != null)
                                    {
                                    <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Shipping Charges  </td><td style="text-align:right"> @m.ShippingCharges </td></tr>}
                                    <tr><td></td><td style="border-left:none">Rs.:@m.amtInWord</td><td style="border-left:none;text-align:center">Round off  </td><td style="text-align:right"> @m.RoundOff </td></tr>
           <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  </td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>
                  <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
     @*  <tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Total Invoice Value (In Words)</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;"> INR @m.amtInWord  </td>
                    </tr>*@
                                  @*<tr style="width: 100%;"><td  style="text-align: left; width: 30%;">Amount of Tax Subject to Reverse Charges</td>
                        
                        <td style="text-align: right; width: 70%;font-weight: bold;font-size: 10px;text-transform:capitalize;">@m.RevCharge  </td>
                    </tr>*@
                            </table>
                      <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                        <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                   {
                                       if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                       {
                       <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:left;float:left;;padding-right:20px;padding-top:2px"> @item1.linetaxes: @item1.linetotaltax</DIV>
                                       }
                                       else
                                       {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;"></DIV>  
                                       }

                                   }</td>
                       </tr>
                         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style="border: 0px solid black; width: 100%;text-align: left;">
                         <td style="width: 400px;border-collapse:collapse;">
<div>
    <b>Terms & Conditions: </b></div>
<div>1.Please obtain proper receipt for the payment mode or goods returned or short recieved if any otherwise firm will not be responsible.</div>
<div>2.Interest 24% p.a will be charged if payment is not made within 30 days from the date of invoice.</div>
 @if (Session["AcOwner"].ToString() == "56837" || Session["AcOwner"].ToString() == "56836")
                 {
<div><b>3.Bank A/c Details: <b>@m.footerText</b></div>
}
else
{
<div><b>3.Bank A/c Details: <b>HDFC, ACCOUNT NUMBER:50200014445551, IFS CODE: HDFC0001456,</b> BRANCH : VIJAYAWADA ELURU ROAD BRANCH</b></div>}
<div>4.No Goods return will be accepted except for genuine defects levis.</div>
<div>5.All distputes subject to vijayawada jurisdiction only.</div>
                             <div><b>E.&.O.E</b></div>
                         </td>
                    <td  style="font-weight: bold; width: 200px;border-collapse:collapse;border-top:1px solid black;border-left:1px solid black">
                    <div style="text-align:right;font-size:10px;">For @m.oAdresss</div><div style="height:80px;"></div><div style="text-align:right;text-emphasis-position:below;"> Signature</div>
                    </td>
                </tr>
                            
         </table>
                 @*<table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid; border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
       <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>*@
               </div>
    </div>
           
        </div>
         
    }
    
</body>
</html>
