﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoicePrintNUTEK</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Invoice",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=Invoice&Vendorref=" + $i("#SATABLE009COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                        }
                    });
                }
            }
            else if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "automail") {
                var data = $('#printdiv')[0].innerHTML;
                AutoEmailSend(FormName, data, '@Request["sono"]');
            }
            else 
            {
             PrintLogoForm();
             //MultiplePrintForms();
            }
        });
    </script>
<style type="text/css">
  </style>
</head>

<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0px">
    <div id="multiprint" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
    @using (Html.BeginForm("Print", "InvoicePrintNUTEK"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0px" >
          
         @if (Session["AcOwner"].ToString() != "56597")
         {
            
             <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="  overflow: hidden;font-size:12px;border:none;  border-bottom:0px;">
        <table style="width: 100%;border-collapse: collapse;" border="0" >
                    </table></div>
                     </td>
                 <td style="text-align:right">
                  <div style="float:right" >
                       <table  border="0" >
			    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">

                                      <img src="/Content/Upload/colti.jpg" width="99%" alt=""/>
                              
                          </td></tr> 
                                </table> 
                         </div>
                     </td>
                 </tr>
             </table>
            
        <table style="width:98%; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
           
         }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
        @{var taxval = 0;}
         @foreach (var item1tax in ViewBag.taxitemsdata)
         {
             if ((Convert.ToString(item1tax.linetaxamt) != "0" && Convert.ToString(item1tax.linetaxamt) != null) || (Convert.ToString(item1tax.linetotaltax) != "0" && Convert.ToString(item1tax.linetotaltax) != null)) { taxval++; }
         }
          @{   if (Session["AcOwner"].ToString() == "56571" && (taxval == 0))
               {
                 <b>INVOICE ESTIMATED</b>
               }
               else
               {
              <b>GST TAX INVOICE</b>}
         }
       

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="min-height:120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:50%" >
    <div style="  overflow: hidden;min-height:110px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Invoice No: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.SONO</b></td>
       </tr> 
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Date: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.Date</b></td>
         </tr>
           @*<tr>
<td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Delivery Challan No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.dcno</b></td>
         </tr>*@
           <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Memo </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.memo</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-right:1px solid black">Reference </td>
  <td style=" float:left;width:49%;height:30px;text-align:center"> <b>@m.SalesRep</b></td>
         </tr>
          @* <tr>
<td style=" float:left;width:49%;height:30px;border-right:1px solid black">Dispatch through </td>
  <td style=" float:left;width:49%;height:30px;text-align:center"> <b>@m.ModeOfTrans</b></td>
         </tr>*@
          </table>
      </div>                
        </td>
  </tr>
               
                   @*<tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Service Provider</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry,</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
 </td>
    <td style="width:49%;" >
             <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Service Receiver</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>
          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
   
   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
        </td>
  </tr>*@   
             
</table>
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
                 <tr style=" border-top: 1px solid;">
    <td>
           <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;"><b>Service Provider</b></td></tr>
        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone NO: @m.OPUPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GST No: <b>@m.CGSTIN</b></td></tr>
               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>
                                  </table></div>
 </td>
 </tr>
</table>
                <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
           <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:56%">Description of Goods/SERVICE</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">HSN/SAC Code</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">GST Rate</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Quantity</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Unit </th>
        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">Amount</th>
           </tr>
         
    </thead>
              

                                
  @{int counter = 0;
    var q = "(";

    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)"; var symbol = " @24% "; var symbols = "- ";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }

                        if (rowcount % 20 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                         <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;vertical-align:top  ">
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                      
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.item 
                           @if (@item.desc != "0" && @item.desc != "")
                           {@symbols @item.desc}
                            </td> 
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.SACCode </td>}
                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.GSTRate%
 </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  
 </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td> 
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.rate</td>
   
                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                             </tr>
                        @:</tbody></table>

                       
                         <table style="min-height:40px;border-collapse: collapse; width: 100%;font-size:12px;border-top:none;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black" border="0">
                                <tr style="border-bottom:0px">
                               @* <td rowspan="1" style="width: 4%;border-top:none"></td>*@
              <td  style="width:55.5%;border-top:none"></td>
<td style="border-top:none;text-align:center"> Taxable Amount  </td>
     <td style="border-top:none;text-align:center;width:10%;"> </td>
             <td style="width:13.5%;text-align:right;border-top:none">@m.SUBTOT</td></tr>
                               @if (m.Discount != "0.00")
                               {
   <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Discount  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.Discount </td></tr>}
                         @if (@m.amttype != "22713")
                         {
                             foreach (var item1 in ViewBag.pitemsdatatax)
                             {
                                 if (item1.CGST != 0)
                                 {
              <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">CGST  </td><td style="border-top:none;text-align:center"> @item1.CGST%</td><td style="text-align:right">@item1.CGSTAMT</td></tr> }
                                 if (item1.SGST != 0)
                                 {                                                                                                                                                                                                      
              <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">SGST  </td><td style="border-top:none;text-align:center"> @item1.SGST%</td><td style="text-align:right">@item1.SGSTAMT</td></tr>}
                                 if (item1.IGST != 0)
                                 { 
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">IGST </td><td style="border-top:none;text-align:center">@item1.IGST% </td><td style="text-align:right"> @item1.IGSTAMT</td></tr> }
                             }
                         }
                             @if (@m.PackingCharges != "0.00" && @m.PackingCharges != "")
                             {
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Packing Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.PackingCharges </td></tr>}
                             @if (@m.ShippingCharges != "0.00" && @m.ShippingCharges != "")
                             {
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Shipping Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.ShippingCharges </td></tr>}             
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center"><b>Net Amount @if (@m.amttype == "22713")
                                                                                                                 { @incluse}</b>  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right"><b>@m.TotalAmount</b> </td></tr>
                            </table>
                             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
         
@*                                 <tr style="width: 100%;"><td  style="text-align: left; width: 100%;">Amount Chargeable (In Words) </td>
                         </tr>
                                 <tr style="width: 100%;">
                        <td style="text-align: left; width: 100%;font-weight: bold;font-size: 12px;text-transform:capitalize;">Indian Rupees @m.amtInWord </td>
                    </tr>*@
                             <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Amount Chargeable (In Words)</div><div></div><div style="text-align:left;">Indian Rupees @m.amtInWord</div>
                   
                   
                </tr>  
                                 
                            </table>
                  
                        <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:40px" >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;border-right:1px solid black;">
                    @*<div style="text-align:left;font-size:12px;padding-top:5px">Certified that the particulars given above are true and correct and the amount indicated represent the price actually charged and that there is no flow of additional consideration
directly or indirectly from the buyer.</div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;"></div>*@
                    </td>
                    <td  style="font-weight: bold; width: 220px;border-collapse:collapse;border-top:1px solid black">
                    <div style="text-align:right;font-size:12px;">For <b>@m.company</b></div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;font-size:16px;"> <b>Authorized Signature</b></div>
                    </td>
                   
                </tr>
                            
         </table>
                <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center;font-weight:bold"> <b>@m.footerText</b></div>
            </td>
           </tr>
                 </table>
                @*    <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>*@
                        <div style="page-break-before: always">

                        </div>
                        @*
                        
                        
                        
                          <div  style="text-align: center;width: 100%;float:left; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold; padding-top:80px;padding-bottom:5px;float:left;font-family: Arial, Helvetica, sans-serif">INVOICE @pagetext @pageno)</div>*@
                                                                                                                 //EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr        
                                                                                                                 if (Session["AcOwner"].ToString() != "56597")
                                                                                                                 {
                                                                                                                     //if (ViewBag.checkval == "true")
                                                                                                                     //{
                        <table style="width:98%; border-collapse:collapse;font-size:12px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style=" overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
  @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            @*<table style="width: 100%;border-collapse: collapse;" border="0" >

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 , @m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    
                                    
                                    
                                    </table>*@</div>
                     </td>
                     <td style="text-align:right">
                         <div style="text-align:right;float:right">
                        <table  border="0" >
			<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                      <img src="/Content/Upload/colti.jpg" width="99%" alt=""/>
                              
                          </td></tr>  
                               @if (Session["AcOwner"].ToString() == "56584")
                               {                        
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>*@
                                    

                               }


                                    
                                    
                                    
                                    </table> </div>
                     </td>
                 </tr>
             </table>
                                                                                                                     //}
                                                                                                                     //            else
                                                                                                                     //            {
        <table style="width:98%;border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style=" overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                                                                                                                     //}


                                                                                                                 }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b> TAX INVOICE</b>

    </td>
    
  </tr>
 <tr style=" border-top: 1px solid;">
    <td style="width:50%" >
                   
                       <div style="min-height:120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 80%;border-collapse: collapse;" border="0" >
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                    </table>
                            }

                            else
                            {
                                 <table style="width: 90%;border-collapse: collapse;" border="0" >
</table>
                            }
                       </div>
   </td>
    <td style="width:50%" >
    <div style="  overflow: hidden;min-height:110px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:30px;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-collapse:collapse;" >
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Invoice No: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.SONO</b></td>
       </tr> 
          <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Date: </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.Date</b></td>
         </tr>
           @*<tr>
<td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Delivery Challan No. </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.dcno</b></td>
         </tr>*@
           <tr>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;border-right:1px solid black">Memo </td>
  <td style=" float:left;width:49%;height:30px;border-bottom:1px solid black;text-align:center"> <b>@m.memo</b></td>
         </tr>
           <tr>
<td style=" float:left;width:49%;height:30px;border-right:1px solid black">Reference </td>
  <td style=" float:left;width:49%;height:30px;text-align:center"> <b>@m.SalesRep</b></td>
         </tr>
          @* <tr>
<td style=" float:left;width:49%;height:30px;border-right:1px solid black">Dispatch through </td>
  <td style=" float:left;width:49%;height:30px;text-align:center"> <b>@m.ModeOfTrans</b></td>
         </tr>*@
          </table>
      </div>                
        </td>
  </tr>
               
                   @*<tr style=" border-top: 1px solid;">
    <td style="width:50%;" >
           <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Service Provider</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss, @m.cAdresss1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.ccountry,</td></tr>
                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate-@m.czip </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
 </td>
    <td style="width:49%;" >
             <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                           <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;text-align:center "><b>Service Receiver</b></td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss,@m.SHAdresss1,@m.SHAdresss2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry,@m.SHcity</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHstate-@m.SHzip</td></tr>
          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no.  @m.custPhNo</td></tr>
   
   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: <b>@m.CustGSTIN</b></td></tr>
                                  </table></div>
        </td>
  </tr>*@   
             
</table>
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
                 <tr style=" border-top: 1px solid;">
    <td>
           <div style="min-height: 120px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-bottom:1px solid black;"><b>Service Provider</b></td></tr>
        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:16px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Address: @m.compA1</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compA2</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@m.compState</td></tr>
<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">Phone NO: @m.OPUPhNo</td></tr>
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">GST No: <b>@m.CGSTIN</b></td></tr>
               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif;">E-Mail: @m.Custmail</td></tr>
                                  </table></div>
 </td>
 </tr>
</table>
                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:56%">Description of Goods/SERVICE </th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">HSN/SAC Code</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:3%">GST Rate</th>
 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:4%">Quantity</th>
          <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Unit </th>
        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%">Rate</th>
           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:14%;">Amount</th>
  </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;vertical-align:top  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.item
                            @if (@item.desc != "0" && @item.desc != "")
                            {@symbols @item.desc}
                            </td>
                            @if (Convert.ToBoolean(item.SerItem) == true)
                            {
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.HSNCode </td>}
                            else if (Convert.ToBoolean(item.SerItem) == false)
                            {<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.SACCode </td>}
                          <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.GSTRate%
 </td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-right:3px">@item.quantity  
 </td>
           <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-left:3px">@item.UOM </td> 
   <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.rate</td>
   <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;padding-right:3px">@item.lineamt  </td>

                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 20;
                                if (cnt == 1) { ct = (rowcount) % 20; }
                                if (ct != 0)
                                {
                                    ct = 20 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                            
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                           
                           
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                      <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"></td>
                                      
                        </tr>}
                                }
                             
                             <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "></td>
                                  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>  
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black;text-align:right">@m.TOTQTY  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                            
                          
                        
                       <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"></td>
                        
                            
                              <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                                @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>
                                 <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>
                             
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                            
                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                  <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;"> </td>*@
                        </tr>
                             
                        @:</tbody></table>
                        }
                        }
                    }
           </tbody>
                </table>
                     <table style="min-height:40px;border-collapse: collapse; width: 100%;font-size:12px;border-top:none;font-family: Arial, Helvetica, sans-serif;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black" border="0">
                                <tr style="border-bottom:none">
                               @* <td rowspan="1" style="width: 4%;border-top:none"></td>*@
              <td  style="width:55.5%;border-top:none"></td>
<td style="border-top:none;text-align:center"> Taxable Amount  </td>
     <td style="border-top:none;text-align:center;width:10%;"> </td>
             <td style="width:13.5%;text-align:right;border-top:none">@m.SUBTOT</td></tr>
                         @if (m.Discount != "0.00")
                         {
<tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Discount  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.Discount </td></tr>}
                         @if (@m.amttype != "22713")
                         {
                             foreach (var item1 in ViewBag.pitemsdatatax)
                             {
                                 if (item1.CGST != 0)
                                 {
              <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">CGST  </td><td style="border-top:none;text-align:center"> @item1.CGST%</td><td style="text-align:right">@item1.CGSTAMT</td></tr> }
                                 if (item1.SGST != 0)
                                 {                                                                                                                                                                                                      
              <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">SGST  </td><td style="border-top:none;text-align:center"> @item1.SGST%</td><td style="text-align:right">@item1.SGSTAMT</td></tr>}
                                 if (item1.IGST != 0)
                                 { 
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">IGST </td><td style="border-top:none;text-align:center">@item1.IGST% </td><td style="text-align:right"> @item1.IGSTAMT</td></tr> }
                             }
                         }
                        @if (@m.PackingCharges != "0.00" && @m.PackingCharges != "")
                        {
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Packing Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.PackingCharges </td></tr>}
                             @if (@m.ShippingCharges != "0.00" && @m.ShippingCharges != "")
                             {
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Shipping Charges  </td><td style="border-top:none;text-align:center"> </td><td style="text-align:right">@m.ShippingCharges </td></tr>}  
             <tr style="border-bottom:0px"><td></td><td style="border-left:none;text-align:center">Net Amount @if (@m.amttype == "22713")
                                                                                                              { @incluse}</td><td style="border-top:none;text-align:center"> </td><td style="text-align:right"><b>@m.TotalAmount</b> </td></tr>
                            </table>
                             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
         
@*                                 <tr style="width: 100%;"><td  style="text-align: left; width: 100%;">Amount Chargeable (In Words) </td>
                         </tr>
                                 <tr style="width: 100%;">
                        <td style="text-align: left; width: 100%;font-weight: bold;font-size: 12px;text-transform:capitalize;">Indian Rupees @m.amtInWord </td>
                    </tr>*@
                             <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                <td  style="font-weight: bold; border-collapse:collapse;">
                    <div style="text-align:left;font-size:10px;">Amount Chargeable (In Words)</div><div></div><div style="text-align:left;">Indian Rupees @m.amtInWord</div>
                   
                   
                </tr>  
                                 
                            </table>
                  
                        <table style=" width: 100%;font-size:12px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; min-height:40px" >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;border-right:1px solid black;">
                    @*<div style="text-align:left;font-size:12px;padding-top:5px">Certified that the particulars given above are true and correct and the amount indicated represent the price actually charged and that there is no flow of additional consideration
directly or indirectly from the buyer.</div><div style="height:37px;"></div><div style="text-align:right;text-emphasis-position:below;"></div>*@
                    </td>
                    <td  style="font-weight: bold; width: 220px;border-collapse:collapse;border-top:1px solid black">
                    <div style="text-align:right;font-size:12px;">For <b>@m.company</b></div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;font-size:16px;"> <b> Authorized Signature</b></div>
                    </td>
                   
                </tr>
                            
         </table>
                <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center;font-weight:bold"> <b>@m.footerText</b></div>
            </td>
           </tr>
                 </table>
               </div>
    </div>
        </div>
        //}
    }
    </div>
</body>
</html>
