﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            debugger

                        }
                    });
                }
            }

            else {
                PrintFormsRetail();
            }
        });
    </script>
    <style type="text/css">
  
    </style>
</head>

<body style="border-bottom: 0px; border-left: 0px; border-right: 0px; border-top: 0px; font-size: 11px;">
    @using (Html.BeginForm("Print", "InvoiceRetail"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();var commasep=",";
        <div id="printdiv" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
            <table style="width: 100%; border-collapse: collapse; font-size: 13px;">
                <tr style="text-align: center;">
                    <td>......Customer Copy.....</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="border-collapse: collapse; text-align: center;"><b>@m.company</b></td>
                </tr>

                <tr style="text-align: center;">
                    <td style="border-collapse: collapse; text-align: center;"><b>@if(@m.compA2!=""&&@m.compA2!="null"){@m.compA2 @commasep}@m.compCity</b></td>
                </tr>
                 @if (AcOwner == "56718")
                 {
                  <tr style="text-align: center;">
                    <td style="border-collapse: collapse; text-align: center;">GSTIN: <b>@m.CGSTIN</b></td>
                 </tr>
                  <tr style="text-align: center;">
                 <td style="border-collapse: collapse; text-align: center;">Phone No. <b>@m.OPUPhNo</b></td>
                </tr>   
                 }
            </table>
            <table style="width: 100%; border-collapse: collapse; border-bottom: 0px; font-size: 10px;">
                <tr>
                    <td style="width: 100%">

                        <div style="overflow: hidden; border: none; border-bottom: 0px;">
                            <table style="width: 100%; border-collapse: collapse; font-size: 12px;" border="0">
                                <tr>
                                    <td style="float: left; width: 49%;">Date :@m.Date</td>
                                    <td style="float: left; width: 49%">Inv No :@m.SONO</td>
                                </tr>
                                <tr>
                                    <td style="border-collapse: collapse;">Customer :@m.Customer</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="width: 100%; border-collapse: collapse; padding: 0px; font-size: 10px;">
                <div id="printpage" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px;">
                    <table id="grdfData" style="border-collapse: collapse; width: 100%; font-size: 12px;">
                        <thead style="display: table-header-group">
                            <tr style="border-bottom: dotted thin; border-top: dotted thin; width: 100%; text-align: left; border-right: 0px;">
                                <th style="color: black; text-align: left; width: 1%">S.No </th>
                                <th style="color: black; text-align: center; width: 60%">Item</th>
                                <th style="color: black; text-align: center; text-transform: capitalize; width: 10%">Qty</th>
                                <th style="color: black; text-align: left; text-transform: capitalize; width: 25%;padding-left: 5px;">Amount</th>
                            </tr>
                        </thead>
                        @{int counter = 0;
                        }
                        <tbody>
                            @foreach (var item in ViewBag.pitemsdata)
                            {

                                counter = counter + 1;
                                <tr>
                                    <td style="border-collapse: collapse; padding-left: 12px; text-align: left;">@counter</td>
                                    <td style="border-collapse: collapse; text-align: center">@item.item  </td>
                                    <td style="border-collapse: collapse; text-align: center;">@item.quantity  </td>
                                    <td style="text-align: left;padding-left: 5px;">@item.amt  </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table style="border-collapse: collapse; width: 100%; border-bottom: dotted thin; border-top: dotted thin; font-size: 12px;">
                        @if (Convert.ToString(Session["AcOwner"]) == "56635"){
                        <tr style=""><td colspan="2" style="border-left:none;text-align:center">Subtotal: </td><td colspan="2" style="text-align:center">@m.SubTotal </td></tr>
                    foreach (var item in ViewBag.taxitemsdata)
                    {
                        if (@item.linetotaltax!=0){
                               <tr style=""><td colspan="2" style="border-left:none;text-align:center">@item.linetaxes: </td><td colspan="2" style="text-align:center">@item.linetotaltax </td></tr>}
                    } 
                               <tr style=""><td colspan="2" style="border-left:none;text-align:center">Discount: </td><td colspan="2" style="text-align:center">@m.discount </td></tr>
                        }
                        @if (Convert.ToString(Session["AcOwner"]) == "56718"){
                          foreach (var item1 in ViewBag.pitemsdatatax)
                          {
                              if (item1.CGST != 0)
                              {
                   <tr style="">
                       <td style="border-left: none; text-align: center;width: 1%"> </td>
                       <td style="border-left: none; text-align: center;width: 60%">CGST @item1.CGST% </td>
                            <td style="border-left: none; text-align: center;width: 10%"> </td>
                            <td style="text-align: left;width: 25%;padding-left: 8px;">@item1.CGSTAMT </td></tr>
                       @*<td colspan="2" style="border-left:none;text-align:center">CGST @item1.CGST%: </td><td colspan="2" style="text-align:center">@item1.CGSTAMT </td></tr>*@
               }
                              if (item1.SGST != 0)                                      {     
                              <tr style="">
                       <td style="border-left: none; text-align: center;width: 1%"> </td>
                       <td style="border-left: none; text-align: center;width: 60%">SGST @item1.SGST% </td>
                            <td style="border-left: none; text-align: center;width: 10%"> </td>
                            <td style="text-align: left;width: 25%;padding-left: 8px;">@item1.SGSTAMT </td></tr>                                                                                                                            
              }
                            if (item1.IGST != 0)
                             { 
                                <tr style="">
                       <td style="border-left: none; text-align: center;width: 1%"> </td>
                       <td style="border-left: none; text-align: center;width: 60%">IGST @item1.IGST% </td>
                            <td style="border-left: none; text-align: center;width: 10%"> </td>
                            <td style="text-align: left;width: 25%;padding-left: 8px;">@item1.IGSTAMT </td></tr>
                    
                            }
                            }
                          }
                        <tr style="">
                            <td style="border-left: none; text-align: center;width: 1%"> </td>
                            <td style="border-left: none; text-align: center;width: 50%">Total Amount </td>
                            <td style="border-left: none; text-align: center;width: 6%"> </td>
                            <td style="text-align: left;width: 9%">@m.TotalnonTDS </td>
                        </tr>
                    </table>
                </div>
            </div>
            <table style="border-collapse: collapse; width: 100%; font-size: 12px;">
                @if (Convert.ToString(Session["AcOwner"]) != "56718")
                {
                <tr>
                    <td>GRN No:@m.VATNO</td>
                </tr>}
                @if (Convert.ToString(Session["AcOwner"]) == "56621")
                {
                <tr>
                    <td>FSSAI:@m.StateLincense </td>
                </tr>}
                <tr>
                    <td>Goods once sold will not be returned or exchanged  </td>
                </tr>
                <tr>
                    <td>Thank You! Please visit again. </td>
                </tr>
            </table>
        </div>
    }

</body>
</html>
