﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoiceUKSCustom</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    @*<link href="~/css/Static/print.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            //EMPHYSEMA rajasekhar reddy patakota 10/06/2016 Email template Setup for Transactions
            		    $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Invoice",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=Invoice&Vendorref=" + $i("#SATABLE009COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                        }
                    });
                }
            }
            else if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "automail") {
                var data = $('#printdiv')[0].innerHTML;
                AutoEmailSend(FormName, data, '@Request["sono"]');
            }
            else {
                PrintForms();
            }
        });
    </script>
   @* <script>
        $(document).ready(function () {

            var MaxHeight = 200;
            var RunningHeight = 0;
            var PageNo = 1;

            $('table.splitForPrint>tbody>tr').each(function () {

                if (RunningHeight + $(this).height() > MaxHeight) {
                    RunningHeight = 0;
                    PageNo += 1;
                }

                RunningHeight += $(this).height();

                $(this).attr("data-page-no", PageNo);

            });

            for (i = 1; i <= PageNo; i++) {

                $('table.splitForPrint').parent().append("<div class='tablePage'><table id='grdfData" + i + "'><tbody></tbody></table></div>");

                var rows = $('table tr[data-page-no="' + i + '"]');

                $('#grdfData' + i).find("tbody").append(rows);
            }
            $('table.splitForPrint').remove();

        });
    </script>*@
    <style type="text/css">
  
    </style>
</head>

<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "InvoiceUKSCustom"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner=Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
                          <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
   <div style="text-transform:uppercase"> </div>
            <table style="width: 100%;border-collapse: collapse;" border="0" >
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b></b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                    @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - </td></tr>*@
                                    
                                    
                                    
                                    </table></div>
                     </td>
@*EMPHCS853 : Logo Modification in Prints*@
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif "><img src="~/Content/Upload/@m.logoName" width="70px" alt="" /></td></tr>    
                                 
                                    
                                    
                                    
                                    </table> 
                         </div>
                          
                @*<img style="width: 60%;" src="E:/EmphoraERP/APP/APPSolution/eBizSuiteAppUI/Images/@m.logoName" />*@
            
                     </td>
                 </tr>
             </table>

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px">
        @{var taxval=0;}
         @foreach (var item1tax in ViewBag.taxitemsdata)
         {
             if((item1tax.linetaxamt != 0 && item1tax.linetaxamt != null)||(item1tax.linetotaltax != 0 && item1tax.linetotaltax != null)){taxval++;}
         }
          @{   
              <b>INVOICE</b>
                                }

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 100px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                          
                                 <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.ouName</b></td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Drug LIC : @m.opDrugLIC</td></tr>*@
                                    </table>
                            
                       </div>
   </td>
    <td style="width:41%" >
                               <div style="  overflow: hidden;height:100px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Invoice No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Buyer's Order No : <br /> <b>@m.UksRef</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Dated :<br /> <b>@m.UksDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
                
                   <tr style=" border-top: 1px solid;">
    <td style="width:59%;" >
              <div style="height: 100px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >

                              
                 @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss1 &nbsp;,@m.soAdresss2 </td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity &nbsp;, @m.sostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socountry-@m.sozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    @*<tr><td></td></tr>*@
                                    </table></div>
                           

                       
   </td>
    

    <td style="width:41%;" >
        
             <div style="  overflow: hidden;height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Tracking No : <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        
        </td>
  </tr>   
                
         
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
   
</table>


               

             <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:35%">Description of Goods </th>
                            @*//EMPHCS1392	adding Lot and Expiry date to invoice and bill print BY RAJ.Jr*@
                          
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    @*EMPHCS1741 rajasekhar reddy patakota 24/05/2016 Customer Wise price Adding in all transactions*@
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {
                        
                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                         @* EMPHCS804 BY GNANESHWAR ON 1/8/2015 PAGE BREAKING CHANGES*@ 
                        if (rowcount % 15 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                            @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"><b>@item.item</b> <br /> &nbsp; &nbsp;[@item.desc]<br /></td>
                              @*//EMPHCS1392	adding Lot and Expiry date to invoice and bill print BY RAJ.Jr*@
                            
                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt  </td>
                        </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
<tr style=" "><td rowspan="6" style="width: 4%;border-top:none"></td>
              <td rowspan="6" style="width:50.5%;border-top:none"></td>
	      @*EMPHCS1741 rajasekhar reddy patakota 24/05/2016 Customer Wise price Adding in all transactions*@
             <td style="border-top:none">Gross Amount</td>
             <td style="width:19.5%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                
                                <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>
                                <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                     if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }
                                      else{
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">.</DIV>  
                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else{
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">. </DIV>
                                      }

                                  }</td>
                       </tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>
                                @*<tr><td></td><td></td></tr>*@
                                @*<tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.TotalnonTDS </td></tr>*@
                                @if(@m.TDSAmount!="" && @m.TDSAmount!="0.00"){
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">TDS Amount</td><td style="text-align:right">@m.TDSAmount </td></tr>}
				  @*EMPHCS1741 rajasekhar reddy patakota 24/05/2016 Customer Wise price Adding in all transactions*@
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  @if (@m.amttype == "22713"){ @incluse}</td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas *@
                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">  INR @m.amtInWord  </td>
                        
                    </tr>
                </table>
                           <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                   <div>

                                   </div>
                                   </td> 
                                   <td style="width:50%;padding-left:40px; font-size:8px">
                                      <div> </div>
                                         </td></tr>
                           </table>
                 
                        <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                              <tr>
                                  <td style="width:67%">
                                   Declaration:<div>   We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.</div>
                                  </td>
                              </tr> 
                        </table>
                         <table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr>
                                        <td  >
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                                            @if (@m.StateLincense != null && @m.StateLincense != "")
                                            { 
       <div style=" float:left;"> FSSAI State Lincense No:</div>
<div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                            }
                                             @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                             {
      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div> 
                                             }
                                   </td>
                               </tr>
                             </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:70px;border-collapse:collapse">
                       <div>
                            PAN Card NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                           
                       </div>
                         <div>
                          Service Tax Code: &nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>
                         <div>
                            Company's Service Tax No. :&nbsp;   :<b>&nbsp;@m.CServiceTaxNO</b>
                         </div>
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 300px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:10px;">@m.oAdresss</div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
                            
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
                        @*
                        
                        
                        
                          <div  style="text-align: center;width: 100%;float:left; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold; padding-top:80px;padding-bottom:5px;float:left;font-family: Arial, Helvetica, sans-serif">INVOICE @pagetext @pageno)</div>*@
                                     //EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr        
                        if (Session["AcOwner"].ToString() != "56597")
                                             {
                        <table style="width:98%;min-height:65px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 94px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
  @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            <table style="width: 100%;border-collapse: collapse;" border="0" >
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1 , @m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    
                                    
                                    
                                    </table></div>
                     </td>
                     <td style="text-align:right">
                         <div style="text-align:right">
                        <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif "><img src="~/Content/Upload/@m.logoName" width="70px" alt="" /></td></tr> 
                               @if (Session["AcOwner"].ToString() == "56584")
                               {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                    

                               }


                                    
                                    
                                    
                                    </table> </div>
                     </td>
                 </tr>
             </table>
                                             }

             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b>INVOICE</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 110px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
                           @*EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr*@
                            @if (Session["AcOwner"].ToString() != "56597")
                            {      
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss @m.cAdresss &nbsp; @m.cAdresss1</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss2  @m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    @*<tr><td></td></tr>*@
                                    </table>
                            }
                            @*EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr*@
                            else
                            {
                                 <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.ouName</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss</td></tr>
                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Drug LIC : @m.opDrugLIC</td></tr>*@
                                    </table>
                            }</div>
   </td>
    <td style="width:41%" >
                               <div style="  overflow: hidden;height:100px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Invoice No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Buyer's Order No : <br /> <b>@m.UksRef</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Dated :<br /> <b>@m.UksDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
                  @if (Session["AcOwner"].ToString() == "56596")
                  {

                  }
                  else
                  {
                   <tr style=" border-top: 1px solid;">
    <td style="width:59%;" >
              @*EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr*@
                           @if (Session["AcOwner"].ToString() == "56597")
                           {<div style="height: 130px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss &nbsp; @m.cAdresss1</td></tr>
                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss2  @m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN. - @m.custTin</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer CST No. - @m.CCSTNO</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>
                                    </table></div>
                           }
                           else
                           {<div style="height: 100px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                 
                                       <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss1 &nbsp;,@m.soAdresss2</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.socity , @m.sostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socountry-@m.sozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                    @*<tr><td></td></tr>*@
                                    </table></div>
                           }

                       
   </td>
    

    <td style="width:41%;" >
       
           <div style="  overflow: hidden;height:130px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:50px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:65px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Tracking No : <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:50px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        
        </td>
  </tr>   
                  }

  @*EMPHCS1501	Invoice Print changes adding Drug LIC,MRP,PTR BY RAJ.Jr*@
     @if (Session["AcOwner"].ToString() == "56597")
     {
     }
     else
     {          
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:30px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:100px">Customer's CST No</div>
 <div style="font-weight:bold; float:left   ;padding-left:30px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
     }
</table>


                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:35%">Description of Goods </th>
                            @*//EMPHCS1392	adding Lot and Expiry date to invoice and bill print BY RAJ.Jr*@
                        
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;"><b>@item.item</b> <br /> &nbsp; &nbsp;[@item.desc]  <br /></td>
                             @*//EMPHCS1392	adding Lot and Expiry date to invoice and bill print BY RAJ.Jr*@
                            
                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt  </td>
                        </tr>
                        
                            
                            

@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 15;
                                if (cnt == 1) { ct = (rowcount) % 15; }
                                if (ct != 0)
                                {
                                    ct = 15 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                           @*//EMPHCS1392	adding Lot and Expiry date to invoice and bill print BY RAJ.Jr*@
                            
                          @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>*@
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                }
                             
                             @*<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">Total Quantity </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> @m.TotalQuantity </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>*@
                             
                        @:</tbody></table>
                        @:</div>
                        }
                        }
                    }
           </tbody>
                </table>
                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" ">
                                <td rowspan="6" style="width: 4%;border-top:none"></td>
              <td rowspan="6" style="width:50.5%;border-top:none"></td>
	      @*EMPHCS1741 rajasekhar reddy patakota 24/05/2016 Customer Wise price Adding in all transactions*@
             <td style="border-top:none"> Gross Amount  </td>
             <td style="width:19.5%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                 <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>
                                <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }
                                      else{
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">.</DIV>  
                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else{
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">. </DIV>
                                      }

                                  }</td>
                       </tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>
                                @*<tr><td></td><td></td></tr>*@
                                @*<tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.TotalnonTDS </td></tr>*@
                             @if(@m.TDSAmount!="" && @m.TDSAmount!="0.00"){
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">TDS Amount</td><td style="text-align:right">    @m.TDSAmount 
                                                                                                                                                                               </td></tr>
                                }
				@*EMPHCS1741 rajasekhar reddy patakota 24/05/2016 Customer Wise price Adding in all transactions*@
                                  <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Net Amount  @if (@m.amttype == "22713"){ @incluse}</td><td style="text-align:right">@m.TotalAmount </td></tr>
                            </table>
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                        
                    </tr>
                </table>
                           <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                   <div>
                          
                                   </div>
                                   </td> 
                                   <td style="width:50%;padding-left:40px; font-size:8px">
                                      <div> </div>
                                         </td></tr>
                           </table>
                 
                        <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:12px ;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
                              <tr>
                                  <td style="width:67%">
                                    Declaration:<div>   We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.</div>
                                  </td>
                              </tr> 
                        </table>
                         <table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr>
                                        <td  >
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                                            @if (@m.StateLincense != null && @m.StateLincense != "")
                                            {
                                            
       <div style=" float:left;"> FSSAI State Lincense No:</div>
<div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                            }
                                             @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                             {
      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div> 
                                             }
                                   </td>
                               </tr>
                             </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:30px;border-collapse:collapse">
                       <div>
                          PAN Card NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                       </div>
                         <div>
                          Service Tax Code :&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>
                         <div>
                              Company's Service Tax No. :&nbsp;   :<b>&nbsp;@m.CServiceTaxNO</b>
                             
                         </div>
                    </td>
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 300px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:10px;">@m.oAdresss</div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
               </div>
    </div>
           
        </div>
         
    }
    
</body>
</html>
