﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            debugger

                        }
                    });
                }
            }

            else {
                PrintFormsRetail();
            }
        });
    </script>
    <style type="text/css">
  
    </style>
</head>

<body style="border-bottom: 0px; border-left: 0px; border-right: 0px; border-top: 0px; font-size: 12px; font-family:'1979 Dot Matrix'">
    @using (Html.BeginForm("Print", "InvoiceRetail"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();
        <div id="printdiv" style="font-family: '1979 Dot Matrix'; font-size: 12px;">
            <div style="width: 100%;">
                <div style="width: 45%; float: left;">
                    <table style="width: 100%; float: left;">
                        <tr>
                            <td style="border-collapse: collapse; border-left: 0px; border-top: 0px; border-bottom: 0px; text-align: left; font-size: 12px; font-family: '1979 Dot Matrix'">
                                @*@if (@m.logoName != "")
                                {
                                    <img src="~/Content/Upload/@m.logoName"  />
<div>Dl Form-20&nbsp;TG/16/05/2016/2015-9880</div>
                 <div>&nbsp;&nbsp;&nbsp;Form-21&nbsp;TG/16/05/2016/2015-9881</div>
                 <div>&nbsp;&nbsp;&nbsp;TIN:36297850867</div>
             }*@
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width: 55%; float: left;">
                    <table style="width: 100%; font-size: 12px; font-family: '1979 Dot Matrix'; float: left; text-align: center;">
                        <tr style="">
                            @*<td style=" font-size: 50px;"><b>@m.oAdresss</b></td>*@
                            <td style="">
                                <div style="font-size: 25px;"><b>JAN AUSHADHI</b></div>
                                <div style="font-size: 15px;">MEDICAL STORE</div>
                                <div style="border-collapse: collapse;">12-2-823/A/51,</div>
                                <div style="border-collapse: collapse;">Santosh Nagar Colony,</div>
                                @*<div style="border-collapse: collapse;">St.Ann's College for Women,</div>*@
                                <div style="border-collapse: collapse;">Opp.Aravind Eye Hospital,Mehdipatnam,</div>
                                <div style="border-collapse: collapse;">Hyderabad-500 028.</div>
                                <div style="border-collapse: collapse;">Ph:23510965,9346239486,9989628147,9392192488</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width: 100%;">
                    <div style="float: left;">
                        <table style="width: 100%; float: left;">
                            <tr>
                                <td style="width: 35%;border-collapse: collapse; border-left: 0px; border-top: -5px; border-bottom: 0px; text-align: left; font-size: 12px; font-family: '1979 Dot Matrix'">
                                    <div style="float: left;">Dl Form-20&nbsp;TG/16/05/2016/2015-9880</div><br />
                                    <div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;Form-21&nbsp;TG/16/05/2016/2015-9881</div><br />
                                    @*<div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;TIN:36297850867</div>*@
                                    <div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;GSTIN:@m.CGSTIN</div>
                                </td>
                                <td style="width: 25%;border-collapse: collapse; border-left: 0px; border-top: 0px; border-bottom: 0px; text-align: right; font-size: 12px; font-family: '1979 Dot Matrix'">
                                    <div style="">Date:@m.Date</div>
                                    <div style="">&nbsp;&nbsp;No.<b>@m.SONO</b></div>
                                    <div style=""></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <table style="width: 100%;  border-bottom: 0px; font-size: 12px; font-family:'1979 Dot Matrix';padding-top:8px">
                <tr>
                    <td style="width: 100%">
                        <div style="overflow: hidden; border: none; border-bottom: 0px;font-family:'1979 Dot Matrix'">
                            <table style="width: 100%; border-collapse: collapse; font-size: 12px;font-family:'1979 Dot Matrix'" border="0">
                                @*<tr>
                                    <td style=" width: 49%"><b>No :@m.SONO</b></td>
                                    <td style=" width: 49%;">Date :@m.Date</td>
                                </tr>*@
                                <tr>
                                    <td style="width: 100%" colspan="2">Patient Name :<b>@m.Customer</b></td>
                                </tr>
                                <tr>
                                    <td style="width: 100%" colspan="2">Address :@m.cAdresss @m.cAdresss1 @m.ccity @m.cstate-@m.czip @m.ccountry</td>
                                </tr>
                                <tr>
                                    @*<td style="width: 40%" ></td>*@
                                    <td style="width: 100%" colspan="2">Doctor :@m.memo</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="width: 100%; padding: 0px; font-size: 12px; font-family:'1979 Dot Matrix'">
                <div id="printpage" style="font-family: '1979 Dot Matrix'; font-size: 12px;">
                    <table id="" style="border:1px solid;padding:0px 0px 0px 0px; width: 100%; font-size: 12px; font-family:'1979 Dot Matrix';border-collapse: collapse;">
                            <tr style="padding:0px 0px 0px 0px;border-top:1px solid;  width: 100%; text-align: left;font-weight:bold">
                                <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid;color: black; text-align: left; width: 1%; border-right:  thick medium ;">SL.No </td>
                                <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid;color: black; text-align: center; width: 45%; border-right:  thick medium;">Product</td>
                                @*<td style="color: black; text-align: center; width: 8%; border-right: thick thin;">Units</td>*@
                                <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid;color: black; text-align: center; width: 14%; border-right:  thick medium;">Batch No.</td>
                                <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid;color: black; text-align: center; width: 12%; border-right:  thick medium;">Expiry Dt.</td>
                                <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid;color: black; text-align: center; text-transform: capitalize; width: 8%; border-right:  thick medium;">Qty</td>
                                <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid;color: black; text-align: center; text-transform: capitalize; width: 9%; border-right:  thick medium;">Rate</td>
                                <td style="height: 30px;padding:0px 0px 0px 0px;border:0px solid;color: black; text-align: center; text-transform: capitalize; width: 11%;">Amount</td>
                            </tr>
                        @{int counter = 0;
                        }
                        @*<tbody>*@
                            @foreach (var item in ViewBag.pitemsdata)
                            {

                                counter = counter + 1;
                                <tr style="padding:0px 0px 0px 0px;border:1px solid;">
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid; padding-left: 12px; text-align: left; ">@counter</td>
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid; text-align: center; ">@item.item  </td>
                                    @*<td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.UOM  </td>*@
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid; text-align: center; ">@item.Lot  </td>
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid; text-align: center; ">@item.ExpDate  </td>
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid; text-align: center; ">@item.quantity  </td>
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border-right:1px solid; text-align: center; ">@item.rate  </td>
                                    <td style="height: 30px;padding:0px 0px 0px 0px;border:0px solid; text-align: center;">@item.amt  </td>
                                </tr>
                            }
                                @*<tr style="padding:0px 0px 0px 0px;border:1px solid;border-right:  thick medium;border-bottom:  thick medium;border-left:  thick medium;height:35px;">
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: left;" colspan="5"></td>
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: center; border-right:  thick medium; border-top:  thin medium;"><b>Discount</b>  </td>
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: center; border-right:  thick medium;"> <b>@m.discount</b> </td>
                                </tr>*@
                                <tr style="padding:0px 0px 0px 0px;border:1px solid;border-right:  thick medium;border-bottom:  thick medium;border-left:  thick medium;height:35px;">
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: left;" colspan="5"></td>
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: center; border-right:  thick medium; border-top:  thin medium;"><b>Total</b>  </td>
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: center; border-right:  thick medium;"> <b>@m.TotalnonTDS</b> </td>
                                </tr>
                                @*<tr style="padding:0px 0px 0px 0px;border:1px solid;border-right:  thick medium;border-bottom:  thick medium;border-left:  thick medium;height:35px;">
                                    <td style="padding:0px 0px 0px 0px;border:1px solid;border-collapse: collapse; text-align: left;font-size:11px" colspan="7">Jan Aushadhi Medical Store GOVERNAMENT OF INDIA.DEPARTMENT OF PHARMACETICAL,NEW DELHI </td>
                                </tr>*@

                        @*</tbody>*@
                    </table>
                    @*<table style=" width: 100%;  font-size: 12px; font-family:'1979 Dot Matrix'">
                        <tr style=""><td colspan="2" style="border-left:none;text-align:right">Gross: </td><td colspan="2" style="text-align:right">@m.SubTotal </td></tr>
                    @foreach (var item in ViewBag.taxitemsdata)
                    {
                        if (@item.linetotaltax != 0)
                        {
                               <tr style=""><td colspan="2" style="border-left:none;text-align:right">@item.linetaxes: </td><td colspan="2" style="text-align:right">@item.linetotaltax </td></tr>}
                    } 
                               <tr style=""><td colspan="2" style="border-left:none;text-align:right">Discount Amount: </td><td colspan="2" style="text-align:right">@m.discount </td></tr>
                        <tr style="">
                            <td style="border-left: none; text-align: center;width: 1%"> </td>
                            <td style="border-left: none; text-align: right;width: 50%"><b>Amount: </b></td>
                            <td style="border-left: none; text-align: center;width: 6%"> </td>
                            <td style="text-align: right;width: 9%"><b>@m.TotalnonTDS</b> </td>
                        </tr>
                    </table>*@
                </div>
            </div>
            @*<table style="padding-top:8px; width: 100%; font-size: 12px; font-family:'1979 Dot Matrix'">
                <tr>
                    <td><b>Terms & Conditions</b></td>
                </tr>
                <tr>
                    <td>1. Goods once sold will not be taken back  </td>
                </tr>
                <tr>
                    <td>2. No Return / Exchange </td>
                </tr>
            </table>*@
        </div>
    }

</body>
</html>
