﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
table {
    border: 1px solid black;
    border-collapse: collapse; 
}
th, td {
    /*padding: 5px;*/
    text-align: left;   
}
</style>

    <meta name="viewport" content="width=device-width" />
    <title>JobOrderPrint</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            PrintForms();
        });
            </script>
</head>

@*<body style="border-bottom:1px;border-left:1px;border-right:1px; border-top:1px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">*@

@using (Html.BeginForm("Print", "JobOrderMPPrint"))
{
    var m = Model.Where(a => a.JONO != null).FirstOrDefault();
    <div id="printdiv"  style="font-size:10px;font-family:Arial, Helvetica, sans-serif;border:0px solid black" >
        @* <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">*@
                @* <tr>
                     <td>*@
@*<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">*@
     
   @*<div style="text-transform:uppercase"> @m.ouName</div>*@
           @* <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    </table>*@

@*</div>*@
                    @* </td>*@

                     <table style="width:100%; border: 1px solid black;border-bottom: 0px;border-collapse: collapse;font-size:10px;padding-top:10px">
    <tr style="width:100%; border-bottom:1px solid black;border-collapse: collapse;">
    <td style="font-size:16px;text-align:center;border-collapse: collapse;height:25px;font-family: Arial, Helvetica, sans-serif;padding-top:10px ">
              <b>JOB ORDER</b>
    </td>
  </tr>
                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                              
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName"  style="width:100px" alt="" />
                                        }
                                        </td></tr> 
                         
          </table>
                   @*  <td style="text-align:right">*@

                         @*<div style="float:right;padding-top:150px" >*@

                           @*  <table  style="width:100%; border: 1px solid black;" >*@

                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" />
                                        }
                                        </td></tr>   *@ 
                                    @*</table> *@
                        @* </div>*@
                         
                    @* </td>*@
                 @*</tr>*@
            @* </table>*@
         <div style="width:100%; border: 1px ;
    border-collapse: collapse;">
          <table style="width:100%; border: 1px solid black;border-bottom: 0px;
    border-collapse: collapse;font-size:10px;">
   @* <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td colspan="3" style="font-size:16px;text-align:center;border-collapse: collapse;height:40px;font-family: Arial, Helvetica, sans-serif ">
              <b>JOB ORDER</b>
    </td>
  </tr>*@
             <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td style="width:0%; border-top: 1px solid black;border-collapse: collapse;height:40%;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
        @*@m.JoberAddress*@
    </td>
                 <td style="width:50%; border: 0px solid black;border-collapse: collapse;height:40%;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
                     <div style="width:100%; border: 1px ;
    border-collapse: collapse;">
<table style="width:100%; border: 0px solid black;border-top:0px;border-right:0px;
    border-collapse: collapse;">
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
       <td style="width:35%;border-bottom: 0px solid black;border-top: 0px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Job Order No : @m.JONO</td></tr>
     <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td style="border-bottom: 1px solid black;border-right: 1px solid black;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Date : @m.Date</td> </tr>
    
    @*<tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
<td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;border-top: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Supplier Code No.1 </td>
        <td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Vehicle No. @m.VehicleNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
         <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Sent Through :@m.Name</td>
<td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Mobile No:@m.PhoneNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
        <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Despatch Dated: @m.despDate</td>
    
                 <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Avg Consumption : @m.avgCons</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
         <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Price Per Pc : @m.fCpm</td>
                 <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Desp Doct No : @m.dDoctNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
 <td style="width:35%;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;"> Delivery Point :@m.delvPoint</td>
         <td style="width:35%;border: 0px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Total Qty: @m.quantity</td>
    </tr>*@
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-right: 1px solid black;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;border-right: 1px solid black; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss &nbsp; @m.cAdresss1</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; border-right: 1px solid black;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; border-right: 1px solid black;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss2  @m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; border-right: 1px solid black;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;border-right: 1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;border-right: 1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN. - @m.custTin</td></tr>
                              <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer CST No. - @m.CCSTNO</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>*@
    
      
</table>

                         <td style="width:100%; border: 0px solid black;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
 <div style="width:99%;    height: 100px;">
     <div style="font-size:16px;"><b>Transport Details:<br /></b></div> 
<table style="width:100%; border: 1px ;
    border-collapse: collapse;padding-left:0px">
     
                         <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">VehicleNo: <b>@m.VehicleNo</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Sent Through: <b>@m.SentThrough</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">MobileNo: <b>@m.SMobileNo</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Mode Of Transportation: <b>@m.ModeOfTransportation</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">LR No: <b>@m.STrackingNo</b></td></tr>
                             </table>
 </div>
</td>
  
                         </div>
</td>
     </tr>
              </table>

</div>
  <div style="width: 100%; border-collapse: collapse; padding: 0px;border-top:none">
 <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px;border-bottom: 0px; border:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif";border-bottom: 0px; border="0">
                   <thead style="display:table-header-group " >
                       <tr style=" width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:80%">Item</th>
@*                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:19%">Units</th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:19%">Quantity</th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:10%">Price</th>*@
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:20%;">Total</th>*@
                    </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                        if (rowcount % 15 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.Description - @item.item </td>
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.UOM </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.quantity </td>
                       @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.rate</td> 
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt</td>*@
                        </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 

                            @* <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td style="text-align: left; width: 22%;border-bottom:1px solid black;height:30px;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;border-bottom:1px solid black;height:30px;">  INR @m.amtInWord  </td>

                        
                    </tr>
                </table>*@
                            <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;border-bottom:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                          <tr><td style="font-weight:100;border-collapse:collapse;border: 0px solid black;border-right:1px solid black;border-top:0px solid black;border-bottom:1px solid black;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:right;width:43%;"> TOTAL </td> 
                       
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:1px solid black;;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:10%;"><b>@m.TotQty </b> </td></tr>
                                 </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                      @* <tr style="font-size:12px;font-family: Arial, Helvetica, sans-serif ;"><td>Declaration</td></tr>*@
           @* <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;">
                <td>1. Our responsibility ceases ex-our premisses.</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;">
                <td> 2. We are not responsible for any damage or shortage in transit.</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>3. Any Clarification in respect of this work order must be cleared before signing the document.</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>4. Quality of the garment should be approved by us before going for the bulk production duly signed </td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>5. Damage of the Fabric/Poor quality of Goods/ excess consumption/ delay in delivery will lead to compensation. </td></tr> 
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>6. TDS will be deducted </td></tr> 
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>7. Subject to Secunderabad Jurisdiction</td></tr>*@
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:50px;border-collapse:collapse">
                      @* <div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.VATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.CSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.PANNO</b>
                         </div>*@
                    </td>
                   @* <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size:10px;">@m.oAdresss</div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>*@
                                 @* <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:50px;border-collapse:collapse">*@
                       @*<div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.VATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.CSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.PANNO</b>
                         </div>*@
                   @* </td>*@
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                   <div style="text-align:right;font-size:10px;border-left:1px solid black;"></div><div style="height:40px;border-left:1px solid black;"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black"> Given By</div>
                          <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black"> Print Received By</div>
                        <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black">  Work Taken By</div>
                          <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black">  Work Completed By</div>
                        <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black">  Authorised Signatory</div>
                    </td>
                   
               @* </tr>*@
                            
         
       
                   
                </tr>
                            
         </table>
                 @*<table style=" width: 100%;font-size:10px;border-top: 0px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>*@
                        <div style="page-break-before: always">

                        </div>@*
       
                         <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
   <div style="text-transform:uppercase"> @m.ouName</div>
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" />
                                        }
                                        </td></tr>    
                                    </table> 
                         </div>
                         
                     </td>
                 </tr>
             </table>
          <div style="width:100%; border: 1px ;
    border-collapse: collapse;">
          <table style="width:100%; border: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td colspan="3" style="font-size:16px;text-align:center;border-collapse: collapse;height:40px;font-family: Arial, Helvetica, sans-serif ">
              <b>JOB ORDER</b>
    </td>
  </tr>
             <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td style="width:30%; border-right: 1px solid black;border-top: 1px solid black;border-collapse: collapse;height:40%;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
        @m.JoberAddress
    </td>
                 <td style="width:70%; border: 0px solid black;border-collapse: collapse;height:40%;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
                     <div style="width:100%; border: 1px ;
    border-collapse: collapse;">
<table style="width:100%; border: 0px solid black;border-top:0px;border-right:0px;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ">
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
       <td style="width:35%;border-bottom: 1px solid black;border-top: 0px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Job Order No : @m.JONO</td>
    <td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Date : @m.Date</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
<td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;border-top: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Supplier Code No.1 </td>
        <td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Vehicle No. @m.VehicleNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
         <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Sent Through :@m.Name</td>
<td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Mobile No:@m.PhoneNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
        <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Despatch Dated: @m.despDate</td>
    
                 <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Avg Consumption : @m.avgCons</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
         <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Price Per Pc : @m.fCpm</td>
                 <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Desp Doct No : @m.dDoctNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
 <td style="width:35%;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;"> Delivery Point :@m.delvPoint</td>
         <td style="width:35%;border: 0px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Total Qty: @m.quantity</td>
    </tr>
</table>
                         </div>
</td>
     </tr>
              </table>
</div>
<br />*@
                      
                        
                          @* <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">*@
                @* <tr>
                     <td>*@
@*<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">*@
     
   @*<div style="text-transform:uppercase"> @m.ouName</div>*@
           @* <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    </table>*@

@*</div>*@
                    @* </td>*@

                     <table style="width:100%; border: 1px solid black;border-bottom: 0px;border-collapse: collapse;font-size:10px;padding-top:10px">
    <tr style="width:100%; border-bottom:1px solid black;border-collapse: collapse;">
    <td style="font-size:16px;text-align:center;border-collapse: collapse;height:25px;font-family: Arial, Helvetica, sans-serif;padding-top:10px ">
              <b>JOB ORDER</b>
    </td>
  </tr>
                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                              
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName"  style="width:100px" alt="" />
                                        }
                                        </td></tr> 
                         
          </table>
                   @*  <td style="text-align:right">*@

                         @*<div style="float:right;padding-top:150px" >*@

                           @*  <table  style="width:100%; border: 1px solid black;" >*@

                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" />
                                        }
                                        </td></tr>   *@ 
                                    @*</table> *@
                        @* </div>*@
                         
                    @* </td>*@
                 @*</tr>*@
            @* </table>*@
         <div style="width:100%; border: 1px ;
    border-collapse: collapse;">
          <table style="width:100%; border: 1px solid black;border-bottom: 0px;
    border-collapse: collapse;font-size:10px;">
   @* <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td colspan="3" style="font-size:16px;text-align:center;border-collapse: collapse;height:40px;font-family: Arial, Helvetica, sans-serif ">
              <b>JOB ORDER</b>
    </td>
  </tr>*@
             <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td style="width:0%; border-top: 1px solid black;border-collapse: collapse;height:40%;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
       @* @m.JoberAddress*@
    </td>
                 <td style="width:50%; border: 0px solid black;border-collapse: collapse;height:40%;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
                     <div style="width:100%; border: 1px ;
    border-collapse: collapse;">
<table style="width:100%; border: 0px solid black;border-top:0px;border-right:0px;
    border-collapse: collapse;">
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
       <td style="width:35%;border-bottom: 0px solid black;border-top: 0px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Job Order No : @m.JONO</td></tr>
     <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
    <td style="border-bottom: 1px solid black;border-right: 1px solid black;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Date : @m.Date</td> </tr>
    
    @*<tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
<td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;border-top: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Supplier Code No.1 </td>
        <td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Vehicle No. @m.VehicleNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
         <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Sent Through :@m.Name</td>
<td style="border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Mobile No:@m.PhoneNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
        <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Despatch Dated: @m.despDate</td>
    
                 <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">Avg Consumption : @m.avgCons</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
         <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Price Per Pc : @m.fCpm</td>
                 <td style="width:35%;border-bottom: 1px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Desp Doct No : @m.dDoctNo</td>
    </tr>
    <tr style="width:100%; border: 0px solid black;border-collapse: collapse;">
 <td style="width:35%;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;"> Delivery Point :@m.delvPoint</td>
         <td style="width:35%;border: 0px solid black;border-right: 1px solid black;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:10px;">Total Qty: @m.quantity</td>
    </tr>*@
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-right: 1px solid black;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;border-right: 1px solid black; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss &nbsp; @m.cAdresss1</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; border-right: 1px solid black;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; border-right: 1px solid black;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss2  @m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; border-right: 1px solid black;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;border-right: 1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;border-right: 1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                   @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer TIN. - @m.custTin</td></tr>
                              <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer CST No. - @m.CCSTNO</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Customer Drug LIC. - @m.cDrugLIC</td></tr>*@
    
      
</table>

                         <td style="width:100%; border: 0px solid black;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size:10px; ">
 <div style="width:99%;    height: 100px;">
     <div style="font-size:16px;"><b>Transport Details:<br /></b></div> 
<table style="width:100%; border: 1px ;
    border-collapse: collapse;padding-left:0px">
     
                         <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">VehicleNo: <b>@m.VehicleNo</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Sent Through: <b>@m.SentThrough</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">MobileNo: <b>@m.SMobileNo</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Mode Of Transportation: <b>@m.ModeOfTransportation</b></td></tr>
     <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">LR No: <b>@m.STrackingNo</b></td></tr>
                             </table>
 </div>
</td>
  
                         </div>
</td>
     </tr>
              </table>

</div>
      

                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                     <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:80%">Item</th>
                    @*    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:19%">Units</th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Quantity</th>
                       @* <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:10%">Price</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:20%;">Total</th>*@
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Description - @item.item </td>
                       @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.UOM </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity </td>
                      @*  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.rate</td> 
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt</td>*@
                        </tr>
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 15;
                                if (cnt == 1) { ct = (rowcount) % 15; }
                                if (ct != 0)
                                {
                                    ct = 15 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                      @*  <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td> 
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                     </tr>
                                    }
                                }
                          <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:4%; "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 0px solid black;border-right:1px solid black;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:right;width:50%;"> TOTAL </td> 
                        @*<td style="font-weight:100;border-collapse:collapse;border: 0px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:10%;"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:10%;"> </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:10%;"><b>@m.TotQty </b> </td>
                       @* <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;width:10%;"><b> @m.TotQty</b> </td>*@
                        </tr>
                        @:</tbody></table>
@*                        @:</div>*@
                            }

                        }
                    }
           </tbody>
                </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                       @*<tr style="font-size:12px;font-family: Arial, Helvetica, sans-serif ;"><td>Declaration</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;">
                <td>1. Our responsibility ceases ex-our premisses.</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;">
                <td> 2. We are not responsible for any damage or shortage in transit.</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>3. Any Clarification in respect of this work order must be cleared before signing the document.</td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>4. Quality of the garment should be approved by us before going for the bulk production duly signed </td></tr>
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>5. Damage of the Fabric/Poor quality of Goods/ excess consumption/ delay in delivery will lead to compensation. </td></tr> 
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>6. TDS will be deducted </td></tr> 
            <tr style="font-size:10px;font-family: Arial, Helvetica, sans-serif ;"><td>7. Subject to Secunderabad Jurisdiction</td></tr>*@
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;height:30px;border-collapse:collapse">
                       @*<div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.VATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.CSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.PANNO</b>
                         </div>*@
                    </td>
                    <td  style="font-weight: bold; width: 250px;border-collapse:collapse;">
                   <div style="text-align:right;font-size:10px;border-left:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black"> Given By</div>
                          <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black"> Print Received By</div>
                        <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black">  Work Taken By</div>
                          <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black">  Work Completed By</div>
                        <div style="text-align:right;font-size:10px;border-left:1px solid black;border-top:1px solid black;"></div><div style="height:40px;border-left:1px solid black"></div><div style="text-align:right;text-emphasis-position:below;padding-bottom:5px;border-left:1px solid black">  Authorised Signatory</div>
                    </td>
                   
               @* </tr>*@
                            
         </table>
                           
                @* <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center;padding-bottom:500px"> @m.footerText</div>
    </td>
  </tr>
                 </table>*@
                              <div style="page-break-before: always;padding-top:100px">

                        </div>
                             <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid;border-top: 1px solid; height:100px" >
                                 <tr style=" border-top: 1px solid;">
                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif; ">
                              
                                        @if (@m.itemlogo != "")
                                        {
                                        <img src="@m.itemlogo"  style="width:500px" alt="" />
                                        }
                                        </td></tr> 
                                 </table>
                            <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid;border-top: 1px solid; height:100px" >
   <tr><td style="width:100%;border-bottom: 1px ;border-right: 1px ;
    border-collapse: collapse;font-family: Arial, Helvetica, sans-serif ;font-size:15px;text-align:center"><b>INSTRUCTION</b>: <br/>@m.purchaseitemDesc
                            </td>
</tr> 
         </table>      

                                </div>
    </div>
           
        </div>
         
}
    
@*</body>*@
</html>

  

   