﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Opportunity</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
     <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
     <script type="text/javascript">
         var $i = jQuery.noConflict();
         //var d = "ha";
         //$(this).attr("href", "data:application/pdf;base64," + $('#printdiv')[0].innerHTML + "").attr("download", "file-" + d + ".pdf");
         $i(document).ready(function () {
             debugger
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
             if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                 var data = $i('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     @*$.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        async:false,
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {*@
                     //EMPHCS1539 Mail Changes by srinivas
                     $i('#newMDialog').dialog({
                         autoOpen: false,
                         modal: true,
                         width: 680,
                         height: 520, resizable: false,
                         title: "Send this Opportunity",
                         draggable: false,
                         closeOnEscape: false
                     })
                     $i('#tabs1').tabs();
                     $i(this).attr('pattern', 'Y');
                     $i('.ui-dialog').show();
                     $i('.ui-dialog-titlebar').show();
                     $i('.ui-widget-overlay').show();
                     if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                         if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                             $i('.ui-dialog')[0].id = 'pnewDialog';
                             $i('#newMDialog').hide();
                         }
                     }
                     if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                         if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                             $i('.ui-dialog')[1].id = 'pnewDialog';
                             $i('#newMDialog').hide();
                         }
                     }
                     $i('#newMDialog').dialog('open');
                     $i('#newMDialog').show();
                     $i.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify({ fname: FormName, html: data }),
                         success: function (data) {
                             $i('.ui-dialog').css('height','520');
                             $i('#newMDialog').load("/SendMailer/Index");
                         }
                     })
                     $i('#newMDialog').on('dialogclose', function (event) {
                         $i('#newMDialog').attr('pattern', 'N');
                         $i('#newMDialog').dialog("close");
                         $i(".ui-widget-overlay").hide();
                         DynamicPopupcancel();
                     });
                     return false;
                     var Ref = '@Request["Vendorref"]';
                     var to = '@Request["idi"]';
                     if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                         $i('#SendPerson').val(to);
                         ddlSelectMailSendTo(to, '@Session["id"]');
                     }
                     //    }
                     //});
                 }
             }
             else if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "automail") {
                 var data = $i('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     $i.ajax({
                         url: "/SendMailer/EmailSend?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                         type: "POST",
                         contentType: "application/json",async:false,
                         data: JSON.stringify({ fname: FormName, html: data,Transno:@Request["sono"] }),
                         success: function (data) {
                             window.location.href = "/FormBuilding/Info?FormName=" + FormName + "&ide =null";
                         }
                     })
                 }
             }
             else {
                 var winPrint = window.open("", "", "height=700px,width=1366px, location=center,toolbar=no,menubar=no,scrollable=yes,resizable=yes");
                 winPrint.document.write('<html><head><style>  table th{ background-color:black;color:white;border-color:black;}</style></head><bodybrowser>');
                 winPrint.document.write($i("#printdiv")[0].innerHTML)
                 winPrint.document.close();
                 winPrint.print();
                 winPrint.close();
             }
         });
    </script>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
@using (Html.BeginForm("Print", "OpportunityMPPrint"))
{
    var m = Model.Where(a => a.SONO != null).FirstOrDefault();
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
    <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
          <table style="width:98%;min-height:55px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;">
     <div style="text-transform:uppercase"> <b> @m.ouName</b></div>
            <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0" >

@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity - @m.ozip</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                
                                @*    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ostate</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>*@
                                    
                                    
                                    
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                       <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt="" />
                                        }
                                        </td></tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                    
  @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Email ID.&nbsp;   :@m.mailid</td></tr>*@
                                 }
                                    
                                    
                                    
                                    </table> 
                         </div>
            
                     </td>
                 </tr>
             </table>


             <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px;padding:0px"><b>Order/Indent/PO (from Customer)</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    
    <td style="width:59%" >
                   
                       <div style="height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1, @m.oAdresss2</td></tr>
                                    <tr>@*<td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>*@</tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity , @m.ostate</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
               

                                    @*<tr><td></td></tr>*@
                                    </table></div>
   </td>

    <td style="width:41%;height:85px;" >
                               <div style="  overflow: hidden;height:100%;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50%;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Opportunity# : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50%;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Executed By : <br /> <b>@m.SalesRep</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Lead Source :<br /> <b>@m.LeadSource</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
<tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 100px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >

                              
                 @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Customer</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss, @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry-@m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                 <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Email ID: @m.mailid</td></tr>

                                    @*<tr><td></td></tr>*@
                                    </table></div>
   </td>
    

    <td style="width:41%;height:85px;" >
                               <div style="  overflow: hidden;height:100%;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:100%;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px solid" >
             <tr style="border:0px;">
           @*<td style=" float:left;width:49%"> Next Follow up : <br /> <b>@m.Followup</b></td>*@

      <td style=" float:left ;width:49%; height:86px">  Close Date : <br /> <b>@m.CloseDate</b></td>
     
       </tr>

      </table>
        @*<table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>*@
        </div>
        </td>
  </tr>
  
                 
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <table style="width:100%;"><tr>
         <td style=" float:left;width:22%;"> Customer TIN:</td>
<td style="font-weight:bold; float:left  ;width:22%;padding-left:10px;"><b>@m.custTin</b></td>
      <td style=" float:left ;width:22%;">Customer's CST No</td>
 <td style="font-weight:bold; float:left   ;width:22%;padding-left:10px;"> <b>@m.CCSTNO</b></td> 
   </tr></table> </td>
  </tr>
</table>



         <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
               
                  <table id="grdfData" style="border-collapse: collapse; width: 100%; font-size:10px; border-right:0px; border:1px solid;font-family:  Arial, Helvetica, sans-serif;" border="1">
                  <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:50%">Description of Goods </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:11%">Products Code </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Rate</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {
                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount + 1) { rowcount = rowcount + 1; }
                        if (rowcount % 15 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
			    @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family:  Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.upc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>
                            
                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                        </tr>
                        @:</tbody></table>
                        @:</div><div   id="printpage" > 
                            
                     <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=""><td rowspan="6" style="width: 4%;border-top:none"></td><td rowspan="6" style="width:55.5%;border-top:none"></td><td>Net Amount</td><td style="width:13.5%;text-align:right">@m.SubTotal</td></tr>
                                <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>
                                <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }

                                  }</td>
                       </tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>
                                @*<tr><td></td><td></td></tr>*@
                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.Total </td></tr>
                            </table>
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                        
                    </tr>
                </table>
                           <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family:  Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                   <div>
                                       PROPERTY: Goods shall remain the property of the supplier until payment in full has been made. The Supplier reserves 
                                       the right to enter the PURCHASERS premises to recover goods remaining unpaid for after the due payment date.
                                   </div>
                                   </td> 
                                   <td style="width:50%;padding-left:40px; font-size:8px">
                                      <div> I/We hereby certify that my/ our Registration Certificate under Telangna State Value Added Tax Act 2015 is
                                       in force on the date on which the sale of the goods specified in this tax invoice is made by me/us and
                                       that the transaction of sale covered by this tax invoice has been effected by me /us and it shall be
                                       accounted for in the turnover of sales while filing of return and the due tax, if any payble on the sales
                                       has been paid shall or shall be paid.</div>
                                         </td></tr>
                           </table>
                 
                        <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:10px ;font-family: Arial, Helvetica, sans-serif" >
                              <tr>
                                  <td style="width:67%">
                                   NOTE:<div> Transport Charges Extra At Acutuals Paid By Customer.</div>
                                  </td>
                              </tr> 
                        </table>
                         <table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family:  Arial, Helvetica, sans-serif" >
                               <tr>
                                        <td  >
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                                             @if (@m.StateLincense != null && @m.StateLincense != "")
                                             { 
       <div style=" float:left;"> FSSAI State Lincense No:</div>
<div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                             }
                                             @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                             { 
      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div> 
                                             }
                                   </td>
                               </tr>
                             </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 400px;height:66px;border-collapse:collapse">
                       <div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                         </div>
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size: 10px;">@m.oAdresss</div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
           
                      <div style="min-height:65px;  overflow: hidden;font-size: 10px;border:none;  padding-left: 10px;border-bottom:0px;">
             <table style="width:98%;min-height:65px; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
     <div style="text-transform:uppercase"><b> @m.ouName</b></div>
            <table style="width: 100%;border-collapse: collapse;" border="0" >

@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity - @m.ozip</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
               @* <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Email ID: @m.mailid</td></tr>*@
                              @* <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                                    *@
                                    
                                    
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                          <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt="" />
                                        }
                                        </td></tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                    

                                 }
                                    
                                    
                                    
                                    </table> 
                         </div>
                                          
                @*<img style="width: 60%;" src="E:/EmphoraERP/APP/APPSolution/eBizSuiteAppUI/Images/@m.logoName" />*@
            
                     </td>
                 </tr>
             </table>
</div>


             <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b>Order/Indent/PO (from customer) </b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1, @m.oAdresss2</td></tr>
                                    <tr>@*<td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>*@</tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity , @m.ostate</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
               
                                    @*<tr><td></td></tr>*@
                                    </table></div>
   </td>
    <td style="width:41%;height:85px;" >
                               <div style="  overflow: hidden;height:100%;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50%;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Opportunity# : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:50%;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Executed By : <br /> <b>@m.SalesRep</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Lead Source :<br /> <b>@m.LeadSource</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
<tr style=" border-top: 1px solid;">
    <td style="width:59%;height:85px;" >
                   
                       <div style="height: 100px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.Customer</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss, @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity,@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry-@m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                 <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Email ID: @m.mailid</td></tr>
                                    </table></div>
   </td>
    

    <td style="width:41%;height:85px;" >
                               <div style="  overflow: hidden;height:100%;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:100%;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px solid" >
             <tr style="border:0px;">
          @* <td style=" float:left;width:49%"> Next Follow up : <br /> <b>@m.Followup</b></td>*@

      <td style=" float:left ;width:49%; height:86px">Close Date : <br /> <b>@m.CloseDate</b></td>
  
          
       </tr> 

             </table>
      @*  <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>*@
        </div>
        </td>
  </tr>
  
                 
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:30px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:100px">Customer's CST No</div>
 <div style="font-weight:bold; float:left   ;padding-left:30px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
</table>
                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                <thead style="display:table-header-group " >

                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:50%">Description of Goods </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:11%">Products Code </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Rate</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
			<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family:  Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.upc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>
                            
                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                        </tr>
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 15;
                                if (cnt == 1) { ct = (rowcount) % 15; }
                                if (ct != 0)
                                {
                                    ct = 15 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:13px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                }
                        @:</tbody></table>
                        @:</div>
                        }
                        }
                    }    
           </tbody>
                </table>
               <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" "><td rowspan="6" style="width: 4%;border-top:none"></td><td rowspan="6" style="width:55.5%;border-top:none"></td><td style="border-top:none">Net Amount</td><td style="width:13.5%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>
                                <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }

                                  }</td>
                       </tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>
                                @*<tr><td></td><td></td></tr>*@
                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.Total </td></tr>
                            </table>
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                        
                    </tr>
                </table>
                           <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                   <div>
                                       PROPERTY: Goods shall remain the property of the supplier until payment in full has been made. The Supplier reserves 
                                       the right to enter the PURCHASERS premises to recover goods remaining unpaid for after the due payment date.
                                   </div>
                                   </td> 
                                   <td style="width:50%;padding-left:40px; font-size:8px">
                                      <div> I/We hereby certify that my/ our Registration Certificate under Telangna State Value Added Tax Act @m.VATNO is
                                       in force on the date on which the sale of the goods specified in this tax invoice is made by me/us and
                                       that the transaction of sale covered by this tax invoice has been effected by me /us and it shall be
                                       accounted for in the turnover of sales while filing of return and the due tax, if any payble on the sales
                                       has been paid shall or shall be paid.</div>
                                         </td></tr>
                           </table>
                 
                        <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:10px ;font-family: Arial, Helvetica, sans-serif" >
                              <tr>
                                  <td style="width:67%">
                                   NOTE:<div> Transport Charges Extra At Acutuals Paid By Customer.</div>
                                  </td>
                              </tr> 
                        </table>
                         <table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr style=" border-top: 0px solid;">
                                        <td  >
@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                                  @if (@m.StateLincense != null && @m.StateLincense != "")
                                  { 
       <div style=" float:left;"> FSSAI State Lincense No:</div>
<div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                  }
                                       @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                       { 
      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div> 
                                       }
                                   </td>
                               </tr>
                             </table>
             
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 400px;height:66px;border-collapse:collapse">
                       <div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                         </div>
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size: 10px;">@m.oAdresss</div><div style="height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
               </div>
    </div>
     </div>

    
}
</body>
</html>
