﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>PayBill Voucher</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        //var d = "ha";
        //$(this).attr("href", "data:application/pdf;base64," + $('#printdiv')[0].innerHTML + "").attr("download", "file-" + d + ".pdf");
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
		//EMPHCS1823 rajasekhar reddy patakota 10/06/2016 Email template Setup for Transactions
                    $i('#newMDialog').dialog({
                        autoOpen: false,
                        modal: true,
                        width: 680,
                        height: 520, resizable: false,
                        title: "Send this Payment",
                        draggable: false,
                        closeOnEscape: false
                    })
                    $i('#tabs1').tabs();
                    $i(this).attr('pattern', 'Y');
                    $i('.ui-dialog').show();
                    $i('.ui-dialog-titlebar').show();
                    $i('.ui-widget-overlay').show();
                    if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                        if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                            $i('.ui-dialog')[0].id = 'pnewDialog';
                            $i('#newMDialog').hide();
                        }
                    }
                    if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                        if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                            $i('.ui-dialog')[1].id = 'pnewDialog';
                            $i('#newMDialog').hide();
                        }
                    }
                    $i('#newMDialog').dialog('open');
                    $i('#newMDialog').show();
                    $i.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            $i('.ui-dialog').css('height', '520');
                            $i('#newMDialog').load("/SendMailer/Index");
                        }
                    })
                    $i('#newMDialog').on('dialogclose', function (event) {
                        $i('#newMDialog').attr('pattern', 'N');
                        $i('#newMDialog').dialog("close");
                        $i(".ui-widget-overlay").hide();
                        DynamicPopupcancel();
                    });
                    return false;
                    var Ref = '@Request["Vendorref"]';
                    var to = '@Request["idi"]';
                    if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                        $i('#SendPerson').val(to);
                        ddlSelectMailSendTo(to, '@Session["id"]');
                    }
                    //    }
                    //});
                }
            }
            else {
                PrintForms();
            }
        });
    </script>
</head>
<body>
@using (Html.BeginForm("Print", "PurchaseOrderPrint"))
{
    var m = Model.Where(a => a.SONO != null).FirstOrDefault();
    <div id="printdiv" style="height:1000px; border: 2px solid #999;padding: 1px;" >

        <div style="text-align:center;width:100%;font-size:xx-large"> <u>PayBill Voucher</u></div><br />

        <div style="border: 1px solid #999;padding: 1px;"> <br />

          <table  border="1"><tr style="width:100%;">
              <td style="text-align:left;width:100%;">Payment No#:@m.SONO </td> 
              <td style="text-align:center;width:100%;">Date:@m.Date</td>

           </tr></table>
            
            <table style="border-collapse: collapse; width: 100%; border-left:0px;" border="1">
                            <tr style="border: 0px solid black; width: 100%;background-color:lightgray;border-left:0px;border-right:0px; text-align: left; width: 100%">

               
                    <td style="float:left; border: 1px solid black;border-left:0px;padding-left: 20px;font-family:Georgia,serif;font-weight: bold;font-size: 14px; width: 46.6%;">
                        PAID TO :  
                    </td>
                    <td  style="float:left;border: 1px solid black;border-right:0px;padding-left: 20px;font-family:Georgia,serif;font-weight: bold;font-size: 14px; width: 45%;">
                       
                    </td>
                   
                </tr>
         </table>
<table style="border-collapse: collapse; width: 100%; border-left:0px;" border="1">
         <tr style="border-collapse: collapse; width: 100%; border-left:0px;" >
                        <td style="float:left; border: 1px solid black;border-left:0px;padding-left: 0px;font-family:Georgia,serif;font-weight: bold;font-size: 14px; width: 49.5%;border-bottom:0px;">
                            <div style="height: 140px; width: 150px;font-family:monospace; overflow: hidden;font-size: 14px;border:none ; padding-left: 118px;margin-top: 15px;">
                                <table border="0">
                                    <tr><td>@m.cAdresss</td></tr>
                                    <tr><td>@m.cAdresss1</td></tr>
                                    <tr><td>@m.ccity</td></tr>
                                    <tr><td>@m.cstate</td></tr>
                                    <tr><td>@m.ccountry</td></tr>
                                    <tr><td>@m.czip</td></tr>
                                   
                                </table>
                                
                              </div>
                           
                        </td>
                             
                        <td style="float:left;border: 1px solid black;border-right:0px;padding-left: 20px;font-family:Georgia,serif;font-weight: bold;font-size: 14px; width: 46%;border-bottom:0px;">
             <div style="height: 145px; width: 150px; font-family:monospace;overflow: hidden;font-size: 14px;border:none;  padding-left: 94px;border-bottom:0px;margin-top: 15px;">
                 
                 <table border="0">
                                    
                                   
                                </table>
                 

             </div></td>
                   

                            </tr>


         </table>
        </div>

       

    
        <div style="min-width:1000px;height:400px;border: 1px solid #999;padding: 1px;">
            <table id="grdfData"   border="1">
                    <thead>
                        <tr>
                            <th scope="col">Date </th>
                            <th scope="col">Amount</th>
                            <th scope="col">Due Amount </th>
                            <th scope="col">Payment </th>
                        </tr>
                    </thead>

                    @foreach (var item in ViewBag.pitemsdata)
                    {
                        <tr>
                            <td style="font-size: 12px; background-color: inherit; width: 150px; text-align: left; border: none">@item.Date  </td>
                            <td style="font-size: 12px; background-color: inherit; width: 150px; text-align: left; border: none">@item.amount </td>
                            <td style="font-size: 12px; background-color: inherit; width: 150px; text-align: left; border: none">@item.dueAmnt </td>
                            <td style="font-size: 12px; background-color: inherit; width: 150px; text-align: left; border: none">@item.payment </td>
                        </tr>
                    }
                </table>

</div>

        <div>
            <table style="width:100%"   border="1"><tr style="width:100%"><td style="width:40%"></td><td style="width:40%"></td>
                <td style="text-align:center;width:10%;font-weight:700;font-size:large">Total</td><td style="text-align:center;width:10%;font-weight:700;font-size:large"> @m.Total</td></tr></table>
        </div>
    </div>
}
</body>
</html>
