﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>PurchaseOrderwren7print</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script type="text/javascript">
         //var d = "ha";
         //$(this).attr("href", "data:application/pdf;base64," + $('#printdiv')[0].innerHTML + "").attr("download", "file-" + d + ".pdf");
         $(document).ready(function () {
             debugger
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
             if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                 var data = $('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     $.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["pono"] +"",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify({ fname: FormName, html: data }),
                         success: function (data) {
                             //window.location.href = "/SendMailer/Index?FormName=Email&Vendorref=" + $i("#PUTABLE001COLUMN05").val() + "&idi=22369";
                             //EMPHCS1539 Mail Changes by srinivas
                             $i('#newMDialog').dialog({
                                 autoOpen: false,
                                 modal: true,
                                 width: 600,
                                 height: 400, resizable: false,
                                 title: "Send this Puchase Order",
                                 draggable: false,
                                 closeOnEscape: false
                             })
                             $i('#tabs1').tabs();
                             $i(this).attr('pattern', 'Y');
                             $i('.ui-dialog').show();
                             $i('.ui-dialog-titlebar').show();
                             $i('.ui-widget-overlay').show();
                             if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                 if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                     $i('.ui-dialog')[0].id = 'pnewDialog';
                                     $i('#newMDialog').hide();
                                 }
                             }
                             if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                 if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                     $i('.ui-dialog')[1].id = 'pnewDialog';
                                     $i('#newMDialog').hide();
                                 }
                             }
                             $i('#newMDialog').dialog('open');
                             $i('#newMDialog').show();
                             $i('#newMDialog').load("/SendMailer/Index?FormName=PurchaseOrder&Vendorref=" + $i("#PUTABLE001COLUMN05").val() + "&idi=22369");
                             $i('#newMDialog').on('dialogclose', function (event) {
                                 $i('#newMDialog').attr('pattern', 'N');
                                 $i(this).dialog("close");
                                 $i(".ui-widget-overlay").hide();
                                 DynamicPopupcancel();
                             });
                             return false;
                             var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                             if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                 $i('#SendPerson').val(to);
                                 ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                         }
                     });
                 }
             }
             else {
                 PrintForms();
             }
         });
    </script>
</head>
<body style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
    @using (Html.BeginForm("Print", "PurchaseOrderwren7print"))
    {
        var m = Model.Where(a => a.PONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();
        <div id="printdiv" style="font-size:10px;font-family: Arial, Helvetica, sans-serif;">


            <div style="text-align: right;float:left;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 65%; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;padding-top:38px;padding-bottom:5px;">
                Purchase Order
            </div>
            <div style="float:left;width: 30%;font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                @if (Convert.ToString(@m.logoName) != "" && Convert.ToString(@m.logoName) != null)
                {
                    <img src="/Content/Upload/@m.logoName" width="70px" alt="" />
                }
                else if (Convert.ToString(@Session["logo"]) != "")
                {
                    <img src="/Content/Upload/@Session["logo"]" width="70px" alt="" />
                }
            </div>
            <table border="1" style="width:98%;min-height:120px; border-collapse:collapse;font-size:14px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">

                <tr style="vertical-align: top;">
                    <td rowspan="2" style="width: 60%;">
                        <div><b>FROM: </b></div>
                        <div style="min-height: 125px;  overflow: hidden;font-size: 10px;border:none;  padding-left: 20px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
                            @*EMPHCS715	New invoice document print on sale order,purchase order,bill and invoice by srinivas 7/21/2015*@
                            <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0">
                                @*@if (Session["AcOwner"].ToString() == "56637")
                                {
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td> </tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.compA1, @m.compCity- @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.compState, @m.compCtry </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">PhNo: @m.OPUPhNo </td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">Mail: @m.Custmail</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">For queries - support@flytees.in </td></tr>
                                }
                                else
                                {*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.ocity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.ostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>GSTIN: @m.CGSTIN</b> </td></tr>
                                @*}*@
                            </table>
                        </div>
                    </td>
                    <td>
                        <div> Order#</div>
                        <br /><div style="font-weight:bold;">@m.PONO</div>
                    </td>
                    <td>
                        <div>Date</div>
                        <br /><div style="font-weight:bold"> @m.Date</div>
                    </td>
                </tr>
                <tr style=" border-top: 1px solid;vertical-align:top;">
                    <td>
                        <div> Reference#</div>
                        <br /><div style="font-weight:bold;"> @m.Reference</div>
                    </td>
                    <td>
                        <div> Due Date</div>
                        <br /><div style="font-weight:bold;"> @m.DueDate</div>
                    </td>


                </tr>

                <tr style=" border-top: 1px solid;vertical-align:top;">
                    <td rowspan="1">

                        <div><b>TO: </b></div>
                        <div style="min-height: 145px;  overflow: hidden;font-size: 12px;border:none;  padding-left: 20px;border-bottom:0px;">
                            <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0">


                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>@m.Vendor</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss1</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.city</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.state</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.country - @m.zip</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">PhNo: @m.PhoneNo </td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>GSTIN: @m.CustGSTIN</b> </td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">Mail: @m.companymail</td></tr>

                            </table>
                        </div>

                    </td>
                    <td>
                        <div> Payment Terms</div>
                        <br /><div style="font-weight:bold;"> @m.PaymentTerms</div>
                    </td>
                    <td>
                        <div>Payment Mode</div><br /><div style="font-weight:bold">@m.PaymentMode</div>
                    </td>
                </tr>
            </table>


            <div style="width: 98%; border-collapse: collapse; padding: 0px;">
                <div id="printpage">
                    <table id="grdfData" style="min-height:230px;border-collapse: collapse; width: 100%;font-size:10px; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                        <thead style="display:table-header-group ">
                            <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                <th style="font-weight:100;color:black;text-align:left;font-weight:bold;font-size:13px;border: 1px solid black; width:1%"><b>Sl<br />No. </b> </th>

                                <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; width:40%"><b>Description of Goods</b> </th>

                                <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize; width:4%"><b>Units</b> </th>
                                <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize;width:6%"><b>Quantity</b></th>
                                <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize;width:9%"><b>Rate</b></th>

                                <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize;width:10%;"><b>Amount</b></th>
                            </tr>
                        </thead>
                        @{int counter = 0;
                            var q = "(";
                            var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var input = "Input @ ";
                            var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
                        }
                        <tbody>
                            @foreach (var item in ViewBag.pitemsdata)
                            {
                                var cnt = (ViewBag.pitemsdata).Count;
                                counter = counter + 1;
                                rowcount = rowcount + 1;
                                if (cnt == rowcount + 1) { rowcount = rowcount + 1; }
                                if (rowcount % 10 == 0)
                                {
                                    pageno = pageno + 1;
                                @:</tbody></table>
                                <table style="min-height:250px; width:100%; text-align :right;border:1px solid black;border-top:0px;padding-left:20px">
                                    <tr><td>continued ...</td></tr>

                                </table>
                                @*<div style="text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif">This is a Computer Generated Purchase Order</div>*@
                                <div style="page-break-before: always">
                                    &nbsp;
                                </div>
                            @:</div><div id="printpage">






                                <div style="text-align: right;float:left;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 65%; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;padding-top:38px;padding-bottom:5px;">
                                    Purchase Order  @pagetext @pageno)
                                </div>
                                <div style="float:left;width: 30%;font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                    @if (Convert.ToString(@m.logoName) != "" && Convert.ToString(@m.logoName) != null)
                                    {
                                        <img src="/Content/Upload/@m.logoName" width="70px" alt="" />
                                    }
                                    else if (Convert.ToString(@Session["logo"]) != "")
                                    {
                                        <img src="/Content/Upload/@Session["logo"]" width="70px" alt="" />
                                    }
                                </div>
                                <table border="1" style="width:100%;min-height:130px; border-collapse:collapse;font-size:14px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">

                                    <tr style="vertical-align: top;">
                                        <td rowspan="2" style="width: 60%;">
                                            <div><b>FROM: </b></div>
                                            <div style="min-height: 125px;  overflow: hidden;font-size: 10px;border:none;  padding-left: 20px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
                                                @*EMPHCS715	New invoice document print on sale order,purchase order,bill and invoice by srinivas 7/21/2015*@
                                                <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0">
                                                    @*@if (Session["AcOwner"].ToString() == "56637")
        {
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company</b></td></tr>
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.compA1, @m.compCity- @m.compZip</td></tr>
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.compState, @m.compCtry </td></tr>
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>GSTIN: @m.CGSTIN </b></td></tr>
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">PhNo: @m.OPUPhNo </td></tr>
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">Mail: @m.Custmail</td></tr>
            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:center;font-size:13px;font-family: Arial, Helvetica, sans-serif ">For queries - support@flytees.in </td></tr>
        }
        else
        {*@
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.ocity</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.ostate</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>GSTIN: @m.CGSTIN</b> </td></tr>
                                                    @*}*@
                                                </table>
                                            </div>
                                        </td>
                                        <td>
                                            <div> Order#</div>
                                            <br /><div style="font-weight:bold;">@m.PONO</div>
                                        </td>
                                        <td>
                                            <div>Date</div>
                                            <br /><div style="font-weight:bold"> @m.Date</div>
                                        </td>
                                    </tr>
                                    <tr style=" border-top: 1px solid;vertical-align:top;">
                                        <td>
                                            <div> Reference#</div>
                                            <br /><div style="font-weight:bold;"> @m.Reference</div>
                                        </td>
                                        <td>
                                            <div> Due Date</div>
                                            <br /><div style="font-weight:bold;"> @m.DueDate</div>
                                        </td>


                                    </tr>

                                    <tr style=" border-top: 1px solid;vertical-align:top;">
                                        <td rowspan="1">

                                            <div><b>TO: </b></div>
                                            <div style="min-height: 145px;  overflow: hidden;font-size: 12px;border:none;  padding-left: 20px;border-bottom:0px;">
                                                <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0">

                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>@m.Vendor</b></td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.Adresss1</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.city</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.state</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">@m.country - @m.zip</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">PhNo: @m.PhoneNo </td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif "><b>GSTIN: @m.CustGSTIN </b></td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:13px;font-family: Arial, Helvetica, sans-serif ">Mail: @m.companymail</td></tr>
                                               
                                                </table>
                                            </div>

                                        </td>
                                        <td>
                                            <div> Payment Terms</div>
                                            <br /><div style="font-weight:bold;"> @m.PaymentTerms</div>
                                        </td>
                                        <td>
                                            <div>Payment Mode</div><br /><div style="font-weight:bold">@m.PaymentMode</div>
                                        </td>
                                    </tr>
                                </table>
                                @:<table id="grdfData" style="min-height:230px;border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                    <thead style="display:table-header-group ">
                                        <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                            <th style="font-weight:100;color:black;text-align:left;font-weight:bold;font-size:13px;border: 1px solid black; width:1%"><b>Sl<br />No. </b> </th>

                                            <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; width:40%"><b>Description of Goods</b> </th>

                                            <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize; width:4%"><b>Units</b> </th>
                                            <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize;width:6%"><b>Quantity</b></th>
                                            <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize;width:9%"><b>Rate</b></th>

                                            <th style="font-weight:100;color:black;text-align:center;font-weight:bold;font-size:13px;border: 1px solid black; text-transform: capitalize;width:10%;"><b>Amount</b></th>
                                        </tr>
                                    </thead>
                                    @:<tbody>
                                    }
                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;vertical-align: top;">
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px ">@counter</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.item</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>

                                        @*<td style="border: 1px solid black;">@if (@item.HTamnt != "0")
                                                                                 { @item.names <br />}@if (@item.val != "0")
                                                                                                      { @item.name } </td>
                                            <td style="border: 1px solid black;"> @if (@item.lTamnt != 0)
                                                                                  {@q  @item.HTamnt  @Qp}@if (@item.lTamnt != 0)
                                                                                                         { @item.lTamnt<br /> } @if (@item.val != "0")
                                                                                                                                                                      { @q  @item.val @Qp  }@if (@item.Tamnt != 0)
                                                                                                                              { @item.Tamnt } </td>    *@
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:13px;font-family: Arial, Helvetica, sans-serif;">@item.lineamt  </td>
                                    </tr>
                                }
                            <tr style="border: 1px solid black;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                <td style="border-top:0px;border-bottom:0px; border-right:0px;"></td>
                                <td style="border-top:0px;border-bottom:0px; border-right:0px;"></td>
                                <td style="border-top:0px;border-bottom:0px; border-right:0px;"></td>
                                <td style="border-top:0px;border-bottom:0px; border-right:0px;"></td>
                                <td style="border-top:0px;border-bottom:0px; border-right:0px;"></td>
                                <td style="border-top:0px;border-bottom:0px; border-right:0px;"></td>
                            </tr>
                            <tr style="height:15px;border: 1px solid black;border-top:0px;border-bottom:0px;text-align:right;width:1%">
                                <td style="height:15px;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                <td style="height:15px;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                <td style="height:15px;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                <td style="height:15px;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                <td style="height:15px;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                <td style="height:15px;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>

                            </tr>
                            @* @foreach (var item in ViewBag.taxitemsdata)
                                 {
                                     if (@item.linetaxes != null && @item.linetaxes != "0")
                                     {
                                <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;   ">
                                 <td style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; "></td>
                                 <td style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@input @item.linetaxes  </td>
                                 <td style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                 <td style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"> </td>
                                 <td style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right"> </td>
                                 <td style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item.linetotaltax  </td>
                                 </tr>}
                                 }*@
                            @if (@m.Total != null)
                            {
                                <tr style="border: 1px solid black;border-left:0px;border-bottom:0px;width:1%;height: 20px  ">
                                    <td style="border: 1px solid black;border-left:0px;border-bottom:0px; "></td>
                                    <td style="border: 1px solid black;border-left:0px;border-bottom:0px;font-weight:bold;text-align:right;"><b>Total</b></td>
                                    <td style="border: 1px solid black;border-left:0px;border-bottom:0px;text-align:right"> </td>
                                    <td style="border: 1px solid black;border-left:0px;border-bottom:0px;font-weight:bold;font-size:12px;text-align:right;font-weight:bold"> @m.TotalQuantity</td>
                                    <td style="border: 1px solid black;border-left:0px;border-bottom:0px;text-align:right"> </td>
                                    <td style="border: 1px solid black;border-left:0px;border-bottom:0px;font-weight:bold;font-size:12px;text-align:right;font-weight:bold"> @m.SubTotal  </td>
                                </tr>}
                        </tbody>
                    </table>

                    <table style="min-height:20px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                        <tr style=" ">
                            <td rowspan="1" style="width: 4%;border-top:none"></td>
                            <td rowspan="1" style="width:53.8%;border-top:none"></td>
                            <td>
                                @foreach (var item1 in ViewBag.taxitemsdata)
                                {
                                    if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                    {

                                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;text-align:center;font-weight:bold">@input @item1.linetaxes  </DIV>

                                    }
                                    else
                                    {
                                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"></DIV>
                                    }

                                }
                            </td>
                            <td style="width:14.2%;text-align:right;border-top:none">
                                @foreach (var item12 in ViewBag.taxitemsdata)
                                {
                                    if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                    {

                                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:12px;font-weight:bold">@item12.linetotaltax  </DIV>
                                    }
                                    else
                                    {
                                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"></DIV>
                                    }

                                }
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="border-left:none"></td>
                            <td style="border-left:none;text-align:center;font-weight:bold;">
                                <b>Net Amount</b>
                            </td>
                            <td style="text-align:right;font-weight:bold;font-size:12px">@m.Total </td>
                        </tr>
                    </table>

                    <table style="width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                        <tr style="width: 100%;"><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">@amttxt</td></tr>
                        <tr style="width: 100%;">

                            <td style="text-align: left; width: 80%;font-weight: bold;font-size: 12px;text-transform:capitalize;">INR @m.amtInWord   </td>

                        </tr>
                    </table>
                    <table style="width: 100%; border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="0">
                        <tr style="width: 100%;">
                            <td>
                                <div style="width: 100%;min-height: 100%; max-height:100%; padding: 0px;">


                                    <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                                        @* <tr style="border: 0px solid black; width: 100%;  text-align: left; width: 100%">
                                                    <td>Local Sales Tax No&nbsp;   :<b>&nbsp;@m.VATNO</b></td> </tr>
                                                   <tr style="border: 0px solid black; width: 100%;  text-align: left; width: 100%">
                                                    <td>Company's CST No&nbsp;     :<b>&nbsp;@m.CSTNO</b></td>
                                                   </tr>
                                                    <tr style="border: 0px solid black; width: 100%;  text-align: left; width: 100%">
                                                    <td>Company's GSTIN &nbsp;     :<b>&nbsp;@m.CGSTIN</b></td>
                                                   </tr>
                                                   <tr style="border: 0px solid black; width: 100%;  text-align: left; width: 100%">
                                                    <td>Vendor's CST No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     :<b>&nbsp;@m.CCSTNO</b></td>
                                                   </tr>
                                                   <tr style="border: 0px solid black; width: 100%;  text-align: left; width: 100%">
                                                    <td>Vendor's VAT No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     :<b>&nbsp;@m.CVATNO</b></td>
                                                   </tr>
                                              <tr style="border: 0px solid black; width: 100%; text-align: left; width: 100%">
                                            <td>Vendor's TIN#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :<b>&nbsp;@m.TINNO</b></td>
                                                   </tr>*@
                                        <tr style="border: 0px solid black; width: 100%; text-align: left; width: 100%">
                                            <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Company's PAN&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;         :<b>&nbsp;@m.PANNO</b></td>
                                        </tr>
                                        <tr style="border: 0px solid black; width: 100%; text-align: left; width: 100%">
                                            <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">Vendor's PAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      :<b>&nbsp;@m.CPANNO</b></td>
                                        </tr>
                                        <tr style="border: 0px solid black; width: 100%;text-align: left;border-left:0px;border-top:0px;border-bottom:0px; width: 100%">


                                            <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                                                <u>Declaration</u> <br />

                                                We declare that this Purchase Order shows the actual price of the

                                                goods described and that all particulars are true and

                                                correct.
                                            </td>

                                            <td style="border-top:1px solid black;padding-left: 20px; border-left:1px solid black;font-weight: bold; width: 250px;">
                                                <div style="text-align:right;font-size: 12px;">@m.company</div><div style="height:50px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>

                    </table>
                    @*<div style="text-align:center;font-size:10px;font-family: Arial, Helvetica, sans-serif">This is a Computer Generated Purchase Order</div>*@
                </div>
            </div>
        </div>

    }
</body>
</html>
