﻿@{
    ViewBag.Title = "PurchaseReturnTaxRegister";
}

@model List<MeBizSuiteAppUI.Controllers.POPrint>
@using MeBizSuiteAppUI.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>PurchaseReturnTaxRegister</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
     <script>
         $(document).ready(function () {
             debugger
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["pono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                        }
                    });
                }
            }
            else {
                //PrintForms();
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/pdf?FormName=" + FormName + "",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ data: data }),
                        success: function (data) {
                            window.location.href = "/Print/GetPdf?ID=" + @Request["pono"] + "";
                        }
                    });
                    }
                }
        });
    </script>
</head>
<body style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
<div id="printdiv" style="font-size:10px;display:none;font-family: Arial, Helvetica, sans-serif;" >         
@using (Html.BeginForm("Print", "PurchaseReturnTaxRegister"))
{

        var m = Model.Where(a => a.ouName != null).FirstOrDefault();
             <table style="width:100%;min-height:90px;border-top:1px;border-bottom:0px;border-left:1px;border-right:1px;border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center;border-top:1px;font-family:Arial, Helvetica, sans-serif;height:30px; ">
    <td colspan="2" style="font-size:16px;border-bottom:1px;"><b>Purchase Return TaxRegister</b>

    </td>
    
  </tr>
<tr style="text-align: left; font-family:Arial, Helvetica, sans-serif;height:80px; ">
    <td colspan="2" style="font-size:16px;padding:5px">
             <div style="min-height: 70px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               @*<div style="font-size:14px;padding-bottom:2px"><b>Company Details</b></div>*@ 
                            <table style="border-collapse: collapse;" border="0" >
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company </b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">   @m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity -  @m.compZip</td></tr>
                                    </table></div>
    </td>   
  </tr>
   <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif;  ">
    <td colspan="2" style="font-size:12px;padding:5px;border-top:1px;font-weight:bold">       
              @m.pFDate To  @m.pTDate
    </td>   
  </tr>
</table>



          <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%;border-right:1px;border-top:1px;border-bottom:1px;border-left:1px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                   <thead style="display:table-header-group;font-size:10px;padding-top:5px;background-color:lightgrey " >
                       <tr style="border-top:1px; width: 100%;text-align: left;  border-right:0px;font-size:10px;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Invoice#</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Date</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Customer</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Invoice Amount</th>  
                           @foreach(var cols in ViewBag.uniqueCols) 
                           {                            
                              <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">@cols["tax"]</th>
                           }
                           @*<th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Form</th>*@  
                        </tr>
 
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var page = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody style="border-left:1px;" > 

                        @foreach (var cols3 in ViewBag.pitemsdata)
                        {
                            var cnt = (ViewBag.pitemsdata).Count;
                            counter = counter + 1;
                            rowcount = rowcount + 1;
                            if (cnt == rowcount + 1) { rowcount = rowcount + 1; }
                            if (rowcount % 48 == 0 && cnt != rowcount && cnt != rowcount - 1)
                            {
                                pageno = pageno + 1;
                         <tr style="border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;padding-top:10px;padding-left:5px">
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;padding-top:5px;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["transno"] </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">
                           @if (@cols3["datec"].ToString() != "")
                           {
                               //DateTime dtt = Convert.ToDateTime(@cols3["datec"].ToString());
                               //var date = dtt.ToString(Session["DateFormat"].ToString());
                                 <div >@cols3["datec"].ToString()</div>} </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["payee"]</td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["subtotal"] </td>
                           @foreach (var cols1 in ViewBag.uniqueCols)
                           {
                               var t = @cols1["tax"];               
                                  <td style="font-weight:100;border-collapse:collapse;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3[t]</td>
                           }
                             @*<td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["form"] </td>*@
                        </tr>
                        @:</tbody></table>
                        @:</div><div id="printpage" style="border:none" > 
                              <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                              <table style="width:100%;min-height:90px;border-top:0px;border-bottom:1px;border-collapse:collapse;border-left:1px;border-right:1px;border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                        <tr style="border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;padding-top:10px;padding-left:5px;height:30px;">
                        <td colspan="2" style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;width:15%; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ;padding-left:5px"></td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;width:20%;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:60px;"><b>Total </b></td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;width:8%;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif;"><b>@m.Amount</b> </td>
                          @for (int dd2 = 0; dd2 < ViewBag.altotals; dd2++)
                            {
                            foreach (var cols2 in (((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Items" + dd2 + ""]))))
                            {                        
                                  <td style="font-weight:100;border-collapse:collapse;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;width:8%;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;"><b>@cols2[dd2]</b></td>
                           }
                           }
                             @*<td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;width:8%;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif;"> </td>*@
                        </tr>
</table>
                                  </div>
                         <div style=" text-align:center;padding-bottom:2em;font-size:10px;"> @page</div>
                          page = page + 1;
                        <div style="page-break-before: always">

                        </div>
              <table style="width:100%;min-height:90px;border-top:1px;border-bottom:0px;border-left:1px;border-right:1px;border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center;border-top:1px;font-family:Arial, Helvetica, sans-serif;height:30px; ">
    <td colspan="2" style="font-size:16px;border-bottom:1px;"><b>Purchase Return TaxRegister</b>

    </td>
    
  </tr>
<tr style="text-align: left; font-family:Arial, Helvetica, sans-serif;height:80px; ">
    <td colspan="2" style="font-size:16px;padding:5px">
             <div style="min-height: 70px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               @*<div style="font-size:14px;padding-bottom:2px"><b>Company Details</b></div>*@ 
                            <table style="border-collapse: collapse;" border="0" >
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company </b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">   @m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity -  @m.compZip</td></tr>
                                    </table></div>
    </td>   
  </tr>
   <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif;  ">
    <td colspan="2" style="font-size:12px;padding:5px;border-top:1px;font-weight:bold">       
              @m.pFDate To  @m.pTDate
    </td>   
  </tr>
</table>
                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%;border-right:1px;border-top:1px;border-bottom:1px;border-left:1px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                   <thead style="display:table-header-group;font-size:10px;padding-top:5px;background-color:lightgrey " >
                       <tr style="border-top:1px; width: 100%;text-align: left;  border-right:0px;font-size:10px;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Invoice#</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Date</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Customer</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Invoice Amount</th>  
                           @foreach (var cols in ViewBag.uniqueCols)
                           {                            
                              <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">@cols["tax"]</th>
                           }
                           @*<th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:8%;padding-top:5px;padding-bottom:5px;padding-left:5px;font-weight:bold;">Form</th>*@  
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                            else
                            {
                      <tr style="border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;padding-top:10px;padding-left:5px">
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;padding-top:5px;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["transno"] </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">
                           @if (@cols3["datec"].ToString() != "")
                           {
                               //DateTime dtt = Convert.ToDateTime(@cols3["datec"].ToString());
                               //var date = dtt.ToString(Session["DateFormat"].ToString());
                                 <div >@cols3["datec"].ToString()</div>} </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["payee"]</td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["subtotal"] </td>
                           @foreach (var cols1 in ViewBag.uniqueCols)
                           {
                               var t = @cols1["tax"];               
                                  <td style="font-weight:100;border-collapse:collapse;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3[t]</td>
                           }
                             @*<td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@cols3["form"] </td>*@
                        </tr>
                           if (cnt == rowcount - 1 || cnt == 1)
                           {
                               var ct = (rowcount - 1) % 48;
                               ct = 48 - ct;
                               for (int ac = 1; ac <= ct; ac++)
                               {<tr style="border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px ;padding-top:20px ">
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ;padding-left:5px"></td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;">  </td>
                        <td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;">  </td>
                        @*<td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;">  </td>*@
                        </tr>}
                        @:</tbody></table>
                        @* @:</div>*@
                           }
                            }
                        }
           </tbody>
                </table>
                           <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                              <table style="width:100%;min-height:90px;border-top:0px;border-bottom:1px;border-collapse:collapse;border-left:1px;border-right:1px;border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                        <tr style="border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;padding-top:10px;padding-left:5px;height:30px;">
                        <td colspan="2" style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;width:15%; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ;padding-left:5px"></td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;width:20%;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:60px;"><b>Total </b></td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;width:8%;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif;"><b>@m.Amount</b> </td>
                          @for (int dd2 = 0; dd2 < ViewBag.altotals; dd2++)
                            {
                            foreach (var cols2 in (((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Items" + dd2 + ""]))))
                            {                        
                                  <td style="font-weight:100;border-collapse:collapse;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;width:8%;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;"><b>@cols2[dd2]</b></td>
                           }
                           }
                             @*<td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;width:8%;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif;"> </td>*@
                        </tr>
</table>
                                  </div>
                            <div style="height:80%;"></div>             
        <div style="  text-align:center;font-size:10px;"> @pageno</div>
               </div>
    </div>
}
</div>
</body>
</html>





