﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt Voucher</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    @*<link href="~/css/Static/print.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            debugger
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                        }
                    });
                }
            }
            else {
                PrintForms();
            }
        });
    </script>
   @* <script>
        $(document).ready(function () {

            var MaxHeight = 200;
            var RunningHeight = 0;
            var PageNo = 1;

            $('table.splitForPrint>tbody>tr').each(function () {

                if (RunningHeight + $(this).height() > MaxHeight) {
                    RunningHeight = 0;
                    PageNo += 1;
                }

                RunningHeight += $(this).height();

                $(this).attr("data-page-no", PageNo);

            });

            for (i = 1; i <= PageNo; i++) {

                $('table.splitForPrint').parent().append("<div class='tablePage'><table id='grdfData" + i + "'><tbody></tbody></table></div>");

                var rows = $('table tr[data-page-no="' + i + '"]');

                $('#grdfData' + i).find("tbody").append(rows);
            }
            $('table.splitForPrint').remove();

        });
    </script>*@
    <style type="text/css">
  
    </style>
</head>
@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "ReceiptVochar"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
        @*EMPHCS1394 rajasekhar reddy patakota 02/12/2015 Logo setup for Payment Voucher & Receipt Voucher prints*@
             <div style="float:right" >
                        <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif "><img src="~/Content/Upload/@m.logoName" width="70px" alt="" /></td></tr>    
                                 </table></div>
<table border="1" style="width:100%;min-height:200px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
     <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:24px;width:20px">
        
              <b>RECEIPT VOUCHER</b>
         
       

    </td>
    
  </tr>



  <tr style=" border-top: 1px solid;">
    <td style="width:50% ; float:left" >
                   
                       <div style="height: 50px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                             
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">
                     
                      VOUCHER NO : @m.SONO</td></tr>
                                   
                                    </table></div>
   </td>
    <td style="width:50% ; float:left" >
                        
                       <div style="height: 50px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                             
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">
                     
                     DATE : @m.Date   </td></tr>
                                   
                                    </table></div>     
        </td>
  </tr>
              
  
                 
 
</table>


               

             <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>

                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:32.3%">Customer </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:8%">Description </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">Bank </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Cheque#</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Cheque Date</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount In Words";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount + 1) { rowcount = rowcount + 1; }
                         @* EMPHCS804 BY GNANESHWAR ON 1/8/2015 PAGE BREAKING CHANGES*@ 
                        if (rowcount % 15 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                            @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.desc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.bank </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Cheque  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.date  </td>
                            
                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amount  </td>
                        </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                           <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" ">
                                <td rowspan="2" style="width: 4%;border-top:none"></td>
              <td rowspan="2" style="width:46%;border-top:none"></td>
             <td style="border-top:none"> Net Amount  </td>
             <td style="width:12%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                
                       <tr><td>  
                            @if (@m.TaxAmnt != null && @m.TaxAmnt != "0" && @m.TaxAmnt != "Non Taxable")
                            {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@m.TaxAmnt  </DIV>

                            }
                           

                           </td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">. </DIV>
                                      }

                                  }</td>
                       </tr>
                               
                                @*<tr><td></td><td></td></tr>*@
                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.TotalAmount </td></tr>
                             
                                 
                            </table>

                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif;height:25px" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 12px;text-transform:capitalize;"><b>INR : @m.amtInWord </b>  </td>
                        
                    </tr>
                </table>
                           <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-top:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:50%">
                                   <div>
                                       RECEIPT APPROVED BY</div>
                                   </td> 
                                   <td style="width:50%;padding-left:10px; border-left:1px solid;">
                                      <div> RECEIPT RECIVED BY</div>
                                         </td></tr>
                           </table>
                 
                      
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
@*EMPHCS1394 rajasekhar reddy patakota 02/12/2015 Logo setup for Payment Voucher & Receipt Voucher prints*@
                       <div style="float:right" >
                        <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif "><img src="~/Content/Upload/@m.logoName" width="70px" alt="" /></td></tr>    
                                 </table></div>
                        <table border="1" style="width:100%;min-height:200px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
     <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:24px;width:20px">
        
              <b>RECEIPT VOUCHER</b>
         
       

    </td>
    
  </tr>



  <tr style=" border-top: 1px solid;">
    <td style="width:50% ; float:left" >
                   
                       <div style="height: 50px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                             
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">
                     
                      VOUCHER NO : @m.SONO</td></tr>
                                   
                                    </table></div>
   </td>
    <td style="width:50% ; float:left" >
                        
                       <div style="height: 50px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >

                             
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif ">
                     
                     DATE : @m.Date   </td></tr>
                                   
                                    </table></div>     
        </td>
  </tr>
              
  
                 
 
</table>


                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>

                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:32.3%">Customer </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:8%">Description </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:6%">Bank </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Cheque#</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Cheque Date</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
			@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.desc </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.bank </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Cheque  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.date  </td>
                            
                       
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amount  </td>
                        </tr>
                        
                            
                            

@*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                            if (cnt == rowcount - 1 || cnt == 1)
                            {
                                var ct = (rowcount - 1) % 15;
                                if (cnt == 1) { ct = (rowcount) % 15; }
                                if (ct != 0)
                                {
                                    ct = 15 - ct;
                                    for (int ac = 1; ac <= ct; ac++)
                                    {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                }
                             
                             @*<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">Total Quantity </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> @m.TotalQuantity </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>*@
                             
                        @:</tbody></table>
                        @:</div>
                        }
                        }
                    }
           </tbody>
                </table>
                            <table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" ">
                                <td rowspan="2" style="width: 4%;border-top:none"></td>
              <td rowspan="2" style="width:46%;border-top:none"></td>
             <td style="border-top:none"> Net Amount  </td>
             <td style="width:12%;text-align:right;border-top:none">@m.SubTotal</td></tr>
                                
                       <tr><td>  
                            @if (@m.TaxAmnt != null && @m.TaxAmnt != "0" && @m.TaxAmnt != "Non Taxable")
                            {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@m.TaxAmnt  </DIV>

                            }
                           

                           </td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">. </DIV>
                                      }

                                  }</td>
                       </tr>
                               
                                @*<tr><td></td><td></td></tr>*@
                                <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.TotalAmount </td></tr>
                             
                                 
                            </table>

                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif;height:25px" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 12px;text-transform:capitalize;"><b>INR : @m.amtInWord </b>  </td>
                        
                    </tr>
                </table>
                           <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-top:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:50%">
                                   <div>
                                       RECEIPT APPROVED BY</div>
                                   </td> 
                                   <td style="width:50%;padding-left:10px; border-left:1px solid;">
                                      <div> RECEIPT RECIVED BY</div>
                                         </td></tr>
                           </table>
                 
                        
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
               </div>
    </div>
           
        </div>
         
    }
    
</body>
</html>
