﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@using MeBizSuiteAppUI.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receivable Accounts</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    @*<link href="~/css/Static/print.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            debugger
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["Customer"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                        }
                    });
                }
            }
            else {
                //PrintForms();
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/pdf?FormName=" + FormName + "",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ data: data }),
                        success: function (data) {
                            window.location.href = "/Print/GetPdf?ID=" + @Request["Customer"] + "";
                        }
                    });
                    }
                }
        });
    </script>
   
    <style type="text/css">
  
    </style>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    <div id="printdiv" style="font-size:10px;display:none;font-family:Arial, Helvetica, sans-serif;" >
    @using (Html.BeginForm("Print", "ReceivableAccounts"))
    {
        var m = Model.Where(a => a.ouName != null).FirstOrDefault();
        int i = ViewBag.pitemsdata;
        var pgNo = 0;
        for (int dd2 = 0; dd2 < i; dd2++)
        {
            int k = Convert.ToInt32(ViewData["chk" + dd2 + ""]);
            if (k > 0)
            {
                var Customerz = ((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Customer" + dd2 + ""])).Count; 
        <div style="padding:15px"></div>
       <table style="width:100%;min-height:90px;border:1px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px;padding:5px;border-bottom:1px;">
      
        
         
             @if (Customerz > 0)
             {
                 foreach (var CustomerN in (((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Customer" + dd2 + ""]))))
                 {
              <b>@CustomerN[11] Ledger Account</b>
                 }
             }
        
       

    </td>
    
  </tr>
<tr style="text-align: left; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px;padding:5px;border-bottom:1px;">
      
        

         @if (Customerz > 0)
         {
              <div style="min-height: 70px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                       <div style="font-size:14px;padding-bottom:1px"><b>Customer Details</b></div> 
                                 <table style="border-collapse: collapse;" border="0" >

                     @foreach (var Customera in (((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Customer" + dd2 + ""]))))
                     {
                       
                 <tr style="padding-left:10px"><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@Customera[0]</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">  @Customera[1]</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@Customera[4]</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @Customera[5]</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@Customera[6]</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@Customera[10]</td></tr>
                         
                         @*Adding Condition for displaying Customer Phone No In AccountReceivable For Rk EnterPrizes*@
                         if (Session["AcOwner"].ToString() == "56571" || Session["AcOwner"].ToString() == "56578")
                                {

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@Customera[19]</td></tr>   

                                }
                         
                         
                     }  </table>
                           
                       </div>
         }
       

    </td>
    
  </tr>
<tr style="text-align: left; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px;padding:5px">
      
        
         
             <div style="height: 70px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                               <div style="font-size:14px;padding-bottom:2px"><b>Company Details</b></div> 
                            <table style="border-collapse: collapse;" border="0" >

               
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> <b>@m.company </b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> </td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">   @m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity -  @m.compZip</td></tr>
                            @*<tr><td></td></tr>*@
                                    </table></div>
        
       

    </td>
    
  </tr>
   <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif;  ">
     <td colspan="2" style="font-size:12px;padding:5px;border-top:1px;font-weight:bold">
      
        
         
              @m.pFDate To  @m.pTDate
        
       

    </td>
    
  </tr>
        
     
   
</table>
        
        
        

             <div style="width: 100%; border-collapse: collapse;padding: -0.1px; ">

                 
              
   
         
         

           <div id="printpage"   >
                
              
               <table id="grdfData" style="border-collapse: collapse; width: 100%;  border:0px 1px 0px 1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding: 0px;" >
             @{int counter = 0;
               var q = "(";
               var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
               var rowcount = 0; var pageno = 1; var page = 1; var amttxt = "Amount Chargeable (in words)";
               var cnt = (((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Items" + dd2 + ""]))).Count;
               decimal TotalAmount = Convert.ToDecimal((ViewData["TotalAmount" + dd2 + ""]));
               decimal tamt = Convert.ToDecimal((ViewData["tamt" + dd2 + ""]));
               decimal amt = Convert.ToDecimal((ViewData["amt" + dd2 + ""]));
               decimal NTamt = Convert.ToDecimal((ViewData["NTamt" + dd2 + ""]));
}      

                         <thead style="display:table-header-group;font-size:10px;padding-top:5px;background-color:lightgrey " >
                       <tr style="border-top:1px; width: 100%;text-align: left;  border-right:0px;font-size:12px;padding-top:5px;padding-bottom:5px;padding-left:5px;">
                        @*<th style="font-weight:100;border-top:1px;border-left:0px;border-right:0px;border-bottom:1px;color:black;text-align:left; width:6%;padding-top:10px;padding-bottom:5px;"><u> S.No</u> </th>*@

                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Date </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Particulars </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Tran Type </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Tran# </th>
                        @*<th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:center;text-transform: capitalize;width:6%">Vch No.</th>*@
                           


                            @*Adding Condition for displaying memo for Sri Vinayaka Steels*@
                            @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                            {

                                <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Memo</th>

                            }

                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Debit</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Credit</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;"> Balance</th>
                        </tr>
 
                    </thead>

                     
 
                     <tbody style="border-left:1px;padding-top:10px;text-align:left" > 
                   
                        @foreach (var item in (((System.Collections.Generic.List<System.Data.DataRow>)(ViewData["Items" + dd2 + ""]))))
                        {


                            counter = counter + 1;
                            rowcount = rowcount + 1;
                            if (cnt == rowcount + 1) { rowcount = rowcount + 1; }

                            if (rowcount % 37 == 0 && cnt != rowcount && cnt != rowcount - 1)
                            {
                                pgNo = pgNo + 1;
                              
                                
                        <tr style="border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;padding-top:10px;padding-left:5px">
                        @*<td style="font-weight:100;border-collapse:collapse;text-align:center;border-left:0px;border-top:0px;border-bottom:0px; padding-top:5px;padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>*@
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;padding-top:5px;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">
                             @*EMPHCS1581 rajasekhar reddy patakota 01/03/2016 Payable and receivable report changes by date desc order*@
                             @if (@item[5].ToString() != "")
                             {
                                 //DateTime dtt = Convert.ToDateTime(@item[5].ToString());
                                 //var date = dtt.ToString(Session["DateFormat"].ToString());
                                 <div >@item[5].ToString()</div>}  </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[13] </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[2].ToString().ToUpperInvariant()
                             </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[6] </td>

                                 @*Adding Condition for displaying memo for Sri Vinayaka Steels*@
                            @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                            {
                    <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[12]</td>

                            }

                        @*<td style="/*font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;*/">@item[1]  </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;text-align:right;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", item[7])  </td>
                        <td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", item[8])   </td>
                        <td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;padding-right:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", item[9])  Dr </td>
                        </tr>

                        @:</tbody></table>
                        
                        @:</div><div id="printpage"  style="padding-top:20px" > 
         
                <div style="height:90%;"></div>        
        <div style=" text-align:center;padding-bottom:2em;font-size:10px;">  Page -  @pgNo</div>
                             

                             
                             
                             
                             
                        <div style="page-break-before: always">


                        </div>
               <div style="padding:20px" ></div>
                    <div>Continued.....</div>       
      <table style="width:100%;min-height:90px;border:1px;background-color:lightgray ; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
                            <thead style="display:table-header-group;font-size:10px;padding-top:5px;background-color:lightgrey " >
<tr style=" font-family:Arial, Helvetica, sans-serif">
    
        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:left; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Date </td>
                        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Particulars </td>
                        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Tran Type </td>
                        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Tran# </td>

                          @*Adding Condition for displaying memo for Sri Vinayaka Steels*@
                    @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                    { 

                                <th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Memo</th>

                    }

                        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Debit</td>
                        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;">Credit</td>
                        <td style="font-weight:100;border-right:0px;border-left:0px;color:black;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;"> Balance</td>
   </tr>                     
       

    
    
  
   
      </thead>
</table>
                      @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                    <thead style="display:table-header-group;font-size:12px;padding-top:5px; background-color:lightgray" >
                       <tr style=" font-family:Arial, Helvetica, sans-serif; background-color:lightgray">
                      <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;"></th>
                        <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;"> </th>
                        <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;padding-left:5px;"> </th>
                        
                           
                           <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;"> </th>
                            @*Adding Condition for displaying memo for Sri Vinayaka Steels*@
                           @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                           {
                                                    <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;"> </th>

                           }
                           <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;"></th>
                        <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;"></th>
                        <th style="font-weight:100;border-right:0px;border-left:0px;color:black;border-bottom:1px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;"> </th>
                       </tr>
 
                    </thead>
                        @:<tbody>
                        }
                            else
                            {
                        <tr style="border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;padding-top:10px;padding-left:5px">
                        @*<td style="font-weight:100;border-collapse:collapse;text-align:center;border-left:0px;border-top:0px;border-bottom:0px; padding-top:5px;padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>*@
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;padding-top:5px;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">
                             @*EMPHCS1581 rajasekhar reddy patakota 01/03/2016 Payable and receivable report changes by date desc order*@
                            @if (@item[5].ToString() != "")
                            {
                                //DateTime dtt =Convert.ToDateTime(@item[5].ToString());
                                //var date = dtt.ToString(Session["DateFormat"].ToString());
                                 <div >@item[5].ToString()</div>}  </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[13] </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[2].ToString().ToUpperInvariant()
                             </td>
                        <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[6] </td>



                             @*Adding Condition for displaying memo for Sri Vinayaka Steels*@
                             @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                             {

                    <td style="font-weight:100;border-collapse:collapse;text-align:left;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;text-transform:lowercase;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;">@item[12]</td>
                             }
                        @*<td style="/*font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;*/">@item[1]  </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;text-align:right;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", item[7])  </td>
                        <td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", item[8])   </td>
                        <td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif; padding-top:5px;padding-left:5px;padding-right:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", item[9])  Dr </td>
                        </tr>

                             if (cnt == rowcount - 1 || cnt == 1)
                             {
                                 pgNo = pgNo + 1;
                                 var ct = (rowcount - 1) % 37;
                                 if (cnt == 1) { ct = (rowcount) % 37; }
                                 if (ct != 0)
                                 {
                                     ct = 37 - ct;
                                     for (int ac = 1; ac <= ct; ac++)
                                     {<tr style="border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px ;padding-top:10px ">
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ;padding-left:5px"></td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px"></td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px"></td>
                    @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                    {
                         

                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px"></td>

                    }

                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;"></td>
                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px"></td>
                        <td style="text-align:right;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;padding-left:5px;"></td>

                        </tr>}
                                 }
                             
                         
                             
                        @:</tbody></table>
                           <div style=" text-align:center;border-collapse:collapse;font-size:12px;">
                           <table  style="width:100%;min-height:90px; border-collapse:collapse;border:1px;font-size:10px;border-bottom:1px;border-top:0px;font-family:Arial, Helvetica, sans-serif;">
                       
                               <tr style="border-top:1px; width: 100%;text-align: left;  border-right:0px;font-size:10px;padding-top:10px;padding-bottom:5px;">
                        @*<th style="font-weight:100;border-top:1px;border-left:0px;border-right:0px;border-bottom:1px;color:black;text-align:left; width:6%;padding-top:10px;padding-bottom:5px;"><u> S.No</u> </th>*@

                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;"> </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;">  </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        @*<th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:center;text-transform: capitalize;width:6%">Vch No.</th>*@
                                    @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                                    {                     
                                           <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;"> </th>

                                    }
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", tamt)</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", amt)</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        </tr>
                               <tr style="border-top:0px; width: 100%;text-align: left;  border-right:0px;font-size:10px;padding-top:5px;padding-bottom:5px;">
                        @*<th style="font-weight:100;border-top:1px;border-left:0px;border-right:0px;border-bottom:1px;color:black;text-align:left; width:6%;padding-top:10px;padding-bottom:5px;"><u> S.No</u> </th>*@

                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left;font-weight:bold; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;font-size:12px;">Closing Balance </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;">  </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        @*<th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:center;text-transform: capitalize;width:6%">Vch No.</th>*@
                          @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                          {                     
                                           <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;"> </th>

                          }
                         <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"></th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;font-size:12px;font-weight:bold">@string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", TotalAmount)</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        </tr>
                        </table>
                           <table  style="width:100%;min-height:90px; border-collapse:collapse;border:1px;font-size:10px;border-bottom:1px;border-top:0px;font-family:Arial, Helvetica, sans-serif;">
                       <tr style="border-top:0px; width: 100%;text-align: left;  border-right:0px;font-size:10px;padding-top:10px;padding-bottom:5px;">
                        @*<th style="font-weight:100;border-top:1px;border-left:0px;border-right:0px;border-bottom:1px;color:black;text-align:left; width:6%;padding-top:10px;padding-bottom:5px;"><u> S.No</u> </th>*@

                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; width:15%;padding-top:10px;padding-bottom:5px;"> </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;font-size:12px;">Total </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:20%;padding-top:5px;padding-bottom:5px;">  </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                       
                             @if (Session["AcOwner"].ToString() == "56677" || Session["AcOwner"].ToString() == "56578")
                             {                     
                                           <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize; width:15%;padding-top:5px;padding-bottom:5px;"> </th>

                             }
                            @*<th style="font-weight:100;border-right:0px;color:black;border-bottom:1px;border-top:0px;text-align:center;text-transform: capitalize;width:6%">Vch No.</th>*@
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", tamt)</th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:right; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:N}", NTamt) </th>
                        <th style="font-weight:100;border-right:0px;color:black;border-bottom:0px;border-top:0px;text-align:left; text-transform: capitalize;width:15%;padding-top:5px;padding-bottom:5px;"> </th>
                        </tr>
                        </table>
                           </div>
                             }
                            }
                        }

           </tbody>
                </table>

                 
                        
                  
                 <div style="height:90%;">

                 </div>             
        <div style="  text-align:center;font-size:10px;"> Page -  @pgNo</div>
                   </div>
    </div> 
            }
        }
    }
    </div>  
</body>
</html>
