﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DYINGISSUESLIP</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    @*<link href="~/css/Static/print.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            debugger
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            //EMPHCS1539 Mail Changes by srinivas

                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Invoice",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=Invoice&Vendorref=" + $i("#SATABLE009COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                            var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                            }
                        }
                    });
                }
            }
            else {
                PrintForms();
            }
        });
    </script>
  
    <style type="text/css">
  
    </style>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "InvoicePrint"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        var AcOwner = Session["AcOwner"].ToString();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >     
             <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
   <div style="text-transform:uppercase"> @m.ouName</div>
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt="" />
                                        }
                                        </td></tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                 }
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="3" style="font-size:16px">
        
              <b>DYING ISSUE SLIP</b>
    </td>
    
  </tr>
<tr style=" border-top: 1px solid;">
     <td style="width:33.3%" >
                               <div style="  overflow: hidden;height:90px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px" >
         <tr><td style=" float:left;"> Party's Name : <b>@m.Customer</b></td></tr>
         <tr><td style=" float:left;"> Quality : <b>@m.Quality</b></td></tr>
         <tr><td style=" float:left;"> Batch No : <b>@m.BatchNo</b></td></tr>
         <tr><td style=" float:left;"> Shade : <b>@m.Shade</b></td></tr>
         <tr><td style=" float:left;"> Lot No : <b>@m.LotNo</b></td></tr>
 </table>
        </div>
        </td>
    <td style="width:33.3%" >
                               <div style="  overflow: hidden;height:90px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px" >
         <tr><td style=" float:left;"> Pcs : <b>@m.Pcs</b></td></tr>
         <tr><td style=" float:left;"> Kgs : <b>@m.Kgs</b></td></tr>
         <tr><td style=" float:left;"> Mts : <b>@m.Mts</b></td></tr>
 </table>
        </div>
        </td>
    <td style="width:33.3%" >
                               <div style="  overflow: hidden;height:90px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px" >
         <tr><td style=" float:left;"> S.NO. : <b>@m.SONO</b></td></tr>
         <tr><td style=" float:left;"> Date : <b>@m.Date</b></td></tr>
         <tr><td style=" float:left;"> Shift : <b>@m.Shift</b></td></tr>
 </table>
        </div>
        </td>
  </tr>
</table>

             <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
                 <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                   <thead style="display:table-header-group " >
                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:5%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:65%">Item </th>
                           <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:15%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:15%;">Quantity</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                    @foreach (var item in ViewBag.pitemsdata)
                    {

                        var cnt = (ViewBag.pitemsdata).Count;
                        counter = counter + 1;
                        rowcount = rowcount + 1;
                        if (cnt == rowcount) { rowcount = rowcount + 1; }
                        if (rowcount % 50 == 0 && cnt != rowcount && cnt != rowcount - 1)
                        {
                            pageno = pageno + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.uom  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Qty  </td>
                        </tr>
                        @:</tbody></table>

                        @:</div><div   id="printpage" > 
                        
                         <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr><td style="height:20px;"></td></tr>
                            <tr>
                                <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; height:30px;border-collapse:collapse">Prepared By : </td>
                                <td style="float:right; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif;height:30px;border-collapse:collapse;padding-right:15.7em">Weighted By : </td>
                                </tr>
                            <tr>
                                <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; height:30px;border-collapse:collapse">Date & Shift : <b>@m.Date & @m.Shift</b></td>
                                <td style="float:right; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; height:30px;border-collapse:collapse;padding-right:9em">Date & Shift : <b>@m.Date & @m.Shift</b></td>
                                </tr>
                            
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
 
                          <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
   <div style="text-transform:uppercase"> @m.ouName</div>
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="70px" alt="" />
                                        }
                                        </td></tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,@m.compA2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                 }
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="3" style="font-size:16px">
        
              <b>DYING ISSUE SLIP</b>
    </td>
    
  </tr>
<tr style=" border-top: 1px solid;">
     <td style="width:33.3%" >
                               <div style="  overflow: hidden;height:90px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px" >
         <tr><td style=" float:left;"> Party's Name : <b>@m.Customer</b></td></tr>
         <tr><td style=" float:left;"> Quality : <b>@m.Quality</b></td></tr>
         <tr><td style=" float:left;"> Batch No : <b>@m.BatchNo</b></td></tr>
         <tr><td style=" float:left;"> Shade : <b>@m.Shade</b></td></tr>
         <tr><td style=" float:left;"> Lot No : <b>@m.LotNo</b></td></tr>
 </table>
        </div>
        </td>
    <td style="width:33.3%" >
                               <div style="  overflow: hidden;height:90px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px" >
         <tr><td style=" float:left;"> Pcs : <b>@m.Pcs</b></td></tr>
         <tr><td style=" float:left;"> Kgs : <b>@m.Kgs</b></td></tr>
         <tr><td style=" float:left;"> Mts : <b>@m.Mts</b></td></tr>
 </table>
        </div>
        </td>
    <td style="width:33.3%" >
                               <div style="  overflow: hidden;height:90px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:50px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:0px" >
         <tr><td style=" float:left;"> S.NO. : <b>@m.SONO</b></td></tr>
         <tr><td style=" float:left;"> Date : <b>@m.Date</b></td></tr>
         <tr><td style=" float:left;"> Shift : <b>@m.Shift</b></td></tr>
 </table>
        </div>
        </td>
  </tr>
</table>


                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <thead style="display:table-header-group " >
                      <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:5%"> S.No </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:65%">Item</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:15%">Item</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:15%;">Quantity</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                        else
                        {
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td> 
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.uom  </td> 
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.Qty  </td>
                        </tr>
                             if (cnt == rowcount - 1 || cnt == 1)
                             {
                                 var ct = (rowcount - 1) % 50;
                                 if (cnt == 1) { ct = (rowcount) % 50; }
                                 if (ct != 0)
                                 {
                                     ct = 50 - ct;
                                     for (int ac = 1; ac <= ct; ac++)
                                     {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td> 
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td> 
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;"> </td>
                        </tr>}
                                 }     
                        @:</tbody></table>
                        @:</div>
                        }
                        }
                    }
           </tbody>
                </table>
                      
                  <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr><td style="height:20px;"></td></tr>
                            <tr>
                                <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; height:30px;border-collapse:collapse">Prepared By : </td>
                                <td style="float:right; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif;height:30px;border-collapse:collapse;padding-right:15.7em">Weighted By : </td>
                                </tr>
                            <tr>
                                <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; height:30px;border-collapse:collapse">Date & Shift : <b>@m.Date & @m.Shift</b></td>
                                <td style="float:right; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; height:30px;border-collapse:collapse;padding-right:9em">Date & Shift : <b>@m.Date & @m.Shift</b></td>
                                </tr>
                            
         </table>
                 <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        <div style="  text-align:center"> @m.footerText</div>
    </td>
  </tr>
                 </table>
           </div>
        </div>
         </div>
    }
    
</body>
</html>

