﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RetailPrint</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script>
        $(document).ready(function () {
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            debugger

                        }
                    });
                }
            }

            else {
                PrintFormsRetail();
            }
        });
    </script>
    <style type="text/css">
  
    </style>
</head>

<body style="border-bottom: 0px; border-left: 0px; border-right: 0px; border-top: 0px; font-size: 13px; font-family:Tahoma">
    @using (Html.BeginForm("Print", "RetailPrint"))
    {
           var output = "Output @ "; var incluse = " (Inclusive of Taxes) ";
           var m = Model.Where(a => a.SONO != null).FirstOrDefault();
           var AcOwner = Session["AcOwner"].ToString();
        <div id="printdiv" style="font-family: Tahoma; font-size: 13px;">
            <table style="width: 100%; font-size: 13px; font-family:Tahoma">
            @if (AcOwner == "56822" || AcOwner == "56578")
            {
                <tr style="text-align: center;">
                    <td style=" font-size: 20px;"><b>TAX INVOICE</b></td>
                </tr>}
                <tr style="text-align: center;">
                    <td style=" font-size: 15px;"><b>@m.company</b></td>
                </tr>
            @if (AcOwner != "56902")
            {
                <tr style="text-align: center;">
                 <td style="border-collapse: collapse; text-align: center;padding-top:8px">@m.compA1</td>
                </tr>
                <tr style="text-align: center;">
                 <td style="border-collapse: collapse; text-align: center;padding-top:2px">@m.compA2</td>
                </tr>
                <tr style="text-align: center;">
     <td style="border-collapse: collapse; text-align: center;padding-bottom:2px">@m.compCity - @m.compZip</td>
                </tr>
                <tr style="text-align: center;">
     <td style="border-collapse: collapse; text-align: center;padding-bottom:2px">@m.compState</td>
                </tr>
                <tr style="text-align: center;">
     <td style="border-collapse: collapse; text-align: center;padding-bottom:2px">@m.compCtry</td>
                </tr>
                <tr style="text-align: center;">
                 <td style="border-collapse: collapse; text-align: center;">@m.OPUPhNo</td>
                </tr>
            }
                <tr style="text-align: center;">
                @if (@m.CGSTIN != "")
                {
     <td style="border-collapse: collapse; text-align: center;padding-bottom:2px">GST No: <b>@m.CGSTIN</b></td>}
                </tr>
            @if (AcOwner != "56902")
            {
                <tr style="text-align: center;">
     <td style="border-collapse: collapse; text-align: center;padding-bottom:2px">E-Mail: @m.companymail</td>
                </tr>
            }
            </table>
            <table style="width: 100%;  border-bottom: 0px; font-size: 13px; font-family:Tahoma;padding-top:8px">
                <tr>
                    <td style="width: 100%">

                        <div style="overflow: hidden; border: none; border-bottom: 0px;">
                            <table style="width: 100%; border-collapse: collapse; font-size: 13px;" border="0">
                                <tr>
                                    <td style=" width: 49%"><b>No :@m.SONO</b></td>
                                    <td style=" width: 49%;">Date :@m.Date</td>
                                </tr>
                                <tr>
                                    <td style="width: 49%"><b>M/s.</b> :@m.Customer</td>
                                    <td style="width: 49%;text-align:right">@DateTime.Now.ToString("hh:mm:ss")</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="width: 100%; padding: 0px; font-size: 13px; font-family:Tahoma">
                <div id="printpage" style="font-family: Tahoma; font-size: 13px;">
                    <table id="grdfData" style="border-collapse: collapse; width: 100%; font-size: 13px; font-family:Tahoma;padding-top:8px">
                        <tr style="border: dotted thin; width: 100%; text-align: left;">
                            <td style="color: black; text-align: left; width: 1%; border-right: dotted thin;">s.no </td>
                            <td style="color: black; text-align: center; width: 55%; border-right: dotted thin;">Item</td>
                        @if (AcOwner == "56822")
                        {
                            <td style="color: black; text-align: center; width: 15%; border-right: dotted thin;">Brand</td>
                            <td style="color: black; text-align: center; width: 14%; border-right: dotted thin;">IMEI NO</td>}

                             @if (AcOwner == "56874")
                             {
                            <td style="color: black; text-align: center; width: 19%; border-right: dotted thin;">UPC Code</td>
                            <td style="color: black; text-align: center; width: 10%; border-right: dotted thin;">HSN Code</td>
                            }
                            else
                            {

                            <td style="color: black; text-align: center; width: 19%; border-right: dotted thin;">Code</td>
                            <td style="color: black; text-align: center; width: 10%; border-right: dotted thin;">HSN Code</td>}
                            <td style="color: black; text-align: center; text-transform: capitalize; width: 6%; border-right: dotted thin;">Qty</td>
                            <td style="color: black; text-align: center; text-transform: capitalize; width: 6%; border-right: dotted thin;">Rate</td>
                            <td style="color: black; text-align: center; text-transform: capitalize; width: 9%;">Amount</td>
                        </tr>
                        @{int counter = 0;
                        }
                        <tbody>
                            @foreach (var item in ViewBag.pitemsdata)
                            {

                                counter = counter + 1;
                            <tr style="border-right: dotted thin;border-left: dotted thin;">
                                <td style="border-collapse: collapse; padding-left: 12px; text-align: left; border-right: dotted thin;">@counter</td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.item  </td>
                                @if (AcOwner == "56822")
                                {
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.Brand  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.Lot  </td>}
                                @if (AcOwner == "56874")
                                {
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.upc  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.HSNCode  </td>
                                }
                                else
                                {
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.desc  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.HSNCode  </td>}
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.quantity  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">@item.Price  </td>
                                <td style="border-collapse: collapse; text-align: center;">@item.amt </td>
                            </tr>
                            }
                            <tr style="border-right: dotted thin;border-bottom: dotted thin;border-left: dotted thin;">
                                <td style="border-collapse: collapse; padding-left: 12px; text-align: left; border-right: dotted thin;"></td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">Total  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin; border-top: dotted thin;">@m.TOTQTY  </td>
                                <td style="border-collapse: collapse; text-align: center; border-right: dotted thin;">  </td>
                                <td style="border-collapse: collapse; text-align: center;">  </td>
                            </tr>

                        </tbody>
                    </table>
                    <table style=" width: 100%;  font-size: 13px; font-family:Tahoma">
                        <tr style=""><td colspan="2" style="border-left:none;text-align:right">Gross: </td><td colspan="2" style="text-align:right">@m.SUBTOT </td></tr>
                               <tr style=""><td colspan="2" style="border-left:none;text-align:right">Discount Amount: </td><td colspan="2" style="text-align:right">@m.discount </td></tr>
                         @*if(m.amttype != "22713")
                        {*@
                    @foreach (var item in ViewBag.taxitemsdata)
                    {
                        if (@item.linetotaltax != 0)
                        {
                               <tr style=""><td colspan="2" style="border-left:none;text-align:right">@item.linetaxes: </td><td colspan="2" style="text-align:right">@item.linetotaltax </td></tr>}
                    }
                    @*}*@
                        <tr style=""><td colspan="2" style="border-left:none;text-align:right">RoundOff: </td><td colspan="2" style="text-align:right">@m.RoundOff </td></tr>
                        <tr style="">
                            <td style="border-left: none; text-align: center;width: 1%"> </td>
                            <td style="border-left: none; text-align: right;width: 50%">
                                <b>
                                    Amount@{if (@m.amttype == "22713")
                                    { @incluse}}:
                                </b>
                            </td>
                            <td style="border-left: none; text-align: center;width: 6%"> </td>
                            <td style="text-align: right;width: 9%"><b>@m.TotalAmount</b> </td>
                        </tr>
                    @if (AcOwner == "56822" || AcOwner == "56578")
                    {
                        <tr style="font-family: cursive;font-size:14px;">
                            <td style="border-left: none; text-align: left;width: 16%">
                                <b>
                                    Amount In Words : 
                                </b>
                            </td>
                            <td style="text-align: left;width: 44%"><b>@m.amtInWord</b> </td>
                            <td style="border-left: none; text-align: center;width: 6%"> </td>
                        </tr>}
                    </table>
                </div>
            </div>
        @if (AcOwner != "56902" && AcOwner != "56848")
        {
            <table style="padding-top:3px; width: 100%; font-size: 13px; font-family:Tahoma">
                <tr>
                    <td><b>Terms & Conditions</b></td>
                </tr>
                <tr>
                    <td>1. Goods once sold will not be taken back  </td>
                </tr>
                <tr>
                    <td>2. No Return Only Exchange <div>&nbsp;&nbsp;&nbsp;&nbsp;Time 2 pm to 4 pm With in 3 Days</div> </td>
                </tr>
              
                <tr style="text-align: center;">
                    <td style="border-collapse: collapse; text-align: center;">Thank you & visit again</td>
                </tr>
            </table>
        }
        else if (AcOwner == "56848")
        {
            <table style="padding-top:3px; width: 100%; font-size: 13px; font-family:Tahoma">
                <tr>
                    <td><b>Terms & Conditions</b></td>
                </tr>
                <tr>
                    <td>1. Goods once sold will not be taken back  in any circumstance. </td>
                </tr>
                <tr>
                    <td>2.Exchange can be done only while goods are same as time of purchase, within 5 days. </td>
                </tr>
                <tr>
                    <td>3. Exchange will not be possible on any alter itemms, perfumes, undergarments, innerwear and all seasonable items.</td>
                </tr>
                <tr>
                    <td>4. Gst will be charged additional on all special discounted items.</td>
                </tr>
                <tr style="text-align: center;padding-top:5px; ">
                    <td style="border-collapse: collapse; text-align: center;">Thank you & visit again</td>
                </tr>
            </table>
        }
        </div>
    }

</body>
</html>
