﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width"  />
   
    <title>SalesQuotationPrint</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
     <script type="text/javascript">
         $(document).ready(function () {
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
             if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                 var data = $('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     $.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Sales Quotation",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=SalesQuotation&Vendorref=" + $i("#SATABLE015COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                             var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                             }
                        }
                    });
                }
            }
            else {
                 PrintForms();
            }
         });
    </script>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
  
@using (Html.BeginForm("Print", "SalesQuotationPrintMedq"))
{

    var m = Model.Where(a => a.SONO != null).FirstOrDefault();
     <div id="printdiv" style="font-size:10px;font-family: Arial, Helvetica, sans-serif;" >
         
    @if (ViewBag.checkval == "true")
    {
          <table style="width:98%;min-height:70px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                 <tr>
                     
                     <td style="text-align:left">

                       <div style="float:left" >

                             <table  border="0" >
                                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="350px" height="100px" alt="" />
                                        }
                                        </td></tr>  
                                 
                                    
                                    
                                    
                                    </table> 
                         </div>
            
                     </td>
                 </tr>
             </table>
    }
    else
    {
        <table style="width:98%;min-height:140px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="height: 140px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
    }
         
             <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px;padding:0px"><b>Sales Quotation</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    
    <td style="width:59%" >
                   
                       <div style="min-height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss, @m.cAdresss1</td></tr>
                                    <tr>@*<td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>*@</tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity , @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust GSTIN- @m.CustGSTIN</td></tr>
                                    </table></div>
   </td>

    <td style="width:41%" >
                               <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Order No :  <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Reference No : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>

  
                 
   <tr style=" border-top: 1px solid;">
    <td colspan="2" style="height:20px">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:30px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:100px;padding-left:30em">Customer's CST No</div>
 <div style="font-weight:bold; float:left   ;padding-left:30px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
</table>



         <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
               
                  <table id="grdfData" style="border-collapse: collapse; width: 100%;min-height:450px; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                <thead style="display:table-header-group " >

                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Items</th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:69%">Description of Goods </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:9%">Products Code </th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Units </th>
                        <th style="font-weight:100;color:black;text-align:right;border: 1px solid black; text-transform: capitalize;width:5%">Qty</th>
                        <th style="font-weight:100;color:black;text-align:right;border: 1px solid black; text-transform: capitalize;width:8%">Rate</th>
                       <th style="font-weight:100;color:black;text-align:right;border: 1px solid black; text-transform: capitalize;width:8%;">Amount</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var dot = "►"; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                     @foreach (var item in ViewBag.pitemsdata)
                     {
                         var length = (item.desc).Length;
                         var length1 = (m.footerText).Length;
                         var no = 0;
                         System.Text.RegularExpressions.Regex reg = new System.Text.RegularExpressions.Regex("(?<!\\d)\\.(?!\\d)|(?<=\\d)\\.(?!\\d)|(?<!\\d)\\.(?=\\d)");
                         string text = item.desc;
                         string[] Lines = reg.Split(text);
                         string text1 = m.footerText;
                         string[] Lines1 = reg.Split(text1);
                         no = 1;
                         var cnt = (ViewBag.pitemsdata).Count;
                         counter = counter + 1;
                         rowcount = rowcount + 1;
                         if (cnt == rowcount) { rowcount = rowcount + 1; }
                         if (rowcount % no == 0 && cnt != rowcount && cnt != rowcount - 1)
                         {
                             pageno = pageno + 1;
                             var blt = 1;
                             <tr style="border: 1px solid black;border-left:0px;border-top:0px; border-right:0px;height:10px  ">
			            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"><b style="font-size:14px">@item.item</b></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:11px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-weight:bold;font-size:11px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.quantity  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-size:11px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.rate  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:11px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.amt  </td>
                        </tr>
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
			            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"><br />
                            @foreach (string s in Lines)
                              {
                                 if (s != "" && blt != 1 && blt != Lines.Length)
                                { @dot;
                                }@s; blt++;<br />}
                        </td>
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:11px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;" colspan="4">
                            @if (item.itemImage != "")
                             {
                             <br /><div style=" vertical-align:bottom;text-align:center">    <img src="/Content/Upload/Images/Item/Item/@item.itemImage" style="max-width:190px; max-height:390px"  alt="" /></div>
                              } </td>*@
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                        </tr>
                       
                        @:</tbody></table>
                        @:</div><div   id="printpage" > 

                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;"></td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;height:20px"> </td>
                        
                    </tr>
                </table>
                         
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 100%;border-collapse:collapse">
                       @*<div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                       </div> 
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>*@
                         <div>
                          Company GSTIN.       :<b>&nbsp;@m.CGSTIN</b>
                         </div>
                          <div>
                         <div  style="text-align:center">    <b>TERMS AND CONDITIONS</b></div><br />
<b>VALIDITY</b><br />
Unless otherwise specified, our offer shall be valid for a period of 30 Days from the date of this offer.<br />
<b>PAYMENT TERMS</b><br />
100% of the payment in advance with purchase order.
All payments should be made by D.D. favoring “MEDQ INDIA” / Payable at Hyd
Or As request at the time of placing an Order.<br />
<b>DELIVERY/ INSTALLATION</b><br />
Products will be delivered within 4 to 6 weeks from the date of receipt of Purchase order.<br />
<b>WARRANTY</b><br />
12 Months from the date of installation. Regular and periodic maintenance of the systems will also be done during the warranty period.<br />
<b>CANCELLATION</b><br />
Any Order placed, pursuant hereto may be canceled by the Purchaser only upon written notice and upon payment to the company all reasonable cancellation charges to be decided by the Company.<br /><br />

                       </div>
                         @*@if (@m.footerText != "")
                         {<br />
                          <div>
                          <b> BANK DETAILS :</b><br />                               
@foreach (string s1 in Lines1)
{
    if (s1 != "")
    { }@s1;<br />}<br />
                       </div>}*@
                         
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size: 12px; padding-right: 0px;">For @m.oAdresss</div><div style="height:20px;"></div>
                         <div style="text-align:right;text-emphasis-position:below;">   @if (@m.Signature != "")
                                                                                        {
                                                                                            if (ViewBag.checkval == "true")
                                                                                            {
                                        <img src="@m.Signature" alt="" />
                                                                                            }
                                                                                            else
                                                                                            {
        <table style="width:98%;min-height:40px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="height: 40px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                                                                                            }
                                                                                        }</div>
                        <div style="text-align:right;text-emphasis-position:below;font-size: 12px;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
                           
         </table>
                          
                    
                                 
                      
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> All disputes are subject to the jurisdiction of Hyderabad Court.</div>

    </td>
  </tr>
                 </table>      
                                                                                        if (ViewBag.checkval == "true")
                                                                                        {   
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td style="text-align:center">   # @m.oAdresss1, @m.oAdresss2, @m.ocity - @m.ozip ,Telangana,India</td>
  </tr>         <tr style=" border-top: 1px solid;">
    <td style="text-align:center"> &#9742; 040-40189459  &#128241; +91 9059912599 / @m.OPUPhNo &#9993 info@medqindia.com   www.medqindia.com
    </td>
  </tr>
                 </table>
                                                                                        }
                        <div style="page-break-before: always">

                        </div>
           
                      <div style="min-height:55px;  overflow: hidden;font-size: 10px;border:none;  padding-left: 10px;border-bottom:0px;">
            
                           @if (ViewBag.checkval == "true")
                           {
          <table style="width:98%;min-height:70px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                 <tr>
                     
                     <td style="text-align:left">

                       <div style="float:left" >

                             <table  border="0" >
                                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="350px" height="100px" alt="" />
                                        }
                                        </td></tr>  
                                 
                                    
                                    
                                    
                                    </table> 
                         </div>
            
                     </td>
                 </tr>
             </table>
                           }
                           else
                           {
        <table style="width:98%;min-height:140px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="height: 140px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                           }
     
      
</div>


             <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b>Sales Quotation</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="min-height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss , @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss2,@m.ccity, @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust GSTIN- @m.CustGSTIN</td></tr>
                                    </table></div>
   </td>
    <td style="width:41%" >
                               <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Order No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Reference No : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>

  
                 
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:30px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:100px;padding-left:30em">Customer's CST No</div>
 <div style="font-weight:bold; float:left   ;padding-left:30px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
</table>
                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%;min-height:445px; border-right:0px; border:1px solid;font-size:12px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                <thead style="display:table-header-group " >

                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Items</th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:69%">Description of Goods </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:9%">Products Code </th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Units </th>
                        <th style="font-weight:100;color:black;text-align:right;border: 1px solid black; text-transform: capitalize;width:5%">Qty</th>
                        <th style="font-weight:100;color:black;text-align:right;border: 1px solid black; text-transform: capitalize;width:8%">Rate</th>
                       <th style="font-weight:100;color:black;text-align:right;border: 1px solid black; text-transform: capitalize;width:8%;">Amount</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                         else
                         {
                             var blt = 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px; border-right:0px;height:10px  ">
			            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"><b style="font-size:14px">@item.item</b></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:11px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-weight:bold;font-size:11px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.quantity  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-size:11px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.rate  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:11px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.amt  </td>
                        </tr>
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
			            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"><br />
                           
                            @foreach (string s in Lines)
                              {
                                  if (s != "" && blt != 1 && blt != Lines.Length)
                                { @dot;
                                }@s; blt++;<br />}
                        </td>
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:11px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;" colspan="4">
                            @if (item.itemImage != "")
                             {
                             <br /><div style=" vertical-align:bottom;text-align:center">    <img src="/Content/Upload/Images/Item/Item/@item.itemImage" style="max-width:190px; max-height:390px"  alt="" /></div>
                              } </td>*@
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;"></td>
                        </tr>
                             if (cnt == rowcount - 1 || cnt == 1)
                             {
                                 var ct = (rowcount - 1) % no;
                                 if (cnt == 1) { ct = (rowcount) % no; }
                                 if (ct != 0)
                                 {
                                     ct = no - ct;
                                     for (int ac = 1; ac <= ct; ac++)
                                     {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:13px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                 }
                        @:</tbody></table>
                        @:</div>
                        }
                         }
                     }    
           </tbody>
                </table>
               @*<table style="min-height:30px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" "><td rowspan="2" style="width: 4%;border-top:none"></td>
                                    <td rowspan="2" style="width:56%;border-top:none"></td>
                                    <td style="border-top:none;">Net Amount</td>
                                    <td style="width:13.5%;text-align:right;border-top:none;">@m.SubTotal</td></tr>
                   @if (m.Discount != "0")
                   {
                                <tr><td style="border-top:none;">Discount</td><td style="text-align:right;height:20px;">@m.Discount</td></tr>
                   }
                   else
                   {
                         <tr><td style="border-top:none;border-left:none;border-bottom:none;height:0.001px;"></td><td  style="border-top:none;border-right:none;border-bottom:none;text-align:right;height:0.001px;"></td></tr>
                   }
                     
                                <tr><td></td><td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:left;">Total...</td>
                                    <td style="text-align:right;">@m.Total </td></tr>
                            </table>*@
                        @*<table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                        
                    </tr>
                </table>*@
                        <table style="min-height:80px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" "><td rowspan="3" style="width: 4%;border-top:none"></td>
                                    <td rowspan="3" style="width:56%;border-top:none"></td>
                                    <td style="border-top:none;height:20px;">Net Amount</td>
                                    <td style="width:13.5%;text-align:right;border-top:none;height:20px;">@m.SubTotal</td></tr>
                                <tr><td style="border-top:none;height:20px;">Discount</td><td style="text-align:right;height:20px;">@m.Discount</td></tr>
                      <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes</DIV>
                                     }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"></DIV>  
                                      }
                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }
                                      else
                                      {
                                         <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"> </DIV>
                                      }
                                  }</td>
                       </tr>
                                 @*<tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                                <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>*@
                                <tr><td></td><td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:center;height:20px;">Total...</td>
                                    <td style="text-align:right;height:20px;">@m.Total </td></tr>
                            </table>
             <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                        
                    </tr>
                </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 100%;border-collapse:collapse">
                       @*<div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                       </div> 
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>*@
                         <div>
                          Company GSTIN.       :<b>&nbsp;@m.CGSTIN</b>
                         </div>
                          <div>
                             <div  style="text-align:center">    <b>TERMS AND CONDITIONS</b></div><br />
<b>VALIDITY</b><br />
Unless otherwise specified, our offer shall be valid for a period of 30 Days from the date of this offer.<br />
<b>PAYMENT TERMS</b><br />
100% of the payment in advance with purchase order.
All payments should be made by D.D. favoring “MEDQ INDIA” / Payable at Hyd
Or As request at the time of placing an Order.<br />
<b>DELIVERY/ INSTALLATION</b><br />
Products will be delivered within 4 to 6 weeks from the date of receipt of Purchase order.<br />
<b>WARRANTY</b><br />
12 Months from the date of installation. Regular and periodic maintenance of the systems will also be done during the warranty period.<br />
<b>CANCELLATION</b><br />
Any Order placed, pursuant hereto may be canceled by the Purchaser only upon written notice and upon payment to the company all reasonable cancellation charges to be decided by the Company.<br /><br />

                       </div>
                          @* @if (@m.footerText != "")
                           {<br />
                          <div>
                          <b> BANK DETAILS :</b>.&nbsp;   :
                              @{ var length2 = (m.footerText).Length;
                                 System.Text.RegularExpressions.Regex reg1 = new System.Text.RegularExpressions.Regex("(?<!\\d)\\.(?!\\d)|(?<=\\d)\\.(?!\\d)|(?<!\\d)\\.(?=\\d)");
                                 string text2 = m.footerText;
                                 string[] Lines2 = reg1.Split(text2);
                                  }
                               @foreach (string s1 in Lines2)
                               {
                                   if (s1 != "")
                                   { }@s1;<br />}
                       </div>}*@
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size: 12px; padding-right: 0px;">For @m.oAdresss</div><div style="height:20px;"></div>
                     <div style="text-align:right;text-emphasis-position:below;">   @if (@m.Signature != "")
                                                                                    {
                                                                                        if (ViewBag.checkval == "true")
                                                                                        {
                                        <img src="@m.Signature" alt="" />
                                                                                        }
                                                                                        else
                                                                                        {
        <table style="width:98%;min-height:40px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="height: 40px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                                                                                        }


                                                                                    }</div>
                        <div style="text-align:right;text-emphasis-position:below;font-size: 12px;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
         </table>
                      
                        
                         
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center">All disputes are subject to the jurisdiction of Hyderabad Court.</div>

    </td>
  </tr>
                 </table>
              @if (ViewBag.checkval == "true")
              {   
      
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td style="text-align:center">   # @m.oAdresss1, @m.oAdresss2, @m.ocity - @m.ozip ,Telangana,India</td>
  </tr>         <tr style=" border-top: 1px solid;">
    <td style="text-align:center"> &#9742; 040-40189459  &#128241; +91 9059912599 / @m.OPUPhNo &#9993 info@medqindia.com   www.medqindia.com
    </td>
  </tr>
                 </table>
              }
               </div>
    </div>

             </div>
}
</body>
</html>

