﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>SalesQuotationPrintSathvika</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
     <script type="text/javascript">
         $(document).ready(function () {
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
             if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                 var data = $('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     $.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Sales Quotation",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=SalesQuotation&Vendorref=" + $i("#SATABLE015COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                             var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                             }
                        }
                    });
                }
            }
            else {
                 PrintForms();
            }
         });
    </script>
</head>
<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">
  
@using (Html.BeginForm("Print", "SalesQuotationPrint"))
{

    var m = Model.Where(a => a.SONO != null).FirstOrDefault();
     <div id="printdiv" style="font-size:10px;font-family: Arial, Helvetica, sans-serif;" >
         
    @if(ViewBag.checkval=="true"){
          <table style="width:100%;min-height:70px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 130px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;">
     @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0" >
                                    <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;"><b>SATHVIKA FIRE SERVICES</b></td></tr>
                                    <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 15px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;">(We care for your Safety)</td></tr>
                                    <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">REGD. OFFICE  # 4-248, Geetha Nagar,Malkajgiri, SEC-BAD – 500047. </td></tr>
                       <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">Ph: 91-9849062766, 91- 7799899978, 040-65342116.</td></tr>
                 <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">TeleFax: 040-27055233</td></tr>
                <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> BRANCH.OFFICE: # 5-5-65, 1st floor, shop No.F3,
S.A.Tradecentre, Ranigunj, SEC-BAD - 500003. </td></tr>
        <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> Ph: 91-9030027699, 91- 8555981559, 040-49519629. </td></tr>
         <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> E-Mail: info@sathvikafireservices.com </td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                       <div style="float:right" >

                             <table  border="0" >
                                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="100px" alt="" />
                                        }
                                        </td></tr>  
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>*@
                                    

                                 }
                                    
                                    
                                    
                                    </table> 
                         </div>
            
                     </td>
                 </tr>
             </table>
    }
    else
    {
        <table style="width:100%;min-height:60px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="height: 70px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
    }
         
             <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px;padding:0px"><b>Sales Quotation</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    
    <td style="width:59%" >
                   
                       <div style="min-height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss, @m.cAdresss1</td></tr>
                                    <tr>@*<td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>*@</tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity , @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust Mail Id - @m.mailid</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust GSTIN- @m.CustGSTIN</td></tr>
                                    </table></div>
   </td>

    <td style="width:41%" >
                               <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Order No :  <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Reference No : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
<tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Delivery Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss1,@m.SHAdresss2</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcity, @m.SHstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry-@m.SHzip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                
                                    </table></div>
   </td>
    

    <td style="width:41%" >
                               <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           @*<td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b></b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Freight Term : <br /> <b></b></td>*@
  
          
       </tr> </table>
        <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
          @* <td style=" float:left;width:49%">  Tracking No:  <br /> <b></b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>*@
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
  
                 
    @if (Session["AcOwner"].ToString() == "56597")
    {
    }
    else
    {        
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
    }
</table>



         <div style="width: 100%; border-collapse: collapse; padding: 0px;">
           <div id="printpage" >
               
                  <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                <thead style="display:table-header-group " >

                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Items</th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:69%">Description of Goods </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:9%">Products Code </th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Qty</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Rate</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
  @{int counter = 0;
    var q = "(";
    var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
    var rowcount = 0; var pageno = 1; var dot = "*"; var amttxt = "Amount Chargeable (in words)";
}
                     <tbody>
                     @foreach (var item in ViewBag.pitemsdata)
                     {
                         var length = (item.desc).Length;
                         //var no = 0;
                         System.Text.RegularExpressions.Regex reg = new System.Text.RegularExpressions.Regex("(?<!\\d)\\.(?!\\d)|(?<=\\d)\\.(?!\\d)|(?<!\\d)\\.(?=\\d)");
                         string text = item.desc;
                         string[] Lines = reg.Split(text);
                         //no = 1;
                         var cnt = (ViewBag.pitemsdata).Count;
                         counter = counter + 1;
                         rowcount = rowcount + 1;
                         if (cnt == rowcount) { rowcount = rowcount + 1; }
                         if (rowcount % 8 == 0 && cnt != rowcount && cnt != rowcount - 1)
                         {
                             pageno = pageno + 1;
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
			            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;font-size:10px;font-family: Arial, Helvetica, sans-serif;"><u>@item.item</u><br />@foreach (string s in Lines)
                                                                                                                                                                                                                                                           {
                                                                                                                                                                                                                                                               if (s != "")
                                                                                                                                                                                                                                                               { @dot}@s;<br />}<br />  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.quantity  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.rate  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.amt  </td>
                        </tr>
                        @:</tbody></table>
                        @:</div><div   id="printpage" > 
@*@*                            
                     @*<table style="min-height:90px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-size:12px;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=""><td rowspan="2" style="width: 4%;border-top:none"></td>
                                    <td rowspan="2" style="width:56%;border-top:none"></td>
                                    <td>Net Amount</td><td style="width:13.5%;text-align:right">@m.SubTotal</td></tr>
                                <tr><td>Discount</td><td style="text-align:right">@m.Discount</td></tr>*@
                               @*<tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                       <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }

                                  }</td>
                       </tr>*@
                                @*<tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>*@
                               @* <tr><td></td><td style="border-left:none"></td><td style="border-left:none;text-align:center">Total...</td><td style="text-align:right">@m.Total </td></tr>
                            </table>*@
                          <table style="min-height:80px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" "><td rowspan="2" style="width: 4%;border-top:none"></td>
                                    <td rowspan="2" style="width:56%;border-top:none"></td>
                                    <td style="border-top:none;height:20px;">Net Amount</td>
                                    <td style="width:13.5%;text-align:right;border-top:none;height:20px;">@m.SubTotal</td></tr>
                               @* <tr><td style="border-top:none;height:20px;">Discount</td><td style="text-align:right;height:20px;">@m.Discount</td></tr>*@
                               @*  <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>*@
                     <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }

                                  }</td>
                       </tr>
                               @* <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>*@

                                <tr><td></td><td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:center;height:20px;">Total...</td>
                                    <td style="text-align:right;height:20px;">@m.Total </td></tr>
                            </table>
                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;"></td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;"> </td>
                        
                    </tr>
                </table>
                          @* <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family:  Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                   <div>
                                       PROPERTY: Goods shall remain the property of the supplier until payment in full has been made. The Supplier reserves 
                                       the right to enter the PURCHASERS premises to recover goods remaining unpaid for after the due payment date.
                                   </div>
                                   </td> 
                                   <td style="width:50%;padding-left:40px; font-size:8px">
                                      <div> I/We hereby certify that my/ our Registration Certificate under Telangna State Value Added Tax Act 2015 is
                                       in force on the date on which the sale of the goods specified in this tax invoice is made by me/us and
                                       that the transaction of sale covered by this tax invoice has been effected by me /us and it shall be
                                       accounted for in the turnover of sales while filing of return and the due tax, if any payble on the sales
                                       has been paid shall or shall be paid.</div>
                                         </td></tr>
                           </table>
                 
                        <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:10px ;font-family: Arial, Helvetica, sans-serif" >
                              <tr>
                                  <td style="width:67%">
                                   NOTE:<div>   Complaints including breakages shortages must be reported within 7 Days
                                      from the date of receipt of goods. No claim thereafter will be entertained.</div>
                                  </td>
                              </tr> 
                        </table>
                         <table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family:  Arial, Helvetica, sans-serif" >
                               <tr>
                                        <td  >
                                             @if(@m.StateLincense!=null && @m.StateLincense!="")
                                            { 
       <div style=" float:left;"> FSSAI State Lincense No:</div>
<div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                             }
                                             @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                            { 
      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div> 
                                             }
                                   </td>
                               </tr>
                             </table>*@
                          <table style="min-height:50px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;padding-top:5px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:100%">
                                 <div> TERMS AND CONDITIONS <br /> 
                         <div>1.Payment    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; : Against Delivery. <br />   </div>
                         <div>2.Guarantee  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; :  One Year against any manufacture defects. <br />  </div>
                                       <div>3.Delivery period  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; :  Within 3 to 5 Days.<br /> </div>
                                      <div> 4.Vat    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; :  14.5% Extra.& others States 2% Against "C- Form <br /> </div>
                                     <div>  5.Transpotation   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  :  Extra	</div>
                      <div style="padding-bottom:5px;">6. packing Charges   &nbsp;&nbsp;&nbsp; &nbsp; :  Extra	</div>
                                     </div>

                                   </td> 
                                  
                               </tr>
                           </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 400px;height:66px;border-collapse:collapse">
                       <div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                         </div>
                         <div>
                            Company GSTIN          : <b>&nbsp;@m.CGSTIN</b>
                         </div>
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size: 10px;">@m.oAdresss</div><div style="height:20px;"></div>
                         <div style="text-align:right;text-emphasis-position:below;">   @if (@m.Signature != "")
                                                                                        {
                                                                                            if (ViewBag.checkval == "true")
                                                                                            {
                                        <img src="@m.Signature" width="70px" height="40px" alt="" />
                                                                                            }
                                                                                        }</div>
                        <div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
                        <div style="page-break-before: always">

                        </div>
           
                      <div style="min-height:55px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            
                            @if (ViewBag.checkval == "true")
                            {
                                 <table style="width:99.8%;min-height:65px; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 130px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
     @*<div style="text-transform:uppercase"> @m.ouName</div>*@
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                                    @*<tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1,@m.oAdresss2</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity - @m.ozip</td></tr>
                                    <tr ><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>*@
                  <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;"><b>SATHVIKA FIRE SERVICES</b></td></tr>
                                    <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 15px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;">(We care for your Safety)</td></tr>
                                    <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">REGD. OFFICE  # 4-248, Geetha Nagar,Malkajgiri, SEC-BAD – 500047. </td></tr>
                       <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">Ph: 91-9849062766, 91- 7799899978, 040-65342116.</td></tr>
                 <tr ><td style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;">TeleFax: 040-27055233</td></tr>
                <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> BRANCH.OFFICE: # 5-5-65, 1st floor, shop No.F3,
S.A.Tradecentre, Ranigunj, SEC-BAD - 500003. </td></tr>
        <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> Ph: 91-9030027699, 91- 8555981559, 040-49519629. </td></tr>
         <tr ><td  style="text-align: left;float:left;font-size:12px;font-family: Arial, Helvetica, sans-serif; width: 98%; font-size: 10px;font-weight: bold;"> E-Mail: info@sathvikafireservices.com </td></tr>
                                    </table></div>
                     </td>
                     <td style="text-align:right">

                          <div style="float:right" >

                             <table  border="0" >
                                   <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                        @if (@m.logoName != "")
                                        {
                                        <img src="@m.logoName" width="100px" alt="" />
                                        }
                                        </td></tr>    
                                 @if (Session["AcOwner"].ToString() == "56584")
                                 {                        
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b style="text-transform:uppercase">@m.ouName</b> Agent of</td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.company</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>
                                    

                                 }
                                    </table> 
                         </div>
                     </td>
                 </tr>
             </table>
                            }
                            else
                            {
        <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
           <tr>
               <td>
                   <div style="height: 70px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
               </td>
           </tr>
             </table>
                            }
      
</div>


             <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b>Sales Quotation</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="min-height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <table style="width: 100%;border-collapse: collapse;" border="0" >
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss , @m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss2,@m.ccity, @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust Mail Id - @m.mailid</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Cust GSTIN- @m.CustGSTIN</td></tr>
                                    </table></div>
   </td>
    <td style="width:41%" >
                               <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Order No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Reference No : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
<tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 90px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Delivery Address</b></div> 
            <table style="width: 100%;border-collapse: collapse;" border="0">
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHAdresss1,@m.SHAdresss2</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcity, @m.SHstate</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.SHcountry-@m.SHzip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
            </table></div>
   </td>
    

    <td style="width:41%" >
                               <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           @*<td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b></b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Freight Term : <br /> <b></b></td>*@
  
          
       </tr> </table>
        <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
          @* <td style=" float:left;width:49%">  Tracking No:  <br /> <b></b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>*@
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
  
                 
   @if (Session["AcOwner"].ToString() == "56597")
    {
    }
    else
    {        
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;"> Customer TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
      <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div> 
    </td>
  </tr>
    }
</table>
                        @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                <thead style="display:table-header-group " >

                       <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                        <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Items</th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:69%">Description of Goods </th>
                        @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:9%">Products Code </th>*@
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Units </th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Qty</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Rate</th>
                       <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                        </tr>
                    </thead>
                        @:<tbody>
                        }
                         else
                         {
                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
			            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:initial;font-size:10px;padding-top:0em;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;">@counter</td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;font-size:10px;font-family: Arial, Helvetica, sans-serif;"><u>@item.item</u><br />@foreach (string s in Lines)
                                                                                                                                                                                                                                                           {
                                                                                                                                                                                                                                                               if (s != "")
                                                                                                                                                                                                                                                               { @dot}@s;<br />}<br />  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.UOM </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.quantity  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.rate  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.amt  </td>
                        </tr>
                                                                                                                                                                                                                                                           if (cnt == rowcount - 1 || cnt == 1)
                                                                                                                                                                                                                                                           {
                                                                                                                                                                                                                                                               var ct = (rowcount - 1) % 8;
                                                                                                                                                                                                                                                               if (cnt == 1) { ct = (rowcount) % 8; }
                                                                                                                                                                                                                                                               if (ct != 0)
                                                                                                                                                                                                                                                               {
                                                                                                                                                                                                                                                                   ct = 8 - ct;
                                                                                                                                                                                                                                                                   for (int ac = 1; ac <= ct; ac++)
                                                                                                                                                                                                                                                                   {<tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:13px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        </tr>}
                                                                                                                                                                                                                                                               }
                        @:</tbody></table>
                        @:</div>
                        }
                         }
                     }    
           </tbody>
                </table>
               <table style="min-height:80px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" "><td rowspan="2" style="width: 4%;border-top:none"></td>
                                    <td rowspan="2" style="width:56%;border-top:none"></td>
                                    <td style="border-top:none;height:20px;">Net Amount</td>
                                    <td style="width:13.5%;text-align:right;border-top:none;height:20px;">@m.SubTotal</td></tr>
                               @* <tr><td style="border-top:none;height:20px;">Discount</td><td style="text-align:right;height:20px;">@m.Discount</td></tr>*@
                               @*  <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>*@
                     <tr><td>   @foreach (var item1 in ViewBag.taxitemsdata)
                                  {
                                      if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                      }

                                  }</td>
                           <td>   @foreach (var item12 in ViewBag.taxitemsdata)
                                  {
                                      if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                      {
                       
                        <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                      }

                                  }</td>
                       </tr>
                               @* <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>*@

                                <tr><td></td><td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:center;height:20px;">Total...</td>
                                    <td style="text-align:right;height:20px;">@m.Total </td></tr>
                            </table>
                        <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
            <tr style="width: 100%;"><td  style="text-align: left; width: 22%;">@amttxt</td>
                        
                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>
                        
                    </tr>
                </table>
                         @*  <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                   <div>
                                       PROPERTY: Goods shall remain the property of the supplier until payment in full has been made. The Supplier reserves 
                                       the right to enter the PURCHASERS premises to recover goods remaining unpaid for after the due payment date.
                                   </div>
                                   </td> 
                                   <td style="width:50%;padding-left:40px; font-size:8px">
                                      <div> I/We hereby certify that my/ our Registration Certificate under Telangna State Value Added Tax Act @m.VATNO is
                                       in force on the date on which the sale of the goods specified in this tax invoice is made by me/us and
                                       that the transaction of sale covered by this tax invoice has been effected by me /us and it shall be
                                       accounted for in the turnover of sales while filing of return and the due tax, if any payble on the sales
                                       has been paid shall or shall be paid.</div>
                                         </td></tr>
                           </table>*@
                 
                       @* <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:10px ;font-family: Arial, Helvetica, sans-serif" >
                              <tr>
                                  <td style="width:67%">
                                   NOTE:<div>   Complaints including breakages shortages must be reported within 7 Days
                                      from the date of receipt of goods. No claim thereafter will be entertained.</div>
                                  </td>
                              </tr> 
                        </table>*@
                         @*<table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                               <tr style=" border-top: 0px solid;">
                                        <td  >
                                  @if(@m.StateLincense!=null&&@m.StateLincense!="")
                                            { 
       <div style=" float:left;"> FSSAI State Lincense No:</div>
<div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                  }
                                       @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                            { 
      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div> 
                                       }
                                   </td>
                               </tr>
                             </table>*@
             <table style="min-height:40px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;padding-top:5px;font-family: Arial, Helvetica, sans-serif" >
                               <tr><td style="width:47%">
                                 
                                     <div> TERMS AND CONDITIONS <br /> 
                         <div>1.Payment    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; : Against Delivery. <br />   </div>
                         <div>2.Guarantee  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; :  One Year against any manufacture defects. <br />  </div>
                                       <div>3.Delivery period  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; :  Within 3 to 5 Days.<br /> </div>
                                      <div>4.Vat    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; :  14.5% Extra.& others States 2% Against "C- Form <br /> </div>
                                     <div>5.Transpotation   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp; :  Extra	</div>
                           <div style="padding-bottom:5px;">6. packing Charges   &nbsp;&nbsp;&nbsp; &nbsp; :  Extra	</div>

                  </div>                 </td> 
                                  
                               </tr>
                           </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     
                            <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                    
               
                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 400px;height:66px;border-collapse:collapse">
                       <div>
                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                       </div>
                         <div>
                          CST TIN NO&nbsp;&nbsp;    :<b>&nbsp;@m.OPUCSTNO</b>
                         </div>
                         <div>
                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;        :<b>&nbsp;@m.OPUPANNO</b>
                         </div>
                         <div>
                            Company GSTIN         : <b>&nbsp;@m.CGSTIN</b>
                         </div>
                    </td>

                    <td  style="border-top:1px solid black;border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                    <div style="text-align:right;font-size: 10px;">@m.oAdresss</div><div style="height:20px;"></div>
                     <div style="text-align:right;text-emphasis-position:below;">   @if (@m.Signature != "")
                                                                                    {
                                                                                        if (ViewBag.checkval == "true")
                                                                                        {
                                        <img src="@m.Signature" width="70px" height="40px" alt="" />
                                                                                        }
                                                                                    }</div>
                        <div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                    </td>
                   
                </tr>
         </table>
                        <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                     <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style="  text-align:center"> @m.footerText</div>

    </td>
  </tr>
                 </table>
               </div>
    </div>

             </div>
}
</body>
</html>

