﻿
@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>SalesQuotationPrintGSTMVIK</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
             var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
             if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                 var data = $('#printdiv')[0].innerHTML;
                 if (FormName != "null") {
                     $.ajax({
                         url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ fname: FormName, html: data }),
                        success: function (data) {
                            $i('#newMDialog').dialog({
                                autoOpen: false,
                                modal: true,
                                width: 680,
                                height: 520, resizable: false,
                                title: "Send this Sales Quotation",
                                draggable: false,
                                closeOnEscape: false
                            })
                            $i('#tabs1').tabs();
                            $i(this).attr('pattern', 'Y');
                            $i('.ui-dialog').show();
                            $i('.ui-dialog-titlebar').show();
                            $i('.ui-widget-overlay').show();
                            if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[0].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                    $i('.ui-dialog')[1].id = 'pnewDialog';
                                    $i('#newMDialog').hide();
                                }
                            }
                            $i('#newMDialog').dialog('open');
                            $i('#newMDialog').show();
                            $i('#newMDialog').load("/SendMailer/Index?FormName=SalesQuotation&Vendorref=" + $i("#SATABLE015COLUMN05").val() + "&idi=22368");
                            $i('#newMDialog').on('dialogclose', function (event) {
                                $i('#newMDialog').attr('pattern', 'N');
                                $i(this).dialog("close");
                                $i(".ui-widget-overlay").hide();
                                DynamicPopupcancel();
                            });
                            return false;
                            var Ref = '@Request["Vendorref"]';
                             var to = '@Request["idi"]';
                            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                                $i('#SendPerson').val(to);
                                ddlSelectMailSendTo(to, '@Session["id"]');
                             }
                        }
                    });
                }
            }
            else {
                 PrintForms();
            }
         });
    </script>
</head>
<body style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">

    @using (Html.BeginForm("Print", "SalesQuotationPrintGSTMVIK"))
    {

        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
        <div id="printdiv" style="font-size:10px;font-family: Arial, Helvetica, sans-serif;">

            @if (ViewBag.checkval == "true")
            {
                <table style="width:98%;min-height:55px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <td>
                            <div style="min-height: 65px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;">
                                <div style="text-transform:uppercase"> @m.company</div>
                                <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0">
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compState,@m.compCtry</td></tr>
                                    @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>*@
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                                </table>
                            </div>
                        </td>
                        <td style="text-align:right">

                            <div style="float:right">

                                <table border="0">
                                    <tr>
                                        <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                            @if (@m.logoName != "")
                                            {
                                                <img src="@m.logoName" width="70px" alt="" />
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                    </tr>
                </table>
            }
            else
            {
                <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <td>
                            <div style="height: 70px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
                        </td>
                    </tr>
                </table>
            }

            <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:12px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
                <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
                    <td colspan="2" style="font-size:16px;padding:0px">
                        @if (Session["AcOwner"].ToString() == "56644")
                        {
                            <b>Estimate </b>}
                        else
                        {
                            <b>Sales Quotation </b>}
                    </td>

                </tr>

                <tr style=" border-top: 1px solid;">

                    <td style="width:59%">

                        <div style="height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                            <table style="width: 100%;border-collapse: collapse;" border="0">
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss, @m.cAdresss1</td></tr>
                                <tr>@*<td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>*@</tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity , @m.cstate</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                @*  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>*@
                                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>
                            </table>
                        </div>
                    </td>

                    <td style="width:41%">
                        <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
                            <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid">
                                <tr>
                                    <td style=" float:left;width:49%"> Order No :  <b>@m.SONO</b></td>

                                    <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>


                                </tr>
                            </table>
                            <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;">
                                <tr>
                                    <td style=" float:left;width:49%"> Reference No : <br /> <b>@m.Reference</b></td>

                                    <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Due Date :<br /> <b>@m.DueDate</b></td>


                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                @*<tr style=" border-top: 1px solid;">
                      <td style="width:59%" >

                                         <div style="height: 90px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                              <div style="font-size:12px;"><b>Delivery Address</b></div>
                                              <table style="width: 100%;border-collapse: collapse;" border="0" >
                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss</td></tr>
                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss1,@m.soAdresss1</td></tr>
                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity, @m.sostate</td></tr>
                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socountry-@m.sozip</td></tr>
                                                      <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                                      </table></div>
                     </td>


                      <td style="width:41%" >
                                                 <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
                        <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
                               <tr>
                             <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b></b></td>

                        <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Freight Term : <br /> <b></b></td>


                         </tr> </table>
                          <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
                               <tr>
                             <td style=" float:left;width:49%">  Tracking No:  <br /> <b></b></td>

                        <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>


                         </tr> </table>
                          </div>
                          </td>
                    </tr>*@


                @* <tr style=" border-top: 1px solid;">
                        <td colspan="2" style="height:20px">

                             <div style=" float:left;"> Customer TIN:</div>
                    <div style="font-weight:bold; float:left  ;padding-left:30px"><b>@m.custTin</b></div>
                          <div style=" float:left ;margin-left:100px;padding-left:30em">Customer's CST No</div>
                     <div style="font-weight:bold; float:left   ;padding-left:30px"> <b>@m.CCSTNO</b></div>
                        </td>
                      </tr>*@
            </table>



            <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                <div id="printpage">

                    <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                        <thead style="display:table-header-group ">

                            <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Items</th>*@
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:42%">Description of Goods </th>
                                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:9%">Products Code </th>*@
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Units </th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Qty</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Rate</th>
                                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">CGST</th>
                                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">SGST</th>
                                <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">IGST</th>
                            </tr>
                            <tr>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                            </tr>
                        </thead>
                        @{int counter = 0;
                            var q = "(";
                            var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
                            var rowcount = 0; var pageno = 1; var dot = "*"; var amttxt = "Amount Chargeable (in words)";
                        }
                        <tbody>
                            @foreach (var item in ViewBag.pitemsdata)
                            {
                                var length = (item.desc).Length;
                                var length1 = (m.footerText).Length;
                                var no = 0;
                                System.Text.RegularExpressions.Regex reg = new System.Text.RegularExpressions.Regex("(?<!\\d)\\.(?!\\d)|(?<=\\d)\\.(?!\\d)|(?<!\\d)\\.(?=\\d)");
                                string text = item.desc;
                                string[] Lines = reg.Split(text);
                                string text1 = m.footerText;
                                string[] Lines1 = reg.Split(text1);
                                no = 1;
                                var cnt = (ViewBag.pitemsdata).Count;
                                counter = counter + 1;
                                rowcount = rowcount + 1;
                                if (cnt == rowcount) { rowcount = rowcount + 1; }
                                if (rowcount % 30 == 0 && cnt != rowcount && cnt != rowcount - 1)
                                {
                                    pageno = pageno + 1;
                                    var blt = 1;
                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;padding-top:0em;text-align:start;font-size:10px;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;">@counter</td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                            @item.item <br />
                                            @foreach (string s in Lines)
                                            {
                                                if (s != "" && blt != 1 && blt != Lines.Length)
                                                {
                                            }@s; blt++;<br />}
                                        </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.UOM </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.quantity  </td>
                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.rate  </td>
                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.amt  </td>

                                        @if (item.CGST != 0)
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.CGST</td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.CGSTAMT</td>}
                                        else
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>}
                                        @if (item.SGST != 0)
                                        {
                                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.SGST</td>
                                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.SGSTAMT  </td>}
                                        else
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>}
                                        @if (item.IGST != 0)
                                        {
                                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.IGST</td>
                                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.IGSTAMT  </td>}
                                        else
                                        {
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>}

                                    </tr>
                                @:</tbody></table>
                            @:</div><div id="printpage">
                                <table style="min-height:80px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                    <tr style=" ">
                                        <td rowspan="3" style="width: 4%;border-top:none"></td>
                                        <td rowspan="3" style="width:56%;border-top:none"></td>
                                        <td style="border-top:none;height:20px;">Net Amount</td>
                                        <td style="width:13.5%;text-align:right;border-top:none;height:20px;">@m.SUBTOT</td>
                                    </tr>
                                    @* <tr><td style="border-top:none;height:20px;">Discount</td><td style="text-align:right;height:20px;">@m.Discount</td></tr>*@
                                    @*  <tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                        <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>*@
                                    <tr>
                                        <td>
                                            @foreach (var item1 in ViewBag.taxitemsdata)
                                            {
                                                if (@item1.linetaxes != null && @item1.linetaxes != "0")
                                                {
                                                    <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes  </DIV>

                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var item12 in ViewBag.taxitemsdata)
                                            {
                                                if (@item12.linetaxes != null && @item12.linetaxes != "0")
                                                {
                                                    <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    @* <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>*@

                                    <tr>
                                        <td></td>
                                        <td style="border-left:none"></td>
                                        <td style="border-left:none;text-align:center;height:20px;">Total...</td>
                                        <td style="text-align:right;height:20px;">@m.TOTAMT </td>
                                    </tr>
                                </table>
                                <table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                                    <tr style="width: 100%;">
                                        <td style="text-align: left; width: 22%;"></td>

                                        <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;"> </td>

                                    </tr>
                                </table>
                                <table style="min-height:50px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;padding-top:5px;font-family: Arial, Helvetica, sans-serif">
                                    <tr>
                                        <td style="width:100%"></td>

                                    </tr>
                                </table>
                                <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">

                                    <tr style="border: 0px solid black; width: 100%;text-align: left;">


                                        <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 400px;height:66px;border-collapse:collapse">
                                            @*<div style="padding-top:20px">
                                                    VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                                                </div>
                                                  <div>
                                                   CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                                                  </div>
                                                  <div>
                                                      PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                                                  </div>*@
                                        </td>

                                        <td style="border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                                            <div style="text-align:right;font-size: 10px;">@m.company</div><div style="height:20px;"></div>
                                            <div style="text-align:right;text-emphasis-position:below;">
                                                @if (@m.Signature != "")
                                                {
                                                    if (ViewBag.checkval == "true")
                                                    {
                                                        <img src="@m.Signature" width="70px" height="40px" alt="" />
                                                    }
                                                }
                                            </div>
                                            <div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                                        </td>

                                    </tr>
                                </table>
                                <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
                                    <tr style=" border-top: 1px solid;">
                                        <td colspan="2">

                                            <div style="  text-align:center"> @m.footerText</div>

                                        </td>
                                    </tr>
                                </table>
                                <div style="page-break-before: always">

                                </div>

                                <div style="min-height:55px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">

                                    @if (ViewBag.checkval == "true")
                                    {
                                        <table style="width:99.8%;min-height:65px; border-collapse:collapse;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
                                            <tr>
                                                <td>
                                                    <div style="min-height: 65px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                        <div style="text-transform:uppercase"> @m.company</div>
                                                        <table style="width: 100%;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" border="0">
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compState,@m.compCtry</td></tr>
                                                            @*<tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">TIN NO.&nbsp;   :@m.cTIn</td></tr>*@
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. : @m.OPUPhNo</td></tr>
                                                            <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.CGSTIN</td></tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="text-align:right">

                                                    <div style="float:right">

                                                        <table border="0">
                                                            <tr>
                                                                <td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif ">
                                                                    @if (@m.logoName != "")
                                                                    {
                                                                        <img src="@m.logoName" width="100px" alt="" />
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    else
                                    {
                                        <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                            <tr>
                                                <td>
                                                    <div style="height: 70px;  overflow: hidden;font-size: 10px;border:none;border-bottom:0px;"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    }

                                </div>


                                <table border="1" style="width:100%;min-height:100px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family: Arial, Helvetica, sans-serif;">
                                    <tr style="text-align: center; font-family: Arial, Helvetica, sans-serif; ">
                                        <td colspan="2" style="font-size:16px">
                                            <b>Sales Quotation</b>

                                        </td>

                                    </tr>

                                    <tr style=" border-top: 1px solid;">
                                        <td style="width:59%">

                                            <div style="height: 85px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                <table style="width: 100%;border-collapse: collapse;" border="0">
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss , @m.cAdresss1</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> @m.cAdresss2,@m.ccity, @m.cstate</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                                    @*  <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State: @m.cstate</td></tr>
                                                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">State Code:@m.StateCode</td></tr>*@
                                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN Number: @m.CustGSTIN</td></tr>
                                                </table>
                                            </div>
                                        </td>
                                        <td style="width:41%">
                                            <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
                                                <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid">
                                                    <tr>
                                                        <td style=" float:left;width:49%"> Order No : <br /> <b>@m.SONO</b></td>

                                                        <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Date : <br /> <b>@m.Date</b></td>


                                                    </tr>
                                                </table>
                                                <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;">
                                                    <tr>
                                                        <td style=" float:left;width:49%"> Reference No : <br /> <b>@m.Reference</b></td>

                                                        <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Due Date :<br /> <b>@m.DueDate</b></td>


                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr style=" border-top: 1px solid;">
                                          <td style="width:59%" >

                                                             <div style="height: 90px;  overflow: hidden;font-size: 10px;border:none;  border-bottom:0px;">
                                                  <div style="font-size:12px;"><b>Delivery Address</b></div>
                                                                  <table style="width: 100%;border-collapse: collapse;" border="0" >
                                                                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss</td></tr>
                                                                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.soAdresss1,@m.soAdresss1</td></tr>
                                                                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socity, @m.sostate</td></tr>
                                                                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.socountry-@m.sozip</td></tr>
                                                                          <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Phone no. - @m.custPhNo</td></tr>
                                                                          </table></div>
                                         </td>


                                          <td style="width:41%" >
                                                                     <div style="  overflow: hidden;height:85px;font-size: 10px;border:none; border-bottom:0px;">
                                            <table style="width:100% ;height:43px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
                                                   <tr>
                                                 <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b></b></td>

                                            <td style=" float:left ;width:49%; border-left:1px solid;height:43px">Freight Term : <br /> <b></b></td>


                                             </tr> </table>
                                              <table style="width:100%;height:42px;font-family: Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
                                                   <tr>
                                                 <td style=" float:left;width:49%">  Tracking No:  <br /> <b></b></td>

                                            <td style=" float:left ;width:49%;border-left:1px solid;height:42px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>


                                             </tr> </table>
                                              </div>
                                              </td>
                                        </tr>*@


                                    @if (Session["AcOwner"].ToString() == "56597")
                                    {
                                    }
                                    else
                                    {
                                        @*<tr style=" border-top: 1px solid;">
                                                <td colspan="2">

                                                     <div style=" float:left;"> Customer TIN:</div>
                                            <div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.custTin</b></div>
                                                  <div style=" float:left ;margin-left:300px">Customer's CST No:</div>
                                             <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.CCSTNO</b></div>
                                                </td>
                                              </tr>*@
                                    }
                                </table>
                                @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-color:black" border="1">
                                    <thead style="display:table-header-group ">

                                        <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                            <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                                            @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:20%">Items</th>*@
                                            <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:42%">Description of Goods </th>
                                            @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:9%">Products Code </th>*@
                                            <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:7%">Units </th>
                                            <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Qty</th>
                                            <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:7%">Rate</th>
                                            <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>
                                            <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">CGST</th>
                                            <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">SGST</th>
                                            <th colspan="2" scope='colgroup' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">IGST</th>
                                        </tr>
                                        <tr>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;"></th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Rate</th>
                                            <th scope='col' style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;">Amount</th>
                                        </tr>
                                    </thead>
                                    @:<tbody>
                                    }
                                    else
                                    {
                                        var blt = 1;
                                        <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:initial;font-size:10px;padding-top:0em;font-family:  Arial, Helvetica, sans-serif ;vertical-align:top;">@counter</td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:lighter;font-size:10px;font-family: Arial, Helvetica, sans-serif;">
                                                @item.item <br />
                                                @foreach (string s in Lines)
                                                {
                                                    if (s != "" && blt != 1 && blt != Lines.Length)
                                                    {
                                                }@s; blt++;<br />}
                                            </td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.UOM </td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.quantity  </td>
                                            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;padding-top:0em;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.rate  </td>
                                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;padding-top:0em;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.amt  </td>

                                            @if (item.CGST != 0)
                                            {
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.CGST</td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.CGSTAMT</td>}
                                            else
                                            {
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>}
                                            @if (item.SGST != 0)
                                            {
                                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.SGST</td>
                                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.SGSTAMT  </td>}
                                            else
                                            {
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>}
                                            @if (item.IGST != 0)
                                            {
                                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.IGST</td>
                                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;">@item.IGSTAMT  </td>}
                                            else
                                            {
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>
                                                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif;vertical-align:top;"></td>}
                                        </tr>
                                        if (cnt == rowcount - 1 || cnt == 1)
                                        {
                                            var ct = (rowcount - 1) % 30;
                                            if (cnt == 1) { ct = (rowcount) % 30; }
                                            if (ct != 0)
                                            {
                                                ct = 30 - ct;
                                                for (int ac = 1; ac <= ct; ac++)
                                                {
                                                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:13px  ">
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                                                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                                                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                                        <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                                                    </tr>}
                                                <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif;text-align:center;border-right: 1px solid black"> <b>TOTAL</b></td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black">  </td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTQTY </td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-right:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;border-right: 1px solid black"></td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.SUBTOT</td>
                                                    @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> @m.TOTAMT </td>*@
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTCGT </td>

                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>

                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@m.TOTSGT  </td>
                                                    <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:1px solid black;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                                                    <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:1px solid black;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@m.TOTIGT </td>
                                                </tr> }
                                        @:</tbody></table>
                                    @:</div>
                                }
                            }
                        }
                            </tbody>
                            </table>
                            <table style="min-height:80px;border-collapse: collapse; width: 100%;font-size:10px;border-top:none;font-family: Arial, Helvetica, sans-serif" border="1">
                                <tr style=" ">
                                    <td rowspan="3" style="width: 4%;border-top:none"></td>
                                    <td rowspan="3" style="width:56%;border-top:none"></td>
                                    <td style="border-top:none;height:20px;">Net Amount</td>
                                    <td style="width:13.5%;text-align:right;border-top:none;height:20px;">@m.SUBTOT</td>
                                </tr>
                                <tr><td style="border-top:none;height:20px;">Discount</td><td style="text-align:right;height:20px;">@m.Discount</td></tr>
                                <tr>
                                    <td>
                                        @foreach (var item1 in ViewBag.taxitemsdata)
                                        {
                                            if (@item1.linetaxes != null && @item1.linetaxes != "0" && @item1.linetaxes != "Non Taxable")
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@output @item1.linetaxes</DIV>
                                            }
                                            else
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"></DIV>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var item12 in ViewBag.taxitemsdata)
                                        {
                                            if (@item12.linetaxes != null && @item12.linetaxes != "0" && @item12.linetaxes != "Non Taxable")
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold">@item12.linetotaltax  </DIV>
                                            }
                                            else
                                            {
                                                <DIV style="border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold"> </DIV>
                                            }
                                        }
                                    </td>
                                </tr>
                                @*<tr><td>Packing Charge</td><td style="text-align:right">@m.PackingCharges</td></tr>
                                    <tr><td>Shipping Charges</td><td style="text-align:right">@m.ShippingCharges</td></tr>
                                    <tr><td>Form "C" / "F" / "H"</td><td>@m.form</td></tr>*@
                                <tr>
                                    <td></td>
                                    <td style="border-left:none"></td>
                                    <td style="border-left:none;text-align:center;height:20px;">Total...</td>
                                    <td style="text-align:right;height:20px;">@m.TOTAMT </td>
                                </tr>
                            </table>
                            @*<table style="border-collapse: collapse;width: 100%;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                <tr style="width: 100%;">
                                    <td  style="text-align: left; width: 22%;">@amttxt</td>

                                            <td style="text-align: left; width: 78%;font-weight: bold;font-size: 10px;text-transform:capitalize;">INR @m.amtInWord   </td>

                                        </tr>
                                    </table>*@
                            @*  <table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                    <tr><td style="width:47%">
                                        <div>
                                            PROPERTY: Goods shall remain the property of the supplier until payment in full has been made. The Supplier reserves
                                            the right to enter the PURCHASERS premises to recover goods remaining unpaid for after the due payment date.
                                        </div>
                                        </td>
                                        <td style="width:50%;padding-left:40px; font-size:8px">
                                           <div> I/We hereby certify that my/ our Registration Certificate under Telangna State Value Added Tax Act @m.VATNO is
                                            in force on the date on which the sale of the goods specified in this tax invoice is made by me/us and
                                            that the transaction of sale covered by this tax invoice has been effected by me /us and it shall be
                                            accounted for in the turnover of sales while filing of return and the due tax, if any payble on the sales
                                            has been paid shall or shall be paid.</div>
                                              </td></tr>
                                </table>*@

                            @* <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:10px ;font-family: Arial, Helvetica, sans-serif" >
                                      <tr>
                                          <td style="width:67%">
                                           NOTE:<div>   Complaints including breakages shortages must be reported within 7 Days
                                              from the date of receipt of goods. No claim thereafter will be entertained.</div>
                                          </td>
                                      </tr>
                                </table>*@
                            @*<table style="min-height:20px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
                                                               <tr style=" border-top: 0px solid;">
                                                                        <td  >
                                                                  @if(@m.StateLincense!=null&&@m.StateLincense!="")
                                                                            {
                                       <div style=" float:left;"> FSSAI State Lincense No:</div>
                                <div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                                                  }
                                                                       @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                                                            {
                                      <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
                                 <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div>
                                                                       }
                                                                   </td>
                                                               </tr>
                                                             </table>*@

                            @* <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; " >
                                                     <tr style="border: 0px solid black; width: 100%;text-align: left;">
                                                         <td style="width: 400px;border-collapse:collapse;">
                                <div>
                                    <b>Terms & Conditions: </b></div>
                                <div>1.Please obtain proper receipt for the payment mode or goods returned or short recieved if any otherwise firm will not be responsible.</div>

                                                         </td>
                                                         <td style="width: 400px;border-collapse:collapse;"> </td>

                                                </tr>

                                                            <tr style="border: 0px solid black; width: 100%;text-align: left;">


                                                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family:  Arial, Helvetica, sans-serif; width: 400px;height:66px;border-collapse:collapse">
                                                     <div style="padding-top:20px">
                                                           VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                                                       </div>
                                                         <div>
                                                          CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                                                         </div>
                                                         <div>
                                                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                                                         </div>
                                                    </td>

                                                    <td  style="border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                                                    <div style="text-align:right;font-size: 10px;">@m.company</div><div style="height:20px;"></div>
                                                     <div style="text-align:right;text-emphasis-position:below;">   @if (@m.Signature != "")
                                                                                                                    {
                                                                                                                        if (ViewBag.checkval == "true")
                                                                                                                        {
                                                                        <img src="@m.Signature" width="70px" height="40px" alt="" />
                                                                                                                        }
                                                                                                                    }</div>
                                                        <div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                                                    </td>

                                                </tr>
                                         </table>*@




                            <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
                                <tr style="border: 0px solid black; width: 100%;text-align: left;">


                                    @if (Session["AcOwner"].ToString() == "56669" || Session["AcOwner"].ToString() == "56796")
                                    {

                                        <td style="width: 400px;border-collapse:collapse;">
                                            <div>
                                                <b>Terms & Conditions: </b>
                                            </div>
                                            <div style="text-align:left;font-size: 12px;">1.Delivery with 10 days from date of po and advance.</div>
                                            <div style="text-align:left;font-size: 12px;">2.Payment 100% advance.</div>
                                            <div style="text-align:left;font-size: 12px;">3.Delivery:- Free delivery to your office in hyderabad.</div>
                                        </td>
                                    }
                                    <td style="font-weight: bold; width: 200px;border-collapse:collapse;border-left:1px solid black">
                                        <div style="text-align:right;font-size: 10px;">@m.company</div><div style="height:20px;"></div>
                                        <div style="text-align:right;text-emphasis-position:below;">
                                            @if (@m.Signature != "")
                                            {
                                                if (ViewBag.checkval == "true")
                                                {
                                                    <img src="@m.Signature" width="70px" height="40px" alt="" />
                                                }
                                            }
                                        </div>
                                        <div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                                    </td>
                                </tr>

                            </table>
                            <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">
                                <tr style=" border-top: 1px solid;">
                                    <td colspan="2">

                                        <div style="  text-align:center"> @m.footerText</div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    </div>
                }
</body>
</html>

