﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StockTransferPrint</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    @*<link href="~/css/Static/print.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            debugger
            var Ref = '@Request["Ref"]'; var FormName = '@Request["FormName"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null && Ref == "mail") {
                var data = $('#printdiv')[0].innerHTML;
                if (FormName != "null") {
                    $.ajax({
                        url: "/Print/printpdf?FormName=" + FormName + "&no=" +@Request["sono"] +"",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify({ fname: FormName, html: data }),
                         success: function (data) {
                         }
                     });
                 }
             }
             else {
                 PrintForms();
             }
    });
    </script>
   @* <script>
        $(document).ready(function () {

            var MaxHeight = 200;
            var RunningHeight = 0;
            var PageNo = 1;

            $('table.splitForPrint>tbody>tr').each(function () {

                if (RunningHeight + $(this).height() > MaxHeight) {
                    RunningHeight = 0;
                    PageNo += 1;
                }

                RunningHeight += $(this).height();

                $(this).attr("data-page-no", PageNo);

            });

            for (i = 1; i <= PageNo; i++) {

                $('table.splitForPrint').parent().append("<div class='tablePage'><table id='grdfData" + i + "'><tbody></tbody></table></div>");

                var rows = $('table tr[data-page-no="' + i + '"]');

                $('#grdfData' + i).find("tbody").append(rows);
            }
            $('table.splitForPrint').remove();

        });
    </script>*@
    <style type="text/css">
  
    </style>
</head>

<body  style="border-bottom:0px;border-left:0px;border-right:0px; border-top:0px;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
    @using (Html.BeginForm("Print", "StockTransferPrint"))
    {
        var m = Model.Where(a => a.SONO != null).FirstOrDefault();
         <div id="printdiv" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;" >
        
             <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
                 <tr>
                     <td>
<div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
            <div style="text-transform:uppercase;">@m.ouName</div> 
            <table style="width: 100%;border-collapse: collapse;" border="0">

                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.ogstin</td></tr>
                <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Contact no. &nbsp;  @m.OPUPhNo</td></tr>




            </table>

</div>
                     </td>

                     <td style="text-align:right">
                      @*  <img src="~/Content/Upload/@m.logoName" width="90px" />
                                 
                          <div style="font-size:12px;text-transform:uppercase">@m.ouName<br />
                                  
                              </div>  
                         <div style="float:right" >

                             <table  border="0" >
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> VAT TIN NO.&nbsp;   :@m.VATNO</td></tr>
                                    


                                    
                                    
                                    
                                    </table> 
                         </div>         *@
                @*<img style="width: 60%;" src="E:/EmphoraERP/APP/APPSolution/eBizSuiteAppUI/Images/@m.logoName" />*@
            
                     </td>
                 </tr>
             </table>

@*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
             <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
  <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
    <td colspan="2" style="font-size:16px"><b>STOCK TRANSFER</b>

    </td>
    
  </tr>

  <tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 115px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
                           <div style="font-size:12px;"><b>Source Address</b></div> 
           <table style="width: 100%;border-collapse: collapse;" border="0" >

                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ostate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Contact no. &nbsp;@m.souPhno</td></tr>
                                    
                                    
                                    
                                    </table> </div>
   </td>
    <td style="width:41%" >
                               <div style="  overflow: hidden;height:115px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> StockTransfer No : <br /> <b>@m.SONO</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:60px">Date : <br /> <b>@m.Date</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%"> Order No : <br /> <b>@m.Reference</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:60px">Due Date :<br /> <b>@m.DueDate</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
<tr style=" border-top: 1px solid;">
    <td style="width:59%" >
                   
                       <div style="height: 115px;  overflow: hidden;font-size: 12px;border:none;  border-bottom:0px;">
            <div style="font-size:12px;"><b>Destination Address</b></div> 
                            <table style="width: 100%;border-collapse: collapse;" border="0" >

                              @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                 <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                                    <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Contact no. &nbsp;@m.douPhno</td></tr>
                                    @*<tr><td></td></tr>*@
                                    </table>

                       </div>
   </td>
    

    <td style="width:41%" >
                               <div style="  overflow: hidden;height:115px;font-size: 10px;border:none; border-bottom:0px;">
      <table style="width:100% ;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid" >
             <tr>
           <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

      <td style=" float:left ;width:49%; border-left:1px solid;height:60px">Freight Term : <br /> <b>@m.FreightTerm</b></td>
  
          
       </tr> </table>
        <table style="width:100%;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;" >
             <tr>
           <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

      <td style=" float:left ;width:49%;border-left:1px solid;height:60px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>
  
          
       </tr> </table>
        </div>
        </td>
  </tr>
  
                 
  <tr style=" border-top: 1px solid;">
    <td colspan="2">
        
         <div style=" float:left;">  TIN:</div>
<div style="font-weight:bold; float:left  ;padding-left:10px"><b>@m.OPUDTINNO</b></div>
      <div style=" float:left ;margin-left:300px">CST No:</div>
 <div style="font-weight:bold; float:left   ;padding-left:10px"> <b>@m.OPUDCSTNO</b></div> 
    </td>
  </tr>
</table>


               

             <div style="width: 100%; border-collapse: collapse; padding: 0px;">
                 <div id="printpage">
                     <table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
                         <thead style="display:table-header-group ">
                             <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                                 <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                                 @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:65%">Description of Goods </th>
                                 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:11%">Products Code </th>
                                 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                                 <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                                 @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Rate</th>
                        <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>*@
                             </tr>
                         </thead>
                         @{int counter = 0;
                             var q = "(";
                             var Qp = "%) "; var htax = "(Header)"; var pagetext = "(Page "; var output = "Output @ ";
                             var rowcount = 0; var pageno = 1; var amttxt = "Amount Chargeable (in words)";
                         }
                         <tbody>
                             @foreach (var item in ViewBag.pitemsdata)
                             {
                                 var cnt = (ViewBag.pitemsdata).Count;
                                 counter = counter + 1;
                                 rowcount = rowcount + 1;
                                 if (cnt == rowcount + 1) { rowcount = rowcount + 1; }
                                 @* EMPHCS804 BY GNANESHWAR ON 1/8/2015 PAGE BREAKING CHANGES*@
                                 if (rowcount % 40 == 0 && cnt != rowcount && cnt != rowcount - 1)
                                 {
                                     pageno = pageno + 1;
                                     @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                     <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.upc </td>
                                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                                         <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                                         @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>
                                <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt  </td>*@
                                     </tr>
                                 @:</tbody></table>


                             @:</div><div id="printpage">
    <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:12px ;font-size:12px;font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:1px solid black;text-align:center;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;width: 76%;"> TOTAL QTY </td>
            <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:1px solid black;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;width: 24%;"> @m.TotalQuantity </td>
        </tr>
    </table>
    @*<table style="min-height:55px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif" >
               <tr><td style="width:47%">
                   <div>
                       PROPERTY: Goods shall remain the property of the supplier until payment in full has been made. The Supplier reserves
                       the right to enter the PURCHASERS premises to recover goods remaining unpaid for after the due payment date.
                   </div>
                   </td>
                   <td style="width:50%;padding-left:40px; font-size:8px">
                      <div> I/We hereby certify that my/ our Registration Certificate under Telangna State Value Added Tax Act 2015 is
                       in force on the date on which the sale of the goods specified in this tax Stock Transfer is made by me/us and
                       that the transaction of sale covered by this tax Stock Transfer has been effected by me /us and it shall be
                       accounted for in the turnover of sales while filing of return and the due tax, if any payble on the sales
                       has been paid shall or shall be paid.</div>
                         </td></tr>
           </table>

        <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:12px ;font-size:12px;font-family: Arial, Helvetica, sans-serif" >
              <tr>
                  <td style="width:67%">
                   NOTE:<div>   Complaints including breakages shortages must be reported within 7 Days
                      from the date of receipt of goods. No claim thereafter will be entertained.</div>
                  </td>
              </tr>
        </table>*@
    <table style="min-height:5px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td>
                @*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                @if (@m.StateLincense != null && @m.StateLincense != "")
                {

                    <div style=" float:left;"> FSSAI State Lincense No:</div>
                    <div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                }
                @if (@m.CntralLincese != null && @m.CntralLincese != "")
                {
                    <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
                    <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div>
                }
            </td>
        </tr>
    </table>
    <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">

        <tr style="border: 0px solid black; width: 100%;text-align: left;">


            <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;min-height:40px;border-collapse:collapse">
                <div>
                    VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                </div>
                <div>
                    CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                </div>
                <div>
                    PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                </div>
            </td>
            @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
            <td style="border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                <div style="text-align:right;font-size:10px;">For @m.ouName</div><div style="min-height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
            </td>

        </tr>
    </table>
    <div style="page-break-before: always">

    </div>
    @*



        <div  style="text-align: center;width: 100%;float:left; font-size: 18px;line-height: 18px;text-transform: uppercase;letter-spacing: 1px;font-weight: bold; padding-top:80px;padding-bottom:5px;float:left;font-family: Arial, Helvetica, sans-serif">INVOICE @pagetext @pageno)</div>*@

    <table style="width:98%;min-height:60px; border-collapse:collapse;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <div style="height: 85px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
                    <div style="text-transform:uppercase;">@m.ouName</div>
                    <table style="width: 100%;border-collapse: collapse;" border="0">

                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity-@m.ozip</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">GSTIN: @m.ogstin</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Contact no. &nbsp;  @m.OPUPhNo</td></tr>




                    </table>

                </div>
            </td>

            <td style="text-align:right">
                @*  <img src="~/Content/Upload/@m.logoName" width="90px" />

                     <div style="font-size:12px;text-transform:uppercase">@m.ouName<br />

                         </div>
                    <div style="float:right" >

                        <table  border="0" >
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>

                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA1,</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.compA2,@m.compCity - @m.compZip</td></tr>
                               <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "> VAT TIN NO.&nbsp;   :@m.VATNO</td></tr>






                               </table>
                    </div>         *@
                @*<img style="width: 60%;" src="E:/EmphoraERP/APP/APPSolution/eBizSuiteAppUI/Images/@m.logoName" />*@

            </td>
        </tr>
    </table>

    <table border="1" style="width:100%;min-height:90px; border-collapse:collapse;font-size:10px;border-bottom:0px;font-family:Arial, Helvetica, sans-serif;">
        <tr style="text-align: center; font-family:Arial, Helvetica, sans-serif; ">
            <td colspan="2" style="font-size:16px">
                <b>StockTransfer</b>

            </td>

        </tr>

        <tr style=" border-top: 1px solid;">
            <td style="width:59%">

                <div style="height: 110px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
                    <div style="font-size:12px;"><b>Source Address</b></div>
                    <table style="width: 100%;border-collapse: collapse;" border="0">

                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "><b>@m.oAdresss</b></td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.oAdresss1</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocity</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ostate</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ocountry - @m.ozip</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Contact no. &nbsp;@m.souPhno</td></tr>



                    </table>

                </div>
            </td>
            <td style="width:41%">
                <div style="  overflow: hidden;height:115px;font-size: 10px;border:none; border-bottom:0px;">
                    <table style="width:100% ;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid">
                        <tr>
                            <td style=" float:left;width:49%"> StockTransfer No : <br /> <b>@m.SONO</b></td>

                            <td style=" float:left ;width:49%; border-left:1px solid;height:60px">Date : <br /> <b>@m.Date</b></td>


                        </tr>
                    </table>
                    <table style="width:100%;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;">
                        <tr>
                            <td style=" float:left;width:49%"> Order No : <br /> <b>@m.Reference</b></td>

                            <td style=" float:left ;width:49%;border-left:1px solid;height:60px">Due Date :<br /> <b>@m.DueDate</b></td>


                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr style=" border-top: 1px solid;">
            <td style="width:59%">

                <div style="height: 110px;  overflow: hidden;font-size:10px;border:none;  border-bottom:0px;">
                    <div style="font-size:12px;"><b>Destination Address</b></div>
                    <table style="width: 100%;border-collapse: collapse;" border="0">

                        @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:12px;font-family: Arial, Helvetica, sans-serif "><b>@m.Customer</b></td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cAdresss1</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccity</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.cstate</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@m.ccountry - @m.czip</td></tr>
                        <tr><td style="font-weight:100;border-collapse:collapse;border-left:0px;border-top:0px;border-bottom:0px; text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">Contact no. &nbsp;@m.douPhno</td></tr>
                        @*<tr><td></td></tr>*@
                    </table>

                </div>
            </td>


            <td style="width:41%">
                <div style="  overflow: hidden;height:110px;font-size: 10px;border:none; border-bottom:0px;">
                    <table style="width:100% ;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse; border-bottom:1px solid">
                        <tr>
                            <td style=" float:left;width:49%"> Mode Of Transportation : <br /> <b>@m.ModeOfTrans</b></td>

                            <td style=" float:left ;width:49%; border-left:1px solid;height:60px">Freight Term : <br /> <b>@m.FreightTerm</b></td>


                        </tr>
                    </table>
                    <table style="width:100%;height:62px;font-family:Arial, Helvetica, sans-serif;font-size:10px;border-collapse:collapse;">
                        <tr>
                            <td style=" float:left;width:49%">  Tracking No:  <br /> <b>@m.TrackingNo</b></td>

                            <td style=" float:left ;width:49%;border-left:1px solid;height:60px">Payment Terms :<br /> <b>@m.PaymentTerms</b></td>


                        </tr>
                    </table>
                </div>
            </td>
        </tr>


        <tr style=" border-top: 1px solid;">
            <td colspan="2">

                <div style=" float:left;">  TIN:</div>
                <div style="font-weight:bold; float:left  ;padding-left:30px"><b>@m.OPUDTINNO</b></div>
                <div style=" float:left ;margin-left:100px"> CST No</div>
                <div style="font-weight:bold; float:left   ;padding-left:30px"> <b>@m.OPUDCSTNO</b></div>
            </td>
        </tr>
    </table>


    @:<table id="grdfData" style="border-collapse: collapse; width: 100%; border-right:0px; border-bottom:0px; border:1px solid;font-size:10px;font-family: Arial, Helvetica, sans-serif" border="1">
        <thead style="display:table-header-group ">
            <tr style="border: 1px solid black; width: 100%;text-align: left;  border-right:0px;">
                <th style="font-weight:100;color:black;text-align:left;border: 1px solid black; width:1%"> S.No </th>
                @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; width:65%">Description of Goods </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:11%">Products Code </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize; width:3%">Units </th>
                <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Quantity</th>
                @*<th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:6%">Rate</th>
                    <th style="font-weight:100;color:black;text-align:center;border: 1px solid black; text-transform: capitalize;width:9%;">Amount</th>*@
            </tr>
        </thead>
        @:<tbody>
        }
        else
        {
            @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
            <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;  ">
                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif ">@counter</td>
                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.item  </td>
                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.upc </td>
                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.UOM </td>
                <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.quantity  </td>
                @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">@item.rate  </td>
                    <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">@item.amt  </td>*@
            </tr>
            @*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
            if (cnt == rowcount - 1 || cnt == 1)
            {
                var ct = (rowcount) % 40;
                ct = 40 - ct;
                for (int ac = 1; ac <= ct; ac++)
                {
                    <tr style="border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; border-right:0px;height:12px  ">
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px; padding-left:12px;text-align:left;font-size:10px;font-family: Arial, Helvetica, sans-serif "></td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;font-size:10px;font-family: Arial, Helvetica, sans-serif"> </td>
                        <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>
                        @*<td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:0px;text-align:right;font-size:10px;font-family: Arial, Helvetica, sans-serif">  </td>
                            <td style="border: 1px solid black;text-align:right;border-left:0px;border-top:0px;border-bottom:0px;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;">  </td>*@
                    </tr>}
            @:</tbody></table>
        @:</div>
                                 }
                             }
                         }
                             </tbody>
                             </table>

                                     <table style="min-height:30px;border-collapse: collapse;border-left:1px solid;  border-right: 1px solid; width: 100%;font-size:12px ;font-size:12px;font-family: Arial, Helvetica, sans-serif">
                                         <tr>
                                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:1px solid black;text-align:center;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;width: 76%;"> TOTAL QTY </td>
                                             <td style="font-weight:100;border-collapse:collapse;border: 1px solid black;border-left:0px;border-top:0px;border-bottom:1px solid black;text-align:right;font-weight:bold;font-size:10px;font-family: Arial, Helvetica, sans-serif;width: 24%;"> @m.TotalQuantity </td>
                                         </tr>
                                     </table>
                                            
                                             <table style="min-height:5px;border-collapse: collapse;border-left:1px solid;border-right:1px solid; width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                                                 <tr>
                                                     <td>
                                                         @*EMPHCS997		FSSAI State and Central Lincese No Condition for prints by srinivas 20/8/2015*@
                                                         @if (@m.StateLincense != null && @m.StateLincense != "")
                                                         {

                                                             <div style=" float:left;"> FSSAI State Lincense No:</div>
                                                             <div style="font-weight:bold; float:left  ;padding-left:2px">@m.StateLincense</div>
                                                         }
                                                         @if (@m.CntralLincese != null && @m.CntralLincese != "")
                                                         {
                                                             <div style=" float:left ;margin-left:50px">FSSAI Cntral Lincese No :</div>
                                                             <div style="font-weight:bold; float:left   ;padding-left:2px"> @m.CntralLincese</div>
                                                         }
                                                     </td>
                                                 </tr>
                                             </table>
                                             <table style=" width: 100%;font-size:10px;font-family: Arial, Helvetica, sans-serif ;border-left:1px solid;  border-right: 1px solid; border-bottom: 1px solid; ">

                                                 <tr style="border: 0px solid black; width: 100%;text-align: left;">


                                                     <td style="float:left; border-right:0px solid black;font-size:10px;font-family: Arial, Helvetica, sans-serif; width: 400px;min-height:40px;border-collapse:collapse">
                                                         <div>
                                                             VAT TIN NO.&nbsp;   :<b>&nbsp;@m.OPUVATNO</b>
                                                         </div>
                                                         <div>
                                                             CST TIN NO&nbsp;     :<b>&nbsp;@m.OPUCSTNO</b>
                                                         </div>
                                                         <div>
                                                             PAN NO. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         :<b>&nbsp;@m.OPUPANNO</b>
                                                         </div>
                                                     </td>
                                                     @*EMPHCS853 Logo and Font Modification in Prints done by srinivas 6/8/2015*@
                                                     <td style="border-left:1px solid black;font-weight: bold; width: 250px;border-collapse:collapse;">
                                                         <div style="text-align:right;font-size:10px;">For @m.ouName</div><div style="min-height:40px;"></div><div style="text-align:right;text-emphasis-position:below;">  Authorised Signatory</div>
                                                     </td>

                                                 </tr>
                                             </table>
</div>
    </div>
           
        </div>
         
    }
    
</body>
</html>
