﻿
@model eBizSuiteAppModel.Table.MATABLE002
@{
    ViewBag.Title = "List Of Values - Detail";
    //Layout=null;
}
<!DOCTYPE>
<html>
<head>

</head>
    <body>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="rowCont bottomRowContentFB"  id="ddl">
        <div class="bottomColFB1"> <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "LOVDetails") + "'")    ;" /></div>
           <div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("/Edit/"+Model.COLUMN02+"") + "'")    ;" /></div>
           @*<div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnBack"  value="Back"  onclick="@("window.location.href='" + @Url.Action("Info", "LOVDetails") + "'")    ;" /></div>*@
            </div>
       <div  id="Staticdiv" class="bodyFBContent">
                <div class="divRow"><div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> LOV Master </div>
             <div class="txt">
            @Html.DropDownListFor(m => m.COLUMN03,
                new SelectList(ViewBag.master, "COLUMN02", "COLUMN03"),
                "...Select...", htmlAttributes: new { id = "ddlFrm" ,@class="ddl",@disabled="disabled" })
            @Html.ValidationMessageFor(model => model.COLUMN03)
               </div>  </div> <div class="mainRowCon">
             <div class="lbl"> LOV Value </div>
             <div class="txt">
            @Html.TextBoxFor(model => model.COLUMN04, new {@class="txtclass",@disabled="disabled" })
            @Html.ValidationMessageFor(model => model.COLUMN04)
                </div></div>
             <div class="mainRowCon">
             <div class="lbl"> Memo </div>
             <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN05, new {@class="txtclass",@disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                        </div></div></div>
            @*<div class="mainRow">  <div class="mainRowCon">
             <div class="lbl"> Department </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN06, new SelectList(ViewBag.dept, "COLUMN02", "COLUMN04"),"--Select--", new {@class="ddl",@disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.COLUMN06)
                        </div></div> <div class="mainRowCon">
             <div class="lbl"> Operating Unt </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN07, new SelectList(ViewBag.ou, "COLUMN02", "COLUMN03"),"--Select--", new {@class="ddl",@disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                        </div></div>
                 </div>*@
                </div>

    </div>
         <div class="newbottomRowContentFooter" id="footerInfo">
        @*<div class="btnContleftFB">
        <input type="button" value="Back" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "LOVDetails") + "'")    ;" />
        </div>*@
     </div>

}

        </body>
    </html>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
