﻿
@model eBizSuiteAppModel.Table.MATABLE002
@{
    ViewBag.Title = "List Of Values - Detail";
    //Layout=null;
}


<header>
     <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {debugger
            //LOVDetails Delete
            $('#btnDelete').click("click",function () {   
                LOVDetailsDelete(document.getElementById("myid").value);
            })
            //LOVDetails Form Reset
            $('#form-reset').click(function () {
                LOVDetailsFormReset();
        });
        });
    </script>

</header>
<!DOCTYPE>
<html>
 


<head></head>
    <body >

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="rowCont bottomRowContentFB"  id="ddl">
        <div class="bottomColFB1">
       <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "LOVDetails") + "'")    ;" />
            </div>
        <div class="bottomColFB1"> <input type="submit" name="Save" value="Save"  class="buttonclass"/></div>
       @*<div class="bottomColFB1"><input type="button" value="Cancel"class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "LOVDetails") + "'")    ;" /></div>*@
       <div class="bottomColFB1"><input @*onclick="$(this).formclear()"*@ id="form-reset" class='buttonclass' type="button" value="Reset"  /></div>
       <div class="bottomColFB1"><input type="button" name="Delete" id="btnDelete" value="Delete"   class="buttonclass"/></div>
        </div>
           <div  id="Staticdiv" class="bodyFBContent">
               <div class="divRow"><div class="mainRow">
            <div class="mainRowCon">@Html.Hidden("myid",Model.COLUMN02)
            <div class="lbl"> LOV Master </div>
             <div class="txt">
            @Html.DropDownListFor(m => m.COLUMN03,
                new SelectList(ViewBag.master, "COLUMN02", "COLUMN03"),
                "...Select...", htmlAttributes: new { id = "ddlFrm" ,@class="ddl" })
            @Html.ValidationMessageFor(model => model.COLUMN03)
               </div>  </div> <div class="mainRowCon">
             <div class="lbl"> LOV Value </div>
             <div class="txt">
            @Html.TextBoxFor(model => model.COLUMN04, new {@class="txtclass" })
            @Html.ValidationMessageFor(model => model.COLUMN04)
                </div></div>
             <div class="mainRowCon">
             <div class="lbl"> Memo </div>
             <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN05, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                        </div></div></div>
            @*<div class="mainRow">  <div class="mainRowCon">
             <div class="lbl"> Department </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN06, new SelectList(ViewBag.dept, "COLUMN02", "COLUMN04"),"--Select--", new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN06)
                        </div></div> 
                <div class="mainRowCon">
             <div class="lbl"> Operating Unt </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN07, new SelectList(ViewBag.ou, "COLUMN02", "COLUMN03"),"--Select--", new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                        </div></div>
                 </div>*@
                </div>

    </div>
         <div class="newbottomRowContentFooter" id="footerInfo">
        </div>
}

        </body>
    </html>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}