﻿


@model IEnumerable<eBizSuiteAppModel.Table.MATABLE002>

@{
    ViewBag.Title = "List Of Values";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>

<body >
   <div id="FormData" >
          @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
            <div class="dialogSearch">
                <div class="searchRow">
                <div class="lbl"> ValueID </div>
            <div class="txt">
            <input type="text" name="ValueID" value="@Request["COLUMN02"]" class="txtclass"/>
            </div></div><div class="searchRow">
            <div class="lbl"> MasterID </div>
            <div class="txt"> <input type="text" name="MasterID" value="@Request["COLUMN03"]" class="txtclass"/>
            </div></div><div class="searchRow">
                <div class="lbl"> ValueName </div>
            <div class="txt"> <input type="text" name="ValueName" value="@Request["COLUMN04"]" class="txtclass"/></div>
            </div></div>
                <div class="popUpSearchFooter">
            <input type="submit" class="buttonclass" id="btn" value="Search"  />
            <button name="ClientCancel" type="button" class="buttonclass" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("Info", "LOVDetails"))" ></a>
        </div>
} 
    </div>
</body>
</html>
