﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
 <link href="~/css/AccountLogin.css" rel="stylesheet" />
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
        <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="@Url.Content("~/Content/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.session.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
  <script src="~/Content/jquery-bubble-popup-v3.min.js"></script>
    <link href="~/Content/jquery-bubble-popup-v3.css" rel="stylesheet" />
    <style>
        .mainRow {
            padding:2%;
            /*font-weight:bold;*/
        }
        
        .txt {
            padding-left:5%;
            /*float:right;*/
        }
    </style>
    <script>
            $("#btnSave").live("click", function () {debugger
                debugger
                var email = $("#txtlogin").val();
                var pwd = $("#COLUMN21").val();
                document.forms[1].submit();
            });
        </script>
</head>
<body>
    @using (Html.BeginForm("Company", "Account", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
    <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">      <input type="submit" name="Save" value="Save" id="btnSave" class="buttonclass"></div>
        @*<div class="bottomColFB1">     <input id="btnSkip" class="buttonclass" type="button" value="Skip"></div>*@
        <div class="bottomColFB1">     <input id="btnCancel" class="buttonclass" type="button" value="Cancel"></div>
        </div>
    <div id="Staticdiv" class="bodyFBContent" style="height:inherit">
               <div class="divRow">
                   <div class="mainRow" >
            <div class="txt"> Company: </div>
             <div class="lbl">
            <input type="text" name="Company" id="txtCompany" class="txtclass">
               </div>  </div>
                   <div class="mainRow"> 
             <div class="txt"> Address: </div>
             <div class="lbl"> <input type="text" name="Address" id="txtAdd" class="txtclass">
                </div></div>
                   <div class="mainRow">             
             <div class="txt"> Address1: </div>
             <div class="lbl"><input type="text" name="Address1" id="txtAdds1" class="txtclass">
                        </div></div>
                   <div class="mainRow">             
             <div class="txt"> Country: </div>
             <div class="lbl" style="padding-left:5%;">@Html.DropDownList("Country", new SelectList((SelectList)ViewData["Country"], "Value", "Text", 0), "---Select---", new { @class = "ddl" })
                        </div></div>
                   <div class="mainRow">             
             <div class="txt"> State: </div>
             <div class="lbl"  style="padding-left:5%;">@Html.DropDownList("State", new SelectList((SelectList)ViewData["State"], "Value", "Text", 0), "---Select---", new { @class = "ddl" })
                        </div></div>
                   <div class="mainRow">             
             <div class="txt"> City: </div>
             <div class="lbl"><input type="text" name="City" id="txtCity" class="txtclass">
                        </div></div>
                   <div class="mainRow">             
             <div class="txt"> Zip: </div>
             <div class="lbl"><input type="text" name="Zip" id="txtZip" class="txtclass">
                        </div></div>
                   <div class="mainRow">             
             <div class="txt"> Logo: </div>
             <div class="lbl"  style="padding-left:5%;"><input type="file" id="fileToUpload" name="file" class="logotxt" />
                        </div></div>
                </div>
    </div>
    }
</body>
</html>
