﻿@model eBizSuiteAppModel.Table.MATABLE010

@{
    ViewBag.Title = "Logon";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login Form</title>
 <link href="~/css/AccountLogin.css" rel="stylesheet" />
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
        <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="@Url.Content("~/Content/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.session.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
  <script src="~/Content/jquery-bubble-popup-v3.min.js"></script>
    <style>
        .newComp {
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
  <script type="text/javascript">
      $(document).ready(function () {
          var $i = jQuery.noConflict();
          $i("#SignIn").live("click", function () {
              debugger
              var email = $i("#txtlogin").val();
              var pwd = $i("#COLUMN21").val();
              $.ajax({
                  url: "/Account/CheckAccount?Email=" + email + "&Password=" + pwd + "",
                  type: "POST",async:false,
                  contentType: "application/json",
                  success: function (data) {
                      debugger
                      if (data.ACT == 0) {
                          document.forms[0].submit();
                      }
                      else if (data.ACT == 1) {
                          $.ajax({
                              url: "/Account/GetCompanyList?Email=" + email + "&Password=" + pwd + "&Check=0",
                              type: "POST", async: false,
                              contentType: "application/json",
                              success: function (data) {
                                  debugger
                                  //if (data.ACT == 0) {
                                  //    document.forms[0].submit();
                                  //}
                                  window.location.href = "/Account/GetCompanyList";
                              }
                          });
                      }
                      return false
                  }
              });
              return false
          });
      });
  </script>

</head>

<body>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div class="loginBodyContainer" style="background-image: url(/Images/1/LoginBG.jpg);">
    <div style="height:60px">

    </div>
    <div class="subheader ">
         @if (Session["logoP"] != null)
              {
                  var s = Session["logoP"] ;
                  <img src="~/Content/Upload/@s" class="customerlogoheight"   alt="" style="width:20%;height:80px" />
              }
             else
             {
                 <img src="/Images/ferri-rafeek78-v2.png" style="width:20%"/>
             }
        
    </div>
    <div>
    <div class="ERP" style="text-align:center">
    A Cloud Based online ERP Software
</div></div>
    
         
                   <form method="post">
                      <div style="height:30px">

    </div>
                          <div class="innerContentTextBox"> @Html.TextBoxFor(model => model.COLUMN13, new { @class = "txtClass", placeholder = "Enter UserName  ", required = "required", @id = "txtlogin" })

                                   </div> 

        

                              <div class="innerContentTextBox"> @Html.PasswordFor(model => model.COLUMN21, new { @class = "txtClass", placeholder = "Enter Password ", required = "required" })
                                  
                                   </div>
                              <div class="innerContentTextBox" id="errorid">@Session["ErrorMessage"]</div>
                              <div class="innerContentBtn"><button type="submit" class="loginButtonclass " id="SignIn">Sign In</button>

                             </div>
                  <div class="pwdresetactdiv">
                  <a class="pwdresetactlnk" id="pwdreset" onclick="@("window.location.href='" + @Url.Action("PasswordSetup", "Account", new { @Type = "Reset" }) + "'");">Reset Password</a>
                  <a class="pwdresetactlnk" id="fgtpassword" onclick="@("window.location.href='" + @Url.Action("PasswordSetup", "Account", new { @Type = "Forgot" }) + "'");">Forgot Password?</a>
                             </div>
                  
                     
    </form>




      </div>     
      
         @*<script src="js/index.js"></script>*@
     }
</body>

</html>




