﻿@using System.Web.UI.HtmlControls;
@{
    ViewBag.Title = "PasswordSetup";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
 <link href="~/css/AccountLogin.css" rel="stylesheet" />
     <script src="~/Content/formbuildjquery.js"></script>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
  <script type="text/javascript">
      $(document).ready(function () {
          var Flag = false;
          var Alert = new CustomAlert();
          $("#cpassword").change(function () {
              NewPasswordvalidation();
          });
          $("#reset").on("click", function () {
              Flag = false;
              Flag = Emailvalidation();
              if (Flag == false) {
                  Flag = NewPasswordvalidation();
                  if (Flag == false)
                      document.forms[0].submit();
              }
          });
          function Emailvalidation() {
              var email = $("#email").val();
              var pwd = $("#currentpassword").val();
              if (email == "") {
                  Flag = true;
                  Alert.render('Email Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#email").val(""); $("#email").focus();
                      Flag = true;
                  })
              }
              else if (pwd == "") {
                  Flag = true;
                  Alert.render('Password Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#currentpassword").val(""); $("#currentpassword").focus();
                      Flag = true;
                  })
              }
              return Flag;
          }
          function NewPasswordvalidation() {
              var newpwd = $("#password").val();
              var cfpwd = $("#cpassword").val();
              if (newpwd == "") {
                  Flag = true;
                  Alert.render('Password Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#password").val(""); $("#password").focus();
                      Flag = true;
                  })
              }
              else if (cfpwd == "") {
                  Flag = true;
                  Alert.render('Confirm Password Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#cpassword").val(""); $("#cpassword").focus();
                      Flag = true;
                  })
              }
              else if (newpwd != cfpwd) {
                  Flag = true;
                  Alert.render('Password and Confirm Password Should be same'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#cpassword").val(""); $("#cpassword").focus();
                      Flag = true;
                  })
              }
              return Flag;
          }
          $("#forgot").on("click", function () {
              Flag = false;
              var email = $("#foremail").val();
              if (email == "") {
                  Flag = true;
                  Alert.render('Email Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#foremail").val(""); $("#foremail").focus();
                      Flag = true;
                  })
              }
              else if (Flag == false)
                  document.forms[0].submit();
          });
          $("#ncpassword").change(function () {
              var pass = $("#npassword").val();
              var cpass = $("#ncpassword").val();
              if (pass != cpass) {
                  Flag = true;
                  Alert.render('Password and Confirm Password Should be same'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#ncpassword").val(""); $("#ncpassword").focus();
                      Flag = true;
                  })
              }
          });
          $("#nreset").on("click", function () {
              Flag = false;
              var pass = $("#npassword").val();
              var cpass = $("#ncpassword").val();
              if (pass == "") {
                  Flag = true;
                  Alert.render('Password Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#npassword").val(""); $("#npassword").focus();
                      Flag = true;
                  })
              }
              else if (cpass == "") {
                  Flag = true;
                  Alert.render('Confirm Password Should not be empty'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#ncpassword").val(""); $("#ncpassword").focus();
                      Flag = true;
                  })
              }
              else if (Flag == false)
                  document.forms[0].submit();
          });
      });
  </script>

</head>

<body>
    <div id="dialogoverlay" onclick="PopupClose();" ></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>    
    @using (Html.BeginForm("PasswordSetup", "Account",FormMethod.Post, new { enctype = "multipart/form-data",id="saveformdata"}))
    {
    @Html.ValidationSummary(true)
<div class="loginBodyContainer" style="background-image: url(../Images/1/LoginBG.jpg);">
    <div style="height:60px">

    </div>
    <div class="subheader ">
       @* MySmartSCM*@
        <img src="~/Images/ferri-rafeek78-v2.png" style="width:20%"/>
    </div>
    <div>
    <div class="ERP" style="text-align:center">
    A Cloud Based online ERP Software
</div></div>
    <input type="hidden" name="Type" value="@ViewBag.Type" />
      @if (@ViewBag.Type == "Reset")
      {
      <div class="pwdresetdiv"></div><h1 class="forgotmsg">CHANGE PASSWORD</h1>
        <p  class="forgotmsgcontent" style="color: blue !important;font-size: 14px;">@ViewBag.SuccessMsg</p>
      <div class="pwdresetdiv">
        <input id="email" name="email" type="text" class="txtClass" placeholder="Email">
        @*<label for="email" class="">Email</label>*@
      </div>
      <div class="pwdresetdiv">
        <input id="currentpassword" name="currentpassword" type="password" class="txtClass" placeholder="Current Password">
        @*<label for="password" class="">Password</label>*@
      </div>
      <div class="pwdresetdiv">
        <input id="password" name="password" type="password" class="txtClass" placeholder="Password">
        @*<label for="password" class="">Password</label>*@
      </div>
      <div class="pwdresetdiv">
        <input id="cpassword" name="cpassword" type="password" class="txtClass" placeholder="Confirm Password">
        @*<label for="cpassword" class="">Confirm Password</label>*@
      </div>
      <div class="pwdresetdiv">
      <button class="loginButtonclass forgotbtncontent" type="button" id="reset" name="action">RESET</button>
      <button class="loginButtonclass forgotbtncontent" type="button" name="cancel" onclick="@("window.location.href='" + @Url.Action("Logon", "Account") + "'");">CANCEL</button>
      </div> 
      }
      else if (@ViewBag.Type == "Forgot")
    {
      <div class="pwdfgtdiv"></div>
          <h1 class="forgotmsg">Forgot Password? Get it here</h1>
        <p  class="forgotmsgcontent">Please enter your registered email address.
        <br />
        You will receive a Reset Password url in your mail box.
        </p><br>
        <p  class="forgotmsgcontent" style="color: blue !important;font-size: 14px;">@ViewBag.SuccessMsg</p>
      <div class="pwdfgtdiv">
        <input id="foremail" name="email" type="text" class="txtClass" placeholder="Email">
        @*<label for="email" class="">Email</label>*@
      </div>
      <div class="pwdresetdiv">
      <button class="loginButtonclass forgotbtncontent" id="forgot" type="button" name="action">FORGET</button>      
      <button class="loginButtonclass forgotbtncontent" type="button" name="cancel" onclick="@("window.location.href='" + @Url.Action("Logon", "Account") + "'");">CANCEL</button>
      </div> 
          <p class="forgotmsgcontent">Don't remember your Email? You may want to contact us</p>
     }  
     else if (@ViewBag.Type == "ForgotSave")
      {
      <div class="pwdresetdiv"></div><h1 class="forgotmsg">RESET PASSWORD</h1>
        <p  class="forgotmsgcontent">This page allows you to reset your password.</p>
        <br />
        <p  class="forgotmsgcontent" style="color: blue !important;font-size: 14px;">@ViewBag.SuccessMsg</p>
      <div class="pwdresetdiv">
        <input id="npassword" name="password" type="password" class="txtClass" placeholder="New Password">
        <input id="userid" name="userid" type="hidden" value="@ViewBag.Id">
      </div>
      <div class="pwdresetdiv">
        <input id="ncpassword" name="cpassword" type="password" class="txtClass" placeholder="Confirm Password">
      </div>
      <div class="pwdresetdiv">
      <button class="loginButtonclass forgotbtncontent" type="button" id="nreset" name="action">RESET</button>
      <button class="loginButtonclass forgotbtncontent" type="button" name="cancel" onclick="@("window.location.href='" + @Url.Action("Logon", "Account") + "'");">CANCEL</button>
      </div> 
      }
      </div>     
    }
</body>

</html>




