﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/css/AccountLogin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="@Url.Content("~/Content/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.session.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
    <script src="~/Content/jquery-bubble-popup-v3.min.js"></script>
    <link href="~/Content/jquery-bubble-popup-v3.css" rel="stylesheet" />
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <style>
        .Staticdiv {
            padding: 1%;
            width: 50%;
            /*font-weight:bold;*/
        }

        /*.mainRow {
            padding: 1%;
            width: 50%;
            /*font-weight:bold;
        }*/

        .txt {
            /*padding: 1%;*/
            width: 48%;
            float: right;
            /*float:right;*/
        }

        .lbl {
            /*padding: 1%;*/
            width: 48%;
            float: left;
            /*float:right;*/
        }
        .MSDList {
            width: 196px !important;
            height: 27px !important;
            background-image:none;
        }
        .MSDList_InputSection {
            float: left;
            width: 180px !important;
            /* background: url(text-bg.gif) repeat-x; */
        }
        .MSDList_List {
            left: 241px;
            width: 14.5%;
        }
        .MSDList_Label {
        width: 185px !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            debugger
            var mylistCmp = new MSDList("Permission");
            mylistCmp.render();
            mylistCmp.selectAllItems();

            var windowHeight = $(window).height();
            var header = $('.topHeader').height();
            var header1 = $('.rowCont ').height();
            $('#Staticdiv').height(windowHeight - header - header1 - 20);
            $("#btnCancel").live("click", function () {
                window.location.href = "/Account/Logon";
            });
            if ('@Request["AccountType"]' == '' && '@Request["LoginType"]' == '') {
                $('#ACT').css("display", "block")
                $('#LGT').css("display", "block")
            }
            else if ('@Request["AccountType"]' != null && '@Request["LoginType"]' != null) {
                $('#ACT').val('@Request["AccountType"]')
                $('#LGT').val('@Request["LoginType"]')
                $('#ACT').css("display", "none")
                $('#LGT').css("display", "none")
            }
            $("#btnSave").click(function (event) {
                var flag = true
                var value = ""
                var msg = ""
                var ctrl = $(this)
                if ($('#txtCompany').val() == "" || $('#txtName').val() == "" || $('#txtMail').val() == "" || $('#txtMobile').val() == "")
                {
                    flag = false
                    if ($('#txtMobile').val() == "") { msg = "Please enter mobile number"; ctrl = $('#txtMobile') }
                    if ($('#txtMail').val() == "") { msg = "Please enter email address"; ctrl = $('#txtMail') }
                    if ($('#txtName').val() == "") { msg = "Please enter employee name"; ctrl = $('#txtName') }
                    if ($('#txtCompany').val() == "") { msg = "Please enter company name"; ctrl = $('#txtCompany') }
                    alert(msg);
                    ctrl.focus();
                    return false;
                }
                if ($('#txtPIN').val() != "") {
                    if ($('#txtPIN').val().match(/^\d{6}$/)) {
                    }
                    else {
                        flag = false 
                        alert("Please enter valid pin number");
                        $('#txtPIN').focus();
                        return false;
                    }
                }
                if ($('#txtMobile').val() != "") {
                    if ($('#txtMobile').val().match(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/)) {
                    }
                    else {
                        flag = false 
                        alert("Please enter valid phone/mobile number");
                        $('#txtMobile').focus();
                        return false;
                    }
                }
                if ($('#txtMail').val() != "") {
                    if ($('#txtMail').val().match(/^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/)) {
                    }
                    else {
                        flag = false 
                        alert("Please enter valid mail format");
                        $('#txtMail').focus();
                        return false;
                    }
                }
                if (flag == true) {
                    document.forms[0].submit();
                }

            });
            $("#COLUMN18").change("change", function () {
                OUddlSelectedCountry($(this).val(), '1');
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        <header class="topHeader" style="width: 100%; background: white">
            <img src="/Images/1/empLogo.jpg" style="float: left;height: 60px;">
        </header>
        <div class="rowCont bottomRowContentFB" id="ddl">
            <div class="bottomColFB1">
                <input type="submit" name="Save" value="Save" id="btnSave" class="buttonclass">
            </div>
            @*<div class="bottomColFB1">     <input id="btnSkip" class="buttonclass" type="button" value="Skip"></div>*@
            <div class="bottomColFB1">
                <input id="btnCancel" class="buttonclass" type="button" value="Cancel">
            </div>
        </div> 
        <div class="divRow" id="formheadercontent" style="background-color:white" >
            @* <fieldset>
                <legend><b>Sign Up</b></legend>
            <div class="divRow">*@
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                @*<input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">*@<input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                Company Details
            </div>
            <div id="imPrimary">
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Company Name:</div>
                        <div class="txt">
                            <input type="text" name="Company" id="txtCompany" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">GSTIN:</div>
                        <div class="txt">
                            <input type="text" name="GSTIN" id="txtGST" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Organization Type:</div>
                        <div class="txt">
                            <select id="agId" name="agType" class="ddClass">
                                <option value="0">--Select--</option>
                                <option value="Distribution">Distribution</option>
                                <option value="Manifacturing">Manifacturing</option>
                                <option value="Retail">Retail</option>
                            </select>
                        </div>
                    </div>
                    <div class="mainRow">

                        <div class="mainRowCon">
                            <div class="lbl">Multi Company:</div>
                            <div class="txt">
                                <input type="checkbox" name="Multi" id="txtMulti" class="chkclass">
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">Logo:</div>
                            <div class="txt">
                                <input type="file" id="fileToUpload" name="file" class="" />
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">Partner:</div>
                                <div class="txt">@Html.DropDownList("Partner", new SelectList((SelectList)ViewData["Partner"], "Value", "Text", 0), "---Select---", new { @class = "ddClass", @id = "COLUMN08" })</div>
                        </div>
                    </div>
                    @*<div class="mainRow">

                        <div class="mainRowCon">
                            <div class="lbl">Display Partner Logo:</div>
                            <div class="txt">
                                <input type="checkbox" name="Logo" id="txtLogo" class="chkclass" style="margin: 1px 1px 1px 1px;">
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">Logo:</div>
                            <div class="txt">
                                <input type="file" id="fileToUpload" name="file" class="" />
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">Partner:</div>
                                <div class="txt">@Html.DropDownList("Partner", new SelectList((SelectList)ViewData["Partner"], "Value", "Text", 0), "---Select---", new { @class = "ddClass", @id = "COLUMN08" })</div>
                        </div>
                    </div>*@
                </div>
            </div>

            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                @*<input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">*@<input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                Contact Details
            </div>
            <div id="imPrimary">
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Address:</div>
                        <div class="txt">
                            <input type="text" name="ADDS" id="txtADD" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Address1:</div>
                        <div class="txt">
                            <input type="text" name="ADDS1" id="txtADD1" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">City Name:</div>
                        <div class="txt">
                            <input type="text" name="City" id="txtCity" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    <div class="mainRow">
                        <div class="mainRowCon">
                            <div class="lbl">Country:</div>
                            <div class="txt">@Html.DropDownList("Country", new SelectList((SelectList)ViewData["Country"], "Value", "Text", 0), "---Select---", new { @class = "ddClass",@id = "COLUMN18" })</div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">State:</div>
                            <div class="txt">@Html.DropDownList("State", new SelectList((SelectList)ViewData["State"], "Value", "Text", 0), "---Select---", new { @class = "ddClass",@id = "COLUMN16" })</div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">PIN:</div>
                            <div class="txt">
                                <input type="text" name="PIN" id="txtPIN" class="txtClassS" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                @*<input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">*@<input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                Fields Configuration
            </div>
            <div id="imPrimary">
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Project:</div>
                        <div class="txt">
                            <input type="checkbox" name="Project" id="txtMulti" class="chkclass">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">UOM:</div>
                        <div class="txt">
                            <input type="checkbox" name="uom" id="txtMulti" class="chkclass" checked="checked">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">WareHouse/Location:</div>
                        <div class="txt">
                            <input type="checkbox" name="loc" id="txtMulti" class="chkclass">
                        </div>
                    </div>
                    <div class="mainRow">
                        <div class="mainRowCon">
                            <div class="lbl">Weight Conversion:</div>
                            <div class="txt">
                                <input type="checkbox" name="weight" id="weight" class="chkclass">
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">Discount:</div>
                            <div class="txt">
                                <input type="checkbox" name="discount" id="discount" class="chkclass">
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">Lot/Batch Tracking:</div>
                            <div class="txt">
                                <input type="checkbox" name="lot" id="lot" class="chkclass">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                @*<input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">*@<input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                Menu Configuration
            </div>
            <div id="imPrimary">
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Menu Type:</div>
                        <div class="txt">
                            <select id="acId" name="acType" class="ddClass">
                                <option value="0">--Select--</option>
                                <option value="9998">Basic</option>
                                <option value="9999">Standard</option>
                                <option value="10000">Advanced</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                @*<input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">*@<input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                Employee Details
            </div>
            <div id="imPrimary">
                <div id="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Employee Name:</div>
                        <div class="txt">
                            <input type="text" name="Name" id="txtName" class="txtClassS" placeholder=""></div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Email:</div>
                        <div class="txt">
                            <input type="text" name="Email" id="txtMail" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Mobile #:</div>
                        <div class="txt">
                            <input type="text" name="Mobile" id="txtMobile" class="txtClassS" placeholder="">
                        </div>
                    </div>
                    @*@if(Request["AccountType"]==null && Request["LoginType"]==null){
                *@
                </div>
            </div>
            <div id="imPrimary">
                <div class="mainRow">
                    <div class="mainRowCon" id="ACT">
                        <div class="lbl">Permission:</div>
                        <div class="txt">
                            <select id="Permission" name="Permission" style="width: 157px; height: 24px;">
                                <option value="22933">Edit</option>
                                <option value="22934">New</option>
                                <option value="22935">View</option>
                            </select>
                        </div>
                    </div>
                    <div class="mainRowCon" id="LGT">
                        <div class="lbl">Login Type:</div>
                        <div class="txt">
                            <select id="lgId" name="lgType" class="ddClass">
                                <option value="0">--Select--</option>
                                <option value="1">Demo</option>
                                <option value="2">Paid</option>
                            </select>
                        </div>
                    </div>
                    @*}*@
                </div>
            </div>
            @*</div>
            </fieldset>*@
        </div>
    }
</body>
</html>
