﻿@model List<eBizSuite.Models.User.ApplicationOwnerReg>
@*using eBizSuiteClassLibrary.eBizSuiteDBEntitiesApplOwnerReg;*@

@{
    ViewBag.Title = "AppOwnerInfo1";
    Layout = null;
    
}

<h1>eBizSuite</h1>

<!DOCTYPE>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin Login</title>
@*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/loginstyles.css")" media="all" />
    <style type="text/css">
        h4
        {
            color:#F7024A;
            text-align:center;
        }


    </style>*@

    <style type="text/css">
    /*Here we will add css for style webgrid*/

    .webgrid-table
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 2px #3791ae;
        background-color: white;
    }
    .webgrid-table td, th
    {
        border: 2px solid #98BF21;
        padding: 3px 7px 2px;
    }
    .webgrid-header
    {
        background-color: #78bdd4;
        /*color: #FFFFFF;*/
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
        color:blue;
        font-size:1.2em;
    }
    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        
        padding: 3px 7px 2px;
    }
    .webgrid-alternating-row
    {
        background-color:#c0e4ef;
        padding: 3px 7px 2px;
    }
</style>
</head>

   <body style="">

@{
    var grid = new WebGrid(ViewBag.grid, canPage: true, rowsPerPage: 4);
    
 }


@*<h2>Hi ! Welcome to eBizSuit Application Owner!</h2>*@
<div id="content">
    @grid.GetHtml(
    tableStyle:"webgrid-table",
    headerStyle:"webgrid-header",
    footerStyle:"webgrid-footer",
    alternatingRowStyle:"webgrid-alternating-row",
    rowStyle:"webgrid-row-style",
    columns:grid.Columns(
        //here i will add column for serial no
        grid.Column(header:"Serial No", format:@<text><div>@(item.WebGrid.Rows.IndexOf(item)+1)</div></text>),
        grid.Column(header:"AppOwnerUserName",columnName:"AppOwnerUserName"),
        grid.Column(header:"CompanyName",columnName:"CompanyName"),
        grid.Column(header:"Email", columnName:"Email"),
        grid.Column(header:"Is Active?", format:@<text><input type="checkbox" checked="@item.IsActive"  /></text>)
        
    
        ))
</div>
<br />
<div>
    @Html.ActionLink("create New", "Register","Users")
</div>

    </body>
    
</html> 