﻿@model IEnumerable<eBizSuiteAppModel.Table.tbl_RoleMaster>

@{
    ViewBag.Title = "RoleMaster";
    WebGrid grid = new WebGrid(Model);
}

<h2>RoleMaster</h2>
@grid.GetHtml(columns:  new[]{grid.Column("RoleID"),grid.Column("RoleName"),grid.Column("RoleDesc")  })
