﻿@model eBizSuite.Models.User.EmployeMaster

@{
    ViewBag.Title = "Advance Search";
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
    $('.btnAdvSearch').click(function () {

        $("#btnNew").attr("disabled", true);
        $("#btnSubmit").attr("disabled", true);
        $("#btnView").attr("disabled", false);
        $("#btnDelete").attr("disabled", true);
        $("#btnDelete1").attr("disabled", true);
        $("#btnCancel").attr("disabled", true);
        $("#btnSave").attr("disabled", true);
        $("#InLine").attr("disabled", true);
        $("#btnSearch").attr("disabled", false);
        $("#btnAdvSearch").attr("disabled", false);

    });
    });
</script>


<div style="">

  @using (Html.BeginForm())
 {
<form >
    <div id="grid1">
        <table>
            <tr>
                <td>
                    EmployeeID:
                </td>
                <td>
                    <input type="text" name="EmployeeID" value="@Request["EmployeeID"]" />
                </td>
            </tr>
            <tr>
                <td>
                    EmployeeMaster
                </td>
                <td>
                    <input type="text" name="EmployeeName" value="@Request["EmployeeName"]" />
                </td>
            </tr>
            <tr>
                <td>
                    CompanyName:
                </td>
                <td>
                    <input type="text" name="CompanyName" value="@Request["CompanyName"]" />
                </td>
            </tr>
            <tr>
                <td>
                     <input type="submit" value="Search" class="btnAdvSearch" />
                </td>
                <td>
                     <button name="ClientCancel" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("EmployeeMaster", "Users"))" style="display:none;"></a>
           
                </td>
            </tr>
        </table>
       
      
    </div>

</form>
  }
@section script{
<script type="text/javascript">
    $(function () {
        $('th a, tfoot a').live('click', function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
</script>
      </div>
}
    
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
  

