﻿@{
    ViewBag.Title = "Payment Voucher";
      Layout = null;    
}
<head>
 <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
   <div id="RecDialog"  style="font-size:11.5px"></div>
  <script  type="text/javascript" language="javascript">
      var $i = jQuery.noConflict();
      $i(document).ready(function () {
          dateupdate('@Session["ReportDate"]');
          //Form Reset
          $('#form-reset').live('click', function () {
              $i('#RecDialog').html("");
              $i(".ui-widget-overlay").hide();
              $i('#RecDialog').dialog('destroy');
              $i('#RecDialog').dialog("close");
              return false;
          });
          if ($i("#Bank").val() != "") {
              var ACId = $i("#Bank").val();
              getBankBalance(ACId);
          }
          $i("#Bank").change("change", function () {
              var ACId = $(this).val();
              getBankBalance(ACId);
          });
          function getBankBalance(ACId) {
              var FormName = '@Session["FormName"]';
              $.ajax({
                  url: "/ReceiptVoucher/GetAccountAmount?FormName=" + FormName + "",
                  type: "POST",
                  contentType: "application/json",
                  data: JSON.stringify({ ID: ACId }),
                  success: function (data) {
                      if (data != "") {
                          $("label[for =Bankamt]").text("Balance : " + data.Amount)
                          $("label[for =Bankamt]").css('visibility', 'visible');
                      }
                  }
              })
          }
          $('#btnPVSave').click('click', function () {
              var flag = false;
              if ($i("#PaymentNo").val() == "") {
                  Alert.render('Please Enter Payment#'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#PaymentNo").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#Date").val() == "") {
                  Alert.render('Please Select Date'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#Date").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#Bank").val() == "") {
                  Alert.render('Please Select Bank'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#Bank").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#AmountReceived").val() == "") {
                  Alert.render('Please Enter Amount'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#AmountReceived").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#Account").val() == "") {
                  Alert.render('Please Select Account'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#Account").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#OPUnit").val() == "") {
                  Alert.render('Please Select Operating Unit'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#OPUnit").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              var RE = /^\d*\.?\d*$/;
              var amount = $i("#AmountReceived").val();
              if ((isNaN(parseFloat(amount)) || parseFloat(amount) < 0 || !(RE.test(amount)))) {
                  Alert.render('Please Enter Value Greater Than Zero Only!'); $("#alertok").focus();
                  $i("#AmountReceived").val(''); 
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $i("#AmountReceived").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              if (flag == false) {
                  var formData = $("#mypv").serialize();
                  $.ajax({
                      url: "/PaymentVoucher/Create",
                      type: "POST",
                      dataType: "json",
                      data: formData,
                      async:false,
                      success: function (data) {
                          if (data != "") {
                              $i('#RecDialog').html("");
                              $i(".ui-widget-overlay").hide();
                              $i('#RecDialog').dialog('destroy');
                              $i('#RecDialog').dialog("close");
                              $('#sysrectransdisplay').html(data.Data3);
                              $('#grdsysdepData').DataTable({
                                  "iDisplayLength": 20,
                                  "aaSorting": []
                              });
                              $('#grdsyswithData').remove();
                              $('#syspaytransdisplay').html(data.Data4);
                              $('#grdsyswithData').DataTable({
                                  "iDisplayLength": 20,
                                  "aaSorting": []
                              });
                              $("#payabletrans").css('color', '#35ccef');
                              $("#receivtrans").css('color', 'black');
                          }
                      }
                  });
              }
          });
          });
    </script>
</head>

<body>
    @using (Html.BeginForm("Create", "PaymentVoucher", FormMethod.Post, new { id = "mypv", enctype = "multipart/form-data" }))
    { 
       <div class="bodyFBContent1">
        <div style="padding:15px">   
            <table style="border:1px solid">  <tr><td>   
                   <div class="mainRowCon1">
             <div class="lbl1"> Payment# </div>
             <div class="txt">
                 <input type="text" name="Payment" id="PaymentNo" value="@ViewBag.TransNo" class= "txtclass" readonly="true"/>
                 <div style="color:red ; float:left ;text-align: right;">*</div> 
                </div> 
             </div>
                   <div class="mainRowCon1">
             <div class="lbl1"> Date Created </div>
             <div class="txt">
                 @{
                     var Dtext=DateTime.Now.ToString(Convert.ToString(Session["FormatDate"]));
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }}
                 <input type="text" name="Date" id="Date" value="@Dtext" class= "date" readonly="true"/>
                 <div style="color:red ; float:left ;text-align: right;">*</div> 
                </div> 
             </div>
           
                <div class="mainRowCon1">
             <div class="lbl1"> Payee</div>
                  
             <div class="txt">
                         @Html.DropDownList("Payee", new SelectList((SelectList) ViewData["Payee"], "Value", "Text", 0), "---Select---", new { @class = "ddl1",@id="customer"})                   
                 <div style="color:red ; float:left ;text-align: right;">&nbsp;</div> 
                </div> </div>
            
                  <div class="mainRowCon1">
                <div class="lbl1"> Bank </div>
             <div class="txt">
                 <div style="color:red ; float:left ;text-align: right;">*</div> 
                 @Html.DropDownList("Bank", null, "---Select---", new { @class = "ddl1",@id="Bank"})
                 <label for="Bankamt" class="myBubble" style="padding:7px;" ></label>
                 <input type="text" id="recid" name="Reconcileid" value="@ViewBag.Reconcileid" style="display:none;"/>
                </div> </div>
            
                <div class="mainRowCon1">
             <div class="lbl1">Total Amount</div>
                  
             <div class="txt">
                 <input type="text" name="Amount" id="AmountReceived" value="@ViewBag.Amt" class= "txtclass"/>
                 <div style="color:red ; float:left ;text-align: right;">*</div> 
                </div> </div>
            
            <div class="mainRowCon1">
             <div class="lbl1"> Account</div>
             <div class="txt">
                 @Html.DropDownList("Account", null, "---Select---", new { @class = "ddl1",@id="Account"})                   
                 <div style="color:red ; float:left ;text-align: right;">*</div> 
               </div> 
             </div>
                 
                <div class="mainRowCon1">
             <div class="lbl1"> Operating Unit</div>
                  
             <div class="txt">
                         @Html.DropDownList("OPUnit", null, "---Select---", new { @class = "ddl1",@id="OPUnit"})                   
                 <div style="color:red ; float:left ;text-align: right;">*</div> 
                </div> </div>
            <div class="mainRowCon1">
             <div class="lbl1"> Memo</div>
             <div class="txt">
                 <textarea name="Memo" id="Memo" class= "txtclass">@ViewBag.Memo</textarea>
                 <div style="color:red ; float:left ;text-align: right;">&nbsp;&nbsp;</div> 
                </div> 
             </div>
          </td></tr></table> 
        </div>
          <div class="mainRowCon1 bottomRowContentFB" style="width:100%">   
                <div style="text-align:center">   
        <input type="button" name="Save" value="Save" id="btnPVSave" class="buttonclass"/>
          <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Cancel"  />
           </div>
        </div>
        <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo"></div>
    }
     </body>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}