﻿@model eBizSuiteUI.Models.FieldMasterModel

@{
    ViewBag.Title = "Form Designer";
}
<script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dynatree.js")" type="text/javascript"></script>
    <script src="~/Content/formbuildjquery.js"></script>
<script src="~/Scripts/jquery.session.js"> </script>
<script type="text/javascript">
    var res = true;
    // --- Contextmenu helper --------------------------------------------------
    function bindContextMenu(span) {
        var parent = $(span).parent().parent().parent();
        $(span).contextMenu({ menu: "myMenu" }, function (action, el, pos) {
            var node = $.ui.dynatree.getNode(el);
        });
    };

    function dd_SelectionChanged(sender) {
        grdDDLFilter();
    } $(function () {
        FormLoadActions();
    });
    $(function () {
        $("#ddlFrm").change("change", function (event) {
            $.session.set("formName", $("#ddlFrm").val());
            $.session.set("modName", null);
            var dataparam = { id: $("#ddlFrm").val() }
            if (res == true) {
                $.ajax({
                    url: '@Url.Action("GetForms", "FormDesigner")',
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "html",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        res = false;
                        $("#gridContent").html(result);
                        $("#ddlFrm").val($.session.get('formName')); FormLoadActions();
                    }
                });
            }
        });
    });

    $(function () {
        var tree = $("#tree").dynatree("getTree");
        FormLoadActions();
        $("#tree").dynatree({
            checkbox: true,
            selectMode: 0,
            onSelect: function (flag, dtnode) {
                $.session.set('Node', "");
                if (res == true) {
                    var tree = $("#tree").dynatree("getTree");
                    var selKeys = $.map(tree.getSelectedNodes(), function (node) {
                        if ($("#hdnbranchid").val() == '')
                            $("#hdnbranchid").val(node.data.key)
                        else
                            $("#hdnbranchid").val($("#hdnbranchid").val() + ',' + node.data.key);
                        $.session.set('Node', $("#hdnbranchid").val())
                    });
                    var dataparam = { lst: $.session.get('Node'), mid: $.session.get('formName'), fid: $("#ddlFrm").val() }
                    $.ajax({
                        url: '@Url.Action("Create", "FormDesigner")',
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "html",
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $("#gridContent").html(result);
                            $("#ddlFrm").val($.session.get('formName'));
                            $("#ddlFrm1").val($.session.get('modName'));
                        }
                    });
                }
                else {
                    res = true;
                }
                FormLoadActions();
            }
        });
    });

    $(function () {
        if (res == true) {
            BuidTree();
        }
        else
            res = true;

        FormLoadActions();
    });

    function BuidTree() {
        var arr; var arry;
        if (res == true) {
            if ($.session.get('Node') != null) {
                arr = $.session.get('Node');
                var arry = arr.split(',');
            }
            else { arr = 0; arry = 0; }
            var dataparam = { id: $("#ddlFrm1").val() };
            $.getJSON('@Url.Action("GetAllNode")', dataparam, function (result) {
                var tree = $("#tree").dynatree("getTree");
                var node = tree.getRoot();
                node.removeChildren();
                for (i = 0; i < result.length; i++) {
                    node.addChild({ title: result[i].title, key: result[i].key, isFolder: result[i].isFolder });
                    if (arry.length > 0) {
                        for (l = 0; l < arry.length; l++) {
                            if (arry[l] == result[i].key) {
                                res = false;
                                tree.selectKey(arry[l]);
                            }
                        }
                    }
                }
            });
        }
        FormLoadActions();
    };
    $(function () {
        $("#ddlFrm1").change("change", function (event) {
            $.session.set("modName", $("#ddlFrm1").val());
            if (res == true) {
                $("#hdnbranchid").val("");
                $.session.set("Node", null);
                BuidTree();
            }
            else {
                res = true;
            }

            FormLoadActions();
        }); 
    }
        );
    $(function () {
        $('#btnSave').on('click', function () {
            FormDesignerSave();
            });

        });
</script>

<style type="text/css">
    html {
        height: 93%;
    }

    body {
        margin: 0 auto;
        height: 100%;
    }

    ul.dynatree-container {
        border: none;
    }

    ul.dynatree-container {
        background: none;
    }

    table, table tr td {
        border: 0px;
    }
    </style>

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <div id="gridContent" >
          
                <div class="FormDesignlist"><fieldset >
                   <div class="formdesigndivs"> <div class="formdesignlbl">   @Html.Label("Module:")</div>
                        @Html.DropDownListFor(m => m.lstM,
                new SelectList(Model.lstM, "COLUMN03", "COLUMN05"),
                "...Select...", htmlAttributes: new { id = "ddlFrm",@class="reportddl" })
                        </div> 
                      <div class="formdesigndivs"> <div class="formdesignlbl">    @Html.Label("Form:    ")</div>
                    @Html.DropDownListFor(m => m.lst,
                new SelectList(Model.lst, "COLUMN02", "COLUMN04"),
                "...Select...", htmlAttributes: new { id = "ddlFrm1",@class="reportddl" })
                     </div>
                        <div class="FormDesignerheight" >
                            @Html.Label("Select Table:")
                            <div id="tree">
                            </div></div>
                         </fieldset>
                    </div>  
                <div class="FormDesigntable">
                    <fieldset id="fieldsetFormDesignertableheight"> 
                    @{ WebGrid grd = null;
                       if (ViewBag.Table != null)
                       {
                           grd = new WebGrid(ViewBag.Table, canPage: false, ajaxUpdateContainerId: "postsgrid",
                               ajaxUpdateCallback: "gridContent",
    columnNames: new[] { "Actual_Column", "Alias_Column", "Data_Type", "Nullable", "Size" }
    );
                       }   }
                   <div class="FormDesignertableheight overflowGrid">
                        @if (grd != null)
                        {
                            @grd.GetHtml(fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
tableStyle: "webgrid-table", htmlAttributes: new { id = "postsgrid" },
headerStyle: "webgrid-header",
footerStyle: "webgrid-footer",alternatingRowStyle: "webgrid-alternating-row",
rowStyle: "webgrid-row-style",
 columns: grd.Columns(
 grd.Column(header: "Table Name", format: @<text><input type="text" id="table" value="@item.table_Name" disabled="disabled" style="width:88px;font-size:10px" class="edit-mode" /></text>),
 grd.Column(header: "Field Name", format: @<text><input type="text" id="field" disabled="disabled" value="@item.Column04" style="width:88px;font-size:10px" /></text>),
 grd.Column(header: "Label Name", format: @<text><input type="text" id="label" value="@item.Column05" style="width:88px;font-size:10px" /></text>),
 grd.Column(header: "Required", format: @<text> @Html.DropDownList("Action", new List<SelectListItem>{
                    new SelectListItem() {Text = "Y", Value="Y"},
                    new SelectListItem() {Text = "N", Value="N"}
                   }, htmlAttributes: new { id = "ddlA" })</text>),
 grd.Column(header: "Mandatory", format: @<text> @Html.DropDownList("Mandatory", new List<SelectListItem>{
                    new SelectListItem() {Text = "Y", Value="Y"},
                    new SelectListItem() {Text = "N", Value="N"}
                   }, htmlAttributes: new { id = "ddlM" })</text>),
 grd.Column(header: "Default Value", format: @<text><input type="text" id="default" value="" style="width: 88px; font-size: 10px" /></text>),
 grd.Column(header: "Control Type", format: @<text>
                            @Html.DropDownList("Cotrol_Type", new List<SelectListItem>{
                    new SelectListItem() {Text = "TextBox", Value="TextBox"},
                    new SelectListItem() {Text = "DropDownList", Value="DropDownList"},
                    new SelectListItem() {Text = "CheckBox", Value="CheckBox"},
                    new SelectListItem() {Text = "CheckBoxList", Value="CheckBoxList"},
                    new SelectListItem() {Text = "Image", Value="Image"},
                    new SelectListItem() {Text = "DatePicker", Value="DatePicker"},
                    new SelectListItem() {Text = "GridView", Value="GridView"},
                    new SelectListItem() {Text = "RadioButton", Value="RadioButton"}
                   }, "...Select Type...", htmlAttributes: new { id = "ddlCtrl" })
                            </text>),
grd.Column(header: "Section Type", format: @<text>@Html.DropDownList("Section_Type", new List<SelectListItem>{
                    new SelectListItem() {Text = "Section1", Value="Section1"},
                    new SelectListItem() {Text = "Section2", Value="Section2"},
                    new SelectListItem() {Text = "Section3", Value="Section3"},
                    new SelectListItem() {Text = "Section4", Value="Section4"},
                    new SelectListItem() {Text = "Section5", Value="Section5"},
                    new SelectListItem() {Text = "Item Level", Value="Item Level"},
                    new SelectListItem() {Text = "Grid Level", Value="Grid Level"},
                    new SelectListItem() {Text = "Tab", Value="Tab"}
                   }, "...Select Type...", htmlAttributes: new { id = "ddlSec" })</text>),
grd.Column(header: "Section Name", format: @<text>
                            @*<input type="text" id="tab" value="" style="width: 100px;" />*@
                            @Html.TextBoxFor(model => model.Section_Name, "", new { style = "width:88px;font-size:10px" })
                            @Html.ValidationMessageFor(model => model.Section_Name)
                            </text>),
grd.Column(header: "Source Type", format: @<text>@Html.DropDownList("Source_Type",
                new SelectList(new[] {"Control Value", "Master Value"}),
                "...Select...", htmlAttributes: new { @onchange  = "grdDDLFilter()"})</text>),
grd.Column(header: "Source Value", format: @<text><div id="Source_Control" style="display:none">@Html.DropDownList("Source_Value1",
                new SelectList(Model.Source, "COLUMN02", "COLUMN03"),
                "...Select..." )
                       </div><div id="Source_Master" style="display:none"> @Html.DropDownList("Source_Value2",
                new SelectList(Model.Source_Master, "COLUMN02", "COLUMN05"),
                "...Select...")</div></text>),
grd.Column(format: @<text><input type="text" id="tid" value="@item.Column03"  style="display:none" class="edit-mode" /></text>)
                   ))}
                    </div>
                       </fieldset>
                </div> 
           
                    <div class="rowCont bottomRowContentFooter" >
            <div class="btnContleftFB">
                    <input type="button" class="buttonclass" value="Save" id="btnSave" /></div>
           <div class="btnContleftFB"> <input class="buttonclass" onclick="window.location.reload()" type="reset" value="Reset" id="reset" />
                    @Html.Hidden("hdnbranchid")
                    </div>
                </div>
           
    </div>
}

