﻿@model eBizSuiteAppModel.Table.MATABLE007

@{
    ViewBag.Title = "Item";
    Layout = null;
    
}
<html>
<head>
    <title> Item Master </title>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    @*<script src="~/Content/Tabs/jquery-ui.js"></script>*@
  <script  type="text/javascript" language="javascript">
      var $i = jQuery.noConflict();
      $i(document).ready(function () {
          
          //$("[id*=COLUMN06]").change("change", function () {
          //    ItemNameCheck1($i(this).val(), "Item");
          //});
          $i("#COLUMN05").val("ITTY001")
          $i("#COLUMN61").val(1000)
          $i("#COLUMN54").val(1000)
          
          //$i('.ui-dialog').css('height', '550');
          $i('#newMDialog').css('overflow-y', 'scroll');
          $i('#newMDialog').css('overflow-x', 'hidden');
          $('#form-reset').live('click', function () {
              //$(this).formReset();
              $('#mImageHide').dialog("close");
              return false;
          });
          $('.gridtxtarealength').live("focus", function () {
              $(this).animate({ height: "4em" }, 500);
          });
          $('.gridtxtarealength').live("focusout", function () {
              var height = $(this).height();
              $(this).animate({ height: "1.5em" }, 500);
          });
          $i("#itemName").live("change", function () {
              debugger
              ItemNameCheck1($i(this).val(), "Item");
          });
          $i('#btnSaveI').click('click', function () {
              debugger
              $("#divLoading").show();
              var flag = false;
              if ($i("#itemName").val() == "") {
                  $("#divLoading").hide();
                  Alert.render('Please Enter Item Name'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#itemName").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#Units").val() == "") {
                  $("#divLoading").hide();
                  Alert.render('Please Select Units'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#Units").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              flag = ItemNameCheck1($i("#itemName").val(), "Item");
              if (flag == "false" || flag == "0") {
                  $("#divLoading").show();
                  var formData = $i("#myid1").serialize();
                  $i.ajax({
                      url: "/Item/Create",
                      type: "POST",
                      dataType: "json",
                      data: formData,
                      success: function (data) {
                          debugger
                          var items = [];
                          var Iname = "";
                          var InameVal = "";
                          var Fid = '@Session["id"]';
                          var alt = $.session.get("alt");
                          if (Fid == "1377")
                              $i("#" + alt + "").html(items.join(' '));
                          else
                              $i("#lineItem").html(items.join(' '));
                          items.push("<option value=''>" + "--Select--" + "</option>");
                          for (var i = 0; i < data.item.length; i++) {
                              if (data.item[i].Selected == true) {
                                  Iname = data.item[i].Text;
                                  InameVal = data.item[i].Value;
                                  items.push("<option value=" + data.item[i].Value + " selected>" + data.item[i].Text + "</option>");
                              } else
                                  items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                          }
                          $i('#newMDialog').dialog("close");
                          $i('#onflyDialog').dialog("close");
                          $i(".ui-widget-overlay").hide();
                          $i('#dialogoverlay').css("display", "none");
                          $i("#lineItem").html(items.join(' '));
                          if (Fid == "1273")
                              $i("#linePrice").val(data.Pprice);
                          else
                              $i("#linePrice").val(data.sPrice);
                          $i("#lineTaxtype").val(data.sType);
                          $i("#lineUnits").val(data.uom);
                          $i("#lineDes").text(data.desc);
                          var Item=$i("#lineItem").val();var UOM=$i("#lineUnits").val();
                          if (typeof ($("#lineLot").val()) != "undefined" && typeof (Item) != "undefined" && Item != "") {
                              $.ajax({
                                  url: "/FormBuilding/GetItemLot?FormName=" + FormName + "",
                                  type: "POST",
                                  data: JSON.stringify({ ItemID: Item, UOM: UOM, frmID: Fid }),
                                  dataType: "json", cache: true,
                                  async: false,
                                  contentType: "application/json; charset=utf-8",
                                  success: function (data) {
                                      var wid = $i("#lineLot").parent().width();
                                      $i('#lineLot').find('option').remove();
                                      var items = [];
                                      items.push("<option value=''>" + "--Select--" + "</option>");
                                      for (var i = 0; i < data.Datalot.length; i++) {
                                          items.push("<option value=" + data.Datalot[i].Value + ">" + data.Datalot[i].Text + "</option>");
                                      }
                                      $i("#lineLot").html(items.join(' '));
                                      $i("#lineLot").width(wid);
                                  }
                              })
                          }
                          if (Fid == "1377") {
                              $i("#" + alt + "").html(items.join(' '));
                              $i("#select2-" + alt + "-container").text(Iname);
                          }
                          else {
                              $i("#lineItem").html(items.join(' '));
                              $i("#select2-lineItem-container").text(Iname);
                          }
                          if (Fid != "1377") {
                              var tbl = $i("#grdData")[0];
                              debugger
                              for (var irow = tbl.rows.length - 1; irow < tbl.rows.length  ; irow++) {
                                  var trw = tbl.rows[irow];
                                  if (Fid == "1375") {
                                      if ($(trw).find("#SATABLE014COLUMN03").val() == "" || $(trw).find("#SATABLE014COLUMN06").val() == "") {
                                          $(trw).find("#SATABLE014COLUMN03").find('option').remove();
                                          $(trw).find("#SATABLE014COLUMN03").html(items.join(' '));
                                          $(trw).find("#select2-SATABLE014COLUMN03-container").text(Iname);
                                      }
                                  }

                                  else if (Fid == "1275" || Fid == "1330" || Fid == "1353") {
                                      if ($(trw).find("#SATABLE006COLUMN03").val() == "") {
                                          $(trw).find("#SATABLE006COLUMN03").find('option').remove();
                                          $(trw).find("#SATABLE006COLUMN03").html(items.join(' '));
                                          $(trw).find("#select2-SATABLE006COLUMN03-container").text(Iname);
                                      }
                                  }

                                  else if (Fid == "1277") {
                                      if ($(trw).find("#SATABLE010COLUMN05").val() == "") {
                                          $(trw).find("#SATABLE010COLUMN05").find('option').remove();
                                          $(trw).find("#SATABLE010COLUMN05").html(items.join(' '));
                                          $(trw).find("#select2-SATABLE010COLUMN05-container").text(Iname);
                                      }
                                  }

                                  else if (Fid == "1328" || Fid == "1251" || Fid == "1355") {
                                      if ($(trw).find("#PUTABLE002COLUMN03").val() == "") {
                                          $(trw).find("#PUTABLE002COLUMN03").find('option').remove();
                                          $(trw).find("#PUTABLE002COLUMN03").html(items.join(' '));
                                          $(trw).find("#select2-PUTABLE002COLUMN03-container").text(Iname);
                                      }
                                  }

                                  else if (Fid == "1273") {
                                      if ($i(trw).find("#PUTABLE006COLUMN04").val() == "") {
                                          $i(trw).find("#PUTABLE006COLUMN04").find('option').remove();
                                          $i(trw).find("#PUTABLE006COLUMN04").html(items.join(' '));
                                          $i(trw).find("#select2-PUTABLE006COLUMN04-container").text(Iname);
                                      }
                                  }
                              }
                          }
                          $i("#divLoading").hide();
                          //DynamicPopupcancel();
                      }

                  });
              }
          });

          //File Change
          $i("#fileToUpload").change(function () {
              checkfile();
          });
      });
  </script>
</head>


<body>
    @using (Html.BeginForm("Create", "Item", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
       
        
    <div class="bodyFBContent1">
          <div class="mainRowCon1 bottomRowContentFB" style="width:100%">
        
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
                <div style="text-align:center">   
                     <input type="button" name="Save" value="Save" id="btnSaveI" class="buttonclass"/>     
        
                        
          <input id="form-reset" class='buttonclass' type="reset" value="Cancel"  />
           </div>
 }
        </div>
        <div style="padding:15px">   
            <table style="border:1px solid">  <tr><td>   
                   <div class="mainRowCon1">
             <div class="lbl1"> Type </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN05", new SelectList((SelectList)ViewData["type"], "Value", "Text"), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> 
             </div>
           
                <div class="mainRowCon1">
             <div class="lbl1"> Item Name</div>
                  
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN04, new { @class = "txtclass",id="itemName" })
                         @Html.ValidationMessageFor(model => model.COLUMN04)
                   <div style="color:red ; float:left ;text-align: right;">*</div>
                </div> </div> 

                   <div class="mainRowCon1">
             <div class="lbl1"> HSN/SAC Code </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN75", new SelectList((SelectList)ViewData["HSN"], "Value", "Text"), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> 
             </div>

                <div class="mainRowCon1">
             <div class="lbl1"> Units</div>
                  
             <div class="txt">
                         @Html.DropDownList("COLUMN63", new SelectList(ViewBag.UOM, "COLUMN02", "COLUMN04", 0), "---Select---", new { @class = "ddl1",id="Units"})
                         @Html.ValidationMessageFor(model => model.COLUMN04)
                   <div style="color:red ; float:left ;text-align: right;">*</div>  
                </div> </div>
            
                  <div class="mainRowCon1">
                <div class="lbl1"> UPC# </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN06, new { @class = "txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN06)
                </div> </div>
            
                <div class="mainRowCon1">
             <div class="lbl1"> Item Description</div>
                  
             <div class="txt">
                         @Html.TextAreaFor(model => model.COLUMN50, new { @class = "txtgridclass  gridtxtarealength",id="itemDesc"   })
                         @Html.ValidationMessageFor(model => model.COLUMN50)
                </div> </div>
            
            <div class="mainRowCon1">
             <div class="lbl1"> Vendor Name</div>
             <div class="txt">
                           @Html.DropDownList("COLUMN08", new SelectList(ViewBag.Vendor, "COLUMN02", "COLUMN05", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN08)
                </div> 
             </div>
                 
            <div class="mainRowCon1">
             <div class="lbl1"> Vendor Part#</div>
             <div class="txt">
                       @Html.TextBoxFor(model => model.COLUMN09, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN09)
                </div> 
             </div>
          </td></tr></table>
               <table style=" border:1px solid;border-top:0px;">  <tr><td> 
                <div class="mainRowCon1">
            <div class="lbl1"> Purchase Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN61", new SelectList((SelectList)ViewData["PurchTax"], "Value", "Text", 0), "---Select---", new { @class = "ddl1" })
                            @Html.ValidationMessageFor(model => model.COLUMN61)
                       </div></div>
                <div class="mainRowCon1">
            <div class="lbl1">Purchase Price </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.PCOLUMN04, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.PCOLUMN04)
                </div>  </div>
                <div class="mainRowCon1">
            <div class="lbl1">Purchase MRP </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.PCOLUMN05, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.PCOLUMN05)
                </div>  </div>
                </td></tr></table>
               <table style=" border:1px solid;border-top:0px; ">  <tr><td> 
            
            <div class="mainRowCon1">
            <div class="lbl1"> Sales Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN54", new SelectList((SelectList)ViewData["Tax"], "Value", "Text", 0), "---Select---", new { @class = "ddl1" })
                            @Html.ValidationMessageFor(model => model.COLUMN54)
                       </div></div>                    
                <div class="mainRowCon1">
            <div class="lbl1">Sales Price </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.SCOLUMN04, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.SCOLUMN04)
                </div>  </div>
                <div class="mainRowCon1">
            <div class="lbl1">Sales MRP </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.SCOLUMN05, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.SCOLUMN05)
                </div>  </div>

            </td></tr></table>
               <table style="border:1px solid;   border-top:0px;  width: 100%;">  <tr><td> 
                <div class="mainRowCon1">
             <div class="lbl1">Item Group </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN11", new SelectList((SelectList) ViewData["group"], "Value", "Text", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN11)
                </div> 
             </div>
                
                <div class="mainRowCon1">
             <div class="lbl1">Item Family </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN12", new SelectList((SelectList) ViewData["family"], "Value", "Text", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN12)
                </div> 
             </div>
                  <div class="mainRowCon1">
             <div class="lbl1"> Brand </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN10", new SelectList((SelectList) ViewData["Brand"], "Value", "Text", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN10)
                </div> 
             </div>
                   </td></tr></table>
               <table style="border:1px solid; border-top:0px;   width: 100%;">  <tr><td> 
            
                 <div class="mainRowCon1">
             <div class="lbl1"> Image </div>
             <div class="txt">
                 <input type="file" id="fileToUpload" name="file" class="logotxt" />@Html.ValidationMessageFor(model => model.COLUMN46)
                   @* <input type="button"   class='buttonclass' id="btnSubmit" value="Upload" />
                            <span class="field-validation-error" id="spanfile"></span>*@
                          @Html.ValidationMessageFor(model => model.COLUMN45)
               </div></div>
                   </td></tr></table>

            </div>
        <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>

        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo">
   </div>
      
    }
     </body>
</html>