﻿@{
    ViewBag.Title = "Lot";
    Layout = null;
    
}
<html>
<head>
    <title> Item Master </title>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
  <script  type="text/javascript" language="javascript">
      var $i = jQuery.noConflict();
      $i(document).ready(function () {
          dateupdate('@Session["ReportDate"]');
          //$i('.ui-dialog').css('height', '550');
          $i('#form-reset').live('click', function () {
              //$(this).formReset();
              $i('#onflyDialog').dialog("close");
              return false;
          });
          $i("[id*=FITABLE043COLUMN04]").live("change", function () {
              lotNameCheck('@Request["FormName"]');
          });
          $i("[id*=FITABLE043COLUMN09]").live("change", function () {
              lotNameCheck('@Request["FormName"]');
          });
          $i("[id*=FITABLE043COLUMN10]").live("change", function () {
              lotNameCheck('@Request["FormName"]');
          });
          $i('#btnSaveL').click('click', function () {
              var PPrice = $i('#FITABLE043COLUMN11').val();
              var SPrice = $i('#FITABLE043COLUMN12').val();
              if (PPrice == "" || PPrice == null) PPrice = "0";
              if (SPrice == "" || SPrice == null) SPrice = "0";
              $("#divLoading").show();
              var flag = false;
              if ($i("#FITABLE043COLUMN04").val() == "") {
                  $("#divLoading").hide();
                  Alert.render('Please Enter Lot No'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#FITABLE043COLUMN04").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              else if ($i("#FITABLE043COLUMN09").val() == "") {
                  $("#divLoading").hide();
                  Alert.render('Please Select Item'); $i("#alertok").focus();
                  $i("#alertok").on("click", function () {
                      $i("#dialogbox").dialog("close"); $i("#FITABLE043COLUMN09").focus();
                      flag = true;
                      return false;
                  })
                  return false;
              }
              if (flag == "false" || flag == "0") {
                  $("#divLoading").show();
                  var formData = $i("#myidl").serialize();
                  $i.ajax({
                      url: "/Item/LotCreation",
                      type: "POST",
                      dataType: "json",
                      data: formData,
                      success: function (data) {
                          var items = [];
                          var Iname = "";
                          var InameVal = "";
                          var Fid = '@Session["id"]';
                          if (Fid != "1532") {
                              $i('#onflyDialog').dialog("close");
                              $i(".ui-widget-overlay").hide();
                              $i('#dialogoverlay').css("display", "none");
                              items.push("<option value=''>" + "--Select--" + "</option>");
                              for (var i = 0; i < data.item.length; i++) {
                                  if (data.item[i].Selected == true) {
                                      Iname = data.item[i].Text;
                                      InameVal = data.item[i].Value;
                                      items.push("<option value=" + data.item[i].Value + " selected>" + data.item[i].Text + "</option>");
                                  } else
                                      items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                              }
                              var wid = $("#lineLot").parent().width();
                              $i("#lineLot").html(items.join(' '));
                              $("#lineLot").width(wid);
                              if (PPrice != "0")
                                  $i("#linePrice").val(PPrice);
                              var Item = $i("#lineItem").val(); var Units = $i("#lineUnits").val();
                              var tbl = $i("#grdData")[0];
                              for (var irow = tbl.rows.length - 1; irow < tbl.rows.length  ; irow++) {
                                  var trw = tbl.rows[irow];
                                  if ($i(trw).find("#PUTABLE006COLUMN04").val() == "") {
                                      $i(trw).find("#PUTABLE006COLUMN27").find('option').remove();
                                      $i(trw).find("#PUTABLE006COLUMN27").html(items.join(' '));
                                  }
                              }
                          }
                          else {
                              var tbl = $("#grdData")[0];
                              for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                                  var tr = tbl.rows[irow];
                                  var classname = tr.className;
                                  if (classname != "webgrid-header" && classname != "aftershow") {
                                      var rowchk = $i(tr).find("[id='chkrow']").val();
                                      if (rowchk == 1 || rowchk == "1") {
                                          var ItemId = $i(tr).find('#saveItemId').text();
                                          var UnitId = $i(tr).find('#saveUnitId').text();
                                          var Price = $i(tr).find('#Price').val();
                                          if (Price == "" || typeof (Price) == "undefined") Price = "0";
                                          if (UnitId == "" || typeof (UnitId) == "undefined") UnitId = "0";
                                          var Lotid = data.LotId;
                                          var LocationId = $i(tr).find('#LocationId').text();
                                          $i.ajax({
                                              url: "/PointOfSales/GetLotDetails",
                                              type: "POST",
                                              data: JSON.stringify({ ItemId: ItemId, Lotid: Lotid, UnitId: UnitId, LocationId: LocationId }),
                                              dataType: "json", cache: true,
                                              async: false,
                                              contentType: "application/json; charset=utf-8",
                                              success: function (result) {
                                                  if (result.Avail == null || result.Avail == "" || result.Avail == "0")
                                                      result.Avail = 0;
                                                  $i(tr).find('#itemBatchId').text(Lotid);
                                                  $i(tr).find('#lotExpDate').text(result.ExpDate);
                                                  $i(tr).find('#avl').attr("value", result.AvailQty);
                                                  $i(tr).find('#dQuantity').text(0);
                                                  $i(tr).find('#Quantity').val(0);
                                                  $i(tr).find('#dAmount').text(0);
                                                  $i(tr).find('#dTaxamt').text(0);
                                                  $i(tr).find('#Amount').val(0);
                                                  if (result.SPrice != null && result.SPrice != "" && result.SPrice != "0") {
                                                      $i(tr).find('#Price').val(result.SPrice);
                                                      $i(tr).find('#dPrice').text(result.SPrice);
                                                  }
                                                  $i(tr).find('#chkrow').attr("value", 0);
                                                  irow = tbl.rows.length;
                                                  GetRetailTotalTransCalcs();
                                                  $i(".window-mask").hide(); $i(".panel window").hide(); $i(".window-shadow").hide();
                                                  $i(".window-shadow").css('display', 'none');
                                                  $i(".panel").css('display', 'none');
                                                  $i(".window-mask").css('display', 'none');
                                                  $i('#onflyDialog').dialog('close');
                                              }
                                          })
                                      }
                                  }
                              }
                          }
                          $("#divLoading").hide();
                      }

                  });
              }
          });
      });
  </script>
</head>


<body>
    @using (Html.BeginForm("LotCreation", "Item", FormMethod.Post, new { id = "myidl", enctype = "multipart/form-data" }))
    {  var Dtext = DateTime.Now.ToString(@Session["FormatDate"].ToString());
          if (ViewBag.Dateformat == "")
          {
              Dtext = DateTime.Now.ToShortDateString();
          }
    <div class="bodyFBContent1">
          <div class="mainRowCon1 bottomRowContentFB" style="width:100%">
                <div style="text-align:center">   
                     <input type="button" name="Save" value="Save" id="btnSaveL" class="buttonclass"/>  
          <input id="form-reset" class='buttonclass' type="reset" value="Cancel"  />
           </div>
        </div>
        <div style="padding:15px">   
            <table style="border:1px solid">  <tr><td>   
                   <div class="mainRowCon1">
             <div class="lbl1"> Lot No </div>
             <div class="txt">
              <input id="FITABLE043COLUMN04" pattern="Y" itemid="nvarchar" name="Lot No" class="txtclass" type="text" value="">
                   <div style="color:red ; float:left ;text-align: right;">*</div>
              </div> 
             </div>
           
                <div class="mainRowCon1">
             <div class="lbl1"> Expiry Date</div>
                  
             <div class="txt">
               <input name="Expiry Date" id="FITABLE043COLUMN05" type="text" value="@Dtext" class="date">
                </div> </div> 

                   <div class="mainRowCon1">
             <div class="lbl1"> FIFO Date </div>
             <div class="txt">
                  <input name="FIFO Date" id="FITABLE043COLUMN06" type="text" value="@Dtext" class="date">
                </div> 
             </div>

                <div class="mainRowCon1">
             <div class="lbl1"> LIFO Date</div>
                  
             <div class="txt">
                 <input name="LIFO Date" id="FITABLE043COLUMN07" type="text" value="@Dtext" class="date">
                   @*<div style="color:red ; float:left ;text-align: right;">*</div>*@  
                </div> </div>
            
                  <div class="mainRowCon1">
                <div class="lbl1"> Location </div>
             <div class="txt">
                         @Html.DropDownList("Location",null,"--Select--", new { @class = "ddl1",@id = "FITABLE043COLUMN08"})
                </div> </div>
            
                <div class="mainRowCon1">
             <div class="lbl1"> Item</div>
                  
             <div class="txt">
                         @Html.DropDownList("Item",null,"--Select--", new { @class = "ddl1",@id = "FITABLE043COLUMN09"})
                   <div style="color:red ; float:left ;text-align: right;">*</div>
                </div> </div>
            
            <div class="mainRowCon1">
             <div class="lbl1"> Units</div>
             <div class="txt">
                         @Html.DropDownList("UOM",null,"--Select--", new { @class = "ddl1",@id = "FITABLE043COLUMN15"})
                </div> 
             </div>
                 
            <div class="mainRowCon1">
             <div class="lbl1"> Purchase Price</div>
             <div class="txt">
                 <input id="FITABLE043COLUMN11" pattern="N" itemid="DECIMAL" name="Purchase Price" class="txtclass" type="text" value="@ViewBag.Price">
                </div> 
             </div>
          </td></tr>
            <tr><td> 
                <div class="mainRowCon1">
            <div class="lbl1"> Purchase Price MRP </div>
            <div class="txt">  
                            <input id="FITABLE043COLUMN13" pattern="N" itemid="DECIMAL" name="Purchase Price MRP" class="txtclass" type="text" value="@ViewBag.Price">
                       </div></div>
                <div class="mainRowCon1">
            <div class="lbl1">Sales Price </div>
            <div class="txt"> 
                           <input id="FITABLE043COLUMN12" pattern="N" itemid="DECIMAL" name="Sales Price" class="txtclass" type="text" value="@ViewBag.SPrice">
                </div>  </div>
                <div class="mainRowCon1">
            <div class="lbl1">Sales Price MRP </div>
            <div class="txt"> 
                           <input id="FITABLE043COLUMN14" pattern="N" itemid="DECIMAL" name="Sales Price MRP" class="txtclass" type="text" value="@ViewBag.SPrice">
                </div>  </div>
                </td></tr>
            <tr><td> 
            
            <div class="mainRowCon1">
            <div class="lbl1"> Operating Unit </div>
            <div class="txt">  
                         @Html.DropDownList("OPUnit",null,"--Select--", new { @class = "ddl1",@id = "FITABLE043COLUMN10"})
                       </div></div>           
            </td></tr></table>

            </div>
        <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>

        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo">
   </div>
      
    }
     </body>
</html>