﻿@model eBizSuiteAppModel.Table.CONTABLE007

@{
    ViewBag.Title = "Operating Unit";
    if (Session["DDDynamicItems"] == "DDDynamicItems")
    {
        Layout = null;
    }
}

<head>
 <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
 <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
     <script src="~/Content/formbuildjquery.js"></script>
  <script>
      //var $ = jQuery.noConflict(true);
      $(document).ready(function () {
	  $("#COLUMN39").prop("checked",true);
          $("#COLUMN18").change("change", function () {
              OUddlSelectedCountry($(this).val(), '1');
          });
          $("#COLUMN26").change("change", function () {
              OUddlSelectedCountry($(this).val(), '2');
          });
          $("[id*=COLUMN16]").on("change", function () {
              AddressGSTValidationO($("#COLUMND02").val(), $("#COLUMN18").val(), $("#COLUMN16").val(), "COLUMND02", "COLUMND01");
          });
          $("[id*=COLUMND02]").on("change", function () {
              AddressGSTValidationO($(this).val(), $("#COLUMN18").val(), $("#COLUMN16").val(), "COLUMND02", "COLUMND01");
          });
          $("[id*=COLUMND01]").on("change", function () {
              AddressGSTValidationO($("#COLUMND02").val(), $("#COLUMN18").val(), $("#COLUMN16").val(), "COLUMND02", "COLUMND01");
          });
          $("#tabs1").tabs();
          $(".ui-corner-bottom").css("width", "100%");
          if ('@Session["DDDynamicItems"]' == 'DDDynamicItems') {
              {Layout=null;}
          }
          $("#saveform").live("click", function (event) {
              $("#savetype").val("New");
              SaveOPUnit();
          });
          $("#SaveNew").live("click", function (event) {
              $("#savetype").val("SaveNew");
              SaveOPUnit();
          });
          //Form Reset
          $('#form-reset').live('click', function () {
              $(this).formReset();
              return false;
          });
	  //EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill
          $("#formreset").live("click", function (event) {
              DynamicPopupcancel();
          });
      })
      //Form Save
        $("#btnSubmit").live("click", function () {
            if ($('#fileToUpload').val() == "") {
                $("#spanfile").html("Please upload file");
                return false;
            }
            else {
                return checkfile();
            }
            });
      //File Change
            $("#fileToUpload").change(function () {
                checkfile();
            });

    </script>

</head>


<body>
    @using (Html.BeginForm("Create", "OperatingUnit", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        if (Session["DDDynamicItems"] != "DDDynamicItems")
        {
        <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
     <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "OperatingUnit") + "'")    ;" />
           </div>  
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
                <div class="bottomColFB1">  
                <input id="savetype" name="savetype" type="hidden" /> 
                     <input type="button" name="Save" value="Save" id="saveform" class="buttonclass"/></div>
        <div class="bottomColFB1">     <input type="button" name="SaveNew" id="SaveNew" value="Save & New"   class="buttonclass"/></div>
        @*<div class="bottomColFB1">    <input type="button" value="Cancel"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Index", "OperatingUnit") + "'")    ;" /></div>*@
        <div class="bottomColFB1">   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>
            }
        </div>}
            else if (Session["DDDynamicItems"] == "DDDynamicItems")
            {<div class="rowCont bottomRowContentFB" id="ddl"> <div class="bottomColFB1">    <input type="submit" name="Create" value="Save" class="buttonclass"/></div>
	    @*//EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill*@
            <div class="bottomColFB1">   
                @*<input onclick="@("window.location.href='" + @Url.Action("SetVariable", "FormBuilding") + "'")    ;" id="formreset" class='buttonclass' type="reset" value="Cancel"  />*@
                <input  id="formreset" class='buttonclass' type="button" value="Cancel"  />
            </div>
            </div>}
    <div class="bodyFBContent">
        <div id="staticheadersection">
            <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Operating Unit ID </div>
            <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN02, new { @readonly = "readonly" ,@class="txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN02)
                </div> </div>  <div class="mainRowCon">
             <div class="lbl editor-label"> Name <label class="astric">* </label></div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN03, new {@class="txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN03)
                </div> </div><div class="mainRowCon">
             <div class="lbl"> Description </div>
             <div class="txt">
                          @Html.TextBoxFor(model => model.COLUMN04, new {@class="txtclass" })
                          @Html.ValidationMessageFor(model => model.COLUMN04)
                </div> 
             </div></div>
             <div class="mainRow"><div class="mainRowCon">
             <div class="lbl"> Logo </div>
             <div class="txt">
                 <input type="file" id="fileToUpload" name="file" class="logotxt" /> @*@Html.ValidationMessageFor(model => model.COLUMN06)
                   <input type="button"   class='buttonclass' id="btnSubmit" value="Upload" />
                            <span class="field-validation-error" id="spanfile"></span>*@
                          @Html.ValidationMessageFor(model => model.COLUMN05)
               </div></div><div class="mainRowCon">
             <div class="lbl"> InActive </div>
             <div class="txt">
                          @Html.CheckBoxFor(model => model.COLUMN07)
                          @Html.ValidationMessageFor(model => model.COLUMN07)
               </div></div><div class="mainRowCon">
              <div class="lbl"> Parent Of </div>
              <div class="txt">
                         @Html.DropDownList("COLUMN08", new SelectList(ViewBag.ParentOf, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN08)*@
                           @Html.ValidationMessageFor(model => model.COLUMN08)
                  </div> </div>
              </div>
              <div class="mainRow">
                  <div class="mainRowCon">
              <div class="lbl"> Make Inventary Available </div>
              <div class="txt">
                          @Html.CheckBoxFor(model => model.COLUMN09)
                          @Html.ValidationMessageFor(model => model.COLUMN09)
                 </div></div>
                  <div class="mainRowCon">
              <div class="lbl"> Company </div>
              <div class="txt">
                           @Html.DropDownList("COLUMN10",new SelectList(ViewBag.Company,"COLUMN02", "COLUMN03",0),"--Select--", new { @class="ddl"})
                        @Html.ValidationMessageFor(model => model.COLUMN10)
                </div></div>
                  <div class="mainRowCon">
              <div class="lbl"> Mobile No </div>
              <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN34, new { @class = "txtclass" })
                               
                        @Html.ValidationMessageFor(model => model.COLUMN34)
                </div></div>
              </div>
            @*EMPHCS1080 by gnaneshwar on 3/09/2015 Adding VAT NO,CST NO,Service Tax NO,PAN NO columns in operating unit*@
            <div id="TAXES" class="bodyFBCon"> TAXES </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">VAT NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN30, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">CST NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN31, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Drug Lic# </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN37, new { @class = "txtclass" })
                        </div>
                    </div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Service Tax NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN32, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">PAN NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN33, new { @class = "txtclass" })
                        </div>
                    </div>
                    
                    <div class="mainRowCon">
                        <div class="lbl">TIN# </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN35, new { @class = "txtclass" })
                        </div>
                    </div>

                </div>
            <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">CIN </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN38, new { @class = "txtclass" })
                        </div>
                    </div>
                    @*//EMPHCS1625 ADDING SURCHARGE FIELD TO INVOICE BY SRINI 24/3/1016*@
		    <div class="mainRowCon">
                        <div class="lbl">Surcharge Exempted </div>
                        <div class="txt">
                           @Html.CheckBoxFor(model => model.COLUMN39, new { @checked = "checked" ,@class="chk"})
                        </div>
                 </div>
                    @*//EMPHCS1711	Adding QC Verification screen to sales module*@
		    <div class="mainRowCon">
                        <div class="lbl">Is QC Process Required?</div>
                        <div class="txt">
                           @Html.CheckBoxFor(model => model.COLUMN40, new { @checked = "checked" ,@class="chk"})
                        </div>
                 </div>
                 </div>
                </div>
              @*</div>*@
        <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
        <div id="statictabsection">
        <div id="tabs1" class="fbTabCon">
            <ul  >
                <li ><a href="#tabs-1">Address</a></li>
                @*<li ><a href="#tabs-2">Return Address</a></li>*@
                <li ><a href="#tabs-3">Additional Info</a></li>
                        <li><a href="#tabs-4">GST</a></li>
            </ul> 
             <div id="tabs-1" >
                              <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Attention </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN11, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN11)
                </div> </div><div class="mainRowCon">
            <div class="lbl"> Addressee </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN12, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN12)
                </div> </div><div class="mainRowCon">
            <div class="lbl"> Address1 <label class="astric">* </label></div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN13, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN13)
                </div> </div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN14, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN14)
                </div> </div>
                <div class="mainRowCon">
            <div class="lbl"> Country <label class="astric">* </label></div>
            <div class="txt"> 
                            @Html.DropDownList("COLUMN18", new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN18)
                       </div>
            </div> 
                <div class="mainRowCon">
            <div class="lbl"> State <label class="astric">* </label></div>
            <div class="txt">
                            @Html.DropDownList("COLUMN16", new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl",@disabled="true" })
                            @Html.ValidationMessageFor(model => model.COLUMN16)
                        </div> </div> </div>
            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> City </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN15, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN15)
                </div> </div>
                <div class="mainRowCon">
            <div class="lbl"> Zip</div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN17, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN17)
                </div></div>
                     </div> 
                              </div>
                     </div>

           @*  <div id="tabs-2" >
                 <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Attention </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN19, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN19)
                </div></div><div class="mainRowCon">
            <div class="lbl"> Addressee </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN20, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN20)
                </div></div><div class="mainRowCon">
            <div class="lbl"> Address1 </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN21, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN21)
                </div></div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN22, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN22)
                </div></div>
                <div class="mainRowCon">
            <div class="lbl"> Country </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN26", new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN26)
                       </div>  </div>
                <div class="mainRowCon">
            <div class="lbl"> State</div>
            <div class="txt"> 
                             @Html.DropDownList("COLUMN24", new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl",@disabled="true" })
                             @Html.ValidationMessageFor(model => model.COLUMN24)
                         </div> </div>

            </div>
            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> City </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN23, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN23)
                </div></div>
                <div class="mainRowCon">
            <div class="lbl"> Zip</div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN25, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN25)
                </div>  </div>
            </div> 
                     </div>
                    </div>*@
           <div id="tabs-3" >
                                       
            <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Info1 </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN27, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN27)
                 </div>  </div><div class="mainRowCon">
            <div class="lbl"> Info2 </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN28, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN28)
                 </div>  </div><div class="mainRowCon">
            <div class="lbl"> Info3 </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN29, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN29)
                    </div></div>
                 @*EMPHCS1179	adding new field in Operating unit screen in Additional Info tab BY RAJ.Jr 20/9/2015*@
                <div class="mainRowCon">
            <div class="lbl"> Amount to be deposited in favour of </div>
            <div class="txt">
                            @Html.TextAreaFor(model => model.COLUMN36, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN36)
                    </div></div>
            </div>
                   </div></div>
            
                    <div id="tabs-4" style="width:100%">
                        
                        <div class="fbBodyFoter">
                            <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">GSTIN </div>
                                    <div class="txt">
                                        @Html.TextBoxFor(model => model.COLUMND02, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMND02)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">State Code </div>
                                    <div class="txt">
                                     @Html.DropDownList("COLUMND01", new SelectList(@ViewBag.Scode, "COLUMN02", "COLUMN04",0),"---Select---", new { @class = "ddl" })
                                        @Html.ValidationMessageFor(model => model.COLUMND01)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo">
   </div>
    }

    <script>


        $(function Save() {
            $('#btnSave').click(function () {

                var vr = document.getElementById("myid1").value;

                $.ajax({
                    url: '@Url.Action("CreateNew", "OperatingUnit")',
                    type: "GET",
                    data: { contable007: vr },
                    dataType: "html",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        alert("Record Saved Successfully");
                        location.href = '@Url.Content("~/OperatingUnit/CreateNew/")';
                      }
                })


            })

        });

    </script>

     </body>
    <script>


        $(function Save() {
            $('#btnSave').click(function () {

                var vr = document.getElementById("myid1").value;

                $.ajax({
                    url: '@Url.Action("CreateNew", "OperatingUnit")',
                      type: "GET",
                      data: { contable007: vr },
                      dataType: "html",
                      cache: false,
                      contentType: "application/json; charset=utf-8",
                      success: function (result) {
                          alert("Record Saved Successfully");
                          location.href = '@Url.Content("~/OperatingUnit/CreateNew/")';
                     }
                  })


              })

          });

    </script>



@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}