﻿@model IEnumerable<eBizSuiteAppModel.Table.CONTABLE007>

@{
    ViewBag.Title = "Operating Unit";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>  
     <script src="~/Content/formbuildjquery.js"></script>
   
</head>
<body>
    <div id="FormData" >
          @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div class="dialogSearch">
                <div class="searchRow">
                <div class="lbl"> ID </div>
            <div class="txt">
            <input type="text" name="ID" value="@Request["COLUMN02"]"  class="txtclass"/>
            </div></div><div class="searchRow">
                <div class="lbl"> Name </div>
            <div class="txt"> <input type="text" name="Name" value="@Request["COLUMN03"]"  class="txtclass"/>
            </div></div>
                <div class="searchRow">
                <div class="lbl"> Addressee </div>
            <div class="txt">
            <input type="text" name="Addressee" value="@Request["COLUMN12"]"  class="txtclass"/></div>
            </div></div>
                <div class="popUpSearchFooter">
            <input type="submit" class="buttonclass" id="btn" value="Search"  />
            <button   name="ClientCancel" type="button" class="buttonclass" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("Index", "OperatingUnit"))" ></a>
        </div>
} 
    </div>
</body>
</html>
