﻿@{
    ViewBag.Title = "Close Stock";
}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Setup/GridBind",
            type: "POST",
            dataType: "json",
            cache: true,
            //EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way
            async: false,
            contentType: "application/json; charset=utf-8",
            timeout: 10*20000,
        success: function (result) {
                if (result.Data != "") {
                    $('#grdData > tbody:last tr:last').remove();
                    $('#grdData').append(result.Data);

                }
                else if (result.fYearS != "") {
                    Alert.render("stock closed for  " + result.fYear + "....."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
                    $('#Datetxt').datepicker("setDate", result.startD);
                    $('#FYtxt').val(result.fYear);
            }
        });
        dateupdate('@Session["ReportDate"]');
        function dateupdate(seletedDate) {
            if (seletedDate != "") {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: seletedDate,
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            else {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd/mm/yy',
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("background-color", "#97c6ed");
        };
        $("#Increase").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var increase = $(tr).find('#Increase').val();

            $(tr).find('#Decrease').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) + parseFloat(increase)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $("#Decrease").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var decrease = $(tr).find('#Decrease').val();
            $(tr).find('#Increase').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) - parseFloat(decrease)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $('#btnSave').on('click', function (e) {
            $("#divLoading").hide();
            GridSave();
        });
        function GridSave() {
            debugger
            var flag = false;
            if (flag == false) {
                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var trw = tbl.rows[irow];
                    if ($(trw).find("#checkRow").is(':checked')) {
                        var Item = $(trw).find("[id='Item']").val();
                        var UOM = $(trw).find("[id='UOM']").val();
                        var Location = $(trw).find("[id='Location']").val();
                        var Lot = $(trw).find("[id='Lot']").val();
                        var OpUnit = $(trw).find("[id='Operating Unit']").val();
                        var Actual = $(trw).find("[id='Actual']").val();
                        var Increase = $(trw).find("[id='Increase']").val();
                        var Decrease = $(trw).find("[id='Decrease']").val();
                        var FBalance = $(trw).find("[id='Final Balance']").val();
                        var ID = $(trw).find("[id='checkRow']").val();
                        var Note = $(trw).find("[id='Note']").val();
                        xmldata = xmldata + "<Column><Item>" + Item + "</Item>";
                        xmldata = xmldata + "<UOM>" + UOM + "</UOM>";
                        xmldata = xmldata + "<Location>" + Location + "</Location>";
                        xmldata = xmldata + "<Lot>" + Lot + "</Lot>";
                        xmldata = xmldata + "<OpUnit>" + OpUnit + "</OpUnit>";
                        xmldata = xmldata + "<Actual>" + Actual + "</Actual>";
                        xmldata = xmldata + "<Increase>" + Increase + "</Increase>";
                        xmldata = xmldata + "<Decrease>" + Decrease + "</Decrease>";
                        xmldata = xmldata + "<FBalance>" + FBalance + "</FBalance>";
                        xmldata = xmldata + "<Note>" + Note + "</Note>";
                        xmldata = xmldata + "<ID>" + ID + "</ID></Column>";
                    }
                }
                xmldata = xmldata + "</ROOT>";
                if (xmldata != "<ROOT></ROOT>") {
                    var dataparam = { list: xmldata };
                    $.ajax({
                        url: "/Setup/SFYSaveGrid",
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "html",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (resultG) {
                            debugger
                            $("#divLoading").show();
                            FormSave();
                        }
                    });
                }
                else {
                    flag = true;
                    Alert.render("please select one row from grid....."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
            }
        }
        function FormSave() {
            debugger
            var FinancialYear = $('#FinancialYeartxt').val();
            var Date = $('#Datetxt').val();
            var FYtxt = $('#FYtxt').val();
            var Memo = $('#memotxt').val();
            var insert = "INSERT";
            var dataparam = {
                FinancialYear: FinancialYear, Date: Date, FYtxt: FYtxt, insert: insert, memo: Memo
            };
            $.ajax({
                url: "/Setup/SaveCloseStock",
                type: "POST",
                data: JSON.stringify(dataparam),
                dataType: "json",
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (resultG) {
                    $("#divLoading").hide();
                    if (resultG.Data > 0) {
                    }
                    window.location.href = "/Setup/CloseStockInfo";
                }
            });
        }
    });
</script>
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" onclick="JavascriptFunction();" />
            </div>
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("CloseStockInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Close Stock#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@ViewBag.TransNo" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@DateTime.Now.ToString(ViewBag.Dateformat)" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FYlbl">Financial Year</label></div>
                    <div class="txt" >
                        <input id="FYtxt" type="text" value="" class="txtclass" readonly="true">
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="memolbl">Memo</label>
                    </div>
                    <div class="txt">
                        <input id="memotxt" pattern="Y" itemid="nvarchar" name="memo" class="txtclass" type="text" value="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Inventory</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                <div id="formtabcontent" class="bottomdivRow">
                    <div id="Items" class="mainRow bottomdivRow">
                        <div id="itemgrid" class="itemGridFB">
                            @{
                                var db = WebMatrix.Data.Database.Open("sqlcon");
                                var books = db.Query(@"SELECT '' ' ', '' Item, '' UOM, '' Location, '' Lot,'' [Operating Unit], '' Actual , '' Increase,'' Decrease,'' [Final Balance],'' Note  ");
                                var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                            }
                            @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                @*grid.Columns(grid.Column(" ", format: @<input id="checkRow" class="chkclass" itemid="" name="" type="checkbox" value="" checked="checked">), 
                grid.Column("Item", format:@<text>@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "--Select--", new { @class = "gridddl", id = "Item" })</text>),
                grid.Column("UOM", format:@<text>@Html.DropDownList("UOM", new SelectList((SelectList)ViewData["UOM"], "Value", "Text"), "--Select--", new { @class = "gridddl", id = "UOM" })</text>),
                grid.Column("Location", format:@<text>@Html.DropDownList("Location", new SelectList((SelectList)ViewData["Location"], "Value", "Text"), "--Select--", new { @class = "gridddl", id = "Location" })</text>),
                grid.Column("Lot", format:@<text>@Html.DropDownList("Lot", new SelectList((SelectList)ViewData["Lot"], "Value", "Text"), "--Select--", new { @class = "gridddl", id = "Lot" })</text>),
                grid.Column("Actual", "Actual", format: @<text><input type="text"   id="Actual"   autocomplete="off" value=""  class="txtgridclass"  /></text>),
                grid.Column("Increase", "Increase", format: @<text><input type="text"   id="Increase"   autocomplete="off" value=""   class="txtgridclass" /></text>),
                grid.Column("Decrease", "Decrease", format: @<text><input type="text"   id="Decrease"   autocomplete="off" value=""   class="txtgridclass"  /></text>),
                grid.Column("Final Balance", "Final Balance", format: @<text><input type="text"   id="Final Balance"   autocomplete="off" value=""  class="txtgridclass"   /></text>))*@
grid.Columns(grid.Column(" ", ""),
                                  grid.Column("Item", "Item"),
                                  grid.Column("UOM", "Units"),
                                  grid.Column("Location", "Location"),
                                  grid.Column("Lot", "Lot"),
                                  grid.Column("Operating Unit", "Operating Unit"),
                                  grid.Column("Actual", "Actual"),
                                  grid.Column("Increase", "Price"),
                                  grid.Column("Decrease", "Total Value"),
                                  grid.Column("Final Balance", "Closing"),
                                  grid.Column("Note", "Note"))
                                  )
                                  )
                        </div>
                    </div>
                </div>
                @*<div class="newrowdiv">
                        <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow">
                        <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow">
                    </div>*@
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>
