﻿@{
    ViewBag.Title = "Close Account";
}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Setup/GridAccountBind",
            type: "POST",
            dataType: "json",
            cache: true,
            //EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Data != "") {
                    $('#grdData > tbody:last tr:last').remove();
                    $('#grdData').append(result.Data);
                }
                else if (result.fYearA != "") {
                    Alert.render("accounts closed for  " + result.fYear + "....."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
                $('#Datetxt').datepicker("setDate", result.startD);
                $('#FYtxt').val(result.fYear);
            }
        });
        $('#newrow').live("click", function () { Newrowadd(); });
        $('#cancelrow').live("click", function () {
            cancelrowclickevent();
        });
            dateupdate('@Session["ReportDate"]');
        function dateupdate(seletedDate) {
            if (seletedDate != "") {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: seletedDate,
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            else {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd/mm/yy',
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("background-color", "#97c6ed");
        };
        $("#Increase").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var increase = $(tr).find('#Increase').val();
            $(tr).find('#Decrease').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) + parseFloat(increase)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $("#Decrease").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var decrease = $(tr).find('#Decrease').val();
            $(tr).find('#Increase').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) - parseFloat(decrease)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $('#btnSave').on('click', function (e) {
            $("#divLoading").hide();
            GridSave();
        });
        function GridSave() {
            debugger
            var flag = false;
            if (flag == false) {
                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var trw = tbl.rows[irow];
                    if ($(trw).find("#checkRow").is(':checked')) {
                        var Account = $(trw).find("[id='Account']").val();
                        var Party = $(trw).find("[id='Party']").val();
                        var OpUnit = $(trw).find("[id='Operating Unit']").val();
                        var Actual = $(trw).find("[id='Actual']").val();
                        var Increase = 0;//$(trw).find("[id='Increase']").val();
                        var Decrease = 0;//$(trw).find("[id='Decrease']").val();
                        var FBalance = $(trw).find("[id='Actual']").val(); //$(trw).find("[id='Final Balance']").val();
                        var LPMade = $(trw).find("[id='Last Payment Made']").val();
                        var LTMade = $(trw).find("[id='Last Transaction Made']").val();
                        var Note = $(trw).find("[id='Note']").val();
                        var ID = $(trw).find("[id='checkRow']").val();
                        xmldata = xmldata + "<Column><Account>" + Account + "</Account>";
                        xmldata = xmldata + "<Party>" + Party + "</Party>";
                        xmldata = xmldata + "<OpUnit>" + OpUnit + "</OpUnit>";
                        xmldata = xmldata + "<Actual>" + Actual + "</Actual>";
                        xmldata = xmldata + "<Increase>" + Increase + "</Increase>";
                        xmldata = xmldata + "<Decrease>" + Decrease + "</Decrease>";
                        xmldata = xmldata + "<FBalance>" + FBalance + "</FBalance>";
                        xmldata = xmldata + "<LPMade>" + LPMade + "</LPMade>";
                        xmldata = xmldata + "<LTMade>" + LTMade + "</LTMade>";
                        xmldata = xmldata + "<Note>" + Note + "</Note>";
                        xmldata = xmldata + "<ID>" + ID + "</ID></Column>";
                    }
                }
                xmldata = xmldata + "</ROOT>";
                if (xmldata != "<ROOT></ROOT>") {
                    var dataparam = { list: xmldata };
                    $.ajax({
                        url: "/Setup/SFYSaveGrid",
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "html",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (resultG) {
                            debugger
                            $("#divLoading").show();
                            FormSave();
                        }
                    });
                }
                else {
                    flag = true;
                    Alert.render("please select one row from grid....."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
            }
        }
        function FormSave() {
            debugger
            var FinancialYear = $('#FinancialYeartxt').val();
            var Date = $('#Datetxt').val();
            var IsActive = $('#IsInventoryClosedchk').is(':checked');
            var FYtxt = $('#FYtxt').val();
            var insert = "INSERT";
            var dataparam = {
                FinancialYear: FinancialYear, Date: Date, IsActive: IsActive, FYtxt: FYtxt, insert: insert
            };
            $.ajax({
                url: "/Setup/SaveCloseAccount",
                type: "POST",
                data: JSON.stringify(dataparam),
                dataType: "json",
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (resultG) {
                    $("#divLoading").hide();
                    if (resultG.Data > 0) {
                    }
                    window.location.href = "/Setup/CloseAccountInfo";
                }
            });
        }
    });
    function cancelrowclickevent(FormID) {
        var Alert = new CustomAlert();
        var tbl = $("#grdData")[0];
        if (tbl.rows.length > 2) {
            $('#grdData > tbody:last tr:last').remove();
            Alert.render('one row deleted......'); $("#alertok").focus();
        }
        else {
            Alert.render('Cancel Row permited, when more than one row exists in Grid......'); $("#alertok").focus();
            return false;
        }
    }
    function CustomAlert() {
        this.render = function (dialog) {
            var winW = window.innerWidth;
            var winH = window.innerHeight;
            var dialogoverlay = document.getElementById('dialogoverlay');
            var dialogbox = document.getElementById('dialogbox');
            dialogoverlay.style.display = "block";
            dialogbox.style.left = (winW / 2) - (350 * .5) + "px";
            dialogbox.style.top = "231px";
            dialogbox.style.display = "block";
            document.getElementById('dialogboxhead').innerHTML = "Message";
            document.getElementById('dialogboxbody').innerHTML = dialog;
            document.getElementById('dialogboxfoot').innerHTML = '<button id="alertok" onclick="Alert.ok()">OK</button>';
        }
        this.ok = function () {
            document.getElementById('dialogbox').style.display = "none";
            document.getElementById('dialogoverlay').style.display = "none";
        }
        this.dialogoverlay = function () {
            document.getElementById('dialogbox').style.display = "none";

            document.getElementById('dialogoverlay').style.display = "none";
        }
    }
    function Newrowadd() {debugger
        var flag = false;
                  var Edit = 0; var micode = 0;
                  var tbl = $('#grdData')[0];
                  var irow = tbl.rows.length - 1
                  var tr = tbl.rows[irow];
                  var eirow = tbl.rows.length; var rq = 0; var bq = 0; var opunit = 0;
                  micode = tr.cells[1].children[0].value;
                  if (flag == false) {
                      $.ajax({
                          url: "/Setup/NewRow",
                          type: "POST",
                          dataType: "json",
                          cache: true,
                          //EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way
                          async: true,
                          contentType: "application/json; charset=utf-8",
                          success: function (result) {
                              $('#grdData').append(result.Data);
                          }
                      });
                  }
              };
</script>
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" onclick="JavascriptFunction();" />
            </div>
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("CloseAccountInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Close Account#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@ViewBag.TransNo" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@DateTime.Now.ToString(ViewBag.Dateformat)" class="date">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="IsInventoryClosedlbl">Is Inventory Closed</label>
                    </div>
                    <div class="txt">
                        <input type="checkbox" class="chkclass" id="IsInventoryClosedchk" name="Is Inventory Closed" value="">
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FYlbl">Financial Year</label></div>
                    <div class="txt" >
                        <input id="FYtxt" type="text" value="" class="txtclass" readonly="true">
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Accounts</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                @{
                    var db = WebMatrix.Data.Database.Open("sqlcon");
                    var books = db.Query(@"SELECT '' ' ', '' Account, '' Party, '' [Operating Unit], '' Actual , '' Increase,'' Decrease,'' [Final Balance],'' [Last Payment Made],'' [Last Transaction Made],'' Note  ");
                    var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                }
                @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                grid.Columns(grid.Column(" ", " "),
                grid.Column("Account", "Account"),
                grid.Column("Party", "Party"),
                grid.Column("Operating Unit", "Operating Unit"),
                grid.Column("Actual", "Actual"),
                //grid.Column("Increase", "Increase"),
                //grid.Column("Decrease", "Decrease"),
                //grid.Column("Final Balance", "Final Balance"),
                grid.Column("Last Payment Made", "Last Payment Made"),
                grid.Column("Last Transaction Made", "Last Transaction Made"),
                grid.Column("Note", "Note"))
                ))
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>
