﻿@{
    ViewBag.Title = "Close Financial Year";
}
<html>
<head>
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grdfData').DataTable({
                "iDisplayLength": 20
            });
        });
    </script>
</head>
<body>
    <div id="divLoading">
        <p>
            <img src="~/Images/ajax-loading.gif"><br />
            Loading, please wait...
        </p>
    </div>
    <div class="topHeaderContentBodyInfoEmptyCont">
        <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
            <div class="topfirstButtonCont">
                <div class="btnContleft">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("CloseFinancialYearInfo", "Setup", new { idi = Request["idi"], FormName = Request["FormName"] }) + "'")    ;  " />
                </div>
                <div class="btnContleft">
                    <input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("CloseFinancialYear", "Setup", new { idi = Request["idi"], FormName = Request["FormName"], ide = "null" }) + "'")    ; " />
                </div>
            </div>
        </div>
        @{List<WebGridColumn> columns = new List<WebGridColumn>();}
        @foreach (var column in ViewBag.columns)
        {
            if (column.ColumnName == "ID")
            {
                columns.Add(new WebGridColumn()
                {
                    ColumnName = "",
                    Header = "",
                    Format =@<text>@Html.ActionLink("Edit", "CloseFinancialYearEdit", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })
            @Html.ActionLink("View", "CloseFinancialYearView", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })</text>
                });
            }
            else
            {
                columns.Add(new WebGridColumn()
                {
                    ColumnName = column.ColumnName,
                    Header = column.Header
                });
            }
        }
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
        }
        <div id="Content" class="overflowGrid">
            <div id="infogridContent">
                @grid.GetHtml(mode: WebGridPagerModes.All, htmlAttributes: new { id = "grdfData" },
            columns: (columns)
               )
            </div>
        </div>
    </div>
</body>
</html>