﻿@model MeBizSuiteAppUI.Controllers.SetupEntities
@{
    ViewBag.Title = "Close Account";
}
<script>
    $(document).ready(function () {
        $('#newrow').live("click", function () { Newrowadd(); });
        $('#cancelrow').live("click", function () {
            cancelrowclickevent();
        });
            dateupdate('@Session["ReportDate"]');
        function dateupdate(seletedDate) {
            if (seletedDate != "") {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: seletedDate,
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            else {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd/mm/yy',
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("background-color", "#97c6ed");
        };
        $("#Increase").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var increase = $(tr).find('#Increase').val();
            $(tr).find('#Decrease').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) + parseFloat(increase)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $("#Decrease").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var decrease = $(tr).find('#Decrease').val();
            $(tr).find('#Increase').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) - parseFloat(decrease)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $('#btnSave').on('click', function (e) {
            $("#divLoading").hide();
            GridSave();
        });
        function GridSave() {
            debugger
            var flag = false;
            if (flag == false) {
                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var trw = tbl.rows[irow];
                    if ($(trw).find("#checkRow").is(':checked')) {
                        var Account = $(trw).find("[id='Account']").val();
                        var Party = $(trw).find("[id='Party']").val();
                        var OpUnit = $(trw).find("[id='Operating Unit']").val();
                        var Actual = $(trw).find("[id='Actual']").val();
                        var Increase = 0;//$(trw).find("[id='Increase']").val();
                        var Decrease = 0;//$(trw).find("[id='Decrease']").val();
                        var FBalance = $(trw).find("[id='Actual']").val(); //$(trw).find("[id='Final Balance']").val();
                        var LPMade = $(trw).find("[id='Last Payment Made']").val();
                        var LTMade = $(trw).find("[id='Last Transaction Made']").val();
                        var Note = $(trw).find("[id='Note']").val();
                        var ID = $(trw).find("[id='checkRow']").val();
                        xmldata = xmldata + "<Column><Account>" + Account + "</Account>";
                        xmldata = xmldata + "<Party>" + Party + "</Party>";
                        xmldata = xmldata + "<OpUnit>" + OpUnit + "</OpUnit>";
                        xmldata = xmldata + "<Actual>" + Actual + "</Actual>";
                        xmldata = xmldata + "<Increase>" + Increase + "</Increase>";
                        xmldata = xmldata + "<Decrease>" + Decrease + "</Decrease>";
                        xmldata = xmldata + "<FBalance>" + FBalance + "</FBalance>";
                        xmldata = xmldata + "<LPMade>" + LPMade + "</LPMade>";
                        xmldata = xmldata + "<LTMade>" + LTMade + "</LTMade>";
                        xmldata = xmldata + "<Note>" + Note + "</Note>";
                        xmldata = xmldata + "<ID>" + ID + "</ID></Column>";
                    }
                }
                xmldata = xmldata + "</ROOT>";
                if (xmldata != "<ROOT></ROOT>") {
                    var dataparam = { list: xmldata };
                    $.ajax({
                        url: "/Setup/SFYSaveGrid",
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "html",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (resultG) {
                            debugger
                            $("#divLoading").show();
                            FormSave();
                        }
                    });
                }
                else {
                    flag = true;
                    Alert.render("please select one row from grid....."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
            }
        }
        function FormSave() {
            debugger
            var FinancialYear = $('#FinancialYeartxt').val();
            var Date = $('#Datetxt').val();
            var IsActive = $('#IsInventoryClosedchk').is(':checked');
            var FYtxt = $('#FYtxt').val();
            var insert = "UPDATE";
            var dataparam = {
                FinancialYear: FinancialYear, Date: Date, IsActive: IsActive, FYtxt: FYtxt, insert: insert
            };
            $.ajax({
                url: "/Setup/SaveCloseAccount?ide="+@Request["ide"]+"",
                type: "POST",
                data: JSON.stringify(dataparam),
                dataType: "json",
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (resultG) {
                    $("#divLoading").hide();
                    if (resultG.Data > 0) {
                    }
                    window.location.href = "/Setup/CloseAccountInfo";
                }
            });
        }
    });
</script>
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" onclick="JavascriptFunction();" />
            </div>
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("CloseAccountInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Close Account#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@Model.Trans" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@Model.Date" class="date">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="IsInventoryClosedlbl">Is Inventory Closed</label>
                    </div>
                    <div class="txt">
                        @if (@Model.Stock == "True")
                        {
                        <input type="checkbox" class="chkclass" id="IsInventoryClosedchk" name="Is Inventory Closed" value="" checked="checked">
                        }
                        else
                        {
                        <input type="checkbox" class="chkclass" id="IsInventoryClosedchk" name="Is Inventory Closed" value="">
                        }
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FYlbl">Financial Year</label></div>
                    <div class="txt" >
                        <input id="FYtxt" type="text" value="@Model.FYear" class="txtclass" readonly="true">
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Accounts</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                @{
                    var db = WebMatrix.Data.Database.Open("sqlcon");
                    var books = db.Query(@"SELECT '' ' ', F58.COLUMN02 ID,F58.COLUMN03 ACID,F1.COLUMN04 AC,F58.COLUMN04 PID,CASE WHEN F1.COLUMN07=22263 OR F58.COLUMN03=1120 THEN M7.COLUMN05
 WHEN  F1.COLUMN07=22264 OR F58.COLUMN03=1119 THEN M2.COLUMN05 ELSE NULL END PARTY,F58.COLUMN12 OPID,C7.COLUMN03 OP, F58.COLUMN05 ACTUAL,F58.COLUMN06 INCREASE,F58.COLUMN07 DECREASE,F58.COLUMN08 FINAL,F58.COLUMN09 LastPaymentMade,F58.COLUMN10 LastTransactionMade,F58.COLUMN13 NOTE FROM FITABLE058 F58 LEFT JOIN SATABLE001 M7 ON M7.COLUMN02=F58.COLUMN04 AND M7.COLUMNA03=F58.COLUMNA03 LEFT JOIN SATABLE002 M2 ON M2.COLUMN02=F58.COLUMN04 AND M2.COLUMNA03=F58.COLUMNA03 LEFT JOIN CONTABLE007 C7 ON C7.COLUMN02=F58.COLUMN12 AND C7.COLUMNA03=F58.COLUMNA03 INNER JOIN FITABLE001 F1 ON F1.COLUMN02=F58.COLUMN03 AND F1.COLUMNA03=F58.COLUMNA03  AND isnull(F1.COLUMNA13,0)= 0 WHERE F58.COLUMN11=" + Request["ide"] + " AND F58.COLUMNA13=0 ORDER BY F58.COLUMN02 ");
                    var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                }
                @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                 grid.Columns(grid.Column(" ", format: @<input id="checkRow" class="chkclass" itemid="" name="" type="checkbox" value="@item.ID" checked="checked">),
                grid.Column("Account", format: @<select class='gridddl' id='Account' name='Account' style='min-width: 150px'><option value=" @item.ACID " >@item.AC</option></select>),
                grid.Column("Party", format: @<select class='gridddl' id='Party' name='Party' style='min-width: 150px'><option value=" @item.PID " >@item.PARTY</option></select>),
                grid.Column("Operating Unit", format: @<select class='gridddl' id='Operating Unit' name='Operating Unit' style='min-width: 150px'><option value=" @item.OPID " >@item.OP</option></select>),
                grid.Column("Actual", "Actual", format: @<text><input type="text"   id="Actual"   autocomplete="off" value="@item.Actual" readonly='true'  class="txtgridclass"  /></text>),
                //grid.Column("Increase", "Increase", format: @<text><input type="text"   id="Increase"   autocomplete="off" value="@item.Increase"   class="txtgridclass" /></text>),
                //grid.Column("Decrease", "Decrease", format: @<text><input type="text"   id="Decrease"   autocomplete="off" value="@item.Decrease"   class="txtgridclass"  /></text>),
                //grid.Column("Final Balance", "Final Balance", format: @<text><input type="text"   id="Final Balance"   autocomplete="off" value="@item.Final"  class="txtgridclass"   /></text>),
                grid.Column("Last Payment Made", "LastPaymentMade", format: @<text><input type="text"   id="Last Payment Made"   autocomplete="off" value="@item.LastPaymentMade"  class="txtgridclass"   /></text>),
                grid.Column("Last Transaction Made", "LastTransactionMade", format: @<text><input type="text"   id="Last Transaction Made"   autocomplete="off" value="@item.LastTransactionMade"  class="txtgridclass"   /></text>),
                grid.Column("Note", "Note", format: @<text><input type="text"   id="Note"   autocomplete="off" value="@item.Note"  class="txtgridclass"   /></text>))
                        //grid.Columns(grid.Column(" ", " "),
                        //grid.Column("Account", "Account"),
                        //grid.Column("Party", "Party"),
                        //grid.Column("Operating Unit", "Operating Unit"),
                        //grid.Column("Actual", "Actual"),
                        //grid.Column("Increase", "Increase"),
                        //grid.Column("Decrease", "Decrease"),
                        //grid.Column("Final Balance", "Final Balance"),
                        //grid.Column("Last Payment Made", "Last Payment Made"),
                        //grid.Column("Last Transaction Made", "Last Transaction Made"),
                        //grid.Column("Note", "Note"))
                ))
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>
