﻿@model MeBizSuiteAppUI.Controllers.SetupEntities
@{
    ViewBag.Title = "Close Stock";
}
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("CloseStockInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Close Stock#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@Model.Trans" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@Model.Date" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FYlbl">Financial Year</label></div>
                    <div class="txt" >
                        <input id="FYtxt" type="text" value="@Model.FYear" class="txtclass" readonly="true">
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="memolbl">Memo</label>
                    </div>
                    <div class="txt">
                        <input id="memotxt" pattern="Y" itemid="nvarchar" name="memo" class="txtclass" type="text" value="@Model.Memo" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Inventory</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                <div id="formtabcontent" class="bottomdivRow">
                    <div id="Items" class="mainRow bottomdivRow">
                        <div id="itemgrid" class="itemGridFB">
                            @{
                                var db = WebMatrix.Data.Database.Open("sqlcon");
                                var books = db.Query(@"SELECT '' ' ', F57.COLUMN02 ID,F57.COLUMN03 ITEMID,M7.COLUMN04 ITEM,F57.COLUMN04 UOMID,M2.COLUMN04 UOM,F57.COLUMN05 LOCID,C30.COLUMN04 LOC,F57.COLUMN06 LOTID,F43.COLUMN04 LOT,F57.COLUMN12 OPID,C7.COLUMN03 OP, F57.COLUMN07 ACTUAL,F57.COLUMN08 INCREASE,F57.COLUMN09 DECREASE,F57.COLUMN10 FINAL,F57.COLUMN13 NOTE FROM FITABLE057 F57 LEFT JOIN MATABLE007 M7 ON M7.COLUMN02=F57.COLUMN03 AND M7.COLUMNA03=F57.COLUMNA03 LEFT JOIN MATABLE002 M2 ON M2.COLUMN02=F57.COLUMN04 AND M2.COLUMNA03=F57.COLUMNA03 LEFT JOIN CONTABLE030 C30 ON C30.COLUMN02=F57.COLUMN05 AND C30.COLUMNA03=F57.COLUMNA03
                                                       LEFT JOIN FITABLE043 F43 ON F43.COLUMN02=F57.COLUMN06 AND F43.COLUMNA03=F57.COLUMNA03 LEFT JOIN CONTABLE007 C7 ON C7.COLUMN02=F57.COLUMN12 AND C7.COLUMNA03=F57.COLUMNA03 WHERE F57.COLUMN11="+Request["ide"]+" AND F57.COLUMNA13=0 ORDER BY M7.COLUMN04 ");
                                var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                            }
                            @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                grid.Columns(grid.Column(" ", format: @<input id="checkRow" class="chkclass" itemid="" name="" type="checkbox" value="@item.ID" checked="checked">), 
                grid.Column("Item", format:@<select class='gridddl' id='Item' name='Item' style='min-width: 150px'><option value=" @item.ITEMID " >@item.ITEM</option></select>),
                grid.Column("UOM", format:@<select class='gridddl' id='UOM' name='UOM' style='min-width: 150px'><option value=" @item.UOMID " >@item.UOM</option></select>),
                grid.Column("Location", format:@<select class='gridddl' id='Location' name='Location' style='min-width: 150px'><option value=" @item.LOCID " >@item.LOC</option></select>),
                grid.Column("Lot", format:@<select class='gridddl' id='Lot' name='Lot' style='min-width: 150px'><option value=" @item.LotID " >@item.Lot</option></select>),
                grid.Column("Operating Unit", format:@<select class='gridddl' id='Operating Unit' name='Operating Unit' style='min-width: 150px'><option value=" @item.OPID " >@item.OP</option></select>),
                grid.Column("Actual", "Actual", format: @<text><input type="text"   id="Actual"  readonly='true'  autocomplete="off" value="@item.Actual"  class="txtgridclass"  /></text>),
                grid.Column("Increase", "Price", format: @<text><input type="text"   id="Increase"  readonly='true'  autocomplete="off" value="@item.Increase"   class="txtgridclass" /></text>),
                grid.Column("Decrease", "Total Value", format: @<text><input type="text"   id="Decrease"  readonly='true'  autocomplete="off" value="@item.Decrease"   class="txtgridclass"  /></text>),
                grid.Column("Final Balance", "Closing", format: @<text><input type="text"  readonly='true'  id="Final Balance"   autocomplete="off" value="@item.Final"  class="txtgridclass"   /></text>),
                grid.Column("Note", "Note", format: @<text><input type="text"   id="Note"  readonly='true'  autocomplete="off" value="@item.Note"  class="txtgridclass"   /></text>))
                                  //grid.Columns(grid.Column(" ", ""),
                                  //grid.Column("Item", "Item"),
                                  //grid.Column("UOM", "UOM"),
                                  //grid.Column("Location", "Location"),
                                  //grid.Column("Lot", "Lot"),
                                  //grid.Column("Operating Unit", "Operating Unit"),
                                  //grid.Column("Actual", "Actual"),
                                  //grid.Column("Increase", "Increase"),
                                  //grid.Column("Decrease", "Decrease"),
                                  //grid.Column("Final Balance", "Final Balance"),
                                  //grid.Column("Note", "Note"))
                                  )
                                  )
                        </div>
                    </div>
                </div>
                @*<div class="newrowdiv">
                        <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow">
                        <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow">
                    </div>*@
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>
