﻿@model MeBizSuiteAppUI.Controllers.SetupEntities
@{
    ViewBag.Title = "Close Stock";
}
<script>
    $(document).ready(function () {
        dateupdate('@Session["ReportDate"]');
        function dateupdate(seletedDate) {
            if (seletedDate != "") {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: seletedDate,
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            else {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd/mm/yy',
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("background-color", "#97c6ed");
        };
        $("#Increase").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var increase = $(tr).find('#Increase').val();

            $(tr).find('#Decrease').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) + parseFloat(increase)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $("#Decrease").live("change", function () {
            debugger
            var tr = $(this).closest("tr");
            var actual = $(tr).find('#Actual').val();
            var decrease = $(tr).find('#Decrease').val();
            $(tr).find('#Increase').val('0');
            var final = $(tr).find("[id='Final Balance']").val();
            final = (parseFloat(actual) - parseFloat(decrease)).toFixed(2)
            $(tr).find("[id='Final Balance']").val(final);
        });
        $('#btnSave').on('click', function (e) {
            $("#divLoading").hide();
            GridSave();
        });
        function GridSave() {
            debugger
            var flag = false;
            if (flag == false) {
                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var trw = tbl.rows[irow];
                    if ($(trw).find("#checkRow").is(':checked')) {
                        var Item = $(trw).find("[id='Item']").val();
                        var UOM = $(trw).find("[id='UOM']").val();
                        var Location = $(trw).find("[id='Location']").val();
                        var Lot = $(trw).find("[id='Lot']").val();
                        var OpUnit = $(trw).find("[id='Operating Unit']").val();
                        var Actual = $(trw).find("[id='Actual']").val();
                        var Increase = $(trw).find("[id='Increase']").val();
                        var Decrease = $(trw).find("[id='Decrease']").val();
                        var FBalance = $(trw).find("[id='Final Balance']").val();
                        var ID = $(trw).find("[id='checkRow']").val();
                        var Note = $(trw).find("[id='Note']").val();
                        xmldata = xmldata + "<Column><Item>" + Item + "</Item>";
                        xmldata = xmldata + "<UOM>" + UOM + "</UOM>";
                        xmldata = xmldata + "<Location>" + Location + "</Location>";
                        xmldata = xmldata + "<Lot>" + Lot + "</Lot>";
                        xmldata = xmldata + "<OpUnit>" + OpUnit + "</OpUnit>";
                        xmldata = xmldata + "<Actual>" + Actual + "</Actual>";
                        xmldata = xmldata + "<Increase>" + Increase + "</Increase>";
                        xmldata = xmldata + "<Decrease>" + Decrease + "</Decrease>";
                        xmldata = xmldata + "<FBalance>" + FBalance + "</FBalance>";
                        xmldata = xmldata + "<Note>" + Note + "</Note>";
                        xmldata = xmldata + "<ID>" + ID + "</ID></Column>";
                    }
                }
                xmldata = xmldata + "</ROOT>";
                if (xmldata != "<ROOT></ROOT>") {
                    var dataparam = { list: xmldata };
                    $.ajax({
                        url: "/Setup/SFYSaveGrid",
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "html",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (resultG) {
                            debugger
                            $("#divLoading").show();
                            FormSave();
                        }
                    });
                }
                else {
                    flag = true;
                    Alert.render("please select one row from grid....."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
            }
        }
        function FormSave() {
            debugger
            var FinancialYear = $('#FinancialYeartxt').val();
            var Date = $('#Datetxt').val();
            var FYtxt = $('#FYtxt').val();
            var Memo = $('#memotxt').val();
            var insert = "UPDATE";
            var dataparam = {
                FinancialYear: FinancialYear, Date: Date, FYtxt: FYtxt, insert: insert, memo: Memo
            };
            $.ajax({
                url: "/Setup/SaveCloseStock?ide="+@Request["ide"]+"",
                type: "POST",
                data: JSON.stringify(dataparam),
                dataType: "json",
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (resultG) {
                    $("#divLoading").hide();
                    if (resultG.Data > 0) {
                    }
                    window.location.href = "/Setup/CloseStockInfo";
                }
            });
        }
    });
</script>
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" onclick="JavascriptFunction();" />
            </div>
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("CloseStockInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Close Stock#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@Model.Trans" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@Model.Date" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FYlbl">Financial Year</label></div>
                    <div class="txt" >
                        <input id="FYtxt" type="text" value="@Model.FYear" class="txtclass" readonly="true">
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="memolbl">Memo</label>
                    </div>
                    <div class="txt">
                        <input id="memotxt" pattern="Y" itemid="nvarchar" name="memo" class="txtclass" type="text" value="@Model.Memo" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Inventory</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                <div id="formtabcontent" class="bottomdivRow">
                    <div id="Items" class="mainRow bottomdivRow">
                        <div id="itemgrid" class="itemGridFB">
                            @{
                                var db = WebMatrix.Data.Database.Open("sqlcon");
                                var books = db.Query(@"SELECT '' ' ', F57.COLUMN02 ID,F57.COLUMN03 ITEMID,M7.COLUMN04 ITEM,F57.COLUMN04 UOMID,M2.COLUMN04 UOM,F57.COLUMN05 LOCID,C30.COLUMN04 LOC,F57.COLUMN06 LOTID,F43.COLUMN04 LOT,F57.COLUMN12 OPID,C7.COLUMN03 OP, F57.COLUMN07 ACTUAL,F57.COLUMN08 INCREASE,F57.COLUMN09 DECREASE,F57.COLUMN10 FINAL,F57.COLUMN13 NOTE FROM FITABLE057 F57 LEFT JOIN MATABLE007 M7 ON M7.COLUMN02=F57.COLUMN03 AND M7.COLUMNA03=F57.COLUMNA03 LEFT JOIN MATABLE002 M2 ON M2.COLUMN02=F57.COLUMN04 AND M2.COLUMNA03=F57.COLUMNA03 LEFT JOIN CONTABLE030 C30 ON C30.COLUMN02=F57.COLUMN05 AND C30.COLUMNA03=F57.COLUMNA03
                                                       LEFT JOIN FITABLE043 F43 ON F43.COLUMN02=F57.COLUMN06 AND F43.COLUMNA03=F57.COLUMNA03 LEFT JOIN CONTABLE007 C7 ON C7.COLUMN02=F57.COLUMN12 AND C7.COLUMNA03=F57.COLUMNA03 WHERE F57.COLUMN11="+Request["ide"]+" AND F57.COLUMNA13=0 ORDER BY M7.COLUMN04 ");
                                var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                            }
                            @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                grid.Columns(grid.Column(" ", format: @<input id="checkRow" class="chkclass" itemid="" name="" type="checkbox" value="@item.ID" checked="checked">), 
                grid.Column("Item", format:@<select class='gridddl' id='Item' name='Item' style='min-width: 150px'><option value=" @item.ITEMID " >@item.ITEM</option></select>),
                grid.Column("UOM", format:@<select class='gridddl' id='UOM' name='UOM' style='min-width: 150px'><option value=" @item.UOMID " >@item.UOM</option></select>),
                grid.Column("Location", format:@<select class='gridddl' id='Location' name='Location' style='min-width: 150px'><option value=" @item.LOCID " >@item.LOC</option></select>),
                grid.Column("Lot", format:@<select class='gridddl' id='Lot' name='Lot' style='min-width: 150px'><option value=" @item.LotID " >@item.Lot</option></select>),
                grid.Column("Operating Unit", format:@<select class='gridddl' id='Operating Unit' name='Operating Unit' style='min-width: 150px'><option value=" @item.OPID " >@item.OP</option></select>),
                grid.Column("Actual", "Actual", format: @<text><input type="text"   id="Actual"  readonly='true'  autocomplete="off" value="@item.Actual"  class="txtgridclass"  /></text>),
                grid.Column("Increase", "Price", format: @<text><input type="text"   id="Increase" readonly='true'   autocomplete="off" value="@item.Increase"   class="txtgridclass" /></text>),
                grid.Column("Decrease", "Total Value", format: @<text><input type="text"   id="Decrease"  readonly='true'  autocomplete="off" value="@item.Decrease"   class="txtgridclass"  /></text>),
                grid.Column("Final Balance", "Closing", format: @<text><input type="text"   id="Final Balance" readonly='true'   autocomplete="off" value="@item.Final"  class="txtgridclass"   /></text>),
                grid.Column("Note", "Note", format: @<text><input type="text"   id="Note"   autocomplete="off" value="@item.Note"  class="txtgridclass"   /></text>))
                                  //grid.Columns(grid.Column(" ", ""),
                                  //grid.Column("Item", "Item"),
                                  //grid.Column("UOM", "UOM"),
                                  //grid.Column("Location", "Location"),
                                  //grid.Column("Lot", "Lot"),
                                  //grid.Column("Operating Unit", "Operating Unit"),
                                  //grid.Column("Actual", "Actual"),
                                  //grid.Column("Increase", "Increase"),
                                  //grid.Column("Decrease", "Decrease"),
                                  //grid.Column("Final Balance", "Final Balance"),
                                  //grid.Column("Note", "Note"))
                                  )
                                  )
                        </div>
                    </div>
                </div>
                @*<div class="newrowdiv">
                        <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow">
                        <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow">
                    </div>*@
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>
