﻿@model MeBizSuiteAppUI.Controllers.SetupEntities
@{
    ViewBag.Title = "Close Financial Year";
}
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("CloseFinancialYearInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FinancialYearlbl">Financial Year#</label></div>
                    <div class="txt" >
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@Model.Trans" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@Model.Date" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="YearStartDatelbl">Year Start Date</label></div>
                    <div class="txt" >
                        <input id="YearStartDatetxt" type="text" value="@Model.YSDate" class="date">
                    </div>
                </div>
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" id="YearEndDatelbl">Year End Date</div>
                    <div class="txt" >
                        <input name="YearEndDate" id="YearEndDatetxt" type="text" value="@Model.YEDate" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="IsStockClosedlbl">Is Stock Closed</label></div>
                    <div class="txt">
                        @if (@Model.Stock == "Yes")
                        {
                            <input type="checkbox" class="chkclass" id="IsStockClosedchk" name="Is Stock Closed" value="@Model.Stock" checked="checked">}
                        else
                        {
                            <input type="checkbox" class="chkclass" id="IsStockClosedchk" name="Is Stock Closed" value="@Model.Stock">}
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="IsAccountClosedlbl">Is Account Closed</label></div>
                    <div class="txt">
                        @if (@Model.Account == "Yes")
                        {
                            <input type="checkbox" class="chkclass" id="IsAccountClosedchk" name="Is Account Closed" value="@Model.Account" checked="checked">
                        }
                        else
                        {   
                            <input type="checkbox" class="chkclass" id="IsAccountClosedchk" name="Is Account Closed" value="@Model.Account">
                        }
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="LockFinancialYearlbl">Lock Financial Year</label></div>
                    <div class="txt" >
                        @if (@Model.Lock == "True")
                        {
                        <input type="checkbox" class="chkclass" id="LockFinancialYearchk" name="Lock Financial Year" value="@Model.Lock" checked="checked">
                        }
                        else{
                        <input type="checkbox" class="chkclass" id="LockFinancialYearchk" name="Lock Financial Year" value="@Model.Lock">
                        }  
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
    </div>
</div>
