﻿@model MeBizSuiteAppUI.Controllers.SetupEntities
@{
    ViewBag.Title = "Set Financial Year";
}
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("SettingFiscalYearInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Financial Year#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@Model.Trans"  readonly="true"/>
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="Datelbl">Date</label>
                    </div>
                    <div class="txt">
                        <input id="Datetxt" type="text" value="@Model.Date" class="date">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl" id="SubPeriodlbl">Financial Year</div>
                    <div class="txt">
                        @Html.DropDownList("FinancialYear", new SelectList((SelectList)ViewData["FinancialYear"], "Value", "Text"),  new { @class = "gridddl", id = "FinancialYear" })
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="YearStartDatelbl">Year Start Date</label>
                    </div>
                    <div class="txt">
                        <input id="YearStartDatetxt" type="text" value="@Model.YSDate" class="date"  readonly="true">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl" id="YearEndDatelbl">Year End Date</div>
                    <div class="txt">
                        <input name="YearEndDate" id="YearEndDatetxt" type="text" value="@Model.YEDate" class="date"  readonly="true">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="LockFinancialYearlbl">Lock Financial Year</label>
                    </div>
                    <div class="txt">
                        @if (@Model.Lock == "True")
                        {
                            <input type="checkbox" class="chkclass" id="LockFinancialYearchk" name="Lock Financial Year" value="" checked="checked">}
                        else
                        {
                            <input type="checkbox" class="chkclass" id="LockFinancialYearchk" name="Lock Financial Year" value="">
                        }
                    </div>
                </div>
            </div>
            <div class="mainRow">
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
    </div>
</div>