﻿@{
    ViewBag.Title = "Set Financial Year";
}
<script>
    $(document).ready(function () {
        dateupdate('@Session["ReportDate"]');
        function dateupdate(seletedDate) {
            if (seletedDate != "") {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: seletedDate,
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            else {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd/mm/yy',
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("background-color", "#97c6ed");
        };
        $("#FinancialYear").live("change", function () {
            var id = $(this).val();
            if (id != '') {
                $.ajax({
                    url: "/Setup/GetSFY",
                    type: "POST",
                    dataType: "json",
                    cache: true,
                    async: true,
                    data: JSON.stringify({ id: id }),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger
                        $('#YearStartDatetxt').datepicker("setDate", result.sdt);
                        $('#YearEndDatetxt').datepicker("setDate", result.edt);
                    }
                });
            }
        });
        $('#btnSave').on('click', function (e) {
            $("#divLoading").show();
            FormSave();
        });
        function FormSave() {
            debugger
            var id = $("#FinancialYear").val();
            if (id == '') {
                flag = true;
                Alert.render("please select Financial Year....."); $("#FinancialYear").focus();
                $("#divLoading").hide();
                return false;
            }
            else {
                var FinancialYearN = $('#FinancialYeartxt').val();
                var Date = $('#Datetxt').val();
                var FinancialYear = $('#FinancialYear').val();
                var YearStartDate = $('#YearStartDatetxt').val();
                var YearEndDate = $('#YearEndDatetxt').val();
                var IsActive = $('#LockFinancialYearchk').is(':checked');
                var insert = "INSERT";
                var dataparam = {
                    FinancialYearN: FinancialYearN, Date: Date, FinancialYear: FinancialYear, YearStartDate: YearStartDate, YearEndDate: YearEndDate,
                    IsActive: IsActive, insert: insert
                };
                $.ajax({
                    url: "/Setup/SaveSettingFiscalYear",
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (resultG) {
                        $("#divLoading").hide();
                        if (resultG.Data > 0) {
                        }
                        window.location.href = "/Setup/SettingFiscalYearInfo";
                    }
                });
            }
        }
    });
</script>
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" onclick="JavascriptFunction();" />
            </div>
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("SettingFiscalYearInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="FinancialYearlbl">Financial Year#</label>
                    </div>
                    <div class="txt">
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@ViewBag.TransNo"  readonly="true"/>
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="Datelbl">Date</label>
                    </div>
                    <div class="txt">
                        <input id="Datetxt" type="text" value="@DateTime.Now.ToString(ViewBag.Dateformat)" class="date">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl" id="SubPeriodlbl">Financial Year</div>
                    <div class="txt">
                        @Html.DropDownList("FinancialYear", new SelectList((SelectList)ViewData["FinancialYear"], "Value", "Text"), "--Select--", new { @class = "gridddl", id = "FinancialYear" })
                    </div>
                </div>
            </div>
            <div class="mainRow">
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="YearStartDatelbl">Year Start Date</label>
                    </div>
                    <div class="txt">
                        <input id="YearStartDatetxt" type="text" value="@DateTime.Now.ToString(ViewBag.Dateformat)" class="date" readonly="true">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl" id="YearEndDatelbl">Year End Date</div>
                    <div class="txt">
                        <input name="YearEndDate" id="YearEndDatetxt" type="text" value="@DateTime.Now.AddMonths(12).AddDays(-1).ToString(ViewBag.Dateformat)" class="date"  readonly="true">
                    </div>
                </div>
                <div class="mainRowCon">
                    <div class="lbl">
                        <label id="LockFinancialYearlbl">Lock Financial Year</label>
                    </div>
                    <div class="txt">
                        <input type="checkbox" class="chkclass" id="LockFinancialYearchk" name="Lock Financial Year" value="">
                    </div>
                </div>
            </div>
            <div class="mainRow">
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
    </div>
</div>
