﻿@{
    ViewBag.Title = "Create Financial Year";
}
<script>
    $(document).ready(function () {
        $('#SubPeriod').val(23150);
        if ($('#SubPeriod').val()==23150)
        {
            $('#NoofPeriodstxt').val(1);
            var sub = $('#SubPeriod').val();
            var sdt = $('#YearStartDatetxt').val();
            GridDataBind(sub, sdt);
        }
        $("#SubPeriod").live("change", function () {
            var sub = $('#SubPeriod').val();
            var sdt = $('#YearStartDatetxt').val();
            if (sub == 23150) {
                $('#NoofPeriodstxt').val(1);
            }
            else if (sub == 23151) {
                $('#NoofPeriodstxt').val(4);
            }
            else if (sub == 23152) {
                $('#NoofPeriodstxt').val(12);
            }
            else {
                $('#NoofPeriodstxt').val('');
            }
            GridDataBind(sub, sdt);
        });
        $("#YearStartDatetxt").live("change", function () {
            var sub = $('#SubPeriod').val();
            var sdt = $('#YearStartDatetxt').val();
            if (sub == 23150) {
                $('#NoofPeriodstxt').val(1);
            }
            else if (sub == 23151) {
                $('#NoofPeriodstxt').val(4);
            }
            else if (sub == 23152) {
                $('#NoofPeriodstxt').val(12);
            }
            else {
                $('#NoofPeriodstxt').val('');
            }
            GridDataBind(sub, sdt);
        });
        dateupdate('@Session["ReportDate"]');
        function dateupdate(seletedDate) {
            if (seletedDate != "") {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: seletedDate,
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            else {
                $('.date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd/mm/yy',
                    showOn: "button",
                    buttonImage: "/images/calendar.png",
                    buttonImageOnly: true, readonly: true, showOn: "both"
                });
            }
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("width", "16px");
            $('.ui-datepicker-trigger').css("background-color", "#97c6ed");
        };
        function GridDataBind(sub, sdt) {
            $.ajax({
                url: "/Setup/GridFilter",
                type: "POST",
                dataType: "json",
                cache: true,
                async: true,
                data: JSON.stringify({ sub: sub, sdt: sdt }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#grdData > tbody').remove();
                    $('#grdData').append(result.Data);
                    $('#YearEndDatetxt').datepicker("setDate", result.EDT);
                    $('#FinancialYeartxt').val(result.trans);
                }
            });
        }
        $('#sfybtnSave').on('click', function (e) {
            $("#divLoading").hide();
            GridSave();
        });
        function GridSave() {
            debugger
            var flag = false;
            if (flag == false) {
                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var trw = tbl.rows[irow];
                    if ($(trw).find("#checkRow").is(':checked')) {
                        var name = $(trw).find("[id='Name']").val();
                        var fDate = $(trw).find("[id='From Date']").val();
                        var tDate = $(trw).find("[id='To Date']").val();
                        var id = $(trw).find("[id='checkRow']").val();
                        xmldata = xmldata + "<Column><Name>" + name + "</Name>";
                        xmldata = xmldata + "<FDate>" + fDate + "</FDate>";
                        xmldata = xmldata + "<TDate>" + tDate + "</TDate>";
                        xmldata = xmldata + "<id>" + id + "</id></Column>";
                    }
                }
                xmldata = xmldata + "</ROOT>";
                if (xmldata != "<ROOT></ROOT>") {
                    var dataparam = { list: xmldata };
                    $.ajax({
                        url: "/Setup/SFYSaveGrid",
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "html",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (resultG) {
                            debugger
                            $("#divLoading").show();
                            FormSave();
                        }
                    });
                }
                else {
                        flag = true;
                        Alert.render("please select one sub period....."); $("#alertok").focus(); $("#divLoading").hide();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); return false;
                        })
                }
            }
        }
        function FormSave() {debugger
            var FinancialYear = $('#FinancialYeartxt').val();
            var Date = $('#Datetxt').val();
            var SubPeriod = $('#SubPeriod').val();
            var NoofPeriods = $('#NoofPeriodstxt').val();
            var YearStartDate = $('#YearStartDatetxt').val();
            var YearEndDate = $('#YearEndDatetxt').val();
            var IsActive = $('#IsActivechk').is(':checked');
            var insert = "INSERT";
            var dataparam = {
                FinancialYear: FinancialYear, Date: Date, SubPeriod: SubPeriod, NoofPeriods: NoofPeriods, YearStartDate: YearStartDate, YearEndDate: YearEndDate,
                IsActive: IsActive, insert: insert
            };
            $.ajax({
                url: "/Setup/SaveSetupFinancialYear",
                type: "POST",
                data: JSON.stringify(dataparam),
                dataType: "json",
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (resultG) {
                    $("#divLoading").hide();
                    if (resultG.Data > 0) {
                    }
                    window.location.href = "/Setup/SetupFinancialYearInfo";
                    }
                });
            }
    });
</script>
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="Save" class="buttonclass btn_sample" id="sfybtnSave" onclick="JavascriptFunction();" />
            </div>
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("SetupFinancialYearInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FinancialYearlbl">Financial Year#</label></div>
                    <div class="txt" >
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@ViewBag.TransNo" readonly="true"/>
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@DateTime.Now.ToString(ViewBag.Dateformat)" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" id="SubPeriodlbl">Sub Period</div>
                    <div class="txt" >
                        @Html.DropDownList("SubPeriod", new SelectList((SelectList)ViewData["SubPeriod"], "Value", "Text",selectedValue:23150), "--Select--", new { @class = "gridddl", id = "SubPeriod",style="min-width: 200px" })
                    </div>
                </div>
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="NoofMonthslbl">No of Periods</label></div>
                    <div class="txt" >
                        <input id="NoofPeriodstxt" pattern="Y" itemid="nvarchar" name="NoofPeriods" class="txtclass" type="text" value="" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="YearStartDatelbl">Year Start Date</label></div>
                    <div class="txt" >
                        <input id="YearStartDatetxt" type="text" value="@DateTime.Now.ToString(ViewBag.Dateformat)" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" id="YearEndDatelbl">Year End Date</div>
                    <div class="txt" >
                        <input name="YearEndDate" id="YearEndDatetxt" type="text" value="@DateTime.Now.AddMonths(12).ToString(ViewBag.Dateformat)" class="date">
                    </div>
                </div>
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="IsActivelbl">Is Active</label></div>
                    <div class="txt" >
                        <input type="checkbox" class="chkclass" id="IsActivechk" name="Is Active" value="">
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Accounts</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                @{
                    var db = WebMatrix.Data.Database.Open("sqlcon");
                    var books = db.Query(@"SELECT '' ' ', '' Name, '' [From Date], '' [To Date] ");
                    var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                }
                @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                grid.Columns(grid.Column(" ", " "),
                grid.Column("Name", "Name"),
                grid.Column("From Date", "From Date"),
                grid.Column("To Date", "To Date"))
                ))
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>
