﻿@model MeBizSuiteAppUI.Controllers.SetupEntities
@{
    ViewBag.Title = "Create Financial Year";
}
<div id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">
        <div class="bottomColFB1">
            <div class="btnContleft">
                <input type="button" value="List" class="buttonclass btn_sample" id="btnInfo" onclick="@("window.location.href='" + @Url.Action("SetupFinancialYearInfo", "Setup") + "'")    ; " />
            </div>
        </div>
    </div>
    <div id="FormData" class="bodyFBContent" style="overflow-y: scroll">
        <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto; min-height: 202px">
            <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                Primary
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="FinancialYearlbl">Financial Year#</label></div>
                    <div class="txt" >
                        <input id="FinancialYeartxt" pattern="Y" itemid="nvarchar" name="Financial Year#" class="txtclass" type="text" value="@Model.Trans" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="Datelbl">Date</label></div>
                    <div class="txt" >
                        <input id="Datetxt" type="text" value="@Model.Date" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" id="SubPeriodlbl">Sub Period</div>
                    <div class="txt" >
                        @Html.DropDownList("SubPeriod", new SelectList((SelectList)ViewData["SubPeriod"], "Value", "Text",selectedValue:23150),  new { @class = "gridddl", id = "SubPeriod",style="min-width: 200px" })
                    </div>
                </div>
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="NoofMonthslbl">No of Periods</label></div>
                    <div class="txt" >
                        <input id="NoofPeriodstxt" pattern="Y" itemid="nvarchar" name="NoofPeriods" class="txtclass" type="text" value="@Model.NoofPeriods" />
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="YearStartDatelbl">Year Start Date</label></div>
                    <div class="txt" >
                        <input id="YearStartDatetxt" type="text" value="@Model.YSDate" class="date">
                    </div>
                </div>
                <div class="mainRowCon" >
                    <div class="lbl" id="YearEndDatelbl">Year End Date</div>
                    <div class="txt" >
                        <input name="YearEndDate" id="YearEndDatetxt" type="text" value="@Model.YEDate" class="date">
                    </div>
                </div>
            </div>
            <div class="mainRow" >
                <div class="mainRowCon" >
                    <div class="lbl" >
                        <label id="IsActivelbl">Is Active</label></div>
                    <div class="txt" >
                        @if (Model.IsActive == "Yes")
                        {
                        <input type="checkbox" class="chkclass" id="IsActivechk" name="Is Active" value="" checked="checked">
                        }
                        else{
                        <input type="checkbox" class="chkclass" id="IsActivechk" name="Is Active" value="">
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        <div id="tabs" class="fbTabCon">
            <ul>
                <li class="ui-state-default ui-corner-top" style="text-align: left">
                    <a>Accounts</a>
                </li>
            </ul>
            <div class="fbBodyFoter">
                @{
                    var db = WebMatrix.Data.Database.Open("sqlcon");
                    var books = db.Query(@"SELECT '' ' ', COLUMN03 Name, FORMAT(COLUMN04,'" + Session["DateFormat"] + "') [FromDate], FORMAT(COLUMN05,'" + Session["DateFormat"] + "') [ToDate],COLUMN02 ID FROM FITABLE059 WHERE COLUMN06=" + Request["ide"] + " AND COLUMNA13=0 ");
                    var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
                }
                @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
                columns: (
                grid.Columns(grid.Column(" ", format: @<input  id='checkRow' class='chkclass' itemid=''   name=''  type='checkbox'   value='@item.ID' checked='true'/>),
                grid.Column("Name", format: @<input type='text' id='Name' class='txtgridclass'  pattern=''    itemid='Name' name='Name'    value='@item.Name' >),
                grid.Column("From Date", format: @<input type='text' id='From Date' class='txtgridclass'  pattern=''    itemid='From Date' name='From Date' readonly='true'    value='@item.FromDate' >),
                grid.Column("To Date", format: @<input type='text' id='To Date' class='txtgridclass'  pattern=''    itemid='To Date' name='To Date' readonly='true'    value='@item.ToDate' >))
                ))
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        <div class="btnContleftFB"></div>
    </div>
</div>