﻿@model eBizSuiteAppModel.Table.MATABLE01

@{
    ViewBag.Title = "List Of Values - Master";
}


<header>
    <script>
        $(document).ready(function () {
            $('#form-reset').live('click', function () {
                $(this).formReset();
                return false;
            });
        })
    </script>
</header>
    @using (Html.BeginForm("Create", "LOVMaster1", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
          <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
     <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "LOVMaster1") + "'")    ;" />
           </div>  
        <div class="bottomColFB1">      <input type="submit" name="Save" value="Save"  class="buttonclass"/></div>
        <div class="bottomColFB1">       <input type="submit" name="SaveNew" value="Save & New"   class="buttonclass"/></div>
        @*<div class="bottomColFB1">      <input type="button" value="Cancel"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Index", "LOVMaster1") + "'")    ;" /></div>*@
        <div class="bottomColFB1">     <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>
        </div>        
            <div id="Staticdiv" class="bodyFBContent">
              <div class="divRow"><div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> LOV ID </div>
            <div class="txt">@Html.TextBoxFor(model => model.COLUMN02, new { @readonly = "readonly" , @class="txtclass" })

                            @Html.ValidationMessageFor(model => model.COLUMN02)
                        </div> </div> <div class="mainRowCon">
             <div class="lbl"> Name </div>
             <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN03, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN03)
                        </div> </div> <div class="mainRowCon">
             <div class="lbl"> Description </div>
             <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN04, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)
                        </div>  </div> 
             </div>
             <div class="mainRow">  <div class="mainRowCon">
             <div class="lbl"> Module </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN05, new SelectList(ViewBag.views1, "COLUMN02", "COLUMN03"),"--Select--", new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                        </div></div> 
                 @*<div class="mainRowCon">
             <div class="lbl"> Department </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN06, new SelectList(ViewBag.dept, "COLUMN02", "COLUMN04"),"--Select--", new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN06)
                        </div></div> 
                 <div class="mainRowCon">
             <div class="lbl"> Operating Unt </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN07, new SelectList(ViewBag.ou, "COLUMN02", "COLUMN03"),"--Select--", new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                        </div></div>
                 </div> <div class="mainRow">*@
                       <div class="mainRowCon">
             <div class="lbl"> Inactive Flag </div>
             <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN08)
                            @Html.ValidationMessageFor(model => model.COLUMN08)
                        </div></div></div>
      </div>
            </div>
             <div class="newbottomRowContentFooter" id="footerInfo">
   </div>
    }



