﻿@model eBizSuiteAppModel.Table.MATABLE01

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MATABLE01</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMN01)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMN01)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMN02)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMN02)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMN03)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMN03)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMN04)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMN04)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMN05)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMN05)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA01)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA01)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA02)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA02)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA03)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA03)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA04)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA04)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA05)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA05)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA06)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA06)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA07)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA07)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA08)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA08)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA09)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA09)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNA13)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNA13)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB01)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB01)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB02)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB02)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB03)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB03)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB04)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB04)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB05)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB05)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB06)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB06)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB07)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB07)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB08)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB08)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB09)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB09)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMNB12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMNB12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND01)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND01)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND02)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND02)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND03)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND03)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND04)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND04)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND05)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND05)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND06)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND06)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND07)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND07)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND08)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND08)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND09)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND09)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COLUMND10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COLUMND10)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
