﻿@model eBizSuiteAppModel.Table.CONTABLE008
@{
    ViewBag.Title = "Company Master";
        //Layout=null;
}
<script src="~/Content/formbuildjquery.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
        $(".ui-corner-bottom").css("width", "100%");
    });
</script>
<!DOCTYPE>
<html>
<body>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="rowCont bottomRowContentFB" id="ddl">
            <div class="bottomColFB1">
                <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "CompanyMaster") + "'")    ;" /></div>
            <div class="bottomColFB1">
                <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("/Edit/" + Model.COLUMN02 + "") + "'")    ;" /></div>
            @*<div class="bottomColFB1"> <input type="button" class="buttonclass" id="btnBack"  value="Back"  onclick="@("window.location.href='" + @Url.Action("Info", "CompanyMaster") + "'")    ;" /></div>*@
        </div>
        <div class="bodyFBContent">
            <div id="staticheadersection">
                <div id="Primary" class="bodyFBCon"> Primary </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Company ID </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN02, new { @readonly = true, @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN02)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Name </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN03, new { @readonly = true, @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN03)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Description </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN04, new { @readonly = true, @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)
                        </div>
                    </div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">InActive </div>
                        <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN05, new { @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Business Type </div>
                        <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN06, new SelectList(new List<Object>{
                       new { value = "--Select--" , text = "--Select--"  },
                       new { value = "Distribution" , text = "Distribution"  },
                       new { value = "Manifacturing" , text = "Manifacturing"  },
                       new { value = " Retail" , text = " Retail"  }
                      }, "value", "text", 0), new { @disabled = "disabled", @class = "ddl" })
                            @* @Html.TextBoxFor(model => model.COLUMN08)*@
                            @Html.ValidationMessageFor(model => model.COLUMN06)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Email </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN07, new { @readonly = true, @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                        </div>
                    </div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Logo </div>
                        <div class="txt">
                            <img src="~/Content/Upload/@Model.COLUMN28" alt="@Model.COLUMN28" style="width:40px"/>
                        </div>
                    </div>
                </div>
                <div id="TAXES" class="bodyFBCon"> TAXES </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">VAT NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN27, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">CST NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN29, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Drug Lic#  </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN36, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                    
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Service Tax NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN30, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">PAN NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN31, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">TIN# </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN35, new {@readonly = "readonly" , @class = "txtclass" })
                        </div>
                    </div>
                </div>
                 @*EMPHCS744 - gnaneshwar on 21/7/2015  Adding State License ,Cntral License in Company Master*@
                 <div id="LICENSE" class="bodyFBCon"> LICENSE </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">FSSAI State Lincense No  </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN32, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">FSSAI Cntral Lincese No </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN33, new {@readonly = true, @class = "txtclass" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs" class="fbTabCon">
                <ul>
                    <li><a href="#tabs-1">Address</a></li>
                    @*<li><a href="#tabs-2">Return Address</a></li>*@
                    <li><a href="#tabs-3">Additional Info</a></li>
                    <li><a href="#tabs-4">GST</a></li>
                    <li><a href="#tabs-5">Composition</a></li>
                </ul>

                <div id="tabs-1">
                    <div class="fbBodyFoter">
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Attention </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN08, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN08)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Addressee </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN09, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN09)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Address1 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN10, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN10)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Address2 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN11, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN11)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Country </div>
                                <div class="txt">                                  
                                     @Html.DropDownListFor(model => model.COLUMN15, new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN15)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">State</div>
                                <div class="txt">                                    
                                     @Html.DropDownListFor(model => model.COLUMN13, new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN13)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">City </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN12, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN12)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Zip</div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN14, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN14)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div id="tabs-2">

                    <div class="fbBodyFoter">
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Attention </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN16, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN16)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Addressee </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN17, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN17)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Address1 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN18, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN18)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Address2 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN19, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN19)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Country </div>
                                <div class="txt">
                                     @Html.DropDownListFor(model => model.COLUMN23, new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN23)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">State</div>
                                <div class="txt">
                                     @Html.DropDownListFor(model => model.COLUMN21, new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN21)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">City </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN20, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN20)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Zip</div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN22, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN22)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div id="tabs-3">

                    <div class="fbBodyFoter">
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Info1 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN24, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN24)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Info2 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN25, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN25)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Info3 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN26, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN26)
                                </div>
                            </div>
                        </div>
                            @*EMPHCS1081 by gnaneshwar on 3/09/2015 Adding Amount to be deposited in favour of COLUMN on company master*@

                         <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Amount to be deposited in favour of </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN34, new { @readonly = true, @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN34)
                                </div>
                            </div>
                             </div>
                    </div>
                </div>
                
                    <div id="tabs-4" style="width:100%">
                        
                        <div class="fbBodyFoter">
                            <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">GSTIN </div>
                                    <div class="txt">
                                    <label> :    @Html.DisplayFor(model => model.COLUMND02, new { @class = "txtclass" })</label>
                                        @Html.ValidationMessageFor(model => model.COLUMND02)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">State Code </div>
                                    <div class="txt">
                                   @Html.DropDownListFor(model => model.COLUMND01, new SelectList(@ViewBag.Scode, "COLUMN02", "COLUMN04",0),"---Select---", new { @class = "ddl" })
                                        @Html.ValidationMessageFor(model => model.COLUMND01)
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                <div id="tabs-5" style="width:100%">
                        
                        <div class="fbBodyFoter">
                            <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">Composition </div>
                                    <div class="txt">
                               <label> :    @Html.DisplayFor(model => model.COLUMND03, new { @class = "txtclass" })</label>
                                        @Html.ValidationMessageFor(model => model.COLUMND03)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">State Code </div>
                                    <div class="txt">
                                   @Html.DropDownListFor(model => model.COLUMND04, new SelectList(@ViewBag.Scode, "COLUMN02", "COLUMN04",0),"---Select---", new { @class = "ddl" })
                                        @Html.ValidationMessageFor(model => model.COLUMND04)
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="newbottomRowContentFooter" id="footerInfo">
            @*<div class="btnContleftFB"> 
        <input type="button" value="Back" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "CompanyMaster") + "'")    ;" />
        </div>*@
        </div>
    }

</body>
</html>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
