﻿@model eBizSuiteAppModel.Table.CONTABLE008
@{
    ViewBag.Title = "Company Master";
}
<header>
    <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#COLUMN15").change("change", function () { 
                ddlSelectedCountry($(this).val(),'1');
            });
            $("#COLUMN23").change("change", function () { 
                ddlSelectedCountry($(this).val(),'2');
            });
            $("[id*=COLUMN13]").on("change", function () {
                AddressGSTValidationO($("#COLUMND02").val(), $("#COLUMN15").val(), $("#COLUMN13").val(), "COLUMND02", "COLUMND01");
                AddressGSTValidationCO($("#COLUMND03").val(), $("#COLUMN15").val(), $("#COLUMN13").val(), "COLUMND03", "COLUMND04");
            });
            $("[id*=COLUMND02]").on("change", function () {
                AddressGSTValidationO($("#COLUMND02").val(), $("#COLUMN15").val(), $("#COLUMN13").val(), "COLUMND02", "COLUMND01");
            });
            $("[id*=COLUMND01]").on("change", function () {
                AddressGSTValidationO($("#COLUMND02").val(), $("#COLUMN15").val(), $("#COLUMN13").val(), "COLUMND02", "COLUMND01");
            });
            $("[id*=COLUMND03]").on("change", function () {debugger
                AddressGSTValidationCO($("#COLUMND03").val(), $("#COLUMN15").val(), $("#COLUMN13").val(), "COLUMND03", "COLUMND04");
            });
            $("[id*=COLUMND04]").on("change", function () {debugger
                AddressGSTValidationCO($("#COLUMND03").val(), $("#COLUMN15").val(), $("#COLUMN13").val(), "COLUMND03", "COLUMND04");
            });
            $("#saveform").live("click", function (event) {
                SaveCompany();
            });
            $("#tabs").tabs();
            $(".ui-corner-bottom").css("width", "100%");
            //Delete Company Master
            $('#btnDelete').click(function () {
                CompanyDelete($("#COLUMN02").val());
            })
            //Form Reset
            $('#form-reset').click(function () {
                $(this).formReset();
                return false;
            });
        });
    </script>
</header>
<!DOCTYPE>
<html>
<body>

    @using (Html.BeginForm("Edit", "CompanyMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <div class="rowCont bottomRowContentFB" id="ddl">
            <div class="bottomColFB1">
                <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "CompanyMaster") + "'")    ;" />
            </div>
            <div class="bottomColFB1">
                <input  type="button" id="saveform" name="Save" value="Save" class="buttonclass" /></div>
            @*<div class="bottomColFB1"><input type="button" value="Cancel"class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "CompanyMaster") + "'")    ;" /></div>*@
            <div class="bottomColFB1">
                <input @*onclick="$(this).formclear()"*@ id="form-reset" class='buttonclass' type="button" value="Reset"  /></div>
            <div class="bottomColFB1">
                <input type="button" name="Delete" id="btnDelete" value="Delete" class="buttonclass" /></div>
        </div>
        <div class="bodyFBContent">
            <div id="staticheadersection">
                <div id="Primary" class="bodyFBCon"> Primary </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Company ID </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN02, new { @readonly = true, @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN02)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Name <label class="astric">* </label></div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN03, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN03)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Description </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN04, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)
                        </div>
                    </div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">InActive </div>
                        <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN05)
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Business Type </div>
                        <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN06, new SelectList(new List<Object>{
                       new { value = "--Select--" , text = "--Select--"  },
                       new { value = "Distribution" , text = "Distribution"  },
                       new { value = "Manifacturing" , text = "Manifacturing"  },
                       new { value = " Retail" , text = " Retail"  }
                      }, "value", "text", 0), new { @class = "ddl" })
                            @* @Html.TextBoxFor(model => model.COLUMN08)*@
                            @Html.ValidationMessageFor(model => model.COLUMN06)
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Email </div>
                        <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN07, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                        </div>
                    </div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Logo </div>
                        <div class="txt">
                             <input type="file" accept="image/*" name="file" id="file" style="width: 100%;" />
                            <img src="~/Content/Upload/@Model.COLUMN28" alt="@Model.COLUMN28" style="width:40px"/>
                        </div>
                    </div>
                </div>
                <div id="TAXES" class="bodyFBCon"> TAXES </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">VAT NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN27, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">CST NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN29, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">Drug Lic# </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN36, new { @class = "txtclass" })
                        </div>
                    </div>
                    
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">Service Tax NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN30, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">PAN NO </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN31, new { @class = "txtclass" })
                        </div>
                    </div>
                    
                    <div class="mainRowCon">
                        <div class="lbl">TIN# </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN35, new { @class = "txtclass" })
                        </div>
                    </div>
                    
                </div>
                 @*EMPHCS744 - gnaneshwar on 21/7/2015  Adding State License ,Cntral License in Company Master*@
                 <div id="LICENSE" class="bodyFBCon"> LICENSE </div>
                <div class="mainRow">
                    <div class="mainRowCon">
                        <div class="lbl">FSSAI State Lincense No </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN32, new { @class = "txtclass" })
                        </div>
                    </div>
                    <div class="mainRowCon">
                        <div class="lbl">FSSAI Cntral Lincese No </div>
                        <div class="txt">
                           @Html.TextBoxFor(model => model.COLUMN33, new { @class = "txtclass" })
                        </div>
                    </div>
                    
                </div>
            </div><div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
            <div id="tabs" class="fbTabCon">
                <ul>
                    <li><a href="#tabs-1">Address</a></li>
                    @*<li><a href="#tabs-2">Return Address</a></li>*@
                    <li><a href="#tabs-3">Additional Info</a></li>
                    <li><a href="#tabs-4">GST</a></li>
                    <li><a href="#tabs-5">Composition</a></li>

                </ul>

                <div id="tabs-1">
                    <div class="fbBodyFoter">
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Attention </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN08, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN08)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Addressee </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN09, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN09)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Address1 <label class="astric">* </label></div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN10, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN10)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Address2 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN11, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN11)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Country <label class="astric">* </label></div>
                                <div class="txt">
                                        @Html.DropDownListFor(model => model.COLUMN15, new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl" })
                                    @Html.ValidationMessageFor(model => model.COLUMN15)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">State <label class="astric">* </label></div>
                                <div class="txt">
                                   @Html.DropDownListFor(model => model.COLUMN13, new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl" })
                                    @Html.ValidationMessageFor(model => model.COLUMN13)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">City </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN12, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN12)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Zip</div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN14, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN14)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div id="tabs-2">

                    <div class="fbBodyFoter">
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Attention </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN16, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN16)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Addressee </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN17, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN17)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Address1 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN18, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN18)
                                </div>
                            </div>
                        </div>
                        <div class="mainRow">
                            <div class="mainRowCon">
                                <div class="lbl">Address2 </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN19, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN19)
                                </div>
                            </div>
                                <div class="mainRowCon">
                                <div class="lbl">Country </div>
                                <div class="txt">
                                     @Html.DropDownListFor(model => model.COLUMN23, new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl" })
                                    @Html.ValidationMessageFor(model => model.COLUMN23)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">State</div>
                                <div class="txt">
                                     @Html.DropDownListFor(model => model.COLUMN21, new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03"),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN21)
                                </div>
                            </div>
                    </div>
                        <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">City </div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN20, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN20)
                                </div>
                            </div>
                            <div class="mainRowCon">
                                <div class="lbl">Zip</div>
                                <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN22, new { @class = "txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN22)
                                </div>
                            </div>
                        </div>
                </div>

                

            </div>*@

                <div id="tabs-3">

                        <div class="fbBodyFoter">
                            <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">Info1 </div>
                                    <div class="txt">
                                        @Html.TextBoxFor(model => model.COLUMN24, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMN24)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">Info2 </div>
                                    <div class="txt">
                                        @Html.TextBoxFor(model => model.COLUMN25, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMN25)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">Info3 </div>
                                    <div class="txt">
                                        @Html.TextBoxFor(model => model.COLUMN26, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMN26)
                                    </div>
                                </div>
                            </div>
                            @*EMPHCS1081 by gnaneshwar on 3/09/2015 Adding Amount to be deposited in favour of COLUMN on company master*@
                             <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">Amount to be deposited in favour of </div>
                                    <div class="txt">
                                        @Html.TextAreaFor(model => model.COLUMN34, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMN34)
                                    </div>
                                </div>
                                 </div>
                        </div>
                    </div>
                
                    <div id="tabs-4" style="width:100%">

                        <div class="fbBodyFoter">
                            <div class="mainRow">
                                 <div class="mainRowCon">
                                    <div class="lbl">GSTIN </div>
                                    <div class="txt">
                                        @Html.TextBoxFor(model => model.COLUMND02, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMND02)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">State Code </div>
                                    <div class="txt">
                                     @Html.DropDownListFor(model => model.COLUMND01, new SelectList(@ViewBag.Scode, "COLUMN02", "COLUMN04",0),"---Select---", new { @class = "ddl" })
                                        @Html.ValidationMessageFor(model => model.COLUMND01)
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                <div id="tabs-5" style="width:100%">
                          <div class="fbBodyFoter">
                            <div class="mainRow">
                                <div class="mainRowCon">
                                    <div class="lbl">Composition </div>
                                    <div class="txt">
                                        @Html.TextBoxFor(model => model.COLUMND03, new { @class = "txtclass" })
                                        @Html.ValidationMessageFor(model => model.COLUMND03)
                                    </div>
                                </div>
                                <div class="mainRowCon">
                                    <div class="lbl">State Code </div>
                                    <div class="txt">
                                     @Html.DropDownList("COLUMND04", new SelectList(@ViewBag.Scode, "COLUMN02", "COLUMN04",0),"---Select---", new { @class = "ddl" })
                                        @Html.ValidationMessageFor(model => model.COLUMND04)
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
        </div>
        </div>
        <div class="newbottomRowContentFooter" id="footerInfo">
        </div>
    }

</body>
</html>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}