﻿@{
    ViewBag.Title = "Customer Search(Quick)";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStylesSearch.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/RetailstylesSearch.css" rel="stylesheet" />
   @*<div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>*@
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            //$i('#iteminfo').tabs();
            debugger
            $i("[id*=Submit]").live("click", function () {
                debugger
                var Customer = $("input[name=Customer]").val();
                var Phoneno = $("input[name=Phoneno]").val();
                var Address = $("input[name=Address]").val();
                $.ajax({
                    url: "/Customersearch/GetCustomerDetails",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({ Customer: Customer, Phoneno: Phoneno, Address: Address }),
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger
                        $i("#grdData tbody tr").remove();
                        $i('#grdData').append(result.Data);
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                        $i('#SearchImage').attr("src", result.Data1);
		        $i('#Customerddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                    }
                });
            });
            //$i("#iImageHide").live("click", function () {
            //    $i('#iImageHide').attr('pattern', 'N');
            //    $i('#iNewMDialog').dialog({
            //        autoOpen: false,
            //        modal: true,
            //        width: 1000,
            //        height: 567, resizable: false,
            //        title: "Item",
            //        closeOnEscape: false
            //    })
            //    $('.window').css("top", 30);
            //    $('.window-shadow').css("top", 30);
            //    $i('#tabs1').tabs();
            //    $i(this).attr('pattern', 'Y');
            //    $i('.ui-dialog').show();
            //    $i('.ui-dialog-titlebar').show();
            //    $i('.ui-widget-overlay').show();
            //    if (typeof ($i('.ui-dialog')[0]) != "undefined") {
            //        if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
            //            $i('.ui-dialog')[0].id = 'pnewDialog';
            //            $i('#iNewMDialog').hide();
            //        }
            //    }
            //    if (typeof ($i('.ui-dialog')[1]) != "undefined") {
            //        if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
            //            $i('.ui-dialog')[1].id = 'pnewDialog';
            //            $i('#iNewMDialog').hide();
            //        }
            //    }
            //    $i('#iNewMDialog').dialog('open');
            //    $i('#iNewMDialog').show();
            //    $i('#iNewMDialog').load("/ItemMaster/CreateOnfly");
            //    $i('#iNewMDialog').on('dialogclose', function (event) {
            //        $i('#iNewMDialog').attr('pattern', 'N');
            //        $i(this).dialog("close");
            //        $i(".ui-widget-overlay").hide();
            //        DynamicPopupcancel();
            //    });
            //    return false;
            //});
            //$i("#cImageHide").live("click", function () {
            //    $i('#cImageHide').attr('pattern', 'N');
            //    $i('#cNewMDialog').dialog({
            //        autoOpen: false,
            //        modal: true,
            //        width: 1000,
            //        height: 558, resizable: false,
            //        title: "Customer",
            //        closeOnEscape: false
            //    })
            //    $('.window').css("top", 30);
            //    $('.window-shadow').css("top", 30);
            //    $i('#tabs1').tabs();
            //    $i(this).attr('pattern', 'Y');
            //    $i('.ui-dialog').show();
            //    $i('.ui-dialog-titlebar').show();
            //    $i('.ui-widget-overlay').show();
            //    if (typeof ($i('.ui-dialog')[0]) != "undefined") {
            //        if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
            //            $i('.ui-dialog')[0].id = 'pnewDialog';
            //            $i('#cNewMDialog').hide();
            //        }
            //    }
            //    if (typeof ($i('.ui-dialog')[1]) != "undefined") {
            //        if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
            //            $i('.ui-dialog')[1].id = 'pnewDialog';
            //            $i('#cNewMDialog').hide();
            //        }
            //    }
            //    $i('#cNewMDialog').dialog('open');
            //    $i('#cNewMDialog').show();
            //    $i('#cNewMDialog').load("/UPC/InsertOnfly");
            //    $i('#cNewMDialog').on('dialogclose', function (event) {
            //        $i('#cImageHide').attr('pattern', 'N');
            //        $i(this).dialog("close");
            //        $i(".ui-widget-overlay").hide();
            //        DynamicPopupcancel();
            //    });
            //    return false;
            //});
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            //$i('#Submit').combobox({
            //    onSelect: function (value) {
            //        var val = $("input[name=Item]").val();
            //        if (val != "") {
            //            if (!(isNaN(val))) ItemChanges(val);
            //        }
            //    }
            //});
            //$i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            //$i('#UPCddl').combobox('textbox').prop('placeholder', 'Enter UPC name');
            //$i('.textbox-text').on("change", function () {
            //    var val = $(this).val();
            //    if (val != "") {
            //        var comboname = $(this).next()[0].name;
            //        val = $("input[name=" + comboname + "]").val();
            //        //EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application
            //        if (comboname == "Item")
            //            ItemChanges(val);
            //        else if (comboname == "UPC")
            //            UPCSearch(val);
            //    }
            //});
            //EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application
            //function UPCSearch(UPCID) {debugger
            //    if (UPCID > 0) {
            //        $i.ajax({
            //            url: "/QuickSearch/GetUPCDetails",
            //            type: "POST",
            //            data: JSON.stringify({ UPCID: UPCID }),
            //            dataType: "json", cache: true,
            //            contentType: "application/json; charset=utf-8",
            //            success: function (result) {
            //                debugger
            //                $i("#UPCddl").val(result.Data);
            //                $("input[name=UPC]").val(result.Data);
            //            }
            //        })
            //    }
            //};
            function CustomerChanges(Customer) {
                debugger
                $i.ajax({
                    url: "/Customersearch/GetCustomerDetails",
                    type: "POST",
                    data: JSON.stringify({ Customer: Customer }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger
                        $i('#grdData').append(result.Data);
                        var tbl = $("#grdData")[0];

                        $i('#SearchImage').attr("src", result.Data1);
                    }
                });
            }
            function Phone(Phoneno) {
                debugger
                if (Phone > 0) {
                    $i.ajax({
                        url: "/Customersearch/GetPhoneNo",
                        type: "POST",
                        data: JSON.stringify({ Phoneno: Phoneno }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            debugger
                            $i("#Phonenoddl").val(result.Data);
                            $("input[name=Phoneno]").val(result.Data);
                        }
                    })
                }
            };
            //$i('#Itemddl').on("change", function () {debugger
            //    var item = $i(this).val();
            //    $i.ajax({
            //        url: "/QuickSearch/GetItemDetails",
            //        type: "POST",
            //        data: JSON.stringify({ Item: item }),
            //        dataType: "json", cache: true,
            //        contentType: "application/json; charset=utf-8",
            //        success: function (result) {
            //            debugger
            //            $i('#grdData').append(result.Data);
            //            var tbl = $("#grdData")[0];

            //            $i('#SearchImage').attr("src", result.Data1);
            //        }
            //    });
            //});
            //$i('#UPCddl').on("change", function () {
            //    debugger
            //    var UPC = $i(this).val();
            //    $i.ajax({
            //        url: "/QuickSearch/GetUPCDetails",
            //        type: "POST",
            //        data: JSON.stringify({ UPCID: UPCID }),
            //        dataType: "json", cache: true,
            //        contentType: "application/json; charset=utf-8",
            //        success: function (result) {
            //            debugger
            //            $i('#grdData').append(result.Data);
            //            var tbl = $("#grdData")[0];

            //            $i('#SearchImage').attr("src", result.Data1);
            //        }
            //    });
            //});
            //$i('.edit-mode').hide();
            //$i('.aftershow').hide();
            //$i('.rowshow').live('click', function (e) {
            //    //$i('.edit-mode').hide();
            //    //$i('.aftershow').hide();
            //    //$i('.display-mode').show();
            //    //$i('.initshow').show();
            //    //var tr = $(this).parents('tr:first');
            //    //tr.find('.initshow').hide();
            //    //tr.find('.aftershow, .edit-mode, .display-mode').toggle();
            //    //tr.next('tr').show();
            //    //tr.next('tr').find('.edit-mode').show();
            //});
            //$i('#Remove').live('click', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    var ptr = $(tr).prev();
            //    $(ptr).remove();
            //    $(tr).remove();
            //    Linecalculations();
            //});
            //$i('#iQty').live('click', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    tr = $(tr).prev();
            //    var qty = tr.find('#Quantity').val();
            //    var price = tr.find('#Price').val();
            //    var amt = tr.find('#Amount').val();
            //    qty = (parseFloat(qty) + 1);
            //    amtcalculation(tr, qty, price, amt);
            })
            //$i('#dQty').live('click', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    tr = $(tr).prev();
            //    var qty = tr.find('#Quantity').val();
            //    var price = tr.find('#Price').val();
            //    var amt = tr.find('#Amount').val();
            //    qty = (parseFloat(qty) - 1);
            //    amtcalculation(tr, qty, price, amt);
            //})
            //$i('#Quantity').live('change', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    var qty = tr.find('#Quantity').val();
            //    var price = tr.find('#Price').val();
            //    var amt = tr.find('#Amount').val();
            //    amtcalculation(tr, qty, price, amt);
            //})
            //$i('#Price').live('change', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    var qty = tr.find('#Quantity').val();
            //    var price = tr.find('#Price').val();
            //    var amt = tr.find('#Amount').val();
            //    amtcalculation(tr, qty, price, amt);
            //})
            //$i('#Amount').live('change', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    var qty = tr.find('#Quantity').val();
            //    var price = tr.find('#Price').val();
            //    var amt = tr.find('#Amount').val();
            //    price = (parseFloat(amt) / parseFloat(qty)).toFixed(2);
            //    amtcalculation(tr, qty, price, amt);
            //})
            //$i('#Discount').live('click', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    var ptr = $(tr).prev();
            //    var qty = ptr.find('#Quantity').val();
            //    var price = ptr.find('#Price').val();
            //    var TaxType = ptr.find('#TaxType').val();
            //    var discount = ptr.find('#ddiscount').text();
            //    $(ptr).find("[id='chkrow']").val(1);
            //    $i("#Discountdlg").dialog({
            //        autoOpen: false,
            //        title: "Price & Discount",
            //        modal: true,
            //        width: 440,
            //        height: 320, resizable: false,
            //        closeOnEscape: true
            //    })
            //    $i('#Discountdlg').dialog('open');
            //    $i('#Discountdlg').css("background-color", "#E0ECFF");
            //    $i('#Discountdlg').css("color", "black");
            //    $i("#Discountdlg").show();
            //    $i("#Discountdlg").load("/PointOfSales/DiscountTypes?FormName=PointOfSales&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "");
            //    $i('#Discountdlg').on('dialogclose', function (event) {
            //        $(ptr).find("[id='chkrow']").val(0);
            //        Linecalculations();
            //    });
            //});
            //$i('#dynamicuom').live('change', function () {
            //    var tr = $(this).parents('tr:first');
            //    var uomid = tr.find('#dynamicuom').val();
            //    var uom = tr.find('#dynamicuom option:selected').text();
            //    tr.find('#saveUnitId').text(uomid);
            //    tr.find('#dUnits').text(uom);
            //});
            //$i('#Tax').live('click', function (e) {
            //    var tr = $(this).parents('tr:first');
            //    var ptr = $(tr).prev();
            //    var qty = ptr.find('#Quantity').val();
            //    var price = ptr.find('#Price').val();
            //    var TaxType = ptr.find('#TaxType').val();
            //    var discount = ptr.find('#ddiscount').text();
            //    $(ptr).find("[id='chkrow']").val(1);
            //    $i("#Taxdlg").dialog({
            //        autoOpen: false,
            //        title: "Tax Calculation",
            //        modal: true,
            //        width: 440,
            //        height: 240, resizable: false,
            //        closeOnEscape: true
            //    })
            //    $i('#Taxdlg').dialog('open');
            //    $i('#Taxdlg').css("background-color", "#E0ECFF");
            //    $i('#Taxdlg').css("color", "black");
            //    $i("#Taxdlg").show();
            //    $i("#Taxdlg").load("/PointOfSales/TaxInformation?FormName=PointOfSales&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "");
            //    $i('#Taxdlg').on('dialogclose', function (event) {
            //        $(ptr).find("[id='chkrow']").val(0);
            //        Linecalculations();
            //    });
            //});
            //$i('#Cash').live('click', function (e) {
            //    var totamt = $i('#totamt').text();
            //    if (totamt > 0)
            //        paymentdetails();
            //});
            //$i('#Credit').live('click', function (e) {
            //    var totamt = $i('#totamt').text();
            //    if (totamt > 0)
            //        paymentdetails();
            //});
            //$i('#Debit').live('click', function (e) {
            //    var totamt = $i('#totamt').text();
            //    if (totamt > 0)
            //        paymentdetails();
            //});
            //$i('#Check').live('click', function (e) {
            //    var totamt = $i('#totamt').text();
            //    if (totamt > 0)
            //        paymentdetails();
            //});
            //function paymentdetails() {
            //    $i("#Paymentdlg").dialog({
            //        autoOpen: false,
            //        title: "Payment",
            //        modal: true,
            //        width: 440,
            //        height: 240, resizable: false,
            //        closeOnEscape: true
            //    })
            //    $i('#Paymentdlg').dialog('open');
            //    $i('#Paymentdlg').css("background-color", "#E0ECFF");
            //    $i('#Paymentdlg').css("color", "black");
            //    $i("#Paymentdlg").show();
            //    $i("#Paymentdlg").load("/PointOfSales/PaymentInformation");
            //    $i('#Paymentdlg').on('dialogclose', function (event) {
            //        Linecalculations();
            //    });
            //}
            //function amtcalculation(tr, qty, price, amt) {
            //    amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
            //    tr.find('#dQuantity').text(qty);
            //    tr.find('#Quantity').val(qty);
            //    tr.find('#dPrice').text(price);
            //    tr.find('#Price').val(price);
            //    tr.find('#dAmount').text(amt);
            //    //EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application
            //    tr.find('#Amount').val(amt); gettaxamount(tr);
            //}
            function Linecalculations() {var rowcount = 0;
                //var totqty = 0; var subtot = 0;  var taxamt = 0; var disamt = 0;
                //$('#grdData tr td input[name="Quantity"]').each(function () {
                //    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                //})
                //$('#grdData tr td input[name="Amount"]').each(function () {
                //    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                //})
                //$('#grdData tr td span[id="dTaxamt"]').each(function () {
                //    var itax = $(this).text();
                //    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                //    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                //})
                //$('#grdData tr td span[id="ddiscount"]').each(function () {
                //    var idis = $(this).text();
                //    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                //    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                //})
                //$("#totqty").text(totqty);
                //$("#subtot").text(subtot);
                //$("#tottax").text(taxamt);
                //$("#totdis").text(disamt);
                //$("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                //var totdue = $("#initdue").val();
                //var finalamt = $("#totamt").text();
                //if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                //if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                //$("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                //$('#grdData tr td input[name="ItemId"]').each(function () {
                //    if (rowcount == 0) { rowcount = 1; }
                //    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                //    var trq = $i(this).parent().parent();
                //    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                //    $i(trq).find("#ItemId").val(rowcount);
                //})
                //$("#totitems").text(rowcount);
                //$i('#Itemddl').combobox('textbox').val("");
                //$i("input[name=Item]").val("");
                //$i('#Itemddl').combobox('textbox').clear();
                //$i('#Itemddl').combobox('textbox').focus();
                //$i('#Customerddl').combobox('textbox')/$("input[name=Item]").focus();
            }
            //function gettaxamount(tr) {
            //    var TaxType = $i(tr).find('#TaxType').val();
            //    if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;
            //    if (TaxType > 0) {
            //        $.ajax({
            //            url: "/PointOfSales/GetTaxAmount",
            //            type: "POST",
            //            data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
            //            dataType: "json", cache: true,
            //            contentType: "application/json; charset=utf-8",
            //            success: function (result) {
            //                if (result.Tax != '') {
            //                    var ttal = $i(tr).find('#dAmount').text();
            //                    tax = result.Tax; tax = (tax * (0.01));
            //                    tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
            //                } else { tax = parseFloat(0); }
            //                $i(tr).find('#dTaxamt').text(tax);
            //                Linecalculations();
            //            }
            //        })
            //    }
            //}
            //$i('#btnposSave').on('click', function (e) {
            //    var print = false;
            //    GridSave(print);
            //});
            //$i('#SavePrint').on('click', function (e) {
            //    var print = true;
            //    GridSave(print);
            //});
            //function GridSave(Print) {
            //    $("#divLoading").show();
            //    var flag = false;
            //    var Item = $("input[name=Item]").val();
                //if (flag == false) {
                //    if (Item == "" || Item == null || typeof (Item) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Item"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); $("input[name=Item]").focus(); return false;
                //        })
                //    }
                //}
            //var UPC = $("input[name=UPC]").val();
            //var flag = false;
            //    if (flag == false) {
            //        if (UPC == "" || UPC == null || typeof (UPC) == "undefined") {
            //            flag = true;
            //            Alert.render("Please Select UPC"); $("#alertok").focus(); $("#divLoading").hide();
            //            $("#alertok").on("click", function () {
            //                $("#dialogbox").dialog("close"); $("input[name=UPC]").focus(); return false;
            //            })
            //        }
            //    }
        //        
        </script>
    </head>
<body>

@*    @using (Html.BeginForm("Create", "PointOfSales", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {}*@
    <div id="poscreate" style="width:100%" class="QuickSearchMain">
    <div id="mastercreateq" class="mastercreateq QuickSearchHeader">
        <div id="Customer" style = "width:Auto" class="itemddl">
        <div class="itemlabel">Customer#</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["Customer"], "Value", "Text"), "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:176px;height:27px;" })</div>
      @* <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="iImageHide"  value="" alt="" /></div>*@
        </div>
          <div id="Address" style = "width:Auto" class="itemddl">
         <div class="itemlabel">Contact</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.TextBox("Address", "", new { @id = "Addressddl", @class = "TextBox", @itemid = "Y" , @style = "width:176px;height:23px; border: 1px solid #97c6ed" })</div>

       <div id="Phoneno" style = "width:Auto" class="itemddl">
         <div class="itemlabel">Phone#</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.TextBox("Phoneno", "", new { @id = "Phonenoddl", @class = "TextBox", @itemid = "Y" , @style = "width:176px;height:23px; border: 1px solid #97c6ed" })</div>
      @* <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="cImageHide"  value="" alt="" /></div>*@
      @* <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="cImageHide"  value="" alt="" /></div>*@
<input type="button" name="Submit" value="Search" ID="Submit " class="buttonclass" style="margin-top: 5px;"/>
       </div>
         </div>
    </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>

        <div id="iteminfo" style="width:100%">
    <div id="iteminfo" class="griddisplay QuickSearchgrid StaticgridFoter" style="width:100%;overflow: auto; float:left;">
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query("select NULL CustomerName,NULL Contact,NULL Phone#,NULL City,NULL Advance,NULL CreditAmount,NULL DueAmount,NULL OverdueDays,NULL LastBusinessActivityPerformedOn from SATABLE002 where column02=0");
            //from  matable007 where column02=0

            var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
}
         @grid.GetHtml(tableStyle: "webgrid-table",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData", style = "font-size: 14px;" },
    columns: (
    grid.Columns(grid.Column("CustomerName","Customer Name", style: "q1col1"),grid.Column("Contact", style: "q1col2"),grid.Column("Phone#", style: "q1col3"), grid.Column("City", style: "q1col4"), grid.Column("Advance", style: "q1col5"),grid.Column("CreditAmount","Credit Amount", style: "q1col6"), grid.Column("DueAmount","Due Amount", style: "q1col7"), grid.Column("OverdueDays", "Overdue Days", style: "q1col8"), grid.Column("LastBusinessActivityPerformedOn", "Last Business Activity Performed On", style: "q1col9")))
)
    </div>
        
    
    

</body>
</html>