﻿@model eBizSuiteAppModel.Table.CONTABLE001

@{
    ViewBag.Title = "Module Master";
}


<header>
    

</header>

<div class="rowCont">
 @using (Html.BeginForm("Create", "Modulemaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            @Html.ValidationSummary(true)
   <div id="ddl" class="rowCont bottomRowContentFB">
           <div class="bottomColFB1">
 <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "Modulemaster") + "'")    ;" />
     </div>
                <div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("/Edit/"+Model.COLUMN01+"") + "'")    ;" /></div>
       @*<div class="bottomColFB1"> 
        <input type="button" value="Cancel" class='buttonclass' onclick="@("window.location.href='" + @Url.Action("Index", "ModuleMaster") + "'")    ;" />
        </div>*@ </div>
       <div id="Staticdiv" class="bodyFBContent">
               <div class="mainRow">
                           <div class="mainRowCon" > <div class="lbl" >@Html.Label("Module ID")</div>
                        <div class="txt">@Html.TextBoxFor(model => model.COLUMN02, new { @readonly="readonly",@class="txtclass" })
                           @Html.ValidationMessageFor(model => model.COLUMN02)</div>
                        </div>
                    <div class="mainRowCon" > <div class="lbl" >@Html.Label("Name")</div>
                    <div class="txt">@Html.TextBoxFor(model => model.COLUMN03, new {@readonly="readonly",@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN03)</div>
                    </div>
                    <div class="mainRowCon" > <div class="lbl" >@Html.Label("Description")</div>
                    <div class="txt">@Html.TextBoxFor(model => model.COLUMN04, new {@readonly="readonly",@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)</div>
                    </div> </div>
          <div class="mainRow">
                           <div class="mainRowCon" > <div class="lbl" >@Html.Label("Subsidary")</div>
                    <div class="txt"> @Html.DropDownListFor(model =>model.COLUMN05,new SelectList(ViewBag.s,"Column02","Column03"),"select a Item", new {@Disabled="Disabled", id="Subsidary1",@name="Subsidary1", @class="reportddl"})
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                        </div>
                    </div>
                    <div class="mainRowCon" > <div class="lbl" >@Html.Label("Operating Unit")</div>
                    <div class="txt"> @Html.DropDownListFor(model => model.COLUMN06,  new SelectList(ViewBag.ou, "COLUMN02", "COLUMN03"),"--Select--", new {@Disabled="Disabled",@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN06)
                        </div>
                    </div>
              </div></div>
          <div class="rowCont newbottomRowContentFooter" id="footerInfo">
           </div>
 }</div>
     
