﻿@model eBizSuiteAppModel.Table.CONTABLE001
@{
    ViewBag.Title = "Search";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <script src="~/Content/formbuildjquery.js"></script>
    <title>Search</title>  
     
</head>
<body>
   <div id="FormData" >
          @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

       <div class="dialogSearch">
                <div class="searchRow">
                <div class="lbl"> Module ID </div><div class="txt">
             <input type="text" name="SubsidaryID" value="@Request["COLUMN02"]"  class="txtclass" /></div>
                </div><div class="searchRow">
                <div class="lbl"> Name</div><div class="txt">
             <input type="text" name="Name" value="@Request["COLUMN03"]"  class="txtclass" />
                </div>
            </div></div>
       <div  class="popUpSearchFooter">
            <input type="submit" class="buttonclass" id="btn" value="Search"  style="font-size:small"/>
            <button   name="ClientCancel" type="button" class="buttonclass" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("Index", "Modulemaster"))" style="display:none;"></a>
        </div>
} 
    </div>
</body>
</html>
