﻿@model eBizSuiteUI.Models.AppOwnervsMenuModel
@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dynatree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.contextMenu-custom.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.contextMenu.css")" rel="stylesheet" type="text/css" >
@*<script src="~/Scripts/jquery.session.js"></script>*@


 <script type="text/javascript">

     $(document).ready(function () {
         //Save Menu For AppOwner
         $("#btnSave").click(function () {
             AppOwnerMenu();
         });
     });

  </script>
<script>
    function bindContextMenu(span) {
        //debugger;
        var parent = $(span).parent().parent().parent();
        if (parent[0].id == 'tree') {
            $(span).contextMenu({ menu: "myMenuRoot" }, function (action, el, pos) {
                // The event was bound to the <span> tag, but the node object
                var node = $.ui.dynatree.getNode(el);
                switch (action) {
                    case "addroot":
                        showAddRoot(-1);
                        break;
                    case "add":
                        showAdd(node);
                        break;
                    case "edit":
                        showEdit(node);
                        break;
                    case "delete":
                        showDelete(node);
                        break;
                }
            });
        }
        else {
            // Add context menu to this node:
            $(span).contextMenu({ menu: "myMenu" }, function (action, el, pos) {
                // The event was bound to the <span> tag, but the node object
                var node = $.ui.dynatree.getNode(el);
                switch (action) {
                    case "add":
                        showAdd(node);
                        break;
                    case "edit":
                        showEdit(node);
                        break;
                    case "delete":
                        showDelete(node);
                        break;
                }
            });
        }
    };

    function BuidTree() {
        var dataparam = {};
        $.getJSON('@Url.Action("GetAllNode")', dataparam, function (result) {
            //debugger;
            var tree = $("#tree").dynatree("getTree");

            for (i = 0; i < result.length; i++) {
                if (result[i].parentId == "") {
                    var node = tree.getRoot();
                    node.addChild({ title: result[i].title, key: result[i].key, isFolder: result[i].isFolder });
                }
                else {
                    var node = tree.getNodeByKey(result[i].parentId);
                    // node.removeChildren();
                    node.addChild({ title: result[i].title, key: result[i].key, isFolder: result[i].isFolder });
                }
            }
        });
    }

    $(document).ready(function () {
        BuidTree();

        $("#tree").dynatree({
            checkbox: true,
            selectMode: 3,
            //          initAjax: {
            //              type: "POST",
            //              url: "/Home/GetParentNodes"
            //          },
            onClick: function (node, event) {
                // Close menu on click
                if ($(".contextMenu:visible").length > 0) {
                    $(".contextMenu").hide();
                    //          return false;
                }
            },
            onSelect: function () {
                $("#hdnbranchid").val('');
                $("#hdnbranchid1").val('');
                var tree = $("#tree").dynatree("getTree");
                var selKeys = $.map(tree.getSelectedNodes(), function (node) {
                    if ($("#hdnbranchid").val() == '')
                        $("#hdnbranchid").val(node.data.title)
                    else
                        $("#hdnbranchid").val($("#hdnbranchid").val() + ',' + node.data.title);
                    if ($("#hdnbranchid1").val() == '')
                        $("#hdnbranchid1").val(node.data.key)
                    else
                        $("#hdnbranchid1").val($("#hdnbranchid1").val() + ',' + node.data.key);
                    //$("#hfNodeId").val(node.data.title);
                }
                );
            },
            onKeydown: function (node, event) {

                // Eat keyboard events, when a menu is open
                if ($(".contextMenu:visible").length > 0)
                    return false;

                switch (event.which) {

                    // Open context menu on [Space] key (simulate right click)                   
                    case 32: // [Space]
                        $(node.span).trigger("mousedown", {
                            preventDefault: true,
                            button: 2
                        })
          .trigger("mouseup", {
              preventDefault: true,
              pageX: node.span.offsetLeft,
              pageY: node.span.offsetTop,
              button: 2
          });
                        return false;

                        // Handle Ctrl-C, -X and -V
                    case 67:
                        if (event.ctrlKey) { // Ctrl-C
                            copyPaste("copy", node);
                            return false;
                        }
                        break;
                    case 86:
                        if (event.ctrlKey) { // Ctrl-V
                            copyPaste("paste", node);
                            return false;
                        }
                        break;
                    case 88:
                        if (event.ctrlKey) { // Ctrl-X
                            copyPaste("cut", node);
                            return false;
                        }
                        break;
                }
            },
            onCreate: function (node, span) {
                bindContextMenu(span);

            },
            onQuerySelect: function (flag, node) {

            },
            onLazyRead: function (node) {
            }
        });
    });
</script>
    <div   class="treeviewbgcolor">
            <fieldset >  <div   class="appownerheight" style="overflow:auto;">
              
                    
                    <div >
                        @Html.Label("Account Owner:")
                            @Html.DropDownListFor(m => m.AppOwner,
                new SelectList(Model.AppOwner, "COLUMN02", "COLUMN03"),
                "...Select...", htmlAttributes: new { id = "ddlFrm",@class="reportddl" })
                    </div>
                
            </div></fieldset> </div>
             <div   class="treeviewnodesbgcolor">
               <fieldset >
                    <div  class="appownerheight" style="overflow:auto;">
                        @Html.Label("Menu Items:")
                        <div id="tree">
                        </div>
                    </div>
               </fieldset>
            </div> 
           <div class="rowCont bottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB">     <input type="button" id="btnSave" class="buttonclass" value="Save" /></div>
                <div class="btnContleftFB">   <input type="button" id="btnCancel" class="buttonclass" value="Cancel" /></div></div>
            @Html.Hidden("hdnbranchid")
            @Html.Hidden("hdnbranchid1")
   
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}

