﻿@charset "utf-8";
 body{
	font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 75%;    
    /*overflow:hidden;*/
  background-color: #CDDFFF;
}
            .fbBodyFoterUSerPre {
    width: 100%;
   overflow:auto;
    padding: 0;
    background-color: #ECF4F9;
   height: 350px;
    float: left;
}
            /*Account Amount*/
.myBubble {
    font-weight: bold;
    visibility: hidden;
    color: blue;
    padding: 0px 0px 0px 50%;
}
/*EmployeeMaster Info CSS*/

.empInfo {
    width:100%;
  border: 0.5px solid;
  border-radius: 5px;
  border-width: thin;
  border-color: lightgray;
}
div .bottomheader {
   padding: 20px 0px 0px 12px;
  text-align: left;
  font-weight: bold;
  background-color: none;
    float: left;
}
empInfo table {
        width: 100%;
    }
div .header {cursor:pointer;
   padding: 5px 0px 5px 9px;
text-align: center;
font-weight: bold;
width: 99%;
float: left;
background: linear-gradient(to top, #062671 0%, #4D76C2 100%) repeat scroll 0% 0% #4D76C2;
border-radius: 10px;
color: white;
}
.empInfoChatC {
    width: 100%;
    grid-row-align: center;
    float:left;display:block;
    /*border:ridge ;
    height: 222%;*/
}
.empInfoChat {
    width: 100%;
    grid-row-align: center;
    float:left;
    /*border:ridge ;
    height: 222%;*/
}
div .empInfoChat img {
        width: 100%;
        height: 90%;
    }

/*Emp Info Body*/
.EmprightContent {
    width: 100%;
    float: left;
    height: auto;
}



/*_Layout CSS */

/*header*/
#dialogbox {
            display: none;
            position: fixed;
            background: #000;
            border-radius: 7px;
            width: 350px;
            z-index: 9999;
        }
  
#dialogbox > div {
                background: #FFF;
                margin: 5px;
            }

#dialogbox > div > #dialogboxhead {
                    text-align: center;
                    background: #666;
                    font-size: 20px;
                    padding: 5px;
                    color: #FFF;
                }

#dialogbox > div > #dialogboxbody {
                    background: #cceded;
                    
                    padding: 20px;
                    color: #ee1d1d;
                    font-weight:bold;
                }

#dialogbox > div > #dialogboxfoot {
                    text-align: center;
                    background: #9DD1EA;
                    padding: 10px;
                }


.mainContainer {
	float: left;
	width: 96%;
	margin:0% 2%;
	height: auto;
}

.topHeader{
	width:100%;
	height:auto;
	float:left;
	  border: 1px solid #ecf4f9;
  border-radius: 10px;
  background:#ecf4f9;
  /* IE10 Consumer Preview */ 
/*background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #062775 0%, #648CD1 100%);*/

/* Mozilla Firefox  
background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #062775 0%, #648CD1 100%);

 Opera  
background-image: -o-radial-gradient(center top, ellipse farthest-corner, #062775 0%, #648CD1 100%);

 Webkit (Safari/Chrome 10)  
background-image: -webkit-gradient(radial, center top, 0, center top, 560, color-stop(0, #062775), color-stop(1, #648CD1));

 Webkit (Chrome 11+)  
background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #062775 0%, #648CD1 100%);

 W3C Markup, IE10 Release Preview  
background-image: radial-gradient(ellipse farthest-corner at center top, #062775 0%, #648CD1 100%);*/
	}
.logoContainer{
	width:auto;
	height:auto;
	float:left;
	
	}

.logo{
	  display: inline-block;
  font-size: 0;
  padding-top: 0px;
  margin-left: 1px;
  margin-top: 1px;
	}
.headerEmtyCont{
	width:100%;
	float:left;
	height: 40px;
	background: #ecf4f9;
    display:none;
	}

#messageDiv{
     /*display:block;*/ 
	float:left;
     /*border: 2px solid #a1a1a1;*/
      min-width:95%; 
     width:95%; max-width:95%; border-radius: 5px; 
     background: #ecf4f9; color:white ;
     width: 95%; padding: 10px 0px 0px 0px;text-align:left;font-weight:bold; 
     font-size: 15px;
}
#messageDivIcon{
     /*display:block;*/ 
	float:left;
     /*border: 2px solid #a1a1a1;*/ 
     min-width:5%; 
     width:5%; max-width:5%; border-radius: 5px; 
     background: #ecf4f9; color:white ;
     width: 5%; padding: 5px 0px 0px 0px;text-align:center;font-weight:bold; 

}
.headerMenuCont{
	  width: auto;
  height: auto;
  float: right;
  padding-top: 12px;
  padding-right: 10px;
	}

.headerUser{
	width:300px;
	float:left;
	height:auto;
    margin:5px;
}

.headerUser div{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;

}

.headerSearch div{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;

}
.roletext{  width: auto;
  float: left;
  height: auto;
  color: #000000;
  padding: 10px 4px;
  font-weight: bold;
}

.headerSearch{
	width:auto;
	float:left;
	height:auto;
    color:#000000;
}
.headerSearch select{
	  width: 170px;
  height: 20px;
  float: left;
  margin: 0px 5px 0px 0px;
  border-radius: 10px;
  font-size: 12px;

}
    .headerSearch a {
        color:#fff !important;
    }
/*header Menu _Layout*/

.headerMenu {
 	width:100%;
	float:left;
	height:auto;
    
}

.headerMenu div {
       vertical-align: top; width: 100%;height: 40px;line-height: 15px;text-align: left;
        font-size: 14px;
     width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ece6e8;
  border-bottom: 2px solid #d9ced2;
 background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 16%, #2b2b2b 59%, #1c1c1c 80%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(16%,#595959), color-stop(59%,#2b2b2b), color-stop(80%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


	border-radius: 10px;
    }


/*MENU STARTS CSS*/


ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 40px;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #333;
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
	font-size: 0;
	/*padding-top:8px;*/
    float:left;
}
#navigation {
	position: absolute;
	right: 40px;
	bottom: 0px;
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */#main-menu {
    width:100%;
    height:auto;
	float: left;
	font-size: 0;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse closest-side, #565656 0%, #444444 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse closest-side, #565656  0%, #444444 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse closest-side, #565656  0%, #444444 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #565656 ), color-stop(1, #444444));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse closest-side, #565656 0%, #444444 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #6B6A6A 0%, #171616 100%);
    border-radius: 10px;
}
#main-menu > li {
	display: inline-block;
	margin-left: 10px;
	padding: 3px 10px;
}

#main-menu > li.parent {
	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #eee;
	font-size: 13px;
	line-height: 10px;
	padding: 5px 0;
	text-decoration:none;
    font-weight:bolder;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #fff;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	/*top: 30px;*/
	padding-top: 2px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #565656 ;
	border: 1px solid #2B2B2B;
	border-top: none;
	color: #fff !important;
	display: block;
	font-size: 13px;
	line-height: 12px;
	padding: 5px;
    text-decoration:none;
}

ul.sub-menu > li > a:hover {
		
/* IE10 Consumer Preview */ 
background-color: -ms-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* Mozilla Firefox */ 
background-color: -moz-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* Opera */ 
background-color: -o-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* Webkit (Safari/Chrome 10) */ 
background-color: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #4C7BD9), color-stop(1, #173561));

/* Webkit (Chrome 11+) */ 
background-color: -webkit-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* W3C Markup, IE10 Release Preview */ 
background: radial-gradient(circle closest-corner at center, #4C7BD9 0%, #173561 100%);
	color: #fff !important;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #2491eb;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow_r.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 700px) {

	#navigation {
		position: static;
		margin-top: 20px;
	}

	#menu-toggle {
		display: block;
	}

	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: #5e98f1;
		border: 1px solid #3c61b1;
		color: #fff;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	#main-menu li > a:hover {
		background-color: #3c61b1; 
	}

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}
}
















/*body content _Layout*/

.bodyContent{
	width:100%;
	float:left;
	background:#fff;
	height:auto;
    display: table-cell;
    padding-top: 1px;
	}

/*left menu _Layout*/
.leftMenuContShow{
	width:14%;
	margin-right:.3%;
    /*padding-bottom:80px;*/
	float:left;
	/*height:512px;*/
	border-radius: 0px 10px 10px 0px;
    background:linear-gradient(to bottom, #ccdfef 0%,#97c6ed 100%);
	/*background: #1F3363;*/ /* Old browsers */
/* IE10 Consumer Preview */ 
/*background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #1F3363 0%, #72A1F2 100%);

/* Mozilla Firefox */ 
/*background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #1F3363 0%, #72A1F2 100%);*/

/* Opera */ 
/*background-image: -o-radial-gradient(center bottom, circle farthest-corner, #1F3363 0%, #72A1F2 100%);*/

/* Webkit (Safari/Chrome 10) */ 
/*background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 560, color-stop(0, #1F3363), color-stop(1, #72A1F2));*/

/* Webkit (Chrome 11+) */ 
/*background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #1F3363 0%, #72A1F2 100%);*/

/* W3C Markup, IE10 Release Preview */ 
/*background-image: radial-gradient(circle farthest-corner at center bottom, #1F3363 0%, #72A1F2 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72A1F2', endColorstr='#1F3363',GradientType=0 );*/ /* IE6-9 */*/


}
.leftMenuContHide{
	width:1%;
	margin-right:.3%;
	float:left;
	height:512px;
	border-radius: 0px 10px 10px 0px;
	background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top, #97c6ed 100%,  #ccdfef 0%,#97c6ed  50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#97c6ed), color-stop(0%,#ccdfef), color-stop(50%,#97c6ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,#97c6ed 100%,  #ccdfef 0%,#97c6ed 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,#97c6ed 100%,  #ccdfef 0%,#97c6ed 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,#97c6ed 100%,  #ccdfef 0%,#97c6ed 50%); /* IE10+ */
background: linear-gradient(to bottom,#97c6ed 100%,  #ccdfef 0%,#97c6ed 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c6ed', endColorstr='#ccdfef',GradientType=0 ); /* IE6-9 */


}

.collapseIcon{

	
	float:right;
	border-radius:0px 10px 0px 10px;
	background:#fff;
	padding:1px;
	border: 1px solid #3c61b1;
}

.leftMenu{
	width:100%;
	float:left;
	height:auto;

}

.leftMenu ul{
	list-style:none;
	padding:0px;
	margin:0px;

}

.leftMenu ul a{
	text-decoration:none;
	
}

.leftMenu ul a:link li{
	padding:12px 10px 12px 20px;
	margin:0px;
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	font-weight:500;
	

}

.leftMenu ul a:visited li{
	padding:12px 10px 12px 20px;
	margin:0px;
	display:block;
	background:transparent;
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	font-weight:500;

}

.leftMenu ul a:hover li{
	padding:12px 10px 12px 20px;
	margin:0px;
	display:block;
	background:#4d8adb;
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	font-size:14px;
	font-weight:700;

}


/*actual left menu*/
#acc {
    width: 100%;
    vertical-align: top;
    padding: 0 2px 0 0;
    border: 0px;
    background-color: #C8E2FD;
    color:white;
    border-radius:20px;
    float:left;
}

.layoutAccMenu {
    height: auto;
    font-weight: bold;
    vertical-align: top;
    border: solid 1px #1E3B7B;
    
	background: #4D76C2; /* Old browsers */
	
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #062671), color-stop(1, #4D76C2));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #062671 0%, #4D76C2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062671', endColorstr='#4D76C2',GradientType=0 ); /* IE6-9 */
	
    color: white;
    
    padding: 2px;
    font-size:14px;
   
   
}

.layoutAccMenuCont {
  border-bottom: solid 1px #005A88;
  height: auto;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #6699FF 0%, #6091D1 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #6699FF 0%, #6091D1 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #6699FF 0%, #6091D1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #6699FF), color-stop(1, #6091D1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #6699FF 0%, #6091D1 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #6699FF 0%, #6091D1 100%);
  color: #FFFFFF;
  font-size: 14px;
  margin: 0px;
  text-decoration: none;

}

.layoutAccMenuCont a:link {
	padding:6px;
	margin:0px;
	display:block;
	background:transparent;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;


}

.layoutAccMenuCont a:visited {
	padding:6px;
	margin:0px;
	display:block;
	background:transparent;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;

}

.layoutAccMenuCont a:hover {
	padding:6px;
	margin:0px;
	display:block;
	/* IE10 Consumer Preview */ 
background-color: -ms-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* Mozilla Firefox */ 
background-color: -moz-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* Opera */ 
background-color: -o-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* Webkit (Safari/Chrome 10) */ 
background-color: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #4C7BD9), color-stop(1, #173561));

/* Webkit (Chrome 11+) */ 
background-color: -webkit-radial-gradient(center, circle closest-corner, #4C7BD9 0%, #173561 100%);

/* W3C Markup, IE10 Release Preview */ 
background: radial-gradient(circle closest-corner at center, #4C7BD9 0%, #173561 100%);
	color: #fff !important;
	text-decoration:none;
	
	font-size:13px;
	font-weight:500;
}
/*error*/
div .linkMenuFont {
     padding:2px 0px 5px 3px;
	margin:0px;
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;
  
}

.collapseIconHide{

	display:none;
    width:3%;
	margin-right:1%;
	float:left;
	height:475px;
	border-radius: 0px 10px 10px 0px;
	background: #2C488B;
}

.collapseIconRight{

	float:right;
	border-radius:0px 10px 0px 10px;
	background:#fff;
	padding:5px 10px;
	border: 2px solid #3c61b1;
}


/*body Content Right*/

.rightContent{
	width:85.7%;
	float:left;
	height:auto;

}
.rightContentHide{
	width:98.1%;
	float:left;
	height:auto;

}
.rightContentHome{
	width:100%;
	float:left;
	height:auto;

}
.rowCont{
	width:100%;
	height:auto;
	float:left;

}
.topHeaderContentBody{
	background: #4D76C2; /* Old browsers */
	
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #062671), color-stop(1, #4D76C2));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #062671 0%, #4D76C2 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #062671 0%, #4D76C2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062671', endColorstr='#4D76C2',GradientType=0 ); /* IE6-9 */
	border-radius: 10px 10px 0px 0px;

}
.topHeaderContentBodyInfoEmptyCont {

float:left;
width:100%;
min-height:100%;
}


.topHeaderContentBodyInfo{
	background: #5078CB; /* Old browsers */
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #5078CB), color-stop(1, #194993));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #5078CB 0%, #194993 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5078CB', endColorstr='#194993',GradientType=0 ); /* IE6-9 */
	

}

.pageTittle{
	width:50%;
	float:left;
	color:#fff;
	font-size:13px;
	text-align:right;
	padding: 5px;
    font-weight: bold;
	/*border-bottom:3px solid #223a6e;
	margin-bottom:3px;*/

}


/* info page css in form build*/
/*body right content header strip*/
.linebreek {
    height: 1px;
    background-color: #fff;
    float: left;
    width: 100%;
    margin-bottom: 1px;
}
.linebreekUserPref {
  height: 1px;
  background-color: #D0CECE;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.topfirstButtonCont{
	width: 96%;
	float:left;
	height:auto;
	padding:3px 2%;

}

.btnContleft{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;

}
.btnContleftFB{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;
    padding:2px 5px 2px 10px;

}
.btnContRight{
	width:auto;
	float:right;
	height:auto;
	margin-left:10px;
    color:#ffffff;
}
.btnContRight lable {
        font-size: 14px;
        color: #fff;
    }
.topSecondButtonCont{
	width: 96%;
	float:left;
	height:20px;
	padding:1px 2%;
	margin-bottom:5px;


}

/*print styles*/
.linkFont {
	  width: 50px;
  height: auto;
  float: left;
  margin: -1px 5px -2px -1px;
  padding: 5px;
}

/*button styles*/
.buttonclass {
  /*background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(to bottom, #ffffff, #dedede);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #404040 !important;
  font-weight:bold;
  font-size: 12px;
  padding: 3px 13px 3px 13px;
  text-decoration: none;
  border:none;*/
  background: #1A2A4D;
  background-image: -webkit-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: -moz-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: -ms-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: -o-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: linear-gradient(to bottom, #1A2A4D, #5E7FC7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  color: #ffffff !important;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  border: 1px solid #1A2A4D;

}
.buttonclass:hover {
  background: #002373;
  background-image: -webkit-linear-gradient(top, #AAC2F7, #002373);
  background-image: -moz-linear-gradient(top, #AAC2F7, #002373);
  background-image: -ms-linear-gradient(top, #AAC2F7, #002373);
  background-image: -o-linear-gradient(top, #AAC2F7, #002373);
  background-image: linear-gradient(to bottom, #AAC2F7, #002373);
  text-decoration: none;
  color:#fff;
  border:none;
  cursor:pointer;
     -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
  font-size: 12px;font-weight: bold;
  border: 1px solid #002373;
 

}

/*button styles*/
.darkBgButton {
  background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #ffffff !important;
  font-weight:bold;
  font-size: 12px;
  padding: 3px 13px 3px 13px;
  text-decoration: none;
  border:none;
  

}
.darkBgButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color:#fff;
  border:none;
  cursor:pointer;

}

/*Export Button Styles Starts*/

.dropdown {
    position:static;
    display: inline-block;

}
.dropdown ul{
position: fixed;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    visibility: visible;
    transform: scale(1);
    transition: all 0s;
    vertical-align:top;
}

.dropdown .dropdown-menu {

z-index: 9999;
  height: 0px;
    position: relative;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: auto; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: auto;
}



/** Button Styles **/


/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #005A88;
    color: #FFFFFF;
    font-size:12px;
    width:35px;

}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #fff;
    color:#005A88;
    font-size:12px;
    font-weight:bold;
    width:35px;
          
}
                        


/*hide fillters in info page */

.hideFilter{display:none;
     background-color: #4d8adb;
  color: #ffffff;
  height: 19px;
  padding: 2px 10px 11px 13px;
  width: 98%;
  float: left;

}

/*.hideFilter div {
   

    width:auto;
    height:23px;
    padding:5px 10px 5px 6px;
    float:left;
    color:#ffffff;
    margin:1px 2px 1px 5px;

}

.hideFilter div label{
      
       color:#ffffff ;
       width:auto;
       float:left;
       padding-right:5px;
       font-size:12px;

}

.hideFilter div select{
      
       width:60%;
       float:left;
       border-radius:5px;
       height:23px;
       font-size:12px;
       color:#005A88;

}*/



/**   GRID STYLES chart page in home **/




/**   GRID STYLES info page in form build **/

.calInfo {
    float: left; width: 100%; height: 100%;
}
.overflowInfo {
    float: left;
    border: 1px solid #92b2d3;
    background:#FFF;
    width: 99.8%;
    overflow: auto;
    height: 90%;
}

.overflowInfoGrid {
     width:100%;

    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height:100%;
    float: left;
}
.overflowInfoGridCustView {
     width:100%;
    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height:452px;
    float: left;
}

.overflowInfoGridCustView  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.overflowInfoGridCustView  tr:nth-of-type(odd) { 
		background: #CDDFFF; 
	}
	.overflowInfoGridCustView  th { 
		background: #ccdfef; /* Old browsers */
background: -moz-linear-gradient(top,  #ccdfef 0%, #97c6ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, leftopHeaderContentBodyInfot top, left bottom, color-stop(0%,#ccdfef), color-stop(100%,#97c6ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ccdfef 0%,#97c6ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6ed',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #92b2d3;
        height:15px;
	}
	.overflowInfoGridCustView  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:12px;
		padding:3px;
	}


/* GRID
----------------------------------------------------------*/



/*OLD GRID*/




.overflowInfoGrid  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.overflowInfoGrid  tr:nth-of-type(odd) { 
		background: #CDDFFF; 
	}
	.overflowInfoGrid  th { 
		background: #5995FF; /* Old browsers */
background: -moz-linear-gradient(top,  #9BBEFF  0%, #5995FF  100%); /* FF3.6+ */
background: -webkit-gradient(linear, leftopHeaderContentBodyInfot top, left bottom, color-stop(0%,#9BBEFF), color-stop(100%,#5995FF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9BBEFF 0%,#5995FF 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9BBEFF 0%,#5995FF 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9BBEFF 0%,#5995FF 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9BBEFF 0%,#5995FF 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6e5995FFd',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #5995FF;
        height:15px;
	}
	.overflowInfoGrid  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:12px;
		padding:3px;
	}


@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.overflowInfoGrid  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.overflowInfoGrid  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.overflowInfoGrid  tr { border: 1px solid #ccc; }
		
		.overflowInfoGrid  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.overflowInfoGrid  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.overflowInfoGrid  td:nth-of-type(1):before { content: ""; }
		.overflowInfoGrid  td:nth-of-type(2):before { content: "Purchase Order"; }
		.overflowInfoGrid  td:nth-of-type(3):before { content: "Vendor"; }
		.overflowInfoGrid  td:nth-of-type(4):before { content: "Date"; }
		.overflowInfoGrid  td:nth-of-type(5):before { content: "Ship Date"; }
		.overflowInfoGrid  td:nth-of-type(6):before { content: "Memo"; }
		.overflowInfoGrid  td:nth-of-type(7):before { content: "Ref"; }
		.overflowInfoGrid  td:nth-of-type(8):before { content: "Total"; }
		.overflowInfoGrid  td:nth-of-type(9):before { content: "Status"; }
		.overflowInfoGrid  td:nth-of-type(10):before { content: "OperatingUnit"; }
		.overflowInfoGrid  td:nth-of-type(11):before { content: "Department"; }
	}
.overflow {
    float: left;
    border: 1px solid #92b2d3;
    background:#FFF;
    width: 99.8%;
    overflow: auto;
    height: 100%;
}

.overflowGrid {
     width:100%;

    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height:100%;
    float: left;
}
.overflowGridCustView {
     width:100%;
    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height:452px;
    float: left;
}

.overflowGridCustView  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.overflowGridCustView  tr:nth-of-type(odd) { 
		background: #CDDFFF; 
	}
	.overflowGridCustView  th { 
		background: #ccdfef; /* Old browsers */
background: -moz-linear-gradient(top,  #ccdfef 0%, #97c6ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, leftopHeaderContentBodyInfot top, left bottom, color-stop(0%,#ccdfef), color-stop(100%,#97c6ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ccdfef 0%,#97c6ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6ed',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #92b2d3;
        height:15px;
	}
	.overflowGridCustView  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:12px;
		padding:3px;
	}


/* GRID
----------------------------------------------------------*/



/*OLD GRID*/




.overflowGrid  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.overflowGrid  tr:nth-of-type(odd) { 
		background: #CDDFFF; 
	}
	.overflowGrid  th { 
		background: #5995FF; /* Old browsers */
background: -moz-linear-gradient(top,  #9BBEFF  0%, #5995FF  100%); /* FF3.6+ */
background: -webkit-gradient(linear, leftopHeaderContentBodyInfot top, left bottom, color-stop(0%,#9BBEFF), color-stop(100%,#5995FF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9BBEFF 0%,#5995FF 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9BBEFF 0%,#5995FF 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9BBEFF 0%,#5995FF 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9BBEFF 0%,#5995FF 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6e5995FFd',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #5995FF;
        height:15px;
	}
	.overflowGrid  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:12px;
		padding:3px;
	}


@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.overflowGrid  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.overflowGrid  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.overflowGrid  tr { border: 1px solid #ccc; }
		
		.overflowGrid  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.overflowGrid  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.overflowGrid  td:nth-of-type(1):before { content: ""; }
		.overflowGrid  td:nth-of-type(2):before { content: "Purchase Order"; }
		.overflowGrid  td:nth-of-type(3):before { content: "Vendor"; }
		.overflowGrid  td:nth-of-type(4):before { content: "Date"; }
		.overflowGrid  td:nth-of-type(5):before { content: "Ship Date"; }
		.overflowGrid  td:nth-of-type(6):before { content: "Memo"; }
		.overflowGrid  td:nth-of-type(7):before { content: "Ref"; }
		.overflowGrid  td:nth-of-type(8):before { content: "Total"; }
		.overflowGrid  td:nth-of-type(9):before { content: "Status"; }
		.overflowGrid  td:nth-of-type(10):before { content: "OperatingUnit"; }
		.overflowGrid  td:nth-of-type(11):before { content: "Department"; }
	}


.gridcntdata  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.gridcntdata  tr:nth-of-type(odd) { 
		background: #ecf4f9; 
	}
	.gridcntdata  th { 
		background: #ccdfef; /* Old browsers */
background: -moz-linear-gradient(top,  #ccdfef 0%, #97c6ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccdfef), color-stop(100%,#97c6ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ccdfef 0%,#97c6ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6ed',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:14px;
		border:1px solid #92b2d3;
	}
	.gridcntdata  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:12px;
		padding:10px 5px;
	}


.gridcntdata {
    display: none;
    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height: 335px;
    float: left;
}

.ch{
display:inline-block; width:150px;}
 div input.idTextFB {
    font-size: 12px;
    width: 150px;
    border: none;
    display: none;
}
div input.idTextFBelse {
    font-size: 12px;
    background-color: inherit;
    width: 150px;
    height:14px;
    text-align: left;
    /*border: 1px solid #92b2d3;*/
    border:none;
}

.menuIcon {

    display:block;width:30px;height:25px; background:url('Images/@mp.COLUMN12');
}






@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.gridcntdata  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.gridcntdata  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.gridcntdata  tr { border: 1px solid #ccc; }
		
		.gridcntdata  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.gridcntdata  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.gridcntdata  td:nth-of-type(1):before { content: ""; }
		.gridcntdata  td:nth-of-type(2):before { content: "Purchase Order"; }
		.gridcntdata  td:nth-of-type(3):before { content: "Vendor"; }
		.gridcntdata  td:nth-of-type(4):before { content: "Date"; }
		.gridcntdata  td:nth-of-type(5):before { content: "Ship Date"; }
		.gridcntdata  td:nth-of-type(6):before { content: "Memo"; }
		.gridcntdata  td:nth-of-type(7):before { content: "Ref"; }
		.gridcntdata  td:nth-of-type(8):before { content: "Total"; }
		.gridcntdata  td:nth-of-type(9):before { content: "Status"; }
		.gridcntdata  td:nth-of-type(10):before { content: "OperatingUnit"; }
		.gridcntdata  td:nth-of-type(11):before { content: "Department"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}

    

    /*FOOTER BODY INFO FORMBUILD*/
    

.bottomRowContent{
	background: #324380; /* Old browsers */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #324380 0%, #537FD1 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #324380 0%, #537FD1 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #324380 0%, #537FD1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #324380), color-stop(1, #537FD1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #324380 0%, #537FD1 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #324380 0%, #537FD1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#537FD1', endColorstr='#324380',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
    left:0px;
   bottom:0px;
   height:30px;
	/*padding-bottom:10px;*/
	

}

    /*FOOTER BODY INFO FORMBUILD*/

    .bottomRowContentFooter{
	background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding-bottom:5px;
	padding-top:5px;
    height:25px;
	float: left;
width: 100%;

}
    
.newbottomRowContentFooter {
    background: #3c61b1; /* Old browsers */
    background: -moz-linear-gradient(top, #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 1px;
    float: left;
    width: 100%;
}


.popUpSearchFooter{
	background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding:10px 0px 8px 200px;
    height:25px;
	float: left;
      width: 75%;

}

.popUpContentRecepitFooter{
	background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding:10px 416px 8px 416px;
    height:25px;
	float: left;
      width: 17%;

}
   
.btnContleftFooetr{
	width:15%;
	float:left;
	height:auto;
	/*margin-left:20px;*/
    /*color:#ffffff;

   
	font-size:14px;

	margin:1px 5px ;*/

}

.labelTxt{
	width:auto;
	float:left;
	height:auto;
	font-size:14px;
	color:#fff;
	margin: 11px 0px 11px 35px;
	

}
.txttabClass {
     font-size: 12px;
  height: 18px;
  width: 100%;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  /*border-radius: 5px;*/
    border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
.txttabClass:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 21px;
}

.txttabClassM {
     font-size: 12px;
  height: 18px;
  width: 100%;
  border-radius: 5px;
}
.labelTxtFB{
	width:auto;
	float:left;
	height:auto;
	font-size:14px;
	color:#fff;
	margin: 9px 0px 5px 10px;
}


.labelTxtFirstCol{
	  width: auto;
  float: left;
  height: auto;
  font-size: 12px;
  color: #fff;
  margin: 1px;
  padding: 7px 0px 0 25px;
}
	


.bottomCol{
	width:auto;
	height:auto;
	float:left;

}
.CheckboxbottomCol{
	width:10%;
height: 25px;
float: left;
margin-top: 15px;
}
.bottomInputField{
	width:90px;
	height:25px;
	float:left;
}
.bottomInputFieldStatus{
	width:175px;
	height:25px;
	float:left;
}
.bottomInputFieldStatus select{
	width: 100%;
  height: 25px;
  float: left;
  margin: 2px 5px 5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.bottomInputField select{
	width:100%;
	height:25px;
	float:left;
	margin:2px 5px 5px 7px;
	border-radius:10px;
	font-size:12px;

}

.ddlThemeField{
	  width: 98px;
  height: 20px;
  float: right;
	
}

.ddlThemeField select{
	  width: 100%;
  height: 20px;
  float: left;
  margin: 0px 5px 10px 1px;
  border-radius: 10px;
  font-size: 12px;

}

/*.btnContleftFooetr lable{
    width:auto;
	float:left;
	height:auto;
	font-size:14px;
	color:#fff;
	margin:11px 7px ;
	
}
.btnContleftFooetr select{
	width:100%;
	height:25px;
	float:left;
	margin:7px 5px 5px 7px;
	border-radius:10px;
	font-size:12px;

}*/

.footerContent{
	width:100%;
	float:left;
	color:#fff;
    text-align:left;
    /* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(left center, ellipse farthest-corner, #4c4c4c 0%, #444444 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(left center, ellipse farthest-corner, #4c4c4c 0%, #444444 100%);

/* Opera */ 
background-image: -o-radial-gradient(left center, ellipse farthest-corner, #4c4c4c 0%, #444444 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, left center, 0, left center, 981, color-stop(0, #4c4c4c), color-stop(1, #444444));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(left center, ellipse farthest-corner, #4c4c4c 0%, #444444 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #6B6A6A 0%, #171616 100%);
    margin:1px 0px ;
    height: 10px;
    padding: 2px 0px 3px 0px;
    font-size: 10px;
    border-radius:5px;
	}

.btnContRightFooter{
	width: auto;
    float: right;
    height: 25px;
    margin-top: 4px;
    padding-right: 20px;
}
.emptyDivF {

    /*width:4% !important;*/
    width:10% !important;
    float:left;
}

.button-hide{

    font-size: 10px;
    font-weight: bold;
    cursor: pointer;border-left:solid 1px #154962;
}
   

.button-show{
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}







/**FORMBUILD (NEW) CSS styles IN FORMBUILDING **/

.bottomRowContentFB{
	background: #5078CB; /* Old browsers */
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #5078CB), color-stop(1, #194993));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #5078CB 0%, #194993 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5078CB', endColorstr='#194993',GradientType=0 ); /* IE6-9 */
	border-radius: 0px ;
}
.bottomColFB{
	width:auto;
	height:auto;
	float:left;

}

.bottomColFB1{
	width:auto;
	height:auto;
	float:left;
    margin:7px 5px 5px 20px;

}

.bottomColFB2{
	width:120px;
	height:auto;
	float:left;
    margin:7px -2px 5px 20px;

}
.bottomInputFieldFB{
	width:130px;
	height:25px;
	float:left;
	
}
.bottomInputFieldFB select{
	width:100%;
	height:25px;
	float:left;
	margin:5px 5px 5px 7px;
	border-radius:10px;
	font-size:12px;

}
.bodyFBContent {
     background: #ecf4f9 repeat scroll 0% 0%;
  /* EMPHCS1097 gnaneshwar Scroll bar to be implemented */
  /*height: 420px;*/
  width: 100%;
  float: left;
  overflow-y: scroll;
  overflow-x:hidden;
  /*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
  margin-bottom: 9px;
}

.bodyFBContentInner {
    
  height: 380px;
  width: 98%;
  float: left;
  overflow-y: scroll;
  overflow-x:scroll;
  border: 0px;
}
.mainRowHeader{
           width:100%; 
           height:15%;
           float: left;
       }

.divRow{
       border: solid 1px;
  height: auto;
  /*overflow-x: auto;*/
  width: 100%;
  padding-top: 1px;
  background-color: #ecf4f9;
  border-color: #ecf4f9;
  float: left;
  padding-bottom: 5px;
       }
.bodyFBCon {
    width: 99%;
	background: #97c6ed; /* Old browsers */
/* IE10 Consumer Preview */ 
/*background-image: -ms-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);*/

/* Mozilla Firefox */ 
/*background-image: -moz-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);*/

/* Opera */ 
/*background-image: -o-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);*/

/* Webkit (Safari/Chrome 10) */ 
/*background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #5078CB), color-stop(1, #194993));*/

/* Webkit (Chrome 11+) */ 
/*background-image: -webkit-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);*/

/* W3C Markup, IE10 Release Preview */ 
/*background-image: radial-gradient(circle farthest-corner at center, #5078CB 0%, #194993 100%);*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5078CB', endColorstr='#194993',GradientType=0 ); /* IE6-9 */
	
float:left;
    color: black;
    padding: 0px 0px 0px 10px;
  font-weight: bold;
}
.mainRow{
           width:99.9%; 
           /*EMPHCS1698 Displaying control values in lable in all VIEW click by GNANESHWAR ON 16/4/2016*/
           padding:4px;
           float: left;
       }

.mainRowCon{
           width:33%; 
           height:15%;
           padding:0px;float: left;
       }

.mainRowConTR{
           width:100%; 
           height:15%;
           padding:10px 0 0 0;float: left;
       }
.mainRowConUPC{
           width:49%; 
           height:15%;
           padding:0px;float: left;
       }
.lbl{  color: black;
    width: 49%;
  float: left;
  text-align: right;
  padding: 1px 5px 0px 0px;
  font-size: 12px;
       }
.lblTR{  color: black;
    width: 16%;
  float: left;
  text-align: right;
  padding: 1px 5px 0px 0px;
  font-size: 12px;
       }
.lblUP{  color: black;
    width: 5%;
  float: left;
  text-align: right;
  padding: 5px 5px 0px 0px;
  font-size: 12px;
       }
.lblMail{  color: black;
    width: 19.5%;
  float: left;
  text-align: right;
  padding: 5px 5px 0px 0px;
  font-size: 14px;
       }
       .txt{color:black;
           width:48%; 
          float:left
       }
       .txtTR{color:black;
           width:83%; 
          float:left
       }
       .txtMail{color:black;
           width:55%; 
          float:left
       }
.txtUP {
    color: black;
    width: 99%;
    float: left;
    margin: 14px 0 0 14px;
}
       .ddlS{  color: black;
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  width: 42.5%;
  float: left;
  padding-right: 0px;
       }
.plusImage {
float:left;
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
width:14px;
margin-top:4px;
}
       .ddl{
            width: 100%;
  /*border-radius: 5px;*/
  /*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
  height: 27px;
  font-size: 12px !important;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
   border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
.ddl:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    /*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
    height: 31px;
}
       div .imageSize {
   width: 16px;
  height: 16px;
  background-color: #97c6ed;
  border-radius: 10px;

}
       #divLoading {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index: 30001;
    opacity: .8;
    filter: alpha(opacity=70);
    display: none;
}
#divLoading p{
    position: absolute;
    top: 30%;
    left: 45%;
    color: White;
}

.newTabFB {
    display: block;
    float: left;
      margin: 2px 0 0px 0px;
     
}

.buttonclassTab {
  background: #3c61b1;
  background-image: -webkit-linear-gradient(top, #3c61b1, #3c61b1);
  background-image: -moz-linear-gradient(top, #3c61b1, #3c61b1);
  background-image: -ms-linear-gradient(top, #3c61b1, #3c61b1);
  background-image: -o-linear-gradient(top, #3c61b1, #3c61b1);
  background-image: linear-gradient(to bottom, #3c61b1, #3c61b1);
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff !important;
  font-weight:bold;
  font-size: 12px;
  padding: 8px 13px 2px 12px;
  text-decoration: none;
  border:1px solid #ffffff;
 
  
  border-bottom:hidden;

}
.buttonclassTab:hover {
  background: #1E3B7B;
  background-image: -webkit-linear-gradient(top, #1E3B7B, #1E3B7B);
  background-image: -moz-linear-gradient(top, #1E3B7B, #1E3B7B);
  background-image: -ms-linear-gradient(top, #1E3B7B, #1E3B7B);
  background-image: -o-linear-gradient(top, #1E3B7B, #1E3B7B);
  background-image: linear-gradient(to bottom, #1E3B7B, #1E3B7B);
  text-decoration: none;
  color:#fff;
  border:none;
  cursor:pointer;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -wesize: 12px;
 padding: 8px 13px 2px 12px;
  text-decoration: none;
  border:1px solid #ffffff;
  border-bottom:hidden;
}
.fbTabCon {
    /*background-color: #DDEEFF;*/
    color: black;
    height: auto;
    width: 99.6%;
    float: left;
}
.labelcolor {
    color: white;
}
    .fbTabCon ul {
        	background: #5078CB; /* Old browsers */
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #5078CB), color-stop(1, #194993));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #5078CB 0%, #194993 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #5078CB 0%, #194993 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5078CB', endColorstr='#194993',GradientType=0 ); /* IE6-9 */

        color: white;
        height: 25px;
        padding: 0;
        float: left;
        width: 100%;
    }

        .fbTabCon ul li {
            height: 22px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: bold;
            padding: 0;
            background-color:#3455A2;
        }
            .fbTabCon ul li a {
                height: 12px;
                text-align: center;
                font-size: 12px;
                color: white;
                font-weight: bold;
                padding: 5px 0 0 0;
                min-width: 70px;
            }






            /* FORM BUILD GRID TAB*/

            .fbBodyFoter {
    width: 100%;
   overflow:hidden;
    padding: 0;
    background-color: #ECF4F9;
   /*height: auto;*/
    float: left;
}
.fbBodyFoter  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	/*EMPHCS1575 rajasekhar reddy patakota 23/02/2016 Item Description into text area changes*/
	/*.fbBodyFoter  tr:nth-of-type(odd) { 
		background: #ecf4f9; 
	}*/
	.fbBodyFoter  th { 
		background: #ccdfef; /* Old browsers */
background: -moz-linear-gradient(top,  #ccdfef 0%, #97c6ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccdfef), color-stop(100%,#97c6ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ccdfef 0%,#97c6ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6ed',GradientType=0 ); /* IE6-9 */
		color: #333; 
		font-weight: bold; 
		font-size:11px;
		border:1px solid #92b2d3;
	}
	.fbBodyFoter  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:11px;
		padding:5px 5px 5px 5px;
		/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
        padding-bottom: 0px;
        border-bottom-color: lightgray;
	}





@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.fbBodyFoter  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.fbBodyFoter  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.fbBodyFoter  tr { border: 1px solid #ccc; }
		
		.fbBodyFoter  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.fbBodyFoter  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.fbBodyFoter  td:nth-of-type(1):before { content: ""; }
		.fbBodyFoter  td:nth-of-type(2):before { content: "UPS SEARCH"; }
		.fbBodyFoter  td:nth-of-type(3):before { content: "ITEMS"; }
		.fbBodyFoter  td:nth-of-type(4):before { content: "UPC"; }
		.fbBodyFoter  td:nth-of-type(5):before { content: "ITEM DESC"; }
		.fbBodyFoter  td:nth-of-type(6):before { content: "QUANTITY"; }
		.fbBodyFoter  td:nth-of-type(7):before { content: "RECIVING INSTRUCTION"; }
		.fbBodyFoter  td:nth-of-type(8):before { content: "PRICE"; }
		.fbBodyFoter  td:nth-of-type(9):before { content: "DISCOUNT"; }
		.fbBodyFoter  td:nth-of-type(10):before { content: "TOTAL"; }
	}
	




        
        .bottomdivRow{
     border: solid 1px;
     /*height:150px;*/
     width:99.3%;
    padding-top:2px;
    background-color: #ECF4F9;
    border-color: #ECF4F9;
       }


        
        .itemGridFB {
    width: 100.9%;
    height: auto;
    border: 0px;
    padding: 0px 0px 2px 0px;
    background: none repeat scroll 0% 0%;
	overflow:hidden;
    overflow-x: scroll;
}
        
        .txtgridclass {
     font-size: 14px;
  height: 20px;
  width: 120px;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  /*border-radius: 5px;*/
 border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
.txtgridclass:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 23px;
}
  
        .txtintgridclass {
     font-size: 14px;
  height: 20px;
  width: 80px;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  /*border-radius: 5px;*/
border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
.txtintgridclass:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 23px;
}
        .txtareaclass {
     font-size: 14px;
  min-height: 34px;
  width: 90%;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  /*border-radius: 5px;*/
 border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
.txtareaclass:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 37px;
}
        .txtareaclassTR {
     font-size: 12px;
  min-height: 55px;
  width: 99%;
  min-width: 16%;
  border-radius: 5px;
  font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
}
        .txtareaclassMail {
     font-size: 14px;
  min-height: 150px;
  width: 98%;
  border-radius: 5px;
}
.gridWH {
       font-size: 14px;
  height: 20px;
  width: 80px;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  /*border-radius: 5px;*/
    border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
.gridWH:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 23px;
}
div .fbBodyFoter.gridddl {
   width: 85%;
  border-radius: 5px;
  height: 30px;
  font-size: 14px !important;
}
.gridddl{
/*EMPHCS1095 rajasekhar reddy patakota 07/09/2015 In EDIT / VIEW /New grid dropdowns should expand based on the size*/
     max-width: 185px;
 /*width: 128px;*/
  /*border-radius: 5px;*/
  height: 25px;
  font-size: 14px !important;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
   border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
.gridddl:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 28px;
}
div .date {
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
  width: 87%;
  /*border-radius: 5px;*/
  height: 25px;
  /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
div .date:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    height: 28px;
}


div .txtclass {
    font-size: 12px;
    /*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
    height: 20px;
    width: 90%;
    /*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
    /*border-radius: 5px;*/
    border-width: 0.1px;
    border-top: none;
    border-left: none;
    border-color: gray;
    border-right: none;
    background-color:#ecf4f9;
}
div .txtclass:focus { 
    border-color: #6EA2DE;
    -webkit-box-shadow: 0 8px 6px -6px #6EA2DE;
    -moz-box-shadow: 0 8px 6px -6px #6EA2DE;
    box-shadow: 0 8px 6px -6px #6EA2DE;
    /*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
    height: 23px;
}
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
.LineCollapseExapand {
    margin-bottom:3px;float: left;font-weight:bold;width: 100%;
}
/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
.FormHeaderCollapseIcon {
    /*width: 12px;*/
    float: left;
    margin-left: 50%;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #535b66;
    height: 15px;
    opacity: 0.65;
    width: 29px; 
    box-shadow: 1px 1px 4px 4px #535b66;
}
.FormHeaderExapandIcon {
    /*width: 12px;*/
    float: left;
    margin-left: 50%;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #535b66;
    height: 15px;
    opacity: 0.65;
    width: 29px; 
    box-shadow: 1px 1px 4px 4px #535b66;display:none;
}
.FormLineCollapseIcon {
    width: 12px;float:left;padding-right: 3px;
}
.FormLineExapandIcon {
    width: 12px;float:left;padding-right: 3px;display:none;
}
.FormCollapseIcon {
    width: 12px;float:left;padding-right: 3px;
}
.FormExapandIcon {
    width: 12px;float:left;padding-right: 3px;display:none;
}

.dialogSearch{
     border: solid 1px;
       height: auto;
  min-height: 140px;
     width:100%;
    padding-top:1px;
    background-color: #ecf4f9;
    border-color: #C8E2FD;
    float:left;
    padding-bottom:10px;
       }
.searchRow{
           width:98%; 
           
           padding-top:20px;float: left;
       }
.divRowFly{
     border: solid 1px;
     min-height:200px;
     width:100%;
    padding-top:0px;
    background-color: #ECF4F9;
    border-color: #C8E2FD;
    float:left;
    padding-bottom:10px;
       }
.bodyFBConFly {
    width: 99%;
    background-image: radial-gradient(circle farthest-corner at center, #5078CB 0%, #194993 100%);
    color: white;
    padding:6px 0px 10px 10px; 
           font-weight:bold;
           float: left;
}
.mainRowHeaderFly{
           width:100%;
           float: left;
       }

.customviewlbl {
    width: auto;
    float: left;
    height: auto;
    font-size: 12px;
    color: #fff;
    margin: 1px;
    padding: 6px 5px 0 18px;
}
.newrowdiv {
    padding:10px 5px 5px 5px;
}
.newfieldbody {
   background: #ecf4f9 repeat scroll 0% 0%;
  height: 426px;
  width: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0px;
}
.dynamicdialogbody {
  background: #ecf4f9 repeat scroll 0% 0%;
  /* height: 420px; */
  width: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0px;
}


.pageTheme{
	width:43%;
	float:right;
	color:#fff;
	font-size:13px;
	text-align:right;
	padding: 5px 21px;
    font-weight: bold;
	/*border-bottom:3px solid #223a6e;
	margin-bottom:3px;*/

}

/*ON AND OFF BUTTON IN INFO PAGE*/


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	
    
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}





/*jqui*/



.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .1em 0px 3px;height:22px; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0;width:auto; border-bottom: 0 !important; padding: 0; white-space: nowrap;background-color:#3c61b1;height:22px; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0;height: 20px;width:auto; padding-bottom: 1px;background-color: #1E3B7B;height:22px }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: pointer; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/*.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }*/
.ui-tabs .ui-tabs-hide { display: none !important; }



.ui-dialog .popUpSearchTittleBar {
    background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
	width:97.3%;
	position: relative;
    background-color:#3c61b1;
    padding: 10px 8px;
}

.ui-dialog .ui-dialog-titlebar {
    background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
	width:98.3%;
	position: relative;
    background-color:#3c61b1;
    padding: 10px 8px;
}

.reportviewr {
    background-color:#ECF4F9;
    width:99.5%;
    overflow:auto;
}
.reporttxt {
    font-size: 12px;
    height: 18px;
    width: 75px;
    border-radius: 5px;
}
.reporttxtPro {
    font-size: 12px;
    height: 18px;
    width: 70px;
    border-radius: 5px;
}
.statictxt {
    font-size: 12px;
    height: 18px;
    width: 135px;
    border-radius: 5px;
}
.reportddl { 
    font-size: 12px;
    width: 110px;
  height: 22px;
    border-radius: 5px;
}
.reportdiv {  width: auto;
  height: auto;
  float: left;
  padding-top: 4px;
  padding-bottom: 2px;
}
.reportlbl {  
  color : white;
  padding:4px 3px 0px 6px;
  float:left;
}
.reportbutton {  width: auto;
  height: auto;
  float: left;
  padding: 4px 0px 2px 4px;
}
.querylist {width: 25%; vertical-align: top;float:left;
}
.querytable {width: 75%;overflow: auto;float:left;
}
.querytxt {
    width: 99%;
    height: 100px;
    background-color: white;
    color: darkblue;
    font-weight: bold;
    font-size: 12px;
}
.querytbl {
    overflow: auto;
    float: left;
}
.querywindow {
 background: #ecf4f9 repeat scroll 0% 0%;
  width: 100%;
  float: left;
  overflow:auto;
}
.treeviewheight {vertical-align:top;overflow:auto;
}
.treeviewbgcolor {width: 25%;float:left;background-color:#ecf4f9;
}
.treeviewnodesbgcolor {width: 75%;vertical-align:top;float:left;background-color:#ecf4f9;
}
.treeviewddl {padding:5px 10px 5px 5px;float:left;
}
.treeviewlbl {padding: 5px 10px 10px 5px;
  float: left;
  width: 94px;
}
.treeviewdivs {
    width: 100%;
    float: left;
}
.menulbl {padding: 5px 10px 10px 5px;
  float: left;
  width: 115px;
}
.menubuttons {
    padding: 5px 5px 5px 5px;
    float: left;
}

.FormDesignlist {width: 18%; vertical-align: top;float:left;background-color:#ECF4F9;
}
.FormDesigntable {width: 82%;overflow: auto;float:left;background-color:#ECF4F9;
}
.FormDesignerheight {width: 178px;overflow: auto;float:left;
}
.FormDesignertableheight {width: 100%; vertical-align: top;overflow: hidden;height:auto;
}
.formdesigndivs {
    width: 100%;
    float: left;
}
.formdesignlbl {  padding: 5px 0px 10px 0px;
  float: left;
  width: 53px;
}

.companylogo {
    font-size: 0px;
    font-weight: bold;
    padding-left: 0px;
    margin-top: 0px;
}
.tagline {
    position: absolute;
    padding-left: 64px;
    font-size: 14px;
}
.comanyfontblue {color:#156AEC;
}
.comanyfontblack {color:black;
}
.comanyfontred {color:#FF0000;
}
.comanyfontgreen {color:#008000;
}
.comanyfontyellow {color:#ff9900;
}
.comanyfontorange {color: #7D0ED5;
}
.customerlogo {
    float: right;
    padding: 5px 0px 1px 100px;
}
.customerlogoheight {
  height: 50px;
  padding: 2px 0px 4px 4px;

}
.username {
    padding: 10px 0px 5px 10px;
    color: black;
    font-weight: bold;font-weight: bold;
}
.logoutimage {
    cursor: pointer;
    border-radius: 18.5px;
}
.logoutlinkcolor {
    color: white;
}
.roleheight {
    padding-top: 7px;
}
.collapseicondisplay{width:16px; height:16px;border:none;float: right;  background-color: #1E3B7B;
  border-radius: 10px;
}
.activitysechdule {float:left;width:45%;text-align:right;height: 14px;
}
.logoutdivstyles {color:#000000;
                   text-align: center; padding:1px; width: 150px;
}
.toplogoutCont{
	width: 67%;
	float:right;
	height:auto;
	padding:3px 25px;
}

.mainRowConSMS{
           width:40%; 
           height:15%;
           padding:0px;float: left;
       }

.mainRowConFile {
    width: 60%;
    height: 15%;
    padding: 125px 0px 38px 60px;
    float: left;
}

.mainRowConMail{
           width:100%; 
           height:15%;
           padding:20px;float: left;
       }

.mailimage { margin: -11px;
  width: 16px;
  margin-left: -3px;
  background: #1A2A4D;
    background-image: -webkit-linear-gradient(top, #1A2A4D, #5E7FC7);
    background-image: -moz-linear-gradient(top, #1A2A4D, #5E7FC7);
    background-image: -ms-linear-gradient(top, #1A2A4D, #5E7FC7);
    background-image: -o-linear-gradient(top, #1A2A4D, #5E7FC7);
    background-image: linear-gradient(to bottom, #1A2A4D, #5E7FC7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
    border: 1px solid #1A2A4D;
    cursor:pointer;
}
.txtarealength {  margin: 0px;
  width: 181px;
  height: 31px;
}
/*EMPHCS1575 rajasekhar reddy patakota 23/02/2016 Item Description into text area changes*/
.gridtxtarealength {  margin: 0px;
  width: 170px;
  height: 20px;
}
.gridselectedrowlength {  height: 4em;
                          background-color:#ccdfef;
}
.tblrowheight {height: 15%;
  padding: 1.5px;
  float: left;width:100%;
}
.tbltxt { color: black;
  width: 76%;
  float: left;  
  font-size: 12px;
  height: 18px; 
  border-radius: 5px;
}
.tbltxtarea {  font-size: 14px;
  min-height: 15px;
  width: 76%;
  border-radius: 5px;
}
.tblddl {  width: 76%;
  border-radius: 5px;
  height: 25px;
  font-size: 12px !important;
}
.tblcontrollength {  color: black;
  width: 44%;
  float: left;
}
.tbltextlength {    color: black;
  width: 55%;
  float: left;
  text-align: right;
  padding: 5px 5px 0px 0px;
  font-size: 12px;
}
.tblfirstcol {  width:50%;
}
.tblsecondcol {  width:48%;float:left;
}
.tblsections { font-weight:bold;text-align:center;padding: 4px;width: 100%;
}
/*EMPHCS1503 rajasekhar reddy patakota 10/01/2015 Point Of Sales Creation In Retail application*/
.col1 {  width:5%;
}
.col2 {  width:35%;
}
.col3 {  width:15%;
}
.col4 {  width:5%;
}
.col5 {  width:10%;
}
.col6 {  width:15%;
}
.col7 {  width:25%;
}
div .txtmailclass {
    font-size: 14px;
    height: 36px;
    width: 99%;
    border-radius: 5px;
}
       .ddlmail{
            width: 100%;
  border-radius: 5px;
  height: 40px;
  font-size: 14px !important;
       }
.lblMailfile {
    color: black;
    width: 100%;
    float: left;
    text-align: left;
    padding: 5px 0px 0px 15px;
    font-size: 14px;
}
/*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
.gridrowadddiv {
    float: left;display:none;
    padding-bottom: 8px;
    padding-top: 8px;
    width:100%;
    border: 0.1px solid grey;
    border-right: none;
}
.linegridrowaddwidth {
    float: left;width: 93%; padding-left: 8px;
}
.linegridrowimgwidth {
    float: left;width: 5%;
}
.gridrowaddimg {
    width:28px;    
    padding-top: 11px;
    padding-left: 8px;
}
/*EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way*/
.pagescrollup {
    position: fixed;
    bottom: 32px;
    right: 50px;
    border-radius: 30px;
    display: none;
    width: 40px;
}

.qcol1 {  width:35%;
}
.qcol2 {  width:15%;
}
.qcol3 {  width:10%;
}
.qcol4 {  width:10%;
}
.qcol5 {  width:10%;
}
.qcol6 {  width:20%;
}

            .StaticgridFoter {
    width: 100%;
   overflow:hidden;
    padding: 0;
    background-color: #ECF4F9;
   /*height: auto;*/
    float: left;
}
.StaticgridFoter  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	/*EMPHCS1575 rajasekhar reddy patakota 23/02/2016 Item Description into text area changes*/
	/*.fbBodyFoter  tr:nth-of-type(odd) { 
		background: #ecf4f9; 
	}*/
	.StaticgridFoter  th { 
		background: #ccdfef; /* Old browsers */
background: -moz-linear-gradient(top,  #ccdfef 0%, #97c6ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccdfef), color-stop(100%,#97c6ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ccdfef 0%,#97c6ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ccdfef 0%,#97c6ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfef', endColorstr='#97c6ed',GradientType=0 ); /* IE6-9 */
		/*color: #333;*/ 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #92b2d3;
	}
	.StaticgridFoter  td, th { 
		
		border: 1px solid #92b2d3; 
		text-align: left; 
		font-size:11px;
		padding:5px 5px 5px 5px;
		/*EMPHCS1794 rajasekhar reddy patakota 01/08/2016 Formbuild Screen Modifications*/
        padding-bottom: 0px;
        border-bottom-color: lightgray;
	}


