﻿.webgrid-table
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px white;
        background-color: white;
    }
    .webgrid-table td, th
    {      
        font-size: 16px;
        padding: 6px 7px 6px;
        background:url("sort_both.png") no-repeat center right,linear-gradient(to bottom, #E0ECFF 0%,#E0ECFF 100%)
    }
    .webgrid-header
    {
        background-color: #E0ECFF;
        color: black;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }
    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        padding: 3px 7px 2px;
    }
    .webgrid-alternating-row
    {
        background-color: #ecf4f9;
        padding: 3px 7px 2px;
    }
    .myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8db1f0), color-stop(1, #113c70));
	background:-moz-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:-webkit-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:-o-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:-ms-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:linear-gradient(to bottom, #8db1f0 5%, #113c70 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8db1f0', endColorstr='#113c70',GradientType=0);
	background-color:#8db1f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #8e9ecc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:1px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #113c70), color-stop(1, #8db1f0));
	background:-moz-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:-webkit-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:-o-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:-ms-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:linear-gradient(to bottom, #113c70 5%, #8db1f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#113c70', endColorstr='#8db1f0',GradientType=0);
	background-color:#113c70;
}
.myButtonline:active {
	position:relative;
	top:1px;
}
    .myButtonline {
	-moz-box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8db1f0), color-stop(1, #113c70));
	background:-moz-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:-webkit-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:-o-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:-ms-linear-gradient(top, #8db1f0 5%, #113c70 100%);
	background:linear-gradient(to bottom, #8db1f0 5%, #113c70 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8db1f0', endColorstr='#113c70',GradientType=0);
	background-color:#8db1f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #8e9ecc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButtonline:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #113c70), color-stop(1, #8db1f0));
	background:-moz-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:-webkit-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:-o-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:-ms-linear-gradient(top, #113c70 5%, #8db1f0 100%);
	background:linear-gradient(to bottom, #113c70 5%, #8db1f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#113c70', endColorstr='#8db1f0',GradientType=0);
	background-color:#113c70;
}
.myButtonline:active {
	position:relative;
	top:1px;
}
.mastercreate {
	width: 100%;padding: 7px 0 0 0px;border: 1px solid;border-radius: 4px;border-color: #97c6ed;float:left;
}
.mastercreateSR {
	width: 100%;padding: 7px 0 0 0px;border-radius: 0px;border-right:1px solid;border-left:1px solid;border-color: #97c6ed;float:left;
}
.mastercreateSRR {
	width: 100%;padding-left:0px;
    /*border-bottom: 1px solid;*/
    border-right:1px solid;border-left:1px solid;border-radius: 0px;border-color: #97c6ed;float:left;
}
.mastercreateSRRI {
	width: 100%;padding: 0px;border-bottom: 1px solid;border-right:1px solid;border-left:1px solid;border-radius: 0px;border-color: #97c6ed;float:left;
}
.mastercreateSRRJ {
    width: 100%;
    padding: 0px;
    /*border-bottom: 1px solid;*/
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 0px;
    border-color: #97c6ed;
    float: left;
}
.itemddl {
	width:48%;float:left;
}
.itemddl1 {
	width:30%;float:left;
}
.itemddlQC {
	width:33%;float:left;
}
.itemviewddlQC {
	width:45%;float:left;
}
.itemddlwidth {
	width:250px;height:30px;
}
.itemddlposition {
	float:left;padding: 2px;
}
.custddlposition {
	float:left;padding: 2px;
}
.itemlabel {
	float:left;padding: 5px;font-size: 20px;
}
.itemlabelSR {
	float:left;padding: 5px;font-size: 16px;
}
.griddisplay {
	width:100%;min-height:240px;float:left;border-bottom:1px solid;
}
.griddisplayQC {
	width:100%;height:320px;float:left;border-bottom:1px solid;overflow-y:scroll;
}
.totallbls {
	text-align:right;width:65%;float: left;padding-top:2px;font-size:17px;
}
.totaltxts {
	text-align:right;float: right;padding-right: 5px;font-size:17px;
}
.totalinfo {
	float:right;width:50%;border-bottom:1px solid;border-left: 1px solid;border-color: #97c6ed;margin-top:2px;
}
.totalamtlbl {
	text-align:right;width:65%;float: left;padding-top:2px;font-size:20px;
}
.totalamttxt {
	text-align:right;width:30%;float: right;padding-right: 5px;font-size:20px;
}
.totalduelbl {
	text-align:right;width:50%;float:left;color:red;font-size:20px;
}
.totalduetxt {
	text-align:right;width:49%;float: left;color:red;font-size:20px;
}
.Retaillbl {color: black;
    float: left;
    text-align: right;
    padding: 10px 5px 0px 0px;
    font-size: 13px;
    font-weight:bold;
}
.Retailtotallbls {   
    text-align: right;
    width: 65%;
    float: left;
    padding-top: 2px;
    font-size: 13px;
    font-weight:bold;
}
.Retailtotaltxts {   
    text-align: right;
    float: right;
    padding-right: 5px;
    font-size: 13px;
    font-weight:bold;
}
.Retailwebgrid-table
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px white;
        background-color: white;
    }
    .Retailwebgrid-table td
    {      
        font-size: 16px;
        padding: 6px 7px 6px;
        background:url("sort_both.png") no-repeat center right,linear-gradient(to bottom, #E0ECFF 0%,#E0ECFF 100%)
    }
    .Retailwebgrid-table th
    {      
        font-weight: bold;
        font-size: 16px;
        padding: 6px 7px 6px;
        background:url("sort_both.png") no-repeat center right,linear-gradient(to bottom, #E0ECFF 0%,#E0ECFF 100%)
    }
    .Retailwebgrid-header
    {
        background-color: #E0ECFF;
        color: black;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }
    .Retailwebgrid-footer
    {
    }
    .Retailwebgrid-row-style
    {
        padding: 3px 7px 2px;
    }
    .Retailwebgrid-alternating-row
    {
        background-color: #ecf4f9;
        padding: 3px 7px 2px;
    }
.mastercreateq {
	width: 98.9%;height: 36px;padding: 7px;border: 1px solid;border-radius: 4px;border-color: #97c6ed;
}
    .posfieldposition
    {
       width: 33%;float: left;
    }
.posfieldpositionSR {
    width: 25%;
    float: left;
}
.posEditCustfieldpositionSR {
    width: 25%;
    float: left; /*padding-left:95px;*/
}
    .posfieldpositionC
    {
       width: 33%;float: left; /*padding-left:95px;*/
    }
     .posfieldpositionD
    {
       width: 33%;float: left; /*padding-left:140px;*/
    }
    .posEditDatefieldpositionS
    {
       width: 33%;float: left;/*padding-left:135px;*/
    }
    .posEditCustfieldpositionS
    {
       width: 33%;float: left;/*padding-left:95px;*/
    }
    .posEditDatefieldposition
    {
       width: 33%;float: left;
    }
    .posEditCustfieldposition
    {
       width: 33%;float: left;
    }
    .posserCustfieldposition
    {
       width: 26%;float: left;
    }
    .posEditdeleteposition
    {
       width: 7%;float: left;padding: 3px 2px;
    }