﻿@charset "utf-8";
 body{
	font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 75%;    
    /*overflow:hidden;*/
}



/*EmployeeMaster Info CSS*/

empInfo {
    width:100%;
}
empInfo table {
        width: 100%;
    }
div .header {
    padding: 0;
    text-align: left;
    font-weight: bold;
    background-color: ActiveBorder;
}
.empInfoChat {
    width: 33%;
    grid-row-align: center;
    float:left;
}
div .empInfoChat img {
        width: 100%;
        height: 90%;
    }

/*Emp Info Body*/
.EmprightContent {
    width: 100%;
    float: left;
    height: auto;
}



/*_Layout CSS */

/*header*/
#dialogbox {
            display: none;
            position: fixed;
            background: #000;
            border-radius: 7px;
            width: 350px;
            z-index: 10;
        }
  
#dialogbox > div {
                background: #FFF;
                margin: 5px;
            }

#dialogbox > div > #dialogboxhead {
                    text-align: center;
                    background: #666;
                    font-size: 20px;
                    padding: 5px;
                    color: #FFF;
                }

#dialogbox > div > #dialogboxbody {
                    background: #f2cadc;
                    
                    padding: 20px;
                    color: #ee1d7c;
                    font-weight:bold;
                }

#dialogbox > div > #dialogboxfoot {
                    text-align: center;
                    background: #ea9dbc;
                    padding: 10px;
                }


.mainContainer {
	float: left;
	width: 96%;
	margin:0% 2%;
	height: auto;
}

.topHeader{
	width:100%;
	height:auto;
	float:left;
	
	}
	
.logoContainer{
	width:auto;
	height:auto;
	float:left;
	
	}

.logo{
	width:auto;
	height:auto;
	float:left;
	
	}

.headerEmtyCont{
	width:auto;
	float:left;
	height:auto;
	background:#FFFFFF;
	}

#messageDiv{
     display:block;position:absolute; 
     border: 2px solid #a1a1a1; min-width:40%; 
     width:40%; max-width:67%; border-radius: 5px; 
     background-color: white; color:white ;
     width: 67%; padding: 0;text-align:center;font-weight:bold; 

}

.headerMenuCont{
	width:260px;
	height:auto;
	float:right;
	
	}

.headerUser{
	width:300px;
	float:left;
	height:auto;
    margin:5px;
}

.headerUser div{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;

}

.headerSearch div{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;

}

.headerSearch{
	width:100%;
	float:left;
	height:auto;margin:2px;
}

/*header Menu _Layout*/

.headerMenu {
 	width:100%;
	float:left;
	height:auto;
    
}

.headerMenu div {
       vertical-align: top; width: 100%;height: 40px;line-height: 15px;text-align: left;
        font-size: 14px;
     width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ece6e8;
  border-bottom: 2px solid #d9ced3;
 background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 16%, #2b2b2b 59%, #1c1c1c 80%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(16%,#595959), color-stop(59%,#2b2b2b), color-stop(80%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


	border-radius: 10px;
    }


/*body content _Layout*/

.bodyContent{
	width:100%;
	float:left;
	background:#fff;
	height:auto;
    display: table-cell;
    padding-top: 1px;
	}

/*left menu _Layout*/
.leftMenuContShow{
	width:14%;
	margin-right:.3%;
    /*padding-bottom:80px;*/
	float:left;
	height:512px;
	border-radius: 0px 10px 10px 0px;
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */


}

.leftMenuContHide{
	width:1.5%;
	margin-right:.3%;
	float:left;
	height:512px;
	border-radius: 0px 10px 10px 0px;
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */


}

.collapseIcon{

	
	float:right;
	border-radius:0px 10px 0px 10px;
	background:#fff;
	padding:1px;
	border: 1px solid #b13c6b;
}

.leftMenu{
	width:100%;
	float:left;
	height:auto;

}

.leftMenu ul{
	list-style:none;
	padding:0px;
	margin:0px;

}

.leftMenu ul a{
	text-decoration:none;
	
}

.leftMenu ul a:link li{
	padding:12px 10px 12px 20px;
	margin:0px;
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	font-weight:500;
	

}

.leftMenu ul a:visited li{
	padding:12px 10px 12px 20px;
	margin:0px;
	display:block;
	background:transparent;
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	font-weight:500;

}

.leftMenu ul a:hover li{
	padding:12px 10px 12px 20px;
	margin:0px;
	display:block;
	background:#db4d8d;
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	font-size:14px;
	font-weight:700;

}


/*actual left menu*/
#acc {
    width: 100%;
    vertical-align: top;
    padding: 0 2px 0 0;
    border: 0px;
    background-color: #fdc8e0;
    color:white;
    border-radius:20px;
    float:left;
}

.layoutAccMenu {
    height: auto;
    font-weight: bold;
    vertical-align: top;
    border: solid 1px #7b1e48;
    border-color: #7b1e48;
    background-color: #7b1e48;
    color: white;
    /*width: 95%;*/
    padding: 2px;
    font-size:13px;
    /*border-top-right-radius:15px;
    border-top-left-radius:15px;*/
   
}

.layoutAccMenuCont {
  border-bottom: solid 1px #88003e;
  height: auto;
  background-color: #b13c6b;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0px;
  text-decoration: none;

}

.layoutAccMenuCont a:link {
	padding:6px;
	margin:0px;
	display:block;
	background:transparent;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;


}

.layoutAccMenuCont a:visited {
	padding:6px;
	margin:0px;
	display:block;
	background:transparent;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;

}

.layoutAccMenuCont a:hover {
	padding:6px;
	margin:0px;
	display:block;
	background:#db4d8d;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;
}
/*error*/
div .linkMenuFont {
     padding:2px 0px 5px 3px;
	margin:0px;
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:500;
  
}

.collapseIconHide{

	display:none;
    width:3%;
	margin-right:1%;
	float:left;
	height:475px;
	border-radius: 0px 10px 10px 0px;
	background: #8b2c57;
}

.collapseIconRight{

	float:right;
	border-radius:0px 10px 0px 10px;
	background:#fff;
	padding:5px 10px;
	border: 2px solid #b13c6b;
}


/*body Content Right*/

.rightContent{
	width:85.7%;
	float:left;
	height:auto;

}
.rightContentHide{
	width:98.1%;
	float:left;
	height:auto;

}
.rowCont{
	width:100%;
	height:auto;
	float:left;

}
.topHeaderContentBody{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	border-radius: 10px 10px 0px 0px;

}
.topHeaderContentBodyInfoEmptyCont {

float:left;
width:100%;
min-height:100%;
}


.topHeaderContentBodyInfo{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	

}

.pageTittle{
	width:43%;
	float:left;
	color:#fff;
	font-size:13px;
	text-align:left;
	padding: 5px;
    font-weight: bold;
	/*border-bottom:3px solid #223a6e;
	margin-bottom:3px;*/

}


/* info page css in form build*/
/*body right content header strip*/
.linebreek {
    height: 1px;
    background-color: #fff;
    float: left;
    width: 100%;
    margin-bottom: 1px;
}
.topfirstButtonCont{
	width: 96%;
	float:left;
	height:auto;
	padding:3px 2%;

}

.btnContleft{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;

}
.btnContleftFB{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;
    padding:2px 5px 2px 10px;

}
.btnContRight{
	width:auto;
	float:right;
	height:auto;
	margin-left:10px;
    color:#ffffff;
}
.headerSearch{
	width:auto;
	float:left;
	height:auto;
	margin-left:10px;
    color:#000000;
}
.btnContRight lable {
        font-size: 14px;
        color: #fff;
    }
.topSecondButtonCont{
	width: 96%;
	float:left;
	height:20px;
	padding:1px 2%;
	margin-bottom:5px;


}


/*button styles*/
.buttonclass {
  /*background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(to bottom, #ffffff, #dedede);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #404040 !important;
  font-weight:bold;
  font-size: 12px;
  padding: 3px 13px 3px 13px;
  text-decoration: none;
  border:none;*/
  background: #1A2A4D;
  background-image: -webkit-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: -moz-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: -ms-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: -o-linear-gradient(top, #1A2A4D, #5E7FC7);
  background-image: linear-gradient(to bottom, #1A2A4D, #5E7FC7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  color: #ffffff !important;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  border: 1px solid #1A2A4D;

}
.buttonclass:hover {
  background: #002373;
  background-image: -webkit-linear-gradient(top, #AAC2F7, #002373);
  background-image: -moz-linear-gradient(top, #AAC2F7, #002373);
  background-image: -ms-linear-gradient(top, #AAC2F7, #002373);
  background-image: -o-linear-gradient(top, #AAC2F7, #002373);
  background-image: linear-gradient(to bottom, #AAC2F7, #002373);
  text-decoration: none;
  color:#fff;
  border:none;
  cursor:pointer;
     -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
  font-size: 12px;font-weight: bold;
  border: 1px solid #002373;
 

}


/*button styles*/
.darkBgButton {
  background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #ffffff !important;
  font-weight:bold;
  font-size: 12px;
  padding: 3px 13px 3px 13px;
  text-decoration: none;
  border:none;
  

}
.darkBgButton:hover {
  background: #fd3c94;
  background-image: -webkit-linear-gradient(top, #fd3c94, #db3477);
  background-image: -moz-linear-gradient(top, #fd3c94, #db3477);
  background-image: -ms-linear-gradient(top, #fd3c94, #db3477);
  background-image: -o-linear-gradient(top, #fd3c94, #db3477);
  background-image: linear-gradient(to bottom, #fd3c94, #db3477);
  text-decoration: none;
  color:#fff;
  border:none;
  cursor:pointer;

}

/*Export Button Styles Starts*/

.dropdown {
    position:static;
    display: inline-block;

}
.dropdown ul{
position: fixed;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    visibility: visible;
    transform: scale(1);
    transition: all 0s;
    vertical-align:top;
}

.dropdown .dropdown-menu {


    position: static;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: auto; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: auto;
}



/** Button Styles **/
.dropdown button {
     background-color: #ffffff;
            color: #000;
            /*padding: 3px 9px;*/
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    border-left:solid 0px #62153c;
     
}

.dropdown button:hover {
    background-color: #fff;
                color: #88003e;
                border-radius: 5px;
                /*padding: 3px 9px;*/
               font-weight: bold;
               cursor: pointer;
               border-left:solid 0px #62153c;
    position:static;
     
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #88003e;
    color: #FFFFFF;
    font-size:12px;
    width:35px;

}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #fff;
    color:#88003e;
    font-size:12px;
    font-weight:bold;
    width:35px;
          
}
                        


/*hide fillters in info page */

.hideFilter{
    background-color: #a83268;  display: none;
     

       background-color: #db4d8d;
    color: #ffffff;
    height:30px;
     padding:3px 10px 3px 13px;
     width:98%;
    float:left;

}

.hideFilter div {
   

    width:auto;
    height:23px;
    padding:5px 10px 5px 6px;
    float:left;
    color:#ffffff;
    margin:1px 2px 1px 5px;

}

.hideFilter div label{
      
       color:#ffffff ;
       width:auto;
       float:left;
       padding-right:5px;
       font-size:12px;

}

.hideFilter div select{
      
       width:60%;
       float:left;
       border-radius:5px;
       height:23px;
       font-size:12px;
       color:#88003e;

}






/**   GRID STYLES info page in form build **/

.overflow {
    float: left;
    border: 1px solid #d392b3;
    background:#FFF;
    width: 99.8%;
    overflow: auto;
    height: 400px;
}

.overflowGrid {
     width:100%;
    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height:400px;
    float: left;
}
.overflowGridCustView {
     width:100%;
    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height:452px;
    float: left;
}

.overflowGridCustView  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.overflowGridCustView  tr:nth-of-type(odd) { 
		background: #f9ecf3; 
	}
	.overflowGridCustView  th { 
		background: #efccdc; /* Old browsers */
background: -moz-linear-gradient(top,  #efccdc 0%, #ed97be 100%); /* FF3.6+ */
background: -webkit-gradient(linear, leftopHeaderContentBodyInfot top, left bottom, color-stop(0%,#efccdc), color-stop(100%,#ed97be)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efccdc 0%,#ed97be 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efccdc', endColorstr='#ed97be',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #d392b3;
        height:15px;
	}
	.overflowGridCustView  td, th { 
		
		border: 1px solid #d392b3; 
		text-align: left; 
		font-size:12px;
		padding:3px;
	}

.gridcntdata {
    display: none;
    /*background: none repeat scroll 0% 0%;*/
     overflow: auto;
    height: 335px;
    float: left;
}


/* GRID
----------------------------------------------------------*/



/*OLD GRID*/


.ch{
display:inline-block; width:150px;}
 div input.idTextFB {
    font-size: 12px;
    width: 150px;
    border: none;
    display: none;
}
div input.idTextFBelse {
    font-size: 12px;
    background-color: inherit;
    width: 150px;
    height:14px;
    text-align: left;
    /*border: 1px solid #d392b3;*/
    border:none;
}


.overflowGrid  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.overflowGrid  tr:nth-of-type(odd) { 
		background: #f9ecf3; 
	}
	.overflowGrid  th { 
		background: #efccdc; /* Old browsers */
background: -moz-linear-gradient(top,  #efccdc 0%, #ed97be 100%); /* FF3.6+ */
background: -webkit-gradient(linear, leftopHeaderContentBodyInfot top, left bottom, color-stop(0%,#efccdc), color-stop(100%,#ed97be)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efccdc 0%,#ed97be 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efccdc', endColorstr='#ed97be',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #d392b3;
        height:15px;
	}
	.overflowGrid  td, th { 
		
		border: 1px solid #d392b3; 
		text-align: left; 
		font-size:12px;
		padding:3px;
	}


.menuIcon {

    display:block;width:30px;height:25px; background:url('Images/@mp.COLUMN12');
}




@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.overflowGrid  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.overflowGrid  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.overflowGrid  tr { border: 1px solid #ccc; }
		
		.overflowGrid  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.overflowGrid  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.overflowGrid  td:nth-of-type(1):before { content: ""; }
		.overflowGrid  td:nth-of-type(2):before { content: "Purchase Order"; }
		.overflowGrid  td:nth-of-type(3):before { content: "Vendor"; }
		.overflowGrid  td:nth-of-type(4):before { content: "Date"; }
		.overflowGrid  td:nth-of-type(5):before { content: "Ship Date"; }
		.overflowGrid  td:nth-of-type(6):before { content: "Memo"; }
		.overflowGrid  td:nth-of-type(7):before { content: "Ref"; }
		.overflowGrid  td:nth-of-type(8):before { content: "Total"; }
		.overflowGrid  td:nth-of-type(9):before { content: "Status"; }
		.overflowGrid  td:nth-of-type(10):before { content: "OperatingUnit"; }
		.overflowGrid  td:nth-of-type(11):before { content: "Department"; }
	}


.gridcntdata  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.gridcntdata  tr:nth-of-type(odd) { 
		background: #f9ecf3; 
	}
	.gridcntdata  th { 
		background: #efccdc; /* Old browsers */
background: -moz-linear-gradient(top,  #efccdc 0%, #ed97be 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efccdc), color-stop(100%,#ed97be)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efccdc 0%,#ed97be 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efccdc', endColorstr='#ed97be',GradientType=0 ); /* IE6-9 */


		color: #000; 
		font-weight: bold; 
		font-size:14px;
		border:1px solid #d392b3;
	}
	.gridcntdata  td, th { 
		
		border: 1px solid #d392b3; 
		text-align: left; 
		font-size:12px;
		padding:10px 5px;
	}





@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.gridcntdata  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.gridcntdata  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.gridcntdata  tr { border: 1px solid #ccc; }
		
		.gridcntdata  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.gridcntdata  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.gridcntdata  td:nth-of-type(1):before { content: ""; }
		.gridcntdata  td:nth-of-type(2):before { content: "Purchase Order"; }
		.gridcntdata  td:nth-of-type(3):before { content: "Vendor"; }
		.gridcntdata  td:nth-of-type(4):before { content: "Date"; }
		.gridcntdata  td:nth-of-type(5):before { content: "Ship Date"; }
		.gridcntdata  td:nth-of-type(6):before { content: "Memo"; }
		.gridcntdata  td:nth-of-type(7):before { content: "Ref"; }
		.gridcntdata  td:nth-of-type(8):before { content: "Total"; }
		.gridcntdata  td:nth-of-type(9):before { content: "Status"; }
		.gridcntdata  td:nth-of-type(10):before { content: "OperatingUnit"; }
		.gridcntdata  td:nth-of-type(11):before { content: "Department"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}

    

    /*FOOTER BODY INFO FORMBUILD*/


.bottomRowContent{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
    left:0px;
   bottom:0px;
   height:30px;
	/*padding-bottom:10px;*/
	

}

    /*FOOTER BODY INFO FORMBUILD*/

    .bottomRowContentFooter{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding-bottom:5px;
	padding-top:5px;
    height:25px;
	float: left;
width: 100%;

}



.popUpSearchFooter{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding:10px 0px 8px 130px;
    height:25px;
	float: left;
      width: 67%;

}

.popUpContentRecepitFooter{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding:10px 416px 8px 416px;
    height:25px;
	float: left;
      width: 17%;

}
   
.btnContleftFooetr{
	width:15%;
	float:left;
	height:auto;
	/*margin-left:20px;*/
    /*color:#ffffff;

   
	font-size:14px;

	margin:1px 5px ;*/

}

.labelTxt{
	width:auto;
	float:left;
	height:auto;
	font-size:14px;
	color:#fff;
	margin: 11px 0px 11px 35px;
	

}
.txttabClass {
     font-size: 12px;
  height: 18px;
  width: 100%;
  border-radius: 5px;
}

.labelTxtFB{
	width:auto;
	float:left;
	height:auto;
	font-size:14px;
	color:#fff;
	margin: 5px 0px 5px 10px;
	

}


.labelTxtFirstCol{
	  width: auto;
  float: left;
  height: auto;
  font-size: 12px;
  color: #fff;
  margin: 1px;
  padding: 7px 0px 0 25px;
}
	

}

.bottomCol{
	width:auto;
	height:auto;
	float:left;

}
.bottomInputField{
	width:90px;
	height:25px;
	float:left;
	
}
.CheckboxbottomCol{
	width:10%;
height: 25px;
float: left;
margin-top: 15px;
}
.bottomInputField select{
	width:100%;
	height:25px;
	float:left;
	margin:2px 5px 5px 7px;
	border-radius:10px;
	font-size:12px;

}


/*.btnContleftFooetr lable{
    width:auto;
	float:left;
	height:auto;
	font-size:14px;
	color:#fff;
	margin:11px 7px ;
	
}
.btnContleftFooetr select{
	width:100%;
	height:25px;
	float:left;
	margin:7px 5px 5px 7px;
	border-radius:10px;
	font-size:12px;

}*/

.footerContent{
	width:99.8%;
	float:left;
	color:#fff;
	height:auto;
    text-align:center;
    background: linear-gradient(to bottom, #4C4C4C 0%, #2B2B2B 100%) repeat scroll 0% 0% transparent;
    margin:1px 0px ;
    padding:1px;
    font-size: 12px;
    border-radius:5px;
	}
/*.footerContent{
	width:99.8%;
	float:left;
	color:#fff;
	height:auto;
    text-align:center;
    background:#000000;
    margin:1px 0px ;
    padding:1px;
    font-size: 12px;
    border-radius:5px;
	}*/
/** html .footer {
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}*/


.btnContRightFooter{
	width: auto;
    float: right;
    height: 25px;
    margin-top: 4px;
    padding-right: 20px;
}
.emptyDivF {

    /*width:4% !important;*/
    width:10% !important;
    float:left;
}

.button-hide{

    font-size: 10px;
    font-weight: bold;
    cursor: pointer;border-left:solid 1px #62153c;
}
   

.button-show{
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}







/**FORMBUILD (NEW) CSS styles IN FORMBUILDING **/


.bottomRowContentFB{
	background: #b13c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #b13c6b 0%, #a23460 50%, #6b2146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b13c6b), color-stop(50%,#a23460), color-stop(100%,#6b2146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b13c6b 0%,#a23460 50%,#6b2146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13c6b', endColorstr='#6b2146',GradientType=0 ); /* IE6-9 */
	border-radius: 0px ;
}
.bottomColFB{
	width:auto;
	height:auto;
	float:left;

}

.bottomColFB1{
	width:50px;
	height:auto;
	float:left;
    margin:7px 5px 5px 20px;

}

.bottomColFB2{
	width:120px;
	height:auto;
	float:left;
    margin:7px -2px 5px 20px;

}
.bottomInputFieldFB{
	width:130px;
	height:25px;
	float:left;
	
}
.bottomInputFieldFB select{
	width:100%;
	height:25px;
	float:left;
	margin:5px 5px 5px 7px;
	border-radius:10px;
	font-size:12px;

}
.bodyFBContent {
     background: #f9ecf3 repeat scroll 0% 0%;
  height: 420px;
  width: 100%;
  float: left;
  overflow-y: auto;
  overflow-x:hidden;
  border: 0px;
}

.bodyFBContentInner {
    
  height: 380px;
  width: 98%;
  float: left;
  overflow-y: scroll;
  overflow-x:scroll;
  border: 0px;
}
.mainRowHeader{
           width:100%; 
           height:15%;
           float: left;
       }

.divRow{
       border: solid 1px;
  height: auto;
  overflow: hidden;
  width: 100%;
  padding-top: 1px;
  background-color: #f9ecf3;
  border-color: #f9ecf3;
  float: left;
  padding-bottom: 5px;
       }
.bodyFBCon {
    width: 99%;
    background-color: #a23460;
    color: white;
    padding:5px 0px 5px 10px;
}
.mainRow{
           width:99%; 
           
           padding:2px;
           float: left;
       }

.mainRowCon{
           width:33%; 
           height:15%;
           padding:0px;float: left;
       }

.lbl{  color: black;
    width: 49%;
  float: left;
  text-align: right;
  padding: 5px 5px 0px 0px;
  font-size: 12px;
       }
       .txt{color:black;
           width:48%; 
          float:left
       }
       .ddlS{  color: black;
  width: 40%;
  float: left;
  padding-right: 0px;
       }
.plusImage {
float:left;
width:16px;
margin-top:4px;
}
       .ddl{
            width: 100%;
  border-radius: 5px;
  height: 25px;
  font-size: 12px !important;
       }
       div .imageSize {
   width: 16px;
  height: 16px;
  background-color: #fdc8e0;
  border-radius: 10px;

}
       #divLoading {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index: 30001;
    opacity: .8;
    filter: alpha(opacity=70);
    display: none;
}
#divLoading p{
    position: absolute;
    top: 30%;
    left: 45%;
    color: White;
}
.newTabFB {
    display: block;
    float: left;
      margin: 1px 0 0px 5px;
     
}

.buttonclassTab {
  background: #4c0823;
  background-image: -webkit-linear-gradient(top, #4c0823, #914e70);
  background-image: -moz-linear-gradient(top, #4c0823, #914e70);
  background-image: -ms-linear-gradient(top, #4c0823, #914e70);
  background-image: -o-linear-gradient(top, #4c0823, #914e70);
  background-image: linear-gradient(to bottom, #4c0823, #914e70);
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff !important;
  font-weight:bold;
  font-size: 12px;
  padding: 8px 13px 2px 12px;
  text-decoration: none;
  border:1px solid #ffffff;
 
  
  border-bottom:hidden;

}
.buttonclassTab:hover {
  background: #fd3c94;
  background-image: -webkit-linear-gradient(top, #fd3c94, #db3477);
  background-image: -moz-linear-gradient(top, #fd3c94, #db3477);
  background-image: -ms-linear-gradient(top, #fd3c94, #db3477);
  background-image: -o-linear-gradient(top, #fd3c94, #db3477);
  background-image: linear-gradient(to bottom, #fd3c94, #db3477);
  text-decoration: none;
  color:#fff;
  border:none;
  cursor:pointer;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -wesize: 12px;
 padding: 8px 13px 2px 12px;
  text-decoration: none;
  border:1px solid #ffffff;
  border-bottom:hidden;
}
.fbTabCon {
    /*background-color: #DDEEFF;*/
    color: black;
    height: auto;
    width: 99.6%;
    float: left;
}
.labelcolor {
    color: white;
}
    .fbTabCon ul {
        background-color: #9b3267;
        color: white;
        height: 25px;
        padding: 0;
        float: left;
        width: 100%;
    }

        .fbTabCon ul li {
            height: 22px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: bold;
            padding: 0;
            background-color:#a23460;
        }
            .fbTabCon ul li a {
                height: 12px;
                text-align: center;
                font-size: 12px;
                color: white;
                font-weight: bold;
                padding: 5px 0 0 0;
                min-width: 70px;
            }






            /* FORM BUILD GRID TAB*/

            .fbBodyFoter {
    width: 100%;
   overflow:auto;
    padding: 0;
    background-color: #f9ecf3;
   height: 200px;
    float: left;
}
.fbBodyFoter  table { 
	    width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.fbBodyFoter  tr:nth-of-type(odd) { 
		background: #f9ecf3; 
	}
	.fbBodyFoter  th { 
		background: #efccdc; /* Old browsers */
background: -moz-linear-gradient(top,  #efccdc 0%, #ed97be 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efccdc), color-stop(100%,#ed97be)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efccdc 0%,#ed97be 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efccdc 0%,#ed97be 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efccdc', endColorstr='#ed97be',GradientType=0 ); /* IE6-9 */
		color: #333; 
		font-weight: bold; 
		font-size:12px;
		border:1px solid #d392b3;
	}
	.fbBodyFoter  td, th { 
		
		border: 1px solid #d392b3; 
		text-align: left; 
		font-size:12px;
		padding:5px 5px;
	}





@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.fbBodyFoter  table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.fbBodyFoter  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.fbBodyFoter  tr { border: 1px solid #ccc; }
		
		.fbBodyFoter  td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.fbBodyFoter  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.fbBodyFoter  td:nth-of-type(1):before { content: ""; }
		.fbBodyFoter  td:nth-of-type(2):before { content: "UPS SEARCH"; }
		.fbBodyFoter  td:nth-of-type(3):before { content: "ITEMS"; }
		.fbBodyFoter  td:nth-of-type(4):before { content: "UPC"; }
		.fbBodyFoter  td:nth-of-type(5):before { content: "ITEM DESC"; }
		.fbBodyFoter  td:nth-of-type(6):before { content: "QUANTITY"; }
		.fbBodyFoter  td:nth-of-type(7):before { content: "RECIVING INSTRUCTION"; }
		.fbBodyFoter  td:nth-of-type(8):before { content: "PRICE"; }
		.fbBodyFoter  td:nth-of-type(9):before { content: "DISCOUNT"; }
		.fbBodyFoter  td:nth-of-type(10):before { content: "TOTAL"; }
	}
	




        .bottomdivRow{
     border: solid 1px;
     /*height:150px;*/
     width:100%;
    padding-top:4px;
    background-color: #f9ecf3;
    border-color: #f9ecf3;
       }



        .itemGridFB {
    width: 100%;
    height: 140px;
    border: 0px;
    padding: 0px 5px 2px 4px;
    background: none repeat scroll 0% 0%;
}
        
        .txtgridclass {
     font-size: 14px;
  height: 20px;
  width: 96%;
  border-radius: 5px;
}
.gridWH {
       font-size: 14px;
  height: 20px;
  width: 100%;
  border-radius: 5px;
}
.itemGridFB {
    width: 100%;
    height: 140px;
    border: 0px;
    padding: 0px 5px 2px 4px;
    background: none repeat scroll 0% 0%;
}
div .fbBodyFoter.gridddl {
   width: 85%;
  border-radius: 5px;
  height: 30px;
  font-size: 14px !important;
}
.gridddl{
     width: 85%;
  border-radius: 5px;
  height: 30px;
  font-size: 14px !important;
}
div .date {
  width: 75%;
  border-radius: 5px;
  height: 25px;
}


div .txtclass {
    font-size: 12px;
    height: 18px;
    width: 90%;
    border-radius: 5px;
}


.dialogSearch{
     border: solid 1px;
     height:140px;
     width:99%;
    padding-top:1px;
    background-color: #f9ecf3;
    border-color: #fdc8e0;
    float:left;
    /*padding-bottom:10px;*/
       }
.searchRow{
           width:98%; 
           
           padding-top:20px;float: left;
       }
.divRowFly{
     border: solid 1px;
     min-height:200px;
     width:100%;
    padding-top:1px;
    background-color: #f9ecf3;
    border-color: #fdc8e0;
    float:left;
    padding-bottom:10px;
       }
.bodyFBConFly {
    width: 99%;
    background-color: #a23460;
    color: white;
    padding:6px 0px 10px 10px; 
           font-weight:bold;
}
.mainRowHeaderFly{
           width:100%;
           float: left;
       }

.customviewlbl {
    width: auto;
    float: left;
    height: auto;
    font-size: 12px;
    color: #fff;
    margin: 1px;
    padding: 6px 5px 0 18px;
}
.newrowdiv {
    padding:10px 5px 5px 5px;
}
.newfieldbody {
   background: #f9ecf3 repeat scroll 0% 0%;
  height: 426px;
  width: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0px;
}
.dynamicdialogbody {
  background: #f9ecf3 repeat scroll 0% 0%;
  /* height: 420px; */
  width: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0px;
}
.pageTheme{
	width:43%;
	float:right;
	color:#fff;
	font-size:13px;
	text-align:right;
	padding: 5px;
    font-weight: bold;
	/*border-bottom:3px solid #223a6e;
	margin-bottom:3px;*/

}


