﻿@using DayPilot.Web.Mvc;
@{
    ViewBag.Title = "My Events";
}
<html>
<head>
    <script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>

</head>
<body>
    <div style="background: linear-gradient(to top, #062671 0%, #4D76C2 100%) repeat scroll 0% 0% #4D76C2;    border-radius: 10px 10px 0px 0px;
 color: white; width:100%;font-size:12px">
         <table style="width: inherit;border-collapse:collapse;border-spacing:0;padding:0;font-size:12px">
            <tr style="width: 100%;font-size:12px">
                <td style="width: 10%;padding:0;font-size:12px">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "Calendar",  new { FormName = Request["FormName"] }) + "'")    ; session();" />
<input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("FormBuild", "FormBuilding", new { FormName = Session["FormName"], ide = "null" }) + "'")    ;" /></td>
                
            </tr>
        </table>
    </div>
    @Html.DayPilotMonth("dp", new DayPilotMonthConfig
{
    BackendUrl = Url.Content("~/Calendar/Backend"),
    EventMoveHandling = DayPilot.Web.Mvc.Events.Month.EventMoveHandlingType.CallBack,
})
</body>
</html>
