﻿@using System.Web.UI.HtmlControls;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
     <script src="~/Scripts/scripts.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <meta http-equiv="Page-Enter" content="blendTrans(duration=0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(duration=0)" />
    <meta name="viewport" content="width=device-width">
    <link href="@Url.Content("~/Content/ui.dynatree.css")" rel="stylesheet" type="text/css" />
     <script src="~/Content/formbuildjquery.js"></script>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.session.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
  <script src="~/Content/jquery-bubble-popup-v3.min.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery-bubble-popup-v3.css" rel="stylesheet" />
   <script type="text/javascript">
       function accountlogout() {
           var message = document.getElementById('acclog').innerHTML;
           $('#acclogoutdiv').CreateBubblePopup({
               innerHtml: message,
               position: 'top',
               align: 'center',
               bubbleAlign: 'right',
               innerHtmlStyle: {
                   color: '#000000',
                   'text-align': 'center', 'padding': '1px', 'width': '150px'
               },
               dropShadow: true,
               tail: { hidden: false },
               tebleStyle: { color: '#000000', margin: '0px' },
               themeName: 'all-blue',
               themePath: '../../Content/themes',
               themeMargin: { total: '20px', difference: '100px' },
               width: 'auto',
               dropShadow: true, selectable: true,
               afterShown: function () {
                   active = false;
                   $(".jquerybubblepopup").bind("mouseenter", function () {
                       active = true;
                   }).bind("mouseleave", function () {
                       active = false;
                   });
               }
           });
       };
       $(document).ready(function () {
           //Page Load Events
           FormLoadActions();
           //Theme Load Events
           ThemeLoadAction('@Session["cThem"]');
           //Role Change Event
           $("[id*=rolesChange]").live("change", function () {
               RoleChangeEvent('@Request["FormName"]'); $.session.set("showhide", 2); Accordian(); 
           })
           //MessagesColour Events
           MessagesColour('@Session["MessageFrom"]', '@Session["SuccessMessageFrom"]');
           //Theme Change Event 
           $("#ddlStyle").change("change", function () {
               ThemeChange();
           });
           //Accordian Display
           Accordian();
	       //EMPHCS1797 rajasekhar reddy patakota 11/08/2016 Line Grid Details filling by simplest way
           if ($.session.get("showhide") == 2) $.session.set("showhide", 0);
           //Accordian Display
           if (typeof ($.session.get("showhide")) == "undefined")
               AccordianHide();
           //Home Button Click
           $('#homeicon').click("click", function () {
               $.session.set("showhide", 2); Accordian(); 
           });
           //Accordian Hide
           $('#imageHide').click("click", function () {
               AccordianHide();
           });
           //Accordian Display
           $('#imageShow').click("click", function () {
               AccordianShow();
           });
           //Report Date Display
           debugger
           ReportDate('@Session["ReportDate"]');
           //Alert Window
           //var Alert =new CustomAlert();
           $("#nav ul li a[href^='#']").on('click', function (e) {
               // prevent default anchor click behavior
               e.preventDefault();
               // store hash
               var hash = this.hash;
               // animate
               $('html, body').animate({
                   scrollTop: $(this.hash).offset().top
               }, 300, function () {
                   // when done, add hash to url
                   // (default click behaviour)
                   window.location.hash = hash;
               });
           });
           $('#main').show().fadeIn(1000);
           //$('.menu').jqsimplemenu();
       });
    </script>
</head>
<body>
     <div id="dialogoverlay" onclick="PopupClose();" ></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>
    <div>
    </div>
    <div class="mainContainer">
          <div class="topHeader">
    <div class="logoContainer">
      <div class="logo">
       @*   <img src="/Images/emphoralogo.jpg"  width="188" height="50" alt=""/>*@
            <p class="companylogo"> 
                @*<font class="comanyfontblue">Em</font><font class="comanyfontred">pho</font><font class="comanyfontgreen">ra</font><font class="comanyfontyellow">soft</font>
     <tag class="tagline"><font class="comanyfontorange">mySmartSCM</font></tag>*@
               
                @if (Session["logoP"] != null)
              {
                  <img src="~/Content/Upload/@Session["logoP"]" class="customerlogoheight"   alt=""/>
              }
              else
              {
                 <img src="/Images/1/empLogo1.jpg" class="customerlogoheight"   alt=""/>
                }
              
            </p>
      </div>
          <div class="logo">
              @if (Session["logo"] != null)
              {
                  <img src="~/Content/Upload/@Session["logo"]" class="customerlogoheight"   alt=""/>
              }
              else
              {
               <p class="companylogo"> <font class="comanyfontblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;your logo</font></p>
              }       
              </div>      
              @if (Session["FYLN"] != null)
              {
                  <label style="    margin-left: 10rem;line-height: 3rem;"><b>Current Financial Year :@Session["FYLN"]</b></label>
              }  
    </div>
    <div class="headerMenuCont">
        <div class="roletext">Role</div> 
       <div class="headerSearch roleheight">  @if (Session["roles"] != null)
                                              {
      @Html.DropDownList("COLUMN03", new SelectList((SelectList)Session["roles"],"Value","Text",Session["cenid"]),  new { id = "rolesChange",@class="dropdown" })
        }</div>
        <div class="headerSearch"><a href="/EmployeeMaster/Info"><img src="~/Images/homeicon.png" class="logoutimage" id="homeicon"></a></div>
        <div class="roletext">@Session["UserName"]</div>
          <div class="headerSearch"><img id="acclogoutdiv" src="~/Images/userlogo.jpg" onclick="accountlogout();" class="logoutimage"/></div>
          <div  id="acclog" style="display:none">  <a href="/Account/Logon" class="logoutlinkcolor"> Sign Out </a>  </div>
          <div class="headerSearch username"> Help </div>
    </div>
  </div>
            <div class="headerMenu">
                 @{  
                     if (Convert.ToString(Session["RediesCache"]) == "1")
                     {
                     eBizSuiteAppModel.Table.eBizSuiteTableEntities dc = new eBizSuiteAppModel.Table.eBizSuiteTableEntities();
                     var acID = (int?)Session["AcOwner"];
                     var cenID = (int?)Session["cenid"];
                     var all = dc.CONTABLE003.Where(a => a.COLUMNA03 == acID && a.COLUMN04 == cenID).ToList();
                     var MenuBuild = "MenuBuild" + acID + cenID + all.Count;
                     try{
                         MeBizSuiteAppUI.Redis.Redis obj1 = new MeBizSuiteAppUI.Redis.Redis("202.65.131.29", 6379);
                     var ViewToString = obj1.GetValue<String>(MenuBuild, "session", "default");
                     if (ViewToString == null)
                     {
                         bool ViewToString1 = obj1.SetValue<String>(MenuBuild, "session", "default", @Html.Partial("_LayoutMenu").ToHtmlString());
                         ViewToString = obj1.GetValue<String>(MenuBuild, "session", "default");
                        @Html.Raw(@ViewToString);
                     }
                     else
                     {
                        @Html.Raw(@ViewToString);
                     }}
                     catch (Exception ex)
                     {
                         Session["RediesCache"] = "0";
                        eBizSuiteAppDAL.classes.LogWriter lg = new eBizSuiteAppDAL.classes.LogWriter();
                        lg.CreateFile(Server.MapPath("~/"), "RedisException_" + Session["UserName"].ToString() + "", Convert.ToString(ex.Message));
                        @Html.Partial("_LayoutMenu");}
                     }
                     else
                     {
                        @Html.Partial("_LayoutMenu");
                     }
                     }
            </div> 
         <div class="bodyContent">
             @if (Request.QueryString["idi"] != null || Session["FormIDACCRDN"] != null)
                    {
         <div class="leftMenuContShow">
        <a href="#">
               <input type="image" src="~/Images/1/arrow-circle-right-2xx.png"/ class="collapseicondisplay"  id="imageShow">
          </a>
      <div class="leftMenu">
        <div id="acc">@Html.Partial("_LayoutAccordian")</div>
      </div>
      </div>
         @:<div class="rightContent">
             }
             else
             {
                 @:<div class="EmprightContent">
                     }
@if (ViewBag.Title != null)
{
      <div class="rowCont topHeaderContentBody">
      <div class="pageTittle"> @ViewBag.Title</div>
        @*<div class="pageTheme"> 
        </div>*@
      </div>}
      <div class="rowCont">
    <div class="headerEmtyCont">
        <div id="messageDivIcon">
            <div id="confirm" style="display:none">
            <img src="~/Images/confirm.jpg" style="width: 35px;" />
            </div>
            <div id="fail" style="display:none">
            <img src="~/Images/fail.jpg" style="width: 35px;" />
            </div>
        </div>
           <div id="messageDiv"> 
               @Session["MessageFrom"]
        </div>
    </div>
      @RenderBody()
      </div>
      <div ></div>
    </div>
        </div>
<div class="footerContent">
          <div class="footer activitysechdule">
                @Html.Partial("_Activity")
              </div>
       </div>
    </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
