﻿@*<!DOCTYPE html>
<html>
<head>
   <script src="~/Content/jqsimplemenu.js"></script>
    <script src="~/Content/jqsimplemenu.js"></script>
    <link href="~/css/dynamicStyles/green.css" rel="stylesheet" /><script type="text/javascript">
        
    </script>
    <link href="~/Content/menu.css" rel="stylesheet" />
    
</head>
    <body>*@
     @{
    List<eBizSuiteAppModel.Table.CONTABLE003> menuList = new List<eBizSuiteAppModel.Table.CONTABLE003>();
    if (@Session["LogedeMailId"] != null)
    {
        var email = Session["LogedeMailId"];
        List<eBizSuiteAppModel.Table.CONTABLE003> all = new List<eBizSuiteAppModel.Table.CONTABLE003>();
        eBizSuiteAppModel.Table.eBizSuiteTableEntities dc = new eBizSuiteAppModel.Table.eBizSuiteTableEntities();
        //var db = dc.CONTABLE003.Where(a => a.COLUMN05 != null).ToList();
        //var acOwnr = dc.CONTABLE002.Where(a => a.COLUMN08 == email).ToList();
        var acID = (int?)Session["AcOwner"];
        var cenID = (int?)Session["cenid"];
        //int co = db.Count();
        //ViewBag.count = co;
        //ViewBag.Data = dc;
        all = dc.CONTABLE003.Where(a => a.COLUMNA03 == acID && a.COLUMN04 == cenID).ToList();
        Session["LogedeMailId"] = email;
        menuList = all;
        Session["LogedeMailId"] = email;
    }
    else
    {
        Response.Redirect("~/");

    }}

<a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
        <ul id="main-menu">

    @foreach (var mp in menuList.Where(p => p.COLUMN06 == null).OrderBy(q=>q.COLUMN01))
    {

        <li>
            <a href='#'>@if(@mp.COLUMN12!=null){ 
                             <img src="~/Images/@mp.COLUMN12" width="30" height="25px" />
                           
            }@mp.COLUMN05</a>
            @if (menuList.Count(p => p.COLUMN06 == mp.COLUMN02) > 0)
            {
                @:<ul class="sub-menu">
        }

            @this.RenderMenuItem(menuList, mp)
       
        @if (menuList.Count(p => p.COLUMN06 == mp.COLUMN02) > 0)
        {
            @:</ul>
                                }

        </li>
    }
</ul>


@helper RenderMenuItem(List<eBizSuiteAppModel.Table.CONTABLE003> menuList, eBizSuiteAppModel.Table.CONTABLE003 mi)
{
    foreach (var cp in menuList.OrderBy(q=>q.COLUMN04).Where(p => p.COLUMN06 == mi.COLUMN02 && p.COLUMN10 != null))
    {
      
        
    @:<li>
if (Session["UserName"].ToString() != "SuperAdmin")
{
@*EMPHCS1169 rajasekhar reddy patakota 28/09/2015 Job order module end to end process deploying to prod*@
    var info = "Info"; 
    //EMPHCS913 gnaneshwar 11/8/2015 File seperation Jober in menu For svr account & sudder account
    if (menuList.Where(a => a.COLUMN06 == cp.COLUMN02).ToList().Count() == 0){
    @*EMPHCS1503 rajasekhar reddy patakota 10/01/2015 Point Of Sales Creation In Retail application*@
        if (@cp.COLUMND06 != null)
        {
	@*EMPHCS1169 rajasekhar reddy patakota 28/09/2015 Job order module end to end process deploying to prod*@
            if (cp.COLUMND05 != null) { info = @cp.COLUMND05; }
            @Html.ActionLink(@cp.COLUMN05, info, @cp.COLUMND06, new { idi = @cp.COLUMN02, FormName = @cp.COLUMN10 }, new { style = "display:block" })
}
else{
 if(@cp.COLUMN02==3091)
        {
            @Html.ActionLink(@cp.COLUMN05, "FormBuild", "FormBuilding", new { idi = @cp.COLUMN02, FormName = @cp.COLUMN10,orderid = @cp.COLUMN02 }, new { style = "display:block" })
        }
        else
        {
            @Html.ActionLink(@cp.COLUMN05, "Info", "FormBuilding", new { idi = @cp.COLUMN02, FormName = @cp.COLUMN10 }, new { style = "display:block" })
        }

        }
    
}else{ <a >@cp.COLUMN05</a> 
    }

}
else
{
            @Html.ActionLink(@cp.COLUMN05, @cp.COLUMND05, @cp.COLUMND06, new { idi = @cp.COLUMN02, FormName = @cp.COLUMN10 }, new { style = "display:block" })
}
if (menuList.Count(p => p.COLUMN06 == cp.COLUMN02) > 0)
{
           @:<ul  class="sub-menu">  
       }
        
         @RenderMenuItem(menuList, cp)

if (menuList.Count(p => p.COLUMN06 == cp.COLUMN02) > 0)
{
          @:</ul>
      }
else
{
          @:</li>
              }
    }
}
      @*  </body>
</html>*@

