﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <script src="~/Content/formbuildjquery.js"></script>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            //FormLoadActions();

            //var windowHeight = $(window).height();

            //var pageHeader = $('.pageHeader').height();
            ////var clearfix = $('.clearfix').height();
            //var pageFooter = $('#pageFooter').height();
            //$('.clearfix').height(windowHeight - pageHeader - pageFooter);

        });</script>
   </head>

<body >
  <div id="pageContainer">
		<header class="pageHeader">
             @if (Session["logoP"] != null)
              {
                 @* var s = Session["logoP"] ;
                  <img src="~/Content/Upload/@s" class="customerlogoheight"   alt=""/>*@
              }
             else
             {
                 <img src="@Url.Content("~/Images/1/empLogo.jpg")"/>
             }
            
		</header>


   

	 	<div id="contentContainer" class="clearfix">
			
             @RenderSection("featured", required: false)
        <section class="bodyContentContainer">
                @RenderBody()
         </section>
  		

 			
		</div>
     
		<footer id="pageFooter">
           
            
     @*       <div class="pageFooterContentContainer">
 CopyRight &#169 @DateTime.Now.Year – eBizSuite. All Rights Reserved.
            </div>*@
		</footer>
	</div>
    
</body>
</html>