﻿
<html>
<head>
        <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i('.Quantity').keydown(function (e) { 
                if (e.which === 9) {
                    var tr1 = $(this).closest('tr').next('tr')
                    $i(tr1).find("#Lot").focus();
                }
            });
            $i('.Quantity').on("change", function () {
                var tr = $i(this).parent().parent();
                var qty = $(tr).find("#Quantity").val();
                var Price = $(tr).find("#Price").val();
                var QtyonStock = $(tr).find("#QtyonStock").val();
                var TotalStock = $(tr).find("#TotalStock").val();
                if (TotalStock == "" || typeof (TotalStock) == "undefined") TotalStock = 0;
                QtyonStock =parseFloat(TotalStock) + parseFloat(QtyonStock);
                if (isNaN(parseFloat(qty)) || parseFloat(qty) < 0 || !(qty.match('^([0-9]+)(\.[0-9]+)?$'))) {
                    Alert.render('Please Enter More Than Zero Value for Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
		    //EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                        $("#dialogbox").dialog("close"); $(tr).find("#Quantity").val(""); $(tr).find("#Quantity").focus(); $(tr).find('#Amount').val("");
                    })
                }
                else if (parseFloat(qty) > parseFloat(QtyonStock)) {
		//EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                    if ('@Session["FormNameID"]' == "1276" || '@Session["FormNameID"]' == "1354") {
                        Alert.render('Quantity Should Less Than Qty on Hand'); $("#alertok").focus();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $(tr).find("#Quantity").val(""); $(tr).find("#Quantity").focus();
                        })
                    }
                     else{
                        $(tr).find('#Amount').val((parseFloat(qty) * parseFloat(Price)).toFixed(2));
                    }
                }
                else{
                    $(tr).find('#Amount').val((parseFloat(qty) * parseFloat(Price)).toFixed(2));
                }
              });
            $i('#CANCEL').on("click", function () {
                $i('#multiuom').dialog('close');
                var tbl = $("#grdData")[0]; 
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    $i(tr).find("[id='checkRow']").attr('itemid', 0);
                }
            });
            $i('#OK').on("click", function () {
                var xmldata = "<ROOT>";
                var tbl = $("#Datatable")[0]; var qty = 0;var aqty = 0; var Price = 0; var amt = 0;var tqty = 0; var taqty = 0;var tPrice = 0; var tamt = 0;
                var cols = [];
                cols.push("LotIds"); cols.push("Quantity"); cols.push("Price"); cols.push("Amount"); cols.push("QtyonStock");
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    qty = $(tr).find("#Quantity").val(); aqty = $(tr).find("#QtyonStock").val(); Price = $(tr).find("#Price").val(); amt = $(tr).find("#Amount").val(); var eaqty = $(tr).find("#TotalStock").val();
                    if (qty == "" || typeof (qty) == "undefined") { qty = "0"; }
                    if (aqty == "" || typeof (aqty) == "undefined") { aqty = "0"; }
                    if (Price == "" || typeof (Price) == "undefined") { Price = "0"; }
                    if (amt == "" || typeof (amt) == "undefined") { amt = "0"; }
                    if (eaqty == "" || typeof (eaqty) == "undefined") { eaqty = "0"; }
                    if (qty != "0") {
                        tqty = parseFloat(tqty) + parseFloat(qty);
                        var edit = window.location.href.slice(window.location.href).split("?");
                        var editval = edit[0].split("/").indexOf("Edit", 0);
                        if (parseFloat(editval) > 0) { taqty = parseFloat(taqty) + parseFloat(aqty) + parseFloat(eaqty); }
                        else { taqty = parseFloat(taqty) + parseFloat(aqty); }
                        tPrice = parseFloat(tPrice) + parseFloat(Price);
                        tamt = parseFloat(tamt) + parseFloat(amt);
                        for (var cll = 0; cll < cols.length; cll++) {
                            var itval = $(tr).find("[id='" + cols[cll] + "']").val();
                            if (cll == 0) {
                                xmldata = xmldata + "<Column><" + cols[cll] + ">" + itval + "</" + cols[cll] + "><UnitIds>"+@Session["MultiUOM"]+"</UnitIds>";
                            }
                            else if (cll == cols.length - 1) {
                                xmldata = xmldata + "<" + cols[cll] + ">" + itval + "</" + cols[cll] + "></Column>";
                                break;
                            }
                            else
                                xmldata = xmldata + "<" + cols[cll] + ">" + itval + "</" + cols[cll] + ">";
                        }
                    }
                }
                xmldata = xmldata + "</ROOT>";
                tPrice = parseFloat(tamt) / parseFloat(tqty);
                $i('#multiuom').dialog('close');
                GridValuesFill(tqty, taqty, tPrice.toFixed(2), tamt, xmldata)
            });
            function GridValuesFill(tqty,taqty, Price, tamt, xmldata) {
                var tbl = $("#grdData")[0]; var ItemID = 0; var opunit = 0;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='checkRow']").attr('itemid');
                    if (rowchk == 1) {
                        ItemID = $i(tr).find('#SATABLE010COLUMN05').val();
                        var IIItemID = $i(tr).find('#SATABLE008COLUMN04').val();
			//EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                        var SRItemID = $i(tr).find('#PUTABLE004COLUMN03').val();
                        if (IIItemID != undefined) {
                            //EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                            var actqty = $i(tr).find('#SATABLE008COLUMN09').val();
                            var aliasqty = $i(tr).find('#aSATABLE008COLUMN09').val();
                            var remqty = $i(tr).find('#SATABLE008COLUMN11').val();
                            var orqty = $i(tr).find('#SATABLE008COLUMN07').val();
                            var retqty = $i(tr).find('#SATABLE008COLUMN08').val();
                            var returnorder = $i('#SATABLE007COLUMN20').val();
                            if (aliasqty == "" || typeof (aliasqty) == "undefined") aliasqty = 0;
                            if (actqty == "" || typeof (actqty) == "undefined") actqty = 0;
                            if (remqty == "" || typeof (remqty) == "undefined") remqty = 0;
                            if (orqty == "" || typeof (orqty) == "undefined") orqty = 0;
                            if (retqty == "" || typeof (retqty) == "undefined") retqty = 0;
                            var finalqty = ( parseFloat(remqty)).toFixed(2);
                            var edit = window.location.href.slice(window.location.href).split("?");
                            var editval = edit[0].split("/").indexOf("Edit", 0);
                            if (parseFloat(editval) > 0) { finalqty = (parseFloat(aliasqty) + parseFloat(remqty)).toFixed(2); }
                            if (returnorder == "1003") {
                                finalqty = (parseFloat(orqty) - parseFloat(retqty)).toFixed(2);
                                if (parseFloat(editval) > 0) { finalqty = (parseFloat(aliasqty) + parseFloat(finalqty)).toFixed(2); }
                            }
                            if (('@Session["FormNameID"]' == "1276" || '@Session["FormNameID"]' == "1354") && finalqty < tqty) {
                                Alert.render('Quantity Should Less Than Order Quntity'); $("#alertok").focus();
                                $("#alertok").on("click", function () {
                                    $("#dialogbox").dialog("close"); $i(tr).find('#SATABLE008COLUMN24').focus(); $i(tr).find('#SATABLE008COLUMN09').val(""); return false;
                                })
                                return false;
                            }
                            $i(tr).find('#SATABLE008COLUMN09').val(tqty.toFixed(2));
                            $i(tr).find('#SATABLE008COLUMN10').val(taqty.toFixed(2));
			    //EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                            $i(tr).find('#aSATABLE008COLUMN09').attr("value", finalqty);
                            if (returnorder == "1003") {
                                $(tr).find("#SATABLE008COLUMN10").remove();
                                $(tr).find("#SATABLE008COLUMN13").after($('<input>').attr({ type: 'hidden', id: 'SATABLE008COLUMN10' }).val(finalqty));
                            }
                            $i(tr).find('#SATABLE008COLUMN12').val(Price);
                            $i(tr).find('#SATABLE008COLUMN13').val(tamt.toFixed(2));
                            opunit = $i('#SATABLE007COLUMN15').val();
                            ItemID = $i(tr).find('#SATABLE008COLUMN04').val();
                            $i(tr).find("[id='checkRow']").attr('itemid',0);
                            ItemIssueQuantity(tr);
			    //EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                            break; }
                        else if (SRItemID != undefined) {
                            //EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                            var actqty = $i(tr).find('#PUTABLE004COLUMN08').val();
                            var aliasqty = $i(tr).find('#aPUTABLE004COLUMN08').val();
                            var remqty = $i(tr).find('#PUTABLE004COLUMN09').val();
                            var orqty = $i(tr).find('#PUTABLE004COLUMN06').val();
                            var retqty = $i(tr).find('#PUTABLE004COLUMN07').val();
                            var returnorder = $i('#PUTABLE003COLUMN17').val();
                            if (aliasqty == "" || typeof (aliasqty) == "undefined") aliasqty = 0;
                            if (actqty == "" || typeof (actqty) == "undefined") actqty = 0;
                            if (remqty == "" || typeof (remqty) == "undefined") remqty = 0;
                            if (orqty == "" || typeof (orqty) == "undefined") orqty = 0;
                            if (retqty == "" || typeof (retqty) == "undefined") retqty = 0;
                            var finalqty = (parseFloat(remqty)).toFixed(2);
                            var edit = window.location.href.slice(window.location.href).split("?");
                            var editval = edit[0].split("/").indexOf("Edit", 0);
                            if (parseFloat(editval) > 0) { finalqty = (parseFloat(aliasqty) + parseFloat(remqty)).toFixed(2); }
                            if (returnorder == "1003") {
                                finalqty = (parseFloat(orqty) - parseFloat(retqty)).toFixed(2);
                                if (parseFloat(editval) > 0) { finalqty = (parseFloat(aliasqty) + parseFloat(finalqty)).toFixed(2); }
                            }
                            if (('@Session["FormNameID"]' == "1272" || '@Session["FormNameID"]' == "1339") && finalqty < tqty) {
                                Alert.render('Quantity Should Less Than Order Quntity'); $("#alertok").focus();
                                $("#alertok").on("click", function () {
                                    $("#dialogbox").dialog("close"); $i(tr).find('#PUTABLE004COLUMN24').focus(); $i(tr).find('#PUTABLE004COLUMN08').val(""); return false;
                                })
                                return false;
                            }
                            $i(tr).find('#PUTABLE004COLUMN08').val(tqty.toFixed(2));
                            $i(tr).find('#aPUTABLE004COLUMN08').attr("value", tqty.toFixed(2));
                            $i(tr).find('#PUTABLE004COLUMN10').val(Price);
                            $i(tr).find('#PUTABLE004COLUMN11').val(tamt.toFixed(2));
                            opunit = $i('#PUTABLE003COLUMN13').val();
                            ItemID = $i(tr).find('#PUTABLE004COLUMN03').val();
                            $i(tr).find("[id='checkRow']").attr('itemid',0);
                            ItemReceiptLineQuantity(tr);
                            break; }
                    }
		     $i(tr).find("[id='checkRow']").attr('itemid', 0);
                }
                $i.ajax({
                    url: "/FormBuilding/LOtStorage?FormName=" + '@Session["FormName"]' + "",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ ItemID: ItemID, xmldata: xmldata, opunit: opunit }),
                    success: function (data) {
                        $(tr).find("#MiltiData").remove();
			//EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens
                        $(tr).find("[id='SATABLE008COLUMN24']").attr("itemid", 'N');
                        $(tr).find("[id='PUTABLE004COLUMN24']").attr("itemid", 'N');
                        $(tr).find("[id='checkRow']").after($('<input>').attr({ type: 'hidden', id: 'MiltiData' }).val(data.Data));
                    }
                })
            }
        });
        </script>
    </head>
    <body>
     <div id="Actions" class="overflowGrid" style="padding:50px;background:white;width:87.5%;height:170px">

         @{
             var connectionString = System.Configuration.ConfigurationManager.ConnectionStrings["sqlcon"].ToString();
             var providerName = "System.Data.SqlClient";
             var dbs = WebMatrix.Data.Database.OpenConnectionString(connectionString, providerName);
	     @*EMPHCS1741 rajasekhar reddy patakota 24/05/2016 Customer Wise price Adding in all transactions*@
             var query = "SELECT distinct m.COLUMN04 as Lot,m.COLUMN02 as LotIds,u.COLUMN07 as Quantity,iif(isnull(u.COLUMN09,0)>0,isnull(u.COLUMN09,0),iif(isnull(p.COLUMN02,0)>0,p.COLUMN04,isnull(i.COLUMN51,0))) as Price,iif(isnull(u.COLUMN07 ,0)>0,cast((u.COLUMN07)*(isnull(u.COLUMN09,0)) as decimal(18,2)),null ) as Amount,isnull(f.COLUMN04,0) as 'Qty on Stock',m.column01 column01 FROM  FITABLE043 m left join MATABLE007 i on  i.COLUMN02=m.COLUMN09 and i.COLUMN02=" + Session["MultiItem"] + " and i.COLUMNA03='" + Session["AcOwner"] + "' and  (i.COLUMNA02=" + Session["MultiOU"] + " or i.COLUMNA02 is null) left join FITABLE010 f on f.COLUMN19=" + Session["MultiUOM"] + " and f.COLUMN03=" + Session["MultiItem"] + " and f.COLUMNA02=" + Session["MultiOU"] + " and f.COLUMNA03='" + Session["AcOwner"] + "' and f.COLUMN13 =" + Session["MultiOU"] + " AND isnull(f.COLUMN22,0)=m.COLUMN02   left join FITABLE038 u on u.COLUMN06=" + Session["MultiItem"] + " and  u.COLUMN04='" + Session["Multiide"] + "' and u.COLUMNA03='" + Session["AcOwner"] + "' and u.COLUMNA02=" + Session["MultiOU"] + "  and u.COLUMN08=" + Session["MultiUOM"] + " AND isnull(u.COLUMN12,0)=m.COLUMN02 and isnull(u.COLUMNA13,0)=0 left join MATABLE024  p on p.COLUMN07=i.COLUMN02 and p.COLUMN06='Sales' and (p.COLUMN03=" + Session["MultiOU"] + " or	 isnull(p.COLUMN03,0)=0)   and  p.COLUMNA03=m.COLUMNA03  and p.COLUMNA13='False'   where  m.COLUMN09=" + Session["MultiItem"] + " and  isnull(m.COLUMNA13,'False')='False'  and     m.COLUMNA03='" + Session["AcOwner"] + "' and isnull(i.COLUMNA13,0)=0 order by m.column01";
             if (Convert.ToString(Session["FormNameID"]) == "1272" || Convert.ToString(Session["FormNameID"]) == "1329") { query = "SELECT distinct m.COLUMN04 as Lot,m.COLUMN02 as LotIds,u.COLUMN07 as Quantity,iif(isnull(u.COLUMN09,0)>0,isnull(u.COLUMN09,0),iif(isnull(p.COLUMN02,0)>0,p.COLUMN04,isnull(i.COLUMN17,0))) as Price,iif(isnull(u.COLUMN07 ,0)>0,cast((u.COLUMN07)*(isnull(u.COLUMN09,0)) as decimal(18,2)),null ) as Amount,isnull(f.COLUMN04,0) as 'Qty on Stock',m.column01 column01 FROM  FITABLE043 m left join MATABLE007 i on  i.COLUMN02=m.COLUMN09 and i.COLUMN02=" + Session["MultiItem"] + " and i.COLUMNA03='" + Session["AcOwner"] + "' and  (i.COLUMNA02=" + Session["MultiOU"] + " or i.COLUMNA02 is null) left join FITABLE010 f on f.COLUMN19=" + Session["MultiUOM"] + " and f.COLUMN03=" + Session["MultiItem"] + " and f.COLUMNA02=" + Session["MultiOU"] + " and f.COLUMNA03='" + Session["AcOwner"] + "' and f.COLUMN13 =" + Session["MultiOU"] + " AND isnull(f.COLUMN22,0)=m.COLUMN02   left join FITABLE038 u on u.COLUMN06=" + Session["MultiItem"] + " and  u.COLUMN04='" + Session["Multiide"] + "' and u.COLUMNA03='" + Session["AcOwner"] + "' and u.COLUMNA02=" + Session["MultiOU"] + "  and u.COLUMN08=" + Session["MultiUOM"] + " AND isnull(u.COLUMN12,0)=m.COLUMN02 and isnull(u.COLUMNA13,0)=0 left join MATABLE024  p on p.COLUMN07=i.COLUMN02 and p.COLUMN06='Purchase' and (p.COLUMN03=" + Session["MultiOU"] + " or	 isnull(p.COLUMN03,0)=0)   and  p.COLUMNA03=m.COLUMNA03  and p.COLUMNA13='False'   where  m.COLUMN09=" + Session["MultiItem"] + " and  isnull(m.COLUMNA13,'False')='False'  and     m.COLUMNA03='" + Session["AcOwner"] + "' and isnull(i.COLUMNA13,0)=0 order by m.column01"; }
	         var GData = dbs.Query(query);
             var grid = new WebGrid(GData, canPage: false, canSort: false);
               @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Datatable" },
                columns:grid.Columns(grid.Column("Lot", "Lot", format: @<text>
         <input type="text" readonly="true"  id="Lot" value="@item["Lot"]" autocomplete="off" style="width:100%"/>
         <input type="text" readonly="true"  id="LotIds" value="@item["LotIds"]" style="width:100%;display:none"/></text>),
                 grid.Column("Quantity", "Quantity", format: @<text>
		 @*//EMPHCS1692 rajasekhar reddy patakota 14/04/2016 Multi Lot Concept in Returns and purchase screens*@
         @if (((Convert.ToString(Session["FormNameID"]) == "1276" || Convert.ToString(Session["FormNameID"]) == "1354") && @item["Qty on Stock"] == 0 && (@item["Quantity"] == 0||@item["Quantity"] ==null)))
         {
         <input type="text" id="Quantity"  class="Quantity"  autocomplete="off"  value="@item["Quantity"]"  style="width:80%" readonly="true" />}
         else
         {<input type="text" id="Quantity"  class="Quantity"  autocomplete="off" value="@item["Quantity"]"  style="width:80%"  />}
         <input type="text" readonly="true"  id="TotalStock" value="@item["Quantity"]" style="width:100%;display:none"/>         
         </text>),
                 grid.Column("Price", "Price", format: @<text><input type="text"   id="Price"   autocomplete="off" value="@item["Price"]"   style="width:80%" /></text>),
                 grid.Column("Amount", "Amount", format: @<text><input type="text" readonly="true"  autocomplete="off"  value="@item["Amount"]"  id="Amount"  style="width:80%"/></text>),
                 grid.Column("Qty on Stock", "Qty on Stock", format: @<text><input readonly="true"  type="text" id="QtyonStock"  value="@item["Qty on Stock"]"  style="width:80%" />
         @*<input type="text" readonly="true"  id="TotalStock" value="@item["TotalStock"]" style="width:100%;display:none"/>*@
         </text>)))
           <div style="float:right;padding-right: 10px;padding-top: 5px;"><div style="float:left;padding-right: 10px;"><input type="button" class="buttonclass" id="OK"  name="OK" value="OK"  /></div><div style="float:right;padding-right: 10px;"><input type="button" class="buttonclass" id="CANCEL"  name="CANCEL"  value="CANCEL"   style="padding-right: 2px;padding-left: 5px;"/></div></div>
        }           
        </div>  
        </body>
    </html>
