﻿
@model List<eBizSuiteAppModel.Table.MYTABLE002>
@{
    ViewBag.Title = "Transaction Master";
}
<!DOCTYPE html>
<html>
<head>
        <title>Transaction Master</title>   
        @*<link href="~/css/FormBuild.css" rel="stylesheet" />*@
@*    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />*@
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <script src="~/Content/Tabs/jquery.dataTables.rowReordering.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <a href='http://www.foliotek.com/devblog/make-table-rows-sortable-using-jquery-ui-sortable/'></a>
    <a href="http://datatables.net"></a>
    <script src="~/Content/Tabs/taby.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            },
    updateIndex = function (e, ui) {
        $('td.index', ui.item.parent()).each(function (i) {
            $(this).html(i + 1);
        });
    };

            $("#sort tbody").sortable({
                helper: fixHelperModified,
                stop: updateIndex
            }).disableSelection();
        });
        $(document).ready(function () {
            //Date Picker
            dateupdate();
            //Tabs
            $("#tabs").tabs();
            //Mandatory selection
            //$("#ddlman").live("change", function () {
            //    gridchange();
            //});
            //Custom Form Save
            debugger
            $("#TabSave").click("click", function () {
                TransactionFormSave('@Request["FormName"]');
            });
            $("#btnAddTras").click("click", function () {
                NewRowTransactonCreation();
            });
           @* if ('@Session["SuccessMessageFrom"]' != null) {
                InfoHeight(2);
            }*@
        });

        //new row click
       
        
        @*  $(document).ready(function () {
                debugger
            $('#sort').ready(function () {
                alert('@ViewBag.itemslistCF')
                var newRow = "<tr> <td style='width:100px'><select id='Data_Type' style ='font-size:12px'><option >'@ViewBag.TypesList'</option></select></td> <td  style='width:100px'><input   style='width:100px' type='text' id='txtFromdate'/></td> <td  style='width:100px'> <input   style='width:100px' type='text' id='txtTodate'/></td> <td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input type='checkbox' id='txtpercentage'/></td></tr>";
              //var newRow = "<tr> <td style='width:100px'>Html.DropDownList('Forms', new SelectList('@ViewBag.itemslistCF'), htmlAttributes: new { id = 'Data_Type1' }) </td> <td  style='width:100px'><input   style='width:100px' type='text' id='txtFromdate'/></td> <td  style='width:100px'> <input   style='width:100px' type='text' id='txtTodate'/></td> <td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input type='checkbox' id='txtpercentage'/></td></tr>";
                    
                ////  $('#webgrid > tbody:last').
                $('#DataTable tbody:last').append(newRow);
                

            });

        }); *@

        @*$(document).ready(function () {
            debugger

            $.ajax({
                url: "/TransactionMaster/customForms",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ id:1 }),
                success: function (data) {
                    debugger
                    alert(data.item[0])
                    if (data != "") {
                        debugger
                            var items = [];
                            items.push("<option value=''>" + "--Select--" + "</option>");
                            for (var i = 0; i < data.item.length; i++) {
                                items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                            }
                            $("#Data_Type").html(items.join(' '));
                          
                            var newRow = "<tr> <td style='width:100px'>"+@Html.DropDownList("Forms", htmlAttributes: new { id = "Data_Type1" })+"</td> <td  style='width:100px'><input   style='width:100px' type='text' id='txtFromdate'/></td> <td  style='width:100px'> <input   style='width:100px' type='text' id='txtTodate'/></td> <td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input   style='width:100px' type='text' id='txtpercentage'/></td><td  style='width:100px'><input type='checkbox' id='txtpercentage'/></td></tr>";
                     
                                $('#DataTable tbody:last').append(newRow);
                        
                    }
                }
            });

        });*@
        </script> 
     
</head>
<body>
     @using (Html.BeginForm( ))
    { 
        @Html.ValidationSummary(true)
        if (Session["DDDynamicItems"] != "DDDynamicItems")
        {
        <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
            <input type="button" name="Save" value="Save"  class="buttonclass" id="TabSave"/>
          </div>  
        </div>
        }
        
    <div id="tabs" class="fbTabCon">
            <ul > 
                <li>
                    <a href=#Transactions>Transaction</a>&nbsp;</li>
                <li>
                    <a href=#Masters>Master</a>&nbsp;</li>
                
            </ul>
         <div id="CustomFormData">


   <div id="Transactions" class="overflowGrid">

        <table style="width:100%; border: 1px ;
    border-collapse: collapse;" id="Transaction"> 
            <tbody>  <tr><th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left"> </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Type </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Prefix </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">	Starting No </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;">Ending No </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;">Current No </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Sufix </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Operating Unit </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Custom Form </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Override </th>
              </tr>
              
       
  
    @foreach (var item in ViewBag.itemslist)
    {
        
        <tr style="width:100%;">
              <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="checkbox" id="chk"   /></td>
            <td style="border-left: 1px inset black; padding: 5px;"> @Html.DropDownList("View", new SelectList(ViewBag.TypesList, selectedValue: @item.COLUMN05), optionLabel: "Select", htmlAttributes: new { id = "Type" })</td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Prefix" value="@item.COLUMN06" style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="StartingNo" value="@item.COLUMN07"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="EndingNo"   value="@item.COLUMN08" style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="CurrentNo"   value="@item.COLUMN09" style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Sufix"   value="@item.COLUMN10"  style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @*@Html.DropDownList("OperatingUnit", new SelectList(ViewBag.operatingunit,"column02","column03", selectedValue: @item.COLUMN13), optionLabel: "Select", htmlAttributes: new { id = "TOperatingUnit",style="width:105px" })*@
            
                  <select id = "TOperatingUnit" style="width:105px" name="OperatingUnit">
                      <option   value=''>Select</option>
                         @foreach (var item1 in ViewBag.operatingunit)
                         {
                             if(@item1.column02==@item.column13){
                                <option selected="selected" value="@item1.column02">@item1.column03</option>}
                             else{
                                <option   value="@item1.column02">@item1.column03</option>}
                         }
                </select>
            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
             @if(@item.COLUMN06!=null){
                    @Html.DropDownList("View", new SelectList(ViewData[@item.COLUMN05],null,"column04","column05" ), optionLabel: "Select", htmlAttributes: new { id = "CustomForm" ,style="width:105px"})
             }
                else
                {     <select style="width:105px"><option>Select</option></select>
             }
            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @if(@item.COLUMN12!=false)
                {<input id="Override" name="Override" type="checkbox" checked="checked" />}
                else
                {<input id="Override" name="Override" type="checkbox"  />}
            </td>
        </tr>
     
    }
@*<tr style="width:100%;" id="newrow">
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="checkbox" id="chk"    /></td>
            <td style="border-left: 1px inset black; padding: 5px;"> @Html.DropDownList("View", new SelectList(ViewBag.TypesList ), optionLabel: "Select", htmlAttributes: new { id = "Type" })</td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Prefix" style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="StartingNo"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="EndingNo"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="CurrentNo"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Sufix"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @Html.DropDownList("OperatingUnit", new SelectList(ViewBag.operatingunit,"column02","column03" ), optionLabel: "Select", htmlAttributes: new { id = "TOperatingUnit",style="width:105px" })

            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @Html.DropDownList("View", new SelectList(ViewBag.itemslistCF,null,"column04","column05" ), optionLabel: "Select", htmlAttributes: new { id = "CustomForm",style="width:105px" })

            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input id="Override" name="Override" type="checkbox" /></td>
        </tr>*@

    </tbody>

        </table>
       <div class="newrowdiv">  
                         @*<input type="button" value="New Row" class="darkBgButton" id="btnAddTras" />
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/>*@</div> 
          
     </div>                            



        @*@{
            var grid = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
            grid.Bind(ViewBag.itemslist, autoSortAndPage: false);
         
          
            <div id="sort">               
               @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", 
            columns: grid.Columns(
            grid.Column(header: "Type",columnName:"COLUMN04", format: @<text> @Html.DropDownList("View", new SelectList(ViewBag.TypesList, selectedValue: @item.COLUMN04), optionLabel: "Select", htmlAttributes: new { id = "FddlDynamicView" })</text>),
                    grid.Column(header: "Prefix",columnName:"COLUMN03", format: @<text><input type="text" id="table2" value="@item.COLUMN03" style="width:100px" /></text>),
                    grid.Column(header: "Starting No",columnName:"COLUMN05", format: @<text><input type="text" id="table3" style="width:100px"   /></text>),
            grid.Column(header: "Ending No",columnName:"COLUMN06", format: @<text><input type="text" id="table5"   style="width:100px" /></text>),
            grid.Column(header: "Current No",columnName:"COLUMN07", format: @<text><input type="text" id="table6"  style="width:100px"  /></text>),
            grid.Column(header: "Sufix",columnName:"COLUMN08", format: @<text><input type="text" id="table7" style="width:100px" /></text>),
            grid.Column(header: "Custom Form",columnName:"COLUMN09", format: @<text><input type="text" id="table8"  style="width:100px" /></text>),
            grid.Column(header: "Override",columnName:"COLUMN03", format: @<text><input type="checkbox" id="table9"    /></text>)))
                 
                  
            </div> 
        } *@
   
  <div id="Masters" class="overflowGrid">


      <table style="width:100%; border: 1px ;
    border-collapse: collapse;" id="Master"> 
              <tr><th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left"> </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Type </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Prefix </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">	Starting No </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;">Ending No </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;">Current No </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Sufix </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Operating Unit </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Custom Form </th>
                  <th style=" border: 1px solid black;
    border-collapse: collapse;text-align:left">Override </th>
              </tr>
              <tbody>
       
  
    @foreach (var itemM in ViewBag.itemslistM)
    {
        
        <tr style="width:100%;">
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="checkbox" id="chkm"   /></td>
            <td style="border-left: 1px inset black; padding: 5px;"> @Html.DropDownList("View", new SelectList(ViewBag.TypesListM, selectedValue: @itemM.COLUMN05), optionLabel: "Select", htmlAttributes: new { id = "Type" })</td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Prefix" value="@itemM.COLUMN06" style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="StartingNo" value="@itemM.COLUMN07"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="EndingNo"  value="@itemM.COLUMN08"  style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="CurrentNo" value="@itemM.COLUMN09"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Sufix"  value="@itemM.COLUMN10"  style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @*@Html.DropDownList("OperatingUnit", new SelectList(ViewBag.operatingunit,"column02","column03",@itemM.COLUMN13 ), optionLabel: "Select", htmlAttributes: new { id = "MOperatingUnit",style="width:105px" })*@
                
                  <select id = "MOperatingUnit" style="width:105px" name="OperatingUnit">
                      <option   value=''>Select</option>
                         @foreach (var item1 in ViewBag.operatingunit)
                         {
                             if(@item1.column02==@itemM.column13){
                                <option selected="selected" value="@item1.column02">@item1.column03</option>}
                             else{
                                <option   value="@item1.column02">@item1.column03</option>}
                         }
                </select>
            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
             @if(@itemM.COLUMN06!=null){
                    @Html.DropDownList("View", new SelectList(ViewData[@itemM.COLUMN05],null,"column04","column05" ), optionLabel: "Select", htmlAttributes: new { id = "CustomForm" ,style="width:105px"})
             }
                else
                {     <select style="width:105px"><option>Select</option></select>
             }
            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @*<input id="Override" name="Override" type="checkbox"  />*@
                
                @if(@itemM.COLUMN12!=false)
                {<input id="Override" name="Override" type="checkbox" checked="checked" />}
                else
                {<input id="Override" name="Override" type="checkbox"  />}
            </td>
        </tr>
     
    }
<tr style="width:100%;">
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="checkbox" id="table0m"    /></td>
            
            <td style="border-left: 1px inset black; padding: 5px;"> @Html.DropDownList("View", new SelectList(ViewBag.TypesListM), optionLabel: "Select", htmlAttributes: new { id = "CustomForm",style="width:105px" })</td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Prefix" style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="StartingNo"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="EndingNo"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="CurrentNo"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input type="text" id="Sufix"   style="width:100px" /></td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">
                @Html.DropDownList("OperatingUnit", new SelectList(ViewBag.operatingunit,"column02","column03" ), optionLabel: "Select", htmlAttributes: new { id = "MOperatingUnit",style="width:105px" })

            </td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center">@Html.DropDownList("View", new SelectList(ViewBag.itemslistCF,null,"column04","column05" ), optionLabel: "Select", htmlAttributes: new { id = "FddlDynamicView",style="width:105px" })</td>
            <td style="border-left: 1px inset black; padding: 5px;text-align:center"><input id="Override" name="Override" type="checkbox"  /></td>
        </tr>
    </tbody></table>
       <div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow1"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                                      






               @*@{
                   var grid2 = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
                   grid2.Bind(ViewBag.itemslistM, autoSortAndPage: false);
            <div id="sort1">                 
                 @grid2.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", 
            columns: grid2.Columns(
            grid2.Column(header: "Type",columnName:"COLUMN04", format: @<text> @Html.DropDownList("View", new SelectList(ViewBag.TypesListM, selectedValue: @item.COLUMN04), optionLabel: "Select", htmlAttributes: new { id = "FddlDynamicView" })</text>),
                    grid2.Column(header: "Prefix",columnName:"COLUMN03", format: @<text><input type="text" id="table2" value="@item.COLUMN03" style="width:100px" /></text>),
                    grid2.Column(header: "Starting No",columnName:"COLUMN05", format: @<text><input type="text" id="table3" style="width:100px"   /></text>),
            grid2.Column(header: "Ending No",columnName:"COLUMN06", format: @<text><input type="text" id="table5"   style="width:100px" /></text>),
            grid2.Column(header: "Current No",columnName:"COLUMN07", format: @<text><input type="text" id="table6"  style="width:100px"  /></text>),
            grid2.Column(header: "Sufix",columnName:"COLUMN08", format: @<text><input type="text" id="table7" style="width:100px" /></text>),
            grid2.Column(header: "Custom Form",columnName:"COLUMN09", format: @<text><input type="text" id="table8"  style="width:100px" /></text>),
            grid2.Column(header: "Override",columnName:"COLUMN03", format: @<text><input type="checkbox" id="table9"    /></text>)))
                 
                  
            </div> 
        } *@
     </div>
     
    
    </div>
     </div> 
     }

    
</body>
</html>
