﻿@model IEnumerable<eBizSuiteAppModel.Table.tbl_BranchMaster>

@{
    ViewBag.Title = "BranchMasterDetailes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Content/css/AdminLogOn.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
     <script src="~/Content/formbuildjquery.js"></script>
    <div id="DivToAppendPartialVoew"></div>
    <div id="DivToAppendPartialVoew1"></div>
    <div id="DivToAppendPartialVoew2" style="vertical-align:middle; text-align:center"></div>
    <div id="search"></div>


    <script type="text/javascript">
        //New
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $('#DivToAppendPartialVoew').dialog({
                autoOpen: false,
                modal: true,
                width: 800,
                height: 510, resizable: false,
                title: "CreateBranchMaster",
                closeOnEscape: true
            })
            $('#btnNew').click("click", function () {
                $('#DivToAppendPartialVoew').dialog('open');
                $('#DivToAppendPartialVoew').load("/BranchMaster/NewBranchMaster");
                $('#DivToAppendPartialVoew').show();
                return false;
            });
        //EDIT
            $('#btnEdit').click(function () {
                var slvals = []
                $('input:checkbox[name=assignChkBx]:checked').each(function () {
                    slvals.push($(this).val())
                })
                if (slvals == "") {
                    alert('Please Selected Checkbox ')
                }
                else {
                    var ph = $("#DivToAppendPartialVoew1");
                    ph.load('/BranchMaster/EditBranchMaster/' + slvals + '', function () {
                        ph.dialog({
                            modal: true,
                            width: 800,
                            height: 400,
                            title: "EditBranchMaster",
                            resizable: false
                        });
                    });
                }
            })
        //Delete single selection
            $('#btnDelete').click(function () {
                var slvals = []
                $('input:checkbox[name=assignChkBx]:checked').each(function () {
                    slvals.push($(this).val())
                })              
                if (slvals == "") {
                    alert('Please Selected Checkbox ')
                }
                else {
                    alert('Selected Checkbox values are: ' + slvals)
                    if (confirm("Do you want to delete product: " + slvals)) {
                        var data = { 'EmployeeID': slvals }
                        $.post('/BranchMaster/DeleteBranchMaster/' + slvals + '', data,
                        function (data) {               
                            if (data == true)
                                location = location.href;
                            $.get('/BranchMaster/BranchMasterDetailes')
                        }); window.location.reload();
                    }
                }
            })
        //delete multi selections
            $('#btnDelete1').click(function () {
                var slvals = []
                $('input:checkbox[name=assignChkBx]:checked').each(function () {
                    slvals.push($(this).val())
                })
                if (slvals == "") {
                    alert('Please Selected Checkbox ')
                }
                else {
                    alert('Selected Checkbox values are: ' + slvals)
                    if (confirm("Do you want to delete product: " + slvals)) {
                        var data = { 'BranchId': slvals }
                        window.location.reload();
                        var dataparam = { assignChkBx: slvals }
                        $.ajax({
                            url: '@Url.Action("DeleteMultiple", "BranchMaster")',
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "json",
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                alert('Data saved Suceesfuly');
                            }
                        });
                    }
                }
            });
        //INline
        //disable jq
            //attach click event to buttons
            $('.button-show').click(function () {
                $("#content").show();
                $("#content1").hide();
                $("#btnNew").attr("disabled", false);
                $("#btnEdit").attr("disabled", false);
                $("#btnView").attr("disabled", true);
                $("#btnDelete").attr("disabled", false);
                $("#btnDelete1").attr("disabled", false);
                $("#btnCancel").attr("disabled", true);
                $("#btnSave").attr("disabled", true);
                $("#InLine").attr("disabled", false);
                $("#btnSearch").attr("disabled", false);
                $("#btnAdvSearch").attr("disabled", false);
            });
            //inline
            $('.button-hide').click(function () {
                //same thing happens except in this case we hide the element
                $("#content").hide();
                $("#content1").show();
                $("#btnNew").attr("disabled", true);
                $("#btnEdit").attr("disabled", true);
                $("#btnView").attr("disabled", false);
                $("#btnDelete").attr("disabled", true);
                $("#btnDelete1").attr("disabled", true);
                $("#btnCancel").attr("disabled", false);
                $("#btnSave").attr("disabled", false);
                $("#InLine").attr("disabled", true);
                $("#btnSearch").attr("disabled", true);
                $("#btnAdvSearch").attr("disabled", true);
            });

            //Advanc search
            $('.btnAdvSearch').click(function () {
                $("#btnNew").attr("disabled", true);
                $("#btnEdit").attr("disabled", true);
                $("#btnView").attr("disabled", true);
                $("#btnDelete").attr("disabled", true);
                $("#btnDelete1").attr("disabled", true);
                $("#btnCancel").attr("disabled", true);
                $("#btnSave").attr("disabled", true);
                $("#InLine").attr("disabled", true);
                $("#btnSearch").attr("disabled", false);
                $("#btnAdvSearch").attr("disabled", false);
            });
        //Update inline
            $('#btnSave').click("click", function () {
                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>";
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var BranchID = tr.cells[0].children[0].value;
                    var BranchName = tr.cells[1].children[0].value;
                    var BranchDesc = tr.cells[2].children[0].value;
                    xmldata = xmldata + "<Column><BranchId>" + BranchID + "</BranchId>";
                    xmldata = xmldata + "<BranchName>" + BranchName + "</BranchName>";
                    xmldata = xmldata + "<BranchDesc>" + BranchDesc + "</BranchDesc>";
                    xmldata = xmldata + "</Column>";
                }
                xmldata = xmldata + "</ROOT>";
                var dataparam = { list: xmldata }
                $.ajax({
                    url: '@Url.Action("UpdateInline", "BranchMaster")',
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        alert('Data saved Suceesfuly');
                        $("#pView").html(result);
                    }
                });

            });
        //Search
           $('#search').dialog({
               autoOpen: false,
               modal: true,
               width: 800,
               height: 500, resizable: false,
               title: "Search BranchMaster",
               closeOnEscape: true
           })
            $('#btnSearch').click("click", function () {
                $('#search').dialog('open');
                $('#search').load("/BranchMaster/SearchBranchMaster");
                $('#search').show();
                return false;
            }); 
        //Advance search    
            $('#DivToAppendPartialVoew2').dialog({
                autoOpen: false,
                modal: true,
                width: 500,
                height: 310, resizable: false,
                title: "AdvanceSearch BranchMaster",                
                closeOnEscape: true
            })
            $('#btnAdvSearch').click("click", function () {
                $('#DivToAppendPartialVoew2').dialog('open');
                $('#DivToAppendPartialVoew2').load("/BranchMaster/AdvanceSearch");
                $('#DivToAppendPartialVoew2').show();
                return false;
            });
            $('#btnView').click(function () {
                location.href = '@Url.Content("~/BranchMaster/BranchMasterDetailes")';
                return false;
            });
        });
    </script>


    <style type="text/css">
        /*Here we will add css for style webgrid*/

        .webgrid-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 0.8em;
            width: 100%;
            display: table;
            border-collapse: separate;
            border: solid 2px #3791ae;
            background-color: white;
        }

            .webgrid-table td, th {
                border: 2px solid lightblue;
                padding: 3px 7px 2px;
            }

        .webgrid-header {
            text-underline-position: inherit;
            background-color: #78bdd4;
            /*color: #FFFFFF;*/
            padding-bottom: 2px;
            padding-top: 5px;
            text-align: left;
            color: #421292;
            font-size: 1.2em;
        }

        .webgrid-footer {
        }

        .webgrid-row-style {
            padding: 3px 7px 2px;
        }

        .webgrid-alternating-row {
            background-color: #c0e4ef;
            padding: 3px 7px 2px;
        }
    </style>
</head>
    <body style="">
<div id="pView">
<h2>BranchMaster</h2>

        @{
            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, canSort: false);
    
        }
        @*<input id="btnNew" type="button" value=" New " onclick="OpenCreatePopup()" />*@
        <button id="btnNew">New</button>
        <button id="btnEdit">Edit</button>
        <button id="btnView" disabled="disabled">View</button>
        <button id="btnDelete">Delete</button>
        <button id="btnDelete1">Delete Multiple</button>
        <input id="InLine" type="button" value="In Line" class="button-hide" />
        <button id="btnSave" disabled="disabled">Save</button>
        <input id="btnCancel" type="button" value="Cancel" class="button-show" disabled="disabled" />
        <button id="btnSearch">Search</button>
        <button id="btnAdvSearch" class="btnAdvSearch">Advanced Search</button>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div id="content" style="">
                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(

              grid.Column(header: "select", style: "labelcolumn",
                                        format:
                                            @<text><input class="check-box" id="cb1" name="assignChkBx" type="checkbox" value="@item.BranchId" /></text>),

        grid.Column(header: "BranchId", columnName: "BranchId"),
        grid.Column(header: "BranchName", columnName: "BranchName"),

        grid.Column(header: "BranchDesc", columnName: "BranchDesc")


))
            </div>
    
    
@*2nd grid InLine*@

            <div id="content1" style="display: none">
                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
                                                    //fillEmptyRows: false,
    alternatingRowStyle: "webgrid-alternating-row",
                                                    //mode: WebGridPagerModes.All,
                                                    //        firstText: "<< ",
                                                    //        previousText: "< ",
                                                    //        nextText: " >",
                                                    //        lastText: " >>",
    rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns: grid.Columns(

          grid.Column("BranchId", "BranchId", format: @<text><input  type="text" id="price12" value="@item.BranchId" readonly="true"} /></text>, style: "col2Width"),
          grid.Column("BranchName", "BranchName", format: @<text><input  type="text" id="price1" value="@item.BranchName" /></text>, style: "col2Width"),
          grid.Column("BranchDesc", "BranchDesc", format: @<text><input  type="text" id="price" value="@item.BranchDesc" /></text>, style: "col2Width")

        ))


            </div>
    
    
    

        }</div>
    </body>

</html>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
