﻿@model eBizSuiteAppModel.Table.tbl_BranchMaster

@{
    ViewBag.Title = "SearchBranchMaster";
    Layout = null;
//    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchBranchMaster</title>
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <style type="text/css">
    /*Here we will add css for style webgrid*/

    .webgrid-table
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 2px #3791ae;
        background-color: white;
    }
    .webgrid-table td, th
    {
        border: 2px solid lightblue;
        padding: 3px 7px 2px;
    }
    .webgrid-header
    {
        text-underline-position:inherit;
        background-color: #78bdd4;
        /*color: #FFFFFF;*/
        padding-bottom: 2px;
        padding-top: 5px;
        text-align: left;
        color:#421292;
        font-size:1.2em;
    }
    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        
        padding: 3px 7px 2px;
    }
    .webgrid-alternating-row
    {
        background-color:#c0e4ef;
        padding: 3px 7px 2px;
    }
</style>
     
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
      <div id="search"></div>
    @*    <script type="text/javascript" >
       
            $(function () {
                $('#dialog').dialog({
                    autoOpen: false,
                    width: 400,
                    height: 500,
                    resizable: false,
                    title: 'Product',
                    modal: true,
                    open: function (event, ui) {
                        $(this).load("@Url.Action("SearchEmployee", "Users")");
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });
         $("#opener").click(function () {
             $("#dialog").dialog("open");
             $("#dialog").show();
         });
     });
  </script>*@

  
     <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" /> 
      @*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>

   
        <script type="text/javascript" >

            $(function () {
                $('#dialog').dialog({
                    autoOpen: false,
                    width: 910,
                    height: 510,
                    resizable: false,
                    title: 'Search',
                    modal: true
                });
                $("#opener").click(function () {
                    $(this).dialog('close'); 
                    $("#gdatahide").hide();
                    $("#gfilterdata").show();
                   
                    $.ajax({
                        url: '@Url.Action("SearchEmployePost", "BranchMaster")',
                       type: "GET",
                       data: { id: $("#eid").val() },
                       dataType: "html",
                       cache: false,
                       contentType: "application/json; charset=utf-8",
                       success: function (result) {
                           $("#gvDiv").html(result);
                           //document.forms[0].submit();
                       }
                   });
                   
                    return false;
                });
            });


            $(function () {
                $('#btnDelete').click(function () {
                    var slvals = []
                    $('input:checkbox[name=assignChkBx]:checked').each(function () {
                        slvals.push($(this).val())
                    })
                    if (slvals == "") {
                        alert('Please Selected Checkbox ')
                    }
                    else {
                        alert('Selected Checkbox values are: ' + slvals)
                        if (confirm("Do you want to delete product: " + slvals)) {
                            alert("HI");
                            var data = { 'BranchId': slvals }

                            var dataparam = { assignChkBx: slvals }
                            $.ajax({
                                url: '@Url.Action("SearchBranchMaster", "BranchMaster")',
                            type: "POST",
                            data: JSON.stringify(slvals),
                            dataType: "json",
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                alert('Data saved Suceesfuly');
                            }
                                
                            });
                            return false;
                    }
                }
            })


             });


  </script>




  



</head>
<body style="">


    <div id="dialog" title="Basic dialog" >Please wait</div>
    <div id="gvDiv">
@*<button id="opener">Show Product</button>*@
    @using (Html.BeginForm("SearchBranchMaster", "BranchMaster", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
    
        <fieldset style="">
            <legend>Search Txt</legend>
                @*<input type="text" name="EmployeeID"  value="@Request["EmployeeID"]" /><br />*@
             
                <div id="content">  
                  @*  <div id="gdatahide">
    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
                grid.Column(header: "EmployeeID", columnName: "EmployeeID"),
        grid.Column(header: "EmployeeName", columnName: "EmployeeName")
               
            )
        )
            </div>*@
       <p>
                <input type="text" name="BranchId"  value="@Request["BranchId"]" id="eid"/>
                    <button id="opener" >Search</button>
                @*<button id="opener">Show Product</button>
                <button id="btnSearch">Submit</button>*@
            </p > @{
            var grid = new WebGrid(ViewBag.grid,  rowsPerPage: 5,ajaxUpdateContainerId:"gvDiv");
    
 } 
                     <div id="gfilterdata">  
    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
                 grid.Column(header: "select", style: "labelcolumn",
                                        format:
                                            @<text><input id="cb1" name="assignChkBx" type="checkbox"  value="@item.BranchId" class="box"/></text>),

        grid.Column(header: "BranchId", columnName: "BranchId"),
        grid.Column(header: "BranchName", columnName: "BranchName"),
        grid.Column(header: "BranchDesc", columnName: "BranchDesc")
               
            )
        )
             </div>   <p>
                    <button id="btnDelete" >submit</button>
                   <button name="ClientCancel" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("BranchMasterDetailes", "BranchMaster"))" style="display:none;"></a>

                @*<button id="opener">Show Product</button>
                <button id="btnSearch">Submit</button>*@
            </p >  
                    @*<form><button name="ClientCancel" type="button" onclick="history.go(-1); return false;">Cancel</button></form>​*@
           </div>
        </fieldset>
    }
    
    </div>
</body>
</html>
