﻿@model eBizSuiteAppModel.Table.tbl_CompanyMaster

@{
    ViewBag.Title = "AdvanceSearch";
    Layout = null;
      // Layout = "~/Views/Shared/_Layout.cshtml";

    }


<div style="">

  @using (Html.BeginForm())
 {
<form >
    <div id="grid1">
        <table >
            <tr>
                <td>
                    CompanyId:
                </td>
                <td>
                    <input type="text" name="CompanyId" value="@Request["CompanyId"]" />
                </td>
            </tr>
            <tr>
                <td>
                    CompanyName
                </td>
                <td>
                    <input type="text" name="CompanyName" value="@Request["CompanyName"]" />
                </td>
            </tr>
            <tr>
                <td>
                    CompanyDesc:
                </td>
                <td>
                    <input type="text" name="CompanyDesc" value="@Request["CompanyDesc"]" />
                </td>
            </tr>
            <tr>
                <td>
                     <input type="submit" value="Search" class="btnAdvSearch" />
                </td>
                <td>
                     <button name="ClientCancel" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("CompanyMasterDetailes", "CompanyMaster"))" style="display:none;"></a>
           
                </td>
            </tr>
        </table>
       
      
    </div>

</form></div>
<script type="text/javascript">
    $(function () {
        $('th a, tfoot a').live('click', function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
</script>
  }
@*@section script{
      
}
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

