﻿@model eBizSuiteAppModel.Table.CONTABLE011

@{
    ViewBag.Title = "Custom Menu";
  
    }


<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
     <script src="~/Content/formbuildjquery.js"></script>
    <script src="~/Scripts/jquery.dynatree.js"></script>
    <script src="~/Scripts/jquery.contextMenu-custom.js"></script>
    <link href="~/Content/jquery.contextMenu.css" rel="stylesheet" /> 
    <link href="~/Content/ui.dynatree.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            //Center Master Save
            $("#btnSave1").click(function () {
                debugger
                SaveCenterMaster('@Session["AcOwner"]');
            });
            if ('@Session["AcOwner"]' != '56567') {
                $("#AccountOwner").prop("disabled", "disabled");
            }
            //Roles Selected List
            GetIDs();
            //Selected Roles
            BuidTree('@ViewBag.array');
            //Tree View Build
            treeviewdyna();
        });
    </script>
</head>
<body >

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

            <div id="ddl" class="rowCont bottomRowContentFB">
                   <div class="bottomColFB1">
                 <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "CenterMaster") + "'")    ;" />
            </div> <div class="bottomColFB1">
            <input type="button" id="btnSave1" name="Save" value="Save"  class="buttonclass"/></div>
           <div class="bottomColFB1"> <input type="submit" name="SaveNew" value="Save & New"   class="buttonclass"/></div>
         @*<div class="bottomColFB1"> <input type="button" value="Cancel"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "CenterMaster") + "'")    ;" /></div>*@
         <div class="bottomColFB1">   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>
          </div>
        
        
        <div id="prclView1"   class="treeviewbgcolor">
                        <fieldset>
                            <legend>Center Master</legend> 
                            <div   class="centerheight" style="overflow:auto;">
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("ID#:")</div>
                                        <input type="text" name="Center_ID" id="Center_ID1" value="@Model.COLUMN02" class="statictxt"/>
                                </div>
                               <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Name:")</div>
                                        <input type="text" name="Name" id="Name1"  class="statictxt"/></div>
                               <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Description:")</div>
                                        <input type="text" name="Description" id="Description1"  class="statictxt"/></div>
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Account Owner:")</div>
                                        @Html.DropDownListFor(model => model.COLUMN07, new SelectList(ViewBag.accountowner, "Column02", "Column03"), "select a Item", new { id="AccountOwner",@name="AccountOwner", @class="reportddl"})</div>
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Operating unit:")</div>
                                        @Html.DropDownListFor(model => model.COLUMN05, new SelectList(ViewBag.o, "Column02", "Column03"), "select a Item", new { id="Operating_unit1",@name="Operating_unit1", @class="reportddl"})</div>
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl"> @Html.Label("Subsidary:")</div>
                                        @Html.DropDownListFor(model => model.COLUMN06,new SelectList(ViewBag.s,"Column02","Column03"),"select a Item", new { id="Subsidary1",@name="Subsidary1", @class="reportddl"})</div>
                               
                                    @Html.Hidden("hdnbranchid1")
                                    @Html.Hidden("hdnbranchid20")
                                </div>
                        </fieldset> </div>
                    <div  class="treeviewnodesbgcolor">
                        <fieldset>
                            <legend>Menu</legend>
                            <div  class="centerheight"  style="overflow:auto;">

                                <div id="tree"  >
                                </div>
                            </div>
                        </fieldset>
        </div>
          
            <div class="newbottomRowContentFooter" id="footerInfo">
            </div>
           

    }
</body>

</html>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
