﻿@model IList<eBizSuiteAppModel.Table.CONTABLE005>
@using System.Web.Mvc;
@{
    ViewBag.Title = "Custom Menu";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomView</title> 
     <script src="~/Content/formbuildjquery.js"></script>
   <script type="text/javascript">
         $(document).ready(function () {
             //Center Master Custom view Save
            $("#ViewSave").click("click", function () {
                CenterCustomView();        
        });        
        });
        $(document).ready(function () {
            var fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            },
    updateIndex = function (e, ui) {
        $('td.index', ui.item.parent()).each(function (i) {
            $(this).html(i + 1);
        });
    };
            $("#sort tbody").sortable({
                helper: fixHelperModified,
                stop: updateIndex
            }).disableSelection();
        });
        </script>
</head>
<body>
     <div id="FormData" class="bodyFBContent">
      <div  class="overflowGridCustView">
         @{
             var grid = new WebGrid(Model, canPage: false, canSort: false);
            <div id="sort">
               @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-row-style", htmlAttributes: new { id = "griddata" },
                columns: grid.Columns(
                grid.Column(columnName: "FieldName", header: "FieldName", format: @<text><input type="text" id="LabelName" value="@item.COLUMN05" disabled="disabled"/></text>),
                grid.Column(columnName: "LabelName", header: "LabelName", format: @<text><input type="text" id="Label" value="@item.COLUMN05" /></text>),
                grid.Column(columnName: "Display", header: "Display", format: @<text>@Html.DropDownList("Action", new SelectList(new[] {  "N","Y" }), htmlAttributes: new {id="ddlact" })</text>)
                 ))
            </div> 
        } 
         </div>
        </div>
     <div class="rowCont bottomRowContentFooter" id="footerInfo">
     @Html.Label("ViewName", new { @class="customviewlbl" })
    @Html.TextBox("ViewName","", new { @class="txtclassF" })
 <input type="button" value="Save" id="ViewSave" class="buttonclass"/>
    <input type="button" class="buttonclass" id="FormBuild"  value="Cancel"  onclick="@("window.location.href='" + @Url.Action("Info", "CenterMaster") + "'")    ;" /></div>
</body>
</html>
