﻿    @model eBizSuiteAppModel.Table.CONTABLE011

@{
    ViewBag.Title = "Custom Menu";
    
        //Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
     <script src="~/Content/formbuildjquery.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.dynatree.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.contextMenu-custom.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jquery.contextMenu.css")" rel="stylesheet" type="text/css" >
    <link href="@Url.Content("~/Content/ui.dynatree.css")" rel="stylesheet" type="text/css" />
   
     <script type="text/javascript">
         $(document).ready(function () {
             //Center Master Edit Chanes
             $("#btnSave1").click(function () {
                 CenterEdit();
             });
             //Center Master Delete
             $('#btnDelete').click(function () {
                 CenterDelete();
             });
             //Center Master Form Reset
             $('#form-reset').click(function () {
                 CenterReset()
             });
             //Roles Selected List
             GetIDs();
             //Selected Roles
             BuidTree('@ViewBag.array');
             //Tree View Build
             treeviewdyna();
         });
    </script>
</head>
<body >

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="ddl" class="rowCont bottomRowContentFB">
                   <div class="bottomColFB1">
                 <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "CenterMaster") + "'")    ;" />
            </div>
            <div class="bottomColFB1">
             <input type="submit" name="Save" value="Save"  class="buttonclass"/></div>
            @*<div class="bottomColFB1"><input type="button" value="Cancel" style="height:25px" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "CenterMaster") + "'")    ;" /></div>*@
           <div class="bottomColFB1">
                <input type="button" name="Delete" id="btnDelete" value="Delete"  class="buttonclass"/>
       </div> </div>
         <div id="prclView1"   class="treeviewbgcolor">
                        <fieldset>
                            <legend>Center Master</legend> 
                            <div   class="centerheight" style="overflow:auto;">
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("ID#:")</div>
                                         @Html.TextBoxFor(model => model.COLUMN02, htmlAttributes: new { id="myid" ,@readonly = true, @class="statictxt"})
                                            </div>
                               <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Name:")</div>
                                        @Html.TextBoxFor(model => model.COLUMN03, htmlAttributes: new { @class="statictxt"})</div>
                               <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Description:")</div>
                                        @Html.TextBoxFor(model => model.COLUMN04, htmlAttributes: new { @class="statictxt"})</div>
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Account Owner:")</div>
                                        @Html.DropDownListFor(model => model.COLUMN07, new SelectList(ViewBag.accountowner, "Column02", "Column03"), "select a Item", new { id="AccountOwner", @class="reportddl"})</div>
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl">@Html.Label("Operating unit:")</div>
                                        @Html.TextBoxFor(model => model.COLUMN05, htmlAttributes: new { @class="statictxt"})</div>
                                <div class="treeviewdivs">
                                    <div class="treeviewlbl"> @Html.Label("Subsidary:")</div>
                                        @Html.TextBoxFor(model => model.COLUMN06, htmlAttributes: new { @class="statictxt"})</div>
                                    @Html.Hidden("hdnbranchid1")
                                     @Html.Hidden("hdnbranchid20")
                        </div>
                        </fieldset> </div>
                    <div  class="treeviewnodesbgcolor">
                             <fieldset>
                            <legend>Menu</legend>
                            <div  class="centerheight"  style="overflow:auto;">
                                <div id="tree" >
                                </div>
                            </div>
                        </fieldset>
                    </div>
              <div class="newbottomRowContentFooter" id="footerInfo">
        </div>
    }
</body>

</html>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
