﻿@model IEnumerable<eBizSuiteAppModel.Table.CONTABLE011>

@{
    ViewBag.Title = "Custom Menu";
}
<!DOCTYPE>
<html>
<head>
    <title></title>
     <script src="~/Content/formbuildjquery.js"></script>
    <div id="dialogcreate"></div> 
 <script type="text/jscript"> 
     $(document).ready(function () {
         //Grid Sorting
         $('#DataTable').DataTable();
         //Accordian Collapse
         $("#accordion").accordion({
             collapsible: true
         });
         //Inline ON
         $('.button-hide').click("click", function () {
             CenterInlineON($('.ddlStyle :selected').val());
         });
         //Inline OFF
         $('.button-show').click("click", function () {
             CenterInlineOFF($('.ddlStyle :selected').val());
         });
         //Inline Save
         $('#grdData').change("change", function () {
             CenterInlineSave('@ViewBag.columns');
         });
         //Search Dialog
         $("#btnSearch").click("click", function () {
             $('#dialogcreate').dialog({
                 autoOpen: false,
                 modal: true,
                 width: 500,
                 height: 300, resizable: false,
                 title: "Search",
                 closeOnEscape: true
             })
             $('#dialogcreate').dialog('open');
             $('#dialogcreate').load("/CenterMaster/Search");
             $('#dialogcreate').show();
             return false;
         });
         //Dynamic View
         $(".ddlView").change("change", function () {
             var dat = { items: $('.ddlView :selected').val(), sort: $('.ddlQuickSort :selected').val(), style: $('.ddlStyle :selected').val(), inactive: $('.chkShowInactives:checked').val() };
             CenterView($('.ddlStyle :selected').val(), dat);
         });
         //Dynamic Quick Sort
         $(".ddlQuickSort").change("change", function () {
             var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
             CenterQuickSort($('.ddlStyle :selected').val(), dat);
         });
         //Dynamic Style
         $(".ddlStyle").change("change", function () {
             var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
             CenterStyle($('.ddlStyle :selected').val(), dat);
         });
         //Bottom Dynamic View
         $("#bddlView").change("change", function () {
             var dat = { items: $(this).val(), sort: $('#bddlQuickSort :selected').val(), style: $('#bddlStyle :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
             CenterView($('#bddlStyle :selected').val(), dat);
         });
         //Bottom Dynamic Quick Sort
         $("#bddlQuickSort").change("change", function () {
             var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
             CenterQuickSort($('#bddlStyle :selected').val(), dat);
         });
         //Bottom Dynamic Style
         $("#bddlStyle").change("change", function () {             
             var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
             CenterStyle($(this).val(), dat);
         });
         //Dynamic Export
         $(".ddlExport").change("change", function () {
             CenterExport($(this).val());
         });
         //Filter Toggle
         $("#btnFilters").click(function () {
             $("#divfilter").toggle();
         });
         //Print View
         $("#btnPrint").click(function PrintData() {
             CenterPrintView();
         });
         //Print View
         $("#btnPrint1").click(function PrintData() {
             CenterPrintView();
         });
     });
</script>  
</head>
    <body >
       <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"> <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "CenterMaster") + "'")    ;" /></div>
            <div class="btnContleft"> <input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Create", "CenterMaster") + "'")    ;" /></div>
            @*<div class="btnContleft">  <input type="button" class="buttonclass" id="btnSearch"  value="Search"   /></div>
            <div id="btnOFF"   class="btnContRight">
                     @Html.Label("InlineEditing:")
                    <input type="button" class="button-hide " value="ON" />                
                    <input type="button" class="button-show " value="OFF" disabled="disabled"/>
                    </div>*@
           <div id="divfilter1" class="btnContleft">
                 <button type="button" class="buttonclass" id="btnFilters"  value="Filters" >Filters <img src="~/Images/filter.jpg" width="10px" border="0" id="imgbutton"/><img src="~/Images/filter.jpg" width="10px" border="0" id="imgbutton1" style="display:none"/>
            </button>
                 </div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint"  value="Print"  /></div>
              <div class="btnContRight"><input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "CenterMaster") + "'")    ;" /></div>
                <div class="dropdown btnContRight">
                   <button class="buttonclass">Export</button>
                    <ul class="dropdown-menu">
                        <li><a href="#home"> @Html.ActionLink("PDF", "ExportPdf", "CenterMaster")</a></li>
                            <li><a> @Html.ActionLink("Excel", "ExportExcel", "CenterMaster")</a></li>
                            <li><a> @Html.ActionLink("Word ", "ExportWord", "CenterMaster") </a></li>
                            <li><a> @Html.ActionLink("CSV ", "ExportCSV", "CenterMaster")   </a></li>

                        </ul>
                      </div>
       </div>
        @*<div class="linebreek"></div>
       <div class="topSecondButtonCont">
            <div id="divfilter1" class="btnContleft">
                 <button type="button" class="buttonclass" id="btnFilters"  value="Filters" >Filters <img src="~/Images/filter.jpg" width="10px" border="0" id="imgbutton"/><img src="~/Images/filter.jpg" width="10px" border="0" id="imgbutton1" style="display:none"/>
            </button>
                 </div>
                <div class="emptyDiv12"></div>
           <div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint"  value="Print"  /></div>
              <div class="btnContRight"><input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "CenterMaster") + "'")    ;" /></div>
                <div class="dropdown btnContRight">
                   <button class="buttonclass">Export</button>
                    <ul class="dropdown-menu">
                        <li><a href="#home"> @Html.ActionLink("PDF", "ExportPdf", "CenterMaster")</a></li>
                            <li><a> @Html.ActionLink("Excel", "ExportExcel", "CenterMaster")</a></li>
                            <li><a> @Html.ActionLink("Word ", "ExportWord", "CenterMaster") </a></li>
                            <li><a> @Html.ActionLink("CSV ", "ExportCSV", "CenterMaster")   </a></li>

                        </ul>
                      </div></div>
       </div>*@
  
                </div>

     <div class="hideFilter" id="divfilter">
        <div class="labelTxtFirstCol">
           @* @Html.Label("ShowInactives")@Html.CheckBox("ShowInactives", htmlAttributes: new { @class = "chkShowInactives" })*@
            @Html.Label("Style")</div><div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), new { @class = "ddlStyle" })</div>
           <div class="labelTxtFirstCol">  @Html.Label("View")</div><div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { @class = "ddlView" })</div>
           <div class="labelTxtFirstCol">  @Html.Label("QuickSort")</div><div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlQuickSort" })
            </div></div>
    <div id="dynamic"  class="overflow" >
        
          
        @{
            var grid = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: false, canSort: false);
            grid.Bind(Model);
    
        }
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

             <div id="Content" class="overflowGrid">
                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.cols)
            </div>
            
           <div id="ContentIn" class="gridcntdata">
                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "grdData" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.Inlinecols
)
            </div>
        }
    </div>
        <div id="ListId" style="display:none;overflow:auto ;width:100%">
        <div id="List1" >
         <table id="tbldata"> 
        
        </table>
         </div> <div id="InlineList" style="display:none;overflow:auto ;width:100%">
         <table id="itbldata"> 
        </table>
         </div>
        </div>
           
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
           @*<div class="bottomCol">
              <div class="labelTxtFirstCol">Style </div>
              <div class="bottomInputField"> *@
                @*  @Html.Label("ShowInactives")</td><td style="width:2%" id="binactive">@Html.CheckBox("ShowInactives", htmlAttributes: new { id = "bchkShowInactives" })</td>*@
            @*@Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), htmlAttributes: new { id = "bddlStyle" })
           </div>
           <div class="bottomCol">
              <div class="labelTxtFirstCol"> View </div>               
               <div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { id = "bddlView" })
            </div> 
                </div>
           <div class="bottomCol">
               <div class="labelTxtFirstCol"> QuickSort </div> 
               <div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "--Select--", "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected),htmlAttributes:  new { id = "bddlQuickSort" })
            </div>
                </div> </div>*@
             @*<td style="width:40%;text-align:right"> <input type="button" class="buttonclass" id="btnPrint1"  value="Print"  /></td>
                <td style="width:5%"><input type="button" class="buttonclass" id="btnbCustomizeView"  value="Customize View"   onclick="@("window.location.href='" + @Url.Action("CustomView", "CenterMaster") + "'")    ;"/></td>
                <td style="width:5%">
                    <ul  class="menug" style="background-color: #3B6F6F; color: white;width:50px; text-align:left">
                    
                    <li style=" text-align:left"><a style=" background-color: #3B6F6F; color: white; text-align:left">Export</a> 
                        <ul style=" text-align:left;background-color: #A1B9B9; color: white;">
                            <li class="submenu" style=" text-align:left"> @Html.ActionLink("PDF", "ExportPdf", "CenterMaster")</li>
                            <li class="submenu" style=" text-align:left"> @Html.ActionLink("Excel", "ExportExcel", "CenterMaster")</li>
                            <li class="submenu" style=" text-align:left"> @Html.ActionLink("Word ", "ExportWord", "CenterMaster")</li>
                            <li class="submenu" style=" text-align:left"> @Html.ActionLink("CSV ", "ExportCSV", "CenterMaster")</li>

                        </ul>
                </td>
            
               </tr>
        </table>  *@
       
    </div>
           </div>
    </body>

</html>
@*@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}*@

