﻿
@model eBizSuiteAppModel.Table.CONTABLE011

@{
    ViewBag.Title = "Center Master";
    Layout = null;
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>       
</head>
<body>
     <div id="FormData" >
          @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div class="dialogSearch">
                <div class="searchRow">
                <div class="lbl"> Center_ID</div>
            <div class="txt">
             <input type="text" name="Center_ID" value="@Request["COLUMN02"]" class="txtclass"/>
               </div> </div><div class="searchRow">
                <div class="lbl">
            @Html.Label("Name")</div>
            <div class="txt">
             <input type="text" name="Name" value="@Request["COLUMN03"]" class="txtclass"/>
               </div> </div><div class="searchRow"><div class="lbl">
            @Html.Label("Description")</div>
            <div class="txt">
             <input type="text" name="Description" value="@Request["COLUMN04"]" class="txtclass"/>
            </div> </div></div>
     <div class="popUpSearchFooter">
            <input type="submit" class="buttonclass" id="btn" value="Search"  style="font-size:small"/>
            <button  style="font-size:small;height:27px" name="ClientCancel" type="button" class="buttonclass" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("Info", "CenterMaster"))" style="display:none;"></a>
       </div>
} 
    </div>
</body>
</html>
