﻿@model MeBizSuiteAppUI.Controllers.MailModel
@{
    ViewBag.Title = "e-Mail";
    if (Request["FormName"] != "Email"){
        Layout = null;
    }
}

    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    @*<link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />*@
     <script src="~/Content/formbuildjquery.js"></script>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <meta http-equiv="Page-Enter" content="blendTrans(duration=0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(duration=0)" />
    <meta name="viewport" content="width=device-width">
<script>
    //tinymce.init({ selector: 'textarea' });
</script>
<script>
    var $i = jQuery.noConflict();
    $i(document).ready(function () {
        $i(function () {
            @*debugger
            var Ref = '@Request["Vendorref"]';
            var to = '@Request["idi"]';
            if (typeof Ref != "undefined" && Ref != "" && Ref != null) {
                $i('#SendTo').val(to);
                ddlSelectMailSendTo(to, '@Session["id"]');
            }*@

        });
        FormLoadActions();
        $i('#mailSend').click(function (event) {
            EmailDetailsSend('@Session["FormName"]');
        })

        //Send Mail Persons
        $i("#SendTo").change("change", function () {
            ddlSelectMailSendTo($i(this).val(), '@Session["id"]');
        });
        //Send Mail Persons Hide
        $i(".R").change("change", function () {
            if ($i("#SendT").is(':checked')) {
                $i("#hide").slideUp();
            }
            else {
                $i("#hide").slideDown();
            }
        });


    });
</script>
@using (Html.BeginForm("Index", "SendMailer", FormMethod.Post, new { enctype = "multipart/form-data", id = "OnFlyEmailDetailsSend" }))
{
    
         <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
            <input id="mailSend" type="button" class="buttonclass" value="Send" />
        </div>
	@*//EMPHCS1822 rajasekhar reddy patakota 30/09/2016 Opportunity Mail setup & Form Design Changes*@
    </div>  <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="EmailFormData" class="bodyFBContent" style="overflow:scroll">
        <div class="mainRowHeader" style="width: 94%;">
            @*@if (Session["PATH"] == null)
            {*@
            <br />
            <div class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">From</label>
                </div>
                <div class="txtMail">
                    @Html.TextBox("From", Session["SendFrom"], new { id = "SendFrom",readOnly = "true", @class = "txtmailclass" })
                </div>
            </div>
            @*<div class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">To</label>
                </div>
                <div class="txtMail">
                    @Html.DropDownList("Cust", new SelectList(ViewBag.smssend, "COLUMN02", "COLUMN04"), null, new { id = "SendTo", @class = "ddlmail" })
                   @* @Html.TextBoxFor(m => m.To, new { @class = "txtMailclass" })
                </div>
            </div>
            <div class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">Send</label>
                </div>
                <div class="txtMail">
                    <input id="SendT" class="R" name="Send" type="radio" value="1"><label for="Send">All</label>
                    <input id="CustVen" class="R" name="Send" type="radio" value="2"><label for="Send">Type Wise</label>
                    <input id="Indv" class="R" name="Send" type="radio" value="3"><label for="Send">Individual</label>
                </div>
            </div>

            }*@
          
            <div id="hide" class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">To</label>
                </div>
                <div class="txtMail">

                    @*@Html.DropDownList("To", new SelectList((SelectList)ViewBag.cust, "COLUMN10", "COLUMN05"), "....Select....", new { id = "SendPerson", @class = "ddl" })*@
                @*@Html.TextBox("Numbers","",null, new {@class="txtMailclass" })*@

					@*//EMPHCS1823 rajasekhar reddy patakota 10/06/2016 Email template Setup for Transactions*@
                    @Html.DropDownList("To", new SelectList(ViewBag.cust, "COLUMN02", "COLUMN02",ViewBag.Custmail), optionLabel: "....Select....", htmlAttributes: new { id = "SendPerson", @class = "ddlmail" })
                
                    @*@Html.TextBox("Numbers","",null, new {@class="txtMailclass" })*@

                </div>
            </div>
            <div class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">Cc</label>
                </div>
                <div class="txtMail">
                    <input id="Cc"  name="Cc" class="txtmailclass" type="text" value="" />
                </div>
            </div>
            <div class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">Subject</label>
                </div>
                @if (Session["subject"] == null)
                {
                <div class="txtMail">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "txtmailclass" })
                </div>}
                else
                {<div class="txtMail">
                    <input id="Subject"  name="Subject" class="txtmailclass" type="text" value="@Session["subject"]" />
                 </div>}
            </div>
            <div class="mainRowConMail">
                <div class="lblMail">
                    <label for="Message">Body</label>
                </div>
                <div class="txtMail">
                    @Html.TextAreaFor(m => m.Body, new { @class = "txtareaclassMail", name = "content" })
                    @*<textarea name="content" style="width:100%"></textarea>*@

                </div>
            </div>
            <div class="mainRowConFile">
                <div class="lblMail">
                    <label for="Message">Attachment</label>
                </div>
                <div class="txtMail">
                    @if (Session["PATH"] == null)
                    {
                    <input type="file" name="file"  id="file" style="width: 100%;" />}
                    else
                    {
                        <label class="lblMailfile"  for="Message1">@Session["file"]</label>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        @*<div class="btnContleftFB">
            <input id="mailSend" type="submit" class="buttonclass" value="Send" />
        </div>*@
    </div>
}
