﻿@{
    ViewBag.Title = "Service Provider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<!DOCTYPE html>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
<script src="~/Content/Tabs/jquery-ui.js"></script>
<script src="~/Content/formbuildjquery.js"></script>

<script type="text/javascript" language="javascript">
    var $i = jQuery.noConflict();
    $i(document).ready(function () {
        dateupdate('@Session["ReportDate"]');   
        $i("#SETABLE023COLUMN12").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("#SETABLE023COLUMN03").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("#SETABLE023COLUMN05").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
            //PriorityAlert($i(this).val());
        });

        $i("#SETABLE023COLUMN06").live("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("#SETABLE023COLUMN07").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("#SETABLE023COLUMN08").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("#SETABLE023COLUMN09").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("#SETABLE023COLUMN10").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("#SETABLE023COLUMN11").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("#SETABLE023COLUMN17").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("#SETABLE023COLUMN18").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        debugger;

        $i("#btnSave").click("click", function () {
            BtnSmsValidation();
        });
        $i("#imgCollaseexpand").live("click", function (e) {
            e.preventDefault();debugger
            var sec = $i(this).attr('itemid'); sec = sec.replace(" ", "_");
            $i("#im" + sec + "").hide();
            $i(this)[0].style.display = 'none'; $i(this)[0].nextSibling.nextSibling.style.display = 'block';
        });
        $i("#imgExpandCollase").live("click", function (e) {
            e.preventDefault(); debugger
            var sec = $i(this).attr('itemid'); sec = sec.replace(" ", "_");
            $i("#im" + sec + "").show();
            $i(this)[0].style.display = 'none'; $i(this)[0].previousSibling.previousSibling.style.display = 'block';
        });
        $i("#lineimgCollaseexpand").live("click", function (e) {
            e.preventDefault();
            $i("#tabs").hide(); $i("#Linegridfill").css('display', 'none');
            $i(this)[0].style.display = 'none'; $i(this)[0].nextElementSibling.style.display = 'block';
        });
        $i("#lineimgExpandCollase").live("click", function (e) {
            e.preventDefault();
            $i("#tabs").show(); $i("#Linegridfill").css('display', 'block');
            $i(this)[0].style.display = 'none'; $i(this)[0].previousElementSibling.style.display = 'block';
        });
        $i("#bottomlineimgCollaseexpand").live("click", function (e) {
            e.preventDefault();
            $i("#HeaderCollapse").hide();
            $i(this)[0].style.display = 'none'; $i(this)[0].nextElementSibling.style.display = 'block';
        });
        $i("#bottomlineimgExpandCollase").live("click", function (e) {
            e.preventDefault();
            $i("#HeaderCollapse").show();
            $i(this)[0].style.display = 'none'; $i(this)[0].previousElementSibling.style.display = 'block';
        });
        $i("#headerimgCollaseexpand").live("click", function (e) {
            e.preventDefault(); var FormData = $i("#FormData").height();
            var bottomline = $i("#bottomlineimgCollaseexpand").height();
            if (FormData == null || typeof (FormData) == "undefined") { FormData = 0; }
            if (bottomline == null || typeof (bottomline) == "undefined") { bottomline = 0; }
            var height = parseFloat(FormData) + parseFloat(bottomline);
            $i("#LineDetails").hide(); $i("#BottomCollapse").hide(); $i("#FormData").height(height);
            $i(this)[0].style.display = 'none'; $i(this)[0].nextElementSibling.style.display = 'block';
        });
        $i("#headerimgExpandCollase").live("click", function (e) {
            e.preventDefault(); var FormData = $i("#FormData").height();
            var bottomline = $i("#bottomlineimgCollaseexpand").height();
            if (FormData == null || typeof (FormData) == "undefined") { FormData = 0; }
            if (bottomline == null || typeof (bottomline) == "undefined") { bottomline = 0; }
            var height = parseFloat(FormData) - parseFloat(bottomline);
            $i("#LineDetails").show(); $i("#BottomCollapse").show(); $i("#FormData").height(height);
            $i(this)[0].style.display = 'none'; $i(this)[0].previousElementSibling.style.display = 'block';
        });
        $i('.gridtxtarealength').live("focus", function () {
            $i(this).animate({ height: "4em" }, 500);
        });
        $i('.gridtxtarealength').live("focusout", function () {
            var height = $i(this).height();
            $i(this).animate({ height: "1.5em" }, 500);
        });
    })

</script>
<body>
    <div id="gridddata" class="rowCont">

        @using (Html.BeginForm("InsertServiceProvider", "SendMailer", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata", AutoComplete = "off" }))
        {
            <div id="ddl" class="rowCont bottomRowContentFB">
                <div class="bottomColFB1">
                    <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" /></div>
                <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("SmsSettings", "SendMailer", new { FormName = Session["FormName"] }) + "'")    ;" /></div>
            </div>
            <div id="HeaderCollapse" style="">
                <input type="image" src="/Images/1/FormShrink.png" id="headerimgCollaseexpand" class="FormHeaderCollapseIcon"><input type="image" src="/Images/1/FormExpand.png" id="headerimgExpandCollase" class="FormHeaderExapandIcon">
                @*<div class="divRow" id="formheadercontent" style="overflow: hidden;">*@
               <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto;min-height: 427px">
                        <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                            <input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">
                            <input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                            Primary
                        </div>
                        <div id="imPrimary">
                            <div class="mainRow" id="Primary">
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Service Provider</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN03"  itemid="nvarchar" name="ServiceProvider" class="txtclass" type="text"@* value="@ViewBag.TransNo"*@ />
                                    </div>

                                </div>
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Mobile No</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN12"  itemid="nvarchar" name="MobileNo" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@/>
                                    </div>

                                </div>
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Priority</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">                       
                                        <input id="SETABLE023COLUMN05"  itemid="nvarchar" name="Priority" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@/>
                                    </div>
                                </div>
                            </div>
                            <div class="mainRow" id="Primary">
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label>User Name</label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN06" name="UserName" class="txtclass" type="text" @*autocomplete="off"*@/>
                                    </div>
                                </div>
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">PassWord</label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN07" itemid="nvarchar" name="PassWord" class="txtclass" type="password" @*autocomplete="off"*@/>
                                    </div>
                                </div>

                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Sender Id</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN08" itemid="nvarchar" name="SenderId" class="txtclass" type="text" />
                                    </div>

                                </div>
                            </div>

                            <div class="mainRow" id="Primary">
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Send SMS Url</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN09" itemid="nvarchar" name="SendSMSUrl" class="txtclass" type="text" />
                                    </div>

                                </div>
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Sent Report Url</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN10" itemid="nvarchar" name="SentReportUrl" class="txtclass" type="text" />
                                    </div>

                                </div>
                                <div class="mainRowCon" id="Primary">
                                    <div class="lbl" id="Primary">
                                        <label id="">Check Balance Url</label>
                                        <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                    </div>
                                    <div class="ddlS" id="Primary">
                                        <input id="SETABLE023COLUMN11" itemid="nvarchar" name="ChechBalanceUrl" class="txtclass" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="Secondary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                            <input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Secondary" class="FormCollapseIcon" style="display: none">

                            <input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Secondary" class="FormExapandIcon" style="display: block">
                            Secondary
                        </div>
                        <div id="imSecondary" style="display:none">

                            <div class="mainRow" id="Primary">
                                <div class="mainRowCon" id="Secondary">
                                    <div class="lbl" id="Secondary">
                                        <label id="">Description</label>
                                    </div>
                                    <div class="ddlS" id="Secondary">
                                        <input id="SETABLE023COLUMN04" itemid="nvarchar" name="Description" class="txtclass" type="text" />
                                    </div>
                                </div>
                                @*<div class="mainRowCon" id="Secondary">
                                    <div class="lbl" id="Secondary">
                                        <label id="">From Date</label>
                                    </div>
                                    <div class="ddlS" id="Secondary">
                                        <input itemid="nvarchar" name="FromDate" class="reportdate reporttxt txtclass" type="text" />
                                    </div>

                                </div>*@
                                <div class="mainRowCon" id="Secondary" >
                                <div class="lbl"   id="Secondary" >From Date</div>
                                <div class="txt"  id="Secondary"  >
                  @{ var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }}
              <input name="FromDate" id="SETABLE023COLUMN13" type="text"  value="@Dtext" class="date"  readonly="true"/></div>
        </div>
                                 <div class="mainRowCon" id="Secondary" >
                                <div class="lbl"   id="Secondary">To Date</div>
                                <div class="txt"  id="Secondary">
                  @{ var Dtext1=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext1 = DateTime.Now.ToShortDateString();
                        }}
              <input name="ToDate" id="SETABLE023COLUMN14" type="text"  value="@Dtext1" class="date"  readonly="true"/></div>
        </div>
                            </div>
                            <div class="mainRow" id="Primary">
                                <div class="mainRowCon" id="Secondary">
                                    <div class="lbl" id="Secondary">
                                        <label id="">Port No</label>
                                    </div>
                                    <div class="ddlS" id="Secondary">
                                        <input id="SETABLE023COLUMN19" itemid="nvarchar" name="PortNo" class="txtclass" type="text" />
                                    </div>
                                </div>
                                <div class="mainRowCon" id="Secondary">
                                    <div class="lbl" id="Secondary">
                                        <label id="">API Key</label>
                                    </div>
                                    <div class="ddlS" id="Secondary">
                                        <input id="SETABLE023COLUMN18" itemid="nvarchar" name="APIKey" class="txtclass" type="text" />
                                    </div>

                                </div>
                                <div class="mainRowCon" id="Secondary">
                                    <div class="lbl" id="Secondary">
                                        <label id="">Authentication Key</label>
                                    </div>
                                    <div class="ddlS" id="Secondary">
                                        <input id="SETABLE023COLUMN17" name="AuthenticationKey" class="txtclass" type="text" />
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                @*</div>*@
            </div>
            
            
            
            
            <div id="divLoading">
                <p>
                    <img src="/Images/ajax-loading.gif"><br />
                    Loading, please wait...
                </p>
            </div>
            <div id="LineDetails" class="">

                <div id="Linegridfill" class="gridrowadddiv fbBodyFoter"></div>
            </div>
        }


        @* <div id="pagescrolltop">
            <input type="image" class="pagescrollup" src="/Images/1/scrollpageUP.png" id="scrolltotop">
        </div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
            <div class="btnContleftFB"></div>
        </div>*@
        <div id="BottomCollapse">
            <input type="image" src="/Images/1/FormExpand.png" id="bottomlineimgCollaseexpand" class="FormHeaderCollapseIcon">
            <input type="image" src="/Images/1/FormShrink.png" id="bottomlineimgExpandCollase" class="FormHeaderExapandIcon">
        </div>
        <div id="pagescrolltop">
            <input type="image" class="pagescrollup" src="/Images/1/scrollpageUP.png" id="scrolltotop"></div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
            <div class="btnContleftFB"></div>
        </div>

    </div>
</body>
</html>

