﻿@{
    ViewBag.Title = "Instant SMS";
}
<html>
<head>
 
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet"/>
    <script src="~/Content/Tabs/MSDList.js"></script>

</head>
<body>
   
        <div id="gridddata" class="rowCont">
             @using (Html.BeginForm("InstantSms", "SendMailer", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata", AutoComplete = "off" }))
    {

            <div id="ddl" class="rowCont bottomRowContentFB">
                <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("InstantSMSInfo", "SendMailer", new { FormName = Session["FormName"] }) + "'")" />
                </div>
                <div class="bottomColFB1">
                    <input type="button" value="Send"  class="buttonclass btn_sample"  id="btnSave"  @*onclick="@("window.location.href='" + @Url.Action("InstantSms", "SendMailer", new { FormName = Session["FormName"] }) + "'")"*@ />
                </div>
                
                <div class="bottomColFB1">
                   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"/>
                </div>
                <div id="FormData" class="bodyContentSMS" style="overflow-y: scroll">
                     <div id="Primary" class="bodyFBCon" style="margin-bottom:9px;margin-top: 5px;"> <b>Primary</b> </div>
                    <div class="mainRow">
                        <div class="mainRowCon">
                            <div class="lbl">
                                <label id="">Send To</label>
                            </div>
                            <div class="ddlS">
                               
                                @Html.DropDownList("SendTo", new SelectList((SelectList)ViewData["lov"], "Value", "Text"), "--Select--", new { @class = "ddl", @id = "SendTo", @itemid = "N" })

                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">
                                <label id="">Select Client</label>
                            </div>
                            <div class="ddlS">
                            
                                <select  multiple="multiple" id="SendPerson" name='SendPerson'>
                                @foreach (var Feild in (SelectList)ViewBag.cust)
                                {
                                    <option value = "@Feild.Value"  > @Feild.Text </option>                      
                                }</select>
                                <input id="chkSendPerson" style="display: none;" value="">
                            </div>
                        </div>

                        <div class="mainRowCon">
                            <div class="lbl" id="">
                                <label id="">Message</label>
                            </div>
                            <div id="">
                                <textarea id="tMsg" name="msg"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
        </div>
           <div id="pagescrolltop">  <input type="image"  class="pagescrollup" src="/Images/1/scrollpageUP.png"  id="scrolltotop"></div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB"></div>
            </div> 
</body>

<script>

    $(document).ready(function () {            
        $("#SendTo").change("change", function () {debugger           
            ddlSelectSendTo($(this).val(), '@Session["id"]');
            var mylisttt = new MSDList("SendPerson");
            mylisttt.render();          
        });      
        var mylisttt1 = new MSDList("SendPerson");
        mylisttt1.render();
        debugger;
        $("#btnClear").click("click", function () { 
            $("#tMsg").val = "";

        });
               
         $(':checkbox').change(function() { 
                    debugger;
                    ddlSelectPayBillType($(this).val(), '1234', '@Request["FormName"]', "");
                });

        $(function () {
            debugger
            if ('@ViewData["SuccessMsg"]' != null) {
                timeout = setTimeout('timeout_trigger()', 1000);
                clearTimeout(timeout);
                setTimeout("$('.success').show();", 1000);
                setTimeout("$('.success').hide();", 30000);
            }
            else { $('.success').hide(); }
        });

        $(".R").change("change", function () {
            if ($("#SendT").is(':checked')) {
                $("#hide").slideUp();
            }
            else {
                $("#hide").slideDown();
            }
        });     
        $("#btnSave").click( function () {
            debugger;
            InstantSmsValidation();
        });
    });
</script>
</html>
