﻿@{
    ViewBag.Title = "Instant SMS";
}

<link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/formbuildjquery.js"></script>
<script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grdfData').DataTable({
            "aaSorting": [[0, "desc"]]
        });
    });
    </script>
<script type="text/javascript" language="javascript">
   $(document).ready(function () {
       debugger

       $('#btnEdit').live("click", function () {
           debugger;
           var Id = $(this).attr("itemid");
           window.location.href = "/SendMailer/UpdateSentSms?ide=" + Id + "";
           //CallUpdateMessage(Id);
       });
       $('#btnView').live("click", function () {
           debugger;
           var Id = $(this).attr("itemid");
           window.location.href = "/SendMailer/SentSmsView?ide=" + Id + "";
           //CallUpdateMessage(Id);
       }); 
    });
    
    </script>


     <div class="rowCont topHeaderContentBodyInfo">         
              <div class="bottomColFB1">
               <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("InstantSMSInfo", "SendMailer", new { FormName = Request["FormName"] }) + "'")    ; session();" />
              <input type="submit" class="buttonclass" value="New"  onclick="@("window.location.href='" + @Url.Action("InstantSms", "SendMailer", new { FormName = Session["FormName"] }) + "'")">
              </div>
     

          <div id="dynamicSMS"  class="overflow" >
        @{ var infospace = " | ";     
           List<WebGridColumn> columns = new List<WebGridColumn>();
         
           columns.Add(new WebGridColumn()
           {
               Format =@<text>
        <div class="ch">

            <a href="#" id="btnEdit" itemid= "@item.COLUMN02">Edit</a> @infospace <a href="#" id="btnView" itemid= "@item.COLUMN02">View</a>
        </div>
        </text>
                  
            });
            


            foreach (var column in ViewBag.columns)
            {
                if (column == "")
                {
                    
                }
                else
                {
                    columns.Add(new WebGridColumn()
                    {
                        ColumnName = column,
                        Header = column
                      
                    });
                }
                    
            }
        }
        @{
        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);          
            
            }

              <div id="ContentSMS" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:
                              (columns)

               )
        </div>

             
    </div>
          <div id="pagescrolltop">  <input type="image"  class="pagescrollup" src="/Images/1/scrollpageUP.png"  id="scrolltotop"></div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB"></div>
            </div> 
   </div>
        


