﻿@{
    ViewBag.Title = "Instant SMS";
}

<html>
<head>
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("SentSmsView", "SendMailer", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {
        <div id="gridddata" class="rowCont">
            <div id="ddl" class="rowCont bottomRowContentFB">
                <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("UpdateSentSms", "SendMailer", new { FormName = Session["FormName"], ide = Request["ide"] }) + "'")    ;" />
                </div>
                <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("SentSms", "SendMailer", new { FormName = Session["FormName"], Id = Request["ide"] }) + "'")" />
                </div>
                <div id="FormData" class="bodyContentSMS" style="overflow-y: scroll">
                    <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;"><b>Primary</b> </div>
                    <div class="mainRow">
                        <div class="mainRowCon">
                            <div class="lbl">
                                <label id="">Send To</label>
                            </div>
                            <div class="ddlS">
                                @Html.DropDownList("SendTo", new SelectList(ViewBag.smssend, "COLUMN02", "COLUMN04", ViewBag.SendToval), "--Select--", new { id = "SendTo", @class = "ddl", disabled = "disabled" })
                                <input name="SendType"   style="display: none;" readonly="true" value="@ViewBag.SendToval">
                            </div>
                        </div>
                        <div class="mainRowCon">
                            <div class="lbl">
                                <label id="">Client :</label>
                            </div>
                            @* <div class="ddlS">
                                @Html.DropDownList("SendPerson", new SelectList(ViewBag.cust, "Value", "Text"), "--Select--", new { id = "SendPerson", name = "numbers" })
                                <input id="chkSendPerson" name="chkSendPerson"   style="display: none;" value="@ViewBag.SendPerson">
                            </div>*@

                            <div class="ddlS">
                                @* @Html.DropDownList("SendPerson", new SelectList(ViewBag.cust, "Value", "Text"), "--Select--", new { id = "SendPerson", name = "numbers" })*@


                                @*                                <select  multiple="multiple" id="SendPerson" name='SendPerson' >
                                @foreach (var Feild in (SelectList)ViewBag.cust)
                                {
                                    
                                    <option value = "@Feild.Value"  readonly >@Feild.Text </option>                      
                                }</select>*@


                                @*Adding Select Clients in the Lable*@
                                <label style="white-space: pre-wrap;">@ViewBag.cust</label>
                                <input id="chkSendPerson" name="chkSendPerson"  style="display: none;" value="@ViewBag.SendPerson " readonly="readonly">
                            </div>
                        </div>

                        <div class="mainRowCon">
                            <div class="lbl" id="">
                                <label id="">Message</label>
                            </div>
                            <div id="">
                                <textarea id="txMsg" name="msg" readonly="readonly">@ViewBag.txtmsg</textarea>
                                <input id="requestid" name="requestid" style="display:none;" value="@ViewBag.requestid"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    }

</body>
</html>
