﻿@{
    ViewBag.Title = "Instant SMS";
}

 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/formbuildjquery.js"></script>
<script type="text/javascript" language="javascript">
   $(document).ready(function () {
       debugger

       $('#btnEdit').live("click", function () {
           debugger;
           var Id = $(this).attr("itemid");
           window.location.href = "/SendMailer/UpdateSentSms?ide=" + Id + "";
           //CallUpdateMessage(Id);
       });
       $('#btnView').live("click", function () {
           debugger;
           var Id = $(this).attr("itemid");
           window.location.href = "/SendMailer/SentSmsView?ide=" + Id + "";
           //CallUpdateMessage(Id);
       });
    });
    
    </script>


     <div class="rowCont topHeaderContentBodyInfo"> 
          <div class="bottomColFB1">
         <input type="Button" id="btnDelete" class="buttonclass" value="List" style="padding-left:10px;padding-right:10px">
              </div>
              <div class="bottomColFB1">
              <input type="submit" class="buttonclass" value="Instant Sms"  onclick="@("window.location.href='" + @Url.Action("InstantSmsInfo", "SendMailer", new { FormName = Session["FormName"] }) + "'")"><span style="margin: 1px -1px 1px 3px; margin-left:850px;margin-bottom:50px">🔍</span> <input type="text" aria-controls="grdfData" /></div>
     

         <div id="dynamic"  class="overflow" >
        @{ var infospace = " | ";       
           List<WebGridColumn> columns = new List<WebGridColumn>();
         
          

            foreach (var column in ViewBag.columns)
            {
                if (column == "ID")
                {
                    columns.Add(new WebGridColumn()
                    {
                        ColumnName = column,
                        Header = "",
                        Format =@<text>
       
             <a href="#" id="btnEdit" itemid= "@item.ID">Edit</a> @infospace <a href="#" id="btnView" itemid= "@item.ID">View</a>
 </text>
                    });
                    columns.Add(new WebGridColumn()
                    {
                        ColumnName = column,
                        Header = column

                    });
                }
                else
                {
                    columns.Add(new WebGridColumn()
                    {
                        ColumnName = column,
                        Header = column
                      
                    });
                }
                    
            }
        }
        @{
        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);          
            
            }

              <div id="Content" class="overflowGrid">
                  
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:
                              (columns)

               )
        </div>

             
    </div>

   </div>
        







