﻿@{
    
    ViewBag.Title = "Service Provider";
}
<html>
<head>
    <script src="~/jQuery/Manufacture.js"></script>
    <div id="dialogcreate"></div>
     @*<script src="~/Content/formbuildjquery.js"></script>*@
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grdfData').DataTable();
        //$("#FddlDynamicSortByStatus").val(Session["SortByStatus"]);

        //FilterView
        $("#btnFilters").click(function () {
            FilterView();
        });

        $('#btnEdit').live("click",function () {
            debugger;
            var Id = $(this).attr("itemid");
            window.location.href = "/SendMailer/UpdateServiceProvider?ide=" + Id + "";
            //CallUpdateSp(Id);
        });
        $('#btnView').live("click", function () {
            debugger;
            var Id = $(this).attr("itemid");
            window.location.href = "/SendMailer/ViewServiceProvider?ide=" + Id + "";
            //CallUpdateSp(Id);
        });
        //Inline Edit ON
        $('.button-hide').click("click", function () {
            InlineON();
        });
        //Inline Edit OFF
        $('.button-show').click("click", function () {
            InlineOFF();
        });
    @*    //Style Event
        $("#ddlDynamicStyle").change("change", function () {
            var items = $(this).val();
            $.session.set("dynamicStyle", $('#ddlDynamicStyle :selected').val());
            dynamicStyle($(this).val());
            styles('@Request["FormName"]', items);
        });
        //Footer Style event
        $("#FddlDynamicStyle").change("change", function () {
            var items = $(this).val();
            $.session.set("dynamicStyle", $('#FddlDynamicStyle :selected').val());
            //$("#divfilter").toggle();
            dynamicStyle($(this).val());
            styles('@Request["FormName"]', items);
        });*@
        //Footer View event
        @*$("#ddlDynamicView").change("change", function () {
            var item = $('#ddlDynamicView :selected').text();
            $.session.set("dynamicView", $('#ddlDynamicView :selected').val());
            FooterView(item, '@Request["FormName"]')
        });
        //Dynamic View Event 1111
        $("#FddlDynamicView").change("change", function () {
            var item = $('#FddlDynamicView :selected').val();
            $.session.set("dynamicView", $('#FddlDynamicView :selected').val());
            FooterView(item, '@Request["FormName"]')
            //$("#divfilter").toggle();
        });*@
        //QuickSort Event For Footer
    @*    $("#ddlDynamicQuickSort").change("change", function () {
            $.session.set("dynamicSort", $('#ddlDynamicQuickSort :selected').val());
            QuickSort($('#ddlDynamicQuickSort :selected').val(), '@Request["FormName"]');
        });*@
        //Sort By Status Event
    @*    $("#ddlDynamicSortByStatus").change("change", function () { 
            $.session.set("dynamicSort", $('#ddlDynamicSortByStatus :selected').val());
            QuickSort($('#ddlDynamicSortByStatus :selected').val(), '@Request["FormName"]');
        });*@
        //Item Master Items
  @*      $("#ddlItemType").change("change", function () {
            var items = $('#ddlItemType :selected').val();
            $.session.set("dynamicddlItemType", items); $.session.set("dynamicFddlItemType", null);
            ItemMasterItems(items, '@Request["FormName"]');
        });
        //Footer Item Master Items
        $("#FddlItemType").change("change", function () {
            var items = $('#FddlItemType :selected').val();
            $.session.set("dynamicFddlItemType", items); $.session.set("dynamicddlItemType", null);
            ItemMasterItems(items, '@Request["FormName"]');
        });*@
        //Header Quick Sort Event 11111
    @*    $("#FddlDynamicQuickSort").change("change", function () {
            $.session.set("dynamicSort", $('#FddlDynamicQuickSort :selected').text());
            QuickSort($('#FddlDynamicQuickSort :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });*@
 @*       //Header SortByStatus Evevnt 11111
        $("#FddlDynamicSortByStatus").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]')
                $.session.set("dynamicStatus", null);
            else
                $.session.set("dynamicStatus", $('#FddlDynamicSortByStatus :selected').text());
            SortByStatus($('#FddlDynamicSortByStatus :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });*@
        if ('@Session["filterStatus"]' == '')
        { $.session.set("dynamicStatus", null); }
        else { $.session.set("dynamicStatus", '@Session["SortByStatus"]'); }
    });
    session();
</script>

</head>


<body >
    <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("SmsSettings", "SendMailer", new { FormName = Request["FormName"] }) + "'")    ; session();" /></div>
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New"   onclick="@("window.location.href='" + @Url.Action("InsertServiceProvider", "SendMailer", new { FormName = Request["FormName"], ide = "null" }) + "'")    ;" /></div>

   

 <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>                        
                </div>

    <div id="dynamicSMS"  class="overflow" >
        @{ var infospace = " | ";       
           List<WebGridColumn> columns = new List<WebGridColumn>();
         
           columns.Add(new WebGridColumn()
           {
               Format =@<text>
        <div class="ch">

            <a href="#" id="btnEdit" itemid= "@item.COLUMN02">Edit</a> @infospace <a href="#" id="btnView" itemid= "@item.COLUMN02">View</a>
                @Html.ActionLink("Instant Sms", "InstantSms",  new { controller = "SendMailer", ide = item.COLUMN02, FormName = Request["FormName"] })
        </div>
        </text>
                  
            });
            


            foreach (var column in ViewBag.columns)
            {
                if (column == "")
                {
                 

                }
                else
                {
                    columns.Add(new WebGridColumn()
                    {
                        ColumnName = column,
                        Header = column
                      
                    });
                }
                    
            }
        }
        @{
        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);          
            
            }

              <div id="ContentSMS" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:
                              (columns)

               )
        </div>            
    </div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">                   
       </div>
         </div>
</body>
</html>
