﻿@model eBizSuiteAppModel.WallMessageModel
@{
    ViewBag.Title = "Social Networking Sites";
}
<!DOCTYPE html>
<script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script src="~/Content/Tabs/jquery.dataTables.rowReordering.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="~/Content/Tabs/taby.js"></script>
<script src="~/Content/formbuildjquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>

<body>
    @Html.ValidationSummary(true)
    <div class="topHeaderContentBodyInfoEmptyCont">
        <div id="FormData" class="bodyFBContent">
            <div id="tabs" class="fbTabCon">
                <ul>
                    <li>
                        <a href="#Facebook">Facebook</a>&nbsp;
                    </li>
                    <li>
                        <a href="#Twitter">Twitter</a>&nbsp;
                    </li>
                    @*<li>
                    <a href="#Google">Google+</a>&nbsp;
                </li>*@
                </ul>
                <div id="Facebook" class="overflowGrid">
                    @using (Html.BeginForm("FacebookLogin", "SendMailer"))
                    {
                        @Html.ValidationSummary(true)
                        
@*<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>*@
                        <div class="mainRowConMail">
                            <div class="lblMail">
                                <label for="Message">Message</label>
                            </div>
                            <div class="txtMail">

                                @Html.TextArea("Message", "", new { @class = "txtareaclassMail" })
                                @Html.ValidationMessageFor(model => model.message)
                            </div>
                            <div class="lbl">
                                <input type="submit" value="Post" class="buttonclass" id="btnAddTras" />
                            </div>
                        </div>
                    }
                </div>
                <div id="Twitter" class="overflowGrid">
                    @using (Html.BeginForm("Twitter", "SendMailer"))
                    {
                        @Html.ValidationSummary(true)
                        <div class="mainRowConMail">
                            <div class="lblMail">
                                <label for="Message">Tweet</label>
                            </div>
                            <div class="txtMail">
                                @Html.TextArea("Message", "", new { @class = "txtareaclassMail" })
                                @Html.ValidationMessageFor(model => model.message)
                            </div>
                            <div class="lbl">
                                <input type="submit" value="Tweet" class="buttonclass" id="btnAddTras" />
                            </div>
                        </div>
                    }
                </div>
                @*<div id="Google" class="overflowGrid">
                    @using (Html.BeginForm("Twitter", "SendMailer"))
                    {
                        @Html.ValidationSummary(true)
                        <div class="rowCont bottomRowContentFB" id="ddl">
                            <div class="bottomColFB1">
                                <input class="buttonclass btn_sample" type="submit" value="Tweet" />
                            </div>
                        </div>
                        <div id="FormData" class="bodyFBContent">
                            <div class="mainRowConMail">
                                <div class="lblMail">
                                    <label for="Message">Tweet</label>
                                </div>
                                <div class="txtMail">
                                    @Html.TextArea("Message", "", new { @class = "txtareaclassMail" })
                                    @Html.ValidationMessageFor(model => model.message)
                                </div>
                            </div>
                        </div>
                        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
                            <div class="btnContleftFB">
                                <input class="buttonclass btn_sample" type="submit" value="Post" />
                            </div>
                        </div>
                    }
                </div>*@
            </div>
        </div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        </div>
    </div>
</body>

