﻿@{
    ViewBag.Title = "Service Provider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<!DOCTYPE html>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
@*<script src="~/Content/formbuildjquery.js"></script>*@
<script src="~/jQuery/Manufacture.js"></script>
<script src="~/Content/Tabs/jquery-ui.js"></script>
<script src="~/Content/formbuildjquery.js"></script>
<script type="text/javascript" language="javascript">
    var $i = jQuery.noConflict();
    $i(document).ready(function () {
        dateupdate('@Session["ReportDate"]');
        var DateFormat = '@Session["DateFormat"]';
        debugger;
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        var Id = getUrlParameter('ide');
        debugger;
        //var Id1 = $.urlParam('inm');
        CallUpdateSp(Id);

        dateupdate('@Session["ReportDate"]');
        //$i("#tabs").tabs();
       // $i("#tabs1").tabs();
        //EnableDisable('@Session["id"]', '@Session["OPUnit1"]', '@Session["Location"]', '@Session["TaxInclusive"]', '@Session["ip"]');
        //Dynamicforms('@Session["FormName"]', '@Request["ide"]', '', '@Session["id"]')
        
        //var id = $('#tabs1 .ui-state-active').attr("title");
        //$i("#SATABLE019COLUMN12").val(id);
        //$i("#SATABLE019COLUMN22").on("change", function (e) {
            //duration();
        //});
        //$i("#SATABLE019COLUMN23").on("change", function (e) {
           // duration();
        //});
        $i("#imgCollaseexpand").live("click", function (e) {
            e.preventDefault(); debugger
            var sec = $i(this).attr('itemid'); sec = sec.replace(" ", "_");
            $i("#im" + sec + "").hide();
            $i(this)[0].style.display = 'none'; $i(this)[0].nextSibling.nextSibling.style.display = 'block';
        });
        $i("#imgExpandCollase").live("click", function (e) {
            e.preventDefault(); debugger
            var sec = $i(this).attr('itemid'); sec = sec.replace(" ", "_");
            $i("#im" + sec + "").show();
            $i(this)[0].style.display = 'none'; $i(this)[0].previousSibling.previousSibling.style.display = 'block';
        });
        $i("#lineimgCollaseexpand").live("click", function (e) {
            e.preventDefault();
            $i("#tabs").hide(); $i("#Linegridfill").css('display', 'none');
            $i(this)[0].style.display = 'none'; $i(this)[0].nextElementSibling.style.display = 'block';
        });
        $i("#lineimgExpandCollase").live("click", function (e) {
            e.preventDefault();
            $i("#tabs").show(); $i("#Linegridfill").css('display', 'block');
            $i(this)[0].style.display = 'none'; $i(this)[0].previousElementSibling.style.display = 'block';
        });
        $i("#bottomlineimgCollaseexpand").live("click", function (e) {
            e.preventDefault();
            $i("#HeaderCollapse").hide();
            $i(this)[0].style.display = 'none'; $i(this)[0].nextElementSibling.style.display = 'block';
        });
        $i("#bottomlineimgExpandCollase").live("click", function (e) {
            e.preventDefault();
            $i("#HeaderCollapse").show();
            $i(this)[0].style.display = 'none'; $i(this)[0].previousElementSibling.style.display = 'block';
        });
        $i("#headerimgCollaseexpand").live("click", function (e) {
            e.preventDefault(); var FormData = $i("#FormData").height();
            var bottomline = $i("#bottomlineimgCollaseexpand").height();
            if (FormData == null || typeof (FormData) == "undefined") { FormData = 0; }
            if (bottomline == null || typeof (bottomline) == "undefined") { bottomline = 0; }
            var height = parseFloat(FormData) + parseFloat(bottomline);
            $i("#LineDetails").hide(); $i("#BottomCollapse").hide(); $i("#FormData").height(height);
            $i(this)[0].style.display = 'none'; $i(this)[0].nextElementSibling.style.display = 'block';
        });
        $i("#headerimgExpandCollase").live("click", function (e) {
            e.preventDefault(); var FormData = $i("#FormData").height();
            var bottomline = $i("#bottomlineimgCollaseexpand").height();
            if (FormData == null || typeof (FormData) == "undefined") { FormData = 0; }
            if (bottomline == null || typeof (bottomline) == "undefined") { bottomline = 0; }
            var height = parseFloat(FormData) - parseFloat(bottomline);
            $i("#LineDetails").show(); $i("#BottomCollapse").show(); $i("#FormData").height(height);
            $i(this)[0].style.display = 'none'; $i(this)[0].previousElementSibling.style.display = 'block';
        });
        $i('.gridtxtarealength').live("focus", function () {
            $i(this).animate({ height: "4em" }, 500);
        });
        $i('.gridtxtarealength').live("focusout", function () {
            var height = $i(this).height();
            $i(this).animate({ height: "1.5em" }, 500);
        });
       

        $i("[id*=SETABLE023COLUMN12]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("[id*=SETABLE023COLUMN03]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("[id*=SETABLE023COLUMN05]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("[id*=SETABLE023COLUMN06]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("[id*=SETABLE023COLUMN07]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });



        $i("[id*=SETABLE023COLUMN08]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("[id*=SETABLE023COLUMN09]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("[id*=SETABLE023COLUMN10]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("[id*=SETABLE023COLUMN11]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });

        $i("[id*=SETABLE023COLUMN17]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        $i("[id*=SETABLE023COLUMN18]").on("change", function (e) {
            debugger
            SmsValidation($i(this).val());
        });
        debugger;
              $i("#btnSave").click("click", function () {debugger
                  BtnSmsValidation();
        });
 })
</script>

<body>


    <div id="gridddata" class="rowCont">
        @*<div id="ddl" class="rowCont bottomRowContentFB">
          *@

            @using (Html.BeginForm("UpdateServiceProvider", "SendMailer", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata",AutoComplete="off" }))
            {
              <div id="ddl" class="rowCont bottomRowContentFB">
                <div class="bottomColFB1">
                    <input type="button" value="Save" class="buttonclass btn_sample" id="btnSave" />
                    </div>
                   <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("SmsSettings", "SendMailer", new { FormName = Request["FormName"] }) + "'")    ; session();" />
                     </div>
                        <div class="bottomColFB1">
                       <input type="button" class="buttonclass" id="btnDelete"  value="Delete"  onclick="@("window.location.href='" + @Url.Action("DeleteServiceProvider", "SendMailer", new { FormName = Request["FormName"], Id = Request["ide"] }) + "'")    ; session();" />
                             </div>
                  <div class="bottomColFB1">
                    <input type="hidden" name="IDN" value="@Request["ide"]"/>
                       </div>
                </div>
                
                
                
                <div id="HeaderCollapse" style="">
                    <input type="image" src="/Images/1/FormShrink.png" id="headerimgCollaseexpand" class="FormHeaderCollapseIcon"><input type="image" src="/Images/1/FormExpand.png" id="headerimgExpandCollase" class="FormHeaderExapandIcon">
                   
                    <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto;min-height: 427px">
                        <div id="Primary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                            <input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Primary" class="FormCollapseIcon">
                            <input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Primary" class="FormExapandIcon">
                            Primary
                        </div>
                            <div id="imPrimary">
                                <div class="mainRow" id="Primary">
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Service Provider</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN03" itemid="nvarchar" name="ServiceProvider" class="txtclass" type="text" />
                                        </div>

                                    </div>
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Mobile No</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN12" itemid="nvarchar" name="MobileNo" class="txtclass" type="text" />
                                        </div>

                                    </div>
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Priority</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">                    
                                            <input id="SETABLE023COLUMN05"  itemid="nvarchar" name="Priority" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@/>
                                        </div>
                                    </div>
                                </div>

                                <div class="mainRow" id="Primary">
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label>User Name</label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN06" name="UserName" class="txtclass" type="text" @*autocomplete="off"*@/>
                                        </div>

                                    </div>

                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">PassWord</label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN07" @*pattern="N"*@  itemid="nvarchar" name="PassWord" class="txtclass" type="password" @*value="@ViewBag.TransNo"*@ @*autofill="off"*@ />
                                        </div>

                                    </div>
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Sender Id</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN08"  itemid="nvarchar" name="SenderId" class="txtclass" type="text"@* value="@ViewBag.TransNo"*@  />
                                        </div>

                                    </div>
                                </div>



                                <div class="mainRow" id="Primary">
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Send SMS Url</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN09" @*pattern="N"*@  itemid="nvarchar" name="SendSMSUrl" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@  />
                                        </div>

                                    </div>
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Sent Report Url</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN10" @*pattern="N" *@ itemid="nvarchar" name="SentReportUrl" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@  />
                                        </div>

                                    </div>
                                    <div class="mainRowCon" id="Primary">
                                        <div class="lbl" id="Primary">
                                            <label id="">Chech Balance Url</label>
                                            <label id="PUTABLE005COLUMN04lbla" class="astric">* </label>
                                        </div>
                                        <div class="ddlS" id="Primary">
                                            <input id="SETABLE023COLUMN11" @*pattern="N"*@  itemid="nvarchar" name="ChechBalanceUrl" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@  />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="Secondary" class="bodyFBCon" style="margin-bottom: 9px; margin-top: 5px;">
                                <input type="image" src="/Images/1/Collapse.png" id="imgCollaseexpand" itemid="Secondary" class="FormCollapseIcon" style="display: none">

                                <input type="image" src="/Images/1/Expand.png" id="imgExpandCollase" itemid="Secondary" class="FormExapandIcon" style="display: block">
                                Secondary
                            </div>
                            <div id="imSecondary" style="display:none">

                                <div class="mainRow" id="Secondary">
                                    <div class="mainRowCon" id="Secondary">
                                        <div class="lbl" id="Secondary">
                                            <label id="">Description</label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            <input id="SETABLE023COLUMN04" @*pattern="N"*@  itemid="nvarchar" name="Description" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@  />
                                        </div>
                                    </div>
                                    <div class="mainRowCon" id="Secondary">
                                        <div class="lbl" id="Secondary">
                                            <label id="">From Date</label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            <input id="fromDate" itemid="nvarchar" name="FromDate" class="reportdate reporttxt date" type="text" />
                                        </div>

                                    </div>

                                    <div class="mainRowCon" id="Secondary">
                                        <div class="lbl" id="Secondary">
                                            <label id="">To Date</label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            <input id="toDate" itemid="nvarchar" name="ToDate" class="reportdate reporttxt txtclass" type="text" />
                                            @*<input id="SATABLE019COLUMN04" pattern="N"  itemid="nvarchar" name="Production" class="txtclass" type="date"  readonly="true" /> *@
                                        </div>

                                    </div>
                                </div>
                            

                            <div>
                                <div>
                                    <div class="mainRowCon" id="Secondary">
                                        <div class="lbl" id="Secondary">
                                            <label id="">Port No</label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            @* <input id="SATABLE019COLUMN04" pattern="N"  itemid="nvarchar" name="Production" class="txtclass" type="text" value="@ViewBag.TransNo" readonly="true" />*@
                                            <input id="SETABLE023COLUMN19" @*pattern="N"*@ type="text" itemid="nvarchar" name="PortNo" class="txtclass"/>

                                        </div>

                                    </div>
                                    <div class="mainRowCon" id="Secondary">
                                        <div class="lbl" id="Secondary">
                                            <label id="">API Key</label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            @*<input id="" pattern="N"  itemid="nvarchar" name="MessageType" class="txtclass" type="text" value="@ViewBag.TransNo" /> *@
                                            <input id="SETABLE023COLUMN18"  itemid="nvarchar" name="APIKey" class="txtclass" type="text"@* value="@ViewBag.TransNo"*@ />

                                        </div>
                                    </div>
                                    <div class="mainRowCon" id="Secondary">
                                        <div class="lbl" id="Secondary">
                                            <label id="">Authentication Key</label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            <input id="SETABLE023COLUMN17"  name="AuthenticationKey" class="txtclass" type="text" @*value="@ViewBag.TransNo"*@ />
                                        </div>
                                    </div>

                                    <div class="mainRowCon" id="Secondary">

                                        <div class="lbl" id="Secondary">
                                            <label id=""></label>
                                        </div>
                                        <div class="ddlS" id="Secondary">
                                            @*  <input id="SATABLE019COLUMN04" pattern="N"  itemid="nvarchar" name="Production" class="txtclass" type="text" value="@ViewBag.TransNo" readonly="true" /> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
                        </div>

                    @*</div>*@
                </div>
                
                
                <div id="divLoading">
                    <p>
                        <img src="/Images/ajax-loading.gif"><br />
                        Loading, please wait...
                    </p>
                </div>
                <div id="LineDetails" class="">

                    <div id="Linegridfill" class="gridrowadddiv fbBodyFoter"></div>
                </div>
            }

 <div id="BottomCollapse">
            <input type="image" src="/Images/1/FormExpand.png" id="bottomlineimgCollaseexpand" class="FormHeaderCollapseIcon">
            <input type="image" src="/Images/1/FormShrink.png" id="bottomlineimgExpandCollase" class="FormHeaderExapandIcon">
        </div>
        <div id="pagescrolltop">
            <input type="image" class="pagescrollup" src="/Images/1/scrollpageUP.png" id="scrolltotop"></div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
            <div class="btnContleftFB"></div>
        </div>
        </div>
</body>
</html>

