﻿
@*<h2>UpdateSentSms</h2>*@
@{
    ViewBag.Title = "Instant SMS";
}
<html>
<head>
    @* <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>
        $(document).ready(function () {
            debugger
            $("#SendPerson").attr("style", "pointer-events: none;");
           // $("#MSDList_ListLabelCell").attr('disabled', "disabled");
            //$('#MSDList_ListLabelCell option:not(:selected)').attr('disabled', "disabled");
            //$('#cf_1268591 option:not(:selected)').prop('disabled', true);
            //$("#SendPerson").prop("disabled", disabled); 
            var mylistC = new MSDList("SendPerson");
            var strC = $("#chkSendPerson").val();
            var tempC = new Array();
            tempC = strC.split(",");
            mylistC.render();
            $("input[name='SendPerson']").val(tempC);
            for (var i = 0; i < tempC.length; i++) {
                var textToSelect = tempC[i];
                $(".MSDList_ListCheckBox").each(function () {
                    if ($(this).val() == textToSelect) $(this).attr("checked", true);
                });
            }
            @*$('.MSDList_ListItemRow').change(function () {
                debugger;
                var val = $(".MSDList").find('input[name=SendTo]').val();
                ddlSelectCustomerList($(this).parent().parent(), val, '@Session["id"]');
                var mylisttt = new MSDList("SendPerson");
                mylisttt.render();
            });*@
            $('.MSDList_ListLabelCell').on("click", function () {
                debugger;
               
                //$(this)["0"].previousSibling.style.display = "none";
                //var val = $(".MSDList").find('input[name=SendTo]').val();
                //$("#myDiv").removeAttr("style");
               @* ddlSelectCustomerList($(this).parent().parent(), val, '@Session["id"]');
                var mylisttt = new MSDList("SendPerson");
                mylisttt.render();*@
            });
            //var $i=jQuery.noConflict();
            $(function () {debugger
                $('input[class="MSDList_ListCheckBox"]').attr({
                    'disabled': "disabled",
                });
               
                //$('.MSDList_ListLabelCell').each(function () {
                //    $(this)["0"].className = "";
                //});
                //var tdl = document.getElementById('.MSDList_ListLabelCell');
                //tdl.style.display = "none"
                if ('@ViewData["SuccessMsg"]' != null) {
                    timeout = setTimeout('timeout_trigger()', 1000);
                    clearTimeout(timeout);
                    setTimeout("$('.success').show();", 1000);
                    setTimeout("$('.success').hide();", 30000);
                }
                else { $('.success').hide(); }
            });

            //Send SMS Persons
            $("#SendTo").change("change", function () {
                ddlSelectSendTo($(this).val(), '@Session["id"]');
                var mylisttt = new MSDList("SendPerson");
                mylisttt.render();
            });
            $('#btnResend').live("click", function () {
                debugger
                @*InstantSMS('@Request["ide"]', 'sms');*@

            });
            //Send SMS Persons Hide
            $(".R").change("change", function () {
                if ($("#SendT").is(':checked')) {
                    $("#hide").slideUp();
                }
                else {
                    $("#hide").slideDown();
                }
            });

        });

</script>
</head>
<body>
    @using (Html.BeginForm("UpdateSentSms", "SendMailer", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {
        <div id="gridddata" class="rowCont">
            <div id="ddl" class="rowCont bottomRowContentFB">
                <div class="bottomColFB1">
                    <input type="submit" value="Re-Send"  class="buttonclass btn_sample"  id="btnResend" /></div>
                <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("InstantSMSInfo", "SendMailer", new { FormName = Session["FormName"], Id = Request["ide"] }) + "'")" /></div>
                <div class="bottomColFB1">
                    <input type="button" class="buttonclass" id="btnDelete"  value="Delete"  onclick="@("window.location.href='" + @Url.Action("DeleteMsg", "SendMailer", new { FormName = Session["FormName"], Id = Request["ide"]}) + "'")" /></div>
                <div id="FormData" class="bodyContentSMS" style="overflow-y: scroll">
                    <div id="Primary" class="bodyFBCon" style="margin-bottom:9px;margin-top: 5px;"> <b>Primary</b> </div>
                    <div class="mainRow">
                        <div class="mainRowCon">
                            <div class="lbl">
                                <label id="">Send To</label></div>
                            <div class="ddlS">
                                @Html.DropDownList("SendTo", new SelectList(ViewBag.smssend, "COLUMN02", "COLUMN04",ViewBag.SendToval), "--Select--", new { id = "SendTo", @class = "ddl",disabled="disabled" })
                                <input name="SendType"   style="display: none;" readonly="true" value="@ViewBag.SendToval">

                            </div>
                        </div>



                        <div class="mainRowCon">
                            <div class="lbl">
                                <label id=""> Client :</label></div>
                            <div class="ddlS">
                               @* @Html.DropDownList("SendPerson", new SelectList(ViewBag.cust, "Value", "Text"), "--Select--", new { id = "SendPerson", name = "numbers" })*@
                               @* <select  multiple="multiple" id="SendPerson" name='SendPerson' >
                                @foreach (var Feild in (SelectList)ViewBag.cust)
                                {
                                    <option value = "@Feild.Value"  style="display: none;" readonly="true"> @Feild.Text   </option>                      
                                }</select>*@
                                 <label style="white-space: pre-wrap;">@ViewBag.cust</label>
                                <input id="chkSendPerson" name="chkSendPerson" style="display: none;" readonly="true" value="@ViewBag.SendPerson">
                            </div>
                        </div>

                        <div class="mainRowCon">
                            <div class="lbl" id="">
                                <label id="">Message</label></div>
                            <div id="">
                                <textarea id="txMsg" name="msg">@ViewBag.txtmsg</textarea>
                                <input id="requestid" name="requestid" style="display:none;" value="@ViewBag.requestid"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    }
      <div id="pagescrolltop">  <input type="image"  class="pagescrollup" src="/Images/1/scrollpageUP.png"  id="scrolltotop"></div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB"></div>
            </div>
</body>

</html>
