﻿@model eBizSuiteAppModel.Table.CONTABLE009

@{
    ViewBag.Title = "Subsidary";
    if (Session["DDDynamicItems"] == "DDDynamicItems")
    {
        Layout = null;
    }
}

<head>
     <script src="~/Content/formbuildjquery.js"></script>
        <script>        
        $(document).ready(function () {
            $("#tabs1").tabs();
            if ('@Session["DDDynamicItems"]' == 'DDDynamicItems') {
              {Layout=null;}
            }
            $("#COLUMN17").change("change", function () {
                SBddlSelectedCountry($(this).val(), '1');
            });
            $("#COLUMN25").change("change", function () {
                SBddlSelectedCountry($(this).val(), '2');
            });
            //Form Reset
            $('#form-reset').live('click', function () {
                $(this).formReset();
                return false;
            });
        //Form Save
        $("#btnSubmit").live("click", function () {
            if ($('#fileToUpload').val() == "") {
                $("#spanfile").html("Please upload file");
                return false;
            }
            else {
                return checkfile();
            }
        });
       //File Change
       $("#fileToUpload").change(function () {
           checkfile();
       });
      });

    </script>
</head>
 <body >
        @using (Html.BeginForm("Create", "Subsidary", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
     if(Session["DDDynamicItems"] != "DDDynamicItems"){
  <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
     <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" />
         </div>
              <div class="bottomColFB1">    <input type="submit" name="Create" value="Save" class="buttonclass"/></div>
               
                @if (Session["DDDynamicItems"] != "DDDynamicItems"){
            <div class="bottomColFB1">  <input type="submit" name="Save"  class='buttonclass' value="Save & New" /> </div>
           <div class="bottomColFB1">   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>
            @*<div class="btnContleftFB">  <input type="button" class='buttonclass'  value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" /></div>*@
                }
                @if(Session["DDDynamicItems"] == "DDDynamicItems"){
               <div class="bottomColFB1"> <input onclick="@("window.location.href='" + @Url.Action("SetVariable", "FormBuilding") + "'")    ;" id="formreset" class='buttonclass' type="reset" value="Cancel"  /></div>
            
        }    
        </div>}
            @Html.ValidationSummary(true)
    <div class="bodyFBContent">
         <div id="staticheadersection">
           <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Subsidary ID </div>
            <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN02, new {@readonly="readonly" , @class="txtclass" })
                           @Html.ValidationMessageFor(model => model.COLUMN02)
                    </div>  </div> <div class="mainRowCon">
             <div class="lbl"> Name </div>
             <div class="txt">
                        @Html.TextBoxFor(model => model.COLUMN03, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN03)
                    </div>  </div> <div class="mainRowCon">
             <div class="lbl"> Description </div>
             <div class="txt">
                        @Html.TextBoxFor(model => model.COLUMN04 , new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)
                   </div>   </div> 
             </div>
             <div class="mainRow"> <div class="mainRowCon">
             <div class="lbl"> Logo </div>
             <div class="txt">
                            <input type="file" id="fileToUpload" name="file" class="logotxt" />@Html.ValidationMessageFor(model => model.COLUMN06)

                            <input type="button"   class='buttonclass' id="btnSubmit" value="Upload" />
                            <span class="field-validation-error" id="spanfile"></span>
                     </div>  </div> <div class="mainRowCon">
             <div class="lbl"> InActive </div>
             <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN07)
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                   </div>  </div> <div class="mainRowCon">
              <div class="lbl"> Make Inventary Available </div>
              <div class="txt">
                        @Html.CheckBoxFor(model => model.COLUMN08)
                            @Html.ValidationMessageFor(model => model.COLUMN08)
                    </div></div>
              </div>
              <div class="mainRow"> <div class="mainRowCon">
              <div class="lbl"> Parent Of </div>
              <div class="txt">
                        @Html.DropDownListFor(model => model.COLUMN09, new SelectList(new List<Object>{
                       new { value = 0 , text = "--Select--"  },
                       new { value = 1 , text = "One"  },
                       new { value = 2 , text = "Two"  }
                      }, "value", "text", 0), new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN09)
                   </div>
              </div></div>
              </div>
        <div id="statictabsection">
            <div id="tabs1" class="fbTabCon">
                <ul >
                    <li><a href="#tabs-1">Address</a></li>
                    <li><a href="#tabs-2">Return Address</a></li>
                    <li><a href="#tabs-3">Additional Info</a></li>
                </ul>

                <div id="tabs-1" >
                    <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Attention </div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN10, new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN10)
                           </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Addressee </div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN11, new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN11)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Address1 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN12 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN12)
                           </div> </div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN13, new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN13)
                           </div>  </div> <div class="mainRowCon">
            <div class="lbl"> City </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN14 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN14)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> State</div>
            <div class="txt"> 
                                    @Html.DropDownList("COLUMN15", new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN15)
                            </div> </div></div>
            <div class="mainRow"> <div class="mainRowCon">
            <div class="lbl"> Zip</div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN16 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN16)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Country </div>
            <div class="txt"> 
                                      @Html.DropDownList("COLUMN17", new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })
                                    @Html.ValidationMessageFor(model => model.COLUMN17)
                             </div>
                     </div> </div> 
                     </div>
                     </div>
                <div id="tabs-2" >
                    <div class="fbBodyFoter">
            <div class="mainRow"> <div class="mainRowCon">
            <div class="lbl"> Attention </div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN18, new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN18)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Addressee </div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN19 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN19)
                           </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Address1 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN20, new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN20)
                          </div> </div>
                </div>
            <div class="mainRow"> <div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN21 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN21)
                             </div>  </div> <div class="mainRowCon">
            <div class="lbl"> City </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN22 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN22)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> State</div>
            <div class="txt">
                                   @Html.DropDownList("COLUMN23", new SelectList(@ViewBag.state, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl",@disabled="true" })
                                    @Html.ValidationMessageFor(model => model.COLUMN23)
                           </div> </div> </div>
            <div class="mainRow">  <div class="mainRowCon">
            <div class="lbl"> Zip</div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN24 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN24)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Country </div>
            <div class="txt"> 
                                    @Html.DropDownList("COLUMN25", new SelectList(@ViewBag.country, "COLUMN02", "COLUMN03",0),"---Select---", new { @class = "ddl" })
                                    @Html.ValidationMessageFor(model => model.COLUMN25)
                          </div>
            </div>  </div>
                     </div>
                     </div>
                <div id="tabs-3" >
                   <div class="fbBodyFoter">
            <div class="mainRow">  <div class="mainRowCon">
            <div class="lbl"> Info1 </div>
            <div class="txt">
                                @Html.TextBoxFor(model => model.COLUMN26, new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN26)
                                </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Info2 </div>
            <div class="txt">
                                @Html.TextBoxFor(model => model.COLUMN27 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN27)
                             </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Info3 </div>
            <div class="txt">
                                @Html.TextBoxFor(model => model.COLUMN28 , new {@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN28)
                           </div></div></div>
                   </div></div>

            </div>
            </div>
           </div>
             <div  class="newbottomRowContentFooter" id="footerInfo"> </div>
          
     
        }

  
    </body>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
