﻿@model eBizSuiteAppModel.Table.CONTABLE009

@{
    ViewBag.Title = "Subsidary";
}
<header>
<script>
    $(function () { $("#tabs1").tabs(); });
</script>    
</header>
<body  >
    @using (Html.BeginForm("Details", "Subsidary", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
          <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" /></div>
            <div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("/Edit/"+Model.COLUMN02+"") + "'")    ;" /></div>
            @*<div class="bottomColFB1"> <input type="button" class="buttonclass" id="btnBack"  value="Back"  onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" /></div>*@
            </div>
         <div class="bodyFBContent">
         <div id="staticheadersection">
           <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Subsidary ID </div>
            <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN02, new {@readonly="readonly" , @class="txtclass" })
                           @Html.ValidationMessageFor(model => model.COLUMN02)
                    </div>  </div> <div class="mainRowCon">
             <div class="lbl"> Name </div>
             <div class="txt">
                        @Html.TextBoxFor(model => model.COLUMN03, new {@readonly="readonly" , @class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN03)
                    </div>  </div> <div class="mainRowCon">
             <div class="lbl"> Description </div>
             <div class="txt">
                        @Html.TextBoxFor(model => model.COLUMN04 , new {@readonly="readonly" , @class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)
                   </div>   </div> 
             </div>
             <div class="mainRow"> <div class="mainRowCon">
             <div class="lbl"> Logo </div>
             <div class="txt">
                            <input type="file" id="fileToUpload" name="file" class="logotxt" />@Html.ValidationMessageFor(model => model.COLUMN06)

                            <input type="button"   class='buttonclass' id="btnSubmit" value="Upload" />
                            <span class="field-validation-error" id="spanfile"></span>
                     </div>  </div> <div class="mainRowCon">
             <div class="lbl"> InActive </div>
             <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN07, new { @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.COLUMN07)
                   </div>  </div> <div class="mainRowCon">
              <div class="lbl"> Make Inventary Available </div>
              <div class="txt">
                        @Html.CheckBoxFor(model => model.COLUMN08,new {@disabled="disabled"})
                            @Html.ValidationMessageFor(model => model.COLUMN08)
                    </div></div>
              </div>
              <div class="mainRow"> <div class="mainRowCon">
              <div class="lbl"> Parent Of </div>
              <div class="txt">
                        @Html.DropDownListFor(model => model.COLUMN09, new SelectList(new List<Object>{
                       new { value = 0 , text = "--Select--"  },
                       new { value = 1 , text = "One"  },
                       new { value = 2 , text = "Two"  }
                      }, "value", "text", 0), new {@disabled="disabled" , @class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN09)
                   </div>
              </div></div>
              </div>
        <div id="statictabsection">
            <div id="tabs1" class="fbTabCon">
                <ul >
                    <li><a href="#tabs-1">Address</a></li>
                    <li><a href="#tabs-2">Return Address</a></li>
                    <li><a href="#tabs-3">Additional Info</a></li>
                </ul>

                <div id="tabs-1" >
                    <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Attention </div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN10, new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN10)
                           </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Addressee </div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN11, new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN11)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Address1 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN12 , new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN12)
                           </div> </div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN13, new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN13)
                           </div>  </div> <div class="mainRowCon">
            <div class="lbl"> City </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN14 , new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN14)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> State</div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN15, new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN15)
                            </div> </div></div>
            <div class="mainRow"> <div class="mainRowCon">
            <div class="lbl"> Zip</div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN16 , new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN16)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Country </div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN17 , new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN17)
                             </div>
                     </div> </div> 
                     </div>
                     </div>
                <div id="tabs-2" >
                    <div class="fbBodyFoter">
            <div class="mainRow"> <div class="mainRowCon">
            <div class="lbl"> Attention </div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN18, new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN18)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Addressee </div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN19 , new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN19)
                           </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Address1 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN20, new {@readonly="readonly" , @class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN20)
                          </div> </div>
                </div>
            <div class="mainRow"> <div class="mainRowCon">
            <div class="lbl"> Address2 </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN21 , new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN21)
                             </div>  </div> <div class="mainRowCon">
            <div class="lbl"> City </div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN22 , new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN22)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> State</div>
            <div class="txt">
                                    @Html.TextBoxFor(model => model.COLUMN23 , new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN23)
                           </div> </div> </div>
            <div class="mainRow">  <div class="mainRowCon">
            <div class="lbl"> Zip</div>
            <div class="txt"> 
                                @Html.TextBoxFor(model => model.COLUMN24 , new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN24)
                            </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Country </div>
            <div class="txt"> 
                                    @Html.TextBoxFor(model => model.COLUMN25, new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN25)
                          </div>
            </div>  </div>
                     </div>
                     </div>
                <div id="tabs-3" >
                   <div class="fbBodyFoter">
            <div class="mainRow">  <div class="mainRowCon">
            <div class="lbl"> Info1 </div>
            <div class="txt">
                                @Html.TextBoxFor(model => model.COLUMN26, new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN26)
                                </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Info2 </div>
            <div class="txt">
                                @Html.TextBoxFor(model => model.COLUMN27 , new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN27)
                             </div>  </div> <div class="mainRowCon">
            <div class="lbl"> Info3 </div>
            <div class="txt">
                                @Html.TextBoxFor(model => model.COLUMN28 , new {@readonly="readonly" ,@class="txtclass" })
                                    @Html.ValidationMessageFor(model => model.COLUMN28)
                           </div></div></div>
                   </div></div>

            </div>
            </div>
           </div>
             <div  class="newbottomRowContentFooter" id="footerInfo">
             @* <div class="btnContleftFB">
        <input type="button" value="Back" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" />
        </div>*@
             </div>
   
    }
</body>

