﻿@{
    ViewBag.Title = "Excel Imports";
}


<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @*<script src="~/Scripts/jquery-1.7.1.js"></script>*@
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(".headerEmtyCont").css("display") == "block") {
                $(".headerEmtyCont").fadeIn(5000);
                $(".headerEmtyCont").fadeOut(5000);
            }
            //Center Master Save
            $("#btnSave1").click(function () {
                @*SaveExcelMaster('@Session["AcOwner"]');*@
                ExcelDatabaseTableSave();
            });

            //geting LIST OF Master
            $("#Type").change("change", function () {
                var val=$(this).val();
                ddlSelectMaster(val, '@Session["id"]');
            });
            $("#Type2").on("change", function () {
                $("#Exceldownl").attr("ide", $("#Type2").val());
            });

            $("#Exceldownl").live("click", function () {
                var ide = $(this).attr('ide');
                if ($("#Type").val() == "") {
                    Alert.render('Please Select Transaction Type');
                    $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); $("#Type").focus();
                    });
                }
                else if ($("#Type2").val() == "") {
                    Alert.render('Please Select Transaction');
                    $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); $("#Type2").focus();
                    });
                }
                else if (ide != "" && typeof (ide) != "undefined")
                    window.location.href = "/Excel/GetSampleStmt?ide=" + ide + "&FormName=" + '@Request["FormName"]' + "";
            });
        })
    </script>
</head>
<body>    
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    @using (Html.BeginForm("Create", "Excel", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata", }))
     {
        @Html.ValidationSummary(true)

        <div id="ddl" class="rowCont bottomRowContentFB">
            <div class="bottomColFB1">
                <input type="button" id="btnSave1" name="Save" value="Import" class="buttonclass" />
            </div>

            <div class="bottomColFB1">
                <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset" /></div>
            @*<div class="bottomColFB1">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "Excel", new { idi = Request["idi"], FormName = Request["FormName"] }) + "'")    ;  " /></div>
       </div>*@
        </div>
       
       
        <div id="prclView1" class="treeviewbgcolor" style="width: 100%">
            <fieldset>
                <legend>Excel Imports</legend>
                <div class="centerheight" style="overflow: auto;">
                    <input type="text" name="FileName" id="FileName" style="display:none;" />

                    <div class="treeviewdivs">
                        <div class="treeviewlbl">@Html.Label("TransactionType:")</div>
                        @Html.DropDownList("Type", new List<SelectListItem>{
    new SelectListItem{ Text="--Select--", Value = "", },
    new SelectListItem{ Text="Master", Value = "2" },
    //new SelectListItem{ Text="Transaction", Value = "3" }
    }, new { @id = "Type", @class = "reportddl", @itemid = "Y" })

                        <div class="treeviewdivs">
                            <div class="treeviewlbl">@Html.Label("Transaction:")</div>
                            @Html.DropDownList("master", new List<SelectListItem>{
                                new SelectListItem{ Text="--Select--", Value = "" }}, new { @id = "Type2", @class = "reportddl", @itemid = "Y" })

                            <div class="treeviewdivs">
                                <div class="treeviewlbl">@Html.Label("Filename:")</div>
                                <div class="txt">
                                    <input type="file" id="fileToUpload" name="file" class="logotxt" />
                                    <div class="" style="padding-top: 3px;"><a href="#" id="Exceldownl" >Sample Document</a></div>
                                </div>
                            </div>
                            @*<div class="treeviewdivs">
              <div class="treeviewlbl">@Html.Label("")</div>
               <div class="" style="padding-top:3px;"><a href="#" id="Exceldownl" ide ="23139" >Sample Document</a></div>
               <div  class= "txt" style="text-align:initial" >
                   <a href="#" id="Exceldownl" ide ="1261">Sample Document</a>
               </div>
               </div>
       </div>*@
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="newbottomRowContentFooter" id="footerInfo"></div>
    }
</body>

</html>
