﻿@{
    ViewBag.Title = "Excel Import";
}

<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
     <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
     <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
<script type="text/javascript">
    var $i = jQuery.noConflict();
    $i(document).ready(function () {
        $(document).ready(function () {
            $('#grdfData').DataTable({
                "aaSorting": [[0, "desc"]]
            });
            $("#btnFilters").click(function () {
                FilterView();
            });
            $("#Type").change("change", function () {
                ddlSelectMaster($(this).val(), '@Session["id"]');
                GETEXCELDATA($("#Type").val(), $("#Type2").val(), $("#Type3").val(), $("#toDT").val(), '@Session["id"]');

            });

            $("#Type2").on("change", function () {
                debugger
                $("#Exceldownl").attr("ide", $("#Type2").val());
                GETEXCELDATA($("#Type").val(), $("#Type2").val(), $("#Type3").val(), $("#toDT").val(), '@Session["id"]');
            });


            $("#Type3").change("change", function () {
                //$.session.set("dynamicSort", $('#FddlDynamicQuickSort :selected').val());
                GETEXCELDATA($("#Type").val(), $("#Type2").val(), $("#Type3").val(), $("#toDT").val(), '@Session["id"]');
            });

            $("#toDT").change("change", function () {
                debugger
                //$.session.set("dynamicSort", $('#FddlDynamicQuickSort :selected').val());
                GETEXCELDATA($("#Type").val(), $("#Type2").val(), $("#Type3").val(), $("#toDT").val(), '@Session["id"]');
            });
        });
    });
</script>
</head>
<body>
     <div class="topHeaderContentBodyInfoEmptyCont">
         @{ List<int> permission = Session["Permission"] as List<int>;}
          @* @{ var infospace = " | ";}*@
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "Excel", new { idi = Request["idi"], FormName = Request["FormName"] }) + "'")    ;  " /></div>
		  <div class="btnContleft">    @if (permission.Contains(22935))
                                 {  <input type="button" class="buttonclass" id="btnNew"   value="New" style="width:60px;" onclick="@("window.location.href='" + @Url.Action("Create", "Excel", new { idi = Request["idi"], FormName = Request["FormName"], ide = "null" }) + "'")    ; " />
                                 }
		  </div>
        <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
            
          </div>
       <div class="hideFilter" id="divfilter">
            <div class="labelTxtFirstCol">
	
                  @Html.Label("TransactionType")</div><div class="bottomInputField"> @Html.DropDownList("Type", new List<SelectListItem>{
    new SelectListItem{ Text="--Select--", Value = "" },
   
    new SelectListItem{ Text="Master", Value = "2" },
    new SelectListItem{ Text="Transaction", Value = "3" }}, new { @id = "Type", @class = "reportddl", @itemid = "Y" })
               
          </div>
         
             <div class="labelTxtFirstCol">
            @Html.Label("Transaction")</div> <div class="bottomInputField"> @Html.DropDownList("master", new List<SelectListItem>{
                                new SelectListItem{ Text="--Select--", Value = "" }}, new { @id = "Type2", @class = "reportddl", @itemid = "Y" })
              </div>
            <div class="labelTxtFirstCol">
           @* @Html.Label("Status")</div><div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "Y", "F" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "FddlDynamicQuickSort" })
                </div> *@
                 @Html.Label("Status")</div><div class="bottomInputField"> @Html.DropDownList("Type3", new List<SelectListItem>{
    new SelectListItem{ Text="--Select--",Value = "" },
   
    new SelectListItem{ Text="Y"},
    new SelectListItem{ Text="F" }}, new { @id = "Type3", @class = "reportddl", @itemid = "Y" })
               
          </div>
           <div class="labelTxtFirstCol">
                 @Html.Label("Date")</div>
              <div class="reportlbl">
           <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="" />
               </div>
              
          
               </div> 
              
        </div>
           

          @{List<WebGridColumn> columns = new List<WebGridColumn>();}

         @foreach (var column in ViewBag.columns)
         {
             
             if (column.ColumnName == "ID")
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = "",
                     Header = "",
                     Format =@<text>  
         
        @*@if (permission.Contains(22933))
        {
         @Html.ActionLink("Edit", "ExcelEdit", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID }) @infospace
         @Html.ActionLink("Delete", "BarcodeTemplateDelete", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID }) 
        }*@
        
       @* @Html.ActionLink("View", "ExcelView", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })*@
         @*@if (permission.Contains(22933))
         {@infospace <a class="" id="retLnk1" href="../JobOrderReceipt/NewForm?FormName=@ViewBag.Receipt&ide=@item.ID&Ref=Production">@ViewBag.Receipt</a> 
             @infospace <a class="" id="retLnk" href="../Production/DCConvertion?FormName=@ViewBag.DC&ide=@item.ID">@ViewBag.DC</a>
         }  *@         </text>
                 });
             }
             else
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = column.ColumnName,
                     Header = column.Header
                 });
             }
        }
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            }
              <div id="Content" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:(columns)
               )
        </div>
         
    </div>
     
</body>
</html>
