﻿body {
    background-color: #ffffff;

}
#pageContainer {
    margin: 0px auto 0px auto;
	width: 100%;
    background-color:#ffffff;
    height:100%;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:8px;
    float:left;
}
.companylogo {
    font-size: 35px;
    font-weight: bold;
    padding-left: 64px;
    padding-top:5px;
    margin-top: 10px;
}
.tagline {
       position: absolute;
  padding-left: 45%;
  font-size: 26px;
  color: white;
  font-weight: bold;
}
.comanyfontblue {color:#01682E;
}
.comanyfontgreen {color:#003574;
}
.comanyfontred {color:#FF0000;
}
.pageHeader {
     margin: 0px auto 5px 0px;
  width: 1350px;
  height: 70px;
  position: relative;
  text-align:left;
  /*height:10%;*/

  border-collapse:collapse;

}
.pageHeader img {
    height: 70px;

   }

.loginHeaderContainer {
    margin: 0px auto 0px auto;
    width: 100%;
    height: 97px;
    position: relative;
    	
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #D6E8FF), color-stop(1, #6FB8D8));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #D6E8FF 0%, #6FB8D8 100%);
}
.loginHeaderImageContainer {
 margin: 0px auto 0px auto;
  width: 100%;
  height: 97px;
  position: relative;
  	
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #D6E8FF), color-stop(1, #6FB8D8));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #D6E8FF 0%, #6FB8D8 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #D6E8FF 0%, #6FB8D8 100%);
  padding-left: 0px;
}
    .loginHeaderImageContainer div {
        padding-left:260px;
    }
.loginHeaderContainer div img {
        float: left;
  height: 90px;
  width: 150px;
  padding: 2px;
   }
.loginHeaderContentContainer {
    margin:0px auto 0px auto;
    width:1350px;
    height:30px;
    position:relative;
    color:#ffffff;
    background-color:#005A88;
    /*padding:2px;*/
}
.loginHeaderTextContainer {
    margin: 0px auto 0px auto;
    width: 900px;
    height: 28px;
    position: relative;
    background-color: #005A88;
    font-size:14px;
    font-weight:normal;
    color:#ffffff;
}


#contentContainer {
      margin: 0px auto 0px auto;
  width: 100%;
  padding-top: 10px;
  /*padding-bottom: 20px;*/
  /*min-height: 375px;*/
  background-color: rgba(241, 223, 223, 0.35);
  height:80%;

}
#contentFootter {
  
  height: 45px;
  margin-bottom: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88bfe8+0,70b0e0+100;Blue+3D+%2317 */
background: #ffffff; /* Old browsers */



}
.bodyContentContainer {
    margin: 0px auto 0px auto;
  width: 100%;
  min-height: 380px;
  position: relative;
  background-color: #ffffff;
}

.loginBodyContainer {
     margin: -5px auto 0px auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  min-height: 380px;
  background-color: #ffffff;
  background-image:url("LoginBG.jpg")

}
.ERP {
    font-size: 17px;
    line-height: 15px;
       font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
       color: #09142f;
}
.subheader {
    text-align:center;
    color: #fff;
    font-size: 53px;
    font-weight: 700 !important;
    line-height: 64px;
     font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
}
.loginSecAnsChkBodyContainer {
    margin: 0px auto 0px auto;
    width: 900px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 250px;
    background-color:#ffffff;

}

.SecurityAnswerCheckBodyContentContainer {
    margin: 0px auto 0px auto;
    width: 800px;
    height: 250px;
    position: relative;
    background-color: #ffffff;
    float:inherit;

}
.errorStyle {
   padding: 10px 5px 20px 4px;
}
.SecAnsChckQesAns{
    margin: 15px auto 0px auto;
    width: 800px;
    /*height: 250px;*/
    position: relative;
    background-color: #ffffff;
    float:left;

}
    .SecAnsChckQesAns div {
        float: left;
        padding: 1px;
        margin: 2px;
    }

.loginBodyContentContainer {
      margin: 0px auto 0px auto;
  width: 21%;
  height: 274px;
  position: relative;
  background-color: #ffffff;
  float: left;
}

.loginBodyContentContainer div {
        margin: 5px 2px 5px 0px;
    }
.loginBodyContentContainerHeader {
  font-size: 16px;
  color: #2278F6;
  font-weight: normal;
  width: 500px;
  text-align: justify;
}
.loginBodyContentContainerText {
  
    font-size:14px;
    font-weight:normal;
    color:#333333;
}
    .loginBodyContentContainerText img {
      float: left;
  height: 340px;
  width: 450px;
  padding-left: 65px;
    }
.loginEmptyDiv {
    height: 30px;
}
.loginBodyBoxContainer {
    margin: 60px auto 0px 225px;
  width: 300px;
  height: 250px;
  position: relative;
  background-color: #ffffff;
  float: left;
  border-radius: 10px;
}
.loginBodyBoxContentContainer{
    flex-item-align:end;
	/*width:300px;
    height:250px;
	
	border:1px solid #005C77;
	background:#DDEEF7;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	box-shadow: 0 0 1px #5ab9e0;*/
      width: 116%;
  height: 120%; /*change to suit your layout*/
background: #ffffff; /*colour of the form*/
margin:0px;
padding:0px;
/*border: 1px solid #173469;*/
border-radius:10px; /*add a small curve to the form's corners*/
-moz-box-shadow: inset 0 0 25px #254a8d;
-webkit-box-shadow: inset 0 0 25px #254a8d;
box-shadow: inset 0 0 25px #254a8d;
/*box-shadow: 0 0 10px rgba(0,0,0, .65); /*add a drop-shadow to the form*/
font-family: Arimo, Verdana, Arial, Helvetica, sans-serif; /*Arimo is available at Google Webfonts*/
font-size: 1.1em;  border: 1px solid #4294F6;
}
.innerContentLoginBox {
     padding: 50px 0px 30px 55px;
  width: 65%;
  height: 250px;
}
.innerContentData {
    padding: 10px 10px 0px 5px;
    font-size:14px;
    font-weight:bold;
    color:#1157CE;
    float:left;

}

 .innerContentTextBox {
    padding: 5px;
    text-align:center;
}
 .txtClass {
    text-align:left;
  width: 196px;
  height: 11px;
  border-radius: 1px;
  border: 1px solid #CCC;
  padding: 8px;
  font-weight: 100;
  font-size: 13px;
  font-family: Verdana;
  margin: 1px 1px 15px 1px;
}
 .txtClassS {
    text-align:left;
  width: 85%;
  height: 10px;
  border-radius: 1px;
  border: 1px solid #CCC;
  padding: 8px;
  font-weight: 100;
  font-size: 13px;
  font-family: Verdana;
  margin: 1px 1px 15px 1px;
}
 .ddClass {
    text-align:left;
  width: 196px;
  border-radius: 1px;
  border: 1px solid #CCC;
  padding: 4px;
  font-size: 13px  !important;
  font-family: Verdana;
  margin: 1px 1px 15px 1px;
}
.txtClass:hover {
    width: 200px;
  height: 11px;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 8px;
    font-weight: 200;
    font-size: 13px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
}
    


.innerContentBtn {
    
    text-align: left;
    text-align:center;
}
/*.loginButtonclass {
            background-color: #005A88;
            color: #fff;
            padding: 5px 9px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 15px;
 
}*/
/*.loginButtonclass:hover {
   background-color: #000000;	
	border:1px solid #000000;
	background-image: url(Images/1/gradient.png);
}
.loginButtonclass {
           
 
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;	
	color: #ffffff;
	border:1px solid #db6600;
	background-image: url(Images/1/button_bg.jpg);
 
}*/

.loginButtonclass:hover {
    background-color: #4294F6;
  
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}
.loginButtonclass {
           
    text-align:center;
            cursor:pointer; 
/*padding:5px 75px;*/ 
width:214px;
height:30px;
  background: #1F54A1;
  border: 1px solid #35466F;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
    font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
      
/*-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);*/

color:#f3f3f3;
font-size:0.9em;
 
}


#pageFooter {
    margin: 2px auto;
    /*padding-bottom: 80px;*/
 
    float:left;
	width: 100%;
	height:5%;
    background-color:#005A88;

}
/*.pageFooterContentContainer {
    text-align:center;
    margin: 0px auto 0px auto;
    width: 900px;
    height: 20px;
    position: relative;padding: 35px;
    background-color: #005A88;
    color:#ffffff;
}*/


.pageFooterContentContainer{
	width:100%;
	float:left;
	color:#fff;
	height:15px;
    text-align:center;
    background-image: -ms-linear-gradient(top, #4F97E8  0%, #0B274A 100%);
    float:left;
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #4F97E8  0%, #0B274A 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #4F97E8  0%, #0B274A 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4F97E8 ), color-stop(1, #0B274A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #4F97E8  0%, #0B274A 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #4F97E8  0%, #0B274A 100%);
   
   
    padding:2px;
      
     margin: 0px auto 0px auto;
      -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    font-size: 14px;
	}
#errorid {
    color:red;
    height:5px;
    width:100%;
    font-family:Arial,sans-serif;
    font-size:13px;
    position:relative;
    top:-15px;
    right:-7px;
    height:6px;
}
.pwdresetactdiv {
    text-align: center;padding: 0.7rem 0.75rem;
}
.pwdresetactlnk {
   padding: 0 0.35rem;cursor: pointer;color: black;font-size: 13px;
}
.pwdresetactlnk:hover {
   padding: 0 0.35rem;cursor: pointer;color: #3a3abf;text-decoration:underline;
}
.pwdresetdiv {
    text-align:center;padding: 0.3125rem;
}
.pwdfgtdiv {
    text-align:center;padding: 0.8125rem;
}
.pwdcanceldiv {
    text-align:center;padding: 0.9375rem;
}
.forgotmsg {text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #f60!important;
    font-family: "BebasNeueRegular";
    margin: 0;
}
.forgotmsgcontent {text-align: center;
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #161616;
}
.forgotbtncontent {text-align: center;
    margin:0px 10px 0px 15px !important;
    width: 104px !important;
}









