﻿body {
   height:260px;
}
empInfo {
    width:100%;
}
    empInfo table {
        width: 100%;
    }

div .header {
    padding: 0;
    text-align: left;
    font-weight: bold;
    background-color: ActiveBorder;
}
div .empInfoChat {
    width: 33%;
    grid-row-align: center;
}
    div .empInfoChat img {
        width: 100%;
        height: 90%;
    }