﻿body {
}
.fbNewTabHeader {
    background-color: #E3F2F9;
    min-height: 475px;
}

    .fbNewTabHeader div {
        background-color: #005A88;
        color: white;
        height:25px;
    }
    .fbNewTabFooter{
        background-color: #005A88;
        color: white;
        height:25px;
    }
.customFormBuildHearder {
    position: static;
   
}
.customFormBuildHearder ul {
    background-color: #005A88;
    color: white;
    height: 25px;
    padding: 0;
    position: static;
}
    .customFormBuildHearder ul li {
        background-color: #005A88;
        height: 21px;
        text-align: center;
        font-size: 12px;
        color: white;
        font-weight: bold;
        padding: 2px;
        position: static;
        margin:1px;
        
    }
        .customFormBuildHearder ul li a {
            
            height: 10px;
            text-align: center;
            font-size: 12px;
            color: #ffffff !important;
            font-weight: bold;
            padding: 0;
        }
            .customFormBuildHearder ul li a select {
                color: #000000 !important;
            }

.customFormBuildBody {
    height: 405px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.00);
}
.customFormBuildFooter {
   background-color: #327DA8;
    color: #ffffff;
    height:33px;
     padding:3px 10px 3px 10px;
     width:100%;
    float:left;
}
.customFormBuildFooter div {
   

    width:auto;
    height:25px;
    padding:5px 10px 5px 6px;
    float:left;
    color:#ffffff;
    margin:1px 2px 1px 5px;

}
    .customFormBuildFooter div a {
       background-color: #005A88;
            color: #fff;
            padding: 3px 9px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    border-left:solid 1px #154962;
    }
.customViewHeaderFB {
    height: 460px;
    overflow: auto;
}
.customViewFooterFB {
    background-color: #327DA8;
    color: white;
    width: 100%;
}
.NewFieldFB {
    background-color: #E3F2F9;
    min-height: 475px;
}
    .NewFieldFB div {
        background-color: #005A88;
        color: white;
    }

    .NewFieldFB table {
        width: 100%;
        background-color: #005A88;
        padding: 0;
    }
 .NewFieldFB table tr{
        width: 100%;
        background-color: #005A88;
        padding: 0;
    }
    .NewFieldFB table tr td {
        width: 16%;
        padding: 0;
    }

.NewFieldFooterFB {
    background-color: #005A88;
}

.buttonclass {
            background-color: #005A88;
            color: #fff;
            padding: 3px 9px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    border-left:solid 1px #154962;
    /*box-shadow: inset 0px 1px 0px #73b0d8, 0px 3px 0px #2980b9, 0px 10px 5px rgba(39, 39, 39, 0.8);*/
        }

.buttonclass:hover {
                background-color: #fff;
                color: #005A88;
                border-radius: 5px;
                padding: 3px 9px;
               font-weight: bold;
               cursor: pointer;
               border-left:solid 1px #154962;
               /*box-shadow: inset 0px 1px 0px #73b0d8, 0px 1px 0px 0px #2980b9, 0px 2px 5px rgba(39, 39, 39, 0.8);*/
            }
