﻿buttonbody {
}
div.scroll {
height: 80px;
width: 60px;
overflow:scroll;
border: 1px solid #666;
background-color: #ccc;
padding: 8px;
}
.formBuildBackground {
    background-color: #C8E2FD;
    width: 100%;
    border: 0px;
    min-height: 400px;
}

.bodyHeaderBG {
    background-color: #4d8adb;
    color: #000000;
    height:30px;
     padding:0px 10px 3px 12px;
     width:98%;
    float:left;
    /*padding: 5px 5px 14px 5px;*/
   
}
.bodyHeaderBG div {
   

    width:auto;
    height:25px;
    padding:5px 10px 5px 6px;
    float:left;
    color:#ffffff;
    margin:1px 2px 1px 5px;

}

.bodyFBContent {
    background: #C8E2FD repeat scroll 0% 0%;
    height: 100%;
    width: 99%;
    border: 0px;
}


.bodyFBContentGrid {
    background-color: #E3F2F9;
    color: black;
    height: 160px;
    overflow: auto;
    width: auto;
    padding: 2px 1px 0 0px;

    border: 0px;
}
    .bodyFBContentGrid table {
        width: 100%;
        border: none;
        border-collapse: collapse;
        background-color: #C8E2FD;
        padding: 0;
    }

        .bodyFBContentGrid table tr {
            width: 100%;
            background-color: #C8E2FD;
            padding: 0;
        }
.bodyFBCon {
    width: 100%;
    background-color: #3455A2;
    color: white;
}
   div .bodyFBConth {
        width: 100%;
        font-weight: bold;
        background-color: #3c61b1 ;
        color: #000000;
        border: none;
        padding: 5px 2px 5px 20px;
        height:20px;
    }


div .controle19 {
    width: 16%;
    background: none repeat scroll 0% 0%;
    padding: 2px 15px 2px 2px;
    border-color: #C8E2FD;
    text-align: right;
    font-size:14px;

}
    div .astric {
        color: red;
        font-size: medium;
        vertical-align: middle;
    }


div .txtclass {
    font-size: 14px;
    height: 20px;
    width: 100%;
    border-radius: 5px;
}
div .imageWidth {
   width:100px;
}
div .rdoclass {
   width:100px;
}
div .colW {
   width:125px;
}
div .imageSize {
  width:16px;height:16px;
}
div .dispayN {
  display:none;
}
div .date {
  width:82%;
}
div .controle14 {
    width: 16%;
    background: none repeat scroll 0% 0%;
    padding: 4px;
    
    border-color: #C8E2FD;
}
div .controle14 .ddlWidth{
    width: 87%;
    border-radius: 5px;
}

    /*div .controle14 input {
        width: 97%;
    }
  div .controle14 textarea {
        width: 97%;
    }
  div .controle14 lable {
      width:98%;
    }*/
#divLoading {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index: 30001;
    opacity: .8;
    filter: alpha(opacity=70);
    display: none;
}
#divLoading p{
    position: absolute;
    top: 30%;
    left: 45%;
    color: White;
}
.fbTabCon {
    background-color: #DDEEFF;
    color: black;
    height: 210px;
    overflow: auto;
    width: auto;
    padding: 5px 1px 0 5px;
    border: 0px;
}
    .fbTabCon ul {
        background-color: #32519B;
        color: white;
        height: 25px;
        padding: 0;
    }

        .fbTabCon ul li {
            height: 22px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: bold;
            padding: 0;
            background-color:#3455A2;
        }
            .fbTabCon ul li a {
                height: 12px;
                text-align: center;
                font-size: 12px;
                color: white;
                font-weight: bold;
                padding: 5px 0 0 0;
                min-width: 70px;
            }

.gridWH {
    width: 180px;
    height: 25px;
}
div .fbBodyFoter .gridTW {
    width: 80px;
    height: 25px;
}
.gridTW {
    width: 80px;
    height: 25px;
}
div .fbBodyFoter.gridWGC {
    width: 130px;
    height: 25px;
}
.gridWGC {
    width: 130px;
    height: 25px;
}

div .fbBodyFoter.gridddl {
  width:140px
}
.gridddl{
    width:140px
}




.txtgridclass {
    width: 80px;
    height: 25px;
}
.fbBodyFoter {
    width: 100%;
    overflow: auto;
    padding: 0;
    background-color: #C8E2FD;
}
.fbBodyFoter table{
    width: 100%;
    background: #E3F2F9;
    padding: 0;
    font-size: 12px;
    border-color: none;
    border: 0px;
}
    .fbBodyFoter table tr{
        width: 100%;
        background-color: #DDEEFF;
        padding: 0;
        border-color: none;
        border: 0px;
        /*style="width:100%;background-color:#C8E2FD;padding:0"*/
    }
        .fbBodyFoter table tr td {
            /*width: 100%;*/
            padding: 5px !important;
            height: 100%;
            border: 0px;padding:0px;
        }

.gridLevelFB {
    width: 1000px;
    background: none repeat scroll 0% 0%;
    border: 0px;
}
.itemGridFB {
    width: 1100px;
    height: 160px;
    border: 0px;
    padding: 0px 5px 2px 4px;
    background: none repeat scroll 0% 0%;
}
.txttabClass {
    width: 90%;
}
.img {
    width: 130px;
}











.fbBodyFoterbtn {
    background-color: #4D8ADB;
    color: white;
    height:25px;
    width: 100%;
    padding:5px 1px 1px 15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

/*search in FormBuild*/

.bgSearchFB {
    background-color: #E3F2F9;
}
   
    .rowCont1{
	width: 96%;
	float:left;
	height:auto;
	padding:8px 2%;

} 
      .rowContF{
	width: 56%;
	float:left;
	height:auto;
	padding:10px 5px 10px 180px;

}.rowContF div {
      width:40%;
	float:left;
	height:auto;
	margin-right:10px;
    text-align:right;
    }
 .rowCont1 div {
      width:40%;
	float:left;
	height:auto;
	margin-right:10px;
    text-align:right;
    }

    /*NewItem in FormBuild*/
.bgNewItemBody {
    background-color: #c5d0d0;
}
.bgNewItemBodyCont {
    border: solid 1px;
    background-color: snow;
    color: black;
    width: 100%;
    height: 220px;
}
    .bgNewItemBodyCont table {
        font-size: 12px;
        width: 100%;
    }
        .bgNewItemBodyCont table tr td {
            width: 40%;
            vertical-align: top;
        }

/*.buttonclass 
{
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
    background-image: -moz-linear-gradient(top, #ffffff, #dedede);
    background-image: -ms-linear-gradient(top, #ffffff, #dedede);
    background-image: -o-linear-gradient(top, #ffffff, #dedede);
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #404040;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 13px 3px 13px;
    text-decoration: none;
    border: none;
}*/



.buttonclass {
            background-color: #3455A2;
            color: #000;
            /*padding: 3px 9px;*/
            font-weight: bold;
            cursor: pointer;
            -webkit-border-radius:5px;
	-moz-border-radius:5px;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    border-left:solid 1px #154962;
    /*box-shadow: inset 0px 1px 0px #73b0d8, 0px 3px 0px #2980b9, 0px 10px 5px rgba(39, 39, 39, 0.8);*/
        }

.buttonclass:hover {
                background-color: #fff;
                color: #ffffff;
                border-radius: 5px;
                /*padding: 3px 9px;*/
               font-weight: bold;
               cursor: pointer;
               border-left:solid 1px #154962;
               /*box-shadow: inset 0px 1px 0px #73b0d8, 0px 1px 0px 0px #2980b9, 0px 2px 5px rgba(39, 39, 39, 0.8);*/
            }



/*MasterNewItem in FormBuild*/

.fbMasterNewItemBody {
    background-color: #E3F2F9;
    width: 100%;
    border: 0px;
    min-height: 400px;
}
.fbMasterNewItemBodyHeader {
    background-color: #3455A2;
    color: white;
}

.fbMasterNewItemBodyCon {
    background-color: #E3F2F9;
    color: black;
    height: 210px;
    overflow: auto;
    width: 100%;
    padding: 5px 1px 0 5px;
    border: 0px;
}
    .fbMasterNewItemBodyCon table {
        width: 100%;
        border: none;
        border-collapse: collapse;
        background-color: #3455A2;
        padding: 0;
    }
        .fbMasterNewItemBodyCon table tr {
            width: 100%;
            background-color: #3455A2;
            padding: 0;
        }

.fbMasterNewItemFooterCon {
    background-color: #3455A2;
    color: white;
    width: 100%;
    height:25px;
}
.bodyFBContentGridF {
    background-color: #E3F2F9;
    color: black;
    height: 360px;
    overflow: auto;
    width: 100%;
    padding: 2px 1px 0 0px;

    border: 0px;
}

div .labelF {
    font-size: 12px;
    height: 20px;
    border-radius: 5px;
    color:white;
}
div .txtclassF {
    font-size: 12px;
    height: 20px;
    width: 20%;
    border-radius: 5px;
}

div .txtclassS {
    font-size: 12px;
    height: 20px;
    width: 60%;
    border-radius: 5px;
}

div .txtclassM {
    font-size: 12px;
    height: 20px;
    width: 20%;
    border-radius: 5px;
}
.fbTabConC {
    background-color: #C8E2FD;
    color: black;
    overflow: auto;
    padding: 5px 1px 0 5px;
    border: 0px;
}
    .fbTabConC ul {
        background-color: #32519B;
        color: white;
        height: 25px;
        padding: 0;
    }

        .fbTabConC ul li {
            height: 22px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: bold;
            padding: 0;
            background-color:#3455A2;
        }
            .fbTabConC ul li a {
                height: 12px;
                text-align: center;
                font-size: 12px;
                color: white;
                font-weight: bold;
                padding: 5px 0 0 0;
                min-width: 70px;
            }
            
.fbBodyFoterP {
    width: 100%;
    overflow: auto;
    padding: 0;
    background-color: #C8E2FD;
}
.fbBodyFoterP table{
    width: 100%;
    background: #E3F2F9;
    padding: 0;
    font-size: 12px;
    border-color: none;
    border: 0px;
}
    .fbBodyFoterP table tr{
        width: 100%;
        background-color: #C8E2FD;
        padding: 0;
        border-color: none;
        border: 0px;
        /*style="width:100%;background-color:#C8E2FD;padding:0"*/
    }
        .fbBodyFoterP table tr td {
            width: 100%;
            padding: 2px 2px;
            height: 100%;
            border: 0px;padding:0px;
        }
        
div .controlS {
    width: 90%;
    background: none repeat scroll 0% 0%;
    padding: 10px;
    
    border-color: #C8E2FD;
}
.gridLevelFBP {
    width: 700px;
    background: none repeat scroll 0% 0%;
    border: 0px;
}
.itemGridFBP {
    width: 700px;
    height: 180px;
    border: 0px;
    padding: 0px 5px 2px 4px;
    background: none repeat scroll 0% 0%;
}

.fbTabConP {
    background-color: #C8E2FD;
    color: black;
    height: 230px;
    overflow: auto;
    width: 950px;
    padding: 5px 1px 0 5px;
    border: 0px;
}
    .fbTabConP ul {
        background-color: #32519B;
        color: white;
        height: 25px;
        padding: 0;
    }

        .fbTabConP ul li {
            height: 22px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: bold;
            padding: 0;
            background-color:#3455A2;
        }
            .fbTabConP ul li a {
                height: 12px;
                text-align: center;
                font-size: 12px;
                color: white;
                font-weight: bold;
                padding: 5px 0 0 0;
                min-width: 70px;
            }

            
.formBuildBackgroundP {
    background-color: #C8E2FD;
    width: 100%;
    border: 0px;
    min-height: 400px;
}


.bodyFBContentGridS {
    background-color: #C8E2FD;
    color: black;
    height: 206px;
    overflow: auto;
    width: 100%;
    padding: 2px 1px 0 0px;

    border: 0px;
}

.bodyFBContentGridP {
    background-color: #C8E2FD;
    color: black;
    height: 235px;
    overflow: auto;
    width: 100%;
    padding: 2px 1px 0 0px;

    border: 0px;
}

    .bodyFBContentGridP table {
        width: 100%;
        border: none;
        border-collapse: collapse;
        background-color: #C8E2FD;
        padding: 0;
    }

        .bodyFBContentGridP table tr {
            width: 100%;
            background-color: #C8E2FD;
            padding: 0;
        }

        
.bottomRowContentFooter{
	background: #3c61b1; /* Old browsers */
background: -moz-linear-gradient(top,  #3c61b1 0%, #3455a2 50%, #21386b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c61b1), color-stop(50%,#3455a2), color-stop(100%,#21386b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c61b1 0%,#3455a2 50%,#21386b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c61b1', endColorstr='#21386b',GradientType=0 ); /* IE6-9 */
	border-radius: 0px 0px 10px 10px;
	padding-bottom:10px;
	padding-top:10px;
	

}

















