﻿body
{
font: "Trebuchet MS", Verdana, sans-serif;
background-color: #5c87b2;
color: #696969;
}
h1
{
border-bottom: 3px solid #cc9900;
font: Georgia, serif;
color: #996600;
}
#main
{
padding: 20px;
background-color: #ffffff;
border-radius: 0 4px 4px 4px;
}
a
{
color: #034af3;
}
/* Menu Styles ------------------------------*/
ul#menu
{
padding: 0px;
position: relative;
margin: 0;
}
ul#menu li
{
display: inline;
}
ul#menu li a
{
background-color: #e8eef4;
padding: 10px 20px;
text-decoration: none;
line-height: 2.8em;
/*CSS3 properties*/
border-radius: 4px 4px 0 0;
}
ul#menu li a:hover
{
background-color: #ffffff;
}
/* Forms Styles ------------------------------*/
fieldset
{
padding-left: 12px;
}
fieldset label
{
display: block;
padding: 4px;
}
input[type="text"], input[type="password"]
{
width: 300px;
}
input[type="submit"]
{
padding: 4px;
}
/* Data Styles ------------------------------*/
table.data
{
background-color:#ffffff;
border:1px solid #c3c3c3;
border-collapse:collapse;
width:100%;
}
table.data th
{
background-color:#e8eef4;
border:1px solid #c3c3c3;
padding:3px;
}
table.data td
{
border:1px solid #c3c3c3;
padding:3px;
} 

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}


fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin:10px  0 0 21px;
    width: 89%;
}

legend {
    font-size: 1.0em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.0em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


.Left_Pane
    {
        width: 18%;
        margin:0 10px 0;
        height: 100%;
        float: left;
        padding:20px 0 0 0;
        min-height:300px;
        
        position: relative;
    }
    .Mid_Pane
    {
        width: 60%;
        height: 100%;
        float: left;min-height:580px; border-left:1px solid #DCE2E7;
        position: relative;border-right:1px solid #DCE2E7;
    }
    .Right_Pane
    {
        width: 18%; padding:20px 0 0 0;
        padding:19px 0 0 10px;
        height: 100%;min-height:300px;
         margin:0 0 0 10px;
        float: left;
       
        position: relative;
    }
    .cb
    {
        clear: both;
    }.btn_sample
    {
          background: url("Images/Button_bg.jpg") repeat-x scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font: 600 13px calibri;
    padding: 5px 10px;
    width: auto;
    }
    
          .grid{border: 1px solid #add7df; margin:5px 0; border-collapse:collapse; width:100%; cursor: default;font-family:Arial, Helvetica, sans-serif; }
      .head {padding: 6px 5px; text-align: center;background:url(../images/grid_header.jpg);color:#005767;height:28px;font-size:12px;}
      .head th a{color:#005767; text-decoration:none;font:600 13px Arial, Helvetica, sans-serif ;}
       .head th {color:#005767;border: 1px solid #add7df; text-decoration:none;font:600 13px Arial, Helvetica, sans-serif ;}
      .alt{background-color: #e3eff1; font:12px Arial, Helvetica, sans-serif ;padding-left:10px;}
            .alt0{background-color: #ffffff;font:12px Arial, Helvetica, sans-serif ;padding-left:10px;}

      .selected{font-weight: bold;}
      .rowstyle{ color:red}
      
      .grid tr{font-size:12px;padding-left:10px;}
      .grid tr td{ cursor: pointer; height:28px; color:#047e98; font:600 12px Arial, Helvetica, sans-serif; border: 1px solid #add7df; padding-left:10px;}
      .grid tr td a{font:600 12px Arial, Helvetica, sans-serif; text-decoration:none; color:#047e98;}
      .table { margin-top: 10px; }


#reportData
{
    height:560px;
    overflow-y:scroll;
}
legend {
    background-color: #ECF6F8;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #ECF6F8);
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    color: #006379;
    font: 600 16px calibri;
    padding: 5px 10px;
}

.Right_Pane a
{
    float:left;
     height: 21px;
    padding: 0 0 0 18px;
    margin:0 0 10px;
    color:#017892;
    text-decoration:none;
    background:url("Images/arrow_r.png") no-repeat 1px 8px;
}

