﻿body {
}

printDivMain {
    height: 1000px;
    border: 2px solid #999;
    padding: 1px;
    
}
div .printHeader {
    text-align: center;
    width: 100%;
    font-size: xx-large;
}
div .printDivBills {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
div .printDivBills tr{
   width:100%; border: 1px solid black;
    border-collapse: collapse;
}

div .printBilladdFRL {
    width: 20%;
    border: 1px solid black;
    border-collapse: collapse;
}
div .printBilladdFRC {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
}

div .printEmptyCell {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
}
div .printBilladdSRL {
    width: 26%;
    border: 1px solid black;
    border-collapse: collapse;
}
div .printBilladdSRL1 {
    width: 18%;
    border: 1px solid black;
    border-collapse: collapse;
}
div .printBodyTable {
    width: 100%;
    border: 1px inset black;
    border-collapse: collapse;
}
.printBodyTable table{
    width: 100%;
    border: 1px;
    border-collapse: collapse;
}
.printBodyTable table tfoot{
    width:100%; border: 1px ;
    border-collapse: collapse;
}
div .printVendAdd {
    text-align: right;
}
    div .printVendAdd textarea {
        height: 125px;
        width: 200px;
        overflow: hidden;
    }
    .printBodyTable table tfoot {
        width:100%; border: 1px ;
    border-collapse: collapse;
    }
    .printBodyTable table tfoot tr td{
    border-left: 1px inset black;border-top:1px inset black;text-align:right;
    }
    .printBodyTable table tr {
       width:100%;
    }
    .printBodyTable table tr th {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
        .printBodyTable table tr td {
           border-left: 1px inset black; padding: 5px;text-align:right;
        }

div .printBodyTableFoterTax {
    width: 100%;
    border: 1px inset black;
    border-collapse: collapse;
}
.printBodyTableFoterTax table {
    width: 100%;
}
.printBodyTableFoterTax table tr{
    width: 100%;
}
div .outPutVat {
    width: 86%;
    text-align: center;
}
div .outPutVatAmnt {
    width: 14%;
    border-left: 1px inset black;
    text-align: right;
}
div .outputEmpty {
    width: 36%;
}
div .outputEmpty1 {
    width:35%
}
div .outputEmpty2 {
   text-align:right;border-left: 1px inset black;width:15%;font-weight:700;font-size:large;
}
div .outputEmpty3 {
    text-align:right;border-left: 1px inset black;width:14%;font-weight:700;font-size:large;
}
div .foterLast {
    width: 30%;
}
div .foterLast1 {
    width: 40%;
}
div .foterLast2 {
    text-align:right ;width:30%;
}

div.amntInText {
    width: 100%;
    border: 1px inset black;
    border-collapse: collapse;
    font-size: 20px;
}
div .printBody {
    border: 1px solid #999;
    padding: 1px;
}

div .printBodyLeft {
    text-align: left;
    width: 100%;
}
div .printBodycenter {
    text-align: center;
    width: 100%;
}


    div .printBody table {
        width: 100%;
    }
    div .printBody table tr {
        width: 100%;
    }

    div .printBody table .firstPrintRow {
        width: 100%;
    }
div .firstPrintRow td {
    text-align: left;
    width: 100%;
    /*text-align:center;width:100%;*/
}
div .firstPrintRow table {
    width: 100%;
}
div .firstPrintRow table tr{
    width: 100%;
}
div .InsideTable {
    width: 100%;
}
div .InsideTable tr {
    width: 100%;
}
div  .w85 {
    font-size: medium;
    width: 85%;
}
div  .w85L {
  text-align:left;width:85%;
}
.w85L div {
    text-align: start;
    height: 40px;
}
div  .w15 {
    font-size: medium;
    width: 15%;
}
div .w15 textarea{
    height: 125px;
    width: 200px;
    overflow: hidden;
}
div .w85 textarea{
    height: 125px;
    width: 200px;
    overflow: hidden;
}
div .InsideTable  .w85 {
    font-size: medium;
    width: 85%;
}

div .printBodyCont {
    border-collapse: collapse;
    width: 100%;
}
div .printBodyCont tr{
    border: 1px solid black;
    text-align: left;
}
    div .printBodyCont tr th {
        border: 1px solid black;
    }
    div .printBodyCont tr td {
        border: 1px solid black;
    }
div .printGrid {
    width: 100%;
    height: 400px;
    border: 1px solid #999;
    padding: 1px;
}
    div .printGrid input {
        font-size: 12px;
        background-color: inherit;
        width: 150px;
        text-align: center;
        border: none;
    }
    div .printGrid250 {
    width: 100%;
    height: 400px;
    border: 1px solid #999;
    padding: 1px;
}
    div .printGrid250 input {
        font-size: 12px;
        background-color: inherit;
        width: 250px;
        text-align: center;
        border: none;
    } 
       div .printGrid200 {
    width: 100%;
    height: 400px;
    border: 1px solid #999;
    padding: 1px;
}
    div .printGrid200 input {
        font-size: 12px;
        background-color: inherit;
        width: 200px;
        text-align: center;
        border: none;
    }
div .printFooter {
    width: 100%;
}
div .printFooter tr {
    width: 100%;
}
div .w40 {
    width: 40%;
}
div .w10C {
   text-align:center;width:10%;font-weight:700;font-size:large;
}
div .w10R {
    text-align: right;
    width: 10%;
    font-weight: 700;
    font-size: large;
}

