﻿body {
}


.reportSlideHeader {
	width: 96%;
	float:left;

	height:auto;
	padding:8px 2%;
    background-color:#4D8ADB;

}
.reportSlideEmptyDev {
    height:30px;
    background-color:#253F78;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    
}
.btnContleft{
	width:auto;
	float:left;
	height:auto;
	margin-right:10px;
    color:#ffffff;
}

.reportSlide {
    height: 520px;
    overflow: auto;
    width: 100%;
    text-align: center;
}
.accLedSlide input{
    width: 125px;
}
div .myReports {
    width: 100%;
    height: 400px;
    border: 0;
    background-color: white;
}



.ReportGird table {
    width: 100%;
}

.ReportGird table .reportModule{
    width: 25%;
    vertical-align: top;
}
/*.ReportGird table  .reportModule .reportModuleCon {
    height: 295px;
    overflow: auto;
}*/
div .reportModuleCon {
    height: 295px;
    overflow: auto;
}
div .repModSelTab {
    min-height: 100px;
    width: 300px;
}
    div .repModSelTab div {
        font-size: 10px;
    }
div .table .reportModule2 textarea {
    width: 100%;
    height: 100px;
    background-color: white;
    color: darkblue;
    font-weight: bold;
    font-size: 12px;
}
div .table .reportModule2 input {
    display: none;
}
div .table .reportModule3 div {
    background-color: #005A88;
    color: white;
    padding: 0;
}

.repotInlineList {
    width: 1100px;
    background: none repeat scroll 0% 0%;
    overflow: auto;
    height: 500px;
}
.repotInlineList div{
    color: white;
    position: absolute;
}
    .repotInlineList table {
        width: 1000px;
        overflow: auto;
        min-height: 100px;
       
    }
    .repotInlineList table tr{
        width: 100%;
        padding: 0;
    }
        .repotInlineList table tr th{
            font-size: 10px;
            width: 100%;
            padding: 0;
        }
        .repotInlineList table tr td {
            background-color: #ffffff;
            color: black;
            border-color: white;
            padding: 0;
        }
            .repotInlineList table tr td input {
                border-color: white;
            }
.emtyRepot {
    background-color: #005A88;
    color: white;
    position: absolute;
}








