﻿body {
}
/*Table_Mapping*/
.treeViewBody fieldset{
    background-color: #E3F2F9;
}
.treeViewBody fieldset table{
    height: 30px;
}
/*Here We will add some css for style our treeview*/
    .collapse
    {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
        user-select: text;
    }

    .expand
    {
        width: 15px;
        user-select: text;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul
    {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
        user-select: toggle;
    }

    .treeview > li > a
    {
        font-weight: bold;
        user-select: element;
    }

    .treeview li
    {
    }

        .treeview li a
        {
            padding: 4px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }
.buttonclass {
            background-color: #005A88;
            color: #fff;
            /*padding: 3px 9px;*/
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    border-left:solid 1px #154962;
    /*box-shadow: inset 0px 1px 0px #73b0d8, 0px 3px 0px #2980b9, 0px 10px 5px rgba(39, 39, 39, 0.8);*/
        }

.buttonclass:hover {
                background-color: #fff;
                color: #005A88;
                border-radius: 5px;
                /*padding: 3px 9px;*/
               font-weight: bold;
               cursor: pointer;
               border-left:solid 1px #154962;
               /*box-shadow: inset 0px 1px 0px #73b0d8, 0px 1px 0px 0px #2980b9, 0px 2px 5px rgba(39, 39, 39, 0.8);*/
            }

/*appOwner vs menu*/

div .table {
    width: 100%;
}
div .table .appmenuLeft {
    width: 25%;
    vertical-align: top;
}
    div .table .appmenuLeft fieldset {
        background-color: #C8E2FD;
    }
        div .table .appmenuLeft fieldset div {
            height: 440px;
        }
div .table .appmenuRight {
    width: 75%;
    vertical-align: top;
}  
 div .table .appmenuRight fieldset {
        background-color: #C8E2FD;
    }
        div .table .appmenuRight fieldset div {
            height: 440px;
        }