﻿@{
    ViewBag.Title = "Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<!DOCTYPE html>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    @*<script src="~/Content/formbuildjquery.js"></script>*@
    <script src="~/jQuery/Manufacture.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    
      <script type="text/javascript" language="javascript">
          var $i = jQuery.noConflict();
          $i(document).ready(function () {
              dateupdate('@Session["ReportDate"]');
              $i("#tabs").tabs();
              $i("#tabs1").tabs();
              EnableDisable('@Session["id"]', '@Session["OPUnit1"]', '@Session["Location"]', '@Session["TaxInclusive"]', '@Session["ip"]');
              Dynamicforms('@Session["FormName"]','@Request["ide"]' , '', '@Session["id"]')
              //var index = $('#tabs1 a[href="#10001"]').parent().index();
              //var selectedli = $('#tabs1 ul li').eq(index);
              //$("#tabs1 ul li").removeClass("ui-tabs-selected ui-state-active");
              //selectedli.addClass("ui-tabs-selected ui-state-active");
              var id = $('#tabs1 .ui-state-active').attr("title");
              $i("#SATABLE019COLUMN12").val(id);
              $i("#SATABLE019COLUMN22").on("change", function (e) {
                     duration();
              });
              $i("#SATABLE019COLUMN23").on("change", function (e) {
                      duration();
              });
              function duration() {
                  var inn = $i("#SATABLE019COLUMN22").val();
                  var out = $i("#SATABLE019COLUMN23").val();
                  if (inn == "" || typeof (inn) == "undefined") inn = 0;
                  if (out == "" || typeof (out) == "undefined") out = 0;
                  var ary1 = inn.split(':'), ary2 = out.split(':');
                  var minsdiff = parseInt(ary2[0], 10) * 60 + parseInt(ary2[1], 10) - parseInt(ary1[0], 10) * 60 - parseInt(ary1[1], 10);
                  $i("#SATABLE019COLUMN24").val(String(100 + Math.floor(minsdiff / 60)).substr(1) + ' : ' + String(100 + minsdiff % 60).substr(1));
              }
              $i("[id*=SATABLE020COLUMN07]").live("change", function (e) {
                  var qty = $i(this).val(); var tr = $i(this).parent().parent();
                  ProductionQtychk(tr, qty);
              });
              $i("[id*=SATABLE019COLUMN05]").on("change", function (e) {
                  var IssueNo = $i(this).val();
                  GetProductionDetails(IssueNo, '@Session["FormName"]');
              });
              $i('#btnSave').on('click', function (e) {
                  ProductionSave();
              });
              $i("#imgCollaseexpand").live("click", function (e) {
                  e.preventDefault();
                  var sec = $(this).attr('itemid'); sec = sec.replace(" ", "_");
                  $i("#im" + sec + "").hide();
                  $(this)[0].style.display = 'none'; $(this)[0].nextSibling.style.display = 'block';
              });
              $i("#imgExpandCollase").live("click", function (e) {
                  e.preventDefault();
                  var sec = $(this).attr('itemid'); sec = sec.replace(" ", "_");
                  $i("#im" + sec + "").show();
                  $(this)[0].style.display = 'none'; $(this)[0].previousSibling.style.display = 'block';
              });
              $i("#lineimgCollaseexpand").live("click", function (e) {
                  e.preventDefault();
                  $i("#tabs").hide(); $i("#Linegridfill").css('display', 'none');
                  $(this)[0].style.display = 'none'; $(this)[0].nextElementSibling.style.display = 'block';
              });
              $i("#lineimgExpandCollase").live("click", function (e) {
                  e.preventDefault();
                  $i("#tabs").show(); $i("#Linegridfill").css('display', 'block');
                  $(this)[0].style.display = 'none'; $(this)[0].previousElementSibling.style.display = 'block';
              });
              $i("#bottomlineimgCollaseexpand").live("click", function (e) {
                  e.preventDefault();
                  $i("#HeaderCollapse").hide();
                  $(this)[0].style.display = 'none'; $(this)[0].nextElementSibling.style.display = 'block';
              });
              $i("#bottomlineimgExpandCollase").live("click", function (e) {
                  e.preventDefault();
                  $i("#HeaderCollapse").show();
                  $(this)[0].style.display = 'none'; $(this)[0].previousElementSibling.style.display = 'block';
              });
              $i("#headerimgCollaseexpand").live("click", function (e) {
                  e.preventDefault(); var FormData = $i("#FormData").height();
                  var bottomline = $i("#bottomlineimgCollaseexpand").height();
                  if (FormData == null || typeof (FormData) == "undefined") { FormData = 0; }
                  if (bottomline == null || typeof (bottomline) == "undefined") { bottomline = 0; }
                  var height = parseFloat(FormData) + parseFloat(bottomline);
                  $i("#LineDetails").hide(); $i("#BottomCollapse").hide(); $i("#FormData").height(height);
                  $(this)[0].style.display = 'none'; $(this)[0].nextElementSibling.style.display = 'block';
              });
              $i("#headerimgExpandCollase").live("click", function (e) {
                  e.preventDefault(); var FormData = $i("#FormData").height();
                  var bottomline = $i("#bottomlineimgCollaseexpand").height();
                  if (FormData == null || typeof (FormData) == "undefined") { FormData = 0; }
                  if (bottomline == null || typeof (bottomline) == "undefined") { bottomline = 0; }
                  var height = parseFloat(FormData) - parseFloat(bottomline);
                  $i("#LineDetails").show(); $i("#BottomCollapse").show(); $i("#FormData").height(height);
                  $(this)[0].style.display = 'none'; $(this)[0].previousElementSibling.style.display = 'block';
              });
              $i('.gridtxtarealength').live("focus", function () {
                  $(this).animate({ height: "4em" }, 500);
              });
              $i('.gridtxtarealength').live("focusout", function () {
                  var height = $(this).height();
                  $(this).animate({ height: "1.5em" }, 500);
              });
          })
          </script>
<body>
   
         
  <div  id="gridddata" class="rowCont">
    <div id="ddl" class="rowCont bottomRowContentFB">                         
    <div class="bottomColFB1"><input type="button" value="Save"  class="buttonclass btn_sample"  id="btnSave"/></div>
    <div class="bottomColFB1"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "Production", new { FormName = Session["FormName"] }) + "'");" /></div>  
	 </div>
<div id="FormData" class="bodyFBContent"  style="overflow-y: scroll" >
@using (Html.BeginForm("NewForm", "Production", FormMethod.Post, new { enctype = "multipart/form-data",id="saveformdata"}))
{
      <div id="HeaderCollapse" style=""> <input type="image"  src="/Images/1/FormShrink.png"  id="headerimgCollaseexpand" class="FormHeaderCollapseIcon"><input type="image"  src="/Images/1/FormExpand.png"  id="headerimgExpandCollase"  class="FormHeaderExapandIcon">
         <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto;min-height: 202px">
        <div id="tabs1" class="fbTabCon">          
        <ul>
           @{ var indd = 0; }
        @foreach (var tab in ViewBag.Processes)
        {
         <li title="@tab["COLUMN02"]"  tabindex="@indd">
             <a class="" href=#@tab["COLUMN02"]>@tab["COLUMN04"]</a>&nbsp;
         </li>
            indd = indd + 1;
        }
         </ul> 
        @*@foreach (var tab in ViewBag.Processes)
        {
             <div id="@tab["COLUMN02"]"></div>
        }*@
         </div>
       <div id="Primary" class="bodyFBCon" style="margin-bottom:9px;margin-top: 5px;"> 
       <input type="image"  src="/Images/1/Collapse.png"  id="imgCollaseexpand" itemid="Primary"  class="FormCollapseIcon">
           
           <input type="image"  src="/Images/1/Expand.png"  id="imgExpandCollase" itemid="Primary"  class="FormExapandIcon"> Primary </div>
           <div id="imPrimary">
            <div class="mainRow"  id="Primary">  
            @*<div class="mainRowCon" id="Primary" >
            <div class="lbl"   id="Primary"  > <label  id="SATABLE019COLUMN04lbl">Production Process</label></div>
               <div class="txt" id="Primary"  > 
             <input id="SATABLE019COLUMN04" pattern="N"  itemid="nvarchar" name="Production Process" class="txtclass" type="text"   />                   
		   </div>
           </div>*@
              <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN04lbl">Production#</label><label  class="astric">* </label></div>
                <div class="ddlS" id="Primary"  >
                    <input id="SATABLE019COLUMN04" pattern="N"  itemid="nvarchar" name="Production" class="txtclass" type="text" value="@ViewBag.TransNo" readonly="true" /> 
                 </div> 
		    @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110014072" alt="SATABLE019COLUMN05" />                  
                       <input type="text"  id="110014072" class="dispayN" value='Routing#' /></div>*@
                </div>
            <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN07lbl"> Jobber</label><label  class="astric">* </label></div>
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("Jobber", new SelectList((SelectList)ViewData["Jobber"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN07", @itemid = "N"})
                <input type="text"  id="OutParam"  name="OutParam" style="display:none" /></div> 
                @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110006417" alt="SATABLE019COLUMN07" />                  
                       <input type="text"  id="110006417" class="dispayN" value=' Jobber' /></div>*@
          </div>
            <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN10lbl">Customer</label></div>
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("Customer", new SelectList((SelectList)ViewData["Customer"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN10", @itemid = "N"})
               </div>  
                @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110007017" alt="SATABLE019COLUMN10" />                  
                       <input type="text"  id="110007017" class="dispayN" value='Customer' /></div>*@
                 </div>
            </div><div class="mainRow" id="Primary"> 
                <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN06lbl">Job Order#</label></div>
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("JobOrder", new SelectList((SelectList)ViewData["JobOrder"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN06", @itemid = "N"})
                </div>
                </div>  
            <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN08lbl">Sales Order#</label></div>
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("SalesOrder", new SelectList((SelectList)ViewData["SalesOrder"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN08", @itemid = "N"})
              </div> 
        </div>
                <div class="mainRowCon" id="Primary" >
                <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN09lbl">Opportunity#</label></div>
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("Opportunity", new SelectList((SelectList)ViewData["Opportunity"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN09", @itemid = "N"})
               </div> 
                @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110010866" alt="SATABLE019COLUMN09" />                  
                       <input type="text"  id="110010866" class="dispayN" value='Opportunity#' /></div>*@
               </div>
            </div><div class="mainRow" id="Primary">  
             <div class="mainRowCon" id="Primary" >
            <div class="lbl"   id="Primary" >Date</div>
              <div class="txt"  id="Primary"  >
                  @{ var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }}
              <input name="Date" id="SATABLE019COLUMN11" type="text"  value="@Dtext" class="date"  readonly="true"/></div>
        </div>
            <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN12lbl">Current Status</label><label  class="astric">* </label></div>
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("Status", new SelectList((SelectList)ViewData["Status"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN12", @itemid = "N"})
             </div> 
                @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110014072" alt="SATABLE019COLUMN12" />                  
                       <input type="text"  id="110014072" class="dispayN" value='Current Status' /></div>*@
        </div>
            <div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE019COLUMN13lbl">Submitted To</label></div>
                   @*<label  class="astric">* </label>*@
                <div class="ddlS" id="Primary"  >
                @Html.DropDownList("SubmittedTo", new SelectList((SelectList)ViewData["SubmittedTo"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN13", @itemid = "N"})
              </div> 
                @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110014072" alt="SATABLE019COLUMN13" />                  
                       <input type="text"  id="110014072" class="dispayN" value='Submitted To' /></div>*@
             </div>
            </div>
             </div>
             <div id="Secondary" class="bodyFBCon" style="margin-bottom:9px;margin-top: 5px;"> <input type="image"  src="/Images/1/Collapse.png"  id="imgCollaseexpand" itemid="Secondary"  class="FormCollapseIcon" style="display:none"><input type="image"  src="/Images/1/Expand.png"  id="imgExpandCollase" itemid="Secondary"  class="FormExapandIcon" style="display:block"> Secondary </div>
                        <div id="imSecondary" style="display:none">
            <div class="mainRow"  id="Secondary">  
             <div class="mainRowCon" id="Secondary" >
            <div class="lbl"   id="Secondary" >Due Date</div>
              <div class="txt"  id="Secondary"  > 
              <input name="Due Date" id="SATABLE019COLUMN14" type="text"  value="@Dtext" class="date" readonly="true"/></div>
                 </div>
                <div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE019COLUMN15lbl">Executed By</label></div>
                <div class="ddlS" id="Secondary"  >
                @Html.DropDownList("ExecutedBy", null, "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN15", @itemid = "N"})
                 </div> 
        </div>
        <div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE019COLUMN16lbl">Handedover To</label></div>
                <div class="ddlS" id="Secondary"  >
            @Html.DropDownList("Handedover", new SelectList((SelectList)ViewData["Handedover"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN16", @itemid = "N"})
             </div> 
        </div>
            </div><div class="mainRow" id="Secondary">  
        @*<div class="mainRowCon" id="Secondary" >
            <div class="lbl"   id="Secondary"  > <label  id="SATABLE019COLUMN17lbl">Status</label></div>
                <div class="txt" id="Secondary"  > 
            <input id="SATABLE019COLUMN17" pattern="N"  itemid="nvarchar" name="Status" class="txtclass" type="text"   />                   
		   </div>
              </div>*@
            <div class="mainRowCon" id="Secondary" >
            <div class="lbl"   id="Secondary"  > <label  id="SATABLE019COLUMN18lbl">Remarks</label></div>
                <div class="txt" id="Secondary"  > 
                <textarea id="SATABLE019COLUMN18" pattern="N"  itemid="nvarchar" name="Remarks " class="txtclass" type="text"></textarea>              
		    </div>
              </div>
              <div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE019COLUMN05lbl">Issue#</label></div>
                <div class="ddlS" id="Secondary"  >
                    @*<input id="SATABLE019COLUMN05" pattern="N"  itemid="nvarchar" name="Production" class="txtclass" type="text"   /> *@
                 @Html.DropDownList("Issue", new SelectList((SelectList)ViewData["Issue"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN05", @itemid = "N"})
                </div> </div>
            <div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE019COLUMN19lbl">Operating Unit</label><label  class="astric">* </label></div>
            <div class="ddlS" id="Secondary"  >
            @Html.DropDownList("OPunit", new SelectList((SelectList)ViewData["OPunit"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN19", @itemid = "N"})
             </div> 
		     @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110000010" alt="SATABLE019COLUMN19" />                  
                       <input type="text"  id="110000010" class="dispayN" value='Operating Unit' /></div>*@
           </div>
           </div></div>
           <div id="Production Efficiency" class="bodyFBCon" style="margin-bottom:9px;margin-top: 5px;"> <input type="image"  src="/Images/1/Collapse.png"  id="imgCollaseexpand" itemid="Production Efficiency"  class="FormCollapseIcon" style="display:none"><input type="image"  src="/Images/1/Expand.png"  id="imgExpandCollase" itemid="Production Efficiency"  class="FormExapandIcon" style="display:block"> Production Efficiency </div>
                        <div id="imProduction_Efficiency" style="display:none">
                <div class="mainRow"  id="Production Efficiency">  
                <div class="mainRowCon" id="Production Efficiency" >
               <div class="lbl"  id="Production Efficiency"  ><label id="SATABLE019COLUMN20lbl">Machine# Type</label></div>
              <div class="ddlS" id="Production Efficiency"  >
                @Html.DropDownList("MachineType", new SelectList((SelectList)ViewData["MachineType"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN20", @itemid = "N"})
                </div> 
            @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110010870" alt="SATABLE019COLUMN20" />                  
                       <input type="text"  id="110010870" class="dispayN" value='Machine# Type' /></div>*@
        </div>
            <div class="mainRowCon" id="Production Efficiency" >
               <div class="lbl"  id="Production Efficiency"  ><label id="SATABLE019COLUMN21lbl">Machine#</label></div>
                <div class="ddlS" id="Production Efficiency"  >
                @Html.DropDownList("Machine", new SelectList((SelectList)ViewData["Machine"], "Value", "Text"), "--Select--", new { @class = "ddl", @id ="SATABLE019COLUMN21", @itemid = "N"})
                 </div> 
		     @* <div class="plusImage">
                   <input type="image" src="/Images/plus.png" class="imageSize" value="Machine#" id="nImageHide"  alt="SATABLE019COLUMN21" >                       <input type="text"  id="Machine#" class="dispayN" value='11171' /></div>*@
           </div>
            <div class="mainRowCon" id="Production Efficiency" >
            <div class="lbl"   id="Production Efficiency"  > <label  id="SATABLE019COLUMN22lbl">Processing In</label></div>
           <div class="txt" id="Production Efficiency"  > 
            @*<input id="SATABLE019COLUMN22" pattern="N"  itemid="nvarchar" name="Processing In" class="txtclass" type="text"   />*@                   
		   <input id="SATABLE019COLUMN22" type="time"  name="Processing In" class="txtclass" />
           </div>
              </div>
            </div><div class="mainRow" id="Production Efficiency">  
            <div class="mainRowCon" id="Production Efficiency" >
            <div class="lbl"   id="Production Efficiency"  > <label  id="SATABLE019COLUMN23lbl">Processing Out</label></div>
                <div class="txt" id="Production Efficiency"  > 
                @*<input id="SATABLE019COLUMN23" pattern="N"  itemid="nvarchar" name="Processing Out" class="txtclass" type="text"   />*@                   
		    <input id="SATABLE019COLUMN23" type="time"  name="Processing Out" class="txtclass" />
                </div>
              </div>
            <div class="mainRowCon" id="Production Efficiency" >
            <div class="lbl"   id="Production Efficiency"  > <label  id="SATABLE019COLUMN24lbl">Processing Duration</label></div>
              <div class="txt" id="Production Efficiency"  > 
            <input id="SATABLE019COLUMN24" pattern="N"  itemid="nvarchar" readonly="true" name="Processing Duration" class="txtclass" type="text"   />                   
		   </div>
              </div>
             @*<div class="mainRowCon" id="Production Efficiency" >
            <div class="lbl"   id="Production Efficiency"  > <label  id="SATABLE019COLUMN25lbl">Production1</label></div>
           <div class="txt" id="Production Efficiency"  > 
           <input id="SATABLE019COLUMN25" pattern="N"  itemid="nvarchar" name="Production1" class="txtclass" type="text"   />                   
		   </div>
              </div>*@
            </div>
            @*<div class="mainRow" id="Production Efficiency">  
              <div class="mainRowCon" id="Production Efficiency" >
            <div class="lbl"   id="Production Efficiency"  > <label  id="SATABLE019COLUMN26lbl">Production2</label></div>
            <div class="txt" id="Production Efficiency"  > 
             <input id="SATABLE019COLUMN26" pattern="N"  itemid="nvarchar" name="Production2" class="txtclass" type="text"   />                   
		    </div>
              </div>
              <div class="mainRowCon" id="Production Efficiency" >
            <div class="lbl"   id="Production Efficiency"  > <label  id="SATABLE019COLUMN27lbl">Production3</label></div>
               <div class="txt" id="Production Efficiency"  > 
             <input id="SATABLE019COLUMN27" pattern="N"  itemid="nvarchar" name="Production3" class="txtclass" type="text"   />                   
		   </div>
              </div>
             </div>*@
                </div> 
             </div>
           </div>   <div id="divLoading" >
          <p>
           <img src="/Images/ajax-loading.gif"><br />Loading, please wait...
          </p>
          </div>
         <div id="LineDetails"  class=""> 
        <div class="bodyFBCon"> <input type="image"  src="/Images/1/Collapse.png"  id="lineimgCollaseexpand" itemid="Item Details" class="FormCollapseIcon">
      <input type="image"  src="/Images/1/Expand.png"  id="lineimgExpandCollase" itemid="Item Details" class="FormExapandIcon" > Line Details
      </div>
      <div id="Linegridfill" class="gridrowadddiv fbBodyFoter"></div>
        <div id="tabs" class="fbTabCon">
        <ul>
         <li >
             <a class="" href=#Item1 >Item Details</a>&nbsp;
         </li>          
         </ul> 
             <div class="fbBodyFoter">
              <div class="bottomdivRow" id="formtabcontent">
                      <div class="mainRow" id="Item1" >
                <div id="itemgrid" class="itemGridFB">
                @{
                var grid = new WebGrid(ViewBag.GData, canPage: false, canSort: false);
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns: ViewBag.Cols);}
                    <div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                    </div>
                             </div>
             </div>
             </div>
         </div>
	 
   </div>
}
</div>
<div id="BottomCollapse"> <input type="image"  src="/Images/1/FormExpand.png"  id="bottomlineimgCollaseexpand" class="FormHeaderCollapseIcon">
      <input type="image"  src="/Images/1/FormShrink.png"  id="bottomlineimgExpandCollase"  class="FormHeaderExapandIcon" >
      </div>   <div id="pagescrolltop">  <input type="image"  class="pagescrollup" src="/Images/1/scrollpageUP.png"  id="scrolltotop"></div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB"></div>
            </div>
</div>
</body>
</html>
