﻿@{
    ViewBag.Title = "BarCode Labels Printing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#grdfData').DataTable({
        //    "aaSorting": [[0, "desc"]]
        //});
        function showDetails() {
            alert("showing some details");
        }
        var tbl = $('#grdfData').DataTable({
            "filter": false,
            "iDisplayLength": 20,
            "pagingType": "simple_numbers",
            "orderClasses": false,
            "order": [[0, "asc"]],
            "info": false,
            "searching": true,
            "scrollCollapse": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/WebService.asmx/GetTableData?FormName='BarCode Labels Printing'&ViewSort=''&SortByStatus=''&ItemType=''",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "roleId", "value": "admin" });
                //aoData.push({ "PoNo": '@ViewBag.PoNo', "PreFormID": '@ViewBag.PreFormID', "FromDate": '@Request["FromDate"]', "ToDate": '@Request["ToDate"]' });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (msg) {
                        debugger
                        if (msg.d != "") {
                            var json = jQuery.parseJSON(msg.d);
                            fnCallback(json);
                        }
                        else $(".dataTables_processing").css("visibility", "collapse");
                        $("#grdfData").show();
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            },
            fnDrawCallback: function () {
                $('.image-details').bind("click", showDetails);
            }
        });

        $("#btnGenerate").live("click", function () {
            var ide = $(this).attr("itemid");
            var barcode = $(this).attr("title");
            var tr = $(this).closest("tr");
            var qty = $(tr).find('#Qty').val();
            if (qty == "") {
                Alert.render('Please Enter Quantity!'); $("#alertok").focus();
                return true;
            }
            else {
                $.ajax({
                    url: "/BarcodeLabelsPrinting/BarcodestobePrint",
                    type: "JSON",
                    async: false,
                    data: JSON.stringify({ Id: ide, Barcode: barcode, Qty: qty }),
                    contentType: "application/json",
                    success: function (data) {
                        if (data.barcodeqty != "0") {
                            //setTimeout(function () { $("#myElem").hide(); }, 5000);
                            //Alert.render('Print generated successfully!'); $("#alertok").focus();
                        }
                    }
                })
            }
        })

        $("#btnGenerate1").live("click", function () {
            var ide = $(this).attr("itemid");
            //EMPHCS1852 rajasekhar reddy patakota 16/12/2016 Item Alias Integration into barcode print
            var AliasID = $(this).attr("role");
            $.ajax({
                url: "/BarcodeLabelsPrinting/BarCodePrint",
                type: "JSON",
                async: false,
                data: JSON.stringify({ ide: ide, AliasID: AliasID }),
                contentType: "application/json",
                success: function (data) {
                    if (data.image != "") {
                        var labelcols = "1"; var comprequired = "N";
                        if ('@Session["AcOwner"]' == "56637"||'@Session["AcOwner"]' == "56862" || '@Session["AcOwner"]' == "56874") comprequired = "Y";
                        if ('@Session["AcOwner"]' == "56578" || '@Session["AcOwner"]' == "56681" || '@Session["AcOwner"]' == "56849" || '@Session["AcOwner"]' == "56805" || '@Session["AcOwner"]' == "56859" || '@Session["AcOwner"]' == "56861" || '@Session["AcOwner"]' == "56862" || '@Session["AcOwner"]' == "56874") labelcols = "2";
                        if ('@Session["AcOwner"]' == "56637") data.Adresss = "FLYTEES&trade;";
                        var tbldatacols = "<tr>"; var brand = ""; var tbldatacols1 = "<tr><td>"; var codesep = ","; var tbldatacolsflyee = ""; var diff = ""; var tblcolwidth = "max-width: 70px;"; var tblcolnamewidth = "max-width: 70px;word-wrap:break-word;"; var tblmrpcolwidth = ""; var barcodeimgwidth = 'padding:5px;width: 180px;';
                        var barcodeimght = "width: 220px;height:42px;"; var barcodelblstyle1 = 'font-size:16px;font-weight:bold;padding-left:45px';

                        for (var i = 0; i < data.tbldatacols.length; i++) {
                            if (i % data.order == 0 && i != 0) {
                                if (labelcols == "2") tbldatacols1 = tbldatacols1 + "</td></tr><tr><td>";
                                else
                                    tbldatacols = tbldatacols + "</tr><tr>";
                            }
                            if ('@Session["AcOwner"]' == "56577" || '@Session["AcOwner"]' == "56637") {
                                diff = ":"; tblcolwidth = "max-width: 75px;word-wrap: break-word;";
                                data.tbldatacols[i].Text = data.tbldatacols[i].Text;
                                if (data.tbldatacols[i].Text == "Units") { tblmrpcolwidth = "padding-left:5px;font-size:16px;font-weight:bold;"; tbldatacolsflyee = tbldatacolsflyee + "<tr><td style='font-size:12px;font-weight:bold;'>Size" + diff + "</td><td>" + data.tbldatacols[i].Value + "</td>"; data.tbldatacols[i].Text = ""; data.tbldatacols[i].Value = ""; }
                                else if (data.tbldatacols[i].Text == "MRP") { tblmrpcolwidth = "padding-left:5px;font-size:16px;font-weight:bold;"; tbldatacolsflyee = tbldatacolsflyee + "<td style='padding-left:20px;font-size:12px;font-weight:bold;'>MRP" + diff + "</td><td>Rs.&nbsp;&nbsp;" + data.tbldatacols[i].Value + "</td></tr>"; data.tbldatacols[i].Text = ""; data.tbldatacols[i].Value = ""; }
                                else { data.tbldatacols[i].Text = ""; }
                            }
                            else if ('@Session["OPUnit"]' == "56918" || '@Session["OPUnit"]' == "56921" || '@Session["OPUnit"]' == "56866") {
                                diff = " - "; tblmrpcolwidth = "width: 220px;font-size:24px;font-weight:bold;padding-top:0px;";
                                if (data.tbldatacols[i].Text == "MRP") { tbldatacolsflyee = tbldatacolsflyee + "<tr><td style='font-size:12px;max-width: 13px;padding-left: 5px;font-weight: bold;'></td><td style='max-width: 33px;font-weight: bold;'>" + data.tbldatacols[i].Value + "</td>"; data.tbldatacols[i].Text = ""; data.tbldatacols[i].Value = ""; }
                                else if (data.tbldatacols[i].Text == "Price") { tbldatacolsflyee = tbldatacolsflyee + "<td style='font-size:12px;max-width: 1px;'></td><td style='max-width: 34px;font-weight: bold;'>" + data.tbldatacols[i].Value + "</td></tr>"; data.tbldatacols[i].Text = ""; data.tbldatacols[i].Value = ""; }
                            }
                            else if ('@Session["AcOwner"]' == "56578" || '@Session["AcOwner"]' == "56681") {
                                tblcolwidth = "max-width:70px;word-wrap:break-word;";
                                if (data.tbldatacols[i].Text == "Brand/Company") { brand = data.tbldatacols[i].Value; data.tbldatacols[i].Value = ""; tblcolwidth = ""; }
                                else if (data.tbldatacols[i].Text == "Name") { tblcolwidth = "max-width:100px;word-wrap:break-word;"; }
                                data.tbldatacols[i].Text = "";
                            }
			       else if ('@Session["AcOwner"]' == "56571") {
                                tblcolwidth = "max-width:70px;padding-right: 5px;font-family:Godex CG Triumvirate;";
                                diff = ":"; tblcolwidth = "max-width: 75px;word-wrap: break-word;";
                                if (data.tbldatacols[i].Text == "Group") { tblmrpcolwidth = ""; tbldatacols = tbldatacols + "<td style='width:40px;'>Item</td><td>" + diff + "</td><td>" + data.tbldatacols[i].Value + "</td><td rowspan='4'><div style='padding-left:0px;" + barcodeimght + "'><img  " + "src='" + "data:image/jpg;base64," + data.image + "' width='120%' height='190%'/><div style='" + barcodelblstyle1 + "'>"+ data.barCode +"</div></div></td>"; }
                            else if (data.tbldatacols[i].Text == "Name") { tblmrpcolwidth = ""; tbldatacols = tbldatacols + "<td style='width:40px;'>Style</td><td>" + diff + "</td><td>" + data.tbldatacols[i].Value + "</td>"; }
                            else if (data.tbldatacols[i].Text == "Style") { tblmrpcolwidth = ""; tbldatacols = tbldatacols + "<td style='width:40px;'>Fit</td><td>" + diff + "</td><td>" + data.tbldatacols[i].Value + "</td></tr><tr><td style='width:40px;'>Qty</td><td>" + diff + "</td><td>1 No</td>"; }
                            else if (data.tbldatacols[i].Text == "Units") {
                                tblmrpcolwidth = "";
                                var sz = data.tbldatacols[i].Value;
                                if (sz == "S") { sz = sz + "/ 36 CMS" } else if (sz == "M") { sz = sz + "/ 38 CMS" } else if (sz == "L") { sz = sz + "/ 40 CMS" } else if (sz == "XL") { sz = sz + "/ 42 CMS" } else if (sz == "XXL") { sz = sz + "/ 44 CMS" } else if (sz == "3XL") { sz = sz + "/ 46 CMS" } else if (sz == "4XL") { sz = sz + "/ 48 CMS" } else if (sz == "5XL") { sz = sz + "/ 50 CMS" }
                                tbldatacols = tbldatacols + "<td style='width:40px;'>Size</td><td>" + diff + "</td><td>" + sz + "</td>";// data.tbldatacols[i].Value
                                }
                                else if (data.tbldatacols[i].Text == "MRP") { tblmrpcolwidth = ""; tbldatacols = tbldatacols + "<td style='font-size:15px;padding:0px;' colspan='3' ><table width='100%'><tr><td style='font-family: Arial;font-size:18px;font-weight:bold;margin-left:-10px;'>M.R.P.</td><td style='font-family: Arial;font-size:14px;font-weight:bold;'>" + diff + "</td><td style='font-family: Arial;font-size:18px;font-weight:bold;'>Rs.&nbsp;&nbsp;" + data.tbldatacols[i].Value + "</td></tr></table></td></tr><tr><td style='font-family: Arial;font-size:15px;font-weight:bold;margin-top:3px;' colspan='40'>MRP(Incl.of all Taxes)&nbsp;&emsp;&emsp;&emsp;&emsp;MADE IN INDIA</td>"; }
                                // data.tbldatacols[i].Text = "";
                                tbldatacols = tbldatacols + "</tr > <tr>";
                               
                            }
                            else if ('@Session["AcOwner"]' == "56874") {
                                tblcolnamewidth = "max-width:70px;word-wrap:break-word;";tblcolwidth = "max-width:50px;word-wrap:break-word;";
                                if (data.tbldatacols[i].Text == "UPC#") { data.tbldatacols[i].Text = ""; tblcolnamewidth = ""; }
                                else if (data.tbldatacols[i].Text == "Price") { data.tbldatacols[i].Text = "MRP-"; tblcolnamewidth = "max-width:23px;word-wrap:break-word;";}
                                
                            }
                            if (data.order>1) {
                                tbldatacols1 = tbldatacols1 + data.tbldatacols[i].Value + codesep; codesep = " ";
                            }
                            else if ('@Session["AcOwner"]' == "56874") {
                                tbldatacols = tbldatacols + "<td style='padding-right:3px;" + tblcolnamewidth + "'>" + data.tbldatacols[i].Text + "</td><td style='padding-right:3px;" + tblcolwidth + "font-weight:bold;'>" + data.tbldatacols[i].Value + "</td>";
                            }
			     else if ('@Session["AcOwner"]' == "56571") {

                              // tbldatacols = tbldatacols +;
                           }
                            else {
                                tbldatacols = tbldatacols + "<td style='padding-right:3px;" + tblcolwidth + "'>" + data.tbldatacols[i].Text + "</td><td style='padding-right:3px;" + tblcolwidth + "font-weight:bold;'>" + data.tbldatacols[i].Value + "</td>";
                            }
                        }
                        if ('@Session["AcOwner"]' != "56571") {
                        if (data.order>1)
                            tbldatacols = tbldatacols1 + "</td></tr>";
                        else
                            tbldatacols = tbldatacols + "</tr>";
                        }
                        debugger
                        var tblstyle = 'font-size:8px;font-weight:bold;padding-left:5px;padding-bottom:0px;';
                        if (data.colscnt == "1") tblstyle = 'font-size:24px;font-weight:bold;padding-left:5px;width:100%;';
                        if ('@Session["AcOwner"]' == "56577" || '@Session["AcOwner"]' == "56637") tblstyle = 'padding-bottom:0px;font-size:12px;padding-left:5px;width:100%;';
                        else if (labelcols == "2") tblstyle = "min-width:300px;font-size:18px;font-weight:bold;padding-left:5px;padding-bottom:0px;";
                        else if ('@Session["OPUnit"]' == "56921" || '@Session["OPUnit"]' == "56635" || '@Session["OPUnit"]' == "56866") tblstyle = 'display:none';
                        var Company = "<div style='padding-left:5px;width: 220px;font-size:7px;'>" + data.Adresss + "</div> ";
                        if (data.colscnt == "1" || data.colscnt == "2") Company = "<div style='padding-left:5px;width: 220px;font-size:11px;font-family: Arial, Helvetica, sans-serif;font-weight:bold;'>" + data.Adresss + "</div> ";
                        if (comprequired == "Y") Company = "<div style='padding-left:5px;text-align:center;width: 220px;font-size:18px;font-family: Arial, Helvetica, sans-serif;font-weight:bold;'>" + data.Adresss + "</div> ";
                        else if (labelcols == "2") Company = "<div style='padding-left:15px;text-align:left;width: 220px;font-size:20px;font-family: Arial, Helvetica, sans-serif;font-weight:bold;min-height:20px;'>" + brand + "</div> ";
                        var barcodelblstyle = 'font-size:16px;font-weight:bold;padding-left:55px'; var salesprice = ""; var barcodeimght = "width: 220px;height:42px;";
                        if ('@Session["AcOwner"]' == "56637") {
                            barcodelblstyle = 'font-size:9px;font-weight:bold;padding-left:55px;';
                            //salesprice = "<div style='font-size:13px;font-weight:bold;padding-left:10px;float:left;padding-top:1px;'>Offer Price  Rs.&nbsp;&nbsp;</div><div style='font-size:15px;font-weight:bold;float:left;'>" + data.salesprice + "</div>";
                            barcodeimght = "width: 235px;height:50px;"; barcodeimgwidth = 'font: 12px Arial,serif;padding:5px;padding-top:0px;width: 210px;';
                        }
                        else if (labelcols == "2") {
                            barcodelblstyle = "float:left;font-size:22px;font-weight:bold;padding-left:55px;";
                            barcodeimght = "width: 250px;height:55px;"; barcodeimgwidth = "min-width: 300px;";
                        }
  if ('@Session["AcOwner"]' == "56571") {
                            tblstyle = "'font-family: Arial;font-size:14px;font-weight:bold;padding:5px;width: 200px;'";
                             Company = "";
                        }
                        if ('@Session["AcOwner"]' == "56902") {
                            tblstyle = "'font-family: Arial;font-size:13px;font-weight:bold;padding:3px;width: 200px;'";
                             Company = "";
                        }
                        if ('@Session["AcOwner"]' == "56571") {
                            var imag = "<div style='" + barcodeimgwidth + "'>" + Company + "<table style=" + tblstyle + ">" + tbldatacols + "</table><table style='" + tblmrpcolwidth + "'>" + tbldatacolsflyee + "</table>";
                            if (labelcols == "2") { imag = "<table style='width:100%;'><tr style='width:100%;'><td style='width:50%;'>" + imag + "</td><td style='width:49%;'>" + imag + "</td></tr></table>"; }
                            PrintDiv(imag);
                        }
                        else {
                        var imag = "<div style='" + barcodeimgwidth + "'>" + Company + "<table style=" + tblstyle + ">" + tbldatacols + "</table><table style='" + tblmrpcolwidth + "'>" + tbldatacolsflyee + "</table><div style='padding-left:10px;" + barcodeimght + "'><img  "
                          + "src='" + "data:image/jpg;base64,"
                          + data.image + "' width='100%' height='100%'/><div style=" + barcodelblstyle + ">" + data.barCode + "</div>" + salesprice + "</div></div>";


                        if (labelcols == "2") { imag = "<table style='width:100%;'><tr style='width:100%;'><td style='width:50%;'>" + imag + "</td><td style='width:49%;'>" + imag + "</td></tr></table>"; }
                        PrintDiv(imag);
                        }
                        //<div style='width: 180px;padding-left:7px;font-size:8px;font-weight:bold;'>Mfg Address : " + data.compAdd + "</div>
                        //var winPrint = window.open("", "", "location=center,toolbar=no,menubar=no,scrollable=yes");
                        //winPrint.document.write('<html><head><style>  table th{ background-color:black;color:white;border-color:black;}</style></head><bodybrowser>');
                        //winPrint.document.write(imag)
                        //winPrint.document.close();
                        //winPrint.print();
                        //winPrint.close();
                    }
                }
            });
        });
        function PrintDiv(data) {
            var mywindow = window.open("", "", "location=center,toolbar=no,menubar=no,scrollable=yes");
            var is_chrome = Boolean(mywindow.chrome);
            mywindow.document.write(data);

            if (is_chrome) {
                setTimeout(function () { // wait until all resources loaded 
                    mywindow.document.close(); // necessary for IE >= 10
                    mywindow.focus(); // necessary for IE >= 10
                    mywindow.print(); // change window to winPrint
                    mywindow.close(); // change window to winPrint
                }, 250);
            } else {
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10

                mywindow.print();
                mywindow.close();
            }
            return true;
        }
    });

</script>
</head>
<body>
     <div class="topHeaderContentBodyInfoEmptyCont">
         @{ List<int> permission = Session["Permission"] as List<int>;}
           @{ var infospace = " | ";}
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("BarcodeLabelsPrintingInfo", "BarcodeLabelsPrinting", new { idi = Request["idi"], FormName = Request["FormName"] }) + "'")    ;  " /></div>
		           </div>
        </div>
         @* @{List<WebGridColumn> columns = new List<WebGridColumn>();}
         @foreach (var column in ViewBag.columns)
         {
             if (column.ColumnName == "ID")
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = "",
                     Header = "",
                     Format =@<text>
         @Html.ActionLink("Print", "BarCodePrint", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })
                 <a href=""  id="btnGenerate" itemid="@item.ID" role="@item.AliasID">Print</a> 
                     </text>
                 });
                 }
             else
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = column.ColumnName,
                     Header = column.Header
                 });
             }
        }
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            } *@
              <div id="Content" class="overflowGrid">
            <table id="grdfData">  
           <thead>
              <tr class="gridStyle">
              @foreach (var result in ViewBag.Columns)
              {
                  if (@result == "ID")
                  {<th></th>
                  }
                  else if (@result == "AliasID")
                  {
                  }
                  else
                  {
                 <th>@result</th>}
              }
              </tr>
           </thead>
           <tbody></tbody>
        </table> 
        </div>
    </div>
</body>
</html>
