﻿@{
    ViewBag.Title = "BarCode Labels Printing";
    Layout = null;
}

<html>
<head>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/formbuildjquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var data = $('#printdiv')[0].innerHTML;
        if (data != "") {
            PrintDiv(data);
            //function PrintDiv(data) {
            //    var mywindow = window.open("", "", "location=center,toolbar=no,menubar=no,scrollable=yes");
            //    var is_chrome = Boolean(mywindow.chrome);
            //    mywindow.document.write(data);
            //    if (is_chrome) {
            //        setTimeout(function () { // wait until all resources loaded 
            //            mywindow.document.close(); // necessary for IE >= 10
            //            mywindow.focus(); // necessary for IE >= 10
            //            mywindow.print(); // change window to winPrint
            //            mywindow.close(); // change window to winPrint
            //        }, 250);
            //    } else {
            //        mywindow.document.close(); // necessary for IE >= 10
            //        mywindow.focus(); // necessary for IE >= 10

            //        mywindow.print();
            //        mywindow.close();
            //    }
            //    return true;
            //}



            function PrintLogoForm() {
                var mywindow = window.open("", "", "height=700px,width=1366px, location=center,toolbar=no,menubar=no,scrollable=yes,resizable=yes");
                var is_chrome = Boolean(mywindow.chrome);
                var isPrinting = false;
                mywindow.document.write($("#printdiv")[0].innerHTML);
                mywindow.document.close(); // necessary for IE >= 10 and necessary before onload for chrome


                if (is_chrome) {
                    mywindow.onload = function () { // wait until all resources loaded 
                        isPrinting = true;
                        mywindow.focus(); // necessary for IE >= 10
                        mywindow.print();  // change window to mywindow
                        mywindow.close();// change window to mywindow
                        isPrinting = false;
                    };
                    setTimeout(function () { if (!isPrinting) { mywindow.print(); mywindow.close(); } }, 300);
                }
            }
        }
    });
    
</script>
</head>
<body>
     <div id="printdiv"><div>@Html.Raw(ViewBag.Barcodedata)</div>
    </div>
</body>
</html>
