﻿@{
    ViewBag.Title = "BackUp";
}



<html>
<head>
    @*<div id="Lotdlg" style="font-size:11.5px;color:black;background:#E0ECFF;"></div>*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript" language="javascript">
        //function showMessage() {
        //    alert("Backup file Ok");
        //}
        //function myFunction() {
        //    var x = document.getElementById("backupurl").defaultValue;
        //    document.getElementById("demo").innerHTML = x;
        //}

        $(document).ready(function () {
            debugger
            $.ajax({
                url: "/Backup/GetFilePath",
                type: "POST",
                dataType: "json", cache: true,
                contentType: "application/json",
                success: function (data) {
                    if (data != "") {
                        $("#backupurl").val(data.Data1);
                    }

                }
            });
            $("#form1").submit(function () {
                $("#btnBackup").modalDialog();
            });
        $("#btnBackup").on("click", function () {
            debugger
              
            $("#divLoading").show();
            //$('#divLoading').dialog('Loading Please wait');
            var bkp = $("#backupurl").val();
            ('#btnBackup').hide = true;
            Backup(bkp);
            //('#btnBackup').hide = false;

            //$("#divLoading").hide();
        });
        });
       
        
    </script>
</head>
<body>
    
        <div style="background-color:#E0ECFF;color:black;width:100%;height:100%;">
            <div style="float:left;width:100%;">


                <div style="float:left;width:100%;">
                    <div style="float:left;padding:12px 5px 2px 8px;"><input type="text" style="width:150px;height:20px;margin-left:5px;" id="backupurl" placeholder="Enter your BackUp URL" /></div>
                    <div style="float:left;padding:12px 5px 2px 8px;"><input type='submit' style="width:100px;height:25px;margin-left:5px;" name='BACKUP' id='btnBackup' value='BACKUP' class='myButton' /></div>
                    @*<input type="file" name="file_Uploader" id="filebkp" />*@
                    <p id="demo"></p>
                    @*<input type=file id="browseFolder" style="display:none">
                    <a href="javascript:;" onClick="showBrowseFolder();">Select a file in the desired folder</a>*@
                </div>

            </div>
        </div>

        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
            </p>
        </div>
</body>
</html>