﻿@model eBizSuiteAppModel.Table.CONTABLE012

@{
    ViewBag.Title = "Role";
}

<header>
     <script src="~/Content/formbuildjquery.js"></script>
</header>
    <!DOCTYPE>
<html >
<head style="background-color:#a1b9b9">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
    </head>  
    <body >
        @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
                 <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "RoleMaster") + "'")    ;" />
            </div>   <div class="bottomColFB1">        <input type="submit" name="Save" value="Save"  class="buttonclass"/></div>
          <div class="bottomColFB1">  <input type="submit" name="SaveNew" value="Save & New"   class="buttonclass"/></div>
         @*<div class="bottomColFB1"> <input type="button" value="Cancel"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "RoleMaster") + "'")    ;" /></div>*@
          <div class="bottomColFB1">  <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset" />
        </div>
        </div>        
            <div id="Staticdiv" class="bodyFBContent">
              <div class="divRow"><div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl">  @Html.Label("RoleID")</div>
            <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN02, new { @readonly = "readonly" , @class="txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN02)</div> </div> <div class="mainRowCon">
             <div class="lbl">
                         @Html.Label("Name")
                     </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN03, new {  @class="txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN03)
                     </div> </div> <div class="mainRowCon">
             <div class="lbl">
                          @Html.Label("Description")</div>
             <div class="txt">
                          @Html.TextBoxFor(model => model.COLUMN04, new {  @class="txtclass" })
                          @Html.ValidationMessageFor(model => model.COLUMN04)
                      </div>  </div> 
             </div>
             <div class="mainRow">  <div class="mainRowCon">
             <div class="lbl">
                        @Html.Label("CenterID")
                     </div>
             <div class="txt">
                      @Html.DropDownListFor(model => model.COLUMN05,new SelectList(ViewBag.a,"Column02","Column03"),"select a CenterId", new {  @class="ddl" })

                        @Html.ValidationMessageFor(model => model.COLUMN05)
                     </div> </div><div class="mainRowCon">
             <div class="lbl">
                          @Html.Label("Department")
                     </div>
             <div class="txt">
                           @Html.DropDownListFor(model => model.COLUMN07,new SelectList(ViewBag.d,"Column02","Column04"),"select a Item", new {  @class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN07)
                      </div>
                          </div> <div class="mainRowCon">
             <div class="lbl">
                           @Html.Label("Operating Unit")
                       </div>
             <div class="txt">
                            @Html.DropDownListFor(model => model.COLUMN06,new SelectList(ViewBag.o,"Column02","Column03"),"select a Item", new {  @class="ddl" })
            @Html.ValidationMessageFor(model => model.COLUMN06)
                      </div> </div> 
                </div>
                  <div class="mainRow">  <div class="mainRowCon">
             <div class="lbl">
                           @Html.Label("Inactive Flag")
                       </div>
             <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN08)
                            @Html.ValidationMessageFor(model => model.COLUMN08)
                      </div> </div> </div> 
    </div></div>
<div class="newbottomRowContentFooter" id="footerInfo">
       </div>
}
    </body>
        
    </html>
  


@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
} 
