﻿@model eBizSuiteAppModel.Table.Table_Mapping

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Table_Mapping</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Column_Mapping.Actual_Column)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Column_Mapping.Actual_Column)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Module_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Module_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Actual_Table)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actual_Table)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Table_Alias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Table_Alias)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
