﻿@model eBizSuiteAppModel.Table.Table_Mapping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Table_Mapping</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Column_Mapping.Actual_Column)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Column_Mapping.Actual_Column)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Module_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Module_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Actual_Table)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actual_Table)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Table_Alias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Table_Alias)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.TID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
