﻿@model eBizSuiteUI.Models.FieldMasterModel

@{
    ViewBag.Title = "GetAllNode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dynatree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.contextMenu-custom.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.contextMenu.css")" rel="stylesheet" type="text/css" >
     <script src="~/Content/formbuildjquery.js"></script>
<script src="~/Scripts/jquery.session.js"></script>
<style>
    body
    {
        background-color: #f5f0f7;
        color: #000000;
        font-size: .85em;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        margin: 1.5em;
        padding: 0;
    }

    .PGrid
    {
        margin: 2%;
        border-collapse: collapse;
        width: 50%;
        background-color: ActiveCaption;
    }

    .Header
    {
        font-weight: bold;
        background-color: #ceb7b7;
        color: #000000;
        text-decoration: none;
    }

    .PGrid th, .PGrid td
    {
        border: 1px solid #0094ff;
        padding: 5px;
    }

    .altRow
    {
        color: brown;
        background-color: #808080;
    }
    /*Here We will add some css for style our treeview*/
    .collapse
    {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
        user-select: text;
    }

    .expand
    {
        width: 15px;
        user-select: text;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul
    {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
        user-select: toggle;
    }

    .treeview > li > a
    {
        font-weight: bold;
        user-select: element;
    }

    .treeview li
    {
    }

        .treeview li a
        {
            padding: 4px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //Table Creation
        $('#btnQuery1').on('click', function () {
            TableCreationCode();
        })
        //Select Statement
        $('#btnQuery').on('click', function () {
            SelectQuery();
        })
    });
    var res = true;
    // --- Contextmenu helper --------------------------------------------------
    function bindContextMenu(span) {
        debugger;
        var parent = $(span).parent().parent().parent();
        $(span).contextMenu({ menu: "myMenu" }, function (action, el, pos) {
            var node = $.ui.dynatree.getNode(el);
        });
    };
    $(function () {
        var tree = $("#tree").dynatree("getTree");
        $("#tree").dynatree({
            checkbox: true,
            selectMode: 1,
            onSelect: function (flag, dtnode) {
                 $.session.set('Node', "");
                if (res == true) {
                    var tree = $("#tree").dynatree("getTree");
                    var selKeys = $.map(tree.getSelectedNodes(), function (node) {
                        //if ($("#hdnbranchid").val() == '')
                        // $("#hdnbranchid").val(node.data.key)
                        //else
                        //$("#hdnbranchid").val($("#hdnbranchid").val() + ',' + node.data.key);
                        debugger
                        $.session.set('Node', node.data.key)
                        $.session.set('Tree', node.data.title)
                    });
                    // alert($.session.get('modName'));
                    var dataparam = { lst: $.session.get('Node'), fid: $.session.get("modName") }
                    //alert(dataparam);
                    $.ajax({
                        url: '@Url.Action("CreateTree", "Table_Mapping")',
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "html",
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                $("#prclView").html(result);
                                $("#ddlFrm").val($.session.get('modName'));
                                // alert(result);

                            }
                        });
                    }
                    else {
                    res = true;
                    }
                },
            });
        });

        $(function () {
            if (res == true) {
                BuidTree();
            }
            else
                res = true;

        });

        function BuidTree() {
            //var arr; var arry;
            if (res == true) {
                //if ($.session.get('Node') != null) {
                //    arr = $.session.get('Node');
                //    var arry = arr.split(',');
                //}
                //else { arr = 0; arry = 0; }
                var dataparam = { id: $("#ddlFrm").val() };
                $.getJSON('@Url.Action("GetTables")', dataparam, function (result) {
                debugger;
                var tree = $("#tree").dynatree("getTree");
                var node = tree.getRoot();
                node.removeChildren();
                for (i = 0; i < result.length; i++) {
                    node.addChild({ title: result[i].title, key: result[i].key, isFolder: result[i].isFolder });
                    //if (arry.length > 0) {
                    //    for (l = 0; l < arry.length; l++) {
                    //        if (arry[l] == result[i].key) {
                    //            res = false;
                    //            tree.selectKey(arry[l]);
                    //        }
                    //    }
                    //}
                } 
                if ($.session.get('Node') != null) {
                    res = false; 
                    tree.selectKey($.session.get('Node'));
                    //$.session.set('Node', null)
                   // $.session.set('Tree', null);
                }
            });
        }
    };
    $(function () {
        $("#ddlFrm").live("change", function (event) {
            //alert();
            $.session.set("modName", $("#ddlFrm").val());
            //$.session.set('Node',null);
            if (res == true) {
                // $("#hdnbranchid").val("");
                //$.session.set("Node", null);
                BuidTree();
            }
            else
                res = true;
        });
    }
    );
</script>
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <div id="prclView">
        <table style="width: 100%" class="table">
            <tr>
                <td style="width: 25%; vertical-align: top">
                    <fieldset>
                        <legend>Tables</legend>
                        @* <div style="border: solid 1px black; padding: 0px; min-height: 400px;">
                            <div class="treeview" id="chapterFolders">
                                @if (Model != null)
                                {
                                    //<ul id="chapterFolders" draggable="true" aria-selected="true" >

                                    @Treeview.GetTreeView(ViewBag.Column)
                                    //</ul>
                                }
                            </div>
                        </div>*@
                        <div style="min-height: 403px;">
                            @Html.Label("Module:")
                            @Html.DropDownListFor(m => m.lstM,
                new SelectList(Model.lstM, "ModuleId", "MenuName"),
                "...Select...", htmlAttributes: new { id = "ddlFrm" })
                            <br />
                            <div style="min-height: 100px;">
                                @Html.Label("Select Table:")
                                <div id="tree">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td style="width: 75%">
                    <fieldset style="min-height: 403px;">
                        <legend>Columns</legend>
                        <div style="height: 444px; overflow: scroll; font-size: 12px;">
                            @{ WebGrid grd = null;
                               if (Model.tbl != null)
                               {
                                   grd = new WebGrid(Model.tbl, canPage: false, ajaxUpdateContainerId: "postsgrid", ajaxUpdateCallback: "prclView",
                 columnNames: new[] { "Actual_Column", "Alias_Column", "Data_Type", "Nullable", "Size" }
                 );
                               }
                            }
                            @if (grd != null)
                            {
                                @grd.GetHtml(fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
tableStyle: "PGrid", htmlAttributes: new { id = "postsgrid" },
headerStyle: "Header",
footerStyle: "",
rowStyle: "mGrid-td",
alternatingRowStyle: "altRow",
 columns: grd.Columns(
 grd.Column(header: "Actual Column", format: @<text>
                                <input type="text" id="Actual" style="width:100px;" disabled="disabled" value="@item.Actual_Column"
            class="edit-mode" /></text>),
grd.Column(header: "Alias Column", format: @<text><input type="text" id="Alias" style="width:100px;" disabled="disabled" value="@item.Alias_Column" /></text>),
grd.Column(header: "Data Type", format: @<text><input type="text" id="data" style="width:100px;" disabled="disabled" value="@item.Data_Type" /></text>),
grd.Column(header: "Nullable", format: @<span><span style="width: 175px">@item.Nullable</span></span>),
grd.Column(header: "Size", format: @<text><input type="text" id="size" style="width:100px;" disabled="disabled" value="@item.Size" /></text>)
                   ))}
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="btnQuery" class="btn_sample" value="Generate Query" />
                    <input type="button" id="btnQuery1" class="btn_sample" value="Create Table" /><br />
                    <input type="text" id="txtNode" style="display: none;" /><br />
                    <textarea id="txtQuery" style="width: 999px; height: 222px; background-color: silver; color: darkblue; font-weight: bold;"></textarea>
                    @*<input type="text" id="txtQuery" style="width:999px;  height:222px; background-color:silver; color:darkblue; font-weight:bold;" />*@
                </td>
            </tr>
        </table>
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}