﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "Sales Receipt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $(function () {
                var tbl = $("#grdData")[0];
                var length = tbl.rows.length;
                    var row = 1;
                var htmlstring = "<tr class='aftershow'><td><input type='button' name='Edit' id='Edit' value='Edit' class='myButton edit-mode' style='display:none'/></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ><input type='button' name='Qty+' id='iQty' value='Qty+'  class='myButton edit-mode'/></td>" +
                   "<td><input type='button' name='Qty-' id='dQty' value='Qty-' class='myButton edit-mode'/></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                for (var i = 1; i < length; i++) {
                    var tr = tbl.rows[row];
                    $('#grdData tbody').find(tr).after(htmlstring);
                    row = row+2;
                }
            })
            $i("#iImageHide").live("click", function () {
                $i('#iImageHide').attr('pattern', 'N');
                $i('#iNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 1000,
                    height: 567, resizable: false,
                    title: "Item",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                $i('#iNewMDialog').dialog('open');
                $i('#iNewMDialog').show();
                $i('#iNewMDialog').load("/ItemMaster/CreateOnfly");
                $i('#iNewMDialog').on('dialogclose', function (event) {
                    $i('#iNewMDialog').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            $i("#cImageHide").live("click", function () {
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 1000,
                    height: 558, resizable: false,
                    title: "Customer",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                $i('#cNewMDialog').dialog('open');
                $i('#cNewMDialog').show();
                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                $i('#cNewMDialog').on('dialogclose', function (event) {
                    $i('#cImageHide').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    var val = $("input[name=Item]").val();
                    if (val != "") {
                        if (!(isNaN(val))) ItemChanges(val);
                    }
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');
            $i('.textbox-text').on("change", function () {
                var val = $(this).val();
                if (val != "") {
                    var comboname = $(this).next()[0].name;
                    val = $("input[name=" + comboname + "]").val();
                    if (comboname == "Item")
                        ItemChanges(val);
                }
            });
            function ItemChanges(item) {
                $i.ajax({
                    url: "/PointOfSales/GetItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $i('#grdData').append(result.Data);
                        var tbl = $("#grdData")[0];
                        Linecalculations();
                        var ttr = tbl.rows[tbl.rows.length - 1]
                        gettaxamount(ttr);
                        var htmlstring = "<tr class='aftershow'><td><input type='button' name='Edit' id='Edit' value='Edit' class='myButton edit-mode' style='display:none'/></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ><input type='button' name='Qty+' id='iQty' value='Qty+'  class='myButton edit-mode'/></td>" +
                     "<td><input type='button' name='Qty-' id='dQty' value='Qty-' class='myButton edit-mode'/></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                        $i('#grdData').append(htmlstring);
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                });
            }
            $i('#Itemddl').on("change", function () {
                var item = $i(this).val();
                $i.ajax({
                    url: "/PointOfSales/GetItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $i('#grdData').append(result.Data);
                        var tbl = $("#grdData")[0];
                        Linecalculations();
                        var ttr = tbl.rows[tbl.rows.length - 1]
                        gettaxamount(ttr);
                        var htmlstring = "<tr class='aftershow'><td><input type='button' name='Edit' id='Edit' value='Edit' class='myButton edit-mode'/></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ><input type='button' name='Qty+' id='iQty' value='Qty+'  class='myButton edit-mode'/></td>" +
                     "<td><input type='button' name='Qty-' id='dQty' value='Qty-' class='myButton edit-mode'/></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                        $i('#grdData').append(htmlstring);
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                });
            });
            $i('.edit-mode').hide();
            $i('.aftershow').hide();
            $i('.rowshow').live('click', function (e) {
                $i('.edit-mode').hide();
                $i('.aftershow').hide();
                $i('.display-mode').show();
                $i('.initshow').show();
                var tr = $(this).parents('tr:first');
                tr.find('.initshow').hide();
                tr.find('.aftershow, .edit-mode, .display-mode').toggle();
                tr.next('tr').show();
                tr.next('tr').find('.edit-mode').show();
            });
            $i('#Remove').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                $(ptr).remove();
                $(tr).remove();
                Linecalculations();
            });
            $i('#iQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) + 1);
                amtcalculation(tr, qty, price, amt);
            })
            $i('#dQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) - 1);
                amtcalculation(tr, qty, price, amt);
            })
            $i('#Quantity').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                amtcalculation(tr, qty, price, amt);
            })
            $i('#Price').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                amtcalculation(tr, qty, price, amt);
            })
            $i('#Amount').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                price = (parseFloat(amt) / parseFloat(qty)).toFixed(2);
                amtcalculation(tr, qty, price, amt);
            })
            $i('#Discount').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Discountdlg").dialog({
                    autoOpen: false,
                    title: "Price & Discount",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Discountdlg').dialog('open');
                $i('#Discountdlg').css("background-color", "#E0ECFF");
                $i('#Discountdlg').css("color", "black");
                $i("#Discountdlg").show();
                $i("#Discountdlg").load("/PointOfSales/DiscountTypes?FormName=PointOfSales&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "");
                $i('#Discountdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    Linecalculations();
                });
            });
            $i('#dynamicuom').live('change', function () {
                var tr = $(this).parents('tr:first');
                var uomid = tr.find('#dynamicuom').val();
                var uom = tr.find('#dynamicuom option:selected').text();
                tr.find('#saveUnitId').text(uomid);
                tr.find('#dUnits').text(uom);
            });
            $i('#Tax').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Taxdlg").dialog({
                    autoOpen: false,
                    title: "Tax Calculation",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Taxdlg').dialog('open');
                $i('#Taxdlg').css("background-color", "#E0ECFF");
                $i('#Taxdlg').css("color", "black");
                $i("#Taxdlg").show();
                $i("#Taxdlg").load("/PointOfSales/TaxInformation?FormName=PointOfSales&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "");
                $i('#Taxdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    Linecalculations();
                });
            });
            $i('#Cash').live('click', function (e) {
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails();
            });
            $i('#Credit').live('click', function (e) {
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails();
            });
            $i('#Debit').live('click', function (e) {
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails();
            });
            $i('#Check').live('click', function (e) {
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails();
            });
            function paymentdetails() {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformation");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                    Linecalculations();
                });
            }
            function amtcalculation(tr, qty, price, amt) {
                amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                tr.find('#dQuantity').text(qty);
                tr.find('#Quantity').val(qty);
                tr.find('#dPrice').text(price);
                tr.find('#Price').val(price);
                tr.find('#dAmount').text(amt);
                tr.find('#Amount').val(amt);  gettaxamount(tr);
            }
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                $("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    debugger
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
                $i('#Itemddl').combobox('textbox').val("");
                $i("input[name=Item]").val("");
                //$i('#Itemddl').combobox('textbox').clear();
                $i('#Itemddl').combobox('textbox').focus();
                //$i('#Customerddl').combobox('textbox')/$("input[name=Item]").focus();
            }
            function gettaxamount(tr) {
                var TaxType = $i(tr).find('#TaxType').val();
                if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;
                if (TaxType > 0) {
                    $.ajax({
                        url: "/PointOfSales/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Tax != '') {
                                var ttal = $i(tr).find('#dAmount').text();
                                tax = result.Tax; tax = (tax * (0.01));
                                tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); }
                            $i(tr).find('#dTaxamt').text(tax);
                            Linecalculations();
                        }
                    })
                }
                else {
                    $i(tr).find('#dTaxamt').text(0);
                    Linecalculations();
                }
            }
            $i('#btnposSave').on('click', function (e) {
                var print = false;
                GridSave(print);
            });
            $i('#SavePrint').on('click', function (e) {
                var print = true;
                GridSave(print);
            });
            function GridSave(Print) {
                $("#divLoading").show();
                var flag = false;
                var Item = $("input[name=Item]").val();
                //if (flag == false) {
                //    if (Item == "" || Item == null || typeof (Item) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Item"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); $("input[name=Item]").focus(); return false;
                //        })
                //    }
                //}
                var Customer = $("input[name=Customer]").val();
                if (flag == false) {
                    if (Customer == "" || Customer == null || typeof (Customer) == "undefined") {
                        flag = true;
                        Alert.render("Please Select Customer"); $("#alertok").focus(); $("#divLoading").hide();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $("input[name=Customer]").focus(); return false;
                        })
                    }
                }
                var Account = $("#inittax").val();
                if (flag == false) {
                    if (Account == "" || Account == null || typeof (Account) == "undefined") {
                        flag = true;
                        Alert.render("Please Select Account Through Payments"); $("#alertok").focus(); $("#divLoading").hide();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); return false;
                        })
                    }
                }
                if (flag == false) {
                    var tbl = $("#grdData")[0];
                    var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                    for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                        var trw = tbl.rows[irow];
                        var rowid = $(trw).find("[id='rowid']").val();
                        if (typeof rowid == "undefined") rowid = 0;
                        var itemid = $(trw).find("[id='saveItemId']").text();
                        if (typeof itemid == "undefined") itval = 0;
                        var ItemName = $(trw).find("[id='dItemName']").text();
                        if (typeof ItemName == "undefined") ItemName = 0;
                        var Units = $(trw).find("[id='saveUnitId']").text();
                        if (typeof Units == "undefined") Units = 0;
                        var Qty = $(trw).find("[id='dQuantity']").text();
                        if (typeof Qty == "undefined") Qty = 0;
                        var Price = $(trw).find("[id='dPrice']").text();
                        if (typeof Price == "undefined") Price = 0;
                        var Amount = $(trw).find("[id='dAmount']").text();
                        if (typeof Amount == "undefined") Amount = 0;
                        var Discount = $(trw).find("[id='ddiscount']").text();
                        if (typeof Discount == "undefined") Discount = 0;
                        var TaxType = $(trw).find("[id='TaxType']").val();
                        if (typeof TaxType == "undefined") TaxType = 0;
                        var TaxAmt = $(trw).find("[id='dTaxamt']").text();
                        if (typeof TaxAmt == "undefined") TaxAmt = 0;

                        xmldata = xmldata + "<Column><ItemID>" + itemid + "</ItemID>";
                        xmldata = xmldata + "<ItemName>" + ItemName + "</ItemName>";
                        xmldata = xmldata + "<Units>" + Units + "</Units>";
                        xmldata = xmldata + "<Qty>" + Qty + "</Qty>";
                        xmldata = xmldata + "<Price>" + Price + "</Price>";
                        xmldata = xmldata + "<Amount>" + Amount + "</Amount>";
                        xmldata = xmldata + "<Discount>" + Discount + "</Discount>";
                        xmldata = xmldata + "<TaxType>" + TaxType + "</TaxType>";
                        xmldata = xmldata + "<TaxAmt>" + TaxAmt + "</TaxAmt>";
                        xmldata = xmldata + "<rowid>" + rowid + "</rowid></Column>";
                        irow = irow + 1;
                    }
                    xmldata = xmldata + "</ROOT>";
                    if (xmldata != "<ROOT></ROOT>") {
                        var dataparam = { list: xmldata };
                        $.ajax({
                            url: "/PointOfSales/POSSaveGrid",
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "html",
                            cache: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (resultG) {
                                FormSave(Print);
                            }
                        });
                    }
                }
            }
            function FormSave(Print) {
                var Qty = $('#totqty').text();
                var SubTotal = $('#subtot').text();
                var Discount = $('#totdis').text();
                var TaxAmt = $('#tottax').text();
                var TotAmt = $('#totamt').text();
                var PayAmt = $('#initdue').val();
                var PayAcc = $('#inittax').val();
                var Customer = $("input[name=Customer]").val();
                var dataparam = {
                    Qty: Qty, SubTotal: SubTotal, Discount: Discount, TaxAmt: TaxAmt,
                    TotAmt: TotAmt, PayAmt: PayAmt, PayAcc: PayAcc, Customer: Customer, ide: '@Request["ide"]'
                };
                $.ajax({
                    url: "/PointOfSales/EditSaveform",
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (resultG) {
                        $("#divLoading").hide();
                        if (resultG.Data > 0) {
                            if (Print == true)
                                window.location.href = "/Print/InvoiceCustom?sono=" + resultG.InvoiceNo + "";
                            else
                                window.location.href = "/PointOfSales/PointOfSalesInfo?idi=" + resultG.idi + "&FormName=" + resultG.FormName + "";
                        }
                    }
                });
            }
        });
        </script>
    </head>
<body>
    @{var m = Model.Where(a => a.rCustomerno != null).FirstOrDefault();}
    <div id="poscreate" style="width:100%">
    <div id="mastercreate" class="mastercreate">
        <div id="Item" class="itemddl">
         <div class="itemlabel">Item</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:250px;height:30px;" })</div>
        </div>
        <div id="Customer" class="itemddl">
        <div class="itemlabel">Customer</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Customer", null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
        <input type="button" class="myButtonline" id="btnDelete"  value="Delete"  onclick="@("window.location.href='" + @Url.Action("PointOfSalesDelete", "PointOfSales", new { idi = Request["idi"], FormName = Request["FormName"], ide = Request["ide"] }) + "'")    ; " /></div>
    </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="iteminfo" class="griddisplay">
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query(@"SELECT ROW_NUMBER() OVER (ORDER BY l.COLUMN02) [SNo], m.COLUMN04 [Item/Product], m.COLUMN04 ItemName, u.COLUMN04 Units, l.COLUMN10 Qty, l.COLUMN13 Price, l.COLUMN14 Amount,l.COLUMN21 lTaxType,l.COLUMN23 lTaxAmt,l.COLUMN19 lDiscount,l.COLUMN22 lUnits,cast((cast(isnull(l.COLUMN19,0) as decimal(18,2))/cast(isnull(l.COLUMN14,0) as decimal(18,2)))*(100) as decimal) lDiscountper,l.COLUMN02 rowid,l.COLUMN05 saveItemId FROM SATABLE009 h inner join SATABLE010 l on l.COLUMN15=h.COLUMN01 
left JOIN MATABLE007 m  ON m.COLUMN02 = l.COLUMN05 left JOIN MATABLE002 u  ON l.COLUMN24 = u.COLUMN02  where h.column02=" + @Request["ide"] + "");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
         @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns :(
    grid.Columns(grid.Column("SNo", style: "col1",format:@<div class="rowshow"><div class="initshow"><span name="dItemId" id="dItemId">@item.SNo</span></div><input type="text" name="ItemId" id="ItemId" value="@item.SNo" class="txtgridclass edit-mode"/><span id="saveItemId" style="display:none">@item.saveItemId</span></div>),
         grid.Column("Item/Product",style: "col2",format:@<div class="rowshow"><div class="initshow"><span name="dItemName" id="dItemName">@item.ItemName</span></div><input type="text" name="ItemName" id="ItemName" value="@item.ItemName" class="txtgridclass edit-mode"/></div>),
         grid.Column("Units",style: "col3",format:@<div class="rowshow"><div class="initshow"><span name="dUnits" id="dUnits">@item.Units</span></div><input type="text" name="dynamicuom" id="dynamicuom" value="@item.Units" class="txtgridclass edit-mode"/></div>),
         grid.Column("Qty",style: "col4",format:@<div class="rowshow"><div class="initshow"><span name="dQuantity" id="dQuantity">@item.Qty</span></div><input type="text" name="Quantity" id="Quantity" value="@item.Qty" class="txtgridclass edit-mode"/></div>),
         grid.Column("Price",style: "col5",format:@<div class="rowshow"><div class="initshow"><span name="dPrice" id="dPrice">@item.Price</span></div><input type="text" name="Price" id="Price" value="@item.Price" class="txtgridclass edit-mode"/></div>),
         grid.Column("Amount",style: "col6",format:@<div class="rowshow"><div class="initshow"><span name="dAmount" id="dAmount">@item.Amount</span></div><input type="text" name="Amount" id="Amount" value="@item.Amount" class="txtgridclass edit-mode"/><div style="display:none"><span name="dTaxamt" id="dTaxamt">@item.lTaxAmt</span></div><input type="text" name="TaxType" id="TaxType" value="@item.lTaxType" class="txtgridclass"  style="display:none"/><div style="display:none"><span name="ddiscount" id="ddiscount">@item.lDiscount</span></div><input type="text" name="Discount" id="Discount" value="@item.lDiscountper" class="txtgridclass" style="display:none"/><div style="display:none"><span name="saveUnitId" id="saveUnitId">@item.lUnits</span></div><input type="text" name="chkrow" id="chkrow" value="false" class="txtgridclass" style="display:none" /><input type="text" name="rowid" id="rowid" value="@item.rowid" style="display:none" /></div>))
)
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="float:left;width:50%;"></div><div class="totalinfo">
          <div>  <div class="totallbls">No. of Items Sold</div><div id="totitems" class="totaltxts"> @m.rNoofitems</div> </div>
          <div>  <div class="totallbls">Total Quantity Sold</div><div id="totqty" class="totaltxts">@m.rTotalItems</div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts">@m.rSubTotal</div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts">@m.rDiscount</div> </div>
          <div>  <div class="totallbls">Tax</div><div id="tottax" class="totaltxts">@m.rTax</div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt">@m.rTotal</div> </div>
        </div></div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        <input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>
        </div>  <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt">@m.rDueamt</div>
                </div>
        </div>
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel" class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("PointOfSalesInfo", "PointOfSales", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
        <input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline"/>
        <input type="button" name="Save&Print" id="SavePrint" value="Save&Print" class="myButtonline"/></div>
            <input type="text"  style="display:none;" id="initdue" value="@m.rPayment"/>
            <input type="text"  style="display:none;" id="inittax" value="@m.rAccount"/>
            </div>
    </div>
    
</body>
</html>