﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "Sales Receipt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    var val = $("input[name=Item]").val();
                    if (val != "") {
                        if (!(isNaN(val))) ItemChanges(val);
                    }
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');

            $i('#Cash').live('click', function (e) {
                debugger
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Credit').live('click', function (e) {
                debugger
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Debit').live('click', function (e) {
                debugger
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Check').live('click', function (e) {
                debugger
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            function paymentdetails(a) {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformationEdit?TypeChk=" + a + "");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                });
            }
            function paymentdetailsCash() {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformationCashEdit");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                });
            }
        });
        </script>
    </head>
<body>
    @{var m = Model.Where(a => a.rCustomerno != null).FirstOrDefault();}
    <div id="poscreate" style="width:100%">
    <div id="mastercreate" class="mastercreate">
        <div id="Item" class="itemddl">
         <div class="itemlabel">Item</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:250px;height:30px;" })</div>
        </div>
        <div id="Customer" class="itemddl">
        <div class="itemlabel">Customer</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Customer", null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
        <input type="button" class="myButtonline" id="btnReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptNew", "ReturnReceipt", new { idi = "3139", FormName = "Return Receipt", ide = Request["ide"] }) + "'")    ; "" /></div>  
    </div>
    <div id="iteminfo" class="griddisplay" style="height:100px; overflow:scroll">
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query(@"SELECT ROW_NUMBER() OVER (ORDER BY l.COLUMN02) [S.No], m.COLUMN04 [Item/Product], u.COLUMN04 Units, l.COLUMN10 Qty, l.COLUMN13 Price, l.COLUMN14 Amount FROM SATABLE009 h inner join SATABLE010 l on l.COLUMN15=h.COLUMN01 
left JOIN MATABLE007 m  ON m.COLUMN02 = l.COLUMN05 left JOIN MATABLE002 u  ON l.COLUMN24 = u.COLUMN02  where h.column02=" + @Request["ide"] + "");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
         @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns :(
    grid.Columns(grid.Column("S.No", style: "col1"),grid.Column("Item/Product",style: "col2"),
    grid.Column("Units",style: "col3"),grid.Column("Qty",style: "col4"),grid.Column("Price",style: "col5"),
   grid.Column("Amount",style: "col6"))) 
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="width:45%; float:left">
                <div>
                     @foreach (var item12 in ViewBag.pitemsdata)
                     {
                         <div class="totallbls" style="text-align:left">The amount Paid through @item12["PayType"] : @item12["Payment"] </div>
                     }


                </div>
            </div>
            <div class="totalinfo">
                
          <div>  <div class="totallbls">No. of Items Sold</div><div id="totitems" class="totaltxts"> @m.rNoofitems</div> </div>
          <div>  <div class="totallbls">Total Quantity Sold</div><div id="totqty" class="totaltxts">@m.rTotalItems</div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts">@m.rSubTotal</div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts">@m.rDiscount</div> </div>
          <div>  <div class="totallbls">Tax</div><div id="tottax" class="totaltxts">@m.rTax</div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt">@m.rTotal</div> </div>
        </div></div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        <input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>
        </div>  <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt">@m.rDueamt</div>
                </div>
        </div>
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel"  class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("PointOfSalesInfo", "PointOfSales", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
        @*<input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline" disabled="disabled" />
        <input type="button" name="Print" id="SavePrint" value="Print" class="myButtonline" disabled="disabled" />*@
            @{var idPrint = Request["ide"];}
        @Html.ActionLink("Print", "InvoiceCustom", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont",style="width:30px;float:right;margin-left:3px" })
        </div>
            <input type="text"  style="display:none;" id="initdue" value=""/>
            <input type="text"  style="display:none;" id="inittax" value="@m.rPayAcc"/>      
               <input type="text"  style="display:none;" id="Type" value=""/>
            <input type="text"  style="display:none;" id="CardNo1" value="@m.rcardNo"/>
            </div>
    </div>
    
</body>
</html>