﻿<html>
     <head>  
   <div id="Taxdlg"  style="font-size:11.5px;color:black;background:#E0ECFF;"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i(function () {
                debugger
                var Qty = '@Request["Qty"]';
                var Price = '@Request["Price"]';
                var Discount = '@Request["Discount"]';
                var TaxType = '@Request["TaxType"]';
                if (Qty == "" || typeof (Qty) == "undefined") Qty = 0;
                if (Price == "" || typeof (Price) == "undefined") Price = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                var Amount = (parseFloat(Qty) * parseFloat(Price)).toFixed(2);
                $("#taxqty").val(Amount);
                if (Discount > 0) Amount = ((parseFloat(Qty) * parseFloat(Price)) - parseFloat(Discount)).toFixed(2);
                $("#taxprice").val(Discount);
                $("#taxamt").val(Amount);
                if (Discount > 0) {}
                    $("#taxqty").prop("disabled", true);
                    $("#taxprice").prop("disabled", true);
                    $("#taxamt").prop("disabled", true);
                
                $("#taxtype").val(TaxType);
                gettaxamount(TaxType)
            });
            $i('#btntaxok').on("click", function () {
                var tbl = $("#grdData")[0];
                var qty = $('#taxqty').val();
                var price = $('#taxprice').val();
                var amt = $('#taxamt').val();
                var taxamt = $('#taxval').val();
                var taxtype = $('#taxtype').val();
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        //$i(tr).find('#Quantity').val(qty);
                        //$i(tr).find('#Price').val(price);
                        $i(tr).find('#Amount').val(qty);
                        $i(tr).find('#TaxType').attr('value', taxtype);
                        //$i(tr).find('#TaxTypes').text(taxtype);
                        $i(tr).find('#dTaxamt').text(taxamt);
                        $i(tr).find('#chkrow').val(0);
                        //$i(tr).find('#dQuantity').text(qty);
                        //$i(tr).find('#dPrice').text(price);
                        $i(tr).find('#dAmount').text(qty);
                        break;
                    }
                }
                $i('#Taxdlg').dialog('close');
                Linecalculations();
            });
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                $("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
            }
            $i('#btntaxcancel').on("click", function () {
                var tbl = $("#grdData")[0];
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        $i(tr).find('#chkrow').val(0);
                    }
                }
                $i('#Taxdlg').dialog('close');
            });
            $i('#taxtype').live('change', function (e) {
                gettaxamount($(this).val());
            })
            function gettaxamount(TaxType) {
                if (TaxType > 0) {
                    $.ajax({
                        url: "/PointOfSales/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Tax != '') {
                                var ttal = $('#taxamt').val();
                                tax = result.Tax; tax = (tax * (0.01));
                                tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); }
                            $('#taxval').val(tax);
                        }
                    })
                }
            }
        });
        </script>
 </head>
    <body>
        <div style="background-color:#E0ECFF;color:black;width:97%;height:180px;">
       <div style="float:left;width:100%;">
        <div style="padding: 7px;font-size: larger;">Tax Information</div>
        <div id="discountcal" style="float:left;width:100%;">
            <div style="float: left;width: 100%;padding: 3px;"><div  style="float:left;width: 30%;text-align:center;">Amount</div> <div style="float:left;width: 24%;text-align:center;">Discount</div> <div  style="float:left;width: 24%;text-align:right;">Total Amount</div></div>
            <div style="float: left;width: 100%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="taxqty" id="taxqty" style="width:95px;"/>&nbsp;-&nbsp;</div> <div style="float:left;width: 27%;text-align: center;"><input type="text" name="taxprice" id="taxprice" style="width:95px;"/>&nbsp;=</div> <div style="float:left;width: 24%;text-align: center;"><input type="text" name="taxamt" id="taxamt" style="width:95px;"/></div></div>
            <div style="float: left;width: 100%;padding: 6px;"><div  style="float:left;width: 30%;text-align:center;">Tax Type</div> <div style="float:left;width: 24%;text-align:center;">Tax Amount</div></div>
            <div style="float: left;width: 100%;"><div style="float:left;width: 28%;text-align: right;">@Html.DropDownList("TaxType", new SelectList((SelectList)ViewData["TaxType"], "Value", "Text"), "--Select--", new { @id = "taxtype",@style="width: 100px;height: 22px;"})</div>&nbsp;&nbsp; <div style="float:left;width: 32%;text-align: center;"><input type="text" name="taxval" id="taxval" style="width:95px;"/></div></div>
       </div>
        <div style="float:left;width:100%;">
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='CANCEL' id='btntaxcancel' value='CANCEL' class='myButton'/></div>
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='OK' id='btntaxok' value='OK' class='myButton'/></div>
            </div>
        </div>
        </div>
    </body>
</html>