﻿@{
    ViewBag.Title = "Service Receipt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
    @*//EMPHCS1814 rajasekhar reddy patakota 12/09/2016 Retail Changes for Sales Receipt screens*@
<meta http-equiv='cache-control' content='no-cache' />
<meta http-equiv='expires' content='0' />
<meta http-equiv='pragma' content='no-cache' />
     <script src="~/Scripts/jquery-1.7.1.js?n=1"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js?n=1"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js?n=1"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js?n=1"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            RetailRoundoffsetup();
            var OPUnit1 = '@Session["OPUnit1"]';
            RetailOperatingCheck(OPUnit1);
            dateupdate('@Session["ReportDate"]');
            if ($i(".headerEmtyCont")) {
                $i(".headerEmtyCont").slideUp(8000);
            }

            $i(document).click(function (e) {
                if (!$('.initshow').is(e.target) || !$('.initshow').has(e.target)) {
                    if (!$('.rowshow').is(e.target) && !$('.aftershow').is(e.target) && !$('.edit-mode').is(e.target)) {
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                }
            });

            $i("#iImageHide").live("click", function () {
                $i('#iImageHide').attr('pattern', 'N');
                $i('#iNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 650,
                    height: 645, resizable: false,
                    title: "Item",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                $i('#iNewMDialog').dialog('open');
                $i('#iNewMDialog').show();
		//EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                $i('#iNewMDialog').load("/ItemMaster/CreateOnfly?ItemType=ServiceItem");
                $i('#iNewMDialog').on('dialogclose', function (event) {
                    $i('#iNewMDialog').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                $i('#iNewMDialog').css("height", "700px");
                return false;
            });
            $i("#cImageHide").live("click", function () {
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 450,
                    height: 250, resizable: false,
                    title: "Customer",
                    closeOnEscape: false
                })
                $('.window').css("top", 120);
                $('.window-shadow').css("top", 120);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                $i('#cNewMDialog').dialog('open');
                $('.window-shadow').css("top", 120);
                $i('#cNewMDialog').show();
                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                $i('#cNewMDialog').on('dialogclose', function (event) {
                    $i('#cImageHide').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            var keypressed = 0;
            //$i(document).on('keydown', function (e) {
                
            //    var name = e.target.nextSibling.name;
            //    if ((e.keyCode === 38 ) && keypressed == 1 && name != "Customer") { //up or down|| e.keyCode === 40
            //        keypressed = 0;
            //        var tbl = $("#grdData")[0];
            //        var ttr = tbl.rows[tbl.rows.length - 1];
            //        if (tbl.rows.length > 1) {
            //            $(ttr).remove();
            //            ttr = tbl.rows[tbl.rows.length - 1];
            //            $(ttr).remove();
            //            Linecalculations();
            //        }
            //        e.preventDefault();
            //        return false;
            //    }
            //});
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    //var val = $("input[name=Item]").val();
                    //if (val != "") {
                    //    if (!(isNaN(val))) ItemChanges(val);
                    //}
                    $i('.textbox-text:first').focus();
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');
            $i('.textbox-text:first').focus();
            $(".textbox-text").keydown(function (e) {
                
                if (e.keyCode === 9 || e.keyCode === 13 || e.keyCode === 16) {
                    var name = e.target.nextSibling.name;
                    var val = $(this).val();
                    if (val != "" && name != "Customer") {
                        
                        var comboname = $(this).next()[0].name;
                        val = $("input[name=" + comboname + "]").val();
                        if (comboname == "Item")
                            ItemChanges(val);
                    }
                    else if (val != "" && name == "Customer") {
                        CustomerSearch(val);
                    }
                        $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                        $i('.textbox-text:first').focus();
                }
            });
            $i('.textbox-text').on("change", function () {
                var val = $(this).val();
                if (val != "") {
                    var comboname = $(this).next()[0].name;
                    val = $("input[name=" + comboname + "]").val();
                    //if (comboname == "Item")
                    //    ItemChanges(val);
                    //else if (comboname == "Customer") 
                    //    CustomerSearch(val); 
                }
            });
            function CustomerSearch(CustomerId) {
                $.session.set("Customer", CustomerId);
                if (CustomerId > 0) {
                    $i.ajax({
                        url: "/PointOfSales/GetCustomerDetails",
                        type: "POST",
                        data: JSON.stringify({ CustomerId: CustomerId }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Data != 0)
                                $i("#Customerddl").combobox('setValue', result.Data);
                            else {
                                $.session.set("CustomerChk", "0");
                                $i('#cImageHide').attr('pattern', 'N');
                                $i('#cNewMDialog').dialog({
                                    autoOpen: false,
                                    modal: true,
                                    width: 450,
                                    height: 250, resizable: false,
                                    title: "Customer",
                                    closeOnEscape: false
                                })
                                $('.window').css("top", 120);
                                $('.window-shadow').css("top", 120);
                                $i('#tabs1').tabs();
                                $i(this).attr('pattern', 'Y');
                                $i('.ui-dialog').show();
                                $i('.ui-dialog-titlebar').show();
                                $i('.ui-widget-overlay').show();
                                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                        $i('.ui-dialog')[0].id = 'pnewDialog';
                                        $i('#cNewMDialog').hide();
                                    }
                                }
                                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                        $i('.ui-dialog')[1].id = 'pnewDialog';
                                        $i('#cNewMDialog').hide();
                                    }
                                }
                                $i('#cNewMDialog').dialog('open');
                                $('.window-shadow').css("top", 120);
                                $i('#cNewMDialog').show();
                                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                                $i('#cNewMDialog').on('dialogclose', function (event) {
                                    $i('#cImageHide').attr('pattern', 'N');
                                    $i(this).dialog("close");
                                    $i(".ui-widget-overlay").hide();
                                    DynamicPopupcancel();

                                });
                                return false;
                            }
                        }

                    })
                }
                else {
                    debugger
                    $.session.set("CustomerChk", "");
                    $i('#cImageHide').attr('pattern', 'N');
                    $i('#cNewMDialog').dialog({
                        autoOpen: false,
                        modal: true,
                        width: 450,
                        height: 250, resizable: false,
                        title: "Customer",
                        closeOnEscape: false
                    })
                    $('.window').css("top", 120);
                    $('.window-shadow').css("top", 120);
                    $i('#tabs1').tabs();
                    $i(this).attr('pattern', 'Y');
                    $i('.ui-dialog').show();
                    $i('.ui-dialog-titlebar').show();
                    $i('.ui-widget-overlay').show();
                    if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                        if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                            $i('.ui-dialog')[0].id = 'pnewDialog';
                            $i('#cNewMDialog').hide();
                        }
                    }
                    if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                        if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                            $i('.ui-dialog')[1].id = 'pnewDialog';
                            $i('#cNewMDialog').hide();
                        }
                    }
                    $i('#cNewMDialog').dialog('open');
                    $('.window-shadow').css("top", 120);
                    $i('#cNewMDialog').show();
                    $i('#cNewMDialog').load("/Customer/InsertOnfly");
                    $i('#cNewMDialog').on('dialogclose', function (event) {
                        $i('#cImageHide').attr('pattern', 'N');
                        $i(this).dialog("close");
                        $i(".ui-widget-overlay").hide();
                        DynamicPopupcancel();

                    });
                    return false;
                }
            };
            function ItemChanges(item) {
                $i.ajax({
                    url: "/ServiceReceipt/GetServiceItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    async:false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        keypressed = 0;
                        if (result.Data != null && result.Data != "") {
                        keypressed = 1;
                            $i('#grdData').append(result.Data);
                            var tbl = $("#grdData")[0];
                            var ttr = tbl.rows[tbl.rows.length - 1]
                            var Customer = $("input[name=Customer]").val();
                            //if (Customer != "")
                            //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                            //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                            //gettaxamount(ttr);
                            GetRetailTransCalc(ttr, "Line");
                            var htmlstring = "<tr class='aftershow'><td> </td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                         "<td></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                            $i('#grdData').append(htmlstring);
                            $i('.aftershow').hide();
                            $i('.edit-mode').hide();
                            $i('.initshow').show();
                        }
                    }
                });
            }
            $i('#Itemddl').on("change", function () {
                var item = $i(this).val();
                $i.ajax({
                    url: "/ServiceReceipt/GetServiceItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Data != null && result.Data != "") {
                            $i('#grdData').append(result.Data);
                            var tbl = $("#grdData")[0];
                            var ttr = tbl.rows[tbl.rows.length - 1]
                            var Customer = $("input[name=Customer]").val();
                            //if (Customer != "")
                            //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                            //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                            //gettaxamount(ttr);
                            GetRetailTransCalc(ttr, "Line");
                            var htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                         "<td></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                            $i('#grdData').append(htmlstring);
                            $i('.aftershow').hide();
                            $i('.edit-mode').hide();
                            $i('.initshow').show();
                        }
                    }
                });
            });
            $i('.edit-mode').hide();
            $i('.aftershow').hide();
            $i('.rowshow').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var rChk = tr.find('.initshow');
                var row_index = $(this).closest('tr').index();
             
                var a1 = rChk[6].style.display;
                if (a1 == "") {

                $i('.edit-mode').hide();
                $i('.aftershow').hide();
                $i('.display-mode').show();
                $i('.initshow').show();
                var tr = $(this).parents('tr:first');
                tr.find('.initshow').hide();
                tr.find('.aftershow, .edit-mode, .display-mode').toggle();
                tr.next('tr').show();
                tr.next('tr').find('.edit-mode').show();
                }
            });
            $i('#Remove').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                $(ptr).remove();
                $(tr).remove();
                //Linecalculations();
                GetRetailTransCalc("", "Header");
            });
            $i('#iQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) + 1);
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#dQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) - 1);
                if (parseFloat(qty) < 0) {
                    Alert.render('Please Enter greater than Zero value for Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close");
                        tr.find('#Quantity').focus();
                        tr.find('#Quantity').val("");
                        GetRetailTransCalc(tr, "Line");
                        return false;
                    })
                return false;
                }
                GetRetailTransCalc(tr, "Line");
                //amtcalculation(tr, qty, price, amt);
            })
            $i('#Quantity').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Price').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                var Customer = $("input[name=Customer]").val();
                //if (Customer != "")
                //    RetailGSTBasedTaxes(tr, tr.find("[id='saveItemId']").text(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(tr).find("[id='Price']").val());
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Amount').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                price = (parseFloat(amt) / parseFloat(qty)).toFixed(2);
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Discount').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var TaxAmount = ptr.find('#dTaxamt').text();
                var CessAmount = ptr.find('#dcessper').text();
                var Amtin = $i('#Amtinddl').val()
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Discountdlg").dialog({
                    autoOpen: false,
                    title: "Price & Discount",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Discountdlg').dialog('open');
                $i('#Discountdlg').css("background-color", "#E0ECFF");
                $i('#Discountdlg').css("color", "black");
                $i("#Discountdlg").show();
                $i("#Discountdlg").load("/ServiceReceipt/ServiceDiscountTypes?FormName=ServiceReceipt&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&TaxAmount=" + TaxAmount + "&CessAmount=" + CessAmount + "&Amtin=" + Amtin + "");
                $i('#Discountdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //Linecalculations();
                    GetRetailTransCalc("", "Header");
                });
            });
            $i('#dynamicuom').live('change', function () {debugger
                var tr = $(this).parents('tr:first');
                var uomid = tr.find('#dynamicuom').val();
                var uom = tr.find('#dynamicuom option:selected').text();
                tr.find('#saveUnitId').text(uomid);
                tr.find('#dUnits').text(uom);
            });
            $i('#Tax').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var TaxAmount = ptr.find('#dTaxamt').text();
                var CessAmount = ptr.find('#dcessper').text();
                var TDSAmount = ptr.find('#dtds').text();
                var ItemId = ptr.find('#saveItemId').text();
                var Customer = $("input[name=Customer]").val();
                var Date = $("[id='CreatedDate']").val();
                var Amtin = $i('#Amtinddl').val()
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Taxdlg").dialog({
                    autoOpen: false,
                    title: "Tax Calculation",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Taxdlg').dialog('open');
                $i('#Taxdlg').css("background-color", "#E0ECFF");
                $i('#Taxdlg').css("color", "black");
                $i("#Taxdlg").show();
                $i("#Taxdlg").load("/ServiceReceipt/ServiceTaxInformation?FormName=ServiceReceipt&ItemId=" + ItemId + "&Customer=" + Customer + "&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&TaxAmount=" + TaxAmount + "&CessAmount=" + CessAmount + "&TDSAmount=" + TDSAmount + "&Date=" + Date + "&Amtin=" + Amtin + "");
                $i('#Taxdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //gettaxamount(ptr);
                    //Linecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#Cash').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
            });
            $i('#Credit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
                //paymentdetails();
            });
            $i('#Debit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
            });
            $i('#Check').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
            });

            $i("[id='roundoffadjamt']").on("change", function (e) {
                GetRetailTransCalc("", "Header");
            });
            $i('#Amtinddl').live('change', function (e) {
                GetRetailTotalTransCalcs();
            });
            function PaymentInformationNewCash(a) {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformationNewCash?TypeChk=" + a + "");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                    Linecalculations();
                });
            }
            function amtcalculation(tr, qty, price, amt) {
                amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                tr.find('#dQuantity').text(qty);
                tr.find('#Quantity').val(qty);
                tr.find('#dPrice').text(price);
                tr.find('#Price').val(price);
                tr.find('#dAmount').text(amt);
                tr.find('#Amount').val(amt);
                //Linecalculations();
                gettaxamount(tr);
            }
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;var servicetax = 0;var tdsamt = 0; var cessamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
		//EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var tr = $(this).parents('tr:first');
                    var amount = $(tr).find("[id='dAmount']").text();
                    var servicetax = $(tr).find("[id='dTaxamt']").text();
                    var itax = $(tr).find("[id='dservicetax']").text();
                    var discount = $(tr).find("[id='ddiscount']").text();
                    if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    if (typeof (servicetax) == "undefined" || servicetax == '') servicetax = 0;
                    if (typeof (amount) == "undefined" || amount == '') amount = 0;
                    if (itax == 0) $(tr).find("[id='dcessper']").text(0);
                    taxamt = ((parseFloat(taxamt) + (parseFloat(itax) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                    //taxamt = ((parseFloat(taxamt) + (parseFloat(itax))).toFixed(2));
                })
                $('#grdData tr td span[id="dservicetax"]').each(function () {
                    //var itax = $(this).text();
                    //var tr = $(this).parents('tr:first');
                    //var amount = $(tr).find("[id='dAmount']").text();
                    //if (typeof (amount) == "undefined" || amount == '') amount = 0;
                    //if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    //debugger
                    //if (itax == 0) { itax = 0; 
                    //$(tr).find("[id='dcessper']").text(0);}
                    //var discount = $(tr).find("[id='ddiscount']").text();
                    //if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    //taxamt = ((parseFloat(taxamt) + (parseFloat(itax) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                })
                $('#grdData tr td span[id="dtds"]').each(function () {
                    var itds = $(this).text();
                    if (itds == "" || typeof (itds) == "undefined") itds = 0;
                    tdsamt = (parseFloat(tdsamt) + parseFloat(itds)).toFixed(2);
                })
                $('#grdData tr td span[id="dcessper"]').each(function () {
                    var icess = $(this).text();
                    if (taxamt == 0) {
                        icess = 0}
                    if (icess == "" || typeof (icess) == "undefined") icess = 0;
                    var tr = $(this).parents('tr:first');
                    var amount = $(tr).find("[id='dAmount']").text();
                    if (typeof(amount) == "undefined"||amount=='') amount = 0;
                    var discount = $(tr).find("[id='ddiscount']").text();
                    if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    if (icess == "" || typeof (icess) == "undefined") icess = 0;
                    cessamt = ((parseFloat(cessamt) + ((parseFloat(icess)) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#tdstax").text(tdsamt);
                $("#cesstax").text(cessamt);
                $("#cesstax1").text(cessamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt)+ parseFloat(cessamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                //EMPHCS1829 : After Clicking On Cash . Even Discount , Tax , Qty Inc Or Dec Amount Showing Nagative By GNANESHWAR ON 9/11/2016
		$("#totdue").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt) + parseFloat(cessamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                $("#inittax").val("");
                $("#payamt").val("");
                //$("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
                //$i('#Itemddl').combobox('textbox').val("");
                //$i("input[name=Item]").val("");
                ////$i('#Itemddl').combobox('textbox').clear();
                //$i('#Itemddl').combobox('textbox').focus();
                ////$i('#Customerddl').combobox('textbox')/$("input[name=Item]").focus();
            }
            function gettaxamount(tr) {
                var TaxType = $i(tr).find('#TaxType').val();
                if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;

                var disper1 = $i(tr).find('#disper1').val();
                if (disper1 == "" || typeof (disper1) == "undefined") disper1 = 0;

                if (TaxType!='') {
                    $.ajax({
                        url: "/PointOfSales/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        async:false,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Agency != '22401') { $i(tr).find('#dcess').text(0); $i(tr).find('#dcessper').text(0); }
                            if (result.Tax != '') {
                                var ttal = $i(tr).find('#dAmount').text();
                                tax = result.Tax; tax = (tax * (0.01));
				//EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                                $i(tr).find('#dservicetax').text(tax);
                                var discount = $i(tr).find('#ddiscount').text();
                                if (discount == "" || typeof (discount) == "undefined") discount = 0;
                                ttal = ((parseFloat(ttal) - parseFloat(discount)).toFixed(2));
                                if (result.grptaxes.length > 0)
                                    tax = GroupTaxCalculations(tr, ttal, result.grptaxes);
                                else
                                    tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); $i(tr).find('#dservicetax').text(0); }
                            $i(tr).find('#dTaxamt').text(tax);
                            //if (disper1 > 0) disper1 = (parseFloat(ttal) * (parseFloat(disper1) / parseFloat(100))).toFixed(2);
                            //$i(tr).find('#ddiscount').text(disper1);
                        }
                    })
                }
                Linecalculations();
            }
            $i('#btnposSave').on('click', function (e) {
                var print = false;
                GridSave(print);
            });
            $i('#SavePrint').on('click', function (e) {
                var print = true;
                GridSave(print);
            });
            function GridSave(Print) {
                $("#divLoading").show();
                var flag = false;
                flag = RetailOperatingCheck('@Session["OPUnit1"]');
                var Item = $("input[name=Item]").val();
                //if (flag == false) {
                //    if (Item == "" || Item == null || typeof (Item) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Item"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); $("input[name=Item]").focus(); return false;
                //        })
                //    }
                //}
                var Customer = $("input[name=Customer]").val();
                if (flag == false) {
                    if (Customer == "" || Customer == null || typeof (Customer) == "undefined" || isNaN(parseInt(Customer))) {
                        flag = true;
                        Alert.render("Please Select Customer"); $("#alertok").focus(); $("#divLoading").hide();
                        $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name').val('');
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $i("#Customerddl").combobox('setValue', ""); $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name').focus(); return false;
                        })
                    }
                }
                var Account = document.getElementById("inittax").defaultValue;
	        var TotAmt = $('#totamt').text();

                if (TotAmt == "" || TotAmt == "0.00" || TotAmt == null || typeof (TotAmt) == "undefined") {
                    flag = true;
                    Alert.render("There Is No Payments To pay"); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
                //var Account = $("#inittax").val();
                //if (flag == false) {
                //    if (Account == "" || Account == null || typeof (Account) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Account Through Payments"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); return false;
                //        })
                //    }
                //}
                if (flag == false) {
                    var tbl = $("#grdData")[0];
                    var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                    for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                        var trw = tbl.rows[irow];
                        var classname = trw.className;
                        if (classname != "webgrid-header" && classname != "aftershow") {
                            var itemid = $(trw).find("[id='saveItemId']").text();
                            if (typeof itemid == "undefined") itval = 0;
                            var ItemName = $(trw).find("[id='dItemName']").text();
                            if (typeof ItemName == "undefined") ItemName = 0;
                            var Units = $(trw).find("[id='saveUnitId']").text();
                            if (typeof Units == "undefined") Units = 0;
                            var Qty = $(trw).find("[id='dQuantity']").text();
                            if (typeof Qty == "undefined") Qty = 0;
                            var Price = $(trw).find("[id='dPrice']").text();
                            if (typeof Price == "undefined") Price = 0;
                            var Rate = $(trw).find("[id='Rate']").val();
                            if (typeof Rate == "undefined") Rate = 0;
                            var Amount = $(trw).find("[id='dAmount']").text();
                            if (typeof Amount == "undefined") Amount = 0;
                            var InAmount = $(trw).find("[id='InAmount']").val();
                            if (typeof InAmount == "undefined" || InAmount == "") InAmount = 0;
                            if (InAmount != 0) Amount = InAmount;
                            var Discount = $(trw).find("[id='ddiscount']").text();
                            if (typeof Discount == "undefined") Discount = 0;
                            var TaxType = $(trw).find("[id='TaxType']").val();
                            if (typeof (TaxType) == "undefined" || TaxType == "" || TaxType == 0) TaxType = 1000;
                            var TaxAmt = $(trw).find("[id='dTaxamt']").text();
                            if (typeof TaxAmt == "undefined") TaxAmt = 0;
                            var CessAmount = $(trw).find("[id='dcess']").text();
                            if (typeof (CessAmount) == "undefined") CessAmount = 0;
                            var TDSAmt = $(trw).find("[id='dtds']").text();
                            if (typeof (TDSAmt) == "undefined") TDSAmt = 0;

                            xmldata = xmldata + "<Column><ItemID>" + itemid + "</ItemID>";
                            xmldata = xmldata + "<ItemName>" + ItemName + "</ItemName>";
                            xmldata = xmldata + "<Units>" + Units + "</Units>";
                            xmldata = xmldata + "<Qty>" + Qty + "</Qty>";
                            xmldata = xmldata + "<Price>" + Price + "</Price>";
                            xmldata = xmldata + "<Rate>" + Rate + "</Rate>";
                            xmldata = xmldata + "<Amount>" + Amount + "</Amount>";
                            xmldata = xmldata + "<Discount>" + Discount + "</Discount>";
                            xmldata = xmldata + "<TaxType>" + TaxType + "</TaxType>";
                            xmldata = xmldata + "<TaxAmt>" + TaxAmt + "</TaxAmt>";
                            xmldata = xmldata + "<CessAmount>" + CessAmount + "</CessAmount>";
                            xmldata = xmldata + "<TDSAmt>" + TDSAmt + "</TDSAmt></Column>";
                        }
                    }
                    xmldata = xmldata + "</ROOT>";
                    xmldata = xmldata.replace(/&/g, "&amp;");
                    xmldata = xmldata.replace(/"/g, "&quot;");
                    xmldata = xmldata.replace(/'/g, "&apos;");
                    if (xmldata != "<ROOT></ROOT>") {
                        var dataparam = { list: xmldata };
                        $.ajax({
                            url: "/ServiceReceipt/POSSaveGrid",
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "html",
                            cache: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (resultG) {
                                FormSave(Print);
                            }
                        });
                    }
                }
                else $("#divLoading").hide();
            }
            function FormSave(Print) {
                var Qty = $('#totqty').text();
                var SubTotal = $('#subtot').text();
                var Discount = $('#totdis').text();
                var TaxAmt = $('#tottax').text();
                var TotAmt = $('#totamt').text();
                var PayAmt = $('#initdue').val();
                var PayAcc = document.getElementById("inittax").defaultValue;
                var Type = $('#Type').val();
                var Customer = $("input[name=Customer]").val();
                var TDSamt = $('#tdstax').text();
                var Cessamt = $('#cesstax').text();
                var cesstax1 = $('#cesstax1').text();
                var CreatedDate = $('#CreatedDate').val();
                var Amtin = $('#Amtinddl').val();
                var Attendedby = $("input[name=Attendedby]").val();
                if (Attendedby > 0) Attendedby = Attendedby;
                else Attendedby = null;
                if (SubTotal == "" || typeof (SubTotal) == "undefined") SubTotal = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                if (TaxAmt == "" || typeof (TaxAmt) == "undefined") TaxAmt = 0;
                if (TotAmt == "" || typeof (TotAmt) == "undefined") TotAmt = 0;
                if (PayAmt == "" || typeof (PayAmt) == "undefined") PayAmt = 0;
                if (Cessamt == "" || typeof (Cessamt) == "undefined") Cessamt = 0;
                if (cesstax1 == "" || typeof (cesstax1) == "undefined") cesstax1 = 0;
                var roundoffadjamt = $('#roundoffadjamt').val();
                if (roundoffadjamt == "" || typeof (roundoffadjamt) == "undefined") roundoffadjamt = 0;
                if (cesstax1 == "" || typeof (cesstax1) == "undefined") cesstax1 = 0;
		 var dataparam = {
                    Qty: Qty, SubTotal: SubTotal, Discount: Discount, TaxAmt: TaxAmt, Type: Type,
                    TotAmt: TotAmt, PayAmt: PayAmt, PayAcc: PayAcc, Customer: Customer, TDSamt: TDSamt, Cessamt: Cessamt, cesstax1: cesstax1, CreatedDate: CreatedDate, roundoffadjamt: roundoffadjamt, Amtin: Amtin, Attendedby: Attendedby
                };
                $.ajax({
                    url: "/ServiceReceipt/Saveform",
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (resultG) {
                        $("#divLoading").hide();
                        if (resultG.Data > 0) {
                            if (Print == true) {
                                if ('@Session["AcOwner"]' == "56628") {
                                    window.open( "/Print/InvoiceServiceJ?sono=" + resultG.InvoiceNo + "","_blank");
                                }
                                else if ('@Session["AcOwner"]' == "56718") {
                                    window.open("/Print/InvoiceRetail?sono=" + resultG.InvoiceNo + "", "_blank");
                                }
                                else {
                                    window.open("/Print/InvoiceService?sono=" + resultG.InvoiceNo + "", "_blank");
                                }
                            } 
                                window.location.href = "/ServiceReceipt/ServiceCreate?idi=" + resultG.idi + "&FormName=" + resultG.FormName + "";
                        }
                                window.location.href = "/ServiceReceipt/ServiceCreate?idi=" + resultG.idi + "&FormName=" + resultG.FormName + "";
                    }
                });
            }
        });
        </script>
    <style>
    .StaticgridFoter td, th {
    border: 1px solid #92b2d3;
    text-align: left;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    padding-bottom: 0px;
    border-bottom-color: lightgray;
}</style>
    </head>
<body>
@*    @using (Html.BeginForm("Create", "PointOfSales", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {}*@
    <div id="poscreate" style="width:100%;float:left;">
    <input id="roundofftype" style="display:none;" type="text" itemid="@Session["RoundOff"]" value="@Session["RoundType"]"/>
    <div id="mastercreate" class="mastercreateSR">
        <div id="Date" class="posfieldposition">
          <div class="itemlabel">Date</div><div style="float: left;" id="crDate">

              @{ var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }
             <input name="Date" id="CreatedDate" type="text"  readonly="true" value="@Dtext" class="date" style="background-color:white;"/>
              }
                                           </div></div>
        <div id="Item" class="posfieldposition">
       <div class="itemlabel">Item</div><div class="itemddlposition" id="Itmddl">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:250px;height:30px;" })</div>
       <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="iImageHide"  value="" alt="" /></div>
        </div>
        <div id="Customer" class="posfieldposition">
        <div class="itemlabel">Customer</div>&nbsp;&nbsp;<div class="custddlposition"  id="custddl">@Html.DropDownList("Customer" ,null,"", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:200px;height:30px;" })</div>
       <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="cImageHide"  value="" alt="" /></div>
       </div></div><div id="mastercreate" class="mastercreateSRRI">
            <div id="TaxTypediv"  class="itemddl1" style="padding-top:12px;">
         <div class="itemlabel">Amount are in</div>&nbsp;&nbsp;<div class="custddlposition" >@Html.DropDownList("Amtin",null, "--Select--", new { @id ="Amtinddl", @class = "ddl", @itemid = "Y" ,  @style = "width:200px;height:30px;" })</div>
       </div>
    </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="iteminfo" class="griddisplay"  style="height:100px; overflow:scroll" >
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query(@"SELECT m.COLUMN02 Item#, m.COLUMN04 ItemName, u.COLUMN04 Units, 1 Quantity, m.COLUMN17 Price,
m.COLUMN17 Amount FROM MATABLE007 m left JOIN MATABLE002 u  ON m.COLUMN63 = u.COLUMN02 where m.column02=0 ORDER BY m.COLUMN02 DESC");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
         @grid.GetHtml(tableStyle: "Retailwebgrid-table",
            headerStyle: "Retailwebgrid-header",
            footerStyle: "Retailwebgrid-footer",
                alternatingRowStyle: "Retailwebgrid-alternating-row",
            rowStyle: "Retailwebgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns :(
    grid.Columns(grid.Column("S.No", style: "col1"),grid.Column("Item/Product",style: "col2"),
    grid.Column("Units",style: "col3"),grid.Column("Qty",style: "col4"),grid.Column("Price",style: "col5"),
   grid.Column("Amount",style: "col6"))) 
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="float:left;width:45%;">
        <div id="Attendedby" style="padding:5px; float:left">
        <div class="itemlabel">Attended By</div>&nbsp;&nbsp;<div class="custddlposition" id="">@Html.DropDownList("Attendedby",null, "", new { @id = "Attendedbyddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
        </div>
        <div id="RoundOff" style="float:left;padding-top:3px;">
        <div class="itemlabel">Round Off</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="roundoffadjamt" placeholder="Enter Round Off Value" value=""/></div>
       </div></div><div class="totalinfo">
          <div>  <div class="totallbls">No. of Items Sold</div><div id="totitems" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">Total Quantity Sold</div><div id="totqty" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">Service Tax</div><div id="tottax" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">TDS Tax</div><div id="tdstax" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">SB Cess</div><div id="cesstax" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">KK Cess</div><div id="cesstax1" class="totaltxts"></div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt"></div> </div>
        </div></div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        <input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>
        </div>  <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt"></div>
                </div>
        </div>
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel" class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("ServiceReceiptInfo", "ServiceReceipt", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
        <input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline"  accesskey="s"/>
        <input type="button" name="Save&Print" id="SavePrint" value="Save&Print" class="myButtonline"   accesskey="p"/></div>
            <input type="text"  style="display:none;" id="initdue" value=""/>
            <input type="text"  style="display:none;" id="inittax" value=""/>
            <input type="text"  style="display:none;" id="Type" value=""/>
            <input type="text"  style="display:none;" id="CardNo1" value=""/>
            </div>
    </div>
    
</body>
</html>