﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "Service Receipt ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            RetailRoundoffsetup();
            var OPUnit1 = '@Session["OPUnit1"]';
            RetailOperatingCheck(OPUnit1);
            dateupdate('@Session["ReportDate"]');
            $i(document).click(function (e) {
                if (!$('.initshow').is(e.target) || !$('.initshow').has(e.target)) {
                    if (!$('.rowshow').is(e.target) && !$('.aftershow').is(e.target) && !$('.edit-mode').is(e.target)) {
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                }
            })

            //$i(document).click(function (e) {
                
            //    if (!$('.initshow').is(e.target) || !$('.initshow').has(e.target)) {
            //        if (!$('.rowshow').is(e.target) && !$('.aftershow').is(e.target) && !$('.edit-mode').is(e.target)) {
            //            $i('.aftershow').hide();
            //            $i('.edit-mode').hide();
            //            $i('.initshow').show();
            //        }
            //    }
            //});


            $(function () {
                var tbl = $("#grdData")[0];
                var length = tbl.rows.length;
                var row = 1;
                var htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                   "<td></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                for (var i = 1; i < length; i++) {
                    var tr = tbl.rows[row];
                    $('#grdData tbody').find(tr).after(htmlstring);
                    row = row + 2;
                }
                GetRetailTotalTransCalcs();
            })


            //$i(document).click(function (e) {
            //    debugger
            //    if (!$('.initshow').is(e.target) || !$('.initshow').has(e.target)) {

            //        $i('.aftershow').hide();
            //        $i('.edit-mode').hide();
            //        $i('.initshow').show();
            //    }
            //});

            $i("#iImageHide").live("click", function () {
                $i('#iImageHide').attr('pattern', 'N');
                $i('#iNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 650,
                    height: 645, resizable: false,
                    title: "Item",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                $i('#iNewMDialog').dialog('open');
                $i('#iNewMDialog').show();
                $i('#iNewMDialog').load("/ItemMaster/CreateOnfly");
                $i('#iNewMDialog').on('dialogclose', function (event) {
                    $i('#iNewMDialog').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                $i('#iNewMDialog').css("height", "700px");
                return false;
            });
            $i("#cImageHide").live("click", function () {
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 1000,
                    height: 558, resizable: false,
                    title: "Customer",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                $i('#cNewMDialog').dialog('open');
                $i('#cNewMDialog').show();
                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                $i('#cNewMDialog').on('dialogclose', function (event) {
                    $i('#cImageHide').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            var keypressed = 0;
            //$i(document).on('keydown', function (e) {
            //    var name = e.target.nextSibling.name;
            //    if ((e.keyCode === 38 ) && keypressed == 1 && name != "Customer") { //up or down || e.keyCode === 40
            //        keypressed = 0;
            //        var tbl = $("#grdData")[0];
            //        var ttr = tbl.rows[tbl.rows.length - 1];
            //        if (tbl.rows.length > 1) {
            //            $(ttr).remove();
            //            ttr = tbl.rows[tbl.rows.length - 1];
            //            $(ttr).remove();
            //            Linecalculations();
            //        }
            //        e.preventDefault();
            //        return false;
            //    }
            //});
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    //var val = $("input[name=Item]").val();
                    //if (val != "") {
                    //    if (!(isNaN(val))) ItemChanges(val);
                    //}
                    $i('.textbox-text:first').focus();
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');
            $(".textbox-text").keydown(function (e) {
                if (e.keyCode === 9 || e.keyCode === 13 || e.keyCode === 16) {
                    var name = e.target.nextSibling.name;
                    var val = $(this).val();
                    if (val != "" && name != "Customer") {
                        debugger
                        var comboname = $(this).next()[0].name;
                        val = $("input[name=" + comboname + "]").val();
                        if (comboname == "Item")
                            ItemChanges(val);
                    }
		    $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                }
            });
            $i('.textbox-text').on("change", function () {
                var val = $(this).val();
                if (val != "") {
                    var comboname = $(this).next()[0].name;
                    val = $("input[name=" + comboname + "]").val();
                    //if (comboname == "Item")
                    //    ItemChanges(val);
                    //else if (comboname == "Customer")
                       // CustomerSearch(val);
                }
            });
            function CustomerSearch(CustomerId) {
                $.session.set("Customer", CustomerId);
                if (CustomerId > 0) {
                    $i.ajax({
                        url: "/PointOfSales/GetCustomerDetails",
                        type: "POST",
                        data: JSON.stringify({ CustomerId: CustomerId }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            debugger
                            if (result.Data != 0)
                                $i("#Customerddl").combobox('setValue', result.Data);
                            else {
                                Alert.render('Please Select Customer'); $i("input[name=Customer]").val('');
                                $("#alertok").focus();
                                $("#alertok").on("click", function () {
                                    $("#dialogbox").dialog("close"); $i("input[name=Customer]").focus(); return false;
                                })
                                return false;
                            }
                        }

                    })
                } else $i("input[name=Customer]").val('');
            };
            function ItemChanges(item) {
                $i.ajax({
                    url: "/ServiceReceipt/GetServiceItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    async:false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        keypressed = 1;
                        if (result.Data != null && result.Data != "") {
                            $i('#grdData').append(result.Data);
                            var tbl = $("#grdData")[0];
                            var ttr = tbl.rows[tbl.rows.length - 1]
                            var Customer = $("input[name=Customer]").val();
                            //if (Customer != "")
                            //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                            //gettaxamount(ttr);
                            GetRetailTransCalc(ttr, "Line");
                            var htmlstring = "<tr class='aftershow'><td><input type='button' name='Edit' id='Edit' value='Edit' class='myButton edit-mode' style='display:none'/></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                         "<td></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                            $i('#grdData').append(htmlstring);
                            $i('.aftershow').hide();
                            $i('.edit-mode').hide();
                            $i('.initshow').show();
                        }
                    }
                });
            }
            $i('#Itemddl').on("change", function () {
                var item = $i(this).val();
                $i.ajax({
                    url: "/ServiceReceipt/GetServiceItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Data != null && result.Data != "") {
                            $i('#grdData').append(result.Data);
                            var tbl = $("#grdData")[0];
                            var ttr = tbl.rows[tbl.rows.length - 1]
                            var Customer = $("input[name=Customer]").val();
                            //if (Customer != "")
                            //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                            //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                            //gettaxamount(ttr);
                            GetRetailTransCalc(ttr, "Line");
                            var htmlstring = "<tr class='aftershow'><td><input type='button' name='Edit' id='Edit' value='Edit' class='myButton edit-mode'/></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                         "<td></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                            $i('#grdData').append(htmlstring);
                            $i('.aftershow').hide();
                            $i('.edit-mode').hide();
                            $i('.initshow').show();
                        }
                    }
                });
            });
            $i('.edit-mode').hide();
            $i('.aftershow').hide();
            $i('.rowshow').live('click', function (e) {
              
                    $i('.edit-mode').hide();
                    $i('.aftershow').hide();
                    $i('.display-mode').show();
                    $i('.initshow').show();
                    var tr = $(this).parents('tr:first');
                    tr.find('.initshow').hide();
                    tr.find('.aftershow, .edit-mode, .display-mode').toggle();
                    tr.next('tr').show();
                    tr.next('tr').find('.edit-mode').show();
                
            });
            $i('#Remove').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                $(ptr).remove();
                $(tr).remove();
                //Linecalculations();
                GetRetailTransCalc("", "Header");
            });
            $i('#iQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) + 1);
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#dQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) - 1);

                if (parseFloat(qty) < 0) {
                    Alert.render('Please Enter greater than Zero value for Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close");
                        tr.find('#Quantity').focus();
                        tr.find('#Quantity').val("");
                        GetRetailTransCalc(tr, "Line");
                        return false;
                    })
                    return false;
                }
                else {
                    //amtcalculation(tr, qty, price, amt);
                    GetRetailTransCalc(tr, "Line");
                }
            })
            $i('#Quantity').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Price').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                var Customer = $("input[name=Customer]").val();
                //if (Customer != "")
                //    RetailGSTBasedTaxes(tr, tr.find("[id='saveItemId']").text(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(tr).find("[id='Price']").val());
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Amount').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                price = (parseFloat(amt) / parseFloat(qty)).toFixed(2);
                GetRetailTransCalc(tr, "Line");
                //amtcalculation(tr, qty, price, amt);
            })
            $i('#Discount').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var TaxAmount = ptr.find('#dTaxamt').text();
                var CessAmount = ptr.find('#dcessper').text();
                var Amtin = $i('#Amtinddl').val()
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Discountdlg").dialog({
                    autoOpen: false,
                    title: "Price & Discount",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Discountdlg').dialog('open');
                $i('#Discountdlg').css("background-color", "#E0ECFF");
                $i('#Discountdlg').css("color", "black");
                $i("#Discountdlg").show();
                $i("#Discountdlg").load("/ServiceReceipt/ServiceDiscountTypes?FormName=ServiceReceipt&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&TaxAmount=" + TaxAmount + "&CessAmount=" + CessAmount + "&Amtin=" + Amtin + "");
                $i('#Discountdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //Linecalculations();
                    GetRetailTransCalc("", "Header");
                });
            });
            $i('#dynamicuom').live('change', function () {
                var tr = $(this).parents('tr:first');
                var uomid = tr.find('#dynamicuom').val();
                var uom = tr.find('#dynamicuom option:selected').text();
                tr.find('#saveUnitId').text(uomid);
                tr.find('#dUnits').text(uom);
            });
            $i('#Tax').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var TaxAmount = ptr.find('#dTaxamt').text();
                var CessAmount = ptr.find('#dcessper').text();
                var TDSAmount = ptr.find('#dtds').text();
                var ItemId = ptr.find('#saveItemId').text();
                var Customer = $("input[name=Customer]").val();
                var Date = $("[id='CreatedDate']").val();
                var Amtin = $i('#Amtinddl').val()
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Taxdlg").dialog({
                    autoOpen: false,
                    title: "Tax Calculation",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Taxdlg').dialog('open');
                $i('#Taxdlg').css("background-color", "#E0ECFF");
                $i('#Taxdlg').css("color", "black");
                $i("#Taxdlg").show();
                $i("#Taxdlg").load("/ServiceReceipt/ServiceTaxInformation?FormName=ServiceReceipt&ItemId=" + ItemId + "&Customer=" + Customer + "&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&TaxAmount=" + TaxAmount + "&CessAmount=" + CessAmount + "&TDSAmount=" + TDSAmount + "&Date=" + Date + "&Amtin=" + Amtin + "");
                $i('#Taxdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //gettaxamount(ptr);
                    //Linecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#Amtinddl').live('change', function (e) {
                GetRetailTotalTransCalcs();
            });
          
            $i('#Cash').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Credit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Debit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Check').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i("[id='roundoffadjamt']").on("change", function (e) {
                GetRetailTransCalc("", "Header");
            });
            function paymentdetails(a) {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/ServiceReceipt/PaymentInformationEdit?TypeChk=" + a + "");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                });
            }



            //function paymentdetails() {
            //    $i("#Paymentdlg").dialog({
            //        autoOpen: false,
            //        title: "Payment",
            //        modal: true,
            //        width: 440,
            //        height: 240, resizable: false,
            //        closeOnEscape: true
            //    })
            //    $i('#Paymentdlg').dialog('open');
            //    $i('#Paymentdlg').css("background-color", "#E0ECFF");
            //    $i('#Paymentdlg').css("color", "black");
            //    $i("#Paymentdlg").show();
            //    $i("#Paymentdlg").load("/PointOfSales/PaymentInformation");
            //    $i('#Paymentdlg').on('dialogclose', function (event) {
            //        Linecalculations();
            //    });
            //}
            function amtcalculation(tr, qty, price, amt) {
                amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                tr.find('#dQuantity').text(qty);
                tr.find('#Quantity').val(qty);
                tr.find('#dPrice').text(price);
                tr.find('#Price').val(price);
                tr.find('#dAmount').text(amt);
                tr.find('#Amount').val(amt);
                gettaxamount(tr);
            }
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0; var servicetax = 0; var tdsamt = 0; var cessamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var tr = $(this).parents('tr:first');
                    var amount = $(tr).find("[id='dAmount']").text();
		    //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                    var servicetax = $(tr).find("[id='dTaxamt']").text();
                    var itax = $(tr).find("[id='dservicetax']").text();
                    var discount = $(tr).find("[id='ddiscount']").text();
                    if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    if (typeof (servicetax) == "undefined" || servicetax == '') servicetax = 0;
                    if (typeof (amount) == "undefined" || amount == '') amount = 0;
                    if (itax == 0) $(tr).find("[id='dcessper']").text(0);
                    taxamt = ((parseFloat(taxamt) + (parseFloat(itax) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                })
                $('#grdData tr td span[id="dtds"]').each(function () {
                    var itds = $(this).text();
                    if (itds == "" || typeof (itds) == "undefined") itds = 0;
                    tdsamt = (parseFloat(tdsamt) + parseFloat(itds)).toFixed(2);
                })
                $('#grdData tr td span[id="dcessper"]').each(function () {
                    var icess = $(this).text();
                    if (taxamt == 0) {
                        icess = 0
                    }
                    if (icess == "" || typeof (icess) == "undefined") icess = 0;
                    var tr = $(this).parents('tr:first');
                    var amount = $(tr).find("[id='dAmount']").text();
                    if (typeof(amount) == "undefined"||amount=='') amount = 0;
                    var discount = $(tr).find("[id='ddiscount']").text();
                    if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    if (icess == "" || typeof (icess) == "undefined") icess = 0;
                    cessamt = ((parseFloat(cessamt) + (parseFloat(icess) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                })
                var finalamtB = $("#totamt").text();
                if (finalamtB == "" || typeof (finalamtB) == "undefined") finalamtB = 0;
                var totdueB = $("#totdue").text()
                if (totdueB == "" || typeof (totdueB) == "undefined") totdueB = 0;
                	//EMPHCS1829 : After Clicking On Cash . Even Discount , Tax , Qty Inc Or Dec Amount Showing Nagative By GNANESHWAR ON 9/11/2016
		var PayAmnt = $("#PayAmnt").val();
                if (PayAmnt == "" || typeof (PayAmnt) == "undefined") PayAmnt = 0;
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#tdstax").text(tdsamt);
                $("#cesstax").text(cessamt);
                $("#cesstax1").text(cessamt);
                $("#totdis").text(disamt);
                var IPayAmnt = $("#IPayAmnt").val();
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt)+ parseFloat(cessamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                if (IPayAmnt == "" || typeof (IPayAmnt) == "undefined") IPayAmnt = 0;
                
                $("#totdue").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt) + parseFloat(cessamt) + parseFloat(subtot)) - (parseFloat(disamt) + parseFloat(IPayAmnt))).toFixed(2));

                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
                //$i('#Itemddl').combobox('textbox').val("");
                //$i("input[name=Item]").val("");
                ////$i('#Itemddl').combobox('textbox').clear();
                //$i('#Itemddl').combobox('textbox').focus();
                ////$i('#Customerddl').combobox('textbox')/$("input[name=Item]").focus();
            }
            function gettaxamount(tr) {
                var Quantity = $i(tr).find('#Quantity').val();

                var disper1 = $i(tr).find('#disper1').val();
                if (disper1 == "" || typeof (disper1) == "undefined") disper1 = 0;

                var TaxType = $i(tr).find('#TaxType').val();
                if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;
                if (TaxType !="") {
                    $.ajax({
                        url: "/ServiceReceipt/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        async:false,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Agency != '22401') { $i(tr).find('#dcessper').text(0); $i(tr).find('#dcess').text(0); }
                            if (result.Tax != '') {
                                var ttal = $i(tr).find('#dAmount').text();
                                tax = result.Tax; tax = (tax * (0.01));
                                $i(tr).find('#dservicetax').text(tax);
                                if (result.grptaxes.length > 0)
                                    tax = GroupTaxCalculations(tr, ttal, result.grptaxes);
                                else
                                    tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else {
                                tax = parseFloat(0);
                                $i(tr).find('#dservicetax').text(tax);
                            } 
                            $i(tr).find('#dTaxamt').text(tax);

                            if (disper1 > 0) disper1 = (parseFloat(ttal) * (parseFloat(disper1) / parseFloat(100))).toFixed(2);
                            $i(tr).find('#ddiscount').text(disper1);
                        }
                    })
                }
                Linecalculations();
            }
            $i('#btnposSave').on('click', function (e) {
                var print = false;
                GridSave(print);
            });
            $i('#SavePrint').on('click', function (e) {
                var print = true;
                GridSave(print);
            });
            function GridSave(Print) {
                $("#divLoading").show();
                var flag = false;
                flag = RetailOperatingCheck('@Session["OPUnit1"]');
                var Item = $("input[name=Item]").val();
                //if (flag == false) {
                //    if (Item == "" || Item == null || typeof (Item) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Item"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); $("input[name=Item]").focus(); return false;
                //        })
                //    }
                //}
                var Customer = $("input[name=Customer]").val();
                if (flag == false) {
                    if (Customer == "" || Customer == null || typeof (Customer) == "undefined" || isNaN(parseInt(Customer))) {
                        flag = true;
                        Alert.render("Please Select Customer"); $("#alertok").focus(); $("#divLoading").hide();
                        $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name').val('');
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $("input[name=Customer]").focus(); return false;
                        })
                    }
                }
                //var Account = $("#inittax").val();
                //if (flag == false) {
                //    if (Account == "" || Account == null || typeof (Account) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Account Through Payments"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); return false;
                //        })
                //    }
                //}
                if (flag == false) {
                    var tbl = $("#grdData")[0];
                    var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                    for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                        var trw = tbl.rows[irow];
                        var classname = trw.className;
                        if (classname != "webgrid-header" && classname != "aftershow") {
                            var itemid = $(trw).find("[id='saveItemId']").text();
                            if (typeof itemid == "undefined") itval = 0;
                            var ItemName = $(trw).find("[id='dItemName']").text();
                            if (typeof ItemName == "undefined") ItemName = 0;
                            var Units = $(trw).find("[id='saveUnitId']").text();
                            if (typeof Units == "undefined") Units = 0;
                            var rowid = $(trw).find("[id='rowid']").val();
                            if (typeof rowid == "undefined") rowid = 0;
                            var Qty = $(trw).find("[id='dQuantity']").text();
                            if (typeof Qty == "undefined") Qty = 0;
                            var Price = $(trw).find("[id='dPrice']").text();
                            if (typeof Price == "undefined") Price = 0;
                            var Rate = $(trw).find("[id='Rate']").val();
                            if (typeof Rate == "undefined") Rate = 0;
                            var Amount = $(trw).find("[id='dAmount']").text();
                            if (typeof Amount == "undefined") Amount = 0;
                            var InAmount = $(trw).find("[id='InAmount']").val();
                            if (typeof InAmount == "undefined" || InAmount == "") InAmount = 0;
                            if (InAmount != 0) Amount = InAmount;
                            var Discount = $(trw).find("[id='ddiscount']").text();
                            if (typeof Discount == "undefined") Discount = 0;
                            var TaxType = $(trw).find("[id='TaxType']").val();
                            if (typeof (TaxType) == "undefined" || TaxType == "" || TaxType == 0) TaxType = 1000;
                            var TaxAmt = $(trw).find("[id='dTaxamt']").text();
                            if (typeof TaxAmt == "undefined") TaxAmt = 0;
                            var CessAmount = $(trw).find("[id='dcess']").text();
                            if (typeof (CessAmount) == "undefined") CessAmount = 0;
                            var TDSAmt = $(trw).find("[id='dtds']").text();
                            if (typeof (TDSAmt) == "undefined") TDSAmt = 0;

                            xmldata = xmldata + "<Column><ItemID>" + itemid + "</ItemID>";
                            xmldata = xmldata + "<rowid>" + rowid + "</rowid>";
                            xmldata = xmldata + "<ItemName>" + ItemName + "</ItemName>";
                            xmldata = xmldata + "<Units>" + Units + "</Units>";
                            xmldata = xmldata + "<Qty>" + Qty + "</Qty>";
                            xmldata = xmldata + "<Price>" + Price + "</Price>";
                            xmldata = xmldata + "<Rate>" + Rate + "</Rate>";
                            xmldata = xmldata + "<Amount>" + Amount + "</Amount>";
                            xmldata = xmldata + "<Discount>" + Discount + "</Discount>";
                            xmldata = xmldata + "<TaxType>" + TaxType + "</TaxType>";
                            xmldata = xmldata + "<TaxAmt>" + TaxAmt + "</TaxAmt>";
                            xmldata = xmldata + "<CessAmount>" + CessAmount + "</CessAmount>";
                            xmldata = xmldata + "<TDSAmt>" + TDSAmt + "</TDSAmt></Column>";
                        }
                    }
                    xmldata = xmldata + "</ROOT>";
                    xmldata = xmldata.replace(/&/g, "&amp;");
                    xmldata = xmldata.replace(/"/g, "&quot;");
                    xmldata = xmldata.replace(/'/g, "&apos;");
                    if (xmldata != "<ROOT></ROOT>") {
                        var dataparam = { list: xmldata };
                        $.ajax({
                            url: "/ServiceReceipt/POSSaveGrid",
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "html",
                            cache: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (resultG) {
                                FormSave(Print);
                            }
                        });
                    }
                }
                else $("#divLoading").hide();
            }
            function FormSave(Print) {
                var Qty = $('#totqty').text();
                var SubTotal = $('#subtot').text();
                var Discount = $('#totdis').text();
                var TaxAmt = $('#tottax').text();
                var TotAmt = $('#totamt').text();
                var PayAmt = $('#initdue').val();
                var PayAcc = document.getElementById("inittax").defaultValue;
                var Type = $('#Type').val();
                var Customer = $("input[name=Customer]").val();
                var TDSamt = $('#tdstax').text();
                var Cessamt = $('#cesstax').text();
                var cesstax1 = $('#cesstax1').text();
                var ide = '@Session["ide"]';
                var ide1 = '@Request["ide"]';
                var CreatedDate = $('#CreatedDate').val();
                var Amtin = $('#Amtinddl').val();
                var IPayAmnt = $('#IPayAmnt').val();
                var Amttopay = $('#Amttopay').text();
                if (SubTotal == "" || typeof (SubTotal) == "undefined") SubTotal = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                if (TaxAmt == "" || typeof (TaxAmt) == "undefined") TaxAmt = 0;
                if (TotAmt == "" || typeof (TotAmt) == "undefined") TotAmt = 0;
                if (PayAmt == "" || typeof (PayAmt) == "undefined") PayAmt = 0;
                if (Cessamt == "" || typeof (Cessamt) == "undefined") Cessamt = 0;
                if (cesstax1 == "" || typeof (cesstax1) == "undefined") cesstax1 = 0;
                if (Amttopay == "" || Amttopay == null || typeof (Amttopay) == "undefined") Amttopay = 0;
                if (PayAmt == "" || PayAmt == null || typeof (PayAmt) == "undefined") PayAmt = 0;
                if (IPayAmnt == "" || IPayAmnt == null || typeof (IPayAmnt) == "undefined") IPayAmnt = 0;
                if (Amttopay > 0) PayAmt = Amttopay;
                else PayAmt = (parseFloat(PayAmt) + parseFloat(IPayAmnt)).toFixed(2);
                var Attendedby = $("input[name=Attendedby]").val();
                if (Attendedby > 0) Attendedby = Attendedby;
                else Attendedby = null;
                var roundoffadjamt = $('#roundoffadjamt').val();
                if (roundoffadjamt == "" || typeof (roundoffadjamt) == "undefined") roundoffadjamt = 0;
                if (cesstax1 == "" || typeof (cesstax1) == "undefined") cesstax1 = 0;
                var dataparam = {
                    Qty: Qty, SubTotal: SubTotal, Discount: Discount, TaxAmt: TaxAmt, Type: Type,
                    TotAmt: TotAmt, PayAmt: PayAmt, PayAcc: PayAcc, Customer: Customer, TDSamt: TDSamt, Cessamt: Cessamt, cesstax1: cesstax1, ide: ide, CreatedDate: CreatedDate, roundoffadjamt: roundoffadjamt, Amtin: Amtin, Attendedby: Attendedby
                };
                $.ajax({
                    url: "/ServiceReceipt/EditSaveform",
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (resultG) {
                        $("#divLoading").hide();
                        if (resultG.Data > 0) {
                            if (Print == true)
                                if ('@Session["AcOwner"]' == "56628") {
                                    window.location.href = "/Print/InvoiceServiceJ?sono=" + resultG.InvoiceNo + "";
                                } 
                                else if ('@Session["AcOwner"]' == "56718") {
                                    window.open("/Print/InvoiceRetail?sono=" + resultG.InvoiceNo + "", "_blank");
                                }
                                else {
                                    window.location.href = "/Print/InvoiceService?sono=" + resultG.InvoiceNo + "";
                                }
                            else
                                window.location.href = "/ServiceReceipt/ServiceReceiptInfo?FormName=Service Receipt";
                        }
                    }
                });
            }
        });
        </script>
    <style>
    .StaticgridFoter td, th {
    border: 1px solid #92b2d3;
    text-align: left;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    padding-bottom: 0px;
    border-bottom-color: lightgray;
}</style>
    </head>
<body>
@*    @using (Html.BeginForm("Create", "PointOfSales", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {}*@
     @{var m = Model.Where(a => a.rCustomerno != null).FirstOrDefault();}
    <div id="poscreate" style="width:100%;float:left;">
    <input id="roundofftype" style="display:none;" type="text" itemid="@Session["RoundOff"]" value="@Session["RoundType"]"/>
    <div id="mastercreate" class="mastercreateSR">
        <div id="Date" class="posEditDatefieldposition">
          <div class="itemlabel">Date</div><div style="float: left;" id="crDate">
              @{ 
                  var Dtext=Convert.ToDateTime(@m.Date).ToString(ViewBag.Dateformat);
                  if (ViewBag.Dateformat == "")
                  {Dtext = Convert.ToDateTime(@m.Date).ToShortDateString();}
              <input name="Date" id="CreatedDate" type="text"  readonly="true" value="@Dtext" class="date" style="background-color:white;"/>
              }
                                           </div></div>
        <div id="Item" class="posEditDatefieldposition">
         <div class="itemlabel">Item</div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="itemddlposition"  id="Itmddl">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:250px;height:30px;" })</div>
       @*<div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="iImageHide"  value="" alt="" /></div>*@
        </div>
        <div id="Customer" class="posserCustfieldposition">
        <div class="itemlabel">Customer</div>&nbsp;&nbsp;

            <div class="custddlposition"  id="custddl">
                @Html.DropDownList("Customer", null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:200px;height:30px;",@readonly="true" })

                                                         </div></div>
            @*<div class="itemddlposition">
                @Html.DropDownList("Customer", new SelectList((SelectList)ViewData["Customer"], "Value", "Text"), "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })

            </div>*@
      
             @*<div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="cImageHide"  value="" alt="" /></div>*@
       </div><div id="mastercreate" class="mastercreateSRRI"> <div id="TaxTypediv"  class="itemddl1" style="padding-top:12px;">
         <div class="itemlabel">Amount are in</div>&nbsp;&nbsp;<div class="custddlposition" >@Html.DropDownList("Amtin",null, "--Select--", new { @id ="Amtinddl", @class = "ddl", @itemid = "Y" ,  @style = "width:200px;height:30px;" })</div>
       </div>
     <div class="posEditdeleteposition" style="padding-top:15px;">
                  <input type="button" class="myButtonline" id="btnDelete"  value="Delete"  onclick="@("window.location.href='" + @Url.Action("ServiceReceiptDelete", "ServiceReceipt", new { idi = Request["idi"], FormName = Request["FormName"], ide = Request["ide"] }) + "'")    ; " /></div>		
		  </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="iteminfo" class="griddisplay"  style="height:100px; overflow:scroll">
           @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query(@"SELECT ROW_NUMBER() OVER (ORDER BY l.COLUMN02) [SNo], m.COLUMN04 [Item/Product], m.COLUMN04 ItemName, u.COLUMN04 Units, l.COLUMN10 Qty, l.COLUMN13 Price, l.COLUMN14 Amount,l.COLUMN21 lTaxType,l.COLUMN23 lTaxAmt,l.COLUMN19 lDiscount,l.COLUMN22 lUnits,IIF(cast(isnull(l.COLUMN19,0) as decimal(18,2))!=0,cast((cast(isnull(l.COLUMN19,0) as decimal(18,2))/(cast(isnull(l.COLUMN10,0)*isnull(l.COLUMN13,0) as decimal(18,2))))*(100) as decimal(18,2)),0) lDiscountper,l.COLUMN02 rowid,l.COLUMN05 saveItemId,sum(iif(cast(t.COLUMN07 as nvarchar)='',0,isnull(t.COLUMN07,0)))*0.01 taxper,sum(iif(cast(t.COLUMN16 as nvarchar(250))='22401',0.005,0)) cesstaxper FROM SATABLE009 h inner join SATABLE010 l on l.COLUMN15=h.COLUMN01  AND ISNULL(L.COLUMNA13,0)=0
left JOIN MATABLE007 m  ON m.COLUMN02 = l.COLUMN05 left JOIN MATABLE013 t  ON (t.COLUMN02 in(SELECT ListValue FROM dbo.FN_ListToTable(',',(select COLUMN05  from MATABLE014 where COLUMN02=replace(l.COLUMN21,'-','') and COLUMNA03= l.COLUMNA03 and ISNULL(COLUMNA13,0)=0)) s) or  t.COLUMN02=l.COLUMN21) and isnull(t.COLUMNA13,0)=0 left JOIN MATABLE002 u  ON l.COLUMN24 = u.COLUMN02  where h.column02=" + @Request["ide"] + " group by l.COLUMN02,m.COLUMN04,u.COLUMN04,l.COLUMN10,l.COLUMN13,l.COLUMN14,l.COLUMN21,l.COLUMN23,l.COLUMN19,l.COLUMN22,l.COLUMN14,l.COLUMN05");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
         @grid.GetHtml(tableStyle: "Retailwebgrid-table",
            headerStyle: "Retailwebgrid-header",
            footerStyle: "Retailwebgrid-footer",
                alternatingRowStyle: "Retailwebgrid-alternating-row",
            rowStyle: "Retailwebgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns :(
    grid.Columns(grid.Column("SNo", style: "col1",format:@<div class="rowshow"><div class="initshow"><span name="dItemId" id="dItemId">@item.SNo</span></div><input type="text" name="ItemId" id="ItemId" value="@item.SNo" class="txtgridclass edit-mode"/><span id="saveItemId" style="display:none">@item.saveItemId</span></div>),
         grid.Column("Item/Product",style: "col2",format:@<div class="rowshow"><div class="initshow"><span name="dItemName" id="dItemName">@item.ItemName</span></div><input type="text" name="ItemName" id="ItemName" value="@item.ItemName" class="txtgridclass edit-mode"/></div>),
         grid.Column("Units",style: "col3",format:@<div class="rowshow"><div class="initshow"><span name="dUnits" id="dUnits">@item.Units</span></div>
           <select  name="Units" id="dynamicuom" class="gridddl edit-mode">
            <option value="10000">--Select--</option>
              @foreach (var Unit in (SelectList)ViewData["UOM"])
              {
                  if (@item.lUnits == Convert.ToInt32(@Unit.Value))
                  {
                       <option value = "@Unit.Value"  selected="selected"  > @Unit.Text   </option>
                  }
                  else
                  {
                           <option value = "@Unit.Value"  > @Unit.Text   </option>
                  }
              } 
             

             </select></div>),
         grid.Column("Qty",style: "col4",format:@<div class="rowshow"><div class="initshow"><span name="dQuantity" id="dQuantity">@item.Qty</span></div><input type="text" name="Quantity" id="Quantity" value="@item.Qty" class="txtgridclass edit-mode"/></div>),
         grid.Column("Price",style: "col5",format:@<div class="rowshow"><div class="initshow"><span name="dPrice" id="dPrice">@item.Price</span></div><input type="text" name="Price" id="Price" value="@item.Price" class="txtgridclass edit-mode"/></div>),
         grid.Column("Amount",style: "col6",format:@<div class="rowshow"><div class="initshow"><span name="dAmount" id="dAmount">@item.Amount</span></div><input type="text" name="Amount" id="Amount" value="@item.Amount" class="txtgridclass edit-mode"/><div style="display:none"><span name="dTaxamt" id="dTaxamt">@item.lTaxAmt</span></div><input type="text" name="TaxType" id="TaxType" value="@item.lTaxType" class="txtgridclass"  style="display:none"/><div style="display:none"><span name="dTaxamt" id="dservicetax">@item.taxper</span></div><span id=dtds style='display:none;'></span><div style="display:none"><span name="ddiscount" id="ddiscount">@item.lDiscount</span></div><input type="text" name="Discount" id="Discount" value="@item.lDiscountper" class="txtgridclass" style="display:none"/><div style="display:none"><span name="ddisper" id="ddisper">@item.lDiscountper</span></div><input type="text" name="Discount" id="disper1" value="@item.lDiscountper" class="txtgridclass" style="display:none"/><span id=dtds style='display:none;'></span><span id=dcessper style='display:none;'>@item.cesstaxper</span><span id=dcess style='display:none;'>@item.cesstaxper</span><div style="display:none"><span name="saveUnitId" id="saveUnitId">@item.lUnits</span></div><input type="text" name="chkrow" id="chkrow" value="false" class="txtgridclass" style="display:none" /><input type="text" name="rowid" id="rowid" value="@item.rowid" style="display:none" /></div>))
)
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="width:45%; float:left">
                <div>
                     @foreach (var item12 in ViewBag.pitemsdata)
                     {
                         <div class="totallbls" style="text-align:left">The amount Paid through @item12["PayType"] : @item12["Payment"] </div>
                     }


                </div>
        <div id="Attendedby" style="padding:5px; float:left">
        <div class="itemlabel">Attended By</div>&nbsp;&nbsp;<div class="custddlposition" id="">@Html.DropDownList("Attendedby",null, "", new { @id = "Attendedbyddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
        </div><div id="RoundOff" style="float:left;padding-top:3px;">
        <div class="itemlabel">Round Off</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="roundoffadjamt" placeholder="Enter Round Off Value" value="@m.RoundOff"/></div>
       </div></div><div class="totalinfo">
          <div>  <div class="totallbls">No. of Items Sold</div><div id="totitems" class="totaltxts">@m.rNoofitems</div> </div>
          <div>  <div class="totallbls">Total Quantity Sold</div><div id="totqty" class="totaltxts">@m.rTotalItems</div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts">@m.rSubTotal</div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts">@m.rDiscount</div> </div>
          <div>  <div class="totallbls">Service Tax</div><div id="tottax" class="totaltxts">@m.rTax</div> </div>
          <div>  <div class="totallbls">TDS Tax</div><div id="tdstax" class="totaltxts">@m.TDSAmount</div> </div>
          <div>  <div class="totallbls">SB Cess</div><div id="cesstax" class="totaltxts">@m.CESSAmount</div> </div>
          <div>  <div class="totallbls">KK Cess</div><div id="cesstax1" class="totaltxts">@m.CESSAmount</div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt">@m.rTotal</div>
          <input type="text" style="display:none;" name="roundoffadjamt"  id="roundoffadjamt" value="@m.RoundOff" /> </div>
        </div></div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        <input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>
        </div>  <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt">@m.rDueamt</div>
                </div>
        </div>
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel" class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("ServiceReceiptInfo", "ServiceReceipt", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
        <input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline"  accesskey="s"/>
        <input type="button" name="Save&Print" id="SavePrint" value="Save&Print" class="myButtonline"  accesskey="p"/></div>
            <input type="text"  style="display:none;" id="initdue" value=""/>
            <input type="text"  style="display:none;" id="inittax" value="@m.rAccount"/> 
            <input type="text"  style="display:none;" id="PayAmnt" value="@m.rTotal"/>    
               <input type="text"  style="display:none;" id="Type" value=""/>
            <input type="text"  style="display:none;" id="CardNo1" value="@m.rcardNo"/>
            <input type="text"  style="display:none;" id="IPayAmnt" value="@m.rPamt"/>
            </div>
    </div>
    
</body>
</html>
