﻿<html>
     <head>  
   @*<div id="Taxdlg"  style="font-size:11.5px;color:black;background:#E0ECFF;"></div>*@
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i(function () {
                var Qty = '@Request["Qty"]';
                var Price = '@Request["Price"]';
                var Discount = '@Request["Discount"]';
                var TaxType = '@Request["TaxType"]';
                var CessAmount = '@Request["CessAmount"]';
                var TDSAmount = '@Request["TDSAmount"]';
                var Amtin = '@Request["Amtin"]';
                if (Qty == "" || typeof (Qty) == "undefined") Qty = 0;
                if (Price == "" || typeof (Price) == "undefined") Price = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                if (CessAmount == "" || typeof (CessAmount) == "undefined") CessAmount = 0;
                if (TDSAmount == "" || typeof (TDSAmount) == "undefined") TDSAmount = 0;
                var Amount = (parseFloat(Qty) * parseFloat(Price)).toFixed(2);
                $("#Amtin").val(Amtin); $("#lineqty").val(Qty); $("#lineprice").val(Price); $("#lineDisc").val(Discount);
                $("#taxqty").val(Amount);
                if (Discount > 0) Amount = ((parseFloat(Qty) * parseFloat(Price)) - parseFloat(Discount)).toFixed(2);
                $("#taxprice").val(Discount);
                $("#taxamt").val(Amount);
                if (CessAmount == "0.005" || CessAmount == 0) CessAmount = 0.5;
                $("#cessval").val(CessAmount);
                $("#tdsval").val(TDSAmount);
                if (Discount > 0) {}
                    $("#taxqty").prop("disabled", true);
                    $("#taxprice").prop("disabled", true);
                    $("#taxamt").prop("disabled", true);                
                    $("#taxtype").val(TaxType);
                    if (TaxType == "" ||TaxType == "0" || (TaxType == 1000 || TaxType == '1000')) {
                        $('#taxval').val(0);
                        $('#itemservicetax').val(0);
                        var Amount = $('#taxamt').val();
                        CessAmount = '@Request["CessAmount"]';
                        if (CessAmount == "" || typeof (CessAmount) == "undefined") CessAmount = 0;
                        var taxamt = ((parseFloat(0) * (parseFloat(Amount) - parseFloat(Discount))).toFixed(2));
                        var cessamt = ((parseFloat(CessAmount) * (parseFloat(Amount) - parseFloat(Discount))).toFixed(2));
                        $('#itemtaxamt').val(taxamt);
                        $("#itemcesstax").val(cessamt);
                        $("#itemcesstaxper").val(CessAmount);
                    }
                    if (TaxType !='' && (TaxType != 1000 || TaxType != '1000'))
                        gettaxamount(TaxType);
            });
            $i('#cessval').live('change', function (e) {
                var cessval = $('#cessval').val();
                if (cessval == "" || typeof (cessval) == "undefined") cessval = 0;
                cessval = (parseFloat(cessval) * 0.01).toFixed(2);
                $('#itemcesstax').val(cessval);
                $('#itemcesstaxper').val(cessval);
            })
            $i('#btntaxok').on("click", function () {
                var tbl = $("#grdData")[0];
                var qty = $('#taxqty').val();
                var price = $('#taxprice').val();
                var amt = $('#taxamt').val();
                var taxamt = $('#taxval').val();
                var taxtype = $('#taxtype').val();
                var tdsval = $('#tdsval').val();
                var cessval = $('#itemcesstax').val();
                var cessvalper = $('#itemcesstaxper').val();
                var taxper = $('#itemservicetax').val();
                debugger
                if (taxamt == "" || typeof (taxamt) == "undefined") taxamt = 0;
                if (tdsval == "" || typeof (tdsval) == "undefined") tdsval = 0;
                if (cessval == "" || typeof (cessval) == "undefined") cessval = 0;
                if (cessvalper == "" || typeof (cessvalper) == "undefined") cessvalper = 0;
                if (taxper == "" || typeof (taxper) == "undefined") taxper = 0;
                //var taxamt = $('#itemtaxamt').val();
                var cesstaxamt = $('#itemcesstax').val();
                if (taxtype != "1000") {
                    if (cessval == 0) cessval = 0.005;
                    if (cessvalper == 0) cessvalper = 0.005;
                }
                if (taxper == 0) taxper = 0;
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        //$i(tr).find('#Quantity').val(qty);
                        //$i(tr).find('#Price').val(price);
                        $i(tr).find('#Amount').val(qty);
                        $i(tr).find('#TaxType').attr('value', taxtype);
                        //$i(tr).find('#TaxTypes').text(taxtype);
                        $i(tr).find('#dTaxamt').text(taxamt);
                        $i(tr).find('#dcessper').text(cessvalper);
                        $i(tr).find('#dservicetax').text(taxper);
                        $i(tr).find('#dtds').text(tdsval);
                        $i(tr).find('#chkrow').val(0);
                        //$i(tr).find('#dQuantity').text(qty);
                        //$i(tr).find('#dPrice').text(price);
                        $i(tr).find('#dAmount').text(qty);
                        if ($('#Agency').val() != '22401') { $i(tr).find('#dcess').text(0); $i(tr).find('#dcessper').text(0); }
                        GetRetailTransCalc(tr, "Line");
                        break;
                    }
                }
                $i('#Taxdlg').dialog('close');
                //Linecalculations();
            });
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0; var servicetax = 0; var tdsamt = 0; var cessamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    var tr = $(this).parents('tr:first');
                    var amount = $(tr).find("[id='dAmount']").text();
                    var servicetax = $(tr).find("[id='dTaxamt']").text();
                    if (typeof (amount) == "undefined" || amount == '') amount = 0;
                    if (typeof (servicetax) == "undefined" || servicetax == '') servicetax = 0;
                    if (servicetax == 0) {
                        $(tr).find("[id='dcessper']").text(0);
                    }
                    var discount = $(tr).find("[id='ddiscount']").text();
                    if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    taxamt = ((parseFloat(taxamt) + (   parseFloat(itax))).toFixed(2));
                })
                $('#grdData tr td span[id="dtds"]').each(function () {
                    var itds = $(this).text();
                    if (itds == "" || typeof (itds) == "undefined") itds = 0;
                    tdsamt = (parseFloat(tdsamt) + parseFloat(itds)).toFixed(2);
                })
                $('#grdData tr td span[id="dcessper"]').each(function () {
                    debugger
                    var icess = $(this).text();
                    if (icess == "" || typeof (icess) == "undefined") icess = 0;
                    var tr = $(this).parents('tr:first');
                    var amount = $(tr).find("[id='dAmount']").text();
                    if (typeof (amount) == "undefined" || amount == '') amount = 0;
                    var discount = $(tr).find("[id='ddiscount']").text();
                    if (typeof (discount) == "undefined" || discount == '') discount = 0;
                    if (icess == "" || typeof (icess) == "undefined") icess = 0;
                    cessamt = ((parseFloat(cessamt) + ((parseFloat(icess)) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                })
                var finalamtB = $("#totamt").text();
                if (finalamtB == "" || typeof (finalamtB) == "undefined") finalamtB = 0;
                var totdueB = $("#totdue").text()
                if (totdueB == "" || typeof (totdueB) == "undefined") totdueB = 0;

                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#tdstax").text(tdsamt);
                $("#cesstax").text(cessamt);
                $("#cesstax1").text(cessamt);
                $("#totdis").text(disamt);
              //EMPHCS1829 : After Clicking On Cash . Even Discount , Tax , Qty Inc Or Dec Amount Showing Nagative By GNANESHWAR ON 9/11/2016
	        var PayAmnt = $("#PayAmnt").val();
                if (PayAmnt == "" || typeof (PayAmnt) == "undefined") PayAmnt = 0;
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt)  + parseFloat(cessamt)+ parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var finalamt = $("#totamt").text();
                var IPayAmnt = $("#IPayAmnt").val();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                if (IPayAmnt == "" || typeof (IPayAmnt) == "undefined") IPayAmnt = 0;
                

                $("#totdue").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt) + parseFloat(cessamt) + parseFloat(subtot)) - (parseFloat(disamt) + parseFloat(IPayAmnt))).toFixed(2));
               
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
            }
            $i('#btntaxcancel').on("click", function () {
                var tbl = $("#grdData")[0];
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        $i(tr).find('#chkrow').val(0);
                    }
                }
                $i('#Taxdlg').dialog('close');
            });
            $i('#taxtype').on('change', function (e) {
                gettaxamount($(this).val());
            })
            function gettaxamount(TaxType) {
                if (TaxType !='' && (TaxType != 1000 || TaxType != '1000')) {
                    $.ajax({
                        url: "/PointOfSales/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $i("#Agency").remove();
                            $i("[id='cessval']").after($('<input>').attr({ type: 'hidden', id: 'Agency' }).val(result.Agency));
                            if (result.Agency != '22401') {
                                $i('#cessval').val(0);
                            }
                            if (result.Tax != '') {
                                var ttal = $('#taxamt').val();
                                tax = result.Tax;
                                var Amtin = $i('#Amtin').val(); var price = $("#lineprice").val(); var Quantity = $("#lineqty").val(); var Discount = $("#taxprice").val();
                                if (Amtin == "22713") {
                                    var taxprice = (parseFloat(ttal) * (parseFloat(tax) / (100 + parseFloat(tax)))); ttal = (parseFloat(ttal) - parseFloat(taxprice));
                                } tax = (tax * (0.01));
                                $('#itemservicetax').val(tax);
                                if (result.grptaxes.length > 0)
                                    tax = GroupTaxCalculations("", ttal, result.grptaxes);
                                else
                                    tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); }
                            $('#taxval').val(tax);
                        }
                    })
                }
                else {
                    $('#taxval').val(0);
                    $('#itemservicetax').val(0);
                    var Amount = $('#taxamt').val();
                    var taxamt = ((parseFloat(0) * (parseFloat(Amount))).toFixed(2));
                    var cessamt = ((parseFloat(0) * (parseFloat(Amount))).toFixed(2));
                    $('#itemtaxamt').val(taxamt);
                    $("#itemcesstax").val(cessamt);
                }
            }
        });
        </script>
 </head>
    <body>
        <div style="background-color:#E0ECFF;color:black;width:97%;height:180px;">
       <div style="float:left;width:100%;">
        <div style="padding: 7px;font-size: larger;">Tax Information</div>
        <div id="discountcal" style="float:left;width:100%;">
            <div style="float: left;width: 100%;padding: 3px;"><div  style="float:left;width: 30%;text-align:center;">Amount</div> <div style="float:left;width: 24%;text-align:center;">Discount</div> <div  style="float:left;width: 24%;text-align:right;">Total Amount</div></div>
            <div style="float: left;width: 100%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="taxqty" id="taxqty" style="width:95px;"/>&nbsp;-&nbsp;</div> <div style="float:left;width: 27%;text-align: center;"><input type="text" name="taxprice" id="taxprice" style="width:95px;"/>&nbsp;=</div> <div style="float:left;width: 24%;text-align: center;"><input type="text" name="taxamt" id="taxamt" value="0" style="width:95px;"/><input type="text" name="itemservicetax" id="itemservicetax" value="0" style="display:none;"/><input type="text" name="itemcesstax" id="itemcesstax" value="0" style="display:none;"/><input type="text" name="itemcesstaxper" id="itemcesstaxper" value="0" style="display:none;"/></div></div>
            <div style="float: left;width: 100%;padding: 6px;"><div  style="float:left;width: 30%;text-align:center;">Tax Type</div> <div style="float:left;width: 24%;text-align:center;">Tax Amount</div></div>
            <div style="float: left;width: 100%;"><div style="float:left;width: 28%;text-align: right;">@Html.DropDownList("TaxType", new SelectList((SelectList)ViewData["TaxType"], "Value", "Text"), "--Select--", new { @id = "taxtype",@style="width: 100px;height: 22px;"})</div>&nbsp;&nbsp; <div style="float:left;width: 32%;text-align: center;"><input type="text" name="taxval" id="taxval" style="width:95px;"/><input type="text" name="Amtin" id="Amtin" style="display:none;"/><input type="text" name="lineprice" id="lineprice" style="display:none;"/><input type="text" name="lineqty" id="lineqty" style="display:none;"/></div></div>
            <div style="float: left;width: 100%;padding: 6px;"><div  style="float:left;width: 30%;text-align:center;">TDS Amount</div> <div style="float:left;width: 24%;text-align:center;">Cess Tax</div></div>
            <div style="float: left;width: 100%;"><div style="float:left;width: 28%;text-align: right;"><input type="text" name="tdsval" id="tdsval" style="width:95px;"/></div>&nbsp;&nbsp; <div style="float:left;width: 32%;text-align: center;"><input type="text" name="cessval" id="cessval" style="width:95px;"/></div></div>
       </div>
        <div style="float:left;width:100%;">
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='CANCEL' id='btntaxcancel' value='CANCEL' class='myButton'/></div>
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='OK' id='btntaxok' value='OK' class='myButton'/></div>
            </div>
        </div>
        </div>
    </body>
</html>