﻿@{
        ViewBag.Title = @Session["FormName"];
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewField</title>
   @*  <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />*@
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSave").click(function () {
                NewTabSave('@Request["FormName"]');
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    { 
        <div class="formBuildBackground">
        <div id="ddl" class="topHeaderContentBodyInfo topfirstButtonCont">
                <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" />
            </div>
                <div class="newfieldbody" id="addnewtab">
                <div class="mainRow"><div class="mainRowCon">
                    <div class="lbl">@Html.Label("Column Name")</div>
                    <div class="txt">@Html.DropDownList("ColumnName", new SelectList(ViewBag.ExColNames), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlclass ddl" })</div>
                    </div><div class="mainRowCon"><div class="lbl">@Html.Label("Label Name")</div>
                    <div class="txt">@Html.TextBox("LabelName", "", htmlAttributes: new { @class = "txtclass" })</div>
                    </div><div class="mainRowCon"><div class="lbl">@Html.Label("Section Type")</div>
                    <div class="txt">@Html.DropDownList("Section_Type", new SelectList(new[] { "--Select--", "Section1", "Section2", "Section3", "Section4", "Section5", "Item Level", "Grid Level", "Tab" }), htmlAttributes: new { @class = "ddlclass ddl" })</div>
                 </div></div>
                <div class="mainRow"><div class="mainRowCon">
                    <div class="lbl">@Html.Label("Section Name")</div>
                    <div class="txt">@Html.TextBox("Section_Name", "", htmlAttributes: new { @class = "txtclass" })</div>
                    </div><div class="mainRowCon"><div class="lbl">@Html.Label("Control Type")</div>
                    <div class="txt">@Html.DropDownList("Control_Type", new List<SelectListItem>{
                    new SelectListItem() {Text = "TextBox", Value="TextBox"},
                    new SelectListItem() {Text = "DropDownList", Value="DropDownList"},
                    new SelectListItem() {Text = "CheckBox", Value="CheckBox"},
                    new SelectListItem() {Text = "CheckBoxList", Value="CheckBoxList"},
                    new SelectListItem() {Text = "Image", Value="Image"},
                    new SelectListItem() {Text = "DatePicker", Value="DatePicker"},
                    new SelectListItem() {Text = "GridView", Value="GridView"},
                    new SelectListItem() {Text = "RadioButton", Value="RadioButton"}
                   }, "--Select--", htmlAttributes: new { @class = "ddlclass ddl" })</div>
                    </div><div class="mainRowCon"><div class="lbl">@Html.Label("Data Source")</div>
                    <div class="txt">@Html.DropDownList("Data_Source", new SelectList(ViewBag.Source_Master, "COLUMN02", "COLUMN05"),
                "--Select--", htmlAttributes: new { @class = "ddlclass ddl" })</div>
                </div></div>
            </div>
            <div id="tabs" class="fbTabCon"></div>
        </div>
        <div class="bottomRowContentFooter" id="footerInfo">
         <div class="btnContleftFB">   <input type="button" value="Save" id="btnSave" class="buttonclass"  />
            @*<input type="button" value="Cancel" id="btnCancel"  class="buttonclass" style="height:25px"  onclick="@("window.location.href='" + @Url.Action("FormBuild", "FormBuilding") + "'")    ;" />*@
            <input onclick="  window.history.go(-1); return false; " id="form-reset" class='buttonclass' type="reset" value="Cancel"  />
        </div></div>
    }
</body>
</html>
