@model List<MeBizSuiteAppUI.Controllers.FormBuildClass>
@{
    ViewBag.Title = @Session["FormName"];
        }
<html>

<head>
       <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    @*<script src="~/Content/formbuildjquery.js"></script>*@
    <script src="~/jQuery/Manufacture.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>FormBuild</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <div id="createForm"></div>
    <div id="cartdialog" style="display:none"></div>
    <script type="text/javascript">
        var $i=jQuery.noConflict();
        $i(document).ready(function () {
            //mail sending
            $i('#Vendormail').click(function () {
                var Ref='@Request["ide"]';
                var FormName = '@Request["FormName"]';
                if(FormName=='Purchase%20Order'||FormName=='Purchase Order'){
                    $i('#cartdialog').load("/Print/PurchaseOrderPrint?FormName=Purchase%20Order&Ref=mail&pono="+Ref+""); 
                    var vendor=$i('#PUTABLE001COLUMN05 :selected').text();
                    $.session.set("venorname",vendor)
                    window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#PUTABLE001COLUMN05").val()+"&idi=22369";
                }
                else if(FormName=='Bill'){
                    $i('#cartdialog').load("/Print/BillPrint?FormName=Bill&Ref=mail&pono="+Ref+""); 
                    var vendor=$i('#PUTABLE005COLUMN05 :selected').text();
                    $.session.set("venorname",vendor)
                    window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#PUTABLE005COLUMN05").val()+"&idi=22369";
                }
                else if(FormName=='Payment'){
                    $i('#cartdialog').load("/Print/PayBillPrint?FormName=Payment&Ref=mail&pono="+Ref+""); 
                    var vendor=$i('#PUTABLE014COLUMN05 :selected').text();
                    $.session.set("venorname",vendor)
                    window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#PUTABLE014COLUMN05").val()+"&idi=22369";
                }
                else if(FormName=='Sales%20Order'||FormName=='Sales Order'){
                    $i('#cartdialog').load("/Print/SalesOrderPrint?FormName=Sales%20Order&Ref=mail&sono="+Ref+""); 
                    var vendor=$i('#SATABLE005COLUMN05 :selected').text();
                    $.session.set("venorname",vendor)
                    window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#SATABLE005COLUMN05").val()+"&idi=22368";
                }
                else if(FormName=='Invoice'){
                    $i('#cartdialog').load("/Print/InvoicePrint?FormName=Invoice&Ref=mail&sono="+Ref+""); 
                    var vendor=$i('#SATABLE009COLUMN05 :selected').text();
                    $.session.set("venorname",vendor)
                    window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#SATABLE009COLUMN05").val()+"&idi=22368";
                }
                else if(FormName=='Customer%20Payments'||FormName=='Customer Payments'){
                    $i('#cartdialog').load("/Print/PaymentPrint?FormName=Customer%20Payments&Ref=mail&sono="+Ref+""); 
                    var vendor=$i('#SATABLE011COLUMN05 :selected').text();
                    $.session.set("venorname",vendor)
                    window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#SATABLE011COLUMN05").val()+"&idi=22368";
                }
            }); 
            //Transaction Item Selection
            if ('@Session["id"]' == "1261") {
                var Item="22393";
                $i("#MATABLE007COLUMN07").prop("disabled",false);
                $i("#MATABLE007COLUMN07").val(Item);
                TransactionItemDetails(Item,'@Request["ide"]','@Session["id"]');
            }
            $i('#MATABLE007COLUMN07').change("change", function () { 
                TransactionItemDetails($i(this).val(),'@Request["ide"]',null);
            });
            //Date Picker
            dateupdate('@Session["ReportDate"]');
            //Tabs Load
            $i("#tabs").tabs();
            //Details Custom Form
            $i('#FormName').change("change", function () {
                DetailsCustomFormLoad('@Request["FormName"]',$i(this).val())
            });
            if('@Session["id"]'==1363){ ddlSelectPayBillType($i("#FITABLE020COLUMN11").val(), '@Session["id"]');}
            //Details Filling in Grid
            if( $i("#grdData")[0]){debugger
                var jarray=@Html.Raw(Json.Encode(ViewBag.gitemsdata));
                var jarray1=@Html.Raw(Json.Encode(ViewBag.bgitemsdata));
                var jarray2=@Html.Raw(Json.Encode(ViewBag.PTitemsdata));
                var jarray3=@Html.Raw(Json.Encode(ViewBag.Titemsdata));
                var jarray4=@Html.Raw(Json.Encode(ViewBag.TPitemsdata));
                DetailsFillGridD('@Session["id"]',jarray,jarray1,jarray2,jarray3,jarray4,"","","");
                if('@Session["id"]'==1363){ ddlSelectdPaeeTypes($i("#FITABLE020COLUMN11").val(), '@Session["id"]',jarray,jarray1,jarray2);}
            }
            //Opening Balance Payee Selection
            if('@Session["id"]'==1358){
                var Id=$i("#FITABLE016COLUMN06").val();var payee=$i("#FITABLE017COLUMN07").val();
                OpeningBalancePayee(Id, payee);
            }
                //Pay Bill Payee Selection
            else if('@Session["id"]'==1274){
                var Id=$i("#PUTABLE014COLUMN20").val();var payee=$i("#PUTABLE014COLUMN05").val();
                PayBillPayee(Id, payee);
            }
                //Legacy Outstanding Payee Selection
            else if('@Session["id"]'==1362){
                var Id=$i("#FITABLE019COLUMN06").val();var payee=$i("#FITABLE019COLUMN07").val();
                LegacyOutstandingPayee(Id, payee);
            }
                //Expense Tracking Payee Selection
            else if('@Session["id"]'==1293){
                var Id=$i("#FITABLE012COLUMN14").val();var payee=$i("#FITABLE012COLUMN15").val();
                ExpenseTrackingPayee(Id,payee);
            }
                //Cheque Book Payee Selection
            else if('@Session["id"]'==1363){
                var Id=$i("#FITABLE020COLUMN11").val();var payee=$i("#FITABLE020COLUMN17").val();
                chequeBookPayee(Id, payee)
            }
        });
    </script>
    
</head>
<body>
        <div id="ddl" class="rowCont bottomRowContentFB">
            <div class="bottomColFB">
   @if (@Model[0].Action != "N")
   {
             <div class="labelTxtFB">   @Html.Label("Forms  ")</div>
                     <div class="bottomInputFieldFB">   @Html.DropDownList("Forms", new SelectList(ViewBag.ddl, selectedValue: ViewBag.selected), htmlAttributes: new { id = "FormName" })
   </div>}</div>
                  <div class="bottomColFB1">
                       <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("Edit", "JobOrderIssue", new { ide = Request["ide"], FormName = Request["FormName"] }) + "'")    ;" />
                 </div>
                   <div class="bottomColFB1">
                      <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "JobOrderIssue", new { FormName = Request["FormName"] }) + "'")    ;" />
  </div>      
                     
                     
 
        @{var id = @Model[1].Field_Name; var idPrint = Request["ide"];
          //Model.Where(a => a.Field_Name == id).Select(b => b.Default_Value).FirstOrDefault();
          var invoicereturn = Model.Where(a => a.Field_Name == "SATABLE009COLUMN06").Select(b => b.Default_Value).FirstOrDefault();
          var billreturn = Model.Where(a => a.Field_Name == "PUTABLE005COLUMN06").Select(b => b.Default_Value).FirstOrDefault();
          var formid = Model.Where(a => a.Field_Name == id).Select(b => b.Form_Id).FirstOrDefault();}
            @if (formid == 1251)
            {
                 <div class="bottomColFB1">     
             @Html.ActionLink("Print", "PurchaseOrderPrint", new { controller = "Print", @pono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })
               </div> <div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnPurchaseReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("NewForm", "JobOrder", new { ide = Request["ide"], FormName = "Purchase Return Order" }) + "'")    ;" /> </div>
            }
            else if (formid == 1273)
            { 
                <div class="bottomColFB1">     
             @Html.ActionLink("Print", "BillPrint", new { controller = "Print", @pono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })
                </div>
                if (billreturn == null || billreturn == "")
                {
                     <div class="bottomColFB1"><input type="button" class="buttonclass" id="btnPurchaseReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("NewForm", "JobOrder", new { ide = Request["ide"], FormName = "Purchase Return Order", Ref = "Bill" }) + "'")    ;" /> </div>
                }
            }
            // else if (formid == 1274)
            // {
            // @Html.ActionLink("Print", "PayBillPrint", new { controller = "Print", @pono = idPrint }, new { target = "_blank", @class = "buttonclass", @style = "color:white;text-decoration:none;" })
            //}


            else if (formid == 1275)
            {
                 <div class="bottomColFB1">     
             @Html.ActionLink("Print", "SalesOrderPrint", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })
            </div> if(@Session["SalesReturn"]==null){<div class="bottomColFB1">   <input type="button" class="buttonclass" id="btnSalesReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("NewForm", "JobOrder", new { ide = Request["ide"], FormName = "Sales Return Order" }) + "'")    ;" /></div>}
            }
            else if (formid == 1283)
            {
              <div class="bottomColFB1">     @Html.ActionLink("Print", "JobOrderPrint", new { controller = "Print", @jono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })</div>
            
            }

            else if (formid == 1277)
            { <div class="bottomColFB1">     
             @Html.ActionLink("Print", "InvoicePrint", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })</div>
                if (invoicereturn == null || invoicereturn == "")
                {  <div class="bottomColFB1">   <input type="button" class="buttonclass" id="btnSalesReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("NewForm", "JobOrder", new { ide = Request["ide"], FormName = "Sales Return Order", Ref = "Invoice" }) + "'")    ;" /> </div>
                }
            }
            else if (formid == 1287)
            {
             <div class="bottomColFB1">      @Html.ActionLink("Print", "BillServicesPrint", new { controller = "Print", @jono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })</div>
            }

            //else if (formid == 1278)
            //{
            // @Html.ActionLink("Print", "PaymentPrint", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "buttonclass", @style = "color:white;text-decoration:none;" })
            //}
            else if (formid == 1288)
            {
              <div class="bottomColFB1">     @Html.ActionLink("Print", "JOPayBillPrint", new { controller = "Print", @jono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })</div>
            }
	      else if (formid == 1587)
            {
              <div class="bottomColFB1">     @Html.ActionLink("Print", "JobReceiptPrint", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })</div>
            }
	      else if (formid == 1588)
            {
              <div class="bottomColFB1">     @Html.ActionLink("Print", "JobIssuePrint", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "buttonclass linkFont" })</div>
            <div class="bottomColFB1">   @Html.ActionLink("Challan", "GatePassChallan", new { controller = "Print", @sono = idPrint}, new { target = "_blank", @class = "buttonclass linkFont" }) 
              </div>
            }
                 
                @if (formid == 1251 || formid == 1273 || formid == 1274 || formid == 1275 || formid == 1277 || formid == 1278)
                {
            <div class="bottomColFB1">
                <a id="Vendormail" >  <img src="~/Images/email.png" class="mailimage"/></a>
            </div>
                }
                @if (formid == 1378)
                {
            <div class="bottomColFB1">
                     <input type="button" class="buttonclass" id="btnProjectWorkOrder" value="Project Work Order"  onclick="@("window.location.href='" + @Url.Action("NewForm", "JobOrder", new { FormName = Session["PForms"], ide = @Request["ide"] }) + "'")    ;" />
                @*<a href="FormBuild?FormName=Project Work Order&ide=@Request["ide"]"    >Project Work Order</a>*@ 
            </div>
                }
 </div> 
        <div id="FormData" class="bodyFBContent">
@using (Html.BeginForm("Edit", "JobOrderIssue", FormMethod.Post))
{
    var m = Model.Where(a => a.Section_Type != "Tab" && a.Section_Type != "Table" && a.Section_Type != "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
    int co = 0, c1 = 0, coT = 0; var invoiceso = @m.Where(a => a.Field_Name == "SATABLE009COLUMN06").FirstOrDefault();
    
        <div class="divRow" id="FormData" >
       <div > 
               <div class="mainRow" id="@m[0].Section_Name" >
    @for (int q = 1; q < m.Count; q++)
    {

        if ((ViewBag.header != @m[q].Section_Name))
        {
            for (int y = 0; y <= q; y++)
            {
                if ((@m[q].Section_Name == @m[y].Section_Name) && (y != 0 && q != 0 && y != q))
                {
                    if ((co % 3 == 0))
                    { 
                     @:</div>
                     @:<div class="mainRow" id="@m[q].Section_Name">
                         co = 3;
                    }
                    else
                    {

                    }
                    break;
                }
                else if (y == q)
                { 
                    @:</div>
                    @:@if (@m[q].Section_Name != null && @m[q].Section_Name != "")
                      {<div id="@m[q].Section_Name" class="bodyFBCon"> @m[q].Section_Name </div>}<div class="mainRow"  id="@m[q].Section_Name" >
                  co = 0;
                }
            }
        }
        else
        {
            if ((co % 3 == 0))
            { 
             @:</div>
             @:<div class="mainRow" id="@m[q].Section_Name"> 
                co = 0;
            }
        }
        co++;
        ViewBag.header = m[q].Section_Name;

        if (m[q].Control_Type == "TextBox")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >
                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                @*EMPHCS1698 Displaying control values in lable in all VIEW click by GNANESHWAR ON 16/4/2016*@
			   <div class="txt"  id="@m[q].Section_Name"  > <lable id=" @m[q].Field_Name" itemid="@m[q].Data_Type" name="@m[q].Field_Name" class="txtclass" type="text" value="@m[q].Default_Value"  > : @m[q].Default_Value</lable></div>
        </div>}
        else if (m[q].Control_Type == "LinkLabel")
        {<div class="mainRowCon" id="@m[q].Section_Name" >
           <div class="lbl"  id="@m[q].Section_Name"  > @*@Html.DisplayFor(a => m[q].Label_Name)*@</div>

                <div class="txt"  id="@m[q].Section_Name"  >  
                    <a href="/JobOrderReceipt/NewForm?FormName=@Session["PForms"]&ide=@Session["ide"]">@Session["PForms"]</a> <input id=" @m[q].Field_Name"  name="@m[q].Field_Name"  type="hidden" value="@ViewBag.fname"  />
                </div> </div>
        }
        else if (m[q].Control_Type == "TextArea")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >
                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  > <lable id=" @m[q].Field_Name"  itemid="@m[q].Data_Type" name="@m[q].Field_Name" class="txtclass" rows="1" disabled="disabled"  >@m[q].Default_Value</lable></div>
                </div>
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              
        }

        else if (m[q].Control_Type == "TextArea")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >

                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)@if (@m[q].Mandatory == "Y")
                                                                                                   {<label  class="astric">* </label>}</div>

                <div class="txt"  id="@m[q].Section_Name"  > <lable id=" @m[q].Field_Name" pattern="@m[q].Mandatory" itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtareaclass" rows="0"    >@m[q].Default_Value</lable>
                    @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                </div>
                
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              </div>
        }

        else if (m[q].Control_Type == "Image")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >
                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  >
                    <img src="~/Content/Upload/@m[q].Default_Value" alt="@m[q].Default_Value"/>
                    @* <input type="file" id="@m[q].Field_Name"   itemid="@m[q].Data_Type"   name="@m[q].Field_Name" value="@m[q].Default_Value" style="width:100px;" />*@
                    @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div></div>
              
        }
        else if (m[q].Control_Type == "Label")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >
                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  >
                  <label>@m[q].Default_Value</label>  <input id=" @m[q].Field_Name"  name="@m[q].Field_Name"  type="hidden" value="@m[q].Default_Value"  />
                     @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div></div>
             
        }
        else if (m[q].Control_Type == "CheckBox")
        {  
              <div class="mainRowCon" id="@m[q].Section_Name" >
                 <div class="lbl"  id="@m[q].Section_Name"  >  @Html.DisplayFor(a => m[q].Label_Name)</div>

              <div class="txt"  id="@m[q].Section_Name" >
              @if (@m[q].Default_Value == "True")
              {
        
                                <lable  class="chkclass"  name="@m[q].Field_Name" value="True" checked="checked" disabled="disabled"> : True</lable>
        
              }

              else
              {
        
                                <lable   class="chkclass"  name="@m[q].Field_Name" value="False" disabled="disabled" > : False</lable>
        
              }
              </div></div>
        }
        else if (m[q].Control_Type == "DropDownList")
        {  
              <div class="mainRowCon" id="@m[q].Section_Name" >
               <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div class="txt" id="@m[q].Section_Name"  >
                   <label id=" @m[q].Field_Name" itemid="@m[q].Data_Type" name="@m[q].Field_Name" class="txtclass" >: @m[q].Field_Text</label>
                  @* @Html.DropDownList(@m[q].Label_Name, null, " -- Select Option -- ", new { @class = "ddlclass ddl", @disabled = "disabled", @id = @m[q].Field_Name })
                   @Html.DropDownList("Forms", new SelectList(ViewBag.ddl, selectedValue: ViewBag.selected), htmlAttributes: new { id = "FormName" })*@
               </div></div>

    
        }
        else if (m[q].Control_Type == "RadioButton")
        {   
             <div class="mainRowCon" id="@m[q].Section_Name" >
               <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div class="txt" id="@m[q].Section_Name"  ><input id=" @m[q].Field_Name" name="@m[q].Field_Name" type="radio" class="rdoclass" value="@m[q].Default_Value" disabled="disabled" /></div>
            </div>
      
        }
        else if (m[q].Control_Type == "DatePicker")
        {   
             <div class="mainRowCon" id="@m[q].Section_Name" >
            <div class="lbl"   id="@m[q].Section_Name" >@Html.DisplayFor(a => m[q].Label_Name)</div>
                 @{string headerdate = null; if (m[q].Default_Value != null && m[q].Default_Value != "") { headerdate = Convert.ToDateTime(m[q].Default_Value).ToString(ViewBag.DateFormat); if (ViewBag.DateFormat == "") { headerdate = Convert.ToDateTime(m[q].Default_Value).ToShortDateString(); } }}
              <div class="txt"  id="@m[q].Section_Name"  ><lable id=" @m[q].Field_Name" itemid="@m[q].Data_Type" name="@m[q].Field_Name" class="date" type="text" value="@headerdate"  > : @headerdate</lable></div>
                 </div>
        }
    }
   </div>
  </div> 
       </div>
    var m3 = @Model.Where(a => (a.Section_Type == "Item Level" && a.Section_Type != "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
    var m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" || a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderBy(a => a.Section_Name).ToList();
    var m4 = @Model.Where(a => (a.Section_Type == "Table") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();

 
    
    
    <div id="tabs" class="fbTabCon">
          
          @if (m1.Count > 0 || m3.Count > 0)
          {
        <ul>
        
        @foreach (var tab in ViewBag.Tabs)
        {

            //var TabCount = m1.Where(a => a.Section_Name == tab).Count();
         <li>
             <a href=#@tab >@tab</a>&nbsp;
         </li>
        }
              @if (Session["DDDynamicItems"] != "DDDynamicItems")
              {
         <span class="newTabFB">
             <input type="button" class="buttonclassTab" id="btnNewTab"  value="New Tab" onclick="@("window.location.href='" + @Url.Action("AddNewTab", "JobOrder", new { FormName = Request["FormName"] }) + "'")" >&nbsp;
         </span>
              }
         </ul> 
        <div  class="fbBodyFoter">
        @{
              var fnaame = ViewBag.EFormName;
              var gridT = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
              List<WebGridColumn> InlinecolumnsT = new List<WebGridColumn>();
              if (ViewBag.GridDynamicData != null)
              {
                  gridT.Bind(ViewBag.GridDynamicData, autoSortAndPage: false);
                  foreach (var Inline in ViewBag.GridDynamicDataC)
                  {
                      if (fnaame == "")
                      {
                          if (Inline == "COLUMN02")
                          {
                              InlinecolumnsT.Add(new WebGridColumn() { ColumnName = "ID", Header = "ID" });
                          }
                          else
                          {
                              InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                          }
                      }
                      else
                      {
                          if (Inline == "COLUMN02")
                          {
                              InlinecolumnsT.Add(new WebGridColumn()
                              {
                                  ColumnName = Inline,
                                  Header = "ID",
                                  Format =@<text>@Html.ActionLink(((string)item.AA).ToString(), "Edit", "JobOrder", new { ide = item.AA, FormName = ViewBag.EFormName, tblIDE = ViewBag.TableIDE }, htmlAttributes: new { })</text>
                              });
                          }
                          else
                          {
                              InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                          }
                      }
                  }
              }
              var grid = new WebGrid(null, ajaxUpdateContainerId: "grdData", canSort: false, canPage: false);
              if (m3.Count > 0)
              {
                  grid.Bind(ViewBag.itemsdata, autoSortAndPage: false);
              }
              List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();
              List<WebGridRow> Inlinerows = new List<WebGridRow>();

              var icol = ""; var colsname = ""; var ctrltype = "";
              var coo = 0; }
                      @for (int l = 1; l <= m3.Count; l++)
                      {
                          for (int g = coo; g < m3.Count; g++)
                          {
                              colsname = m3[g].Field_Name;
                              ctrltype = m3[g].Control_Type;
                              if (g == 0)
                              {
                                  ViewBag.colsname = colsname;
                                  ViewBag.ctrltype = ctrltype;
                              }
                              else
                              {
                                  if (ViewBag.colsname == colsname && ViewBag.ctrltype == ctrltype)
                                  {
                                      coo = m3.Count; break;
                                  }
                              }
                              if (m3[g].Control_Type == "TextBox")
                              {
                                  if (m3[g].Field_Name == "SATABLE010COLUMN08" && (invoiceso.Default_Value == "" || invoiceso.Default_Value == null)) { }
                                  else
                                  {
                                      Inlinecolumns.Add(new WebGridColumn()
                                      {
                                          Header = @m3[g].Label_Name,
                                          ColumnName = @m3[g].Field_Name
                                          ,
                                          Format =@<text><lable  id="@m3[g].Field_Name"  class="txttabClass"   itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@item[m3[g].Field_Name]"   type="text" >  @item[m3[g].Field_Name]</lable></text>
                                      });
                                  }
                              }
                              else if (m3[g].Control_Type == "TextArea")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text>
                                         <lable  id="@m3[g].Field_Name"  title="@m3[g].Section_Name"   class="txttabClass txtarealength" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"     >@item[m3[g].Field_Name]</lable>
                                      </text>
                                  });
                              }
                              else if (m3[g].Control_Type == "CheckBox")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                      ,
                                      Format =@<text><lable  id="@m3[g].Field_Name" class="chkclass"   name="@m3[g].Label_Name" value="@item[m3[g].Field_Name]"   type="checkbox"  disabled="disabled">  @item[m3[g].Field_Name]</lable></text>
                                  });
                              }
                              else if (m3[g].Control_Type == "DropDownList")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                      ,
                                      Format =@<text><label id=" @m3[g].Field_Name" itemid="@m3[g].Data_Type" name="@m3[g].Field_Name" class="txtclass" >  @m3[g].Field_Text</label> 
                                          @*<input  id="@m3[g].Field_Name"  class="txttabClass"   itemid="@m3[g].Data_Type" name="@m3[g].Field_Name"  value="@item[m3[g].Field_Name]"   type="text" style="width:100px;" disabled="disabled"   /></text>*@
                                           @*@Html.DropDownList(@m3[g].Label_Name, null, " -- Select Option -- ", new { @class = "itemddlclass gridddl", @disabled = "disabled", @id = @m3[g].Field_Name })*@
            </text>
                                  });
                              }
                              else if (m3[g].Control_Type == "RadioButton")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                      ,
                                      Format =@<text><input class="rdoclass"   id="@m3[g].Field_Name" name="@m3[g].Label_Name" value="@item[m3[g].Field_Name]"    type="radio"  disabled="disabled" /></text>
                                  });
                              }
                              else if (m3[g].Control_Type == "DatePicker")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                      ,
                                      Format =@<text>
                                               @{
                                                   string griddate = null;
                                                   if (Convert.ToString(@item[m3[g].Field_Name]) != null && Convert.ToString(@item[m3[g].Field_Name]) != "")
                                                   { griddate = Convert.ToDateTime(@item[m3[g].Field_Name]).ToString(ViewBag.DateFormat); if (ViewBag.DateFormat == "") { griddate = Convert.ToDateTime(@item[m3[g].Field_Name]).ToShortDateString(); } }
                                                }
                                     <lable  id="@m3[g].Field_Name"  class="txttabClass"   itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@griddate"   type="text" >  @griddate</lable></text>
                                  });
                              }
                              else if (m3[g].Control_Type == "LinkLabel")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text><div class="colW">
                            <a href="FormBuild?FormName=@Session["PForms"]&ide=@item[m3[g].Field_Name]&Ref=MileStone" id="@m3[g].Field_Name"  >@m3[g].Label_Name</a> 
                        </div></text>
                                  });
                              }
                              coo = coo + 1;
                              break;
                          }
                      } 
                <div class="bottomdivRow" id="formtabcontent">
                      <div class="mainRow"  id="@m1[0].Section_Name">

        @for (int q = 0; q < m1.Count; q++)
        {
            if (ViewBag.headerT == m1[q].Section_Name)
            {
                if (coT % 3 == 0 && coT != 0)
                {
                    @:</div> 
                    @:<div class="mainRow bottomdivRow"  id="@m1[q].Section_Name" >
                        coT = 0;
                }

                if (@m1[q].Section_Type == "Grid Level")
                {
                                 <div class="gridLevelFB">
                  @gridT.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
          columns: InlinecolumnsT)</div>
                    coT = 2;
                }
                else if (@m1[q].Section_Type == "Item Level")
                {
                                <div id="itemgrid" class="itemGridFB">
                    @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" }
                 , columns: Inlinecolumns
            )
                                </div>coT = 2; 
                                      //if (m1[q].Table_Id != 110010837) { q += m3.Count; }
                                      //if (m1[q].Table_Id != 110010837) { q += m3.Count; }
                                      //EMPHCS743 - GNANESHWAR 22/7/2015 Adding Shipping Tab Fileds in Sales order and Invoice chages for getting tab in order
                                     
                                      if (m1.Count > (q + m3.Count))
                                      {
                                          q = q + m3.Count - 1;
                                      }
                                      else
                                      {
                                          break;
                                      }
                }
                else if (@m1[q].Section_Type == "Tab")
                {

                    if (m1[q].Control_Type == "TextBox")
                    {<div class="mainRowCon" id="@m1[q].Section_Name" >
                        <div class="lbl">
                            @Html.DisplayFor(a => m1[q].Label_Name)
                        </div>
                            <div class="txt">
                            <lable id=" @m1[q].Field_Name" class="txttabClass"  itemid="@m1[q].Data_Type" name="@m1[q].Field_Name"  type="text" value="@m1[q].Default_Value" > : @m1[q].Default_Value</lable>
                        </div>
                        </div>
                    }
                    else if (m1[q].Control_Type == "TextArea")
                    {
         <div class="mainRowCon" id="@m1[q].Section_Name" >
       <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        <div class="txt">
              <lable id=" @m1[q].Field_Name"  title="@m1[q].Section_Name"  class="txtareaclass" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"  disabled="disabled"  >@m1[q].Default_Value</lable>
          @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div> </div>
        
                
                    }

                    else if (m1[q].Control_Type == "CheckBox")
                    {<div class="mainRowCon" id="@m1[q].Section_Name" >
        <div class="lbl">

                            @Html.DisplayFor(a => m1[q].Label_Name)
                        </div>
            <div class="txt">

                            @if (@m1[q].Default_Value == "True")
                            {
        
                                <lable  class="chkclass"  name="@m1[q].Field_Name" value="True" checked="checked"> : Ture</lable>
        
                            }

                            else
                            {
        
                                <lable  class="chkclass"  name="@m1[q].Field_Name" value="False" disabled="disabled"> : False</lable>
        
                            }
                </div></div>
        
                    }

                    else if (m1[q].Control_Type == "DropDownList")
                    {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
                    <div class="lbl">

                            @Html.DisplayFor(a => m1[q].Label_Name)
                        </div>

                        <div class="txt">
                          @*  @Html.DropDownList(@m1[q].Field_Name, new SelectList((SelectList)ViewData[@m1[q].Field_Name], "Value", "Text"), "--Select--", new { @style="width:150px"})*@
                              <label id=" @m1[q].Field_Name" itemid="@m1[q].Data_Type" name="@m1[q].Field_Name" class="txtclass" >: @m1[q].Field_Text</label> 
                   @*@Html.DropDownList(@m1[q].Label_Name, null, "--Select--", new { @style = "width:100%", @disabled = "disabled", @class = "ddlclass ddl", @id = @m1[q].Field_Name, @itemid = @m1[q].Mandatory })*@
                    </div></div>
        
                    }
                    else if (m1[q].Control_Type == "RadioButton")
                    {  <div class="mainRowCon" id="@m1[q].Section_Name" >  <div class="lbl">@Html.DisplayFor(a => m1[q].Label_Name)</div>
                <div class="txt">
                    <input id=" @m1[q].Field_Name" name="@m1[q].Field_Name" type="radio" value="@m1[q].Default_Value"  class="rdoclass" disabled="disabled"/>
                </div></div>}
                    else if (m1[q].Control_Type == "DatePicker")
                    {<div class="mainRowCon" id="@m1[q].Section_Name" >
                     <div class="lbl">

                            @Html.DisplayFor(a => m1[q].Label_Name)
                        </div>
                             <div class="txt"> 
                       
                                 @{string linedate = null; if (m1[q].Default_Value != null && m1[q].Default_Value != "") { linedate = Convert.ToDateTime(m1[q].Default_Value).ToString(ViewBag.DateFormat); if (ViewBag.DateFormat == "") { linedate = Convert.ToDateTime(m1[q].Default_Value).ToShortDateString(); } }}
                            <lable id=" @m1[q].Field_Name" class="txttabClass"  itemid="@m1[q].Data_Type" name="@m1[q].Field_Name"  type="text" value="@linedate"  >@linedate</lable>

                           </div></div>
                    }
                }
                coT++;
                if (q == m1.Count - 1)
                {
                    if (coT % 3 == 1)
                    {
                        if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                        { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        }
                    }
                    else if (coT % 3 == 2)
                    {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                    }
                }
            }
            else
            {

                if (coT > 0)
                {
                    ViewBag.headerT = m1[q].Section_Name;
                    if (coT % 3 == 1)
                    {
                        if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                        { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                         @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name" class="ui-tabs-panel ui-widget-content ui-corner-bottom" >
                    //stylepending width:100%;background-color:#005A88;padding:0
                            q--; coT = 0;
                        }
                        if (@m1[q].Section_Type == "Item Level" || @m1[q].Section_Type == "Grid Level")
                        {
                            q--;
                        }
                    }
                    else if (coT % 3 == 2)
                    {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                        @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name" class="ui-tabs-panel ui-widget-content ui-corner-bottom" >
                        q--; coT = 0;
                    }
                    else if (coT % 3 == 0)
                    {
                           @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name" class="ui-tabs-panel ui-widget-content ui-corner-bottom" >
                        q--; coT = 0;
                    }
                }
                else if (q == 0)
                {
                    ViewBag.headerT = m1[q].Section_Name;
                    q--; coT = 0;
                }
                else
                {
                }
            }
        }    </div>


                  @for (int q = 0; q < @m4.Count; q++)
                  {
                      if (@m4[q].Section_Type == "Table")
                      {
                          if (q == 0 || q == 7)
                          {
                              if (q == 0)
                              { 
                           @:<div id="@m4[q].Section_Name" class="tblfirstcol" > <div id="@m4[q].Section_Name" class="tblsections"  > Sales Information </div>
                            }
                              else if (q == 7)
                              { 
                            @:</div><div id="@m4[q].Section_Name"  class="tblsecondcol"  ><div id="@m4[q].Section_Name"   class="tblsections"  > Purchasing Information  </div>
                         }
                          }

                          if (m4[q].Control_Type == "TextBox")
                          {
                        <div class="tblrowheight"  id="@m4[q].Section_Name" >
       <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)
           @if (@m4[q].Mandatory == "Y")
           {<label  class="astric" >* </label>}
        </div>
        @*@Html.TextBoxFor(a=>m4[q].Default_Value)*@
        <div class="tblcontrollength">@if (m4[q].Field_Name == "Password")
                                      {
         <lable id=" @m4[q].Field_Name"  title="@m4[q].Section_Name"  class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"  type="password" value="@m4[q].Default_Value" readonly="true"> : @m4[q].Default_Value</lable>
                                      }
                                      else
                                      {
         <lable id=" @m4[q].Field_Name" title="@m4[q].Section_Name" class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"  type="text" value="@m4[q].Default_Value"  readonly="true"> : @m4[q].Default_Value</lable>
        @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
                                      }</div> </div>
                          }
                          else if (m4[q].Control_Type == "TextArea")
                          {
                            <div  class="tblrowheight" id="@m4[q].Section_Name" >
       <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        <div class="tblcontrollength">
              <lable id=" @m4[q].Field_Name"  title="@m4[q].Section_Name"  class="tbltxtarea" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"   readonly="true" >@m4[q].Default_Value</lable>
          @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div> </div> 
                
                          }
                          else if (m4[q].Control_Type == "Label")
                          {
                         <div  class="tblrowheight"  id="@m4[q].Section_Name" >
        <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        <div class="tblcontrollength">
              <label id=" @m4[q].Field_Name"   itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"   >@m4[q].Default_Value</label>
          </div></div> 
                          }
                          else if (m4[q].Control_Type == "Image")
                          { 
                        <div   class="tblrowheight"  id="@m4[q].Section_Name" >
             <div class="tbltextlength">
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        
         <div class="tblcontrollength">
          <input type="file" id="@m4[q].Field_Name"  title="@m4[q].Section_Name"  itemid="@m4[q].Data_Type"   name="@m4[q].Label_Name" value="@m4[q].Default_Value" class="img"  readonly="true"/>
         </div></div>
                          }

                          else if (m4[q].Control_Type == "CheckBox")
                          {
                          <div   class="tblrowheight" id="@m4[q].Section_Name" >
          <div class="tbltextlength">
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
         <div class="tblcontrollength">
        
         <lable id="@m4[q].Field_Name"  title="@m4[q].Section_Name" class="chkclass"  name="@m4[q].Label_Name" value="@m4[q].Default_Value" >@m4[q].Default_Value</lable>
        </div></div> 
                          }

                          else if (m4[q].Control_Type == "DropDownList")
                          {
                            <div   class="tblrowheight" id="@m4[q].Section_Name" >
          <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        
             <div class="tblcontrollength">
                  @Html.DropDownList(@m4[q].Label_Name, new SelectList((SelectList)ViewData[@m4[q].Label_Name], "Value", "Text"), "--Select--", new { @class = "tblddl", @id = @m4[q].Field_Name, @title = m4[q].Section_Name, @itemid = @m4[q].Mandatory, @disabled = "disabled" })
                    @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
             </div>      </div>      
        
                          }
                          else if (m4[q].Control_Type == "RadioButton")
                          {   
                        <div   class="tblrowheight"  id="@m4[q].Section_Name" > 
                           <div class="tbltextlength">@Html.DisplayFor(a => m4[q].Label_Name)</div>
                           <div class="tblcontrollength"><input id=" @m4[q].Field_Name"  title="@m4[q].Section_Name" name="@m4[q].Label_Name" type="radio" value="@m4[q].Default_Value"  class="rdoclass" disabled="disabled"/>
                               </div> </div>
                          }
                          else if (m4[q].Control_Type == "DatePicker")
                          {
        
                      <div   class="tblrowheight"  id="@m4[q].Section_Name" >
        <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)
        </div> 
                           @{ var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }}
        <div class="tblcontrollength">
         <lable name="@m4[q].Label_Name"  title="@m4[q].Section_Name" type="text"  id="@m4[q].Field_Name" value="@Dtext" class="date tbltxt" >@Dtext</lable>
        </div></div>
                          }
                          if (q == m4.Count - 1)
                          {
                           @:</div>
                           }
                      }
                  }

         </div></div>
          }
    </div>

    
   
}
        </div>
         <div class="rowCont newbottomRowContentFooter" id="footerInfo">
        @* <div class="btnContleftFB">    <input type="button" value="Cancel" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ;" />
       </div>*@
        
     
          </div>  

</body>
</html>
