﻿@{
     if (Session["FormName"].ToString() == "Issue Cheque"){
    ViewBag.Title = "Cheque";}
    else{
        ViewBag.Title = Session["FormName"];}
}
<html>
<head>
    <script src="~/jQuery/Manufacture.js"></script>
    <div id="dialogcreate"></div>
     @*<script src="~/Content/formbuildjquery.js"></script>*@
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grdfData').DataTable();
        //$("#FddlDynamicSortByStatus").val(Session["SortByStatus"]);

        //FilterView
        $("#btnFilters").click(function () {
            FilterView();
        });
        //Bottom Export Button Click Event
        $("#btnFilters2").click(function () {
            FilterView2();
        });
       @* //new form
        
            $('#btnNew').click(function (e) {
    
                location.href = '@Url.Content("~/"+Session["FormNameContr"]+"/NewForm?FormName ="+Request["FormName"]+",ide="+"null"+" ")';
      });  *@

      
        @*@("window.location.href='" + @Url.Action("NewForm","'" + @Session["FormNameContr"] + "'", new { FormName = Request["FormName"], ide = "null" }) + "'")*@ 
        //Print View
        $("#btnPrint").click(function () {
            PrintView();
        });
        //Bottom Print View
        $("#btnBPrint").click(function () {
            PrintView();
        });
        //Search Event
        $("#btnSearch").click("click", function () {
            var ttl = '@Request["FormName"]';
            var ttle = ttl.replace(' ', '.');
            $('#dialogcreate').dialog({
                autoOpen: false,
                modal: true,
                width: 500,
                height: 300, resizable: false,
                title: "Search",
                closeOnEscape: true
            })
            $('#dialogcreate').dialog('open');
            $('#dialogcreate').load("/FormBuilding/Search?FormName=" + ttle + "");
            $('#dialogcreate').show();
            return false;
        });
        //Inline Edit ON
        $('.button-hide').click("click", function () {
            InlineON();
        });
        //Inline Edit OFF
        $('.button-show').click("click", function () {
            InlineOFF();
        });
        //Style Event
        $("#ddlDynamicStyle").change("change", function () {
            var items = $(this).val();
            $.session.set("dynamicStyle", $('#ddlDynamicStyle :selected').val());
            dynamicStyle($(this).val());
            styles('@Request["FormName"]', items);
        });
        //Footer Style event
        $("#FddlDynamicStyle").change("change", function () {
            var items = $(this).val();
            $.session.set("dynamicStyle", $('#FddlDynamicStyle :selected').val());
            //$("#divfilter").toggle();
            dynamicStyle($(this).val());
            styles('@Request["FormName"]', items);
        });
        //Footer View event
        $("#ddlDynamicView").change("change", function () {
            var item = $('#ddlDynamicView :selected').text();
            $.session.set("dynamicView", $('#ddlDynamicView :selected').val());
            FooterView(item, '@Request["FormName"]')
        });
        //Dynamic View Event
        $("#FddlDynamicView").change("change", function () {
            var item = $('#FddlDynamicView :selected').val();
            $.session.set("dynamicView", $('#FddlDynamicView :selected').val());
            FooterView(item, '@Request["FormName"]')
            //$("#divfilter").toggle();
        });
        //QuickSort Event For Footer
        $("#ddlDynamicQuickSort").change("change", function () {
            $.session.set("dynamicSort", $('#ddlDynamicQuickSort :selected').val());
            QuickSort($('#ddlDynamicQuickSort :selected').val(), '@Request["FormName"]');
        });
        //Sort By Status Event
        $("#ddlDynamicSortByStatus").change("change", function () {
            $.session.set("dynamicSort", $('#ddlDynamicSortByStatus :selected').val());
            QuickSort($('#ddlDynamicSortByStatus :selected').val(), '@Request["FormName"]');
        });
        //Item Master Items
        $("#ddlItemType").change("change", function () {
            var items = $('#ddlItemType :selected').val();
            $.session.set("dynamicddlItemType", items); $.session.set("dynamicFddlItemType", null);
            ItemMasterItems(items, '@Request["FormName"]');
        });
        //Footer Item Master Items
        $("#FddlItemType").change("change", function () {
            var items = $('#FddlItemType :selected').val();
            $.session.set("dynamicFddlItemType", items); $.session.set("dynamicddlItemType", null);
            ItemMasterItems(items, '@Request["FormName"]');
        });
        //Header Quick Sort Event
        $("#FddlDynamicQuickSort").change("change", function () {
            $.session.set("dynamicSort", $('#FddlDynamicQuickSort :selected').text());
            QuickSort($('#FddlDynamicQuickSort :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });
        //Header SortByStatus Evevnt
        $("#FddlDynamicSortByStatus").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]')
                $.session.set("dynamicStatus", null);
            else
                $.session.set("dynamicStatus", $('#FddlDynamicSortByStatus :selected').text());
            SortByStatus($('#FddlDynamicSortByStatus :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });
        if ('@Session["filterStatus"]' == '')
        { $.session.set("dynamicStatus", null); }
        else { $.session.set("dynamicStatus", '@Session["SortByStatus"]'); }
        //Common Functionalities
        IntialActivities('@Session["id"]');
    });
    //Inline Editing grid
    //gridChange(tr,@Html.Raw(Json.Encode(ViewBag.columns)),'@Request["FormName"]');
    //Destroy session
    session();
</script>

</head>


<body >
    <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "JobOrderIssue", new { FormName = Request["FormName"] }) + "'")    ; session();" /></div>
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New"   onclick="@("window.location.href='" + @Url.Action("NewForm", "JobOrderIssue", new { FormName = Request["FormName"], ide = "null" }) + "'")    ;" /></div>

    @*       onclick="@("window.location.href='" + @Url.Action("FormBuild", "FormBuilding", new { FormName = Request["FormName"], ide = "null" }) + "'")  *@

 <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
                   @*<div class="btnContleft"><input type="button" class="buttonclass" id="btnSearch" value="Search" /></div>*@
                    @*<div id="btnOFF"   class="btnContRight">
                     @Html.Label("InlineEditing:")
                    <input type="button" class="button-hide " value="ON" />                
                    <input type="button" class="button-show " value="OFF" disabled="disabled"/>
                    </div>*@
           
          @* <div class="btnContRight" >
               <div style="float:left">
@Html.Label("InlineEditing:")</div>
           <div id="btnOFF" class="onoffswitch">
               
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="button-hide onoffswitch-inner"></span>
        <span class="button-show onoffswitch-switch" ></span>
    </label>
</div>               </div>
           *@

           <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"> <input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" /></div>
            <div class="dropdown btnContRight">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                         <li><a href="@Url.Action( "ExportPdf", "FormBuilding", new { FormName = Request["FormName"] })">PDF</a></li>
                        <li><a href="@Url.Action( "ExportExcel", "FormBuilding", new { FormName = Request["FormName"] })">Excel</a></li>
                        <li><a href="@Url.Action( "ExportWord", "FormBuilding", new { FormName = Request["FormName"] })">Word</a></li>
                        <li><a href="@Url.Action( "ExportCSV", "FormBuilding", new { FormName = Request["FormName"] })">CSV</a></li>
                    </ul>
                </div>
         </div>
      @*  <div class="linebreek"></div>
       <div class="topSecondButtonCont">
            <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
            
            <div class="emptyDiv12"></div>
           <div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"> <input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" /></div>
            <div class="dropdown btnContRight">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                         <li><a href="@Url.Action( "ExportPdf", "FormBuilding", new { FormName = Request["FormName"] })">PDF</a></li>
                        <li><a href="@Url.Action( "ExportExcel", "FormBuilding", new { FormName = Request["FormName"] })">Excel</a></li>
                        <li><a href="@Url.Action( "ExportWord", "FormBuilding", new { FormName = Request["FormName"] })">Word</a></li>
                        <li><a href="@Url.Action( "ExportCSV", "FormBuilding", new { FormName = Request["FormName"] })">CSV</a></li>
                    </ul>
                </div></div>
       </div>*@
  
                </div>

     <div class="hideFilter" id="divfilter">
        @*<div class="labelTxtFirstCol">
                    @Html.Label("Style")</div><div class="bottomInputField">  @Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), new { id = "FddlDynamicStyle" })
                    </div>*@
        <div class="labelTxtFirstCol">
                   @Html.Label("View")</div><div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), optionLabel: "Default", htmlAttributes: new { id = "FddlDynamicView" })
</div>
         <div class="labelTxtFirstCol">

                     @Html.Label("Sort By")</div><div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "Newly Created", "Newly Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "FddlDynamicQuickSort" })

   </div> 
        @*rajasekhar reddy patakota 24/7/2015 Disable status dropdown in Customer Payments*@
	@if (@Session["id"].ToString() != "1274" && @Session["id"].ToString() != "1278" && @Session["id"].ToString() != "1261" && @Session["id"].ToString() != "1250")
 { <div class="labelTxtFirstCol">
           @Html.Label("Order Status")</div><div class="bottomInputFieldStatus">@Html.DropDownList("Sort By Status", new SelectList(ViewBag.statusdata, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "FddlDynamicSortByStatus" })
                      </div> }   <div>@if (@Session["id"].ToString() == "1261")
                                     {<div class="labelTxtFirstCol"> @Html.Label("ItemType")</div><div class="bottomInputField"> @Html.DropDownList("ItemType", (SelectList)ViewBag.ItemType, "--Select--", htmlAttributes: new { id = "FddlItemType" })</div>}

               </div><div>@if (@Session["id"].ToString() == "1250")
                                     {<div class="labelTxtFirstCol"> @Html.Label("Account Type")</div><div class="bottomInputField"> @Html.DropDownList("AccountType", (SelectList)ViewBag.ItemType, "--Select--", htmlAttributes: new { id = "FddlItemType" })</div>}

               </div>
    </div>

    <div id="dynamic"  class="overflow" >
        @{ var infospace = " | ";
	//EMPHCS1784	Job Order for IN Process 15/7/2016
           var Formname = Session["PForms"]; if (@Session["id"].ToString() == "1329") { Formname = "Refund"; } else if (@Session["id"].ToString() == "1378") { Formname = "WO"; } else if (@Session["id"].ToString() == "1380") { Formname = "Consume"; } else if (@Session["id"].ToString() == "1587") { Formname = "Issue(In)"; Session["PForms"] = "Issue(In)"; }
            List<WebGridColumn> columns = new List<WebGridColumn>();
            //List<WebGridColumn> columns1 = new List<WebGridColumn>();
            //List<WebGridColumn> columns2 = new List<WebGridColumn>();
            //List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();
            columns.Add(new WebGridColumn()
            {
                Format =@<text>
        <div class="ch">@Html.ActionLink("Edit","Edit", new { controller = "JobOrderIssue" , ide = item.ID, FormName = Request["FormName"] }) @infospace
                @Html.ActionLink("View", "Detailes", new { controller = "JobOrderIssue" ,ide = item.ID, FormName = Request["FormName"] })
             @*//EMPHCS1784	Job Order for IN Process 15/7/2016*@
	     @if(@Session["id"].ToString() == "1587"){if(Formname!=null){ @infospace <a href="~/JobOrderIssue/NewForm?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]">@Formname</a>}}
            else{if (Formname != null)
            { @infospace <a href="~/JobOrderReceipt/NewForm?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]">@Formname</a>@infospace <a href="~/Production/NewForm?FormName=Production&ide=@item.ID">Production</a>}}
            @if(@Session["id"].ToString() == "1250")
             {@infospace
                 @Html.ActionLink("GLView", "AccountsDisplay", new { ide = item.ID, typ=item.Type,FromDate=Request["FromDate"],ToDate=Request["ToDate"]})
                @*<a href="Report?FormName=@item.Type&ide=@item.ID">GL</a>*@
             }
        </div>
        </text>
                  
            });
            @*columns1.Add(new WebGridColumn()
            {
                Format =
                @<text>
        <div class="ch">@Html.ActionLink("Edit", "Edit", new { ide = item.ID, FormName = Request["FormName"] })|
                @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = Request["FormName"] })  <a href="FormBuild?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]">@Formname</a>

        </div>
        </text>
                  
            });
            columns2.Add(new WebGridColumn()
            {
                Format =@<text>
        <div class="ch">@Html.ActionLink("Edit", "Edit", new { ide = item.ID, FormName = Request["FormName"] })|
                @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = Request["FormName"] })  <a href="FormBuild?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]">@Formname</a>

        </div>
        </text>
                  
            });*@


            foreach (var column in ViewBag.columns)
            {
                if (column.ColumnName == "ID" || (@Session["id"].ToString() == "1250" && column.ColumnName == "Type"))
                {
                   @* columns.Add(new WebGridColumn()
                    {
                        ColumnName = column.ColumnName,
                        Header = "",
                        Format =@<text><input  id="@column.ColumnName"   type="text" value="@item[column.Header]" class="idTextFB" /></text>
                    });*@

                }
                else
                {
                    columns.Add(new WebGridColumn()
                    {
                        ColumnName = column.ColumnName,
                        Header = column.Header
                        //    ,Format =@<text>@try
                        //               {
                        //                   if (@item[column.Header] == true || @item[column.Header] == false)
                        //                   {
                        //                       if (Convert.ToBoolean(@item[column.Header]) == true)
                        //                       {
                        //      <input  id="@column.ColumnName"   type="text" value="true" class="idTextFBelse" readonly="true"  />
                        //                       }
                        //                       else
                        //                       {
                        //                 <input  id="@column.ColumnName"   type="text" value="false" class="idTextFBelse" readonly="true"  />   
                        //                       }
                        //                   }
                        //               }
                        //               catch
                        //               {
                        //      <input  id="@column.ColumnName"   type="text" value="@item[column.Header]" class="idTextFBelse" readonly="true"  />                            
                        //               }</text>
                    });
                }
                    @*columns1.Add(new WebGridColumn()
                    {
                        ColumnName = column.ColumnName,
                        Header = column.Header,
                        Format =@<text>@try
                                       {
                                           if (@item[column.Header] == true || @item[column.Header] == false)
                                           {
                                               if (Convert.ToBoolean(@item[column.Header]) == true)
                                               {
        <input  id="@column.ColumnName"   type="text" value="true" class="idTextFBelse" readonly="true"  />
                                               }
                                               else
                                               {
                                         <input  id="@column.ColumnName"   type="text" value="false" class="idTextFBelse" readonly="true"  />   
                                               }
                                           }
                                       }
                                       catch
                                       {
        <input  id="@column.ColumnName"   type="text" value="@item[column.Header]" class="idTextFBelse" readonly="true"  />
                                       }</text>
                    });
                    columns2.Add(new WebGridColumn()
                    {
                        ColumnName = column.ColumnName,
                        Header = column.Header,
                        Format =@<text>@try
                                       {
                                           if (@item[column.Header] == true || @item[column.Header] == false)
                                           {
                                               if (Convert.ToBoolean(@item[column.Header]) == true)
                                               {
        <input  id="@column.ColumnName"   type="text" value="true" class="idTextFBelse" readonly="true"  />
                                               }
                                               else
                                               {
                                         <input  id="@column.ColumnName"   type="text" value="false" readonly="true"  />   
                                               }
                                           }
                                       }
                                       catch
                                       {
        <input  id="@column.ColumnName"   type="text" value="@item[column.Header]" class="idTextFBelse" readonly="true"  />
                                       }</text>
                    });
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = column.ColumnName,
                        Header = column.Header,
                        Format =@<text>@try
                                       {
                                           if (@item[column.Header] == true || @item[column.Header] == false)
                                           {
                                               if (Convert.ToBoolean(@item[column.Header]) == true)
                                               {
        <input  id="@column.ColumnName"   type="text" value="true" class="idTextFBelse" onchange="gridChange(this);"  />
                                               }
                                               else
                                               {
                                         <input  id="@column.ColumnName"   type="text" value="false" class="idTextFBelse" onchange="gridChange(this);"  />   
                                               }
                                           }
                                       }
                                       catch
                                       {
        <input  id="@column.ColumnName"   type="text" value="@item[column.Header]" class="idTextFBelse"  onchange="gridChange(this);" />
                                       }
        </text>
                    });
                }*@
            }
        }
        @{
        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);
            //var gridIN = new WebGrid(null, canSort: false, canPage: false);
            //gridIN.Bind(ViewBag.Grid, autoSortAndPage: false);
            //var grid1 = new WebGrid(null, canSort: false, canPage: false);
            //grid1.Bind(ViewBag.Grid, autoSortAndPage: false);
            //var grid2 = new WebGrid(null, canSort: false, canPage: false);
            //grid2.Bind(ViewBag.Grid, autoSortAndPage: false);
            
            }

              <div id="Content" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:
                              (columns)

               )
        </div>

              @*<div id="ContentIn" class="gridcntdata">
            @gridIN.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfDataIN" },
            columns:
                              (Inlinecolumns)

               )
        </div>
        
              <div id="gridStyleN" class="gridcntdata">
            
            @grid1.GetHtml(mode: WebGridPagerModes.All,

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            rowStyle: "webgrid-alternating-row",
            alternatingRowStyle: "webgrid-alternating-row",
            htmlAttributes: new { id = "grdfDataN" },
            columns:
                              (columns1)

               )
                 </div>
              <div id="gridStyleR" class="gridcntdata">
            
            @grid2.GetHtml(mode: WebGridPagerModes.All,
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
           rowStyle: "webgrid-row-style",
           htmlAttributes: new { id = "grdfDataR" },
            columns:
                              (columns2)

               )
            </div>*@
    </div>


        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
           @*<div class="bottomCol">
              <div class="labelTxtFirstCol">Style </div>
              <div class="bottomInputField">  @Html.DropDownList("ddlDynamicStyle", new SelectList(new[] { "Grid", "Normal", "Report" }, selectedValue: "Grid"), htmlAttributes: new { id = "ddlDynamicStyle" })
                </div></div>
           <div class="bottomCol">
              <div class="labelTxtFirstCol"> View </div>               
               <div class="bottomInputField">  @Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Normal"), optionLabel: "Normal", htmlAttributes: new { id = "ddlDynamicView" })
</div> 
                </div>
           <div class="bottomCol">
               <div class="labelTxtFirstCol"> QuickSort </div> 
               <div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(new[] { "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "ddlDynamicQuickSort" })
               </div>
                </div>
           <div class="bottomCol"> 
              <div class="labelTxtFirstCol"> Status </div>
               <div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(ViewBag.statusdata, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "ddlDynamicSortByStatus" })</div>

                     @if (@Session["id"].ToString() == "1261")
                     {  <div class="labelTxt"> @Html.Label("ItemType")</div>
                         <div class="bottomInputField"> @Html.DropDownList("ItemType", (SelectList)ViewBag.ItemType, "--Select--", htmlAttributes: new { id = "ddlItemType" })</div>}
           </div>*@


       @*  @if (@Session["id"].ToString() != "1261")
                     {
            <div class="emptyDivF"></div>
         }
          @if (@Session["id"].ToString() == "2445")
                     {
            <div class="emptyDivF"></div>
         }*@
          
        @*  <div>  <div class="btnContRightFooter"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRightFooter"> <input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "FormBuilding",  new { FormName = Request["FormName"] }) + "'")    ;" /></div>
            <div class="dropdown btnContRightFooter">

                    <!-- trigger button -->
                    <button>Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                        <li><a href="#abIssue(Out)>@Html.ActionLink("Excel", "ExportExcel", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                        <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                        <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                    </ul>
                </div>
              </div>*@
           
       </div>
         </div>
</body>
</html>
