﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "Template";
}

    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
     <script src="~/Content/formbuildjquery.js"></script>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <meta http-equiv="Page-Enter" content="blendTrans(duration=0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(duration=0)" />
    <meta name="viewport" content="width=device-width">
<script>
</script>
<script>
    var $i = jQuery.noConflict();
    $i(document).ready(function () {
        FormLoadActions();
        @*$i('#Placeholderinsert').change("change", function (event) {
        if($i(this).val()!=""){
            var placeholder = $i("#Placeholderinsert option:selected").text();
            var Body = $i('#Body').val();
            placeholder="["+placeholder+"]";
            $('#Body').val(Body + placeholder);}
        })
        $i("#TemplateSave").on("click", function () {
            TemplateSaveForm('@Session["FormName"]');
        });*@
    });
</script>
    @{ var m=Model.Where(a=>a.TempName!= null).FirstOrDefault();}
@using (Html.BeginForm("TemplateEdit", "EmailTemplate", FormMethod.Post, new { enctype = "multipart/form-data", id = "EmailTemplate" }))
{
         <div class="rowCont bottomRowContentFB" id="ddl">
             @if(m.NullAC!="0"){
        <div class="bottomColFB1">
        <input id="TemplateEdit" type="button" class="buttonclass" value="Edit" onclick="@("window.location.href='" + @Url.Action("TemplateEdit", "EmailTemplate", new { idi = @Request["idi"], FormName = @Request["FormName"],ide = @Request["ide"]  }) + "'") ;"/>
        </div>}
        <div class="bottomColFB1">
        <input id="TemplateCancel" type="button" class="buttonclass" value="List" onclick="@("window.location.href='" + @Url.Action("TemplateInfo", "EmailTemplate", new { idi = @Request["idi"], FormName = @Request["FormName"]}) + "'") ;"/>
        </div>
    </div>  <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="EmailFormData" class="bodyFBContent" style="overflow:scroll">
            <div class="Templatesec">
                <div class="Templatetype">
                    <label for="Message">Type</label>
                </div>
                <div class="Templatename">
                    <label for="Message">Name</label>
                </div>
            </div>
            <div class="Templatefeildsec">
                <div class="Templatetype">
                    @Html.DropDownList("Type",null, optionLabel: "--Select--", htmlAttributes: new { id = "Type", @class = "Templateddl" })
                </div>
                <div class="Templatename">
                    <input id="Name"  name="Name" class="Templatetxt" type="text" value="@m.TempName"/>
                </div>
            </div>          
            <div class="Templatechksec">
                <div class="Templatechk">
                    @if (m.TempDefault == "1" || m.TempDefault == "True")
                    {
                    <input id="Default"  name="Default" class="Templatechkbx" type="checkbox" value="1" checked="checked" />
                    }
                    else
                    {
                    <input id="Default"  name="Default" class="Templatechkbx" type="checkbox" value="0"/>
                    }
                </div>
                <div class="Templatedefault">
                    <label for="Message">Default</label>
                </div>
            </div>
            <div class="Templatemsgsec">
                <div class="Templatemsg">
                    <label for="Message">Message</label>
                    @Html.DropDownList("Placeholder", new SelectList(ViewBag.Placeholder, "COLUMN02", "COLUMN04"), optionLabel: "Insert Placeholder", htmlAttributes: new { id = "Placeholderinsert", @class = "Templateplacehdr" })
                </div></div>
            <div class="Templatemsgdiv">
               <div class="Templatetxtdiv">
                    <input id="Message"  name="Message" class="TemplateSub" type="text" value="@m.TempMessage" />
                 </div>
            </div>
            <div class="Templatemsgsec">
                <div class="Templatemsg">
                    <label for="Message">Body</label>
                </div></div>
            <div class="Templatetxtareadiv">
                <div class="Templatetxtdiv">
                    <textarea id="Body"  name="Body" class="Templatetxtarea">@m.TempBody</textarea>
                </div>
            </div>
    </div>
    <div class="rowCont newbottomRowContentFooter" id="footerInfo">
    </div>
}
