﻿@model List<eBizSuiteAppModel.Table.CONTABLE003>
<link href="~/Content/jqsimplemenu.css" rel="stylesheet" />
<script src="~/Content/jqsimplemenu.js"></script>
@{
    List<eBizSuiteAppModel.Table.CONTABLE003> menuList = Model;
}
<ul class="menu">

    @foreach (var mp in menuList.Where(p => p.COLUMN06 == null))
    {

        <li>
            <a href="">@mp.COLUMN05</a>
            @if (menuList.Count(p => p.COLUMN06 == mp.COLUMN02) > 0)
            {
                @:<ul>
        }

            @this.RenderMenuItem(menuList, mp)
       
        @if (menuList.Count(p => p.COLUMN06 == mp.COLUMN02) > 0)
        {
            @:</ul>
                    }

        </li>
    }
</ul>


@helper RenderMenuItem(List<eBizSuiteAppModel.Table.CONTABLE003> menuList, eBizSuiteAppModel.Table.CONTABLE003 mi)
{
    foreach (var cp in menuList.Where(p => p.COLUMN06 == mi.COLUMN02 && p.COLUMN10 != null))
    {
      
        
    @:<li>
if (Session["UserName"].ToString() != "Admin")
{
            @Html.ActionLink(@cp.COLUMN05, "Info", "FormBuilding", new { idi = @cp.COLUMN02, FormName = @cp.COLUMN10 }, new { style = "display:block" })
        @*<a href="">@cp.COLUMN05</a>*@
}
else
{
            @Html.ActionLink(@cp.COLUMN05, @cp.COLUMND05, @cp.COLUMND06, new { idi = @cp.COLUMN02, FormName = @cp.COLUMN10 }, new { style = "display:block" })
}
if (menuList.Count(p => p.COLUMN06 == cp.COLUMN02) > 0)
{
           @:<ul>  
       }
        
         @RenderMenuItem(menuList, cp)

if (menuList.Count(p => p.COLUMN06 == cp.COLUMN02) > 0)
{
          @:</ul>
      }
else
{
          @:</li>
          }
    }
}

