﻿@model MvcMenuMaster.Models.MenuItems

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Custom Form</legend>
    
    
            <div class="editor-label">
                @Html.LabelFor(model => model.MenuName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MenuName)
                @Html.ValidationMessageFor(model => model.MenuName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CenterId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CenterId)
                @Html.ValidationMessageFor(model => model.CenterId)
            </div>
    
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Parent)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Parent)
                @Html.ValidationMessageFor(model => model.Parent)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnable)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsEnable)
                @Html.ValidationMessageFor(model => model.IsEnable)
            </div>
    
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Delete)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Delete)
                @Html.ValidationMessageFor(model => model.Delete)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "OnDemand")
    </div>
</body>
</html>
