﻿@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dynatree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.contextMenu-custom.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.contextMenu.css")" rel="stylesheet" type="text/css" >
<script type="text/javascript">
    var clipboardNode = null;
    var pasteMode = null;

    // --- Implement Cut/Copy/Paste --------------------------------------------
    var clipboardNode = null;
    var pasteMode = null;

    function showAdd(node) {
        $("#tblSave").attr("style", "display:");
        $("#tblReport").attr("style", "display:none");
        $("#hfParentId").val(node.data.key);
        $("#hfNodeId").val('0');
        $("#txtCode").val('');
        $("#txtName").val('');
    };

    function showAddRoot(key) {
        $("#tblSave").attr("style", "display:");
        $("#tblReport").attr("style", "display:none");
        $("#hfParentId").val(key);
        $("#hfNodeId").val('0');
    };

    function showEdit(node) {
        $("#tblSave").attr("style", "display:");
        $("#tblReport").attr("style", "display:none");
        $("#hfNodeId").val(node.data.key);
        $("#hfParentId").val('0');
        var dataparam = {};
        dataparam.strKey = node.data.key;
        $.getJSON('@Url.Action("FillEditData")', dataparam, function (result) {
            $("#hfParentId").val(result.parent);
            //$("#txtAddress").val(result.addrs);
            $("#txtCode").val(result.code);
            $("#txtName").val(result.name);
        });
    };

    function showDelete(node) {
        var dataparam = {};
        dataparam.strKey = node.data.key;
        $.getJSON('@Url.Action("DeleteNode")', dataparam, function (result) {
            if (result.Status == "Success") {
                node.remove();
            }
        });
    };

    // --- Contextmenu helper --------------------------------------------------
    function bindContextMenu(span) {
        //debugger;
        var parent = $(span).parent().parent().parent();
        if (parent[0].id == 'tree') {
            $(span).contextMenu({ menu: "myMenuRoot" }, function (action, el, pos) {
                // The event was bound to the <span> tag, but the node object
                var node = $.ui.dynatree.getNode(el);
                switch (action) {
                    case "addroot":
                        showAddRoot(-1);
                        break;
                    case "add":
                        showAdd(node);
                        break;
                    case "edit":
                        showEdit(node);
                        break;
                    case "delete":
                        showDelete(node);
                        break;
                }
            });
        }
        else {
            // Add context menu to this node:
            $(span).contextMenu({ menu: "myMenu" }, function (action, el, pos) {
                // The event was bound to the <span> tag, but the node object
                var node = $.ui.dynatree.getNode(el);
                switch (action) {
                    case "add":
                        showAdd(node);
                        break;
                    case "edit":
                        showEdit(node);
                        break;
                    case "delete":
                        showDelete(node);
                        break;
                }
            });
        }
    };

    $(document).ready(function () {
        $("#btnSave").click(function () {
            if ($("#txtCode").val() == '') {
                alert('Please enter Code');
                return;
            }
            if ($("#txtName").val() == '') {
                alert('Please enter Name');
                return;
            }
            var parentId = $("#hfParentId").val();
            var NodeId = $("#hfNodeId").val();
            var tree = $("#tree").dynatree("getTree");
            if (parentId != '0') {
                var dataparam = {};
                if (parentId == -1) {
                    dataparam.strKey = '0';
                    dataparam.strName = $("#txtName").val();
                    dataparam.strCode = $("#txtCode").val();
                    dataparam.StrBranchId = $("#hfNodeId").val();
                    $.getJSON('@Url.Action("AddNewNode")', dataparam, function (result) {
                        if (result.Status == "Success") {
                            var node = tree.getRoot();
                            node.isFolder = true;
                            node.addChild({ title: result.data.title, key: result.data.key, isFolder: false });
                            $("#txtName").val('');
                            $("#txtCode").val('');
                        }
                    });
                }
                else if (NodeId != 0 && parentId != 0) {
                    var node = tree.getNodeByKey(NodeId);
                    dataparam.strKey = node.data.key;
                    dataparam.strName = $("#txtName").val();
                    dataparam.strCode = $("#txtCode").val();
                    dataparam.StrBranchId = $("#hfNodeId").val();
                    //dataparam.strAddress = $("#txtAddress").val();
                    $.getJSON('@Url.Action("AddNewNode")', dataparam, function (result) {
                        if (result.Status == "Success") {
                            node.setTitle(result.data.title);
                            $("#txtName").val('');
                            $("#txtCode").val('');
                        }
                    });

                }
                else {
                    var node = tree.getNodeByKey(parentId);
                    dataparam.strKey = node.data.key;
                    dataparam.strName = $("#txtName").val();
                    dataparam.strCode = $("#txtCode").val();
                    dataparam.StrBranchId = $("#hfNodeId").val();
                    //dataparam.strAddress = $("#txtAddress").val();
                    $.getJSON('@Url.Action("AddNewNode")', dataparam, function (result) {
                        if (result.Status == "Success") {
                            node.isFolder = true;
                            node.addChild({ title: result.data.title, key: result.data.key, isFolder: false });
                            $("#txtName").val('');
                            $("#txtCode").val('');
                        }
                    });
                }

        }
        });
        $("#tree").dynatree({
            checkbox: true,
            selectMode: 3,
            //          initAjax: {
            //              type: "POST",
            //              url: "/Home/GetParentNodes"
            //          },
            onClick: function (node, event) {
                // Close menu on click
                if ($(".contextMenu:visible").length > 0) {
                    $(".contextMenu").hide();
                    //          return false;
                }
            },
            onSelect: function () {
                $("#hdnbranchid").val('');
                var tree = $("#tree").dynatree("getTree");
                var selKeys = $.map(tree.getSelectedNodes(), function (node) {
                    if ($("#hdnbranchid").val() == '')
                        $("#hdnbranchid").val(node.data.key)
                    else
                        $("#hdnbranchid").val($("#hdnbranchid").val() + ',' + node.data.key);

                    $("#hfNodeId").val(node.data.key);
                });
            },
            onKeydown: function (node, event) {

                // Eat keyboard events, when a menu is open
                if ($(".contextMenu:visible").length > 0)
                    return false;

                switch (event.which) {

                    // Open context menu on [Space] key (simulate right click)                   
                    case 32: // [Space]
                        $(node.span).trigger("mousedown", {
                            preventDefault: true,
                            button: 2
                        })
          .trigger("mouseup", {
              preventDefault: true,
              pageX: node.span.offsetLeft,
              pageY: node.span.offsetTop,
              button: 2
          });
                        return false;

                        // Handle Ctrl-C, -X and -V
                    case 67:
                        if (event.ctrlKey) { // Ctrl-C
                            copyPaste("copy", node);
                            return false;
                        }
                        break;
                    case 86:
                        if (event.ctrlKey) { // Ctrl-V
                            copyPaste("paste", node);
                            return false;
                        }
                        break;
                    case 88:
                        if (event.ctrlKey) { // Ctrl-X
                            copyPaste("cut", node);
                            return false;
                        }
                        break;
                }
            },
            onCreate: function (node, span) {
                bindContextMenu(span);

            },
            onQuerySelect: function (flag, node) {

            },
            onLazyRead: function (node) {
            }
        });
    });

$(document).ready(function () {
    $("#tblReport").attr("style", "display:none");
    BuidTree();
    $("#rptStd").click(function () {
        $("#tblSave").attr("style", "display:none");
        $("#tblReport").attr("style", "display:");
        var dataparam = {};
        dataparam.strKey = $("#hdnbranchid").val();
        $.getJSON('@Url.Action("GetStudentDetails")', dataparam, function (result) {

                $("#reportData")[0].innerHTML = '';
                $("#reportData").append(result.Data);
            });

        });
    });

    function BuidTree() {
        var dataparam = {};
        $.getJSON('@Url.Action("GetAllNode")', dataparam, function (result) {
            //debugger;
            var tree = $("#tree").dynatree("getTree");

            for (i = 0; i < result.length; i++) {
                if (result[i].parentId == "0") {
                    var node = tree.getRoot();
                    node.addChild({ title: result[i].title, key: result[i].key, isFolder: result[i].isFolder });
                }
                else {
                    var node = tree.getNodeByKey(result[i].parentId);
                    // node.removeChildren();
                    node.addChild({ title: result[i].title, key: result[i].key, isFolder: result[i].isFolder });
                }
            }
        });
    }

</script>
<ul id="myMenu" class="contextMenu">
    <li class="Add"><a href="#add">Add</a></li>
    <li class="Edit"><a href="#edit">Edit</a></li>
    <li class="delete"><a href="#delete">Delete</a></li>
    <li class="quit separator"><a href="#quit">Quit</a></li>
</ul>
<ul id="myMenuRoot" class="contextMenu">
    <li class="Add"><a href="#addroot">Add Root Node</a></li>
    <li class="Add"><a href="#add">Add</a></li>
    <li class="Edit"><a href="#edit">Edit</a></li>
    <li class="delete"><a href="#delete">Delete</a></li>
    <li class="quit separator"><a href="#quit">Quit</a></li>
</ul>
<style type="text/css">
    html
    {
        height: 93%;
    }
    body
    {margin:0 auto;
        height: 100%;
    }ul.dynatree-container{border:none;}
     ul.dynatree-container{background:none;}
    table, table tr td{border:0px;}
</style>
<div class="Left_Pane">
    <div id="tree">
    </div>
</div>
<div class="Mid_Pane">
<div id='tblSave'>
<fieldset>
<legend>Branch Details</legend>
    <table id="tblLoad" border="0" cellpadding="0" cellspacing="10" width="100%">
        <tr>
            <td colspan="2">
                <input type="hidden" id="hfParentId" />
                <input type="hidden" id="hfNodeId" />
            </td>
        </tr>
        <tr>
            <td align="right">
                Name
            </td>
            <td>
                <input type="text" id="txtName" />
            </td>
        </tr>
        <tr>
            <td align="right">
                Code
            </td>
            <td>
                <input type="text" id="txtCode" />
            </td>
        </tr>
       @* <tr>
            <td align="right">
                Name
            </td>
            <td>
                <input type="text" id="txtAddress" />
            </td>
        </tr>*@
        <tr>
            <td>
            </td>
            <td>
                <input type="button" id="btnSave" class="btn_sample" value="Save" />
            </td>
        </tr>
        <tr>@Html.Hidden("hdnbranchid")</tr>
    </table>
    </fieldset>
 </div>
 <div id='tblReport'>
     <div id='reportData'></div>
     </div>
</div>
<div class="Right_Pane">
    <a href="#" id='rptStd'>Student Report</a>
</div>
<div class="cb"></div>
