﻿@model eBizSuiteAppModel.Table.MYTABLE001

@{
    ViewBag.Title = "User Preferences";
}
<header>
 @*<link rel="stylesheet" href="~/Content/themes/base/jquery.ui.all.css">      
<script src="~/Scripts/jquery-1.7.1.js"></script>     
<script src="~/Scripts/jquery.ui.core.js"></script>   
<script src="~/Scripts/jquery.ui.widget.js"></script>          
<script src="~/Scripts/jquery.ui.tabs.js"></script>   

<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>*@

    <link href="~/css/Static/CreateEditDetailes.css" rel="stylesheet" />

<script>
    $(function () { $("#tabs").tabs(); });
</script>
      

    <script type="text/jscript">


        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                //for IE
                if ($.browser.msie) {
                    //before making an object of ActiveXObject, 
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb 
                }
                    //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb 
                }
                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        $("#btnSubmit").live("click", function () {
            if ($('#fileToUpload').val() == "") {
                $("#spanfile").html("Please upload file");
                return false;
            }
            else {
                return checkfile();
            }
        });

        function checkfile() {
            var file = getNameFromPath($("#fileToUpload").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                // alert(extension);
                switch (extension) {
                    case 'jpg':
                    case 'png':
                    case 'gif':
                    case 'pdf':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
                return false;
            }
            else {
                var size = GetFileSize('fileToUpload');
                if (size > 3) {
                    $("#spanfile").text("You can upload file up to 3 MB");
                    return false;
                }
                else {
                    $("#spanfile").text("");
                }
            }
        }

        $(function () {
            $("#fileToUpload").change(function () {
                checkfile();
            });
        });

    </script>
</header>
<body  class="Bakground">
    @using (Html.BeginForm("Details", "Subsidary", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
         <div class="topHeaderContent topfirstButtonCont">
            <div  class="btnContleft">  <input type="button" class="topBtn" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" /></div>
            <div class="btnContleft" >  <input type="button" class="topBtn" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("/Edit/"+Model.COLUMN02+"") + "'")    ;" /></div>
            <div class="btnContleft">  <input type="button" class="topBtn" id="btnBack"  value="Back"  onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" /></div>
            </div>
         <div class="tabBodyStatic" >
        
      
    
       <div id="tabs1" class="fbTabCon">
            <ul  >
                <li ><a href="#tabs-1">GeneralPreferences</a></li>
                <li ><a href="#tabs-2">KPITypesList</a></li>
                <li ><a href="#tabs-3">Alerts</a></li>
            </ul> 
             <div id="tabs-1" >
                              <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> DateFormate </div>
            <div class="txt">
                            @Html.TextBoxFor(model => model.COLUMN03,  "{0:dd-MMM-yyyy}")
                            @Html.ValidationMessageFor(model => model.COLUMN03)
                </div> </div><div class="mainRowCon">
            <div class="lbl"> LanguagePreferances </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN04, new {@class="txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN04)
                </div> </div><div class="mainRowCon">
            <div class="lbl"> ColorTheem </div>
            <div class="txt">
                           @Html.DropDownList("styles", new List<SelectListItem>{
                    new SelectListItem() {Text = "Blue", Value="cssStyles"},
                    new SelectListItem() {Text = "Green", Value="green"},
                    new SelectListItem() {Text = "Voilet", Value="StyleSheet2"},
                    new SelectListItem() {Text = "Pink", Value="StyleSheet3"},
                    new SelectListItem() {Text = "Purple", Value="StyleSheet5"}
                    //new SelectListItem() {Text = "siteStyle", Value="siteStyle"},
                    //new SelectListItem() {Text = "styles", Value="styles"}
                   }, "...Theme...", htmlAttributes: new { id = "ddlStyle" })
                            @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> </div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> HomePage </div>
            <div class="txt"> 
                            @Html.DropDownListFor(model => model.COLUMN08, new SelectList(new List<Object>{
                       new { value = 0 , text = "--Select--"  },
                       new { value = 1 , text = "ManageActs"  },
                       new { value = 2 , text = "KPIs"  }
                      }, "value", "text", 0), new {@class="ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN14)
                </div> </div>
                <div class="mainRowCon">
            <div class="lbl"> RecordsPerGrid</div>
            <div class="txt">
                           @Html.DropDownListFor(model => model.COLUMN08, new SelectList(new List<Object>{
                       new { value = 0 , text = "--Select--"  },
                       new { value = 1 , text = "10"  },
                       new { value = 2 , text = "15"  },
                       new { value = 3 , text = "20"  },
                       new { value = 4 , text = "25"  }
                      }, "value", "text", 0), new {@class="ddl" })
                          @* @Html.TextBoxFor(model => model.COLUMN08)*@
                           @Html.ValidationMessageFor(model => model.COLUMN08)
                  </div>  </div> </div>
            </div>
                     </div>

             <div id="tabs-2" >
                 <div class="fbBodyFoter">
            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> Line chart </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN09)
                          @Html.ValidationMessageFor(model => model.COLUMN09)
                </div></div>

                <div class="mainRowCon">
            <div class="lbl"> Spline chart </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN10)
                          @Html.ValidationMessageFor(model => model.COLUMN10)
                </div></div>
                <div class="mainRowCon">
            <div class="lbl"> Area chart </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN11)
                          @Html.ValidationMessageFor(model => model.COLUMN11)
                </div></div>
                </div>
            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> Areaspline chart </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN12)
                          @Html.ValidationMessageFor(model => model.COLUMN12)
                </div></div>
                <div class="mainRowCon">
            <div class="lbl"> Column chart </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN13)
                          @Html.ValidationMessageFor(model => model.COLUMN13)
                </div></div>
                <div class="mainRowCon">
            <div class="lbl"> Bar chart</div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN14)
                          @Html.ValidationMessageFor(model => model.COLUMN14)
                </div></div>

            </div>

            <div class="mainRow">
                <div class="mainRowCon">
            <div class="lbl"> Pie chart</div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN15)
                          @Html.ValidationMessageFor(model => model.COLUMN15)
                </div>  </div>
                <div class="mainRowCon">
            <div class="lbl"> Scatter chart </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN16)
                          @Html.ValidationMessageFor(model => model.COLUMN16)
                </div> </div>
                <div class="mainRowCon">
            <div class="lbl"> Polar chart</div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN17)
                          @Html.ValidationMessageFor(model => model.COLUMN17)
                </div> </div>
            </div> 
            <div class="mainRow">
                
                <div class="mainRowCon">
            <div class="lbl"> Angular gauges </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN18)
                          @Html.ValidationMessageFor(model => model.COLUMN18)
                </div> </div>
                <div class="mainRowCon">
            <div class="lbl"> Range series </div>
            <div class="txt">
                            @Html.CheckBoxFor(model => model.COLUMN19)
                          @Html.ValidationMessageFor(model => model.COLUMN19)
                </div> </div>
          
            </div> 
                     </div>
                    </div>
           
            <div id="tabs-3" >
                                       
            <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> sms </div>
            <div class="txt">
                           @Html.CheckBoxFor(model => model.COLUMN21)
                          @Html.ValidationMessageFor(model => model.COLUMN21)
                 </div>  </div><div class="mainRowCon">
            <div class="lbl"> email </div>
            <div class="txt">
                           @Html.CheckBoxFor(model => model.COLUMN22)
                          @Html.ValidationMessageFor(model => model.COLUMN22)
                 </div>  </div><div class="mainRowCon">
           

            </div>

        </div>
                </div>
                </div>
            </div>

        <div class="FoterMenuSecondRow">
        
        <input type="button" value="Back" class="topBtn" onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" />
        </div>
             </div>
   
    }
</body>

