﻿@model IEnumerable<eBizSuiteAppModel.Table.MYTABLE001>

@{
    ViewBag.Title = "User Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE>

<html>
<head>
  
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.ui.tabs.js"></script>
     <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <title></title>
   
    <div id="dialogcreate"></div>
    <div id="rData"></div>
    <div id="Reloaded"></div>
    <div id="DivToAppendPartialVoew1"></div>
    <div id="dialog"></div>
    <script type="text/jscript">
        var jarray = "";
        $(document).ready(function () {
            $('#btnNew').click("click", function () {
                $('#rData').load("/UserPreferences/Create");
                $('#rData').show();
                return false;

            }); $("#accordion").accordion({
                collapsible: true
            });
            $('.button-hide').click("click", function () {
                var item = $('.ddlStyle :selected').val();
                if (item == "Normal") {
                    $("#content").hide();
                    $("#content1").hide();
                    $("#List1").hide();
                    $("#InlineList").show();
                }
                else {
                    $("#ListId").hide();
                    $("#content").hide();
                    $("#content1").show();
                }
                $(this).attr("disabled", true);
                $('.button-show').attr("disabled", false);
            });
            $('.button-show').click("click", function () {
                var item = $('.ddlStyle :selected').val();
                if (item == "Normal") {
                    $("#content").hide();
                    $("#content1").hide();
                    $("#List1").show();
                    $("#InlineList").hide();
                }
                else {
                    $("#ListId").hide();
                    $("#content1").hide();
                    $("#content").show();
                }


                $(this).attr("disabled", true);
                $('.button-hide').attr("disabled", false);
            });
         @*jarray =  '@ViewBag.columns';*@

            $('#grdData').change("change", function () {
                debugger
                var tbl = $("#grdData")[0]; 
                var xmldata = "<ROOT>";
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    debugger
                    var jarray=@Html.Raw(Json.Encode(ViewBag.columns));
                    for (var cll = 0; cll < jarray.length; cll++) {
                        var node=jarray[cll];
                        if(cll==0)
                        {
                            xmldata = xmldata + "<Column><"+node+">" + tr.cells[cll].children[0].value + "</"+node+">";
                        }
                        else if(cll==jarray.length-1){
                            xmldata = xmldata + "<"+node+">" + tr.cells[cll].children[0].value + "</"+node+"></Column>";}
                        else
                            xmldata = xmldata + "<"+node+">" + tr.cells[cll].children[0].value + "</"+node+">";
                    }}
               // window.location.reload();
               xmldata = xmldata + "</ROOT>"; 
                debugger
                var dataparam = { list: xmldata };
                $.ajax({
                    url: '@Url.Action("UpdateInline", "UserPreferences")',
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    }
                });

            });
            $("#btnSearch").click("click", function () {
                $('#dialogcreate').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 500,
                    height: 300, resizable: false,
                    title: "Search",
                    closeOnEscape: true
                })
                $('#dialogcreate').dialog('open');
                $('#dialogcreate').load("/UserPreferences/Search");
                $('#dialogcreate').show();
                return false;
            });
            $(".ddlView").change("change", function () {
                var item = $('.ddlStyle :selected').val();

                if (item == "Normal") {

                    var dat = { items: $(this).val(), sort: $('.ddlQuickSort :selected').val(), style: $('.ddlStyle :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            //window.location.reload();
                            $("#ListId").show();
                            $("#tbldata").remove();
                            $("#List1").append(result.Data);
                            $("#itbldata").remove();
                            $("#InlineList").append(result.Data1);
                        }
                    });
                }
                else {
                    var dat = { items: $(this).val(), sort: $('.ddlQuickSort :selected').val(), style: $('.ddlStyle :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            //window.location.reload();
                            $("#divId").show(); $("#ListId").hide();
                            $("#DataTable").remove();
                            $("#grdData").remove();
                            $("#content").append(result.Data);
                            $("#content1").append(result.Data1);
                        }
                    });
                }
            });
            $(".ddlQuickSort").change("change", function () {
                //var ddlQuickSort = $(".ddlQuickSort").val();
                var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                var item = $('.ddlStyle :selected').val();

                if (item == "Normal") {
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            $("#ListId").show();
                            $("#tbldata").remove();
                            $("#List1").append(result.Data);
                            $("#itbldata").remove();
                            $("#InlineList").append(result.Data1);
                        }
                    });
                }
                else {
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            $("#DataTable").remove();
                            $("#content").append(result.Data);
                        }
                    });
                }
            });

            $(".chkShowInactives").change("change", function () {
                var ShowInactives = $(this).val();
                var item = $('.ddlStyle :selected').val();
                if (item == "Normal") {

                    var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#tbldata').remove();
                            $("#ListId").show();
                            $("#content1").hide();
                            $("#content").hide();
                            $("#List1").append(result.Data);
                            $("#InlineList").append(result.Data1);
                        }
                    });
                } else {
                    var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            //window.location.reload();
                            $("#divId").show();
                            $("#DataTable").remove();
                            $("#grdData").remove();
                            $("#content1").hide();
                            $("#content").show();
                            $("#ListId").hide();
                            $("#content").append(result.Data);
                            $("#content1").append(result.Data1);
                        }
                    });
                }
            });
            $(".ddlStyle").change("change", function () {
                var items = $(this).val();
                var inactive = $('.chkShowInactives:checked').val();
                //alert(inactive);
                if (items == "Normal") {
                    $("#content").hide();
                    $("#ListId").show();
                }
                else if (items == "Grid") {
                    $("#content").show();
                    $("#ListId").hide();
                    $("#List1").append(result.Data);
                }
                var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                $.ajax({
                    url: '@Url.Action("Style", "UserPreferences")',
                    type: "GET",
                    data: { view: $('.ddlView :selected').val(), sort: $('.ddlQuickSort :selected').val(), items: $(this).val(), inactive: inactive },
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //alert(result.Data); $("#List1").append(result.Data);

                        $("#List1").show();
                        $("#tbldata").remove();
                        $("#List1").append(result.Data);
                        $("#itbldata").remove();
                        $("#InlineList").append(result.Data1);
                    }
                });
                return false;
            });


            $("#bddlView").change("change", function () {
                var item = $('#bddlStyle :selected').val();

                if (item == "Normal") {

                    var dat = { items: $(this).val(), sort: $('#bddlQuickSort :selected').val(), style: $('#bddlStyle :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            //window.location.reload();
                            $("#ListId").show();
                            $("#tbldata").remove();
                            $("#List1").append(result.Data);
                            $("#itbldata").remove();
                            $("#InlineList").append(result.Data1);
                        }
                    });
                }
                else {
                    var dat = { items: $(this).val(), sort: $('#bddlQuickSort :selected').val(), style: $('#bddlStyle :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            //window.location.reload();
                            $("#divId").show(); $("#ListId").hide();
                            $("#DataTable").remove();
                            $("#grdData").remove();
                            $("#content").append(result.Data);
                            $("#content1").append(result.Data1);
                        }
                    });
                }
            });
            $("#bddlQuickSort").change("change", function () {
                //var ddlQuickSort = $(".ddlQuickSort").val();
                var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                var item = $('#bddlStyle :selected').val();

                if (item == "Normal") {
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            $("#ListId").show();
                            $("#tbldata").remove();
                            $("#List1").append(result.Data);
                            $("#itbldata").remove();
                            $("#InlineList").append(result.Data1);
                        }
                    });
                }
                else {
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            $("#DataTable").remove();
                            $("#content").append(result.Data);
                        }
                    });
                }
            });

            $("#bchkShowInactives").change("change", function () {
                var ShowInactives = $(this).val();
                var item = $('#bddlStyle :selected').val();
                if (item == "Normal") {

                    var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#tbldata').remove();
                            $("#ListId").show();
                            $("#content1").hide();
                            $("#content").hide();
                            $("#List1").append(result.Data);
                            $("#InlineList").append(result.Data1);
                        }
                    });
                } else {
                    var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                    $.ajax({
                        url: '@Url.Action("View1", "UserPreferences")',
                        type: "POST",
                        data: JSON.stringify(dat),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            //$("#content").append(result);
                            //window.location.reload();
                            $("#divId").show();
                            $("#DataTable").remove();
                            $("#grdData").remove();
                            $("#content1").hide();
                            $("#content").show();
                            $("#ListId").hide();
                            $("#content").append(result.Data);
                            $("#content1").append(result.Data1);
                        }
                    });
                }
            });
            $("#bddlStyle").change("change", function () {
                var items = $(this).val();
                var inactive = $('#bchkShowInactives:checked').val();
                //alert(inactive);
                if (items == "Normal") {
                    $("#content").hide();
                    $("#ListId").show();
                }
                else if (items == "Grid") {
                    $("#content").show();
                    $("#ListId").hide();
                    $("#List1").append(result.Data);
                }
                var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                $.ajax({
                    url: '@Url.Action("Style", "UserPreferences")',
                    type: "GET",
                    data: { view: $('#bddlView :selected').val(), sort: $('#bddlQuickSort :selected').val(), items: $(this).val(), inactive: inactive },
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //alert(result.Data); $("#List1").append(result.Data);

                        $("#List1").show();
                        $("#tbldata").remove();
                        $("#List1").append(result.Data);
                        $("#itbldata").remove();
                        $("#InlineList").append(result.Data1);
                    }
                });
                return false;
            });
            $("#btnCustomize").live("click", function () {
                var items = $(this).val();
                $.ajax({
                    url: '@Url.Action("CustomView", "UserPreferences")',
                    type: "GET",
                    //data: { items: $(this).val() },
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    }
                });
                return false;
            });
            $(".ddlExport").change("change", function () {
                var items = $(this).val();
                $.ajax({
                    url: '@Url.Action("Export", "UserPreferences")',
                    type: "GET",
                    data: { items: $(this).val() },
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    }
                });
                return false;
            });
            $("#btnCustomize1").live("click", function () {
                var items = $(this).val();

                $.ajax({
                    url: '@Url.Action("CustomView", "UserPreferences")',
                    type: "GET",
                    //data: { items: $(this).val() },
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    }
                });
                return false;
            }); $("#btnCustomizeForm").live("click", function () {

                $.ajax({
                    url: '@Url.Action("CustomForm", "UserPreferences")',
                    type: "GET",
                    //data: { items: $(this).val() },
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    }
                });
                return false;
            });
            $("#btnAddNewField").live("click", function () {
                $('#dialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 500,
                    height: 300, resizable: false,
                    title: "AddNewField",
                    closeOnEscape: true
                })
                $('#dialog').dialog('open');
                $('#dialog').load("/UserPreferences/NewField");
                $('#dialog').show();
                return false;
            });
            $("#btnFilters").click(function () {
                $("#divfilter").toggle();
            });
            $("#btnPrint").click(function PrintData() {
                var winPrint = window.open("", "", "height=2,width=2, location=center,toolbar=no,menubar=no,scrollable=yes,resizable=yes");
                winPrint.document.write('<html><head><style>webgrid-table {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 0.8em;width: 100%;display: table;border-collapse: separate;border: "solid 2px #3791ae";background-color: white;} .webgrid-table td, th {border: 2px solid lightblue;padding: 3px 7px 2px; font-size:"small;"} .webgrid-header th{text-underline-position: inherit;background-color: #3B6F6F;padding-bottom: 2px;padding-top: 5px;text-align: left;color: white;font-size:small;} .webgrid-footer {}.webgrid-row-style { padding: 3px 7px 2px;} .webgrid-alternating-row {background-color: "black";padding: 3px 7px 2px;} .buttonclass{ background-color:#3B6F6F;border:none;color:white;padding-left: 10px;font-weight: bold;cursor: pointer;} .buttonclass:hover{color: "white";background-color:"black";border-radius:5px;}}  </style></head><bodybrowser>');
                winPrint.document.write($("#divId")[0].innerHTML)
                winPrint.document.close();
                winPrint.print();
                winPrint.close();
            }); $("#btnPrint1").click(function PrintData() {
                var winPrint = window.open("", "", "height=2,width=2, location=center,toolbar=no,menubar=no,scrollable=yes,resizable=yes");
                winPrint.document.write('<html><head><style>webgrid-table {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 0.8em;width: 100%;display: table;border-collapse: separate;border: "solid 2px #3791ae";background-color: white;} .webgrid-table td, th {border: 2px solid lightblue;padding: 3px 7px 2px; font-size:"small;"} .webgrid-header th{text-underline-position: inherit;background-color: #3B6F6F;padding-bottom: 2px;padding-top: 5px;text-align: left;color: white;font-size:small;} .webgrid-footer {}.webgrid-row-style { padding: 3px 7px 2px;} .webgrid-alternating-row {background-color: "black";padding: 3px 7px 2px;} .buttonclass{ background-color:#3B6F6F;border:none;color:white;padding-left: 10px;font-weight: bold;cursor: pointer;} .buttonclass:hover{color: "white";background-color:"black";border-radius:5px;}}  </style></head><bodybrowser>');
                winPrint.document.write($("#divId")[0].innerHTML)
                winPrint.document.close();
                winPrint.print();
                winPrint.close();
            });
        });
    </script>
</head>

<body >
    <div class="topHeaderContentBodyInfoEmptyCont">
<div class="rowCont topHeaderContentBodyInfo">
        <div class="topfirstButtonCont">

            <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("index", "UserPreferences") + "'")    ;" /></div>
            <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Create", "UserPreferences") + "'")    ;" /></div>
            <div class="btnContleft"><input type="button" class="buttonclass" id="btnSearch" value="Search" /></div>
            <div class="btnContRight"  id="btnOFF">  <input type="button"  class="buttonclass button-show" value="OFF" disabled="disabled"/></div>
            <div class="btnContRight">  <input type="button"  class="buttonclass button-hide" value="ON" /></div>
            <div class="btnContRight normalTxt">Inline Edditing:</div> 
        </div>
        <div class="linebreek"></div>
        <div class="topSecondButtonCont">
            <div class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                        <img src="~/Images/filter.jpg" width="10px" border="0" id="imgbutton" /><img src="~/Images/filter.jpg" width="10px" border="0" id="imgbutton1" style="display: none" />
                    </button></div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "UserPreferences") + "'")    ;" /></div>
            <div class="btnContRight dropdown">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "UserPreferences")</a></li>
                        <li><a href="#about">@Html.ActionLink("Excel", "ExportExcel", "UserPreferences")</a></li>
                        <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "UserPreferences")</a></li>
                        <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "UserPreferences")</a></li>
                    </ul>
                </div>
        </div>


        
    </div>
    <div class="hideFilter" id="divfilter">
        
                @*<div>
                    @Html.Label("ShowInactives  ")@Html.CheckBox("ShowInactives", htmlAttributes: new { @class = "chkShowInactives" })
                    </div>*@<div>
                    @Html.Label("Style  ") @Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), new { @class = "ddlStyle" })

</div><div>

                    @Html.Label("View  ")@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { @class = "ddlView" })

    </div><div>

                    @Html.Label("QuickSort  ")@Html.DropDownList("QuickSort", new SelectList(new[] { "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlQuickSort" })

                </div>
            
    </div>

       <div class="overflow" id="dynamicUP">
        <div id="divId" >

            @{
                var grid = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: true, canSort: false);
                grid.Bind(Model);
    
            }
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div id="content"  class="overflowGrid">
                    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.cols)
                </div>
            
                <div id="content1"  class="gridcntdata">
                    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "grdData" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.Inlinecols
)
                </div>
        }
        </div> 
             <div id="ListId">
            <div id="List1" class="gridcntdata">
                <div id="tbldata">
                
                </div>
            </div>
            <div id="InlineList"  class="gridcntdata">
                <div id="itbldata">
                 
                </div>
            </div></div> </div> 
        </div>
        <div class="rowCont bottomRowContent">
            @*<div class="bottomCol">
              <div class="labelTxtFirstCol">ShowInactives </div>
              <div class="bottomInputField"> @Html.CheckBox("ShowInactives", htmlAttributes: new { id = "bchkShowInactives" })
                </div></div>*@
            <div class="bottomCol">
                <div  class="labelTxtFirstCol">Style </div>
              <div class="bottomInputField">@Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), htmlAttributes: new { id = "bddlStyle" }) </div></div>
              <div class="bottomCol">
                <div  class="labelTxtFirstCol" id="bcview">View </div>
              <div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { id = "bddlView" }) </div></div>
            <div class="bottomCol">
                <div  class="labelTxtFirstCol">QuickSort </div>
              <div class="bottomInputField"> @Html.DropDownList("QuickSort", new SelectList(new[] { "--Select--", "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), htmlAttributes: new { id = "bddlQuickSort" }) </div></div>
                <div class="btnContRightFooter"><input type="button" class="buttonclass" id="btnPrint1" value="Print" /></div>
                  <div class="btnContRightFooter"><input type="button" class="buttonclass" id="btnbCustomizeView"  value="Customize View"   onclick="@("window.location.href='" + @Url.Action("CustomView", "UserPreferences") + "'")    ;"/></div>
                   <div class="btnContRightFooter dropdown">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "UserPreferences")</a></li>
                        <li><a href="#about">@Html.ActionLink("Excel", "ExportExcel", "UserPreferences")</a></li>
                        <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "UserPreferences")</a></li>
                        <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "UserPreferences")</a></li>
                    </ul>
                </div> 
                  
                </div>
    </body>

</html>


@*@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}*@
