﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewField</title> 
     <style type="text/css">
     .buttonclass{ background-color:#3B6F6F;border:none;color:white;padding-left: 10px;font-weight: bold;cursor: pointer;}.buttonclass:hover{color: white;background-color:black;border-radius:5px;}
   </style>
</head>
<body>
  @using(Html.BeginForm())
    { 
    <div style="font-size:small; font-style:normal;">
        <table><tr><td> @Html.Label("Label Name")</td><td>@Html.TextBox("Label_Name")</td></tr>
               <tr><td> @Html.Label("Mandatory")</td><td>@Html.DropDownList("Mandatory",new SelectList(new[] {"--Select--","y","n"}))</td></tr>
               <tr><td> @Html.Label("Control Type")</td><td>@Html.DropDownList("Control_Type",new SelectList(new[] {"--Select--","Text Box","Dropdown","check box","Date","Image"}))</td></tr>
               <tr><td>@Html.Label("Section Type")</td><td>@Html.DropDownList("Section_Type",new SelectList(new[] { "--Select--","Tab","Section"}))</td></tr>
               <tr><td> @Html.Label("Section Name")</td><td>@Html.DropDownList("Section_Name",new SelectList(new[] {ViewBag.SecNames}),optionLabel:"--Select--")</td></tr>
               <tr><td> <input type="submit" value="Save" id="btnSave" class="buttonclass" style="height:25px"/>  <input type="button" value="Cancel" id="btnCancel"  class="buttonclass" style="height:25px"  onclick="@("window.location.href='" + @Url.Action("Index", "Subsidary") + "'")    ;" /></td></tr>
           </table>
    </div>
    }
</body>
</html>
