﻿@{
    ViewBag.Title = "QC Verification";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i('.edit-mode').hide();
            $i('.aftershow').hide();
        });
        </script>
    </head>
<body>
    <div id="poscreate" style="width:100%">
    <div id="mastercreate" class="mastercreate">
        <div id="Item" class="itemviewddlQC">
         <div class="Retaillbl">Sales Order</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), null, new { @id = "Itemddl", @class = "ddl", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
        </div>
        <div id="Customer" class="itemviewddlQC">
        <div class="Retaillbl">Customer</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["Customer"], "Value", "Text"), null, new { @id = "Customerddl", @class = "ddl", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
       </div>
    </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="iteminfo" class="griddisplayQC">
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query(@" SELECT S8.COLUMN03 UPC,M7.COLUMN04 ITEM,S8.COLUMN04 ITEMID,S8.COLUMN05 [DESC],M5.COLUMN04 BRAND,S8.COLUMN06 BRANDID,cast(isnull(S8.COLUMN07,0) as int) [QtyScaned], " +
                                                         " S7.COLUMN06 SOID,S5.COLUMN04 SO,S7.COLUMN07 CUID,S2.COLUMN05 CUST,S8.COLUMN02 LID,M2.COLUMN04 UOM,S8.COLUMN10 UOMID FROM SATABLE017 S7 " +
                                                         " INNER JOIN SATABLE018 S8 ON S8.COLUMN09=S7.COLUMN01 AND S7.COLUMNA02=S8.COLUMNA02 AND S7.COLUMNA03=S8.COLUMNA03 " +
                                                         " INNER JOIN SATABLE005 S5 ON S5.COLUMN02=S7.COLUMN06 AND S5.COLUMNA02=S7.COLUMNA02 AND S5.COLUMNA03=S7.COLUMNA03 " +
                                                         " INNER JOIN SATABLE002 S2 ON S2.COLUMN02=S7.COLUMN07 AND S5.COLUMNA03=S7.COLUMNA03 " +
                                                         " LEFT JOIN MATABLE007 M7 ON M7.COLUMN02=S8.COLUMN04 AND M7.COLUMNA03=S8.COLUMNA03 " +
                                                         " LEFT JOIN MATABLE005 M5 ON M5.COLUMN02=M7.COLUMN10 AND M5.COLUMNA03=S8.COLUMNA03 " +
                                                         " LEFT JOIN MATABLE002 M2 ON M2.COLUMN02=S8.COLUMN10 AND M2.COLUMNA03=S8.COLUMNA03 " +
                                                         " WHERE  S7.COLUMN02= " + @Request["ide"] + " AND S7.COLUMNA13=0 AND S8.COLUMNA13=0 ");
            var grid = new WebGrid(books, canPage: false, canSort: false);                                                         
}
         @grid.GetHtml(tableStyle: "Retailwebgrid-table",
            headerStyle: "Retailwebgrid-header",
            footerStyle: "Retailwebgrid-footer",
                alternatingRowStyle: "Retailwebgrid-alternating-row",
            rowStyle: "Retailwebgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns: (
    grid.Columns(grid.Column("UPC", style: "col2", format: @<div class="rowshow"><div class=initshow><span id="dItemId">@item.UPC</span></div><span id="upc" style='display:none'>@item.LID</span></div>),
    grid.Column("Item", style: "col3", format: @<div class="rowshow"><div class="initshow"><span id="dItemName">@item.ITEM</span></div><span id="ItemId" style='display:none'>@item.ITEMID</span></div>),
    grid.Column("Item Description", style: "col4", format: @<div class="rowshow"><div class="initshow"><span id="dQuantity">@item.DESC</span></div><input type="text" id="desc" class='txtgridclass edit-mode'  name="DESC"    value="@item.DESC" ></div>),
    grid.Column("UOM", style: "col5", format: @<div class="rowshow"><div class=initshow><span id=dUom>@item.UOM</span></div><span id="UOMId" style='display:none'>@item.UOMID</span></div>),
    grid.Column("Brand", style: "col5", format: @<div class="rowshow"><div class=initshow><span id=dPrice>@item.BRAND</span></div><span id="brandId" style='display:none'>@item.BRANDID</span></div>),
    grid.Column("Qty Scanned", style: "col6", format: @<div class="rowshow"><div class=initshow><span id="dAmount">@item.QtyScaned</span></div></div>)))
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="float:left;width:50%;"></div><div class="totalinfo">
          <div>  <div class="Retailtotallbls">No. of Items</div><div id="totitems" class="Retailtotaltxts"><label id="itemqty" >@ViewBag.ITQTY</label></div> </div>
          <div>  <div class="Retailtotallbls" style="display:none">Total Quantity</div><div id="totqty" class="Retailtotaltxts"><label id="totalqty" style="display:none" >@ViewBag.TQTY</label></div> </div>
          <div>  <div class="Retailtotallbls">Total Quantity</div><div id="scqty" class="Retailtotaltxts"><label id="scqty" >@ViewBag.TOTSCANNEDQTY</label></div> </div>
          <div>  <div class="Retailtotallbls">Verification</div><div id="subtot" class="Retailtotaltxts"><label id="msg" >@ViewBag.STATUS</label></div> </div>
        </div></div>
       
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel" class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("QCInfo", "QC", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
            <input type="text"  style="display:none;" id="initdue" value=""/>
            <input type="text"  style="display:none;" id="inittax" value=""/>
            </div>
    </div>
    
</body>
</html>
