﻿@{
     ViewBag.Title = "Bank Reconciliation";
     //Layout = null;
}
<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
@* <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>*@
   <div id="RecDialog"  style="font-size:11.5px"></div>
  <script type="text/javascript" language="javascript">
      var $i = jQuery.noConflict();
      $i(document).ready(function () {
          $('.headerEmtyCont').fadeOut(5000);
          dateupdate('@Session["ReportDate"]');
          FormLoadActions();
          $i("#StmtImportSave").on("click", function () {
              ReconcilationStmtImportSave('@Session["FormName"]');
          });
          $i("#TargetBank").on("change", function () {
              $i("#Exceldownl").attr("ide", $i("#TargetBank").val());
          });
          $i("#Exceldownl").live("click", function () {
              var ide = $i(this).attr('ide');
              window.location.href = "/BankReconsilation/GetSampleStmt?ide=" + ide + "&FormName=" + '@Request["FormName"]' + "";
          });
          var actheight = $i("#BarcodeFormData").height();
          var tabsheight = $i("#transtabs").height();
          if (actheight == "" || actheight == null) actheight = 0;
          if (tabsheight == "" || tabsheight == null) tabsheight = 0;
          $i("#BarcodeFormData").height(actheight - tabsheight - 15);
          $i("#tabs").tabs();
          $('#grdfData').DataTable({
              "iDisplayLength": 20
          });
          grdseachbox();
          $("#alltypetrans").on("click", function (e) {
              $('#banktransdisplay').css('display', 'block');
              $('#bankdeptransdisplay').css('display', 'none');
              $('#bankwithtransdisplay').css('display', 'none');
              $(this).css('color', '#35ccef');
              $("#deposittrans").css('color', 'black');
              $("#withdrawtrans").css('color', 'black');
          })
          $("#deposittrans").on("click", function (e) {
              $('#banktransdisplay').css('display', 'none');
              $('#bankdeptransdisplay').css('display', 'block');
              $('#bankwithtransdisplay').css('display', 'none');
              $(this).css('color', '#35ccef');
              $("#alltypetrans").css('color', 'black');
              $("#withdrawtrans").css('color', 'black');
          })
          $("#withdrawtrans").on("click", function (e) {
              $('#banktransdisplay').css('display', 'none');
              $('#bankdeptransdisplay').css('display', 'none');
              $('#bankwithtransdisplay').css('display', 'block');
              $(this).css('color', '#35ccef');
              $("#deposittrans").css('color', 'black');
              $("#alltypetrans").css('color', 'black');
          })
          $("#addinvoice").live("click", function (e) {
              $i('#RecDialog').dialog({
                  autoOpen: false,
                  modal: true,
                  width: 550,
                  height: 550, resizable: false,
                  title: "Invoice",
                  closeOnEscape: false
              })
              $i('#tabs1').tabs();
              $i(this).attr('pattern', 'Y');
              $i('.ui-dialog').show();
              $i('.ui-dialog-titlebar').show();
              $i('.ui-widget-overlay').show();
              $i('#RecDialog').dialog('open');
              $i('#RecDialog').show();
              var Reconcilationid = $("#BankRecStatus").val();
              var bankid = ""; var Amt = ""; var Memo = "";
              $("input:radio[id=checkbankdepRow]:checked").each(function () {
                  var tr = $i(this).parent().parent();
                  bankid = $i(tr).find("#bankdepsysbankid")[0].attributes["val"].value;
                  Amt = $i(tr).find("#bankdepamt")[0].attributes["val"].value;
                  Memo = $i(tr).find("#bankdepsysmemo")[0].attributes["val"].value;
                  Memo = Memo.trim();
              });
              $i('#RecDialog').load("/ReceiptVoucher/Create?Reconcileid=" + Reconcilationid + "&BankId=" + bankid + "&Amt=" + Amt + "&Memo=" + encodeURIComponent(Memo) + "");
              $i('#RecDialog').on('dialogclose', function (event) {
                  $i('#RecDialog').html("");
                  $i(this).dialog("close");
                  $i(".ui-widget-overlay").hide();
                  DynamicPopupcancel();
                  $i('#RecDialog').dialog('destroy');
              });
          });
          $("#addbill").live("click", function (e) {
              $i('#RecDialog').dialog({
                  autoOpen: false,
                  modal: true,
                  width: 550,
                  height: 550, resizable: false,
                  title: "Bill",
                  closeOnEscape: false
              })
              $i('#tabs1').tabs();
              $i(this).attr('pattern', 'Y');
              $i('.ui-dialog').show();
              $i('.ui-dialog-titlebar').show();
              $i('.ui-widget-overlay').show();
              $i('#RecDialog').dialog('open');
              $i('#RecDialog').show();
              var Reconcilationid = $("#BankRecStatus").val();
              var bankid = "";var Amt = "";var Memo = "";
              $("input:radio[id=checkbankwithRow]:checked").each(function () {
                  var tr = $i(this).parent().parent();
                  bankid = $i(tr).find("#bankcrsysbankid")[0].attributes["val"].value;
                  Amt = $i(tr).find("#bankcramt")[0].attributes["val"].value;
                  Memo = $i(tr).find("#bankcrsysmemo")[0].attributes["val"].value;
                  Memo = Memo.trim();
              });
              $i('#RecDialog').load("/PaymentVoucher/Create?Reconcileid=" + Reconcilationid + "&BankId=" + bankid + "&Amt=" + Amt + "&Memo=" + encodeURIComponent(Memo) + "");
              $i('#RecDialog').on('dialogclose', function (event) {
                  $i('#RecDialog').html("");
                  $i(this).dialog("close");
                  $i(".ui-widget-overlay").hide();
                  DynamicPopupcancel();
                  $i('#RecDialog').dialog('destroy');
              });
          });

          $("#Bankaccid").on("change", function (e) {
              var bankid = $("#Bankaccid").val();
              $("#divLoading").show();
              var Reconcilid = $("#SysBankStatusid").val();
              var dataparam = { id: bankid, Reconcilid: Reconcilid }
              GetBankTrans(dataparam);
              $("#divLoading").hide();
          })
          $("#SysBankStatusid").on("change", function (e) {
              var bankid = $("#Bankaccid").val();
              var Reconcilid = $("#SysBankStatusid").val();
              var dataparam = { id: bankid, Reconcilid: Reconcilid }
              GetBankTrans(dataparam);
          })
          function GetBankTrans(dataparam) {
              if (dataparam.id == "" || typeof (dataparam.id) == "undefined") {
                  Alert.render('Please Select Bank'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#Bankaccid").focus(); return false;
                  })
              }
              else {
                  $("#divLoading").show();
                  $.ajax({
                      url: "/BankReconsilation/GetBankStmt",
                      type: "POST",
                      data: JSON.stringify(dataparam),
                      dataType: "json",
                      async: false,
                      cache: false,
                      contentType: "application/json; charset=utf-8",
                      success: function (result) {
                          $('#grdbData').remove();
                          $('#banktransdisplay').html(result.Data);
                          $('#grdbData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $('#grddepData').remove();
                          $('#bankdeptransdisplay').html(result.Data1);
                          $('#grddepData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $('#grdwithData').remove();
                          $('#bankwithtransdisplay').html(result.Data2);
                          $('#grdwithData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          grdseachbox();
                          $("#alltypetrans").css('color', '#35ccef');
                          $('#allcnt').html("(" + result.rowcnt + ")");
                          $('#depositcnt').html("(" + result.deprowcnt + ")");
                          $('#withcnt').html("(" + result.withrowcnt + ")");
                          $("#deposittrans").css('color', 'black');
                          $("#withdrawtrans").css('color', 'black');
                          $('#BankBalance').html(result.Balance);
                          $("#divLoading").hide();
                      }
                  });
              }
          }

          $i("[id*=BankRecStatus]").on("change", function (e) {
              var Reconcilationid = $("#BankRecStatus").val();
              if (Reconcilationid == "") Reconcilationid = "23134";
              $("input:radio[id=checkRow]:checked").each(function () {
                  var tr = $i(this).parent().parent();
                  var id = $(tr).find("#checkRow")[0].attributes["val"].value;
                  var dataparam = { id: id, Reconcilationid: Reconcilationid };
                  BankReconcilationData(dataparam);
                  return false;
              });
          });
          $i("[id*=checkRow]").on("click", function (e) {
              var tr = $(this).closest("tr");
              var id = $(tr).find("#checkRow")[0].attributes["val"].value;
              $("#BankStatusinfo").css('display', 'block');
              var Reconcilationid = $("#BankRecStatus").val();
              if (Reconcilationid == "") Reconcilationid = "23134";
              var dataparam = { id: id, Reconcilationid: Reconcilationid };
              BankReconcilationData(dataparam);
          })
          function BankReconcilationData(dataparam) {
              if (dataparam.id == "" || typeof (dataparam.id) == "undefined") {
                  Alert.render('Please Select Bank'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close");  return false;
                  })
              }
              else {
                  $("#divLoading").show();
                  $.ajax({
                      url: "/BankReconsilation/GetUploadBankStmt",
                      type: "POST",
                      data: JSON.stringify(dataparam),
                      dataType: "json",
                      async: false,
                      cache: false,
                      contentType: "application/json; charset=utf-8",
                      success: function (result) {
                          $('#grdupallData').remove();
                          $('#ImportedBankGrdData').html(result.Data5);
                          $('#grdupallData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $('#grdupdepData').remove();
                          $('#bankrecvransdisplay').html(result.Data1);
                          $('#grdupdepData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $('#grdupwithData').remove();
                          $('#bankpaytransdisplay').html(result.Data2);
                          $('#grdupwithData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $('#grdsysdepData').remove();
                          $('#sysrectransdisplay').html(result.Data3);
                          $('#grdsysdepData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $('#grdsyswithData').remove();
                          $('#syspaytransdisplay').html(result.Data4);
                          $('#grdsyswithData').DataTable({
                              "iDisplayLength": 20,
                              "aaSorting": []
                          });
                          $("#receivtrans").css('color', '#35ccef');
                          $("#payabletrans").css('color', 'black');
                          grdseachbox();
                          $("#divLoading").hide();
                      }
                  });
              }
          }

          $i("[id*=checkbankdepRow]").live("click", function (e) {
              var tr = $i(this).parent().parent();
              var bankdepamt = $i(tr).find("#bankdepamt")[0].attributes["val"].value;
              if (bankdepamt == "" || typeof (bankdepamt) == "undefined") bankdepamt = 0;
              $i("[id*=sysdepamt]").each(function (index) {
                  var sysdepamt = $(this)[0].attributes["val"].value;
                  var systr = $(this).closest("tr");
                  $i(systr).find("#checksysdepRow").prop('checked', false);
                  if (sysdepamt == "" || typeof (sysdepamt) == "undefined") sysdepamt = 0;
                  if (bankdepamt == sysdepamt) {
                      //tr = $(this).parent().parent().css("background-color", "#c0c0c0");
                      $(this).closest("tr").remove();
                      $("#grdsysdepData tbody").prepend(systr);
                  }
              });
          });
          $i("[id*=checkbankwithRow]").live("click", function (e) {
              var tr = $i(this).parent().parent();
              var bankcramt = $i(tr).find("#bankcramt")[0].attributes["val"].value;
              if (bankcramt == "" || typeof (bankcramt) == "undefined") bankcramt = 0;
              $i("[id*=syswithamt]").each(function (index) {
                  var syswithamt = $(this)[0].attributes["val"].value;
                  var systr = $(this).closest("tr");
                  $i(systr).find("#checksyswithRow").prop('checked', false);
                  if (syswithamt == "" || typeof (syswithamt) == "undefined") syswithamt = 0;
                  if (bankcramt == syswithamt) {
                      //tr = $(this).parent().parent().css("background-color", "#c0c0c0");
                      $(this).closest("tr").remove();
                      $("#grdsyswithData tbody").prepend(systr);
                  }
              });
          });
          $("#receivtrans").on("click", function (e) {
              $('#bankpaytransdisplay').css('display', 'none');
              $('#syspaytransdisplay').css('display', 'none');
              $('#bankrecvransdisplay').css('display', 'block');
              $('#sysrectransdisplay').css('display', 'block');
              $(this).css('color', '#35ccef');
              $("#payabletrans").css('color', 'black');
              $('#sysdbttrans').css('display', 'block');
              $('#syscdttrans').css('display', 'none');
              $('#getdbtreconcile').css('display', 'block');
              $('#getcrreconcile').css('display', 'none');
          });
          $("#payabletrans").on("click", function (e) {
              $('#bankpaytransdisplay').css('display', 'block');
              $('#syspaytransdisplay').css('display', 'block');
              $('#bankrecvransdisplay').css('display', 'none');
              $('#sysrectransdisplay').css('display', 'none');
              $(this).css('color', '#35ccef');
              $("#receivtrans").css('color', 'black');
              $('#sysdbttrans').css('display', 'none');
              $('#syscdttrans').css('display', 'block');
              $('#getdbtreconcile').css('display', 'none');
              $('#getcrreconcile').css('display', 'block');
          });
          $("#getautoreconcile").on("click", function (e) {
              var Reconcilationid = $("#BankRecStatus").val(); var id = "";
              $("input:radio[id=checkRow]:checked").each(function () {
                  var tr = $i(this).parent().parent();
                  id = $(tr).find("#checkRow")[0].attributes["val"].value;
                  return false;
              });
              if (id != "") {
                  $("#divLoading").show();
                  $.ajax({
                      url: "/BankReconsilation/AutoReconcillation",
                      type: "POST",
                      dataType: "json",
                      data: { id: id, Reconcilationid: Reconcilationid },
                      async: true,
                      success: function (data) {
                          $("#divLoading").hide();
                          if (data.MessageFrom != "") {
                              $("#messageDiv").text(data.MessageFrom);
                              MessagesColour(data.MessageFrom, data.SuccessMessageFrom);
                              $('.headerEmtyCont').fadeOut(5000); if (data.rowseffected == "1") window.location.reload(window.location.href);
                          }
                      }
                  })
              }
              else {
                  Alert.render('Please Select atleaset one Statement'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); return false;
                  })
              }
          });
          $("#getdbtreconcile").on("click", function (e) {
                  var totsysdepamt = 0;
              $("input:radio[id=checkbankdepRow]:checked").each(function () {
                  var tr = $i(this).parent().parent();
                  var bankdeprecid = $i(tr).find("#bankdepid")[0].attributes["val"].value;
                  var bankdepamt = $i(tr).find("#bankdepamt")[0].attributes["val"].value;
                  if (bankdepamt == "" || typeof (bankdepamt) == "undefined") bankdepamt = 0;
                  $("input:checkbox[id=checksysdepRow]:checked").each(function (index) {
                      var systr = $(this).closest("tr");
                      var sysdepamt = $i(systr).find("#sysdepamt")[0].attributes["val"].value;
                      if (sysdepamt == "" || typeof (sysdepamt) == "undefined") sysdepamt = 0;
                      totsysdepamt = parseFloat(totsysdepamt) + parseFloat(sysdepamt);
                  });
                  if (parseFloat(totsysdepamt).toFixed(2) != parseFloat(bankdepamt).toFixed(2)) {
                      Alert.render('Debit Amount Should Match with Bank'); $("#alertok").focus();
                      $("#alertok").on("click", function () {
                          $("#dialogbox").dialog("close"); return false;
                      })
                  }
                  else if (parseFloat(totsysdepamt).toFixed(2) == parseFloat(bankdepamt).toFixed(2)==0) {
                      Alert.render('Please Select atleaset one Transaction'); $("#alertok").focus();
                      $("#alertok").on("click", function () {
                          $("#dialogbox").dialog("close"); return false;
                      })
                  }
                  else {
                      var tbl = $("#grdsysdepData")[0];
                      var xmldata = "<ROOT>";
                      for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                          var trw = tbl.rows[irow];
                          if ($(trw).find("#checksysdepRow").is(':checked'))
                          {
                              var Transid = $(trw).find("[id='bankdepid']")[0].attributes["val"].value;
                              var Transno = $(trw).find("[id='bankdeptno']")[0].attributes["val"].value;
                              var TransAcc = $(trw).find("[id='sysdepbankid']")[0].attributes["val"].value;
                              var TransAmt = $(trw).find("[id='sysdepamt']")[0].attributes["val"].value;
                              var Transdt = trw.cells[1].innerHTML;
                              var Transtype = trw.cells[3].innerHTML;
                              var Memo = trw.cells[4].innerHTML;
                              if (typeof Memo == "undefined") Memo = "";
                              Memo = Memo.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')
                              .replace(/'/g, '&apos;');
                              xmldata = xmldata + "<Column><Transid>" + Transid + "</Transid>";
                              xmldata = xmldata + "<Transno>" + Transno + "</Transno>";
                              xmldata = xmldata + "<TransAcc>" + TransAcc + "</TransAcc>";
                              xmldata = xmldata + "<TransAmt>" + TransAmt + "</TransAmt>";
                              xmldata = xmldata + "<Transdt>" + Transdt + "</Transdt>";
                              xmldata = xmldata + "<Transtype>" + Transtype + "</Transtype>";
                              xmldata = xmldata + "<Memo>" + Memo + "</Memo>";
                              xmldata = xmldata + "<bankdeprecid>" + bankdeprecid + "</bankdeprecid>";
                              xmldata = xmldata + "<Rectype>Receivable</Rectype>";
                              xmldata = xmldata + "</Column>";
                          }
                      }
                      xmldata = xmldata + "</ROOT>";
                      $("#divLoading").show();
                      var dataparam = { list: xmldata };
                      $.ajax({
                          url: "/BankReconsilation/SaveGrdData",
                          type: "POST",
                          data: JSON.stringify(dataparam),
                          dataType: "html",
                          cache: true,
                          async:false,
                          contentType: "application/json; charset=utf-8",
                          success: function (data) {
                              var formData = $("#saveformdata").serialize();
                              $.ajax({
                                  url: "/BankReconsilation/Reconcillation",
                                  type: "POST",
                                  dataType: "json",
                                  data: formData,
                                  async: true,
                                  success: function (data) {
                                      $("#divLoading").hide();
                                      if (data.MessageFrom != "") {
                                          $("#messageDiv").text(data.MessageFrom);
                                          MessagesColour(data.MessageFrom, data.SuccessMessageFrom);
                                          $('.headerEmtyCont').fadeOut(5000);
                                      }
                                  }
                              })
                          }
                      });
                      tr.remove();
                      $("input:checkbox[id=checksysdepRow]:checked").each(function (index) {
                          var systr = $(this).closest("tr");
                          systr.remove();
                      });
                  }
              });
              if (parseFloat(totsysdepamt).toFixed(2) == 0) {
                  Alert.render('Please Select atleaset one Transaction'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); return false;
                  })
              }
              $("#divLoading").hide();
          });
          $("#getcrreconcile").on("click", function (e) {
                  var totsyswithamt = 0;
              $("input:radio[id=checkbankwithRow]:checked").each(function () {
                  var tr = $i(this).parent().parent();
                  var bankwithrecid = $i(tr).find("#bankcrid")[0].attributes["val"].value;
                  var bankcramt = $i(tr).find("#bankcramt")[0].attributes["val"].value;
                  if (bankcramt == "" || typeof (bankcramt) == "undefined") bankcramt = 0;
                  $("input:checkbox[id=checksyswithRow]:checked").each(function (index) {
                      var systr = $(this).closest("tr");
                      var syswithamt = $i(systr).find("#syswithamt")[0].attributes["val"].value;
                      if (syswithamt == "" || typeof (syswithamt) == "undefined") syswithamt = 0;
                      totsyswithamt = parseFloat(totsyswithamt) + parseFloat(syswithamt);
                  });
                  if (parseFloat(totsyswithamt).toFixed(2) != parseFloat(bankcramt).toFixed(2)) {
                      Alert.render('Credit Amount Should Match with Bank'); $("#alertok").focus();
                      $("#alertok").on("click", function () {
                          $("#dialogbox").dialog("close"); return false;
                      })
                  }
                  else if (parseFloat(totsyswithamt).toFixed(2) == parseFloat(bankcramt).toFixed(2) == 0) {
                      Alert.render('Please Select atleaset one Transaction'); $("#alertok").focus();
                      $("#alertok").on("click", function () {
                          $("#dialogbox").dialog("close"); return false;
                      })
                  }
                  else {
                      var tbl = $("#grdsyswithData")[0];
                      var xmldata = "<ROOT>";
                      for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                          var trw = tbl.rows[irow];
                          if ($(trw).find("#checksyswithRow").is(':checked')) {
                              var Transid = $(trw).find("[id='syswithid']")[0].attributes["val"].value;
                              var Transno = $(trw).find("[id='syswithtno']")[0].attributes["val"].value;
                              var TransAcc = $(trw).find("[id='syswithbankid']")[0].attributes["val"].value;
                              var TransAmt = $(trw).find("[id='syswithamt']")[0].attributes["val"].value;
                              var Transdt = trw.cells[1].innerHTML;
                              var Transtype = trw.cells[3].innerHTML;
                              var Memo = trw.cells[4].innerHTML;
                              if (typeof Memo == "undefined") Memo = "";
                              Memo = Memo.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')
                              .replace(/'/g, '&apos;');
                              xmldata = xmldata + "<Column><Transid>" + Transid + "</Transid>";
                              xmldata = xmldata + "<Transno>" + Transno + "</Transno>";
                              xmldata = xmldata + "<TransAcc>" + TransAcc + "</TransAcc>";
                              xmldata = xmldata + "<TransAmt>" + TransAmt + "</TransAmt>";
                              xmldata = xmldata + "<Transdt>" + Transdt + "</Transdt>";
                              xmldata = xmldata + "<Transtype>" + Transtype + "</Transtype>";
                              xmldata = xmldata + "<Memo>" + Memo + "</Memo>";
                              xmldata = xmldata + "<bankdeprecid>" + bankwithrecid + "</bankdeprecid>";
                              xmldata = xmldata + "<Rectype>Payable</Rectype>";
                              xmldata = xmldata + "</Column>";
                          }
                      }
                      xmldata = xmldata + "</ROOT>";
                      $("#divLoading").show();
                      var dataparam = { list: xmldata };
                      $.ajax({
                          url: "/BankReconsilation/SaveGrdData",
                          type: "POST",
                          data: JSON.stringify(dataparam),
                          dataType: "html",
                          cache: true,
                          async: false,
                          contentType: "application/json; charset=utf-8",
                          success: function (data) {
                              var formData = $("#saveformdata").serialize();
                              $.ajax({
                                  url: "/BankReconsilation/Reconcillation",
                                  type: "POST",
                                  dataType: "json",
                                  data: formData,
                                  async: true,
                                  success: function (data) {
                                      $("#divLoading").hide();
                                      if (data.MessageFrom != "") {
                                          $("#messageDiv").text(data.MessageFrom);
                                          MessagesColour(data.MessageFrom, data.SuccessMessageFrom);
                                          $('.headerEmtyCont').fadeOut(5000);
                                      }
                                  }
                              })
                          }
                      });
                      tr.remove();
                      $("input:checkbox[id=checksyswithRow]:checked").each(function (index) {
                          var systr = $(this).closest("tr");
                          systr.remove();
                      });
                  }
              });
              if (parseFloat(totsyswithamt).toFixed(2) == 0) {
                  Alert.render('Please Select atleaset one Transaction'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); return false;
                  })
              }
          });
          $("#btnsubmit").on("click",function (e) {
              var files = document.getElementById("btnUpload").files;
              if (files.length > 0) {
                  if (window.FormData !== undefined) {
                      var data = new FormData();
                      for (var x = 0; x < files.length; x++) {
                          data.append("file" + x, files[x]);
                      }
                      data.append('frmDT', $("#frmDT").val());
                      data.append('toDT', $("#toDT").val());
                      data.append('Bank', $("#BankReconcilid").val());
                      $.ajax({
                          type: "POST",
                          url: '/BankReconsilation/DocUpload',
                          contentType: false,
                          processData: false,
                          data: data,
                          //data: { data: data, frmDT: frmDT, toDT: toDT },
                          async: false,
                          success: function (result) {
                              $('#griddata').remove();
                              $('#bankgriddisplay').html(result.Data);
                              $('#grdfData').remove();
                              if (result.Data1 == null||result.Data1 =="") {
                                  Alert.render("There is no Records Exists"); $("#alertok").focus();
                                  $("#alertok").on("click", function () {
                                      $("#dialogbox").dialog("close");
                                  })
                              }
                              else
                                  $('#griddisplay').html(result.Data1);
                          }
                      });
                  } else {
                      Alert.render("This browser doesn't support HTML5 file uploads!"); $("#alertok").focus();
                      $("#alertok").on("click", function () {
                          $("#dialogbox").dialog("close"); $("#btnUpload").focus();
                      })
                  }
                  $('#grdfData').DataTable({
                      "iDisplayLength": 20,
                      "aaSorting": []
                  });
                  grdseachbox();
              }
              else {
                  Alert.render('Please Select The File To Be Imported'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#btnUpload").focus();
                  })
              }
          });
          function grdseachbox() {
              $('.dataTables_filter > label:first-child').each(function () {
                  $(this)[0].style.padding = "0px 0px 4px 0px";
              });
          }
      });
  </script>
    </head>
    <body>
        @using (Html.BeginForm("DocUpload", "BankReconsilation", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
        {
            <div class="topHeaderContentBodyInfoEmptyCont">
                 @*<div class="rowCont bottomRowContentFB" id="dynamicinfo">
                   <input type="button" ID="btnSave" class="buttonclass" name="Save" value="Save" style="margin: 7px 5px 5px 20px;"/>
                </div>*@
        <div id="tabs" class="fbTabCon" style="width:99.5%;background: #ecf4f9 repeat scroll 0% 0%;">          
        <ul id="transtabs">
         <li title="Statement Upload"  tabindex="3">
             <a class="" href=#StatementUpload>Statement Upload</a>&nbsp;
         </li>
         <li title="Transactions"  tabindex="0">
             <a class="" href=#Transactions>Transactions</a>&nbsp;
         </li>
         <li title="Reconcile"  tabindex="1">
             <a class="" href=#Import>Bank Statements</a>&nbsp;
         </li>
         <li title="Reconcile"  tabindex="2">
             <a class="" href=#Reconcile>Reconcile</a>&nbsp;
         </li>
         </ul><div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
            <div id="Transactions" style="width:100%;float:left;background: #ecf4f9 repeat scroll 0% 0%;overflow:auto;" class="bodyReconcil">
                <div id="accountinfo" style="padding-top:5px;width:100%;height: 10%;float: left;">
              <div class="lbl" style="width: 22%;font-size:12px;font-weight:bold;"><label id="Bankacc">Accounts</label></div>
              <div class="txt" style="width: 10%;">@Html.DropDownList("Bank", null,"--Select--", htmlAttributes: new { @id = "Bankaccid", @class = "ddl" })</div>
               <div id="" style="float:left;font-size:12px;font-weight:bold;padding-left:15px;">Balance:</div><div id="BankBalance" style="width: 15%;float:left;font-size:12px;font-weight:bold;">&nbsp;</div>
               <div id="" style="float:left;font-size:12px;font-weight:bold;padding-left:15px;">Status</div><div id="" style="float:left;width: 10%;padding-left:5px;font-size:12px;font-weight:bold;">@Html.DropDownList("Status", null,"--Select--", htmlAttributes: new { @id = "SysBankStatusid", @class = "ddl" })</div>
                </div>                
                <div id="transtypes" style="padding:5px;font-size:12px;font-weight:bold;cursor: pointer;float: left;"><span id="alltypetrans">All<span id="allcnt"></span></span> | 
                    <span id="deposittrans">Receivables<span id="depositcnt"></span></span> | 
                    <span id="withdrawtrans">Payables<span id="withcnt"></span></span>
                </div>
                <div id="transgriddisplay" style="float:left;width: 100%;">
                <div id="banktransdisplay" class="overflowGrid" style="overflow:auto;">

                </div>
                <div id="bankdeptransdisplay" class="overflowGrid" style="display:none;overflow:auto;">

                </div>
                <div id="bankwithtransdisplay" class="overflowGrid" style="display:none;overflow:auto;">

                </div></div>
            </div>
            <div style="width:100%;background: #ecf4f9 repeat scroll 0% 0%;" id="Import">
            <div class="ImportBankDetails" style="width:100%;float:left;padding:5px;min-height: 60px;">                
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            }
              <div id="" class="overflowGrid" style="width:100%;max-height:175px;overflow:auto;">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:(grid.Columns(grid.Column("ID","",format: (item) => new HtmlString("<input  id=checkRow class=chkclass  name=checkrow  val="+@item.ID+" type=radio />")),
            grid.Column("Import#","Import#"),
            grid.Column("Date","Date"),grid.Column("Name","Name"),grid.Column("Bank","Bank"))
               ))
        </div>
            </div>  
                <div style="width:100%;float: left;overflow:auto;" id="ImportedBankData">
                <div id="BankStatusinfo" style="display:none;float:left;width:100%;"><div style="float:left;font-size:12px;font-weight:bold;padding-left:15px;">Status</div><div style="float:left;width: 10%;padding-left:5px;font-size:12px;font-weight:bold;">@Html.DropDownList("Status", null,"--Select--", htmlAttributes: new { @id = "BankRecStatus", @class = "ddl" })</div></div>
                <div class="overflowGrid" style="width:100%;padding:5px;padding-left:10px;float: left;width: 98.5%;height: 84.5%;" id="ImportedBankGrdData">
                </div>
            </div>
            </div>
            <div style="width:100%;background: #ecf4f9 repeat scroll 0% 0%;" id="Reconcile">
        <div style="width:100%;padding-bottom:10px;float:left;" class="mainRow" id="headerinfo">
         @*<div class="mainRowCon"><div class="lbl" style="float:left;margin-left:3px;">Date</div>
          <div class="txt">  <input id="recdate" name="Date" class="date txtclass"  type="text" /></div></div>
        <div class="mainRowCon"><div class="lbl" style="float:left;margin-left:10px;">Reconcile#</div>
           <div class="txt">  <input id="reconciletran"  name="ReconcileTran" type="text" class="txtclass"  />
            </div></div>
            <div class="mainRowCon"><div class="lbl" style="float:left;margin-left:10px;">
            </div><div class="txt"></div></div>*@
                  <div style="padding:5px;font-size:12px;font-weight:bold;padding-left:10px;cursor: pointer;float: left;width: 250px;">
                    <span id="receivtrans">Receivables</span> |
                    <span id="payabletrans">Payables</span>
                </div><div style="padding-left:10px;float:left">
                    <input id="getautoreconcile"  name="Auto Reconcile" value="Auto Reconcile" type="button" class="buttonclass" />
                      </div>
            <div style="padding-left:10px;float:left">
             <input id="getdbtreconcile"  name="Reconcile" value="Reconcile" type="button" class="buttonclass"  /><input id="getcrreconcile"  name="Reconcile" value="Reconcile" type="button" class="buttonclass" style="display:none;" /></div></div>
                <div id="transinfo" style="font-size:12px;font-weight:bold;width:99%;padding:3px;float: left;">
                <div id="sysdbttrans" style="width:100%;"><div style="float:left;width:48%;background-color: #d9d8de;">BankTransactions</div><div style="float:right;width:48%;background-color: #d9d8de;"><div style="width:48%;float: left;" >Debits</div><div style="float:right;width:48%;text-align: right;padding-right: 10px;font-weight:bold;cursor:pointer;" id="addinvoice">+ Add Quick Invoice </div> </div></div>
                <div id="syscdttrans" style="width:100%;display:none;"><div style="float:left;width:48%;background-color: #d9d8de;"><div style="width:48%;float: left;" > Credits</div><div style="float:right;width:48%;text-align: right;padding-right: 10px;font-weight:bold;cursor:pointer;" id="addbill">+ Add Quick Bill </div></div><div style="float:right;width:48%;background-color: #d9d8de;">BankTransactions</div> </div>
                </div>
                <div  style="width:100%;min-height:150px;" id="bankreconcilrecords">
                <div id="bankrecvransdisplay" class="overflowGrid" style="width:50%;">

                </div>
                <div id="sysrectransdisplay" class="overflowGrid"  style="width:49%;float:right;">

                </div>
                <div id="syspaytransdisplay" class="overflowGrid" style="display:none;width:50%;">

                </div>
                <div id="bankpaytransdisplay" class="overflowGrid" style="display:none;width:49%;float:right;">

                </div>
                </div></div>
            <div id="StatementUpload" style="width:100% !important;">
                
         <div class="rowCont bottomRowContentFB" id="ddl">
         <div class="bottomColFB1">
            <input id="StmtImportSave" type="button" class="buttonclass" value="Save" />
         </div>
         </div> 
        <div id="BarcodeFormData" class="bodyFBContent" style="overflow-y:auto">
            <div id="BarcodeFeilds" style="width:99%;float:left;">  
        <div class="mainRow"  id="Primary">  
        <div class="mainRowCon" id="Primary" >
        <div class="lbl"   id="Primary"  > <label  id="Importlbl">Import#</label><label id="mlblImport" class="astric">* </label></div>
        <div class="txt" id="Primary"  > 
        <input id="SmtImport" name="Import" class="txtclass" type="text" value="@ViewBag.TransNo" readonly="true" />                   
        </div>
        </div>
        <div class="mainRowCon" id="Primary" >
        <div class="lbl"   id="Primary"  > <label  id="Banklbl">Bank</label><label id="mlblBank" class="astric">* </label></div>
        <div class="txt" id="Primary"  > 
        @Html.DropDownList("Bank", null, "--Select--", new { @id = "SmtBank", @class = "ddl", @itemid = "Y" })
        </div>
        </div>
        <div class="mainRowCon" id="Primary" >
        <div class="lbl"   id="Primary"  > <label  id="lblFromDate">From Date</label><label id="mlblFromDate" class="astric">* </label></div>
        <div class="txt" id="Primary"  > 
           <input id="FromDate"  name="From Date" class="txtclass date" type="text" value="@ViewBag.toDT" readonly="true"/>
        </div>
        </div>
        </div>            
        <div class="mainRow"  id="Primary">  
        <div class="mainRowCon" id="Primary" >
        <div class="lbl"   id="Primary"  > <label  id="lblToDate">To Date</label><label id="mlblToDate" class="astric">* </label></div>
        <div class="txt" id="Primary"  > 
           <input id="ToDate"  name="To Date" class="txtclass date" type="text" value="@ViewBag.frmDT" readonly="true"/>
        </div>
        </div>
        @*<div class="mainRowCon" id="Primary" >
        <div class="lbl"   id="Primary"  > <label  id="Banklbl">Target Bank</label><label id="mlblBank" class="astric">* </label></div>
        <div class="txt" id="Primary"  > 
        @Html.DropDownList("TargetBank", null , "--Select--", new { @id = "TargetBank", @class = "ddl", @itemid = "Y" })
            <input type="text" id="filedata" style="display:none" />
        </div>
        </div>*@
        <div class="mainRowCon" id="Primary" >
        <div class="lbl"   id="Primary"  > <label  id="Uploadlbl">Upload</label><label id="mlblUpload" class="astric">* </label></div>
        <div class="txt" id="Primary"  > 
        <input type="file" id="btnUpload" name="Upload" value="Upload" style="padding-left: 5px;"/>
         <div class="" style="padding-top:3px;"><a href="#" id="Exceldownl" ide ="23139" >Bank statement template</a></div>
        </div>
        </div>
        </div>
       </div>    
       </div>   

            </div>
            </div>
            </div> 
        }
    </body>
    </html>