﻿<html>
     <head>  
   <div id="Discountdlg"  style="font-size:11.5px;color:black;background:#E0ECFF;"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i('#disqty').live('change', function (e) {
                AmountCalculations()
            })
            $i('#disprice').live('change', function (e) {
                AmountCalculations()
            })
            $i('#disval').live('change', function (e) {
                $('#disper').val(0);
                AmountCalculations()
            })
            $i('#disper').live('change', function (e) {
                $('#disval').val(0);
                AmountCalculations()
            })
            $i('#Disper1').live('click', function (e) {
                $('#disper').val(10);
                $('#disval').val(0);
                AmountCalculations()
            })
            $i('#Disper2').live('click', function (e) {
                $('#disper').val(15);
                $('#disval').val(0);
                AmountCalculations()
            })
            $i('#Disper3').live('click', function (e) {
                $('#disper').val(20);
                $('#disval').val(0);
                AmountCalculations()
            })
            $i('#Disper4').live('click', function (e) {
                $('#disper').val(50);
                $('#disval').val(0);
                AmountCalculations()
            })
            function AmountCalculations() {
                var qty = $('#disqty').val();
                var price = $('#disprice').val();
                var discount = $('#disval').val();
                var disper = $('#disper').val();
                if (qty == "" || typeof (qty) == "undefined") qty = 0;
                if (price == "" || typeof (price) == "undefined") Price = 0;
                if (discount == "" || typeof (discount) == "undefined") discount = 0;
                if (disper == "" || typeof (disper) == "undefined") disper = 0;
                var Amount = ((parseFloat(qty) * parseFloat(price))).toFixed(2);
                if (disper > 0) discount = (parseFloat(Amount) * (parseFloat(disper) / parseFloat(100))).toFixed(2);
                else disper = ((parseFloat(discount) / parseFloat(Amount)) * (100)).toFixed(2);
                $('#disper').val(disper);
                $('#disval').val(discount);
                Amount = ((parseFloat(qty) * parseFloat(price)) - parseFloat(discount)).toFixed(2);
                $('#distotprice').val(Amount);
                var TaxType = '@Request["TaxType"]';
                if (TaxType != "") {
                    $.ajax({
                        url: "/PointOfSales/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Tax != '') {
                                var ttal = $('#distotprice').val();
                                tax = result.Tax; tax = (tax * (0.01));
                                tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); }
                            $('#itemtaxamt').val(tax);
                        }
                    })
                }
            }
            $i('#btnok').on("click", function () {
                var tbl = $("#grdData")[0];
                var qty = $('#disqty').val();
                var price = $('#disprice').val();
                var amt = $('#distotprice').val();
                var discount = $('#disval').val();
                var taxamt = $('#itemtaxamt').val();
                var disper = $('#disper').val();
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        $i(tr).find('#Quantity').val(qty);
                        $i(tr).find('#Price').val(price);
                        amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                        $i(tr).find('#Amount').val(amt);
                        $i(tr).find('#Discount').val(discount);
                        $i(tr).find('#dTaxamt').text(taxamt);
                        $i(tr).find('#disper1').attr('value', disper);
                        $i(tr).find('#disper1').val(disper);
                        $i(tr).find('#chkrow').val(0);
                        $i(tr).find('#dQuantity').text(qty);
                        $i(tr).find('#dPrice').text(price);
                        $i(tr).find('#dAmount').text(amt);
                        $i(tr).find('#ddiscount').text(discount);
                        $i(tr).find("#ddisper").text(disper);
                        GetRetailTransCalc(tr, "Line");
                        break;
                    }
                }
                $i('#Discountdlg').dialog('close');
                //Linecalculations();
            });
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var totdue1 = $("#dueAmnt").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                if (totdue1 == "" || typeof (totdue1) == "undefined") totdue1 = 0;
                $("#totdue").text(((parseFloat(finalamt) - parseFloat(totdue)) + parseFloat(totdue1)).toFixed(2));
                //$("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
            }
            $i('#btncancel').on("click", function () {
                $i('#Discountdlg').dialog('close');
            });
            $i(function () {
                var Qty = '@Request["Qty"]';
                var Price = '@Request["Price"]';
                var Discount = '@Request["Discount"]';
                var DiscountPer = '@Request["DiscountPer"]';
                if (Qty == "" || typeof (Qty) == "undefined") Qty = 0;
                if (Price == "" || typeof (Price) == "undefined") Price = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                if (DiscountPer == "" || typeof (DiscountPer) == "undefined") DiscountPer = 0;
                var Amount = (parseFloat(Qty) * parseFloat(Price)).toFixed(2);
                $("#disqty").val(Qty);
                $("#disprice").val(Price);
                $("#distotprice").val(Amount);
                $("#disval").val(Discount);
                $("#distotprice").val((parseFloat(Amount) - parseFloat(Discount)).toFixed(2));
                if (DiscountPer == "0") DiscountPer = ((parseFloat(Discount) / parseFloat(Amount)) * (100)).toFixed(2);
                $("#disper").val(DiscountPer);
            });
        });
        </script>
 </head>
    <body>
        <div style="background-color:#E0ECFF;color:black;width:98%;height:264px;">
        <div style="float:left;width:100%;">
        <div style="width:100%;padding: 4px;">Choose Quick Discount</div>
        <div style="float:left;padding:2px 5px 2px 8px;"><input type='button' name='10%' id='Disper1' value='10%' class='myButtonline'/></div>
        <div style="float:left;padding:2px 5px 2px 8px;"><input type='button' name='15%' id='Disper2' value='15%' class='myButtonline'/></div>
        <div style="float:left;padding:2px 5px 2px 8px;"><input type='button' name='20%' id='Disper3' value='20%' class='myButtonline'/></div>
        <div style="float:left;padding:2px 5px 2px 8px;"><input type='button' name='50%' id='Disper4' value='50%' class='myButtonline'/></div>
        </div>
        <div style="float:left;width:100%;">
        <div style="text-align:center;padding: 10px;font-size: large;">-------------- OR -------------</div>
        <div style="padding: 7px;font-size: larger;">Edit Price Or Discount Amount</div>
        <div id="discountcal" style="float:left;width:100%;">
            <div style="float: left;width: 100%;padding: 3px;"><div  style="float:left;width: 30%;text-align:center;">Quantity</div> <div style="float:left;width: 24%;text-align:center;">Unit Price</div> <div  style="float:left;width: 24%;text-align:right;">Extended Price</div></div>
            <div style="float: left;width: 100%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="disqty" id="disqty" style="width:95px;" />&nbsp;*&nbsp;</div> <div style="float:left;width: 27%;text-align: center;"><input type="text" name="disprice" id="disprice" style="width:95px;"/>&nbsp;=</div> <div style="float:left;width: 24%;text-align: center;"><input type="text" name="distotprice" id="distotprice" value="0" style="width:95px;"/><input type="text" name="itemtaxamt" id="itemtaxamt" style="display:none;"/></div></div>
            <div style="float: left;width: 100%;padding: 3px;"><div  style="float:left;width: 30%;text-align:center;">Discount</div> <div style="float:left;width: 24%;text-align:center;">Discount %</div> <div  style="float:left;width: 24%;text-align:right;">Discount Name</div></div>
            <div style="float: left;width: 100%;"><div  style="float:left;width: 29%;text-align: right;"><input type="text" name="disval" id="disval" style="width:95px;"/>&nbsp;&nbsp;</div> <div style="float:left;width: 27%;text-align: center;"><input type="text" name="disper" id="disper" style="width:95px;"/></div>&nbsp;&nbsp; <div style="float:left;width: 26%;text-align: center;">@Html.DropDownList("DiscountType", new SelectList((SelectList)ViewData["DiscountType"], "Value", "Text"), "--Select--", new { @id = "dismode",@style="width: 100px;height: 22px;"})</div></div>
       </div>
        <div style="float:left;width:100%;">
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='CANCEL' id='btncancel' value='CANCEL' class='myButton'/></div>
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='OK' id='btnok' value='OK' class='myButton'/></div>
            </div>
        </div>
        </div>
    </body>
</html>