﻿<html>
     <head>  
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i(function () {debugger
                var payamt = $('#initdue').val();
                var acc = document.getElementById("inittax").defaultValue;
              var CardNo = $('#CardNo1').val();
              $('#payacc').find('option:eq(1)').attr('selected', true);
              var totpay = $('#totamt').text();
              var totdue = $('#totdue').text();
              var actpay = document.getElementById("IPayAmnt").defaultValue;
              var Amttopay = $('#Amttopay').text();
              if (Amttopay == "" || Amttopay == null || typeof (Amttopay) == "undefined") Amttopay = 0;
              if (actpay == "" || actpay == null || typeof (actpay) == "undefined") actpay = 0;
              if (Amttopay > 0) {
                  $('#payamt').val(Amttopay); $('#payamtP').val(actpay);
                  $('#CardNo').val(CardNo);
                  $('#payacc').val(acc);
              }
              else {
                  if (payamt == "" || payamt == null || typeof (payamt) == "undefined") {
                      debugger
                      if (totdue > 0) {
                          $('#payamt').val(totdue);
                          $('#payamtP').val((parseFloat(totpay) - parseFloat(totdue)).toFixed(2));
                          $('#CardNo').val(CardNo);
                          $('#payacc').val(acc);
                      }
                  }
                  else {
                      debugger
                      $('#payamt').val(totdue);
                      $('#payamtP').val((parseFloat(totpay) - parseFloat(totdue)).toFixed(2));
                      $('#CardNo').val(CardNo);
                      $('#payacc').val(acc);
                  }
              }
              if (acc == "" || acc == null || typeof (acc) == "undefined") {
                  if (Type == "Cash") {
                      $('#payacc').val(4121);
                  }
                  else { $('#payacc').val(); }
              }
              else $('#payacc').val(acc);
            });
            $i('#payacc').on("change", function () {
                var Account = $(this).val();
                $.ajax({
                    url: "/PointOfSales/getBalanceAmount?FormName=null",
                    type: "POST",
                    data: JSON.stringify({ Account: Account,FormName: "FormName" }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Balance != '0') {
                            $('#balamt').text(result.Balance);
                        }
                    }
                })
            });
            $i('#payamt').on("change", function () {debugger
                var balamt = $('#balamt').text();
                var totamt = $i('#totamt').text();
                var payamtP = $i('#payamtP').val();
                var dueAmnt = (parseFloat(totamt) - parseFloat(payamtP));
                var payamt = $(this).val();
                var Amttopay = $('#Amttopay').text();
                if (Amttopay == "" || Amttopay == null || typeof (Amttopay) == "undefined") Amttopay = 0;
                if (balamt == "" || typeof (balamt) == "undefined") balamt = 0;
                if (totamt == "" || typeof (totamt) == "undefined") totamt = 0;
                if (Amttopay > 0) dueAmnt = Amttopay;
                if (isNaN(payamt) || payamt<0) {
                    Alert.render("Please Enter Value Greater Than Zero Only"); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); $('#payamt').focus(); return false;
                    })
                    $('#payamt').val("");
                }
                else if ((parseFloat(payamt) > (parseFloat(dueAmnt) + parseFloat(balamt))) || (parseFloat(payamt) > parseFloat(totamt))) {

                    if ((parseFloat(payamt) > parseFloat(dueAmnt)))
                    { 
                        Alert.render("Payment Should Less Than Total Amount Only");
                        $('#payamt').val(dueAmnt);
                        payamt = totamt; $("#alertok").focus();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $('#payamt').focus(); return false;
                        })
                    }
                    //if ((parseFloat(payamt) > parseFloat(balamt))) {
                    //    Alert.render("Payment Should Less Than Available Balance Only");
                    //    $('#payamt').val(balamt); $("#alertok").focus();
                    //    $("#alertok").on("click", function () {
                    //        $("#dialogbox").dialog("close"); $('#payamt').focus(); return false;
                    //    })                        
                    //}
                }
            });
            $i('#btnpayok').on("click", function () {
                debugger
                var a = '@Request["ide"]';
                var payamt = $('#payamt').val();
                var payamtP = $('#payamtP').val();
                var totamt = $i('#totamt').text();
                var payacc = $i('#payacc').val();
                var initamt = $('#initdue').val();
                var due = (parseFloat(totamt) - (parseFloat(payamtP) + parseFloat(payamt))).toFixed(2);
                var tPaid = (parseFloat(payamt) + parseFloat(payamtP)).toFixed(2);
                var Qty = $('#totqty').text();
                var SubTotal = $('#subtot').text();
                var Discount = $('#totdis').text();
                var TaxAmt = $('#tottax').text();
                var Type = $('#Type').val();
                var CardNo = $('#CardNo1').val();
                if(CardNo=="")
                var CardNo = $('#CardNo').val();
                var Customer = $("input[name=Customer]").val();

                var flag = false;
                if (initamt == "" || typeof (initamt) == "undefined") initamt = 0;
                if (payamt == "" || typeof (payamt) == "undefined") payamt = 0;
                if (totamt == "" || typeof (totamt) == "undefined") totamt = 0;
                if (isNaN(payamt) || payamt < 0) {
                    Alert.render("Please Enter Value Greater Than Zero Only"); $("#alertok").focus(); flag = true;
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); $('#payamt').focus(); return false;
                    })
                    $('#payamt').val("");
                }
                else if ((parseFloat(payamt) > parseFloat(balamt)) || (parseFloat(payamt) > parseFloat(totamt))) {
                    if ((parseFloat(payamt) > parseFloat(totamt))) {
                        Alert.render("Payment Should Less Than Total Amount Only");
                        $('#payamt').val(totamt); flag = true;
                        payamt = totamt; $("#alertok").focus();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $('#payamt').focus(); return false;
                        })
                    }
                }
                payamt = $('#payamt').val();
                var Amttopay = $('#Amttopay').text();
                if (Amttopay == "" || Amttopay == null || typeof (Amttopay) == "undefined") Amttopay = 0;
                if (payamt == "" || typeof (payamt) == "undefined") payamt = 0;
                totamt = (parseFloat(totamt) - (parseFloat(payamtP) + parseFloat(payamt))).toFixed(2);
                var totamta = (parseFloat(payamt)).toFixed(2);
                if (Amttopay > 0) {
                    $('#totdue').text(0);
                    $('#dueAmnt').val(0);
                }
                else {
                    $('#totdue').text(totamt);
                    $('#dueAmnt').val(totamt);
                }
                $('#initdue').attr('value', totamta);
                $('#inittax').attr('value', payacc);
                $('#Type').attr('value', Type);
                $('#CardNo1').attr('value', CardNo);
                

                if (flag == false)
                    $i('#Paymentdlg').dialog('close');
            });
            $i('#btnpaycancel').on("click", function () {
                $i('#Paymentdlg').dialog('close');
            });
        });
        </script>
 </head>
    <body>
        <div style="background-color:#E0ECFF;color:black;width:97%;height:180px;">
       <div style="float:left;width:100%;">
        <div style="padding: 7px;font-size: larger;">Payment Information</div>
        <div id="paymentcal" style="float:left;width:100%;">
            <div style="float: left;width: 100%;padding: 6px;">
            <div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Account</div> </div>
            <div style="float: left;width: 45%;"><div style="float:left;width: 28%;text-align: right;">@Html.DropDownList("Account", new SelectList((SelectList)ViewData["Account"], "Value", "Text"), "--Select--", new { @id = "payacc",@style="width: 100px;height: 22px;"})</div></div></div>
        @*    <div style="float: left;width: 100%;"><div style="float: left;width: 45%;padding: 3px;"></div><div  style="float:left;width: 30%;text-align:left;padding-left: 7px;" id="balamt"></div> </div>
            <div style="float: left;width: 100%;padding: 6px;"><div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Amount</div> </div>
            <div style="float: left;width: 45%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="payamt" id="payamt" style="width:95px;"/></div></div>
           </div></div>*@
           
            <div style="float: left;width: 100%;"><div style="float: left;width: 45%;padding: 3px;"></div><div  style="float:left;width: 30%;text-align:left;padding-left: 7px;" id="balamt"></div> </div>
            <div style="float: left;width: 100%;padding: 6px;"><div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Paid Amount</div> </div>
            <div style="float: left;width: 45%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="payamt" id="payamtP" style="width:95px;" readonly="true"/></div></div>
           </div></div>
            <div style="float: left;width: 100%;"><div style="float: left;width: 45%;padding: 3px;"></div><div  style="float:left;width: 30%;text-align:left;padding-left: 7px;" id="balamt"></div> </div>
            <div style="float: left;width: 100%;padding: 6px;"><div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Due Amount</div> </div>
            <div style="float: left;width: 45%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="payamt" id="payamt" style="width:95px;"/></div></div>
           </div>
           
           @if ((Session["TypeChk"].ToString() == "Credit") || (Session["TypeChk"].ToString() == "Debit") || (Session["TypeChk"].ToString() == "Check"))
           {
              <div style="float: left;width: 100%;"><div style="float: left;width: 45%;padding: 3px;"></div><div  style="float:left;width: 30%;text-align:left;padding-left: 7px;" id="balamt1"></div> </div>
            <div style="float: left;width: 100%;padding: 6px;"><div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Card No.</div> </div>
            <div style="float: left;width: 45%;"><div  style="float:left;width: 30%;text-align: right;"><input placeholder="Last 4 digits only"  maxlength="4" type="text" name="CardNo" id="CardNo" style="width:95px; " /></div></div>
           </div>  
           }

       </div>

        <div style="float:left;width:100%;">
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='CANCEL' id='btnpaycancel' value='CANCEL' class='myButton'/></div>
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='OK' id='btnpayok' value='OK' class='myButton'/></div>
   
            </div>
        </div>
        
    </body>
</html>