﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "Return Receipt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Lotdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {

            RetailRoundoffsetup();
            var OPUnit1 = '@Session["OPUnit1"]';
            RetailOperatingCheck(OPUnit1);
            $i(document).click(function (e) {
                if (!$('.initshow').is(e.target) || !$('.initshow').has(e.target)) {
                    if (!$('.rowshow').is(e.target) && !$('.aftershow').is(e.target) && !$('.edit-mode').is(e.target)) {
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                }
            });
            $(function () {
                var tbl = $("#grdData")[0];
                var length = tbl.rows.length;
                var row = 1;
                var batch = "<td></td>";
                if ('@Session["LotTrack"]' == "True" || '@Session["LotTrack"]' == "Y" || '@Session["LotTrack"]' == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/></td>"; }
                var htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                   "" + batch + "<td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                for (var i = 1; i < length; i++) {
                    var tr = tbl.rows[row];
                    $('#grdData tbody').find(tr).after(htmlstring);
                    var Amount = $(tr).find("#Amount").val();
                    var Discount = $(tr).find("#ddiscount").text();
                    if (Amount == "" || typeof (Amount) == "undefined") Amount = 0;
                    if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                    var disper = ((parseFloat(Discount) / parseFloat(Amount)) * 100).toFixed(2);
                    $(tr).find("#ddisper").text(disper);
                    row = row + 2;
                }
                //$("#totitems").text(length - 1);
                GetRetailTotalTransCalcs();
            })
           
            $i("#iImageHide").live("click", function () {
                $i('#iImageHide').attr('pattern', 'N');
                $i('#iNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 1000,
                    height: 567, resizable: false,
                    title: "Item",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                $i('#iNewMDialog').dialog('open');
                $i('#iNewMDialog').show();
                $i('#iNewMDialog').load("/ItemMaster/CreateOnfly");
                $i('#iNewMDialog').on('dialogclose', function (event) {
                    $i('#iNewMDialog').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            $i("#cImageHide").live("click", function () {
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 1000,
                    height: 558, resizable: false,
                    title: "Customer",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                $i('#cNewMDialog').dialog('open');
                $i('#cNewMDialog').show();
                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                $i('#cNewMDialog').on('dialogclose', function (event) {
                    $i('#cImageHide').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    var val = $("input[name=Item]").val();
                    if (val != "") {
                        //if (!(isNaN(val))) ItemChanges(val);
                    }
                }
            });
            $i('#Itemddl').combobox('textbox').keydown(function (e) {

                if (e.keyCode === 9 || e.keyCode === 13) {
                    debugger
                    var name = $(this).next()[0].name;
                    var val = $(this).val();
                    if (val != "" && name != "Customer") {

                        var comboname = $(this).next()[0].name;
                        //val = $("input[name=" + comboname + "]").val();
                        if (comboname == "Item" && val != "")
                            ItemChanges(val);
                    }
                    itemClear = 0;
                    $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                    $i('.textbox-text:first').focus();
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');
            $i('#Attendedbyddl').combobox('textbox').prop('placeholder', 'Enter Attended By');
            $i('#Attendedbyddl').combobox('textbox').prop('readonly', true);
            $i('.textbox-text').on("change", function () {
                var val = $(this).val();
                if (val != "") {
                    var comboname = $(this).next()[0].name;
                    val = $("input[name=" + comboname + "]").val();
                    if (comboname == "Item")
                        ItemChanges(val);
                }
            });
            function ItemChanges(item) {
                $i.ajax({
                    url: "/PointOfSales/GetItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $i('#grdData').append(result.Data);
                        var tbl = $("#grdData")[0];
                        var ttr = tbl.rows[tbl.rows.length - 1]
                        var Customer = $("input[name=Customer]").val();
                        //if (Customer != "")
                        //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                        //Linecalculations();
                        //gettaxamount(ttr);
                        GetRetailTransCalc(ttr, "Line");
                        var batch = "<td></td>";
                        if (result.lot == "True" || result.lot == "Y" || result.lot == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/></td>"; }
                        var htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                        "" + batch + "<td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                        $(ttr).find("#itemBatchId").text(result.LotId);
                        $(ttr).find("#lotExpDate").text(result.ExpDate);
                        $(ttr).find("#dQuantity").text(1);
                        $(ttr).find("#Quantity").val(1);
                        $i('#grdData').append(htmlstring);
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                });
            }
            $i('#Itemddl').on("change", function () {
                var item = $i(this).val();
                $i.ajax({
                    url: "/PointOfSales/GetItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $i('#grdData').append(result.Data);
                        var tbl = $("#grdData")[0];
                        var ttr = tbl.rows[tbl.rows.length - 1]
                        var Customer = $("input[name=Customer]").val();
                        //if (Customer != "")
                        //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                        //Linecalculations();
                        //gettaxamount(ttr);
                        GetRetailTransCalc(ttr, "Line");
                        var batch = "<td></td>";
                        if (result.lot == "True" || result.lot == "Y" || result.lot == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/></td>"; }
                        var htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td><td ></td>" +
                        "" + batch + "<td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                        $(ttr).find("#itemBatchId").text(result.LotId);
                        $(ttr).find("#lotExpDate").text(result.ExpDate);
                        $(ttr).find("#dQuantity").text(1);
                        $(ttr).find("#Quantity").val(1);
                        $i('#grdData').append(htmlstring);
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                });
            });
            $i('.edit-mode').hide();
            $i('.aftershow').hide();
            $i('.rowshow').live('click', function (e) {
                
                var tr = $(this).parents('tr:first');
                var rChk = tr.find('.initshow');
                var row_index = $(this).closest('tr').index();
             
                var a1 = rChk[row_index].style.display;
                if (a1 == "") {
                    $i('.edit-mode').hide();
                    $i('.aftershow').hide();
                    $i('.display-mode').show();
                    $i('.initshow').show();
                    var tr = $(this).parents('tr:first');
                    tr.find('.initshow').hide();
                    tr.find('.aftershow, .edit-mode, .display-mode').toggle();
                    tr.next('tr').show();
                    tr.next('tr').find('.edit-mode').show();
                }
            });
            $i('#Remove').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                $(ptr).remove();
                $(tr).remove();
                //Linecalculations();
                GetRetailTransCalc("", "Header");
            });
            $i('#iQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) + 1);
                var IName = tr.find('#ItemName').val();
                var val = $("input[name=SalesReceipt]").val();

                var Iqty;
                $i.ajax({
                    url: "/ReturnReceipt/ItemQChangesChk",
                    type: "POST",
                    data: JSON.stringify({ ItemID: IName, SName: val }),
                    dataType: "json", cache: true,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger
                        Iqty = result.Data;

                    }
                });
                if (parseFloat(qty) > parseFloat(Iqty)) {
                    debugger
                    Alert.render('Please Enter Quantity Less Than The available Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        debugger
                        $("#dialogbox").dialog("close"); tr.find('#Quantity').val(Iqty);
                        GetRetailTransCalc(tr, "Line");
                        //var price = tr.find('#Price').val();
                        //var amt = tr.find('#Amount').val();
                        //amtcalculation(tr, Iqty, price, amt);
                        return false;
                    })
                }
                else {
                    //amtcalculation(tr, qty, price, amt);
                    GetRetailTransCalc(tr, "Line");
                }
            })
            $i('#dQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) - 1);
                var IName = tr.find('#ItemName').val();
                var val = $("input[name=SalesReceipt]").val();

                var Iqty;
                $i.ajax({
                    url: "/ReturnReceipt/ItemQChangesChk",
                    type: "POST",
                    data: JSON.stringify({ ItemID: IName, SName: val }),
                    dataType: "json", cache: true,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger
                        Iqty = result.Data;

                    }
                });
                if (parseFloat(qty) == 0 || parseFloat(qty) <= 0) {
                    Alert.render('Please Enter greater than Zero value for Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close");
                        tr.find('#Quantity').focus();
                        tr.find('#Quantity').val("");
                        GetRetailTransCalc(tr, "Line");
                        //tr.find('#Quantity').val(Iqty);
                        return false;
                    })
                }
                else {
                    //amtcalculation(tr, qty, price, amt);
                    GetRetailTransCalc(tr, "Line");
                }

            })
            $i('#Quantity').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();

                var IName = tr.find('#ItemName').val();
                var val = $("input[name=SalesReceipt]").val();

                var Iqty;
                $i.ajax({
                    url: "/ReturnReceipt/ItemQChangesChk",
                    type: "POST",
                    data: JSON.stringify({ ItemID: IName, SName: val }),
                    dataType: "json", cache: true,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger
                         Iqty = result.Data;                                              

                    }
                });
                debugger
                if (parseFloat(qty) > parseFloat(Iqty)) {
                    Alert.render('Please Enter Quantity Less Than The available Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); tr.find('#Quantity').val(Iqty);
                        var price = tr.find('#Price').val();
                        var amt = tr.find('#Amount').val();
                        tr.find('#Quantity').focus();
                        //amtcalculation(tr, Iqty, price, amt);
                        GetRetailTransCalc(tr, "Line");
                        return false;
                    })
                }
                else {
                    var price = tr.find('#Price').val();
                    var amt = tr.find('#Amount').val();
                    if (parseFloat(qty) == 0 || parseFloat(qty) <= 0) {
                        Alert.render('Please Enter greater than Zero value for Quantity'); $("#alertok").focus();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close");
                            tr.find('#Quantity').focus();
                            tr.find('#Quantity').val(qty);
                            GetRetailTransCalc(tr, "Line");
                            return false;
                        })
                    }
                    else {
                        //amtcalculation(tr, qty, price, amt);
                        GetRetailTransCalc(tr, "Line");
                    }
                }

            })

            function ItemQChanges(item,Name) {
                $i.ajax({
                    url: "/ReturnReceipt/ItemQChangesChk",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item, SName: Name }),
                    dataType: "json", cache: true,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {debugger
                        var Iqty = result.Data;

                        var tr = $(this).parents('tr:first');
                        var qty = tr.find('#Quantity').val();
                        var price = tr.find('#Price').val();
                        var amt = tr.find('#Amount').val();

                        if (parseFloat(qty) > parseFloat(Iqty)) {
                            Alert.render('Please Enter Quantity Less Than The available Quantity'); $("#alertok").focus();
                            $("#alertok").on("click", function () {
                                $("#dialogbox").dialog("close"); tr.find('#Quantity').val(Iqty);
                                var price = tr.find('#Price').val();
                                var amt = tr.find('#Amount').val();
                                tr.find('#Quantity').focus();
                                //amtcalculation(tr, Iqty, price, amt);
                                GetRetailTransCalc(tr, "Line");
                                return false;
                            })
                        }
                        else {
                            var price = tr.find('#Price').val();
                            var amt = tr.find('#Amount').val();
                            if (parseFloat(qty) == 0 || parseFloat(qty) <= 0) {
                                Alert.render('Please Enter greater than Zero value for Quantity'); $("#alertok").focus();
                                $("#alertok").on("click", function () {
                                    $("#dialogbox").dialog("close");
                                    tr.find('#Quantity').focus();
                                    tr.find('#Quantity').val(qty);
                                    GetRetailTransCalc(tr, "Line");
                                    return false;
                                })
                            }
                            else {
                                //amtcalculation(tr, qty, price, amt);
                                GetRetailTransCalc(tr, "Line");
                            }
                        }

                    }
                });
            }
            $i("[id='roundoffadjamt']").on("change", function (e) {
                //Linecalculations();
                GetRetailTransCalc("", "Header");
            });
            $i('#Price').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                //var Customer = $("input[name=Customer]").val();
                //if (Customer != "")
                //    RetailGSTBasedTaxes(tr, tr.find("[id='saveItemId']").text(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(tr).find("[id='Price']").val());
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Amount').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                price = (parseFloat(amt) / parseFloat(qty)).toFixed(2);
                tr.find('#Price').val(price);
                GetRetailTransCalc(tr, "Line");
                //amtcalculation(tr, qty, price, amt);
            })
            $i("[id='headerleveldiscountamt']").on("change", function (e) {
                SalesReceiptHeaderDiscvalidate($(this).val(), "headerleveldiscountamt");
                if ($(this).val() == "") $i('#headerleveldiscountper').attr("readonly", false);
                else $i('#headerleveldiscountper').attr("readonly", true);
                $i('#headerleveldiscountper').val("");
                GetRetailTransCalc("", "Header");
            });
            $i("[id='headerleveldiscountper']").on("change", function (e) {
                SalesReceiptHeaderDiscvalidate($(this).val(), "headerleveldiscountper");
                if ($(this).val() > 100) $i('#headerleveldiscountper').val("");
                if ($(this).val() == "") $i('#headerleveldiscountamt').attr("readonly", false);
                else $i('#headerleveldiscountamt').attr("readonly", true);
                $i('#headerleveldiscountamt').val("");
                //SalesReceiptDiscPercentagecal();
                GetRetailTransCalc("", "Header");
            });
            $i('#Discount').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var discountper = ptr.find('#ddisper').text();
                var Amtin = $i('#Amtinddl').val()
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Discountdlg").dialog({
                    autoOpen: false,
                    title: "Price & Discount",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Discountdlg').dialog('open');
                $i('#Discountdlg').css("background-color", "#E0ECFF");
                $i('#Discountdlg').css("color", "black");
                $i("#Discountdlg").show();
                $i("#Discountdlg").load("/ReturnReceipt/DiscountTypes?FormName=ReturnReceipt&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&DiscountPer=" + discountper + "&Amtin=" + Amtin + "");
                $i('#Discountdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //Linecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#dBatch').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var ItemId = ptr.find('#saveItemId').text();
                var UnitId = ptr.find('#saveUnitId').text();
                if (UnitId == "" || typeof (UnitId) == "undefined") UnitId = "0";
                var itemBatchId = ptr.find('#itemBatchId').text();
                var ExpDate = ptr.find("#lotExpDate").text();
                var LocationId = ptr.find('#LocationId').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Lotdlg").dialog({
                    autoOpen: false,
                    title: "Lot/Batch",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Lotdlg').dialog('open');
                $i('#Lotdlg').css("background-color", "#E0ECFF");
                $i('#Lotdlg').css("color", "black");
                $i('.panel-tool').css("display", "none");
                $i("#Lotdlg").show();
                $i("#Lotdlg").load("/PointOfSales/ItemWiseLotInfo?FormName=PointOfSales&ItemId=" + ItemId + "&itemBatchId=" + itemBatchId + "&LocationId=" + LocationId + "&ExpDate=" + ExpDate + "&UnitId=" + UnitId + "");
                $i('#Lotdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                });
            });
            $i('#dynamicuom').live('change', function () {
                var tr = $(this).parents('tr:first');
                var uomid = tr.find('#dynamicuom').val();
                var uom = tr.find('#dynamicuom option:selected').text();
                tr.find('#saveUnitId').text(uomid);
                tr.find('#dUnits').text(uom);
                var ItemId = tr.find('#saveItemId').text();
                var Lotid = $i(tr).find('#itemBatchId').text();
                if (typeof Lotid == "undefined" || Lotid == "") Lotid = 0;
                if (typeof uomid == "undefined" || uomid == "") uomid = 0;
                var LocationId = tr.find('#LocationId').text();
                POSLotDetails("", tr, ItemId, uomid, LocationId);
                //$i.ajax({
                //    url: "/PointOfSales/GetLotWiseItemDetails",
                //    type: "POST",
                //    data: JSON.stringify({ ItemID: ItemId, LotId: Lotid, UomId: uomid, Type: 'NPOS' }),
                //    dataType: "json", cache: true,
                //    async: false,
                //    contentType: "application/json; charset=utf-8",
                //    success: function (result) {
                //        if (result.Avail == null || result.Avail == "" || result.Avail == "0")
                //            result.Avail = 0;
                //        if (result.Price == null || result.Price == "" || result.Price == "0")
                //            result.Price = 0;
                //        $i(tr).find('#avl').attr("value", result.Avail);
                //        $i(tr).find('#Price').attr("value", result.Price);
                //        $(tr).find("#dPrice").text(result.Price);
                //        $i(tr).find('#Rate').attr("value", result.Price);
                //        $i(tr).find('#dQuantity').text(0);
                //        $i(tr).find('#dTaxamt').text(0);
                //        $i(tr).find('#Quantity').val(0);
                //        $i(tr).find('#dAmount').text(0);
                //        $i(tr).find('#dTaxamt').text(0);
                //        $i(tr).find('#Amount').val(0);
                //        GetRetailTransCalc(tr, "Line");
                //    }
                //});
            });
            $i('#Tax').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var ItemId = ptr.find('#saveItemId').text();
                var Customer = $("input[name=Customer]").val();
                var Amtin = $i('#Amtinddl').val()
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Taxdlg").dialog({
                    autoOpen: false,
                    title: "Tax Calculation",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Taxdlg').dialog('open');
                $i('#Taxdlg').css("background-color", "#E0ECFF");
                $i('#Taxdlg').css("color", "black");
                $i("#Taxdlg").show();
                $i("#Taxdlg").load("/ReturnReceipt/TaxInformation?FormName=ReturnReceipt&ItemId=" + ItemId + "&Customer=" + Customer + "&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&Amtin=" + Amtin + "");
                $i('#Taxdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //Linecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#Cash').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Credit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Debit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Check').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            function paymentdetails(a) {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/ReturnReceipt/PaymentInformationEditSave?TypeChk=" + a + "");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                   // Linecalculations();
                });
            }
            function amtcalculation(tr, qty, price, amt) {
                amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                tr.find('#dQuantity').text(qty);
                tr.find('#Quantity').val(qty);
                tr.find('#dPrice').text(price);
                tr.find('#Price').val(price);
                tr.find('#dAmount').text(amt);
                tr.find('#Amount').val(amt); gettaxamount(tr);
            }
            $i('#Amtinddl').live('change', function (e) {
                GetRetailTotalTransCalcs();
            });
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;
                $('#grdData tr td input[id="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {debugger
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var totdue1 = $("#dueAmnt").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                if (totdue1 == "" || typeof (totdue1) == "undefined") totdue1 = 0;
                $("#totdue").text(((parseFloat(finalamt) - parseFloat(totdue)) + parseFloat(totdue1)).toFixed(2));
                //$("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    debugger
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
                $i('#Itemddl').combobox('textbox').val("");
                $i("input[name=Item]").val("");
                //$i('#Itemddl').combobox('textbox').clear();
                $i('#Itemddl').combobox('textbox').focus();
                //$i('#Customerddl').combobox('textbox')/$("input[name=Item]").focus();
            }
            function gettaxamount(tr) {
                var TaxType = $i(tr).find('#TaxType').val();
                if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;

                var disper1 = $i(tr).find('#disper1').val();
                if (disper1 == "" || typeof (disper1) == "undefined") disper1 = 0;

                if (TaxType!='') {
                    $.ajax({
                        url: "/ReturnReceipt/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Tax != '') {
                                var ttal = $i(tr).find('#dAmount').text();
                                tax = result.Tax; tax = (tax * (0.01));
                                var discount = $i(tr).find('#ddiscount').text();
                                if (discount == "" || typeof (discount) == "undefined") discount = 0;
                                ttal = ((parseFloat(ttal) - parseFloat(discount)).toFixed(2));
                                if (result.grptaxes.length > 0)
                                    tax = GroupTaxCalculations(tr, ttal, result.grptaxes);
                                else
                                    tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); }
                            $i(tr).find('#dTaxamt').text(tax);
                            if (disper1 > 0 && discount <= 0) {
                                disper1 = (parseFloat(ttal) * (parseFloat(disper1) / parseFloat(100))).toFixed(2);
                                $i(tr).find('#ddiscount').text(disper1);
                            }
                            Linecalculations();
                        }
                    })
                }
                else {
                    $i(tr).find('#dTaxamt').text(0);
                    Linecalculations();
                }
            }
            $i('#btnposSave').on('click', function (e) {
                var print = false;
                GridSave(print);
            });
            $i('#SavePrint').on('click', function (e) {
                var print = true;
                GridSave(print);
            });
            function GridSave(Print) {
                $("#divLoading").show();
                var flag = false;
                flag = RetailOperatingCheck('@Session["OPUnit1"]');
                var Item = $("input[name=Item]").val();
                //if (flag == false) {
                //    if (Item == "" || Item == null || typeof (Item) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Item"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); $("input[name=Item]").focus(); return false;
                //        })
                //    }
                //}
                var Customer = $("input[name=Customer]").val();
                if (flag == false) {
                    if (Customer == "" || Customer == null || typeof (Customer) == "undefined" || isNaN(parseInt(Customer))) {
                        flag = true;
                        Alert.render("Please Select Customer"); $("#alertok").focus(); $("#divLoading").hide();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $i("#Customerddl").combobox('setValue', ""); $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name').focus(); return false;
                        })
                    }
                }
                var Account = document.getElementById("inittax").defaultValue;
                if (flag == false) {
                    if (Account == "" || Account == null || typeof (Account) == "undefined") {
                        flag = true;
                        Alert.render("Please Select Account Through Payments"); $("#alertok").focus(); $("#divLoading").hide();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); return false;
                        })
                    }
                }
                if (flag == false) {
                    var tbl = $("#grdData")[0];
                    var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                    for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                        var trw = tbl.rows[irow];
                        var classname = trw.className;
                        if (classname != "webgrid-header" && classname != "aftershow") {
                            var rowid = $(trw).find("[id='rowid']").val();
                            if (typeof rowid == "undefined") rowid = 0;
                            var itemid = $(trw).find("[id='saveItemId']").text();
                            if (typeof itemid == "undefined") itval = 0;
                            var ItemName = $(trw).find("[id='dItemName']").text();
                            if (typeof ItemName == "undefined") ItemName = 0;
                            var Units = $(trw).find("[id='saveUnitId']").text();
                            if (typeof Units == "undefined") Units = 0;
                            var Qty = $(trw).find("[id='dQuantity']").text();
                            if (typeof Qty == "undefined") Qty = 0;
                            var Price = $(trw).find("[id='dPrice']").text();
                            if (typeof Price == "undefined") Price = 0;
                            var Rate = $(trw).find("[id='Rate']").val();
                            if (typeof Rate == "undefined") Rate = 0;
                            var InclusiveTotal = $(trw).find("[id='InclusiveTotal']").val();
                            if (typeof InclusiveTotal == "undefined") InclusiveTotal = 0;
                            var Amount = $(trw).find("[id='dAmount']").text();
                            if (typeof Amount == "undefined") Amount = 0;
                            var InAmount = $(trw).find("[id='InAmount']").val();
                            if (typeof InAmount == "undefined" || InAmount == "") InAmount = 0;
                            if (InAmount != 0) InclusiveTotal = InAmount;
                            var Discount = $(trw).find("[id='ddiscount']").text();
                            if (typeof Discount == "undefined") Discount = 0;
                            var TaxType = $(trw).find("[id='TaxType']").val();
                            if (typeof TaxType == "undefined") TaxType = 0;
                            var TaxAmt = $(trw).find("[id='dTaxamt']").text();
                            if (typeof TaxAmt == "undefined") TaxAmt = 0;
                            var BatchId = $(trw).find("[id='itemBatchId']").text();
                            if (typeof BatchId == "undefined" || BatchId == "") BatchId = 0;
                            Amount = (parseFloat(InclusiveTotal) + parseFloat(TaxAmt)).toFixed(2);

                            xmldata = xmldata + "<Column><ItemID>" + itemid + "</ItemID>";
                            xmldata = xmldata + "<ItemName>" + ItemName + "</ItemName>";
                            xmldata = xmldata + "<Units>" + Units + "</Units>";
                            xmldata = xmldata + "<Qty>" + Qty + "</Qty>";
                            xmldata = xmldata + "<Price>" + Price + "</Price>";
                            xmldata = xmldata + "<Rate>" + Rate + "</Rate>";
                            xmldata = xmldata + "<InclusiveTotal>" + InclusiveTotal + "</InclusiveTotal>";
                            xmldata = xmldata + "<Amount>" + Amount + "</Amount>";
                            xmldata = xmldata + "<Discount>" + Discount + "</Discount>";
                            xmldata = xmldata + "<TaxType>" + TaxType + "</TaxType>";
                            xmldata = xmldata + "<TaxAmt>" + TaxAmt + "</TaxAmt>";
                            xmldata = xmldata + "<BatchId>" + BatchId + "</BatchId>";
                            xmldata = xmldata + "<rowid>" + rowid + "</rowid></Column>";
                        }
                    }
                    xmldata = xmldata + "</ROOT>";
                    xmldata = xmldata.replace(/&/g, "&amp;");
                    xmldata = xmldata.replace(/"/g, "&quot;");
                    xmldata = xmldata.replace(/'/g, "&apos;");
                    if (xmldata != "<ROOT></ROOT>") {
                        var dataparam = { list: xmldata };
                        $.ajax({
                            url: "/ReturnReceipt/POSSaveGrid",
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "html",
                            cache: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (resultG) {
                                FormSave(Print);
                            }
                        });
                    }
                }
                else $("#divLoading").hide();
            }
            function FormSave(Print) {debugger
                var Qty = $('#totqty').text();
                var SubTotal = $('#subtot').text();
                var Discount = $('#totdis').text();
                var TaxAmt = $('#tottax').text();
                var TotAmt = $('#totamt').text();
                var PayAmt = $('#initdue').val();
                var PayAcc = document.getElementById("inittax").defaultValue;
                var Type = $('#Type').val();
                var Amtin = $('#Amtinddl').val();
                var Customer = $("input[name=Customer]").val();
                var SRecept = $("input[name=SalesReceipt]").val();
                var roundoffadjamt = $('#roundoffadjamt').val();
                if (roundoffadjamt == "" || typeof (roundoffadjamt) == "undefined") roundoffadjamt = 0;
                if (SubTotal == "" || typeof (SubTotal) == "undefined") SubTotal = 0;
                if (TaxAmt == "" || typeof (TaxAmt) == "undefined") TaxAmt = 0;
                if (TotAmt == "" || typeof (TotAmt) == "undefined") TotAmt = 0;
                var IPayAmnt = $('#IPayAmnt').val();
                var Amttopay = $('#Amttopay').text();
                if (Amttopay == "" || Amttopay == null || typeof (Amttopay) == "undefined") Amttopay = 0;
                if (PayAmt == "" || PayAmt == null || typeof (PayAmt) == "undefined") PayAmt = 0;
                if (IPayAmnt == "" || IPayAmnt == null || typeof (IPayAmnt) == "undefined") IPayAmnt = 0;
                if (Amttopay > 0) PayAmt = Amttopay;
                else PayAmt = (parseFloat(PayAmt) + parseFloat(IPayAmnt)).toFixed(2);
                var Attendedby = $("input[name=Attendedby]").val();
                if (Attendedby > 0) Attendedby = Attendedby;
                else Attendedby = null;
                var HeaderDiscount = $('#headerleveldiscountamt').val();
                if (HeaderDiscount == "" || typeof (HeaderDiscount) == "undefined") HeaderDiscount = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                Discount = (parseFloat(Discount) - parseFloat(HeaderDiscount)).toFixed(2);
                var dataparam = {
                    Qty: Qty, SubTotal: SubTotal, Discount: Discount, TaxAmt: TaxAmt, Type: Type, HeaderDiscount: HeaderDiscount,
                    TotAmt: TotAmt, PayAmt: PayAmt, PayAcc: PayAcc, SRecept: SRecept, Customer: Customer, ide: '@Request["ide"]', Amtin: Amtin, roundoffadjamt: roundoffadjamt, Attendedby: Attendedby
                };
                $.ajax({
                    url: "/ReturnReceipt/EditSaveform",
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "json",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (resultG) {
                        $("#divLoading").hide();
                        if (resultG.Data > 0) {
                            if (Print == true)
                                window.location.href = "/Print/RRRetailPrint?sono=" + resultG.InvoiceNo + "";
                            else
                                window.location.href = "/ReturnReceipt/ReturnReceiptInfo?idi=" + resultG.idi + "&FormName=" + resultG.FormName + "";
                        }
                    }
                });
            }
        });
        </script>
    </head>
<body>
    @{var m = Model.Where(a => a.rCustomerno != null).FirstOrDefault();}
    <div id="poscreate" style="width:100%;float:left;">
  <input id="roundofftype" style="display:none;" type="text" itemid="@Session["RoundOff"]" value="@Session["RoundType"]"/>    
         <div id="mastercreate" class="mastercreate">
        <div id="SalesReceipt" class="itemddl1">
        <div class="itemlabel">Sales Receipt</div>&nbsp;&nbsp;<div class="itemddlposition"  style="width:170px">@Html.DropDownList("SalesReceipt", null, "", new { @id = "SalesReceiptddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:170px;height:30px;" })

                                                         </div></div>
        <div id="Item" class="itemddl1">
         <div class="itemlabel">Item</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:170px;height:30px;" })</div>
        </div>
        <div id="Customer" class="posserCustfieldposition">
        <div class="itemlabel">Customer</div>&nbsp;&nbsp;
            <div class="itemddlposition">
                @Html.DropDownList("Customer", null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:200px;height:30px;" })

                                                         </div>

        </div>
            <div id="TaxTypediv"  class="itemddl1" style="padding-top:12px;">
         <div class="itemlabel">Amount are in</div>&nbsp;&nbsp;<div class="custddlposition" >@Html.DropDownList("Amtin",null, "--Select--", new { @id ="Amtinddl", @class = "ddl", @itemid = "Y" ,  @style = "width:200px;height:30px;" })</div>
       </div>
        <input type="button" class="myButtonline" id="btnDelete"  value="Delete"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptDelete", "ReturnReceipt", new { idi = Request["idi"], FormName = Request["FormName"], ide = Request["ide"] }) + "'")    ; " />
    </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="iteminfo" class="griddisplay"   style="height:100px; overflow:scroll" >
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
            var books = db.Query(@"SELECT ROW_NUMBER() OVER (ORDER BY l.COLUMN02) [SNo], m.COLUMN04 [Item/Product], m.COLUMN04 ItemName, u.COLUMN04 Units, l.COLUMN07 Qty, l.COLUMN09 Price, l.COLUMN32 Rate, cast(isnull(l.COLUMN07,0)*isnull(l.COLUMN09,0) as decimal(18,2)) Amount, l.COLUMN11 InclusiveTotal,l.COLUMN26 lTaxType,l.COLUMN32 lTaxAmt,l.COLUMN10 lDiscount,l.COLUMN27 lUnits,iif(cast(isnull(l.COLUMN25,0) as decimal(18,2))>0,cast((cast(isnull(l.COLUMN10,0) as decimal(18,2))/cast(isnull(l.COLUMN25,0) as decimal(18,2)))*(100) as decimal),0) lDiscountper,l.COLUMN02 rowid,l.COLUMN03 saveItemId,l.COLUMN17 lot FROM 
SATABLE005 h inner join SATABLE006 l on l.COLUMN19=h.COLUMN01 and isnull(l.COLUMNA13,0)=0 left JOIN MATABLE007 m  ON m.COLUMN02 = l.COLUMN03 left JOIN MATABLE002 u  ON l.COLUMN28 = u.COLUMN02  where h.column02=" + @Request["ide"] + "");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
         @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns: (
    grid.Columns(grid.Column("SNo", style: "col1", format: @<div class="rowshow"><div class="initshow"><span name="dItemId" id="dItemId">@item.SNo</span></div><input type="text" name="ItemId" id="ItemId" value="@item.SNo" class="txtgridclass edit-mode"/><span id="saveItemId" style="display:none">@item.saveItemId</span></div>),
         grid.Column("Item/Product", style: "col2", format: @<div class="rowshow"><div class="initshow"><span name="dItemName" id="dItemName">@item.ItemName</span></div><input type="text" name="ItemName" id="ItemName" value="@item.ItemName" class="txtgridclass edit-mode"/></div>),
          grid.Column("Units", style: "col3", format: @<div class="rowshow"><div class="initshow"><span name="dUnits" id="dUnits">@item.Units</span></div>
             <select  name="Units" id="dynamicuom" class="gridddl edit-mode">
            <option value="10000">--Select--</option>
              @foreach (var Unit in (SelectList)ViewData["UOM"])
              {
                  if (@item.lUnits == Convert.ToInt32(@Unit.Value))
                  {
                       <option value = "@Unit.Value"  selected="selected"  > @Unit.Text   </option>
                  }
                  else
                  {
                           <option value = "@Unit.Value"  > @Unit.Text   </option>
                  }
              } 
             

             </select></div>),
         grid.Column("Qty",style: "col4",format:@<div class="rowshow"><div class="initshow"><span name="dQuantity" id="dQuantity">@item.Qty</span></div><input type="text" name="Quantity" id="Quantity" value="@item.Qty" class="txtgridclass edit-mode"/></div>),
         grid.Column("Price",style: "col5",format:@<div class="rowshow"><div class="initshow"><span name="dPrice" id="dPrice">@item.Price</span></div><input type="text" name="Price" id="Price" value="@item.Price" class="txtgridclass edit-mode"/><input type="text" name="Rate" id="Rate" value="@item.Rate" style="display:none;"/><input type="text" name="InclusiveTotal" id="InclusiveTotal" value="@item.InclusiveTotal" class="txtgridclass"  style="display:none"/></div>),
         grid.Column("Amount",style: "col6",format:@<div class="rowshow"><div class="initshow"><span name="dAmount" id="dAmount">@item.Amount</span></div><input type="text" name="Amount" id="Amount" value="@item.Amount" class="txtgridclass edit-mode"/><div style="display:none"><span name="dTaxamt" id="dTaxamt">@item.lTaxAmt</span></div><input type="text" name="TaxType" id="TaxType" value="@item.lTaxType" class="txtgridclass"  style="display:none"/><div style="display:none"><span name="ddiscount" id="ddiscount">@item.lDiscount</span></div><input type="text" name="Discount" id="Discount" value="@item.lDiscountper" class="txtgridclass" style="display:none"/><div style="display:none"><div style="display:none"><span name="ddisper" id="ddisper">@item.lDiscountper</span></div><input type="text" name="disper1" id="disper1" value="@item.lDiscountper" class="txtgridclass" style="display:none"/><span name="saveUnitId" id="saveUnitId">@item.lUnits</span><span name="itemBatchId" id="itemBatchId">@item.lot</span></div><input type="text" name="chkrow" id="chkrow" value="false" class="txtgridclass" style="display:none" /><input type="text" name="rowid" id="rowid" value="@item.rowid" style="display:none" /></div>))
)
)
    </div>
         <div id="paymentinfo" style="border-bottom:1px solid;">
         <div style="width:45%; float:left">
             

                <div>
                     @foreach (var item12 in ViewBag.pitemsdata)
                     {
                         <div class="totallbls" style="text-align:left">The Amount Return through @item12["PayType"] : @item12["Payment"] </div>
                     }


                </div>
        <div id="Attendedby" style="padding:5px; float:left">
        <div class="itemlabel">Attended By</div>&nbsp;&nbsp;<div class="custddlposition" id="">@Html.DropDownList("Attendedby",null, "", new { @id = "Attendedbyddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
        </div>
        <div id="RoundOff" style="float:left;padding-top:3px;">
        <div class="itemlabel">Round Off</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="roundoffadjamt" placeholder="Enter Round Off Value" value="@m.RoundOff"/></div>
       </div>
        <div id="HeaderDiscount" style="float:left;padding-top:3px;">
        <div class="itemlabel">Discount</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="headerleveldiscountamt" placeholder="Enter Discount in Amount" value="@m.DiscountAmount"/><input type="text" style = "width:150px;height:20px;margin-left:5px;" id="headerleveldiscountper" placeholder="Enter Discount in Percentage" /></div>
       </div>
            </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="float:left;width:50%;"></div><div class="totalinfo">
          <div>  <div class="totallbls">No. of Items Return</div><div id="totitems" class="totaltxts"> @m.rNoofitems</div> </div>
          <div>  <div class="totallbls">Total Quantity Return</div><div id="totqty" class="totaltxts">@m.rTotalItems</div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts">@m.rSubTotal</div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts">@m.rDiscount</div> </div>
          <div>  <div class="totallbls">Tax</div><div id="tottax" class="totaltxts">@m.rTax</div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt">@m.rTotal</div>
          <input type="text" style="display:none;" name="roundoffadjamt"  id="roundoffadjamt" value="@m.RoundOff" /> </div>
        </div></div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        <input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>
        </div> 
             <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt">@m.rDueamt</div>
                </div>

        </div>
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel" class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptInfo", "ReturnReceipt", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
        <input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline"/>
        <input type="button" name="Save&Print" id="SavePrint" value="Save&Print" class="myButtonline"/></div>
            <input type="text"  style="display:none;" id="initdue" value="0"/>
            <input type="text"  style="display:none;" id="PayAmnt" value="@m.rPayment"/>
            <input type="text"  style="display:none;" id="IPayAmnt" value="@m.rPamt"/>
            <input type="text"  style="display:none;" id="dueAmnt" value="@m.rDueamt"/>
            <input type="text"  style="display:none;" id="inittax" value="@m.rAccount"/>
            <input type="text"  style="display:none;" id="inittax1" value="@m.rAccount"/>
            <input type="text"  style="display:none;" id="CardNo1" value="@m.rcardNo"/>  
               <input type="text"  style="display:none;" id="Type" value=""/>
            </div>
    </div>
    
</body>
</html>