﻿@{
    ViewBag.Title = "Accounts Ledger";
}

<html>
<head>
    <script>
        $(document).ready(function () { 
        $(function () {   
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            var Type = $("#Type").val();
            document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=AccountsLedger&FDate=" + FDate + "&TDate=" + TDate + "&Type=" + Type + "";
        });         
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Type = $("#Type").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=AccountsLedger&FDate=" + FDate + "&TDate=" + TDate +  "&Type=" + Type + "";
            });

           
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader"><div class="reportdiv">
    <div class="reportlbl"> Type </div>@Html.DropDownList("Type",new SelectList((SelectList)ViewData["Type"], "Value", "Text"), "--Select--", new {  @id = "Type",@class="reportddl"  })</div>
<div class="reportdiv"><div class="reportlbl">From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
  <div class="reportdiv"><div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
   <div class="reportbutton"> <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
 <iframe id="myReport"    class="reportviewr" ></iframe>
    </body>
</html>
