﻿@{
    ViewBag.Title = "ActiveCustomers";
}

<html>
<head>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    @*<script>

        $(document).ready(function () {
            $(function () {
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=InventoryAsset";
            });
        });
    </script>*@
      <script>

          $(document).ready(function () {

              FormLoadActions();
              $(function () {
                  debugger

                  document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ActiveCustomers";
              });
              $("#btnDisplay").live("click", function () {

                  document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ActiveCustomers";
              });
          });
    </script>
</head>
    <body>
        <div class="rowCont bottomRowContentFB" id="reportheader" >
    
    @*  <div class="reportdiv"> <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
       *@  <div class="reportbutton">   <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
            <iframe id="myReport"  class="reportviewr"></iframe>
         
    </body>
</html>