﻿@{
    ViewBag.Title = "AR Aging Summary";
}

<script>

        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                //var Vendor = $("#Vendor").val();
                //var Type = $("#Type").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ARAgeing&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "";
              });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                //var Vendor = $("#Vendor").val();
                //var Type = $("#Type").val();
                var OperatingUnit = $("#OperatingUnit").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ARAgeing&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "";
             });
           

        });
    </script>
<body>
       <div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv"></div>
    @*<div class="reportlbl">  Vendor/Jobber</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new { @id = "Vendor",@class="reportddl"})</div>
        <div class="reportdiv"> <div class="reportlbl">Type </div>@Html.DropDownList("Type", new SelectList(new[] { "BILL", "BILL PAYMENT" }), "--Select--", new { @id = "Type",@class="reportddl" })</div>*@
          <div class="reportdiv"> <div class="reportlbl">  Operating Unit</div>  @Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div>
            <div class="reportdiv" style="display:none"> <div class="reportlbl"> From Date</div>  <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
            <div class="reportdiv" style="display:none"> <div class="reportlbl">To Date</div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
            <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
            <iframe  id="myReport" class="reportviewr"></iframe>
    </body>
