﻿@{
    ViewBag.Title = "AR Aging Summary";
}
  <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>

<script>

    $(document).ready(function () {
        $(function () {

            var mylist_op = new MSDList("mylist_OP");
            mylist_op.render();
            var mylist_sr = new MSDList("mylist_SR");
            mylist_sr.render();

            FormLoadActions();
        });
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                //var sales = $("#SalesRep").val();
                //var Vendor = $("#Vendor").val();
                //var Type = $("#Type").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var sales = $(".MSDList").find('input[name=mylist_SR]').val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                     $(".MSDList").find('input[name=mylist_OP]').val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=ARAgeingNew&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&sales=" + sales + "";
              });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                //var sales = $("#SalesRep").val();
                //var Vendor = $("#Vendor").val();
                //var Type = $("#Type").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var sales = $(".MSDList").find('input[name=mylist_SR]').val();
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=ARAgeingNew&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&sales=" + sales + "";
             });
           

        });
    </script>
<body>
       <div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv"></div>
    @*<div class="reportlbl">  Vendor/Jobber</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new { @id = "Vendor",@class="reportddl"})</div>
        <div class="reportdiv"> <div class="reportlbl">Type </div>@Html.DropDownList("Type", new SelectList(new[] { "BILL", "BILL PAYMENT" }), "--Select--", new { @id = "Type",@class="reportddl" })</div>*@
         
           <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
           
       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
           <div class="reportdiv">
            <div class="reportlbl">Sales Rep</div>
 </div>
           
       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_SR" >
                   @foreach (var SalesRep in (SelectList)ViewData["SalesRep"])
                   {
                       <option value = "@SalesRep.Value"  > @SalesRep.Text   </option>
                      
                   }
            </select>
              </div>
             @*<div class="reportdiv"> <div class="reportlbl"> From Date</div>  <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
            <div class="reportdiv"> <div class="reportlbl">To Date</div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>*@
            <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
            <iframe  id="myReport" class="reportviewr"></iframe>
    </body>
