﻿@{
    ViewBag.Title = "BarcodeWiseStock";
}

<html>
<head>
     <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>

        $(document).ready(function () {

            $(function () {
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
                FormLoadActions();
            });

            $(function () {
                var UPC = $("#UPC").val();
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined)
                    Item = "";
                //var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=BarcodeWiseStock&Item=" + Item + "&UPC=" + UPC + "";
            });
            $("#btnDisplay").live("click", function () {
                var UPC = $("#UPC").val();
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined)
                    Item = "";
                //var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=BarcodeWiseStock&Item=" + Item + "&UPC=" + UPC + "";
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" >
   <div class="reportdiv"> 
            <div class="reportlbl">  Item</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Item in (SelectList)ViewData["Item"])
                   {
                       <option value = "@Item.Value"  > @Item.Text   </option>
                      
                   }
            </select>
              </div>
            

<div class="reportdiv"> <div class="reportlbl">UPC </div><input  id="UPC" class="reporttxt" name="UPC"    type="text"   value=""/></div> 
   <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay"/></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>
