﻿ @{
    ViewBag.Title = "Cash Register";
}
<html>
<head>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>

        $(document).ready(function () {
            $(function () {                
                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();
                var mylist_bn = new MSDList("mylist_BN");
                mylist_bn.render();
                if ('@ViewBag.projectval' == "True") {
                      var mylist_p = new MSDList("mylist_P");
                      mylist_p.render();
                  }
                  FormLoadActions();
              });
            $(function () { 
                    var FDate = $("#frmDT").val();
                    var TDate = $("#toDT").val();
                    var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                    var Project = $(".MSDList").find('input[name=mylist_P]').val();
                    var Bank = $(".MSDList").find('input[name=mylist_BN]').val();

                    if (Project == undefined) Project = "";
                    var opunitst = '@Session["OPUnitstatus"]';
                    if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                      $("#OperatingUnit").val(OperatingUnit);
                  }
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=CashRegister&Bank=" + Bank + "&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";
                });
            $("#btnDisplay").live("click", function () {
                    var FDate = $("#frmDT").val();
                    var TDate = $("#toDT").val();
                    var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                    var Project = $(".MSDList").find('input[name=mylist_P]').val();
                    var Bank = $(".MSDList").find('input[name=mylist_BN]').val();
                    if (Project == undefined) Project = "";
                    document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=CashRegister&Bank=" + Bank + "&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";
                });
        });
    </script>
</head>
    <body>
       <div class="rowCont bottomRowContentFB"  id="reportheader">
            <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>           
       <div class="reportdiv">          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>                      
                   }
            </select>
              </div>
           <div class="reportdiv">
            <div class="reportlbl"> Cash Name </div>
             </div>  
       <div class="reportdiv">          
        <select  multiple="multiple" id="mylist_BN" >
                   @foreach (var Bank in (SelectList)ViewData["Bank"])
                   {
                       <option value = "@Bank.Value"  > @Bank.Text   </option>                      
                   }
            </select>
              </div>
 @if(ViewBag.projectval==true)
            {          
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">              
        <select  multiple="multiple" id="mylist_P" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>                      
                   }
            </select>
          </div>    
            }
      <div class="reportdiv"><div class="reportlbl"> From Date  </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
    <div class="reportdiv"><div class="reportlbl">To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
     <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
            <iframe id="myReport"  class="reportviewr"></iframe>           
    </body>
</html>