﻿@{
    ViewBag.Title = "Commission Payment Details";
}

<html>
<head>
    @*EMPHCS1156	Search option in every tab BY RAJ.Jr 21/9/2015*@
     <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i("#Customer").searchable();
            $i(function () {
                var oper = $i("#OperatingUnit").val();
                var cust = $i("#Customer").val();
                var sales = $i("#SalesRep").val();
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=CommissionPaymentDetails&Customer=" + cust + "&sales=" + sales + " &FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + oper + "";
             });
            $i("#btnDisplay").live("click", function () {
                var oper = $i("#OperatingUnit").val();
                var cust = $i("#Customer").val();
                var sales = $i("#SalesRep").val();
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=CommissionPaymentDetails&Customer=" + cust + "&sales=" + sales + " &FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + oper + "";
            });
        });
    </script>
</head>
    <body>
 <div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
    <div class="reportlbl"> Operating Unit </div>@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit",@class="reportddl"})</div>
       @*EMPHCS1156	Search option in every tab BY RAJ.Jr 21/9/2015*@
     <div class="reportdiv"><div class="reportlbl">  Customer  </div><div class="txt">@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["cust"], "Value", "Text"), "--Select--", new { @id = "Customer",@class="reportddl"})</div></div>
                <div class="reportdiv"><div class="reportlbl"> Sales Rep  </div>@Html.DropDownList("SalesRep", new SelectList((SelectList)ViewData["SalesRep"], "Value", "Text"), "--Select--", new {  @id = "SalesRep",@class="reportddl"})</div>
                <div class="reportdiv"> <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
                 <div class="reportdiv"><div class="reportlbl"> To Date</div>  <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"    value="@ViewBag.toDT"/></div>
             <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /> </div> </div>
        <iframe id="myReport"   class="reportviewr"></iframe>

        
    </body>
</html>
