﻿@{//EMPHCS1339	Reame Stock Ledger as Current Inventory BY RAj.Jr
    ViewBag.Title = "Current Inventory";
}

<html>
<head>
     <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>

        $(document).ready(function () {

            $(function () {

                var mylist = new MSDList("mylist");
                mylist.render();
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
               
                var mylist3 = new MSDList("mylist3");
                mylist3.render();
                var mylist4 = new MSDList("mylist4");
                mylist4.render();
		//EMPHCS1621 rajasekhar reddy patakota 22/03/2016 Stock Ledger Report Changes
                FormLoadActions();
            });

            $(function () {
                var Item = $("#Item").val();
                var UPC = $("#UPC").val();
               
                    var reorder = $("#reorder").val();
                   
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                //$("#Location").val('@Session["Location"]');
                var Location = $("#Location").val();
                if (Location == undefined) Location = "";
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) {
                    Item = "";
                }
                
                var Project = $(".MSDList").find('input[name=mylist]').val();
                if (Project == undefined) {
                    Project = "";
                }
                var Brand = $(".MSDList").find('input[name=mylist4]').val();
                if (Brand == undefined) {
                    Brand = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
                @*var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $(".MSDList").find('input[name=mylist3]').val(OperatingUnit);
                }*@

                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=CurrentInventory&Item=" + Item + "&UPC=" + UPC + "&OperatingUnit=" + OperatingUnit + "&Brand=" + Brand + "&Location=" + Location + "&reorder=" + reorder + "&Project=" + Project + "";
             });
            $("#btnDisplay").live("click", function () {
                var Item = $("#Item").val();
                var UPC = $("#UPC").val();
                
                    var reorder = $("#reorder").val();
                   
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                var Location = $("#Location").val();
                if (Location == undefined) Location = "";
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) {
                    Item = "";
                }
                var Brand = $(".MSDList").find('input[name=mylist4]').val();
                if (Brand == undefined) {
                    Brand = "";
                }
                var Project = $(".MSDList").find('input[name=mylist]').val();
                if (Project == undefined) {
                    Project = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
                @*var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $(".MSDList").find('input[name=mylist3]').val(OperatingUnit);
                }*@
               var reorder = ($("#reorder").is(':checked'));
                      
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                //EMPHCS1339	Reame Stock Ledger as Current Inventory BY RAj.Jr
               document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=CurrentInventory&Item=" + Item + "&UPC=" + UPC + "&OperatingUnit=" + OperatingUnit + "&Brand=" + Brand + "&Location=" + Location + "&reorder=" + reorder + "&Project=" + Project + "";
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" >
   @*<div class="reportdiv"> <div class="reportlbl"> Family</div>@Html.DropDownList("Family", new SelectList((SelectList)ViewData["Family"], "Value", "Text"), "--Select--", new {  @id = "Family",@class="reportddl" })</div>*@
   @*<div class="reportdiv"> <div class="reportlbl"> Group </div>@Html.DropDownList("Group", new SelectList((SelectList)ViewData["Group"], "Value", "Text"), "--Select--", new {  @id = "Group",@class="reportddl" })</div>*@
   <div class="reportdiv"> 
            <div class="reportlbl">  Item</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Item in (SelectList)ViewData["Item"])
                   {
                       <option value = "@Item.Value"  > @Item.Text   </option>
                      
                   }
            </select>
              </div>
            

<div class="reportdiv"> <div class="reportlbl">UPC </div><input  id="UPC" class="reporttxt" name="UPC"    type="text"   value=""/></div>
  <div class="reportdiv"> 
            <div class="reportlbl">  Operating Unit</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist3" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
     <div class="reportdiv"> 
            <div class="reportlbl">  Brand</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist4" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>
    
  
    <div class="reportdiv"> 
        <div class="reportlbl">Lesser than Reorder Qty </div>
        <input type="checkbox" id="reorder" class="ChkClass" name="reorder" value="false"/>
    </div>
   
   
      @if(ViewBag.projectval==true){
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>
                      
                   }
            </select>
              </div>
            } 
                @*EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens*@
    @if (ViewBag.locationval == true)
    {
 <div class="reportdiv"> <div class="reportlbl"> Location </div>@Html.DropDownList("Location", new SelectList((SelectList)ViewData["Location"], "Value", "Text"), "--Select--", new {  @id = "Location",@class="reportddl" })</div>}
   <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay"/></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>

