﻿@{
    ViewBag.Title = "Customer Register";
}

<html>
<head>
    <script>

        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=CustomerRegister";
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB"  id="reportheader"></div>


 <iframe id="myReport" class="reportviewr" ></iframe>


    </body>
</html>

