﻿ @{
    ViewBag.Title = "Day Report";
}
<html>

<head>
    <script>

        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=DayReport&FDate=" + FDate + "&TDate=" + TDate + "";
            });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=DayReport&FDate=" + FDate + "&TDate=" + TDate + "";
            });
        });
    </script>
</head>
    <body>
       <div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
    <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/> </div>
<div class="reportdiv"> <div class="reportlbl"> To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/> </div>
           <div class="reportbutton"> <input type="button" value="Display" class="buttonclass" id="btnDisplay" /> </div> </div>
            <iframe id="myReport"  class="reportviewr"></iframe>
    </body>
</html>
