﻿@{
    ViewBag.Title = "Expense Tracking";
}

<html>
<head>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>

        $(document).ready(function () {
            $(function () {
                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();
                var mylist_e = new MSDList("mylist_e");
                mylist_e.render();
                var mylist_a = new MSDList("mylist_a");
                mylist_a.render();
                FormLoadActions();
            });
            $(function () {debugger
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Employee = $(".MSDList").find('input[name=mylist_e]').val();
                var Account = $(".MSDList").find('input[name=mylist_a]').val();
                //var Employee = $("#Employee").val();
                //var Account = $("#Account").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $(".MSDList").find('input[name=mylist_OP]').val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ExpenseTracking&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Employee=" + Employee + "&Account=" + Account + "";
            });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                //var Account = $("#Account").val();
                var Account = $(".MSDList").find('input[name=mylist_a]').val();
                var Employee = $(".MSDList").find('input[name=mylist_e]').val();
                //var Employee = $("#Employee").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $(".MSDList").find('input[name=mylist_OP]').val(OperatingUnit);
                    //$i("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ExpenseTracking&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Employee=" + Employee + "&Account=" + Account + "";
            });


        });
</script>
</head>
   <body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        <div class="reportdiv"></div>
        @*<div class="reportlbl">  Vendor/Jobber</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new { @id = "Vendor",@class="reportddl"})</div>
        <div class="reportdiv"> <div class="reportlbl">Type </div>@Html.DropDownList("Type", new SelectList(new[] { "BILL", "BILL PAYMENT" }), "--Select--", new { @id = "Type",@class="reportddl" })</div>*@
        <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
            @*@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })*@

       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
        <div class="reportdiv">
            <div class="reportlbl">Employee</div>
         </div> 
        <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_e" >
                   @foreach (var Employee in (SelectList)ViewData["Employee"])
                   {
                       <option value = "@Employee.Value"  > @Employee.Text   </option>
                      
                   }
            </select>
              </div>
        <div class="reportdiv">
            <div class="reportlbl">Account</div>
         </div> 
        <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_a" >
                   @foreach (var Account in (SelectList)ViewData["Account"])
                   {
                       <option value = "@Account.Value"  > @Account.Text   </option>
                      
                   }
            </select>
              </div>
        @*<div class="reportdiv">
            <div class="reportlbl">Account </div>
            <div class="txt">@Html.DropDownList("Account", new SelectList((SelectList)ViewData["Account"], "Value", "Text"), "--Select--", new { @id = "Account", @class = "reportddl" })</div>
        </div>*@
        @*<div class="reportdiv">
            <div class="reportlbl">Employee </div>
            <div class="txt">@Html.DropDownList("Employee", new SelectList((SelectList)ViewData["Employee"], "Value", "Text"), "--Select--", new { @id = "Employee", @class = "reportddl" })</div>
        </div>*@
        <div class="reportdiv">
            <div class="reportlbl">From Date</div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date</div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>
</body>
</html>

