﻿@{
    ViewBag.Title = "Inventory Expiry";
}

<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>

        var $i = jQuery.noConflict();
        $(document).ready(function () {

            $(function () {
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
                var mylist2 = new MSDList("mylist2");
                mylist2.render();
                var mylist4 = new MSDList("mylist4");
                mylist4.render();
                FormLoadActions();
            });

            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) Item = "";
                var Batch = $(".MSDList").find('input[name=mylist2]').val();
                if (Batch == undefined) Batch = "";
                var OperatingUnit = $(".MSDList").find('input[name=mylist4]').val();
                if (OperatingUnit == undefined) OperatingUnit = "";
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=InventoryExpiry&Item=" + Item + "&Batch=" + Batch + "&OperatingUnit=" + OperatingUnit + "&FromDate=" + FDate + "&ToDate=" + TDate + "";
             });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) Item = "";
                var Batch = $(".MSDList").find('input[name=mylist2]').val();
                if (Batch == undefined) Batch = "";
                var OperatingUnit = $(".MSDList").find('input[name=mylist4]').val();
                if (OperatingUnit == undefined) OperatingUnit = "";
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=InventoryExpiry&Item=" + Item + "&Batch=" + Batch + "&OperatingUnit=" + OperatingUnit + "&FromDate=" + FDate + "&ToDate=" + TDate + "";
            });
            $("#TransDate").change("change", function () {
                TransactionDate($(this).val(), '@Session["ReportDate"]');
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" >
   <div class="reportdiv"> 
            <div class="reportlbl">  Item</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Item in (SelectList)ViewData["Item"])
                   {
                       <option value = "@Item.Value"  > @Item.Text   </option>
                      
                   }
            </select>
              </div>
   <div class="reportdiv"> 
            <div class="reportlbl">  Batch</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist2" >
                   @foreach (var Batch in (SelectList)ViewData["Batch"])
                   {
                       <option value = "@Batch.Value"  > @Batch.Text   </option>
                      
                   }
            </select>
              </div>
     <div class="reportdiv">
            <div class="reportlbl">Transaction Date </div>
            <div class="txt">@Html.DropDownList("TransDate", new SelectList((SelectList)ViewData["TransDate"], "Value", "Text"), "--Select--", new { @id = "TransDate", @class = "reportddl" })</div>
        </div>
    <div class="reportdiv"> 
            <div class="reportlbl">  Operating Unit</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist4" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
   <div class="reportdiv"> <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
         <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay"/></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>

