﻿@{
    ViewBag.Title = "InventoryByItem";
}

<html>
<head>
    <script>

        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var UPC = $("#UPC").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=InventoryByItem&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&UPC=" + UPC + "";
                  });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var UPC = $("#UPC").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=InventoryByItem&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&UPC=" + UPC + "";
                 });

        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
    <div class="reportlbl">  Operating Unit</div> @Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div>     
     <div class="reportdiv"> <div class="reportlbl">   From Date</div> <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"  value="@ViewBag.frmDT"/></div>
        <div class="reportdiv"> <div class="reportlbl">To Date</div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
        <div class="reportbutton"> <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
    <iframe id="myReport"  class="reportviewr"></iframe>

    </body>
</html>