﻿
@{
    ViewBag.Title = "Jobbing Ledger";
}
<html>
<head>

   
     <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
   

    <script>
        $(function () {
            var mylist_p = new MSDList("mylist_p");
            mylist_p.render();
            var mylist1 = new MSDList("mylist1");
            mylist1.render();
            var mylist2 = new MSDList("mylist2");
            mylist2.render();
            var mylist3 = new MSDList("mylist3");
            mylist3.render();
            var mylist4 = new MSDList("mylist4");
            mylist4.render();
            FormLoadActions();
        });
        
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                $("#Location").val('@Session["Location"]');
                var Location = $("#Location").val();
                if (Location == undefined) Location = "";
                
              var UPC = $("#UPC").val();
               
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) {
                    Item = "";
                }
                var Type = $(".MSDList").find('input[name=mylist2]').val();
                if (Type == undefined) {
                    Type = "";
                }
                var Project = $(".MSDList").find('input[name=mylist_p]').val();
                if (Project == undefined) {
                    Project = "";
                }
                var Brand = $(".MSDList").find('input[name=mylist4]').val();
                if (Brand == undefined) {
                    Brand = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=JobbingLedger&Item=" + Item + "&OperatingUnit=" + OperatingUnit + "&FDate=" + FDate + "&TDate=" + TDate + "&Type=" + Type + "&Project=" + Project + "&Brand=" + Brand + "&Location=" + Location + "&UPC=" + UPC + "";
            });
        $(document).ready(function () {
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Location = $("#Location").val();
                if (Location == undefined) Location = "";
		var UPC = $("#UPC").val();
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) {
                    Item = "";
                }
                var Type = $(".MSDList").find('input[name=mylist2]').val();
                if (Type == undefined) {
                    Type = "";
                }
                var Project = $(".MSDList").find('input[name=mylist_p]').val();
                if (Project == undefined) {
                    Project = "";
                }
                var Brand = $(".MSDList").find('input[name=mylist4]').val();
                if (Brand == undefined) {
                    Brand = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=JobbingLedger&Item=" + Item + "&OperatingUnit=" + OperatingUnit + "&FDate=" + FDate + "&TDate=" + TDate + "&Type=" + Type + "&Project=" + Project + "&Brand=" + Brand + "&Location=" + Location + "&UPC=" + UPC + "";
            });


        });
    </script>
</head>
    <body>
        <div class="rowCont bottomRowContentFB" id="reportheader" >

            <div class="reportdiv"> 
            <div class="reportlbl">  Item</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Item in (SelectList)ViewData["Item"])
                   {
                       <option value = "@Item.Value"  > @Item.Text   </option>
                      
                   }
            </select>
              </div>
             <div class="reportdiv"> 
            <div class="reportlbl">  Brand</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist4" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>
            <div class="reportdiv"> 
            <div class="reportlbl">  Operating Unit</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist3" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>

            <div class="reportdiv"> 
            <div class="reportlbl">  Type</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist2" >
                   @foreach (var Type in (SelectList)ViewData["Type"])
                   {
                       <option value = "@Type.Value"  > @Type.Text   </option>
                      
                   }
            </select>
              </div>
             @if(ViewBag.projectval==true){
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_p" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>
                      
                   }
            </select>
              </div>
            }
<div class="reportdiv"> <div class="reportlbl">UPC </div><input  id="UPC" class="reporttxt" name="UPC"    type="text"   value=""/></div>
 @if (ViewBag.locationval == true)
 {
 <div class="reportdiv"> <div class="reportlbl"> Location </div>@Html.DropDownList("Location", new SelectList((SelectList)ViewData["Location"], "Value", "Text"), "--Select--", new {  @id = "Location",@class="reportddl" })</div>}   
   <div class="reportdiv"><div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/> </div>
<div class="reportdiv"> <div class="reportlbl"> To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/> </div>
 <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay"/></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>

