﻿@{
    ViewBag.Title = "Job Order Processing";
}
<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
     $(function () {     	    
	             var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();

                var mylist_j = new MSDList("mylist_J");
                mylist_j.render();
                FormLoadActions();
            });
            //$i("#Customer").searchable();
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Joborder = $(".MSDList").find('input[name=mylist_J]').val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=GetJobOrderProcessingDetails&OperatingUnit=" + OperatingUnit + "&Joborder=" + Joborder + "";
             });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Joborder = $(".MSDList").find('input[name=mylist_J]').val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=GetJobOrderProcessingDetails&OperatingUnit=" + OperatingUnit + "&Joborder=" + Joborder + "";
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB"  id="reportheader">
      <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
      </div>
       <div class="reportdiv">          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>                      
                   }
            </select>
              </div>      
       <div class="reportdiv"> 
           <div class="reportlbl">Job Order# </div>
         </div> 
          <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_J" >
                   @foreach (var JobOrder in (SelectList)ViewData["JobOrder"])
                   {
                       <option value = "@JobOrder.Value"  > @JobOrder.Text   </option>                      
                   }
            </select>
              </div> 
        @*<div class="reportdiv">
            <div class="reportlbl">From Date </div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date </div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>*@
     <div class="reportbutton">     <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
    <iframe id="myReport"  class="reportviewr"></iframe>
    </body>
</html>