﻿@{
    ViewBag.Title = "MonthWiseSalesDetails";
}

<html>
<head>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
           
            $i("#Customer").searchable();
           
	     $(function () {
                var mylist1 = new MSDList("mylist1");
             mylist1.render();
             var mylist_br = new MSDList("mylist_BR");
             mylist_br.render();
	               FormLoadActions();
            });
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
               
                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                var Brand = $(".MSDList").find('input[name=mylist_BR]').val();
                
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=MonthWiseSalesDetails&FDate=" + FDate + "&TDate=" + TDate + "&Customer=" + Customer + "&Brand=" + Brand + "";
            });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();

                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                var Brand = $(".MSDList").find('input[name=mylist_BR]').val();
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=MonthWiseSalesDetails&FDate=" + FDate + "&TDate=" + TDate + "&Customer=" + Customer + "&Brand=" + Brand + "";
                //document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=MonthWiseSalesDetails&FDate=" + FDate + "&TDate=" + TDate + " &OperatingUnit=" + OperatingUnit + "&TransDate=" + TransDate + "&Brand=" + Brand + "&Category=" + Category + "&Customer=" + Customer + "";

            });
           
        });
    </script>
</head>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        <div class="reportdiv">
            <div class="reportlbl">  Customer</div>
        </div>
        <div class="reportdiv" id="custddlL">

            <select multiple="multiple" id="mylist1">
                @foreach (var Customer in (SelectList)ViewData["Customer"])
                {
                <option value="@Customer.Value"> @Customer.Text   </option>

                }
            </select>


        </div>
        <div class="reportdiv">
            <div class="reportlbl">Brand</div>
        </div>
        <div class="reportdiv">

            <select multiple="multiple" id="mylist_BR">
                @foreach (var Brand in (SelectList)ViewData["Brand"])
                {
                <option value="@Brand.Value"> @Brand.Text   </option>

                }
            </select>
        </div>

        <div class="reportdiv">
            <div class="reportlbl">From Date </div>
            <input id="frmDT" name="frmDT" class="reportdate reporttxt" type="text" value="@ViewBag.frmDT" />
        </div>
        <div class="reportdiv">
            <div class="reportlbl">To Date </div>
            <input class="reportdate reporttxt" id="toDT" name="toDT" type="text" value="@ViewBag.toDT" />
        </div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" />
        </div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>

</body>
</html>
