﻿@{
    ViewBag.Title = "Accounts Payable";
}

<html>
<head>
     @*EMPHCS1156	Search option in every tab BY RAJ.Jr 21/9/2015*@
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $(function () {
                
                
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();
                var mylist_t = new MSDList("mylist_T");
                mylist_t.render();
                if ('@ViewBag.projectval' == "True") {

                    var mylist_p = new MSDList("mylist_P");
                    mylist_p.render();
                }
                
            });
            $i("#Vendor").searchable();
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var Vendor = $(".MSDList").find('input[name=mylist1]').val();
                if (Vendor == undefined) {
                    Vendor = "";
                }
                 //var Type = $("#Type").val();
                // var OperatingUnit = $("#OperatingUnit").val();
                 var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                 var Project = $(".MSDList").find('input[name=mylist_P]').val();
                 var Type = $(".MSDList").find('input[name=mylist_T]').val();
                var Project = $("#Project").val();
                if (Project == undefined) Project = "";
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                     $(".MSDList").find('input[name=mylist_OP]').val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=PayableReport&Vendor=" + Vendor + "&Type=" + Type + " &FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";
            });
            //EMPHCS1548  Creating Accounts Payable & Receivable PDF Prints by gnaneshwar on 2/4/2016
            $i("#btnPrint").live("click", function () {
                debugger
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                //EMPHCS1382 by GNANESHWAR ON 18/11/2015 Adding Project to Finance Reports in Header Level
                var Vendor = $(".MSDList").find('input[name=mylist1]').val();
               //var Type = $("#Type").val();
                // var OperatingUnit = $("#OperatingUnit").val();
               var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
               var Project = $(".MSDList").find('input[name=mylist_P]').val();
               var Type = $(".MSDList").find('input[name=mylist_T]').val();
                //var Project = $("#Project").val();
                if (Project == undefined) Project = "";
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                     $(".MSDList").find('input[name=mylist_OP]').val(OperatingUnit);
                }
                window.open("/Print/PayableAccounts?ReportName=PayableAccounts&pCustomer=" + Vendor + "&pTypec=" + Type + " &pFDate=" + FDate + "&pTDate=" + TDate + "&pOperatingUnit=" + OperatingUnit + "&pProject=" + Project + "", '_blank');

            });


            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                //EMPHCS1382 by GNANESHWAR ON 18/11/2015 Adding Project to Finance Reports in Header Level
                var Vendor = $(".MSDList").find('input[name=mylist1]').val();
                 //var Type = $("#Type").val();
                //var OperatingUnit = $("#OperatingUnit").val();
                 var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                 var Project = $(".MSDList").find('input[name=mylist_P]').val();
                 var Type = $(".MSDList").find('input[name=mylist_T]').val();
                //var Project = $("#Project").val();
                if (Project == undefined) Project = "";
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=PayableReport&Vendor=" + Vendor + "&Type=" + Type + " &FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";

            });
            $i("#btnDisplay1").live("click", function () {
                debugger
                var d = new Date();
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var Vendor = $(".MSDList").find('input[name=mylist1]').val();
                // var Type = $("#Type").val();
                //var OperatingUnit = $("#OperatingUnit").val();
                 var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                 var Project = $(".MSDList").find('input[name=mylist_P]').val();
                 var Type = $(".MSDList").find('input[name=mylist_T]').val();
                var Project = $("#Project").val();
                if (Project == undefined) Project = "";
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=PayableReport&Vendor=" + Vendor + "&Type=" + Type + " &FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";

            });
            //$("#btnDisplay").live("click", function () {
            //    var FDate = $("#frmDT").val();
            //    var TDate = $("#toDT").val();
            //    document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ReceivableReport&FDate=" + FDate + "&TDate=" + TDate + "";
            //});
        });
    </script>
</head>
    <body>
        <div class="rowCont bottomRowContentFB" id="reportheader" >
            <div class="reportdiv"> 
            <div class="reportlbl">  Vendor</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Vendor in (SelectList)ViewData["Vendor"])
                   {
                       <option value = "@Vendor.Value"  > @Vendor.Text   </option>
                      
                   }
            </select>
              </div>

        <div class="reportdiv"> <div class="reportlbl">Type </div>
           </div>
              <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_T" >
                   
                       <option value = "BILL"  > BILL </option>
                       <option value = "BILL PAYMENT"  > BILL PAYMENT </option>
                       <option value = "Debit Memo"  > Debit Memo </option>
                       <option value = "PAYMENT VOUCHER"  > PAYMENT VOUCHER </option>
                       <option value = "JOURNAL ENTRY"  > JOURNAL ENTRY </option>
                       <option value = "ADVANCE PAYMENT"  > ADVANCE PAYMENT </option>
                       <option value = "Opening Balance"  > Opening Balance </option>
                  
            </select>
              </div>

            @*@Html.DropDownList("Type", new SelectList(new[] { "BILL", "BILL PAYMENT" }), "--Select--", new { @id = "Type",@class="reportddl" })*@
         
            <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
           
       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
@if(ViewBag.projectval==true)
            {
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">
              
        <select  multiple="multiple" id="mylist_P" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>
                      
                   }
            </select>
          @*@Html.DropDownList("Project", new SelectList((SelectList)ViewData["Project"], "Value", "Text"), "--Select--", new { @id = "Project", @class = "reportddl" })*@

          </div>
            }


            <div class="reportdiv"> <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
            <div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
          <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
            @* <div class="bottomColFB1"> 
                 
        @{
           
            string pFDate = Request.QueryString["FDate"];
            string pTDate = Request.QueryString["TDate"];
            string pTypec = Request.QueryString["Type"];
            string pProject = Request.QueryString["Project"];
            string pVendor = Request.QueryString["Vendor"];
            string pOperatingUnit = Request.QueryString["OperatingUnit"];
          
          }
                @Html.ActionLink("Print", "ReceivableAccounts", new { controller = "Print", @pVendor= pVendor ,@pTypec=pTypec ,@pFDate=pFDate ,@pTDate=pTDate ,@pOperatingUnit=pOperatingUnit ,@pProject=pProject }, new { target = "_blank", @class = "buttonclass linkFont" }) 
              </div>*@
@*EMPHCS1548  Creating Accounts Payable & Receivable PDF Prints by gnaneshwar on 2/4/2016*@
            <div class="reportbutton" style="padding-left:25px">  <input type="button" value="Print" class="buttonclass" id="btnPrint"   /></div>
</div>
            <iframe id="myReport"  class="reportviewr" ></iframe>
           
    </body>
</html>