﻿@{
    ViewBag.Title = "Pending Purchase Orders";
}

<html>
<head>
    <script>

        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Vendor = $("#Vendor").val();
                var Status = $("#Status").val();
                var PONO = $("#PONO").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=PendingPurchaseOrders&Vendor=" + Vendor + "&Status=" + Status + " &FDate=" + FDate + "&TDate=" + TDate + "&PONO=" + PONO + "";
              });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Vendor = $("#Vendor").val();
                var Status = $("#Status").val();
                var PONO = $("#PONO").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=PendingPurchaseOrders&Vendor=" + Vendor + "&Status=" + Status + " &FDate=" + FDate + "&TDate=" + TDate + "&PONO=" + PONO + "";
             });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
    <div class="reportlbl"> PO No </div>@Html.DropDownList("PONO", new SelectList((SelectList)ViewData["PONO"], "Value", "Text"), "--Select--", new {  @id = "PONO",@class="reportddl"  })</div>
<div class="reportdiv"> <div class="reportlbl">Vendor </div>@Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new {  @id = "Vendor",@class="reportddl"  })</div>
<div class="reportdiv"> <div class="reportlbl">Status</div> @Html.DropDownList("Status", new SelectList(new[] { "OPEN","APPROVED","WAITING FOR APPROVAL" }), "--Select--", new { @id = "Status",@class="reportddl"  })</div> 
 <div class="reportdiv"> <div class="reportlbl">From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
<div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
<div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
 <iframe id="myReport"  class="reportviewr" ></iframe>


    </body>
</html>

