﻿@{
    ViewBag.Title = "Profit And Loss By Project";
}
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
<script>

    $(document).ready(function () {
        $(function () {
            if ('@ViewBag.projectval' == "True") {
                    var mylist_p = new MSDList("mylist_P");
                    mylist_p.render();
                }
                FormLoadActions();
            });
        $(function () {
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            //var Vendor = $("#Vendor").val();
            //var Type = $("#Type").val();
            var OperatingUnit = $("#OperatingUnit").val();
            var opunitst = '@Session["OPUnitstatus"]';
            if (opunitst != null && opunitst != '') {
                OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
            }
            var ProjectName = $(".MSDList").find('input[name=mylist_P]').val();
            if (typeof (ProjectName) == "undefined") ProjectName = "";
            document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProfitAndLossByProject&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&ProjectName=" + ProjectName + "";
        });
        $("#btnDisplay").live("click", function () {
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            //var Vendor = $("#Vendor").val();
            //var Type = $("#Type").val();
            var OperatingUnit = $("#OperatingUnit").val();
            var ProjectName = $(".MSDList").find('input[name=mylist_P]').val();
            if (typeof (ProjectName) == "undefined") ProjectName = "";
            document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProfitAndLossByProject&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&ProjectName=" + ProjectName + "";
        });


    });
</script>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        <div class="reportdiv"></div>
        @*<div class="reportlbl">  Vendor/Jobber</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new { @id = "Vendor",@class="reportddl"})</div>
        <div class="reportdiv"> <div class="reportlbl">Type </div>@Html.DropDownList("Type", new SelectList(new[] { "BILL", "BILL PAYMENT" }), "--Select--", new { @id = "Type",@class="reportddl" })</div>*@
        
           @if(ViewBag.projectval==true)
            {          
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">              
        <select  multiple="multiple" id="mylist_P" >
                   @foreach (var Project in (SelectList)ViewData["ProjectName"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>                      
                   }
            </select>
          </div>    
            }
        <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
            @Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })</div>
        <div class="reportdiv">
            <div class="reportlbl">From Date</div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date</div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>
</body>
