﻿@{
    ViewBag.Title = "Project Wise price Analysis";
}

<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>

        var $i = jQuery.noConflict();
        $(document).ready(function () {

            $(function () {
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
                var mylist2 = new MSDList("mylist2");
                mylist2.render();
                FormLoadActions();
            });

            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Project = $(".MSDList").find('input[name=mylist1]').val();
                if (Project == undefined) Project = "";
                var SubProject = $(".MSDList").find('input[name=mylist2]').val();
                if (SubProject == undefined) SubProject = "";
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProjectPriceAnalysis&Project=" + Project + "&SubProject=" + SubProject + "&FDate=" + FDate + "&TDate=" + TDate + "";
             });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Project = $(".MSDList").find('input[name=mylist1]').val();
                if (Project == undefined) Project = "";
                var SubProject = $(".MSDList").find('input[name=mylist2]').val();
                if (SubProject == undefined) SubProject = "";
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProjectPriceAnalysis&Project=" + Project + "&SubProject=" + SubProject + "&FDate=" + FDate + "&TDate=" + TDate + "";
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" >
   <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>
                      
                   }
            </select>
              </div>
   <div class="reportdiv"> 
            <div class="reportlbl">  SubProject</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist2" >
                   @foreach (var SubProject in (SelectList)ViewData["SubProject"])
                   {
                       <option value = "@SubProject.Value"  > @SubProject.Text   </option>
                      
                   }
            </select>
              </div>
   <div class="reportdiv"> <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
         <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay"/></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>

