﻿@{
    ViewBag.Title = @Request["FormName"]; ;
}

<html>
<head>
     @*EMPHCS1156	Search option in every tab BY RAJ.Jr 21/9/2015*@
     <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i("#Customer").searchable();
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var Customer = $i("#Customer").val();
                //var Type = $("#Type").val();
                var OperatingUnit = $i("#OperatingUnit").val();
                var Project = $i("#Project").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProjectReceivableDueDates&Customer=" + Customer + "&@*Type=" + Type + " &*@FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";
            });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var Customer = $i("#Customer").val();
                //var Type = $("#Type").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var Project = $("#Project").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProjectReceivableDueDates&Customer=" + Customer + "&@*Type=" + Type + " &*@FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";

            });
            $i("#btnDisplay1").live("click", function () {
                debugger
                var d = new Date();
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var Customer = $i("#Customer").val();
                var Type = $i("#Type").val();
                var OperatingUnit = $i("#OperatingUnit").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ProjectReceivableDueDates&Customer=" + Customer + "&Type=" + Type + " &FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "";

            });
            //$("#btnDisplay").live("click", function () {
            //    var FDate = $("#frmDT").val();
            //    var TDate = $("#toDT").val();
            //    document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=ReceivableReport&FDate=" + FDate + "&TDate=" + TDate + "";
            //});
        });
    </script>
</head>
    <body>
        <div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
     @*EMPHCS1156	Search option in every tab BY RAJ.Jr 21/9/2015*@
            <div class="reportlbl">  Customer </div><div class="txt">@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["cust"], "Value", "Text"), "--Select--", new {  @id = "Customer",@class="reportddl"  })</div></div>
@*<div class="reportdiv"> <div class="reportlbl">Type </div>@Html.DropDownList("Type", new SelectList(new[] { "INVOICE", "PAYMENT", "BILL SERVICES","JO PAY BILL" }), "--Select--", new {  @id = "Type",@class="reportddl" })</div>*@
     <div class="reportdiv"> <div class="reportlbl">  Operating Unit</div> @Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl"  })</div>
           <div class="reportdiv"> <div class="reportlbl">  Project</div>  @Html.DropDownList("Project", new SelectList((SelectList)ViewData["Project"], "Value", "Text"), "--Select--", new {  @id = "Project",@class="reportddl" })</div>
            <div class="reportdiv"> <div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
            <div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
          <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
            <iframe id="myReport"  class="reportviewr" ></iframe>
           
    </body>
</html>