﻿@{
    ViewBag.Title = "Purchase Order Summary";
}

<html>
<head>
    <script src="~/Content/formbuildjquery.js"></script>
    <script>
        $(document).ready(function () {
            $(function () { 
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var Vendor = $("#Vendor").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                      $("#OperatingUnit").val(OperatingUnit);
                  }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=PurchaseOrderSummary&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Vendor=" + Vendor + "";
                 });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var Vendor = $("#Vendor").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=PurchaseOrderSummary&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Vendor=" + Vendor + "";
                  });

        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader"><div class="reportdiv">
    <div class="reportlbl"> Operating Unit </div> @Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div>
   <div class="reportdiv"><div class="reportlbl">  Vendor</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new {  @id = "Vendor",@class="reportddl" })</div>
    <div class="reportdiv"><div class="reportlbl"> From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
    <div class="reportdiv"><div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
      <div class="reportbutton">      <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
    <iframe id="myReport"  class="reportviewr"></iframe>
    </body>
</html>