﻿@{
    ViewBag.Title = "PurchaseRegister";
}

<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>

    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {

            @*EMPHCS1742: MultiSelection Check box in Dropdown in Purchase ,Sales,Returs,& Taxation Reports by GNANESHWAR IN 27/5/2016*@ 
	    $(function () {

                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();

                var mylist_v = new MSDList("mylist_V");
                mylist_v.render();

                var mylist_b = new MSDList("mylist_B");
                mylist_b.render();

                FormLoadActions();
            });



            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                //var Vendor = $("#Vendor").val();
                //var Brand = $("#Brand").val();
                var Vendor = $(".MSDList").find('input[name=mylist_V]').val();
                //var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                //var Brand = $(".MSDList").find('input[name=mylist_B]').val();
              
                //$i("#OperatingUnit").val();
                //var TransDate = $("#TransDate").val();
                //var opunitst = '@Session["OPUnitstatus"]';
               @* //if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                  
                    $("#mylist_OP").val(OperatingUnit);
                    //$(".MSDList").find('input[name=mylist_OP]').val(OperatingUnit);
                }*@
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=PurchaseRegister&Vendor=" + Vendor + "&FDate=" + FDate + "&TDate=" + TDate + "";
            });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                //var Vendor = $("#Vendor").val();
                //var Brand = $("#Brand").val();
                //var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Vendor = $(".MSDList").find('input[name=mylist_V]').val();
                //var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                    //$i("#OperatingUnit").val();
                //var TransDate = $("#TransDate").val();
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=PurchaseRegister&Vendor=" + Vendor + "&FDate=" + FDate + "&TDate=" + TDate + ""
            });
            @*$i("#TransDate").change("change", function () {
                TransactionDate($i(this).val(),'@Session["ReportDate"]');
            });*@
        });
    </script>
</head>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
       @* <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>*@
            @*@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })*@

    @*   <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>*@
      
         <div class="reportdiv">
            <div class="reportlbl">Vendor </div>
            </div>  
        <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_V" >
                   @foreach (var Vendor in (SelectList)ViewData["Vendor"])
                   {
                       <option value = "@Vendor.Value"  > @Vendor.Text   </option>
                      
                   }
            </select>
              </div>
             @*@Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new {  @id = "Vendor",@class="reportddl"  })*@

    @*  <div class="reportdiv">
            <div class="reportlbl">Brand</div>
         </div> *@
          @*<div class="txt">@Html.DropDownList("Brand", new SelectList((SelectList)ViewData["Brand"], "Value", "Text"), "--Select--", new { @id = "Brand", @class = "reportddl" })</div>*@
        
       @* <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_B" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>*@


        
       @*  <div class="reportdiv">
            <div class="reportlbl">Transaction Date </div>
            <div class="txt">@Html.DropDownList("TransDate", new SelectList((SelectList)ViewData["TransDate"], "Value", "Text"), "--Select--", new { @id = "TransDate", @class = "reportddl" })</div>
        </div>*@

        <div class="reportdiv">
            <div class="reportlbl">From Date </div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date </div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>

</body>
</html>
