﻿@{
    ViewBag.Title = "SalesRegister";
}

<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i("#Category").change("change", function () {
                debugger
                var Category = $i(this).val();
                $.ajax({
                    url: "/Report/CustDetailes",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ Category: Category }),
                    async: true,
                    success: function (data) {
                        debugger
                        var items = [];
                        $i("#mylist1").html(items.join(' '));
                        items.push("<option value=''>" + "--Select--" + "</option>");
                        for (var i = 0; i < data.item.length; i++) {

                            items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                        }

                        $i("#custddlL").html('');
                        var s = $('<select  multiple=multiple id=mylist1/>');
                        for (var i = 0; i < data.item.length; i++) {
                            $('<option />', { value: data.item[i].Value, text: data.item[i].Text }).appendTo(s);
                        }
                        var body = document.getElementById('custddlL');
                        s.appendTo(body);
                        var mylist1 = new MSDList("mylist1");
                        mylist1.render();



                    }
                });
            });
            $i("#Customer").searchable();
           @*EMPHCS1742: MultiSelection Check box in Dropdown in Purchase ,Sales,Returs,& Taxation Reports by GNANESHWAR IN 27/5/2016*@ 
	     $(function () {

                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
                var mylist_sr = new MSDList("mylist_SR");
                mylist_sr.render();
                var mylist_br = new MSDList("mylist_BR");
                mylist_br.render();
	         //var mylistc = new MSDList("mylistc");
	         //mylistc.render();

                var mylist_b = new MSDList("mylist_B");
                mylist_b.render();

                FormLoadActions();
            });
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
               //// var OperatingUnit = $("#OperatingUnit").val();
               // var TransDate = $("#TransDate").val();
               // // var Brand = $("#Brand").val();
               // var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();

                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                var SalesRep = $(".MSDList").find('input[name=mylist_SR]').val();
                var Brand = $(".MSDList").find('input[name=mylist_BR]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                //var Category = $(".MSDList").find('input[name=mylistc]').val();

           @*     var Category = $("#Category").val();
                if (Category == undefined) {
                    Category = "";
                }

                var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }*@
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=SalesRegister&FDate=" + FDate + "&TDate=" + TDate + "&Customer=" + Customer + "&SalesRep=" + SalesRep + "&Brand=" + Brand + "";
            });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();

                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                var SalesRep = $(".MSDList").find('input[name=mylist_SR]').val();
                var Brand = $(".MSDList").find('input[name=mylist_BR]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                //var Category = $(".MSDList").find('input[name=mylistc]').val();

                var Category = $("#Category").val();
                if (Category == undefined) {
                    Category = "";
                }
               // var OperatingUnit = $i("#OperatingUnit").val();
                //var Brand = $("#Brand").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                //var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                var TransDate = $("#TransDate").val();
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=SalesRegister&FDate=" + FDate + "&TDate=" + TDate + "&Customer=" + Customer + "&SalesRep=" + SalesRep + "&Brand=" + Brand + "";

            });
            $i("#TransDate").change("change", function () {
                TransactionDate($i(this).val(), '@Session["ReportDate"]');
            });
        });
    </script>
</head>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
      
            <div class="reportdiv"> 
            <div class="reportlbl">  Customer</div> 
           </div>
            <div class="reportdiv" id="custddlL">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Customer in (SelectList)ViewData["Customer"])
                   {
                       <option value = "@Customer.Value"  > @Customer.Text   </option>
                      
                   }
            </select>


              </div>

           <div class="reportdiv">
            <div class="reportlbl">Sales Rep</div>
 </div>
           
       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_SR" >
                   @foreach (var SalesRep in (SelectList)ViewData["SalesRep"])
                   {
                       <option value = "@SalesRep.Value"  > @SalesRep.Text   </option>
                      
                   }
            </select>
              </div>
           <div class="reportdiv">
            <div class="reportlbl">Brand</div>
 </div>
       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_BR" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>

        <div class="reportdiv">
            <div class="reportlbl">From Date </div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date </div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>

</body>
</html>
