﻿@{
    ViewBag.Title = "Date Wise Sales (Details)";
}
<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {

            $i("#Category").change("change", function () {
                debugger
                var Category = $i(this).val();
                $.ajax({
                    url: "/Report/CustDetailes",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ Category: Category }),
                    async: true,
                    success: function (data) {
                        debugger
                        var items = [];
                        $i("#mylist1").html(items.join(' '));
                        items.push("<option value=''>" + "--Select--" + "</option>");
                        for (var i = 0; i < data.item.length; i++) {

                            items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                        }

                        $i("#custddlL").html('');
                        var s = $('<select  multiple=multiple id=mylist1/>');
                        for (var i = 0; i < data.item.length; i++) {
                            $('<option />', { value: data.item[i].Value, text: data.item[i].Text }).appendTo(s);
                        }
                        var body = document.getElementById('custddlL');
                        s.appendTo(body);
                        var mylist1 = new MSDList("mylist1");
                        mylist1.render();



                    }
                });
            });
            $i("#Customer").searchable();
            $i("#DisplayType").val(23065);
           @*EMPHCS1742: MultiSelection Check box in Dropdown in Purchase ,Sales,Returs,& Taxation Reports by GNANESHWAR IN 27/5/2016*@
            $(function () {

                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();

                var mylist1 = new MSDList("mylist1");
                mylist1.render();
                //var mylistc = new MSDList("mylistc");
                //mylistc.render();

                var mylist_b = new MSDList("mylist_B");
                mylist_b.render();

                FormLoadActions();
            });
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var DisplayType = $i("#DisplayType").val();
                // var OperatingUnit = $("#OperatingUnit").val();
                var TransDate = $("#TransDate").val();
                // var Brand = $("#Brand").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                //var Category = $(".MSDList").find('input[name=mylistc]').val();

                var Category = $("#Category").val();
                if (Category == undefined) {
                    Category = "";
                }
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=SalesByCustomerDateWiseDetails&FDate=" + FDate + "&TDate=" + TDate + " &OperatingUnit=" + OperatingUnit + "&TransDate=" + TransDate + "&DisplayType=" + DisplayType + "&Brand=" + Brand + "&Category=" + Category + "&Customer=" + Customer +"";
            });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var DisplayType = $i("#DisplayType").val();
                // var OperatingUnit = $i("#OperatingUnit").val();
                //var Brand = $("#Brand").val();
                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                //var Category = $(".MSDList").find('input[name=mylistc]').val();

                var Category = $("#Category").val();
                if (Category == undefined) {
                    Category = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                var TransDate = $("#TransDate").val();
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=SalesByCustomerDateWiseDetails&FDate=" + FDate + "&TDate=" + TDate + " &OperatingUnit=" + OperatingUnit + "&TransDate=" + TransDate + "&DisplayType=" + DisplayType + "&Brand=" + Brand + "&Category=" + Category + "&Customer=" + Customer + "";

            });
            $i("#TransDate").change("change", function () {
                TransactionDate($i(this).val(), '@Session["ReportDate"]');
            });
        });
    </script>
</head>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
            @*@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })*@

       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>

                @*<div class="reportdiv"> 
            <div class="reportlbl">  Category</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylistc" >
                   @foreach (var Countryc in (SelectList)ViewData["Countryc"])
                   {
                       <option value = "@Countryc.Value"  > @Countryc.Text   </option>
                      
                   }
            </select>
              </div>*@

        <div class="reportdiv">
            <div class="reportlbl">Category </div>
            <div class="txt">@Html.DropDownList("Category", new SelectList((SelectList)ViewData["Countryc"], "Value", "Text"), "--Select--", new { @id = "Category", @class = "reportddl" })</div>
        </div>

            <div class="reportdiv"> 
            <div class="reportlbl">  Customer</div> 
           </div>
            <div class="reportdiv" id="custddlL">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Customer in (SelectList)ViewData["cust"])
                   {
                       <option value = "@Customer.Value"  > @Customer.Text   </option>
                      
                   }
            </select>


              </div>

             <div class="reportdiv">
            <div class="reportlbl">Brand</div>
         </div> 
          @*<div class="txt">@Html.DropDownList("Brand", new SelectList((SelectList)ViewData["Brand"], "Value", "Text"), "--Select--", new { @id = "Brand", @class = "reportddl" })</div>*@
        
        <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_B" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>
        
    </div>
    
    <div class="rowCont bottomRowContentFB" id="reportheader1">
      
        <div class="reportdiv">
            <div class="reportlbl">Display Type </div>
            <div class="txt">@Html.DropDownList("DisplayType", new SelectList((SelectList)ViewData["DisplayType"], "Value", "Text"), "--Select--", new { @id = "DisplayType", @class = "reportddl" })</div>
        </div>

          <div class="reportdiv">
            <div class="reportlbl">Transaction Date </div>
            <div class="txt">@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["TransDate"], "Value", "Text"), "--Select--", new { @id = "TransDate", @class = "reportddl" })</div>
        </div>
        <div class="reportdiv">
            <div class="reportlbl">From Date </div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date </div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>

</body>
</html>