﻿@{
    ViewBag.Title = "Sales Order Summary";
}
<html>
<head>
     @*EMPHCS1156	Search option in every tab BY RAJ.Jr 21/9/2015*@
     <script src="~/Scripts/jquery-1.7.1.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
          @*EMPHCS1742: MultiSelection Check box in Dropdown in Purchase ,Sales,Returs,& Taxation Reports by GNANESHWAR IN 27/5/2016*@ 
	      $(function () {

                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();

                var mylist_c = new MSDList("mylist_C");
                mylist_c.render();

                FormLoadActions();
            });
            $i("#Customer").searchable();
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Customer = $(".MSDList").find('input[name=mylist_C]').val();
                @* var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }*@
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=Sales Order Summary&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Customer=" + Customer + "";
             });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Customer = $(".MSDList").find('input[name=mylist_C]').val();
                //var OperatingUnit = $i("#OperatingUnit").val();
                //var Customer = $i("#Customer").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=Sales Order Summary&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Customer=" + Customer + "";
            });
           

        });
    </script>
</head>
    <body>
  <div class="rowCont bottomRowContentFB" id="reportheader" >
       <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
            @*@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })*@

       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
      
       <div class="reportdiv"> 
           <div class="reportlbl">Customer </div>
         </div> 
          <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_C" >
                   @foreach (var Customer in (SelectList)ViewData["Customer"])
                   {
                       <option value = "@Customer.Value"  > @Customer.Text   </option>
                      
                   }
            </select>
              </div>


      <div class="reportdiv"> <div class="reportlbl">  From Date</div> <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv"> <div class="reportlbl">To Date</div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
         <div class="reportbutton">    <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
    <iframe id="myReport"  class="reportviewr" ></iframe>

    </body>
</html>