﻿@{
    ViewBag.Title = "Invoice Details";
}

<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
     <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
        
            //$i("#Customer").searchable();
        $i(document).ready(function () {
	     $(function () {

                var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();
                var mylist1 = new MSDList("mylist1");
                mylist1.render();
	            var mylist_b = new MSDList("mylist_B");
                mylist_b.render();
                FormLoadActions();
            });
            $i(function () {
                //var FDate = $i("#frmDT").val();
                //var TDate = $i("#toDT").val();
               
                //var TransDate = $("#TransDate").val();
                
                //var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();

                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                

                var Category = $("#Category").val();
                if (Category == undefined) {
                    Category = "";
                }

                var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }
                //document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=SalesInvoiceRK&Customer=" + Customer +"";
            });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();

                var Customer = $(".MSDList").find('input[name=mylist1]').val();
                if (Customer == undefined) {
                    Customer = "";
                }
                //var Category = $(".MSDList").find('input[name=mylistc]').val();

                var Category = $("#Category").val();
                if (Category == undefined) {
                    Category = "";
                }
               // var OperatingUnit = $i("#OperatingUnit").val();
                //var Brand = $("#Brand").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                var Brand = $(".MSDList").find('input[name=mylist_B]').val();
                var TransDate = $("#TransDate").val();
                document.getElementById("myReport").src = "../../Content/SalesReports.aspx?ReportName=SalesInvoiceRK&Customer=" + Customer + "";

            });
            $i("#TransDate").change("change", function () {
                TransactionDate($i(this).val(), '@Session["ReportDate"]');
            });
        });
    </script>
</head>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        @*<div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>*@
          

       @*<div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>*@

        
         @*<div class="reportdiv"> 
            <div class="reportlbl">  Category</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylistc" >
                   @foreach (var Countryc in (SelectList)ViewData["Countryc"])
                   {
                       <option value = "@Countryc.Value"  > @Countryc.Text   </option>
                      
                   }
            </select>
              </div>*@
         @* <div class="reportdiv">
            <div class="reportlbl">Category </div>
            <div class="txt">@Html.DropDownList("Category", new SelectList((SelectList)ViewData["Countryc"], "Value", "Text"), "--Select--", new { @id = "Category", @class = "reportddl" })</div>
        </div>*@

            <div class="reportdiv"> 
            <div class="reportlbl">  Customer</div> 
           </div>
            <div class="reportdiv" id="custddlL">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Customer in (SelectList)ViewData["Customer"])
                   {
                       <option value = "@Customer.Value"  > @Customer.Text   </option>
                      
                   }
            </select>


              </div>

             @*<div class="reportdiv">
            <div class="reportlbl">Brand</div>
         </div>*@ 
          
        
        @*<div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_B" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>*@


        @*<div class="reportdiv">
            <div class="reportlbl">Transaction Date </div>
            <div class="txt">@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["TransDate"], "Value", "Text"), "--Select--", new { @id = "TransDate", @class = "reportddl" })</div>
        </div>*@
        @*<div class="reportdiv">
            <div class="reportlbl">From Date </div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date </div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>*@
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>

</body>
</html>