﻿@{
    ViewBag.Title = "Sales Order";
}
<html>
<head>
    <script>

        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=Sales Order Report";
            });
        });
    </script>
</head>
    <body>
<div id="slide"  style="height:520px;overflow:auto;width:100%;text-align:center">



 <iframe id="myReport" style="width:100%;height:470px;  border:0;background-color:white"  onload='javascript:resizeIframe(this);' ></iframe>

</div>
    </body>
</html>

