﻿
@{//EMPHCS1338	Rename Stock Details as Stock Ledger BY RAJ.Jr
    ViewBag.Title = "Stock Register";
}
<html>
<head>

   
     <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
   

    <script>
        $(function () {
            
            //var mylist = new MSDList("mylist");
            //mylist.render();
            var mylist1 = new MSDList("mylist1");
            mylist1.render();
            var mylist2 = new MSDList("mylist2");
            mylist2.render();
            var mylist3 = new MSDList("mylist3");
            mylist3.render();
            var mylist4 = new MSDList("mylist4");
            mylist4.render();
	    //EMPHCS1621 rajasekhar reddy patakota 22/03/2016 Stock Ledger Report Changes
            FormLoadActions();
        });
        $(document).ready(function () {
            $(function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                //$("#Location").val('@Session["Location"]');
                var Location = $("#Location").val();
                if (Location == undefined) Location = "";
                
              var UPC = $("#UPC").val();
               
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) {
                    Item = "";
                }
                var Type = $(".MSDList").find('input[name=mylist2]').val();
                if (Type == undefined) {
                    Type = "";
                }
                //var Project = $(".MSDList").find('input[name=mylist]').val();
                //if (Project == undefined) {
                //    Project = "";
                //}
                var Brand = $(".MSDList").find('input[name=mylist4]').val();
                if (Brand == undefined) {
                    Brand = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
		//EMPHCS1621 rajasekhar reddy patakota 22/03/2016 Stock Ledger Report Changes
                @*var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $(".MSDList").find('input[name=mylist3]').val(OperatingUnit);
                }*@
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                //EMPHCS1338	Rename Stock Details as Stock Ledger BY RAJ.Jr
                //document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=StockRegister&Item=" + Item + "&OperatingUnit=" + OperatingUnit + "&FDate=" + FDate + "&TDate=" + TDate + "&Type=" + Type + "&Brand=" + Brand + "&Location=" + Location + "&UPC=" + UPC + "";
            });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                var Location = $("#Location").val();
                if (Location == undefined) Location = "";
		var UPC = $("#UPC").val();
                var Item = $(".MSDList").find('input[name=mylist1]').val();
                if (Item == undefined) {
                    Item = "";
                }
                var Type = $(".MSDList").find('input[name=mylist2]').val();
                if (Type == undefined) {
                    Type = "";
                }
                //var Project = $(".MSDList").find('input[name=mylist]').val();
                //if (Project == undefined) {
                //    Project = "";
                //}
                var Brand = $(".MSDList").find('input[name=mylist4]').val();
                if (Brand == undefined) {
                    Brand = "";
                }
                var OperatingUnit = $(".MSDList").find('input[name=mylist3]').val();
		//EMPHCS1621 rajasekhar reddy patakota 22/03/2016 Stock Ledger Report Changes
               @* var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $(".MSDList").find('input[name=mylist3]').val(OperatingUnit);
                }*@
                //EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens
                //EMPHCS1338	Rename Stock Details as Stock Ledger BY RAJ.Jr
                document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=StockRegister&Item=" + Item + "&OperatingUnit=" + OperatingUnit + "&FDate=" + FDate + "&TDate=" + TDate + "&Type=" + Type + "&Brand=" + Brand + "&Location=" + Location + "&UPC=" + UPC + "";
            });


        });
    </script>
</head>
    <body>
        @*EMPHCS1338	Rename Stock Details as Stock Ledger BY RAJ.Jr*@
        <div class="rowCont bottomRowContentFB" id="reportheader" >

            <div class="reportdiv"> 
            <div class="reportlbl">  Item</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist1" >
                   @foreach (var Item in (SelectList)ViewData["Item"])
                   {
                       <option value = "@Item.Value"  > @Item.Text   </option>
                      
                   }
            </select>
              </div>
             <div class="reportdiv"> 
            <div class="reportlbl">  Brand</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist4" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>
            <div class="reportdiv"> 
            <div class="reportlbl">  Operating Unit</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist3" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>

            <div class="reportdiv"> 
            <div class="reportlbl">  Type</div> 
           </div>
            <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist2" >
                   @foreach (var Type in (SelectList)ViewData["Type"])
                   {
                       <option value = "@Type.Value"  > @Type.Text   </option>
                      
                   }
            </select>
              </div>
             @*@if(ViewBag.projectval==true){
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>
                      
                   }
            </select>
              </div>
            }*@
<div class="reportdiv"> <div class="reportlbl">UPC </div><input  id="UPC" class="reporttxt" name="UPC"    type="text"   value=""/></div>
	    @*EMPHCS1712 rajasekhar reddy patakota 26/04/2016 Add Default Locaion in all Screens*@
 @if (ViewBag.locationval == true)
 {
 <div class="reportdiv"> <div class="reportlbl"> Location </div>@Html.DropDownList("Location", new SelectList((SelectList)ViewData["Location"], "Value", "Text"), "--Select--", new {  @id = "Location",@class="reportddl" })</div>}   
   <div class="reportdiv"><div class="reportlbl">  From Date </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.toDT"/> </div>
<div class="reportdiv"> <div class="reportlbl"> To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/> </div>
 <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay"/></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>

