﻿@{
    ViewBag.Title = "Stock Of Jobber";
}


<html>
<head>
    <script>

        $(document).ready(function () {
            $(function () { 
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Jobber = $("#Jobber").val();
                var OperatingUnit = $("#OperatingUnit").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=StockOfJobber&Jobber=" + Jobber + "&OperatingUnit=" + OperatingUnit + " &FDate=" + FDate + "&TDate=" + TDate + "";
                 });
            $("#btnDisplay").live("click", function () {
                var FDate = $("#frmDT").val();
                var TDate = $("#toDT").val();
                var Jobber = $("#Jobber").val();
                var OperatingUnit = $("#OperatingUnit").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=StockOfJobber&Jobber=" + Jobber + "&OperatingUnit=" + OperatingUnit + " &FDate=" + FDate + "&TDate=" + TDate + "";
                 });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
    <div class="reportlbl">Operating Unit </div>@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div> 
        <div class="reportdiv"> <div class="reportlbl">Jobber </div>@Html.DropDownList("Jobber", new SelectList((SelectList)ViewData["Jobber"], "Value", "Text"), "--Select--", new {  @id = "Jobber",@class="reportddl" })</div>
          <div class="reportbutton">  <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>


    </body>
</html>

