﻿@{
    ViewBag.Title = "TDS Register";
}
<html>
<head>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
     <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script>
        var $i = jQuery.noConflict();
        $(document).ready(function () {

            $(function () {

             @*EMPHCS1742: MultiSelection Check box in Dropdown in Purchase ,Sales,Returs,& Taxation Reports by GNANESHWAR IN 27/5/2016*@ 
	       var mylist_op = new MSDList("mylist_OP");
                mylist_op.render();
                FormLoadActions();
            });
            $i(function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                //var Type = $("#Type").val();
                var TransDate = $("#TransDate").val();
                var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                    $i("#OperatingUnit").val(OperatingUnit);
                }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=TDSRegister&FDate=" + FDate + "&TDate=" + TDate + " &OperatingUnit=" + OperatingUnit + "";
             });
            $i("#btnDisplay").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                //var Type = $("#Type").val();
                var TransDate = $("#TransDate").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=TDSRegister&FDate=" + FDate + "&TDate=" + TDate + " &OperatingUnit=" + OperatingUnit + "";
            });
            $i("#btnPrint").live("click", function () {
                var FDate = $i("#frmDT").val();
                var TDate = $i("#toDT").val();
                var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
                //var Type = $("#Type").val();
                var TransDate = $("#TransDate").val();
                window.open("/Print/TDSRegister?ReportName=TDSRegister&FDate=" + FDate + "&TDate=" + TDate + " &OperatingUnit=" + OperatingUnit + "");

            });
            $i("#TransDate").change("change", function () {
                TransactionDate($i(this).val());
            });
        });
    </script>
</head>
    <body>
<div class="rowCont bottomRowContentFB" id="reportheader" >
  <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
            @*@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })*@

       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
    <div class="reportdiv"><div class="reportlbl">Transaction Date </div><div class="txt">@Html.DropDownList("TransDate", new SelectList((SelectList)ViewData["TransDate"], "Value", "Text"), "--Select--", new { @id = "TransDate", @class = "reportddl" })</div></div>
    <div class="reportdiv"> <div class="reportlbl"> From Date</div> <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"  value="@ViewBag.frmDT"/></div>
        <div class="reportdiv"> <div class="reportlbl">To Date </div><input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
        @*<div class="reportdiv"> <div class="reportlbl">Type</div> @Html.DropDownList("Type", new SelectList(new[] {"Sales", "Purchase"}), "--Select--", new {  @id = "Type",@class="reportddl" })</div>
       <div class="reportdiv"><div class="reportlbl">Tax </div><div class="txt">
           @Html.DropDownList("Taxes", new SelectList((SelectList)ViewData["Taxes"], "Value", "Text"), "--Select--", new { @id = "Taxes", @class = "reportddl MSDList" })
            <select  multiple="multiple" id="mylist1" >
                   @foreach (var Taxes in (SelectList)ViewData["Taxes"])
                   {
                       <option value = "@Taxes.Value"  > @Taxes.Text   </option>
                      
                   }
            </select>
                                                               </div></div>*@
    <div class="reportbutton">   <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    <div class="reportbutton" style="padding-left:25px">  <input type="button" value="Print" class="buttonclass" id="btnPrint"   /></div>
</div>
    <iframe id="myReport" class="reportviewr" ></iframe>

    </body>
</html>