﻿@{
    ViewBag.Title = "Trial Balance";
}

<script>

    $(document).ready(function () {
        $(function () {
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            //var Vendor = $("#Vendor").val();
            //var Type = $("#Type").val();
            var OperatingUnit = $("#OperatingUnit").val();
            var Project = $("#Project").val();
            if (Project == undefined) Project = "";
            var opunitst = '@Session["OPUnitstatus"]';
            if (opunitst != null && opunitst != '') {
                OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
            document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=TrialBalance&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";
        });
        $("#btnDisplay").live("click", function () {
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            //var Vendor = $("#Vendor").val();
            //var Type = $("#Type").val();
            var OperatingUnit = $("#OperatingUnit").val();
            var Project = $("#Project").val();
            if (Project == undefined) Project = "";
            document.getElementById("myReport").src = "../../Content/Finance.aspx?ReportName=TrialBalance&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "";
        });


    });
</script>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        <div class="reportdiv"></div>
        @*<div class="reportlbl">  Vendor/Jobber</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new { @id = "Vendor",@class="reportddl"})</div>
        <div class="reportdiv"> <div class="reportlbl">Type </div>@Html.DropDownList("Type", new SelectList(new[] { "BILL", "BILL PAYMENT" }), "--Select--", new { @id = "Type",@class="reportddl" })</div>*@
        <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
            @Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })</div>
@if(ViewBag.projectval==true)
            {
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">
          @Html.DropDownList("Project", new SelectList((SelectList)ViewData["Project"], "Value", "Text"), "--Select--", new { @id = "Project", @class = "reportddl" })</div>
        }
        <div class="reportdiv">
            <div class="reportlbl">From Date</div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date</div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>
</body>

