﻿@{
    ViewBag.Title = "VATComputation";
}
<html>
@*EMPHCS1160	VAT Reports BY RAJ.Jr 01/10/2015*@
<head>
    <script>

        $(document).ready(function () {
            $(function () { 
                    var FDate = $("#frmDT").val();
                    var TDate = $("#toDT").val();
                    var OperatingUnit = $("#OperatingUnit").val();
                    var opunitst = '@Session["OPUnitstatus"]';
                if (opunitst != null && opunitst != '') {
                    OperatingUnit = '@Session["OPUnit"]';
                      $("#OperatingUnit").val(OperatingUnit);
                  }
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=VATComputation&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "";
                });
            $("#btnDisplay").live("click", function () {
                    var FDate = $("#frmDT").val();
                    var TDate = $("#toDT").val();
                    var OperatingUnit = $("#OperatingUnit").val();
                    document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=VATComputation&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "";
                });
        });
    </script>
</head>
    <body>
       <div class="rowCont bottomRowContentFB"  id="reportheader">
           <div class="reportdiv">
            <div class="reportlbl"> Operating Unit </div>@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div>
      <div class="reportdiv"><div class="reportlbl"> From Date  </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
    <div class="reportdiv"><div class="reportlbl">To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"   value="@ViewBag.toDT"/></div>
     <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
            <iframe id="myReport"  class="reportviewr"></iframe>
           
    </body>
</html>