﻿@{
    ViewBag.Title = "Tax Register";
}


         <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
<script>

    $(document).ready(function () {
        $(function () {

            @*EMPHCS1742: MultiSelection Check box in Dropdown in Purchase ,Sales,Returs,& Taxation Reports by GNANESHWAR IN 27/5/2016*@ 
	    var mylist_op = new MSDList("mylist_OP");
            mylist_op.render();
            var mylist_b = new MSDList("mylist_B");
            mylist_b.render();
            if('@ViewBag.projectval'=="True"){
            var mylist_p = new MSDList("mylist_P");
            mylist_p.render();
            }
            FormLoadActions();
        });
        $(function () {
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
            var Brand = $(".MSDList").find('input[name=mylist_B]').val();
            var Project = $(".MSDList").find('input[name=mylist_P]').val();

            if (Project == undefined) Project = "";
            var opunitst = '@Session["OPUnitstatus"]';
            if (opunitst != null && opunitst != '') {
                OperatingUnit = '@Session["OPUnit"]';
                    $("#OperatingUnit").val(OperatingUnit);
                }
            document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=VatInfo&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "&Brand=" + Brand + "";
        });
        $("#btnDisplay").live("click", function () {
            var FDate = $("#frmDT").val();
            var TDate = $("#toDT").val();
            var OperatingUnit = $(".MSDList").find('input[name=mylist_OP]').val();
            var Brand = $(".MSDList").find('input[name=mylist_B]').val();
            var Project = $(".MSDList").find('input[name=mylist_P]').val();
            if (Project == undefined) Project = "";
            document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=VatInfo&FDate=" + FDate + "&TDate=" + TDate + "&OperatingUnit=" + OperatingUnit + "&Project=" + Project + "&Brand=" + Brand + "";
        });


    });
</script>
<body>
    <div class="rowCont bottomRowContentFB" id="reportheader">
        <div class="reportdiv"></div>
           <div class="reportdiv">
            <div class="reportlbl">Operating Unit</div>
 </div>
            @*@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new { @id = "OperatingUnit", @class = "reportddl" })*@

       <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_OP" >
                   @foreach (var OperatingUnit in (SelectList)ViewData["OperatingUnit"])
                   {
                       <option value = "@OperatingUnit.Value"  > @OperatingUnit.Text   </option>
                      
                   }
            </select>
              </div>
           <div class="reportdiv">
            <div class="reportlbl">Brand</div>
         </div> 
          @*<div class="txt">@Html.DropDownList("Brand", new SelectList((SelectList)ViewData["Brand"], "Value", "Text"), "--Select--", new { @id = "Brand", @class = "reportddl" })</div>*@
        
        <div class="reportdiv">
          
        <select  multiple="multiple" id="mylist_B" >
                   @foreach (var Brand in (SelectList)ViewData["Brand"])
                   {
                       <option value = "@Brand.Value"  > @Brand.Text   </option>
                      
                   }
            </select>
              </div>
@if(ViewBag.projectval==true)
            {
          <div class="reportdiv"> 
            <div class="reportlbl">  Project</div> 
           </div>
          <div class="reportdiv">
              
        <select  multiple="multiple" id="mylist_P" >
                   @foreach (var Project in (SelectList)ViewData["Project"])
                   {
                       <option value = "@Project.Value"  > @Project.Text   </option>
                      
                   }
            </select>
          @*@Html.DropDownList("Project", new SelectList((SelectList)ViewData["Project"], "Value", "Text"), "--Select--", new { @id = "Project", @class = "reportddl" })*@

          </div>
    
        }

        <div class="reportdiv">
            <div class="reportlbl">From Date</div>
            <input id="frmDT" name="frmDT"   class="reportdate reporttxt"  type="text"   value="@ViewBag.frmDT"/></div>
        <div class="reportdiv">
            <div class="reportlbl">To Date</div>
            <input class="reportdate reporttxt" id="toDT"  name="toDT"    type="text"  value="@ViewBag.toDT"/></div>
        <div class="reportbutton">
            <input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    </div>
    <iframe id="myReport" class="reportviewr"></iframe>
</body>

