﻿@{
    ViewBag.Title = "Vendor Register";
}

<html>
<head>
    <script>

        $(document).ready(function () {
            $(function () {
                var Vendor = $("#Vendor").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=VendorRegister&Vendor=" + Vendor + "";
            });
            $("#btnDisplay").live("click", function () {
                var Vendor = $("#Vendor").val();
                document.getElementById("myReport").src = "../../Content/WebForm1.aspx?ReportName=VendorRegister&Vendor=" + Vendor + "";
            });
        });
    </script>
</head>
    <body>
  <div class="rowCont bottomRowContentFB" id="reportheader" ><div class="reportdiv">
    <div class="reportlbl">  Vendor</div> @Html.DropDownList("Vendor", new SelectList((SelectList)ViewData["Vendor"], "Value", "Text"), "--Select--", new { @id = "Vendor",@class="reportddl"})</div>
      <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div></div>
 <iframe id="myReport" class="reportviewr" ></iframe>
    </body>
</html>

