@model List<MeBizSuiteAppUI.Controllers.FormBuildClass>
@{
    ViewBag.Title = @Session["FormName"];
        }
<html>
<head>
    <script src="~/jQuery/Manufacture.js"></script>

    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>FormBuild</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>

    <div id="createForm"></div>
    <div id="my-dialog"></div>
   <div id="newDialog"></div>
   <div id="newMDialog"></div>
     <div id="multiuom"  style="font-size:11.5px;"></div>
      <script type="text/javascript">
          var $i=jQuery.noConflict();
          $i(document).ready(function () {
              debugger
              //Date Picker
              dateupdate('@Session["ReportDate"]');
              //Tabs
              $i("#tabs").tabs();
             
              
              //Details Filling in Grid
              if( $i("#grdData")[0]){debugger
                  var jarray=@Html.Raw(Json.Encode(ViewBag.gitemsdata));
                  var jarray1=@Html.Raw(Json.Encode(ViewBag.bgitemsdata));
                  var jarray2=@Html.Raw(Json.Encode(ViewBag.PTitemsdata));
                  var jarray3=@Html.Raw(Json.Encode(ViewBag.Titemsdata));
                  var jarray4=@Html.Raw(Json.Encode(ViewBag.TPitemsdata));
                  var jarray5=@Html.Raw(Json.Encode(ViewBag.uniquecols));
                  var jarray6=@Html.Raw(Json.Encode(ViewBag.lotcols));
				  //EMPHCS1837 rajasekhar reddy patakota 30/11/2016 Project wise tracking in Opportunity and job order screens
                  
                  DetailsFillGrid('@Session["id"]', jarray, jarray1, jarray2, jarray3, jarray4, jarray5, jarray6, "", "", "");
                  
              }
              //form load actions
              EditLoadEnableDisable('@Session["id"]');  
              //expense balance calculation
              $i("#FITABLE012COLUMN24").on("change", function () {
                  ExpenseBalance($i("#FITABLE012COLUMN06").val(), $i(this).val());
              });
              //Item  Sales for Checked 
              $i("#MATABLE007COLUMN49").click(function () {
                  var checkval = $i(this).is(':checked');
                  ItemSalesCheck(checkval );
              }); 
              //Item  Purchase is Checked 
              $i("#MATABLE007COLUMN56").click(function () {
                  var checkval = $i(this).is(':checked');
                  ItemPurchaseCheck(checkval );
              });
              //Advance Cheque Amount Calculation
              $i("[id*=FITABLE022COLUMN05]").live("change", function () {
                  ChequeCalculation($i(this).parent().parent(), $i(this).val());
              });
              //job Order Header Level Tax 111
              //$i("[id*=SATABLE005COLUMN31]").live("change", function () {
                  $i("#SATABLE005COLUMN31").change("change", function () {
                  debugger
                  SOTAXCalculations();
              });
              //Advance Cheque Amount Calculation on dropdownselection
              $i("[id*=FITABLE020COLUMN17]").live("change", function () {
                  ChequeCalculationdrop();
              });
              //Issue Cheque Payee Selection
              $i("#FITABLE020COLUMN11").change("change", function () {
                  ddlSelectPayBillType($i(this).val(), '@Session["id"]');
              });
              //Issue Cheque Balance Amount
              $i("#FITABLE020COLUMN06").change("change", function () {
                  BalanceAmount($i(this).val());
              });
              //Expense Amount Calculation
              $i("[id*=FITABLE021COLUMN04]").live("change", function () {
                  ExpenseCalculation($i(this).parent().parent(), $i(this).val());
              }); 
              //expense balance calculation
              $i("#FITABLE012COLUMN21").on("change", function () {
                  ExpenseBalanceCalculation( $i(this).val());
              });
			  //EMPHCS685 Rajasekhar Patakota 18/7/2015 UPC Search in Bill Edit and add new row feild	
              //Bill Item Details 
              $i("#PUTABLE006COLUMN04").live("change", function () {
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');
              });
              //bill Order Qty
              $i("[id*=PUTABLE006COLUMN07]").live("change", function () {
                  BillOrderQty($i(this).parent().parent(), '@Session["id"]');
              });
              //PO bill quantity Calculations
              $i("[id*=PUTABLE006COLUMN09]").live("change", function () {
                  //POBillCalculations($i(this).parent().parent());
                  POBillQuantityCalculations($i(this).parent().parent(),'Edit');
              });
              //Bill Price Calculations Details
              $i("[id*=PUTABLE006COLUMN11]").live("change", function () {
                  //POBillPriceCalculations($i(this).parent().parent());
                  POBillTaxCalculations($i(this).parent().parent());
              });
              //PO bill tax Calculations
              $i("[id*=PUTABLE006COLUMN18]").live("change", function () {
                  BillLineTax($i(this).parent().parent());
              });
              //BILL Tax Amount
              $i('#PUTABLE005COLUMN23').live("change", function () { BillTaxLineLevelCalculations(); });
              $i('#SATABLE005COLUMN10').on("change", function () { PAYMENTTERMSCHANGE($i(this).val(),'@Session["id"]')});
              //Item Receipt Line Quantity Calculation
              $i("[id*=PUTABLE004COLUMN08]").live("change", function () {
                  ItemReceiptLineQuantity($i(this).parent().parent(), '@Session["id"]');
             });
              ////po Line Quantity Calculation
              //$i("[id*=PUTABLE002COLUMN07]").live("change", function () {
              //    POLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
              //});
              ////Po Line Calculation For Price
              //$i("[id*=PUTABLE002COLUMN09]").live("change", function () {
              //    POLinePriceCalculation($i(this).parent().parent(), $i(this).val());
              //});
              ////po Line Discount Calculation
              //$i("[id*=PUTABLE002COLUMN10]").live("change", function () {
              //    POLineDiscountCalculation($i(this).parent().parent(), $i(this).val());
              //});
              //po Line Quantity Calculation
              $i("[id*=PUTABLE002COLUMN07]").live("change", function () {
                  POLineQuantityCalculation($i(this).parent().parent());
              });
              //Po Line Calculation For Price
              $i("[id*=checkRow]").live("change", function () {
                  var tr=$i(this).parent().parent();
                  if('@Session["id"]'=="1251"){
                      var price=$i(tr).find("[id*=PUTABLE002COLUMN07]").val();
                      POLineQuantityCalculation(tr, price);}
                  else if('@Session["id"]'=="1273"){
                      POBillTaxCalculations(tr);}
                  else if('@Session["id"]'=="1275"||'@Session["id"]'=="1283"){
                      SOLineQuantityTaxCalculation(tr);}
                  else if('@Session["id"]'=="1277"){
                      SOInvoiceTaxCalculations(tr);}
                  else if('@Session["id"]'=="1353"){
                      SOEditLineTax(1353);
                      SOLineQuantityTaxCalculation(tr);
                  }
                  else if('@Session["id"]'=="1355"){
                      SOEditLineTax(1355);}
                  @*else if('@Session["id"]'=="1251"){
                      SOEditLineTax(1251);}*@
                  else if('@Session["id"]'=="1328"){
                      POLineQuantityCalculation(tr);}
                  else if('@Session["id"]'=="1330"){
                      SOLineQuantityTaxCalculation(tr);}
              });
              //po Line Discount Calculation
              $i("[id*=PUTABLE002COLUMN10]").live("change", function () {
                  POLineQuantityCalculation($i(this).parent().parent());
              });
              //Po Line Calculation For Price
              $i("[id*=PUTABLE002COLUMN09]").live("change", function () {
                  POLineQuantityCalculation($i(this).parent().parent());
              });
              //po Line Tax Calculation
              $i("[id*=PUTABLE002COLUMN25]").live("change", function () {
                  LineTax($i(this).parent().parent())
              });
              //PO Tax Amount
              $i('#PUTABLE001COLUMN31').on("change", function () {  POTAXCalculations() });
              //Item Receipt Line Quantity Calculation
              $i("[id*=PUTABLE004COLUMN08]").live("change", function () {
                  ItemReceiptLineQuantity($i(this).parent().parent(), '@Session["id"]');
             });
              //Po Line Calculation For Hostid
              $i("[id*=PUTABLE001COLUMN21]").live("change", function () {
                  PoLineHostid($i(this).parent().parent(), $i(this).val());
              });
              //Po Payment Calculations
              $i("[id*=PUTABLE015COLUMN06]").live("change", function () {
                  POPaymentCalculations($i(this).parent().parent());
              });
              //PWO Line Quantity Calculation
              $i("[id*=PRTABLE006COLUMN06]").live("change", function () {
                  PWOLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
              });
              //PWO Line Price Calculation
              $i("[id*=PRTABLE006COLUMN09]").live("change", function () {
                  PWOLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
              });
              //Project Work Order Project Selection
              $i("#PRTABLE005COLUMN08").live("change", function () {
                  ddlSelectProjectWorkOrder($i(this).val(),  '@Request["FormName"]',  null);
              });
              //Item Receipt Po Selection
              $i("#PUTABLE003COLUMN06").change("change", function () {
                  if ('@Session["id"]' == 1286) { ddlSelectJOR($i(this).val(), '@Request["FormName"]'); }
                 else { ddlSelect($i(this).val(), '@Request["FormName"]'); }
             });
              //Bill Po Selection
              $i("#PUTABLE005COLUMN06").change("change", function () {
                  ddlSelect1($i(this).val());
              });
              //Pay Bill Po Selection
              $i("#PUTABLE014COLUMN06").change("change", function () {
                  ddlSelect2($i(this).val(), '@Request["FormName"]');
             });
              //Pay Bill RefBill Selection
              $i("#PUTABLE014COLUMN07").change("change", function () {
                  ddlSelect3($i(this).val(), '@Request["FormName"]');
                 EditLoadEnableDisable();
             }); //Custom Form Load
              $i('#FormName').change("change", function () {
                  CustomFormLoad('@Request["FormName"]',$i(this).val());
             });
              //Po Header CheckBox Selection
              $i('#PUTABLE001COLUMN07').click(function () {
                  var checkval = $i(this).is(':checked');
                  POCheckBox(checkval);
              });
              //Sales Order Header Checkbox Selection
              $i('#SATABLE005COLUMN07').click(function () {
                  var checkval = $i(this).is(':checked');
                  SOCheckBox(checkval);
              }); 
              //opertunity Line Quantity Calculation
              $i("[id*=SATABLE014COLUMN06]").live("change", function () {
                  OPLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
                  opTotalCalculation($i(this).parent().parent());  
              });
              //opertunity Line Price Calculation
              $i("[id*=SATABLE014COLUMN07]").live("change", function () {
                  OPLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
                  opTotalCalculation($i(this).parent().parent());  
              });
              //opertunity Line Discount Calculation
              $i("[id*=SATABLE014COLUMN11]").live("change", function () {
                  OPLineDiscountCalculation($i(this).parent().parent(), $i(this).val());
                  opTotalCalculation($i(this).parent().parent());
              });
              $i('#Vendormail').click(function () {
                  var vendor=$i('#PUTABLE001COLUMN05 :selected').text();
                  $.session.set("venorname",vendor)
                  window.location.href = "/SendMailer/Index?FormName=Email&Vendorref="+$i("#PUTABLE001COLUMN05").val()+"&idi=2979";
              }); 
              //new row click
              $i('#newrow').live("click", function () {
	      if('@Session["id"]'==1586){
	      //EMPHCS1784	Job Order for IN Process 15/7/2016
                  newrowclickevent('@Session["id"]', '@Request["FormName"]');}
		  else{
		  editnewrowclick('@Session["id"]', '@Request["FormName"]');
		  }
              });
              //Purchase Order Item Details 
              $i("#PUTABLE002COLUMN03").live("change", function () {                  
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');
              });
              //EMPHCS684 done by srinivas 7/17/2015
              //Sales Order Item Details 
              $i("#SATABLE006COLUMN03").live("change", function () {                  
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');
                  ddlSelectItemLot($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');
              });
              $i("[id*=SATABLE006COLUMN17]").live("change", function () {
                  var tr=$i(this).parent().parent();
                  $i(tr).find("#SATABLE006COLUMN07").val("");$i(tr).find("#SATABLE006COLUMN07").focus();
                  if($(tr).find("#SATABLE006COLUMN03").val()!=null)  LotWisePrice(tr, '@Session["id"]', '@Request["FormName"]');
              });
              $i("[id*=SATABLE006COLUMN33]").live("focus", function () {debugger
                  SOInvoiceUOMCheck($i(this).parent().parent(), '@Request["FormName"]');
               });
              function SOInvoiceUOMCheck(tr, FormName) {
                  var SOItemID = $i(tr).find("#SATABLE006COLUMN03").val();
                   if(SOItemID!=undefined){ ItemID = $i(tr).find("#SATABLE006COLUMN03").val();
                      opunit = $i("#SATABLE005COLUMN24").val();}
                  $i.ajax({
                      url: "/JobOrder/SOInvoiceUOMCheck?FormName=" + FormName + "",
                      type: "POST",
                      contentType: "application/json",
                      data: JSON.stringify({ ItemID: ItemID, uom: 0, opunit: opunit }),
                      success: function (data) {
                          if (data.Data == "True") {
                              $i("#multiuom").dialog({
                                  autoOpen: false,
                                  title: "Tracking Multi UOM",
                                  modal: true,
                                  width: 800,
                                  height: 300, resizable: false,
                                  closeOnEscape: true
                              })
                              $i('#multiuom').dialog('open');
                              $i("#multiuom").show(); 
                              $i(tr).find("[id='checkRow']").attr('itemid',1);
                              var FormName=$i("#FormName").val();FormName=FormName.replace(" ","%")
                              $i("#multiuom").load("/JobOrder/JobberTrackingMultiUOM?Item=" + ItemID + "&OU=" + opunit + "&FormName=" + FormName + "&ide=" + '@Request["ide"]' + "");
                          }}
                  })
              }
              //Sales Order Line Level Tax
              $i("[id*=SATABLE006COLUMN26]").live("change", function () {
                  SOLineTax($i(this).parent().parent());
              });
              //Sales Order Price 
              $i("[id*=SATABLE006COLUMN24]").live("change", function () {
                  SOPrice($i(this).parent().parent());
                  //SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
	      //EMPHCS1784	Job Order for IN Process 15/7/2016
              $i("#PUTABLE002COLUMN03").live("change", function () {
                  debugger
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Session["FormName"]');
               });
              //EMPHCS794   Packing and Shipping Charges Calculation in Sales Order and Invoice  and capturing values in  delivery & Package  ----by Raj.jr 30/7/2015
              $i("[id*=SATABLE005COLUMN41]").live("change", function () {
                  SOTaxLevelCalculations();SOTAXCalculations();
              });
              //EMPHCS794   Packing and Shipping Charges Calculation in Sales Order and Invoice  and capturing values in  delivery & Package  ----- by Raj.jr 30/7/2015
              $i("[id*=SATABLE005COLUMN42]").live("change", function () {
                  SOTaxLevelCalculations();SOTAXCalculations();
              });
              //cancel row click
              $i('#cancelrow').live("click", function () {
                  var tr=$i(this).parent().parent();
				  //EMPHCS684 Rajasekhar Patakota 18/7/2015 Quantity Calculations	
                  @*if('@Session["id"]'=="1251"){
                      var price=$i(tr).find("[id*=PUTABLE002COLUMN07]").val();
                      POLineQuantityCalculation(tr, price);}
                  else if('@Session["id"]'=="1275"){
                      SOLineQuantityTaxCalculation(tr);}*@
                  cancelrowclickevent('@Session["id"]');
              });
              //Form Save Event
              $i("#saveformEdit").click(function (event){
                  EditTransaction('@Request["ide"]',@Html.Raw(Json.Encode(ViewBag.NewCols)),  '@Request["FormName"]',  '@Session["id"]');
                 @*saveformEdit('@Request["FormName"]',@Html.Raw(Json.Encode(ViewBag.NewCols)), '@Session["id"]');*@
             });
              //Delete Transaction
              $i("#btnDelete").on("click", function () {
                  DeleteTransaction('@Request["ide"]',  '@Request["FormName"]',  '@Session["id"]');
              });
              //Sales Order Item Issue Sales Order ddl Selection
             $i("[id*=SATABLE007COLUMN06]").change("change", function () {
                 ddlSelectII($i(this).val(), '@Request["FormName"]');
                 EditLoadEnableDisable();
             });
	     //EMPHCS1784	Job Order for IN Process 15/7/2016
	     $i("[id*=PUTABLE002COLUMN25]").live("change", function () {
                  LineTax($i(this).parent().parent())
              });
	      $i("[id*=PUTABLE001COLUMN31]").live("change", function () {
                  POTAXCalculations();
              });
	      $i("[id*=PUTABLE002COLUMN07]").live("change", function () {
                  var formid='@Session["id"]';
                  JO_IN_LineQuantityCalculation($i(this).parent().parent());
               });
              $i("[id*=PUTABLE002COLUMN09]").live("change", function () {
                  var formid='@Session["id"]';
                  JO_IN_LineQuantityCalculation($i(this).parent().parent());
              });
              $i("#PUTABLE001COLUMN05").change("change", function () {
               ddlSelectCustomer($i(this).val(), '@Request["FormName"]', '@Session["id"]'); 
              });
              //Sales Order Invoice Sales Order ddl Selection
              $i("#SATABLE009COLUMN06").change("change", function () {
                  if ('@Session["id"]' == 1287) { ddlSelectJOB($i(this).val(), '@Request["FormName"]'); }
                 else { ddlSelectIV($i(this).val(), '@Request["FormName"]'); }
             });
              //so Payment Calculations
              $i("[id*=SATABLE012COLUMN06]").live("change", function () {
                  SOPaymentCalculations($i(this).parent().parent());
              });
              //Sales Order PayMent Sales Order ddl Selection
              $i("[id*=SATABLE011COLUMN06]").live("change", function () {
                  if ('@Session["id"]' == 1288) {
                     ddlSelectJOPM($i(this).val(), "0", '@Request["FormName"]');
                 }
                 else {
                     ddlSelectPM($i(this).val(), "0", '@Request["FormName"]');
                 }
             });
              //Available Qty
              $i("[id*=SATABLE008COLUMN03]").live("change", function () {
                  availableqty($i(this).parent().parent());
              });
              @*//Sales Order Invoice Line level Qunatity Calculation
              $i("[id*=SATABLE010COLUMN10]").live("change", function () {
                  InvoiceQunatityCalculation($i(this).parent().parent(), '@Session["id"]');
             });*@
              //Sales Order Invoice Line level Discount Calculation
              $i("[id*=SATABLE010COLUMN19]").live("change", function () {
                  //InvoiceQunatityCalculation($i(this).parent().parent(), '@Session["id"]');
                  SOInvoiceTaxCalculations($i(this).parent().parent());
              });
              //Sales Order Invoice Line level Qunatity Calculation
              $i("[id*=SATABLE010COLUMN10]").live("change", function () {
                  //InvoiceQunatityCalculation($i(this).parent().parent(), '@Session["id"]');
                  SOInvoiceTaxCalculations($i(this).parent().parent());
              });
              //Sales Order Invoice Line level Price Calculation
              $i("[id*=SATABLE010COLUMN13]").live("change", function () {
                  if ('@Session["id"]' == 1287)
                  {InvoiceLinePriceCalculation($i(this).parent().parent(),$i(this).val()); 
                      BillServicesCalculations(); } else { 
                      //InvoiceCalculations(); 
                      SOInvoiceTaxCalculations($i(this).parent().parent());
                  }
              });
              //Sales Order Invoice Line level Tax Calculation
              $i("[id*=SATABLE010COLUMN21]").live("change", function () {
                  //InvoiceQunatityCalculation($i(this).parent().parent(), '@Session["id"]');
                  SOInvoiceLineTax($i(this).parent().parent());
              });
              //EMPHCS737 type of price calculation in edit mode done by Rajasekhar.jr 22/07/2015
              //Invoice Price 
              $i("[id*=SATABLE010COLUMN20]").live("change", function () {
                  InvoicePrice($i(this).parent().parent());
                  
              });
              //Invoice Header Tax Calculation
              $i('#SATABLE009COLUMN23').live("change", function () {
                  if ('@Session["id"]' == 1287)
                  { BillServicesCalculations(); } 
                  else { SOInvoiceTaxLineLevelCalculations(); }
              });
              //Invoice Item Selection
              $i("[id*=SATABLE010COLUMN03]").live("change", function () {
                  InvoiceItem($i(this).parent().parent(), '@Request["FormName"]');
              });
			  //EMPHCS686 Rajasekhar Patakota 18/7/2015 UPC Search in Invoice Edit and add new row feild	
              //Invoice Itemdetails 
              $i("#SATABLE010COLUMN05").live("change", function () {
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');
              });
              //Sales Order Item Issue Line level Qunatity
              $i("[id*=SATABLE008COLUMN09]").live("change", function () {
                  ItemIssueQuantity($i(this).parent().parent());
              });
              //Sales Order Discount
              //$i("[id*=SATABLE006COLUMN10]").live("change", function () {
              //    SOLineDiscountCalculation($i(this).parent().parent(), $i(this).val());
              //    TotalCalculation($i(this).parent().parent());
              //});
              ////Sales Order Price
              //$i("[id*=SATABLE006COLUMN09]").live("change", function () {
              //    SOLinePriceCalculation($i(this).parent().parent(), $i(this).val());
              //    TotalCalculation($i(this).parent().parent());
              //});
              //Sales Order Quantity
              //$i("[id*=SATABLE006COLUMN07]").live("change", function () {
              //    SOLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
              //    TotalCalculation($i(this).parent().parent()); Calculations();
              //});
              //Sales Order Price 
              $i("[id*=SATABLE006COLUMN24]").live("change", function () {
                  //SOPrice($i(this).parent().parent());
                  SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
              //Sales Order Price
              $i("[id*=SATABLE006COLUMN09]").live("change", function () {
                  //SOLinePriceCalculation($i(this).parent().parent(), $i(this).val());
                  //TotalCalculation($i(this).parent().parent());
                  SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
              //Sales Order Quantity
              $i("[id*=SATABLE006COLUMN07]").live("change", function () {
                  //SOLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
                  //TotalCalculation($i(this).parent().parent()); Calculations();
                  SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
              //Sales Order Discount
              $i("[id*=SATABLE006COLUMN10]").live("change", function () {
                  //SOLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
                  //TotalCalculation($i(this).parent().parent()); Calculations();
                  SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
              //Sales Order Line Level Tax
              $i("[id*=SATABLE006COLUMN26]").live("change", function () {
                  SOLineTax($i(this).parent().parent());
              });
			  //EMPHCS685 Rajasekhar Patakota 18/7/2015 UPC Search in Bill Edit and add new row feild	
              //UPCSearch Details
              $i("[id*=UPCSearch]").live("change", function () {
                  var formid='@Session["id"]'; 
                  if(formid=="1379")
                  {
                      ddlStockTransfer($i(this).parent().parent(),$i(this).val(),  '@Request["FormName"]');
                  }else if(formid=="1322")
                  {
@*                      ddlStockTransfer($i(this).parent().parent(),$i(this).val(),  '@Request["FormName"]');*@
                  }else{
                      UPCSearchDetails($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');}
              });
          });
         //Destroy Session
         session();
     </script>
</head>
<body>
    <div class="rowCont">
        <div id="ddl" class="rowCont bottomRowContentFB">
             <div class="bottomColFB">
    @if (@Model[0].Action != "N")
    {
                        <div class="labelTxtFB">@Html.Label("Form  ")</div>
                       <div class="bottomInputFieldFB"> @Html.DropDownList("Forms", new SelectList(ViewBag.ddl, selectedValue: ViewBag.selected), htmlAttributes: new { id = "FormName" })
    </div>}
        @{var id = @Model[1].Field_Name; var idPrint = Model.Where(a => a.Field_Name == id).Select(b => b.Default_Value).FirstOrDefault();
          var formid = Model.Where(a => a.Field_Name == id).Select(b => b.Form_Id).FirstOrDefault();}</div> 
             <div class="bottomColFB1">
                 <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ; session(); " />
      </div>  
            <div class="bottomColFB1">  <input type="button" id="saveformEdit"  name="Save" value="Save" class="buttonclass"/>
       </div>
          <div class="bottomColFB1"><input type="button" name="Delete" id="btnDelete" value="Delete" @*onclick="@("window.location.href='" + @Url.Action("Delete", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ;"*@   class="buttonclass"/>
        </div>
        
                @if (formid == 1378)
                {
            <div class="bottomColFB1">
                     <input type="button" class="buttonclass" id="btnProjectWorkOrder" value="Project Work Order"  onclick="@("window.location.href='" + @Url.Action("FormBuild", "FormBuilding", new { FormName = Session["PForms"], ide = @Request["ide"] }) + "'")    ;" /></div> 
                }
        </div> 

             <div id="FormData" class="bodyFBContent">
@using (Html.BeginForm("Edit", "JobOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var m = Model.Where(a => a.Section_Type != "Tab" && a.Section_Type != "Table" && a.Section_Type != "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
    //var viewModel = from o in Model.Where(a=>a.Table_Id==a.Column_Mapping.TID).ToList();
    int co = 0, c1 = 0, coT = 0; var invoiceso = @m.Where(a => a.Field_Name == "SATABLE009COLUMN06").FirstOrDefault();
    <div class="divRow" id="FormData">
         <div > 
               <div  class="mainRow" id="@m[0].Section_Name"  >
    @for (int q = 1; q < m.Count; q++)
    {

        if ((ViewBag.header != @m[q].Section_Name))
        {
            for (int y = 0; y <= q; y++)
            {
                if ((@m[q].Section_Name == @m[y].Section_Name) && (y != 0 && q != 0 && y != q))
                {
                    if ((co % 3 == 0))
                    { 
                     @:</div><div  class="mainRow"  id="@m[q].Section_Name" >
                         co = 3;
                    }
                    else
                    {

                    }
                    break;
                }
                else if (y == q)
                {
                                        @:</div>@if (@m[q].Section_Name != null && @m[q].Section_Name != "")
                                                {<div id="@m[q].Section_Name" class="bodyFBCon"> @m[q].Section_Name </div>} <div  class="mainRow"  id="@m[q].Section_Name" >  
                  co = 0;
                }
            }
        }
        else
        {
            if ((co % 3 == 0))
            { 
            @:</div><div  class="mainRow"  id="@m[q].Section_Name" > 
                co = 0;
            }
        }
        co++;
        ViewBag.header = m[q].Section_Name;

        if (m[q].Control_Type == "TextBox")
        {
            
              <div class="mainRowCon" id="@m[q].Section_Name" >
                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)
                    @if (@m[q].Mandatory == "Y")
                    {<label  class="astric"> *</label>}
                </div>

                <div class="txt"  id="@m[q].Section_Name"  > <input id=" @m[q].Field_Name" pattern="@m[q].Mandatory" itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtclass" type="text" value="@m[q].Default_Value"   /></div>
                </div>
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              
        }
        else if (m[q].Control_Type == "LinkLabel")
        {  <div class="mainRowCon" id="@m[q].Section_Name" >
           <div class="lbl"  id="@m[q].Section_Name"  > @*@Html.DisplayFor(a => m[q].Label_Name)*@</div>

                <div class="txt"  id="@m[q].Section_Name"  >  
                    <a href="/JobOrderIssue/NewForm?FormName=@Session["PForms"]&ide=@Session["ide"]">@Session["PForms"]</a> <input id=" @m[q].Field_Name"  name="@m[q].Label_Name"  type="hidden" value="@ViewBag.fname"  />
                </div> </div>
        }
        else if (m[q].Control_Type == "TextArea")
        {
              <div class="mainRowCon" id="@m[q].Section_Name" >
               <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)
                    @if (@m[q].Mandatory == "Y")
                    {<label class="astric"> *</label>}
                </div>

                <div class="txt"   id="@m[q].Section_Name"  > <textarea id=" @m[q].Field_Name" pattern="@m[q].Mandatory"  itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtclass" rows="1"  >@m[q].Default_Value</textarea></div>
                </div>
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              
        }
        else if (m[q].Control_Type == "Image")
        {
              <div class="mainRowCon" id="@m[q].Section_Name" >
                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  >
                     <input type="file" id="@m[q].Field_Name"   itemid="@m[q].Data_Type"   name="@m[q].Label_Name" value="@m[q].Default_Value"  />
                    @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div></div>
              
        }
        else if (m[q].Control_Type == "Label")
        {
              <div class="mainRowCon" id="@m[q].Section_Name" >
               <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  >
                 <label id=" @m[q].Field_Name">@m[q].Default_Value</label>  <input id=" @m[q].Field_Name"  name="@m[q].Label_Name"  type="hidden" value="@m[q].Default_Value"  />    
                </div> </div>
             
        }
        else if (m[q].Control_Type == "CheckBox")
        {  
                <div class="mainRowCon" id="@m[q].Section_Name" >
                 <div class="lbl"  id="@m[q].Section_Name"  >  @Html.DisplayFor(a => m[q].Label_Name)</div>

              <div class="txt"  id="@m[q].Section_Name" >
              @if (@m[q].Default_Value == "True")
              {
        
                                <input type="checkbox" class="chkclass"  id=" @m[q].Field_Name" name="@m[q].Label_Name" value="True" checked="checked" />
        
              }

              else
              {
        
                                <input type="checkbox" class="chkclass" id=" @m[q].Field_Name"  name="@m[q].Label_Name" value="False"  />
        
              }
              </div> </div>
        }
        else if (m[q].Control_Type == "DropDownList")
        {  
                <div class="mainRowCon" id="@m[q].Section_Name" >
               <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)
                   @if (@m[q].Mandatory == "Y")
                   {<label class="astric"> *</label>}
               </div>

               <div class="txt" id="@m[q].Section_Name"  >
                   @Html.DropDownList(@m[q].Label_Name, null, "--Select--", new { @class = "ddlclass  ddl", @id = @m[q].Field_Name, @itemid = @m[q].Mandatory })
                   @*@Html.DropDownList("Forms", new SelectList(ViewBag.ddl, selectedValue: ViewBag.selected), htmlAttributes: new { id = "FormName" })*@
               </div> </div>

    
        }
        else if (m[q].Control_Type == "RadioButton")
        {   
               <div class="mainRowCon" id="@m[q].Section_Name" >
             <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div class="txt" id="@m[q].Section_Name"  ><input id=" @m[q].Field_Name" name="@m[q].Label_Name" type="radio" class="rdoclass" value="@m[q].Default_Value"  /></div>
        </div>
      
        }
        else if (m[q].Control_Type == "RadioButtonList")
        {   
            <div class="mainRowCon" id="@m[q].Section_Name" >

               <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div class="txt" id="@m[q].Section_Name"  >
                   @if (@Session["id"].ToString() == "1377")
                   {
                <input name="@m[q].Label_Name" id="ItemRadio"  type="radio" value="Item">
                <label for="Payable">Item</label>
                <input  name="@m[q].Label_Name" id="VendorRadio"  type="radio" value="Vendor" checked="checked">
                <label for="Receivable">Vendor</label>
                   }
                   else if (@Session["id"].ToString() == "1293")
                   {
                <input name="@m[q].Label_Name" id="ExpensePay"  type="radio"  value="Payable">
                <label for="Payable">Payable</label>
                <input  name="@m[q].Label_Name" id="ExpenseReceive"  type="radio" value="Receivable">
                <label for="Receivable">Receivable</label>}
                   else
                   {
                <input name="@m[q].Label_Name" id=" @m[q].Field_Name"  type="radio" checked="checked" value="Payable">
                <label for="Payable">Payable</label>
                <input  name="@m[q].Label_Name" id=" @m[q].Field_Name"  type="radio" value="Receivable">
                <label for="Receivable">Receivable</label>}
               </div>

        </div>
        }
        else if (m[q].Control_Type == "DatePicker")
        {   
               <div class="mainRowCon" id="@m[q].Section_Name" >
             <div class="lbl"   id="@m[q].Section_Name" >@Html.DisplayFor(a => m[q].Label_Name)
                @if (@m[q].Mandatory == "Y")
                {<label class="astric"> *</label>}
            </div>
                    @{string headerdate = null; 
                     if (m[q].Default_Value != null && m[q].Default_Value != "") 
                     {
                         headerdate = Convert.ToDateTime(m[q].Default_Value).ToString(ViewBag.Dateformat);
                         if (ViewBag.Dateformat == "")
                         {
                             headerdate = Convert.ToDateTime(m[q].Default_Value).ToShortDateString();
                         }
                     }
                     }
              <div class="txt"  id="@m[q].Section_Name"  ><input name="@m[q].Label_Name" type="text"  value="@headerdate" class="date" readonly="true" /></div>
        </div>
        }
    }
   </div>
  </div> 
       </div>
    //EMPHCS684 done by srinivas 7/17/2015
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    var m3 = @Model.Where(a => (a.Section_Type == "Item Level" && a.Section_Type != "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderBy(q => q.Tab_Index).ToList();
    var m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" || a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderBy(a => a.Section_Name).ToList();
    var m4 = @Model.Where(a => (a.Section_Type == "Table") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();
    
    
    <div id="tabs" class="fbTabCon">
          
          @if (m1.Count > 0 || m3.Count > 0)
          {
        <ul>
        
        @foreach (var tab in ViewBag.Tabs)
        {

            //var TabCount = m1.Where(a => a.Section_Name == tab).Count();
        
         <li>
             <a class="" href=#@tab >@tab</a>&nbsp;
         </li>
        
        }
             @if (Session["DDDynamicItems"] != "DDDynamicItems")
             {
         <span class="newTabFB">
             <input type="button" class="buttonclassTab" id="btnNewTab"  value="New Tab" onclick="@("window.location.href='" + @Url.Action("AddNewTab", "JobOrder", new { FormName = Request["FormName"] }) + "'")" >&nbsp;
         </span>
             }
         </ul> 
       <div class="fbBodyFoter">
        @{
             var fnaame = ViewBag.EFormName;
             var gridT = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
             List<WebGridColumn> InlinecolumnsT = new List<WebGridColumn>();
             if (ViewBag.GridDynamicData != null)
             {
                 gridT.Bind(ViewBag.GridDynamicData, autoSortAndPage: false);
                 foreach (var Inline in ViewBag.GridDynamicDataC)
                 {
                     if (fnaame == "")
                     {
                         InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                     }
                     else
                     {
                         if (Inline == "COLUMN02")
                         {
                             InlinecolumnsT.Add(new WebGridColumn()
                             {
                                 ColumnName = Inline,
                                 Header = "ID",
                                 Format =@<text>@Html.ActionLink(((string)item.AA).ToString(), "Edit", "JobOrder", new { ide = item.AA, FormName = ViewBag.EFormName, tblIDE = ViewBag.TableIDE }, htmlAttributes: new { })</text>
                             });
                         }
                         else
                         {
                             InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                         }
                     }
                 }
             }
             var grid = new WebGrid(null, ajaxUpdateContainerId: "grdData", canSort: false, canPage: false);
             if (m3.Count > 0)
             {
                 grid.Bind(ViewBag.itemsdata, autoSortAndPage: false);
             }
             List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();
             List<WebGridRow> Inlinerows = new List<WebGridRow>();
             var icol = ""; var colsname = ""; var ctrltype = "";
             var coo = 0;
            } 
                      @for (int l = 1; l <= m3.Count; l++)
                      {
                          for (int g = coo; g < m3.Count; g++)
                          {
                              colsname = m3[g].Field_Name;
                              ctrltype = m3[g].Control_Type;
                              if (g == 0)
                              {
                                  ViewBag.colsname = colsname;
                                  ViewBag.ctrltype = ctrltype;
                              }
                              else
                              {
                                  if (ViewBag.colsname == colsname && ViewBag.ctrltype == ctrltype)
                                  {
                                      coo = m3.Count; break;
                                  }
                              }
                              if (coo == 0)
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = "",
                                      Header = "",
                                      Format =@<text><div >
                                  <input  id='checkRow' class='chkclass' itemid=''   name=''  type='checkbox'  value='' checked="checked" />
                                   </div></text>
                                  });
								  //EMPHCS685 Rajasekhar Patakota 18/7/2015 UPC Search in Bill Edit and add new row feild
                                  if ((@m3[g].Form_Id == 1379 || @m3[g].Form_Id == 1375 || @m3[g].Form_Id == 1380 || @m3[g].Form_Id == 1381 || @m3[g].Form_Id == 1328 || @m3[g].Form_Id == 1251 || @m3[g].Form_Id == 1273 || @m3[g].Form_Id == 1275 || @m3[g].Form_Id == 1277 || @m3[g].Form_Id == 1283 || @m3[g].Form_Id == 1286 || @m3[g].Form_Id == 1355 || @m3[g].Form_Id == 1353 || @m3[g].Form_Id == 1374))
                                  {
                                      Inlinecolumns.Add(new WebGridColumn()
                                      {
                                          ColumnName = "",
                                          Header = "UPC#",
                                          Format =@<text>
              <input  id="UPCSearch" title=""  class="gridWH" pattern=""  itemid="" name=""  value=""    type="text"    />
                  </text>
                                      });
                                  }
                              }
                              if (m3[g].Control_Type == "TextBox")
                              {
                                  if (m3[g].Field_Name == "SATABLE010COLUMN08" && (invoiceso.Default_Value == "" || invoiceso.Default_Value == null)) { }
                                  else if ((@m3[g].Form_Id == 1251 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1328 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || @m3[g].Form_Id == 1330 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13") || @m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13") || @m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN07") || @m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN08") || @m3[g].Form_Id == 1353 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13"))
                                  {
                                  }
                                  else if (m3[g].Data_Type == "INT" || m3[g].Data_Type == "int" || m3[g].Data_Type == "BIT" || m3[g].Data_Type == "bit" || m3[g].Data_Type == "DECIMAL" || m3[g].Data_Type == "decimal")
                                  {
                                      Inlinecolumns.Add(new WebGridColumn()
                                      {
                                          Header = @m3[g].Label_Name,
                                          ColumnName = @m3[g].Field_Name
                                      ,
                                          Format =@<text><input  id="@m3[g].Field_Name"  class="txttabClass"   itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@item[m3[g].Field_Name]"   type="text"    />
                                         @Html.Hidden("a" + @m3[g].Field_Name, (object)@item[m3[g].Field_Name], new { @id = "a" + @m3[g].Field_Name })</text>   
                                      });

                                  }
                                  else
                                  {
                                      Inlinecolumns.Add(new WebGridColumn()
                                      {
                                          Header = @m3[g].Label_Name,
                                          ColumnName = @m3[g].Field_Name
                                          ,
                                          Format =@<text><input  id="@m3[g].Field_Name"  class="txttabClass"   itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@item[m3[g].Field_Name]"   type="text"      /></text>
                                      });
                                  }
                              }
                              else if (m3[g].Control_Type == "TextArea")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text>
                                         <textarea  id="@m3[g].Field_Name"  title="@m3[g].Section_Name"   class="txttabClass txtarealength" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"     >@item[m3[g].Field_Name]</textarea>
                                      </text>
                                  });
                              }
                              else if (m3[g].Control_Type == "CheckBox")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                     ,
                                      Format =@<text><input  id="@m3[g].Field_Name" class="chkclass"   name="@m3[g].Label_Name" value=""   type="checkbox"   /></text>
                                  });
                              }
                              else if (m3[g].Control_Type == "DropDownList")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                      ,
                                      Format =@<text> 
             @Html.DropDownList(@m3[g].Label_Name, null, "--Select--", new { @class = "itemddlclass  gridddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = @m3[g].Section_Name, @onchange = "ddlChange(this);" })
            </text>
                                  });
                              }
                              else if (m3[g].Control_Type == "RadioButton")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                      ,
                                      Format =@<text><input class="rdoclass"   id="@m3[g].Field_Name" name="@m3[g].Label_Name" value="@item[m3[g].Field_Name]"    type="radio"  /></text>
                                  });
                              }
                              else if (m3[g].Control_Type == "DatePicker")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      Header = @m3[g].Label_Name,
                                      ColumnName = @m3[g].Field_Name
                                     ,
                                      Format =@<text>@{string griddate = null; if (Convert.ToString(@item[m3[g].Field_Name]) != "" && Convert.ToString(@item[m3[g].Field_Name]) != null) { griddate = Convert.ToDateTime(@item[m3[g].Field_Name]).ToString(ViewBag.DateFormat);if(ViewBag.DateFormat==""){griddate = Convert.ToDateTime(@item[m3[g].Field_Name]).ToShortDateString();} }}<input  id="@m3[g].Field_Name"  name="@m3[g].Label_Name" value="@griddate"  type="text" readonly="true" class="date" /></text>
                                  });
                              }
                              else if (m3[g].Control_Type == "LinkLabel")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text><div class="colW">
                            <a href="FormBuild?FormName=@Session["PForms"]&ide=@item[m3[g].Field_Name]&Ref=MileStone" id="@m3[g].Field_Name"  >@m3[g].Label_Name</a> 
                        </div></text>
                                  });
                              }
                              coo = coo + 1; break;
                          }
                      }
            <div class="bottomdivRow" id="formtabcontent">
                      <div class="mainRow"  id="@m1[0].Section_Name" >

        @for (int q = 0; q < m1.Count; q++)
        {
            if (ViewBag.headerT == m1[q].Section_Name)
            {
                if (coT % 3 == 0 && coT != 0)
                {
                    @:</div>

                    @:<div class="mainRow bottomdivRow"  id="@m1[q].Section_Name">
                        coT = 0;
                }
                if (@m1[q].Section_Type == "Grid Level")
                {
                                 <div class="gridLevelFB">
                  @gridT.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
          columns: InlinecolumnsT)</div>
                    coT = 2;
                }
                else if (@m1[q].Section_Type == "Item Level")
                {
                                   <div id="itemgrid" class="itemGridFB">
                    @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns: Inlinecolumns)
									  @*EMPHCS685 Rajasekhar Patakota 18/7/2015 UPC Search in Bill Edit and add new row feild*@
                                      @*EMPHCS1784	Job Order for IN Process 15/7/2016*@
				      @if (@m1[q].Form_Id == 1251 || @m1[q].Form_Id == 1273 || @m1[q].Form_Id == 1277 || @m1[q].Form_Id == 1275 || @m1[q].Form_Id == 1283 || @m1[q].Form_Id == 1261 || @m1[q].Form_Id == 1586)
                                      {<div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                                      }
                                </div>coT = 2; 
                                      //if (m1[q].Table_Id != 110010837) { q += m3.Count; }
                                      //if (m1.Count > q + ViewBag.itemscol.Count)
                                      //{
                                      //    var count = ViewBag.itemscol.Count - 1;
                                      //    q = q + count;
                                      //}
                                      //EMPHCS743 - GNANESHWAR 22/7/2015 Adding Shipping Tab Fileds in Sales order and Invoice chages for getting tab in order
                                      
                                      if (m1.Count > (q + m3.Count))
                                      {
                                          var count = m3.Count - 1;
                                          q = q + count;
                                      }
                                      else
                                      {
                                          break;
                                      }
                }
                else if (@m1[q].Section_Type == "Tab")
                {

                    if (m1[q].Control_Type == "TextBox")
                    {  <div class="mainRowCon" id="@m1[q].Section_Name" >
                        <div class="lbl">
                            @Html.DisplayFor(a => m1[q].Label_Name)
                            @if (@m1[q].Mandatory == "Y")
                            {<label class="astric"> *</label>}
                        </div>
                      <div class="txt">
                            <input id=" @m1[q].Field_Name" pattern="@m1[q].Mandatory" class="txttabClass"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"  type="text" value="@m1[q].Default_Value"   />

                        </div> </div>
                    }
                    else if (m1[q].Control_Type == "TextArea")
                    {
         <div class="mainRowCon" id="@m1[q].Section_Name" >
       <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        <div class="txt">
              <textarea id=" @m1[q].Field_Name"  title="@m1[q].Section_Name"  class="txtareaclass" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"   >@m1[q].Default_Value</textarea>
          @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div> </div>
        
                
                    }

                    else if (m1[q].Control_Type == "CheckBox")
                    {<div class="mainRowCon" id="@m1[q].Section_Name" >
        <div class="lbl">

                            @Html.DisplayFor(a => m1[q].Label_Name)
                        </div>
            <div class="txt">

                            @if (@m1[q].Default_Value == "True")
                            {
        
                                <input type="checkbox" id="@m1[q].Field_Name"  class="chkclass"  name="@m1[q].Label_Name" value="True" checked="checked" /> 
        
                            }

                            else
                            {
        
                                <input type="checkbox" class="chkclass"  id="@m1[q].Field_Name"  name="@m1[q].Label_Name" value="False"  />
        
                            }
                </div> </div>
        
                    }

                    else if (m1[q].Control_Type == "DropDownList")
                    {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
                    <div class="lbl">

                            @Html.DisplayFor(a => m1[q].Label_Name)
                        @if (@m1[q].Mandatory == "Y")
                        {<label class="astric"> *</label>}
                        </div>

                        <div class="txt">
                          @*  @Html.DropDownList(@m1[q].Field_Name, new SelectList((SelectList)ViewData[@m1[q].Field_Name], "Value", "Text"), "--Select--", new { @style="width:150px"})*@
                            
                   @Html.DropDownList(@m1[q].Label_Name, null, "--Select--", new { @class = "ddlclass ddl", @id = @m1[q].Field_Name, @itemid = @m1[q].Mandatory })
                    </div> </div>
        
                    }
                    else if (m1[q].Control_Type == "RadioButton")
                    {    <div class="mainRowCon" id="@m1[q].Section_Name" ><div class="lbl">@Html.DisplayFor(a => m1[q].Label_Name)</div>
                <div class="txt">
                    <input id=" @m1[q].Field_Name" name="@m1[q].Label_Name" type="radio" value="@m1[q].Default_Value"  class="rdoclass" />
                </div></div>}
                    else if (m1[q].Control_Type == "DatePicker")
                    {<div class="mainRowCon" id="@m1[q].Section_Name" >
        <div class="lbl">

                            @Html.DisplayFor(a => m1[q].Label_Name)
                        </div>

                        <div class="txt">
                             @{string linedate = null; if (m1[q].Default_Value != null && m1[q].Default_Value != "") { linedate = Convert.ToDateTime(m1[q].Default_Value).ToString(ViewBag.DateFormat); if (ViewBag.DateFormat == "") { linedate = Convert.ToDateTime(m1[q].Default_Value).ToShortDateString(); } }}
                            <input id=" @m1[q].Field_Name"  name="@m1[q].Label_Name" type="text" value="@linedate" class="date" readonly="true"/>
                        </div>
                           </div>
                    }
                }
                coT++;
                if (q == m1.Count - 1)
                {
                    if (coT % 3 == 1)
                    {
                        if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                        { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        }
                    }
                    else if (coT % 3 == 2)
                    {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                    }
                }
            }
            else
            {

                if (coT > 0)
                {
                    ViewBag.headerT = m1[q].Section_Name;
                    if (coT % 3 == 1)
                    {
                        if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                        { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        @:</div>
                    @:<div class="mainRow bottomdivRow"  id="@m1[q].Section_Name"  >
                        q--; coT = 0;
                        }
                        if (@m1[q].Section_Type == "Item Level" || @m1[q].Section_Type == "Grid Level")
                        {
                            q--;
                        }
                    }
                    else if (coT % 3 == 2)
                    {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                        @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name"  >
                        q--; coT = 0;
                    }
                    else if (coT % 3 == 0)
                    {
                           @:</div>
                    @:<div class="mainRow bottomdivRow"  id="@m1[q].Section_Name"  >
                        q--; coT = 0;
                    }
                }
                else if (q == 0)
                {
                    ViewBag.headerT = m1[q].Section_Name;
                    q--; coT = 0;
                }
                else
                {
                }
            }
        }    </div>

                
                  @for (int q = 0; q < @m4.Count; q++)
                  {
                      if (@m4[q].Section_Type == "Table")
                      {
                          if (q == 0 || q == 7)
                          {
                              if (q == 0)
                              { 
                           @:<div id="@m4[q].Section_Name" class="tblfirstcol" > <div id="@m4[q].Section_Name" class="tblsections"  > Sales Information </div>
                            }
                              else if (q == 7)
                              { 
                            @:</div><div id="@m4[q].Section_Name"  class="tblsecondcol"  ><div id="@m4[q].Section_Name"   class="tblsections"  > Purchasing Information  </div>
                         }
                          }

                          if (m4[q].Control_Type == "TextBox")
                          {
                        <div class="tblrowheight"  id="@m4[q].Section_Name" >
       <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)
           @if (@m4[q].Mandatory == "Y")
           {<label  class="astric" >* </label>}
        </div>
        @*@Html.TextBoxFor(a=>m4[q].Default_Value)*@
        <div class="tblcontrollength">@if (m4[q].Field_Name == "Password")
                                      {
         <input id=" @m4[q].Field_Name"  title="@m4[q].Section_Name"  class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"  type="password" value="@m4[q].Default_Value" readonly="true"/>
                                      }
                                      else
                                      {
         <input id=" @m4[q].Field_Name" title="@m4[q].Section_Name" class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"  type="text" value="@m4[q].Default_Value"  />
        @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
                                      }</div> </div>
                          }
                          else if (m4[q].Control_Type == "TextArea")
                          {
                            <div  class="tblrowheight" id="@m4[q].Section_Name" >
       <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        <div class="tblcontrollength">
              <textarea id=" @m4[q].Field_Name"  title="@m4[q].Section_Name"  class="tbltxtarea" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"   >@m4[q].Default_Value</textarea>
          @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div> </div> 
                
                          }
                          else if (m4[q].Control_Type == "Label")
                          {
                         <div  class="tblrowheight"  id="@m4[q].Section_Name" >
        <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        <div class="tblcontrollength">
              <label id=" @m4[q].Field_Name"   itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"   >@m4[q].Default_Value</label>
          </div></div> 
                          }
                          else if (m4[q].Control_Type == "Image")
                          { 
                        <div   class="tblrowheight"  id="@m4[q].Section_Name" >
             <div class="tbltextlength">
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        
         <div class="tblcontrollength">
          <input type="file" id="@m4[q].Field_Name"  title="@m4[q].Section_Name"  itemid="@m4[q].Data_Type"   name="@m4[q].Label_Name" value="@m4[q].Default_Value" class="img" />
         </div></div>
                          }

                          else if (m4[q].Control_Type == "CheckBox")
                          {
                          <div   class="tblrowheight" id="@m4[q].Section_Name" >
          <div class="tbltextlength">
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
         <div class="tblcontrollength">
        
         <input type="checkbox" id="@m4[q].Field_Name"  title="@m4[q].Section_Name" class="chkclass"  name="@m4[q].Label_Name" value="@m4[q].Default_Value"/>
        </div></div> 
                          }

                          else if (m4[q].Control_Type == "DropDownList")
                          {
                            <div   class="tblrowheight" id="@m4[q].Section_Name" >
          <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        
             <div class="tblcontrollength">
                  @Html.DropDownList(@m4[q].Label_Name, new SelectList((SelectList)ViewData[@m4[q].Label_Name], "Value", "Text"), "--Select--", new { @class = "tblddl", @id = @m4[q].Field_Name, @title = m4[q].Section_Name, @itemid = @m4[q].Mandatory })
                    @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
             </div>      </div>      
        
                          }
                          else if (m4[q].Control_Type == "RadioButton")
                          {   
                        <div   class="tblrowheight"  id="@m4[q].Section_Name" > 
                           <div class="tbltextlength">@Html.DisplayFor(a => m4[q].Label_Name)</div>
                           <div class="tblcontrollength"><input id=" @m4[q].Field_Name"  title="@m4[q].Section_Name" name="@m4[q].Label_Name" type="radio" value="@m4[q].Default_Value"  class="rdoclass" />
                               </div> </div>
                          }
                          else if (m4[q].Control_Type == "DatePicker")
                          {
        
                      <div   class="tblrowheight"  id="@m4[q].Section_Name" >
        <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)
        </div>
        @{ var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }}
        
    
        <div class="tblcontrollength">
         <input name="@m4[q].Label_Name"  title="@m4[q].Section_Name" type="text"  id="@m4[q].Field_Name" value="@Dtext" class="date tbltxt" readonly="true" />
        </div></div>
                          }
                          if (q == m4.Count - 1)
                          {
                           @:</div>
                           }
                      }
                  }

         </div></div>
          }
    </div>

}
      </div>
             <div class="rowCont newbottomRowContentFooter" id="footerInfo">
         @* <div class="btnContleftFB">  <input type="button" id="saveform"  name="Save" value="Save" class="buttonclass"/>
       </div>
          <div class="btnContleftFB"><input type="button" name="Delete" id="btnDelete" value="Delete" onclick="@("window.location.href='" + @Url.Action("Delete", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ;"   class="buttonclass"/>
        </div>
          <div class="btnContleftFB"><input type="button" value="Cancel" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ;" />
            </div>*@
        </div>
        
           </div>

</body>
</html>
