
@using System.Data.Entity;
@using System.Web.SessionState;
@model List<MeBizSuiteAppUI.Controllers.FormBuildClass>
@{
    
        ViewBag.Title = Session["FormName"];
    
}



<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>FormBuild</title>
    <script src="~/jQuery/Manufacture.js"></script>

     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    @*<script src="~/Content/formbuildjquery.js"></script>*@
    <link href="~/Content/Tabs/MSDList.css" rel="stylesheet" />
    <script src="~/Content/Tabs/MSDList.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>

    <script src="~/Content/Tabs/select2.min.js"></script>
    <link href="~/Content/Tabs/select2.min.css" rel="stylesheet" />

    <div id="createForm"></div>
    <div id="my-dialog"></div>
  <div id="multiuom"  style="font-size:11.5px;"></div>
   <div id="newDialog"  style="font-size:11.5px"></div>
   <div id="newMDialog" style="font-size:11.5px;display:none"><p style="color:white;padding-left:400px;padding-top:150px">
        <img src="~/Images/ajax-loading.gif"><br />Page is Loading, please wait...
    </p></div>
      <script type="text/javascript" language="javascript">
          var $i=jQuery.noConflict();  
          
          //Check boxes default check for tax master
          $i(document).ready(function () {
              $i(window).keydown(function(event){
                  if(event.keyCode == 13) {
                      event.preventDefault();
                      return false;
                  }});
              debugger
              if ('@Session["id"]' == 1605  ) {
                  $i("#PUTABLE022COLUMN05").select2();
                  $i("#PUTABLE023COLUMN03").select2();
              }
             else if ( '@Session["id"]' == 1586 ) {
                 $i("#PUTABLE001COLUMN05").select2();
                 $i("#PUTABLE002COLUMN03").select2();
              }
             else if ( '@Session["id"]' == 1283 ) {
                 $i("#SATABLE005COLUMN53").select2();
                 $i("#SATABLE005COLUMN05").select2();
                 $i("#SATABLE006COLUMN03").select2();
              }

              $i("#PUTABLE001COLUMN11").change("change", function () {debugger
                  GRNtoJobOrderIN($i(this).val(), '@Request["FormName"]'); 
                 
              });
              // Latest open issues by Venkat
              $i("[id*=SATABLE001COLUMN05]").live("change", function () {debugger
                  NameCheck1($i(this).val(), '@Request["FormName"]');
               });
              //Form Save action 1
              $i("#btnSave").click(function (event) {
                  SaveForm('@Session["FormName"]',@Html.Raw(Json.Encode(ViewBag.NewCols)), '@Session["id"]');
              });
              //Form Save action 1
              $i(".linksave").click(function (event) {
                  
                  SaveForm('@Request["FormName"]',@Html.Raw(Json.Encode(ViewBag.NewCols)), '@Session["id"]'); 
                  getSalesQutationid('@Request["FormName"]'); 
                  ddlSelectSOQ('@Session["Qid"]','@Request["FormName"]');
              });
              //On Fly For Staatic Form
              $i("#nImageHide").live("click", function () {
                  var trw = $i(this).closest("div");
                  var trttl = $i(this).val();
                  var ttl = $i(trw).find("[id='" + trttl + "']").val();
                  $i('#newDialog').dialog({
                      autoOpen: false,
                      modal: true,
                      width: 500,
                      height: 300, resizable: false,
                      title: trttl,
                      closeOnEscape: true
                  })
                  //$i(".ui-dialog-titlebar-close").hide();
                  $i(".ui-dialog").show();
                  $i(".ui-widget-overlay").show();
                  $i('#tabs1').tabs();
                  $i('#newDialog').dialog('open');
                  $i('#newDialog').load("/FormBuilding/NewItem?ai=" + ttl + "");
                  $i('#newDialog').show();
                  return false;
              });
              //On Fly For Master Form
              $i("#mImageHide").live("click", function () {
                  var url= window.location.href.slice(window.location.href).split("?");
                  var editval = url[1].split("&");
                  var val = editval[0].split("FormName=").toString().replace(",","");
                  var fn=val.replace("%20","_");
                  var trw = $i(this).closest("div");
                  var tr = $i(this).closest("tr");
                  var trttl = $i(this).val();
                  var alt = $(this).attr("alt");//g//
                  $.session.set("alt",alt);
                  //EMPHCS1822 rajasekhar reddy patakota 30/09/2016 Opportunity Mail setup & Form Design Changes
                  var ttl = $i("[id='" + alt + "']").attr("name");
                  $i('#mImageHide').attr('pattern','N');

                  if(( '@Session["id"]'=='1605'  ||'@Session["id"]'=='1586'   ||'@Session["id"]'=='1283' 
                      )
                      &&(alt=='PUTABLE022COLUMN05' || alt=='PUTABLE001COLUMN05' || alt=='SATABLE005COLUMN53')){
                      $i('#newMDialog').dialog({
                          autoOpen: false,
                          modal: true,
                          width: 525,
                          height: 580, resizable: false,
                          title: ttl,
                          closeOnEscape: false
                      })
                      $i('#divLoading').css('padding-left','');
                  }
                  else
                  {
                      var Location="";var Item="";var OpUnit="";var payeetype="";var payee="";var payment="";var bank="";var type="";var project="";var paymenttype="";
                 
                  $i('#newMDialog').dialog({
                      autoOpen: false,
                      modal: true,
                      width: 1000,
                      height: 550, resizable: false,
                      title: ttl,
                      closeOnEscape: false
                  })
                  }
                  $i('#tabs1').tabs();
                  //EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill
                  $i(this).attr('pattern','Y');
                  $i('.ui-dialog').show();
                  $i('.ui-dialog-titlebar').show();
                  $i('.ui-widget-overlay').show();
                  $i('#newMDialog').dialog('open');
                  $i('#newMDialog').show();debugger
                  if(('@Session["id"]'=='1605'  ||'@Session["id"]'=='1586' ||'@Session["id"]'=='1283' )
                      &&(alt=='PUTABLE022COLUMN05' || alt=='PUTABLE001COLUMN05'  || alt=='SATABLE005COLUMN53'  )){debugger
                      
                      $i('#newMDialog').load("/Customer/Create?FormName=" + val + ""); 
                  }
                  else{

                      $i('#newMDialog').load("/FormBuilding/MasterNewItem?a=" + $i(this).val() +  "&b="+alt+"&c="+fn+"&Location="+Location+"&Item="+Item+"&OpUnit="+OpUnit+"&payeetype="+payeetype+"&payee="+payee+"&payment="+payment+"&bank="+bank+"&type="+type+"&project="+project+"");
                  }
                  $i('#newMDialog').on('dialogclose', function(event) {
                      $i('#newMDialog').html("");
                      $i('#mImageHide').attr('pattern','N');
                      $i(this).dialog("close");
                      $i(".ui-widget-overlay").hide();
                      DynamicPopupcancel();
                      $i('#newMDialog').dialog('destroy');
		      
                  });
                  return false;
              });
              $i("#form-reset").live("click", function (event) {
                  DynamicPopupcancel();
              });
              //Tabs
              $i("#tabs").tabs();
              //Date Picker
              dateupdate('@Session["ReportDate"]');
              GetTransactionNo('@Session["OPUnit1"]', '@Request["FormName"]', '@Session["id"]');
              //form load actions
//EMPHCS1093 gnaneshwar Opertaing unit auto population based on employee
              EnableDisable('@Session["id"]', '@Session["OPUnit1"]');
              //Dynamic Form Filling
            Dynamicforms('@Request["FormName"]', '@Request["ide"]', '@Request["Ref"]', '@Session["id"]');
              //Tax Filling
              //SOEditLineTax('@Session["id"]');
              //select vendor geting adress
              $i("#PUTABLE001COLUMN05").change("change", function () {
                  if ('@Session["id"]' == 1328) { ddlSelectCustomer($i(this).val(), '@Request["FormName"]', '@Session["id"]'); }
                  //EMPHCS1784	Job Order for IN Process 15/7/2016
		  else if('@Session["id"]' == 1586){ddlSelectCustomer($i(this).val(), '@Request["FormName"]', '@Session["id"]'); }
                  else {
                      ddlSelectVendor($i(this).val(), '@Request["FormName"]', '@Session["id"]');
                  }
              });
              
              //Advance tab checkbox change 
              $i("#checkFRow").live("change", function () {debugger
                  AdvanceChange($i(this).parent().parent(),$i(this).is(':checked'),'@Session["id"]',$i("#PUTABLE014COLUMN07").val());
              });
              $i('#SATABLE005COLUMN10').on("change", function () { PAYMENTTERMSCHANGE($i(this).val(),'@Session["id"]'  )});
              //UPCSearch Details
              $i("[id*=UPCSearch]").live("change", function () {
                  var formid='@Session["id"]'; 
                  if(formid=="1379")
                  {
                      ddlStockTransfer($i(this).parent().parent(),$i(this).val(),  '@Request["FormName"]');
                  }else if(formid=="1322")
                  {
@*                      ddlStockTransfer($i(this).parent().parent(),$i(this).val(),  '@Request["FormName"]');*@
                  }else{
                      UPCSearchDetails($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');}
              });
             
              //Po Line Calculation For Price
              $i("[id*=checkRow]").live("change", function () {
                  var tr=$i(this).parent().parent();
                  if('@Session["id"]'=="1251"||'@Session["id"]'=="1355"){
                      var price=$i(tr).find("[id*=PUTABLE002COLUMN07]").val();
                      POLineQuantityCalculation(tr, price);}
                  else if('@Session["id"]'=="1273"){
                      POBillTaxCalculations(tr);}
                  else if('@Session["id"]'=="1275"||'@Session["id"]'=="1283"){
                      SOLineQuantityTaxCalculation(tr);}
                  else if('@Session["id"]'=="1277"){
                      SOInvoiceTaxCalculations(tr);}
                  else if('@Session["id"]'=="1353"){
                      SOEditLineTax(1353);
                      SOLineQuantityTaxCalculation(tr);
                  }
                  else if('@Session["id"]'=="1355"){
                      SOEditLineTax(1355);}
                 
                  else if('@Session["id"]'=="1328"){
                      POLineQuantityCalculation(tr);}
                  else if('@Session["id"]'=="1330"){
                      SOLineQuantityTaxCalculation(tr);}
              });
            
              //new row click 11111
              $i('#newrow').live("click", function () {
                  newrowclickevent('@Session["id"]', '@Session["FormName"]');
              });
              //cancel row click 1111
              $i('#cancelrow').live("click", function () {
                  cancelrowclickevent();if('@Session["id"]'=="1275"){Calculations();}
              });
              $i("[id*=SATABLE006COLUMN33]").live("focus", function () {debugger
                  SOInvoiceUOMCheck($i(this).parent().parent(), '@Request["FormName"]');
               });
              function SOInvoiceUOMCheck(tr, FormName) {debugger
                  ItemID = $i(tr).find("#SATABLE006COLUMN03").val();
                      opunit = $i("#SATABLE005COLUMN24").val();
                  $i.ajax({
                      url: "/JobOrder/SOInvoiceUOMCheck?FormName=" + FormName + "",
                      type: "POST",
                      contentType: "application/json",
                      data: JSON.stringify({ ItemID: ItemID, uom: 0, opunit: opunit }),
                      success: function (data) {debugger
                          if (data.Data == "True") {
                              $i("#multiuom").dialog({
                                  autoOpen: false,
                                  title: "Tracking Multi UOM",
                                  modal: true,
                                  width: 800,
                                  height: 300, resizable: false,
                                  closeOnEscape: true
                              })
                              $i('#multiuom').dialog('open');
                              $i("#multiuom").show(); 
                              $i(tr).find("[id='checkRow']").attr('itemid',1);
                              var FormName=$i("#FormName").val();FormName=FormName.replace(" ","%")
                              //EMPHCS1388 rajasekhar reddy patakota 23/11/2015 Multi Uom Setup for sales and stock transfer screens
                              $i("#multiuom").load("/JobOrder/JobberTrackingMultiUOM?Item=" + ItemID + "&OU=" + opunit + "&FormName=" + FormName + "&ide=" + '@Request["ide"]' + "");
                          }}
                  })
              }
              //select Customer geting adress 11111
              $i("#SATABLE005COLUMN05").change("change", function () {
                  $.session.set("id", '@Session["id"]');
                  if ('@Session["id"]' == 1275) { ddlSelectCustomer($i(this).val(), '@Request["FormName"]', '@Session["id"]'); }
                  else { ddlSelectVendor($i(this).val(), '@Request["FormName"]', '@Session["id"]'); }
              });
	      //EMPHCS1837 rajasekhar reddy patakota 30/11/2016 Project wise tracking in Opportunity and job order screens
              $i("#SATABLE005COLUMN53").change("change", function () {
                  GetCustomerWiseProject($i(this).val(), '@Request["FormName"]', '@Session["id"]');
              });
              // job  Order Discount 11111
              $i("[id*=SATABLE006COLUMN10]").live("change", function () {
                  SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
             
              //SO TaxAmount
              //$i('#SATABLE005COLUMN31').on("change", function () { Calculations(); });
              //Credit Memo  ddl Selection
              $i("[id*=SATABLE005COLUMN33]").change("change", function () {
                  ddlSelectSCM($i(this).val(), '@Request["FormName"]');
                  EnableDisable();
              });
              $i("[id*=SATABLE005COLUMN54]").change("change", function () {
                  OpportunitytoJobOrderOUT($i(this).val(), '@Request["FormName"]');
              });
              //Sales Order Itemdetails 11111
              $i("#SATABLE006COLUMN03").live("change", function () {debugger
                  debugger
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Session["FormName"]');
                  ddlSelectItemLot($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]');
              });
              $i("[id*=SATABLE006COLUMN17]").live("change", function () {
                  var tr=$i(this).parent().parent();
                  $i(tr).find("#SATABLE006COLUMN07").val("");$i(tr).find("#SATABLE006COLUMN07").focus();
                  if($(tr).find("#SATABLE006COLUMN03").val()!=null)  LotWisePrice(tr, '@Session["id"]', '@Request["FormName"]');
              });
	      //EMPHCS1784	Job Order for IN Process 15/7/2016
              $i("#PUTABLE002COLUMN03").live("change", function () {
                  debugger
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Session["FormName"]');
              });
              $i("#PUTABLE023COLUMN03").live("change", function () {
                  debugger
                  ddlChange($i(this).parent().parent(), '@Session["id"]', '@Session["FormName"]');
              });
              //EMPHCS794   Packing and Shipping Charges Calculation in Sales Order and Invoice  and capturing values in  delivery & Package  ----by Raj.jr 30/7/2015
              $i("[id*=SATABLE005COLUMN41]").live("change", function () {
                  SOTaxLevelCalculations();SOTAXCalculations();
              });
              //EMPHCS794   Packing and Shipping Charges Calculation in Sales Order and Invoice  and capturing values in  delivery & Package  ----- by Raj.jr 30/7/2015
              $i("[id*=SATABLE005COLUMN42]").live("change", function () {
                  SOTaxLevelCalculations();SOTAXCalculations();
              });
             
              //Sales Order Price 11111
              $i("[id*=SATABLE006COLUMN09]").live("change", function () {
                  //SOLinePriceCalculation($i(this).parent().parent(), $i(this).val());
                  //TotalCalculation($i(this).parent().parent());
                  SOLineQuantityTaxCalculation($i(this).parent().parent());
              });
              //Sales Order Line Level Tax 11111
              $i("[id*=SATABLE006COLUMN26]").live("change", function () {
                  SOLineTax($i(this).parent().parent());
              });
	      //EMPHCS1784	Job Order for IN Process 15/7/2016
              $i("[id*=PUTABLE002COLUMN25]").live("change", function () {
                  LineTax($i(this).parent().parent())
              });
              //EMPHCS1795	GRN Screen to Job Order IN By Raj.Jr
              $i("#PUTABLE022COLUMN11").live("change", function () {debugger
                  GRNItemCreate($i(this).parent().parent(), '@Session["id"]', '@Request["FormName"]',"Insert");
              });
              //Sales Order Header Level Tax 1111
              $i("[id*=SATABLE005COLUMN31]").live("change", function () {
                  SOTAXCalculations();
              });
	      //EMPHCS1784	Job Order for IN Process 15/7/2016
              $i("[id*=PUTABLE001COLUMN31]").live("change", function () {
                  POTAXCalculations();
              });
              //Sales Order Quantity 11111
              $i("[id*=SATABLE006COLUMN07]").live("change", function () {
                  debugger
                  //SOLineQuantityCalculation($i(this).parent().parent(), $i(this).val());
                  //TotalCalculation($i(this).parent().parent()); Calculations();
                  var formid='@Session["id"]';
                  if(formid=='1330'){SOReturnCreditMemoQtyCheck($i(this).parent().parent()); }
                  else{SOLineQuantityTaxCalculation($i(this).parent().parent());} 
              });
	      //EMPHCS1784	Job Order for IN Process 15/7/2016
              $i("[id*=PUTABLE002COLUMN07]").live("change", function () {
                  var formid='@Session["id"]';
                  JO_IN_LineQuantityCalculation($i(this).parent().parent());
               });
              $i("[id*=PUTABLE002COLUMN09]").live("change", function () {
                  var formid='@Session["id"]';
                  JO_IN_LineQuantityCalculation($i(this).parent().parent());
              });
              //geting LIST OF STATES 1111
              $i("#SATABLE003COLUMN16").change("change", function () {
                  ddlSelectCountry($i(this).val(), '@Session["id"]');
              });
              //Invoice Discount 
              //$i("[id*=SATABLE010COLUMN19]").live("change", function () {
              //    InvoiceCalculations();
              //});
              //Invoice Price 
              $i("[id*=SATABLE010COLUMN20]").live("change", function () {
                  InvoicePrice($i(this).parent().parent());
                  
              });
              
              //PhoneNo Validation For Address
              $i("[id*=SATABLE003COLUMN13]").on("change", function () {
                  AddressPhonenoValidation($i(this).val());
              });
              //PhoneNo Validation For Customer
              //$i("[id*=SATABLE002COLUMN11]").on("change", function () {
              //    CustomerPhonenoValidation($i(this).val());
              //});
             
          });
          //jquery Load
          JavascriptFunction('@Request["FormName"]');
          //Session Destroy
          session();
</script>


</head>
<body>
   
         
  <div  id="gridddata" class="rowCont">
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
               <div id="ddl" class="rowCont bottomRowContentFB">
                   <div class="bottomColFB">@if (@Model[0].Action != "N")
                                            { <div class="labelTxtFB">@Html.Label("  Forms  ")</div>
                                              <div class="bottomInputFieldFB">@Html.DropDownList("Forms", new SelectList(ViewBag.ddl, selectedValue: Session["FormName"]), htmlAttributes: new { id = "FormName" })</div>
                                            }</div>
                  
                   <div class="bottomColFB1"><input type="button" value="Save"  class="buttonclass btn_sample"  id="btnSave"  onclick="JavascriptFunction();"/></div>
                   <div class="bottomColFB1"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ; session();" /></div>  
                    
                   
                   
                   <div class="bottomColFB1" style="float:right;padding-right: 50px;"><input type="button" class="buttonclass" id="btnList1"  value="Personalize"  onclick="@("window.location.href='" + @Url.Action("CustomFormBuild", "JobOrder", new { FormName = Request["FormName"] }) + "'")    ;" /></div> 
               </div>
            }
<div id="FormData" class="bodyFBContent">
@using (Html.BeginForm("NewForm", "JobOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var m = Model.Where(a => a.Section_Type != "Tab" && a.Section_Type != "Table" && a.Section_Type != "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();

    int co = 0, coT = 0;
    
         <div class="divRow" id="formheadercontent">
       <div > 
       <div class="mainRowHeader" id="@m[0].Section_Name" >
    @for (int q = 1; q < m.Count; q++)
    {
        if ((ViewBag.header != @m[q].Section_Name))
        {
            for (int y = 0; y <= q; y++)
            {
                if ((@m[q].Section_Name == @m[y].Section_Name) && (y != 0 && q != 0 && y != q))
                {
                    if ((co % 3 == 0))
                    { 
                     @:</div><div class="mainRow" id="@m[q].Section_Name" >  
                   }
                    else
                    {

                    }
                    break;
                }
                else if (y == q)
                {
                    @:</div>@if (@m[q].Section_Name != null && @m[q].Section_Name != "")
                            {    <div id="@m[q].Section_Name" class="bodyFBCon"> @m[q].Section_Name </div>
                  @*<div id="@m[q].Section_Name" style="border-style:ridge;border-color:#97c6ed"> @m[q].Section_Name </div> *@
                            } <div class="mainRow"  id="@m[q].Section_Name">  
                    co = 0;
                }
            }
        }
        else
        {
            if ((co % 3 == 0))
            { 
            @:</div><div class="mainRow" id="@m[q].Section_Name">  
        }

        }
        co++;
        ViewBag.header = m[q].Section_Name;

        if (m[q].Control_Type == "TextBox")
        {
            var llb = @m[q].Field_Name + "lbl";
            var llba = @m[q].Field_Name + "lbla";
            <div class="mainRowCon" id="@m[q].Section_Name" >
            <div class="lbl"   id="@m[q].Section_Name"  > <label  id="@llb">@m[q].Label_Name</label>@if (@m[q].Mandatory == "Y")
                                                                                                    {<label id="@llba" class="astric">* </label>}</div>

                <div class="txt" id="@m[q].Section_Name"  > 
                    @if (@ViewBag.Override == "False" && @m[q].Field_Name == @ViewBag.ColumnName)
                    {<input id=" @m[q].Field_Name"  readonly="true" pattern="@m[q].Mandatory"  itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtclass" type="text" value="@m[q].Default_Value" />}
                    else
                    {<input id=" @m[q].Field_Name" pattern="@m[q].Mandatory"  itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtclass" type="text" value="@m[q].Default_Value" />}
                   @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                    @if (@m[q].Field_Name == "PUTABLE001COLUMN32" || @m[q].Field_Name == "PUTABLE005COLUMN24" || @m[q].Field_Name == "SATABLE005COLUMN32" || @m[q].Field_Name == "SATABLE009COLUMN24")
                          {@Html.Hidden("a" + @m[q].Field_Name,"", new {@id="a"+  @m[q].Field_Name })}
                </div>
                
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              </div>
        }
        else if (m[q].Control_Type == "TextArea")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >

                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)@if (@m[q].Mandatory == "Y")
                                                                                                   {<label  class="astric">* </label>}</div>

                <div class="txt"  id="@m[q].Section_Name"  > <textarea id=" @m[q].Field_Name" pattern="@m[q].Mandatory" itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtareaclass" rows="0"    >@m[q].Default_Value</textarea>
                    @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                </div>
                
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              </div>
        }
        else if (m[q].Control_Type == "Image")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >

                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  >
                     <input type="file" id="@m[q].Field_Name"   itemid="@m[q].Data_Type"   name="@m[q].Label_Name" value="@m[q].Default_Value" class="imageWidth" />
                    @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div>
              </div>
        }
        else if (m[q].Control_Type == "Label")
        {
            <div class="mainRowCon" id="@m[q].Section_Name" >

                <div class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div class="txt"  id="@m[q].Section_Name"  >
                  <label id=" @m[q].Field_Name">@m[q].Default_Value</label>  <input id=" @m[q].Field_Name"  name="@m[q].Label_Name"  type="hidden" value="@m[q].Default_Value"  />
                     @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div>
              </div>
        }

        else if (m[q].Control_Type == "CheckBox")
        {  
              <div class="mainRowCon" id="@m[q].Section_Name" >

                 <div class="lbl"  id="@m[q].Section_Name"  >  @Html.DisplayFor(a => m[q].Label_Name)</div>

             <div class="txt"  id="@m[q].Section_Name" >
              <input type="checkbox" class="chkclass"  id=" @m[q].Field_Name" name="@m[q].Label_Name"  value="@m[q].Default_Value" />
              </div>
        </div>}
        else if (m[q].Control_Type == "CheckBoxList")
        {  

              <div class="mainRowCon"  id="@m[q].Section_Name"  >

                 <div class="lbl"  id="@m[q].Section_Name"  >  @Html.DisplayFor(a => m[q].Label_Name)</div>

              <div class="txt"  id="@m[q].Section_Name" >
                       <select id="mylist" multiple="multiple" name="@m[q].Label_Name">
                   @foreach (var tax in ViewBag.TAXES)
                   {
                       <option value="@tax[1]">@tax[0]</option>
                  @*<input type="checkbox" class="chkclass"  id=" @m[q].Field_Name" name="@m[q].Label_Name"  value="@tax[1]" />*@@tax[0]
                   }
            </select>
              </div>
                  

        </div>
    
        }
        else if (m[q].Control_Type == "DropDownList")
        {
            var llb = @m[q].Field_Name + "lbl";
              <div class="mainRowCon" id="@m[q].Section_Name" >

               <div class="lbl"  id="@m[q].Section_Name"  ><label id="@llb">@m[q].Label_Name</label>@if (@m[q].Mandatory == "Y")
                                                                                                    {<label  class="astric">* </label>}</div>

                <div class="ddlS" id="@m[q].Section_Name"  >
                   @Html.DropDownList(@m[q].Label_Name, new SelectList((SelectList)ViewData[@m[q].Label_Name], "Value", "Text"), "--Select--", new { @id = @m[q].Field_Name, @class = "ddl", @itemid = @m[q].Mandatory })
                   </div> @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                   @if (Session["DDDynamicItems"] != "DDDynamicItems")
                   {
                       if (@m[q].Field_Name != "MATABLE010COLUMN05")
                       {
                           if (@m[q].Source_Type == "Control Value")
                           {
                               <div class="plusImage">
                   <input type="image" src="~/Images/plus.png" class="imageSize" value="@m[q].Label_Name" id="nImageHide" >
                       <input type="text"  id=" @m[q].Label_Name" class="dispayN" value='@m[q].Source_Value' /></div>
                       
                           }
                           if (@m[q].Source_Type == "Master Value" && @m[q].Source_Value != "110011217" && @m[q].Source_Value != "110010823" && @m[q].Source_Value != "110008617")
                           {
                               ViewBag.tmpSource = @m[q].Source_Value;
                  <div class="plusImage"> <input type="image" src="~/Images/plus.png"  class="imageSize" id="mImageHide"  value="@m[q].Source_Value"  alt="@m[q].Field_Name"  />                  
                       <input type="text"  id="@m[q].Source_Value" class="dispayN" value='@m[q].Label_Name' /></div>
                           }
                           var lid = m[q].Field_Name + "AC";
                           if (m[q].Field_Name == "PUTABLE014COLUMN08" || m[q].Field_Name == "SATABLE011COLUMN08" ||
                               m[q].Field_Name == "FITABLE012COLUMN08" || m[q].Field_Name == "PUTABLE019COLUMN15" ||
                               m[q].Field_Name == "PUTABLE019COLUMN03" || m[q].Field_Name == "FITABLE016COLUMN07" ||
                               m[q].Field_Name == "FITABLE023COLUMN09" || m[q].Field_Name == "FITABLE012COLUMN22")
                           {
                       <label for="@lid" class="myBubble" ></label>}
                       }
                   }
               

        </div>
        }
        else if (m[q].Control_Type == "RadioButton")
        {   
             <div class="mainRowCon" id="@m[q].Section_Name" >

               <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div class="txt" id="@m[q].Section_Name"  ><input id=" @m[q].Field_Name" name="@m[q].Label_Name" type="radio" class="rdoclass" value="@m[q].Default_Value" /></div>

        </div>
        }
        else if (m[q].Control_Type == "RadioButtonList")
        {   
            <div class="mainRowCon" id="@m[q].Section_Name" >

               <div class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div class="txt" id="@m[q].Section_Name"  >
                   @if (@Session["id"].ToString() == "1377")
                   {
                <input name="@m[q].Label_Name" id="ItemRadio"  type="radio" value="Item">
                <label for="Payable">Item</label>
                <input  name="@m[q].Label_Name" id="VendorRadio"  type="radio" value="Vendor" checked="checked">
                <label for="Receivable">Vendor</label>
                   }
                   else if (@Session["id"].ToString() == "1293")
                   {
                <input name="@m[q].Label_Name" id="ExpensePay"  type="radio"  value="Payable">
                <label for="Payable">Payable</label>
                <input  name="@m[q].Label_Name" id="ExpenseReceive"  type="radio" value="Receivable">
                <label for="Receivable">Receivable</label>}
                   else
                   {
                <input name="@m[q].Label_Name" id=" @m[q].Field_Name"  type="radio" checked="checked" value="Payable">
                <label for="Payable">Payable</label>
                <input  name="@m[q].Label_Name" id=" @m[q].Field_Name"  type="radio" value="Receivable">
                <label for="Receivable">Receivable</label>}
               </div>

        </div>
        }
        else if (m[q].Control_Type == "DatePicker")
        {   
             <div class="mainRowCon" id="@m[q].Section_Name" >

            <div class="lbl"   id="@m[q].Section_Name" >@Html.DisplayFor(a => m[q].Label_Name)</div>
              <div class="txt"  id="@m[q].Section_Name"  > 
                    @if (@m[q].Form_Id == 1378)
                    {
              <input name="@m[q].Label_Name" id="@m[q].Field_Name" type="text"    class="date" readonly="true"/>}
                    else
                    {
                        var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
                        if (ViewBag.Dateformat == "")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }
              <input name="@m[q].Label_Name" id="@m[q].Field_Name" type="text"  value="@Dtext" class="date" readonly="true"/>}</div>

        </div>
        }
        else if (m[q].Control_Type == "LinkLabel")
        {
            int formid = Convert.ToInt32(Session["id"]);
            @*if (formid == 1377)
            {
                if (@m[q].Field_Name == "PUTABLE020COLUMN13") { formname = "Bill"; refe = "BillQuotation"; }
            <div class="mainRowCon" id="@m[q].Section_Name" >
           <div class="lbl"  id="@m[q].Section_Name"  >  </div>

                <div class="txt"  id="@m[q].Section_Name"  >  
                    <a href="FormBuild?FormName=@formname&Ref=@refe&ide=@Session["ide"]" id="@m[q].Field_Name"  >@m[q].Default_Value</a> <input id=" @m[q].Field_Name"  name="@m[q].Label_Name"  type="hidden" value="@Session["ide"]"  />
                  
                
                </div> </div>else}

             if (formid == 1376)
             {
                  string formname = Session["PForms"].ToString();  string refes = "SOQuotation";
                if (@m[q].Field_Name == "SATABLE015COLUMN25") { formname = "Invoice"; refes = "InvoiceQuotation"; }
            <div class="mainRowCon" id="@m[q].Section_Name" >
           <div class="lbl"  id="@m[q].Section_Name"  >  </div>

                <div class="txt"  id="@m[q].Section_Name"  >  
                    <a href="FormBuild?FormName=@formname&Ref=@refes&ide=@Session["ide"]" id="@m[q].Field_Name" class="linksave">@m[q].Default_Value</a> <input id=" @m[q].Field_Name"  name="@m[q].Label_Name"  type="hidden" value="@Session["ide"]"  />
                </div> </div>}*@


        }
    }  
   </div>
  </div> 
       </div>
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    //}
    var m3 = @Model.Where(a => a.Section_Type == "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
    var m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" || a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();
    var m4 = @Model.Where(a => (a.Section_Type == "Table") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();
    //m1 = m1.Where(a => a.Action != null).ToList();
    
    
        <div id="tabs" class="fbTabCon">
          
          @if (m1.Count > 0 || m3.Count > 0)
          {
        <ul>
        
        @foreach (var tab in ViewBag.Tabs)
        {

            var formid = m1.Where(a => a.Section_Name == tab).Select(a => a.Form_Id).FirstOrDefault();
            if (formid == 1261 && tab == "Inventory")
            {
            }
            else
            {
         <li >
             <a class="" href=#@tab >@tab</a>&nbsp;
         </li>
            }

        }
              @if (Session["DDDynamicItems"] != "DDDynamicItems")
              {
         <span class="newTabFB">
             <input type="button" class="buttonclassTab" id="btnNewTab"  value="New Tab" onclick="@("window.location.href='" + @Url.Action("AddNewTab", "FormBuilding", new { FormName = Request["FormName"] }) + "'")" >&nbsp;
         </span>
              }
           
         </ul> 
             
              
             <div class="fbBodyFoter">
                 
             @{
              var fnaame = ViewBag.EFormName;
              var gridT = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
              List<WebGridColumn> InlinecolumnsT = new List<WebGridColumn>();
              if (ViewBag.GridDynamicData != null)
              {
                  gridT.Bind(ViewBag.GridDynamicData, autoSortAndPage: false);
                  foreach (var Inline in ViewBag.GridDynamicDataC)
                  {
                      if (fnaame == "")
                      {
                          InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                      }
                      else
                      {
                          if (Inline == "COLUMN02")
                          {
                              InlinecolumnsT.Add(new WebGridColumn()
                              {
                                  ColumnName = Inline,
                                  Header = "ID",
                                  Format =@<text>@if (item.AA != 0)
                                                 {
                 @Html.ActionLink(((int)item.AA).ToString(), "Edit", "FormBuilding", new { ide = item.AA, FormName = ViewBag.EFormName, tblIDE = ViewBag.TableIDE }, htmlAttributes: new { })
                                                 }</text>
                              });
                          }
                          else
                          {
                              InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                          }
                      }
                  }
              }
              var grid = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
              grid.Bind(ViewBag.itemslist, autoSortAndPage: false);
            }
         @{
              List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();
              var coo = 0;
              foreach (var Inline in ViewBag.itemscol)
              {
                  for (int g = coo; g < m3.Count; g++)
                  {
                      if (coo == 0)
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = "",
                              Header = "",
                              Format =@<text><div >
             <input  id='checkRow' class='chkclass' itemid=''   name=''  type='checkbox'  value='' checked="checked" />
                  </div>
                  </text>
                          });
                      }
                      if ((coo == 0) && (@m3[g].Form_Id == 1379 || @m3[g].Form_Id == 1375 || @m3[g].Form_Id == 1380 || @m3[g].Form_Id == 1381 || @m3[g].Form_Id == 1328 || @m3[g].Form_Id == 1251 || @m3[g].Form_Id == 1273 || @m3[g].Form_Id == 1275 || @m3[g].Form_Id == 1277 || @m3[g].Form_Id == 1283 || @m3[g].Form_Id == 1286 || @m3[g].Form_Id == 1355 || @m3[g].Form_Id == 1353 || @m3[g].Form_Id == 1374))
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = "",
                              Header = "UPC#",
                              Format =@<text>
              <input  id="UPCSearch" title=""  class="gridWH" pattern=""  itemid="" name=""  value=""    type="text"    />
                  </text>
                          });
                      }
                      if (m3[g].Control_Type == "TextBox")
                      {
                          string datatype = null; string dataclass = "txtgridclass";
                          if (m3[g].Data_Type == "INT" || m3[g].Data_Type == "int" || m3[g].Data_Type == "BIT" || m3[g].Data_Type == "bit" || m3[g].Data_Type == "DECIMAL" || m3[g].Data_Type == "decimal")
                          {
                              dataclass = "txtintgridclass";
                          }
                          if (  (@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN05")) || (@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN10")) || (@m3[g].Form_Id == 1251 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1328 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) ||( @m3[g].Form_Id == 1330 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) ||( @m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN07")) ||( @m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN08")) ||( @m3[g].Form_Id == 1353 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN06")))
                          {
                          }
                          else if (m3[g].Field_Name == "PUTABLE002COLUMN24" || m3[g].Field_Name == "PUTABLE006COLUMN12" || m3[g].Field_Name == "SATABLE006COLUMN25" || m3[g].Field_Name == "SATABLE010COLUMN14")
                          {
                              if (@m3[g].Mandatory == "Y")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name + "*",
                                      Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"  class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"    />
               @Html.Hidden("a" + @m3[g].Field_Name, "", new { @id = "a" + @m3[g].Field_Name })
               </text>
                                  });
                              }
                              else
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"   class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"    />
               @Html.Hidden("a" + @m3[g].Field_Name, "", new { @id = "a" + @m3[g].Field_Name })
                  </text>
                                  });
                              }
                          }
                          else
                          {
                              if (@m3[g].Mandatory == "Y")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name + "*",
                                      Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"  class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"    />
               </text>
                                  });
                              }
                              else
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"   class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"    />
              
                  </text>
                                  });
                              }
                          }
                          @*else
                          {
                              if (@m3[g].Mandatory == "Y")
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name + "*",
                                      Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"  class="txtgridclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"     />
              
                  </text>
                                  });
                              }
                              else
                              {
                                  Inlinecolumns.Add(new WebGridColumn()
                                  {
                                      ColumnName = @m3[g].Field_Name,
                                      Header = m3[g].Label_Name,
                                      Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"   class="txtgridclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"     />
              
                  </text>
                                  });
                              }
                          }*@                         
                      }
                      else if (m3[g].Control_Type == "TextArea")
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = @m3[g].Field_Name,
                              Header = m3[g].Label_Name,
                              Format =@<text>
              <textarea  id="@m3[g].Field_Name"  title="@m3[g].Section_Name"   class="txtgridclass txtarealength" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"     >@m3[g].Default_Value</textarea>
                  </text>
                          });
                      }
                      else if (m3[g].Control_Type == "Image")
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = @m3[g].Field_Name,
                              Header = m3[g].Label_Name,
                              Format =@<text><input type="file" id="@m3[g].Field_Name"  title="@m3[g].Section_Name"   itemid="@m3[g].Data_Type"   name="@m3[g].Label_Name" value="@m3[g].Default_Value"  /></text>
                          });
                      }
                      else if (m3[g].Control_Type == "CheckBox")
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = @m3[g].Field_Name,
                              Header = m3[g].Label_Name,
                              Format =@<text><input  id="@m3[g].Field_Name"  title="@m3[g].Section_Name"  class="chkclass"   name="@m3[g].Label_Name" value="@m3[g].Default_Value"   type="checkbox"   /></text>
                          });
                      }
                      else if (m3[g].Control_Type == "Label")
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = @m3[g].Field_Name,
                              Header = m3[g].Label_Name,
                              Format =@<text>@Html.DisplayFor(a => m3[g].Field_Name)</text>
                          });
                      }
                      else if (m3[g].Control_Type == "DropDownList")
                      {
                          if ((@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN03")))
                          {
                          }
                          //else if ((@m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN04")))
                          //{
                          //}
                          //else if ((@m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN20")))
                          //{
                          //} 
                          else 
                          {
                             if (@m3[g].Mandatory == "Y")
                          {
                              Inlinecolumns.Add(new WebGridColumn()
                              {
                                  ColumnName = @m3[g].Field_Name,
                                  Header = m3[g].Label_Name + "*",
                                  Format =@<text> 
                     @Html.DropDownList(@m3[g].Label_Name, new SelectList((SelectList)ViewData[@m3[g].Label_Name], "Value", "Text"), "--Select--", new { @class = "gridddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = @m3[g].Section_Name, @onchange = "ddlChange(this);" })</text>
                              });
                          }
                          else
                          {
                              Inlinecolumns.Add(new WebGridColumn()
                              {
                                  ColumnName = @m3[g].Field_Name,
                                  Header = m3[g].Label_Name,
                                  Format =@<text> 
                     @Html.DropDownList(@m3[g].Label_Name, new SelectList((SelectList)ViewData[@m3[g].Label_Name], "Value", "Text"), "--Select--", new { @class = "gridddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = m3[g].Section_Name, @onchange = "ddlChange(this);" })</text>
                              });
                          }
                      }
                      }
                      else if (m3[g].Control_Type == "RadioButton")
                      {
                          Inlinecolumns.Add(new WebGridColumn()
                          {
                              ColumnName = @m3[g].Field_Name,
                              Header = m3[g].Label_Name,
                              Format =@<text><input class="rdoclass"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name" name="@m3[g].Label_Name" value="@m3[g].Default_Value"    type="radio"   /></text>
                          });
                      }
                      else if (m3[g].Control_Type == "DatePicker")
                      {
                          if (@m3[g].Mandatory == "Y")
                          {
                              Inlinecolumns.Add(new WebGridColumn()
                              {
                                  ColumnName = @m3[g].Field_Name,
                                  Header = m3[g].Label_Name + "*",
                                  Format =@<text><div class="colW">
                                  @if (@m3[g].Form_Id == 1378)
                                  { <input   name="@m3[g].Label_Name"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name"   type="text" readonly="true" class="date"   />  }
                                  else
                                  {
                                      var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
                                      if (ViewBag.Dateformat == "")
                                      {
                                          Dtext = DateTime.Now.ToShortDateString();
                                      }
                                        <input   name="@m3[g].Label_Name"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name" value="@Dtext" type="text" readonly="true" class="date"   />}
                                </div></text>
                              });
                          }
                          else
                          {
                              Inlinecolumns.Add(new WebGridColumn()
                              {
                                  ColumnName = @m3[g].Field_Name,
                                  Header = m3[g].Label_Name,
                                  Format =@<text><div class="colW"> @if (@m3[g].Form_Id == 1378)
                                                                    { <input   name="@m3[g].Label_Name"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name"   type="text" readonly="true" class="date"   />  }
                                                                    else
                                                                    {   <input   name="@m3[g].Label_Name"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name" value="@DateTime.Now.ToShortDateString()" type="text" readonly="true" class="date"   />}</div></text>
                              });
                          }
                      }
                      coo = coo + 1;
                      break;
                  }
              }
          }
              <div class="bottomdivRow" id="formtabcontent">
                      <div class="mainRow" id="@m1[0].Section_Name" >

            @for (int q = 0; q < m1.Count; q++)
            {
                if (ViewBag.headerT == m1[q].Section_Name)
                {
                    if (coT % 3 == 0 && coT != 0)
                    {
                    
                   @:</div>

                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name" >
                        coT = 0;
                    } if ((m1[q].Form_Id == 1261 || m1[q].Form_Id == 1273 || m1[q].Form_Id == 1277) && m1[q].Section_Type == "Grid Level")
                    {
                    }
                    else
                    {
                        if (@m1[q].Section_Type == "Grid Level")
                        {
                        
                           
                                 <div class="gridLevelFB">
                  @gridT.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
          columns: InlinecolumnsT)</div>
                            coT = 2;
                        }
                    } if (@m1[q].Section_Type == "Item Level")
                    {

                            
                                  <div id="itemgrid" class="itemGridFB">
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns: Inlinecolumns) 
                                      @if (@m1[q].Form_Id == 1378 || @m1[q].Form_Id == 1375 || @m1[q].Form_Id == 1379 || @m1[q].Form_Id == 1380 ||
                                           @m1[q].Form_Id == 1381 || @m1[q].Form_Id == 1261 || @m1[q].Form_Id == 1251 || @m1[q].Form_Id == 1285 ||
                                           @m1[q].Form_Id == 1275 || @m1[q].Form_Id == 1278 || @m1[q].Form_Id == 1273 || @m1[q].Form_Id == 1277 ||
                                           @m1[q].Form_Id == 1286 || @m1[q].Form_Id == 1283 || @m1[q].Form_Id == 1374 || @m1[q].Form_Id == 1293 ||
                                          //EMPHCS1784	Job Order for IN Process 15/7/2016
                                          //EMPHCS1795	GRN Screen to Job Order IN By Raj.Jr
					   @m1[q].Form_Id == 1363 || @m1[q].Form_Id == 1386 || @m1[q].Form_Id == 1357 || @m1[q].Form_Id == 1586|| @m1[q].Form_Id == 1605)
                                      {
                                       <div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                                      }</div>
                                      coT = 2;
                                      if (m1.Count > q + ViewBag.itemscol.Count)
                                      {
                                          var count = ViewBag.itemscol.Count - 1;
                                          q = q + count;
                                      }
                                      else
                                      {
                                          break;
                                      }

                    }

                    else if (@m1[q].Section_Type == "Tab")
                    {
                        if (m1[q].Control_Type == "TextBox")
                        {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
       <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)
           @if (@m1[q].Mandatory == "Y")
           {<label  class="astric" >* </label>}
        </div>
        @*@Html.TextBoxFor(a=>m[q].Default_Value)*@
        <div class="txt">@if (m1[q].Field_Name == "MATABLE010COLUMN21")
                         {
         <input id=" @m1[q].Field_Name"  title="@m1[q].Section_Name"  class="txttabClass" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"  type="password" value="@m1[q].Default_Value" />
                         }
                         else
                         {
         <input id=" @m1[q].Field_Name" title="@m1[q].Section_Name" class="txttabClass" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"  type="text" value="@m1[q].Default_Value"  />
        @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
                         }</div> </div>
                        }
                        else if (m1[q].Control_Type == "TextArea")
                        {
         <div class="mainRowCon" id="@m1[q].Section_Name" >
       <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        <div class="txt">
              <textarea id=" @m1[q].Field_Name"  title="@m1[q].Section_Name"  class="txtareaclass" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"   >@m1[q].Default_Value</textarea>
          @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div> </div>
        
                
                        }
                        else if (m1[q].Control_Type == "Label")
                        {
         <div class="mainRowCon" id="@m1[q].Section_Name" >
        <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
        <div class="txt">
              <label id=" @m1[q].Field_Name"   itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"   >@m1[q].Default_Value</label>
          </div></div>
        
                
                        }
                        else if (m1[q].Control_Type == "Image")
                        { <div class="mainRowCon" id="@m1[q].Section_Name" >
             <div class="lbl">
        
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
        
         <div class="txt">
          <input type="file" id="@m1[q].Field_Name"  title="@m1[q].Section_Name"  itemid="@m1[q].Data_Type"   name="@m1[q].Label_Name" value="@m1[q].Default_Value" class="img" />
         </div></div>
                        }

                        else if (m1[q].Control_Type == "CheckBox")
                        {
         <div class="mainRowCon" id="@m1[q].Section_Name" >
          <div class="lbl">
        
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
         <div class="txt">
        
         <input type="checkbox" id="@m1[q].Field_Name"  title="@m1[q].Section_Name" class="chkclass"  name="@m1[q].Label_Name" value="@m1[q].Default_Value"/>
        </div></div>
        
        
                        }

                        else if (m1[q].Control_Type == "DropDownList")
                        {
         <div class="mainRowCon" id="@m1[q].Section_Name" >
          <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        
             <div class="txt">
                  @Html.DropDownList(@m1[q].Label_Name, new SelectList((SelectList)ViewData[@m1[q].Label_Name], "Value", "Text"), "--Select--", new { @class = "ddl", @id = @m1[q].Field_Name, @title = m1[q].Section_Name, @itemid = @m1[q].Mandatory })
                    @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
             </div>      </div>      
        
                        }
                        else if (m1[q].Control_Type == "RadioButton")
                        {   <div class="mainRowCon" id="@m1[q].Section_Name" > 
                           <div class="lbl">@Html.DisplayFor(a => m1[q].Label_Name)</div>
                           <div class="txt"><input id=" @m1[q].Field_Name"  title="@m1[q].Section_Name" name="@m1[q].Label_Name" type="radio" value="@m1[q].Default_Value"  class="rdoclass" />
                               </div> </div>
                        }
                        else if (m1[q].Control_Type == "DatePicker")
                        {
        
         <div class="mainRowCon" id="@m1[q].Section_Name" >
        <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)
        </div>
          @{ var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
                                      if (ViewBag.Dateformat == "")
                                      {
                                          Dtext = DateTime.Now.ToShortDateString();
                                      }
                                      }
        
    
        <div class="txt">
         <input name="@m1[q].Label_Name"  title="@m1[q].Section_Name" type="text"  id="@m1[q].Field_Name" value="@Dtext" class="date" readonly="true" />
        </div></div>
        
        
        
        
                        }
                    }

                    coT++;
                    if (q == m1.Count - 1)
                    {
                        if (coT % 3 == 1)
                        {
                            if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                            { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                            }
                        }
                        else if (coT % 3 == 2)
                        {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                        }
                        else if (coT % 3 == 0)
                        {

                        }
                    }
                }
                else
                {

                    if (coT > 0)
                    {
                        ViewBag.headerT = m1[q].Section_Name;
                        if (coT % 3 == 1)
                        {
                            if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                            { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                       @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name">
                        q--; coT = 0;
                            }
                            if (@m1[q].Section_Type == "Item Level" || @m1[q].Section_Type == "Grid Level")
                            {
                                //coT ++; 
                            }
                        }
                        else if (coT % 3 == 2)
                        {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                       @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name"  >
                        q--; coT = 0;
                        }
                        else if (coT % 3 == 0)
                        {
                            @:</div>
                    @:<div class="mainRow bottomdivRow" id="@m1[q].Section_Name">
                        q--; coT = 0;
                        }
                    }
                    else if (q == 0)
                    {
                        ViewBag.headerT = m1[q].Section_Name;
                        q--; coT = 0;
                    }
                    else
                    {
                    }
                }

            }
                             </div>


                  @for (int q = 0; q < @m4.Count; q++)
                  {
                      if (@m4[q].Section_Type == "Table")
                      {
                          if (q == 0 || q == 7)
                          {
                              if (q == 0)
                              { 
                           @:<div id="@m4[q].Section_Name" class="tblfirstcol" > <div id="@m4[q].Section_Name" class="tblsections"  > Sales Information </div>
                            }
                              else if (q == 7)
                              { 
                            @:</div><div id="@m4[q].Section_Name"  class="tblsecondcol"  ><div id="@m4[q].Section_Name"   class="tblsections"  > Purchasing Information  </div>
                         }
                          }

                          if (m4[q].Control_Type == "TextBox")
                          {
                        <div class="tblrowheight"  id="@m4[q].Section_Name" >
       <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)
           @if (@m4[q].Mandatory == "Y")
           {<label  class="astric" >* </label>}
        </div>
        @*@Html.TextBoxFor(a=>m4[q].Default_Value)*@
        <div class="tblcontrollength">@if (m4[q].Field_Name == "Password")
                                      {
         <input id=" @m4[q].Field_Name"  title="@m4[q].Section_Name"  class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"  type="password" value="@m4[q].Default_Value" readonly="true"/>
                                      }
                                      else
                                      {
         <input id=" @m4[q].Field_Name" title="@m4[q].Section_Name" class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"  type="text" value="@m4[q].Default_Value"  />
        @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
                                      }</div> </div>
                          }
                          else if (m4[q].Control_Type == "TextArea")
                          {
                            <div  class="tblrowheight" id="@m4[q].Section_Name" >
       <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        <div class="tblcontrollength">
              <textarea id=" @m4[q].Field_Name"  title="@m4[q].Section_Name"  class="tbltxtarea" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"   >@m4[q].Default_Value</textarea>
          @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div> </div> 
                
                          }
                          else if (m4[q].Control_Type == "Label")
                          {
                         <div  class="tblrowheight"  id="@m4[q].Section_Name" >
        <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        <div class="tblcontrollength">
              <label id=" @m4[q].Field_Name"   itemid="@m4[q].Data_Type" name="@m4[q].Label_Name"   >@m4[q].Default_Value</label>
          </div></div> 
                          }
                          else if (m4[q].Control_Type == "Image")
                          { 
                        <div   class="tblrowheight"  id="@m4[q].Section_Name" >
             <div class="tbltextlength">
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        
         <div class="tblcontrollength">
          <input type="file" id="@m4[q].Field_Name"  title="@m4[q].Section_Name"  itemid="@m4[q].Data_Type"   name="@m4[q].Label_Name" value="@m4[q].Default_Value" class="img" />
         </div></div>
                          }

                          else if (m4[q].Control_Type == "CheckBox")
                          {
                          <div   class="tblrowheight" id="@m4[q].Section_Name" >
          <div class="tbltextlength">
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
         <div class="tblcontrollength">
        
         <input type="checkbox" id="@m4[q].Field_Name"  title="@m4[q].Section_Name" class="chkclass"  name="@m4[q].Label_Name" value="@m4[q].Default_Value"/>
        </div></div> 
                          }

                          else if (m4[q].Control_Type == "DropDownList")
                          {
                            <div   class="tblrowheight" id="@m4[q].Section_Name" >
          <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class="astric" >* </label>}</div>
        
             <div class="tblcontrollength">
                  @Html.DropDownList(@m4[q].Label_Name, new SelectList((SelectList)ViewData[@m4[q].Label_Name], "Value", "Text"), "--Select--", new { @class = "tblddl", @id = @m4[q].Field_Name, @title = m4[q].Section_Name, @itemid = @m4[q].Mandatory })
                    @*<span id="@m4[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
             </div>      </div>      
        
                          }
                          else if (m4[q].Control_Type == "RadioButton")
                          {   
                        <div   class="tblrowheight"  id="@m4[q].Section_Name" > 
                           <div class="tbltextlength">@Html.DisplayFor(a => m4[q].Label_Name)</div>
                           <div class="tblcontrollength"><input id=" @m4[q].Field_Name"  title="@m4[q].Section_Name" name="@m4[q].Label_Name" type="radio" value="@m4[q].Default_Value"  class="rdoclass" />
                               </div> </div>
                          }
                          else if (m4[q].Control_Type == "DatePicker")
                          {
        
                      <div   class="tblrowheight"  id="@m4[q].Section_Name" >
        <div class="tbltextlength">
        @Html.DisplayFor(a => m4[q].Label_Name)
        </div>
         @{ var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
                                      if (ViewBag.Dateformat == "")
                                      {
                                          Dtext = DateTime.Now.ToShortDateString();
                                      }
                                      }
        
    
        <div class="tblcontrollength">
         <input name="@m4[q].Label_Name"  title="@m4[q].Section_Name" type="text"  id="@m4[q].Field_Name" value="@Dtext" class="date tbltxt" readonly="true" />
        </div></div>
                          }
                          if (q == m4.Count - 1)
                          {
                           @:</div>
                           }
                      }
                  }
             </div>
             </div>

          }
         </div>
}

</div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB"></div>
    @if (Session["DDDynamicItems"] == "DDDynamicItems")
    {
        <input onclick="@("window.location.href='" + @Url.Action("SetVariable", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" id="form-reset" class='buttonclass' type="reset" value="Cancel"  />
    }
            </div>
</div>
   
    
</body>
</html>