﻿@model IEnumerable<eBizSuiteAppModel.Table.MATABLE022>

@{
    ViewBag.Title = "Info";
}
<!DOCTYPE>
<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <style>
        .ThisLink{
           pointer-events: none;
           cursor: default;
    }
    </style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grdfData').DataTable({
            "aaSorting": [[0, "desc"]]
        });

        $('tr.webgrid-row-style, tr.webgrid-alternating-row').each(function () {
          
            debugger;
            if ($(this).find('td').eq(1).text() == "1% 10 Net 30" || $(this).find('td').eq(1).text() == "2% 10 Net 30" ||
                $(this).find('td').eq(1).text() == "Due on receipt" || $(this).find('td').eq(1).text() == "Net 15" ||
                $(this).find('td').eq(1).text() == "Net 30" || $(this).find('td').eq(1).text() == "Net 60") {
            
                    $(this).find('td')[0].className = "ThisLink";
                }
            
        });
    });

</script>
</head>
<body>
     <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                  @* <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "PaymentTerms", new {  idi = Request["idi"],FormName = Request["FormName"] }) + "'")    ;  " /></div>*@
		  <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Create", "PaymentTerms", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; " /></div>
          </div>
        </div>
          @{List<WebGridColumn> columns = new List<WebGridColumn>();}
         @foreach (var column in ViewBag.columns)
         {
	 @*EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application*@
             if (column.ColumnName == "ID")
             {var fname="Return Receipt";
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = "",
                     Header = "",
                     Format =@<text>@Html.ActionLink("Edit", "Edit", new { ide = item.ID })
                     @Html.ActionLink("View", "View", new {ide = item.ID })
                     </text>
                 });
             }
             else
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = column.ColumnName,
                     Header = column.Header
                 });
             }
        }
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            }
              <div id="Content" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:(columns)
               )
        </div>
    </div>
</body>
</html>