﻿@model eBizSuiteAppModel.Table.MATABLE022

@{
    ViewBag.Title = "View";
}
<!DOCTYPE>
<html>
<body>

    @using (Html.BeginForm("Edit", "PaymentTerms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <div class="rowCont bottomRowContentFB" id="ddl">
            <div class="bottomColFB1">
                <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "PaymentTerms") + "'")    ;" />
            </div>
            
        </div>
        <div class="bodyFBContent">
            
        <div  id="Staticdiv" class="bodyFBContent">


               <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Terms :</div>
             <div class="txt">
             @Html.DisplayFor(model => model.COLUMN04, new { @readonly = true, @class="txtclass" })
            @Html.ValidationMessageFor(model => model.COLUMN04)
               </div>  </div> 
            <div class="mainRowCon">
            <div class="lbl"> Standard </div>
             <div class="txt">
                 @if(Model.COLUMN05==true){
                      <lable   class="chkclass"   value="True" disabled="disabled">: True</lable>
                 }
                 else{
                      <lable class="chkclass"   value="True" disabled="disabled">: False</lable>
                 }
                 
               
               </div> 
                
            </div> 
            <div class="mainRowCon">
            <div class="lbl"> Net due in :</div>
             <div class="txt">
             @Html.DisplayFor(model => model.COLUMN06, new { @class = "txtclass" })
            @Html.ValidationMessageFor(model => model.COLUMN06)Days.
               </div>  </div> 
             </div>
           
          

               <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Discount Percentage is :</div>
             <div class="txt">
             @Html.DisplayFor(model => model.COLUMN07, new { @class = "txtclass" })
            @Html.ValidationMessageFor(model => model.COLUMN07)%
               </div>  </div> 
                   <div class="mainRowCon">
             <div class="lbl"> Term is inactive </div>
             <div class="txt">
           
                  
                  @if(Model.COLUMN09==true){
                      <lable   class="chkclass"   value="True" disabled="disabled">: True</lable>
                 }
                 else{
                      <lable class="chkclass"   value="True" disabled="disabled">: False</lable>
                 }
             </div>
                       </div>
                
            <div class="mainRowCon">
            <div class="lbl"> Discount if paid within :</div>
             <div class="txt">
             @Html.DisplayFor(model => model.COLUMN08, new { @class = "txtclass" })
            @Html.ValidationMessageFor(model => model.COLUMN08) Days.
               </div>  </div> 
             </div>
           
                
    </div>
        </div>
        <div class="newbottomRowContentFooter" id="footerInfo">
        </div>
    }

</body>
</html>
