
.menu, .menu ul
{
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*border: 1px solid #ece6e8;
  border-bottom: 2px solid #d9ced2;*/
 background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 16%, #2b2b2b 59%, #1c1c1c 80%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(16%,#595959), color-stop(59%,#2b2b2b), color-stop(80%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 16%,#2b2b2b 59%,#1c1c1c 80%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


	border-radius: 10px;

	
}


.menu a
{
    margin: 0;
    text-decoration: none;
}
.menu > li
{
    margin: 0;
    margin-left: 15px;
}
.menu > li:first
{
    margin-left:0px!important;
    }
.menu > li > a
{
display: block;
  padding: 1px 20px 1px 20px;
  text-decoration: none;
  color: #fff;
  font-weight:bold;
}

div.box
{
    position: absolute;
    z-index: -1;
    background-color:  #005A88;
    left: 0;
    top: 0;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}
li.pull-down
{
    padding-right:6px;
    }
li.pull-down > a
{
    background-image: url('./Content/images/darrow.png');
    background-position: 96% 75%;
    background-repeat: no-repeat;
    padding-right: 20px;cursor:pointer;
    border:none;
    
}
/*selected menu hover*/
li.pull-down-selected > a {
    background-color: #fff;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
    border:0px;
    width:100%;

}

li.pull-down > a:hover{
      background: #4d8adb;
  color: #fff;
    height:35px;
    width:90%;
    border:0px;

}
li.right-menu > a
{
    background-image: url('./Content/images/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}
.menu a.selected
{
    /*background-color: red;*/
    border-radius: 0px 3px 3px 3px;
    -moz-border-radius: 0px 3px 3px 3px;
    -webkit-border-radius: 0px 3px 3px 3px;
}
.menu li.selected {
    /*background-color:red;*/
    margin:5px;
    height:30px;
}
.menu li
{
    float: left;
    position: relative;
    margin:5px;
    height:35px;
     /*display: inline-block;
  *display: inline;
  zoom: 1;*/

}
    .menu li #responsive-tab {
        display: none;
    }

.menu ul
{
    position: absolute;
    display: none;
    width: 150px;
    top: 2.5em; /*padding-right: 10px;*/
    background-color:  #005A88; /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border-radius: 0px 3px 3px 3px;
    -moz-border-radius: 0px 3px 3px 3px;
    -webkit-border-radius: 0px 3px 3px 3px;
}

.menu li ul a
{
    width: 150px;
    height:25px;
    float: left;
    color: #fff;
    padding: 0 10px; 
}
.menu li ul a selected:hover{
    cursor: pointer;
    width: 150px;
    height:30px;

}
.menu li ul li
{
    padding: 0;
    margin: 0;
}
.menu ul ul
{
    top: auto;
}

.menu li ul ul
{
    left: 150px; /*margin: 0px 0 0 10px;*/
}

.menu-item-selected {
    background-color: red;
}
.menu-item-selected:hover{
      background: #4d8adb;
  color: #fff; cursor: pointer;
    width:150px;
}
.menu-item-selected > a
{
    background-color: #FFFEFD;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;

}
/*dought*/
.menu-item-selected > a:hover
{
      background: #4d8adb;
  color: #fff !important;
    
    /*background-color:#f6f6f6 !important;*/
    width:150px;
}

