﻿emptyDivFbody {
    
}

/*INFO*/

.headerMenuContent {
background-color:#327DA8;
float:left;
width:100%;

}

.headerMenuContent table {
       border:0;
       width:100% ;
height:25px;

}
.headerMenuContent table tr td {
       border:0;
       color:white;

}

.btnStyle
        {
    background-color:#a3d5e9;
    color:#e6c3c3;
            border: thin solid #000000;
            line-height: normal;
            width: 80px;
            border-radius: 6px;
        }
/*.topfirstButtonCont{
	width: 96%;
	float:left;
	height:auto;
	padding:5px 2%;

}*/


.normalTxt{
	font-size:14px;
	color:#fff;

}
.headerMenuFirstRow {

    width:100%;
    height:29px;
    float:left;
    padding: 5px 0px;
}

.headerMenuFirstRow div {
   

    width:auto;
    height:25px;
    padding:5px 10px 5px 20px;
    float:left;
    color:#ffffff;
    margin:1px 5px 1px 5px;
}

.headerMenuSecondRow {
    

    width:99%;
    height:29px;
    float:left;
    padding: 10px 3px 15px 9px;
    background-color:#327DA8;
    
}

.headerMenuSecondRow div {
    

    width:auto;
    height:25px;
    padding:5px 10px 5px 10px;
    float:left;
    color:#ffffff;
    margin:1px 5px 1px 5px;

}
.emptyDiv {

    width:55% !important;
    float:left;
}
.emptyDiv12 {

    width:60% !important;
    float:left;
}

.FoterMenuSecondRow {
    

    width:99%;
    height:25px;
    float:left;
    padding: 5px 5px 14px 5px;
    background: linear-gradient(rgb(60, 97, 177) 0%, rgb(52, 85, 162) 50%, rgb(33, 56, 107) 100%);
    border-radius: 0px 0px 10px 10px;
}

.FoterMenuSecondRow div {
   

    width:auto;
    height:25px;
    padding:5px 10px 5px 6px;
    float:left;
    color:#ffffff;
    margin:1px 2px 1px 5px;

}

.FoterMenuSecondRow div select{
       width:70%;
       
       border-radius:5px;
       height:25px;
       font-size:14px;
       color:#005A88;
}
.emptyDivF {

    width:10% !important;
    /*width:17% !important;*/
    float:left;
}















.button-hide{
 /*background-color: #005A88;color: #fff;*/
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;border-left:solid 1px #154962;
}
    /*.button-hide selected {
        background-color: #fff;
    }*/


.button-show{
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}


            /*;
            padding: 3px 9px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    */



  








/*Export Button Styles Starts*/

.dropdown {
    position:static;
    display: inline-block;

}
.dropdown ul{
position: fixed;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    visibility: visible;
    transform: scale(1);
    transition: all 0s;
    vertical-align:top;
}

.dropdown .dropdown-menu {


    position: static;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: auto; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: auto;
    color:white
}



/** Button Styles **/
.dropdown button {
     background-color: #005A88;
            color: black;
            /*padding: 3px 9px;*/
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
    text-decoration:none;
    position:static;
    border-left:solid 0px #154962;
     
}

.dropdown button:hover {
    background-color: #fff;
                color: white;
                border-radius: 5px;
                /*padding: 3px 9px;*/
               font-weight: bold;
               cursor: pointer;
               border-left:solid 0px #154962;
     
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #4d8adb;
    color: #FFFFFF;
    font-size:12px;
    width:35px;

}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #fff;
    color:black;
    font-size:12px;
    font-weight:bold;
    width:35px;
          
}

/*Export Button Styles Ends*/










.bg{
background-color: #005A88; color: white;}



 div input.idTextFB {
    font-size: 12px;
    width: 150px;
    border: none;
    display: none;
}
div input.idTextFBelse {
    font-size: 12px;
    background-color: inherit;
    width: 150px;
    text-align: center;
    border: none;
}





.hideFilter{
    background-color: #327DA8;  display: none;
     
       
       /*border:none !important;*/

       background-color: #4d8adb;
    color: #ffffff;
    height:30px;
     padding:3px 10px 3px 10px;
     width:98%;
    float:left;

}
.hideFilter div {
   

    width:auto;
    height:23px;
    padding:5px 10px 5px 6px;
    float:left;
    color:#ffffff;
    margin:1px 2px 1px 5px;

}



.hideFilter div label{
      
       color:#ffffff ;
       width:auto;
       float:left;
       padding-right:5px;
       font-size:12px;

}

.hideFilter div select{
      
       width:60%;
       float:left;
       border-radius:5px;
       height:23px;
       font-size:12px;
       color:#005A88;

}


.overflow {
    width:100%; overflow: auto; height: 360px;
}
.overflowInline {
    width:100%; overflow: auto; height: 360px;display:none;
}
.overflowtable {
    width:100%; overflow: auto; height: 360px;display:none;
}

.ch{
display:inline-block; width:150px;}
.gridcntdata {
    display: none;
    width: 1000px;
    background: none repeat scroll 0% 0%;
}












