﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Accounts Report";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <title>AccountsDisplay</title>
    <script type="text/javascript">
        $(document).ready(function () {
            //EMPHCS752	Operating Unit Filter In COA Reports Done BY RAJ JR 7/20/2015
            //EMPHCS759	All dates in COA reports should sort with updated date BY RAJ JR 28/7/2015
            $('#DataTable').DataTable({
		//EMPHCS1561 rajasekhar patakota 12/02/2016 latest bug fixes raised by sudheer in production
                "aaSorting": []
            });
	    //EMPHCS1561 rajasekhar patakota 12/02/2016 latest bug fixes raised by sudheer in production
            var sessionOPID = '@Session["OperatingFY"]';
            var FDate = '@Session["FYFDate"]';
            var TDate = '@Session["FYTDate"]';
            var Name = '@Request["Name"]';
            if (sessionOPID != "" && sessionOPID != null) {
                $("#OperatingUnit").val(sessionOPID);
            }
            if (FDate != "" && FDate != null && TDate != "" && TDate != null && (Name == null || Name == "")) {
                $("#frmDT").val(FDate);
                $("#toDT").val(TDate);
            }
            //Bottom Export Button Click Event
            $("#btnFilters2").click(function () {
                FilterView2();
            })
            $("#btnDisplay").click(function () {
                var ide = '@Request["ide"]'.toString();
                var typ = '@Request["typ"]'.toString();
                var GLV = '@Request["GLV"]'.toString();
                var FromDate = $("#frmDT").val();
                var ToDate = $("#toDT").val();
                var opunit = '@Session["COAopunit"]';
                var operatingunit = $("#OperatingUnit").val();
                var TDSType = $("#TDSType").val();
                $("#divLoading").show();
                $.ajax({
                    url: "/FormBuilding/AccountsFilterData?GLV=" + GLV + "",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({ ide: ide, typ: typ, FromDate: FromDate, ToDate: ToDate, opunit: opunit, operatingunit: operatingunit, TDSType: TDSType }),
                    success: function (data) {
                       
                        if (data != "") {
                            //PQ Line Fields 
                            $('#DataTable').remove();
                            $('#dynamic').html(data.grid);
                            //$('#DataTable').DataTable();
                            //EMPHCS759	All dates in COA reports should sort with updated date BY RAJ JR 28/7/2015
                            $('#DataTable').DataTable({
				//EMPHCS1561 rajasekhar patakota 12/02/2016 latest bug fixes raised by sudheer in production
                                "aaSorting": []
                            });
                        } $("#divLoading").hide();
                    }
                });
            });

            });
        </script>
    <style>
TABLE {border:1px solid #e5eff8;border-collapse:collapse;border-collapse: collapse;}
TH {padding: 3px;border:1px solid #e5eff8;border-collapse:collapse;background-color: #5995FF;color:rgb(8, 7, 7);font-size:12px}
TD {padding: 3px;border:1px solid #e5eff8;border-collapse:collapse}
</style>
</head>
<body>    @using (Html.BeginForm( ))
    { <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div> <div style="overflow:auto;" id="accountsReport">
     <div class="rowCont bottomRowContentFB"  id="reportheader">
    @*<div class="reportdiv"><div class="reportlbl"> Bank Name </div>@Html.DropDownList("Bank",null, "--Select--", new {  @id = "Bank",@class="reportddl" })</div>*@
     @*//EMPHCS752	Operating Unit Filter In COA Reports Done BY RAJ JR 7/20/2015*@
<div class="reportdiv"> <div class="reportlbl"> Operating Unit </div>@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div>
        @if (@Request["ide"] == "1021" || @Request["ide"] == "1101")
        { <div class="reportdiv"> <div class="reportlbl"> TDS Type </div>@Html.DropDownList("TDSType", new SelectList((SelectList)ViewData["TDSType"], "Value", "Text"), "--Select--", new {  @id = "TDSType",@class="reportddl" })</div>
         }
        <div class="reportdiv"><div class="reportlbl"> From Date  </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt" value="@ViewBag.FromDate"   type="text"/></div>
    <div class="reportdiv"><div class="reportlbl">To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT" value="@ViewBag.ToDate"   type="text" /></div>
     <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
      <div class="reportdiv btnContRight"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "FormBuilding", new { FormName = Session["FormName"] }) + "'")" /></div>
      @*//EMPHCS752	Operating Unit Filter In COA Reports Done BY RAJ JR 7/20/2015*@
      <div class="dropdown btnContRight">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                         <li><a href="@Url.Action( "COAExportPdf", "FormBuilding")">PDF</a></li>
                        <li><a href="@Url.Action( "COAExportExcel", "FormBuilding")">Excel</a></li>
                        <li><a href="@Url.Action( "COAExportWord", "FormBuilding")">Word</a></li>
                        <li><a href="@Url.Action( "COAExportCSV", "FormBuilding")" >CSV</a></li>
                    </ul>
                </div>
      </div>   

  <div class="overflow" id="dynamic">
            @{
        var grid = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: false, canSort: false);
                grid.Bind(ViewBag.itemsdata, autoSortAndPage: false);
            }
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div id="Content">
                    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.cols2)
                </div>
        }
        </div>
         </div>
    }
</body>
</html>
