﻿
@model List<eBizSuiteAppModel.Table.CONTABLE006>
@{
    ViewBag.Title = @Session["FormName"] ;
}
<!DOCTYPE html>
<html>
<head>
        <title>Data ordering</title>   
        @*<link href="~/css/FormBuild.css" rel="stylesheet" />*@
@*    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />*@
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <script src="~/Content/Tabs/jquery.dataTables.rowReordering.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <a href='http://www.foliotek.com/devblog/make-table-rows-sortable-using-jquery-ui-sortable/'></a>
    <a href="http://datatables.net"></a>
    <script src="~/Content/Tabs/taby.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            },
    updateIndex = function (e, ui) {
        $('td.index', ui.item.parent()).each(function (i) {
            $(this).html(i + 1);
        });
    };

            $("#sort tbody").sortable({
                helper: fixHelperModified,
                stop: updateIndex
            }).disableSelection();
        });
        $(document).ready(function () {
            //Date Picker
            dateupdate();
            //Tabs
            $("#tabs").tabs();
            //Mandatory selection
            $("#ddlman").live("change", function () {
                gridchange();
            });
            //Custom Form Save
            $("#TabSave").click("click", function () {
                CustomFormSave('@Request["FormName"]');
            });
        });

        </script> 
     
</head>
<body>
    <div id="tabs" class="fbTabCon">
            <ul > 
                <li>
                    <a href=#Tabs>Tabs</a>&nbsp;</li>
                <li>
                    <a href=#FieldGroups>FieldGroups</a>&nbsp;</li>
                <li>
                    <a href=#Actions>Actions</a>&nbsp;</li>
                <li >
                    <a href=#Roles >Roles</a>&nbsp;</li>
            </ul>
         <div id="CustomFormData">


   <div id="Tabs" class="overflowGrid">
        @{
            var grid = new WebGrid(ViewBag.TabMaster, canPage: false, canSort: false,
          selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
          
            <div id="sort">               
               @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "getdata" },
                columns: grid.Columns(
                grid.Column(columnName: "TabName", header: "TabName", format: @<text><input type="text" id="TabName1" value="@item" disabled="disabled"/></text>),
                grid.Column(columnName: "Action", header: "Action", format: @<text>@Html.DropDownList("Action", new SelectList(new[] { "Y", "N" }))</text>),
                grid.Column(columnName: "TabName", header: "Label", format: @<text><input type="text" id="label1" value="@item" /></text>)
               )) 
            </div> 
        } 
     </div>
   
  <div id="FieldGroups" class="overflowGrid">
               @{
                   var Fgrid = new WebGrid(ViewBag.Section, canPage: false, canSort:false,
          selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            <div id="sort">                 
               @Fgrid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Fgetdata" },
                columns: grid.Columns(
                grid.Column(columnName: "TabName", header: "TabName", format: @<text><input type="text" id="FTabName" value="@item" disabled="disabled"/></text>),
                grid.Column(columnName: "Action", header: "Action", format: @<text>@Html.DropDownList("Action", new SelectList(new[] { "Y", "N" }))</text>),
                grid.Column(columnName: "SectionName", header: "SectionName", format: @<text><input type="text" id="FSection_Name" value="@item" /></text>)
               ))  
            </div> 
        } 
     </div>
     <div id="Actions" class="overflowGrid">
         @{
             var Agrid = new WebGrid(Model, canPage: false,canSort:false);
            <div id="sort">
               @Agrid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Agetdata" },
                columns: grid.Columns(
                grid.Column(columnName: "TabName", header: "TabName", format: @<text><input type="text" id="ATabName" value="@item.COLUMN06" disabled="disabled"/></text>),
                grid.Column(columnName: "Label", header: "Label", format: @<text><input type="text" id="ALabel" value="@item.COLUMN06" /></text>),
                grid.Column(columnName: "Action", header: "Action", format: @<text>@Html.DropDownList("Action", new SelectList(new[] { "Y", "N"}, selectedValue: @item.COLUMN07 ), htmlAttributes: new {id="ddlact" })</text>),
                grid.Column(columnName: "Mandatory", header: "Mandatory", format: @<text>@Html.DropDownList("Mandatory", new SelectList(new[] { "Y", "N" }, selectedValue: @item.COLUMN08 ), htmlAttributes: new {id="ddlman" })</text>),
                   //<input type="text" id="AAction" value="@item.Action" /><input type="text" id="AMandatory" value="@item.Mandatory" />
                grid.Column(columnName: "ConyrolType", header: "ConyrolType", format: @<text>@Html.DropDownList("@Model.Select(a=>a.Control_Type)", new SelectList(new[] { "TextBox", "DropDownList", "DatePicker", "CheckBox","RadioButton", "Image" , "LinkLabel", "GridView"}, selectedValue: @item.COLUMN10))</text>),
                grid.Column(columnName: "Section Type", header: "Section Type", format: @<text>@Html.DropDownList("Section Type", new SelectList(ViewBag.Type, selectedValue: @item.COLUMN11))</text>),
                grid.Column(columnName: "Section Name", header: "Section Name", format: @<text>@Html.DropDownList("Section Name", new SelectList(ViewBag.Tabs, selectedValue: @item.COLUMN12))</text>),
                grid.Column(columnName: "Master Type", header: "Master Type", format: @<text>@Html.DropDownList("Master Type", new SelectList( ViewBag.MasterType, selectedValue: @item.COLUMN14),"--Select--")</text>),
                grid.Column(columnName: "Master Value", header: "Master Value", format: @<text>@Html.DropDownList("Master Value", new SelectList( ViewBag.MasterValue, "COLUMN02", "COLUMN05", selectedValue: @item.COLUMN15),"--Select--")</text>)
               )) 
            </div> 
        } 
          
        </div>
    <div id="Roles" class="overflowGrid">
        @{
            var Rgrid = new WebGrid(ViewBag.Roles, canPage: true,canSort: false,
          selectionFieldName: "selectedRow", ajaxUpdateContainerId: "RgridContent");
            <div id="Rsort">               
               @Rgrid.GetHtml(tableStyle: "webgrid-table",
               headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Rgetdata" },
                columns: grid.Columns(
                grid.Column(columnName: "RoleId", header: "Select",format:@<text><input  id="assignChkBx" name="assignChkBx"  type="checkbox" value="@item.COLUMN02"   /></text>),
                grid.Column(columnName: "COLUMN04", header: "RoleName")
               )) 
            </div> 
        } 
     </div>
    </div>
     </div> 
    <div class="rowCont bottomRowContentFooter" id="footerInfo">
   @Html.Label("Form Name", new { @class="customviewlbl" })
    @Html.TextBox("FormName","", new { @class="txtclassF",@id="FormName" })
 <input type="button" value="Save" id="TabSave" class="buttonclass"/>
        <input type="button" value="Cancel" id="FormBuild" class="buttonclass" onclick="window.history.go(-1); return false;"/>
   @* <a class="buttonclass linkColor" id="FormBuild" href="~/FormBuilding/Info?FormName=@Request["FormName"]">Cancel</a>*@
       </div>
</body>
</html>
