﻿@model List<MeBizSuiteAppUI.Controllers.FormBuildClass>
<!DOCTYPE html>
<html>
<head>
    @*<script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        //GetTransactionNo(opunit, FormName, FormId);
    </script>*@
</head>
<body>
                          @{
                              var m = Model.Where(a => a.Section_Type != "Tab" && a.Section_Type != "Table" && a.Section_Type != "Item Level" && a.Section_Type != "Grid Level" && a.Section_Type != "TableSection1" && a.Section_Type != "TableSection2" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
                              var m5 = @Model.Where(a => a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Type == "HiddenSection").ToList();
                              var m6 = @Model.Where(a => a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Type == "ReferenceSection").ToList();
                              var m3 = @Model.Where(a => a.Section_Type == "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
                              var m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" || a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();
                              var mt = @Model.Where(a => (a.Section_Type == "TableSection1" || a.Section_Type == "TableSection2") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
                              var m4 = @Model.Where(a => (a.Section_Type == "Table") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();
                              if (Model[0].Form_Id == 1386) m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" ||
                                     a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Name != "GLImpact").OrderBy(a => a.Section_Name).ToList();
                              else if (Model[0].Form_Id == 1363) m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" ||
                                      a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Name != "GLImpact").OrderBy(a => a.Section_Name).ToList();
                              else if (Model[0].Form_Id == 1349) m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" ||
                              a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Name != "GLImpact").OrderBy(a => a.Section_Name).ToList();
                              else if (Model[0].Form_Id == 1350) m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" ||
                              a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Name != "GLImpact").OrderBy(a => a.Section_Name).ToList();
                              else if (Model[0].Form_Id == 1351) m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" ||
                              a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Section_Name != "GLImpact").OrderBy(a => a.Section_Name).ToList();
                            }
                            @if (@Model[0].Form_Id == 1386 || @Model[0].Form_Id == 1363 || @Model[0].Form_Id == 1525 || @Model[0].Form_Id == 1526)
                            { m = @Model.Where(a => a.Section_Type != "Tab" && a.Section_Type != "Table" && a.Section_Type != "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderBy(a => a.Tab_Index).ToList(); }
                            
                            @{m = m.Where(a => a.Section_Name != "Inventory").ToList();
                              var headertabs = @Model.Where(a => a.Section_Type != "Item Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "" && a.Label_Name != "Refered Form" && a.Section_Type != "AdvancedSec2" && a.Section_Type != "HiddenSection" && a.Section_Name != "ReferenceSection").Select(p => p.Section_Name).Distinct().ToList();
                              var formid = m[0].Form_Id;
                              var co = 0; var bco = 0; var adco = 0; var coo = 0; int seccnt = 0, coT = 0; var imgid = ""; }
                            @{List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();}
    <div id="HeaderCollapse"> <input type="image"  src="/Images/1/FormShrink.png"  id="headerimgCollaseexpand" class="FormHeaderCollapseIcon"><input type="image"  src="/Images/1/FormExpand.png"  id="headerimgExpandCollase"  class="FormHeaderExapandIcon">
         <div class="divRow" id="formheadercontent" style='overflow: hidden; height: auto;min-height: 202px;'>
       <div > 
       <div class="mainRowHeader" id="@m[0].Section_Name" >
    @for (int q = 1; q < m.Count; q++)
    {
        if ((ViewBag.header != @m[q].Section_Name.ToString()))
        {
            for (int y = 0; y <= q; y++)
            {
                if ((@m[q].Section_Name == @m[y].Section_Name) && (y != 0 && q != 0 && y != q))
                {
                    if ((co % 3 == 0))
                    { 
                     @:</div><div class="mainRow" id='@m[q].Section_Name' >  
                   }
                    else
                    {

                    }
                    break;
                }
                else if (y == q)
                {
                    @:</div>@if (@m[q].Section_Name != null && @m[q].Section_Name != "")
                            {
                                { imgid = "im" + @m[q].Section_Name; imgid = imgid.Replace(" ", "_"); seccnt = seccnt + 1; }
                                if (seccnt >= 2)
                                {                                
                        @:</div><div id='@m[q].Section_Name' class="bodyFBCon" style='margin-bottom:9px;margin-top: 5px;'> <input type="image"  src="/Images/1/Collapse.png"  id="imgCollaseexpand" itemid='@m[q].Section_Name'  class="FormCollapseIcon" style='display:none;'><input type="image"  src="/Images/1/Expand.png"  id="imgExpandCollase" itemid='@m[q].Section_Name'  class="FormExapandIcon" style='display:block;'> @m[q].Section_Name </div>
                        @:<div id="@imgid" style='display:none;'>
                            }
                                else
                                {                                
                        @:</div><div id='@m[q].Section_Name' class="bodyFBCon" style='margin-bottom:9px;margin-top: 5px;'> <input type="image"  src="/Images/1/Collapse.png"  id="imgCollaseexpand" itemid='@m[q].Section_Name'  class="FormCollapseIcon"><input type="image"  src="/Images/1/Expand.png"  id="imgExpandCollase" itemid='@m[q].Section_Name'  class="FormExapandIcon"> @m[q].Section_Name </div>
                        @:<div id="@imgid">
                            }
                  @*<div id='@m[q].Section_Name' style='border-style:ridge;border-color:#97c6ed;'> @m[q].Section_Name </div> *@
                            } <div class="mainRow"  id='@m[q].Section_Name'>  
                    co = 0;
                }
            }
        }
        else
        {
            if ((co % 3 == 0))
            { 
            @:</div><div class="mainRow" id='@m[q].Section_Name'>
}

}
co++;
ViewBag.header = m[q].Section_Name;

if (m[q].Control_Type == "TextBox")
{
var llb = @m[q].Field_Name + "lbl";
var llba = @m[q].Field_Name + "lbla";
<div class='mainRowCon' id='@m[q].Section_Name'>
    <div class="lbl" id='@m[q].Section_Name'>
        <label id="@llb">@m[q].Label_Name</label>@if (@m[q].Mandatory == "Y")
        {<label id="@llba" class='astric'>* </label>}
    </div>

    <div class="txt" id='@m[q].Section_Name'>
        @if (@ViewBag.Override == "False" && @m[q].Field_Name == @ViewBag.ColumnName)
        {<input id='@m[q].Field_Name' readonly="true" pattern='@m[q].Mandatory' itemid='@m[q].Data_Type' name='@m[q].Label_Name' class='txtclass' type='text' value='@m[q].Default_Value' />}
        else
        {<input id='@m[q].Field_Name' pattern='@m[q].Mandatory' itemid='@m[q].Data_Type' name='@m[q].Label_Name' class='txtclass' type='text' value='@m[q].Default_Value' />}
        @*<span id='@m[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'></span>*@
        @if (@m[q].Field_Name == "PUTABLE001COLUMN32" || @m[q].Field_Name == "PUTABLE005COLUMN24" || @m[q].Field_Name == "SATABLE005COLUMN32" || @m[q].Field_Name == "SATABLE009COLUMN24" || @m[q].Field_Name == "SATABLE009COLUMN45" || @m[q].Field_Name == "SATABLE009COLUMN48" || @m[q].Field_Name == "PUTABLE009COLUMN42" || @m[q].Field_Name == "PUTABLE009COLUMN44")
        {@Html.Hidden("a" + @m[q].Field_Name, "", new { @id = "a" + @m[q].Field_Name })}
    </div>

    @*<div id="div"+'@m[q].Field_Name'></div>*@
</div>
}
else if (m[q].Control_Type == "Button")
{
var llb = @m[q].Field_Name + "lbl";
var llba = @m[q].Field_Name + "lbla";
<div class='mainRowCon' id='@m[q].Section_Name'>
   

    <div class="txt" id='@m[q].Section_Name'>
        <input type="button" style='height: 30px; width:100%' class='buttonclass' id="MRPGEN" value="Calculate MRP" />
    </div>

    @*<div id="div"+'@m[q].Field_Name'></div>*@
</div>
}
else if (m[q].Control_Type == "TextArea")
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'>
        @Html.DisplayFor(a => m[q].Label_Name)@if (@m[q].Mandatory == "Y")
        {<label class='astric'>* </label>}
    </div>

    <div class="txt" id='@m[q].Section_Name'>
        <textarea id='@m[q].Field_Name' pattern='@m[q].Mandatory' itemid='@m[q].Data_Type' name='@m[q].Label_Name' class='txtareaclass' rows="0">@m[q].Default_Value</textarea>
        @*<span id='@m[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'></span>*@
    </div>

    @*<div id="div"+'@m[q].Field_Name'></div>*@
</div>
}
else if (m[q].Control_Type == "Image" && Session["id"].ToString() != "1357" && Session["id"].ToString() != "1615" && Session["id"].ToString() != "1616" && Session["id"].ToString() != "1525")
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'> @Html.DisplayFor(a => m[q].Label_Name)</div>

    <div class="txt" id='@m[q].Section_Name'>
        <input type="file" id='@m[q].Field_Name' itemid='@m[q].Data_Type' name='@m[q].Label_Name' value='@m[q].Default_Value' />
        @*<input type="button" style='height: 20px'  class='buttonclass' id="btnSubmit" value="Upload" />*@
    </div>
</div>
}



else if (m[q].Control_Type == "Image" && (Session["id"].ToString() == "1357" || Session["id"].ToString() == "1616" || Session["id"].ToString() == "1615" || Session["id"].ToString() == "1525"))
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'> @Html.DisplayFor(a => m[q].Label_Name)</div>

    <div class="txt" id='@m[q].Section_Name'>
        <input type="file" id='@m[q].Field_Name' itemid='@m[q].Data_Type' name='@m[q].Label_Name' value='@m[q].Default_Value' />
        <div style='padding-top:5px;'>
            <input type="button" style='height: 20px; width:87px' class='buttonclass' id="btnSubmit" value="Import" />
        </div>
        <div class='' style='padding-top:3px;'><a href='#' id='ExcelImport'>Sample Document</a></div>
    </div>
</div>
}


else if (m[q].Control_Type == "Label")
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'> @Html.DisplayFor(a => m[q].Label_Name)</div>

    <div class="txt" id='@m[q].Section_Name'>
        <label id='@m[q].Field_Name'>@m[q].Default_Value</label>  <input id='@m[q].Field_Name' name='@m[q].Label_Name' type="hidden" value='@m[q].Default_Value' />
        @*<input type="button" style='height: 20px;'  class='buttonclass' id="btnSubmit" value="Upload" />*@
    </div>
</div>
}

else if (m[q].Control_Type == "CheckBox")
{
var llb = @m[q].Field_Name + "lbl";
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'>  <label id="@llb">@m[q].Label_Name</label></div>

    <div class="txt" id='@m[q].Section_Name'>
        <input type="checkbox" class='chkclass' id='@m[q].Field_Name' name='@m[q].Label_Name' value='@m[q].Default_Value' />
    </div>
</div>}
else if (m[q].Control_Type == "CheckBoxList")
{

<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'>  @Html.DisplayFor(a => m[q].Label_Name)</div>

    <div class="txt" id='@m[q].Section_Name'>
        <select id="mylist" multiple="multiple" name='@m[q].Label_Name'>
            @foreach (var tax in ViewBag.TAXES)
            {
                <option value="@tax[1]">@tax[0]</option>
            }
        </select>
    </div>


</div>

}
else if (m[q].Control_Type == "DropDownList")
{
var llb = @m[q].Field_Name + "lbl"; var ddllblname = @m[q].Label_Name.Replace(" ", "_");
<div class='mainRowCon' id='@m[q].Section_Name'>
    <div class="lbl" id='@m[q].Section_Name'>
        <label id="@llb">@m[q].Label_Name</label>@if (@m[q].Mandatory == "Y" || @m[q].Field_Name == "FITABLE012COLUMN08")
        {<label class='astric'>* </label>}
    </div>

    <div class="ddlS" id='@m[q].Section_Name'>
        @if (@m[q].Field_Name == "FITABLE012COLUMN08")
        {
            @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @id = @m[q].Field_Name, @style = "width:96%;", @class = "ddl", @itemid = "Y" })
        }
        else
        {
            if (@m[q].Field_Name == "MATABLE014COLUMN05")
            {
                <select multiple="multiple" id="MATABLE014COLUMN05" name='@m[q].Label_Name'>
                    @foreach (var Feild in (SelectList)ViewData[ddllblname])
                    {
                        <option value="@Feild.Value"> @Feild.Text   </option>
                    }
                </select>
            }
            else
            {
                @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @id = @m[q].Field_Name, @style = "width:96%;", @class = "ddl", @itemid = @m[q].Mandatory })
            }
        }
    </div>
    @{ var lid = m[q].Field_Name + "AC";
        if (m[q].Field_Name == "PUTABLE014COLUMN08" || m[q].Field_Name == "SATABLE011COLUMN08" ||
            m[q].Field_Name == "FITABLE012COLUMN08" || m[q].Field_Name == "PUTABLE019COLUMN15" ||
                          m[q].Field_Name == "PUTABLE019COLUMN03" || m[q].Field_Name == "FITABLE016COLUMN07" || m[q].Field_Name == "FITABLE062COLUMN15" || m[q].Field_Name == "FITABLE062COLUMN03" ||
            m[q].Field_Name == "FITABLE023COLUMN09" || m[q].Field_Name == "FITABLE012COLUMN22" || m[q].Field_Name == "FITABLE045COLUMN12" || m[q].Field_Name == "FITABLE020COLUMN06")
        {
            <label for='@lid' class="myBubble"></label>}}
</div>
}
else if (m[q].Control_Type == "RadioButton")
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'>@Html.DisplayFor(a => m[q].Label_Name)</div>

    <div class="txt" id='@m[q].Section_Name'><input id='@m[q].Field_Name' name='@m[q].Label_Name' type="radio" class="rdoclass" value='@m[q].Default_Value' /></div>

</div>
}
else if (m[q].Control_Type == "RadioButtonList")
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'>@Html.DisplayFor(a => m[q].Label_Name)</div>

    <div class="txt" id='@m[q].Section_Name'>
        @if (@Session["id"].ToString() == "1377")
        {
            <input name='@m[q].Label_Name' id="ItemRadio" type="radio" value="Item">
            <label for="Payable">Item</label>
            <input name='@m[q].Label_Name' id="VendorRadio" type="radio" value="Vendor" checked="checked">
            <label for="Receivable">Vendor</label>
        }
        else if (@Session["id"].ToString() == "1322")
        {
            <input name='@m[q].Label_Name' id="Tax" type="radio" value="Tax">
            <label for="Tax">Tax</label>
            <input name='@m[q].Label_Name' id="SubTotal" type="radio" value="SubTotal" checked="checked">
            <label for="SubTotal">SubTotal</label>
            <input name='@m[q].Label_Name' id="SubTotalTax" type="radio" value="SubTotalTax">
            <label for="SubTotalTax">SubTotal+Tax</label>}
        else if (@Session["id"].ToString() == "1582")
        {
            <input name='@m[q].Label_Name' id="InvoicePrice" type="radio" value="Invoice" checked="checked">
            <label for="Invoice">Invoice</label>
            <input name='@m[q].Label_Name' id="ItemPrice" type="radio" value="Item">
            <label for="Item">Item</label>}
        else if (@Session["id"].ToString() == "1293")
        {
            <input name='@m[q].Label_Name' id="ExpensePay" type="radio" value="Payable">
            <label for="Payable">Payable</label>
            <input name='@m[q].Label_Name' id="ExpenseReceive" type="radio" value="Receivable">
            <label for="Receivable">Receivable</label>}
        else
        {
            <input name='@m[q].Label_Name' id='@m[q].Field_Name' type="radio" checked="checked" value="Payable">
            <label for="Payable">Payable</label>
            <input name='@m[q].Label_Name' id='@m[q].Field_Name' type="radio" value="Receivable">
            <label for="Receivable">Receivable</label>}
    </div>

</div>
}
else if (m[q].Control_Type == "DatePicker")
{
<div class='mainRowCon' id='@m[q].Section_Name'>

    <div class="lbl" id='@m[q].Section_Name'>@Html.DisplayFor(a => m[q].Label_Name)</div>
    <div class="txt" id='@m[q].Section_Name'>
        @if (@m[q].Form_Id == 1378 || @m[q].Form_Id == 1523 || @m[q].Form_Id == 1582)
        {
            <input name='@m[q].Label_Name' id='@m[q].Field_Name' type='text' class='date' />}
        else
        {
            var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
            if (ViewBag.Dateformat == "")
            {
                Dtext = DateTime.Now.ToShortDateString();
            }
            <input name='@m[q].Label_Name' id='@m[q].Field_Name' type='text' value="@Dtext" class='date' />}
    </div>

</div>
}
else if (m[q].Control_Type == "LinkLabel")
{
}
}
</div>
  </div> 
       </div>
      </div>   <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="LineDetails" style='float:left;width:100%;'> 
    @if (m1.Count > 0)
    { <div class='bodyFBCon'> <input type="image"  src="/Images/1/Collapse.png"  id="lineimgCollaseexpand" itemid="@m1[0].Section_Name" class='FormCollapseIcon'>
      <input type="image"  src="/Images/1/Expand.png"  id="lineimgExpandCollase" itemid="@m1[0].Section_Name" class='FormExapandIcon' > Line Details
      </div>
        if (ViewData["RenderLineGrid"] != null)
        {
      <div id="Linegridfill" class='gridrowadddiv fbBodyFoter' style='display: block; padding-top: 27px; padding-bottom: 27px;'><div class='linegridrowaddwidth'>@Html.Raw(((System.Web.Mvc.ContentResult)(ViewData["RenderLineGrid"])).Content)</div>
        <div class='linegridrowimgwidth'><input type="image" src="/Images/1/Addrow.png" id="imgnewrowadd" class="gridrowaddimg"></div></div>
        }
    }
        <div id="tabs" class="fbTabCon">
          
          @if (m1.Count > 0 || m3.Count > 0)
          {
        <ul>
        
        @foreach (var tab in ViewBag.Tabs)
        {
            formid = m1.Where(a => a.Section_Name == tab).Select(a => a.Form_Id).FirstOrDefault();
            if (formid == 1261 && tab == "Inventory" || (formid == 1278 && tab == "GLImpact")
                || (formid == 1274 && tab == "GLImpact") || (formid == 1277 && tab == "GLImpact") || (formid == 1355 && tab == "GLImpact") || (formid == 1386 && tab == "GLImpact") || (formid == 1525 && tab == "GLImpact") || (formid == 1414 && tab == "GLImpact") || (formid == 1526 && tab == "GLImpact") || (formid == 1276 && tab == "GLImpact") || (formid == 1272 && tab == "GLImpact") || (formid == 1357 && tab == "GLImpact") || (formid == 1349 && tab == "GLImpact") || (formid == 1350 && tab == "GLImpact") || (formid == 1351 && tab == "GLImpact"))
            {
            }
            else
            {
         <li >
             <a href=#@tab >@tab</a>&nbsp;
         </li>
            }

        }
         </ul> 
        if (@mt.Count > 0)
        {
            <div class='mainRow' style='padding: 5px;' id='@mt[0].Section_Name' >
            <div class='tablesecheader' id='@mt[0].Section_Name' style='padding: 5px;' >
                <input type="checkbox" id='billaddrcopy' />Same as Bill</div>
            <div class='tablesecdiv1' id='@mt[0].Section_Name' >
            <div class='tablesecheader' id='@mt[0].Section_Name' >Bill To</div>
          @{var tbl2 = 0;}
            @for (int t = 0; t < mt.Count; t++)
            {
                if (@mt[t].Section_Type == "TableSection2" && tbl2 == 0)
                {
                    tbl2 = 1;
                     @:</div><div class='tablesecdiv2' id='@mt[t].Section_Name' >
            <div class='tablesecheader' id='@mt[0].Section_Name' >Ship To</div>  
                }
                if (mt[t].Control_Type == "TextBox")
                {
                    var llb = @mt[t].Field_Name + "lbl";
        <div class='tablesecdiv' id='@mt[t].Section_Name' >
       <div class='tableseclbl'>
       <label  id="@llb">@mt[t].Label_Name</label>
           @if (@mt[t].Mandatory == "Y")
           {<label  class='astric' >* </label>}
        </div>
	<div class='tablesectxt'>
         <input id='@mt[t].Field_Name' title='@mt[t].Section_Name' class='txttabClass' pattern='@mt[t].Mandatory'  itemid='@mt[t].Data_Type' name='@mt[t].Label_Name'  type='text' value='@mt[t].Default_Value'  />
        </div> </div>
                }
                else if (mt[t].Control_Type == "TextArea")
                {
         <div class='tablesecdiv' id='@mt[t].Section_Name' >
       <div class='tableseclbl'>
        @Html.DisplayFor(a => mt[t].Label_Name)@if (@mt[t].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        <div class='tablesectxt'>
              <textarea id='@mt[t].Field_Name'  title='@mt[t].Section_Name'  class='txtareaclass' pattern='@mt[t].Mandatory'  itemid='@mt[t].Data_Type' name='@mt[t].Label_Name'   >@mt[t].Default_Value</textarea>
         </div> </div>
                }
                else if (mt[t].Control_Type == "Password")
                {
                    var llb = @mt[t].Field_Name + "lbl";
         <div class='tablesecdiv' id='@mt[t].Section_Name' >
          <div class='tableseclbl'>        
        <label  id="@llb">@mt[t].Label_Name</label></div>
         <div class='tablesectxt'>        
         <input type="password" id="@mt[t].Field_Name" pattern='@mt[t].Mandatory' title='@mt[t].Section_Name' class='txttabClass'  name='@mt[t].Label_Name' value='' autocomplete='off' />
        </div></div>
                }
                else if (mt[t].Control_Type == "Label")
                {
         <div class='tablesecdiv' id='@mt[t].Section_Name' >
        <div class='tableseclbl'>
        @Html.DisplayFor(a => mt[t].Label_Name)</div>
        <div class='tablesectxt'>
              <label id='@mt[t].Field_Name'   itemid='@mt[t].Data_Type' name='@mt[t].Label_Name'   >@mt[t].Default_Value</label>
          </div></div>                
                }
                else if (mt[t].Control_Type == "Image")
                { <div class='tablesecdiv' id='@mt[t].Section_Name' >
             <div class='tableseclbl'>
        @Html.DisplayFor(a => mt[t].Label_Name)</div>
         <div class='tablesectxt'>
          <input type="file" id="@mt[t].Field_Name"  title='@mt[t].Section_Name'  itemid='@mt[t].Data_Type'   name='@mt[t].Label_Name' value='@mt[t].Default_Value'  />
         </div></div>
                }
                else if (mt[t].Control_Type == "CheckBox")
                {
         <div class='tablesecdiv' id='@mt[t].Section_Name' >
          <div class='tableseclbl'>
        @Html.DisplayFor(a => mt[t].Label_Name)</div>
         <div class='tablesectxt'>
         <input type="checkbox" id="@mt[t].Field_Name"  title='@mt[t].Section_Name' class='chkclass'  name='@mt[t].Label_Name' value='@mt[t].Default_Value' />
        </div></div>
                }

                else if (mt[t].Control_Type == "DropDownList")
                {
                    var ddllblname = @mt[t].Label_Name.Replace(" ", "_");
         <div class='tablesecdiv' id='@mt[t].Section_Name' >
          <div class='tableseclbl'>
        @Html.DisplayFor(a => mt[t].Label_Name)@if (@mt[t].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        
             <div class='tablesectxt'>
                  @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @class = "ddl", @id = @mt[t].Field_Name, @title = mt[t].Section_Name, @itemid = @mt[t].Mandatory })
             </div>      </div>   
                }
                else if (mt[t].Control_Type == "RadioButton")
                {   <div class='tablesecdiv' id='@mt[t].Section_Name' > 
                           <div class='tableseclbl'>@Html.DisplayFor(a => mt[t].Label_Name)</div>
                           <div class='tablesectxt'><input id='@mt[t].Field_Name'  title='@mt[t].Section_Name' name='@mt[t].Label_Name' type="radio" value='@mt[t].Default_Value'  class="rdoclass" />
                               </div> </div>
                }
                else if (mt[t].Control_Type == "DatePicker")
                {
        
         <div class='tablesecdiv' id='@mt[t].Section_Name' >
        <div class='tableseclbl'>
        @Html.DisplayFor(a => mt[t].Label_Name)
        </div>
       @{ var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
          if (ViewBag.Dateformat == "")
          {
              Dtext = DateTime.Now.ToShortDateString();
          }
                                      }
        <div class='tablesectxt'>
         <input name='@mt[t].Label_Name'  title='@mt[t].Section_Name' type='text'  id="@mt[t].Field_Name" value="@Dtext" class='date'  />
        </div></div>
                }
            }
                             </div>
                             </div>   
        }
             <div class="fbBodyFoter">
                 
             @{
        var fnaame = ViewBag.EFormName;
        var gridT = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
        List<WebGridColumn> InlinecolumnsT = new List<WebGridColumn>();
        if (ViewBag.GridDynamicData != null)
        {
            gridT.Bind(ViewBag.GridDynamicData, autoSortAndPage: false);
            foreach (var Inline in ViewBag.GridDynamicDataC)
            {
                if (fnaame == "")
                {
                    InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                }
                else
                {
                    if (Inline == "COLUMN02")
                    {
                        InlinecolumnsT.Add(new WebGridColumn()
                        {
                            ColumnName = Inline,
                            Header = "ID",
                            Format =@<text>@if (item.AA != 0)
                                                 {
                 @Html.ActionLink(((int)item.AA).ToString(), "Edit", "FormBuilding", new { ide = item.AA, FormName = ViewBag.EFormName, tblIDE = ViewBag.TableIDE }, htmlAttributes: new { })
                                                 }</text>
                        });
                    }
                    else
                    {
                        InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                    }
                }
            }
        }
        var grid = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
        grid.Bind(ViewBag.itemslist, autoSortAndPage: false);
            }
         @{
        foreach (var Inline in ViewBag.itemscol)
        {
            for (int g = coo; g < m3.Count; g++)
            {
                if (coo == 0)
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = "",
                        Header = "",
                        Format =@<text><div >
             <input  id='checkRow' class='chkclass' itemid=''   name=''  type='checkbox'  value='' checked="checked" />
                  </div>
                  </text>
                    });
                }
                if ((coo == 0) && (@m3[g].Form_Id == 1379 || @m3[g].Form_Id == 1375 || @m3[g].Form_Id == 1380 || @m3[g].Form_Id == 1381 || @m3[g].Form_Id == 1328 || @m3[g].Form_Id == 1330 || @m3[g].Form_Id == 1251 || @m3[g].Form_Id == 1656 || @m3[g].Form_Id == 1273 || @m3[g].Form_Id == 1275 || @m3[g].Form_Id == 1277 || @m3[g].Form_Id == 1283 || @m3[g].Form_Id == 1286 || @m3[g].Form_Id == 1355 || @m3[g].Form_Id == 1353 || @m3[g].Form_Id == 1374 || @m3[g].Form_Id == 1404 || @m3[g].Form_Id == 1376))
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = "",
                        Header = "UPC#",
                        Format =@<text>
              <input  id="UPCSearch" title=''  class="gridWH" pattern=''  itemid='' name=''  value=''    type='text'    />
                  </text>
                    });
                }
                if (m3[g].Control_Type == "TextBox")
                {
                    string datatype = null; string dataclass = "txtgridclass";
                    if (m3[g].Data_Type == "INT" || m3[g].Data_Type == "int" || m3[g].Data_Type == "BIT" || m3[g].Data_Type == "bit" || m3[g].Data_Type == "DECIMAL" || m3[g].Data_Type == "decimal")
                    {
                        dataclass = "txtintgridclass";
                    }
                    //if ((@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN05")) || (@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN10")) || (@m3[g].Form_Id == 1251 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1328 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1330 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN07")) || (@m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN08")) || (@m3[g].Form_Id == 1353 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN06")))
                         if (((@m3[g].Form_Id == 1251|| @m3[g].Form_Id == 1656) && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1328 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1330 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")) || (@m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN07" || @m3[g].Field_Name == "PUTABLE006COLUMN10")) || (@m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN08" || @m3[g].Field_Name == "SATABLE010COLUMN12")) || (@m3[g].Form_Id == 1353 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13")))
                    {
                    }
                    else if (m3[g].Field_Name == "PUTABLE002COLUMN24" || m3[g].Field_Name == "PUTABLE006COLUMN12" || m3[g].Field_Name == "PUTABLE006COLUMN32" || m3[g].Field_Name == "SATABLE010COLUMN19" || m3[g].Field_Name == "SATABLE006COLUMN25" || m3[g].Field_Name == "SATABLE010COLUMN14")
                    {
                        var hiddenfeildval = "a" + m3[g].Field_Name; var hiddeninventoryval = "a" + m3[g].Field_Name; var hiddenscessval = ""; var hiddenkcessval = "";
                        if (m3[g].Field_Name == "SATABLE010COLUMN14") { hiddenfeildval = "SATABLE010COLUMN11"; hiddeninventoryval = "aSATABLE010COLUMN11"; hiddenscessval = "aSATABLE010COLUMN23SCESS"; hiddenkcessval = "aSATABLE010COLUMN23KCESS"; }
                        if (m3[g].Field_Name == "PUTABLE006COLUMN12") { hiddenscessval = "aSATABLE010COLUMN23SCESS"; hiddenkcessval = "aSATABLE010COLUMN23KCESS"; }
                        if (@m3[g].Mandatory == "Y")
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name + "*",
                                Format =@<text>
              <input  id="@m3[g].Field_Name" title='@m3[g].Section_Name'  class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'  value='@m3[g].Default_Value'    type='text'    />
            @if (m3[g].Field_Name == "SATABLE010COLUMN14")
            { @Html.Hidden(hiddeninventoryval, "", new { @id = hiddeninventoryval })
@Html.Hidden(hiddenscessval, "", new { @id = hiddenscessval })
@Html.Hidden(hiddenkcessval, "", new { @id = hiddenkcessval })}
            @if (m3[g].Field_Name == "PUTABLE006COLUMN12")
            { @Html.Hidden(hiddenscessval, "", new { @id = hiddenscessval })
              @Html.Hidden(hiddenkcessval, "", new { @id = hiddenkcessval })}
                  @Html.Hidden(hiddenfeildval, "", new { @id = hiddenfeildval })
               </text>
                            });
                        }
                        else
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name,
                                Format =@<text>
              <input  id="@m3[g].Field_Name" title='@m3[g].Section_Name'   class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'  value='@m3[g].Default_Value'    type='text'    />
               @if (m3[g].Field_Name == "SATABLE010COLUMN14")
               { @Html.Hidden(hiddeninventoryval, "", new { @id = hiddeninventoryval })
@Html.Hidden(hiddenscessval, "", new { @id = hiddenscessval })
@Html.Hidden(hiddenkcessval, "", new { @id = hiddenkcessval })}
            @if (m3[g].Field_Name == "PUTABLE006COLUMN12")
            { @Html.Hidden(hiddenscessval, "", new { @id = hiddenscessval })
              @Html.Hidden(hiddenkcessval, "", new { @id = hiddenkcessval })}
                 @Html.Hidden(hiddenfeildval, "", new { @id = hiddenfeildval })
                  </text>
                            });
                        }
                    }
                    else
                    {
                        if (@m3[g].Mandatory == "Y")
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name + "*",
                                Format =@<text>
              <input  id="@m3[g].Field_Name" title='@m3[g].Section_Name'  class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'  value='@m3[g].Default_Value'    type='text'    />
               </text>
                            });
                        }
                        else if (m3[g].Field_Name == "FITABLE022COLUMN17" || m3[g].Field_Name == "FITABLE024COLUMN18")
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name,
                                Format =@<text>
              <input  id="@m3[g].Field_Name" title='@m3[g].Section_Name'   class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'  value='@m3[g].Default_Value'    type='text'    />
              @if (m3[g].Field_Name == "FITABLE022COLUMN17" || m3[g].Field_Name == "FITABLE024COLUMN18")
              {
                @Html.Hidden("adv" + @m3[g].Field_Name, "", new { @id = "adv" + @m3[g].Field_Name })
              }
              @* else
              {
                   <input  id=""adv" + @m[g].Field_Name"  class="@dataclass"   name=''adv" + @m[g].Field_Name"  value="0"    type='text' style='display:none;'   />
                  Html.Hidden("adv" + @m[g].Field_Name, "", new { @id = "adv" + @m[g].Field_Name })
              }*@
                 
                  </text>
                            });
                        }
                        else
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name,
                                Format =@<text>
              <input  id="@m3[g].Field_Name" title='@m3[g].Section_Name'   class="@dataclass" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'  value='@m3[g].Default_Value'    type='text'    />
              
                  </text>
                            });
                        }
                    }
                }
                else if (m3[g].Control_Type == "TextArea")
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = @m3[g].Field_Name,
                        Header = m3[g].Label_Name,
                        Format =@<text>
              <textarea  id="@m3[g].Field_Name"  title='@m3[g].Section_Name'   class='txtgridclass gridtxtarealength' pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'     >@m3[g].Default_Value</textarea>
                  </text>
                    });
                }
                else if (m3[g].Control_Type == "Image")
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = @m3[g].Field_Name,
                        Header = m3[g].Label_Name,
                              Format =@<text><input type="file" id="@m3[g].Field_Name"  title='@m3[g].Section_Name'   itemid="@m3[g].Data_Type"   name='@m3[g].Label_Name' value='@m3[g].Default_Value'  /></text>
                    });
                }
                else if (m3[g].Control_Type == "CheckBox")
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = @m3[g].Field_Name,
                        Header = m3[g].Label_Name,
                              Format =@<text><input  id="@m3[g].Field_Name"  title='@m3[g].Section_Name'  class='chkclass'   name='@m3[g].Label_Name' value='@m3[g].Default_Value'   type="checkbox"   /></text>
                    });
                }
                else if (m3[g].Control_Type == "Label")
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = @m3[g].Field_Name,
                        Header = m3[g].Label_Name,
			      Format =@<text><label id=" @m3[g].Field_Name"   itemid="@m3[g].Data_Type" name='@m3[g].Label_Name'   >@m3[g].Default_Value</label></text>
                    });
                }
                else if (m3[g].Control_Type == "DropDownList")
                {
                          var ddllblname = m3[g].Label_Name.Replace(" ", "_");
                    var ddlchange = "ddlChange(this);"; if ((@m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN05" || @m3[g].Field_Name == "SATABLE010COLUMN31")) || ((@m3[g].Form_Id == 1275 || @m3[g].Form_Id == 1330) && (@m3[g].Field_Name == "SATABLE006COLUMN03")) || ((@m3[g].Form_Id == 1251 || @m3[g].Form_Id == 1328) && (@m3[g].Field_Name == "PUTABLE002COLUMN03"))) { ddlchange = ""; }
                    if (((@m3[g].Form_Id == 1273 || @m3[g].Form_Id == 1277) && (@m3[g].Field_Name == "PUTABLE006COLUMN03" || @m3[g].Field_Name == "SATABLE010COLUMN04")))
                    {
                    }
                    //else if ((@m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN20")))
                    //{
                    //} 
                    else
                    {
                        if (@m3[g].Mandatory == "Y")
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name + "*",
                                Format =@<text> 
				  @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @class = "gridddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = @m3[g].Section_Name, @onchange = ddlchange })
                  </text>
                            });
                        }
                        else
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name,
                                Format =@<text>   
     @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @class = "gridddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = m3[g].Section_Name, @onchange = ddlchange })
                 </text>
                            });
                        }
                    }
                        if (m3[g].Field_Name == "SATABLE010COLUMN05" || m3[g].Field_Name == "SATABLE006COLUMN03" || m3[g].Field_Name == "PUTABLE006COLUMN04" || m3[g].Field_Name == "PUTABLE002COLUMN03" || m3[g].Field_Name == "SATABLE016COLUMN03" || m3[g].Field_Name == "SATABLE008COLUMN04")
                        {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = "HSNCODE",
                            Header = "HSN/SAC",
                            Format =@<text>
              <input  id="HSNCODE" title=''  class='txtgridclass' value=''  readonly="true"  type='text'    />
                  </text>
                        });
                    }
                    }
                else if (m3[g].Control_Type == "RadioButton")
                {
                    Inlinecolumns.Add(new WebGridColumn()
                    {
                        ColumnName = @m3[g].Field_Name,
                        Header = m3[g].Label_Name,
                        Format =@<text><input class="rdoclass"  title='@m3[g].Section_Name'   id="@m3[g].Field_Name" name='@m3[g].Label_Name' value='@m3[g].Default_Value'    type="radio"   /></text>
                    });
                }
                else if (m3[g].Control_Type == "DatePicker")
                {
                    if (@m3[g].Mandatory == "Y")
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name + "*",
                            Format =@<text><div class="colW">

                                  @if (@m3[g].Form_Id == 1378 || @m[g].Form_Id == 1523)
                                  {  
                                      <input   name='@m3[g].Label_Name'  title='@m3[g].Section_Name'   id="@m3[g].Field_Name"   type='text'  class='date'   />  }
                                  else
                                  {
                                      var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
                                      if (ViewBag.Dateformat == "")
                                      {
                                          Dtext = DateTime.Now.ToShortDateString();
                                      }
                                       <input   name='@m3[g].Label_Name'  title='@m3[g].Section_Name'   id="@m3[g].Field_Name" value="@Dtext" type='text'  class='date'   />}
                                </div></text>
                        });
                    }
                    else
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name,
                            Format =@<text><div class="colW"> @if (@m3[g].Form_Id == 1378)
                                                                    { <input   name='@m3[g].Label_Name'  title='@m3[g].Section_Name'   id="@m3[g].Field_Name"   type='text' readonly="true" class='date'   />  }
                                                                    else
                                                                    {   <input   name='@m3[g].Label_Name'  title='@m3[g].Section_Name'   id="@m3[g].Field_Name" value="@DateTime.Now.ToShortDateString()" type='text' readonly="true" class='date'   />}</div></text>
                        });
                    }
                }
                coo = coo + 1;
                break;
            }
        }
          }
              <div class="bottomdivRow" id="formtabcontent">
                      <div class="mainRow" id="@m1[0].Section_Name" >

            @for (int q = 0; q < m1.Count; q++)
            {
                if (ViewBag.headerT == m1[q].Section_Name)
                {
                    if (coT % 3 == 0 && coT != 0)
                    {
                    
                   @:</div>

                    @:<div class='mainRow bottomdivRow' id='@m1[q].Section_Name' >
                        coT = 0;
                    } if ((m1[q].Form_Id == 1261 || m1[q].Form_Id == 1273 || m1[q].Form_Id == 1277) && m1[q].Section_Type == "Grid Level")
                    {
                    }
                    else
                    {
                        if (@m1[q].Section_Type == "Grid Level")
                        {
                        
                           
                                 <div class="gridLevelFB">
                  @gridT.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
          columns: InlinecolumnsT)</div>
                            coT = 2;
                        }
                    } if (@m1[q].Section_Type == "Item Level")
                    {

                            
                                  <div id="itemgrid" class="itemGridFB">
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns: Inlinecolumns) 
                                      @if (@m1[q].Form_Id == 1378 || @m1[q].Form_Id == 1375 || @m1[q].Form_Id == 1379 || @m1[q].Form_Id == 1380 ||
                                           @m1[q].Form_Id == 1381 || @m1[q].Form_Id == 1261 || @m1[q].Form_Id == 1251 || @m1[q].Form_Id == 1656 || @m1[q].Form_Id == 1285 ||
                                           @m1[q].Form_Id == 1275 || @m1[q].Form_Id == 1278 || @m1[q].Form_Id == 1273 || @m1[q].Form_Id == 1277 ||
                                           @m1[q].Form_Id == 1286 || @m1[q].Form_Id == 1283 || @m1[q].Form_Id == 1374 || @m1[q].Form_Id == 1293 ||
               @m1[q].Form_Id == 1363 || @m1[q].Form_Id == 1386 || @m1[q].Form_Id == 1634 || @m1[q].Form_Id == 1357 || @m1[q].Form_Id == 1500 || @m1[q].Form_Id == 1328 || @m1[q].Form_Id == 1353 || @m1[q].Form_Id == 1525 || @m1[q].Form_Id == 1526
 || @m1[q].Form_Id == 1414 || @m1[q].Form_Id == 1530 || @m1[q].Form_Id == 1330 || @m1[q].Form_Id == 1355 || @m1[q].Form_Id == 1265 || @m1[q].Form_Id == 1602 || @m1[q].Form_Id == 1404 || @m1[q].Form_Id == 1615 || @m1[q].Form_Id == 1616 || @m1[q].Form_Id == 1376 || @m1[q].Form_Id == 1659)
                                      {
                                       <div class="newrowdiv">  
                         <input type="button" name='New Row' class="darkBgButton" value='New Row' id='newrow' />
                         <input type="button" name='Cancel Row' class="darkBgButton" value='Cancel Row' id='cancelrow' /></div> 
                                      }</div>
                                      coT = 2;
                                      if (m1.Count > q + coo)
                                      {
                                          var count = coo - 1;
                                          q = q + count;
                                      }
                                      else
                                      {
                                          break;
                                      }

                    }

                    else if (@m1[q].Section_Type == "Tab")
                    {
                        if (m1[q].Control_Type == "TextBox")
                        {
                            var llb = @m1[q].Field_Name + "lbl";
        <div class='mainRowCon' id='@m1[q].Section_Name' >
       <div class="lbl">
       @*//EMPHCS1800 rajasekhar reddy patakota 22/08/2016 Partner Login Setup in Customer Level*@
       <label  id="@llb">@m1[q].Label_Name</label>
           @if (@m1[q].Mandatory == "Y")
           {<label  class='astric' >* </label>}
        </div>
        @*@Html.TextBoxFor(a=>m[q].Default_Value)*@
	<div class="txt">@if (m1[q].Field_Name == "MATABLE010COLUMN21" || m1[q].Field_Name == "SETABLE013COLUMN05")
                  {
         <input id='@m1[q].Field_Name'  title='@m1[q].Section_Name'  class='txttabClass' pattern='@m1[q].Mandatory'  itemid='@m1[q].Data_Type' name='@m1[q].Label_Name'  type="password" value='@m1[q].Default_Value' />
                  }
                  else
                  {
         <input id='@m1[q].Field_Name' title='@m1[q].Section_Name' class='txttabClass' pattern='@m1[q].Mandatory'  itemid='@m1[q].Data_Type' name='@m1[q].Label_Name'  type='text' value='@m1[q].Default_Value'  />
        @*<span id='@m1[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'>*@
                  }</div> </div>
                        }
                        else if (m1[q].Control_Type == "TextArea")
                        {
                            if (@m1[q].Field_Name == "MATABLE007COLUMN69" || @m1[q].Field_Name == "MATABLE007COLUMN68")
                            {
                            
         <div class="mainRowConTR" id='@m1[q].Section_Name' >
       <div class="lblTR">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        <div class="txtTR">
              <textarea id='@m1[q].Field_Name'  title='@m1[q].Section_Name'  class="txtareaclassTR" pattern='@m1[q].Mandatory'  itemid='@m1[q].Data_Type' name='@m1[q].Label_Name'   >@m1[q].Default_Value</textarea>
          @*<span id='@m1[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'>*@
              </div></div> }
                            else
                            {
         <div class='mainRowCon' id='@m1[q].Section_Name' >
       <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        <div class="txt">
              <textarea id='@m1[q].Field_Name'  title='@m1[q].Section_Name'  class='txtareaclass' pattern='@m1[q].Mandatory'  itemid='@m1[q].Data_Type' name='@m1[q].Label_Name'   >@m1[q].Default_Value</textarea>
          @*<span id='@m1[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'>*@
              </div> </div>
                            }

                        }
                        else if (m1[q].Control_Type == "Password")
                        {
                            var llb = @m1[q].Field_Name + "lbl";
         <div class='mainRowCon' id='@m1[q].Section_Name' >
          <div class="lbl">        
        <label  id="@llb">@m1[q].Label_Name</label></div>
         <div class="txt">        
         <input type="password" id='@m1[q].Field_Name' pattern='@m1[q].Mandatory' title='@m1[q].Section_Name' class='txttabClass'  name='@m1[q].Label_Name' value='' autocomplete='off' />
        </div></div>
                        }
                        else if (m1[q].Control_Type == "Label")
                        {
         <div class='mainRowCon' id='@m1[q].Section_Name' >
        <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
        <div class="txt">
              <label id='@m1[q].Field_Name'   itemid='@m1[q].Data_Type' name='@m1[q].Label_Name'   >@m1[q].Default_Value</label>
          </div></div>
        
                
                        }
                        else if (m1[q].Control_Type == "Image")
                        { <div class='mainRowCon' id='@m1[q].Section_Name' >
             <div class="lbl">
        
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
        
         <div class="txt">
          <input type="file" id='@m1[q].Field_Name'  title='@m1[q].Section_Name'  itemid='@m1[q].Data_Type'   name='@m1[q].Label_Name' value='@m1[q].Default_Value'  />
         </div></div>
                        }

                        else if (m1[q].Control_Type == "CheckBox")
                        {
         <div class='mainRowCon' id='@m1[q].Section_Name' >
          <div class="lbl">
        
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
         <div class="txt">
        
         <input type="checkbox" id='@m1[q].Field_Name'  title='@m1[q].Section_Name' class='chkclass'  name='@m1[q].Label_Name' value='@m1[q].Default_Value' />
        </div></div>
        
        
                        }

                        else if (m1[q].Control_Type == "DropDownList")
                        {
                            var ddllblname = m1[q].Label_Name.Replace(" ", "_");
         <div class='mainRowCon' id='@m1[q].Section_Name' >
          <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        
             <div class="txt">
	     @*EMPHCS1807 rajasekhar reddy patakota 29/08/2016 Edit,View Permission setup at account owner level*@
                @if (@m1[q].Field_Name == "MATABLE028COLUMN03" || @m1[q].Field_Name == "MATABLE010COLUMN16")
                 {
                   <select  multiple="multiple" id="@m1[q].Field_Name" name='@m1[q].Label_Name' >
                   @foreach (var Feild in (SelectList)ViewData[ddllblname])
                   {
                       <option value = "@Feild.Value"  > @Feild.Text   </option>                      
                   }</select>
                 }
                 else
                 {
                  @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @class = "ddl", @id = @m1[q].Field_Name, @title = m1[q].Section_Name, @itemid = @m1[q].Mandatory })
                 }
                    @*<span id='@m1[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'></span>*@
                    </div>      </div>   
                        }
                        else if (m1[q].Control_Type == "RadioButton")
                        {   <div class='mainRowCon' id='@m1[q].Section_Name' > 
                           <div class="lbl">@Html.DisplayFor(a => m1[q].Label_Name)</div>
                           <div class="txt"><input id='@m1[q].Field_Name'  title='@m1[q].Section_Name' name='@m1[q].Label_Name' type="radio" value='@m1[q].Default_Value'  class="rdoclass" />
                               </div> </div>
                        }
                        else if (m1[q].Control_Type == "DatePicker")
                        {
        
         <div class='mainRowCon' id='@m1[q].Section_Name' >
        <div class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)
        </div>
       @{ var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
          if (ViewBag.Dateformat == "")
          {
              Dtext = DateTime.Now.ToShortDateString();
          }
                                      }
     @*//EMPHCS1334	Enable the Date , Price and Item Desc fields in Sales,Purchase BY RAJ.Jr 10/11/2015*@
        <div class="txt">
         <input name='@m1[q].Label_Name'  title='@m1[q].Section_Name' type='text'  id='@m1[q].Field_Name' value="@Dtext" class='date'  />
        </div></div>
        
        
        
        
                        }
                    }

                    coT++;
                    if (q == m1.Count - 1)
                    {
                        if (coT % 3 == 1)
                        {
                            if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                            { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                            }
                        }
                        else if (coT % 3 == 2)
                        {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                        }
                        else if (coT % 3 == 0)
                        {

                        }
                    }
                }
                else
                {

                    if (coT > 0)
                    {
                        ViewBag.headerT = m1[q].Section_Name;
                        if (coT % 3 == 1)
                        {
                            if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                            { 
                        <div class="lbl"></div>
                        <div class="txt"></div>
                        <div class="lbl"></div>
                        <div class="txt"></div>
                       @:</div>
                    @:<div class='mainRow bottomdivRow' id='@m1[q].Section_Name'>
                        q--; coT = 0;
                            }
                            if (@m1[q].Section_Type == "Item Level" || @m1[q].Section_Type == "Grid Level")
                            {
                                 @:</div>
                    @:<div class='mainRow bottomdivRow' id='@m1[q].Section_Name'>
                        q--; coT = 0;  //coT ++; 
                            }
                        }
                        else if (coT % 3 == 2)
                        {
                            <div class="lbl"></div>
                            <div class="txt"></div>
                       @:</div>
                    @:<div class='mainRow bottomdivRow' id='@m1[q].Section_Name'  >
                        q--; coT = 0;
                        }
                        else if (coT % 3 == 0)
                        {
                            @:</div>
                    @:<div class='mainRow bottomdivRow' id='@m1[q].Section_Name'>
                        q--; coT = 0;
                        }
                    }
                    else if (q == 0)
                    {
                        ViewBag.headerT = m1[q].Section_Name;
                        q--; coT = 0;
                    }
                    else
                    {
                    }
                }

            }
                             </div>


                  @for (int q = 0; q < @m4.Count; q++)
                  {
                      if (@m4[q].Section_Type == "Table")
                      {
                          if (q == 0 || q == 7)
                          {
                              if (q == 0)
                              { 
                           @:<div id='@m4[q].Section_Name' class="tblfirstcol" > <div id='@m4[q].Section_Name' class="tblsections"  > Sales Information </div>
                            }
                              else if (q == 7)
                              { 
                            @:</div><div id='@m4[q].Section_Name'  class="tblsecondcol"  ><div id='@m4[q].Section_Name'   class="tblsections"  > Purchasing Information  </div>
                         }
                          }

                          if (m4[q].Control_Type == "TextBox")
                          {
                        <div class="tblrowheight"  id='@m4[q].Section_Name' >
       <div class='tbltextlength'>
        @Html.DisplayFor(a => m4[q].Label_Name)
           @if (@m4[q].Mandatory == "Y")
           {<label  class='astric' >* </label>}
        </div>
        @*@Html.TextBoxFor(a=>m4[q].Default_Value)*@
        <div class='tblcontrollength'>@if (m4[q].Field_Name == "Password")
                                      {
         <input id=" @m4[q].Field_Name"  title='@m4[q].Section_Name'  class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name='@m4[q].Label_Name'  type="password" value='@m4[q].Default_Value' readonly='true' />
                                      }
                                      else
                                      {
         <input id=" @m4[q].Field_Name" title='@m4[q].Section_Name' class="tbltxt" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name='@m4[q].Label_Name'  type='text' value='@m4[q].Default_Value'  />
        @*<span id='@m4[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'>*@
                                      }</div> </div>
                          }
                          else if (m4[q].Control_Type == "TextArea")
                          {
                            <div  class="tblrowheight" id='@m4[q].Section_Name' >
       <div class='tbltextlength'>
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        <div class='tblcontrollength'>
              <textarea id=" @m4[q].Field_Name"  title='@m4[q].Section_Name'  class="tbltxtarea" pattern="@m4[q].Mandatory"  itemid="@m4[q].Data_Type" name='@m4[q].Label_Name'   >@m4[q].Default_Value</textarea>
          @*<span id='@m4[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'>*@
              </div> </div> 
                
                          }
                          else if (m4[q].Control_Type == "Label")
                          {
                         <div  class="tblrowheight"  id='@m4[q].Section_Name' >
        <div class='tbltextlength'>
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        <div class='tblcontrollength'>
              <label id=" @m4[q].Field_Name"   itemid="@m4[q].Data_Type" name='@m4[q].Label_Name'   >@m4[q].Default_Value</label>
          </div></div> 
                          }
                          else if (m4[q].Control_Type == "Image")
                          { 
                        <div   class="tblrowheight"  id='@m4[q].Section_Name' >
             <div class='tbltextlength'>
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
        
         <div class='tblcontrollength'>
          <input type="file" id='@m4[q].Field_Name'  title='@m4[q].Section_Name'  itemid="@m4[q].Data_Type"   name='@m4[q].Label_Name' value='@m4[q].Default_Value' class="img" />
         </div></div>
                          }

                          else if (m4[q].Control_Type == "CheckBox")
                          {
                          <div   class="tblrowheight" id='@m4[q].Section_Name' >
          <div class='tbltextlength'>
        
        @Html.DisplayFor(a => m4[q].Label_Name)</div>
         <div class='tblcontrollength'>
        
         <input type="checkbox" id='@m4[q].Field_Name'  title='@m4[q].Section_Name' class='chkclass'  name='@m4[q].Label_Name' value='@m4[q].Default_Value' />
        </div></div> 
                          }

                          else if (m4[q].Control_Type == "DropDownList")
                          {
                              var ddllblname = m4[q].Label_Name.Replace(" ", "_");
                            <div   class="tblrowheight" id='@m4[q].Section_Name' >
          <div class='tbltextlength'>
        @Html.DisplayFor(a => m4[q].Label_Name)@if (@m4[q].Mandatory == "Y")
                                               {<label  class='astric' >* </label>}</div>
        
             <div class='tblcontrollength'>
                  @Html.DropDownList(ddllblname, new SelectList((SelectList)ViewData[ddllblname], "Value", "text"), "--Select--", new { @class = "tblddl", @id = @m4[q].Field_Name, @title = m4[q].Section_Name, @itemid = @m4[q].Mandatory })
                    @*<span id='@m4[q].Field_Name' style='color:red;font-size:x-large;vertical-align:middle;'></span>*@
             </div>      </div>      
        
                          }
                          else if (m4[q].Control_Type == "RadioButton")
                          {   
                        <div   class="tblrowheight"  id='@m4[q].Section_Name' > 
                           <div class='tbltextlength'>@Html.DisplayFor(a => m4[q].Label_Name)</div>
                           <div class='tblcontrollength'><input id=" @m4[q].Field_Name"  title='@m4[q].Section_Name' name='@m4[q].Label_Name' type="radio" value='@m4[q].Default_Value'  class="rdoclass" />
                               </div> </div>
                          }
                          else if (m4[q].Control_Type == "DatePicker")
                          {
        
                      <div   class="tblrowheight"  id='@m4[q].Section_Name' >
        <div class='tbltextlength'>
        @Html.DisplayFor(a => m4[q].Label_Name)
        </div>
        
        @{ var Dtext = DateTime.Now.ToString(ViewBag.Dateformat);
           if (ViewBag.Dateformat == "")
           {
               Dtext = DateTime.Now.ToShortDateString();
           }
                                      }
        <div class='tblcontrollength'>
         <input name='@m4[q].Label_Name'  title='@m4[q].Section_Name' type='text'  id='@m4[q].Field_Name' value="@Dtext" class="date tbltxt"  />
        </div></div>
                          }
                          if (q == m4.Count - 1)
                          {
                           @:</div>
                           }
                      }
                  }
             </div>
             </div>

          }
         </div>
   </div>                       
</body>
</html>