﻿@{
    ViewBag.Title = "Transaction Report";
}
<html>
<head>
    <script>

        $(document).ready(function () {
            $(function(){
                $("#imgRPT").attr('src', "@Url.Action("DisplayReport", "Report")");
            });
        });
    </script>
</head></html>
<div  style="height:485px;overflow:auto;width:100%">
 <img  id="imgRPT"   />
</div>