﻿<!DOCTYPE html>
<html>
<head>
    <title>HSN/SAC Codes Information</title>

    @*<script src="~/Scripts/jquery-1.7.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  *@
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#grdhData > tbody:last tr:last").html("No Records Exists");
            $("#desc").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/FormBuilding/HSNDetails",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, Type: 'Desc' },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.COLUMN05, value: item.COLUMN05 };
                            }))
                            $(".ui-autocomplete").css("max-width", "300px");
                            $(".ui-autocomplete").css("max-height", "250px");
                            $(".ui-autocomplete").css("overflow", "auto");
                            $(".ui-autocomplete").css("background", "#ffffff");
                            $(".ui-autocomplete").css("border", "1px solid #aaaaaa");
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
            $("#Search").live("click", function (e) {
                var hsncode = $("#code").val();
                var desc = $("#desc").val();
                var chapter = $("#Chapter").val();
                var scheme = $("#Scheme").val();
                var rate = $("#Rate").val();
                $.ajax({
                    url: "/FormBuilding/HSNCODEDetails",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    async: false,
                    data: JSON.stringify({ hsncode: hsncode, desc: desc, chapter: chapter, scheme: scheme, rate: rate }),
                    success: function (data) {
                        if (data != "") {
                            //$('#grdhData').remove();
                            $('#Content').html(data.GData);
                            $("#code").val("");
                            $("#desc").val("");
                            $("#Chapter").val("");
                            $("#Scheme").val("");
                            $("#Rate").val("");
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
    <div style="padding-top:10px;padding-left:25px;width:100%;">
    <div style="padding:5px;float:left;width:15%;">
      <div style="padding:5px;"><label>HSN/SAC Code</label></div>
      <div><input type='text' id='code' name='HSN/SAC Code' value='' class="txtclass"/></div>
    </div>
    <div style="padding:5px;float:left;width:20%;">
      <div style="padding:5px;"><label>HSN/SAC Description</label></div>
      <div><textarea  id='desc' name='HSN/SAC Description' class='txtareaclass' style='height:18px;min-height:18px;'></textarea></div>
    </div>
    <div style="padding:5px;float:left;width:15%;">
      <div style="padding:5px;"><label>Chapter</label></div>
      <div><input type='text' id='Chapter' name='Chapter' value='' class="txtclass"/></div>
    </div>
    <div style="padding:5px;float:left;width:15%;">
      <div style="padding:5px;"><label>Scheme</label></div>
      <div><input type='text' id='Scheme' name='Scheme' value='' class="txtclass"/></div>
    </div>
    <div style="padding:5px;float:left;width:15%;">
      <div style="padding:5px;"><label>Rate</label></div>
      <div><input type='text' id='Rate' name='Rate' value='' class="txtclass"/></div>
    </div>
    <div style="padding:5px;float:left;">
      <div><input type='button' id='Search' name='Search' value='Search' class="buttonclass"/></div>
    </div></div>

         @{ var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.GData, autoSortAndPage: false);}
              <div id="Content" class="overflowGrid" style='padding: 10px;width: 97%;height: 395px;'>
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style",
            htmlAttributes: new { id = "grdhData" },
            columns:(grid.Columns
            (grid.Column("HSN/SAC Code"),grid.Column("HSN/SAC Description"),
            grid.Column("Chapter"),grid.Column("Scheme"),grid.Column("Rate"))))
    </div>
</body>
</html>