﻿@{
     if (Session["FormName"].ToString() == "Issue Cheque"){
    ViewBag.Title = "Cheque";}
    else{
        ViewBag.Title = Session["FormName"];}
}
<html>
<head>
    <div id="dialogcreate"></div>
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    @*EMPHCS1711 Adding QC Verification screen to sales module*@
    <style>
        .ThisLink{
           pointer-events: none;
           cursor: default;
	   color:gray;
    }
    </style>
<script type="text/javascript">
    $(document).ready(function () {
        CreateLog();
        $.ajaxSetup({
            cache: false
        });
        function showDetails() {
            alert("showing some details");
        }
        var fid = '@Session["id"]';
        //EMPHCS1711 Adding QC Verification screen to sales module
        $('tr.webgrid-row-style, tr.webgrid-alternating-row').each(function () {
            //$('#grdfData tr:has(td)').mouseover(function (){
            var qcrc = '@Session["QCRC"]';
            if (qcrc == "True" && fid == "1276") {
                if ($(this).find('td').eq(8).text() == "OPEN" || $(this).find('td').eq(8).text() == "Approved" || $(this).find('td').eq(8).text() == "QC Failed") {
                    //EMPHCS1711 Adding QC Verification screen to sales module
                    $(this).find('td')[0].childNodes[1].lastElementChild.className = "ThisLink";
                }
            }
        });
        //EMPHCS1711 Adding QC Verification screen to sales module
        //EMPHCS1819 rajasekhar reddy patakota 21/09/2016 Info Grid Customisation for dynamic pages;
        if (fid != "1261" && fid != "1277" && fid != "1275" && fid != "1276" && fid != "1252" && fid != "1515" && fid != "1273" && fid != "1274" && fid != "1278" && fid != "1525" && fid != "1526" && fid != "1363" && fid != "1386" && fid != "1414" && fid != "1330" && fid != "1355" && fid != "1357" && fid != "1265" && fid != "1530" && fid != "1656" && fid != "1657" && fid != "1659" && fid != "1669") {
            $('#grdfData').DataTable({
                "iDisplayLength": 20,
                responsive: true
            });
        }
        else {
            var tbl = $('#grdfData').DataTable({
                "filter": false,
                "iDisplayLength": 20,
                "pagingType": "simple_numbers",
                "orderClasses": false,
                "order": [[0, "asc"]],
                "info": false,
                "searching": true,
                "scrollCollapse": true,
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/WebService.asmx/GetTableData?FormName='" + $("#FormName").val() + "'&ViewSort='" + $("#FddlDynamicQuickSort").val() + "'&SortByStatus='" + $("#FddlDynamicSortByStatus").val() + "'&ItemType='" + $("#FddlItemType").val() + "'",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "roleId", "value": "admin" });
                    //aoData.push({ "PoNo": '@ViewBag.PoNo', "PreFormID": '@ViewBag.PreFormID', "FromDate": '@Request["FromDate"]', "ToDate": '@Request["ToDate"]' });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (msg) {
                            debugger
                            if (msg.d != "") {
                                var json = jQuery.parseJSON(msg.d);
                                fnCallback(json);
                            }
                            else $(".dataTables_processing").css("visibility", "collapse");
                            $("#grdfData").show();
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                },
                fnDrawCallback: function () {
                    $('.image-details').bind("click", showDetails);
                }
            });
        }
        //$("#FddlDynamicSortByStatus").val(Session["SortByStatus"]);

        //FilterView
        $("#btnFilters").click(function () {
            FilterView();
        });
        //Bottom Export Button Click Event
        $("#btnFilters2").click(function () {
            FilterView2();
        });
        //Print View
        $("#btnPrint").click(function () {
            PrintView();
        });
        //Bottom Print View
        $("#btnBPrint").click(function () {
            PrintView();
        });
        //Search Event
        $("#btnSearch").click("click", function () {
            var ttl = '@Request["FormName"]';
            var ttle = ttl.replace(' ', '.');
            $('#dialogcreate').dialog({
                autoOpen: false,
                modal: true,
                width: 500,
                height: 300, resizable: false,
                title: "Search",
                closeOnEscape: true
            })
            $('#dialogcreate').dialog('open');
            $('#dialogcreate').load("/FormBuilding/Search?FormName=" + ttle + "");
            $('#dialogcreate').show();
            return false;
        });
        //Inline Edit ON
        $('.button-hide').click("click", function () {
            InlineON();
        });
        //Inline Edit OFF
        $('.button-show').click("click", function () {
            InlineOFF();
        });
        //Style Event
        $("#ddlDynamicStyle").change("change", function () {
            var items = $(this).val();
            $.session.set("dynamicStyle", $('#ddlDynamicStyle :selected').val());
            dynamicStyle($(this).val());
            styles('@Request["FormName"]', items);
        });
        //Footer Style event
        $("#FddlDynamicStyle").change("change", function () {
            var items = $(this).val();
            $.session.set("dynamicStyle", $('#FddlDynamicStyle :selected').val());
            //$("#divfilter").toggle();
            dynamicStyle($(this).val());
            styles('@Request["FormName"]', items);
        });
        //Footer View event
        $("#ddlDynamicView").change("change", function () {
            var item = $('#ddlDynamicView :selected').text();
            $.session.set("dynamicView", $('#ddlDynamicView :selected').val());
            FooterView(item, '@Request["FormName"]')
        });
        //Dynamic View Event
        $("#FddlDynamicView").change("change", function () {
            var item = $('#FddlDynamicView :selected').val();
            $.session.set("dynamicView", $('#FddlDynamicView :selected').val());
            FooterView(item, '@Request["FormName"]')
            //$("#divfilter").toggle();
        });
        //QuickSort Event For Footer
        $("#ddlDynamicQuickSort").change("change", function () {
            $.session.set("dynamicSort", $('#ddlDynamicQuickSort :selected').val());
            QuickSort($('#ddlDynamicQuickSort :selected').val(), '@Request["FormName"]');
        });
        //Sort By Status Event
        $("#ddlDynamicSortByStatus").change("change", function () {
            $.session.set("dynamicSort", $('#ddlDynamicSortByStatus :selected').val());
            QuickSort($('#ddlDynamicSortByStatus :selected').val(), '@Request["FormName"]');
        });
        //Item Master Items
        $("#ddlItemType").change("change", function () {
            var items = $('#ddlItemType :selected').val();
            $.session.set("dynamicddlItemType", items); $.session.set("dynamicFddlItemType", null);
            ItemMasterItems(items, '@Request["FormName"]');
        });
        //Footer Item Master Items
        $("#FddlItemType").change("change", function () {
            var items = $('#FddlItemType :selected').val();
            $.session.set("dynamicFddlItemType", items); $.session.set("dynamicddlItemType", null);
            ItemMasterItems(items, '@Request["FormName"]');
        });
        //Header Quick Sort Event
        $("#FddlDynamicQuickSort").change("change", function () {
            $.session.set("dynamicSort", $('#FddlDynamicQuickSort :selected').text());
            QuickSort($('#FddlDynamicQuickSort :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });
        $("#MISCompany").change("change", function () {
            $.session.set("MISCompany", $('#MISCompany :selected').text());
            MISCompany($('#MISCompany :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });
	//EMPHCS1819 rajasekhar reddy patakota 21/09/2016 Info Grid Customisation for dynamic pages
        $("#infoData").live("click", function () {
            $("#divLoading").show();
	    //EMPHCS1819 rajasekhar reddy patakota 21/09/2016 Info Grid Customisation for dynamic pages
            var RowNo = $(this).attr('pattern');
            var Query = $(this).attr('itemid'); var FormName = '@Request["FormName"]';
            $.ajax({
                url: "/FormBuilding/ItemFullGridFill?FormName=" + FormName + "",
                type: "POST",
                data: JSON.stringify({ Query: Query, FormName: FormName, RowNo: RowNo , Type: 'Next' }),
                dataType: "json", cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#grdfData').remove();
                    $('#infogridContent').html(data.grid);
                    $('#grdfData').DataTable({
                        "iDisplayLength": 20
                    });
                    if (parseFloat(data.rowscnt) > (parseFloat(RowNo) + 100))
                        $("#infoData").attr('pattern', parseFloat(RowNo) + 100);
                    else
                        $("#infoData").css('display', 'none');
                    $("#infoPrevData").attr('pattern',parseFloat(RowNo)-1);
                    $("#infoPrevData").css('display','block');
                    $("#divLoading").hide();
                }
            });
        });
        $("#infoPrevData").live("click", function () {
            $("#divLoading").show();
            var RowNo = $(this).attr('pattern');
            var Query = $(this).attr('itemid'); var FormName = '@Request["FormName"]';
            $.ajax({
                url: "/FormBuilding/ItemFullGridFill?FormName=" + FormName + "",
                type: "POST",
                data: JSON.stringify({ Query: Query, FormName: FormName, RowNo: RowNo, Type: 'Prev' }),
                dataType: "json", cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#grdfData').remove();
                    $('#infogridContent').html(data.grid);
                    $('#grdfData').DataTable({
                        "iDisplayLength": 20
                    });
                    $("#infoData").attr('pattern', parseFloat(RowNo) + 1);
                    $("#infoPrevData").css('display','block');
                    $("#infoData").css('display', 'block');
                    if (parseFloat(RowNo) - 100 > 1)
                        $("#infoPrevData").attr('pattern', parseFloat(RowNo) - 100);
                    else
                        $("#infoPrevData").css('display', 'none');
                    $("#divLoading").hide();
                }
            });
        });
        //Header SortByStatus Evevnt
        $("#FddlDynamicSortByStatus").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]')
                $.session.set("dynamicStatus", null);
            else
                $.session.set("dynamicStatus", $('#FddlDynamicSortByStatus :selected').text());
            SortByStatus($('#FddlDynamicSortByStatus :selected').val(), '@Request["FormName"]');
            //$("#divfilter").toggle();
        });
        //EMPHCS1822 rajasekhar reddy patakota 30/09/2016 Opportunity Mail setup & Form Design Changes
        $("#btnOppConverttoSalesOrder").click(function (event) {
            getOpprtunityid1('@Request["ide"]');
        });
        // MIS Filter venkat
        $("#MisCatgory").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]' && '@Session["SFormid"]'!='')
                $.session.set("MisCatgory", null);
            else
                $.session.set("MisCatgory", $('#MisCatgory :selected').val());
            MisCatgory($('#MisCatgory :selected').val(), '@Request["FormName"]');
        });
        $("#MisMilestone").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]' && '@Session["SFormid"]'!='')
                $.session.set("MisMilestone", null);
            else
                $.session.set("MisMilestone", $('#MisMilestone :selected').val());
            MisMilestone($('#MisMilestone :selected').val(), '@Request["FormName"]');
        });
        $("#MisSalesRep").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]' && '@Session["SFormid"]' != '')
                $.session.set("MisSalesRep", null);
            else
                $.session.set("MisSalesRep", $('#MisSalesRep :selected').val());
            MisSalesRep($('#MisSalesRep :selected').val(), '@Request["FormName"]');
        });
        $("#MisStatus").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]' && '@Session["SFormid"]'!='')
                $.session.set("MisStatus", null);
             else
                $.session.set("MisStatus", $('#MisStatus :selected').val());
            MisStatus($('#MisStatus :selected').val(), '@Request["FormName"]');
        });
        $("#MISCompany").change("change", function () {
            if ('@Session["SFormid"]' != '@Request["FormName"]' && '@Session["SFormid"]' != '')
                $.session.set("MISCompany", null);
            else
                $.session.set("MISCompany", $('#MISCompany :selected').val());
            MISCompany($('#MISCompany :selected').val(), '@Request["FormName"]');
        });
        if ('@Session["filterStatus"]' == '')
        { $.session.set("dynamicStatus", null); }
        else { $.session.set("dynamicStatus", '@Session["SortByStatus"]'); }
	//EMPHCS1011 rajasekhar reddy patakota 25/08/2015 Customisation of Views
        if ('@Session["filterStatus"]' == '')
        { $.session.set("dynamicView", null); }
        else { $.session.set("dynamicView", '@Session["ViewStyle"]'); }
        //Common Functionalities
        IntialActivities('@Session["id"]');
    });
    //Inline Editing grid
    //gridChange(tr,@Html.Raw(Json.Encode(ViewBag.columns)),'@Request["FormName"]');
    //Destroy session
    session();
</script>

</head>


<body >
    <div class="topHeaderContentBodyInfoEmptyCont">
    @*EMPHCS1807 rajasekhar reddy patakota 29/08/2016 Edit,View Permission setup at account owner level*@
        @{ List<int> permission = Session["Permission"] as List<int>;}
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ; session();" /></div>
		   @*EMPHCS1085 rajasekhar reddy patakota 04/09/2015 Custom form Should Load by default when Form is opened*@
		   @*EMPHCS1807 rajasekhar reddy patakota 29/08/2016 Edit,View Permission setup at account owner level*@
                   @if (permission.Contains(22935))
                   {  <div class="btnContleft">
                     <input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("FormBuild", "FormBuilding", new { FormName = Request["FormName"], ide = "null" }) + "'")    ;" />
                   </div>  }                   
           <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
                   @*<div class="btnContleft"><input type="button" class="buttonclass" id="btnSearch" value="Search" /></div>*@
                    @*<div id="btnOFF"   class="btnContRight">
                     @Html.Label("InlineEditing:")
                    <input type="button" class="button-hide " value="ON" />                
                    <input type="button" class="button-show " value="OFF" disabled="disabled"/>
                    </div>*@
           @*<div class="btnContRight" >
               <div style="float:left">
@Html.Label("InlineEditing:")</div>
           <div id="btnOFF" class="onoffswitch">
               
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="button-hide onoffswitch-inner"></span>
        <span class="button-show onoffswitch-switch" ></span>
    </label>
</div>
               </div>*@

           <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
			@*EMPHCS1789	Hiding unwanted buttons*@
            @*<div class="btnContRight"> <input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" /></div>*@
            <div class="dropdown btnContRight">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                         <li><a href="@Url.Action( "ExportPdf", "FormBuilding", new { FormName = Request["FormName"] })">PDF</a></li>
                        <li><a href="@Url.Action( "ExportExcel", "FormBuilding", new { FormName = Request["FormName"] })">Excel</a></li>
                        <li><a href="@Url.Action( "ExportWord", "FormBuilding", new { FormName = Request["FormName"] })">Word</a></li>
                        <li><a href="@Url.Action( "ExportCSV", "FormBuilding", new { FormName = Request["FormName"] })">CSV</a></li>
                    </ul>
                </div>
         </div>
      @*  <div class="linebreek"></div>
       <div class="topSecondButtonCont">
            <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
            
            <div class="emptyDiv12"></div>
           <div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"> <input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" /></div>
            <div class="dropdown btnContRight">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                         <li><a href="@Url.Action( "ExportPdf", "FormBuilding", new { FormName = Request["FormName"] })">PDF</a></li>
                        <li><a href="@Url.Action( "ExportExcel", "FormBuilding", new { FormName = Request["FormName"] })">Excel</a></li>
                        <li><a href="@Url.Action( "ExportWord", "FormBuilding", new { FormName = Request["FormName"] })">Word</a></li>
                        <li><a href="@Url.Action( "ExportCSV", "FormBuilding", new { FormName = Request["FormName"] })">CSV</a></li>
                    </ul>
                </div></div>
       </div>*@
  
                </div>

     <div class="hideFilter" id="divfilter">
        @*<div class="labelTxtFirstCol">
                    @Html.Label("Style")</div><div class="bottomInputField">  @Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), new { id = "FddlDynamicStyle" })
                    </div>*@
       @* // EMPHSC MIS# By venkat 19/05/2016*@
          @if (@Session["id"].ToString() != "1404")
         {
        <div class="labelTxtFirstCol">
	@*EMPHCS1592 rajasekhar reddy patakota 08/03/2016 Custom View Changes for Sales Order*@
                   @Html.Label("View")</div><div class="bottomInputField" style="min-width:150px;max-width:200px;">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: ViewBag.viewselected), optionLabel: "Default", htmlAttributes: new { id = "FddlDynamicView" })
</div>
         <div class="labelTxtFirstCol">

                     @Html.Label("Sort By")</div><div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "Newly Created", "Newly Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "FddlDynamicQuickSort" })

   </div> 
        @*rajasekhar reddy patakota 24/7/2015 Disable status dropdown in Customer Payments*@
              if (@Session["id"].ToString() != "1274" && @Session["id"].ToString() != "1278" && @Session["id"].ToString() != "1261" && @Session["id"].ToString() != "1250" && @Session["id"].ToString() != "1375")
              { <div class="labelTxtFirstCol">
           @Html.Label("Order Status")</div><div class="bottomInputFieldStatus">@Html.DropDownList("Sort By Status", new SelectList(ViewBag.statusdata, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "FddlDynamicSortByStatus" })
                      </div>}
                             if (@Session["id"].ToString() == "1375")
              { <div class="labelTxtFirstCol">
           @Html.Label("Order Status")</div><div class="bottomInputFieldStatus">@Html.DropDownList("Sort By Status", new SelectList(ViewBag.statusdata, selectedValue: ViewBag.sortselected),optionLabel: "--Select--", htmlAttributes: new { id = "FddlDynamicSortByStatus" })
                      </div>}
              
                             <div>@if (@Session["id"].ToString() == "1261")
                                      {<div class="labelTxtFirstCol"> @Html.Label("ItemType")</div><div class="bottomInputField"> @Html.DropDownList("ItemType", (SelectList)ViewBag.ItemType, "--Select--", htmlAttributes: new { id = "FddlItemType" })</div>}

               </div><div>@if (@Session["id"].ToString() == "1250")
                                     {<div class="labelTxtFirstCol"> @Html.Label("Account Type")</div><div class="bottomInputField"> @Html.DropDownList("AccountType", (SelectList)ViewBag.ItemType, "--Select--", htmlAttributes: new { id = "FddlItemType" })</div>}

               </div>}
         @*// EMPHSC MIS# By venkat 19/05/2016*@
         <div>
             @if (@Session["id"].ToString() == "1404")
                                     {
                  <div class="labelTxtFirstCol"> @Html.Label("Category")</div><div class="bottomInputField"> 
                 @Html.DropDownList("MisCatgory", null, "--Select--", new { @class = "ddlclass  ddl",@style="width:90px",@id = "MisCatgory"})
</div>
             <div class="labelTxtFirstCol"> @Html.Label("Sales Rep")</div><div class="bottomInputField">
                 @Html.DropDownList("MisSalesRep", null, "--Select--", new { @class = "ddlclass  ddl",@style="width:90px", @id = "MisSalesRep"})
</div>
              <div class="labelTxtFirstCol"> @Html.Label("Milestone")</div><div class="bottomInputField"> 
                 @Html.DropDownList("MisMilestone", null, "--Select--", new { @class = "ddlclass  ddl",@style="width:90px", @id = "MisMilestone"})
</div>
             <div class="labelTxtFirstCol"> @Html.Label("Status")</div><div class="bottomInputField"> 
                 @Html.DropDownList("MisStatus", null, "--Select--", new { @class = "ddlclass  ddl",@style="width:90px", @id = "MisStatus"})
</div>
             <div class="labelTxtFirstCol"> @Html.Label("Company")</div><div class="bottomInputField">
                  @Html.DropDownList("Company", null, "--Select--", new { @class = "ddlclass  ddl",@style="width:90px", @id = "MISCompany"})
</div>
         }

      </div>
    </div>
</div>    
@*EMPHCS1819 rajasekhar reddy patakota 21/09/2016 Info Grid Customisation for dynamic pages*@
          <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <input type="hidden" id="FormName" value="@Session["FormName"]" />
    <div id="dynamic"  class="overflow" >
        @{ var infospace = " | "; var mis = 0;
           //EMPHCS1422 rajasekhar reddy patakota 15/12/2015 Expense Booking and Expense Payment New Changes
           //EMPHCS1561 rajasekhar patakota 12/02/2016 latest bug fixes raised by sudheer in production
           var Formname = Session["PForms"]; if (@Session["id"].ToString() == "1378") { Formname = "WO"; } else if (@Session["id"].ToString() == "1293") { Formname = "Payment"; } else if (@Session["id"].ToString() == "1380") { Formname = "Material Dispatch"; }
           if (@Session["id"].ToString() == "1261" || @Session["id"].ToString() == "1252" || @Session["id"].ToString() == "1515" || @Session["id"].ToString() == "1277" || @Session["id"].ToString() == "1275" || @Session["id"].ToString() == "1276" || @Session["id"].ToString() == "1273" || @Session["id"].ToString() == "1274" || @Session["id"].ToString() == "1278" || @Session["id"].ToString() == "1525" || @Session["id"].ToString() == "1526" || @Session["id"].ToString() == "1363" || @Session["id"].ToString() == "1386" || @Session["id"].ToString() == "1414" || @Session["id"].ToString() == "1330" || @Session["id"].ToString() == "1355" || @Session["id"].ToString() == "1357" || @Session["id"].ToString() == "1265" || @Session["id"].ToString() == "1530" || @Session["id"].ToString() == "1656" || @Session["id"].ToString() == "1657" || @Session["id"].ToString() == "1659" || @Session["id"].ToString() == "1669")
           {
                <div id="Content" class="overflowGrid">
                  <div id="infogridContent">
               <table id="grdfData">  
           <thead>
              <tr class="gridStyle">
              @foreach (var result in ViewBag.Columns)
              {
                  if (@result == "ID" || (@Session["id"].ToString() == "1250" && @result == "Typ"))
                   {<th></th>
                   }
                   else
                   {
                 <th>@result</th>}
               }
              </tr>
           </thead>
           <tbody></tbody>
        </table> </div></div>
           }
           else
           {

               List<WebGridColumn> columns = new List<WebGridColumn>();
               //List<WebGridColumn> columns1 = new List<WebGridColumn>();
               //List<WebGridColumn> columns2 = new List<WebGridColumn>();
               //List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();
               columns.Add(new WebGridColumn()
               {
                   Format =@<text>
          @*EMPHCS1073 by gnaneshwar 31/08/2015 . inter chaging form name and id *@
	  @*EMPHCS1085 rajasekhar reddy patakota 04/09/2015 Custom form Should Load by default when Form is opened*@
	   @* //MIS NEW TAB CHANGES*@
@if(@Session["id"].ToString() == "1404")
{ 
@*EMPHCS1807 rajasekhar reddy patakota 29/08/2016 Edit,View Permission setup at account owner level*@
@:<div class="ch">
    if (permission.Contains(22933))
    {
    <a href="@Url.Action( "Edit", "FormBuilding",new { ide = item.ID, FormName = ViewBag.ddlFormName })">Edit</a> @infospace}
     @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = ViewBag.ddlFormName })   
      @:</div>
@*        <div><input id="roweditid" type="text" style="display:none" value="@item.ID"/><input id="commuteid" type="text" style="display:none" value="@item.commuteid"/></div>*@
}
        else{
	@*EMPHCS1807 rajasekhar reddy patakota 29/08/2016 Edit,View Permission setup at account owner level*@
	<div class="ch">
        @if (permission.Contains(22933))
        {
        @Html.ActionLink("Edit", "Edit", new { ide = item.ID, FormName = ViewBag.ddlFormName }) @infospace}
            @*//Order Selection Screen*@
            @if(@Session["id"].ToString() == "1523")
            {
            @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = "Sales Order" })
            }
            else
            {
               @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = Request["FormName"] }) 
            }
	    @*EMPHCS1711 Adding QC Verification screen to sales module*@
	    @*EMPHCS1807 rajasekhar reddy patakota 29/08/2016 Edit,View Permission setup at account owner level*@
		@*EMPHCS1822 rajasekhar reddy patakota 30/09/2016 Opportunity Mail setup & Form Design Changes*@
	@if (Formname != null && permission.Contains(22935))
 { 
     @infospace <a class="" id="retLnk" href="FormBuild?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]&Prevfi=@ViewBag.PreFormID">@Formname</a> 
     if (@Session["id"].ToString() == "1375")
     { var ofm="Sales Order";var refe="oppConvert";
        @infospace   <a class="" id="retLnk" href="FormBuild?FormName=@ofm&ide=@item[ViewBag.PoNo]&Prevfi=@ViewBag.PreFormID&Ref=@refe">@ofm</a>
     }
 }
            @if(@Session["id"].ToString() == "1250")
             {@infospace
                 //EMPHCS1494	COA Reports Changes  BY RAJ.Jr 05/01/2016
                 @Html.ActionLink("GLView", "AccountsDisplay", new { ide = item.ID, typ=item.Typ,FromDate=Request["FromDate"],ToDate=Request["ToDate"],Name=item["Account Name"]})
                @*<a href="Report?FormName=@item.Type&ide=@item.ID">GL</a>*@
             }
	     @*//vouchers*@
        @if(@Session["id"].ToString() == "1527")
            {@infospace
            @Html.ActionLink("Clear", "ClearWriteCheque", new { ide = item.ID, FormName = ViewBag.ddlFormName  })
            }
        </div>
        }
        </text>
                  
            });
            @*columns1.Add(new WebGridColumn()
            {
                Format =
                @<text>
        <div class="ch">@Html.ActionLink("Edit", "Edit", new { ide = item.ID, FormName = Request["FormName"] })|
                @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = Request["FormName"] })  <a href="FormBuild?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]">@Formname</a>

        </div>
        </text>
                  
            });
            columns2.Add(new WebGridColumn()
            {
                Format =@<text>
        <div class="ch">@Html.ActionLink("Edit", "Edit", new { ide = item.ID, FormName = Request["FormName"] })|
                @Html.ActionLink("View", "Detailes", new { ide = item.ID, FormName = Request["FormName"] })  <a href="FormBuild?FormName=@Session["PForms"]&ide=@item[ViewBag.PoNo]">@Formname</a>

        </div>
        </text>
                  
            });*@


               foreach (var column in ViewBag.columns)
               {
                   //EMPHCS1494	COA Reports Changes  BY RAJ.Jr 05/01/2016
                   if (column.ColumnName == "ID" || (@Session["id"].ToString() == "1250" && column.ColumnName == "Typ"))
                   {
                   }
                   else
                   {
                       columns.Add(new WebGridColumn()
                       {
                           ColumnName = column.ColumnName,
                           Header = column.Header
                       });
                   }                   
               }
                     var grid = new WebGrid(null, canSort: false, canPage: false);
                   grid.Bind(ViewBag.Grid, autoSortAndPage: false);
              <div id="Content" class="overflowGrid">
                  <div id="infogridContent">
            @grid.GetHtml(mode: WebGridPagerModes.All,
            htmlAttributes: new { id = "grdfData" },
            columns:(columns))
                  </div> 
	          @*EMPHCS1819 rajasekhar reddy patakota 21/09/2016 Info Grid Customisation for dynamic pages*@
                   @if(ViewBag.initGridcnt>100)
                  {
                      if (Convert.ToString(@Session["id"]) != "1250" && Convert.ToString(@Session["id"]) != "1261")
                      {
                      <div style="float:right;"> 
                     <input type="button" id="infoData" itemid="@ViewBag.initGridqry" pattern="101" class="buttonclass" style="float:right;margin-right: 2px;" name="infoData" value="Next" />
                     <input type="button" id="infoPrevData" itemid="@ViewBag.initGridqry" pattern="100" class="buttonclass" style="float:right;display:none;margin-right: 5px;" name="infoPrevData" value="Prev"/>
                      </div>}
                  }
        </div>
        }
        }
              @*<div id="ContentIn" class="gridcntdata">
            @gridIN.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfDataIN" },
            columns:
                              (Inlinecolumns)

               )
        </div>
        
              <div id="gridStyleN" class="gridcntdata">
            
            @grid1.GetHtml(mode: WebGridPagerModes.All,

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            rowStyle: "webgrid-alternating-row",
            alternatingRowStyle: "webgrid-alternating-row",
            htmlAttributes: new { id = "grdfDataN" },
            columns:
                              (columns1)

               )
                 </div>
              <div id="gridStyleR" class="gridcntdata">
            
            @grid2.GetHtml(mode: WebGridPagerModes.All,
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
           rowStyle: "webgrid-row-style",
           htmlAttributes: new { id = "grdfDataR" },
            columns:
                              (columns2)

               )
            </div>*@
    </div>


        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
           @*<div class="bottomCol">
              <div class="labelTxtFirstCol">Style </div>
              <div class="bottomInputField">  @Html.DropDownList("ddlDynamicStyle", new SelectList(new[] { "Grid", "Normal", "Report" }, selectedValue: "Grid"), htmlAttributes: new { id = "ddlDynamicStyle" })
                </div></div>
           <div class="bottomCol">
              <div class="labelTxtFirstCol"> View </div>               
               <div class="bottomInputField">  @Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Normal"), optionLabel: "Normal", htmlAttributes: new { id = "ddlDynamicView" })
</div> 
                </div>
           <div class="bottomCol">
               <div class="labelTxtFirstCol"> QuickSort </div> 
               <div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(new[] { "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "ddlDynamicQuickSort" })
               </div>
                </div>
           <div class="bottomCol"> 
              <div class="labelTxtFirstCol"> Status </div>
               <div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(ViewBag.statusdata, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { id = "ddlDynamicSortByStatus" })</div>

                     @if (@Session["id"].ToString() == "1261")
                     {  <div class="labelTxt"> @Html.Label("ItemType")</div>
                         <div class="bottomInputField"> @Html.DropDownList("ItemType", (SelectList)ViewBag.ItemType, "--Select--", htmlAttributes: new { id = "ddlItemType" })</div>}
           </div>*@


       @*  @if (@Session["id"].ToString() != "1261")
                     {
            <div class="emptyDivF"></div>
         }
          @if (@Session["id"].ToString() == "2445")
                     {
            <div class="emptyDivF"></div>
         }*@
          
        @*  <div>  <div class="btnContRightFooter"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRightFooter"> <input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "FormBuilding",  new { FormName = Request["FormName"] }) + "'")    ;" /></div>
            <div class="dropdown btnContRightFooter">

                    <!-- trigger button -->
                    <button>Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                        <li><a href="#about">@Html.ActionLink("Excel", "ExportExcel", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                        <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                        <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "FormBuilding", new { FormName = Request["FormName"] })</a></li>
                    </ul>
                </div>
              </div>*@
           
       </div>
         </div>
</body>
</html>
