﻿
@using System.Data.Entity;
@using System.Web.SessionState;
@model List<MeBizSuiteAppUI.Controllers.FormBuildClass>
@{
    ViewBag.Title = @Session["FormName"];
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    @*<link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />*@
     <script src="~/Content/formbuildjquery.js"></script>
    <meta http-equiv="Page-Enter" content="blendTrans(duration=0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(duration=0)" />
    <meta name="viewport" content="width=device-width">
 @*EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill*@
   @* <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/Tabs/jquery-ui.js"></script>*@
     <script type="text/javascript">
         var $i = jQuery.noConflict();
         $i(document).ready(function () {
             $(function () {
                 $.holdReady(true);
                 function releaseHold() { $.holdReady(false); }
                 $.getScript('/Content/Tabs/jquery-ui.js', releaseHold);
             });
             $i("#tabs1").tabs();
             //Date Picker
             dateupdate();
             //form load actions
             EnableDisable('@Session["id"]', '@Session["OPUnit1"]');
             //On Fly Load Events
             OnflyLoad();
             //Issue Cheque Post Date Selection
             $("#FITABLE020COLUMN18").click(function () {
                 var checkval = $(this).is(':checked');
                 IssueChequePostDate(checkval);
             });
             //Issue Cheque Amount Calculation
             $("#FITABLE020COLUMN10").change("change", function () {
                 IssueCheque();
             });
             //Issue Cheque Balance Amount
             $("#FITABLE020COLUMN06").change("change", function () {
                 var acno = $(this).val();
                 IssueChequeBalance(acno);
             });
             //Issue Cheque Payee Selection
             $("#FITABLE020COLUMN11").change("change", function () {
                 ddlSelectPayBillType($(this).val(), '@Session["id"]');
             });
             //write cheque
             $("#FITABLE044COLUMN08").change("change", function () {
                 ddlSelectPayBillType($(this).val(), '@Session["id"]', '@Session["FormName"]');
             }); //write cheque Balance Amount
             $("#FITABLE044COLUMN11").change("change", function () {
                 PVBalanceAmount($(this).val());
             });
             //On Fly Form Save
	     //EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill
             $("#DbtnSave").live("click", function (event) {
                 OnFlySave();
             });
	     //EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill
             $("#form-reset").live("click", function (event) {
                 DynamicPopupcancel();
             });
             //Email Validation
             $i("[id*=SATABLE003COLUMN15]").on("change", function () {
                 EmailValidation($i(this).val());
             });
             //Email Validation For Vendor
             $i("[id*=SATABLE001COLUMN11]").on("change", function () {
                 VendorEmailValidation($i(this).val());
             });
             //Email Validation For Customer
             $i("[id*=SATABLE002COLUMN10]").on("change", function () {
                 CustomerEmailValidation($i(this).val());
             });
             //PhoneNo Validation For Vendor
             $i("[id*=SATABLE001COLUMN12]").on("change", function () {
                 VendorPhonenoValidation($i(this).val());
             });
             //PhoneNo Validation For Address
             $i("[id*=SATABLE003COLUMN13]").on("change", function () {
                 AddressPhonenoValidation($i(this).val());
             });
             //PhoneNo Validation For Customer
             $i("[id*=SATABLE002COLUMN11]").on("change", function () {
                 CustomerPhonenoValidation($i(this).val());
             });
             //PhoneNo Validation For Employee
             $i("[id*=MATABLE010COLUMN14]").on("change", function () {
                 EmployeePhonenoValidation($i(this).val());
             });
             //geting LIST OF STATES
             $i("[id*=SATABLE003COLUMN16]").on("change", function () {
                 ddlSelectCountry($i(this).val(), '@Session["id"]');
              });
             //Zip Validation For SalesAddress
             $i("[id*=SATABLE003COLUMN12]").on("change", function () {
                 SalesAddressZipValidation($i(this).val());
             });
             if ('@Session["id"]' == 1252 || '@Session["id"]' == 1265) {
                 $i("[id*=SATABLE003COLUMN11]").find('option').remove();
             } 
	     //EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill
	     if ('@Session["id"]' == 1515) {
                 debugger
                 $("[id*=FITABLE043COLUMN08]").val('@Request["Location"]');
                 $("[id*=FITABLE043COLUMN09]").val('@Request["Item"]');
                 $("[id*=FITABLE043COLUMN10]").val('@Request["OpUnit"]');
             }
             //voucher
           else if ('@Session["id"]' == 1527) {
                 $("[id*=FITABLE044COLUMN08]").val('@Request["payeetype"]');
		 //EMPHCS1422 rajasekhar reddy patakota 15/12/2015 Expense Booking and Expense Payment New Changes
               $("[id*=FITABLE044COLUMN09]").val('@Request["payee"]');
                 $("[id*=FITABLE044COLUMN10]").val('@Request["payment"]');
                @* $("[id*=FITABLE044COLUMN10]").val('@Request["paymenttype"]');*@
                 $("[id*=FITABLE044COLUMN11]").val('@Request["bank"]');
                 $("[id*=FITABLE044COLUMN05]").val('@Request["type"]');
               $("[id*=FITABLE044COLUMN15]").val(22628);
               $("[id*=FITABLE044COLUMN16]").val('@Request["OpUnit"]');
               $("[id*=FITABLE044COLUMN21]").val('@Request["project"]');
               //EMPHCS1422 rajasekhar reddy patakota 15/12/2015 Expense Booking and Expense Payment New Changes
               if ('@Request["bank"]' != "")
                   PVBalanceAmount('@Request["bank"]');
                 voucherddlselectType('@Request["payeetype"]', '@Request["payee"]')
              }
         });
     </script>
</head>
<body>
         
         <div  id="gridddata" class="rowCont">
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
                <div id="ddl" class="bodyHeaderBG">
                     @if (@Model[0].Action != "N")
                     { @Html.Label("Forms")
                   @Html.DropDownList("Forms", new SelectList(ViewBag.ddl, selectedValue: ViewBag.selected), htmlAttributes: new { id = "FormName" })
                     }
                   <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" />
                   <input type="button" class="buttonclass" id="btnList1"  value="Custom Form"  onclick="@("window.location.href='" + @Url.Action("CustomFormBuild", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" />
                   <input type="button" class="buttonclass" id="btnList2"  value="New Field"  onclick="@("window.location.href='" + @Url.Action("NewField", "FormBuilding", new { FormName = Request["FormName"] }) + "'")    ;" />
                    </div>
            }
                 <div id="FormData" class="dynamicdialogbody">
@*EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill*@
@{
   
    var m = Model.Where(a => a.Section_Type != "Tab" && a.Section_Type != "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
    //var viewModel = from o in Model.Where(a=>a.Table_Id==a.Column_Mapping.TID).ToList();
    int co = 0, coT = 0;
    //if(m.Count>1){
    //EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill
        var m3 = @Model.Where(a => a.Section_Type == "Item Level" && a.Section_Type != "Grid Level" && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").ToList();
    var m1 = @Model.Where(a => (a.Section_Type == "Tab" || a.Section_Type == "Item Level" || a.Section_Type == "Grid Level") && a.Action != "N" && a.Label_Name != null && a.Label_Name != "").OrderByDescending(q => q.Section_Name).ToList();
  <form  method="POST" name="myForm" id="myForm">
    <div class="divRowFly">
               <div class="mainRowHeaderFly" id="@m[0].Section_Name">
    @for (int q = 1; q < m.Count; q++)
    {
        if ((ViewBag.header != @m[q].Section_Name))
        {
            for (int y = 0; y <= q; y++)
            {
                if ((@m[q].Section_Name == @m[y].Section_Name) && (y != 0 && q != 0 && y != q))
                {
                    if ((co % 3 == 0))
                    { 
                     @:</div><div  class="mainRow" id="@m[q].Section_Name" >  
                   }
                    else
                    {

                    }
                    break;
                }
                else if (y == q)
                {
                    @:</div><div id="@m[q].Section_Name" class="bodyFBCon">@m[q].Section_Name</div> <div class="mainRow"  id="@m[q].Section_Name">  
                  co = 0;
                }
            }
        }
        else
        {
            if ((co % 3 == 0))
            { 
            @:</div><div  class="mainRow"  id="@m[q].Section_Name" >  
        }
        }
        co++;
        ViewBag.header = m[q].Section_Name;

        if (m[q].Control_Type == "TextBox")
        {
            <div  class="mainRowCon"  id="@m[q].Section_Name" >

                <div  class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)@if (@m[q].Mandatory == "Y")
                                                                                                         {<label  style="color:red;font-size:medium;vertical-align:middle;"> *</label>}</div>

                <div  class="txt"  id="@m[q].Section_Name"  > <input id=" @m[q].Field_Name"  pattern="@m[q].Mandatory"  itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtclassM" type="text" value="@m[q].Default_Value"  style="font-size:12px;width:97%"/>
                   @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                </div>
                
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              </div>
        }
        else if (m[q].Control_Type == "TextArea")
        {
            <div  class="mainRowCon"  id="@m[q].Section_Name" >

                <div  class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)@if (@m[q].Mandatory == "Y")
                                                                                                         {<label  style="color:red;font-size:medium;vertical-align:middle;"> *</label>}</div>

                <div  style="width:14%;background: none repeat scroll 0% 0%;padding:2px;border-color:#005A88;"  id="@m[q].Section_Name"  > <textarea id=" @m[q].Field_Name" pattern="@m[q].Mandatory" itemid="@m[q].Data_Type" name="@m[q].Label_Name" class="txtclassM" rows="0" style="font-size:12px;width:97%"   >@m[q].Default_Value</textarea>
                    @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                </div>
                
                @*<div id="div"+" @m[q].Field_Name"></div>*@
              </div>
        }
        else if (m[q].Control_Type == "Image")
        {
            <div  class="mainRowCon"  id="@m[q].Section_Name" >

                <div  class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div  class="txt"  id="@m[q].Section_Name"  >
                     <input type="file" id="@m[q].Field_Name"   itemid="@m[q].Data_Type"   name="@m[q].Label_Name" value="@m[q].Default_Value" style="width:100px;" />
                    @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div>
              </div>
        }
        else if (m[q].Control_Type == "Label")
        {
            <div  class="mainRowCon"  id="@m[q].Section_Name" >

                <div  class="lbl"  id="@m[q].Section_Name"  > @Html.DisplayFor(a => m[q].Label_Name)</div>

                <div  class="txt"  id="@m[q].Section_Name"  >
                  <label id=" @m[q].Field_Name">@m[q].Default_Value</label>  <input id=" @m[q].Field_Name"  name="@m[q].Label_Name"  type="hidden" value="@m[q].Default_Value"  />
                     @*<input type="button" style="height: 20px"  class='buttonclass' id="btnSubmit" value="Upload" />*@
                </div>
              </div>
        }
        @*else if (m[q].Control_Type == "LinkLabel")
        {
            <div id="@m[q].Section_Name" >
                <td class="controle19"  id="@m[q].Section_Name"  ></td>
                <td   class="txt"  id="@m[q].Section_Name"  >
                    <a href="FormBuild?FormName=@m[q].Default_Value ">@m[q].Default_Value</a>
                      <input type="hidden" id="@m[q].Field_Name" name="@m[q].Label_Name" value="@m[q].Default_Value"/>
                </td>
              </div>
        }*@
        else if (m[q].Control_Type == "CheckBox")
        {  
              <div  class="mainRowCon"  id="@m[q].Section_Name" >

                 <div   class="lbl"  id="@m[q].Section_Name"  >  @Html.DisplayFor(a => m[q].Label_Name)</div>

              <div   class="txt"  id="@m[q].Section_Name" >
              <input type="checkbox" class="chkclassM"  id=" @m[q].Field_Name" name="@m[q].Label_Name"  value="@m[q].Default_Value" />
              </div>
        </div>}
        else if (m[q].Control_Type == "DropDownList")
        {
	//write cheque
            var llb = @m[q].Field_Name + "lbl";
              <div  class="mainRowCon"  id="@m[q].Section_Name" >

               <div   class="lbl"  id="@m[q].Section_Name"  ><label id="@llb">@m[q].Label_Name</label>@if (@m[q].Mandatory == "Y")
                                                                                                        {<label  style="color:red;font-size:medium;vertical-align:middle;"> *</label>}</div>

               <div  class="txt" id="@m[q].Section_Name"  >
                   @Html.DropDownList(@m[q].Label_Name, new SelectList((SelectList)ViewData[@m[q].Label_Name], "Value", "Text"), "--Select--", new { @style = "width:85%", @class = "ddlclassM ddl", @id = @m[q].Field_Name, @itemid = @m[q].Mandatory })
                    @*<span id="@m[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
                   @if (Session["DDDynamicItems"] != "DDDynamicItems")
                   {
                       if (@m[q].Source_Type == "Control Value")
                       {
                   <input type="image" src="~/Images/expand.gif" style="width:15px;height:15px;padding:0" id="nImageHide">
                       }
                       if (@m[q].Source_Type == "Master Value" && @m[q].Source_Value != "110011217" && @m[q].Source_Value != "110010823")
                       {
                           ViewBag.tmpSource = @m[q].Source_Value;
                   <input type="image" src="~/Images/expand.gif"  style="width:15px;height:15px;padding:0" id="mImageHide" value="@m[q].Source_Value" />                  
                       }
                   }
               </div>

        </div>
        }
        else if (m[q].Control_Type == "RadioButton")
        {   
             <div  class="mainRowCon"  id="@m[q].Section_Name" >

               <div   class="lbl"  id="@m[q].Section_Name"  >@Html.DisplayFor(a => m[q].Label_Name)</div>

               <div  class="txt" id="@m[q].Section_Name"  ><input id=" @m[q].Field_Name" name="@m[q].Label_Name" type="radio" class="rdoclassM" value="@m[q].Default_Value" /></div>

        </div>
        }
        else if (m[q].Control_Type == "DatePicker")
        {   
             <div  class="mainRowCon"  id="@m[q].Section_Name" >

            <div   class="lbl"   id="@m[q].Section_Name" >@Html.DisplayFor(a => m[q].Label_Name)</div>

              <div  class="txt"  id="@m[q].Section_Name"  ><input name="@m[q].Label_Name" id="@m[q].Field_Name" type="text"  value="@DateTime.Now.ToShortDateString()" class="date" readonly="true" style="width:84%"/></div>

        </div>
        }
    }  
   </div>
       </div>
    @*EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill*@

    
    
      <div id="tabs1" class="fbTabCon">
          
          @if (m1.Count > 0 || m3.Count > 0)
          {
          <ul >
        
        @foreach (var tab in ViewBag.Tabs)
        {

            //var TabCount = m1.Where(a => a.Section_Name == tab).Count();
        
         <li>
             <a class="" href=#@tab>@tab</a>&nbsp;
         </li>
        
        }
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
        <li>
             <input type="button" class="buttonclass" id="btnNewTab"  value="New Tab"  onclick="@("window.location.href='" + @Url.Action("AddNewTab", "FormBuilding", new { FormName = Request["FormName"] }) + "'")" >&nbsp;
         </li>}
         </ul> 
          <div class="divRowFly">
             @{
            var fnaame = ViewBag.EFormName;
            var gridT = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
            List<WebGridColumn> InlinecolumnsT = new List<WebGridColumn>();
            if (ViewBag.GridDynamicData != null)
            {
                gridT.Bind(ViewBag.GridDynamicData, autoSortAndPage: false);
                foreach (var Inline in ViewBag.GridDynamicDataC)
                {
                    if (fnaame == "")
                    {
                        InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                    }
                    else
                    {
                        if (Inline == "COLUMN02")
                        {
                            InlinecolumnsT.Add(new WebGridColumn()
                            {
                                ColumnName = Inline,
                                Header = "ID",
                                Format =@<text>@Html.ActionLink(((string)item.AA).ToString(), "Edit", "FormBuilding", new { ide = item.AA, FormName = ViewBag.EFormName, tblIDE = ViewBag.TableIDE }, htmlAttributes: new { })</text>
                            });
                        }
                        else
                        {
                            InlinecolumnsT.Add(new WebGridColumn() { ColumnName = Inline, Header = Inline });
                        }
                    }
                }
            }
            var grid = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
            grid.Bind(ViewBag.itemslist, autoSortAndPage: false);
            }
         @{
            List<WebGridColumn> Inlinecolumns = new List<WebGridColumn>();
            var coo = 0;
            foreach (var Inline in ViewBag.itemscol)
            {
                for (int g = coo; g < m3.Count; g++)
                {
                    if (coo == 0)
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = "",
                            Header = "",
                            Format =@<text><div >
             <input  id='checkRow' class='chkclass' itemid=''   name=''  type='checkbox'  value='' checked="checked" />
                  </div>
                  </text>
                        });
                    }
                    if ((coo == 0) && (@m3[g].Form_Id == 1328 || @m3[g].Form_Id == 1251 || @m3[g].Form_Id == 1273 || @m3[g].Form_Id == 1275 || @m3[g].Form_Id == 1277 || @m3[g].Form_Id == 1283 || @m3[g].Form_Id == 1286))
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = "",
                            Header = "UPC Search",
                            Format =@<text>
              <input  id="UPCSearch" title=""  class="gridWH" pattern=""  itemid="" name=""  value=""    type="text"    />
                  </text>
                        });
                    }
                    if (m3[g].Control_Type == "TextBox")
                    {
                        if ((@m3[g].Form_Id == 1251 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || (@m3[g].Form_Id == 1328 && (@m3[g].Field_Name == "PUTABLE002COLUMN12" || @m3[g].Field_Name == "PUTABLE002COLUMN13")) || @m3[g].Form_Id == 1330 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13") || @m3[g].Form_Id == 1275 && (@m3[g].Field_Name == "SATABLE006COLUMN12" || @m3[g].Field_Name == "SATABLE006COLUMN13") || @m3[g].Form_Id == 1273 && (@m3[g].Field_Name == "PUTABLE006COLUMN07") || @m3[g].Form_Id == 1277 && (@m3[g].Field_Name == "SATABLE010COLUMN08"))
                        {
                        }
                        else if (m3[g].Data_Type == "INT" || m3[g].Data_Type == "int" || m3[g].Data_Type == "BIT" || m3[g].Data_Type == "bit" || m3[g].Data_Type == "DECIMAL" || m3[g].Data_Type == "decimal")
                        {
                            if (@m3[g].Mandatory == "Y")
                            {
                                Inlinecolumns.Add(new WebGridColumn()
                                {
                                    ColumnName = @m3[g].Field_Name,
                                    Header = m3[g].Label_Name + "*",
                                    Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"  class="txtgridclassM gridTW" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"    />
              
                  </text>
                                });
                            }
                            else
                            {
                                Inlinecolumns.Add(new WebGridColumn()
                                {
                                    ColumnName = @m3[g].Field_Name,
                                    Header = m3[g].Label_Name,
                                    Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"   class="txtgridclassM gridTW" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text"    />
              
                  </text>
                                });
                            }

                        }
                        else
                        {
                            if (@m3[g].Mandatory == "Y")
                            {
                                Inlinecolumns.Add(new WebGridColumn()
                                {
                                    ColumnName = @m3[g].Field_Name,
                                    Header = m3[g].Label_Name + "*",
                                    Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"  class="txtgridclassM" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text" style="width:130px;height:15px"    />
              
                  </text>
                                });
                            }
                            else
                            {
                                Inlinecolumns.Add(new WebGridColumn()
                                {
                                    ColumnName = @m3[g].Field_Name,
                                    Header = m3[g].Label_Name,
                                    Format =@<text>
              <input  id="@m3[g].Field_Name" title="@m3[g].Section_Name"   class="txtgridclassM" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"  value="@m3[g].Default_Value"    type="text" style="width:130px;height:15px"    />
              
                  </text>
                                });
                            }
                        }
                    }
                    else if (m3[g].Control_Type == "TextArea")
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name,
                            Format =@<text>
              <textarea  id="@m3[g].Field_Name"  title="@m3[g].Section_Name"   class="txtgridclassM" pattern="@m3[g].Mandatory"  itemid="@m3[g].Data_Type" name="@m3[g].Label_Name"     >@m3[g].Default_Value</textarea>
                  </text>
                        });
                    }
                    else if (m3[g].Control_Type == "Image")
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name,
                            Format =@<text><input type="file" id="@m3[g].Field_Name"  title="@m3[g].Section_Name"   itemid="@m3[g].Data_Type"   name="@m3[g].Label_Name" value="@m3[g].Default_Value"  /></text>
                        });
                    }
                    else if (m3[g].Control_Type == "CheckBox")
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name,
                            Format =@<text><input  id="@m3[g].Field_Name"  title="@m3[g].Section_Name"  class="chkclassM"   name="@m3[g].Label_Name" value="@m3[g].Default_Value"   type="checkbox"   /></text>
                        });
                    }
                    else if (m3[g].Control_Type == "Label")
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name,
                            Format =@<text>@Html.DisplayFor(a => m3[g].Field_Name)</text>
                        });
                    }
                    else if (m3[g].Control_Type == "DropDownList")
                    {
                        if (@m3[g].Mandatory == "Y")
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name + "*",
                                Format =@<text> 
                     @Html.DropDownList(@m3[g].Label_Name, new SelectList((SelectList)ViewData[@m3[g].Label_Name], "Value", "Text"), "--Select--", new { @class = "ddlclassM ddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = @m3[g].Section_Name, @onchange = "ddlChange(this);" })</text>
                            });
                        }
                        else
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name,
                                Format =@<text> 
                     @Html.DropDownList(@m3[g].Label_Name, new SelectList((SelectList)ViewData[@m3[g].Label_Name], "Value", "Text"), "--Select--", new { @class = "ddlclassM ddl", @id = @m3[g].Field_Name, @itemid = @m3[g].Mandatory, @title = m3[g].Section_Name, @onchange = "ddlChange(this);" })</text>
                            });
                        }
                    }
                    else if (m3[g].Control_Type == "RadioButton")
                    {
                        Inlinecolumns.Add(new WebGridColumn()
                        {
                            ColumnName = @m3[g].Field_Name,
                            Header = m3[g].Label_Name,
                            Format =@<text><input class="rdoclass"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name" name="@m3[g].Label_Name" value="@m3[g].Default_Value"    type="radio"   /></text>
                        });
                    }
                    else if (m3[g].Control_Type == "DatePicker")
                    {
                        if (@m3[g].Mandatory == "Y")
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name + "*",
                                Format =@<text><div class="colW"><input   name="@m3[g].Label_Name"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name" value="@DateTime.Now.ToShortDateString()" type="text" readonly="true" class="date"   /></div></text>
                            });
                        }
                        else
                        {
                            Inlinecolumns.Add(new WebGridColumn()
                            {
                                ColumnName = @m3[g].Field_Name,
                                Header = m3[g].Label_Name,
                                Format =@<text><div class="colW"><input   name="@m3[g].Label_Name"  title="@m3[g].Section_Name"   id="@m3[g].Field_Name" value="@DateTime.Now.ToShortDateString()" type="text" readonly="true" class="date"  /></div></text>
                            });
                        }
                    }
                    coo = coo + 1;
                    break;
                }
            }
          }
              <div class="bottomdivRow" id="" >
                      <div class="mainRow" id="@m1[0].Section_Name" >

            @for (int q = 0; q < m1.Count; q++)
            {
                if (ViewBag.headerT == m1[q].Section_Name)
                {
                    if (coT % 3 == 0 && coT != 0)
                    {
                    
                   @:</div>

                    @:<div  class="mainRow" id="@m1[q].Section_Name" >
                        coT = 0;
                    } if (m1[q].Form_Id == 1261 && m1[q].Section_Name == "Inventory")
                    {
                    }
                    else
                    {
                        if (@m1[q].Section_Type == "Grid Level")
                        {
                        
                                 <div class="gridLevelFB">
                  @gridT.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
          columns: InlinecolumnsT)</div>
                            coT = 2;
                        }
                    } if (@m1[q].Section_Type == "Item Level")
                    {

                                  <div id="itemgrid" class="itemGridFB">
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns: Inlinecolumns) 
                                      @if (@m1[q].Form_Id == 1261 || @m1[q].Form_Id == 1251 || @m1[q].Form_Id == 1285 || @m1[q].Form_Id == 1275 || @m1[q].Form_Id == 1278 || @m1[q].Form_Id == 1273 || @m1[q].Form_Id == 1277 || @m1[q].Form_Id == 1286 || @m1[q].Form_Id == 1283)
                                      {
                                          
                         <input type="button" name="New Row" class="buttonclass" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="buttonclass" value="Cancel Row" id="cancelrow"/>
                                      }</div>
                                      coT = 2;
                                      if (m1.Count > q + ViewBag.itemscol.Count)
                                      {
                                          var count = ViewBag.itemscol.Count - 1;
                                          q = q + count;
                                      }
                                      else
                                      {
                                          break;
                                      }

                    }

                    else if (@m1[q].Section_Type == "Tab")
                    {
                        if (m1[q].Control_Type == "TextBox")
                        {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
       <div  class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)
           @if (@m1[q].Mandatory == "Y")
           {<label  class="astric" > *</label>}
        </div>
        @*@Html.TextBoxFor(a=>m[q].Default_Value)*@
        <div class="txt">@if (m1[q].Field_Name == "Password")
                               {
         <input id=" @m1[q].Field_Name"  title="@m1[q].Section_Name"  class="txttabClassM" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"  type="password" value="@m1[q].Default_Value" readonly="true"/>
                               }
                               else
                               {
         <input id=" @m1[q].Field_Name" title="@m1[q].Section_Name" class="txttabClassM" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"  type="text" value="@m1[q].Default_Value"  />
        @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
                               }</div></div>
                        }
                        else if (m1[q].Control_Type == "TextArea")
                        {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
       <div  class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class="astric" > *</label>}</div>
        <div class="txt">
              <textarea id=" @m1[q].Field_Name"  title="@m1[q].Section_Name"  class="txttabClassM" pattern="@m1[q].Mandatory"  itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"   >@m1[q].Default_Value</textarea>
          @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;">*@
              </div></div>
        
                
                        }
                        else if (m1[q].Control_Type == "Label")
                        {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
        <div  class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
        <div class="txt">
              <label id=" @m1[q].Field_Name"   itemid="@m1[q].Data_Type" name="@m1[q].Label_Name"   >@m1[q].Default_Value</label>
          </div></div>
        
                
                        }
                        else if (m1[q].Control_Type == "Image")
                        {<div class="mainRowCon" id="@m1[q].Section_Name" >
             <div  class="lbl">
        
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
        
         <div class="txt">
          <input type="file" id="@m1[q].Field_Name"  title="@m1[q].Section_Name"  itemid="@m1[q].Data_Type"   name="@m1[q].Label_Name" value="@m1[q].Default_Value" class="img" />
         </div></div>
                        }

                        else if (m1[q].Control_Type == "CheckBox")
                        {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
          <div  class="lbl">
        
        @Html.DisplayFor(a => m1[q].Label_Name)</div>
         <div class="txt">
        
         <input type="checkbox" id="@m1[q].Field_Name"  title="@m1[q].Section_Name" class="chkclass"  name="@m1[q].Label_Name" value="@m1[q].Default_Value"/>
        </div> </div>
        
        
                        }

                        else if (m1[q].Control_Type == "DropDownList")
                        {
        <div class="mainRowCon" id="@m1[q].Section_Name" >
          <div  class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)@if (@m1[q].Mandatory == "Y")
                                               {<label  class="astric" > *</label>}</div>
        
             <div class="txt">
                  @Html.DropDownList(@m1[q].Label_Name, new SelectList((SelectList)ViewData[@m1[q].Label_Name], "Value", "Text"), "--Select--", new { @class = "ddlclassM ddl", @id = @m1[q].Field_Name, @title = m1[q].Section_Name, @itemid = @m1[q].Mandatory })
                    @*<span id="@m1[q].Field_Name" style="color:red;font-size:x-large;vertical-align:middle;"></span>*@
             </div>       </div>      
        
                        }
                        else if (m1[q].Control_Type == "RadioButton")
                        {   <div class="mainRowCon" id="@m1[q].Section_Name" >
                           <div  class="lbl">@Html.DisplayFor(a => m1[q].Label_Name)</div>
                           <div class="txt"><input id=" @m1[q].Field_Name"  title="@m1[q].Section_Name" name="@m1[q].Label_Name" type="radio" value="@m1[q].Default_Value"  class="rdoclassM" />
                               </div>  </div>
                        }
                        else if (m1[q].Control_Type == "DatePicker")
                        {
        
        <div class="mainRowCon" id="@m1[q].Section_Name" >
        <div  class="lbl">
        @Html.DisplayFor(a => m1[q].Label_Name)
        </div>
        
        
    
        <div class="txt">
         <input name="@m1[q].Label_Name"  title="@m1[q].Section_Name" type="text"  id="@m1[q].Field_Name" value="@DateTime.Now.ToShortDateString()" class="date" readonly="true" />
        </div> </div>
        
        
        
        
                        }
                    }
                    coT++;
                    if (q == m1.Count - 1)
                    {
                        if (coT % 3 == 1)
                        {
                            if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                            { 
                        <div  class="lbl"></div>
                        <div class="txt"></div>
                        <div  class="lbl"></div>
                        <div class="txt"></div>
                            }
                        }
                        else if (coT % 3 == 2)
                        {
                            <div  class="lbl"></div>
                            <div class="txt"></div>
                        }
                        else if (coT % 3 == 0)
                        {

                        }
                    }
                }
                else
                {

                    if (coT > 0)
                    {
                        ViewBag.headerT = m1[q].Section_Name;
                        if (coT % 3 == 1)
                        {
                            if (@m1[q].Section_Type != "Item Level" && @m1[q].Section_Type != "Grid Level")
                            { 
                        <div  class="lbl"></div>
                        <div class="txt"></div>
                        <div  class="lbl"></div>
                        <div class="txt"></div>
                       @:</div>
                    @:<div   class="mainRow" id="@m1[q].Section_Name">
                        q--; coT = 0;
                            }
                            if (@m1[q].Section_Type == "Item Level" || @m1[q].Section_Type == "Grid Level")
                            {
                                //coT ++; 
                            }
                        }
                        else if (coT % 3 == 2)
                        {
                            <div  class="lbl"></div>
                            <div class="txt"></div>
                       @:</div>
                    @:<div   class="mainRow" id="@m1[q].Section_Name"  >
                        q--; coT = 0;
                        }
                        else if (coT % 3 == 0)
                        {
                            @:</div>
                    @:<div   class="mainRow" id="@m1[q].Section_Name">
                        q--; coT = 0;
                        }
                    }
                    else if (q == 0)
                    {
                        ViewBag.headerT = m1[q].Section_Name;
                        q--; coT = 0;
                    }
                    else
                    {
                    }
                }

            }
                             </div>


             </div>
             </div>
          }
         </div>
            <div  class="popUpContentRecepitFooter">
	    @*EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill*@
    <input type="button" value="Save"  id="DbtnSave" class="buttonclass"  />
        @if (Session["DDDynamicItems"] == "DDDynamicItems")
        {
	@*EMPHCS1307 rajasekhar reddy patakota 23/10/2015 Adding Lot No In Invoice And Bill*@
        <input  id="form-reset" class='buttonclass' type="button" value="Cancel"  /> 
        }
            </div></form>
}

</div>
   
         </div>
   
    
</body>
    
</html>