﻿@{
    ViewBag.Title = @Session["FormName"] ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <script src="~/Content/formbuildjquery.js"></script>
    <title>NewField</title>
    <script type="text/javascript">
        $(document).ready(function () {
            //New Feild Save Event
            $("#btnSave").click(function () {
                NewFeildSave('@Request["FormName"]');
            });
        });
    </script>

        @*<link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />*@
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    { 
             <div class="formBuildBackground">
           <div id="ddl" class="topHeaderContentBodyInfo topfirstButtonCont">
                <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Info", "FormBuilding",  new { FormName = Request["FormName"] }) + "'")    ;" />
            </div>
            <div class="newfieldbody" id="addnewfield">
                <div class="mainRow">
                    <div class="mainRowCon">
                    <div class="lbl">@Html.Label("Column Name")</div>
                    <div class="txt">@Html.DropDownList("ColumnName", new SelectList(ViewBag.ExColNames), optionLabel: "--Select--", htmlAttributes: new {@class = "ddlclass ddl" })</div>
                    </div>  <div class="mainRowCon"> <div class="lbl">@Html.Label("Label Name")</div>
                    <div class="txt">@Html.TextBox("LabelName", "", htmlAttributes: new { @class = "txtclass" })</div>
                    </div> <div class="mainRowCon">   <div class="lbl">@Html.Label("Mandatory")</div>
                    <div class="txt">@Html.DropDownList("Mandatory", new SelectList(new[] { "--Select--", "y", "n" }), htmlAttributes: new { @class = "ddlclass ddl" })</div>
                </div></div>
                <div class="mainRow"> <div class="mainRowCon">
                    <div class="lbl">@Html.Label("Control Type")</div>
                    <div class="txt">@Html.DropDownList("Control_Type", new SelectList(new[] { "--Select--", "TextBox", "DropDownList", "CheckBox", "DatePicker", "GridView", "RadioButton" }), htmlAttributes: new { @class = "ddlclass ddl" })</div>
                    </div> <div class="mainRowCon"><div class="lbl">@Html.Label("Section Type")</div>
                    <div class="txt">@Html.DropDownList("Section_Type", new SelectList(ViewBag.SecTypes), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlclass ddl" })</div>
                     </div> <div class="mainRowCon"><div class="lbl">@Html.Label("Section Name")</div>
                    <div class="txt">@Html.DropDownList("Section_Name", new SelectList(ViewBag.SecNames), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlclass ddl" })</div>
                </div></div>
            </div>
        </div>
        
     <div class="bottomRowContentFooter" id="footerInfo">
          <div class="btnContleftFB"> <input type="button" value="Save" id="btnSave" class="buttonclass" />
            <input  onclick="  window.history.go(-1); return false;" type="button" value="Cancel" id="btnCancel"  class="buttonclass"  />
        </div></div>
         //onclick="@("window.location.href='" + @Url.Action("Info", "FormBuilding",  new { FormName = Request["FormName"] }) + "'")    ;" 
    }
</body>
</html>
