﻿@model eBizSuiteAppUI.Models.LOVDetailsModel

@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jquery/jquery-ui.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.cookie.js")" type="text/javascript"></script>
     <script src="~/Content/formbuildjquery.js"></script>
<header>
</header>
    <!DOCTYPE>
<html >
<head >
    @*<link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />*@
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
    <script>
        $(document).ready(function () {
            $("#ddlFrmLOV").val("@ViewBag.newSelectLOV");
             //On Fly Lov Details Save
             $('#btnSaveItem').click(function (event) {
                 LovDetailsSave();
             })
            //On Fly Lov Details popupcancel
             $('#popupcancel').on("click", function () {
                 $(".ui-dialog").hide();
                 $(".ui-widget-overlay").hide();
             })
         });
</script>
    </head>
     

        
    <body >
        <div class="">
        @using (Html.BeginForm("NewItem", "FormBuilding", FormMethod.Post, new { @id = "OnFlyLovDetailsSave" }))
        {
    @Html.ValidationSummary(true)
       <div>

        <div id="Actions"  class="dialogSearch">
       <div class="searchRow">
            <div class="lbl">
            @Html.Label("LOV Master : ")
    </div><div class="txt">
            @Html.DropDownListFor(m => m.lstM,
            new SelectList(Model.lstM, "COLUMN02", "COLUMN03", selectedValue: ViewBag.newSelectLOV),
                "...Select...", htmlAttributes: new { id = "ddlFrmLOV", @class = "ddlclass ddl" })
            @Html.ValidationMessageFor(model => model.COLUMN03)
                @*</td>
                <td class="controlF">*@
            </div></div><div class="searchRow">
            <div class="lbl">

            @Html.Label("LOV Value : ")
  </div><div class="txt">
            @Html.TextBoxFor(model => model.COLUMN04, "", new { @class = "txtclass" })
            @Html.ValidationMessageFor(model => model.COLUMN04)
            </div>
            </div></div>
       </div>
        <div class="popUpSearchFooter">
            <input type="button" name="Save" value="Save" id="btnSaveItem" class="buttonclass"/>
            <input  id="popupcancel" class='buttonclass' type="reset" value="Cancel" />
        </div>
        }

</div>
    </body>
        
    </html>
  


@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
} 
