﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sales History";
}
@*EMPHCS1502	sales History in Retails BY RAJ.jr*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <title>SalesHistory</title>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger
            $('#DataTable').DataTable({
              
                "aaSorting": [[1, "desc"]]
            });
            $("#btnFilters2").click(function () {
                FilterView2();
            })
            $("#btnDisplay").click(function () {debugger
                var ide = '@Request["ide"]'.toString();
                var typ = '@Request["typ"]'.toString();
                var FromDate = $("#frmDT").val();
                var ToDate = $("#toDT").val();
                var opunit = '@Session["COAopunit"]';
                var operatingunit = $("#OperatingUnit").val();
                var TDSType = $("#TDSType").val();
                $.ajax({
                    url: "/FormBuilding/SalesHistory",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({FromDate: FromDate, ToDate: ToDate,id:1}),
                    success: function (data) {
                       
                        if (data != "") {
                            //PQ Line Fields 
                            $('#DataTable').remove();
                            $('#dynamic').html(data.grid1);
                            //$('#DataTable').DataTable();
                            $('#DataTable').DataTable({
                               
                                "aaSorting": [[1, "desc"]]
                            });
                        }
                    }
                });
            });

            });
        </script>
    <style>
TABLE {border:1px solid #e5eff8;border-collapse:collapse;border-collapse: collapse;}
TH {padding: 3px;border:1px solid #e5eff8;border-collapse:collapse;background-color: #5995FF;color:rgb(8, 7, 7);font-size:12px}
TD {padding: 3px;border:1px solid #e5eff8;border-collapse:collapse}
</style>
</head>
<body>    @using (Html.BeginForm( ))
    {  <div style="overflow:auto;" id="accountsReport">
     <div class="rowCont bottomRowContentFB"  id="reportheader">
@*<div class="reportdiv"> <div class="reportlbl"> Operating Unit </div>@Html.DropDownList("OperatingUnit", new SelectList((SelectList)ViewData["OperatingUnit"], "Value", "Text"), "--Select--", new {  @id = "OperatingUnit",@class="reportddl" })</div>*@
         <div class="reportdiv"><div class="reportlbl"> From Date  </div><input id="frmDT" name="frmDT"   class="reportdate reporttxt" value="@ViewBag.FromDate"   type="text"/></div>
    <div class="reportdiv"><div class="reportlbl">To Date </div> <input class="reportdate reporttxt" id="toDT"  name="toDT" value="@ViewBag.ToDate"   type="text" /></div>
     <div class="reportbutton"><input type="button" value="Display" class="buttonclass" id="btnDisplay" /></div>
    
        <div class="dropdown btnContRight">

                    <button class="buttonclass">Export</button>
                    <ul class="dropdown-menu">
                         <li><a href="@Url.Action( "COAExportPdf", "FormBuilding")">PDF</a></li>
                        <li><a href="@Url.Action( "COAExportExcel", "FormBuilding")">Excel</a></li>
                        <li><a href="@Url.Action( "COAExportWord", "FormBuilding")">Word</a></li>
                        <li><a href="@Url.Action( "COAExportCSV", "FormBuilding")" >CSV</a></li>
                    </ul>
                </div>
            </div>

   

  <div class="overflow" id="dynamic">
            @{
        var grid = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: false, canSort: false);
                grid.Bind(ViewBag.itemsdata, autoSortAndPage: false);
            }
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div id="Content">
                    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
 grid.Column(header: " ", format: (item) =>
 {
     if (item["FormID"] == 1532)
     {var links = "<a target='_blank' href='/PointOfSales/PointOfSalesEdit?idi=3100&FormName=Sales%20Receipt&ide=" + item["ID"] + "' >Edit</a> | <a target='_blank' href='/PointOfSales/PointOfSalesView?idi=3100&FormName=Sales%20Receipt&ide=" + item["ID"] + "' >View</a>";
     return Html.Raw(links);
     }
     else if (item["FormID"] == 1603)
     {
         var links = "<a target='_blank' href='/ReturnReceipt/ReturnReceiptEdit?idi=3139&FormName=Return%20Receipt&ide=" + item["ID"] + "' >Edit</a> | <a target='_blank' href='/ReturnReceipt/ReturnReceiptView?idi=3139&FormName=Return%20Receipt&ide=" + item["ID"] + "' >View</a>";
     return Html.Raw(links);
     }
     else
     {
         var links = "<a target='_blank' href='/ServiceReceipt/ServiceReceiptEdit?idi=3138&FormName=Service%20Receipt&ide=" + item["ID"] + "' >Edit</a> | <a target='_blank' href='/ServiceReceipt/ServiceReceiptView?idi=3138&FormName=Service%20Receipt&ide=" + item["ID"] + "' >View</a>";
     return Html.Raw(links);
        }}
),
grid.Column(columnName: "Transaction#", header: "Transaction#"),
grid.Column(columnName: "Date", header: "Date"),
grid.Column(columnName: "Customer", header: "Customer"),
grid.Column(columnName: "No.Of Items", header: "No.Of Items"),
grid.Column(columnName: "Total Quantity", header: "Total Quantity"),
grid.Column(columnName: "Total Amount", header: "Total Amount"),
grid.Column(columnName: "Payment Mode", header: "Payment Mode"),
grid.Column(columnName: "Created By", header: "Created By")
))
                </div>
       }
        </div>
         </div>
    }
</body>
</html>
