﻿@model eBizSuiteAppModel.Table.CONTABLE027

@{ ViewBag.Title = "Employee vs Role";
}
<html >
<head >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
     <script src="~/Content/formbuildjquery.js"></script>
  <script>
      $(document).ready(function () {
          if ('@Session["DDDynamicItems"]' == 'DDDynamicItems') {
              { Layout = null; }
          }
          $('#form-reset').live('click', function () {
              $(this).formReset();
              return false;
          });
          //Form Save
          $('#btnSave').click(function () {
              EmpRoleSave(document.getElementById("myid1").value);
          })
      })
</script>
</head>
    @using (Html.BeginForm("Create", "EmpVsRole", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        if(Session["DDDynamicItems"] != "DDDynamicItems"){
           <div class="rowCont bottomRowContentFB"  id="ddl">
        <div class="bottomColFB1">
            <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "EmpVsRole") + "'")    ;" />
           </div>  
            @if (Session["DDDynamicItems"] != "DDDynamicItems")
            {
           <div class="bottomColFB1">   <input type="submit" name="Save" value="Save"   class="buttonclass"/></div>
            <div class="bottomColFB1">   <input type="submit" name="SaveNew" value="Save & New"   class="buttonclass"/></div>
        @* <div class="bottomColFB1"> <input type="button" value="Cancel"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Index", "EmpVsRole") + "'")    ;" /></div>*@
           <div class="bottomColFB1">   <input onclick="$(this).formReset()" id="form-reset" class='buttonclass' type="reset" value="Reset"  /></div>
            }
            @if (Session["DDDynamicItems"] == "DDDynamicItems")
            {
        <div class="bottomColFB1"> <input onclick="@("window.location.href='" + @Url.Action("SetVariable", "FormBuilding") + "'")    ;" id="formreset" class='buttonclass' type="reset" value="Cancel"  /></div>
            } 
        </div>
        }
         <div  id="Staticdiv" class="bodyFBContent">
                <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl">  @Html.Label("ID#")
                   </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN02, new { @readonly = "readonly",@class="txtclass"  })
                         @Html.ValidationMessageFor(model => model.COLUMN02)
                </div>  </div> <div class="mainRowCon">
             <div class="lbl"> @Html.Label("Employee")
                        </div>
             <div class="txt"> @Html.DropDownListFor(model => model.COLUMN03, new SelectList(ViewBag.e, "Column02", "Column06"), "select a Item", new {@class="ddl" })
                         @Html.ValidationMessageFor(model => model.COLUMN03)
                </div>  </div> <div class="mainRowCon">
             <div class="lbl"> @Html.Label("Role")
                       </div>
             <div class="txt"> @Html.DropDownListFor(model => model.COLUMN04, new SelectList(ViewBag.r, "Column02", "Column03"), "select a Item", new {@class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN04)
                    </div>  </div></div>
                <div class="mainRow"><div class="mainRowCon">
            <div class="lbl">    @Html.Label("Department")
                        </div>
             <div class="txt">   @Html.DropDownListFor(model => model.COLUMN06, new SelectList(ViewBag.d, "Column02", "Column04"), "select a Item", new {@class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN06)
                </div></div>
            <div class="mainRowCon">
            <div class="lbl">   @Html.Label("Operating Unit")
                      </div>
             <div class="txt">  @Html.DropDownListFor(model => model.COLUMN05, new SelectList(ViewBag.o, "Column02", "Column03"), "select a Item", new {@class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN05)
               </div>  </div> <div class="mainRowCon">
             <div class="lbl">  @Html.Label("Inactive Flag")
                       </div>
             <div class="txt"> @Html.CheckBoxFor(model => model.COLUMN07)
                          @Html.ValidationMessageFor(model => model.COLUMN07)
                </div>  </div> </div></div>
         <div class="newbottomRowContentFooter" id="footerInfo">

         </div>
    }
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
    </html>