﻿@model eBizSuiteAppModel.Table.CONTABLE027

@{
    ViewBag.Title = "Employee vs Role";
}

<header>
     <script src="~/Content/formbuildjquery.js"></script>    
    <script>
        $(document).ready(function () {
            //Emp vs Role Delete
            $('#btnDelete').click(function () {
                EmpRoleDelete(document.getElementById("myid").value);
            })
        });
    </script>


</header>
    @using (Html.BeginForm("Details", "EmpVsRole", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
         <div class="rowCont bottomRowContentFB"  id="ddl">
        <div class="bottomColFB1"> <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "EmpVsRole") + "'")    ;" />
           </div>  
             <div class="bottomColFB1">  <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("/Edit/"+Model.COLUMN02+"") + "'")    ;" /></div>  
        </div> 
         <div  id="Staticdiv" class="bodyFBContent">
                <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl">  @Html.Label("Emp Vs Role ID")
                   </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN02, new { @readonly = "readonly",@class="txtclass"  })
                         @Html.ValidationMessageFor(model => model.COLUMN02)
                </div>  </div> <div class="mainRowCon">
             <div class="lbl"> @Html.Label("Employee")
                        </div>
             <div class="txt"> @Html.DropDownListFor(model => model.COLUMN03, new SelectList(ViewBag.e, "Column02", "Column06"), "select a Item", new { @disabled = "disabled",@class="ddl" })
                         @Html.ValidationMessageFor(model => model.COLUMN03)
                </div>  </div> <div class="mainRowCon">
             <div class="lbl"> @Html.Label("Role")
                       </div>
             <div class="txt"> @Html.DropDownListFor(model => model.COLUMN04, new SelectList(ViewBag.r, "Column02", "Column03"), "select a Item", new { @disabled = "disabled",@class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN04)
                    </div>  </div></div>
               <div class="mainRow"><div class="mainRowCon">
            <div class="lbl">    @Html.Label("Department")
                        </div>
             <div class="txt">   @Html.DropDownListFor(model => model.COLUMN06, new SelectList(ViewBag.d, "Column02", "Column04"), "select a Item", new {@class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN06)
                </div></div>
            <div class="mainRowCon">
            <div class="lbl">   @Html.Label("Operating Unit")
                      </div>
             <div class="txt">  @Html.DropDownListFor(model => model.COLUMN05, new SelectList(ViewBag.o, "Column02", "Column03"), "select a Item", new {@class="ddl" })
                          @Html.ValidationMessageFor(model => model.COLUMN05)
               </div>  </div> <div class="mainRowCon">
             <div class="lbl">  @Html.Label("Inactive Flag")
                       </div>
             <div class="txt"> @Html.CheckBoxFor(model => model.COLUMN07)
                          @Html.ValidationMessageFor(model => model.COLUMN07)
                </div>  </div> </div></div>
         <div class="newbottomRowContentFooter" id="footerInfo">
               @*<input type="button" value="Back"  class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Index", "OperatingUnit") + "'")    ;" />*@
           </div>
    }
