﻿@model IEnumerable<eBizSuiteAppModel.Table.CONTABLE027>

@{
    ViewBag.Title = "Employee vs Role";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE>

<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
    <title></title>
    <div id="dialogcreate"></div>
    <script type="text/jscript">
        $(document).ready(function () {
         //Grid Sorting
         $('#DataTable').DataTable();
            //Accordian Collapse
            $("#accordion").accordion({
                collapsible: true
            });
            //Inline ON
            $('.button-hide').click("click", function () {
                EmpRoleInlineON($('.ddlStyle :selected').val());
            });
            //Inline OFF
            $('.button-show').click("click", function () {
                EmpRoleInlineOFF($('.ddlStyle :selected').val());
            });
            //Inline Update Changes
            $('#grdData').change("change", function () {
                EmpRoleInlineUpdate(@Html.Raw(Json.Encode(ViewBag.columns)));
            })
            //Search Dialog
            $("#btnSearch").click("click", function () {
                $('#dialogcreate').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 500,
                    height: 300, resizable: false,
                    title: "Search",
                    closeOnEscape: true
                })
                $('#dialogcreate').dialog('open');
                $('#dialogcreate').load("/EmpVsRole/Search");
                $('#dialogcreate').show();
                return false;
            });
            //Dynamic View
            $(".ddlView").change("change", function () {
                var dat = { items: $(this).val(), sort: $('.ddlQuickSort :selected').val(), style: $('.ddlStyle :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                EmpRoleView($('.ddlStyle :selected').val(),dat);
            });
            //Dynamic QuickSort
            $(".ddlQuickSort").change("change", function () {
                var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                EmpRoleQuickSort($('.ddlStyle :selected').val(), dat);
            });
            //Dynamic Style
            $(".ddlStyle").change("change", function () {
                var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                EmpRoleStyle($(this).val(), dat);
            });
            //Bottom Dynamic View
            $("#bddlView").change("change", function () {
                var dat = { items: $(this).val(), sort: $('#bddlQuickSort :selected').val(), style: $('#bddlStyle :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                EmpRoleView($('#bddlStyle :selected').val(), dat);
            });
            //Bottom Dynamic QuickSort
            $("#bddlQuickSort").change("change", function () {
                var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                EmpRoleQuickSort($('#bddlStyle :selected').val(), dat);
            });
            //Bottom Dynamic Style
            $("#bddlStyle").change("change", function () {
                var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                EmpRoleStyle($(this).val(), dat);
            });
            //Toggle Filter
            $("#btnFilters").click(function () {
                $("#divfilter").toggle();
            });
            //Print View
            $("#btnPrint").click(function PrintData() {
                EmpRolePrintView();
            });
            //Print View
            $("#btnPrint1").click(function PrintData() {
                EmpRolePrintView();
            });
        });
    </script>
</head>

<body >
    <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
            <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "EmpVsRole") + "'")    ;" /></div>
            <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Create", "EmpVsRole") + "'")    ;" /></div>
            @*<div class="btnContleft"> <input type="button" class="buttonclass" id="btnSearch" value="Search" /></div>*@
          @*    <div id="btnOFF"   class="btnContRight">
                     @Html.Label("InlineEditing:")
                    <input type="button" class="button-hide " value="ON" />                
                    <input type="button" class="button-show " value="OFF" disabled="disabled"/>
                    </div>*@  
                  <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "EmpVsRole") + "'")    ;" /></div>
            <div class="btnContRight dropdown">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "EmpVsRole")</a></li>
                                <li><a href="#about">@Html.ActionLink("Excel", "ExportExcel", "EmpVsRole")</a></li>
                                <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "EmpVsRole")</a></li>
                                <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "EmpVsRole")</a></li>
                         </ul>
                </div>
            </div>
           @* <div class="linebreek"></div>
    <div class="topSecondButtonCont">
            <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
            
            <div class="emptyDiv12"></div>
           <div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "EmpVsRole") + "'")    ;" /></div>
            <div class="btnContRight dropdown">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "EmpVsRole")</a></li>
                                <li><a href="#about">@Html.ActionLink("Excel", "ExportExcel", "EmpVsRole")</a></li>
                                <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "EmpVsRole")</a></li>
                                <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "EmpVsRole")</a></li>
                         </ul>
                </div>
        </div>
        </div> *@       
    </div>
    <div class="hideFilter" id="divfilter">
                    @*@Html.Label("ShowInactives")@Html.CheckBox("ShowInactives", htmlAttributes: new { @class = "chkShowInactives" })*@
                     <div class="labelTxtFirstCol">@Html.Label("Style")</div><div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), new { @class = "ddlStyle" })</div>
                     <div class="labelTxtFirstCol">@Html.Label("View")</div><div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { @class = "ddlView" })</div>
                     <div class="labelTxtFirstCol">@Html.Label("QuickSort")</div><div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlQuickSort" })</div>
        </div>
               <div class="overflow" id="dynamic">
        @{
            var grid = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: false, canSort: false);
            grid.Bind(ViewBag.itemsdata);
    
        }
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div id="Content"   class="overflowGrid" >
                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.cols)
            </div>
            
            <div id="content1" class="gridcntdata">
                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "grdData" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: ViewBag.Inlinecols
)
            </div>
        }
    </div>
        <div id="ListId" class="gridcntdata">
            <div id="List1">
                <div id="tbldata">
                
                </div>
            </div>
            <div id="InlineList"  class="gridcntdata">
                <div id="itbldata">
                 
                </div>
            </div>
        </div>
        </div><div class="newbottomRowContentFooter" id="footerInfo">
         @*<div class="bottomCol">
                <div  class="labelTxtFirstCol">Style </div>
              <div class="bottomInputField">@Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), htmlAttributes: new { id = "bddlStyle" }) </div></div>
         <div class="bottomCol">
                <div  class="labelTxtFirstCol">View </div>
              <div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { id = "bddlView" })</div> </div>
            <div class="bottomCol">
                <div  class="labelTxtFirstCol">QuickSort </div>
              <div class="bottomInputField"> @Html.DropDownList("QuickSort", new SelectList(new[] { "--Select--", "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), htmlAttributes: new { id = "bddlQuickSort" }) </div></div>*@

                @*<td style="width: 63%; text-align: right">
                    <input type="button" class="buttonclass" id="btnPrint1" value="Print" /></td>
                <td style="width: 5%">
                    <input type="button" class="buttonclass" id="btnbCustomizeView"  value="Customize View"   onclick="@("window.location.href='" + @Url.Action("CustomView", "EmpVsRole") + "'")    ;"/></td>
                <td style="width: 10%; text-align: right;">

                    <ul class="menu" style="background-color: #3B6F6F; color: white; width: 50px; text-align: left">

                        <li style="text-align: left"><a style="background-color: #3B6F6F; color: white; text-align: left; ">Export</a>

                            <ul style="text-align: left; background-color: #A1B9B9; color: white;">
                                <li class="submenu" style="text-align: left; color: white;">@Html.ActionLink("PDF", "ExportPdf", "EmpVsRole")</li>
                                <li class="submenu" style="text-align: left; color: white;">@Html.ActionLink("Excel", "ExportExcel", "EmpVsRole")</li>
                                <li class="submenu" style="text-align: left; color: white;">@Html.ActionLink("Word ", "ExportWord", "EmpVsRole")</li>
                                <li class="submenu" style="text-align: left; color: white;">@Html.ActionLink("CSV ", "ExportCSV", "EmpVsRole")</li>

                            </ul>

                        </li>
                    </ul>


                </td>

            </tr>
        </table>*@
    </div>


</body>

</html>


@*@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}*@
