﻿@{
    ViewBag.Title = "GST Returns";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStylesSearch.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/RetailstylesSearch.css" rel="stylesheet" />
    <style>
        .grid2ndRow {
            font-weight: bold;
            background-color:#aed1ee;
        }
        .grid2ndRow td{
            font-weight: bold;
            background-color:#aed1ee;
            font-size: 13px;
            padding:4px;
        }
    </style>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
            $(document).ready(function () {
                FormLoadActions();
                dateupdate('@Session["ReportDate"]');
            });
        $i('#linkPDF').live('click', function (e) {
            var FromDate = $("input[name=FromDate]").val();
            var Date = $("input[name=Date]").val();
            var Data = $("#grdData")[0].innerHTML;
            $.ajax({
                url: "/GSTReturns/ExportPdf",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ frDT: FromDate, toDT: Date, Data: Data }),
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                }
            });
            window.open("/GSTReturns/ExportPdf", '_blank');
            });
        $('#linkExcel').live("click", function () {
            var FromDate = $("input[name=FromDate]").val();
            var Date = $("input[name=Date]").val();
            var Data = $("#grdData")[0].innerHTML;
            var sec = $("input[name=SecId]").val();
            var sub = $("input[name=SubId]").val();
            if (sec == '1' && sub == '0') {
                window.open("/GSTReturns/getDataSetExportToExcel?fd=" + FromDate + "&td=" + Date + "", '_blank');
            }
            else {
            $.ajax({
                url: "/GSTReturns/ExportExcel",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ frDT: FromDate, toDT: Date, Data: Data }),
                cache: true,
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                }
            });
                window.open("/GSTReturns/ExportExcel", '_blank');
            }
            });
            $i("[id*=Submit]").live("click", function () {
                var FromDate = $("input[name=FromDate]").val();
                var Date = $("input[name=Date]").val();
                var sec = $("input[name=SecId]").val();
                var sub = $("input[name=SubId]").val();
                var GSTIN = $("#GSTIN").val(); $i('#divLoading').show();debugger
                $.ajax({
                    url: "/GSTReturns/GETGSTR1?ref=" + sec + "&sub=" + sub + "&GSTIN=" + GSTIN + "",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({ frDT: FromDate, toDT: Date}),
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {debugger
                        $i("#grdData thead").remove();
                        $i("#grdData tbody").remove();
                        $i('#grdData').append(result.Data);
                        if (parseInt(sub)>99) {
                            $i("#grdData > tbody").find("tr").eq(1).addClass("grid2ndRow");
                        }
                        $i('#divLoading').hide();
                    }
                });
            });
    </script>
</head>
<body>
    <div id="poscreate" style="width: 100%" class="GSTSearchMain">
        <div id="mastercreateSR" class="mastercreateSR" style="padding-top: 5px">

            <div id="State Code" style="width: Auto" class="itemddl">
                <div class="itemlabel">From Date</div>
                <div class="itemddlposition">@Html.TextBox("FromDate", (string)@ViewBag.FromDate, new { @id = "Phonenoddl", @class = "txtclassfly date", @itemid = "Y", }) </div>
                <div class="itemlabel">To Date</div>
                <div class="itemddlposition">@Html.TextBox("Date", (string)@ViewBag.ToDate, new { @id = "", @class = "txtclassfly date", @itemid = "Y" })</div>
                <div class="itemlabel">GSTIN</div>
                <div class="itemddlposition">@Html.TextBox("GSTIN", null, new { @id = "GSTIN", @class = "txtclass", @itemid = "Y" })</div>

                <div class="itemlabel" style="padding-left: 18px">Section</div>
                <div class="itemddlposition">
                    <select id="SecId" name="SecId" class="ddl easyui-combobox" style="width: 176px; height: 27px;">
                        <option value="0">--Select--</option>
                        <option value="1">GSTR1</option>
                        <option value="2">GSTR2</option>
                        <option value="3">GSTR3</option>
                    </select>
                </div>
                <div class="itemlabel" style="padding-left: 18px">Sub Section</div>
                <div class="itemddlposition">
                    <select id="SubId" name="SubId" class="ddl easyui-combobox" style="width: 176px; height: 27px;">
                        <option value="0">--Select--</option>
                        <option value="100">B2B</option>
                        <option value="101">B2CL</option>
                        <option value="102">B2CS</option>
                        <option value="103">CDNR</option>
                        <option value="104">CDNUR</option>
                        <option value="105">EXP</option>
                        <option value="106">AT</option>
                        <option value="107">ATADJ</option>
                        <option value="108">EXPMP</option>
                        <option value="109">HSN</option>
                        <option value="110">DOCS</option>
                        <option value="111">MASTER</option>
                        <option value="1">5</option>
                        <option value="2">5A</option>
                        <option value="3">6</option>
                        <option value="4">6A</option>
                        <option value="5">7</option>
                        <option value="6">7A</option>
                        <option value="7">8</option>
                        <option value="8">8A</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">10A</option>
                        <option value="12">11</option>
                        <option value="13">11A</option>
                        <option value="14">12</option>
                        <option value="15">13</option>
                        <option value="16">2</option>
                        <option value="17">2A</option>
                        <option value="18">7A</option>
                        <option value="19">8</option>
                        <option value="20">11</option>
                    </select>
                </div>
                <div class="itemddlposition">
                    <div class="bottomColFB1">
                        <input type="button" name="Submit" value="Search" id="Submit " class="buttonclass btn_sample" />
                    </div>
                </div>
                <div class="itemddlposition">
                    <div class="bottomColFB1">
                        <div class="dropdown btnContRight">
                            <button class="buttonclass">Export</button>
                            <ul class="dropdown-menu">
                                @*<li><a id="linkPDF">PDF</a></li>*@
                                <li><a style="cursor:pointer" id="linkExcel">Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        @{
        <div id="iteminfo" class="griddisplay QuickSearchgrid StaticgridFoter" style="width: 100%; overflow: auto; float: left">
            @*<div style="text-align:center"><div>Government of India/State</div><div>Department of</div><div><b>Form GSTR-1</b></div><div><b>DETAILS OF OUTWARD SUPPLIES</b></div><div><b>1.GSTIN:</b></div><div><b>2.Name of the Taxable Person:</b></div><div><b>3.Aggregate Turnover of the Taxable Person in the previous FY:</b></div><div><b>4.Period: Month: Year:</b></div><div><b>5.Taxable outward supplies to a registered person</b></div></div>*@
            <table id="grdData"><thead></thead><tbody></tbody>
                @*<thead>
                    <tr>
                        <th style="width:5%">GSTIN/UIN</th>
                        <th style="width:36%" colspan="6">Invoice</th>
                        <th style="width:9%" colspan="2">IGST</th>
                        <th style="width:9%" colspan="2">CGST</th>
                        <th style="width:9%" colspan="2">SGST</th>
                        <th style="width:8%">POS</th>
                        <th style="width:8%">Reverse charge	</th>
                        <th style="width:8%">Assessment</th>
                        <th style="width:8%">GSTIN</th>
                    </tr>
                    <tr>
                        <th style="width:5%"></th>
                        <th style="width:6%">No.</th>
                        <th style="width:6%">Date</th>
                        <th style="width:5.5%">Value</th>
                        <th style="width:6%">Goods/Services</th>
                        <th style="width:5.5%">HSN/SAC</th>
                        <th style="width:7%">Taxable value</th>
                        <th style="width:3%">Rate</th>
                        <th style="width:6%">Amt</th>
                        <th style="width:3%">Rate</th>
                        <th style="width:6%">Amt</th>
                        <th style="width:3%">Rate</th>
                        <th style="width:6%">Amt</th>
                        <th style="width:8%"></th>
                        <th style="width:8%"></th>
                        <th style="width:8%"></th>
                        <th style="width:8%"></th>
                    </tr>
                </thead>*@
            </table>
        </div>
        }
    </div>
</body>
</html>
