﻿@{
    ViewBag.Title = "GST Returns";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStylesSearch.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/RetailstylesSearch.css" rel="stylesheet" />

    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $(document).ready(function () {
            FormLoadActions();
            dateupdate('@Session["ReportDate"]');
            });
            $i('#linkPDF').live('click', function (e) {
                var FromDate = $("input[name=FromDate]").val();
                var Date = $("input[name=Date]").val();
                var Data = $("#grdData")[0].innerHTML;
                $.ajax({
                    url: "/GSTReturns/ExportPdf",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({ frDT: FromDate, toDT: Date, Data: Data }),
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                    }
                });
                window.open("/GSTReturns/ExportPdf", '_blank');
            });
            $('#linkExcel').live("click", function () {
                var FromDate = $("input[name=FromDate]").val();
                var Date = $("input[name=Date]").val();
                var Data = $("#grdData")[0].innerHTML;
                $.ajax({
                    url: "/GSTReturns/ExportExcel",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({ frDT: FromDate, toDT: Date, Data: Data }),
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                    }
                });
                window.open("/GSTReturns/ExportExcel", '_blank');
            });
            $i("[id*=Submit]").live("click", function () {
                var FromDate = $("input[name=FromDate]").val();
                var Date = $("input[name=Date]").val();
                $.ajax({
                    url: "/GSTReturns/GETGSTR1?ref=2",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({ frDT: FromDate, toDT: Date }),
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $i("#grdData tbody").remove();
                        $i('#grdData').append(result.Data);
                    }
                });
            });
    </script>
</head>
<body>
    <div id="poscreate" style="width: 100%" class="GSTSearchMain">
        <div id="mastercreateSR" class="mastercreateSR" style="padding-top: 5px">

            <div id="State Code" style="width: Auto" class="itemddl">
                <div class="itemlabel">From Date</div>
                <div class="itemddlposition">@Html.TextBox("FromDate", (string)@ViewBag.FromDate, new { @id = "Phonenoddl", @class = "txtclassfly date", @itemid = "Y", }) </div>
                <div class="itemlabel">To Date</div>
                <div class="itemddlposition">@Html.TextBox("Date", (string)@ViewBag.ToDate, new { @id = "", @class = "txtclassfly date", @itemid = "Y" })</div>
                <div class="itemlabel">GSTIN</div>
                <div class="itemddlposition">@Html.TextBox("GSTIN", null, new { @id = "", @class = "txtclass", @itemid = "Y" })</div>
                
                <div class="itemlabel" style="padding-left: 18px">Section</div>
                <div class="itemddlposition">
                    <select id="SecId" name="SecId" class="ddl easyui-combobox" style="width: 176px; height: 27px;">
                        <option value="0">--Select--</option>
                        <option value="1">GSTR1</option>
                        <option value="3">GSTR2</option>
                        <option value="5">GSTR3</option>
                    </select>
                </div>
                <div class="itemlabel" style="padding-left: 18px">Sub Section</div>
                <div class="itemddlposition">
                    <select id="SubId" name="SubId" class="ddl easyui-combobox" style="width: 176px; height: 27px;">
                        <option value="0">--Select--</option>
                        <option value="1">1</option>
                        <option value="2">1A</option>
                        <option value="3">2</option>
                        <option value="4">2A</option>
                        <option value="5">3</option>
                        <option value="6">3A</option>
                        <option value="9">4</option>
                        <option value="10">4A</option>
                        <option value="7">5</option>
                        <option value="8">5A</option>
                        <option value="9">6</option>
                        <option value="10">6A</option>
                        <option value="7">7</option>
                        <option value="8">7A</option>
                        <option value="7">8</option>
                        <option value="8">11</option>
                    </select>
                </div>
                <div class="itemddlposition">
                    <div class="bottomColFB1">
                        <input type="button" name="Submit" value="Search" id="Submit " class="buttonclass btn_sample" />
                    </div>
                </div>
                <div class="itemddlposition">
                    <div class="bottomColFB1">
                        <div class="dropdown btnContRight">
                            <button class="buttonclass">Export</button>
                            <ul class="dropdown-menu">
                                <li><a id="linkPDF">PDF</a></li>
                                <li><a id="linkExcel">Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading">
            <p>
                <img src="~/Images/ajax-loading.gif"><br />
                Loading, please wait...
            </p>
        </div>
        @{
        <div id="iteminfo" class="griddisplay QuickSearchgrid StaticgridFoter" style="width: 100%; overflow: auto; float: left">
            @*<div style="text-align:center"><div>Government of India/State</div><div>Department of</div><div><b>Form GSTR-1</b></div><div><b>DETAILS OF OUTWARD SUPPLIES</b></div><div><b>1.GSTIN:</b></div><div><b>2.Name of the Taxable Person:</b></div><div><b>3.Aggregate Turnover of the Taxable Person in the previous FY:</b></div><div><b>4.Period: Month: Year:</b></div><div><b>5.Taxable outward supplies to a registered person</b></div></div>*@
            <table id="grdData">
                <thead>
                    <tr>
                        <th style="width: 5%;vertical-align:top" rowspan="3">GSTIN/UIN</th>
                        <th style="width: 36%;vertical-align:top" colspan="6"  rowspan="2">Invoice</th>
                        <th style="width: 9%;vertical-align:top" colspan="2"  rowspan="2">IGST</th>
                        <th style="width: 9%;vertical-align:top" colspan="2"  rowspan="2">CGST</th>
                        <th style="width: 9%;vertical-align:top" colspan="2"  rowspan="2">SGST</th>
                        <th style="width: 8%;vertical-align:top"  rowspan="2">POS</th>
                        <th style="width: 8%;vertical-align:top"  rowspan="3">Eligibility of ITC</th>
                        <th style="width: 8%" colspan="3">Total Tax of ITC</th>
                        <th style="width: 8%" colspan="3">ITC this month</th>
                    </tr>
                    <tr>
                        <th style="width: 2.66%">IGST</th>
                        <th style="width: 2.66%">CGST</th>
                        <th style="width: 2.66%">SGST</th>
                        <th style="width: 2.66%">IGST</th>
                        <th style="width: 2.66%">CGST</th>
                        <th style="width: 2.66%">SGST</th>
                    </tr>
                    <tr>
                        <th style="width: 6%">No.</th>
                        <th style="width: 6%">Date</th>
                        <th style="width: 5.5%">Value</th>
                        <th style="width: 6%">Goods/Services</th>
                        <th style="width: 5.5%">HSN/SAC</th>
                        <th style="width: 7%">Taxable value</th>
                        <th style="width: 3%">Rate</th>
                        <th style="width: 6%">Amt</th>
                        <th style="width: 3%">Rate</th>
                        <th style="width: 6%">Amt</th>
                        <th style="width: 3%">Rate</th>
                        <th style="width: 6%">Amt</th>
                        <th style="width: 8%"></th>
                        <th style="width: 2.66%">Amt</th>
                        <th style="width: 2.66%">Amt</th>
                        <th style="width: 2.66%">Amt</th>
                        <th style="width: 2.66%">Amt</th>
                        <th style="width: 2.66%">Amt</th>
                        <th style="width: 2.66%">Amt</th>
                    </tr>
                </thead>
            </table>
        </div>
        }
    </div>
</body>
</html>
