﻿@model eBizSuiteAppModel.Table.MATABLE007

@{
    ViewBag.Title = "Item";
    Layout = null;
}
<html>
<head>
@*    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />*@
    @*<script src="~/Content/formbuildjquery.js"></script>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />*@
    @*<link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
     <script src="~/Scripts/jquery-1.7.1.js"></script>*@
        <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" language="javascript">


      //var $ = jQuery.noConflict(true);
      $i(document).ready(function () {
          $("[id*=itemName]").live("change", function () {
              NameCheckExist($(this).val(), "", "Item");
          });
          $("[id*=COLUMN06]").live("change", function () {
              NameCheckExist("",$(this).val(),  "Item");
          });
          $('#btnSaveI').on('click', function () {
              $("#divLoading").show();
              var Itemtype = $("#COLUMN05").val()
              if ($("#itemName").val() == "") {
                  $("#divLoading").hide();
                  Alert.render('Please Enter Item Name'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $i("#itemName").focus(); return false;
                  })
                  return false;
              }
              else if ($("#Units").val() == "") {
                  $("#divLoading").hide();
                  Alert.render('Please Select Item For UOM'); $("#alertok").focus();
                  $("#alertok").on("click", function () {
                      $("#dialogbox").dialog("close"); $("#Units").focus();
                      return false;
                  })
                  return false;
              }
              //StaticOnflyItemPriceSaveMethod();
              $("#divLoading").show();
              var formData = $("#myid1").serialize();
              $.ajax({
                  url: "/ItemMaster/InsertOnflySave",
                  type: "POST",
                  dataType: "json",
                  data: formData,
                  success: function (data) {
                      var items = [];
                      //$i("#Itemddl").html(items.join(' '));
                      //items.push("<option value=''>" + "--Select--" + "</option>");
                      //for (var i = 0; i < data.item.length; i++) {
                      //    if (data.item[i].Selected == true) {
                      //        var newItem = data.item[i].Value;
                      //        var newItemName = data.item[i].Text;
                      //        items.push("<option value=" + data.item[i].Value + " selected>" + data.item[i].Text + "</option>");
                      //    }
                      //    else
                      //        items.push("<option value=" + data.item[i].Value + ">" + data.item[i].Text + "</option>");
                      //}
                      $i('#divLoading').hide(); $i(".window-mask").hide(); $i(".panel window").hide(); $i(".window-shadow").hide();
                      //$i('#iImageHide').dialog('close');
                      $i(".window-shadow").css('display', 'none');
                      $i(".panel").css('display', 'none');
                      $i(".window-mask").css('display', 'none');
                      $i('#iImageHide').attr('pattern', 'N');
                      //$i('#iNewMDialog').dialog("close");
                      $i(".ui-widget-overlay").hide();

                      $i("#Itemddl").html('');
                      //var s = $('<select  id=Itemddl/>');
                      for (var i = 0; i < data.item.length; i++) {
                          $("#Itemddl").append($('<option></option>').val(data.item[i].Value).html(data.item[i].Text));
                          //$('<option />', { value: data.item[i].Value, text: data.item[i].Text }).appendTo(s);
                      }
                      $i("#Itemddl").combobox('loadData', $i("#Itemddl")[0]);
                      var newItem = data.ItemId;
                      //var body = document.getElementById('Itmddl');
                      //s.appendTo(body);
                      $i('#Itemddl').attr('class', 'ddl easyui-combobox');
                      $i('#Itemddl').attr('textboxname', 'Item');
                      $i('#Itemddl').attr('comboname', 'Item');
                      //loadjscssfile('/css/dynamicStyles/jquery.easyui.min.js', 'js');
                      //loadjscssfile('/css/dynamicStyles/easyui.css', 'css');
                      //loadjscssfile('/Scripts/jquery-1.7.1.js', 'js');
                      //loadjscssfile('/Content/Tabs/jquery-ui.js', 'js');
                      //$i('#Itemddl').combobox({});
                      $i('#Itemddl').attr('itemid', 'Y');
                      $i('#Itemddl').attr('style', 'display:none;width:250px;height:30px;');
                      //$i('.combo').attr('itemid', 'Y');
                      if (Itemtype == "ITTY009")
                          $i('.combo').attr('style', 'width:248px;height:28px;');
                      else
                          $i('.combo').attr('style', 'width:198px;height:28px;');
                      $i('.combo-arrow').attr('style', 'height:28px;');
                      $i('.combobox-item').attr('style', 'font-family:arial;');
                      $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                      //$i("#Itemddl").combobox('setValue', newItemName);
                      //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                      var url = "/PointOfSales/GetItemDetails";
                      if (Itemtype == "ITTY009") url = "/ServiceReceipt/GetServiceItemDetails"
                      $i.ajax({
                          url: url,
                          type: "POST",
                          data: JSON.stringify({ ItemID: newItem }),
                          dataType: "json", cache: true,
                          async: false,
                          contentType: "application/json; charset=utf-8",
                          success: function (result) {
                              $i('#grdData').append(result.Data);
                              var tbl = $("#grdData")[0];
                              var ttr = tbl.rows[tbl.rows.length - 1]
                              var qty = $(ttr).find("#Quantity").val();
                              var price = $(ttr).find("#Price").val();
                              if (typeof (qty) == "undefined" || qty == "") qty = 0;
                              if (typeof (price) == "undefined" || price == "") price = 0;
                              amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                              $(ttr).find('#dAmount').text(amt);
                              $(ttr).find('#Amount').val(amt);
                              var batch = "<td></td>";
                              var location = "<td></td>";
                              if (Itemtype != "ITTY009") {
                                  if (result.lot == "True" || result.lot == "Y" || result.lot == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/><input type='image' src='/Images/plus.png' class='pointImageSize' id='lotonfly' style='width:16px;height:17px;margin-left:3px;margin-bottom:-3px;cursor:pointer;' value='' alt=''></td>"; }
                                  if (result.location == "True" || result.location == "Y" || result.location == "1") { location = "<td><input type='button' name='location' id='dlocation' value='location' class='myButton edit-mode'/></td>"; }
                              }
                              var htmlstring = "";
                              if (Itemtype == "ITTY009") {
                                  htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Discount' id='Discount' value='Discount' class='myButton edit-mode'></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td>" +
                              "<td></td><td ></td ><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                              }
                              else {
                                  htmlstring = "<tr class='aftershow'><td></td><td ><input type='button' name='Pricelevel' id='LinePricelevel' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td>" +
                                  "" + batch + "" + location + "<td ></td ><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                              }
                                  $(ttr).find("#itemBatchId").text(result.LotId);
                              $(ttr).find("#lotExpDate").text(result.ExpDate);
                              $(ttr).find("#LocationId").text(result.LocationId);
                              $i(ttr).find("[id='PriceLevelId']").remove();
                              $i(ttr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'PriceLevelId' }).val(result.PriceLevelId));
                              $(ttr).find("#Price").prop("readonly", true);
                              $(ttr).find("#Amount").prop("readonly", true);
                              $i('#grdData').append(htmlstring);
                              GetRetailTransCalc(ttr, "Line");
                              $i('.aftershow').hide();
                              $i('.edit-mode').hide();
                              $i('.initshow').show();
                              $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                              $i('.textbox-text:first').focus();
                          }
                      });
                  }
              });
          })

          function gettaxamount(tr) {
              var TaxType = $i(tr).find('#TaxType').val();
              if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;
              if (TaxType > 0) {
                  $.ajax({
                      url: "/PointOfSales/GetTaxAmount",
                      type: "POST",
                      data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                      dataType: "json", cache: true,
                      async:false,
                      contentType: "application/json; charset=utf-8",
                      success: function (result) {
                          if (result.Tax != '') {
                              var ttal = $i(tr).find('#dAmount').text();
                              tax = result.Tax; tax = (tax * (0.01));
			      //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                              $i(tr).find('#dservicetax').text(tax);
                              tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                          } else { tax = parseFloat(0); $i(tr).find('#dservicetax').text(0); }
                          $i(tr).find('#dTaxamt').text(tax);
                      }
                  })
              }
              Linecalculations();
          }

          function Linecalculations() {
          var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0; var servicetax = 0; var tdsamt = 0; var cessamt = 0;
              $('#grdData tr td input[name="Quantity"]').each(function () {
                  totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
              })
              $('#grdData tr td input[name="Amount"]').each(function () {
                  subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
              })
              $('#grdData tr td span[id="dTaxamt"]').each(function () {
                  //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
                  var tr = $(this).parents('tr:first');
                  var amount = $(tr).find("[id='dAmount']").text();
                  var servicetax = $(tr).find("[id='dTaxamt']").text();
                  var itax = $(tr).find("[id='dservicetax']").text();
                  var discount = $(tr).find("[id='ddiscount']").text();
                  if ($(tr).find("[id='dservicetax']").length == 0) {
                      var itax = $(this).text();
                      if (itax == "" || typeof (itax) == "undefined") itax = 0;
                      taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                  } else {
                      if (typeof (discount) == "undefined" || discount == '') discount = 0;
                      if (itax == "" || typeof (itax) == "undefined") itax = 0;
                      if (typeof (servicetax) == "undefined" || servicetax == '') servicetax = 0;
                      if (typeof (amount) == "undefined" || amount == '') amount = 0;
                      if (itax == 0) $(tr).find("[id='dcessper']").text(0);
                      taxamt = ((parseFloat(taxamt) + (parseFloat(itax) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
                  }
              })
              $('#grdData tr td span[id="ddiscount"]').each(function () {
                  var idis = $(this).text();
                  if (idis == "" || typeof (idis) == "undefined") idis = 0;
                  disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
              })
	      //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations
              $('#grdData tr td span[id="dtds"]').each(function () {
                  var itds = $(this).text();
                  if (itds == "" || typeof (itds) == "undefined") itds = 0;
                  tdsamt = (parseFloat(tdsamt) + parseFloat(itds)).toFixed(2);
              })
              $('#grdData tr td span[id="dcessper"]').each(function () {
                  debugger
                  var icess = $(this).text();
                  if (taxamt == 0) icess = 0;
                  if (icess == "" || typeof (icess) == "undefined") icess = 0;
                  var tr = $(this).parents('tr:first');
                  var amount = $(tr).find("[id='dAmount']").text();
                  if (typeof (amount) == "undefined" || amount == '') amount = 0;
                  var discount = $(tr).find("[id='ddiscount']").text();
                  if (typeof (discount) == "undefined" || discount == '') discount = 0;
                  if (icess == "" || typeof (icess) == "undefined") icess = 0;
                  cessamt = ((parseFloat(cessamt) + ((parseFloat(icess)) * (parseFloat(amount) - parseFloat(discount)))).toFixed(2));
              })
              $("#totqty").text(totqty);
              $("#subtot").text(subtot);
              $("#tottax").text(taxamt);
              $("#tdstax").text(tdsamt);
              $("#cesstax").text(cessamt);
              $("#cesstax1").text(cessamt);
              $("#totdis").text(disamt);
              $("#totamt").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt) + parseFloat(cessamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
              var totdue = $("#initdue").val();
              var finalamt = $("#totamt").text();
              if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
              if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
              $("#totdue").text(((parseFloat(taxamt) + parseFloat(servicetax) - parseFloat(tdsamt) + parseFloat(cessamt) + parseFloat(cessamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
              $('#grdData tr td input[name="ItemId"]').each(function () {
                  if (rowcount == 0) { rowcount = 1; }
                  else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                  var trq = $i(this).parent().parent();
                  $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                  $i(trq).find("#ItemId").val(rowcount);
              })
              $("#totitems").text(rowcount);
          }
          //function loadjscssfile(filename, filetype) {
          //    var fileref = "undefined";
          //    if (filetype == "js") { //if filename is a external JavaScript file
          //        fileref = document.createElement('script')
          //        fileref.setAttribute("type", "text/javascript")
          //        fileref.setAttribute("src", filename)
          //    }
          //    else if (filetype == "css") { //if filename is an external CSS file
          //        fileref = document.createElement("link")
          //        fileref.setAttribute("rel", "stylesheet")
          //        fileref.setAttribute("type", "text/css")
          //        fileref.setAttribute("href", filename)
          //    }
          //    if (typeof fileref != "undefined")
          //        document.getElementsByTagName("head")[0].appendChild(fileref)
          //}

          function NameCheckExist(ItemName, Upc, FormName) {
              var item = $("#itemName").val();
              var upcval = $("#COLUMN06").val();
              var DupCheck = "";
              if (item != "" && typeof (item) != "undefined" && item != null)
                  DupCheck += " and column04='" + item + "'";
              if (upcval != "" && typeof (upcval) != "undefined" && upcval != null)
                  DupCheck += " and COLUMN06='" + upcval + "'";
              else DupCheck += " and COLUMN06=''";
              DupCheck += " and column04!='' ";
              if (item != "")
                  $.ajax({
                      url: "/ItemMaster/NameCheckExist?FormName=" + FormName + "",
                      type: "POST", async: false,
                      contentType: "application/json",
                      data: JSON.stringify({ ItemName: item, Upc: upcval, DupCheck: DupCheck }),
                      success: function (data) {
                          if (data.ItemName != 0 && data.ItemName != "") {
                              Alert.render('Item or UPC already existed choose another one'); $("#alertok").focus();
                              $("#alertok").on("click", function () {
                                  $("#dialogbox").dialog("close"); $("#itemName").focus(); $("#itemName").val("");
                                  $("#divLoading").hide(); return false;
                              })
                              $("#divLoading").hide();
                              flag = true; return false;
                          }
                      }
                  });
          }
	  //EMPHCS1853 rajasekhar reddy patakota 27/01/2017 In Service Receipt on item selection default Tax calculations	
          //if ($("#COLUMN05").val() == "ITTY009") {
          //    $("#COLUMN05").val("ITTY009");
          //    $("#COLUMN48").prop("checked", false);
          //    $("#COLUMN48").val(false);
          //    $("#COLUMN52").val("1053");
          //    $("#COLUMN59").val("1078");
          //} else {
          //    //Item Name Check
          //    $("#COLUMN05").val("ITTY001");
          //    $("#COLUMN48").prop("checked", true);
          //    //EMPHCS1503 rajasekhar reddy patakota 10/01/2015 Point Of Sales Creation In Retail application
          //    $("#COLUMN48").val(true);
          //    $("#COLUMN52").val("1052");
          //    $("#COLUMN59").val("1056");
          //}
          //$("#COLUMN56").prop("checked", true);
          //$("#COLUMN56").val(true);
          //$("#COLUMN49").prop("checked", true);
          //$("#COLUMN49").val(true);
          @*var sessionOPID = '@Session["OPUnit1"]';
          if (sessionOPID != "" && sessionOPID != null) {
              $('#COLUMN37').val(sessionOPID);
          }
          $("#tabs1").tabs();
          FormLoadActions();*@
          if ('@Request["ItemType"]' == "ServiceItem")
              $("#COLUMN05").val("ITTY009");
          else
              $("#COLUMN05").val("ITTY001");
          $('#COLUMN61').val(1000);
          $('#COLUMN54').val(1000);
          var height = $('.bodyFBContent').height();
          $('.bodyFBContent').height(height + 40);
          $('.window-shadow').css("top", 30);
          //Form Reset
          $('#form-reset').live('click', function () {
              //$(this).formReset();
              $i('#iNewMDialog').dialog("close");
              return false;
          });
          $('#formreset').live('click', function () {
              $i('#divLoading').hide();
              $i(".ui-widget-overlay").hide();
              //$('#iNewMDialog').dialog('close');
              //$('#iImageHide').dialog('close');
              $(".window-shadow").css('display', 'none');
              $(".panel").css('display', 'none');
              $(".window-mask").css('display', 'none');
              $i('#iImageHide').attr('pattern', 'N');
              //DynamicPopupcancel();
          });
          //$("#COLUMN05").change("change", function () {
          //    if ($(this).val() == "ITTY009") {
          //        $("#COLUMN48").prop("checked", false);
          //        //EMPHCS1503 rajasekhar reddy patakota 10/01/2015 Point Of Sales Creation In Retail application
          //        $("#COLUMN48").val(false);
          //        $("#COLUMN52").val("1053");
          //        $("#COLUMN59").val("1078");
          //        $("#COLUMN56").prop("checked", true);
          //        $("#COLUMN56").val(true);
          //        $("#COLUMN49").prop("checked", true);
          //        $("#COLUMN49").val(true);
          //    }
          //    else if ($(this).val() == "ITTY001") {
          //        $("#COLUMN48").prop("checked", true);
          //        //EMPHCS1503 rajasekhar reddy patakota 10/01/2015 Point Of Sales Creation In Retail application
          //        $("#COLUMN48").val(true);
          //        $("#COLUMN52").val("1052");
          //        $("#COLUMN59").val("1056");
          //        $("#COLUMN56").prop("checked", true);
          //        $("#COLUMN56").val(true);
          //        $("#COLUMN49").prop("checked", true);
          //        $("#COLUMN49").val(true);
          //    }
          //});
          //StaticItemPriceDetails("Insert", '');
          //$("#itempnewrow").live("click", function () {
          //    itempricegrid("grdpData", "POperatingUnit")
          //})
          //$("#itemsnewrow").live("click", function () {
          //    itempricegrid("grdsData", "SOperatingUnit")
          //})
          //$("#itempcancelrow").live("click", function () {
          //    var tbl = $('#grdpData')[0];
          //    if (tbl.rows.length > 2)
          //        $('#grdpData > tbody:last tr:last').remove();
          //})
          //$("#itemscancelrow").live("click", function () {
          //    var tbl = $('#grdsData')[0];
          //    if (tbl.rows.length > 2)
          //        $('#grdsData > tbody:last tr:last').remove();
          //})
          //$("#View").live("click", function () {
          //    var tr = $(this).closest("tr");
          //    StaticPriceDisplayGrid(tr);
          //})
          //New Row click event
          //$('#itemgrid').keydown(keypressHandler);
          //function keypressHandler(e) {
          //    if (e.which == 13) {
          //        e.preventDefault(); //stops default action: submitting form
          //        $(this).blur();
          //        $('#newrow').focus().click();//give your submit an ID
          //    }
          //}
          //$('#newrow').live("click", function () {
          //    var tbl = $("#grdData")[0];
          //    var tr = tbl.rows[tbl.rows.length - 1];
          //    if ($(tr).find('#FITABLE013COLUMN03').val() == "") {
          //        Alert.render('Please Select Item'); $("#alertok").focus();
          //        $("#alertok").on("click", function () {
          //            $("#dialogbox").dialog("close"); $("[id*=FITABLE013COLUMN03]").focus();
          //        })
          //        return false;
          //    } else Newrowadd();
          //});
          //function Newrowadd() {
          //    var tbl = $('#grdData')[0];
          //    var irow = tbl.rows.length - 1
          //    var tr = tbl.rows[irow];
          //    $('#grdData').append(tr.outerHTML);
          //    var tr1 = tbl.rows[irow + 1];
          //    $(tr1).find('#FITABLE013COLUMN03').val("");
          //    $(tr1).find('#FITABLE013COLUMN04').val("");
          //};
          //$('#cancelrow').live("click", function () {
          //    var tbl = $("#grdData")[0];
          //    if (tbl.rows.length > 2) {
          //        $('#grdData > tbody:last tr:last').remove();
          //        Alert.render('one row deleted......'); $("#alertok").focus();
          //    }
          //    else {
          //        Alert.render('Cancel Row permited, when more than one row exists in Grid......'); $("#alertok").focus();
          //        return false;
          //    }
          //});
          //Form Save
          $("#btnSubmit").live("click", function () {
              if ($('#fileToUpload').val() == "") {
                  $("#spanfile").html("Please upload file");
                  return false;
              }
              else {
                  return checkfile();
              }
          });
          //File Change
          $("#fileToUpload").change(function () {
              checkfile();
          });
      });
    </script>
</head>


<body>
    @using (Html.BeginForm("Create", "ItemMaster", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
       
        
    <div class="bodyFBContent1">
          <div class="mainRowCon1 bottomRowContentFB" style="width:100%">
                <div style="text-align:center">   
                     <input type="button" name="Save" value="Save" id="btnSaveI" class="buttonclass"/>     
        
                        
          <input id="form-reset" class='buttonclass' type="reset" value="Cancel"  />
           </div>
        </div>
        <div style="padding:15px">   
            <table style="border:1px solid">  <tr><td>   
                   <div class="mainRowCon1">
             <div class="lbl1"> Type </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN05", new SelectList((SelectList)ViewData["type"], "Value", "Text"), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> 
             </div>
           
                <div class="mainRowCon1">
             <div class="lbl1"> Item Name</div>
                  
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN04, new { @class = "txtclass",id="itemName" })
                         @Html.ValidationMessageFor(model => model.COLUMN04)
                   <div style="color:red ; float:left ;text-align: right;">*</div>
                </div> </div> 

                   <div class="mainRowCon1">
             <div class="lbl1"> HSN/SAC Code </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN75", new SelectList((SelectList)ViewData["HSN"], "Value", "Text"), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> 
             </div>

                <div class="mainRowCon1">
             <div class="lbl1"> Units</div>
                  
             <div class="txt">
                         @Html.DropDownList("COLUMN63", new SelectList(ViewBag.UOM, "COLUMN02", "COLUMN04", 0), "---Select---", new { @class = "ddl1",id="Units"})
                         @Html.ValidationMessageFor(model => model.COLUMN04)
                   <div style="color:red ; float:left ;text-align: right;">*</div>  
                </div> </div>
            
                  <div class="mainRowCon1">
                <div class="lbl1"> UPC# </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN06, new { @class = "txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN06)
                </div> </div>
            
                <div class="mainRowCon1">
             <div class="lbl1"> Item Description</div>
                  
             <div class="txt">
                         @Html.TextAreaFor(model => model.COLUMN50, new { @class = "txtgridclass  gridtxtarealength",id="itemDesc"   })
                         @Html.ValidationMessageFor(model => model.COLUMN50)
                </div> </div>
            
            <div class="mainRowCon1">
             <div class="lbl1"> Vendor Name</div>
             <div class="txt">
                           @Html.DropDownList("COLUMN08", new SelectList(ViewBag.Vendor, "COLUMN02", "COLUMN05", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN08)
                </div> 
             </div>
                 
            <div class="mainRowCon1">
             <div class="lbl1"> Vendor Part#</div>
             <div class="txt">
                       @Html.TextBoxFor(model => model.COLUMN09, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN09)
                </div> 
             </div>
          </td></tr></table>
               <table style=" border:1px solid;border-top:0px;">  <tr><td> 
                <div class="mainRowCon1">
            <div class="lbl1"> Purchase Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN61", new SelectList((SelectList)ViewData["PurchTax"], "Value", "Text", 0), "---Select---", new { @class = "ddl1" })
                            @Html.ValidationMessageFor(model => model.COLUMN61)
                       </div></div>
                <div class="mainRowCon1">
            <div class="lbl1">Purchase Price </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.PCOLUMN04, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.PCOLUMN04)
                </div>  </div>
                <div class="mainRowCon1">
            <div class="lbl1">Purchase MRP </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.PCOLUMN05, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.PCOLUMN05)
                </div>  </div>
                </td></tr></table>
               <table style=" border:1px solid;border-top:0px; ">  <tr><td> 
            
            <div class="mainRowCon1">
            <div class="lbl1"> Sales Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN54", new SelectList((SelectList)ViewData["Tax"], "Value", "Text", 0), "---Select---", new { @class = "ddl1" })
                            @Html.ValidationMessageFor(model => model.COLUMN54)
                       </div></div>                    
                <div class="mainRowCon1">
            <div class="lbl1">Sales Price </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.SCOLUMN04, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.SCOLUMN04)
                </div>  </div>
                <div class="mainRowCon1">
            <div class="lbl1">Sales MRP </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.SCOLUMN05, new { @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.SCOLUMN05)
                </div>  </div>

            </td></tr></table>
               <table style="border:1px solid;   border-top:0px;  width: 100%;">  <tr><td> 
                <div class="mainRowCon1">
             <div class="lbl1">Item Group </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN11", new SelectList((SelectList) ViewData["group"], "Value", "Text", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN11)
                </div> 
             </div>
                
                <div class="mainRowCon1">
             <div class="lbl1">Item Family </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN12", new SelectList((SelectList) ViewData["family"], "Value", "Text", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN12)
                </div> 
             </div>
                  <div class="mainRowCon1">
             <div class="lbl1"> Brand </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN10", new SelectList((SelectList) ViewData["Brand"], "Value", "Text", 0), "---Select---", new { @class = "ddl1"})
                           @Html.ValidationMessageFor(model => model.COLUMN10)
                </div> 
             </div>
                   </td></tr></table>
               <table style="border:1px solid; border-top:0px;   width: 100%;">  <tr><td> 
            
                 <div class="mainRowCon1">
             <div class="lbl1"> Image </div>
             <div class="txt">
                 <input type="file" id="fileToUpload" name="file" class="logotxt" />@Html.ValidationMessageFor(model => model.COLUMN46)
                   @* <input type="button"   class='buttonclass' id="btnSubmit" value="Upload" />
                            <span class="field-validation-error" id="spanfile"></span>*@
                          @Html.ValidationMessageFor(model => model.COLUMN45)
               </div></div>
                   </td></tr></table>

            </div>
        <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>

        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo">
   </div>
      
    }
     </body>
</html>