﻿@model eBizSuiteAppModel.Table.MATABLE007

@{
    ViewBag.Title = "Item";
    if (Session["DDDynamicItems"] == "DDDynamicItems")
    {
        Layout = null;
    }
}

<head>
 <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
  <script>
      //var $ = jQuery.noConflict(true);
      $(document).ready(function () {
          //$("#COLUMN18").change("change", function () {
          //    OUddlSelectedCountry($(this).val(), '1');
          //});
          //$("#COLUMN26").change("change", function () {
          //    OUddlSelectedCountry($(this).val(), '2');
          //});
          $("#tabs1").tabs();
          if ('@Session["DDDynamicItems"]' == 'DDDynamicItems') {
              { Layout = null; }
          }
          //Form Reset
          $('#form-reset').live('click', function () {
              $(this).formReset();
              return false;
          });
          StaticEditItemPriceDetails("Edit", '@Request["ide"]');
          //$("#itempnewrow").live("click", function () {
          //    itempricegrid("grdpData", "POperatingUnit")
          //})
          //$("#itemsnewrow").live("click", function () {
          //    itempricegrid("grdsData", "SOperatingUnit")
          //})
          //$("#itempcancelrow").live("click", function () {
          //    var tbl = $('#grdpData')[0];
          //    if (tbl.rows.length > 2)
          //        $i('#grdpData > tbody:last tr:last').remove();
          //})
          //$("#itemscancelrow").live("click", function () {
          //    var tbl = $('#grdsData')[0];
          //    if (tbl.rows.length > 2)
          //        $i('#grdsData > tbody:last tr:last').remove();
          //})
          $("#View").live("click", function () {
              var tr = $(this).closest("tr");
              PriceDisplayGrid(tr);
          })
      })
      //Form Save
      $("#btnSubmit").live("click", function () {
          if ($('#fileToUpload').val() == "") {
              $("#spanfile").html("Please upload file");
              return false;
          }
          else {
              return checkfile();
          }
      });
      //File Change
      $("#fileToUpload").change(function () {
          checkfile();
      });

    </script>

</head>


<body>
    @using (Html.BeginForm("View", "ItemMaster", FormMethod.Post, new { id = "myid1", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        if (Session["DDDynamicItems"] != "DDDynamicItems")
        {
        <div class="rowCont bottomRowContentFB" id="ddl">
        <div class="bottomColFB1">
     <input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("Index", "ItemMaster", new {idi=@Request["idi"],FormName=@Request["FormName"]}) + "'")    ;" />
           </div>  
        <div class="bottomColFB1">
     <input type="button" class="buttonclass" id="btnEdit"  value="Edit"  onclick="@("window.location.href='" + @Url.Action("Edit", "ItemMaster", new {idi=@Request["idi"],FormName=@Request["FormName"],ide=@Request["ide"]}) + "'")    ;" />
           </div>  
           
        </div>}
              
    <div class="bodyFBContent">
        <div id="staticheadersection">
             <div id="Primary" class="bodyFBCon"> Primary </div>
            <div class="mainRow">
            <div class="mainRowCon">
            <div class="lbl"> Item# </div>
            <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN41, new { @readonly = "readonly", @class = "txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN41)
                </div> </div>  <div class="mainRowCon">
             <div class="lbl"> Item Name </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN04, new { @readonly = "readonly", @class = "txtclass"})
                         @Html.ValidationMessageFor(model => model.COLUMN04)
                </div> </div><div class="mainRowCon">
             <div class="lbl"> Type </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN05", new SelectList((SelectList)ViewData["type"], "Value", "Text", ViewBag.dval5), "---Select---", new { @class = "ddl"})
                           @Html.ValidationMessageFor(model => model.COLUMN05)
                </div> 
             </div></div>
             <div class="mainRow">
                  <div class="mainRowCon">
                <div class="lbl"> UPC# </div>
             <div class="txt">
                         @Html.TextBoxFor(model => model.COLUMN06, new {  @readonly = "readonly",@class = "txtclass" })
                         @Html.ValidationMessageFor(model => model.COLUMN06)
                </div> </div>
            <div class="mainRowCon">
             <div class="lbl"> Vendor </div>
             <div class="txt">
                 <div class="editor-field">
                           @Html.DropDownList("COLUMN08", new SelectList(ViewBag.Vendor, "Value", "Text",ViewBag.dval14), "---Select---", new { @class = "ddl"})
                           @Html.ValidationMessageFor(model => model.COLUMN08)
                </div> </div>
             </div>
                 <div class="mainRowCon">
             <div class="lbl"> Image </div>
             <div class="txt">

                  <input type="file" accept="image/*" name="file" id="fileToUpload"  class="logotxt" style="width: 100%;" />
                            <img src="~/Content/Upload/@Model.COLUMN46" alt="@Model.COLUMN46" style="width:40px"/>

                 @*<input type="file" id="fileToUpload" name="file" class="logotxt" />@Html.ValidationMessageFor(model => model.COLUMN46)*@
                 
                          @Html.ValidationMessageFor(model => model.COLUMN45)
               </div></div>
                 </div>
            <div class="mainRow">
                 <div class="mainRowCon">
             <div class="lbl"> Brand </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN10", new SelectList((SelectList) ViewData["Brand"], "Value", "Text",ViewBag.dval8), "---Select---", new { @class = "ddl"})
                           @Html.ValidationMessageFor(model => model.COLUMN10)
                </div> 
             </div><div class="mainRowCon">
             <div class="lbl"> Family </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN12", new SelectList((SelectList) ViewData["family"], "Value", "Text",ViewBag.dval7), "---Select---", new { @class = "ddl"})
                           @Html.ValidationMessageFor(model => model.COLUMN12)
                </div> 
             </div>
                <div class="mainRowCon">
             <div class="lbl"> Group </div>
             <div class="txt">
                           @Html.DropDownList("COLUMN11", new SelectList((SelectList) ViewData["group"], "Value", "Text", ViewBag.dval6), "---Select---", new { @class = "ddl"})
                           @Html.ValidationMessageFor(model => model.COLUMN11)
                </div> 
             </div>
              </div>
              <div class="mainRow">
                  <div class="mainRowCon">
              <div class="lbl"> UOM </div>
              <div class="txt">
                           @Html.DropDownListFor(model => model.COLUMN63, new SelectList(ViewBag.UOM, "Value", "Text",ViewBag.dval11), "--select--", new { @class = "ddl" })
                        @Html.ValidationMessageFor(model => model.COLUMN63)
                </div></div>
                  @*<div class="mainRowCon">
              <div class="lbl"> Transaction </div>
              <div class="txt">
                           @Html.DropDownListFor(model => model.COLUMN07, new SelectList(ViewBag.Transactions, "Column02", "Column04"), "--select--", new { @class = "ddl"})
                        @Html.ValidationMessageFor(model => model.COLUMN07)
                </div></div>*@
              </div>
            @*EMPHCS1080 by gnaneshwar on 3/09/2015 Adding VAT NO,CST NO,Service Tax NO,PAN NO columns in operating unit*@
            <div id="Secondary" class="bodyFBCon"> Secondary </div>
                <div class="mainRow">
                   <div class="mainRowCon">
             <div class="lbl"> InActive </div>
             <div class="txt">
                  <input type="checkbox" id="COLUMN47" class="ChkClass" checked="@ViewBag.chk2"/>
                          @*@Html.CheckBoxFor(model => model.COLUMN47.HasValue)
                          @Html.ValidationMessageFor(model => model.COLUMN47)*@
               </div></div>
                    <div class="mainRowCon">
             <div class="lbl"> Allow Multi Units Selection </div>
             <div class="txt">
                  <input type="checkbox" id="COLUMN65" class="ChkClass" checked="@ViewBag.chk3"/>
                          @*@Html.CheckBoxFor(model => model.COLUMN65.HasValue)
                          @Html.ValidationMessageFor(model => model.COLUMN65)*@
               </div></div>
                    <div class="mainRowCon">
             <div class="lbl"> Track Quantity on hand </div>
             <div class="txt">
                  <input type="checkbox" id="COLUMN48" class="ChkClass" checked="@ViewBag.chk4"/>
                          @*@Html.CheckBoxFor(model => model.COLUMN48.HasValue)
                          @Html.ValidationMessageFor(model => model.COLUMN48)*@
               </div></div>
                </div>
                <div class="mainRow">
                    <div class="mainRowCon">
              <div class="lbl"> Department </div>
              <div class="txt">
                           @Html.DropDownListFor(model => model.COLUMN40, new SelectList(ViewBag.Department, "Value", "Text",ViewBag.dval12), "--select--", new { @class = "ddl"})
                        @Html.ValidationMessageFor(model => model.COLUMN40)
                </div></div>
                    
                   <div class="mainRowCon">
              <div class="lbl"> Operating Unit </div>
              <div class="txt">
                           @Html.DropDownListFor(model => model.COLUMN37, new SelectList(ViewBag.OPUnit, "Value", "Text",ViewBag.dval13), "--select--", new { @class = "ddl" })
                        @Html.ValidationMessageFor(model => model.COLUMN37)
                </div></div>

                </div>
              </div>
        <div id="statictabsection">
        <div id="tabs1" class="fbTabCon">
            <ul  >
               <li ><a href="#Pricing">Pricing</a></li>
                <li ><a href="#Purchase">Purchase</a></li>
                <li ><a href="#Sales">Sales</a></li>
                <li ><a href="#Manufacture">Manufacture</a></li>
                <li ><a href="#Tracking">Tracking</a></li>
            </ul> 
              <div id="Pricing"  class="fbBodyFoter" style="width: 100%;">
                 <div class="fbBodyFoter"> 
                     <div class="mainRow bottomdivRow">   
              @{
        var grid = new WebGrid(ViewBag.itemsdata, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
        //grid.Bind(ViewBag.itemslist, autoSortAndPage: false);
                
                 <div id="itemgrid" class="itemGridFB">
                  @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns:
          grid.Columns
            (
                grid.Column("", format: item => @Html.CheckBox("checkrow", new { @id = "checkRow", @class = "chkclass", @checked = "checked" })),
                grid.Column("Price Type", format: item => @Html.DropDownList("COLUMN03", new SelectList(@ViewBag.Pricetype, "Value", "Text", @item.COLUMN03), "--Select--", new { @class = "gridddl" })),
                grid.Column("Price", format: @<text><input id="COLUMN04" type="text" value="@item.COLUMN04" class="txtgridclass" /></text>)
                ))

                     <div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                     </div>
                  }
                   </div>
                     </div>
                 </div>
             <div id="Purchase" >
                 <div class="fbBodyFoter" id="PurchasePricegrid">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> I Purchase this Product/Service from a Supplier </div>
             <div class="txt">
                  <input type="checkbox" id="COLUMN56" class="ChkClass" checked="@ViewBag.chk1"/>
                         @* @Html.CheckBoxFor(model => model.COLUMN56.HasValue)
                          @Html.ValidationMessageFor(model => model.COLUMN56)*@
               </div></div><div class="mainRowCon">
            <div class="lbl"> Discription on Purchase forms </div>
            <div class="txt">
                            @Html.TextAreaFor(model => model.COLUMN57, new { @readonly = "readonly", @class = "txtareaclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN57)
                </div></div><div class="mainRowCon">
            <div class="lbl"> Expense Account </div>
             <div class="txt">  
                            @Html.DropDownList("COLUMN59", new SelectList((SelectList)ViewData["ExpAcc"], "Value", "Text", ViewBag.dval4), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN59)
                       </div></div>
                </div>
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> Purchase Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN61", new SelectList((SelectList)ViewData["PurchTax"], "Value", "Text", ViewBag.dval1), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN61)
                       </div></div>
                @*<div class="mainRowCon">
            <div class="lbl"> Cost </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN17, new { @readonly = "readonly", @class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN17)
                </div>  </div>*@
            </div>

                     </div>
                    </div>
           <div id="Sales" >
                                       
            <div class="fbBodyFoter" id="SalesPricegrid">
            <div class="mainRow"><div class="mainRowCon">
            <div class="lbl"> I sell this Product/Service to my Customers </div>
             <div class="txt">
                 <input type="checkbox" id="COLUMN49" class="ChkClass" checked="@ViewBag.chk5 "/>
                          @*@Html.CheckBoxFor(model => model.COLUMN49.HasValue)
                          @Html.ValidationMessageFor(model => model.COLUMN49)*@
               </div></div><div class="mainRowCon">
            <div class="lbl"> Discription on Sales forms </div>
            <div class="txt">
                            @Html.TextAreaFor(model => model.COLUMN50, new {  @readonly = "readonly",@class = "txtareaclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN50)
                </div></div>
                @* <div class="mainRowCon">
            <div class="lbl"> Price/Rate </div>
            <div class="txt"> 
                            @Html.TextBoxFor(model => model.COLUMN51, new {  @readonly = "readonly",@class = "txtclass" })
                            @Html.ValidationMessageFor(model => model.COLUMN51)
                </div>  </div>*@
                <div class="mainRowCon">
            <div class="lbl"> Income Account </div>
             <div class="txt">  
                            @Html.DropDownList("COLUMN52", new SelectList((SelectList)ViewData["incomeAcc"], "Value", "Text", ViewBag.dval3), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN52)
                       </div></div>
                 </div>
                <div class="mainRow">
               
            <div class="mainRowCon">
            <div class="lbl">  Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN54", new SelectList((SelectList)ViewData["Tax"], "Value", "Text", ViewBag.dval2), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN54)
                       </div></div>
               
            </div>

                     </div></div>
             <div id="Manufacture" style="width: 100%;" >
                                       
            <div class="fbBodyFoter">
            <div class="mainRow"><div class="mainRowCon">
            @*<div class="lbl" style="width:70px;"> Jobber Tax </div>*@
               <div class="lbl">  Jobber Tax </div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN64", new SelectList((SelectList)ViewData["PurchTax"],"Value","Text", ViewBag.dvalm), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN64)
                       </div></div>
                <div class="mainRowCon">
            <div class="lbl">Raw Material</div>
            <div class="txt">  
                            @Html.DropDownList("COLUMN67", new SelectList((SelectList)ViewData["RawMaterial"],"Value","Text", ViewBag.dvalraw), "---Select---", new { @class = "ddl" })
                            @Html.ValidationMessageFor(model => model.COLUMN67)
                       </div></div>
                </div>
                </div>
                 </div>
             <div id="Tracking" style="width: 100%;" >
                                       
            <div class="fbBodyFoter">
            <div class="mainRow" ><div class="mainRowCon" >
            <div class="lbl"> Lot(Batch) </div>
             <div class="txt" style="width:100px;">
                 <input type="checkbox" id="COLUMN66" class="ChkClass" name="Lot(Batch)" checked="@ViewBag.chk6"/>
                          @*@Html.CheckBoxFor(model => model.COLUMN66)
                          @Html.ValidationMessageFor(model => model.COLUMN66)*@
               </div></div>
                </div>
                </div>
                 </div>
            </div>
        </div>
        </div>
        <div   class="newbottomRowContentFooter" id="footerInfo">
   </div>
          <script>


              $(function Save() {
                  debugger
                  $('#btnSave').click(function () {
                      debugger
                      var a = '@Request["ide"]';
                      var data1 = $("#myid1").serialize();

                      var tbl = $("#grdData")[0];
                      var xmldata = "<ROOT>";
                      for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                          var tr = tbl.rows[irow];
                          var Check = tr.cells[0].children[0].value;
                          var Pricingtype = tr.cells[1].children[0].value;
                          var Price = tr.cells[2].children[0].value;
                          if (Check == "true") {
                              xmldata = xmldata + "<Column><COLUMN03>" + Pricingtype + "</COLUMN03>";
                              xmldata = xmldata + "<COLUMN04>" + Price + "</COLUMN04>";
                              xmldata = xmldata + "</Column>";
                          }
                      }
                      xmldata = xmldata + "</ROOT>";
                      var dataparam = { list: xmldata }
                      $.ajax({
                          url: '@Url.Action("line", "ItemMaster")',
                          type: "POST",
                          data: JSON.stringify(dataparam),
                          dataType: "html",
                          cache: true,
                          contentType: "application/json; charset=utf-8",
                          success: function (result) {
                              return true;
                          }

                      })


                  })

              });

    </script>
    }
     </body>
   @* <script>


        $(function Save() {debugger
            $('#btnSave').click(function () {
                debugger
                var data1 = $("#myid1").serialize();

                var tbl = $("#grdData")[0];
                var xmldata = "<ROOT>";
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var Check = tr.cells[0].children[0].value;
                    var Pricingtype = tr.cells[1].children[0].value;
                    var Price = tr.cells[2].children[0].value;
                    if (Check == "true") {
                        xmldata = xmldata + "<Column><COLUMN03>" + Pricingtype + "</COLUMN03>";
                        xmldata = xmldata + "<COLUMN04>" + Price + "</COLUMN04>";
                        xmldata = xmldata + "</Column>";
                    }
                }
                xmldata = xmldata + "</ROOT>";
                var dataparam = { list: xmldata }
                $.ajax({
                    url: '@Url.Action("line", "ItemMaster")',
                    type: "POST",
                    data: JSON.stringify(dataparam),
                    dataType: "html",
                    cache: true,
                    contentType: "application/json; charset=utf-8",
                      success: function (result) {
                          document.forms[0].submit();
                     }
                  })


              })

          });

    </script>*@



@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
