﻿@model IEnumerable<eBizSuiteAppModel.Table.MATABLE007>

@{
    ViewBag.Title = "Item Master";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE>

<html>
<head>
    <title></title>   
     <script src="~/Content/formbuildjquery.js"></script>
    <div id="dialogcreate"></div>
    <script type="text/jscript">
        $(document).ready(function () {
            //Grid Sorting
            $('#grdfData').DataTable();
            //Inline ON
            $('.button-hide').click("click", function () {
                OUInlineON($('.ddlStyle :selected').val());
            });
            //Inline OFF
            $('.button-show').click("click", function () {
                OUInlineOFF($('.ddlStyle :selected').val());
            });
            //Inline Update
            $('#grdData').change("change", function () {
                OUInlineUpdate(@Html.Raw(Json.Encode(ViewBag.columns)));
            });
            //Search Dialog
            $("#btnSearch").click("click", function () {
                $('#dialogcreate').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 500,
                    height: 300, resizable: false,
                    title: "Search",
                    closeOnEscape: true
                })
                $('#dialogcreate').dialog('open');
                $('#dialogcreate').load("/OperatingUnit/Search");
                $('#dialogcreate').show();
                return false;
            });
            //Dynamic View
            $(".ddlView").change("change", function () {
                var dat = { items: $(this).val(), sort: $('.ddlQuickSort :selected').val(), style: $('.ddlStyle :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                OUView($('.ddlStyle :selected').val(), dat);
            });
            //Dynamic QuickSort
            $(".ddlQuickSort").change("change", function () {
                var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                OUQuickSort($('.ddlStyle :selected').val(), dat);
            });
            //Dynamic Style
            $(".ddlStyle").change("change", function () {
                var dat = { items: $('.ddlView :selected').val(), style: $('.ddlStyle :selected').val(), sort: $('.ddlQuickSort :selected').val(), inactive: $('.chkShowInactives:checked').val() };
                OUStyle($(this).val(), dat);
            });
            //Dynamic Style
            $("#bddlView").change("change", function () {
                var dat = { items: $(this).val(), sort: $('#bddlQuickSort :selected').val(), style: $('#bddlStyle :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                OUView($('#bddlStyle :selected').val(), dat);
            });
            //Dynamic QuickSort
            $("#bddlQuickSort").change("change", function () {
                var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                OUQuickSort($('#bddlStyle :selected').val(), dat);
            });
            //Dynamic Style
            $("#bddlStyle").change("change", function () {
                var dat = { items: $('#bddlView :selected').val(), style: $('#bddlStyle :selected').val(), sort: $('#bddlQuickSort :selected').val(), inactive: $('#bchkShowInactives:checked').val() };
                OUStyle($(this).val(), dat);
            });
            //Toggle Filter
            $("#btnFilters").click(function () {
                $("#divfilter").toggle();
            });
            //Print View
            $("#btnPrint").click(function PrintData() {
                OUPrintView();
            });
            //Print View
            $("#btnPrint1").click(function PrintData() {
                OUPrintView();
            });
        });
    </script>
</head>

<body >
 <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
            <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("index", "ItemMaster", new {idi=@Request["idi"],FormName=@Request["FormName"]}) + "'")    ;" /></div>
            <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Create", "ItemMaster", new {idi=@Request["idi"],FormName=@Request["FormName"]}) + "'")    ;" /></div>

                  <div id="divfilter1" class="btnContleft"><button type="button" class="buttonclass" id="btnFilters" value="Filters">
                        Filters
                       <img src="~/Images/filter.jpg" width="10px" border="0" />
                    </button></div>
                 <div class="btnContRight"><input type="button" class="buttonclass" id="btnPrint" value="Print" /></div>
            <div class="btnContRight"><input type="button" class="buttonclass" id="btnCustomizeView"  value="Customize View" onclick="@("window.location.href='" + @Url.Action("CustomView", "ItemMaster") + "'")    ;" /></div>
            <div class="btnContRight dropdown">

                    <!-- trigger button -->
                    <button class="buttonclass">Export</button>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#home">@Html.ActionLink("PDF", "ExportPdf", "OperatingUnit")</a></li>
                        <li><a href="#about">@Html.ActionLink("Excel", "ExportExcel", "OperatingUnit")</a></li>
                        <li><a href="#contact">@Html.ActionLink("Word ", "ExportWord", "OperatingUnit")</a></li>
                        <li><a href="#contact">@Html.ActionLink("CSV ", "ExportCSV", "OperatingUnit")</a></li>
                    </ul>
                </div>
            </div>
          
    </div>
    <div class="hideFilter" id="divfilter">
        
               <div class="labelTxtFirstCol">
                    @Html.Label("Style  ")</div>
        <div class="bottomInputField"> @Html.DropDownList("Style", new SelectList(new[] { "Normal", "Grid", "Report" }, selectedValue: "Grid"), new { @class = "ddlStyle" })

</div>
        <div class="labelTxtFirstCol">

                   @* @Html.Label("View  ")</div><div class="bottomInputField">@Html.DropDownList("View", new SelectList(ViewBag.views, selectedValue: "Default"), htmlAttributes: new { @class = "ddlView" })

    </div>*@
        <div class="labelTxtFirstCol">

                    @Html.Label("QuickSort  ")</div><div class="bottomInputField">@Html.DropDownList("QuickSort", new SelectList(new[] { "Recently Created", "Recently Modified" }, selectedValue: ViewBag.sortselected), optionLabel: "--Select--", htmlAttributes: new { @class = "ddlQuickSort" })

                </div>
            
    </div> </div>
    <div id="dynamic"  class="overflow" >
        @{ 
            List<WebGridColumn> columns = new List<WebGridColumn>();
            foreach (var column in ViewBag.columns)
            {
                if (column.ColumnName == "ID")
             {var fname="Return Receipt";
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = "",
                     Header = "",
                     Format =@<text>
                     @Html.ActionLink("Edit", "Edit", new { idi = Request["idi"], FormName =@Request["FormName"] , ide = item.ID })
                     @Html.ActionLink("View", "Detailes", new { idi = Request["idi"], FormName = @Request["FormName"], ide = item.ID })
                     
                     </text>
                 });
             }
             else{   
             columns.Add(new WebGridColumn()
                {
                    ColumnName = column.ColumnName,
                    Header = column.Header
                });
                }
            }
            }
        @{
        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            }
              <div id="Content" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:
                              (columns)

               )
        </div>
    </div>
           </div>
         <div class="rowCont newbottomRowContentFooter" id="footerInfo">
            
                  
                </div>
    </body>

</html>


