﻿@{ 
        ViewBag.Title = Session["FormName"]; 
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <script src="~/Content/formbuildjquery.js"></script> 
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <title>Create</title>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () { 
            //Date Picker
            dateupdate();
            //form load actions
            EnableDisable('@Session["id"]');
            //Dynamic Form Filling
            Dynamicforms('@Request["FormName"]', '@Request["ide"]', '@Request["Ref"]', '@Session["id"]');
        });
        </script>
</head>
<body><form method="post" id="formsave">
    <div id="ddl" class="rowCont bottomRowContentFB"><div class="bottomColFB1"><input type="submit" value="Save"  class="buttonclass btn_sample"  id="btnSave"/></div></div>
    <div id="FormData" class="bodyFBContent">
        @*EMPHCS1200 rajasekhar reddy patakota 22/09/2015 Auto Feild Configuration Setup For Project and UOM at Account owner level*@
        <div style="padding:14px"> 
      <div class="mainRowCon">  <label>Project</label>
        @*@Html.CheckBox("Project")*@
	@*EMPHCS1200 rajasekhar reddy patakota 22/09/2015 Auto Feild Configuration Setup For Project and UOM at Account owner level*@
          @if (ViewBag.projectval == true) {<input type="checkbox" name="Project" id="Project" checked="checked" /> }
       else{<input type="checkbox" name="Project" id="Project"  />}
      </div>
      <div class="mainRowCon">  <label>UOM</label>
        @*@Html.CheckBox("Project")*@
	@*EMPHCS1200 rajasekhar reddy patakota 22/09/2015 Auto Feild Configuration Setup For Project and UOM at Account owner level*@
        @if (ViewBag.uomval == true) {<input type="checkbox" name="UOM" id="UOM"  checked="checked"  /> }
       else{<input type="checkbox" name="UOM" id="UOM"  /> }
      @*EMPHCS1206 rajasekhar reddy patakota 24/09/2015 Operating Unit Location Trcking For Invoice and Bill*@
</div>
        <div class="mainRowCon">  <label>WareHouse Location Required</label>
        @if (ViewBag.locationval == true) {<input type="checkbox" name="Location" id="Location"  checked="checked"  /> }
       else{<input type="checkbox" name="Location" id="Location"  /> }
      @*EMPHCS1213 rajasekhar reddy patakota 26/09/2015 Weight convertion for bill and invoice*@
	</div>
            <div style="padding-top: 40px;"><div class="mainRowCon">  <label>Weight Conversion</label>
        @if (ViewBag.weightval == true) {<input type="checkbox" name="Weight" id="Weight"  checked="checked"  /> }
       else{<input type="checkbox" name="Weight" id="Weight"  /> }
       @*EMPHCS1293 rajasekhar reddy patakota 10/10/2015 Mode Of Discount Adding in Invoice Screen*@
      </div>
      <div class="mainRowCon">  <label>Discount</label>
        @if (ViewBag.discountval == true) {<input type="checkbox" name="Discount" id="Discount"  checked="checked"  /> }
       else{<input type="checkbox" name="Discount" id="Discount"  /> }
      </div>
      @*EMPHCS1330 Rajasekhar reddy patakota 10/11/2015 Auto Feild Configuration Setup For Lot Management*@
      <div class="mainRowCon">  <label>Lot(Batch) Tracking</label>
        @if (ViewBag.lotval == true) {<input type="checkbox" name="Lot" id="Lot"  checked="checked"  /> }
       else{<input type="checkbox" name="Lot" id="Lot"  /> }
      </div>
            </div></div></div>
      </form>
</body>
</html>
