﻿@{
    ViewBag.Title = "Sales Receipt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
    @*//EMPHCS1814 rajasekhar reddy patakota 12/09/2016 Retail Changes for Sales Receipt screens*@
<meta http-equiv='cache-control' content='no-cache' />
<meta http-equiv='expires' content='0' />
<meta http-equiv='pragma' content='no-cache' />
     <script src="~/Scripts/jquery-1.7.1.js?n=1"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js?n=1"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js?n=1"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js?n=1"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Priceleveldlg"  style="font-size:11.5px;"></div>
   <div id="Lotdlg"  style="font-size:11.5px;"></div>
   <div id="Locationdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="onflyDialog" style="font-size:11.5px;display:none"></div>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/jQuery/jquery.scannerdetection.js"></script>
    <script type="text/javascript" language="javascript">
        jQuery(document).ready(function ($) {
            $(window).scannerDetection();
            $(window).bind('scannerDetectionComplete', function (e, data) {
                item = data.string;
                if (item != "success") {
                    var Customer = $("input[name=Customer]").val();
                    $i.ajax({
                        url: "/PointOfSales/GetItemDetails",
                        type: "POST",
                        data: JSON.stringify({ ItemID: item, CustomerID: Customer }),
                        dataType: "json", cache: true,
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            keypressed = 0;
                            if (result.Data != null && result.Data != "") {
                                keypressed = 1;
                                $i('#grdData').append(result.Data);
                                var tbl = $("#grdData")[0];
                                var ttr = tbl.rows[tbl.rows.length - 1];
                                var batch = "<td></td>";
                                if (result.lot == "True" || result.lot == "Y" || result.lot == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/><input type='image' src='/Images/plus.png' class='pointImageSize' id='lotonfly' style='width:16px;height:17px;margin-left:3px;margin-bottom:-3px;cursor:pointer;' value='' alt=''></td>"; }
                                var location = "<td></td>";
                                if (result.location == "True" || result.location == "Y" || result.location == "1") { location = "<td><input type='button' name='location' id='dlocation' value='location' class='myButton edit-mode'/></td>"; }
                                var htmlstring = "<tr class='aftershow'><td></td><td></td><td >@*<input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/>*@<input type='button' name='Pricelevel' id='LinePricelevel' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td>@*<td ><input type='button' name='Qty+' id='iQty' value='Qty+'  class='myButton edit-mode'/></td>*@" +
                                    "@*<td><input type='button' name='Qty-' id='dQty' value='Qty-' class='myButton edit-mode'/></td>*@" + batch + "" + location + "<td ></td ><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                                $(ttr).find("#itemBatchId").text(result.LotId);
                                $(ttr).find("#lotExpDate").text(result.ExpDate);
                                $(ttr).find("#LocationId").text(result.LocationId);
                                $i(ttr).find("[id='PriceLevelId']").remove();
                                $i(ttr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'PriceLevelId' }).val(result.PriceLevelId));
                                $i('#grdData').append(htmlstring);
                                GetRetailTransCalc(ttr, "Line");
                                $i('.aftershow').hide();
                                $i('.edit-mode').hide();
                                $i('.initshow').show();
                                $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                                $i('#Itemddl').combobox('textbox').focus();
                                $i("input[name=Item]").val('');
                                if (typeof (result.Avail) == "undefined" || result.Avail == "" || result.Avail == null) result.Avail = 0;
                                if ((parseFloat(result.Avail)).toFixed(2) <= 0) {
                                    return false;
                                }
                            }
                        }
                    });
                }
                //alert('complete ' + data.string);
            })
                .bind('scannerDetectionError', function (e, data) {
                    console.log('detection error ' + data.string);
                })
                .bind('scannerDetectionReceive', function (e, data) {
                    console.log(data);
                })
        });
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            if ($i(".headerEmtyCont")) {
                $i(".headerEmtyCont").slideUp(8000);
            }
            //EMPHCS1821 rajasekhar reddy patakota 23/09/2016 Date Feild Adding in Sales Receipt & Customer Onfly Cahanges
            var OPUnit1 = '@Session["OPUnit1"]';
            RetailOperatingCheck(OPUnit1);
            dateupdate('@Session["ReportDate"]');
            var DateFormat = '@Session["DateFormat"]';
            RetailRoundoffsetup();
            $i(document).click(function (e) {
                if (!$i('.initshow').is(e.target) || !$i('.initshow').has(e.target)) {
                    if (!$i('.rowshow').is(e.target) && !$i('.aftershow').is(e.target) && !$i('.edit-mode').is(e.target)) {
                        $i('.aftershow').hide();
                        $i('.edit-mode').hide();
                        $i('.initshow').show();
                    }
                }
            });
            $i("#iImageHide").live("click", function () {
                $i('#iImageHide').attr('pattern', 'N');
                $i('#iNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 650,
                    height: 645, resizable: false,
                    title: "Item",
                    closeOnEscape: false
                })
                $('.window').css("top", 30);
                $('.window-shadow').css("top", 30);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#iNewMDialog').hide();
                    }
                }
                $i('#iNewMDialog').dialog('open');
                $i('#iNewMDialog').show();
                $i('#iNewMDialog').load("/ItemMaster/CreateOnfly");
                $i('#iNewMDialog').on('dialogclose', function (event) {
                    $i('#iNewMDialog').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                $i('#iNewMDialog').css("height", "700px");
                return false;
            });
            $i("#cImageHide").live("click", function () {
                //EMPHCS1814 rajasekhar reddy patakota 12/09/2016 Retail Changes for Sales Receipt screens
                var Customer = $("input[name=Customer]").val();
                $.session.set("Customer", Customer);
                $i('#cImageHide').attr('pattern', 'N');
                $i('#cNewMDialog').dialog({
                    autoOpen: false,
                    modal: true,
                    width: 450,
                    height: 250, resizable: false,
                    title: "Customer",
                    closeOnEscape: false
                })
                $('.window').css("top", 120);
                $('.window-shadow').css("top", 120);
                $i('#tabs1').tabs();
                $i(this).attr('pattern', 'Y');
                $i('.ui-dialog').show();
                $i('.ui-dialog-titlebar').show();
                $i('.ui-widget-overlay').show();
                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[0].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                        $i('.ui-dialog')[1].id = 'pnewDialog';
                        $i('#cNewMDialog').hide();
                    }
                }
                $i('#cNewMDialog').dialog('open');
                $i('.window-shadow').css("top", 120);
                $i('#cNewMDialog').show();
                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                $i('#cNewMDialog').on('dialogclose', function (event) {
                    $i('#cImageHide').attr('pattern', 'N');
                    $i(this).dialog("close");
                    $i(".ui-widget-overlay").hide();
                    DynamicPopupcancel();
                });
                return false;
            });
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            var keypressed = 0;
            //$i(document).on('keydown', function (e) {
            ////EMPHCS1814 rajasekhar reddy patakota 12/09/2016 Retail Changes for Sales Receipt screens
            //    var name = e.target.nextSibling.name;
            //    if ((e.keyCode === 38 ) && keypressed==1 && name!="Customer") { //up or down|| e.keyCode === 40
            //        keypressed = 0;
            //        var tbl = $("#grdData")[0];
            //        var ttr = tbl.rows[tbl.rows.length - 1];
            //        if (tbl.rows.length > 1) {
            //            $(ttr).remove();
            //            ttr = tbl.rows[tbl.rows.length - 1];
            //            $(ttr).remove();
            //            Linecalculations();
            //        }
            //        e.preventDefault();
            //        return false;
            //    }
            //});
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    //value.keyCode;
                    //var val = $("input[name=Item]").val();
                    //if (val != "") {
                    //   if (!(isNaN(val))) ItemChanges(val);
                    //}
                    //$i('#Itemddl').focus();
                    $i('#Itemddl').combobox('textbox').focus();
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');
            //EMPHCS1816 rajasekhar reddy patakota 15/09/2016 Retail Screen changes and operating unit set up to null
            $i('#Attendedbyddl').combobox('textbox').prop('placeholder', 'Enter Attended By');
            $i('#Attendedbyddl').combobox('textbox').prop('readonly', true);
            //$i('#Itemddl').combobox('textbox').focus();
            $i('#UPC').focus();
            $(".textbox-text").keydown(function (e) {
                if (e.keyCode === 9 || e.keyCode === 13 || e.keyCode === 16) {
                    var name = e.target.nextSibling.name;
                    var val = $(this).val();
                    if (val != "" && name != "Customer") {

                        var comboname = $(this).next()[0].name;
                        //val = $("input[name=" + comboname + "]").val();
                        if (comboname == "Item" && val != "")
                            ItemChanges(val, comboname);
                        
                    }
                    else if (val != "" && name == "Customer")
                        CustomerSearch(val);
                    itemClear = 0;
                    //$i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');

                }
            });
            $i('.textbox-text').on("change", function () {
                var val = $(this).val();
                if (val != "") {
                    var comboname = $(this).next()[0].name;
                    val = $("input[name=" + comboname + "]").val();
                    //EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application
                    //if (comboname == "Item")
                    //    ItemChanges(val);
                    //        else if (comboname == "Customer") 
                    //            CustomerSearch(val); 
                }
            });
            $i('#UPC').on("change", function () {
                debugger
                var val = $(this).val();
                ItemChanges(val);
                $i('#UPC').focus();
                $i('#UPC').val('');
            });
            //EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application
            function CustomerSearch(CustomerId) {
                $.session.set("Customer", CustomerId);
                if (CustomerId > 0) {
                    $i.ajax({
                        url: "/PointOfSales/GetCustomerDetails",
                        type: "POST",
                        data: JSON.stringify({ CustomerId: CustomerId }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Data != 0)
                                $i("#Customerddl").combobox('setValue', result.Data);
                            else {
                                $.session.set("CustomerChk", "0");
                                $i('#cImageHide').attr('pattern', 'N');
                                $i('#cNewMDialog').dialog({
                                    autoOpen: false,
                                    modal: true,
                                    width: 450,
                                    height: 250, resizable: false,
                                    title: "Customer",
                                    closeOnEscape: false
                                })
                                $('.window').css("top", 120);
                                $('.window-shadow').css("top", 120);
                                $i('#tabs1').tabs();
                                $i(this).attr('pattern', 'Y');
                                $i('.ui-dialog').show();
                                $i('.ui-dialog-titlebar').show();
                                $i('.ui-widget-overlay').show();
                                if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                                    if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                                        $i('.ui-dialog')[0].id = 'pnewDialog';
                                        $i('#cNewMDialog').hide();
                                    }
                                }
                                if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                                    if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                                        $i('.ui-dialog')[1].id = 'pnewDialog';
                                        $i('#cNewMDialog').hide();
                                    }
                                }
                                $i('#cNewMDialog').dialog('open');
                                $('.window-shadow').css("top", 120);
                                $i('#cNewMDialog').show();
                                $i('#cNewMDialog').load("/Customer/InsertOnfly");
                                $i('#cNewMDialog').on('dialogclose', function (event) {
                                    $i('#cImageHide').attr('pattern', 'N');
                                    $i(this).dialog("close");
                                    $i(".ui-widget-overlay").hide();
                                    DynamicPopupcancel();

                                });
                                return false;
                            }

                            //$i("input[name=Customer]").val(result.Data);
                            //$i('#Customerddl').combobox('textbox').val(result.Data);
                        }

                    })
                }
                else {
                    $.session.set("CustomerChk", "");
                    $i('#cImageHide').attr('pattern', 'N');
                    $i('#cNewMDialog').dialog({
                        autoOpen: false,
                        modal: true,
                        width: 450,
                        height: 250, resizable: false,
                        title: "Customer",
                        closeOnEscape: false
                    })
                    $('.window').css("top", 120);
                    $('.window-shadow').css("top", 120);
                    $i('#tabs1').tabs();
                    $i(this).attr('pattern', 'Y');
                    $i('.ui-dialog').show();
                    $i('.ui-dialog-titlebar').show();
                    $i('.ui-widget-overlay').show();
                    if (typeof ($i('.ui-dialog')[0]) != "undefined") {
                        if ($i('.ui-dialog')[0].lastChild.id == "newDialog") {
                            $i('.ui-dialog')[0].id = 'pnewDialog';
                            $i('#cNewMDialog').hide();
                        }
                    }
                    if (typeof ($i('.ui-dialog')[1]) != "undefined") {
                        if ($i('.ui-dialog')[1].lastChild.id == "newDialog") {
                            $i('.ui-dialog')[1].id = 'pnewDialog';
                            $i('#cNewMDialog').hide();
                        }
                    }
                    $i('#cNewMDialog').dialog('open');
                    $('.window-shadow').css("top", 120);
                    $i('#cNewMDialog').show();
                    $i('#cNewMDialog').load("/Customer/InsertOnfly");
                    $i('#cNewMDialog').on('dialogclose', function (event) {
                        $i('#cImageHide').attr('pattern', 'N');
                        $i(this).dialog("close");
                        $i(".ui-widget-overlay").hide();
                        DynamicPopupcancel();

                    });
                    return false;
                }
            };
            function ItemChanges(item, comboname) {debugger
                var Customer = $("input[name=Customer]").val();
                $i.ajax({
                    url: "/PointOfSales/GetItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item, CustomerID: Customer }),
                    dataType: "json", cache: true,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        keypressed = 0;
                        if (result.Data != null && result.Data != "") {
                            keypressed = 1;
                            $i('#grdData').append(result.Data);
                            var tbl = $("#grdData")[0];
                            //Linecalculations(comboname);
                            var ttr = tbl.rows[tbl.rows.length - 1];
                            //gettaxamount(ttr, comboname);
                            var batch = "<td></td>";
                            if (result.lot == "True" || result.lot == "Y" || result.lot == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/><input type='image' src='/Images/plus.png' class='pointImageSize' id='lotonfly' style='width:16px;height:17px;margin-left:3px;margin-bottom:-3px;cursor:pointer;' value='' alt=''></td>"; }
                            //EMPHCS1861 rajasekhar reddy patakota 20/02/2017 Location setup in invoice line level
                            var location = "<td></td>";
                            if (result.location == "True" || result.location == "Y" || result.location == "1") { location = "<td><input type='button' name='location' id='dlocation' value='location' class='myButton edit-mode'/></td>"; }
                            var htmlstring = "<tr class='aftershow'><td></td><td></td><td >@*<input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/>*@<input type='button' name='Pricelevel' id='LinePricelevel' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td>@*<td ><input type='button' name='Qty+' id='iQty' value='Qty+'  class='myButton edit-mode'/></td>*@" +
                            //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
                            "@*<td><input type='button' name='Qty-' id='dQty' value='Qty-' class='myButton edit-mode'/></td>*@" + batch + "" + location + "<td ></td ><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                            $(ttr).find("#itemBatchId").text(result.LotId);
                            $(ttr).find("#lotExpDate").text(result.ExpDate);
                            $(ttr).find("#LocationId").text(result.LocationId);
                            $i(ttr).find("[id='PriceLevelId']").remove();
                            $i(ttr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'PriceLevelId' }).val(result.PriceLevelId));
                            $i('#grdData').append(htmlstring);
                            //if (Customer != "")
                            //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                            //amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                            //$(ttr).find('#dAmount').text(amt);
                            //$(ttr).find('#Amount').val(amt);
                            //SalesReceiptPriceLevelcal(ttr, OPUnit1);
                            //getSalesReceipttaxamount(ttr);
                            //SalesReceiptLinecalculations();
                            GetRetailTransCalc(ttr, "Line");
                            $i('.aftershow').hide();
                            $i('.edit-mode').hide();
                            $i('.initshow').show();
                            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                            $i('#Itemddl').combobox('textbox').focus();
                           
                            //EMPHCS1816 rajasekhar reddy patakota 15/09/2016 Retail Screen changes and operating unit set up to null
                            $i("input[name=Item]").val('');
                            if (typeof (result.Avail) == "undefined" || result.Avail == "" || result.Avail == null) result.Avail = 0;
                            if ((parseFloat(result.Avail)).toFixed(2) <= 0) {
                                // Alert.render("Quantity is not available for Selected Item."); $("#alertok").focus(); $("#divLoading").hide();
                                //$("#alertok").on("click", function () {
                                //$("#dialogbox").dialog("close"); //$("input[name=Customer]").focus();
                                return false;
                                //})

                            }
                        }
                    }
                });
            }
            $i('#Itemddl').on("change", function () {
                var item = $i(this).val();
                var Customer = $("input[name=Customer]").val();
                $i.ajax({
                    url: "/PointOfSales/GetItemDetails",
                    type: "POST",
                    data: JSON.stringify({ ItemID: item, CustomerID: Customer }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Data != null && result.Data != "") {
                            $i('#grdData').append(result.Data);
                            var tbl = $("#grdData")[0];
                            var ttr = tbl.rows[tbl.rows.length - 1]
                            //gettaxamount(ttr);
                            var batch = "<td></td>";
                            if (result.lot == "True" || result.lot == "Y" || result.lot == "1") { batch = "<td><input type='button' name='Bacth' id='dBatch' value='Batch' class='myButton edit-mode'/><input type='image' src='/Images/plus.png' class='pointImageSize' id='lotonfly' style='width:16px;height:17px;margin-left:3px;margin-bottom:-3px;cursor:pointer;' value='' alt=''></td>"; }
                            //EMPHCS1861 rajasekhar reddy patakota 20/02/2017 Location setup in invoice line level
                            var location = "<td></td>";
                            if (result.location == "True" || result.location == "Y" || result.location == "1") { location = "<td><input type='button' name='location' id='dlocation' value='location' class='myButton edit-mode'/></td>"; }
                            var htmlstring = "<tr class='aftershow'><td></td><td></td><td >@*<input type='button' name='Discount' id='Discount' value='Discount'  class='myButton edit-mode'/>*@<input type='button' name='Pricelevel' id='LinePricelevel' value='Discount'  class='myButton edit-mode'/></td><td ><input type='button' name='Tax' id='Tax' value='Tax'  class='myButton edit-mode'/></td>@*<td ><input type='button' name='Qty+' id='iQty' value='Qty+'  class='myButton edit-mode'/></td>*@" +
                	    //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
                            "@*<td><input type='button' name='Qty-' id='dQty' value='Qty-' class='myButton edit-mode'/></td>*@" + batch + "" + location + "<td ></td><td ></td><td ><input type='button' name='Remove' id='Remove' value='Remove' class='myButton edit-mode'/></td></tr>";
                            $(ttr).find("#itemBatchId").text(result.LotId);
                            $(ttr).find("#lotExpDate").text(result.ExpDate);
                            $(ttr).find("#LocationId").text(result.LocationId);
                            $i(ttr).find("[id='PriceLevelId']").remove();
                            $i(ttr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'PriceLevelId' }).val(result.PriceLevelId));
                            //if (Customer != "")
                            //    RetailGSTBasedTaxes(ttr, $i(ttr).find("[id='ItemId']").val(), Customer, OPUnit1, '@Session["FormName"]', 'Sales', $i(ttr).find("[id='Price']").val());
                            //SalesReceiptPriceLevelcal(ttr, OPUnit1);
                            //getSalesReceipttaxamount(ttr);
                            //SalesReceiptLinecalculations();
                            GetRetailTransCalc(ttr, "Line");
                            $i('#grdData').append(htmlstring);
                            $i('.aftershow').hide();
                            $i('.edit-mode').hide();
                            $i('.initshow').show();
                            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                            $i('#Itemddl').combobox('textbox').focus();
                            //EMPHCS1849 rajasekhar reddy patakota 02/01/2017 Sales Receipt Invertory checking for Track QOH=0 items 
                            if (typeof (result.Avail) == "undefined" || result.Avail == "" || result.Avail == null) result.Avail = 0;
                            if ((parseFloat(result.Avail)).toFixed(2) <= 0 && result.TrackQty == "1" && '@Session["BackOrder"]' != "1") {
                                Alert.render("Quantity is not available for Selected Item."); $("#alertok").focus(); $("#divLoading").hide();
                                $("#alertok").on("click", function () {
                                    $("#dialogbox").dialog("close"); //$("input[name=Customer]").focus();
                                    return false;
                                })
                            }
                        }
                    }
                });
            });
            $i('.edit-mode').hide();
            $i('.aftershow').hide();
            $i('.rowshow').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var rChk = tr.find('.initshow');
                var row_index = $(this).closest('tr').index();

                var a1 = rChk[6].style.display;
                if (a1 == "") {
                    //var a = tr.find('.initshow')[0].prop('display');
                    $i('.edit-mode').hide();
                    $i('.aftershow').hide();
                    $i('.display-mode').show();
                    $i('.initshow').show();
                    tr.find('.initshow').hide();
                    tr.find('.aftershow, .edit-mode, .display-mode').toggle();
                    tr.next('tr').show();
                    tr.next('tr').find('.edit-mode').show();
                }
                //tr.find('.aftershow, .edit-mode, .display-mode').toggle("hide");
                //tr.next('tr').find('.edit-mode').hide();
                //tr.find('.initshow').show();
                //tr.find('.aftershow, .edit-mode, .display-mode').show();
                //tr.next('tr').show();
            });
            $i('#Remove').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                $(ptr).remove();
                $(tr).remove();
                //SalesReceiptLinecalculations();
                GetRetailTransCalc("", "Header");
            });
            //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
            $i('#SalesDesc').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var desc = $(this).val();
                tr.find('#dSalesDesc').text(desc);
            })
            $i('#UPC').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var UPC = $(this).val();
                tr.find('#dUPC').text(UPC);
            })


            $i('#iQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) + 1);
                //Available Quantity Checking in Retail
                var Avail = tr.find('#avl').val();
                if (typeof (Avail) == "undefined" || Avail == "" || Avail == null) Avail = 0;
                if (typeof (qty) == "undefined" || qty == "" || qty == null) qty = 0;
                //EMPHCS1849 rajasekhar reddy patakota 02/01/2017 Sales Receipt Invertory checking for Track QOH=0 items
                var TrackQty = tr.find('#TrackQty').val();
                if (typeof (TrackQty) == "undefined" || TrackQty == "" || TrackQty == null) TrackQty = 0;
                if ((parseFloat(Avail)).toFixed(2) < qty && TrackQty == "1" && '@Session["BackOrder"]' != "1") {
                    Alert.render("Quantity is not available for Selected Item."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); //$("input[name=Customer]").focus();
                        tr.find('#Quantity').val((parseFloat(Avail)).toFixed(2));
                        GetRetailTransCalc(tr, "Line");
                        return false;
                    })

                }
                else {
                    //amtcalculation(tr, qty, price, amt);
                    GetRetailTransCalc(tr, "Line");
                }

            })
            $i('#dQty').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                tr = $(tr).prev();
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                qty = (parseFloat(qty) - 1);

                if (parseFloat(qty) < 0) {
                    Alert.render('Please Enter greater than Zero value for Quantity'); $("#alertok").focus();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close");
                        tr.find('#Quantity').focus();
                        tr.find('#Quantity').val("");
                        GetRetailTransCalc(tr, "Line");
                        return false;
                    })

                }
                else {
                    //amtcalculation(tr, qty, price, amt);
                    GetRetailTransCalc(tr, "Line");
                }

            })
            $i('#Quantity').live('change', function (e) {
                var Avail = 0, qnty = 0;
                var tr = $(this).parents('tr:first');
                qnty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                Avail = tr.find('#avl').val();
                if (typeof (Avail) == "undefined" || Avail == "" || Avail == null) Avail = 0;
                if (typeof (qnty) == "undefined" || qnty == "" || qnty == null) qnty = 0;
                Avail = (parseFloat(Avail));
                qnty = (parseFloat(qnty));
                //EMPHCS1849 rajasekhar reddy patakota 02/01/2017 Sales Receipt Invertory checking for Track QOH=0 items
                var TrackQty = tr.find('#TrackQty').val();
                if (typeof (TrackQty) == "undefined" || TrackQty == "" || TrackQty == null) TrackQty = 0;
                if (qnty > Avail && TrackQty == "1" && '@Session["BackOrder"]' != "1") {
                    Alert.render("Quantity is not available for Selected Item."); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); //$("input[name=Customer]").focus();
                        tr.find('#Quantity').val((parseFloat(Avail)).toFixed(2));
                        GetRetailTransCalc(tr, "Line");
                        return false;
                    })

                }
                else {
                    //amtcalculation(tr, qnty, price, amt);
                    GetRetailTransCalc(tr, "Line");
                }
            })
            $i('#Price').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                var Customer = $("input[name=Customer]").val();
                //if (Customer != "")
                //    RetailGSTBasedTaxes(tr, tr.find("[id='saveItemId']").text(), Customer, '@Session["OPUnit1"]', '@Session["FormName"]', 'Sales', $i(tr).find("[id='Price']").val());
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Amount').live('change', function (e) {
                var tr = $(this).parents('tr:first');
                var qty = tr.find('#Quantity').val();
                var price = tr.find('#Price').val();
                var amt = tr.find('#Amount').val();
                price = (parseFloat(amt) / parseFloat(qty)).toFixed(2);
                tr.find('#Price').val(price);
                //amtcalculation(tr, qty, price, amt);
                GetRetailTransCalc(tr, "Line");
            })
            $i('#Discount').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Discountdlg").dialog({
                    autoOpen: false,
                    title: "Price & Discount",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Discountdlg').dialog('open');
                $i('#Discountdlg').css("background-color", "#E0ECFF");
                $i('#Discountdlg').css("color", "black");
                $i("#Discountdlg").show();
                $i("#Discountdlg").load("/PointOfSales/DiscountTypes?FormName=PointOfSales&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "");
                $i('#Discountdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //Linecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#dynamicuom').live('change', function () {
                var tr = $(this).parents('tr:first');
                var uomid = tr.find('#dynamicuom').val();
                var uom = tr.find('#dynamicuom option:selected').text();
                tr.find('#saveUnitId').text(uomid);
                tr.find('#dUnits').text(uom);
                var ItemId = tr.find('#saveItemId').text();
                var Lotid = $i(tr).find('#itemBatchId').text();
                if (typeof Lotid == "undefined" || Lotid == "") Lotid = 0;
                if (typeof uomid == "undefined" || uomid == "") uomid = 0;
                var LocationId = tr.find('#LocationId').text();
                POSLotDetails("", tr, ItemId, uomid, LocationId);
                //$i.ajax({
                //    url: "/PointOfSales/GetLotWiseItemDetails",
                //    type: "POST",
                //    data: JSON.stringify({ ItemID: ItemId, LotId: Lotid,LocationId:LocationId, UomId: uomid, Type: 'NPOS' }),
                //    dataType: "json", cache: true,
                //    async: false,
                //    contentType: "application/json; charset=utf-8",
                //    success: function (result) {
                //        if (result.Avail == null || result.Avail == "" || result.Avail == "0")
                //            result.Avail = 0;
                //        if (result.Price == null || result.Price == "" || result.Price == "0")
                //            result.Price = 0;
                //        $i(tr).find('#avl').attr("value", result.Avail);
                //        $i(tr).find('#Price').attr("value", result.Price);
                //        $(tr).find("#dPrice").text(result.Price);
                //        $i(tr).find('#Rate').attr("value", result.Price);
                //        $i(tr).find('#dQuantity').text(0);
                //        $i(tr).find('#dTaxamt').text(0);
                //        $i(tr).find('#Quantity').val(0);
                //        $i(tr).find('#dAmount').text(0);
                //        $i(tr).find('#dTaxamt').text(0);
                //        $i(tr).find('#Amount').val(0);
                //        //Linecalculations();
                //        GetRetailTransCalc(tr, "Line");
                //    }
                //});
            });
            $i('#LinePricelevel').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var Amtin = $i('#Amtinddl').val();
                var PriceLevelId = ptr.find('#PriceLevelId').val();
                var ItemID = ptr.find("[id='saveItemId']").text();
                var Date = $("[id='CreatedDate']").val();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Priceleveldlg").dialog({
                    autoOpen: false,
                    title: "PriceLevel Discount",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Priceleveldlg').dialog('open');
                $i('#Priceleveldlg').css("background-color", "#E0ECFF");
                $i('#Priceleveldlg').css("color", "black");
                $i("#Priceleveldlg").show();
                $i('.panel-tool').css("display", "none");
                $i("#Priceleveldlg").load("/PointOfSales/PriceLevelTypes?FormName=PointOfSales&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Amtin=" + Amtin + "&PriceLevelId=" + PriceLevelId + "&Date=" + Date + "&ItemID=" + ItemID + "&OPUnit=" + OPUnit1 + "");
                $i('#Priceleveldlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //SalesReceiptLinecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#Tax').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var qty = ptr.find('#Quantity').val();
                var price = ptr.find('#Price').val();
                var TaxType = ptr.find('#TaxType').val();
                var discount = ptr.find('#ddiscount').text();
                var Amtin = $i('#Amtinddl').val()
                var PriceLevelId = ptr.find('#PriceLevelId').val();
                var ItemId = ptr.find('#saveItemId').text();
                var Customer = $("input[name=Customer]").val();
                var Date = $("[id='CreatedDate']").val();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Taxdlg").dialog({
                    autoOpen: false,
                    title: "Tax Calculation",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Taxdlg').dialog('open');
                $i('#Taxdlg').css("background-color", "#E0ECFF");
                $i('#Taxdlg').css("color", "black");
                $i("#Taxdlg").show();
                $i("#Taxdlg").load("/PointOfSales/TaxInformation?FormName=PointOfSales&ItemId=" + ItemId + "&Customer=" + Customer + "&Qty=" + qty + "&Price=" + price + "&TaxType=" + TaxType + "&Discount=" + discount + "&Amtin=" + Amtin + "&PriceLevelId=" + PriceLevelId + "&Date=" + Date + "");
                $i('#Taxdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                    //SalesReceiptLinecalculations();
                    GetRetailTransCalc(ptr, "Line");
                });
            });
            $i('#dBatch').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var ItemId = ptr.find('#saveItemId').text();
                var UnitId = ptr.find('#saveUnitId').text();
                if (UnitId == "" || typeof (UnitId) == "undefined") UnitId = "0";
                var itemBatchId = ptr.find('#itemBatchId').text();
                var ExpDate = ptr.find("#lotExpDate").text();
                var LocationId = ptr.find('#LocationId').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Lotdlg").dialog({
                    autoOpen: false,
                    title: "Lot/Batch",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Lotdlg').dialog('open');
                $i('#Lotdlg').css("background-color", "#E0ECFF");
                $i('#Lotdlg').css("color", "black");
                $i('.panel-tool').css("display", "none");
                $i("#Lotdlg").show();
                $i("#Lotdlg").load("/PointOfSales/ItemWiseLotInfo?FormName=PointOfSales&ItemId=" + ItemId + "&itemBatchId=" + itemBatchId + "&LocationId=" + LocationId + "&ExpDate=" + ExpDate + "&UnitId=" + UnitId + "");
                $i('#Lotdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                });
            });
            $i("#lotonfly").live("click", function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var ItemId = ptr.find('#saveItemId').text();
                var UnitId = ptr.find('#saveUnitId').text();
                var Price = ptr.find('#Price').val();
                if (Price == "" || typeof (Price) == "undefined") Price = "0";
                if (UnitId == "" || typeof (UnitId) == "undefined") UnitId = "0";
                var itemBatchId = ptr.find('#itemBatchId').text();
                var ExpDate = ptr.find("#lotExpDate").text();
                var LocationId = ptr.find('#LocationId').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#onflyDialog").dialog({
                    autoOpen: false,
                    title: "Lot/Batch",
                    modal: true,
                    width: 650,
                    height: 465, resizable: false,
                    closeOnEscape: true
                })
                $i('#onflyDialog').dialog('open');
                $i('#onflyDialog').css("background-color", "#E0ECFF");
                $i('#onflyDialog').css("color", "black");
                $i('.panel-tool').css("display", "none");
                $i("#onflyDialog").show();
                $i("#onflyDialog").load("/Item/LotCreation?FormName=Lot&idi=1&ItemId=" + ItemId + "&Units=" + UnitId + "&Price=" + Price + "&FormId=1532");
                $i('#onflyDialog').css("height", "485px");
                $i('#onflyDialog').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                });
                $('.window').css("top", "150px");
                $('.window-shadow').css("top", "150px");
            });
            //EMPHCS1861 rajasekhar reddy patakota 20/02/2017 Location setup in invoice line level
            $i('#dlocation').live('click', function (e) {
                var tr = $(this).parents('tr:first');
                var ptr = $(tr).prev();
                var ItemId = ptr.find('#saveItemId').text();
                var UnitId = ptr.find('#saveUnitId').text();
                if (UnitId == "" || typeof (UnitId) == "undefined") UnitId = "10000";
                var itemBatchId = ptr.find('#itemBatchId').text();
                var ExpDate = ptr.find("#lotExpDate").text();
                var LocationId = ptr.find('#LocationId').text();
                $(ptr).find("[id='chkrow']").val(1);
                $i("#Locationdlg").dialog({
                    autoOpen: false,
                    title: "Location",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Locationdlg').dialog('open');
                $i('#Locationdlg').css("background-color", "#E0ECFF");
                $i('#Locationdlg').css("color", "black");
                $i('.panel-tool').css("display", "none");
                $i("#Locationdlg").show();
                $i("#Locationdlg").load("/PointOfSales/LocationDetails?FormName=PointOfSales&ItemId=" + ItemId + "&itemBatchId=" + itemBatchId + "&LocationId=" + LocationId + "&ExpDate=" + ExpDate + "&UnitId=" + UnitId + "");
                $i('#Locationdlg').on('dialogclose', function (event) {
                    $(ptr).find("[id='chkrow']").val(0);
                });
            });
            $i('#Amtinddl').live('change', function (e) {
                GetRetailTotalTransCalcs();
            });
            $i("[id='CreatedDate']").on("change", function (e) {
                GetRetailTotalTransCalcs();
            });
            $i("[id='roundoffadjamt']").on("change", function (e) {
                GetRetailTransCalc("", "Header");
            });
            $i("[id='headerleveldiscountamt']").on("change", function (e) {
                SalesReceiptHeaderDiscvalidate($(this).val(), "headerleveldiscountamt");
                if ($(this).val() == "") $i('#headerleveldiscountper').attr("readonly", false);
                else $i('#headerleveldiscountper').attr("readonly", true);
                $i('#headerleveldiscountper').val("");
                GetRetailTransCalc("", "Header");
            });
            $i("[id='headerleveldiscountper']").on("change", function (e) {
                SalesReceiptHeaderDiscvalidate($(this).val(), "headerleveldiscountper");
                if ($(this).val() > 100) $i('#headerleveldiscountper').val("");
                if ($(this).val() == "") $i('#headerleveldiscountamt').attr("readonly", false);
                else $i('#headerleveldiscountamt').attr("readonly", true);
                $i('#headerleveldiscountamt').val("");
                //SalesReceiptDiscPercentagecal();
                GetRetailTransCalc("", "Header");
            });
            $i('#Cash').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
            });
            $i('#Credit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
                //paymentdetails();
            });
            $i('#Debit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
            });
            $i('#Check').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    PaymentInformationNewCash(a);
            });
            function paymentdetails() {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformation");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                    //Linecalculations();
                    GetRetailTransCalc("", "Header");
                });
            }
            function PaymentInformationNewCash(a) {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformationNewCash?TypeChk=" + a + "");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                    //Linecalculations();
                    GetRetailTransCalc("", "Header");
                });
            }
            function amtcalculation(tr, qty, price, amt) {
                amt = (parseFloat(qty) * parseFloat(price)).toFixed(2);
                tr.find('#dQuantity').text(qty);
                tr.find('#Quantity').val(qty);
                tr.find('#dPrice').text(price);
                tr.find('#Price').val(price);
                tr.find('#dAmount').text(amt);
                //EMPHCS1547 rajasekhar patakota 02/02/2016 Return and edit changes in retail application
                tr.find('#Amount').val(amt); //gettaxamount(tr);		
                SalesReceiptPriceLevelcal(tr, OPUnit1);
                getSalesReceipttaxamount(tr);
                SalesReceiptLinecalculations();
            }
            function Linecalculations(comboname) {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var finalamt = $("#totamt").text();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                //EMPHCS1829 : After Clicking On Cash . Even Discount , Tax , Qty Inc Or Dec Amount Showing Nagative By GNANESHWAR ON 9/11/2016
                $("#totdue").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                $("#inittax").val("");
                $("#payamt").val("");
                //$("#totdue").text((parseFloat(finalamt) - parseFloat(totdue)).toFixed(2));
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
                if (comboname == "Item") {
                    $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information').val('');
                    $i('#Itemddl').combobox('textbox').focus();
                }

            }
            function gettaxamount(tr, comboname) {
                // var disper = $i(tr).find('#Discount').val();
                var Quantity = $i(tr).find('#Quantity').val();

                var disper1 = $i(tr).find('#disper1').val();
                if (disper1 == "" || typeof (disper1) == "undefined") disper1 = 0;

                var TaxType = $i(tr).find('#TaxType').val();
                if (TaxType == "" || typeof (TaxType) == "undefined") TaxType = 0;
                if (TaxType != "") {
                    $.ajax({
                        url: "/PointOfSales/GetTaxAmount",
                        type: "POST",
                        data: JSON.stringify({ TaxType: TaxType, TaxCal: 0, FormName: "FormName" }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Tax != '') {
                                var ttal = $i(tr).find('#dAmount').text();
                                tax = result.Tax; tax = (tax * (0.01));
                                var discount = $i(tr).find('#ddiscount').text();
                                if (discount == "" || typeof (discount) == "undefined") discount = 0;
                                ttal = ((parseFloat(ttal) - parseFloat(discount)).toFixed(2));
                                if (result.grptaxes.length > 0)
                                    tax = GroupTaxCalculations(tr, ttal, result.grptaxes);
                                else
                                    tax = (parseFloat(ttal) * parseFloat(tax)).toFixed(2);
                            } else { tax = parseFloat(0); }
                            $i(tr).find('#dTaxamt').text(tax);

                            //if (disper1 > 0) disper1 = (parseFloat(ttal) * (parseFloat(disper1) / parseFloat(100))).toFixed(2);
                            //  $i(tr).find('#ddiscount').text(disper1);

                            Linecalculations(comboname);
                        }
                    })
                }
            }
            $i('#btnposSave').on('click', function (e) {
                var print = false;
                GridSave(print);
            });
            $i('#SavePrint').on('click', function (e) {
                var print = true;
                GridSave(print);
            });
            function GridSave(Print) {
                $("#divLoading").show();
                var flag = false;
                flag = RetailOperatingCheck('@Session["OPUnit1"]');
                var Item = $("input[name=Item]").val();
                //if (flag == false) {
                //    if (Item == "" || Item == null || typeof (Item) == "undefined") {
                //        flag = true;
                //        Alert.render("Please Select Item"); $("#alertok").focus(); $("#divLoading").hide();
                //        $("#alertok").on("click", function () {
                //            $("#dialogbox").dialog("close"); $("input[name=Item]").focus(); return false;
                //        })
                //    }
                //}
                var Customer = $("input[name=Customer]").val();
                $("#divLoading").show();
                if (flag == false) {
                    if (Customer == "" || Customer == null || typeof (Customer) == "undefined" || isNaN(parseInt(Customer))) {
                        flag = true;
                        Alert.render("Please Select Customer"); $("#alertok").focus(); $("#divLoading").hide();
                        $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name').val('');
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); $i("#Customerddl").combobox('setValue', ""); $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name').focus(); return false;
                        })
                    }
                }
                var TotAmt = $('#totamt').text();
                if (TotAmt == "" || TotAmt == "0.00" || TotAmt == null || typeof (TotAmt) == "undefined") {
                    flag = true;
                    Alert.render("There Is No Payments To pay"); $("#alertok").focus(); $("#divLoading").hide();
                    $("#alertok").on("click", function () {
                        $("#dialogbox").dialog("close"); return false;
                    })
                }
                var Account = document.getElementById("inittax").defaultValue;
                if ('@Session["PayRule"]' == 1) {
                    if (Account == "" || Account == null || typeof (Account) == "undefined") {
                        if ('@Session["PayRuleAC"]' != 0 || '@Session["PayRuleAC"]' != '') {
                            Account = '@Session["PayRuleAC"]';
                            $('#inittax').attr('value', Account);
                            $('#initdue').val($('#totamt').text());
                        }
                    }
                }
                if (flag == false) {
                    if (Account == "" || Account == null || typeof (Account) == "undefined") {
                        flag = true;
                        Alert.render("Please Select Account Through Payments"); $("#alertok").focus(); $("#divLoading").hide();
                        $("#alertok").on("click", function () {
                            $("#dialogbox").dialog("close"); return false;
                        })
                    }
                }
                if (flag == false) {
                    var tbl = $("#grdData")[0];
                    var xmldata = "<ROOT>"; var Gridlength = tbl.rows.length;
                    for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                        var trw = tbl.rows[irow];
                        var classname = trw.className;
                        if (classname != "webgrid-header" && classname != "aftershow") {
                            var itemid = $(trw).find("[id='saveItemId']").text();
                            if (typeof itemid == "undefined") itval = 0;
                            var ItemName = $(trw).find("[id='dItemName']").text();
                            if (typeof ItemName == "undefined") ItemName = 0;
                            ItemName = ItemName.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')
                            .replace(/'/g, '&apos;');
                            //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
                            var SalesDesc = $(trw).find("[id='dSalesDesc']").text();
                            var UPC = $(trw).find("[id='dUPC']").text();

                            if (typeof SalesDesc == "undefined") SalesDesc = "";
                            SalesDesc = SalesDesc.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')
                                .replace(/'/g, '&apos;');

                            if (typeof UPC == "undefined") UPC = "";
                            UPC = UPC.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')
                                .replace(/'/g, '&apos;');

                            var Units = $(trw).find("[id='saveUnitId']").text();
                            if (typeof Units == "undefined") Units = 0;
                            var Qty = $(trw).find("[id='dQuantity']").text();
                            if (typeof Qty == "undefined") Qty = 0;
                            if (Qty == "" || Qty == "0" || Qty == null || typeof (Qty) == "undefined") {
                                flag = true;
                                Alert.render("Please Enter More Than Zero Value For Qty"); $("#alertok").focus(); $("#divLoading").hide();
                                $("#alertok").on("click", function () {
                                    $("#dialogbox").dialog("close"); $(trw).find("[id='dQuantity']").focus(); return false;
                                })
                                return false;
                            }
                            var Price = $(trw).find("[id='dPrice']").text();
                            if (typeof Price == "undefined") Price = 0;
                            var Amount = $(trw).find("[id='dAmount']").text();
                            if (typeof Amount == "undefined") Amount = 0;
                            var InAmount = $(trw).find("[id='InAmount']").val();
                            if (typeof InAmount == "undefined" || InAmount == "") InAmount = 0;
                            if (InAmount != 0) Amount = InAmount;
                            var Discount = $(trw).find("[id='ddiscount']").text();
                            if (typeof Discount == "undefined") Discount = 0;
                            var TaxType = $(trw).find("[id='TaxType']").val();
                            if (typeof TaxType == "undefined") TaxType = 0;
                            var TaxAmt = $(trw).find("[id='dTaxamt']").text();
                            if (typeof TaxAmt == "undefined" || TaxAmt == "" || TaxAmt == null || typeof (TaxAmt) == "undefined" || isNaN(TaxAmt)) TaxAmt = 0;
                            var BatchId = $(trw).find("[id='itemBatchId']").text();
                            if (typeof BatchId == "undefined" || BatchId == "") BatchId = 0;
                            //EMPHCS1861 rajasekhar reddy patakota 20/02/2017 Location setup in invoice line level
                            var LocationId = $(trw).find("[id='LocationId']").text();
                            if (typeof LocationId == "undefined" || LocationId == "") LocationId = 0;
                            var PriceLevelId = $(trw).find("[id='PriceLevelId']").val();
                            if (typeof PriceLevelId == "undefined" || PriceLevelId == "") PriceLevelId = "1000";
                            var Rate = $(trw).find("[id='Rate']").val();
                            if (typeof Rate == "undefined" || Rate == "") Rate = 0;
                            var InclusiveTotal = $(trw).find("[id='InclusiveTotal']").val();
                            if (typeof InclusiveTotal == "undefined" || InclusiveTotal == "") InclusiveTotal = 0;

                            xmldata = xmldata + "<Column><ItemID>" + itemid + "</ItemID>";
                            xmldata = xmldata + "<UPC>" + UPC + "</UPC>";
                            xmldata = xmldata + "<ItemName>" + ItemName + "</ItemName>";
                           
                            //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
                            xmldata = xmldata + "<SalesDesc>" + SalesDesc + "</SalesDesc>";
                            xmldata = xmldata + "<Units>" + Units + "</Units>";
                            xmldata = xmldata + "<Qty>" + Qty + "</Qty>";
                            xmldata = xmldata + "<Price>" + Price + "</Price>";
                            xmldata = xmldata + "<Amount>" + Amount + "</Amount>";
                            xmldata = xmldata + "<Discount>" + Discount + "</Discount>";
                            xmldata = xmldata + "<TaxType>" + TaxType + "</TaxType>";
                            xmldata = xmldata + "<TaxAmt>" + TaxAmt + "</TaxAmt>";
                            xmldata = xmldata + "<BatchId>" + BatchId + "</BatchId>";
                            //EMPHCS1861 rajasekhar reddy patakota 20/02/2017 Location setup in invoice line level
                            xmldata = xmldata + "<LocationId>" + LocationId + "</LocationId>";
                            xmldata = xmldata + "<PriceLevelId>" + PriceLevelId + "</PriceLevelId>";
                            xmldata = xmldata + "<Rate>" + Rate + "</Rate>";
                            xmldata = xmldata + "<InclusiveTotal>" + InclusiveTotal + "</InclusiveTotal></Column>";
                        }
                    }
                    xmldata = xmldata + "</ROOT>";
                    xmldata = xmldata.replace(/&/g, "&amp;");
                    xmldata = xmldata.replace(/"/g, "&quot;");
                    xmldata = xmldata.replace(/'/g, "&apos;");
                    if (xmldata != "<ROOT></ROOT>") {
                        var dataparam = { list: xmldata };
                        $.ajax({
                            url: "/PointOfSales/POSSaveGrid",
                            type: "POST",
                            data: JSON.stringify(dataparam),
                            dataType: "html",
                            cache: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (resultG) {
                                FormSave(Print);
                            }
                        });
                    }
                }
                else $("#divLoading").hide();
            }
            function FormSave(Print) {
                var Qty = $('#totqty').text();
                var SubTotal = $('#subtot').text();
                var Discount = $('#totdis').text();
                var TaxAmt = $('#tottax').text();
                var TotAmt = $('#totamt').text();
                var PayAmt = $('#initdue').val();
                var PayAcc = document.getElementById("inittax").defaultValue;
                var Type = $('#Type').val();
                var CardNo = $('#CardNo1').val();
                var HeaderDiscount = $('#headerleveldiscountamt').val();
                if (SubTotal == "" || typeof (SubTotal) == "undefined") SubTotal = 0;
                if (TaxAmt == "" || typeof (TaxAmt) == "undefined") TaxAmt = 0;
                if (TotAmt == "" || typeof (TotAmt) == "undefined") TotAmt = 0;
                if (PayAmt == "" || typeof (PayAmt) == "undefined") PayAmt = 0;
                if (HeaderDiscount == "" || typeof (HeaderDiscount) == "undefined") HeaderDiscount = 0;
                if (Discount == "" || typeof (Discount) == "undefined") Discount = 0;
                Discount = (parseFloat(Discount) - parseFloat(HeaderDiscount)).toFixed(2);
                var Customer = $("input[name=Customer]").val();
                //EMPHCS1816 rajasekhar reddy patakota 15/09/2016 Retail Screen changes and operating unit set up to null
                var Attendedby = $("input[name=Attendedby]").val();
                if (Attendedby > 0) Attendedby = Attendedby;
                else Attendedby = null;
                //EMPHCS1821 rajasekhar reddy patakota 23/09/2016 Date Feild Adding in Sales Receipt & Customer Onfly Cahanges
                var CreatedDate = $('#CreatedDate').val();
                //KK Issues By Venkat
                var Memo = $('#MemoTxtArea').val();
                var Amtin = $('#Amtinddl').val();
                var roundoffadjamt = $('#roundoffadjamt').val();
                if (roundoffadjamt == "" || typeof (roundoffadjamt) == "undefined") roundoffadjamt = 0;
                var TransNo = $("input[name=SalesReceipt]").val();
                var dataparam = {
                    Qty: Qty, SubTotal: SubTotal, Discount: Discount, TaxAmt: TaxAmt,
                    TotAmt: TotAmt, PayAmt: PayAmt, PayAcc: PayAcc, Customer: Customer, Type: Type, CardNo: CardNo, Attendedby: Attendedby, CreatedDate: CreatedDate,
                    Memo: Memo, Amtin: Amtin, HeaderDiscount: HeaderDiscount, roundoffadjamt: roundoffadjamt, TransNo: TransNo
                };
                var Duplicate = RetailTransactionDuplicatecheck(1532);
                if (Duplicate == false || Duplicate == "" || Duplicate == null) {
                    $.ajax({
                        url: "/PointOfSales/Saveform",
                        type: "POST",
                        data: JSON.stringify(dataparam),
                        dataType: "json",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (resultG) {
                            $("#divLoading").hide();
                            if (resultG.Duplicate == 1) {
                                var Duplicate = RetailTransactionDuplicatecheck(1532);
                            }
                            else {
                            if (resultG.Data > 0) {
                                //EMPHCS1503 rajasekhar reddy patakota 10/01/2015 Point Of Sales Creation In Retail application
                                if (Print == true) {
                                    if ('@Session["AcOwner"]' == "56621") {
                                        window.open("/Print/InvoiceRetail?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56637") {
                                        window.open("/Print/InvoiceRetailflytees?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56645") {
                                        window.open("/Print/InvoiceRetailHerbal?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56645") {
                                        window.open("/Print/InvoiceRetailTRZ?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56671") {
                                        window.open("/Print/InvoicePrintLol?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56672") {
                                        window.open("/Print/InvoicePrintLalEnterprices?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56673") {
                                        window.open("/Print/InvoicePrintLalSanitationHome?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56688") {
                                        window.open("/PrintNew/InvoiceRetailolive?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                    else if ('@Session["AcOwner"]' == "56739") {
                                        window.open("/Print/InvoicePrintGST?sono=" + resultG.InvoiceNo + "", "_blank");
                                    }
                                  else if ('@Session["AcOwner"]' == "56768" || '@Session["AcOwner"]' == "56740" || '@Session["AcOwner"]' == "56741") {
                                    window.open("/Print/InvoiceCustom?sono=" + resultG.InvoiceNo + "", "_blank");
                                }
                                else  {
                                    window.open("/Print/RetailPrint?sono=" + resultG.InvoiceNo + "", "_blank");
                                }
                                }
                                window.location.href = "/PointOfSales/Create?idi=" + resultG.idi + "&FormName=" + resultG.FormName + "";
                            }
                            window.location.href = "/PointOfSales/Create?idi=" + resultG.idi + "&FormName=" + resultG.FormName + "";
                            //document.forms[0].submit();
                            }
                        }
                    });
                }
                else $("#divLoading").hide();
            }
        });
        </script>
    <style>
    .StaticgridFoter td, th {
    border: 1px solid #92b2d3;
    text-align: left;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    padding-bottom: 0px;
    border-bottom-color: lightgray;
}</style>
    </head>
<body>
@*    @using (Html.BeginForm("Create", "PointOfSales", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {}*@
    <div id="poscreate" style="width:100%;float: left;">
    <input id="roundofftype" style="display:none;" type="text" itemid="@Session["RoundOff"]" value="@Session["RoundType"]"/>
    @*KK Issues By Venkat*@
    <div id="mastercreateSR" class="mastercreateSR">
    @*EMPHCS1821 rajasekhar reddy patakota 23/09/2016 Date Feild Adding in Sales Receipt & Customer Onfly Cahanges*@
         <div id="Sales Receipt#" class="posfieldposition">
         <div class="itemlabelSR">Sales Receipt#</div>
               @{ var TransNo = ViewBag.TransNo;
                        if(ViewBag.Dateformat=="")
                        {
                            TransNo = "";
                        }
              <input name="SalesReceipt" id="SalesReceipt#" type="text"  readonly="true" value="@TransNo" class="TransNo" style="width:12.5rem;height:25px;border: 1px solid #97c6ed;float: left;" />
              }
             </div>
        <div id="Date"  class="posfieldpositionD">
          <div class="itemlabelSR">Date</div><div style="float: left;" id="crDate">
              @{ var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }
              <input name="Date" id="CreatedDate" type="text"  readonly="true" value="@Dtext" class="date" style="background-color:white;width:200px;float: left;"/>
              }
                </div>
            </div>
       
        <div id="Customer"  class="posfieldposition">
        <div class="itemlabelSR" style = "padding-right:0px;">Customer</div>&nbsp;&nbsp;<div class="custddlposition" id="custddl">@Html.DropDownList("Customer",null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:200px;height:30px;" })</div>
                <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png" class="pointImageSize" id="cImageHide" value="" alt="" /></div>
            </div>
        @*<div id="Item"  class="posfieldposition">
       <div class="itemlabel">Item</div>&nbsp;&nbsp;<div class="itemddlposition" id="Itmddl">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:200px;height:30px;" })</div>
       <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="iImageHide"  value="" alt="" /></div>
        </div>*@
        </div>
        <div id="mastercreateSRR" class="mastercreateSRR" >
            <div class="posfieldpositionSR" style="padding-top:12px">
                <div class="itemlabelSR">UPC#</div>&nbsp;&nbsp;<div class="custddlposition">@Html.TextBox("UPC", "", new { @id = "UPC", @class = "TextBox", @itemid = "Y", @style = "width:200px;height:22px;border: 1px solid #97c6ed;float: left;" })</div>
            </div>
            <div id="Item" class="posfieldpositionSR" style="padding-top:12px">
       <div class="itemlabelSR">Item</div>&nbsp;&nbsp;<div class="itemddlposition" id="Itmddl">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:200px;height:30px;" })</div>
       <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="iImageHide"  value="" alt="" /></div>
        </div>
        @*<div id="Customer"  class="posfieldpositionC" style="padding-top:12px">
        <div class="itemlabel" style = "padding-right:0px;">Customer</div>&nbsp;&nbsp;<div class="custddlposition" id="custddl">@Html.DropDownList("Customer",null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:200px;height:30px;" })</div>
       <div class="pointPlusImage"> <input type="image" src="~/Images/plus.png"  class="pointImageSize" id="cImageHide"  value="" alt="" /></div></div>*@
            <div id="Memo" class="posfieldpositionSR" style="padding-top:12px">
         <div class="itemlabelSR">Memo</div>&nbsp;&nbsp;<div class="custddlposition" >@Html.TextArea("Memo", "", new { @id ="MemoTxtArea", @class = "TextArea", @itemid = "Y" ,  @style = "width:160px;height:22px;border: 1px solid #97c6ed;float: left;" })</div>
       </div>     
            <div id="TaxTypediv" class="posfieldpositionSR" style="padding-top:12px">
                <div class="itemlabelSR">Amount are in</div>&nbsp;&nbsp;<div class="custddlposition">@Html.DropDownList("Amtin", null, "--Select--", new { @id = "Amtinddl", @class = "ddl", @itemid = "Y", @style = "width:160px;height:30px;float: left;" })</div>
       </div>
    </div>
        @*<div id="mastercreateSRRJ" class="mastercreateSRRJ">
            <div id="TaxTypediv" class="posfieldpositionSR" style="padding-top:12px">
                <div class="itemlabel">Amount are in</div>&nbsp;&nbsp;<div class="custddlposition">@Html.DropDownList("Amtin", null, "--Select--", new { @id = "Amtinddl", @class = "ddl", @itemid = "Y", @style = "width:200px;height:30px;float: left;" })</div>
            </div>
        </div>*@
         <div id="divLoading" >
    <p>
        <img src="~/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
    <div id="iteminfo" class="griddisplay" style="height:100px; overflow:scroll" >
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
	    @*//EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen*@
            var books = db.Query(@"SELECT m.COLUMN02 Item#, m.COLUMN04 ItemName, u.COLUMN04 Units, 1 Quantity, m.COLUMN17 Price,
m.COLUMN17 Amount,m.COLUMN50 SalesDesc,m.COLUMN06 UPC FROM MATABLE007 m left JOIN MATABLE002 u  ON m.COLUMN63 = u.COLUMN02 where m.column02=0 ORDER BY m.COLUMN02 DESC");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
	@*EMPHCS1821 rajasekhar reddy patakota 23/09/2016 Date Feild Adding in Sales Receipt & Customer Onfly Cahanges*@
         @grid.GetHtml(tableStyle: "Retailwebgrid-table",
            headerStyle: "Retailwebgrid-header",
            footerStyle: "Retailwebgrid-footer",
                alternatingRowStyle: "Retailwebgrid-alternating-row",
            rowStyle: "Retailwebgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns :(
    //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
    grid.Columns(grid.Column("S.No", style: "col1"), grid.Column("UPC", style: "col8"), grid.Column("Item/Product",style: "col2"),grid.Column("Desc",style: "col7"),
    grid.Column("Units",style: "col3"),grid.Column("Qty",style: "col4"),grid.Column("Price",style: "col5"),
   grid.Column("Amount",style: "col6")))
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
	@*//EMPHCS1816 rajasekhar reddy patakota 15/09/2016 Retail Screen changes and operating unit set up to null*@
            <div style="float:left;width:49%;padding:5px;">
        <div id="Attendedby" style="float:left;">
        <div class="itemlabel">Attended By</div>&nbsp;&nbsp;<div class="custddlposition" id="">@Html.DropDownList("Attendedby",null, "", new { @id = "Attendedbyddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
       </div>
        <div id="HeaderDiscount" style="float:left;padding-top:3px;">
        <div class="itemlabel">Discount</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="headerleveldiscountamt" placeholder="Enter Discount in Amount"/><input type="text" style = "width:150px;height:20px;margin-left:5px;" id="headerleveldiscountper" placeholder="Enter Discount in Percentage" /></div>       
        </div>
        <div id="RoundOff" style="float:left;padding-top:3px;">
        <div class="itemlabel">Round Off</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="roundoffadjamt" placeholder="Enter Round Off Value"/></div>
                    </div>
                </div>
            <div class="totalinfo">
          <div>  <div class="totallbls">No. of Items Sold</div><div id="totitems" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">Total Quantity Sold</div><div id="totqty" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts"></div> </div>
          <div>  <div class="totallbls">Tax</div><div id="tottax" class="totaltxts"></div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt"></div> </div>
                </div>
            </div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        <input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>
        </div>  <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt"></div>
                </div>
        </div>
            <div id="Savetypes" style="width:100%">
                <div style="width:80%;float:right"></div>
                <div style="width:30%;float:right;text-align:right;">
                    <input type="button" name="Cancel" id="Cancel" value="Cancel" class="myButtonline" onclick="@("window.location.href='" + @Url.Action("PointOfSalesInfo", "PointOfSales", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; " />
        <input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline"  accesskey="s"/>
                    <input type="button" name="Save&Print" id="SavePrint" value="Save & Print" class="myButtonline" accesskey="p" />
                </div>
            <input type="text"  style="display:none;" id="initdue" value=""/>
            <input type="text"  style="display:none;" id="inittax" value=""/>
            <input type="text"  style="display:none;" id="Type" value=""/>
            <input type="text"  style="display:none;" id="CardNo1" value=""/>
            </div>
        </div>
    </div>
    
</body>
</html>