﻿<html>
     <head>  
   <div id="Lotdlg"  style="font-size:11.5px;color:black;background:#E0ECFF;"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            dateupdate('@Session["ReportDate"]');
            $i(function () {
                $i('#unitid').attr("value", '@Request["UnitId"]');
                $i('#Location').attr("value", '@Request["LocationId"]');
                var Lotid = $i('#Lot').val();
                if (Lotid != "") {
                    $.ajax({
                        url: "/PointOfSales/GetExpDate",
                        type: "POST",
                        data: JSON.stringify({ Lotid: Lotid }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.ExpDate != '') {
                                $i('#lotexpirydt').val(result.ExpDate);
                            }
                        }
                    });
                }
            });
            $i('#btnlotok').on("click", function () {
                var tbl = $("#grdData")[0];
                var item = "";
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var classname = tr.className;
                    if (classname != "webgrid-header" && classname != "aftershow") {
                        var rowchk = $i(tr).find("[id='chkrow']").val();
                        if (rowchk == 1 || rowchk == "1") {
                            item = $i(tr).find('#saveItemId').text();
                            irow = tbl.rows.length;
                        }
                    }
                }
                if (item != "") {
                    var Lotid = $i('#Lot').val();
                    var lotexpirydt = $i('#lotexpirydt').val();
                    if (typeof Lotid == "undefined" || Lotid == "") Lotid = 0;
		    //EMPHCS1861 rajasekhar reddy patakota 20/02/2017 Location setup in invoice line level
                    var Locationid = $i('#Location').val();
                    if (typeof Locationid == "undefined" || Locationid == "") Locationid = 0;
                    var UnitId = $i('#unitid').val();
                    if (typeof UnitId == "undefined" || UnitId == "") UnitId = 10000;
                    $i.ajax({
                        url: "/PointOfSales/GetLotWiseItemDetails",
                        type: "POST",
                        data: JSON.stringify({ ItemID: item, LotId: Lotid, Locationid: Locationid, UomId: UnitId, Type: 'NPOS' }),
                        dataType: "json", cache: true,
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.Avail == null || result.Avail == "" || result.Avail == "0")
                                result.Avail = 0;
                            for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                                var tr = tbl.rows[irow];
                                var classname = tr.className;
                                if (classname != "webgrid-header" && classname != "aftershow") {
                                    var rowchk = $i(tr).find("[id='chkrow']").val();
                                    if (rowchk == 1 || rowchk == "1") {
                                        $i(tr).find('#itemBatchId').text(Lotid);
                                        $i(tr).find('#LocationId').text(Locationid);
                                        $i(tr).find('#lotExpDate').text(lotexpirydt);
                                        $i(tr).find('#avl').attr("value", result.Avail);
                                        $i(tr).find('#dQuantity').text(0);
                                        $i(tr).find('#Quantity').val(0);
                                        $i(tr).find('#dAmount').text(0);
                                        $i(tr).find('#dTaxamt').text(0);
                                        $i(tr).find('#Amount').val(0);
                                        if (result.Price != null && result.Price != "" && result.Price != "0") {
                                            $i(tr).find('#Price').val(result.Price);
                                            $i(tr).find('#dPrice').text(result.Price);
                                        }
                                        $i(tr).find('#chkrow').attr("value", 0);
                                    }
                                }
                            }
                            //Linecalculations();
                            GetRetailTotalTransCalcs();
                            $i('#Lotdlg').dialog('close');
                        }
                    });
                }
            });
            $i('#btnlotcancel').on("click", function () {
                var tbl = $("#grdData")[0];
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        $i(tr).find('#chkrow').attr("value", 0);
                    }
                }
                $i('#Lotdlg').dialog('close');
            });
            $i('#Lot').on('change', function (e) {
                var Lotid = $i(this).val();
                if (Lotid != "") {
                    $.ajax({
                        url: "/PointOfSales/GetExpDate",
                        type: "POST",
                        data: JSON.stringify({ Lotid: Lotid }),
                        dataType: "json", cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.ExpDate != '') {
                                $i('#lotexpirydt').val(result.ExpDate);
                            }
                        }
                    });
                }
            })
            function Linecalculations() {
                var totqty = 0; var subtot = 0; var rowcount = 0; var taxamt = 0; var disamt = 0;
                $('#grdData tr td input[name="Quantity"]').each(function () {
                    totqty = (parseFloat(totqty) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td input[name="Amount"]').each(function () {
                    subtot = (parseFloat(subtot) + parseFloat($(this).val())).toFixed(2);
                })
                $('#grdData tr td span[id="dTaxamt"]').each(function () {
                    var itax = $(this).text();
                    if (itax == "" || typeof (itax) == "undefined") itax = 0;
                    taxamt = (parseFloat(taxamt) + parseFloat(itax)).toFixed(2);
                })
                $('#grdData tr td span[id="ddiscount"]').each(function () {
                    var idis = $(this).text();
                    if (idis == "" || typeof (idis) == "undefined") idis = 0;
                    disamt = (parseFloat(disamt) + parseFloat(idis)).toFixed(2);
                })
                $("#totqty").text(totqty);
                $("#subtot").text(subtot);
                $("#tottax").text(taxamt);
                $("#totdis").text(disamt);
                $("#totamt").text(((parseFloat(taxamt) + parseFloat(subtot)) - parseFloat(disamt)).toFixed(2));
                var totdue = $("#initdue").val();
                var totdue1 = $("#dueAmnt").val();
                var finalamt = $("#totamt").text();
                var IPayAmnt = $("#IPayAmnt").val();
                var PayAmnt = $("#PayAmnt").val();
                if (totdue == "" || typeof (totdue) == "undefined") totdue = 0;
                if (finalamt == "" || typeof (finalamt) == "undefined") finalamt = 0;
                if (totdue1 == "" || typeof (totdue1) == "undefined") totdue1 = 0;
                if (PayAmnt == "" || typeof (PayAmnt) == "undefined") PayAmnt = 0;
                if (IPayAmnt == "" || typeof (IPayAmnt) == "undefined") IPayAmnt = 0;

                $("#totdue").text((parseFloat(finalamt) - parseFloat(IPayAmnt)).toFixed(2));
                $("#initdue").text((parseFloat(finalamt) - parseFloat(IPayAmnt)).toFixed(2));

                $("#inittax").val("");
                $("#payamt").val("");
                $('#grdData tr td input[name="ItemId"]').each(function () {
                    if (rowcount == 0) { rowcount = 1; }
                    else { rowcount = (parseInt(rowcount) + parseInt(1)); }
                    var trq = $i(this).parent().parent();
                    $i(trq).find("#dItemId")[0].innerHTML = rowcount;
                    $i(trq).find("#ItemId").val(rowcount);
                })
                $("#totitems").text(rowcount);
            }
        });
        </script>
 </head>
    <body>
        @{
        var Dtext=DateTime.Now.ToString(ViewBag.Dateformat);
                        if(ViewBag.Dateformat=="")
                        {
                            Dtext = DateTime.Now.ToShortDateString();
                        }}
        <div style="background-color:#E0ECFF;color:black;width:97%;height:180px;">
       <div style="float:left;width:100%;">
        <div style="padding: 7px;font-size: larger;">Batch Info</div>
        <div id="lotdisplay" style="float:left;width:100%;">
            <div style="float:left;width:100%;padding-top: 5px;">
            <div style="float:left;width: 35%;text-align:right;padding-top: 3px;">Lot/Batch</div>
            <div style="float:left;width: 55%;text-align: center;">
                @Html.DropDownList("Lot", null, "--Select--", new { @id = "Lot",@style="width: 125px;height: 22px;"})
                <input id="unitid" style="display:none" type="text" /><input id="Location" style="display:none" type="text" />
            </div></div>
            <div style="float:left;width:100%;padding-top: 10px;"><div  style="float:left;width: 35%;text-align:right;padding-top: 3px;">Expiry Date</div>
            <div  style="float:left;width: 55%;text-align: center;"><input type="text" class="date" name="lotexpiry" id="lotexpirydt" style="width:105px;" value="@Dtext"/></div>
        </div></div>
        <div style="float:left;width:100%;">
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='CANCEL' id='btnlotcancel' value='CANCEL' class='myButton'/></div>
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='OK' id='btnlotok' value='OK' class='myButton'/></div>
            </div>
        </div>
        </div>
    </body>
</html>