﻿@model List<MeBizSuiteAppUI.Controllers.POPrint>
@{
    ViewBag.Title = "Sales Receipt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>

      <script src="~/css/dynamicStyles/jquery.easyui.min.js"></script>
  @*<script src="~/css/dynamicStyles/jquery.min.js"></script>
    <link href="~/css/dynamicStyles/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery.searchabledropdown-1.0.8.min.js"></script>*@
    <link href="~/css/dynamicStyles/icon.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/easyui.css" rel="stylesheet" />
    <link href="~/css/dynamicStyles/Retailstyles.css" rel="stylesheet" />
   <div id="Discountdlg"  style="font-size:11.5px;"></div>
   <div id="Taxdlg"  style="font-size:11.5px;"></div>
   <div id="Paymentdlg"  style="font-size:11.5px;"></div>
   <div id="iNewMDialog" style="font-size:11.5px;display:none"></div>
   <div id="cNewMDialog" style="font-size:11.5px;display:none"></div>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            SalesReceiptDiscPercentagecal();
            //$i("#Itemddl").searchable();
            //$i("#Customerddl").searchable();
            $i('#Itemddl').combobox({
                onSelect: function (value) {
                    var val = $("input[name=Item]").val();
                    if (val != "") {
                        if (!(isNaN(val))) ItemChanges(val);
                    }
                }
            });
            $i('#Itemddl').combobox('textbox').prop('placeholder', 'Scan or enter item information');
            $i('#Customerddl').combobox('textbox').prop('placeholder', 'Enter customer name');
	    //EMPHCS1816 rajasekhar reddy patakota 15/09/2016 Retail Screen changes and operating unit set up to null
            $i('#Attendedbyddl').combobox('textbox').prop('placeholder', 'Enter Attended By');
            $i('#Attendedbyddl').combobox('textbox').prop('readonly', true);

            $i('#Cash').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Credit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Debit').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            $i('#Check').live('click', function (e) {
                var Name = $i(this).val();
                $i('#Type').val(Name);
                var a = $i('#Type').val();
                var totamt = $i('#totamt').text();
                if (totamt > 0)
                    paymentdetails(a);
            });
            function paymentdetails(a) {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 320, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformationEdit?TypeChk=" + a + "");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                });
            }
            function paymentdetailsCash() {
                $i("#Paymentdlg").dialog({
                    autoOpen: false,
                    title: "Payment",
                    modal: true,
                    width: 440,
                    height: 240, resizable: false,
                    closeOnEscape: true
                })
                $i('#Paymentdlg').dialog('open');
                $i('#Paymentdlg').css("background-color", "#E0ECFF");
                $i('#Paymentdlg').css("color", "black");
                $i("#Paymentdlg").show();
                $i("#Paymentdlg").load("/PointOfSales/PaymentInformationCashEdit");
                $i('#Paymentdlg').on('dialogclose', function (event) {
                });
            }
        });
        </script>
    </head>
<body>
    <div class="topHeaderContentBodyInfoEmptyCont">
         @{ List<int> permission = Session["Permission"] as List<int>;}
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                  <input type="button" class="buttonclass" id="btnReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptNew", "ReturnReceipt", new { idi = "3139", FormName = "Return Receipt", ide = Request["ide"] }) + "'")    ; "" /></div>
		
		  </div>
        
          </div>
    @{var m = Model.Where(a => a.rCustomerno != null).FirstOrDefault();}
    <div id="poscreate" style="width:100%;float: left;">
    @*KK Issues By Venkat*@
    <div id="mastercreateSR" class="mastercreateSR">
        @*EMPHCS1821 rajasekhar reddy patakota 23/09/2016 Date Feild Adding in Sales Receipt & Customer Onfly Cahanges*@
        @*<div id="Sales Receipt#" style = "width:Auto" class="posfieldposition">
         <div class="itemlabelSR">Sales Receipt#</div>&nbsp;&nbsp;<div class="custddlposition" id="" >@Html.TextBox("TransNo", "", new { @id ="TransNo", @class = "TextBox", @itemid = "Y" ,  @style = "width:200px;height:25px;border: 1px solid #97c6ed" })</div>
             </div>*@
         <div id="Sales Receipt#"  class="posfieldposition" style="padding-top:5px;">
         <div class="itemlabelSR">Sales Receipt#</div>
              @{ var TransNo = ViewBag.TransNo;
                        if(ViewBag.Dateformat=="")
                        {
                            TransNo = "";
                        }
              <input name="SalesReceipt" id="SalesReceipt#" type="text"  readonly="true" value="@m.TransNo" class="TransNo" style="width:200px;height:25px;border: 1px solid #97c6ed" />
              }
             </div>
        <div id="Date"  class="posEditDatefieldpositionS" style="padding-top:5px;">
          <div class="itemlabelSR">Date</div><div style="float: left;" id="crDate">
              @{ 
                  var Dtext=Convert.ToDateTime(@m.Date).ToString(ViewBag.Dateformat);
                  if (ViewBag.Dateformat == "")
                  {Dtext = Convert.ToDateTime(@m.Date).ToShortDateString();}
              <input name="Date" id="CreatedDate" type="text" readonly="true" value="@Dtext" class="date" style="background-color:white;width:200px;"/>
              }
         </div></div> 
        @*<div id="Item"   class="posEditDatefieldpositionS" style="padding-top:5px;">
         <div class="itemlabelSR">Item</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:200px;height:30px;" })</div>
        </div>*@
        <div id="Customer"  class="posfieldposition" style="padding-top:5px">
        <div class="itemlabelSR">Customer</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Customer", null, "", new { @id = "Customerddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:200px;height:30px;",@readonly="true" })</div></div>
          </div>
        <div id="mastercreateSRRI" class="mastercreateSRRI"  >
        <div class="posfieldpositionSR" style="padding-top:12px">
            <div class="itemlabelSR">UPC#</div>&nbsp;&nbsp;<div class="custddlposition">@Html.TextBox("UPC", "", new { @id = "UPC", @class = "TextBox", @itemid = "Y", @style = "width:200px;height:22px;border: 1px solid #97c6ed;float: left;" })</div>
        </div>
        <div id="Item" class="posEditCustfieldpositionSR" style="padding-top:12px;">
         <div class="itemlabelSR">Item</div>&nbsp;&nbsp;<div class="itemddlposition">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "", new { @id = "Itemddl", @class = "ddl easyui-combobox", @itemid = "Y" , @style = "width:200px;height:30px;" })</div>
        </div>
        <div id="Memo" class="posfieldpositionSR" style="padding-top:12px;">
         <div class="itemlabelSR">Memo</div>&nbsp;&nbsp;<div class="custddlposition" >@Html.TextArea("Memo", @m.Memo, new { @id ="MemoTxtArea", @class = "TextArea", @itemid = "Y" ,  @style = "width:200px;height:22px;border: 1px solid #97c6ed" })</div>
       </div>
        <div id="TaxTypediv" class="posfieldpositionSR" style="padding-top:12px;">
            <div class="itemlabelSR">Amount are in</div>&nbsp;&nbsp;<div class="custddlposition">@Html.DropDownList("Amtin", null, "--Select--", new { @id = "Amtinddl", @class = "ddl", @itemid = "Y", @style = "width:160px;height:30px;" })</div>
       </div>
            <div style="padding-top:35px;">
            @* <input type="button" class="myButtonline" id="btnReturn"  value="Return"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptNew", "ReturnReceipt", new { idi = "3139", FormName = "Return Receipt", ide = Request["ide"] }) + "'")    ; "" />*@
        </div>
            </div>
    </div>
    <div id="iteminfo" class="griddisplay" style="height:100px; overflow:scroll">
        @{
            var db = WebMatrix.Data.Database.Open("sqlcon");
	    @*//EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen*@
            var books = db.Query(@"SELECT ROW_NUMBER() OVER (ORDER BY l.COLUMN02) [S.No],l.COLUMN03 UPC, m.COLUMN04 [Item/Product], u.COLUMN04 Units, l.COLUMN10 Qty, l.COLUMN13 Price, cast(isnull(l.COLUMN10,0)*isnull(l.COLUMN13,0) as decimal(18,2)) Amount,l.COLUMN06 [Desc],lt.COLUMN04 Lot,iif(isnull(l.COLUMN35,0)=0,isnull(l.COLUMN13,0),isnull(l.COLUMN35,0))Rate,isnull(l.COLUMN14,0)InclusiveTotal FROM SATABLE009 h inner join SATABLE010 l on l.COLUMN15=h.COLUMN01 and l.COLUMNA03=h.COLUMNA03 and isnull(l.COLUMNA13,0)=0
left JOIN MATABLE007 m  ON m.COLUMN02 = l.COLUMN05 left JOIN FITABLE043 lt  ON lt.column02=l.COLUMN31 left JOIN MATABLE002 u  ON l.COLUMN24 = u.COLUMN02  where h.column02=" + @Request["ide"] + "");                                                   
     var grid = new WebGrid(books,canPage:false,canSort:false);                                                         
}
         @*EMPHCS1821 rajasekhar reddy patakota 23/09/2016 Date Feild Adding in Sales Receipt & Customer Onfly Cahanges*@
         @grid.GetHtml(tableStyle: "Retailwebgrid-table",
            headerStyle: "Retailwebgrid-header",
            footerStyle: "Retailwebgrid-footer",
                alternatingRowStyle: "Retailwebgrid-alternating-row",
            rowStyle: "Retailwebgrid-row-style", htmlAttributes: new { id = "grdData" },
    columns :(
    //EMPHCS1820 rajasekhar reddy patakota 22/09/2016 Adding Item Description in Sales Receipt screen
    grid.Columns(grid.Column("S.No", style: "col1"), grid.Column("UPC", style: "col8"),grid.Column("Item/Product",style: "col2"),grid.Column("Desc",style: "col7"),
    grid.Column("Units",style: "col3"),grid.Column("Qty",style: "col4"),grid.Column("Price",style: "col5"),
   grid.Column("Amount",style: "col6")))
)
    </div>
        <div id="paymentinfo" style="border-bottom:1px solid;">
            <div style="width:45%; float:left">
                <div>
                     @foreach (var item12 in ViewBag.pitemsdata)
                     {
                         <div class="totallbls" style="text-align:left">The amount Paid through @item12["PayType"] : @item12["Payment"] </div>
                     }
                </div>
		@*//EMPHCS1816 rajasekhar reddy patakota 15/09/2016 Retail Screen changes and operating unit set up to null*@
                <div id="Attendedby" style="padding:5px; float:left">
                <div class="itemlabelSR">Attended By</div>&nbsp;&nbsp;<div class="custddlposition" id="">@Html.DropDownList("Attendedby",null, "", new { @id = "Attendedbyddl", @class = "ddl easyui-combobox", @itemid = "Y", @style = "width:250px;height:30px;" })</div>
                </div>
        <div id="HeaderDiscount" style="float:left;padding-top:3px;">
        <div class="itemlabelSR">Discount</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="headerleveldiscountamt" placeholder="Enter Discount in Amount" value="@m.DiscountAmount" readonly="true"/><input type="text" style = "width:150px;height:20px;margin-left:5px;" id="headerleveldiscountper" placeholder="Enter Discount in Percentage"  readonly="true"/></div>
       </div>
        <div id="RoundOff" style="float:left;padding-top:3px;">
        <div class="itemlabelSR">Round Off</div>&nbsp;&nbsp;<div class="custddlposition" id=""><input type="text" style = "width:150px;height:20px;" id="roundoffadjamt" placeholder="Enter Round Off Value" value="@m.RoundOff" readonly="true"/></div>
       </div>
            </div>
            <div class="totalinfo">
                
          <div>  <div class="totallbls">No. of Items Sold</div><div id="totitems" class="totaltxts"> @m.rNoofitems</div> </div>
          <div>  <div class="totallbls">Total Quantity Sold</div><div id="totqty" class="totaltxts">@m.rTotalItems</div> </div>
          <div>  <div class="totallbls">SubTotal</div><div id="subtot" class="totaltxts">@m.rSubTotal</div> </div>
          <div>  <div class="totallbls">Discount</div><div id="totdis" class="totaltxts">@m.rDiscount</div> </div>
          <div>  <div class="totallbls">Tax</div><div id="tottax" class="totaltxts">@m.rTax</div> </div>
          <div>  <div class="totalamtlbl">Total</div><div id="totamt" class="totalamttxt">@m.rTotal</div> </div>
        </div></div>
        <div id="paymenttype" >
        <div style="float:left;width:65%;">
        @*<input type="button" name="Cash" id="Cash" value="Cash" class="myButtonline"/>
        <input type="button" name="Credit" id="Credit" value="Credit"  class="myButtonline"/>
        <input type="button" name="Debit" id="Debit" value="Debit" class="myButtonline"/>
        <input type="button" name="Check" id="Check" value="Check" class="myButtonline"/>*@
        </div>  <div style="width:35%;float:right;">
    <div class="totalduelbl">Amount Due</div>
            <div id="totdue" class="totalduetxt">@m.rDueamt</div>
                </div>
        </div>
        <div id="Savetypes" style="width:100%"><div style="width:80%;float:right"></div>
        <div style="width:30%;float:right;text-align:right;"><input type="button" name="Cancel" id="Cancel" value="Cancel"  class="myButtonline"  onclick="@("window.location.href='" + @Url.Action("PointOfSalesInfo", "PointOfSales", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = "null"}) + "'")    ; "/>
        @*<input type="submit" name="Save" id="btnposSave" value="Save"  class="myButtonline" disabled="disabled" />
        <input type="button" name="Print" id="SavePrint" value="Print" class="myButtonline" disabled="disabled" />*@
            @{var idPrint = Request["ide"];}
            @if (Convert.ToString(Session["AcOwner"])=="56621")
            {
        @Html.ActionLink("Print", "InvoiceRetail", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont",style="width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56637")
            {
        @Html.ActionLink("Print", "InvoiceRetailflytees", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56645")
            {
        @Html.ActionLink("Print", "InvoiceRetailHerbal", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56635" || Convert.ToString(Session["AcOwner"]) == "56645" || Convert.ToString(Session["AcOwner"]) == "56637")
            {
        @Html.ActionLink("Print", "InvoiceRetailTRZ", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56671") {
                @Html.ActionLink("Print", "InvoicePrintLol", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56672") {
                @Html.ActionLink("Print", "InvoicePrintLalEnterprices", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56673")
            {
                @Html.ActionLink("Print", "InvoicePrintLalSanitationHome", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56670")
            {
                @Html.ActionLink("Print", "InvoicePrintGst", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56688")
            {
                @Html.ActionLink("Print", "InvoiceRetailolive", new { controller = "PrintNew", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56739")
            {
                @Html.ActionLink("Print", "InvoicePrintGST", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else if (Convert.ToString(Session["AcOwner"]) == "56740" || Convert.ToString(Session["AcOwner"]) == "56741" )
            { @Html.ActionLink("Print", "InvoiceCustom", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
            else
            { @Html.ActionLink("Print", "RetailPrint", new { controller = "Print", @sono = idPrint }, new { target = "_blank", @class = "myButtonline linkFont", style = "width:30px;float:right;margin-left:3px" })
            }
        </div>
            <input type="text"  style="display:none;" id="initdue" value=""/>
            <input type="text"  style="display:none;" id="inittax" value="@m.rPayAcc"/>      
               <input type="text"  style="display:none;" id="Type" value=""/>
            <input type="text"  style="display:none;" id="CardNo1" value="@m.rcardNo"/>
            </div>
    </div>
    
</body>
</html>