﻿@{
    ViewBag.Title = "Sales Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            cache: false
        });
        function showDetails() {
            alert("showing some details");
        }
        var tbl = $('#grdfData').DataTable({
            "filter": false,
            "iDisplayLength": 20,
            "pagingType": "simple_numbers",
            "orderClasses": false,
            "order": [[0, "asc"]],
            "info": false,
            "searching": true,
            "scrollCollapse": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/WebService.asmx/GetTableData?FormName='" + $("#FormName").val() + "'&ViewSort='" + $("#formidi").val() + "'&SortByStatus='0'&ItemType='0'",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "roleId", "value": "admin" });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (msg) {
                        debugger
                        if (msg.d != "") {
                            var json = jQuery.parseJSON(msg.d);
                            fnCallback(json);
                        }
                        else $(".dataTables_processing").css("visibility", "collapse");
                        $("#grdfData").show();
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            },
            fnDrawCallback: function () {
                $('.image-details').bind("click", showDetails);
            }
        });
        $("[id*=btnDelete]").live("click", function () {
            var ide = $(this)["0"].attributes["0"].value;
            DeleteSuccessMessage(ide, '@Request["FormName"]', '@Session["id"]');
        });
        $("#infoData").live("click", function () {
            $("#divLoading").show();
            var RowNo = $(this).attr('pattern');
            var Query = $(this).attr('itemid'); var FormName = '@Request["FormName"]';
            $.ajax({
                url: "/PointOfSales/ItemFullGridFill?FormName=" + FormName + "",
                type: "POST",
                data: JSON.stringify({ Query: Query, FormName: FormName, RowNo: RowNo, Type: 'Next' }),
                dataType: "json", cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#grdfData').remove();
                    $('#infogridContent').html(data.grid);
                    $('#grdfData').DataTable({
                        "iDisplayLength": 20
                    });
                    if (parseFloat(data.rowscnt) > (parseFloat(RowNo) + 100))
                        $("#infoData").attr('pattern', parseFloat(RowNo) + 100);
                    else
                        $("#infoData").css('display', 'none');
                    $("#infoPrevData").attr('pattern', parseFloat(RowNo) - 1);
                    $("#infoPrevData").css('display', 'block');
                    $("#divLoading").hide();
                }
            });
                });
        $("#infoPrevData").live("click", function () {
            $("#divLoading").show();
            var RowNo = $(this).attr('pattern');
            var Query = $(this).attr('itemid'); var FormName = '@Request["FormName"]';
            $.ajax({
                url: "/PointOfSales/ItemFullGridFill?FormName=" + FormName + "",
                type: "POST",
                data: JSON.stringify({ Query: Query, FormName: FormName, RowNo: RowNo, Type: 'Prev' }),
                dataType: "json", cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#grdfData').remove();
                    $('#infogridContent').html(data.grid);
                    $('#grdfData').DataTable({
                        "iDisplayLength": 20
                    });
                    $("#infoData").attr('pattern', parseFloat(RowNo) + 1);
                    $("#infoPrevData").css('display', 'block');
                    $("#infoData").css('display', 'block');
                    if (parseFloat(RowNo) - 100 > 1)
                        $("#infoPrevData").attr('pattern', parseFloat(RowNo) - 100);
                    else
                        $("#infoPrevData").css('display', 'none');
                    $("#divLoading").hide();
                }
            });
        });
    });
    
</script>
</head>
<body>
    <div id="divLoading">
        <p>
            <img src="~/Images/ajax-loading.gif"><br />
            Loading, please wait...
        </p>
    </div>
    <input type="hidden" id="FormName" value="@Session["FormName"]" />
    <input type="hidden" id="formidi" value="@Session["idi"]" />
     <div class="topHeaderContentBodyInfoEmptyCont">
         @{ List<int> permission = Session["Permission"] as List<int>;}
           @{ var infospace = " | ";}
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("PointOfSalesInfo", "PointOfSales", new { idi = Request["idi"], FormName = Request["FormName"] }) + "'")    ;  " /></div>
		  <div class="btnContleft">    @if (permission.Contains(22935))
                                 {  <input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("Create", "PointOfSales", new { idi = Request["idi"], FormName = Request["FormName"], ide = "null" }) + "'")    ; " />
         }
		  </div>
        
          </div>
        </div>
              <div id="Content" class="overflowGrid">
                  <div id="infogridContent">
              <table id="grdfData">  
           <thead>
              <tr class="gridStyle">
              @foreach (var result in ViewBag.Columns)
              {
                  if (@result == "ID")
                  {<th></th>
                  }
                  else
                  {
                 <th>@result</th>}
              }
              </tr>
           </thead>
           <tbody></tbody>
        </table>
        </div>
    </div></div>
</body>
</html>