﻿<html>
     <head>  
   <div id="Priceleveldlg"  style="font-size:11.5px;"></div>
    <script src="~/Content/formbuildjquery.js"></script>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i(function () {
                var Qty = '@Request["Qty"]';
                var Price = '@Request["Price"]';
                var TaxType = '@Request["TaxType"]';
                var Amtin = '@Request["Amtin"]';
                var PriceLevel = '@Request["PriceLevelId"]';
                var Date = '@Request["Date"]';
                $("#PriceLevel").val(PriceLevel);
                if (Qty == "" || typeof (Qty) == "undefined") Qty = 0;
                if (Price == "" || typeof (Price) == "undefined") Price = 0;
                if (PriceLevel == "" || typeof (PriceLevel) == "undefined") PriceLevel = "1000";
                if (taxtype == "" || typeof (taxtype) == "undefined") taxtype = "1000";
                $i("#Amtin").attr("value", Amtin); $i("#lineqty").attr("value", Qty); $i("#lineprice").attr("value", Price);
                $i("#taxtype").attr("value", TaxType); $("[id='HDate']").val(Date);
                if (PriceLevel != "1000")
                    SalesReceiptItemPriceLevelcal(PriceLevel, Price, '@Session["OPUnit1"]', Qty, Date);
                SalesReceiptItemtaxamount(TaxType);
            });
            $i('#PriceLevel').on("change", function () {
                var Price = $("#lineprice").val();
                var PriceLevel = $(this).val();
                var TaxType = $("#taxtype").val();
                var Qty = $("#lineqty").val();
                var Date = $("[id='HDate']").val();
                if (PriceLevel == "" || typeof (PriceLevel) == "undefined") PriceLevel = "1000";
                if (taxtype == "" || typeof (taxtype) == "undefined") taxtype = "1000";
                if (Price == "" || typeof (Price) == "undefined") Price = "0";
                SalesReceiptItemPriceLevelcal(PriceLevel, Price, '@Session["OPUnit1"]', Qty, Date);
                SalesReceiptItemtaxamount(TaxType);
            });
            $i('#btnpricelevelok').on("click", function () {
                var tbl = $("#grdData")[0];
                var qty = $('#lineqty').val();
                var price = $('#lineprice').val();
                var taxamt = $('#taxval').val();
                var taxtype = $('#taxtype').val();
                var Rate = $('#LineRate').val();
                var discamt = $('#lineDisc').val();
                var PriceType = $('#LinePriceType').val();
                var PriceLevel = $("[id='PriceLevel']")[0].value;
                var InclusiveTotal = $('#LineInclusiveTotal').val();
                if (discamt == "" || typeof (discamt) == "undefined") discamt = 0;
                discamt =(parseFloat(discamt) *parseFloat( qty)).toFixed(2);
                if (Rate == "" || typeof (Rate) == "undefined") Rate = 0;
                if (InclusiveTotal == "" || typeof (InclusiveTotal) == "undefined") InclusiveTotal = 0;
                if (PriceType == "" || typeof (PriceType) == "undefined") PriceType = "";
                if (taxtype == "" || typeof (taxtype) == "undefined") taxtype = "1000";
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        //$i(tr).find('#Amount').val(qty);
                        $i(tr).find('#TaxType').attr('value', taxtype);
                        $i(tr).find("[id='Rate']").remove();
                        $i(tr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'Rate' }).val(Rate));
                        $i(tr).find("[id='InclusiveTotal']").remove();
                        $i(tr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'InclusiveTotal' }).val(InclusiveTotal));
                        $i(tr).find("[id='PriceLevelId']").remove();
                        $i(tr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'PriceLevelId' }).val(PriceLevel));
                        $i(tr).find("[id='PriceType']").remove();
                        $i(tr).find("[id='Price']").after($('<input>').attr({ type: 'hidden', id: 'PriceType' }).val(PriceType));
                        $i(tr).find('#dTaxamt').text(taxamt);
                        $i(tr).find('#chkrow').val(0);
                        $i(tr).find('#ddiscount').text(discamt);
                        GetRetailTransCalc(tr, "Line");
                        break;
                    }
                }
                $i('#Priceleveldlg').dialog('close');
                //SalesReceiptLinecalculations();
            });
            $i('#btnpricelevelcancel').on("click", function () {
                var tbl = $("#grdData")[0];
                for (var irow = 1; irow < tbl.rows.length  ; irow++) {
                    var tr = tbl.rows[irow];
                    var rowchk = $i(tr).find("[id='chkrow']").val();
                    if (rowchk == 1 || rowchk == "1") {
                        $i(tr).find('#chkrow').val(0);
                    }
                }
                $i('#Priceleveldlg').dialog('close');
            });
        });
        </script>
 </head>
    <body>
        <div style="background-color:#E0ECFF;color:black;width:97%;height:180px;">
       <div style="float:left;width:100%;">
        <div style="padding: 7px;font-size: larger;">PriceLevel Information</div>
        <div id="plevelcal" style="float:left;width:100%;">
            <div style="float: left;width: 100%;padding: 6px;">
            <div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Price Level</div> </div>
            <div style="float: left;width: 45%;"><div style="float:left;width: 28%;text-align: right;">@Html.DropDownList("PriceLevel", null, "--Select--", new { @id = "PriceLevel",@style="width: 100px;height: 22px;"})</div></div></div>

            <div style="float: left;width: 100%;"><div style="float: left;width: 45%;padding: 3px;"></div><div  style="float:left;width: 30%;text-align:left;padding-left: 7px;" id="plamt"></div> </div>
            <div style="float: left;width: 100%;padding: 6px;"><div style="float: left;width: 45%;padding: 3px;"><div  style="float:left;text-align:right;padding-right:3px;width: 97%;font-size: larger;">Amount</div> </div>
            <div style="float: left;width: 45%;"><div  style="float:left;width: 30%;text-align: right;"><input type="text" name="discrate" id="discrate" style="width:95px;" readonly="true"/><input type="text" name="lineqty" id="lineqty" style="display:none;"/><input type="text" name="taxtype" id="taxtype" style="display:none;"/><input type="text" name="taxval" id="taxval" style="display:none;"/>
            <input type="text" name="lineprice" id="lineprice" style="display:none;"/><input type="text" name="Amtin" id="Amtin" style="display:none;"/><input type="text" name="HDate" id="HDate" style="display:none;"/></div></div>
           </div>

        </div>
        <div style="float:left;width:100%;">
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='CANCEL' id='btnpricelevelcancel' value='CANCEL' class='myButton'/></div>
            <div style="float:right;padding:12px 5px 2px 8px;"><input type='button' name='OK' id='btnpricelevelok' value='OK' class='myButton'/></div>
            </div>
        </div>
        </div>
    </body>
</html>