﻿@model eBizSuiteAppModel.Table.tbl_EmployeeMaster

@{
    ViewBag.Title = "EditEmployeeMaster";
  Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

    </head>
    <body style="">

@using (Html.BeginForm("UpdateEmployeeMaster", "EmployeeMaster", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset style ="background-color:skyblue">
        <legend>EmployeeMaster</legend>

        <table>
            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.EmployeeID)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.EmployeeID)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div></td>
            </tr>
             <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.EmployeeName)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName)
            @Html.ValidationMessageFor(model => model.EmployeeName)
        </div></td>
            </tr>
            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>
</td>
            </tr>

        </table>

        
        

        

        
        
        <p>
            <input type="submit" value="Update" />
             <button name="ClientCancel" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("EmployeeMasterDetailes", "EmployeeMaster"))" style="display:none;"></a>
      
        </p>
    </fieldset>
    
}
         </body>

    </html>



@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
