﻿@model IEnumerable<eBizSuiteAppModel.Table.CONTABLE021>
@using DayPilot.Web.Mvc;
@using WebMatrix.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE>
<html>
<head>
	@*EMPHCS711 Rajasekhar Patakota 20/7/2015 KpIs Setup For Home Page*@
    @*<script src="~/Content/Tabs/jquery-2.1.1.min.js"></script>*@
    @*<script src="~/Content/Tabs/MyChart.js"></script>*@
   @* <script src="~/Content/Tabs/jsapi.js"></script>*@
     <script src="~/Content/formbuildjquery.js"></script>
    <script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <script type="text/javascript">
        function createEvent(start, end) {
            var name = prompt("New Event Name:", "New Event");
            if (!name) { return; }
            dp.timeRangeSelectedCallBack(start, end, { name: name });
            dp.clearSelection();
        }
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
            $("#sortable2").sortable();
            $("#sortable2").disableSelection();
        });
        $(document).ready(function () {
            if ('@ViewBag.hPage' == "KPIs") {
                $("#kpis").show();
                $("#ManageActs").hide();
            }
            else {
                $("#kpis").hide();
                $("#ManageActs").show();
            }
			@*EMPHCS711 Rajasekhar Patakota 20/7/2015 KpIs Setup For Home Page*@
            InfoHeight(0);
	        @*EMPHCS1207  rajasekhar reddy patakota 25/09/2015 Auto Feild Configuration Setup For Location and adding success messages*@
            if('@Session["id"]'==1387)
            {
                AutoFeildConfigSetup();
            }
            dateupdate();
        });
    </script>
    <title></title>
</head>

<body>
    <div class="empInfo" id="ManageActs">
        <div class="rowCont" id="toppos">
            <ul id="sortable1">
                <li class="ui-state-default3">
                    <div class="empInfoChatC">
                        <div class="header">
                            <div style="float: left;">
                                <a href="javascript:dp.commandCallBack('previous');" style="color: white; text-decoration: none;">◄</a> |
    @*<a href="javascript:dp.commandCallBack('today');" style="color:white;text-decoration: none;">▼</a> |*@
                                <a href="javascript:dp.commandCallBack('next');" style="color: white; text-decoration: none;">►</a>
                            </div>
                            Calendar
                        </div>
                        @*<img src="~/EmployeeMaster/MyChart" />*@
                        @*@Html.DayPilotMonth("dp", new DayPilotMonthConfig
{
    BackendUrl = Url.Content("~/Calendar/Backend"),
    //EventMoveHandling = DayPilot.Web.Mvc.Events.Month.EventMoveHandlingType.CallBack,
})*@
                        <div class="calInfo">

                            @(Html.DayPilotMonth("dp", new DayPilotMonthConfig
                        {
                            BackendUrl = Url.Content("~/Calendar/Backend")
                            //,

                            //TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Month.TimeRangeSelectedHandlingType.JavaScript,
                            //TimeRangeSelectedJavaScript = "createEvent(start, end)",
                            //EventMoveHandling = DayPilot.Web.Mvc.Events.Month.EventMoveHandlingType.CallBack,
                            //EventResizeHandling = DayPilot.Web.Mvc.Events.Month.EventResizeHandlingType.CallBack
                        }))
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="sortable">
                <li class="ui-state-default1">
                    <div class="empInfoChat">
                        <div class="header">Task Management </div>
                        @*<img src="~/EmployeeMaster/MyChart2"  />*@


                        <div class="overflowInfo">


                            @{
                                List<WebGridColumn> columns = new List<WebGridColumn>();
                                var grid = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: true, canSort: false);
                                grid.Bind(ViewBag.taskdata);
                                columns.Add(new WebGridColumn() { ColumnName = "COLUMN05", Header = "Description" });
                                columns.Add(new WebGridColumn() { ColumnName = "COLUMN09", Header = "Start Date" });
                                columns.Add(new WebGridColumn() { ColumnName = "COLUMN13", Header = "Duration" });}
                            <div class="overflowInfoGrid">
                                @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: columns)
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default1">
                    <div class="empInfoChat">
                        <div class="header">Bulletin Board</div>
                        @*<img src="~/EmployeeMaster/MyChart3"  />*@

                        <div class="overflowInfo">


                            @{
                                List<WebGridColumn> columns1 = new List<WebGridColumn>();
                                var grid1 = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: true, canSort: false);
                                grid1.Bind(ViewBag.itemsdata);
                                columns1.Add(new WebGridColumn() { ColumnName = "COLUMN05", Header = "Bulletin Board" });}
                            <div class="overflowInfoGrid">
                                @grid1.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: columns1)
                            </div>
                        </div>

                    </div>
                </li>
                <li class="ui-state-default1">
                    <div class="empInfoChat">
                        <div class="header">Scheduled Tasks</div>
                        @*<img src="~/EmployeeMaster/MyChart2"  />*@


                        <div class="overflowInfo">


                            @{
                                List<WebGridColumn> columns2 = new List<WebGridColumn>();
                                var grid2 = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: true, canSort: false);
                                grid2.Bind(ViewBag.schdata);
                                columns2.Add(new WebGridColumn() { ColumnName = "COLUMN05", Header = "Description" });
                                columns2.Add(new WebGridColumn() { ColumnName = "COLUMN07", Header = "Start Date" });
                                columns2.Add(new WebGridColumn() { ColumnName = "COLUMN08", Header = "End Date" });}
                            <div class="overflowInfoGrid">
                                @grid2.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: columns2)
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default1">
                    <div class="empInfoChat">
                        <div class="header">Recent Transactions</div>
                        @*<img src="~/EmployeeMaster/MyChart3"  />*@

                        <div class="overflowInfo">


                            @{
                                List<WebGridColumn> columns3 = new List<WebGridColumn>();
                                var grid3 = new WebGrid(null, ajaxUpdateContainerId: "deploymentsGrid", canPage: true, canSort: false);
                                grid3.Bind(ViewBag.recent);
                                columns3.Add(new WebGridColumn() { ColumnName = "COLUMN04", Header = "Tran#" });
                                columns3.Add(new WebGridColumn() { ColumnName = "COLUMN15", Header = "Date" });
                                columns3.Add(new WebGridColumn() { ColumnName = "COLUMN22", Header = "Price" });
                                }
                            <div class="overflowInfoGrid">
                                @grid3.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    htmlAttributes: new { id = "DataTable" },
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: columns3)
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="empInfo" id="kpis">
        <div class="rowCont" id="toppos">
            <ul id="sortable2">
                        @{
							@*EMPHCS711 Rajasekhar Patakota 20/7/2015 KpIs Setup For Home Page*@
                            List<string> counter = ViewBag.chartname;
              
}
@foreach (var item in counter)
{
                <li class="ui-state-default2">
                    <div  class="empInfoChat" id="@item">
@*<img  src="@Url.Action("MyCharts1", "EmployeeMaster")"/>*@
    
                    </div>
                </li>
      
}
               
            </ul>
        </div>
    </div>
</body>
	@*EMPHCS711 Rajasekhar Patakota 20/7/2015 KpIs Setup For Home Page*@
     <script type="text/javascript">
         if ('@ViewBag.hPage' == "KPIs") {
             for (var m = 0; m < '@ViewBag.ids'; m++) {
                 var id =@Html.Raw(Json.Encode(@ViewBag.kpilist));
                 id =id[m];
                 $.ajax({
                     type: 'GET',
                     contentType: 'application/json; charset=utf-8',
                     url: '/EmployeeMaster/MyCharts1?id='+id+'',
                     dataType: "json",
                     success: function (browserdisplayData) {
                         $("#ManageActs").remove();
                         var browsersData = browserdisplayData.query1;
                         var title = browserdisplayData.title;
                         var charttype = browserdisplayData.charttype;
                         var data = new google.visualization.DataTable();
                         // assumes "word" is a string and "count" is a number
                         data.addColumn('string', 'word');
                         data.addColumn('number', 'count');
                         for (var i = 0; i < browsersData.length; i++) {
                             data.addRow([browsersData[i].name, browsersData[i].amt]);
                         }
                         var options = {
                             title: title,
                             is3D: true
                         };
                         var chart = 0;
                         if(charttype=="pie"){
                             chart =new google.visualization.PieChart(document.getElementById(charttype));}
                         else if(charttype=="column"){
                             chart =new google.visualization.ColumnChart(document.getElementById(charttype));}
                         else if(charttype=="area"){
                             chart =new google.visualization.AreaChart(document.getElementById(charttype));}
                         else if(charttype=="line"){
                             chart =new google.visualization.LineChart(document.getElementById(charttype));}
			             //EMPHCS1068 rajasekhar reddy patakota 29/08/2015 Adding new info in kpis
                         else if(charttype=="donutchart"){
                              options = {title: title,pieHole: 0.3};
                              chart =new google.visualization.PieChart(document.getElementById(charttype));}
                         else if(charttype=="steppedArea"){
                             chart =new google.visualization.SteppedAreaChart(document.getElementById(charttype));}
                         chart.draw(data, options);
                     },
                     error: function (data) {
                         //alert("Error In getting Records");
                     }
                 });
             }
         }
     </script> 
</html>
