﻿@model eBizSuiteAppModel.Table.tbl_EmployeeMaster

@{
    ViewBag.Title = "NewEmployeeMaster";
   Layout = null;
}
<div style ="background-color:skyblue">
<h2>NewEmployeeMaster</h2>
    

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)

    <fieldset style ="background-color:skyblue">
        <legend>EmployeRegistration</legend>
        <table >
            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.EmployeeID)
        </div></td>
                <td><div class="editor-field">
                    @Html.TextBoxFor(model => model.EmployeeID)
          @*  @Html.EditorFor(model => model.EmployeeID)*@
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div></td>
            </tr>

            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.EmployeeName)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName)
            @Html.ValidationMessageFor(model => model.EmployeeName)
        </div></td>
            </tr>

            <tr>
                <td> <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div></td>
            </tr>
        
            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.TypeOfBusines)
        </div></td>
                <td> <div class="editor-field">
            @Html.EditorFor(model => model.TypeOfBusines)
            @Html.ValidationMessageFor(model => model.TypeOfBusines)
        </div></td>
            </tr>
       
            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div></td>
                <td><div class="editor-field">
             @Html.CheckBox("IsActive")
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
</td>
            </tr>

            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div></td>
            </tr>

            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div></td>
                <td><div class="editor-field">
            @Html.CheckBox("Password")
            @Html.ValidationMessageFor(model => model.Password)
        </div></td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Create" />
            <button name="ClientCancel" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("EmployeeMasterDetailes", "EmployeeMaster"))" style="display:none;"></a>
           
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back to List", "EmployeeMaster")
</div>*@

    </div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
