﻿@model eBizSuiteAppModel.Table.tbl_AppOwnerMaster


@{
    ViewBag.Title = "AdvanceSearch";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div style="">

  @using (Html.BeginForm())
 {
<form >
    <div id="grid1">
        <table >
            <tr>
                <td>
                    ApplicationOwnerId:
                </td>
                <td>
                    <input type="text" name="ApplicationOwnerId" value="@Request["ApplicationOwnerId"]" />
                </td>
            </tr>
            <tr>
                <td>
                    AppOwnerUserName
                </td>
                <td>
                    <input type="text" name="AppOwnerUserName" value="@Request["AppOwnerUserName"]" />
                </td>
            </tr>
            <tr>
                <td>
                    CompanyName:
                </td>
                <td>
                    <input type="text" name="CompanyName" value="@Request["CompanyName"]" />
                </td>
            </tr>
            <tr>
                <td>
                     <input type="submit" value="Search" class="btnAdvSearch" />
                </td>
                <td>
                     <button name="ClientCancel" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("AppOwnerMasterDetailes", "AppOwnerMaster"))" style="display:none;"></a>
           
                </td>
            </tr>
        </table>
       
      
    </div>

</form>
  }
<script type="text/javascript">
    $(function () {
        $('th a, tfoot a').live('click', function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
</script>
      </div>
@*@section script{
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

