﻿@{
    ViewBag.Title = "Return Receipt";
                       //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8"/>
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="~/css/dynamicStyles/FormBuilding.css" rel="stylesheet" />
    <script src="~/Content/formbuildjquery.js"></script>
    <link href="~/css/dynamicStyles/cssStyles.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        var $i = jQuery.noConflict();
        $i(document).ready(function () {
            $i("#tabs").tabs();
            $i("#SATABLE006COLUMN26").val(1000);
            $i("#SATABLE005COLUMN31").val(1000);
            $i("#SATABLE005COLUMN29").val(1003);
            $i("#SATABLE005COLUMN24").val('@Session["OPUnit1"]');
            var ReceiptID='@Request["ide"]';
            if (ReceiptID != null || ReceiptID != '')
                ReturnReceiptfill(ReceiptID);
            dateupdate();
            $('#btnSave').on('click', function (e) {
                ReturnSaveForm();
            });
            //Return Details
            $("[id*=SATABLE005COLUMN33]").live("change", function () {
                ReturnReceiptfill($(this).val());
            });
            //uncheck row
            $("[id*=checkRow]").live("change", function () {
                ReturnReceiptQuantityTaxCalculation($(this).closest("tr"));
            });
            //Price
            $("[id*=SATABLE006COLUMN09]").live("change", function () {
                ReturnReceiptQuantityTaxCalculation($(this).closest("tr"));
            });
            //Quantity
            $("[id*=SATABLE006COLUMN07]").live("change", function () {
              // SOReturnCreditMemoQtyCheck($i(this).parent().parent()); 
                ReturnReceiptQuantityTaxCalculation($(this).closest("tr"));
            });
            //select Customer geting adress
            $i("#SATABLE005COLUMN05").change("change", function () {
                ddlSelectStaticCustomer($i(this).val());
            });
            //Header Checkbox Selection
            $i('#SATABLE005COLUMN07').click(function () {
                var checkval = $i(this).is(':checked');
                SOCheckBox(checkval);
            });
            $i('#cancelrow').live("click", function () {
                var tbl = $("#grdData")[0];
                if (tbl.rows.length > 2) {
                    $('#grdData > tbody:last tr:last').remove();
                    Alert.render('one row deleted......'); $("#alertok").focus();
                    var tr = $('#grdData > tbody:last tr:last');
                    ReturnReceiptQuantityTaxCalculation(tr);
                }
                else {
                    Alert.render('Cancel Row permited, when more than one row exists in Grid......'); $("#alertok").focus();
                    return false;
                }
            });
            $i('#newrow').live("click", function () {
                var tr = $('#grdData > tbody:last tr:last');
                tr = tr[0].outerHTML;
                var  flag = false;
                flag =NewrowManCheck("", "");
                if (flag == false) $('#grdData').append(tr);
            });
            //Line Tax
            $("[id*=SATABLE006COLUMN26]").live("change", function () {
                var tr=$(this).closest("tr");
                var taxtype=$(tr).find("#SATABLE006COLUMN26").val();
                var TaxCal = $(tr).find("#SATABLE006COLUMN25").val();
                $.ajax({
                    url: "/ReturnReceipt/GetTaxAmount",
                    type: "POST",
                    data: JSON.stringify({ TaxType: taxtype, TaxCal: TaxCal }),
                    dataType: "json", cache: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Tax != '') {
                            $(tr).find("#aSATABLE006COLUMN26").val(result.Tax);
                            var amt = (parseFloat(result.TaxCal) * (parseFloat(result.Tax) / 100)).toFixed(2);
                            $(tr).find("#aSATABLE006COLUMN25").val(amt);
                        }
                        else { $(tr).find("#aSATABLE006COLUMN26").val(0); $(tr).find("#aSATABLE006COLUMN25").val(0); }
                        ReturnReceiptQuantityTaxCalculation(tr);
                    }});
            });
        });
        </script>
    </head>
<body>
@*    @using (Html.BeginForm("Create", "PointOfSales", FormMethod.Post, new { enctype = "multipart/form-data", id = "saveformdata" }))
    {} *@
   <div  id="gridddata" class="rowCont">
               <div id="ddl" class="rowCont bottomRowContentFB">
                   <div class="bottomColFB1"><input type="button" value="Save"  class="buttonclass btn_sample"  id="btnSave"  onclick="JavascriptFunction();"/></div>
                   <div class="bottomColFB1"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptInfo", "ReturnReceipt", new { idi = Request["idi"], FormName = Request["FormName"], ide = "null" }) + "'")    ; "" /></div>  
		        </div>
       <form action="/ReturnReceipt/NewTransaction" enctype="multipart/form-data" id="saveformdata" method="post">
<div id="FormData" class="bodyFBContent"  style="overflow-y: scroll">

            <div class="divRow" id="formheadercontent" style="overflow: hidden; height: auto;min-height: 202px">
       <div > 
       <div class="mainRowHeader" id="" >
                    </div>    <div id="Primary" class="bodyFBCon"> Primary </div>
 <div class="mainRow"  id="Primary">  
<div class="mainRowCon" id="Primary" >
            <div class="lbl"   id="Primary"  > 
                <label  id="SATABLE005COLUMN04lbl">Credit Memo#</label>
                <label id="SATABLE005COLUMN04lbla" class="astric">* </label></div>

                <div class="txt" id="Primary"  > 
                <input id="SATABLE005COLUMN04"  readonly="true" pattern="Y"  itemid="nvarchar" name="Credit Memo#" class="txtclass" type="text" value="@ViewBag.RetailTransNo" />                   
                </div>  
            </div>
<div class="mainRowCon" id="Primary" >
                <div class="lbl"  id="Primary"  ><label id="SATABLE005COLUMN05lbl">Customer</label><label  class="astric">* </label></div>
<div class="ddlS" id="Primary"  >
@Html.DropDownList("Customer", new SelectList((SelectList)ViewData["Customer"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN05", @class = "ddl", @itemid = "Y"  })
</div> 		    
@*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110007017" alt="SATABLE005COLUMN05" />                  
                       <input type="text"  id="110007017" class="dispayN" value='Customer' /></div>*@   
        </div>
<div class="mainRowCon" id="Primary" >
            <div class="lbl"   id="Primary"  > <label  id="SATABLE005COLUMN16lbl">Order Status</label></div>
                <div class="txt" id="Primary"  > 
<input id="SATABLE005COLUMN16" pattern="N"  itemid="nvarchar" name="Order Status" class="txtclass" type="text" value="Waiting For Approval" />                   
                </div>
              </div>
            </div>
           <div class="mainRow" id="Primary">  
             <div class="mainRowCon" id="Primary" >
            <div class="lbl"   id="Primary" >Date</div>
              <div class="txt"  id="Primary"  > 
              <input name="Date" id="SATABLE005COLUMN06" type="text"  value="@DateTime.Now.ToShortDateString()" class="date" /></div>
        </div>
<div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE005COLUMN33lbl">Receipt#</label><label  class="astric">* </label></div>
<div class="ddlS" id="Primary"  >
@Html.DropDownList("Receipt#", new SelectList((SelectList)ViewData["Receipt#"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN33", @class = "ddl", @itemid = "Y"  })</div> 
@*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110010217" alt="SATABLE005COLUMN33" />                  
                       <input type="text"  id="110010217" class="dispayN" value='Receipt#' /></div>*@
        </div>
              <div class="mainRowCon" id="Primary" >
                 <div class="lbl"  id="Primary"  >  Manager Approval</div>
             <div class="txt"  id="Primary" >
              <input type="checkbox" class="chkclass"  id="SATABLE005COLUMN07" name="Manager Approval"  value="" />
              </div>
        </div> </div>
           <div class="mainRow" id="Primary">  
<div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE005COLUMN29lbl">Receipt Type</label></div>
                <div class="ddlS" id="Primary"  >
@Html.DropDownList("Receipt Type", new SelectList((SelectList)ViewData["Receipt Type"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN29", @class = "ddl", @itemid = "N"  })</div> 
    @*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110010833" alt="SATABLE005COLUMN29" />                  
                       <input type="text"  id="110010833" class="dispayN" value='Receipt Type' /></div>*@
        </div>
<div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE005COLUMN10lbl">Payment Terms</label></div>
                <div class="ddlS" id="Primary"  >
@Html.DropDownList("Payment Terms", new SelectList((SelectList)ViewData["Payment Terms"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN10", @class = "ddl", @itemid = "N"  })</div> 
		    @*<div class="plusImage">
                   <input type="image" src="/Images/plus.png" class="imageSize" value="Payment Terms" id="nImageHide"  alt="SATABLE005COLUMN10" >                       <input type="text"  id="Payment Terms" class="dispayN" value='11122' /></div>*@
               </div>
<div class="mainRowCon" id="Primary" >
               <div class="lbl"  id="Primary"  ><label id="SATABLE005COLUMN30lbl">Payment Mode</label></div>
                <div class="ddlS" id="Primary"  >
@Html.DropDownList("Payment Mode", new SelectList((SelectList)ViewData["Payment Mode"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN30", @class = "ddl", @itemid = "N"  })</div> 
                              @* <div class="plusImage">
                   <input type="image" src="/Images/plus.png" class="imageSize" value="Payment Mode" id="nImageHide"  alt="SATABLE005COLUMN30" >                       <input type="text"  id="Payment Mode" class="dispayN" value='11123' /></div>*@
                </div>
                    </div>    <div id="Secondary" class="bodyFBCon"> Secondary </div>
 <div class="mainRow"  id="Secondary">  
<div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE005COLUMN24lbl">Operating Unit</label><label  class="astric">* </label></div>
<div class="ddlS" id="Secondary"  >
@Html.DropDownList("Operating Unit", new SelectList((SelectList)ViewData["Operating Unit"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN24", @class = "ddl", @itemid = "Y"  })</div> 
@*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110000010" alt="SATABLE005COLUMN24" />                  
                       <input type="text"  id="110000010" class="dispayN" value='Operating Unit' /></div>*@
        </div>
<div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE005COLUMN27lbl">Department</label></div>
                <div class="ddlS" id="Secondary"  >
@Html.DropDownList("Department", new SelectList((SelectList)ViewData["Department"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN27", @class = "ddl", @itemid = "N"  })</div> 
                               @*<div class="plusImage">
                   <input type="image" src="/Images/plus.png" class="imageSize" value="Department" id="nImageHide"  alt="SATABLE005COLUMN27" >                       <input type="text"  id="Department" class="dispayN" value='11117' /></div>*@
               </div>
<div class="mainRowCon" id="Secondary" >
            <div class="lbl"   id="Secondary"  > <label  id="SATABLE005COLUMN11lbl">Reference#</label></div>
                <div class="txt" id="Secondary"  > 
<input id="SATABLE005COLUMN11" pattern="N"  itemid="nvarchar" name="Reference#" class="txtclass" type="text" value="" />                   
                </div>
              </div>
            </div><div class="mainRow" id="Secondary">  
<div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE005COLUMN31lbl">Tax Type</label><label  class="astric">* </label></div>
                <div class="ddlS" id="Secondary"  >
@Html.DropDownList("Tax Type", new SelectList((SelectList)ViewData["TaxType"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN31", @class = "ddl", @itemid = "Y"  })</div> 
@*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110010838" alt="SATABLE005COLUMN31" />                  
                       <input type="text"  id="110010838" class="dispayN" value='Tax Type' /></div>*@
        </div>
<div class="mainRowCon" id="Secondary" >
            <div class="lbl"   id="Secondary"  > <label  id="SATABLE005COLUMN09lbl">Notes</label></div>
                <div class="txt" id="Secondary"  > 
<input id="SATABLE005COLUMN09" pattern="N"  itemid="nvarchar" name="Notes" class="txtclass" type="text" value="" />                   
                </div>
              </div>
<div class="mainRowCon" id="Secondary" >
               <div class="lbl"  id="Secondary"  ><label id="SATABLE005COLUMN35lbl">Project#</label></div>
                <div class="ddlS" id="Secondary"  >
@Html.DropDownList("Project#", new SelectList((SelectList)ViewData["Project#"], "Value", "Text"), "--Select--", new { @id = "SATABLE005COLUMN35", @class = "ddl", @itemid = "N"  })</div> 
@*<div class="plusImage"> <input type="image" src="/Images/plus.png"  class="imageSize" id="mImageHide"  value="110010870" alt="SATABLE005COLUMN35" />                  
                       <input type="text"  id="110010870" class="dispayN" value='Project#' /></div>*@
        </div>
                    </div>    <div id="Amount" class="bodyFBCon"> Amount </div>
 <div class="mainRow"  id="Amount">  
<div class="mainRowCon" id="Amount" >
            <div class="lbl"   id="Amount"  > <label  id="SATABLE005COLUMN12lbl">Sub Total</label></div>
                <div class="txt" id="Amount"  > 
<input id="SATABLE005COLUMN12" pattern="N"  itemid="decimal" name="Sub Total" class="txtclass" type="text" value="" />                   
                </div>
              </div>
<div class="mainRowCon" id="Amount" >
            <div class="lbl"   id="Amount"  > <label  id="SATABLE005COLUMN32lbl">Tax Amount</label></div>
                <div class="txt" id="Amount"  > 
<input id="SATABLE005COLUMN32" pattern="N"  itemid="decimal" name="Tax Amount" class="txtclass" type="text" value="" />                   
<input id="aSATABLE005COLUMN32" name="aSATABLE005COLUMN32" type="hidden" value="" />                </div>
              </div>
<div class="mainRowCon" id="Amount" >
            <div class="lbl"   id="Amount"  > <label  id="SATABLE005COLUMN15lbl">Total Amount</label></div>
                <div class="txt" id="Amount"  > 
<input id="SATABLE005COLUMN15" pattern="N"  itemid="decimal" name="Total Amount" class="txtclass" type="text" value="" />                   
                </div>
              </div>
            </div><div class="mainRow" id="Amount">  
   </div>
  </div> 
       </div>
         <div id="divLoading" >
    <p>
        <img src="/Images/ajax-loading.gif"><br />Loading, please wait...
    </p>
</div>
<div id="tabs" class="fbTabCon">
        <ul>
         <li >
             <a class="" href="#Items">Items</a>&nbsp;
         </li>
         <li >
             <a class="" href="#Address">Address</a>&nbsp;
         </li>
         </ul> 
             <div class="fbBodyFoter">
              <div class="bottomdivRow" id="formtabcontent">
                      <div class="mainRow" id="Items" >
                                  <div id="itemgrid" class="itemGridFB">
                                      @{
                                          var grid = new WebGrid(null, ajaxUpdateContainerId: "grdfData", canSort: false, canPage: false);
                                          var obj = (IDictionary<string, object>)new System.Dynamic.ExpandoObject();
                                          var result = new List<dynamic>();
                                          obj.Add("Item", "Item");
                                          obj.Add("UPC", "UPC");
                                          obj.Add("Item Desc", "Item Desc");
                                          obj.Add("Quantity", "Quantity");
                                          obj.Add("Units", "Units");
                                          //obj.Add("Lot", "Lot");
                                          obj.Add("Shipping Instructions", "Shipping Instructions");
                                          obj.Add("Tax", "Tax");
                                          obj.Add("Price", "Price");
                                          obj.Add("Amount", "Amount");
                                          obj.Add("Total", "Total");
                                          result.Add(obj);
                                          grid.Bind(result, autoSortAndPage: false);}
@grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdData" },
          columns: grid.Columns(grid.Column("", style: "col1", format: @<div class="rowshow"><input type="checkbox" name="checkRow" id="checkRow" value="true" checked="checked"/></div>),
         grid.Column("Item", style: "col1", format: @<div class="rowshow">@Html.DropDownList("Item", new SelectList((SelectList)ViewData["Item"], "Value", "Text"), "--Select--", new { @id = "SATABLE006COLUMN03", @class = "gridddl", @itemid = "Y"  })</div>),
         grid.Column("UPC", style: "col2", format: @<div class="rowshow"><input type="text" name="UPC" id="SATABLE006COLUMN04" value="" class="txtgridclass"/></div>),
         grid.Column("Item Desc", style: "col3", format: @<div class="rowshow"><input type="text" name="Item Desc" id="SATABLE006COLUMN05" value="" class="txtgridclass"/></div>),
         grid.Column("Quantity", style: "col4", format: @<div class="rowshow"><input type="text" name="Quantity" id="SATABLE006COLUMN07" value="" class="txtgridclass"/></div>),
         grid.Column("Units", style: "col5", format: @<div class="rowshow">@Html.DropDownList("Units", new SelectList((SelectList)ViewData["Units"], "Value", "Text"), "--Select--", new { @id = "SATABLE006COLUMN27", @class = "gridddl", @itemid = "Y"  })</div>),
         @*grid.Column("Lot", style: "col5", format: @<div class="rowshow">@Html.DropDownList("Lot", new SelectList((SelectList)ViewData["Lot"], "Value", "Text"), "--Select--", new { @id = "SATABLE006COLUMN17", @class = "gridddl", @itemid = "Y"  })</div>),*@
         grid.Column("Shipping Instructions", style: "col2", format: @<div class="rowshow"><input type="text" name="Shipping Instructions" id="SATABLE006COLUMN08" value="" class="txtgridclass"/></div>),
         grid.Column("Tax", style: "col3", format: @<div class="rowshow">@Html.DropDownList("TaxType", new SelectList((SelectList)ViewData["TaxType"], "Value", "Text"), "--Select--", new { @id = "SATABLE006COLUMN26", @class = "gridddl", @itemid = "Y"  })</div>),
         grid.Column("Price", style: "col4", format: @<div class="rowshow"><input type="text" name="Price" id="SATABLE006COLUMN09" value="" class="txtgridclass"/></div>),
         grid.Column("Amount", style: "col5", format: @<div class="rowshow"><input type="text" name="Amount" id="SATABLE006COLUMN25" value="" class="txtgridclass"/></div>),
         grid.Column("Total", style: "col6", format: @<div class="rowshow"><input type="text" name="Total" id="SATABLE006COLUMN11" value="" class="txtgridclass"/></div>))
          )
                                      <div class="newrowdiv">  
                         <input type="button" name="New Row" class="darkBgButton" value="New Row" id="newrow"/>
                         <input type="button" name="Cancel Row" class="darkBgButton" value="Cancel Row" id="cancelrow"/></div> 
                                      
</div>
                            </div>
                    <div class="mainRow bottomdivRow" id="Address">
         <div class="mainRowCon" id="Address" >
       <div class="lbl">Addressee<label  class="astric" >* </label></div>
        <div class="txt"><input id="SATABLE003COLUMN06" title="Address" class="txttabClass" pattern="Y"  itemid="nvarchar" name="Addressee"  type="text" value=""  />
</div> </div>
        <div class="mainRowCon" id="Address" >
       <div class="lbl">Address1<label  class="astric" >* </label></div>
        <div class="txt"> <input id="SATABLE003COLUMN07" title="Address" class="txttabClass" pattern="Y"  itemid="nvarchar" name="Address1"  type="text" value=""  />
</div> </div>
        <div class="mainRowCon" id="Address" >
       <div class="lbl">Address2</div>
        <div class="txt"><input id="SATABLE003COLUMN08" title="Address" class="txttabClass" pattern="N"  itemid="nvarchar" name="Address2"  type="text" value=""  />
</div> </div> </div>
                    <div class="mainRow bottomdivRow" id="Address" >
         <div class="mainRowCon" id="Address" >
          <div class="lbl">Country<label  class="astric" >* </label></div>
        <div class="txt">
 @Html.DropDownList("Country", new SelectList((SelectList)ViewData["Country"], "Value", "Text"), "--Select--", new { @id = "SATABLE003COLUMN16", @class = "ddl", @itemid = "Y"  })
        </div> </div>      
         <div class="mainRowCon" id="Address" >
          <div class="lbl">State</div>
        <div class="txt">
         @Html.DropDownList("State", new SelectList((SelectList)ViewData["State"], "Value", "Text"), "--Select--", new { @id = "SATABLE003COLUMN11", @class = "ddl", @itemid = "N"  })
        </div>      </div>      
        <div class="mainRowCon" id="Address" >
       <div class="lbl">City </div>
        <div class="txt"><input id="SATABLE003COLUMN10" title="Address" class="txttabClass" pattern="N"  itemid="nvarchar" name="City"  type="text" value=""  />
</div> </div></div>
        <div class="mainRow bottomdivRow" id="Address" >
        <div class="mainRowCon" id="Address" >
       <div class="lbl">Zip</div>
         <div class="txt"><input id="SATABLE003COLUMN12" title="Address" class="txttabClass" pattern="N"  itemid="nvarchar" name="Zip"  type="text" value=""  />
</div> </div>
         <div class="mainRowCon" id="Address" >
          <div class="lbl">Billing</div>
         <div class="txt"><input type="checkbox" id="SATABLE003COLUMN17"  title="Address" class="chkclass"  name="Billing" value=""/>
        </div></div>
         <div class="mainRowCon" id="Address" >
          <div class="lbl">Shipping</div>
         <div class="txt"><input type="checkbox" id="SATABLE003COLUMN18"  title="Address" class="chkclass"  name="Shipping" value=""/>
        </div></div></div>
        </div>
             </div>
         </div>

</div>
        <div class="rowCont newbottomRowContentFooter" id="footerInfo">
<div class="btnContleftFB"></div>
            </div>
           </form>
</div>

    
</body>
</html>