﻿@{
    ViewBag.Title = "Return Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
     <script src="~/Content/formbuildjquery.js"></script>
 <link href="~/Content/Tabs/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grdfData').DataTable({
            "aaSorting": [[0, "desc"]]
        });
    });
    
</script>
</head>
<body>
     <div class="topHeaderContentBodyInfoEmptyCont">
    <div class="rowCont topHeaderContentBodyInfo" id="dynamicinfo">
       <div class="topfirstButtonCont">
                   <div class="btnContleft"><input type="button" class="buttonclass" id="btnList"  value="List"  onclick="@("window.location.href='" + @Url.Action("ReturnReceiptInfo", "ReturnReceipt", new {  idi = Request["idi"],FormName = Request["FormName"] }) + "'")    ;  " /></div>
		  <div class="btnContleft"><input type="button" class="buttonclass" id="btnNew"   value="New" onclick="@("window.location.href='" + @Url.Action("ReturnReceiptNew", "ReturnReceipt", new {  idi = Request["idi"] ,FormName = Request["FormName"], ide = 0}) + "'")    ; " /></div>
          </div>
        </div>
          @{List<WebGridColumn> columns = new List<WebGridColumn>();}
         @foreach (var column in ViewBag.columns)
         {
             if (column.ColumnName == "ID")
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = "",
                     Header = "",
                     Format =@<text>@Html.ActionLink("Edit", "ReturnReceiptEdit", new { idi = Request["idi"], FormName =@Request["FormName"] , ide = item.ID })
                     @Html.ActionLink("View", "ReturnReceiptView", new {  idi = Request["idi"], FormName =@Request["FormName"] ,ide = item.ID })</text>
                 });
             }
             else
             {
                 columns.Add(new WebGridColumn()
                 {
                     ColumnName = column.ColumnName,
                     Header = column.Header
                 });
             }
        }
        @{        
            var grid = new WebGrid(null, canSort: false, canPage: false);
            grid.Bind(ViewBag.Grid, autoSortAndPage: false);            
            }
              <div id="Content" class="overflowGrid">
            @grid.GetHtml(mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style", htmlAttributes: new { id = "grdfData" },
            columns:(columns)
               )
        </div>
    </div>
</body>
</html>