﻿@model List<eBizSuiteAppModel.Table.CONTABLE006>
<!DOCTYPE html>

<html>
<head>
        <title>Data ordering</title>   
      @*<script src="~/Content/Tabs/jquery-1.4.4.js"></script>
    <script src="~/Content/Tabs/jquery-1.4.4.min.js"></script>
    <link href="~/Content/Tabs/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/Tabs/jquery-ui.js"></script>*@
    @*<link href="~/Content/Tabs/Site.css" rel="stylesheet" />*@
  @*<link rel="stylesheet" href="/resources/demos/style.css">*@
     @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">*@
    @*<link href="~/Content/Tabs/demo_table.css" rel="stylesheet" />*@
    <script src="~/Content/Tabs/jquery.dataTables.min.js"></script>
    <script src="~/Content/Tabs/jquery.dataTables.rowReordering.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <a href='http://www.foliotek.com/devblog/make-table-rows-sortable-using-jquery-ui-sortable/'></a>
    <a href="http://datatables.net"></a>
    <script src="~/Content/Tabs/taby.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            },
    updateIndex = function (e, ui) {
        $('td.index', ui.item.parent()).each(function (i) {
            $(this).html(i + 1);
        });
    };

            $("#sort tbody").sortable({
                helper: fixHelperModified,
                stop: updateIndex
            }).disableSelection();
        });
        $(document).ready(function () {
            $('#date').datepicker();
        });
        $(function () {
            $("#tabs").tabs();
        });
        $(function () {
            $("#ddlman").live("change", function () {
                gridchange();
            });
        });
        function gridchange() {
            var tbl = $("#Agetdata")[0];
            for (var irow = 1; irow < tbl.rows.length ; irow++) {
                var tr = tbl.rows[irow];
                debugger
                var action = tr.cells[2].children[0].value;
                var mandatory = tr.cells[3].children[0].value;
                if (mandatory == "y") {
                    //alert(irow);
                    tr.cells[2].children[0].value = "y"
                    //tr.cells[2].attr("disabled", true);
                    tr.cells[2].attr("disabled", "disabled");
                    //$('#ddlact').attr("disabled", "disabled");
                }
                else {
                    //$('#ddlact').removeAttr("disabled");
                    //tr.cells[2].children[0].value = "y";
                    tr.cells[2].children[0].attr("disabled", false);
                }
            }
        }
        $(document).ready(function () {
            // $('#myDataTable').dataTable().rowReordering({ sURL: "/Company/UpdateOrder" });
        });
        $(document).ready(function () {
            $("#TabSave").click("click", function () {
                debugger
                var tbl = $("#getdata")[0];
                var xmldata = "<ROOT>";
                for (var irow = 1; irow < tbl.rows.length ; irow++) {
                    var tr = tbl.rows[irow];
                    debugger
                    if (tr.cells[0].children[0] != undefined) {
                        var TabName = tr.cells[0].children[0].value;
                        var Action = tr.cells[1].children[0].value;
                        var Label = tr.cells[2].children[0].value;
                        var object = {};
                        var obj1 = { TabName: TabName, Action: Action, Label: Label };
                        var obj2 = { TabName: TabName, Action: Action, Label: Label };
                        var arra = new Array();
                        arra.push(obj1);
                        arra.push(obj2);
                        object.lst = obj1;
                        xmldata = xmldata + "<Column><TabName>" + TabName + "</TabName>";
                        xmldata = xmldata + "<Action>" + Action + "</Action>";
                        xmldata = xmldata + "<Label>" + Label + "</Label>";
                        xmldata = xmldata + "</Column>";
                    }
                    else
                        break;
                }
                xmldata = xmldata + "</ROOT>";
                debugger
                var dataparam = { lst: xmldata, TabName: $("#TabName").val(), Action: $("#Action").val(), Label: $("#TabName").val() }

                debugger
                var Ftbl = $("#Fgetdata")[0];
                var Fxmldata = "<ROOT>";
                for (var Firow = 1; Firow < Ftbl.rows.length ; Firow++) {
                    var tr = Ftbl.rows[Firow];
                    debugger
                    if (tr.cells[0].children[0] != undefined) {
                        var TabName = tr.cells[0].children[0].value;
                        var Action = tr.cells[1].children[0].value;
                        var SectionName = tr.cells[2].children[0].value;
                        var object = {};
                        var obj1 = { TabName: TabName, Action: Action, SectionName: SectionName };
                        var obj2 = { TabName: TabName, Action: Action, SectionName: SectionName };
                        var arra = new Array();
                        arra.push(obj1);
                        arra.push(obj2);
                        object.Flst = obj1;
                        Fxmldata = Fxmldata + "<Column><TabName>" + TabName + "</TabName>";
                        Fxmldata = Fxmldata + "<Action>" + Action + "</Action>";
                        Fxmldata = Fxmldata + "<SectionName>" + SectionName + "</SectionName>";
                        Fxmldata = Fxmldata + "</Column>";
                    }
                    else
                        break;
                }
                Fxmldata = Fxmldata + "</ROOT>";

                debugger
                var Fdataparam = { Flst: Fxmldata, TabName: $("#TabName").val(), Action: $("#Action").val(), SectionName: $("#SectionName").val() }

                var slvals = []
                $('input:checkbox[name=assignChkBx]:checked').each(function () {
                    slvals.push($(this).val())
                });
                var Atbl = $("#Agetdata")[0];
                var Axmldata = "<ROOT>";
                for (var Airow = 1; Airow < Atbl.rows.length ; Airow++) {
                    var tr = Atbl.rows[Airow];
                    debugger
                    if (tr.cells[0].children[0] != undefined) {
                        var TabName = tr.cells[0].children[0].value;
                        var Label = tr.cells[1].children[0].value;
                        var Action = tr.cells[2].children[0].value;
                        var Mandatory = tr.cells[3].children[0].value;
                        var Control_Type = tr.cells[4].children[0].value;
                        var SectionType = tr.cells[5].children[0].value;
                        var SectionName = tr.cells[6].children[0].value;
                        var object = {};
                        var obj1 = { TabName: TabName, Label: Label, Action: Action, Mandatory: Mandatory, Control_Type: Control_Type, SectionType: SectionType, SectionName: SectionName };
                        var obj2 = { TabName: TabName, Label: Label, Action: Action, Mandatory: Mandatory, Control_Type: Control_Type, SectionType: SectionType, SectionName: SectionName };
                        var arra = new Array();
                        arra.push(obj1);
                        arra.push(obj2);
                        object.Alst = obj1;
                        Axmldata = Axmldata + "<Column><TabName>" + TabName + "</TabName>";
                        Axmldata = Axmldata + "<Label>" + Label + "</Label>";
                        Axmldata = Axmldata + "<Action>" + Action + "</Action>";
                        Axmldata = Axmldata + "<Mandatory>" + Mandatory + "</Mandatory>";
                        Axmldata = Axmldata + "<Control_Type>" + Control_Type + "</Control_Type>";
                        Axmldata = Axmldata + "<Section_Type>" + SectionType + "</Section_Type>";
                        Axmldata = Axmldata + "<Section_Name>" + SectionName + "</Section_Name>";
                        Axmldata = Axmldata + "</Column>";
                    }
                    else
                        break;
                }
                Axmldata = Axmldata + "</ROOT>";
                debugger
                var FormName; var Form_Id; var ids;
                var Adataparam = { ids: slvals, lst: xmldata, TabName: $("#TabName").val(), Action: $("#Action").val(), Label: $("#TabName").val(), Flst: Fxmldata, TabName: $("#TabName").val(), Action: $("#Action").val(), SectionName: $("#SectionName").val(), Alst: Axmldata, TabName: $("#TabName").val(), Label: $("#TabName").val(), Action: $("#Action").val(), Mandatory: $("#Mandatory").val(), Control_Type: $("#Control_Type").val(), Section_Type: $("#Section_Type").val(), Section_Name: $("#Section_Name").val(), FormName: $("#FormName").val() }
                //var Adataparam = { lst: xmldata, Flst: xmldata,  Alst: Axmldata}
                $.ajax({
                    url: '@Url.Action("SaveTab", "FormBuilding")',
                    type: "POST",
                    data: JSON.stringify(Adataparam),
                    dataType: "html",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        alert(data);
                        window.location.reload();
                    }
                });
            });
        });

        </script> 
     <style type="text/css">
                 .webgrid-table {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 0.8em;width: 100%;display: table;border-collapse: separate;border: solid 2px #3791ae;background-color: white;}
                 .webgrid-table td, th {border: 2px solid lightblue;padding: 3px 7px 2px; font-size:small;}
                 .webgrid-header th{text-underline-position: inherit;background-color: #3B6F6F;padding-bottom: 2px;padding-top: 5px;text-align: left;color: white;font-size:small;}
                 .webgrid-footer {}.webgrid-row-style { padding: 3px 7px 2px;}
                  .webgrid-alternating-row {background-color: #76A3A3;padding: 3px 7px 2px;}

    </style>
</head>
<body>
    <div id="tabs">
            <ul> 
                <li><a href=#Tabs>Tabs</a></li>
                <li><a href=#FieldGroups>FieldGroups</a></li>
                <li><a href=#Actions>Actions</a></li>
                <li><a href=#Roles>Roles</a></li>
            </ul>
    <div id="Tabs" style="width:1366px">
        @{
            var grid = new WebGrid(ViewBag.TabMaster, canPage: true, rowsPerPage: 5, canSort: false,
          selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            grid.Pager(WebGridPagerModes.NextPrevious); 
            <div id="sort">               
               @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "getdata" },
                columns: grid.Columns(
                grid.Column(columnName: "TabName", header: "TabName", format: @<text><input type="text" id="TabName1" value="@item" disabled="disabled"/></text>),
                grid.Column(columnName: "Action", header: "Action", format: @<text>@Html.DropDownList("Action", new SelectList(new[] { "y", "n" }))</text>),
                grid.Column(columnName: "TabName", header: "Label", format: @<text><input type="text" id="label1" value="@item" /></text>)
               )) 
            </div> 
        } 
     </div>
   
   <div id="FieldGroups" style="width:98%">
               @{
                   var Fgrid = new WebGrid(ViewBag.Section, canPage: false, rowsPerPage: 5,canSort:false,
          selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            grid.Pager(WebGridPagerModes.NextPrevious); 
            <div id="sort">                 
               @Fgrid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Fgetdata" },
                columns: grid.Columns(
                grid.Column(columnName: "TabName", header: "TabName", format: @<text><input type="text" id="FTabName" value="@item" disabled="disabled"/></text>),
                grid.Column(columnName: "Action", header: "Action", format: @<text>@Html.DropDownList("Action", new SelectList(new[] { "y", "n" }))</text>),
                grid.Column(columnName: "SectionName", header: "SectionName", format: @<text><input type="text" id="FSection_Name" value="@item" /></text>)
               ))  
            </div> 
        } 
     </div>
     <div id="Actions" style="width:98%">
         @{
             var Agrid = new WebGrid(Model, canPage: false,canSort:false);
            <div id="sort">
               @Agrid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Agetdata" },
                columns: grid.Columns(
                grid.Column(columnName: "TabName", header: "TabName", format: @<text><input type="text" id="ATabName" value="@item.COLUMN06" disabled="disabled"/></text>),
                grid.Column(columnName: "Label", header: "Label", format: @<text><input type="text" id="ALabel" value="@item.COLUMN06" /></text>),
                grid.Column(columnName: "Action", header: "Action", format: @<text>@Html.DropDownList("Action", new SelectList(new[] { "y", "n" }), htmlAttributes: new {id="ddlact" })</text>),
                grid.Column(columnName: "Mandatory", header: "Mandatory", format: @<text>@Html.DropDownList("Mandatory", new SelectList(new[] { "y", "n" }), htmlAttributes: new {id="ddlman" })</text>),
                   //<input type="text" id="AAction" value="@item.Action" /><input type="text" id="AMandatory" value="@item.Mandatory" />
                grid.Column(columnName: "ConyrolType", header: "ConyrolType", format: @<text>@Html.DropDownList("@Model.Select(a=>a.Control_Type)", new SelectList(new[] { "TextBox", "DropDownList", "DatePicker", "CheckBox","RadioButton", "Image" }, selectedValue: @item.COLUMN10))</text>),
                grid.Column(columnName: "Section Type", header: "Section Type", format: @<text>@Html.DropDownList("Section Type", new SelectList(ViewBag.Type, selectedValue: @item.COLUMN11))</text>),
                grid.Column(columnName: "Section Name", header: "Section Name", format: @<text>@Html.DropDownList("Section Name", new SelectList(ViewBag.Tabs, selectedValue: @item.COLUMN12))</text>)
               )) 
            </div> 
        } 
          
        </div>
           <div id="Roles"  style="width:98%">
        @{
            var Rgrid = new WebGrid(ViewBag.Roles, canPage: true,canSort: false,
          selectionFieldName: "selectedRow", ajaxUpdateContainerId: "RgridContent");
            grid.Pager(WebGridPagerModes.NextPrevious); 
            <div id="Rsort">               
               @Rgrid.GetHtml(tableStyle: "webgrid-table",
               headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "select", htmlAttributes: new { id = "Rgetdata" },
                columns: grid.Columns(
                grid.Column(columnName: "RoleId", header: "Select",format:@<text><input  id="cb1" name="assignChkBx"  type="checkbox" value="@item.COLUMN03"   /></text>),
                grid.Column(columnName: "COLUMN04", header: "RoleName")
               )) 
            </div> 
        } 
     </div>
    </div>
    @Html.Label("FormName")
    @Html.TextBox("FormName")
 <input type="button" value="Save" id="TabSave"/>
     <a id="FormBuild" href="~/FormBuilding/Info">Return Back</a>
</body>
</html>
