﻿@model IEnumerable<eBizSuiteAppModel.Table.CONTABLE002>

@{
    ViewBag.Title = "Account Owner";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ListView</title> <style type="text/css">
     .buttonclass
     {
         background-color:#3B6F6F;
         border:none;
         color:white;
         padding-left: 10px;
         font-weight: bold;
         cursor: pointer;
     }
     .buttonclass:hover
     {
     color: white;
     background-color:black;
     border-radius:5px;
     }
     </style>
</head>
<body>
    <table style="border-style:double; border-color:white; text-align:center; width:100%" class="grid">
        <tr style="background-color:#144E58;color:white;border:10px;border-color:white;height:30px">
            <th>
                @Html.Label("AccountOwnerID")
            </th>
            <th>
                @Html.Label("Name")
            </th>
            <th>
                @Html.Label("Company")
            </th>
            <th>
                @Html.Label("Business Type")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Attention")
            </th>
            <th>
                @Html.Label("RState")
            </th>
            <th>
                @Html.Label("RZip")
            </th>
            <th>
                @Html.Label("Info1")
            </th>
            <th>
                @Html.Label("Info2")
            </th>
        </tr>
      @{
        int i=0;
    }

@foreach (var item in Model) {
    
    i = i + 1;
    string rowColor;
    if (i % 2 == 0)
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "alt0";
    }
    
    
    <tr class="@rowColor" style="color:white">
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN08)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN10)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLUMN27)
            </td>
        </tr>
    }
    
    </table>
    <input type="button" value="Cancel" style="height:30px" class="buttonclass" onclick="@("window.location.href='" + @Url.Action("Info", "AccountOwner") + "'")    ;" />
</body>
</html>
