﻿@model IEnumerable<eBizSuiteAppModel.Table.CONTABLE002>

@{
    ViewBag.Title = "Account Owner";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>  
     <script src="~/Content/formbuildjquery.js"></script>

     
</head>
<body>
    <div id="FormData" >
          @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div class="dialogSearch">
                <div class="searchRow">
                <div class="lbl"> Name </div>
            <div class="txt">
            <input type="text" name="Name" value="@Request["COLUMN03"]"  class="txtclass"/>
            </div> </div><div class="searchRow">
                <div class="lbl"> Company </div>
            <div class="txt"> <input type="text" name="Company" value="@Request["COLUMN04"]"  class="txtclass"/>
            </div> </div><div class="searchRow">
                <div class="lbl"> Email </div>
            <div class="txt">
            <input type="text" name="Email" value="@Request["COLUMN08"]"  class="txtclass"/></div>
             </div><div class="searchRow">
                <div class="lbl"> State </div>
            <div class="txt">
            <input type="text" name="State" value="@Request["COLUMN23"]"  class="txtclass"/></div>
            </div>
        </div>

       <div  class="popUpSearchFooter">          
            <input type="submit" class="buttonclass" id="btn" value="Search"  />
            <button name="ClientCancel" type="button" class="buttonclass" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
            <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("Info", "AccountOwner"))" ></a>
      </div>
} 
    </div>
</body>
</html>
