﻿@model eBizSuiteAppModel.Table.tbl_AdminRegistration

@{
    ViewBag.Title = "AdminRegister";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml"
}

<!DOCTYPE>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin Login</title>
    
</head>
<body style="">

@using (Html.BeginForm( )) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AdminRegistration</legend>

        <table style="color:red">
            <tr>
                <td> <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div></td>
            </tr>
            <tr>
                <td>  <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div></td>
                <td> 
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div></td>
            </tr>
            <tr>
                <td><div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div></td>
                <td><div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div></td>
            </tr>
            <tr>
                <td>        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div></td>
                <td>  <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div></td>
            </tr>
            <tr>
                <td>   <div class="editor-label">
            @Html.LabelFor(model => model.EmailID)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailID)
            @Html.ValidationMessageFor(model => model.EmailID)
        </div></td>
            </tr>
        </table>


        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
}
    </body>
    
</html>   



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
