﻿@model eBizSuiteAppModel.Table.tbl_EmployeeMaster

@{
    ViewBag.Title = "Login";
    Layout = null;
        //Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Employee Login</title>
    <meta name="description" content="Login PHP Ajax Jquery | Tutorial web design Indonesia" />
    <meta name="keywords" content="ajax, jquery, login system, ajax login, jquery login, demo, tutorial, web design, web development" />

    <link href="~/Content/Style.css" rel="stylesheet" />
     <script src="~/Content/formbuildjquery.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //Login Page Actions
            userlogin();
        });
    </script>
</head>
<body style="background-color: #efe5e5">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
                             

        <div class="lg-container" style="height: 167px">
            <fieldset style="border: solid; border-color: #debbbb; border-radius: 10px;">
                <legend style="border: 2px solid #e5cdcd; border-radius: 7px; background-color: #eacdcd">Employee Login</legend>


                <form action="waka-login.php" id="lg-form" name="lg-form" method="post">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <label id="error" style="color: red">@ViewBag.error</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="username">E-mail </label>
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Email)
                                <div style="color: red">
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">Password  </label>
                            </td>
                            <td>@Html.EditorFor(model => model.Password)
                                <div style="color: red">
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </td>

                        </tr>




                        <tr>
                            <td></td>
                            <td>
                                <div>
                                    <input type="submit" value="Login" class="btnStyle" style="border: 2px solid #efaeae; color: black; font: 15px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif; font-size: 16px;" />
                                </div>
                            </td>
                        </tr>


                    </table>
                </form>
                <div id="message"></div>
            </fieldset>
        </div>
                             
    }
</body>
</html>
