﻿@model eBizSuiteAppModel.Table.MATABLE010

@{
    ViewBag.Title = "Logon";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login Form</title>

      <style>
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

 </style>

      <style type="text/css">
        .btnStyle {
        background-color:#253528;
    /*color:#263b2a;*/
            border: thin solid #000000;
            line-height: normal;
            width: 80px;
            border-radius: 6px;
            cursor:pointer;
        border:2px solid #253528;color: white  ;font: 15px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;font-size:16px;
        }

            .btnStyle:hover {
                line-height: normal;
            width: 80px;
            border-radius: 6px;
                color: #253528;
                 background-color:white;
                 font: 15px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;font-size:17px
            
            }
    </style>

      <style>
/*.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }*/
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #005C77; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; 

}
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color:  #005C77; 
               background-image:  -moz-linear-gradient(top, #005C77, #005C77); 
               background-image:  -ms-linear-gradient(top, #005C77, #005C77); 
               background-image:  -webkit-gradient(linear, 0 0, 0 100%, from(#005C77), to(#005C77));
               background-image:  -webkit-linear-gradient(top, #005C77, #005C77);
               background-image:  -o-linear-gradient(top, #005C77, #005C77); 
               background-image:  linear-gradient(top, #005C77, #005C77); background-repeat:
                repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#005C77, endColorstr=#005C77, GradientType=0); 
               border: 1px solid #005C77; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
               box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }

   .btn-primary:hover, .btn-primary:active, 
   .btn-primary.active, .btn-primary.disabled,
   .btn-primary[disabled] { filter: none; background-color: #005C77; }
   .btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	/*background-color:rgba(45, 148, 189, 0.25)*/
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(48, 157, 208, 0.40) 10%,rgba(45, 148, 189, 0.25) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(69, 171, 204, 0.40) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	/*background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #000000;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


.lg-container{
    flex-item-align:center;
	width:375px;
    height:280px;
	margin:100px auto;
	padding:20px 40px;
	border:3px solid #005C77;
	background:#f3fafe;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	box-shadow: 0 0 1px #5ab9e0;
}
</style>

    <script src="js/prefixfree.min.js"></script>
  

</head>

<body>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

         
         <table style="width:100%;border:none;background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(48, 157, 208, 0.40) 10%,rgba(45, 148, 189, 0.25) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(69, 171, 204, 0.40) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);"  >
                 <tr style="width:100%">
                     <td style="text-align:center; width:20%;height:40% ;background-color:#fefbf7">
                         <img src="@Url.Content("~/Images/1234.png")" />
                        
                     </td>
                     <td style="text-align:left; width:80%"></td>
                     <td></td>
                     </tr>
             </table>
         
      @*   <br />
         <br />
         <br />
         <br />
         <br />
         <br />*@
        
         <div style="width:100%;height:20%;background-color:#005C77">       
               <hr style="width:100%;height:30%;background-color:#005C77"  />
         </div>


         <div class="lg-container" style="height:280px; flex-item-align:center" >
       
   <div class="login" >
      <br />
         <br />
         <br />
        
        
      @*   <br />
         <br />
         <br /> <br />*@


    <form method="post">
        <table>
            <tr>
                <td>
         <div style="color:red">@ViewBag.error
         @Html.ValidationMessageFor(model =>model.COLUMN13)<br />
          @Html.ValidationMessageFor(model =>model.COLUMN21)
             </div></td>
                </tr>
             <tr>
                 <td>    @Html.TextBoxFor(model => model.COLUMN13,new {@class="styl",style="color:black; background-color:white", placeholder = "Enter Email ID ",required="required" })
                         @Html.PasswordFor(model => model.COLUMN21,new {@class="styl",style="color:black; background-color:white", placeholder = "Enter Password " ,required="required" })
              </td>  </tr>       
    	@*<input type="text" name="u"  style="color:black;background-color:white" placeholder="E-Mail Address" required="required" />
      
        <input type="password" name="p"  style="color:black; background-color:white" placeholder="Password" required="required" />
      *@
             </table>
         <button type="submit" class="btn btn-primary btn-block btn-large ">Login</button>
     
    </form>


</div>
    
   </div>

         <script src="js/index.js"></script>
     }
</body>

</html>




@*
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}*@
